{
  "openapi": "3.0.3",
  "info": {
    "title": "Benetics API",
    "version": "0.1.0",
    "description": "Benetics is a construction efficiency platform built in the cloud. The API provides access to projects, documents, tasks, plans, reports, members, file uploads, exports, and webhooks.",
    "x-jentic-source-url": "https://developer.benetics.io"
  },
  "servers": [
    {
      "url": "https://public-api.benetics.io/v1",
      "description": "Production API Server"
    }
  ],
  "paths": {
    "/projects/{project_id}/documents": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "List documents",
        "description": "Lists all documents for the specified project.",
        "operationId": "get_documents_projects__project_id__documents_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10.",
              "default": 10,
              "title": "Limit"
            },
            "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10."
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n",
              "default": "",
              "title": "Starting After"
            },
            "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Documents"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Create a document",
        "description": "Creates a document.\n\nThe `location` header from the response contains the URL of the created document.",
        "operationId": "create_document_projects__project_id__documents_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocument"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/documents/{document_id}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get a document",
        "description": "Gets a document with the specified document ID.",
        "operationId": "get_document_projects__project_id__documents__document_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Document Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Documents"
        ],
        "summary": "Delete a document",
        "description": "Deletes a document.",
        "operationId": "delete_document_projects__project_id__documents__document_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Document Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Documents"
        ],
        "summary": "Update a document",
        "description": "Updates a document.",
        "operationId": "update_document_projects__project_id__documents__document_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Document Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDocument"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/exports": {
      "get": {
        "tags": [
          "Exports"
        ],
        "summary": "List exports",
        "description": "Lists all exports for the specified project.",
        "operationId": "get_exports_projects__project_id__exports_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10.",
              "default": 10,
              "title": "Limit"
            },
            "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10."
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n",
              "default": "",
              "title": "Starting After"
            },
            "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exports"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/exports/{export_id}": {
      "get": {
        "tags": [
          "Exports"
        ],
        "summary": "Get an export",
        "description": "Gets an export with the specified export ID.",
        "operationId": "get_export_projects__project_id__exports__export_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "export_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Export Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Export-Output"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/file-uploads": {
      "post": {
        "tags": [
          "File uploads"
        ],
        "summary": "Create a file upload",
        "description": "Creates a file upload.\n\nThe `location` header from the response contains the URL of the created file\nupload.",
        "operationId": "create_file_upload_file_uploads_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileUpload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUpload"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/file-uploads/{file_upload_id}": {
      "get": {
        "tags": [
          "File uploads"
        ],
        "summary": "Get a file upload",
        "description": "Gets a file upload with the specified ID.",
        "operationId": "get_file_upload_file_uploads__file_upload_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "file_upload_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File Upload Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUpload"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "File uploads"
        ],
        "summary": "Delete File Upload",
        "operationId": "delete_file_upload_file_uploads__file_upload_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "file_upload_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File Upload Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "File uploads"
        ],
        "summary": "Update a file upload.",
        "description": "Updates a file upload.\n\nThis allows you to explicitly communicate that the file has been uploaded by\nchanging the state to `uploaded`.\n\nThis isn't strictly necessary, as the system will automatically check if the\nfile is uploaded when it's used to create other entities (e.g. documents,\nplans).",
        "operationId": "update_file_upload_file_uploads__file_upload_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "file_upload_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "File Upload Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFileUpload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUpload"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "description": "Lists all webhooks, in no particular order.",
        "operationId": "get_webhooks_webhooks_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10.",
              "default": 10,
              "title": "Limit"
            },
            "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10."
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n",
              "default": "",
              "title": "Starting After"
            },
            "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhooks"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a webhook",
        "description": "Creates a webhook.\n\nThe `location` header from the response contains the URL of the created webhook.",
        "operationId": "create_webhook_webhooks_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhook"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook-Output"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{webhook_id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get a webhook",
        "description": "Gets a webhook with the specified webhook ID.",
        "operationId": "get_webhook_webhooks__webhook_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Webhook Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook-Output"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete a webhook",
        "description": "Deletes a webhook.",
        "operationId": "delete_webhook_webhooks__webhook_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Webhook Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update a webhook",
        "description": "Updates a webhook.",
        "operationId": "update_webhook_webhooks__webhook_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Webhook Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhook"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook-Output"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/members": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "List members",
        "description": "Lists all members, in no particular order.",
        "operationId": "get_members_members_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10.",
              "default": 10,
              "title": "Limit"
            },
            "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10."
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n",
              "default": "",
              "title": "Starting After"
            },
            "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/benetics__api__public__members__models__Members"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/plans": {
      "get": {
        "tags": [
          "Plans"
        ],
        "summary": "List plans",
        "description": "Lists all plans for the specified project.",
        "operationId": "get_plans_projects__project_id__plans_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10.",
              "default": 10,
              "title": "Limit"
            },
            "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10."
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n",
              "default": "",
              "title": "Starting After"
            },
            "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plans"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Plans"
        ],
        "summary": "Create a plan",
        "description": "Creates a plan.\n\nThe `location` header from the response contains the URL of the created plan.",
        "operationId": "create_plan_projects__project_id__plans_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlan"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plan"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/plans/{plan_id}": {
      "get": {
        "tags": [
          "Plans"
        ],
        "summary": "Get a plan",
        "description": "Gets a plan with the specified plan ID.",
        "operationId": "get_plan_projects__project_id__plans__plan_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "plan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plan Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plan"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Plans"
        ],
        "summary": "Delete a plan",
        "description": "Deletes a plan.",
        "operationId": "delete_plan_projects__project_id__plans__plan_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "plan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plan Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Plans"
        ],
        "summary": "Update a plan",
        "description": "Updates a plan.",
        "operationId": "update_plan_projects__project_id__plans__plan_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "plan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plan Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePlan"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plan"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/plans/{plan_id}/versions": {
      "get": {
        "tags": [
          "Plan versions"
        ],
        "summary": "List plan versions",
        "description": "Lists all versions of the specified plan.",
        "operationId": "get_versions_projects__project_id__plans__plan_id__versions_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "plan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plan Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10.",
              "default": 10,
              "title": "Limit"
            },
            "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10."
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n",
              "default": "",
              "title": "Starting After"
            },
            "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Versions"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Plan versions"
        ],
        "summary": "Create a plan version",
        "description": "Creates a plan version.\n\nThe added version is considered the latest version of the plan and\n`/plans/{plan_id}` will refer to it.\n\nThe `location` header from the response contains the URL of the created plan\nversion.",
        "operationId": "create_version_projects__project_id__plans__plan_id__versions_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "plan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plan Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVersion"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Version"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/plans/{plan_id}/versions/{version_id}": {
      "get": {
        "tags": [
          "Plan versions"
        ],
        "summary": "Get a plan version",
        "description": "Gets a plan version with the specified version ID.",
        "operationId": "get_version_projects__project_id__plans__plan_id__versions__version_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "plan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plan Id"
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Version Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Version"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Plan versions"
        ],
        "summary": "Delete a plan version",
        "description": "Deletes a plan version.",
        "operationId": "delete_version_projects__project_id__plans__plan_id__versions__version_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "plan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plan Id"
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Version Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List projects",
        "description": "Lists all projects, in no particular order.",
        "operationId": "get_projects_projects_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10.",
              "default": 10,
              "title": "Limit"
            },
            "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10."
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n",
              "default": "",
              "title": "Starting After"
            },
            "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Projects"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a project",
        "description": "Creates a project.\n\nThe `location` header from the response contains the URL of the created project.",
        "operationId": "create_project_projects_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProject"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get a project",
        "description": "Gets a project with the specified project ID.",
        "operationId": "get_project_projects__project_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete a project",
        "description": "Deletes a project.",
        "operationId": "delete_project_projects__project_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Projects"
        ],
        "summary": "Update a project",
        "description": "Updates a project.",
        "operationId": "update_project_projects__project_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProject"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/members": {
      "get": {
        "tags": [
          "Project members"
        ],
        "summary": "List project members",
        "description": "List all project members, in no particular order.",
        "operationId": "get_project_members_projects__project_id__members_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10.",
              "default": 10,
              "title": "Limit"
            },
            "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10."
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n",
              "default": "",
              "title": "Starting After"
            },
            "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/benetics__api__public__projects__members__models__Members"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Project members"
        ],
        "summary": "Add a project member",
        "description": "Add a project member.\n\nThe `location` header from the response contains the URL of the added member.",
        "operationId": "create_member_projects__project_id__members_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMember"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/members/{user_id}": {
      "get": {
        "tags": [
          "Project members"
        ],
        "summary": "Get a project member",
        "description": "Gets a project member with the specified user ID.",
        "operationId": "get_member_projects__project_id__members__user_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "User Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Project members"
        ],
        "summary": "Remove a project member",
        "description": "Removes a project member.",
        "operationId": "delete_project_projects__project_id__members__user_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "User Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Project members"
        ],
        "summary": "Update a project member",
        "description": "Updates a project member.",
        "operationId": "update_member_projects__project_id__members__user_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "User Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMember"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/reports": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "List reports",
        "description": "Lists all reports, in no particular order.",
        "operationId": "get_reports_projects__project_id__reports_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10.",
              "default": 10,
              "title": "Limit"
            },
            "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10."
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n",
              "default": "",
              "title": "Starting After"
            },
            "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reports"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/reports/{report_id}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Get a report",
        "description": "Gets a report with the specified report ID.",
        "operationId": "get_report_projects__project_id__reports__report_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "report_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Report Id"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report-Output"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/reports/{report_id}/submissions": {
      "get": {
        "tags": [
          "Report submissions"
        ],
        "summary": "List report submissions",
        "description": "Lists all report submissions, in no particular order.",
        "operationId": "get_report_submissions_projects__project_id__reports__report_id__submissions_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "report_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Report Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10.",
              "default": 10,
              "title": "Limit"
            },
            "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10."
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n",
              "default": "",
              "title": "Starting After"
            },
            "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Submissions"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/reports/{report_id}/submissions/{submission_id}": {
      "get": {
        "tags": [
          "Report submissions"
        ],
        "summary": "Get a report submission",
        "description": "Gets a report submission with the specified submission ID.",
        "operationId": "get_report_submission_projects__project_id__reports__report_id__submissions__submission_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "report_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Report Id"
            }
          },
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Submission Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportSubmission-Output"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/tasks": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "List tasks",
        "description": "Lists all tasks for the specified project.",
        "operationId": "get_tasks_projects__project_id__tasks_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10.",
              "default": 10,
              "title": "Limit"
            },
            "description": "A limit on the number of objects to be returned. Limit can range\nbetween 1 and 100, and the default is 10."
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n",
              "default": "",
              "title": "Starting After"
            },
            "description": "A cursor for use in pagination. `starting_after` is an\nobject ID that defines your place in the list. For instance, if you make a list\nrequest and receive 100 objects, ending with `obj_foo`, your subsequent call can\ninclude `starting_after=obj_foo` in order to fetch the next page of the list.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tasks"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Create a task",
        "description": "Creates a task.\n\nThe `location` header from the response contains the URL of the created task.",
        "operationId": "create_task_projects__project_id__tasks_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTask"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/tasks/{task_id}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get a task",
        "description": "Gets a task with the specified task ID.",
        "operationId": "get_task_projects__project_id__tasks__task_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Task Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "summary": "Delete a task",
        "description": "Deletes a task.",
        "operationId": "delete_task_projects__project_id__tasks__task_id__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Task Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Tasks"
        ],
        "summary": "Update a task",
        "description": "Updates a task.",
        "operationId": "update_task_projects__project_id__tasks__task_id__patch",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            }
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Task Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTask"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "tags": [
          "Authenticated user"
        ],
        "summary": "Get the authenticated user",
        "description": "Gets the authenticated user.",
        "operationId": "get_members_user_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AddMember": {
        "properties": {
          "user_id": {
            "type": "string",
            "minLength": 1,
            "title": "User Id",
            "description": "The unique identifier of the user to add."
          },
          "role": {
            "$ref": "#/components/schemas/Role",
            "description": "Role of the user in the project.",
            "default": "member"
          }
        },
        "type": "object",
        "required": [
          "user_id"
        ],
        "title": "AddMember",
        "example": {
          "role": "member",
          "user_id": "qUdwSAynDYE"
        }
      },
      "CheckboxField": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "The unique identifier of the field."
          },
          "label": {
            "type": "string",
            "title": "Label",
            "description": "The label of the field."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "The description of the field."
          },
          "required": {
            "type": "boolean",
            "title": "Required",
            "description": "Whether the field is required.",
            "default": false
          },
          "options": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Options",
            "description": "The options available for the field.",
            "default": []
          },
          "includes_other": {
            "type": "boolean",
            "title": "Includes Other",
            "description": "Whether the field includes an \"Other\" option.",
            "default": false
          },
          "type": {
            "type": "string",
            "title": "Type",
            "description": "The type of the field.",
            "default": "checkbox",
            "enum": [
              "checkbox"
            ]
          }
        },
        "type": "object",
        "required": [
          "id",
          "label"
        ],
        "title": "CheckboxField",
        "description": "A checkbox (i.e. multiple choice) field in a report.\n\nSubmission values are of type array of `string`."
      },
      "Completed": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "default": "completed",
            "enum": [
              "completed"
            ]
          },
          "download_url": {
            "type": "string",
            "title": "Download Url",
            "description": "A URL to download the export."
          }
        },
        "type": "object",
        "required": [
          "download_url"
        ],
        "title": "Completed"
      },
      "CreateDocument": {
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name",
            "description": "The name of the document."
          },
          "file_upload_id": {
            "type": "string",
            "title": "File Upload Id",
            "description": "The unique identifier of the file upload to use for the document."
          },
          "labels": {
            "items": {
              "$ref": "#/components/schemas/LabelValue"
            },
            "type": "array",
            "title": "Labels",
            "description": "List of labels associated with the document.",
            "default": []
          }
        },
        "type": "object",
        "required": [
          "name",
          "file_upload_id"
        ],
        "title": "CreateDocument",
        "description": "Request model for creating a new document.",
        "example": {
          "file_upload_id": "FILE_UPLOAD_ID",
          "labels": [
            "Standards",
            "Electrical"
          ],
          "name": "ISO 9001 Certificate"
        }
      },
      "CreateFileUpload": {
        "properties": {
          "filename": {
            "type": "string",
            "minLength": 1,
            "title": "Filename",
            "description": "The name of the file."
          },
          "content_type": {
            "type": "string",
            "pattern": ".+/.+",
            "title": "Content Type",
            "description": "The MIME type of the file."
          }
        },
        "type": "object",
        "required": [
          "filename",
          "content_type"
        ],
        "title": "CreateFileUpload",
        "description": "Request model for creating a new file upload.",
        "example": {
          "content_type": "application/pdf",
          "name": "file.pdf"
        }
      },
      "CreatePlan": {
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name",
            "description": "The name of the plan."
          },
          "file_upload_id": {
            "type": "string",
            "title": "File Upload Id",
            "description": "The unique identifier of the file upload to use for the plan."
          },
          "labels": {
            "items": {
              "$ref": "#/components/schemas/LabelValue"
            },
            "type": "array",
            "title": "Labels",
            "description": "List of labels associated with the plan.",
            "default": []
          },
          "types": {
            "items": {
              "$ref": "#/components/schemas/LabelValue"
            },
            "type": "array",
            "title": "Types",
            "description": "List of plan types associated with the plan.",
            "default": []
          },
          "floors": {
            "items": {
              "$ref": "#/components/schemas/LabelValue"
            },
            "type": "array",
            "title": "Floors",
            "description": "List of floors associated with the plan.",
            "default": []
          }
        },
        "type": "object",
        "required": [
          "name",
          "file_upload_id"
        ],
        "title": "CreatePlan",
        "description": "Request model for creating a new plan.",
        "example": {
          "file_upload_id": "FILE_UPLOAD_ID",
          "floors": [
            "1st"
          ],
          "labels": [
            "Electrical"
          ],
          "name": "My Plan",
          "types": [
            "Overview"
          ]
        }
      },
      "CreateProject": {
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name",
            "description": "The name of the project."
          },
          "address": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1
              },
              {
                "type": "null"
              }
            ],
            "title": "Address",
            "description": "The address of the project."
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "CreateProject",
        "example": {
          "address": "Beethovenstrasse 9, 8047 Zurich, Switzerland",
          "name": "Benetics office renovation"
        }
      },
      "CreateTask": {
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name",
            "description": "The name of the task."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "The description of the task."
          },
          "due_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Due At",
            "description": "The due date and time of the task, in ISO 8601 format."
          },
          "labels": {
            "items": {
              "$ref": "#/components/schemas/LabelValue"
            },
            "type": "array",
            "title": "Labels",
            "description": "List of labels associated with the task.",
            "default": []
          },
          "state": {
            "$ref": "#/components/schemas/benetics__api__public__shared_models__task__State",
            "default": "open"
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "CreateTask",
        "description": "Request model for creating a new task.",
        "example": {
          "description": "To be installed in the main building.",
          "due_at": "2024-12-31T17:00:00Z",
          "labels": [
            "Urgent",
            "Electrical"
          ],
          "name": "Install HVAC unit",
          "state": "open"
        }
      },
      "CreateVersion": {
        "properties": {
          "file_upload_id": {
            "type": "string",
            "title": "File Upload Id",
            "description": "The unique identifier of the file upload to use for the version."
          }
        },
        "type": "object",
        "required": [
          "file_upload_id"
        ],
        "title": "CreateVersion",
        "description": "Request model for creating a new version.",
        "example": {
          "file_upload_id": "FILE_UPLOAD_ID"
        }
      },
      "CreateWebhook": {
        "properties": {
          "url": {
            "type": "string",
            "maxLength": 2083,
            "minLength": 1,
            "format": "uri",
            "title": "Url",
            "description": "The URL to which the payloads will be delivered."
          },
          "events": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/benetics__db__models__org_webhooks__Event"
                },
                "type": "array",
                "uniqueItems": true
              },
              {
                "type": "null"
              }
            ],
            "title": "Events",
            "description": "The events the hook is triggered for.\n\nSet to `null` to receive all possible events.\n"
          },
          "secret": {
            "type": "string",
            "minLength": 1,
            "title": "Secret",
            "description": "If provided, the secret will be used as the key to generate the HMAC hex digest value for [delivery signature headers](https://developer.benetics.io/reference#description/verify-webhook-signatures)."
          }
        },
        "type": "object",
        "required": [
          "url",
          "secret"
        ],
        "title": "CreateWebhook",
        "example": {
          "events": [
            "project.created",
            "task.updated"
          ],
          "secret": "supersecretkey",
          "url": "https://example.com/my/webhook/endpoint"
        }
      },
      "DateField": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "The unique identifier of the field."
          },
          "label": {
            "type": "string",
            "title": "Label",
            "description": "The label of the field."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "The description of the field."
          },
          "required": {
            "type": "boolean",
            "title": "Required",
            "description": "Whether the field is required.",
            "default": false
          },
          "type": {
            "type": "string",
            "title": "Type",
            "description": "The type of the field.",
            "default": "date",
            "enum": [
              "date"
            ]
          }
        },
        "type": "object",
        "required": [
          "id",
          "label"
        ],
        "title": "DateField",
        "description": "A date field in a report.\n\nSubmission values are of type `string` in `YYYY-MM-DD` ISO 8601 format."
      },
      "DecimalField": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "The unique identifier of the field."
          },
          "label": {
            "type": "string",
            "title": "Label",
            "description": "The label of the field."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "The description of the field."
          },
          "required": {
            "type": "boolean",
            "title": "Required",
            "description": "Whether the field is required.",
            "default": false
          },
          "type": {
            "type": "string",
            "title": "Type",
            "description": "The type of the field.",
            "default": "decimal",
            "enum": [
              "decimal"
            ]
          }
        },
        "type": "object",
        "required": [
          "id",
          "label"
        ],
        "title": "DecimalField",
        "description": "A decimal field in a report.\n\nSubmission values are of type `string`, representing decimal numbers to\navoid floating point precision issues."
      },
      "Document": {
        "properties": {
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "The creation date and time of the entity, in ISO 8601 format."
          },
          "created_by": {
            "$ref": "#/components/schemas/User",
            "description": "The user who created the entity."
          },
          "id": {
            "type": "string",
            "title": "Id",
            "description": "The unique identifier of the document."
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "The name of the document."
          },
          "content_type": {
            "type": "string",
            "pattern": ".+/.+",
            "title": "Content Type",
            "description": "The MIME type of the document."
          },
          "download_url": {
            "type": "string",
            "title": "Download Url",
            "description": "A URL to download the document."
          },
          "labels": {
            "items": {
              "$ref": "#/components/schemas/benetics__api__public__shared_models__document__Label"
            },
            "type": "array",
            "title": "Labels",
            "description": "The labels assigned to the document.",
            "default": []
          }
        },
        "type": "object",
        "required": [
          "created_at",
          "created_by",
          "id",
          "name",
          "content_type",
          "download_url"
        ],
        "title": "Document",
        "description": "This object represents a document in your project.",
        "example": {
          "content_type": "application/pdf",
          "created_at": "2024-12-30T16:00:00Z",
          "created_by": {
            "first_name": "John",
            "id": "qUdwSAynDYE",
            "last_name": "Doe",
            "phone_number": "+41212345678"
          },
          "download_url": "https://public-api.benetics.io/v1/projects/qUdwSAynDYE/documents/mX6t0J6YvuE/content",
          "id": "mX6t0J6YvuE",
          "labels": [
            {
              "id": "qrBU8Gh6xvw",
              "name": "Certificate"
            },
            {
              "id": "xULJ94odqvQ",
              "name": "Electrical"
            }
          ],
          "name": "ISO 9001 Certificate"
        }
      },
      "DocumentCreated": {
        "properties": {
          "project": {
            "$ref": "#/components/schemas/Project"
          },
          "event": {
            "type": "string",
            "title": "Event",
            "default": "document.created",
            "enum": [
              "document.created"
            ]
          },
          "document": {
            "$ref": "#/components/schemas/Document"
          }
        },
        "type": "object",
        "required": [
          "project",
          "document"
        ],
        "title": "DocumentCreated",
        "description": "Occurs whenever a document is created."
      },
      "DocumentDeleted": {
        "properties": {
          "project": {
            "$ref": "#/components/schemas/Project"
          },
          "event": {
            "type": "string",
            "title": "Event",
            "default": "document.deleted",
            "enum": [
              "document.deleted"
            ]
          },
          "document": {
            "$ref": "#/components/schemas/Document"
          }
        },
        "type": "object",
        "required": [
          "project",
          "document"
        ],
        "title": "DocumentDeleted",
        "description": "Occurs whenever a document is deleted."
      },
      "DocumentUpdated": {
        "properties": {
          "project": {
            "$ref": "#/components/schemas/Project"
          },
          "event": {
            "type": "string",
            "title": "Event",
            "default": "document.updated",
            "enum": [
              "document.updated"
            ]
          },
          "document": {
            "$ref": "#/components/schemas/Document"
          },
          "previous_document": {
            "$ref": "#/components/schemas/Document"
          }
        },
        "type": "object",
        "required": [
          "project",
          "document",
          "previous_document"
        ],
        "title": "DocumentUpdated",
        "description": "Occurs whenever a document status or property has changed."
      },
      "Documents": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/Document"
            },
            "type": "array",
            "title": "Data"
          }
        },
        "type": "object",
        "required": [
          "data"
        ],
        "title": "Documents"
      },
      "Drawing": {
        "properties": {
          "download_url": {
            "type": "string",
            "title": "Download Url",
            "description": "A URL to download the drawing."
          }
        },
        "type": "object",
        "required": [
          "download_url"
        ],
        "title": "Drawing",
        "description": "A drawing uploaded as part of a report submission."
      },
      "DrawingField": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "The unique identifier of the field."
          },
          "label": {
            "type": "string",
            "title": "Label",
            "description": "The label of the field."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "The description of the field."
          },
          "required": {
            "type": "boolean",
            "title": "Required",
            "description": "Whether the field is required.",
            "default": false
          },
          "type": {
            "type": "string",
            "title": "Type",
            "description": "The type of the field.",
            "default": "drawing",
            "enum": [
              "drawing"
            ]
          }
        },
        "type": "object",
        "required": [
          "id",
          "label"
        ],
        "title": "DrawingField",
[...]
