{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "description": "Creates and manages Redis instances on the Google Cloud Platform.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Google Cloud Memorystore for Redis API",
    "version": "v1",
    "x-jentic-source-url": "https://redis.googleapis.com/$discovery/rest?version=v1"
  },
  "servers": [
    {
      "url": "https://redis.googleapis.com/"
    }
  ],
  "paths": {
    "/v1/{+name}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "Required. Redis instance resource name using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}` where `location_id` refers to a GCP region.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. Idempotent request UUID.",
            "in": "query",
            "name": "requestId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Deletes a specific Redis instance. Instance stops serving and data is deleted.",
        "operationId": "redis.projects.locations.instances.delete"
      },
      "get": {
        "parameters": [
          {
            "description": "Required. Redis instance resource name using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}` where `location_id` refers to a GCP region.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Instance"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Gets the details of a specific Redis instance.",
        "operationId": "redis.projects.locations.instances.get"
      },
      "patch": {
        "parameters": [
          {
            "description": "Required. Unique name of the resource in this scope including project and location using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}` Note: Redis instances are managed and addressed at regional level so location_id here refers to a GCP region; however, users may choose which specific zone (or collection of zones for cross-zone instances) an instance should be provisioned in. Refer to location_id and alternative_location_id fields for more details.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Required. Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include these fields from Instance: * `displayName` * `labels` * `memorySizeGb` * `redisConfig` * `replica_count`",
            "in": "query",
            "name": "updateMask",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Required. Mask of fields to update. At least one path must be supplied in this field. The elements of the repeated paths field may only include these fields from Cluster: * `size_gb` * `replica_count` * `cluster_endpoints`",
            "in": "query",
            "name": "updateMask",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Updates the metadata and configuration of a specific Redis instance. Completed longrunning.Operation will contain the new instance object in the response field. The returned operation is automatically deleted after a few hours, so there is no need to call DeleteOperation.",
        "operationId": "redis.projects.locations.instances.patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Instance"
              }
            }
          }
        }
      }
    },
    "/v1/{+name}/authString": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. Redis instance resource name using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}` where `location_id` refers to a GCP region.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceAuthString"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Gets the AUTH string for a Redis instance. If AUTH is not enabled for the instance the response will be empty. This information is not included in the details returned to GetInstance.",
        "operationId": "redis.projects.locations.instances.getAuthString"
      }
    },
    "/v1/{+name}/locations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "The resource that owns the locations collection, if applicable.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. A list of extra location types that should be used as conditions for controlling the visibility of the locations.",
            "explode": true,
            "in": "query",
            "name": "extraLocationTypes",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of results to return. If not set, the service selects a default.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListLocationsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Lists information about the supported locations for this service.",
        "operationId": "redis.projects.locations.list"
      }
    },
    "/v1/{+name}/operations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "The name of the operation's parent resource.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The standard list filter.",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The standard list page size.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The standard list page token.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
        "operationId": "redis.projects.locations.operations.list"
      }
    },
    "/v1/{+name}:backup": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Required. Redis cluster resource name using the form: `projects/{project_id}/locations/{location_id}/clusters/{cluster_id}` where `location_id` refers to a Google Cloud region.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Backup Redis Cluster. If this is the first time a backup is being created, a backup collection will be created at the backend, and this backup belongs to this collection. Both collection and backup will have a resource name. Backup will be executed for each shard. A replica (primary if nonHA) will be selected to perform the execution. Backup call will be rejected if there is an ongoing backup or update operation. Be aware that during preview, if the cluster's internal software version is too old, critical update will be performed before actual backup. Once the internal software version is updated to the minimum version required by the backup feature, subsequent backups will not require critical update. After preview, there will be no critical update needed for backup.",
        "operationId": "redis.projects.locations.clusters.backup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupClusterRequest"
              }
            }
          }
        }
      }
    },
    "/v1/{+name}:cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "The name of the operation resource to be cancelled.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
        "operationId": "redis.projects.locations.operations.cancel"
      }
    },
    "/v1/{+name}:export": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Required. Redis instance resource name using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}` where `location_id` refers to a GCP region.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Export Redis instance data into a Redis RDB format file in Cloud Storage. Redis will continue serving during this operation. The returned operation is automatically deleted after a few hours, so there is no need to call DeleteOperation.",
        "operationId": "redis.projects.locations.instances.export",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportInstanceRequest"
              }
            }
          }
        }
      }
    },
    "/v1/{+name}:failover": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Required. Redis instance resource name using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}` where `location_id` refers to a GCP region.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Initiates a failover of the primary node to current replica node for a specific STANDARD tier Cloud Memorystore for Redis instance.",
        "operationId": "redis.projects.locations.instances.failover",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FailoverInstanceRequest"
              }
            }
          }
        }
      }
    },
    "/v1/{+name}:import": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Required. Redis instance resource name using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}` where `location_id` refers to a GCP region.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Import a Redis RDB snapshot file from Cloud Storage into a Redis instance. Redis may stop serving during this operation. Instance state will be IMPORTING for entire operation. When complete, the instance will contain only data from the imported file. The returned operation is automatically deleted after a few hours, so there is no need to call DeleteOperation.",
        "operationId": "redis.projects.locations.instances.import",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportInstanceRequest"
              }
            }
          }
        }
      }
    },
    "/v1/{+name}:rescheduleClusterMaintenance": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Required. Redis Cluster instance resource name using the form: `projects/{project_id}/locations/{location_id}/clusters/{cluster_id}` where `location_id` refers to a Google Cloud region.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Reschedules upcoming maintenance event.",
        "operationId": "redis.projects.locations.clusters.rescheduleClusterMaintenance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RescheduleClusterMaintenanceRequest"
              }
            }
          }
        }
      }
    },
    "/v1/{+name}:rescheduleMaintenance": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Required. Redis instance resource name using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}` where `location_id` refers to a GCP region.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Reschedule maintenance for a given instance in a given project and location.",
        "operationId": "redis.projects.locations.instances.rescheduleMaintenance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RescheduleMaintenanceRequest"
              }
            }
          }
        }
      }
    },
    "/v1/{+name}:upgrade": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "parameters": [
          {
            "description": "Required. Redis instance resource name using the form: `projects/{project_id}/locations/{location_id}/instances/{instance_id}` where `location_id` refers to a GCP region.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Upgrades Redis instance to the newer Redis version specified in the request.",
        "operationId": "redis.projects.locations.instances.upgrade",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpgradeInstanceRequest"
              }
            }
          }
        }
      }
    },
    "/v1/{+parent}/backupCollections": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. The resource name of the backupCollection location using the form: `projects/{project_id}/locations/{location_id}` where `location_id` refers to a Google Cloud region.",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. The maximum number of items to return. If not specified, a default value of 1000 will be used by the service. Regardless of the page_size value, the response may include a partial list and a caller should only rely on response's `next_page_token` to determine if there are more clusters left to be queried.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Optional. The `next_page_token` value returned from a previous [ListBackupCollections] request, if any.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListBackupCollectionsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Lists all backup collections owned by a consumer project in either the specified location (region) or all locations. If `location_id` is specified as `-` (wildcard), then all regions available to the project are queried, and the results are aggregated.",
        "operationId": "redis.projects.locations.backupCollections.list"
      }
    },
    "/v1/{+parent}/backups": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. The resource name of the backupCollection using the form: `projects/{project_id}/locations/{location_id}/backupCollections/{backup_collection_id}`",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. The maximum number of items to return. If not specified, a default value of 1000 will be used by the service. Regardless of the page_size value, the response may include a partial list and a caller should only rely on response's `next_page_token` to determine if there are more clusters left to be queried.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Optional. The `next_page_token` value returned from a previous [ListBackupCollections] request, if any.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListBackupsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Lists all backups owned by a backup collection.",
        "operationId": "redis.projects.locations.backupCollections.backups.list"
      }
    },
    "/v1/{+parent}/clusters": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. The resource name of the cluster location using the form: `projects/{project_id}/locations/{location_id}` where `location_id` refers to a Google Cloud region.",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of items to return. If not specified, a default value of 1000 will be used by the service. Regardless of the page_size value, the response may include a partial list and a caller should only rely on response's `next_page_token` to determine if there are more clusters left to be queried.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The `next_page_token` value returned from a previous ListClusters request, if any.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListClustersResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Lists all Redis clusters owned by a project in either the specified location (region) or all locations. The location should have the following format: * `projects/{project_id}/locations/{location_id}` If `location_id` is specified as `-` (wildcard), then all regions available to the project are queried, and the results are aggregated.",
        "operationId": "redis.projects.locations.clusters.list"
      },
      "post": {
        "parameters": [
          {
            "description": "Required. The resource name of the cluster location using the form: `projects/{project_id}/locations/{location_id}` where `location_id` refers to a Google Cloud region.",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Required. The logical name of the Redis cluster in the customer project with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the customer project / location",
            "in": "query",
            "name": "clusterId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. Idempotent request UUID.",
            "in": "query",
            "name": "requestId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Creates a Redis cluster based on the specified properties. The creation is executed asynchronously and callers may check the returned operation to track its progress. Once the operation is completed the Redis cluster will be fully functional. The completed longrunning.Operation will contain the new cluster object in the response field. The returned operation is automatically deleted after a few hours, so there is no need to call DeleteOperation.",
        "operationId": "redis.projects.locations.clusters.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Cluster"
              }
            }
          }
        }
      }
    },
    "/v1/{+parent}/instances": {
      "parameters": [
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "parameters": [
          {
            "description": "Required. The resource name of the instance location using the form: `projects/{project_id}/locations/{location_id}` where `location_id` refers to a GCP region.",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of items to return. If not specified, a default value of 1000 will be used by the service. Regardless of the page_size value, the response may include a partial list and a caller should only rely on response's `next_page_token` to determine if there are more instances left to be queried.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The `next_page_token` value returned from a previous ListInstances request, if any.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListInstancesResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Lists all Redis instances owned by a project in either the specified location (region) or all locations. The location should have the following format: * `projects/{project_id}/locations/{location_id}` If `location_id` is specified as `-` (wildcard), then all regions available to the project are queried, and the results are aggregated.",
        "operationId": "redis.projects.locations.instances.list"
      },
      "post": {
        "parameters": [
          {
            "description": "Required. The resource name of the instance location using the form: `projects/{project_id}/locations/{location_id}` where `location_id` refers to a GCP region.",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Required. The logical name of the Redis instance in the customer project with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-40 characters. * Must end with a number or a letter. * Must be unique within the customer project / location",
            "in": "query",
            "name": "instanceId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/cloud-platform"
            ]
          }
        ],
        "tags": [
          "projects"
        ],
        "description": "Creates a Redis instance based on the specified tier and memory size. By default, the instance is accessible from the project's [default network](https://cloud.google.com/vpc/docs/vpc). The creation is executed asynchronously and callers may check the returned operation to track its progress. Once the operation is completed the Redis instance will be fully functional. Completed longrunning.Operation will contain the new instance object in the response field. The returned operation is automatically deleted after a few hours, so there is no need to call DeleteOperation.",
        "operationId": "redis.projects.locations.instances.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Instance"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "_.xgafv": {
        "description": "V1 error format.",
        "in": "query",
        "name": "$.xgafv",
        "schema": {
          "enum": [
            "1",
            "2"
          ],
          "type": "string"
        }
      },
      "access_token": {
        "description": "OAuth access token.",
        "in": "query",
        "name": "access_token",
        "schema": {
          "type": "string"
        }
      },
      "alt": {
        "description": "Data format for response.",
        "in": "query",
        "name": "alt",
        "schema": {
          "default": "json",
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "type": "string"
        }
      },
      "callback": {
        "description": "JSONP",
        "in": "query",
        "name": "callback",
        "schema": {
          "type": "string"
        }
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        }
      },
      "key": {
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "in": "query",
        "name": "key",
        "schema": {
          "type": "string"
        }
      },
      "oauth_token": {
        "description": "OAuth 2.0 token for the current user.",
        "in": "query",
        "name": "oauth_token",
        "schema": {
          "type": "string"
        }
      },
      "prettyPrint": {
        "description": "Returns response with indentations and line breaks.",
        "in": "query",
        "name": "prettyPrint",
        "schema": {
          "default": true,
          "type": "boolean"
        }
      },
      "quotaUser": {
        "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
        "in": "query",
        "name": "quotaUser",
        "schema": {
          "type": "string"
        }
      },
      "uploadType": {
        "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
        "in": "query",
        "name": "uploadType",
        "schema": {
          "type": "string"
        }
      },
      "upload_protocol": {
        "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
        "in": "query",
        "name": "upload_protocol",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "Instance": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Instance"
            }
          }
        }
      }
    },
    "schemas": {
      "AOFConfig": {
        "description": "Configuration of the AOF based persistence.",
        "properties": {
          "appendFsync": {
            "description": "Optional. fsync configuration.",
            "enum": [
              "APPEND_FSYNC_UNSPECIFIED",
              "NO",
              "EVERYSEC",
              "ALWAYS"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "AutomatedBackupConfig": {
        "description": "The automated backup config for a cluster.",
        "properties": {
          "automatedBackupMode": {
            "description": "Optional. The automated backup mode. If the mode is disabled, the other fields will be ignored.",
            "enum": [
              "AUTOMATED_BACKUP_MODE_UNSPECIFIED",
              "DISABLED",
              "ENABLED"
            ],
            "type": "string"
          },
          "fixedFrequencySchedule": {
            "$ref": "#/components/schemas/FixedFrequencySchedule",
            "description": "Optional. Trigger automated backups at a fixed frequency."
          },
          "retention": {
            "description": "Optional. How long to keep automated backups before the backups are deleted. The value should be between 1 day and 365 days. If not specified, the default value is 35 days.",
            "format": "google-duration",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AvailabilityConfiguration": {
        "description": "Configuration for availability of database instance",
        "properties": {
          "automaticFailoverRoutingConfigured": {
            "description": "Checks for existence of (multi-cluster) routing configuration that allows automatic failover to a different zone/region in case of an outage. Applicable to Bigtable resources.",
            "type": "boolean"
          },
          "availabilityType": {
            "description": "Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data accessibility. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available).",
            "enum": [
              "AVAILABILITY_TYPE_UNSPECIFIED",
              "ZONAL",
              "REGIONAL",
              "MULTI_REGIONAL",
              "AVAILABILITY_TYPE_OTHER"
            ],
            "type": "string"
          },
          "crossRegionReplicaConfigured": {
            "description": "Checks for resources that are configured to have redundancy, and ongoing replication across regions",
            "type": "boolean"
          },
          "externalReplicaConfigured": {
            "type": "boolean"
          },
          "promotableReplicaConfigured": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "Backup": {
        "description": "Backup of a cluster.",
        "properties": {
          "backupFiles": {
            "description": "Output only. List of backup files of the backup.",
            "items": {
              "$ref": "#/components/schemas/BackupFile"
            },
            "readOnly": true,
            "type": "array"
          },
          "backupType": {
            "description": "Output only. Type of the backup.",
            "enum": [
              "BACKUP_TYPE_UNSPECIFIED",
              "ON_DEMAND",
              "AUTOMATED"
            ],
            "readOnly": true,
            "type": "string"
          },
          "cluster": {
            "description": "Output only. Cluster resource path of this backup.",
            "readOnly": true,
            "type": "string"
          },
          "clusterUid": {
            "description": "Output only. Cluster uid of this backup.",
            "readOnly": true,
            "type": "string"
          },
          "createTime": {
            "description": "Output only. The time when the backup was created.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "encryptionInfo": {
            "$ref": "#/components/schemas/EncryptionInfo",
            "description": "Output only. Encryption information of the backup.",
            "readOnly": true
          },
          "engineVersion": {
            "description": "Output only. redis-7.2, valkey-7.5",
            "readOnly": true,
            "type": "string"
          },
          "expireTime": {
            "description": "Output only. The time when the backup will expire.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Identifier. Full resource path of the backup. the last part of the name is the backup id with the following format: [YYYYMMDDHHMMSS]_[Shorted Cluster UID] OR customer specified while backup cluster. Example: 20240515123000_1234",
            "type": "string"
          },
          "nodeType": {
            "description": "Output only. Node type of the cluster.",
            "enum": [
              "NODE_TYPE_UNSPECIFIED",
              "REDIS_SHARED_CORE_NANO",
              "REDIS_HIGHMEM_MEDIUM",
              "REDIS_HIGHMEM_XLARGE",
              "REDIS_STANDARD_SMALL"
            ],
            "readOnly": true,
            "type": "string"
          },
          "replicaCount": {
            "description": "Output only. Number of replicas for the cluster.",
            "format": "int32",
            "readOnly": true,
            "type": "integer"
          },
          "shardCount": {
            "description": "Output only. Number of shards for the cluster.",
            "format": "int32",
            "readOnly": true,
            "type": "integer"
          },
          "state": {
            "description": "Output only. State of the backup.",
            "enum": [
              "STATE_UNSPECIFIED",
              "CREATING",
              "ACTIVE",
              "DELETING",
              "SUSPENDED"
            ],
            "readOnly": true,
            "type": "string"
          },
          "totalSizeBytes": {
            "description": "Output only. Total size of the backup in bytes.",
            "format": "int64",
            "readOnly": true,
            "type": "string"
          },
          "uid": {
            "description": "Output only. System assigned unique identifier of the backup.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "BackupClusterRequest": {
        "description": "Request for [BackupCluster].",
        "properties": {
          "backupId": {
            "description": "Optional. The id of the backup to be created. If not specified, the default value ([YYYYMMDDHHMMSS]_[Shortened Cluster UID] is used.",
            "type": "string"
          },
          "ttl": {
            "description": "Optional. TTL for the backup to expire. Value range is 1 day to 100 years. If not specified, the default value is 100 years.",
            "format": "google-duration",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BackupCollection": {
        "description": "BackupCollection of a cluster.",
        "properties": {
          "cluster": {
            "description": "Output only. The full resource path of the cluster the backup collection belongs to. Example: projects/{project}/locations/{location}/clusters/{cluster}",
            "readOnly": true,
            "type": "string"
          },
          "clusterUid": {
            "description": "Output only. The cluster uid of the backup collection.",
            "readOnly": true,
            "type": "string"
          },
          "createTime": {
            "description": "Output only. The time when the backup collection was created.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "kmsKey": {
            "description": "Output only. The KMS key used to encrypt the backups under this backup collection.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Identifier. Full resource path of the backup collection.",
            "type": "string"
          },
          "uid": {
            "description": "Output only. System assigned unique identifier of the backup collection.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "BackupConfiguration": {
        "description": "Configuration for automatic backups",
        "properties": {
          "automatedBackupEnabled": {
            "description": "Whether customer visible automated backups are enabled on the instance.",
            "type": "boolean"
          },
          "backupRetentionSettings": {
            "$ref": "#/components/schemas/RetentionSettings",
            "description": "Backup retention settings."
          },
          "pointInTimeRecoveryEnabled": {
            "description": "Whether point-in-time recovery is enabled. This is optional field, if the database service does not have this feature or metadata is not available in control plane, this can be omitted.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "BackupFile": {
        "description": "Backup is consisted of multiple backup files.",
        "properties": {
          "createTime": {
            "description": "Output only. The time when the backup file was created.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "fileName": {
            "description": "Output only. e.g: .rdb",
            "readOnly": true,
            "type": "string"
          },
          "sizeBytes": {
            "description": "Output only. Size of the backup file in bytes.",
            "format": "int64",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "BackupRun": {
        "description": "A backup run.",
        "properties": {
          "endTime": {
            "description": "The time the backup operation completed. REQUIRED",
            "format": "google-datetime",
            "type": "string"
          },
          "error": {
            "$ref": "#/components/schemas/OperationError",
            "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status. OPTIONAL"
          },
          "startTime": {
            "description": "The time the backup operation started. REQUIRED",
            "format": "google-datetime",
            "type": "string"
          },
          "status": {
            "description": "The status of this run. REQUIRED",
            "enum": [
              "STATUS_UNSPECIFIED",
              "SUCCESSFUL",
              "FAILED"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "CertChain": {
        "properties": {
          "certificates": {
            "description": "The certificates that form the CA chain, from leaf to root order.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "CertificateAuthority": {
        "description": "Redis cluster certificate authority",
        "properties": {
          "managedServerCa": {
            "$ref": "#/components/schemas/ManagedCertificateAuthority"
          },
          "name": {
            "description": "Identifier. Unique name of the resource in this scope including project, location and cluster using the form: `projects/{project}/locations/{location}/clusters/{cluster}/certificateAuthority`",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Cluster": {
        "description": "A cluster instance.",
        "properties": {
          "asyncClusterEndpointsDeletionEnabled": {
            "description": "Optional. If true, cluster endpoints that are created and registered by customers can be deleted asynchronously. That is, such a cluster endpoint can be de-registered before the forwarding rules in the cluster endpoint are deleted.",
            "type": "boolean"
          },
          "authorizationMode": {
            "description": "Optional. The authorization mode of the Redis cluster. If not provided, auth feature is disabled for the cluster.",
            "enum": [
              "AUTH_MODE_UNSPECIFIED",
              "AUTH_MODE_IAM_AUTH",
              "AUTH_MODE_DISABLED"
            ],
            "type": "string"
          },
          "automatedBackupConfig": {
            "$ref": "#/components/schemas/AutomatedBackupConfig",
            "description": "Optional. The automated backup config for the cluster."
          },
          "backupCollection": {
            "description": "Optional. Output only. The backup collection full resource name. Example: projects/{project}/locations/{location}/backupCollections/{collection}",
            "readOnly": true,
            "type": "string"
          },
          "clusterEndpoints": {
            "description": "Optional. A list of cluster endpoints.",
            "items": {
              "$ref": "#/components/schemas/ClusterEndpoint"
            },
            "type": "array"
          },
          "createTime": {
            "description": "Output only. The timestamp associated with the cluster creation request.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "crossClusterReplicationConfig": {
            "$ref": "#/components/schemas/CrossClusterReplicationConfig",
            "description": "Optional. Cross cluster replication config."
          },
          "deletionProtectionEnabled": {
            "description": "Optional. The delete operation will fail when the value is set to true.",
            "type": "boolean"
          },
          "discoveryEndpoints": {
            "description": "Output only. Endpoints created on each given network, for Redis clients to connect to the cluster. Currently only one discovery endpoint is supported.",
            "items": {
              "$ref": "#/components/schemas/DiscoveryEndpoint"
            },
            "readOnly": true,
            "type": "array"
          },
          "encryptionInfo": {
            "$ref": "#/components/schemas/EncryptionInfo",
            "description": "Output only. Encryption information of the data at rest of the cluster.",
            "readOnly": true
          },
          "gcsSource": {
            "$ref": "#/components/schemas/GcsBackupSource",
            "description": "Optional. Backups stored in Cloud Storage buckets. The Cloud Storage buckets need to be the same region as the clusters. Read permission is required to import from the provided Cloud Storage objects."
          },
          "kmsKey": {
            "description": "Optional. The KMS key used to encrypt the at-rest data of the cluster.",
            "type": "string"
          },
          "maintenancePolicy": {
            "$ref": "#/components/schemas/ClusterMaintenancePolicy",
            "description": "Optional. ClusterMaintenancePolicy determines when to allow or deny updates."
          },
          "maintenanceSchedule": {
            "$ref": "#/components/schemas/ClusterMaintenanceSchedule",
            "description": "Output only. ClusterMaintenanceSchedule Output only Published maintenance schedule.",
            "readOnly": true
          },
          "managedBackupSource": {
            "$ref": "#/components/schemas/ManagedBackupSource",
            "description": "Optional. Backups generated and managed by memorystore service."
          },
          "name": {
            "description": "Required. Identifier. Unique name of the resource in this scope including project and location using the form: `projects/{project_id}/locations/{location_id}/clusters/{cluster_id}`",
            "type": "string"
          },
          "nodeType": {
            "description": "Optional. The type of a redis node in the cluster. NodeType determines the underlying machine-type of a redis node.",
            "enum": [
              "NODE_TYPE_UNSPECIFIED",
              "REDIS_SHARED_CORE_NANO",
              "REDIS_HIGHMEM_MEDIUM",
              "REDIS_HIGHMEM_XLARGE",
              "REDIS_STANDARD_SMALL"
            ],
            "type": "string"
          },
          "ondemandMaintenance": {
            "description": "Optional. Input only. Ondemand maintenance for the cluster. This field can be used to trigger ondemand critical update on the cluster.",
            "type": "boolean"
          },
          "persistenceConfig": {
            "$ref": "#/components/schemas/ClusterPersistenceConfig",
            "description": "Optional. Persistence config (RDB, AOF) for the cluster."
          },
          "preciseSizeGb": {
            "description": "Output only. Precise value of redis memory size in GB for the entire cluster.",
            "format": "double",
            "readOnly": true,
            "type": "number"
          },
          "pscConfigs": {
            "description": "Optional. Each PscConfig configures the consumer network where IPs will be designated to the cluster for client access through Private Service Connect Automation. Currently, only one PscConfig is supported.",
            "items": {
              "$ref": "#/components/schemas/PscConfig"
            },
            "type": "array"
          },
          "pscConnections": {
            "description": "Output only. The list of PSC connections that are auto-created through service connectivity automation.",
            "items": {
              "$ref": "#/components/schemas/PscConnection"
            },
            "readOnly": true,
            "type": "array"
          },
          "pscServiceAttachments": {
            "description": "Output only. Service attachment details to configure Psc connections",
            "items": {
              "$ref": "#/components/schemas/PscServiceAttachment"
            },
            "readOnly": true,
            "type": "array"
          },
          "redisConfigs": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Optional. Key/Value pairs of customer overrides for mutable Redis Configs",
            "type": "object"
          },
          "replicaCount": {
            "description": "Optional. The number of replica nodes per shard.",
            "format": "int32",
            "type": "integer"
          },
          "shardCount": {
            "description": "Optional. Number of shards for the Redis cluster.",
            "format": "int32",
            "type": "integer"
          },
          "sizeGb": {
            "description": "Output only. Redis memory size in GB for the entire cluster rounded up to the next integer.",
            "format": "int32",
            "readOnly": true,
            "type": "integer"
          },
          "state": {
            "description": "Output only. The current state of this cluster. Can be CREATING, READY, UPDATING, DELETING and SUSPENDED",
            "enum": [
              "STATE_UNSPECIFIED",
              "CREATING",
              "ACTIVE",
              "UPDATING",
              "DELETING"
            ],
            "readOnly": true,
            "type": "string"
          },
          "stateInfo": {
            "$ref": "#/components/schemas/StateInfo",
            "description": "Output only. Additional information about the current state of the cluster.",
            "readOnly": true
          },
          "transitEncryptionMode": {
            "description": "Optional. The in-transit encryption for the Redis cluster. If not provided, encryption is disabled for the cluster.",
            "enum": [
              "TRANSIT_ENCRYPTION_MODE_UNSPECIFIED",
              "TRANSIT_ENCRYPTION_MODE_DISABLED",
              "TRANSIT_ENCRYPTION_MODE_SERVER_AUTHENTICATION"
            ],
            "type": "string"
          },
          "uid": {
            "description": "Output only. System assigned, unique identifier for the cluster.",
            "readOnly": true,
            "type": "string"
          },
          "zoneDistributionConfig": {
            "$ref": "#/components/schemas/ZoneDistributionConfig",
            "description": "Optional. This config will be used to determine how the customer wants us to distribute cluster resources within the region."
          }
        },
        "type": "object"
      },
      "ClusterEndpoint": {
        "description": "ClusterEndpoint consists of PSC connections that are created as a group in each VPC network for accessing the cluster. In each group, there shall be one connection for each service attachment in the cluster.",
        "properties": {
          "connections": {
            "description": "Required. A group of PSC connections. They are created in the same VPC network, one for each service attachment in the cluster.",
            "items": {
              "$ref": "#/components/schemas/ConnectionDetail"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ClusterMaintenancePolicy": {
        "description": "Maintenance policy per cluster.",
        "properties": {
          "createTime": {
            "description": "Output only. The time when the policy was created i.e. Maintenance Window or Deny Period was assigned.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "updateTime": {
            "description": "Output only. The time when the policy was updated i.e. Maintenance Window or Deny Period was updated.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "weeklyMaintenanceWindow": {
            "description": "Optional. Maintenance window that is applied to resources covered by this policy. Minimum 1. For the current version, the maximum number of weekly_maintenance_window is expected to be one.",
            "items": {
              "$ref": "#/components/schemas/ClusterWeeklyMaintenanceWindow"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ClusterMaintenanceSchedule": {
        "description": "Upcoming maintenance schedule.",
        "properties": {
          "endTime": {
            "description": "Output only. The end time of any upcoming scheduled maintenance for this instance.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          },
          "startTime": {
            "description": "Output only. The start time of any upcoming scheduled maintenance for this instance.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ClusterPersistenceConfig": {
        "description": "Configuration of the persistence functionality.",
        "properties": {
          "aofConfig": {
            "$ref": "#/components/schemas/AOFConfig",
            "description": "Optional. AOF configuration. This field will be ignored if mode is not AOF."
          },
          "mode": {
            "description": "Optional. The mode of persistence.",
            "enum": [
              "PERSISTENCE_MODE_UNSPECIFIED",
              "DISABLED",
              "RDB",
              "AOF"
            ],
            "type": "string"
          },
          "rdbConfig": {
            "$ref": "#/components/schemas/RDBConfig",
            "description": "Optional. RDB configuration. This field will be ignored if mode is not RDB."
          }
        },
        "type": "object"
      },
      "ClusterWeeklyMaintenanceWindow": {
        "description": "Time window specified for weekly operations.",
        "properties": {
          "day": {
            "description": "Allows to define schedule that runs specified day of the week.",
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "type": "string"
          },
          "startTime": {
            "$ref": "#/components/schemas/TimeOfDay",
            "description": "Start time of the window in UTC."
          }
        },
        "type": "object"
      },
      "Compliance": {
        "description": "Contains compliance information about a security standard indicating unmet recommendations.",
        "properties": {
          "standard": {
            "description": "Industry-wide compliance standards or benchmarks, such as CIS, PCI, and OWASP.",
            "type": "string"
          },
          "version": {
            "description": "Version of the standard or benchmark, for example, 1.1",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ConnectionDetail": {
        "description": "Detailed information of each PSC connection.",
        "properties": {
          "pscAutoConnection": {
            "$ref": "#/components/schemas/PscAutoConnection",
            "description": "Detailed information of a PSC connection that is created through service connectivity automation."
          },
          "pscConnection": {
            "$ref": "#/components/schemas/PscConnection",
            "description": "Detailed information of a PSC connection that is created by the customer who owns the cluster."
          }
        },
        "type": "object"
      },
      "CrossClusterReplicationConfig": {
        "description": "Cross cluster replication config.",
        "properties": {
          "clusterRole": {
            "description": "The role of the cluster in cross cluster replication.",
            "enum": [
              "CLUSTER_ROLE_UNSPECIFIED",
              "NONE",
              "PRIMARY",
              "SECONDARY"
            ],
            "type": "string"
          },
          "membership": {
            "$ref": "#/components/schemas/Membership",
            "description": "Output only. An output only view of all the member clusters participating in the cross cluster replication. This view will be provided by every member cluster irrespective of its cluster role(primary or secondary). A primary cluster can provide information about all the secondary clusters replicating from it. However, a secondary cluster only knows about the primary cluster from which it is replicating. However, for scenarios, where the primary cluster is unavailable(e.g. regional outage), a GetCluster request can be sent to any other member cluster and this field will list all the member clusters participating in cross cluster replication.",
            "readOnly": true
          },
          "primaryCluster": {
            "$ref": "#/components/schemas/RemoteCluster",
            "description": "Details of the primary cluster that is used as the replication source for this secondary cluster. This field is only set for a secondary cluster."
          },
          "secondaryClusters": {
            "description": "List of secondary clusters that are replicating from this primary cluster. This field is only set for a primary cluster.",
            "items": {
              "$ref": "#/components/schemas/RemoteCluster"
            },
            "type": "array"
          },
          "updateTime": {
            "description": "Output only. The last time cross cluster replication config was updated.",
            "format": "google-datetime",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "CustomMetadataData": {
        "description": "Any custom metadata associated with the resource. e.g. A spanner instance can have multiple databases with its own unique metadata. Information for these individual databases can be captured in custom metadata data",
        "properties": {
          "internalResourceMetadata": {
            "description": "Metadata for individual internal resources in an instance. e.g. spanner instance can have multiple databases with unique configuration.",
            "items": {
              "$ref": "#/components/schemas/InternalResourceMetadata"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DatabaseResourceFeed": {
        "description": "DatabaseResourceFeed is the top level proto to be used to ingest different database resource level events into Condor platform.",
        "properties": {
          "feedTimestamp": {
            "description": "Required. Timestamp when feed is generated.",
            "format": "google-datetime",
            "type": "string"
          },
          "feedType": {
            "description": "Required. Type feed to be ingested into condor",
            "enum": [
              "FEEDTYPE_UNSPECIFIED",
              "RESOURCE_METADATA",
              "OBSERVABILITY_DATA",
              "SECURITY_FINDING_DATA",
              "RECOMMENDATION_SIGNAL_DATA"
            ],
            "type": "string"
          },
          "observabilityMetricData": {
            "$ref": "#/components/schemas/ObservabilityMetricData"
          },
          "recommendationSignalData": {
            "$ref": "#/components/schemas/DatabaseResourceRecommendationSignalData"
          },
          "resourceHealthSignalData": {
            "$ref": "#/components/schemas/DatabaseResourceHealthSignalData"
          },
          "resourceId": {
            "$ref": "#/components/schemas/DatabaseResourceId",
            "deprecated": true,
            "description": "Primary key associated with the Resource. resource_id is available in individual feed level as well."
          },
          "resourceMetadata": {
            "$ref": "#/components/schemas/DatabaseResourceMetadata"
          }
        },
        "type": "object"
      },
      "DatabaseResourceHealthSignalData": {
        "description": "Common model for database resource health signal data.",
        "properties": {
          "additionalMetadata": {
            "additionalProperties": {
              "description": "Properties of the object."
            },
            "description": "Any other additional metadata",
            "type": "object"
          },
          "compliance": {
            "description": "Industry standards associated with this signal; if this signal is an issue, that could be a violation of the associated industry standard(s). For example, AUTO_BACKUP_DISABLED signal is associated with CIS GCP 1.1, CIS GCP 1.2, CIS GCP 1.3, NIST 800-53 and ISO-27001 compliance standards. If a database resource does not have automated backup enable, it will violate these following industry standards.",
            "items": {
              "$ref": "#/components/schemas/Compliance"
            },
            "type": "array"
          },
          "description": {
            "description": "Description associated with signal",
            "type": "string"
          },
          "eventTime": {
            "description": "Required. The last time at which the event described by this signal took place",
            "format": "google-datetime",
            "type": "string"
          },
          "externalUri": {
            "description": "The external-uri of the signal, using which more information about this signal can be obtained. In GCP, this will take user to SCC page to get more details about signals.",
            "type": "string"
          },
          "name": {
            "description": "Required. The name of the signal, ex: PUBLIC_SQL_INSTANCE, SQL_LOG_ERROR_VERBOSITY etc.",
            "type": "string"
          },
          "provider": {
            "description": "Cloud provider name. Ex: GCP/AWS/Azure/OnPrem/SelfManaged",
            "enum": [
              "PROVIDER_UNSPECIFIED",
              "GCP",
              "AWS",
              "AZURE",
              "ONPREM",
              "SELFMANAGED",
              "PROVIDER_OTHER"
            ],
            "type": "string"
          },
          "resourceContainer": {
            "description": "Closest parent container of this resource. In GCP, 'container' refers to a Cloud Resource Manager project. It must be resource name of a Cloud Resource Manager project with the format of \"provider//\", such as \"projects/123\". For GCP provided resources, number should be project number.",
            "type": "string"
          },
          "resourceName": {
            "description": "Required. Database resource name associated with the signal. Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel",
            "type": "string"
          },
          "signalClass": {
            "description": "Required. The class of the signal, such as if it's a THREAT or VULNERABILITY.",
            "enum": [
              "CLASS_UNSPECIFIED",
              "THREAT",
              "VULNERABILITY",
              "MISCONFIGURATION",
              "OBSERVATION",
              "ERROR"
            ],
            "type": "string"
          },
          "signalId": {
            "description": "Required. Unique identifier for the signal. This is an unique id which would be mainatined by partner to identify a signal.",
            "type": "string"
          },
          "signalSeverity": {
            "description": "The severity of the signal, such as if it's a HIGH or LOW severity.",
            "enum": [
              "SIGNAL_SEVERITY_UNSPECIFIED",
              "CRITICAL",
              "HIGH",
              "MEDIUM",
              "LOW"
            ],
            "type": "string"
          },
          "signalType": {
            "description": "Required. Type of signal, for example, `AVAILABLE_IN_MULTIPLE_ZONES`, `LOGGING_MOST_ERRORS`, etc.",
            "enum": [
              "SIGNAL_TYPE_UNSPECIFIED",
              "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER",
              "SIGNAL_TYPE_GROUP_NOT_REPLICATING_ACROSS_REGIONS",
              "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_ZONES",
              "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_REGIONS",
              "SIGNAL_TYPE_NO_PROMOTABLE_REPLICA",
              "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
              "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
              "SIGNAL_TYPE_LAST_BACKUP_FAILED",
              "SIGNAL_TYPE_LAST_BACKUP_OLD",
              "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
              "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
              "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
              "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
              "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
              "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
              "SIGNAL_TYPE_VIOLATES_NIST_800_53",
              "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
              "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
              "SIGNAL_TYPE_VIOLATES_ISO_27001",
              "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
              "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
              "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
              "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
              "SIGNAL_TYPE_VIOLATES_HIPAA",
              "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
              "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
              "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
              "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
              "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
              "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
              "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
              "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
              "SIGNAL_TYPE_QUERY_STATISTICS_LOGGED",
              "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
              "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATISTICS",
              "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATISTICS",
              "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
              "SIGNAL_TYPE_LOGGING_QUERY_STATISTICS",
              "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
              "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
              "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
              "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
              "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
              "SIGNAL_TYPE_NO_ROOT_PASSWORD",
              "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
              "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
              "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
              "SIGNAL_TYPE_EXPOSED_BY_OWNERSHIP_CHAINING",
              "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
              "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
              "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
              "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
              "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
              "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
              "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
              "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
              "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
              "SIGNAL_TYPE_IDLE",
              "SIGNAL_TYPE_OVERPROVISIONED",
              "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
              "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
              "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
              "SIGNAL_TYPE_UNDERPROVISIONED",
              "SIGNAL_TYPE_OUT_OF_DISK",
              "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
              "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
              "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
              "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
              "SIGNAL_TYPE_QUOTA_LIMIT",
              "SIGNAL_TYPE_NO_PASSWORD_POLICY",
              "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
              "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
              "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
              "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
              "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
              "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
              "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
              "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
              "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
              "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
              "SIGNAL_TYPE_HOT_NODE",
              "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
              "SIGNAL_TYPE_RESOURCE_SUSPENDED",
              "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
              "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
              "SIGNAL_TYPE_NO_DELETION_PROTECTION",
              "SIGNAL_TYPE_INEFFICIENT_QUERY",
              "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
              "SIGNAL_TYPE_MEMORY_LIMIT"
            ],
            "enumDeprecated": [
              false,
              false,
              false,
              true,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ],
            "type": "string"
          },
          "state": {
            "enum": [
              "STATE_UNSPECIFIED",
              "ACTIVE",
              "RESOLVED",
              "MUTED"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "DatabaseResourceId": {
        "description": "DatabaseResourceId will serve as primary key for any resource ingestion event.",
        "properties": {
          "provider": {
            "description": "Required. Cloud provider name. Ex: GCP/AWS/Azure/OnPrem/SelfManaged",
            "enum": [
              "PROVIDER_UNSPECIFIED",
              "GCP",
              "AWS",
              "AZURE",
              "ONPREM",
              "SELFMANAGED",
              "PROVIDER_OTHER"
            ],
            "type": "string"
          },
          "providerDescription": {
            "description": "Optional. Needs to be used only when the provider is PROVIDER_OTHER.",
            "type": "string"
          },
          "resourceType": {
            "description": "Required. The type of resource this ID is identifying. Ex redis.googleapis.com/Instance, redis.googleapis.com/Cluster, alloydb.googleapis.com/Cluster, alloydb.googleapis.com/Instance, spanner.googleapis.com/Instance, spanner.googleapis.com/Database, firestore.googleapis.com/Database, sqladmin.googleapis.com/Instance, bigtableadmin.googleapis.com/Cluster, bigtableadmin.googleapis.com/Instance REQUIRED Please refer go/condor-common-datamodel",
            "type": "string"
          },
          "uniqueId": {
            "description": "Required. A service-local token that distinguishes this resource from other resources within the same service.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DatabaseResourceMetadata": {
        "description": "Common model for database resource instance metadata. Next ID: 25",
        "properties": {
          "availabilityConfiguration": {
            "$ref": "#/components/schemas/AvailabilityConfiguration",
            "description": "Availability configuration for this instance"
          },
          "backupConfiguration": {
            "$ref": "#/components/schemas/BackupConfiguration",
            "description": "Backup configuration for this instance"
          },
          "backupRun": {
            "$ref": "#/components/schemas/BackupRun",
            "description": "Latest backup run information for this instance"
          },
          "creationTime": {
            "description": "The creation time of the resource, i.e. the time when resource is created and recorded in partner service.",
            "format": "google-datetime",
            "type": "string"
          },
          "currentState": {
            "description": "Current state of the instance.",
            "enum": [
              "STATE_UNSPECIFIED",
              "HEALTHY",
              "UNHEALTHY",
              "SUSPENDED",
              "DELETED",
              "STATE_OTHER"
            ],
            "type": "string"
          },
          "customMetadata": {
[...]
