{
  "openapi": "3.0.3",
  "info": {
    "title": "Slottable API",
    "version": "1.0.0",
    "description": "Slottable scheduling and booking management API. Manage tokens, webhooks, contacts, slot types, slot type instances, rosters, and bookings.",
    "x-jentic-source-url": "https://slottable.app/docs/api"
  },
  "servers": [
    {
      "url": "https://slottable.app",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/v1/token": {
      "get": {
        "operationId": "validatetoken",
        "summary": "Validate API token",
        "description": "Validate the API token and retrieve the associated company ID.",
        "tags": [
          "Tokens"
        ],
        "responses": {
          "200": {
            "description": "Token is valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{company_id}/webhooks": {
      "get": {
        "operationId": "listwebhooks",
        "summary": "List webhooks",
        "description": "Retrieve webhooks for a company.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Company identifier"
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "page[limit]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createwebhook",
        "summary": "Create a webhook",
        "description": "Create a new webhook for a company.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Company identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{company_id}/webhooks/{id}": {
      "get": {
        "operationId": "getwebhook",
        "summary": "Get a webhook",
        "description": "Retrieve a specific webhook by ID.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Company identifier"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Webhook identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletewebhook",
        "summary": "Delete a webhook",
        "description": "Remove a webhook.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Company identifier"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Webhook identifier"
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{company_id}/contacts": {
      "get": {
        "operationId": "listcontacts",
        "summary": "List contacts",
        "description": "List contacts for a company.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Company identifier"
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "page[limit]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{company_id}/contacts/{id}": {
      "get": {
        "operationId": "getcontact",
        "summary": "Get a contact",
        "description": "Retrieve a specific contact by ID.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Company identifier"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Contact identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{company_id}/slot-types": {
      "get": {
        "operationId": "listslottypes",
        "summary": "List slot types",
        "description": "List slot types for a company.",
        "tags": [
          "Slot Types"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Company identifier"
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "page[limit]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of slot types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlotTypeList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{company_id}/slot-types/{id}": {
      "get": {
        "operationId": "getslottype",
        "summary": "Get a slot type",
        "description": "Retrieve a specific slot type by ID.",
        "tags": [
          "Slot Types"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Company identifier"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Slot type identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Slot type details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlotType"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{company_id}/slot-types/{slot_type_id}/slot-type-instances": {
      "get": {
        "operationId": "listslottypeinstances",
        "summary": "List slot type instances",
        "description": "List instances of a specific slot type.",
        "tags": [
          "Slot Type Instances"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Company identifier"
          },
          {
            "name": "slot_type_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Slot type identifier"
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "page[limit]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of slot type instances",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlotTypeInstanceList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{company_id}/slot-types/{slot_type_id}/slot-type-instances/{id}": {
      "get": {
        "operationId": "getslottypeinstance",
        "summary": "Get a slot type instance",
        "description": "Retrieve a specific slot type instance by ID.",
        "tags": [
          "Slot Type Instances"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Company identifier"
          },
          {
            "name": "slot_type_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Slot type identifier"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Slot type instance identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Slot type instance details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlotTypeInstance"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{company_id}/slot-types/{slot_type_id}/slot-type-instances/{slot_type_instance_id}/contacts": {
      "get": {
        "operationId": "listinstancerostercontacts",
        "summary": "List instance roster contacts",
        "description": "Retrieve roster contacts for a slot type instance.",
        "tags": [
          "Roster"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Company identifier"
          },
          {
            "name": "slot_type_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Slot type identifier"
          },
          {
            "name": "slot_type_instance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Slot type instance identifier"
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "page[limit]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of roster contacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingContactList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{company_id}/latest-booking-contacts": {
      "get": {
        "operationId": "listlatestbookingcontacts",
        "summary": "List latest booking contacts",
        "description": "Retrieve the most recent booking contacts company-wide.",
        "tags": [
          "Roster"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Company identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Latest booking contacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingContactList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{company_id}/slot-types/{slot_type_id}/slot-type-instances/{slot_type_instance_id}/bookings": {
      "get": {
        "operationId": "listinstancebookings",
        "summary": "List instance bookings",
        "description": "List bookings for a specific slot type instance.",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Company identifier"
          },
          {
            "name": "slot_type_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Slot type identifier"
          },
          {
            "name": "slot_type_instance_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Slot type instance identifier"
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "page[limit]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of bookings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "company_id": {
            "type": "integer",
            "description": "Associated company ID"
          },
          "valid": {
            "type": "boolean",
            "description": "Whether the token is valid"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Webhook identifier"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Webhook callback URL"
          },
          "method": {
            "type": "string",
            "description": "HTTP method for the webhook"
          },
          "model": {
            "type": "string",
            "description": "Model the webhook listens to"
          },
          "events": {
            "type": "string",
            "description": "Events that trigger the webhook"
          },
          "filter_key": {
            "type": "string",
            "description": "Optional filter key"
          }
        }
      },
      "WebhookCreateRequest": {
        "type": "object",
        "required": [
          "url",
          "method",
          "model",
          "events"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Webhook callback URL"
          },
          "method": {
            "type": "string",
            "description": "HTTP method for the webhook"
          },
          "model": {
            "type": "string",
            "description": "Model the webhook listens to"
          },
          "events": {
            "type": "string",
            "description": "Events that trigger the webhook"
          },
          "filter_key": {
            "type": "string",
            "description": "Optional filter key"
          }
        }
      },
      "WebhookList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Contact identifier"
          },
          "name": {
            "type": "string",
            "description": "Contact name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Contact email"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number"
          }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "SlotType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Slot type identifier"
          },
          "name": {
            "type": "string",
            "description": "Slot type name"
          },
          "description": {
            "type": "string",
            "description": "Slot type description"
          }
        }
      },
      "SlotTypeList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SlotType"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "SlotTypeInstance": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Slot type instance identifier"
          },
          "slot_type_id": {
            "type": "integer",
            "description": "Parent slot type ID"
          },
          "start_time": {
            "type": "string",
            "format": "date-time",
            "description": "Instance start time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time",
            "description": "Instance end time"
          },
          "capacity": {
            "type": "integer",
            "description": "Maximum number of bookings"
          }
        }
      },
      "SlotTypeInstanceList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SlotTypeInstance"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "BookingContact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Booking contact identifier"
          },
          "contact_id": {
            "type": "integer",
            "description": "Associated contact ID"
          },
          "name": {
            "type": "string",
            "description": "Contact name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Contact email"
          }
        }
      },
      "BookingContactList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BookingContact"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "Booking": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Booking identifier"
          },
          "slot_type_instance_id": {
            "type": "integer",
            "description": "Associated slot type instance ID"
          },
          "contact_id": {
            "type": "integer",
            "description": "Associated contact ID"
          },
          "status": {
            "type": "string",
            "description": "Booking status"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Booking creation timestamp"
          }
        }
      },
      "BookingList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Booking"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Bookings",
      "description": "Operations related to Bookings"
    },
    {
      "name": "Contacts",
      "description": "Operations related to Contacts"
    },
    {
      "name": "Roster",
      "description": "Operations related to Roster"
    },
    {
      "name": "Slot Type Instances",
      "description": "Operations related to Slot Type Instances"
    },
    {
      "name": "Slot Types",
      "description": "Operations related to Slot Types"
    },
    {
      "name": "Tokens",
      "description": "Operations related to Tokens"
    },
    {
      "name": "Webhooks",
      "description": "Operations related to Webhooks"
    }
  ]
}