{
  "openapi": "3.0.3",
  "info": {
    "title": "NekosBest",
    "version": "2.0.0",
    "description": "A free anime image and GIF API providing high-quality anime images across multiple categories including neko, kitsune, waifu, husbando, and various reaction GIFs.",
    "x-jentic-source-url": "https://docs.nekos.best"
  },
  "servers": [
    {
      "url": "https://nekos.best/api/v2"
    }
  ],
  "paths": {
    "/{category}": {
      "get": {
        "operationId": "getImageByCategory",
        "summary": "Get random image(s) from a category",
        "description": "Returns one or more random images or GIFs from the specified category.",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "description": "Image category (e.g., neko, kitsune, waifu, husbando, baka, bite, blush, bored, cry, cuddle, dance, facepalm, feed, handhold, handshake, happy, highfive, hug, kick, kiss, laugh, lurk, nod, nom, nope, pat, peck, poke, pout, punch, shoot, shrug, slap, sleep, smile, smug, stare, think, thumbsup, tickle, wave, wink, yawn, yeet)",
            "schema": {
              "type": "string",
              "enum": [
                "neko",
                "kitsune",
                "waifu",
                "husbando",
                "baka",
                "bite",
                "blush",
                "bored",
                "cry",
                "cuddle",
                "dance",
                "facepalm",
                "feed",
                "handhold",
                "handshake",
                "happy",
                "highfive",
                "hug",
                "kick",
                "kiss",
                "laugh",
                "lurk",
                "nod",
                "nom",
                "nope",
                "pat",
                "peck",
                "poke",
                "pout",
                "punch",
                "shoot",
                "shrug",
                "slap",
                "sleep",
                "smile",
                "smug",
                "stare",
                "think",
                "thumbsup",
                "tickle",
                "wave",
                "wink",
                "yawn",
                "yeet"
              ]
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "description": "Number of images to return (1-20, default 1)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with image data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid category or amount"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/endpoints": {
      "get": {
        "operationId": "listEndpoints",
        "summary": "List all available endpoints/categories",
        "description": "Returns a list of all available image categories and their types.",
        "tags": [
          "Meta"
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of endpoints",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndpointsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ImageResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageResult"
            }
          }
        }
      },
      "ImageResult": {
        "type": "object",
        "properties": {
          "anime_name": {
            "type": "string",
            "description": "Name of the anime source"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Direct URL to the image or GIF"
          },
          "artist_href": {
            "type": "string",
            "format": "uri",
            "description": "URL to the artist's page (for PNG categories)"
          },
          "artist_name": {
            "type": "string",
            "description": "Name of the artist (for PNG categories)"
          },
          "source_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the original source"
          }
        }
      },
      "EndpointsResponse": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "format": {
              "type": "string",
              "enum": [
                "png",
                "gif"
              ],
              "description": "Image format for the category"
            },
            "min": {
              "type": "string",
              "description": "Minimum amount value"
            },
            "max": {
              "type": "string",
              "description": "Maximum amount value"
            }
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "security": []
}