{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Who Hosts This",
      "url": "https://www.who-hosts-this.com/Contact"
    },
    "description": "Discover the hosting provider for any web site",
    "title": "Who Hosts This API",
    "version": "0.0.1",
    "x-apisguru-categories": [
      "hosting",
      "iot",
      "tools"
    ],
    "x-logo": {
      "backgroundColor": "#2c3e50",
      "url": "https://www.who-hosts-this.com/data/_uploaded/image/logo-who-hosts-padded.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://www.who-hosts-this.com/API-Specification.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "who-hosts-this.com",
    "x-jentic-source-url": "https://www.who-hosts-this.com/APISpecification"
  },
  "servers": [
    {
      "url": "https://www.who-hosts-this.com/APIEndpoint"
    }
  ],
  "paths": {
    "/Detect": {
      "get": {
        "parameters": [
          {
            "description": "The url of the page to check",
            "in": "query",
            "name": "url",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status of the detection and list of any found hosting providers"
          }
        },
        "tags": [
          "hosting"
        ],
        "summary": "Discover the hosting provider for a web site"
      }
    },
    "/Status": {
      "get": {
        "responses": {
          "200": {
            "description": "Status of the detection and list of any found hosting providers"
          }
        },
        "summary": "View usage details for the current billing period"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "QueryKey": {
        "description": "Simple api key authentication. API Keys available at https://www.who-hosts-this.com/API",
        "in": "query",
        "name": "key",
        "type": "apiKey"
      }
    }
  },
  "security": [
    {
      "QueryKey": []
    }
  ],
  "externalDocs": {
    "url": "https://www.who-hosts-this.com/Documentation"
  }
}