{
  "openapi": "3.0.3",
  "info": {
    "title": "Feefo Reviews API",
    "description": "Feefo is a reviews and customer feedback platform. This API provides access to service reviews, product reviews, NPS feedback, product ratings, review summaries, and bulk feedback download. Version 20 supports OAuth 2.0 authentication via bearer tokens.",
    "version": "20",
    "contact": {
      "name": "Feefo Support",
      "url": "https://help.feefo.com"
    },
    "x-jentic-source-url": "https://help.feefo.com/knowledge-base/feefo-apis-overview"
  },
  "servers": [
    {
      "url": "https://api.feefo.com/api",
      "description": "Feefo Production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/20/reviews/all": {
      "get": {
        "tags": [
          "Reviews"
        ],
        "summary": "Get All Reviews",
        "description": "Returns detailed content for both service and product reviews.",
        "operationId": "getAllReviews",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/merchant_identifier"
          },
          {
            "$ref": "#/components/parameters/since_period"
          },
          {
            "$ref": "#/components/parameters/since_updated_period"
          },
          {
            "$ref": "#/components/parameters/date_time"
          },
          {
            "$ref": "#/components/parameters/updated_date_time"
          },
          {
            "$ref": "#/components/parameters/tags"
          },
          {
            "$ref": "#/components/parameters/origin"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/parent_product_sku"
          },
          {
            "$ref": "#/components/parameters/product_sku"
          },
          {
            "$ref": "#/components/parameters/customer_reference"
          },
          {
            "$ref": "#/components/parameters/customer_email"
          },
          {
            "$ref": "#/components/parameters/order_reference"
          },
          {
            "$ref": "#/components/parameters/rating"
          },
          {
            "$ref": "#/components/parameters/children"
          },
          {
            "$ref": "#/components/parameters/media"
          },
          {
            "$ref": "#/components/parameters/empty_product_comments"
          },
          {
            "$ref": "#/components/parameters/unanswered_feedback"
          },
          {
            "$ref": "#/components/parameters/full_thread"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/enhanced_insight"
          },
          {
            "$ref": "#/components/parameters/feature"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with reviews",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/20/reviews/service": {
      "get": {
        "tags": [
          "Reviews"
        ],
        "summary": "Get Service Reviews",
        "description": "Returns detailed content for service reviews only.",
        "operationId": "getServiceReviews",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/merchant_identifier"
          },
          {
            "$ref": "#/components/parameters/since_period"
          },
          {
            "$ref": "#/components/parameters/since_updated_period"
          },
          {
            "$ref": "#/components/parameters/date_time"
          },
          {
            "$ref": "#/components/parameters/updated_date_time"
          },
          {
            "$ref": "#/components/parameters/tags"
          },
          {
            "$ref": "#/components/parameters/origin"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/customer_reference"
          },
          {
            "$ref": "#/components/parameters/customer_email"
          },
          {
            "$ref": "#/components/parameters/order_reference"
          },
          {
            "$ref": "#/components/parameters/rating"
          },
          {
            "$ref": "#/components/parameters/children"
          },
          {
            "$ref": "#/components/parameters/media"
          },
          {
            "$ref": "#/components/parameters/unanswered_feedback"
          },
          {
            "$ref": "#/components/parameters/full_thread"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/enhanced_insight"
          },
          {
            "$ref": "#/components/parameters/feature"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with service reviews",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/20/reviews/product": {
      "get": {
        "tags": [
          "Reviews"
        ],
        "summary": "Get Product Reviews",
        "description": "Returns detailed content for product reviews only.",
        "operationId": "getProductReviews",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/merchant_identifier"
          },
          {
            "$ref": "#/components/parameters/since_period"
          },
          {
            "$ref": "#/components/parameters/since_updated_period"
          },
          {
            "$ref": "#/components/parameters/date_time"
          },
          {
            "$ref": "#/components/parameters/updated_date_time"
          },
          {
            "$ref": "#/components/parameters/tags"
          },
          {
            "$ref": "#/components/parameters/origin"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/parent_product_sku"
          },
          {
            "$ref": "#/components/parameters/product_sku"
          },
          {
            "$ref": "#/components/parameters/customer_reference"
          },
          {
            "$ref": "#/components/parameters/customer_email"
          },
          {
            "$ref": "#/components/parameters/order_reference"
          },
          {
            "$ref": "#/components/parameters/rating"
          },
          {
            "$ref": "#/components/parameters/children"
          },
          {
            "$ref": "#/components/parameters/media"
          },
          {
            "$ref": "#/components/parameters/empty_product_comments"
          },
          {
            "$ref": "#/components/parameters/unanswered_feedback"
          },
          {
            "$ref": "#/components/parameters/full_thread"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/enhanced_insight"
          },
          {
            "$ref": "#/components/parameters/feature"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with product reviews",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/20/reviews/nps": {
      "get": {
        "tags": [
          "Reviews"
        ],
        "summary": "Get NPS Feedback",
        "description": "Returns detailed content for NPS feedback. Requires OAuth 2.0 authentication.",
        "operationId": "getNpsReviews",
        "parameters": [
          {
            "$ref": "#/components/parameters/merchant_identifier"
          },
          {
            "$ref": "#/components/parameters/since_period"
          },
          {
            "$ref": "#/components/parameters/since_updated_period"
          },
          {
            "$ref": "#/components/parameters/date_time"
          },
          {
            "$ref": "#/components/parameters/updated_date_time"
          },
          {
            "$ref": "#/components/parameters/tags"
          },
          {
            "$ref": "#/components/parameters/origin"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/customer_reference"
          },
          {
            "$ref": "#/components/parameters/customer_email"
          },
          {
            "$ref": "#/components/parameters/order_reference"
          },
          {
            "$ref": "#/components/parameters/rating"
          },
          {
            "$ref": "#/components/parameters/children"
          },
          {
            "$ref": "#/components/parameters/unanswered_feedback"
          },
          {
            "$ref": "#/components/parameters/full_thread"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with NPS feedback",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - OAuth 2.0 token required"
          }
        }
      }
    },
    "/20/reviews/summary/all": {
      "get": {
        "tags": [
          "Review Summaries"
        ],
        "summary": "Get All Reviews Summary",
        "description": "Returns summary counts and average scores for both service and product reviews.",
        "operationId": "getAllReviewsSummary",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/merchant_identifier"
          },
          {
            "$ref": "#/components/parameters/since_period"
          },
          {
            "$ref": "#/components/parameters/since_updated_period"
          },
          {
            "$ref": "#/components/parameters/date_time"
          },
          {
            "$ref": "#/components/parameters/updated_date_time"
          },
          {
            "$ref": "#/components/parameters/tags"
          },
          {
            "$ref": "#/components/parameters/origin"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/parent_product_sku"
          },
          {
            "$ref": "#/components/parameters/product_sku"
          },
          {
            "$ref": "#/components/parameters/customer_reference"
          },
          {
            "$ref": "#/components/parameters/customer_email"
          },
          {
            "$ref": "#/components/parameters/order_reference"
          },
          {
            "$ref": "#/components/parameters/rating"
          },
          {
            "$ref": "#/components/parameters/children"
          },
          {
            "$ref": "#/components/parameters/media"
          },
          {
            "$ref": "#/components/parameters/empty_product_comments"
          },
          {
            "$ref": "#/components/parameters/unanswered_feedback"
          },
          {
            "$ref": "#/components/parameters/enhanced_insight"
          },
          {
            "$ref": "#/components/parameters/feature"
          }
        ],
        "responses": {
          "200": {
            "description": "Summary of all reviews",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewsSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/20/reviews/summary/service": {
      "get": {
        "tags": [
          "Review Summaries"
        ],
        "summary": "Get Service Reviews Summary",
        "description": "Returns summary counts and average scores for service reviews.",
        "operationId": "getServiceReviewsSummary",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/merchant_identifier"
          },
          {
            "$ref": "#/components/parameters/since_period"
          },
          {
            "$ref": "#/components/parameters/since_updated_period"
          },
          {
            "$ref": "#/components/parameters/date_time"
          },
          {
            "$ref": "#/components/parameters/updated_date_time"
          },
          {
            "$ref": "#/components/parameters/tags"
          },
          {
            "$ref": "#/components/parameters/origin"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/customer_reference"
          },
          {
            "$ref": "#/components/parameters/customer_email"
          },
          {
            "$ref": "#/components/parameters/order_reference"
          },
          {
            "$ref": "#/components/parameters/rating"
          },
          {
            "$ref": "#/components/parameters/children"
          },
          {
            "$ref": "#/components/parameters/media"
          },
          {
            "$ref": "#/components/parameters/unanswered_feedback"
          },
          {
            "$ref": "#/components/parameters/enhanced_insight"
          },
          {
            "$ref": "#/components/parameters/feature"
          }
        ],
        "responses": {
          "200": {
            "description": "Summary of service reviews",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewsSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/20/reviews/summary/product": {
      "get": {
        "tags": [
          "Review Summaries"
        ],
        "summary": "Get Product Reviews Summary",
        "description": "Returns summary counts and average scores for product reviews.",
        "operationId": "getProductReviewsSummary",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/merchant_identifier"
          },
          {
            "$ref": "#/components/parameters/since_period"
          },
          {
            "$ref": "#/components/parameters/since_updated_period"
          },
          {
            "$ref": "#/components/parameters/date_time"
          },
          {
            "$ref": "#/components/parameters/updated_date_time"
          },
          {
            "$ref": "#/components/parameters/tags"
          },
          {
            "$ref": "#/components/parameters/origin"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/parent_product_sku"
          },
          {
            "$ref": "#/components/parameters/product_sku"
          },
          {
            "$ref": "#/components/parameters/customer_reference"
          },
          {
            "$ref": "#/components/parameters/customer_email"
          },
          {
            "$ref": "#/components/parameters/order_reference"
          },
          {
            "$ref": "#/components/parameters/rating"
          },
          {
            "$ref": "#/components/parameters/children"
          },
          {
            "$ref": "#/components/parameters/media"
          },
          {
            "$ref": "#/components/parameters/empty_product_comments"
          },
          {
            "$ref": "#/components/parameters/unanswered_feedback"
          },
          {
            "$ref": "#/components/parameters/enhanced_insight"
          },
          {
            "$ref": "#/components/parameters/feature"
          }
        ],
        "responses": {
          "200": {
            "description": "Summary of product reviews",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewsSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/20/reviews/summary/nps": {
      "get": {
        "tags": [
          "Review Summaries"
        ],
        "summary": "Get NPS Feedback Summary",
        "description": "Returns summary counts and average scores for NPS feedback. Requires OAuth 2.0 authentication.",
        "operationId": "getNpsReviewsSummary",
        "parameters": [
          {
            "$ref": "#/components/parameters/merchant_identifier"
          },
          {
            "$ref": "#/components/parameters/since_period"
          },
          {
            "$ref": "#/components/parameters/since_updated_period"
          },
          {
            "$ref": "#/components/parameters/date_time"
          },
          {
            "$ref": "#/components/parameters/updated_date_time"
          },
          {
            "$ref": "#/components/parameters/tags"
          },
          {
            "$ref": "#/components/parameters/origin"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/customer_reference"
          },
          {
            "$ref": "#/components/parameters/customer_email"
          },
          {
            "$ref": "#/components/parameters/order_reference"
          },
          {
            "$ref": "#/components/parameters/rating"
          },
          {
            "$ref": "#/components/parameters/children"
          },
          {
            "$ref": "#/components/parameters/unanswered_feedback"
          }
        ],
        "responses": {
          "200": {
            "description": "Summary of NPS feedback",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewsSummaryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - OAuth 2.0 token required"
          }
        }
      }
    },
    "/20/products/ratings": {
      "get": {
        "tags": [
          "Product Ratings"
        ],
        "summary": "Get Product Ratings",
        "description": "Returns a listing of all available product SKUs and their ratings.",
        "operationId": "getProductRatings",
        "parameters": [
          {
            "name": "merchant_identifier",
            "in": "query",
            "required": true,
            "description": "The merchant's unique Feefo identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "review_count",
            "in": "query",
            "required": false,
            "description": "Include review count in response.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "since_period",
            "in": "query",
            "required": false,
            "description": "Time period filter.",
            "schema": {
              "type": "string",
              "enum": [
                "24_hours",
                "week",
                "month",
                "year",
                "all"
              ],
              "default": "year"
            }
          },
          {
            "name": "parent_product_sku",
            "in": "query",
            "required": false,
            "description": "Filter by parent product SKU.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_sku",
            "in": "query",
            "required": false,
            "description": "Single or comma-separated product codes. Supports wildcard (*).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of results per page (max 100).",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "description": "Language locale filter (e.g. en_GB, fr_FR). Default returns all.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summary",
            "in": "query",
            "required": false,
            "description": "Returns merchant info and page count when true.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "syndication",
            "in": "query",
            "required": false,
            "description": "Include syndicated reviews.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product ratings response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductRatingsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/download-feedback": {
      "get": {
        "tags": [
          "Download Feedback"
        ],
        "summary": "Download Feedback (Deprecated)",
        "description": "Bulk feedback download in tab-separated flat file format. This API is deprecated from future development and not recommended for new implementations.",
        "operationId": "downloadFeedback",
        "deprecated": true,
        "security": [],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key for authentication.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantidentifier",
            "in": "query",
            "required": true,
            "description": "Specifies which account to retrieve data from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Start date for feedback retrieval (yyyy-mm-dd).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End date for feedback retrieval (yyyy-mm-dd).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "updatedsince",
            "in": "query",
            "required": false,
            "description": "Returns all feedback updated since this date (yyyy-mm-dd).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "custom-question-format",
            "in": "query",
            "required": false,
            "description": "Set to 'json' for JSON formatting of custom questions, otherwise comma-separated.",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tab-separated flat file of feedback data",
            "content": {
              "text/tab-separated-values": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          }
        }
      }
    },
    "/oauth/v2/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get OAuth 2.0 Access Token",
        "description": "Obtain an OAuth 2.0 bearer token using client credentials grant. Tokens expire after 3600 seconds.",
        "operationId": "getOAuthToken",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "client_id",
                  "client_secret",
                  "grant_type"
                ],
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "Client ID from Feefo Hub App Keys."
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Client Secret from Feefo Hub App Keys."
                  },
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials"
                    ],
                    "description": "OAuth 2.0 grant type."
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "client_id",
                  "client_secret",
                  "grant_type"
                ],
                "properties": {
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthTokenResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 bearer token obtained from /oauth/v2/token endpoint."
      }
    },
    "parameters": {
      "merchant_identifier": {
        "name": "merchant_identifier",
        "in": "query",
        "required": true,
        "description": "Unique identifier for the merchant account.",
        "schema": {
          "type": "string"
        }
      },
      "since_period": {
        "name": "since_period",
        "in": "query",
        "required": false,
        "description": "Filter reviews to those created during the specified period.",
        "schema": {
          "type": "string",
          "enum": [
            "24_hours",
            "week",
            "month",
            "year",
            "all"
          ],
          "default": "year"
        }
      },
      "since_updated_period": {
        "name": "since_updated_period",
        "in": "query",
        "required": false,
        "description": "Filter reviews to those updated during the specified period.",
        "schema": {
          "type": "string",
          "enum": [
            "24_hours",
            "week",
            "month",
            "year",
            "all"
          ],
          "default": "year"
        }
      },
      "date_time": {
        "name": "date_time",
        "in": "query",
        "required": false,
        "description": "Filter reviews to those created on a specified UTC date/time.",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "updated_date_time": {
        "name": "updated_date_time",
        "in": "query",
        "required": false,
        "description": "Filter reviews to those updated on a specified UTC date/time.",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "tags": {
        "name": "tags",
        "in": "query",
        "required": false,
        "description": "Filter reviews matching specified tags.",
        "schema": {
          "type": "string"
        }
      },
      "origin": {
        "name": "origin",
        "in": "query",
        "required": false,
        "description": "Domain name of the webpage calling the API. Required when using multiple domains.",
        "schema": {
          "type": "string"
        }
      },
      "id": {
        "name": "id",
        "in": "query",
        "required": false,
        "description": "Filter reviews based on the feedback ID.",
        "schema": {
          "type": "string"
        }
      },
      "parent_product_sku": {
        "name": "parent_product_sku",
        "in": "query",
        "required": false,
        "description": "Filter for product reviews assigned to the specified parent product search code.",
        "schema": {
          "type": "string"
        }
      },
      "product_sku": {
        "name": "product_sku",
        "in": "query",
        "required": false,
        "description": "Filter for product reviews assigned to the specified product search code.",
        "schema": {
          "type": "string"
        }
      },
      "customer_reference": {
        "name": "customer_reference",
        "in": "query",
        "required": false,
        "description": "Filter reviews by unique customer identifier.",
        "schema": {
          "type": "string"
        }
      },
      "customer_email": {
        "name": "customer_email",
        "in": "query",
        "required": false,
        "description": "Filter reviews by customer email address.",
        "schema": {
          "type": "string",
          "format": "email"
        }
      },
      "order_reference": {
        "name": "order_reference",
        "in": "query",
        "required": false,
        "description": "Retrieve feedback relating to a specific order.",
        "schema": {
          "type": "string"
        }
      },
      "rating": {
        "name": "rating",
        "in": "query",
        "required": false,
        "description": "Star rating or NPS score threshold for filtering.",
        "schema": {
          "type": "string"
        }
      },
      "children": {
        "name": "children",
        "in": "query",
        "required": false,
        "description": "Whether to include feedback from child accounts.",
        "schema": {
          "type": "string",
          "enum": [
            "include",
            "exclude"
          ],
          "default": "include"
        }
      },
      "media": {
        "name": "media",
        "in": "query",
        "required": false,
        "description": "Filter applied to feedback with associated media.",
        "schema": {
          "type": "string",
          "enum": [
            "include",
            "exclude",
            "only"
          ],
          "default": "include"
        }
      },
      "empty_product_comments": {
        "name": "empty_product_comments",
        "in": "query",
        "required": false,
        "description": "Handling for product reviews without comments.",
        "schema": {
          "type": "string",
          "enum": [
            "default",
            "include",
            "exclude"
          ],
          "default": "default"
        }
      },
      "unanswered_feedback": {
        "name": "unanswered_feedback",
        "in": "query",
        "required": false,
        "description": "Filter for unanswered feedback rated 1 or 2 stars within 48 hours.",
        "schema": {
          "type": "string",
          "enum": [
            "include",
            "exclude",
            "only"
          ],
          "default": "include"
        }
      },
      "full_thread": {
        "name": "full_thread",
        "in": "query",
        "required": false,
        "description": "Whether to include subsequent exchanges between customer and merchant.",
        "schema": {
          "type": "string",
          "enum": [
            "include",
            "exclude"
          ],
          "default": "exclude"
        }
      },
      "sort": {
        "name": "sort",
        "in": "query",
        "required": false,
        "description": "Field to sort results by.",
        "schema": {
          "type": "string",
          "default": "updated_date"
        }
      },
      "page_size": {
        "name": "page_size",
        "in": "query",
        "required": false,
        "description": "Number of reviews per page (max 100).",
        "schema": {
          "type": "integer",
          "default": 20,
          "maximum": 100
        }
      },
      "page": {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "Page number for pagination.",
        "schema": {
          "type": "integer",
          "default": 1
        }
      },
      "fields": {
        "name": "fields",
        "in": "query",
        "required": false,
        "description": "Limit response to specified fields.",
        "schema": {
          "type": "string"
        }
      },
      "enhanced_insight": {
        "name": "enhanced_insight",
        "in": "query",
        "required": false,
        "description": "Include enhanced insight data (requires Smart Themes).",
        "schema": {
          "type": "string",
          "enum": [
            "include",
            "exclude"
          ],
          "default": "exclude"
        }
      },
      "feature": {
        "name": "feature",
        "in": "query",
        "required": false,
        "description": "Filter reviews by associated feature (Smart Themes only).",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ReviewsResponse": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "object",
            "properties": {
              "meta": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer",
                    "description": "Total number of reviews matching the query."
                  },
                  "pages": {
                    "type": "integer",
                    "description": "Total number of pages."
                  },
                  "page_size": {
                    "type": "integer"
                  },
                  "current_page": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "reviews": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Review"
            }
          }
        }
      },
      "Review": {
        "type": "object",
        "properties": {
          "merchant": {
            "type": "object",
            "properties": {
              "identifier": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "service": {
            "type": "object",
            "properties": {
              "rating": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "integer"
                  },
                  "max": {
                    "type": "integer"
                  },
                  "rating": {
                    "type": "number"
                  }
                }
              },
              "title": {
                "type": "string"
              },
              "review": {
                "type": "string"
              }
            }
          },
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "sku": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "rating": {
                  "type": "object",
                  "properties": {
                    "min": {
                      "type": "integer"
                    },
                    "max": {
                      "type": "integer"
                    },
                    "rating": {
                      "type": "number"
                    }
                  }
                },
                "review": {
                  "type": "string"
                }
              }
            }
          },
          "customer": {
            "type": "object",
            "properties": {
              "display_name": {
                "type": "string"
              }
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "tag": {
                  "type": "string"
                }
              }
            }
          },
          "media": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              }
            }
          },
          "nps": {
            "type": "object",
            "properties": {
              "score": {
                "type": "integer"
              },
              "review": {
                "type": "string"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "imported": {
            "type": "boolean",
            "description": "Whether this is an imported review."
          },
          "imported_source": {
            "type": "string",
            "description": "Source of imported review, if applicable."
          }
        }
      },
      "ReviewsSummaryResponse": {
        "type": "object",
        "properties": {
          "rating": {
            "type": "object",
            "properties": {
              "min": {
                "type": "integer"
              },
              "max": {
                "type": "integer"
              },
              "rating": {
                "type": "number"
              }
            }
          },
          "count": {
            "type": "integer",
            "description": "Total number of reviews."
          },
          "percentage": {
            "type": "number",
            "description": "Average percentage score."
          },
          "star_breakdown": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Count of reviews per star rating."
          }
        }
      },
      "ProductRatingsResponse": {
        "type": "object",
        "properties": {
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "rating": {
                  "type": "number"
                },
                "vendor_ref": {
                  "type": "string"
                },
                "review_count": {
                  "type": "integer",
                  "description": "Only present when review_count=true."
                }
              }
            }
          }
        }
      },
      "OAuthTokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token lifetime in seconds (typically 3600)."
          },
          "token_type": {
            "type": "string",
            "enum": [
              "bearer"
            ]
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Download Feedback"
    },
    {
      "name": "Product Ratings"
    },
    {
      "name": "Review Summaries"
    },
    {
      "name": "Reviews"
    }
  ]
}
