{
  "openapi": "3.0.3",
  "info": {
    "title": "Bring Developer API",
    "version": "2.0.0",
    "description": "Bring shipping and logistics APIs for Norway, Sweden, Denmark, and Finland. Provides shipping guide, tracking, booking, and pickup point services.",
    "x-jentic-source-url": "https://developer.bring.com/"
  },
  "servers": [
    {
      "url": "https://api.bring.com"
    }
  ],
  "paths": {
    "/shippingguide/api/v2/products": {
      "post": {
        "operationId": "getShippingProducts",
        "summary": "Get shipping products and prices",
        "description": "Retrieves available shipping services, delivery times, prices, and environmental data for a sender-recipient combination",
        "tags": [
          "Shipping Guide"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShippingGuideRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShippingGuideResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tracking/api/v2/tracking.json": {
      "get": {
        "operationId": "trackShipment",
        "summary": "Track a shipment",
        "description": "Get tracking information for an existing shipment",
        "tags": [
          "Tracking"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tracking number, reference, or shipment number"
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "no",
                "sv",
                "da"
              ]
            },
            "description": "Response language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/booking/api/create": {
      "post": {
        "operationId": "createBooking",
        "summary": "Create a shipment booking",
        "description": "Creates a shipment and generates labels, tracking links, and transport documents",
        "tags": [
          "Booking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/booking/api/errors": {
      "get": {
        "operationId": "getBookingErrors",
        "summary": "Get booking error codes",
        "tags": [
          "Booking"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pickuppoint/api/pickuppoint/{countryCode}/postalCode/{postalCode}": {
      "get": {
        "operationId": "getPickupPointsByPostalCode",
        "summary": "Get pickup points by postal code",
        "tags": [
          "Pickup Points"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NO",
                "DK",
                "SE",
                "FI"
              ]
            }
          },
          {
            "name": "postalCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "street",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "streetNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numberOfResponses",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pickupPointType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "manned",
                "locker"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupPointListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pickuppoint/api/pickuppoint/{countryCode}/all": {
      "get": {
        "operationId": "getAllPickupPoints",
        "summary": "Get all pickup points for a country",
        "tags": [
          "Pickup Points"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NO",
                "DK",
                "SE",
                "FI"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupPointListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pickuppoint/api/pickuppoint/{countryCode}/id/{id}": {
      "get": {
        "operationId": "getPickupPointById",
        "summary": "Get pickup point by ID",
        "tags": [
          "Pickup Points"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NO",
                "DK",
                "SE",
                "FI"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupPoint"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pickuppoint/api/pickuppoint/{countryCode}/location/{latitude},{longitude}": {
      "get": {
        "operationId": "getPickupPointsByLocation",
        "summary": "Get pickup points by geolocation",
        "tags": [
          "Pickup Points"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NO",
                "DK",
                "SE",
                "FI"
              ]
            }
          },
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numberOfResponses",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pickupPointType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "manned",
                "locker"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupPointListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pickuppoint/api/pickuppoint/{countryCode}/postalCode/{postalCode}/default": {
      "get": {
        "operationId": "getDefaultPickupPoint",
        "summary": "Get default pickup point for postal code",
        "tags": [
          "Pickup Points"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NO",
                "DK",
                "SE",
                "FI"
              ]
            }
          },
          {
            "name": "postalCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupPoint"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "MybringAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Mybring-API-Key",
        "description": "Mybring API key. Also requires X-Mybring-API-Uid header."
      }
    },
    "schemas": {
      "ShippingGuideRequest": {
        "type": "object",
        "properties": {
          "consignments": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "language": {
            "type": "string"
          },
          "withPrice": {
            "type": "boolean"
          },
          "withExpectedDelivery": {
            "type": "boolean"
          },
          "withEnvironmentalData": {
            "type": "boolean"
          }
        }
      },
      "ShippingGuideResponse": {
        "type": "object",
        "properties": {
          "consignments": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "TrackingResponse": {
        "type": "object",
        "properties": {
          "consignmentSet": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "BookingRequest": {
        "type": "object",
        "properties": {
          "consignments": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "schemaVersion": {
            "type": "integer"
          },
          "testIndicator": {
            "type": "boolean"
          }
        }
      },
      "BookingResponse": {
        "type": "object",
        "properties": {
          "consignments": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "PickupPoint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "openingHours": {
            "type": "object"
          }
        }
      },
      "PickupPointListResponse": {
        "type": "object",
        "properties": {
          "pickupPoint": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PickupPoint"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "MybringAuth": []
    }
  ]
}