{
  "openapi": "3.0.3",
  "info": {
    "title": "EDGAR API",
    "version": "1.11.0",
    "x-jentic-source-url": "https://api.edgarfiling.sec.gov/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.edgarfiling.sec.gov",
      "description": "EDGAR Operational Status API"
    },
    {
      "url": "https://api.edgarfiling.sec.gov",
      "description": "EDGAR Submission API"
    },
    {
      "url": "https://api.edgarfiling.sec.gov",
      "description": "EDGAR Filer Management API"
    }
  ],
  "paths": {
    "/fm/{cik}": {
      "get": {
        "summary": "View filer account information",
        "description": "The view filer account information API provides the ability to view filer information for an EDGAR account/CIK.\nThis API will require the following inputs:  the filer API token, the user API token, and the EDGAR account/CIK\nfor which information is being retrieved.\nThe individual associated with the user API token must be a user, account administrator, delegated user, delegated\naccount administrator, or technical administrator of the CIK for which account information is to be viewed.\nThe filer API token supplied for the request must either match that CIK or the CIK of the filer API token must have delegation from that CIK.\n",
        "operationId": "View Filer Account Information",
        "tags": [
          "Filer Management API"
        ],
        "parameters": [
          {
            "name": "cik",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "\\d{10}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request was successful.",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "description": "Details about a filer/entity (e.g., name, address, dba-name, foreign-name, etc.)",
                    "value": {
                      "tracking": "f0bd5ef3aaf666475b7b466d46120973",
                      "locator": "nfkkg",
                      "messages": [
                        {
                          "type": "INFO",
                          "content": "OK"
                        }
                      ],
                      "filerInfo": [
                        {
                          "cik": "0000000000",
                          "stateCode": "TX",
                          "irsNumber": "000000000",
                          "entityType": "A",
                          "dateIncorporated": "1970-01-01 00:00:00",
                          "sicCode": "6189",
                          "fyEnd": "0630",
                          "individualOrCompany": "C",
                          "specialFilerType": "string",
                          "legalEntityIdentifier": "ABCD123456789012",
                          "repFileNum": "123-123456-12",
                          "dateModified": "2024-01-01T12:00:00Z",
                          "entityName": "Filers Inc",
                          "entityDbaName": "string",
                          "entityForeignName": "string",
                          "mailIsForeignAddress": "false",
                          "mailStreet1": "123 Broadway",
                          "mailStreet2": "Suite 200",
                          "mailCity": "Dallas",
                          "mailStateCode": "K3",
                          "mailForeignState": "Maharashtra",
                          "mailZip": "75240",
                          "businessIsForeignAddress": false,
                          "businessStreet1": "123 Broadway",
                          "businessStreet2": "Suite 200",
                          "businessCity": "Dallas",
                          "businessStateCode": "TX",
                          "businessForeignState": null,
                          "businessZip": "75240",
                          "peoStreet1": "string",
                          "peoStreet2": "string",
                          "peoCity": "string",
                          "peoStateCode": "string",
                          "peoZip": "string",
                          "acctName": "Chris",
                          "acctPhone": "555-555-5555",
                          "acctStreet1": "123 MAIN ST. - BILLING",
                          "acctStreet2": null,
                          "acctCity": "ANYTOWN",
                          "acctStateCode": "TX",
                          "acctZip": "12345",
                          "acctEmail": "chris@somecompany.com",
                          "contName": "James Smith",
                          "contPhone": "555-555-5555",
                          "contEmail": "james@somecopany.com",
                          "mailingPhone": "555-555-5555",
                          "businessPhone": "555-555-5555",
                          "ccc": "@1B2C3d4",
                          "confirmationDueDate": "Date",
                          "singleEntityCompany": "false",
                          "website": "www.somecompany.com",
                          "series": []
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/FilerInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was not successful, possibly due to invalid data",
            "content": {
              "application/json": {
                "examples": {
                  "Bad request": {
                    "description": "Input error (invalid data)",
                    "value": {
                      "tracking": "c209d91efee936e1d315d868f06f763d",
                      "locator": "47a94d",
                      "messages": [
                        {
                          "type": "ERROR",
                          "message": "Invalid data"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/IndividualInfoResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This resource is being accessed with invalid or inactive tokens. Please check that the tokens in use are active in Filer Management or are assigned to active individuals.",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "description": "The request does not include any valid tokens for accessing this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Unauthorized"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. A valid Filer API Token and User Access Token must be provided with this request. Please ensure that the User identified by the User Access Token is authorized to perform the action.",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "description": "The request had included valid tokens but that does not give access to this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Forbidden."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error. An unexpected server-side error has occurred.",
            "content": {
              "application/json": {
                "examples": {
                  "Internal server error": {
                    "description": "An unexpected internal error has occurred processing this request. Contact EDGAR Help Desk with your tracking number to troubleshoot.",
                    "value": {
                      "tracking": "937de162bf9f1b6e7fc2bfb1165c1998",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "An unexpected error has occurred."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Filer API Token and User API Token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.edgarfiling.sec.gov",
            "description": "EDGAR Filer Management API"
          }
        ]
      }
    },
    "/fm/{cik}/ccc": {
      "post": {
        "summary": "Generate CCC",
        "description": "The generate CCC API allows a filer to have EDGAR randomly generate a new CCC for the filer. This API will require the filer API token, the user API token,\nand the CIK of the EDGAR account for which the CCC will be generated. The individual associated with the user API token must be\nan account administrator of the EDGAR account/CIK for which the CCC is to be generated. The filer API token supplied for the request\nmust either match the CIK of the EDGAR account for which the CCC is to be generated or the CIK of the filer API token must have\ndelegation from that CIK.\n",
        "operationId": "Generate CCC",
        "tags": [
          "Filer Management API"
        ],
        "parameters": [
          {
            "name": "cik",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "\\d{10}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilerCCCResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was not successful, possibly due to invalid data",
            "content": {
              "application/json": {
                "examples": {
                  "Bad request": {
                    "description": "Input error (invalid data)",
                    "value": {
                      "tracking": "c209d91efee936e1d315d868f06f763d",
                      "locator": "47a94d",
                      "messages": [
                        {
                          "type": "ERROR",
                          "message": "Invalid data"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/IndividualInfoResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This resource is being accessed with invalid or inactive tokens. Please check that the tokens in use are active in Filer Management or are assigned to active individuals.",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "description": "The request does not include any valid tokens for accessing this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Unauthorized"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. A valid Filer API Token and User Access Token must be provided with this request. Please ensure that the User identified by the User Access Token is authorized to perform the action.",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "description": "The request had included valid tokens but that does not give access to this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Forbidden."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error. An unexpected server-side error has occurred.",
            "content": {
              "application/json": {
                "examples": {
                  "Internal server error": {
                    "description": "An unexpected internal error has occurred processing this request. Contact EDGAR Help Desk with your tracking number to troubleshoot.",
                    "value": {
                      "tracking": "937de162bf9f1b6e7fc2bfb1165c1998",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "An unexpected error has occurred."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Filer API Token and User API Token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.edgarfiling.sec.gov",
            "description": "EDGAR Filer Management API"
          }
        ]
      },
      "put": {
        "summary": "Create custom CCC",
        "description": "The create custom CCC API allows a filer to specify a new CCC. The API will require the following inputs: the filer API token, the user API token,\nthe CIK of the EDGAR account for which the custom CCC will be created, the current CCC, and the new CCC. The individual associated with\nthe user API token must be an account administrator of the EDGAR account/CIK for which the CCC is to be changed. The filer API token supplied for\nthe request must either match the CIK for which the CCC is to be changed or the CIK of the filer API token must have delegation from that CIK.\n",
        "operationId": "Create Custom CCC",
        "tags": [
          "Filer Management API"
        ],
        "parameters": [
          {
            "name": "cik",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "\\d{10}"
            }
          }
        ],
        "requestBody": {
          "description": "Update CCC object (Current CCC, Replacement CCC)",
          "content": {
            "application/json": {
              "examples": {
                "Update CCC": {
                  "summary": "Update CCC",
                  "description": "Update CCC",
                  "value": {
                    "currentCCC": "xxxxxxxx",
                    "replacementCCC": "yyyyyyyy"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/UpdateCCC"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK. The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilerCCCResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was not successful, possibly due to invalid data",
            "content": {
              "application/json": {
                "examples": {
                  "Bad request": {
                    "description": "Input error (invalid data)",
                    "value": {
                      "tracking": "c209d91efee936e1d315d868f06f763d",
                      "locator": "47a94d",
                      "messages": [
                        {
                          "type": "ERROR",
                          "message": "Invalid data"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/IndividualInfoResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This resource is being accessed with invalid or inactive tokens. Please check that the tokens in use are active in Filer Management or are assigned to active individuals.",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "description": "The request does not include any valid tokens for accessing this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Unauthorized"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. A valid Filer API Token and User Access Token must be provided with this request. Please ensure that the User identified by the User Access Token is authorized to perform the action.",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "description": "The request had included valid tokens but that does not give access to this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Forbidden."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error. An unexpected server-side error has occurred.",
            "content": {
              "application/json": {
                "examples": {
                  "Internal server error": {
                    "description": "An unexpected internal error has occurred processing this request. Contact EDGAR Help Desk with your tracking number to troubleshoot.",
                    "value": {
                      "tracking": "937de162bf9f1b6e7fc2bfb1165c1998",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "An unexpected error has occurred."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Filer API Token and User API Token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.edgarfiling.sec.gov",
            "description": "EDGAR Filer Management API"
          }
        ]
      }
    },
    "/fm/{cik}/delegationRequests": {
      "post": {
        "summary": "Request delegation invitations",
        "description": "The request delegation invitations API provides the ability for an EDGAR account (for example, a filing agent) to request delegation from one\nor more filers. If a filer accepts the delegation request, a delegation invitation will be sent from the filer to the EDGAR account requesting\ndelegation. If the delegation invitation is accepted by the EDGAR account requesting delegation, that EDGAR account will become a delegated\nentity that can submit filings on behalf of the filer. This API will require the following inputs: the filer API token, the user API token,\nthe CIK belonging to the requesting EDGAR account that would like to become a delegated entity, and CIK(s) that will receive the delegation\nrequest. The individual associated with the user API token must be an account administrator of the CIK requesting a delegation invitation.\nThe filer API token supplied for the request must match the CIK requesting a delegation invitation.\n",
        "operationId": "Request Delegation Invitations",
        "tags": [
          "Filer Management API"
        ],
        "parameters": [
          {
            "name": "cik",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "\\d{10}"
            }
          }
        ],
        "requestBody": {
          "description": "List of delegation request filer/entity CIKs",
          "content": {
            "application/json": {
              "examples": {
                "Delegation request to single CIK": {
                  "summary": "Delegation request single CIK",
                  "description": "Delegation request to single CIK",
                  "value": [
                    "0000000001"
                  ]
                },
                "Delegation request to multiple CIKs": {
                  "summary": "Delegation request to multiple CIKs",
                  "description": "Delegation request to multiple CIKs",
                  "value": [
                    "0000000001",
                    "0000000002"
                  ]
                }
              },
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK. The request was successful.",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "description": "ADD DELEGATION REQUESTS OK description",
                    "value": {
                      "tracking": "c209d91efee936e1d315d868f06f763d",
                      "locator": "47a94d",
                      "messages": [
                        {
                          "type": "INFO",
                          "message": "<<message>>"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/FilerInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was not successful, possibly due to invalid data",
            "content": {
              "application/json": {
                "examples": {
                  "Bad request": {
                    "description": "Input error (invalid data)",
                    "value": {
                      "tracking": "c209d91efee936e1d315d868f06f763d",
                      "locator": "47a94d",
                      "messages": [
                        {
                          "type": "ERROR",
                          "message": "Invalid data"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/IndividualInfoResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This resource is being accessed with invalid or inactive tokens. Please check that the tokens in use are active in Filer Management or are assigned to active individuals.",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "description": "The request does not include any valid tokens for accessing this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Unauthorized"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. A valid Filer API Token and User Access Token must be provided with this request. Please ensure that the User identified by the User Access Token is authorized to perform the action.",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "description": "The request had included valid tokens but that does not give access to this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Forbidden."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error. An unexpected server-side error has occurred.",
            "content": {
              "application/json": {
                "examples": {
                  "Internal server error": {
                    "description": "An unexpected internal error has occurred processing this request. Contact EDGAR Help Desk with your tracking number to troubleshoot.",
                    "value": {
                      "tracking": "937de162bf9f1b6e7fc2bfb1165c1998",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "An unexpected error has occurred."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Filer API Token and User API Token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.edgarfiling.sec.gov",
            "description": "EDGAR Filer Management API"
          }
        ]
      }
    },
    "/fm/{cik}/delegations": {
      "post": {
        "summary": "Send delegation invitations",
        "description": "The send delegation invitations API provides the ability for a filer to delegate to one or more EDGAR accounts. If those EDGAR accounts accept\nthe delegation invitation, those EDGAR accounts will become delegated entities who can submit filings on behalf of the delegating filer.\nThis API will require the following inputs: the filer API token, the user API token, the delegating filer’s CIK, and a list of one or more\ndelegated entity CIKs that will receive the delegation invitation. The individual associated with the user API token must be an account\nadministrator of the CIK from which delegation invitations are to be sent. The filer API token supplied for the request must match that CIK.\n",
        "operationId": "Send Delegation Invitations",
        "tags": [
          "Filer Management API"
        ],
        "parameters": [
          {
            "name": "cik",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "\\d{10}"
            }
          }
        ],
        "requestBody": {
          "description": "List of delegation filer/entity CIKs",
          "content": {
            "application/json": {
              "examples": {
                "Delegate to single CIK": {
                  "summary": "Delegate to single CIK",
                  "description": "Delegate to single CIK",
                  "value": [
                    "0000000001"
                  ]
                },
                "Delegate to multiple CIKs": {
                  "summary": "Delegate to multiple CIKs",
                  "description": "Delegate to multiple CIKs",
                  "value": [
                    "0000000001",
                    "0000000002"
                  ]
                }
              },
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK. The request was successful.",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "description": "ADD DELEGATIONS OK description",
                    "value": {
                      "tracking": "c209d91efee936e1d315d868f06f763d",
                      "locator": "47a94d",
                      "responses": [],
                      "messages": [
                        {
                          "type": "INFO",
                          "message": "<<message>>"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/FilerInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was not successful, possibly due to invalid data",
            "content": {
              "application/json": {
                "examples": {
                  "Bad request": {
                    "description": "Input error (invalid data)",
                    "value": {
                      "tracking": "c209d91efee936e1d315d868f06f763d",
                      "locator": "47a94d",
                      "messages": [
                        {
                          "type": "ERROR",
                          "message": "Invalid data"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/IndividualInfoResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This resource is being accessed with invalid or inactive tokens. Please check that the tokens in use are active in Filer Management or are assigned to active individuals.",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "description": "The request does not include any valid tokens for accessing this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Unauthorized"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. A valid Filer API Token and User Access Token must be provided with this request. Please ensure that the User identified by the User Access Token is authorized to perform the action.",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "description": "The request had included valid tokens but that does not give access to this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Forbidden."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error. An unexpected server-side error has occurred.",
            "content": {
              "application/json": {
                "examples": {
                  "Internal server error": {
                    "description": "An unexpected internal error has occurred processing this request. Contact EDGAR Help Desk with your tracking number to troubleshoot.",
                    "value": {
                      "tracking": "937de162bf9f1b6e7fc2bfb1165c1998",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "An unexpected error has occurred."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Filer API Token and User API Token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.edgarfiling.sec.gov",
            "description": "EDGAR Filer Management API"
          }
        ]
      },
      "get": {
        "summary": "View delegations",
        "description": "The view delegations API provides the ability for a filer/EDGAR account to retrieve a list of all its delegations to and from other\nEDGAR accounts/CIKs. This API will require the following inputs:  the filer API token, the user API token, and the EDGAR account/CIK\nfor which delegation information is to be retrieved. The individual associated with the user API token must be a user or an account\nadministrator of the CIK for which delegation information is to be retrieved. The filer API token supplied for the request must match that CIK.\n",
        "operationId": "View Delegations",
        "tags": [
          "Filer Management API"
        ],
        "parameters": [
          {
            "name": "cik",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "\\d{10}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request was successful.",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "description": "GET DELEGATIONS OK description",
                    "value": {
                      "tracking": "c209d91efee936e1d315d868f06f763d",
                      "locator": "47a94d",
                      "delegationsTo": [],
                      "delegationsFrom": [],
                      "messages": [
                        {
                          "type": "INFO",
                          "message": "OK"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/DelegationInfoResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This resource is being accessed with invalid or inactive tokens. Please check that the tokens in use are active in Filer Management or are assigned to active individuals.",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "description": "The request does not include any valid tokens for accessing this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Unauthorized"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. A valid Filer API Token and User Access Token must be provided with this request. Please ensure that the User identified by the User Access Token is authorized to perform the action.",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "description": "The request had included valid tokens but that does not give access to this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Forbidden."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error. An unexpected server-side error has occurred.",
            "content": {
              "application/json": {
                "examples": {
                  "Internal server error": {
                    "description": "An unexpected internal error has occurred processing this request. Contact EDGAR Help Desk with your tracking number to troubleshoot.",
                    "value": {
                      "tracking": "937de162bf9f1b6e7fc2bfb1165c1998",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "An unexpected error has occurred."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Filer API Token and User API Token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.edgarfiling.sec.gov",
            "description": "EDGAR Filer Management API"
          }
        ]
      }
    },
    "/fm/{cik}/individuals": {
      "post": {
        "summary": "Add individuals",
        "description": "The add individuals API allows for one or more individuals to be added in specific role(s) for a filer. This API will require the following\ninputs: the filer API token, the user API token, the EDGAR account CIK for which individuals are to be added, a list of individuals\n(identified by their names and Login.gov email addresses), and their new roles. The individual associated with the user API token must be\nan account administrator of the CIK for which individuals are to be added. The filer API token supplied for the request must either match\nthe CIK for which individuals are to be added or the CIK of the filer API token must have delegation from that CIK.\n",
        "operationId": "Add Individuals",
        "tags": [
          "Filer Management API"
        ],
        "parameters": [
          {
            "name": "cik",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "\\d{10}"
            }
          }
        ],
        "requestBody": {
          "description": "List of individuals and associated roles",
          "content": {
            "application/json": {
              "examples": {
                "Add Single Individual": {
                  "summary": "Single individual (with email, first name, middle name, last name) and related roles",
                  "description": "Single individual (with email, first name, middle name, last name) and related roles",
                  "value": [
                    {
                      "email": "barry.allen@flash.com",
                      "firstName": "Bartholomew",
                      "middleName": "Henry",
                      "lastName": "Allen",
                      "inAdminRole": false,
                      "inTechAdminRole": true,
                      "inUserRole": true
                    }
                  ]
                },
                "Add Multiple Individuals": {
                  "summary": "Multiple individuals (with email, first name, middle name, last name) and related roles",
                  "description": "Multiple individuals (with email, first name, middle name, last name) and related roles",
                  "value": [
                    {
                      "email": "money.penny@007.com",
                      "firstName": "Money",
                      "lastName": "Penny",
                      "inAdminRole": true,
                      "inTechAdminRole": true,
                      "inUserRole": false
                    },
                    {
                      "email": "barry.allen@flash.com",
                      "firstName": "Bartholomew",
                      "middleName": "Henry",
                      "lastName": "Allen",
                      "inAdminRole": false,
                      "inTechAdminRole": true,
                      "inUserRole": true
                    }
                  ]
                }
              },
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IndividualRole"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK. The request was successful.",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "description": "ADD INDIVIDUALS OK DESCRIPTION",
                    "value": {
                      "tracking": "c209d91efee936e1d315d868f06f763d",
                      "locator": "47a94d",
                      "responses": [],
                      "messages": [
                        {
                          "type": "INFO",
                          "message": "Invite(s) created."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/FilerInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was not successful, possibly due to invalid data",
            "content": {
              "application/json": {
                "examples": {
                  "Bad request": {
                    "description": "Input error (invalid data)",
                    "value": {
                      "tracking": "c209d91efee936e1d315d868f06f763d",
                      "locator": "47a94d",
                      "messages": [
                        {
                          "type": "ERROR",
                          "message": "Invalid data"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/IndividualInfoResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This resource is being accessed with invalid or inactive tokens. Please check that the tokens in use are active in Filer Management or are assigned to active individuals.",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "description": "The request does not include any valid tokens for accessing this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Unauthorized"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. A valid Filer API Token and User Access Token must be provided with this request. Please ensure that the User identified by the User Access Token is authorized to perform the action.",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "description": "The request had included valid tokens but that does not give access to this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Forbidden."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error. An unexpected server-side error has occurred.",
            "content": {
              "application/json": {
                "examples": {
                  "Internal server error": {
                    "description": "An unexpected internal error has occurred processing this request. Contact EDGAR Help Desk with your tracking number to troubleshoot.",
                    "value": {
                      "tracking": "937de162bf9f1b6e7fc2bfb1165c1998",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "An unexpected error has occurred."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Filer API Token and User API Token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.edgarfiling.sec.gov",
            "description": "EDGAR Filer Management API"
          }
        ]
      },
      "get": {
        "summary": "View individuals",
        "description": "The view individuals API provides the ability to view all individuals with a role for an EDGAR account/CIK. This API will require the following\ninputs: the filer API token, the user API token, and the CIK for which individuals are to be viewed. The individual associated with the user\nAPI token must be an account administrator of the CIK for which individuals are to be viewed. The filer API token supplied for the request must\neither match the CIK for which individuals are to be viewed or the CIK of the filer API token must have delegation from that CIK.\n",
        "operationId": "View Individuals",
        "tags": [
          "Filer Management API"
        ],
        "parameters": [
          {
            "name": "cik",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "\\d{10}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request was successful.",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "description": "GET INDIVIDUALS OK description",
                    "value": {
                      "tracking": "c209d91efee936e1d315d868f06f763d",
                      "locator": "47a94d",
                      "individuals": [],
                      "messages": [
                        {
                          "type": "INFO",
                          "message": "OK"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/IndividualInfoResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This resource is being accessed with invalid or inactive tokens. Please check that the tokens in use are active in Filer Management or are assigned to active individuals.",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "description": "The request does not include any valid tokens for accessing this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Unauthorized"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. A valid Filer API Token and User Access Token must be provided with this request. Please ensure that the User identified by the User Access Token is authorized to perform the action.",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "description": "The request had included valid tokens but that does not give access to this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Forbidden."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error. An unexpected server-side error has occurred.",
            "content": {
              "application/json": {
                "examples": {
                  "Internal server error": {
                    "description": "An unexpected internal error has occurred processing this request. Contact EDGAR Help Desk with your tracking number to troubleshoot.",
                    "value": {
                      "tracking": "937de162bf9f1b6e7fc2bfb1165c1998",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "An unexpected error has occurred."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Filer API Token and User API Token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.edgarfiling.sec.gov",
            "description": "EDGAR Filer Management API"
          }
        ]
      },
      "put": {
        "summary": "Change roles",
        "description": "The change roles API provides the ability to update roles for individuals for a CIK. This API will require the following inputs: the filer API\ntoken, the user API token, the EDGAR account CIK for which roles are to be changed, a list of the individuals (identified by their Login.gov\nemail addresses), and their new roles (updated roles). The individual associated with the user API token must be an account administrator of\nthe CIK for which roles are to be changed. The filer API token supplied for the request must either match the CIK for which roles are to be\nchanged or the CIK of the filer API token must have delegation from that CIK.\n",
        "operationId": "Change Roles",
        "tags": [
          "Filer Management API"
        ],
        "parameters": [
          {
            "name": "cik",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "\\d{10}"
            }
          }
        ],
        "requestBody": {
          "description": "List of emails and related roles for updating individual roles",
          "content": {
            "application/json": {
              "examples": {
                "Update role for single individual": {
                  "summary": "Update role for single individual (email and related roles)",
                  "description": "Update role for single individual (email and related roles)",
                  "value": [
                    {
                      "email": "money.penny@007.com",
                      "inAdminRole": false,
                      "inTechAdminRole": false,
                      "inUserRole": true
                    }
                  ]
                },
                "Update role for multiple individuals": {
                  "summary": "Update role for multiple individuals (email and related roles)",
                  "description": "Update role for multiple individuals (email and related roles)",
                  "value": [
                    {
                      "email": "money.penny@007.com",
                      "inAdminRole": false,
                      "inTechAdminRole": false,
                      "inUserRole": true
                    },
                    {
                      "email": "barry.allen@flash.com",
                      "inAdminRole": true,
                      "inTechAdminRole": false,
                      "inUserRole": false
                    }
                  ]
                }
              },
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EmailRole"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK. The request was successful.",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "description": "UPDATE INDIVIDUAL ROLES OK DESCRIPTION",
                    "value": {
                      "tracking": "c209d91efee936e1d315d868f06f763d",
                      "locator": "47a94d",
                      "messages": [
                        {
                          "type": "INFO",
                          "message": "<<message>>"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/FilerInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was not successful, possibly due to invalid data",
            "content": {
              "application/json": {
                "examples": {
                  "Bad request": {
                    "description": "Input error (invalid data)",
                    "value": {
                      "tracking": "c209d91efee936e1d315d868f06f763d",
                      "locator": "47a94d",
                      "messages": [
                        {
                          "type": "ERROR",
                          "message": "Invalid data"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/IndividualInfoResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This resource is being accessed with invalid or inactive tokens. Please check that the tokens in use are active in Filer Management or are assigned to active individuals.",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "description": "The request does not include any valid tokens for accessing this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Unauthorized"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. A valid Filer API Token and User Access Token must be provided with this request. Please ensure that the User identified by the User Access Token is authorized to perform the action.",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "description": "The request had included valid tokens but that does not give access to this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Forbidden."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error. An unexpected server-side error has occurred.",
            "content": {
              "application/json": {
                "examples": {
                  "Internal server error": {
                    "description": "An unexpected internal error has occurred processing this request. Contact EDGAR Help Desk with your tracking number to troubleshoot.",
                    "value": {
                      "tracking": "937de162bf9f1b6e7fc2bfb1165c1998",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "An unexpected error has occurred."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Filer API Token and User API Token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.edgarfiling.sec.gov",
            "description": "EDGAR Filer Management API"
          }
        ]
      },
      "delete": {
        "summary": "Remove individuals",
        "description": "The remove individuals API provides the ability to remove one or more individuals. This API will require the following inputs: the filer API\ntoken, the user API token, the EDGAR account CIK for which individuals are to be removed, a list of individuals (identified by their\nLogin.gov email addresses), and their roles to be removed. The individual associated with the user API token must be an account administrator\nof the CIK for which individuals are to be removed. The filer API token supplied for the request must either match the CIK for which individuals\nare to be removed or the CIK of the filer API token must have delegation from that CIK.\n",
        "operationId": "Remove Individuals",
        "tags": [
          "Filer Management API"
        ],
        "parameters": [
          {
            "name": "cik",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "\\d{10}"
            }
          }
        ],
        "requestBody": {
          "description": "List of emails of individuals for removal",
          "content": {
            "application/json": {
              "examples": {
                "Remove single individual": {
                  "summary": "Remove single individual (email)",
                  "description": "Remove single individual (email)",
                  "value": [
                    "money.penny@007.com"
                  ]
                },
                "Remove multiple individuals": {
                  "summary": "Remove multiple individuals (email)",
                  "description": "Remove multiple individuals (email)",
                  "value": [
                    "money.penny@007.com",
                    "barry.allen@flash.com"
                  ]
                }
              },
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK. The request was successful.",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "description": "REMOVE INDIVIDUALS OK DESCRIPTION",
                    "value": {
                      "tracking": "c209d91efee936e1d315d868f06f763d",
                      "locator": "47a94d",
                      "messages": [
                        {
                          "type": "INFO",
                          "message": "<<message>>"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/FilerInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request was not successful, possibly due to invalid data",
            "content": {
              "application/json": {
                "examples": {
                  "Bad request": {
                    "description": "Input error (invalid data)",
                    "value": {
                      "tracking": "c209d91efee936e1d315d868f06f763d",
                      "locator": "47a94d",
                      "messages": [
                        {
                          "type": "ERROR",
                          "message": "Invalid data"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/IndividualInfoResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This resource is being accessed with invalid or inactive tokens. Please check that the tokens in use are active in Filer Management or are assigned to active individuals.",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "description": "The request does not include any valid tokens for accessing this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Unauthorized"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. A valid Filer API Token and User Access Token must be provided with this request. Please ensure that the User identified by the User Access Token is authorized to perform the action.",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "description": "The request had included valid tokens but that does not give access to this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Forbidden."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error. An unexpected server-side error has occurred.",
            "content": {
              "application/json": {
                "examples": {
                  "Internal server error": {
                    "description": "An unexpected internal error has occurred processing this request. Contact EDGAR Help Desk with your tracking number to troubleshoot.",
                    "value": {
                      "tracking": "937de162bf9f1b6e7fc2bfb1165c1998",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "An unexpected error has occurred."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Filer API Token and User API Token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.edgarfiling.sec.gov",
            "description": "EDGAR Filer Management API"
          }
        ]
      }
    },
    "/fm/{cik}/verify": {
      "get": {
        "summary": "Filing credentials verification",
        "description": "The filing credentials verification API provides the ability to view filing credentials for an EDGAR account/CIK. The API GET method requires\nthe filer API token and the user API token in the header along with the relevant CIK in the path of the URL. The individual associated with\nthe user API token must be a user, account administrator, delegated user, or delegated account administrator of the CIK for which the filing\ncredentials are to be verified. The filer API token supplied for the request must either match the CIK for which filing\ncredentials are to be verified or the CIK of the filer API token must have delegation from that CIK.\n",
        "operationId": "Filing Credentials Verification",
        "tags": [
          "Filer Management API"
        ],
        "parameters": [
          {
            "name": "cik",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "\\d{10}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request was successful.",
            "content": {
              "application/json": {
                "examples": {
                  "OK - Can file": {
                    "summary": "OK - Can file",
                    "description": "Individual can file.",
                    "value": {
                      "tracking": "8bdd9ff5f82da173d41bf1ed03a80af4",
                      "locator": "47a94d",
                      "messages": [
                        {
                          "type": "INFO",
                          "content": "OK"
                        }
                      ],
                      "canFile": false
                    }
                  },
                  "OK - Cannot file": {
                    "summary": "OK - Cannot file ",
                    "description": "Individual cannot file",
                    "value": {
                      "tracking": "8bdd9ff5f82da173d41bf1ed03a80af4",
                      "locator": "47a94d",
                      "messages": [
                        {
                          "type": "INFO",
                          "content": "OK"
                        }
                      ],
                      "canFile": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/FilerCheckResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This resource is being accessed with invalid or inactive tokens. Please check that the tokens in use are active in Filer Management or are assigned to active individuals.",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "description": "The request does not include any valid tokens for accessing this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Unauthorized"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error. An unexpected server-side error has occurred.",
            "content": {
              "application/json": {
                "examples": {
                  "Internal server error": {
                    "description": "An unexpected internal error has occurred processing this request. Contact EDGAR Help Desk with your tracking number to troubleshoot.",
                    "value": {
                      "tracking": "937de162bf9f1b6e7fc2bfb1165c1998",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "An unexpected error has occurred."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Filer API Token and User API Token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.edgarfiling.sec.gov",
            "description": "EDGAR Filer Management API"
          }
        ]
      }
    },
    "/status": {
      "get": {
        "summary": "EDGAR System Status",
        "description": "Uses EDGAR operating hours logic and communicates with other EDGAR components to determine the ability of the system to receive API calls and submissions.",
        "operationId": "EDGAR System Status",
        "tags": [
          "EDGAR Operational Status API"
        ],
        "responses": {
          "200": {
            "description": "Ok. The EDGAR system was able to provide a status response.",
            "content": {
              "application/json": {
                "examples": {
                  "Accepting submissions": {
                    "description": "EDGAR is available because EDGAR is reporting that it is operational and within operating hours.",
                    "value": {
                      "tracking": "6345f99403f9c8014e4332a8cba2c5a6",
                      "locator": "l33922",
                      "message": "EDGAR is available because EDGAR is reporting that it is operational and within operating hours.",
                      "condition": "ACCEPTING"
                    }
                  },
                  "Accepting submissions with technical difficulties": {
                    "description": "EDGAR is experiencing technical difficulties. Consult the EDGAR News and Announcements page on SEC.gov (https://www.sec.gov/submit-filings/edgar-news-announcements) for more information.",
                    "value": {
                      "tracking": "6345f99403f9c8014e4332a8cba2c5a6",
                      "locator": "l33922",
                      "message": "EDGAR is experiencing technical difficulties. Consult the EDGAR News and Announcements page on SEC.gov (https://www.sec.gov/submit-filings/edgar-news-announcements) for more information.",
                      "condition": "ACCEPTING_WITH_TECHNICAL_DIFFICULTIES"
                    }
                  },
                  "Accepting submissions after hours": {
                    "description": "EDGAR is operating normally. Certain submissions listed in the EDGAR Filer Manual for which transmission begins now (and is completed prior to 10 p.m.) will be treated as filed today. Other submissions will receive a filing date of the next business day.",
                    "value": {
                      "tracking": "6345f99403f9c8014e4332a8cba2c5a6",
                      "locator": "l33922",
                      "message": "EDGAR is operating normally. Certain submissions listed in the EDGAR Filer Manual for which transmission begins now (and is completed prior to 10 p.m.) will be treated as filed today. Other submissions will receive a filing date of the next business day.",
                      "condition": "ACCEPTING_AFTER_HOURS"
                    }
                  },
                  "Accepting submissions after hours with technical difficulties": {
                    "description": "\"EDGAR is experiencing technical difficulties. Consult the EDGAR News and Announcements page on SEC.gov (https://www.sec.gov/submit-filings/edgar-news-announcements) for more information. Certain submissions listed in the EDGAR Filer Manual for which transmission begins now (and is completed prior to 10 p.m.) will be treated as filed today. Other submissions will receive a filing date of the next business day.",
                    "value": {
                      "tracking": "6345f99403f9c8014e4332a8cba2c5a6",
                      "locator": "l33922",
                      "message": "EDGAR is experiencing technical difficulties. Consult the EDGAR News and Announcements page on SEC.gov (https://www.sec.gov/submit-filings/edgar-news-announcements) for more information. Certain submissions listed in the EDGAR Filer Manual for which transmission begins now (and is completed prior to 10 p.m.) will be treated as filed today. Other submissions will receive a filing date of the next business day.",
                      "condition": "ACCEPTING_AFTER_HOURS_WITH_TECHNICAL_DIFFICULTIES"
                    }
                  },
                  "Outside hours of operation": {
                    "description": "EDGAR is not available because EDGAR is reporting that it is not within operating hours.",
                    "value": {
                      "tracking": "8bdd9ff5f82da173d41bf1ed03a80af4",
                      "locator": "l33922",
                      "message": "EDGAR is not available because EDGAR is reporting that it is not within operating hours.",
                      "condition": "OUTSIDE_OPERATING_HOURS"
                    }
                  },
                  "No communication": {
                    "description": "EDGAR is not available for API communication due to technical difficulties or other connection issues.",
                    "value": {
                      "tracking": "5e981101d4bfdee09b95c6f1d53e8551",
                      "locator": "l33922",
                      "message": "EDGAR is not available for API communication due to technical difficulties or other connection issues.",
                      "condition": "NO_COMMUNICATION"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This resource is being accessed with invalid or inactive tokens. Please check that the tokens in use are active in Filer Management or are assigned to active individuals.",
            "content": {
              "application/json": {
                "examples": {
                  "Unauthorized": {
                    "description": "The request does not include any valid tokens for accessing this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Unauthorized"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. This resource requires a valid Filer API Token. Please ensure that the token that is being used is a Filer API Token and is active in Filer Management.",
            "content": {
              "application/json": {
                "examples": {
                  "Forbidden": {
                    "description": "The request has included at least one valid token but that token do not give access to this resource.",
                    "value": {
                      "tracking": "68e8ce7c1552544bccbdccd2663dced4",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "Forbidden."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error. An unexpected server-side error has occurred.",
            "content": {
              "application/json": {
                "examples": {
                  "Server Error": {
                    "description": "An unexpected internal error has occurred processing this request. Contact EDGAR Help Desk with your tracking number to troubleshoot.",
                    "value": {
                      "tracking": "937de162bf9f1b6e7fc2bfb1165c1998",
                      "locator": "19ab67",
                      "messages": [
                        {
                          "type": "ERROR",
                          "content": "An unexpected error has occurred."
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Filer API Token": []
          }
        ],
        "servers": [
          {
            "url": "https://api.edgarfiling.sec.gov",
            "description": "EDGAR Operational Status API"
          }
        ]
      }
    },
    "/submission/bulk/live": {
      "post": {
        "summary": "Bulk Live Submission",
        "description": "Allows an authorized filer to transmit a BULK LIVE submission file. When an authorized filer transmits a filing to this resource it will transmit the file to EDGAR and return a list of accession numbers. EDGAR will then begin processing the submissions.",
        "operationId": "Bulk Live Submission",
        "tags": [
          "Submission API"
        ],
        "parameters": [
          {
            "deprecated": true,
            "description": "DEPRECATED in favor of X-EDGAR-LOGIN-CIK. If a value is sent in X-EDGAR-LOGIN-CIK this header will be ignored. If no header value is sent in X-EDGAR-LOGIN-CIK this header's value (if present) will be used. An optional header to use to provide an alternate CIK to use to generate the accession number of the submission. The provided CIK must delegate to the CIK that the Filer API Token belongs to and the User API Token must represent a user that has permission to file for that CIK. This must be a valid CIK and cannot be blank or empty.",
            "examples": {
              "None": {},
              "Example CIK": {
                "value": "0000350001"
              }
            },
            "in": "header",
            "name": "X-EDGAR-CIK",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "An optional header to use to provide an alternate CIK to use to generate the accession number of the submission. The provided CIK must delegate to the CIK that the Filer API Token belongs to and the User API Token must represent a user that has permission to file for that CIK. This must be a valid CIK and cannot be blank or empty.",
            "examples": {
              "None": {},
              "Example CIK": {
                "value": "0000350001"
              }
            },
            "in": "header",
            "name": "X-EDGAR-LOGIN-CIK",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A bulk live submission, in XML format, that will be transmitted to EDGAR and processed.",
          "content": {
            "application/octet-stream": {
              "examples": {
                "Bulk Live Submission": {
                  "description": "A valid bulk live submission",
                  "value": "<?xml version=\"1.0\" ?>\n<bul:edgarBulkSubmission xmlns:bul=\"http://www.sec.gov/edgar/bulkfiling\">\n  <bul:liveTestFlag>LIVE</bul:liveTestFlag>\n  <bul:attachments>\n    <bul:attachment>\n      <bul:submissionName>S-1.xml</bul:submissionName>\n      <bul:contents>PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxjb3I6ZWRnYXJTdWJtaXNzaW9uIHhtbG5zOmNvcj0iaHR0\ncDovL3d3dy5zZWMuZ292L2VkZ2FyL2NvcmVnZmVlIiB4bWxuczpjb209Imh0dHA6Ly93d3cuc2Vj\nLmdvdi9lZGdhci9jb21tb24iIHhtbG5zOmZlZWM9Imh0dHA6Ly93d3cuc2VjLmdvdi9lZGdhci9m\nZWVjb21tb24iPgogIDxjb3I6bGl2ZVRlc3RGbGFnPkxJVkU8L2NvcjpsaXZlVGVzdEZsYWc+CiAg\nPGNvcjpmbGFncz4KICAgIDxjb3I6Y29uZmlybWluZ0NvcHlGbGFnPmZhbHNlPC9jb3I6Y29uZmly\nbWluZ0NvcHlGbGFnPgogICAgPGNvcjpkZWxheWluZ0FtZW5kbWVudEZsYWc+ZmFsc2U8L2Nvcjpk\nZWxheWluZ0FtZW5kbWVudEZsYWc+CiAgICA8Y29yOm92ZXJyaWRlSW50ZXJuZXRGbGFnPmZhbHNl\nPC9jb3I6b3ZlcnJpZGVJbnRlcm5ldEZsYWc+CiAgICA8Y29yOnJldHVybkNvcHlGbGFnPmZhbHNl\nPC9jb3I6cmV0dXJuQ29weUZsYWc+CiAgPC9jb3I6ZmxhZ3M+CiAgPGNvcjpzdWJtaXNzaW9uVHlw\nZT5TLTE8L2NvcjpzdWJtaXNzaW9uVHlwZT4KICA8Y29yOmZpbGVyPgogICAgPGNvcjpmaWxlcklk\nPjAzMDE0NTEzMjE8L2NvcjpmaWxlcklkPgogICAgPGNvcjpmaWxlckNjYz4jZWVjYjk4YTwvY29y\nOmZpbGVyQ2NjPgogICAgPGNvcjpmaWxlckZvcm1UeXBlPlMtMTwvY29yOmZpbGVyRm9ybVR5cGU+\nCiAgPC9jb3I6ZmlsZXI+CiAgPGNvcjpzcm9zPgogICAgPGNvbTpzcm9JZD5OT05FPC9jb206c3Jv\nSWQ+CiAgPC9jb3I6c3Jvcz4KICA8Y29yOnNtYWxsQnVzaW5lc3NGbGFnPmZhbHNlPC9jb3I6c21h\nbGxCdXNpbmVzc0ZsYWc+CiAgPGNvcjplbWVyZ2luZ0dyb3d0aENvbXBhbnlGbGFnPmZhbHNlPC9j\nb3I6ZW1lcmdpbmdHcm93dGhDb21wYW55RmxhZz4KICA8Y29yOm5vdGlmaWNhdGlvbnM+CiAgICA8\nY29tOmludGVybmV0Tm90aWZpY2F0aW9uQWRkcmVzcz5vaGhAc2VjLmdvdjwvY29tOmludGVybmV0\nTm90aWZpY2F0aW9uQWRkcmVzcz4KICA8L2Nvcjpub3RpZmljYXRpb25zPgogIDxjb3I6ZG9jdW1l\nbnRzPgogICAgPGNvbTpkb2N1bWVudD4KICAgICAgPGNvbTpjb25mb3JtZWROYW1lPmRvYzEudHh0\nPC9jb206Y29uZm9ybWVkTmFtZT4KICAgICAgPGNvbTpjb25mb3JtZWREb2N1bWVudFR5cGU+Uy0x\nPC9jb206Y29uZm9ybWVkRG9jdW1lbnRUeXBlPgogICAgICA8Y29tOmNvbnRlbnRzPktpb3FLaW9x\nS2lvcUtpb3FLaW9xS2lvcUtpb3FLaW9xS2lvcUtpb3FLaW9xS2lvcUtpb3FEUXBHYVhKemRDQmti\nMk4xYldWdQpkQTBLRFFvZ0lDQWdJQ0FnSUZOUVJVTkpUVVZPSUMwZ1RrOVVJRUZPSUU5R1JrbERT\nVUZNSUVaSlRFbE9SdzBLRFFvcUtpb3EKS2lvcUtpb3FLaW9xS2lvcUtpb3FLaW9xS2lvcUtpb3FL\naW9xS2lvcUtpb3FLaW9OQ2cwSwo8L2NvbTpjb250ZW50cz4KICAgIDwvY29tOmRvY3VtZW50Pgog\nICAgPGNvbTpkb2N1bWVudD4KICAgICAgPGNvbTpjb25mb3JtZWROYW1lPmRvYzIudHh0PC9jb206\nY29uZm9ybWVkTmFtZT4KICAgICAgPGNvbTpjb25mb3JtZWREb2N1bWVudFR5cGU+Q09WRVI8L2Nv\nbTpjb25mb3JtZWREb2N1bWVudFR5cGU+CiAgICAgIDxjb206Y29udGVudHM+S2lvcUtpb3FLaW9x\nS2lvcUtpb3FLaW9xS2lvcUtpb3FLaW9xS2lvcUtpb3FLaW9xS2lvcURRcEJaSFpoYm1ObFpDQlRi\nMlowCmQyRnlaU0JUZVhOMFpXMXpEUW9nSUNBZ0lDQWdJRk5RUlVOSlRVVk9JQzBnVGs5VUlFRk9J\nRTlHUmtsRFNVRk1JRVpKVEVsTwpSdzBLRFFvcUtpb3FLaW9xS2lvcUtpb3FLaW9xS2lvcUtpb3FL\naW9xS2lvcUtpb3FLaW9xS2lvcUtpb05DZzBLCjwvY29tOmNvbnRlbnRzPgogICAgPC9jb206ZG9j\ndW1lbnQ+CiAgPC9jb3I6ZG9jdW1lbnRzPgogIDxjb3I6ZWRnYXJGZWU+CiAgICA8Y29yOnN1Ym1p\nc3Npb25GZWU+CiAgICAgIDxmZWVjOmZlZVBheW9ySW5mb3JtYXRpb24+CiAgICAgICAgPGZlZWM6\nZmlsZXJJZD4wMDAxMTI1ODUxPC9mZWVjOmZpbGVySWQ+CiAgICAgICAgPGZlZWM6ZmlsZXJDY2M+\nI3RlY2gxMjM8L2ZlZWM6ZmlsZXJDY2M+CiAgICAgIDwvZmVlYzpmZWVQYXlvckluZm9ybWF0aW9u\nPgogICAgICA8ZmVlYzpmZWVQYXltZW50TWV0aG9kPkZFRFdJUkU8L2ZlZWM6ZmVlUGF5bWVudE1l\ndGhvZD4KICAgICAgPGZlZWM6ZmVlQW1vdW50PjE0LjQwPC9mZWVjOmZlZUFtb3VudD4KICAgIDwv\nY29yOnN1Ym1pc3Npb25GZWU+CiAgICA8Y29yOnN1Ym1pc3Npb25PZmZlcmluZz4KICAgICAgPGZl\nZWM6ZmVlT2ZmZXJpbmdTZWN1cml0eU5hbWU+RGVidDwvZmVlYzpmZWVPZmZlcmluZ1NlY3VyaXR5\nTmFtZT4KICAgICAgPGZlZWM6ZmVlT2ZmZXJpbmdTaGFyZXM+MTEwMTwvZmVlYzpmZWVPZmZlcmlu\nZ1NoYXJlcz4KICAgICAgPGZlZWM6ZmVlT2ZmZXJpbmdBbW91bnRQZXJTaGFyZT4xMDAwLjAwMDA8\nL2ZlZWM6ZmVlT2ZmZXJpbmdBbW91bnRQZXJTaGFyZT4KICAgICAgPGZlZWM6ZmVlT2ZmZXJpbmdB\nZ2dyZWdhdGVQcmljZT4xMTAxMDIuMzY8L2ZlZWM6ZmVlT2ZmZXJpbmdBZ2dyZWdhdGVQcmljZT4K\nICAgIDwvY29yOnN1Ym1pc3Npb25PZmZlcmluZz4KICA8L2NvcjplZGdhckZlZT4KPC9jb3I6ZWRn\nYXJTdWJtaXNzaW9uPg==\n</bul:contents>\n    </bul:attachment>\n    <bul:attachment>\n      <bul:submissionName>8-K.xml</bul:submissionName>\n      <bul:contents>PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxjb3I6ZWRnYXJTdWJtaXNzaW9uIHhtbG5zOmNvcj0iaHR0\ncDovL3d3dy5zZWMuZ292L2VkZ2FyL2NvcmVnIiB4bWxuczpjb209Imh0dHA6Ly93d3cuc2VjLmdv\ndi9lZGdhci9jb21tb24iPgogIDxjb3I6bGl2ZVRlc3RGbGFnPkxJVkU8L2NvcjpsaXZlVGVzdEZs\nYWc+CiAgPGNvcjpmbGFncz4KICAgIDxjb206Y29uZmlybWluZ0NvcHlGbGFnPmZhbHNlPC9jb206\nY29uZmlybWluZ0NvcHlGbGFnPgogICAgPGNvbTpvdmVycmlkZUludGVybmV0RmxhZz5mYWxzZTwv\nY29tOm92ZXJyaWRlSW50ZXJuZXRGbGFnPgogICAgPGNvbTpyZXR1cm5Db3B5RmxhZz5mYWxzZTwv\nY29tOnJldHVybkNvcHlGbGFnPgogIDwvY29yOmZsYWdzPgogIDxjb3I6c3VibWlzc2lvblR5cGU+\nOC1LPC9jb3I6c3VibWlzc2lvblR5cGU+CiAgPGNvcjpmaWxlcj4KICAgIDxjb3I6ZmlsZXJJZD4w\nMzAxNzIyODQ4PC9jb3I6ZmlsZXJJZD4KICAgIDxjb3I6ZmlsZXJDY2M+YmNjOW9lI2U8L2Nvcjpm\naWxlckNjYz4KICA8L2NvcjpmaWxlcj4KICA8Y29yOnNyb3M+CiAgICA8Y29tOnNyb0lkPk5PTkU8\nL2NvbTpzcm9JZD4KICA8L2Nvcjpzcm9zPgogIDxjb3I6aXRlbXM+CiAgICA8Y29yOml0ZW0+MS4w\nMTwvY29yOml0ZW0+CiAgPC9jb3I6aXRlbXM+CiAgPGNvcjplbWVyZ2luZ0dyb3d0aENvbXBhbnlG\nbGFnPnRydWU8L2NvcjplbWVyZ2luZ0dyb3d0aENvbXBhbnlGbGFnPgogIDxjb3I6ZG9jdW1lbnRz\nPgogICAgPGNvbTpkb2N1bWVudD4KICAgICAgPGNvbTpjb25mb3JtZWROYW1lPmZpbGUudHh0PC9j\nb206Y29uZm9ybWVkTmFtZT4KICAgICAgPGNvbTpjb25mb3JtZWREb2N1bWVudFR5cGU+OC1LPC9j\nb206Y29uZm9ybWVkRG9jdW1lbnRUeXBlPgogICAgICA8Y29tOmNvbnRlbnRzPmRHVnpkQT09PC9j\nb206Y29udGVudHM+CiAgICA8L2NvbTpkb2N1bWVudD4KICA8L2Nvcjpkb2N1bWVudHM+CjwvY29y\nOmVkZ2FyU3VibWlzc2lvbj4=\n</bul:contents>\n    </bul:attachment>\n  </bul:attachments>\n</bul:edgarBulkSubmission>"
                }
              },
              "schema": {
                "type": "string",
                "format": "xml"
              }
            },
            "application/xml": {
              "examples": {
                "Bulk Live Submission": {
                  "description": "A valid bulk live submission",
                  "value": "<?xml version=\"1.0\" ?>\n<bul:edgarBulkSubmission xmlns:bul=\"http://www.sec.gov/edgar/bulkfiling\">\n  <bul:liveTestFlag>LIVE</bul:liveTestFlag>\n  <bul:attachments>\n    <bul:attachment>\n      <bul:submissionName>S-1.xml</bul:submissionName>\n      <bul:contents>PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxjb3I6ZWRnYXJTdWJtaXNzaW9uIHhtbG5zOmNvcj0iaHR0\ncDovL3d3dy5zZWMuZ292L2VkZ2FyL2NvcmVnZmVlIiB4bWxuczpjb209Imh0dHA6Ly93d3cuc2Vj\nLmdvdi9lZGdhci9jb21tb24iIHhtbG5zOmZlZWM9Imh0dHA6Ly93d3cuc2VjLmdvdi9lZGdhci9m\nZWVjb21tb24iPgogIDxjb3I6bGl2ZVRlc3RGbGFnPkxJVkU8L2NvcjpsaXZlVGVzdEZsYWc+CiAg\nPGNvcjpmbGFncz4KICAgIDxjb3I6Y29uZmlybWluZ0NvcHlGbGFnPmZhbHNlPC9jb3I6Y29uZmly\nbWluZ0NvcHlGbGFnPgogICAgPGNvcjpkZWxheWluZ0FtZW5kbWVudEZsYWc+ZmFsc2U8L2Nvcjpk\nZWxheWluZ0FtZW5kbWVudEZsYWc+CiAgICA8Y29yOm92ZXJyaWRlSW50ZXJuZXRGbGFnPmZhbHNl\nPC9jb3I6b3ZlcnJpZGVJbnRlcm5ldEZsYWc+CiAgICA8Y29yOnJldHVybkNvcHlGbGFnPmZhbHNl\nPC9jb3I6cmV0dXJuQ29weUZsYWc+CiAgPC9jb3I6ZmxhZ3M+CiAgPGNvcjpzdWJtaXNzaW9uVHlw\nZT5TLTE8L2NvcjpzdWJtaXNzaW9uVHlwZT4KICA8Y29yOmZpbGVyPgogICAgPGNvcjpmaWxlcklk\nPjAzMDE0NTEzMjE8L2NvcjpmaWxlcklkPgogICAgPGNvcjpmaWxlckNjYz4jZWVjYjk4YTwvY29y\nOmZpbGVyQ2NjPgogICAgPGNvcjpmaWxlckZvcm1UeXBlPlMtMTwvY29yOmZpbGVyRm9ybVR5cGU+\nCiAgPC9jb3I6ZmlsZXI+CiAgPGNvcjpzcm9zPgogICAgPGNvbTpzcm9JZD5OT05FPC9jb206c3Jv\nSWQ+CiAgPC9jb3I6c3Jvcz4KICA8Y29yOnNtYWxsQnVzaW5lc3NGbGFnPmZhbHNlPC9jb3I6c21h\nbGxCdXNpbmVzc0ZsYWc+CiAgPGNvcjplbWVyZ2luZ0dyb3d0aENvbXBhbnlGbGFnPmZhbHNlPC9j\nb3I6ZW1lcmdpbmdHcm93dGhDb21wYW55RmxhZz4KICA8Y29yOm5vdGlmaWNhdGlvbnM+CiAgICA8\nY29tOmludGVybmV0Tm90aWZpY2F0aW9uQWRkcmVzcz5vaGhAc2VjLmdvdjwvY29tOmludGVybmV0\nTm90aWZpY2F0aW9uQWRkcmVzcz4KICA8L2Nvcjpub3RpZmljYXRpb25zPgogIDxjb3I6ZG9jdW1l\nbnRzPgogICAgPGNvbTpkb2N1bWVudD4KICAgICAgPGNvbTpjb25mb3JtZWROYW1lPmRvYzEudHh0\nPC9jb206Y29uZm9ybWVkTmFtZT4KICAgICAgPGNvbTpjb25mb3JtZWREb2N1bWVudFR5cGU+Uy0x\nPC9jb206Y29uZm9ybWVkRG9jdW1lbnRUeXBlPgogICAgICA8Y29tOmNvbnRlbnRzPktpb3FLaW9x\nS2lvcUtpb3FLaW9xS2lvcUtpb3FLaW9xS2lvcUtpb3FLaW9xS2lvcUtpb3FEUXBHYVhKemRDQmti\nMk4xYldWdQpkQTBLRFFvZ0lDQWdJQ0FnSUZOUVJVTkpUVVZPSUMwZ1RrOVVJRUZPSUU5R1JrbERT\nVUZNSUVaSlRFbE9SdzBLRFFvcUtpb3EKS2lvcUtpb3FLaW9xS2lvcUtpb3FLaW9xS2lvcUtpb3FL\naW9xS2lvcUtpb3FLaW9OQ2cwSwo8L2NvbTpjb250ZW50cz4KICAgIDwvY29tOmRvY3VtZW50Pgog\nICAgPGNvbTpkb2N1bWVudD4KICAgICAgPGNvbTpjb25mb3JtZWROYW1lPmRvYzIudHh0PC9jb206\nY29uZm9ybWVkTmFtZT4KICAgICAgPGNvbTpjb25mb3JtZWREb2N1bWVudFR5cGU+Q09WRVI8L2Nv\nbTpjb25mb3JtZWREb2N1bWVudFR5cGU+CiAgICAgIDxjb206Y29udGVudHM+S2lvcUtpb3FLaW9x\nS2lvcUtpb3FLaW9xS2lvcUtpb3FLaW9xS2lvcUtpb3FLaW9xS2lvcURRcEJaSFpoYm1ObFpDQlRi\nMlowCmQyRnlaU0JUZVhOMFpXMXpEUW9nSUNBZ0lDQWdJRk5RUlVOSlRVVk9JQzBnVGs5VUlFRk9J\nRTlHUmtsRFNVRk1JRVpKVEVsTwpSdzBLRFFvcUtpb3FLaW9xS2lvcUtpb3FLaW9xS2lvcUtpb3FL\naW9xS2lvcUtpb3FLaW9xS2lvcUtpb05DZzBLCjwvY29tOmNvbnRlbnRzPgogICAgPC9jb206ZG9j\ndW1lbnQ+CiAgPC9jb3I6ZG9jdW1lbnRzPgogIDxjb3I6ZWRnYXJGZWU+CiAgICA8Y29yOnN1Ym1p\nc3Npb25GZWU+CiAgICAgIDxmZWVjOmZlZVBheW9ySW5mb3JtYXRpb24+CiAgICAgICAgPGZlZWM6\nZmlsZXJJZD4wMDAxMTI1ODUxPC9mZWVjOmZpbGVySWQ+CiAgICAgICAgPGZlZWM6ZmlsZXJDY2M+\nI3RlY2gxMjM8L2ZlZWM6ZmlsZXJDY2M+CiAgICAgIDwvZmVlYzpmZWVQYXlvckluZm9ybWF0aW9u\nPgogICAgICA8ZmVlYzpmZWVQYXltZW50TWV0aG9kPkZFRFdJUkU8L2ZlZWM6ZmVlUGF5bWVudE1l\ndGhvZD4KICAgICAgPGZlZWM6ZmVlQW1vdW50PjE0LjQwPC9mZWVjOmZlZUFtb3VudD4KICAgIDwv\nY29yOnN1Ym1pc3Npb25GZWU+CiAgICA8Y29yOnN1Ym1pc3Npb25PZmZlcmluZz4KICAgICAgPGZl\nZWM6ZmVlT2ZmZXJpbmdTZWN1cml0eU5hbWU+RGVidDwvZmVlYzpmZWVPZmZlcmluZ1NlY3VyaXR5\nTmFtZT4KICAgICAgPGZlZWM6ZmVlT2ZmZXJpbmdTaGFyZXM+MTEwMTwvZmVlYzpmZWVPZmZlcmlu\nZ1NoYXJlcz4KICAgICAgPGZlZWM6ZmVlT2ZmZXJpbmdBbW91bnRQZXJTaGFyZT4xMDAwLjAwMDA8\nL2ZlZWM6ZmVlT2ZmZXJpbmdBbW91bnRQZXJTaGFyZT4KICAgICAgPGZlZWM6ZmVlT2ZmZXJpbmdB\nZ2dyZWdhdGVQcmljZT4xMTAxMDIuMzY8L2ZlZWM6ZmVlT2ZmZXJpbmdBZ2dyZWdhdGVQcmljZT4K\nICAgIDwvY29yOnN1Ym1pc3Npb25PZmZlcmluZz4KICA8L2NvcjplZGdhckZlZT4KPC9jb3I6ZWRn\nYXJTdWJtaXNzaW9uPg==\n</bul:contents>\n    </bul:attachment>\n    <bul:attachment>\n      <bul:submissionName>8-K.xml</bul:submissionName>\n      <bul:contents>PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxjb3I6ZWRnYXJTdWJtaXNzaW9uIHhtbG5zOmNvcj0iaHR0\ncDovL3d3dy5zZWMuZ292L2VkZ2FyL2NvcmVnIiB4bWxuczpjb209Imh0dHA6Ly93d3cuc2VjLmdv\ndi9lZGdhci9jb21tb24iPgogIDxjb3I6bGl2ZVRlc3RGbGFnPkxJVkU8L2NvcjpsaXZlVGVzdEZs\nYWc+CiAgPGNvcjpmbGFncz4KICAgIDxjb206Y29uZmlybWluZ0NvcHlGbGFnPmZhbHNlPC9jb206\nY29uZmlybWluZ0NvcHlGbGFnPgogICAgPGNvbTpvdmVycmlkZUludGVybmV0RmxhZz5mYWxzZTwv\nY29tOm92ZXJyaWRlSW50ZXJuZXRGbGFnPgogICAgPGNvbTpyZXR1cm5Db3B5RmxhZz5mYWxzZTwv\nY29tOnJldHVybkNvcHlGbGFnPgogIDwvY29yOmZsYWdzPgogIDxjb3I6c3VibWlzc2lvblR5cGU+\nOC1LPC9jb3I6c3VibWlzc2lvblR5cGU+CiAgPGNvcjpmaWxlcj4KICAgIDxjb3I6ZmlsZXJJZD4w\nMzAxNzIyODQ4PC9jb3I6ZmlsZXJJZD4KICAgIDxjb3I6ZmlsZXJDY2M+YmNjOW9lI2U8L2Nvcjpm\naWxlckNjYz4KICA8L2NvcjpmaWxlcj4KICA8Y29yOnNyb3M+CiAgICA8Y29tOnNyb0lkPk5PTkU8\nL2NvbTpzcm9JZD4KICA8L2Nvcjpzcm9zPgogIDxjb3I6aXRlbXM+CiAgICA8Y29yOml0ZW0+MS4w\nMTwvY29yOml0ZW0+CiAgPC9jb3I6aXRlbXM+CiAgPGNvcjplbWVyZ2luZ0dyb3d0aENvbXBhbnlG\nbGFnPnRydWU8L2NvcjplbWVyZ2luZ0dyb3d0aENvbXBhbnlGbGFnPgogIDxjb3I6ZG9jdW1lbnRz\nPgogICAgPGNvbTpkb2N1bWVudD4KICAgICAgPGNvbTpjb25mb3JtZWROYW1lPmZpbGUudHh0PC9j\nb206Y29uZm9ybWVkTmFtZT4KICAgICAgPGNvbTpjb25mb3JtZWREb2N1bWVudFR5cGU+OC1LPC9j\nb206Y29uZm9ybWVkRG9jdW1lbnRUeXBlPgogICAgICA8Y29tOmNvbnRlbnRzPmRHVnpkQT09PC9j\nb206Y29udGVudHM+CiAgICA8L2NvbTpkb2N1bWVudD4KICA8L2Nvcjpkb2N1bWVudHM+CjwvY29y\nOmVkZ2FyU3VibWlzc2lvbj4=\n</bul:contents>\n    </bul:attachment>\n  </bul:attachments>\n</bul:edgarBulkSubmission>"
                }
              },
              "schema": {
                "type": "string",
                "format": "xml"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted. The filing has been transmitted to the BULK TEST resource and the EDGAR system has generated accession number(s) for each contained filing. The submission(s) have begun processing.",
            "content": {
              "application/json": {
                "examples": {
                  "Accepted": {
                    "summary": "Accepted. The BULK TEST filing has been transmitted to EDGAR and accession number(s) generated",
                    "description": "Accepted. The filing has been transmitted to the BULK TEST resource and the EDGAR system has generated accession number(s) for each contained filing. The submission(s) have begun processing.",
                    "value": {
                      "tracking": "8bdd9ff5f82da173d41bf1ed03a80af4",
                      "locator": "47a94d",
                      "status": "RECEIVED",
                      "responses": [
                        {
                          "accessionNumber": "0000000000-22-000001",
                          "type": "LIVE",
                          "messages": []
                        },
                        {
                          "accessionNumber": "0000000000-22-000006",
                          "type": "LIVE",
                          "messages": []
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ListSubmissionResponse"
[...]
