{
  "openapi": "3.0.3",
  "info": {
    "title": "511 SF Bay Transit API",
    "description": "API providing San Francisco Bay Area transit data including real-time vehicle positions, trip updates, service alerts, stop monitoring, and schedule information.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://511.org/open-data/transit"
  },
  "servers": [
    {
      "url": "https://api.511.org",
      "description": "511 SF Bay API Server"
    }
  ],
  "paths": {
    "/transit/gtfsoperators": {
      "get": {
        "operationId": "getGtfsOperators",
        "tags": [
          "DataFeeds"
        ],
        "summary": "Get list of GTFS transit operators",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          }
        ],
        "responses": {
          "200": {
            "description": "List of GTFS operators",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Operator"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transit/datafeeds": {
      "get": {
        "operationId": "getDataFeeds",
        "tags": [
          "DataFeeds"
        ],
        "summary": "Get GTFS data feed for an operator",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operator_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Transit operator identifier"
          },
          {
            "name": "historic",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to return historic data"
          }
        ],
        "responses": {
          "200": {
            "description": "GTFS data feed (ZIP file)",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transit/tripupdates": {
      "get": {
        "operationId": "getTripUpdates",
        "tags": [
          "RealTime"
        ],
        "summary": "Get real-time trip updates for an agency",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Transit agency identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "GTFS-RT trip updates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripUpdateFeed"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transit/vehiclepositions": {
      "get": {
        "operationId": "getVehiclePositions",
        "tags": [
          "RealTime"
        ],
        "summary": "Get real-time vehicle positions for an agency",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Transit agency identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "GTFS-RT vehicle positions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehiclePositionFeed"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transit/servicealerts": {
      "get": {
        "operationId": "getServiceAlerts",
        "tags": [
          "RealTime"
        ],
        "summary": "Get service alerts",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Transit agency identifier"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ]
            },
            "description": "Response format"
          }
        ],
        "responses": {
          "200": {
            "description": "Service alerts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAlertFeed"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transit/StopMonitoring": {
      "get": {
        "operationId": "getStopMonitoring",
        "tags": [
          "RealTime"
        ],
        "summary": "Get real-time stop monitoring data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stopcode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Stop code to monitor"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stop monitoring data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StopMonitoringResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transit/VehicleMonitoring": {
      "get": {
        "operationId": "getVehicleMonitoring",
        "tags": [
          "RealTime"
        ],
        "summary": "Get real-time vehicle monitoring data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vehicleID",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specific vehicle ID to monitor"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle monitoring data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleMonitoringResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transit/operators": {
      "get": {
        "operationId": "getOperators",
        "tags": [
          "Schedule"
        ],
        "summary": "Get transit operators",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operator_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specific operator to retrieve"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of operators",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Operator"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transit/lines": {
      "get": {
        "operationId": "getLines",
        "tags": [
          "Schedule"
        ],
        "summary": "Get transit lines for an operator",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operator_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "line_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specific line to retrieve"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transit lines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TransitLine"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transit/stops": {
      "get": {
        "operationId": "getStops",
        "tags": [
          "Schedule"
        ],
        "summary": "Get transit stops for an operator",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operator_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transit stops",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TransitStop"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transit/stopplaces": {
      "get": {
        "operationId": "getStopPlaces",
        "tags": [
          "Schedule"
        ],
        "summary": "Get stop places for an operator",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operator_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stop_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specific stop place to retrieve"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stop places",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StopPlace"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transit/patterns": {
      "get": {
        "operationId": "getPatterns",
        "tags": [
          "Schedule"
        ],
        "summary": "Get route patterns for a line",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operator_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "line_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pattern_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Route patterns",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoutePattern"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transit/timetable": {
      "get": {
        "operationId": "getTimetable",
        "tags": [
          "Schedule"
        ],
        "summary": "Get timetable for a line",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operator_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "line_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timetable data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Timetable"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transit/stoptimetable": {
      "get": {
        "operationId": "getStopTimetable",
        "tags": [
          "Schedule"
        ],
        "summary": "Get timetable for a specific stop",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operatorref",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Operator reference"
          },
          {
            "name": "monitoringref",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Stop monitoring reference"
          }
        ],
        "responses": {
          "200": {
            "description": "Stop timetable data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Timetable"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transit/holidays": {
      "get": {
        "operationId": "getHolidays",
        "tags": [
          "Schedule"
        ],
        "summary": "Get holiday schedule for an operator",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operator_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Holiday schedule",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Holiday"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "Operator": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Monitored": {
            "type": "boolean"
          }
        }
      },
      "TripUpdateFeed": {
        "type": "object",
        "properties": {
          "header": {
            "type": "object"
          },
          "entity": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "VehiclePositionFeed": {
        "type": "object",
        "properties": {
          "header": {
            "type": "object"
          },
          "entity": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ServiceAlertFeed": {
        "type": "object",
        "properties": {
          "header": {
            "type": "object"
          },
          "entity": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "StopMonitoringResponse": {
        "type": "object",
        "properties": {
          "ServiceDelivery": {
            "type": "object",
            "properties": {
              "StopMonitoringDelivery": {
                "type": "object"
              }
            }
          }
        }
      },
      "VehicleMonitoringResponse": {
        "type": "object",
        "properties": {
          "ServiceDelivery": {
            "type": "object",
            "properties": {
              "VehicleMonitoringDelivery": {
                "type": "object"
              }
            }
          }
        }
      },
      "TransitLine": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "TransportMode": {
            "type": "string"
          }
        }
      },
      "TransitStop": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Latitude": {
            "type": "number",
            "format": "double"
          },
          "Longitude": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "StopPlace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          }
        }
      },
      "RoutePattern": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Direction": {
            "type": "string"
          }
        }
      },
      "Timetable": {
        "type": "object",
        "properties": {
          "TimetableFrame": {
            "type": "object"
          }
        }
      },
      "Holiday": {
        "type": "object",
        "properties": {
          "Date": {
            "type": "string",
            "format": "date"
          },
          "Name": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "DataFeeds",
      "description": "Bulk GTFS data feeds"
    },
    {
      "name": "RealTime",
      "description": "Real-time transit data"
    },
    {
      "name": "Schedule",
      "description": "Transit schedule and stop information"
    }
  ]
}