{
  "openapi": "3.0.3",
  "info": {
    "title": "Adabra API",
    "version": "1.0.0",
    "description": "Adabra (Blendee) marketing platform API for managing audience segments and retrieving users. Accepts form-encoded request bodies and returns JSON-encoded responses.",
    "x-jentic-source-url": "https://cdn.adabra.com/external/Adabra/AdabraApi4Zapier.pdf"
  },
  "servers": [
    {
      "url": "https://api.adabra.com"
    }
  ],
  "paths": {
    "/update-segment": {
      "post": {
        "operationId": "updateSegment",
        "summary": "Update the segment external id on Adabra database",
        "tags": [
          "Segments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "apiKey",
                  "apiSecret",
                  "segmentSyncId",
                  "externalId"
                ],
                "properties": {
                  "apiKey": {
                    "type": "string",
                    "description": "Adabra API Key"
                  },
                  "apiSecret": {
                    "type": "string",
                    "description": "Adabra API Secret"
                  },
                  "segmentSyncId": {
                    "type": "string",
                    "description": "ID to retrieve segment on Adabra database"
                  },
                  "externalId": {
                    "type": "string",
                    "description": "Custom audience ID created on external service (Facebook, Google, etc.)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/retrieve-users": {
      "post": {
        "operationId": "retrieveUsers",
        "summary": "Retrieve users in segment for custom audience",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "apiKey",
                  "apiSecret",
                  "zapierWebhookUrl",
                  "idAdbSegmentiGruppi",
                  "segmentSyncId",
                  "externalId"
                ],
                "properties": {
                  "apiKey": {
                    "type": "string",
                    "description": "Adabra API Key"
                  },
                  "apiSecret": {
                    "type": "string",
                    "description": "Adabra API Secret"
                  },
                  "zapierWebhookUrl": {
                    "type": "string",
                    "description": "URL used from Adabra to send users back"
                  },
                  "idAdbSegmentiGruppi": {
                    "type": "string",
                    "description": "ID of the segment to identify associated users"
                  },
                  "segmentSyncId": {
                    "type": "string",
                    "description": "ID to retrieve segment on Adabra database"
                  },
                  "externalId": {
                    "type": "string",
                    "description": "Custom audience ID created on external service"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ResultResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyPair": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "API Key and Secret pair for authentication"
      }
    }
  },
  "security": [
    {
      "apiKeyPair": []
    }
  ]
}