{
  "openapi": "3.0.3",
  "info": {
    "title": "Shipmondo API",
    "description": "This is the official API for Shipmondo. The current version is v3.\nThe Shipmondo API is documented using OpenAPI. You can find the OpenAPI spec here: https://app.shipmondo.com/api/public/v3/openapi.json\n\n\nWe recommend that new implementations should be based on this version.\n\n\nWe provide an official library for PHP, which you can find here: https://github.com/shipmondo/shipmondo_php_sdk\n\n\nIf you need further assistance for your implementation, feel free to contact us at support@shipmondo.com",
    "version": "3",
    "x-jentic-source-url": "https://app.shipmondo.com/api/public/v3/openapi.json"
  },
  "servers": [
    {
      "url": "https://sandbox.shipmondo.com/api/public/v3",
      "description": "Sandbox server"
    },
    {
      "url": "https://app.shipmondo.com/api/public/v3",
      "description": "Production server"
    }
  ],
  "tags": [],
  "paths": {
    "/account/": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Retrieve account infomation",
        "description": "Returns infomation on the currenctly logged in account.",
        "operationId": "account",
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "description": "Account name.",
                      "type": "string",
                      "example": "Shipmondo"
                    },
                    "attention": {
                      "description": "Associated attention of the account.",
                      "type": "string",
                      "example": "John Doe"
                    },
                    "address_1": {
                      "description": "Account address 1.",
                      "type": "string",
                      "example": "Hvileh\u00f8jvej 25"
                    },
                    "address_2": {
                      "description": "Account address 2.",
                      "type": "string",
                      "example": "Hvileh\u00f8jvej 25"
                    },
                    "zip_code": {
                      "description": "Account zip code.",
                      "type": "string",
                      "example": "5220"
                    },
                    "city": {
                      "description": "Account city.",
                      "type": "string",
                      "example": "Odense S\u00d8"
                    },
                    "country_code": {
                      "description": "Account country code.",
                      "type": "string",
                      "example": "DK"
                    },
                    "phone": {
                      "description": "Account phone number.",
                      "type": "string",
                      "example": "70400407"
                    },
                    "email": {
                      "description": "Account email.",
                      "type": "string",
                      "example": "contact@shipmondo.com"
                    },
                    "vat_no": {
                      "description": "Account vat number.",
                      "type": "string",
                      "example": "DK36399066"
                    },
                    "billing_email": {
                      "description": "Account billing email.",
                      "type": "string",
                      "example": "contact@shipmondo.com"
                    },
                    "home_page": {
                      "description": "Account home page.",
                      "type": "string",
                      "example": "shipmondo.com"
                    },
                    "updated_at": {
                      "description": "Date and time of retrieval of account information.",
                      "type": "string",
                      "format": "date-time",
                      "example": "2017-06-18T22:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/account/balance": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Retrieve balance",
        "description": "Returns the current balance of your account.",
        "operationId": "account_balance_get",
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "description": "Remaining balance on the account.",
                      "type": "number",
                      "example": 1000.5
                    },
                    "currency_code": {
                      "description": "Currency code of the balance.",
                      "type": "string",
                      "example": "DKK"
                    },
                    "updated_at": {
                      "description": "Date and time of retrieval of balance.",
                      "type": "string",
                      "format": "date-time",
                      "example": "2017-06-18T22:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/account/payment_requests": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List all payment requests",
        "description": "Returns a list of your payment requests. If there are unsettled payment requests, they can block you from using the API.\n\nUnsettled payment requests must settled through the Shipmondo app, unless the account is set to automatic settlement.",
        "operationId": "payment_requests_get",
        "parameters": [
          {
            "name": "created_at_min",
            "in": "query",
            "description": "\"From\" timestamp for the payment requests to be included in the filter. Examples:\n* 2017-06-19T11:00:03.305+02:00\n* 2017-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_at_max",
            "in": "query",
            "description": "\"To\" timestamp for the payment requests to be included in the filter. Examples:\n* 2017-06-29T11:00:03.305+02:00\n* 2017-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "For pagination. Defines how many entries are returned per page.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For pagination. Defines which page the results are fetched\nfrom.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentRequest"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/bookkeeping_integrations": {
      "get": {
        "tags": [
          "Bookkeeping integrations"
        ],
        "summary": "List all bookkeeping integrations",
        "description": "Returns a list of your bookkeeping integrations.\n\n\nBookkeeping integrations are used to automatically create invoices from your orders and transfer them to your external bookkeeping system.",
        "operationId": "bookkeeping_integrations_get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID for the bookkeeping integrations to be included in the filtered results.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "For pagination. Defines how many entries are returned per page.",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For pagination. Defines which page the results are fetched from.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BookkeepingIntegration"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/bookkeeping_integrations/{id}": {
      "get": {
        "tags": [
          "Bookkeeping integrations"
        ],
        "summary": "Retrieve a bookkeeping integration",
        "description": "Returns the details of a bookkeeping integration.\n\n\n      \n Bookkeeping integrations are used to automatically create invoices from your orders and transfer them to your external bookkeeping system.",
        "operationId": "bookkeeping_integration_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the bookkeeping integration to be included in the filter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BookkeepingIntegration"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/waybills": {
      "get": {
        "tags": [
          "Bulk waybills"
        ],
        "summary": "List all bulk waybills",
        "description": "Returns a list of bulk waybills (excluding Base64 PDF).",
        "operationId": "waybills_get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID for the bulk waybill to be included in the filter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "description": "Reference for the bulk waybill that need to be considered for\nfilter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "carrier_code",
            "in": "query",
            "description": "Carrier code to be included in the filter\n\nExamples: bring\n",
            "schema": {
              "type": "string",
              "enum": [
                "bring",
                "pdk"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status to be included in the filter",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "closed"
              ]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "For pagination. Defines how many entries are returned per page.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For pagination. Defines which page the results are fetched from.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WaybillNoBase64"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Bulk waybills"
        ],
        "summary": "Create a bulk waybill",
        "description": "Creates a new bulk waybill and associated routing label shipments.",
        "operationId": "waybills_post",
        "requestBody": {
          "description": "Bulk Waybill Object.\n\n**Note**: loading (except date if carrier is Bring) and delivery are optional.\n\nIf not all fields are given, loading will be overwritten by sender (except date) and delivery will be overwritten by receiver.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWaybillRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Waybill"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/InvalidRequest"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/waybills/{id}": {
      "get": {
        "tags": [
          "Bulk waybills"
        ],
        "summary": "Retrieve a bulk waybill",
        "description": "Returns the details of a bulk waybill. The response includes the Base64 for the bulk waybill PDF.",
        "operationId": "waybills_show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the bulk waybill to be included in the filter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "label_format",
            "in": "query",
            "description": "Format of routing labels. Defaults to default label format of the user.",
            "schema": {
              "type": "string",
              "enum": [
                "10x19_pdf",
                "a4_pdf"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Waybill"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/waybills/{id}/close": {
      "put": {
        "tags": [
          "Bulk waybills"
        ],
        "summary": "Close an open bulk waybill",
        "description": "Closes an open bulk waybill and returns its details. The response include the Base64 for the bulk waybill PDF.",
        "operationId": "waybills_close",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the bulk waybill to be included in the filter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloseWaybillRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Waybill"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/waybills/{waybill_id}/load_carriers": {
      "post": {
        "tags": [
          "Bulk waybills"
        ],
        "summary": "Creates and adds a new load carrier to the bulk waybill",
        "description": "Creates and adds a new load carrier to the bulk waybill. The response includes the details of the created load carrier. \n\n**Note**: Load carriers are only available on waybills with PostNord.\n\n",
        "operationId": "load_carriers_post",
        "parameters": [
          {
            "name": "waybill_id",
            "in": "path",
            "description": "ID of the bulk waybill to add a load carrier to.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddLoadCarrierRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoadCarrier"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Bulk waybills"
        ],
        "summary": "List all load carriers",
        "description": "Returns a list of all load carriers that have been added to the bulk waybill.",
        "operationId": "load_carriers_get",
        "parameters": [
          {
            "name": "waybill_id",
            "in": "path",
            "description": "ID of the bulk waybill to fetch all load carriers for.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LoadCarrier"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/waybills/{waybill_id}/load_carriers/{id}": {
      "get": {
        "tags": [
          "Bulk waybills"
        ],
        "summary": "Retrieve a load carrier",
        "description": "Returns the details of a load carrier.",
        "operationId": "load_carriers_show",
        "parameters": [
          {
            "name": "waybill_id",
            "in": "path",
            "description": "ID of the bulk waybill to find a specific load carrier for.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the load carrier to be retrieved.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoadCarrier"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/carriers": {
      "get": {
        "tags": [
          "Carriers, products & services"
        ],
        "summary": "List available carriers",
        "description": "Returns a list of available carriers for your account.\n\nCarriers are retrieved based on own agreements and Shipmondo's agreements.",
        "operationId": "carriers_get",
        "parameters": [
          {
            "name": "sender_country_code",
            "in": "query",
            "description": "Sender country code to be included in the filter.",
            "schema": {
              "type": "string",
              "example": "DK"
            }
          },
          {
            "name": "receiver_country_code",
            "in": "query",
            "description": "Receiver country code to be included in the filter.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "DK"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Carriers"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/InvalidRequest"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Carriers, products & services"
        ],
        "summary": "List all products",
        "description": "\nReturns a list of shipping products and services.\n\n\nOnly products available for the user are returned.\n\n\nThe codes of the products and services are required when creating a shipment.\n",
        "operationId": "products_get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID for the product to be included in the filter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "product_code",
            "in": "query",
            "description": "Code for the product to be included in the filter.",
            "schema": {
              "type": "string",
              "example": "GLSDK_SD"
            }
          },
          {
            "name": "sender_country_code",
            "in": "query",
            "description": "Country code (ISO Alpha-2) of the sender country to be included in the filter.",
            "schema": {
              "type": "string",
              "example": "DK"
            }
          },
          {
            "name": "receiver_country_code",
            "in": "query",
            "description": "Country code (ISO Alpha-2) of the receiver country to be included in the filter.",
            "schema": {
              "type": "string",
              "example": "DK"
            }
          },
          {
            "name": "carrier_code",
            "in": "query",
            "description": "Carrier code to be included in the filter.",
            "schema": {
              "type": "string",
              "example": "gls"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "For pagination. Defines how many entries are returned per page.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For pagination. Defines which page the results are fetched from.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShippingProduct"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/package_types": {
      "get": {
        "tags": [
          "Carriers, products & services"
        ],
        "summary": "List all package types",
        "description": "\nReturns a list of package types for a product.\n\n\nPackage types returned can be used when defining parcels in shipment booking.\n",
        "operationId": "package_types_get",
        "parameters": [
          {
            "name": "product_code",
            "in": "query",
            "required": true,
            "description": "Code for the product to be included in the filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sender_country_code",
            "in": "query",
            "required": true,
            "description": "Country code of the sender country, format: ISO3133 alpha-2",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receiver_country_code",
            "in": "query",
            "required": true,
            "description": "Country code of the receiver country, format: ISO3133 alpha-2",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PackageType"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/documents/end_of_day": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Retrieve an End of Day list",
        "description": "Returns an End of Day list for a specific carrier, with all shipments set to be picked up in the selected time.",
        "operationId": "end_of_day_get",
        "parameters": [
          {
            "name": "carrier_code",
            "in": "query",
            "description": "Carrier code of the carrier you want to retrieve the list for.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "airmee",
                "alpi",
                "asendia",
                "b2c_europe",
                "best",
                "bft",
                "bhs_logistics",
                "bpost",
                "bring",
                "brink",
                "budbee",
                "burd",
                "bws",
                "cm_transport",
                "collicare",
                "dachser",
                "dansk_distribution",
                "dansk_distribution_brabrand",
                "dansk_distribution_taulov",
                "dao",
                "db_schenker",
                "deutsche_post",
                "dfm",
                "dhl_express",
                "dhl_freight_se",
                "dhl_parcel",
                "dpd",
                "dsv",
                "dsv_parcel",
                "dsv_xpress",
                "early_bird",
                "esbjerg_gods",
                "esbjerg_gods_sjaelland",
                "fed_ex",
                "freja",
                "geodis",
                "gls",
                "gls_de",
                "gordon",
                "helthjem",
                "instabox",
                "interfjord",
                "jetpak",
                "jetpak_se",
                "jjd",
                "joervi_transport",
                "kht",
                "leman",
                "lgt_logistics",
                "link_logistics",
                "mover",
                "nonbo_fragt",
                "packeta",
                "pdk",
                "posti",
                "post_nl",
                "post_nord",
                "sand_distribution",
                "sdl",
                "simptra",
                "tjw",
                "tnt",
                "unspecified",
                "ups",
                "webrinq",
                "xpressen"
              ]
            }
          },
          {
            "name": "from_time",
            "in": "query",
            "description": "\"From\" timestamp for the end of day list. Examples:\n* 2018-06-19T11:00:00.305+02:00\n* 2018-06-19 will be transformed into 2018-06-19T00:00:00.000+02:00\n",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to_time",
            "in": "query",
            "description": "\"To\" timestamp for the end of day list. Examples:\n* 2018-06-20T11:00:00.305+02:00\n* 2018-06-20 will be transformed into 2018-06-20T00:00:00.000+02:00\n",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/documents/waybill": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Retrieve a waybill",
        "description": "Returns a waybill for letter products.",
        "operationId": "waybill_get",
        "parameters": [
          {
            "name": "carrier_code",
            "in": "query",
            "required": true,
            "description": "Carrier code to be included in the filter",
            "schema": {
              "type": "string",
              "enum": [
                "deutsche_post",
                "asendia",
                "bring"
              ]
            }
          },
          {
            "name": "bag_quantity",
            "in": "query",
            "required": false,
            "description": "Quantity of bags to be declared <br> <strong>Note:</strong> <ul>\n<li>Required for Deutsche Post, but is only used if an open order is being closed</li>",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "container_quantity",
            "in": "query",
            "description": "Quantity of bags to be declared <br> <strong>Note:</strong> <ul>\n<li>If used with Deutsche Post it is just added to bag_quantity</li></ul>",
            "deprecated": true,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "from_time",
            "in": "query",
            "description": "\"From\" timestamp for the waybill document. Examples:\n* 2018-06-19T11:00:00.305+02:00\n* 2018-06-19 will be transformed into 2018-06-19T00:00:00.000+02:00\n",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to_time",
            "in": "query",
            "description": "\"To\" timestamp for the waybill document. Examples:\n* 2018-06-20T11:00:00.305+02:00\n* 2018-06-20 will be transformed into 2018-06-20T00:00:00.000+02:00\n",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/items": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "List all items",
        "description": "Returns a list of items.\n\nItems are the products and services that are sold as part of an order. They are created by a unique SKU when an order is placed, through item import, or through the API.",
        "operationId": "items_get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID of the item that needs to be considered for filter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sku",
            "in": "query",
            "description": "SKU of the item that needs to be considered for filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the item that needs to be considered for filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "barcode",
            "in": "query",
            "description": "The barcode value of the item that needs to be considered for filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at_min",
            "in": "query",
            "description": "\"From\" timestamp for the items to be included in the filter. Examples:\n* 2017-06-19T11:00:03.305+02:00\n* 2017-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_at_max",
            "in": "query",
            "description": "\"To\" timestamp for the items to be included in the filter. Examples:\n* 2017-06-29T11:00:03.305+02:00\n* 2017-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_at_min",
            "in": "query",
            "description": "\"From\" value of \"updated\" timestamp for the items to be included in the filter. Examples:\n* 2018-06-19T11:00:03.305+02:00\n* 2018-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_at_max",
            "in": "query",
            "description": "\"To\" value of \"updated\" timestamp for the items to be included in the filter. Examples:\n* 2018-06-29T11:00:03.305+02:00\n* 2018-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "For pagination. Defines how many entries are returned per page.",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For pagination. Defines which page the results are fetched from.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Item"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Items"
        ],
        "summary": "Create an item",
        "description": "Creates a new item with the specified information.\n\n      \nItems are the products and services that are sold as part of an order. They are created by a unique SKU when an order is placed, through item import, or through the API.",
        "operationId": "item_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateItemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/items/{id}": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Retrieve an item",
        "description": "Returns the details of an item.\n\n      \nItems are the products and services that are sold as part of an order. They are created by a unique SKU when an order is placed, through item import, or through the API.",
        "operationId": "item_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the item to be included in the filter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Items"
        ],
        "summary": "Update an item",
        "description": "\n      Updates the specified item by setting the values of the parameters passed.\n\n\n      Any parameters not provided will be left unchanged.\n\n\n      Updating the **SKU** is not possible.\n\n      ",
        "operationId": "item_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the item that is to be updated",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateItemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/shipments/{id}/labels": {
      "get": {
        "tags": [
          "Labels"
        ],
        "summary": "Retrieve labels of a shipment",
        "description": "Returns labels for a specific shipment. Labels are delivered as Base64-encoded data.\n\nFor PNG format, each label has its own object. For all others, the labels are collected in one object.\n\n**Note:** Use the scaling feature at your own risk. Shipmondo can\u2019t guarantee the scaled labels are usable. Always get the label approved by the carrier before using this feature in production.",
        "operationId": "shipment_labels",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the shipment to be included in the filter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "label_format",
            "in": "query",
            "description": "Which format the labels should be.\n\n*10x19* is 10 cm x 19 cm\n\n*compact* format returns the smallest label possible.",
            "schema": {
              "type": "string",
              "enum": [
                "a4_pdf",
                "10x19_pdf",
                "10x19_png",
                "10x19_zpl",
                "compact_png",
                "compact_pdf",
                "compact_zpl"
              ]
            }
          },
          {
            "name": "scale_by",
            "in": "query",
            "description": "Scale down the labels by either width or height. Only applicable when label_format: a4_pdf, 10x19_pdf, 10x19_zpl, compact_pdf, compact_zpl",
            "schema": {
              "type": "string",
              "enum": [
                "height",
                "width"
              ]
            }
          },
          {
            "name": "scale_size",
            "in": "query",
            "description": "Desired scaled length in cm of dimension in \"scale_by\".If the length is higher or wider than the original labels, the labels will not be scaled.\n\n Only applicable when label_format: a4_pdf, 10x19_pdf, 10x19_zpl, compact_pdf, compact_zpl.",
            "schema": {
              "type": "number",
              "example": 15.6
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Label"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/labels": {
      "get": {
        "tags": [
          "Labels"
        ],
        "summary": "Retrieve labels for multiple shipments",
        "description": "Returns labels for multiple shipments.\n\nFor PNG format each label has its own object in the labels array. For all other, the labels is collected in one object.\n\n **Note:** Use the scaling feature at your own risk. Shipmondo can\u2019t guarantee the scaled labels are usable. Always get the label approved by the carrier before using this feature in production.",
        "operationId": "labels_get",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Comma-separated list of shipment IDs which labels should be retrieved for. Limited to 25 shipment IDs per request.",
            "example": "10075,10076,10077",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "label_format",
            "in": "query",
            "description": "Which format the labels should be.\n\n*10x19* is 10 cm x 19 cm\n\n*compact* format returns the smallest label possible.",
            "schema": {
              "type": "string",
              "enum": [
                "a4_pdf",
                "10x19_pdf",
                "10x19_png",
                "10x19_zpl",
                "compact_png",
                "compact_pdf",
                "compact_zpl"
              ]
            }
          },
          {
            "name": "scale_by",
            "in": "query",
            "description": "Scale down the labels by either width or height. Only applicable when label_format: a4_pdf, 10x19_pdf, 10x19_zpl, compact_pdf, compact_zpl.",
            "schema": {
              "type": "string",
              "enum": [
                "height",
                "width"
              ]
            }
          },
          {
            "name": "scale_size",
            "in": "query",
            "description": "Desired scaled length in cm of dimension in \"scale_by\".If the length is higher or wider than the original labels, the labels will not be scaled.\n\n Only applicable when label_format: a4_pdf, 10x19_pdf, 10x19_zpl, compact_pdf, compact_zpl.",
            "schema": {
              "type": "number",
              "example": 15.6
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Labels"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/payment_gateways": {
      "get": {
        "tags": [
          "Payment gateways"
        ],
        "summary": "List all payment gateways",
        "description": "Returns a list of payment gateways.\n\n\nPayment gateways are integrations created through Shipmondo to payment service providers. They are used to capture and cancel payments through Shipmondo.",
        "operationId": "payment_gateways_get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID for the payment gateway to be included in the filter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "For pagination. Defines how many entries are returned per page.",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For pagination. Defines which page the results are fetched from.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentGateway"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/payment_gateways/{id}": {
      "get": {
        "tags": [
          "Payment gateways"
        ],
        "summary": "Retrieve a payment gateway",
        "description": "Returns the details of a payment gateway.\n\n      \nPayment gateways are integrations created through Shipmondo to payment service providers. They are used to capture and cancel payments through Shipmondo.",
        "operationId": "payment_gateway_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the payment gateway to be included in the filter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentGateway"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/pickup_requests": {
      "get": {
        "tags": [
          "Pickup requests"
        ],
        "summary": "List all pickup requests",
        "description": "Returns a list of pickup requests.",
        "operationId": "pickup_requests_get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID for the pickup request to be included in the filter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "carrier_code",
            "in": "query",
            "description": "Carrier code to be included in the filter.",
            "schema": {
              "type": "string",
              "enum": [
                "fed_ex",
                "ups",
                "dhl_express",
                "geodis",
                "dhl_freight_se",
                "post_nord",
                "bring"
              ]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "For pagination. Defines how many entries are returned per page.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For pagination. Defines which page the results are fetched from.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PickupRequestNoShipments"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Pickup requests"
        ],
        "summary": "Create a pickup request",
        "description": "Creates a pickup request and processes the booking at the carrier.",
        "operationId": "pickup_requests_post",
        "requestBody": {
          "description": "Pickup Request object<br>",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePickupRequestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/PickupRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/InvalidRequest"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/pickup_requests/{id}": {
      "get": {
        "tags": [
          "Pickup requests"
        ],
        "summary": "Retrieve a pickup request",
        "description": "Returns the details of a pickup request.",
        "operationId": "pickup_requests_show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the pickup request to be included in the filter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/printers": {
      "get": {
        "tags": [
          "Print client"
        ],
        "summary": "List all printers",
        "description": "Returns a list of printers.\n\n\nPrinters are created through the Shipmondo print client uniquely per host. They are used to send print jobs to the print client.\n\n\nRelated articles:\n\n- [Shipmondo Print Client installation and setup guide](https://help.shipmondo.com/en/articles/2564458-shipmondo-print-client-installation-and-setup-guide)",
        "operationId": "printers_get",
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Printer"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/print_jobs": {
      "post": {
        "tags": [
          "Print client"
        ],
        "summary": "Create a print job",
        "description": "Creates a print job.\n\n      \nPrint jobs are sent to the print client on the specified host to print documents.\n\n      \nRelated articles:\n\n      - [Shipmondo Print Client installation and setup guide](https://help.shipmondo.com/en/articles/2564458-shipmondo-print-client-installation-and-setup-guide)",
        "operationId": "print_jobs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintJob"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Identicates if the creation of print job was successful or not"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/print_jobs/batch": {
      "post": {
        "tags": [
          "Print client"
        ],
        "summary": "Create a print job batch",
        "description": "Creates a batch of prints jobs to be printed in the specified order on a specified host.\n\n      \nRelated articles:\n\n      - [Shipmondo Print Client installation and setup guide](https://help.shipmondo.com/en/articles/2564458-shipmondo-print-client-installation-and-setup-guide)",
        "operationId": "print_jobs_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintJobBatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Identicates if the creation of print job batch was successful or not"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/quotes": {
      "post": {
        "tags": [
          "Quotes"
        ],
        "summary": "Create a shipment quote",
        "description": "\nCreates a shipment quote with specified sender (origin), receiver (destination), product and services.\n\n\nThis method determines the **estimated** price for a shipment on Shipmondo's agreement\n\n\n**Important**: This endpoint will only provide prices for Shipmondos agreement.\nIf you want to get price for your own agreement please refer to [Shipment Quote](/operations/shipments_quote_post) instead\n.\n",
        "operationId": "quotes_post",
        "requestBody": {
          "description": "Quote Object.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateQuoteResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/InvalidRequest"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/quotes/list": {
      "post": {
        "tags": [
          "Quotes"
        ],
        "summary": "List available quotes for a shipment",
        "description": "\nReturns a list of available quotes for a shipment with specified sender (origin), receiver (destination).\n\n\nThis method fetches available **estimate** prices with different shipping products for shipments using Shipmondo's agreement.\n\n\nSome carriers might not be available for technical reasons.\n",
        "operationId": "quotes/list_post",
        "requestBody": {
          "description": "Quote Objects.\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuoteListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CreateQuoteResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/InvalidRequest"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/return_portals": {
      "get": {
        "tags": [
          "Return portals"
        ],
        "summary": "List all return portals",
        "description": "Returns a list of return portals.",
        "operationId": "return_portals_get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID for the return portal.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Filters for whether or not the return portal is active",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "For pagination. Defines how many entries are returned per page.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For pagination. Defines which page the results are fetched from.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnPortals"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/return_portals/{id}": {
      "get": {
        "tags": [
          "Return portals"
        ],
        "summary": "Retrieve a return portal",
        "description": "Returns the details of a return portal.",
        "operationId": "return_portal_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the return portal to be included in the filter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnPortal"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/return_portals/{id}/shipments": {
      "get": {
        "tags": [
          "Return portals"
        ],
        "summary": "List all shipments for a return portal",
        "description": "Returns a list of shipments booked through a specific return portal.",
        "operationId": "return_portals_shipments_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the return portal to be included in the filter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "description": "Order ID for the shipments to be included in the filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "package_number",
            "in": "query",
            "description": "Package number for the shipments that need to be considered for\nfilter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "carrier_code",
            "in": "query",
            "description": "Carrier code to be included in the filter.",
            "schema": {
              "type": "string",
              "enum": [
                "airmee",
                "alpi",
                "asendia",
                "b2c_europe",
                "best",
                "bft",
                "bhs_logistics",
                "bpost",
                "bring",
                "brink",
                "budbee",
                "burd",
                "bws",
                "cm_transport",
                "collicare",
                "dachser",
                "dansk_distribution",
                "dansk_distribution_brabrand",
                "dansk_distribution_taulov",
                "dao",
                "db_schenker",
                "deutsche_post",
                "dfm",
                "dhl_express",
                "dhl_freight_se",
                "dhl_parcel",
                "dpd",
                "dsv",
                "dsv_parcel",
                "dsv_xpress",
                "early_bird",
                "esbjerg_gods",
                "esbjerg_gods_sjaelland",
                "fed_ex",
                "freja",
                "geodis",
                "gls",
                "gls_de",
                "gordon",
                "helthjem",
                "instabox",
                "interfjord",
                "jetpak",
                "jetpak_se",
                "jjd",
                "joervi_transport",
                "kht",
                "leman",
                "lgt_logistics",
                "link_logistics",
                "mover",
                "nonbo_fragt",
                "packeta",
                "pdk",
                "posti",
                "post_nl",
                "post_nord",
                "sand_distribution",
                "sdl",
                "simptra",
                "tjw",
                "tnt",
                "unspecified",
                "ups",
                "webrinq",
                "xpressen"
              ]
            }
          },
          {
            "name": "receiver_country",
            "in": "query",
            "description": "ISO3166-1 alpha-2 country code to be included in the filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at_min",
            "in": "query",
            "description": "\"From\" timestamp for the shipments to be included in the filter. Examples:\n* 2017-06-19T11:00:03.305+02:00\n* 2017-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_at_max",
            "in": "query",
            "description": "\"To\" timestamp for the shipments to be included in the filter. Examples:\n* 2017-06-29T11:00:03.305+02:00\n* 2017-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00\n",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "For pagination. Defines how many entries are returned per page.",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For pagination. Defines which page the results are fetched from.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Shipment"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/sales_orders": {
      "get": {
        "tags": [
          "Sales orders"
        ],
        "summary": "List all sales orders",
        "description": "Returns a list of sales orders.\n\n\nSales orders are used handle all processes of the order flow, including but not limited to picking, packing, sending shipments, and capturing payments through the Shipmondo app.",
        "operationId": "sales_orders_get",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "ID for the sales order to be included in the filter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "description": "Order ID for the sales order to be included in the filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "description": "reference for the order to be included in the filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bill_to_email",
            "in": "query",
            "description": "Billing email for the order to be included in the filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bill_to_mobile",
            "in": "query",
            "description": "Billing mobile for the order to be included in the filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ship_to_email",
            "in": "query",
            "description": "Shipping email for the order to be included in the filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ship_to_mobile",
            "in": "query",
            "description": "Shipping mobile for the order to be included in the filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Filter for achived or not.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "created_at_min",
            "in": "query",
            "description": "\"From\" value of \"created\" timestamp for the sales orders to be included in the filter. Examples:\n* 2018-06-19T11:00:03.305+02:00\n* 2018-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_at_max",
            "in": "query",
            "description": "\"To\" value of \"created\" timestamp for the sales orders to be included in the filter. Examples:\n* 2018-06-29T11:00:03.305+02:00\n* 2018-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_at_min",
            "in": "query",
            "description": "\"From\" value of \"updated\" timestamp for the sales orders to be included in the filter. Examples:\n* 2018-06-19T11:00:03.305+02:00\n* 2018-06-19 will be transformed into 2017-06-19T00:00:00.000+02:00",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_at_max",
            "in": "query",
            "description": "\"To\" value of \"updated\" timestamp for the sales orders to be included in the filter. Examples:\n* 2018-06-29T11:00:03.305+02:00\n* 2018-06-29 will be transformed into 2017-06-29T00:00:00.000+02:00",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "For pagination. Defines how many entries are returned per page.",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 25
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For pagination. Defines which page the results are fetched from.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "headers": {
              "X-Current-Page": {
                "description": "Pagination - Current Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Per-Page": {
                "description": "Pagination - Per Page.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Count": {
                "description": "Pagination - Total Count.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Total-Pages": {
                "description": "Pagination - Total Pages Count.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SalesOrder"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Sales orders"
        ],
        "summary": "Create a sales order",
        "description": "Creates a sales order.\n\n      \nSales orders are used handle all processes of the order flow, including but not limited to picking, packing, sending shipments, and capturing payments through the Shipmondo app.",
        "operationId": "sales_orders_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSalesOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesOrder"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/InvalidRequest"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/sales_orders/{id}": {
      "get": {
        "tags": [
          "Sales orders"
        ],
        "summary": "Retrieve a sales order",
        "description": "Returns the details of a sales order.\n\n      \nSales orders are used handle all processes of the order flow, including but not limited to picking, packing, sending shipments, and capturing payments through the Shipmondo app.",
        "operationId": "sales_order_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the sales order to be included in the filter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesOrder"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Sales orders"
        ],
        "summary": "Update a sales order",
        "description": "\n      Updates an existing sales order and its order lines. Updating order lines is exclusively possible with open orders.\n\n      \nSales orders are used handle all processes of the order flow, including but not limited to picking, packing, sending shipments, and capturing payments through the Shipmondo app.\n      ",
        "operationId": "sales_order_put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the sales order that needs to be updated",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSalesOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesOrder"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/InvalidRequest"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "Sales orders"
        ],
        "summary": "Delete a sales order",
        "description": "Deletes a sales order. Deleted sales orders cannot be restored later.",
        "operationId": "sales_order_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the sales order that needs to be deleted",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/InvalidRequest"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/sales_orders/{id}/order_note": {
      "put": {
        "tags": [
          "Sales orders"
        ],
        "summary": "Update a sales order note",
        "description": "Updates the note for a sales order.",
        "operationId": "sales_order_update_note",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the sales order that note should be updated for",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSalesOrderNote"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesOrder"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/sales_orders/{id}/create_shipment": {
      "post": {
        "tags": [
          "Sales orders"
        ],
        "summary": "Create a shipment",
        "description": "Creates a shipment for a sales order.\n\n      \nThe shipment will be created based on the associated shipment template. A fulfillment will be created if none is present.",
        "operationId": "sales_order_create_shipment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the sales order to create a shipment for",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesOrder"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/sales_orders/{id}/capture": {
      "post": {
        "tags": [
          "Sales orders"
        ],
        "summary": "Capture payment",
        "description": "Captures payment for a sales order.",
        "operationId": "sales_order_capture",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the sales order that needs to be captured",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalesOrderCapture"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesOrder"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/sales_orders/barcode": {
      "post": {
        "tags": [
          "Sales orders"
        ],
        "summary": "Process a barcode",
[...]
