{
  "openapi": "3.0.3",
  "info": {
    "title": "Marker Trademark Search API",
    "version": "2.0.0",
    "description": "USPTO trademark search API providing serial number, name, description, owner, and expiration searches with pagination.",
    "x-jentic-source-url": "https://markerapi.com"
  },
  "servers": [
    {
      "url": "https://markerapi.com/api/v2"
    }
  ],
  "paths": {
    "/trademarks/serial/{serialNumber}/username/{username}/password/{password}": {
      "get": {
        "operationId": "searchBySerialNumber",
        "summary": "Search trademark by serial number",
        "description": "Retrieves a single trademark record by its serial number with complete registration data.",
        "tags": [
          "Trademarks"
        ],
        "parameters": [
          {
            "name": "serialNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trademark serial number"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API username"
          },
          {
            "name": "password",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API password"
          }
        ],
        "responses": {
          "200": {
            "description": "Trademark record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrademarkListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "404": {
            "description": "Trademark not found"
          }
        }
      }
    },
    "/trademarks/trademark/{searchTerm}/status/{status}/start/{start}/username/{username}/password/{password}": {
      "get": {
        "operationId": "searchByTrademarkName",
        "summary": "Search trademarks by name",
        "description": "Searches trademarks by name with support for exact match or wildcard queries using asterisks.",
        "tags": [
          "Trademarks"
        ],
        "parameters": [
          {
            "name": "searchTerm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search term (supports * wildcards)"
          },
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "all"
              ]
            },
            "description": "Filter by status"
          },
          {
            "name": "start",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Pagination start index"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API username"
          },
          {
            "name": "password",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API password"
          }
        ],
        "responses": {
          "200": {
            "description": "Matching trademark records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrademarkListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/trademarks/description/{searchTerm}/status/{status}/start/{start}/username/{username}/password/{password}": {
      "get": {
        "operationId": "searchByDescription",
        "summary": "Search trademarks by goods/services description",
        "description": "Searches within trademark goods/services descriptions with wildcard support.",
        "tags": [
          "Trademarks"
        ],
        "parameters": [
          {
            "name": "searchTerm",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Description search term"
          },
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "all"
              ]
            },
            "description": "Filter by status"
          },
          {
            "name": "start",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Pagination start index"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API username"
          },
          {
            "name": "password",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API password"
          }
        ],
        "responses": {
          "200": {
            "description": "Matching trademark records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrademarkListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/trademarks/owner/{ownerName}/status/{status}/start/{start}/username/{username}/password/{password}": {
      "get": {
        "operationId": "searchByOwner",
        "summary": "Search trademarks by owner",
        "description": "Locates trademarks registered by specific individuals, groups, or companies.",
        "tags": [
          "Trademarks"
        ],
        "parameters": [
          {
            "name": "ownerName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Owner name"
          },
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "all"
              ]
            },
            "description": "Filter by status"
          },
          {
            "name": "start",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Pagination start index"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API username"
          },
          {
            "name": "password",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API password"
          }
        ],
        "responses": {
          "200": {
            "description": "Matching trademark records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrademarkListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/trademarks/expiration/{timeframe}/start/{start}/username/{username}/password/{password}": {
      "get": {
        "operationId": "searchByExpiration",
        "summary": "Search trademarks by expiration timeframe",
        "description": "Identifies trademarks expiring within a specified future timeframe.",
        "tags": [
          "Trademarks"
        ],
        "parameters": [
          {
            "name": "timeframe",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Expiration timeframe (e.g., '6 months', '1 year')"
          },
          {
            "name": "start",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Pagination start index"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API username"
          },
          {
            "name": "password",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API password"
          }
        ],
        "responses": {
          "200": {
            "description": "Expiring trademark records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrademarkListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TrademarkListResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Number of results"
          },
          "trademarks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Trademark"
            }
          },
          "next": {
            "type": "string",
            "description": "Next page key if more results exist"
          }
        }
      },
      "Trademark": {
        "type": "object",
        "properties": {
          "serialnumber": {
            "type": "string",
            "description": "Serial number"
          },
          "wordmark": {
            "type": "string",
            "description": "Trademark word mark"
          },
          "code": {
            "type": "string",
            "description": "Goods and services code"
          },
          "description": {
            "type": "string",
            "description": "Goods/services description"
          },
          "status": {
            "type": "string",
            "description": "Status (pending, active, expired)"
          },
          "owner": {
            "type": "string",
            "description": "Owner name"
          },
          "address": {
            "type": "string",
            "description": "Owner address"
          },
          "filingdate": {
            "type": "string",
            "description": "Filing date"
          },
          "registrationdate": {
            "type": "string",
            "description": "Registration date"
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "security": []
}