{
  "openapi": "3.0.2",
  "info": {
    "title": "CIS Automotive API",
    "description": "<div style=\"\">This API provides access to our Automotive Data. Use of this API is subject to our <a href=\"https://autodealerdata.com/tos\">Terms of Service</a></div>\n&nbsp;\n<h3 style=\"\">For a quick start guide <a href=\"/APIQuickStart\">click here</a></h3>\n&nbsp;\n<div> If you signed up through RapidAPI make your test calls <a href=\"https://rapidapi.com/competitive-intelligence-solutions-llc-competitive-intelligence-solutions-llc-default/api/cis-automotive\">here</a></div>\n&nbsp;\n<div>The general workflow is to: <br/>&nbsp;<div><strong>1.</strong> Authenticate with your CIS Automotive API Keys to get a Json Web Token (JWT). Do not use RapidAPI keys.</div>\n<div><div><strong>2.</strong> Then use that token as an argument when calling other endpoints.</div>\n&nbsp;\n<div>Equivalent HTTP GET and POST methods are available for some endpoints. </div>\n&nbsp;\n<div>Endpoints may appear more than once on this page if they are associated with multiple tags. eg \"Sales Data\", \"Premium\", \"Pro Plan or Greater\" To see which endpoints are included in different\nplans look under the \"X Plan or Greater\" tags for the respective plan name.</div>\n&nbsp;\n<h3>If you signed up for our API through RapidAPI you can make your test calls <a href=\"https://rapidapi.com/competitive-intelligence-solutions-llc-competitive-intelligence-solutions-llc-default/api/cis-automotive\">on their platform</a>. \nYour RapidAPI credentials will not work on this page.</h3><h3> Do not use your RapidAPI keys on this page.</h3>\n<h3>If you signed up with us and have an account, you must first authenticate with your API Keys \nand retrieve a Json Web Token (JWT) from the /getToken endpoint to access the other endpoints.</h3> \n\n<h3>Your JWT is a required argument to all endpoints.</h3></div>",
    "version": "1.0",
    "x-jentic-source-url": "https://api.autodealerdata.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.autodealerdata.com"
    }
  ],
  "paths": {
    "/getToken": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get a JWT from your API credentials",
        "description": "This is the first function you should call. \n\nIf you are accessing our API through a third party provider they will handle authenticating to our API for you \nand you will not need call this function or retrieve a JSON Web Token. \n\nAll other functions require the JSON Web Token (JWT) from this function to \nbe incuded in their arguments. The value of the \"token\" field is the actual JWT and any other values in the returned JSON\nare metadata there for your convenience. Tokens are valid for a default of 1 hour (3600 seconds). If you try calling an\nAPI endpoint with a missing, invalid, or expired JWT it will return a HTTP 403 code. You would then need to call this end point\nto get a new token.",
        "operationId": "makeToken_getToken_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Apiid",
              "type": "string"
            },
            "name": "apiID",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Apikey",
              "type": "string"
            },
            "name": "apiKey",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JSONWebToken"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get a JWT from your API credentials",
        "description": "This is the first function you should call. \n\nIf you are accessing our API through a third party provider they will handle authenticating to our API for you \nand you will not need call this function or retrieve a JSON Web Token. \n\nAll other functions require the JSON Web Token (JWT) from this function to \nbe incuded in their arguments. The value of the \"token\" field is the actual JWT and any other values in the returned JSON\nare metadata there for your convenience. Tokens are valid for a default of 1 hour (3600 seconds). If you try calling an\nAPI endpoint with a missing, invalid, or expired JWT it will return a HTTP 403 code. You would then need to call this end point\nto get a new token.",
        "operationId": "makeToken_getToken_post",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Apiid",
              "type": "string"
            },
            "name": "apiID",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Apikey",
              "type": "string"
            },
            "name": "apiKey",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JSONWebToken"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/makeSubUserKey": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Generate a Sub User Key that can be used by your users to make API calls in frontend applications.",
        "description": "This endpoint is only fully available to users with a paid plan. Users on Basic or Trial plans may only create keys valid on the \"localhost\" domain.\nThis endpoint creates an API key that can be embedded in frontend applications such as web pages that allow your users to directly make API calls. \nThe \"endpoints\" value is an array of strings that name the allowed endpoints that may be called using the Sub User Key. Passing a \"*\" value in the array will allow\nall endpoints that require a JWT (JSON Web Token) to be called by the Sub User Key. The keys are valid for as long as your account is valid or you revoke the Sub User Key.\nAll API calls made by the Sub User Keys are billed to your account. Additionally you should not call this endpoint or the /revokeSubUserKey endpoint at a combined rate \nhigher than once per second. ",
        "operationId": "makeSubUserKey_makeSubUserKey_post",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Apiid",
              "type": "string"
            },
            "name": "apiID",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Apikey",
              "type": "string"
            },
            "name": "apiKey",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Sitename",
              "type": "string",
              "default": "localhost"
            },
            "name": "siteName",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EndpointList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubUserJSONWebToken"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/revokeSubUserKey": {
      "put": {
        "tags": [
          "Authentication"
        ],
        "summary": "Revoke a Sub User Key associated with your account.",
        "description": "Revoke a SubUser API Key with the given UUID. This action can not be undone.",
        "operationId": "revokeSubUserKey_revokeSubUserKey_put",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Apiid",
              "type": "string"
            },
            "name": "apiID",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Apikey",
              "type": "string"
            },
            "name": "apiKey",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Subuserkeyuuid",
              "type": "string"
            },
            "name": "subUserKeyUUID",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/getSubUserKeys": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get all Sub User Keys associated with your account.",
        "description": "Get a list of your issued SubUser API Keys. Includes active and revoked keys.",
        "operationId": "getSubUserKeys_getSubUserKeys_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Apiid",
              "type": "string"
            },
            "name": "apiID",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Apikey",
              "type": "string"
            },
            "name": "apiKey",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/getRegions": {
      "get": {
        "tags": [
          "Static Data",
          "Starter Plan Or Greater"
        ],
        "summary": "Get a list of region names",
        "description": "Get region names. These names are used as arguments for other endpoints. The names are generally not case sensitive\nwhen used with other endpoints, but it is best practice to use the names returned by this endpoint without changes.",
        "operationId": "getRegions_getRegions_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/getBrands": {
      "get": {
        "tags": [
          "Static Data",
          "Starter Plan Or Greater"
        ],
        "summary": "Get a list of brand names",
        "description": "Get vehicle brand names. \n\nThese names are used as arguments for other endpoints. The names are generally not case sensitive\nwhen used with other endpoints, but it is best practice to use the names returned by this endpoint without changes.",
        "operationId": "getBrandNames_getBrands_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/getModels": {
      "get": {
        "tags": [
          "Static Data",
          "Starter Plan Or Greater"
        ],
        "summary": "Get a list of model names",
        "description": "Get brand model names for currently active models. This endpoint does not return model names that have been discontinued or have \nsold less than 10 vehicles in the last month and a half.\n\nThese names are used as arguments for other endpoints. The names are generally not case sensitive\n when used with other endpoints, but it is best practice to use the names returned by this endpoint without changes.\n\nSetting the filtered argument to false (default true) will result in more model names being presented by loosening the filtering selectivity. \nThese model names can be passed to the listings2 endpoint for more granular control over what gets returned.",
        "operationId": "getModelNames_getModels_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Brandname",
              "type": "string"
            },
            "name": "brandName",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Filtered",
              "type": "boolean",
              "default": true
            },
            "name": "filtered",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/getInactiveModels": {
      "get": {
        "tags": [
          "Static Data",
          "Starter Plan Or Greater"
        ],
        "summary": "Get a list of model names including discontinued models",
        "description": "Get all model names including discontinued models. Because these models are no longer built, or have very poor market performance\nthey are not incuded in the normal getModels endpoint. Many users itterate through the model names with our new vehicle sales\nendpoints and waste some of their quota making self contradictory requests. This endpoint was created to aleviate the use case where\nsomeone requests information on new vehicle sales for a model that has not been sold new for a long, long, time. \n\nThese names are used as arguments for other endpoints. The names are generally not case sensitive\nwhen used with other endpoints, but it is best practice to use the names returned by this endpoint without changes.",
        "operationId": "getModelNamesAll_getInactiveModels_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Brandname",
              "type": "string"
            },
            "name": "brandName",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/daysToSell": {
      "get": {
        "tags": [
          "Supply Data",
          "Developer Plan Or Greater"
        ],
        "summary": "Days a vehicle takes to sell",
        "description": "Average, median, standard deviation, population variance, and whole region average of the \nnumber of days a vehicle spends on dealer lots for a given brand and region. The average, median, stdDev, and pVar fields are calculated on\na dealer by dealer basis while the whole region average treats the entire region like a single dealership. \nThe average field may differ from the whole region average.\n\nThe available brand and region names can be retrieved from their respective endpoints.",
        "operationId": "daysToSell_daysToSell_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Brandname",
              "type": "string"
            },
            "name": "brandName",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Regionname",
              "type": "string",
              "default": "REGION_STATE_CA"
            },
            "name": "regionName",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/daysSupply": {
      "get": {
        "tags": [
          "Supply Data",
          "Developer Plan Or Greater"
        ],
        "summary": "Days worth of supply left on dealer lots",
        "description": "Average, median, standard deviation, population variance, and whole region average of the \ndays of supply left on dealer lots for a given brand and region. The average, median, stdDev, and pVar fields are calculated on\na dealer by dealer basis while the whole region average treats the entire region like a single dealership. \nThe average field may differ from the whole region average, especially when dealers are out of \na given model. \n\nThe available brand and region names can be retrieved from their respective endpoints.",
        "operationId": "daysSupply_daysSupply_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Brandname",
              "type": "string"
            },
            "name": "brandName",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Regionname",
              "type": "string",
              "default": "REGION_STATE_CA"
            },
            "name": "regionName",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/listPrice": {
      "get": {
        "tags": [
          "Pricing Data",
          "Starter Plan Or Greater"
        ],
        "summary": "Stats on ask price of new vehicles",
        "description": "Average, median, standard deviation, and population variance of the ask price of new vehicles over the last 15 days for a given brand and region.\n\nThe available brand and region names can be retrieved from their respective endpoints.",
        "operationId": "getAvgListPrice_listPrice_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Brandname",
              "type": "string"
            },
            "name": "brandName",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Regionname",
              "type": "string",
              "default": "REGION_STATE_CA"
            },
            "name": "regionName",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicModelStatsResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/salePrice": {
      "get": {
        "tags": [
          "Pricing Data",
          "Starter Plan Or Greater"
        ],
        "summary": "Stats on sale price of new vehicles",
        "description": "Average, median, standard deviation, and population variance of the sale price of new vehicles over the last 15 days for a given brand and region.\n\nThe available brand and region names can be retrieved from their respective endpoints.",
        "operationId": "getAvgSalePrice_salePrice_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Brandname",
              "type": "string"
            },
            "name": "brandName",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Regionname",
              "type": "string",
              "default": "REGION_STATE_CA"
            },
            "name": "regionName",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicModelStatsResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/salePriceHistogram": {
      "get": {
        "tags": [
          "Pricing Data",
          "Starter Plan Or Greater"
        ],
        "summary": "Histogram of sales price of new vehicles by model",
        "description": "Histogram of the sale price of vehicles over the last 45 days for a given model and region. \nPrice buckets are grouped in units of $1000\n The available brand, model, and region names can be retrieved from their respective endpoints.",
        "operationId": "getModelSaleBuckets_salePriceHistogram_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Modelname",
              "type": "string"
            },
            "name": "modelName",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Brandname",
              "type": "string"
            },
            "name": "brandName",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Regionname",
              "type": "string",
              "default": "REGION_STATE_CA"
            },
            "name": "regionName",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BucketResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/modelYearDist": {
      "get": {
        "tags": [
          "Sales Data",
          "Starter Plan Or Greater"
        ],
        "summary": "Used market share of model year by model",
        "description": "Market share of used vehicles over the last 45 days by model and year. All values are relative to vehicles of the same model.\nFor example: a percentOfMarket value of 25, year of 2017, and modelName of Camry means that 25% of used Camrys on the market \nin the given region over the last 45 days were from the 2017 model year.",
        "operationId": "getModelUsedDist_modelYearDist_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Modelname",
              "type": "string"
            },
            "name": "modelName",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Brandname",
              "type": "string"
            },
            "name": "brandName",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Regionname",
              "type": "string",
              "default": "REGION_STATE_CA"
            },
            "name": "regionName",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelYearDistResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/topModels": {
      "get": {
        "tags": [
          "Sales Data",
          "Starter Plan Or Greater"
        ],
        "summary": "Top models in a given region",
        "description": "Sales ranking of different models by region over the last 45 days. \nThe <strong>percentOfTopSales</strong> value is the percent of the top seller the model represents. \n\nFor example: a value of 80% means that model sold 8 vehicles for every 10 of the top model sold.\n\nThe other fields represent the model percent of X. The <strong>brandMarketShare</strong> field is that brand's market share of the region\nover the report's time interval.",
        "operationId": "getTopModels_topModels_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Regionname",
              "type": "string",
              "default": "REGION_STATE_CA"
            },
            "name": "regionName",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopModelResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/getRegionBrandMarketShare": {
      "get": {
        "tags": [
          "Sales Data",
          "Analyst Plan Or Greater"
        ],
        "summary": "Market share of a brand in region",
        "description": "Market share of a given brand in a given region by number of vehicles sold over the last 45 days.",
        "operationId": "getRegionBrandMarketShare_getRegionBrandMarketShare_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Brandname",
              "type": "string"
            },
            "name": "brandName",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Regionname",
              "type": "string",
              "default": "REGION_STATE_CA"
            },
            "name": "regionName",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/getRegionMarketShare": {
      "get": {
        "tags": [
          "Sales Data",
          "Premium",
          "Analyst Plan Or Greater"
        ],
        "summary": "Market share of all brands in region",
        "description": "Market share of a all brands in a given region by number of vehicles sold over the last 45 days.",
        "operationId": "getRegionMarketShare_getRegionMarketShare_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Regionname",
              "type": "string",
              "default": "REGION_STATE_CA"
            },
            "name": "regionName",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/getDealers": {
      "get": {
        "tags": [
          "Dealership Data",
          "Premium",
          "Developer Plan Or Greater"
        ],
        "summary": "Premium. Dealers in a zip code.",
        "description": "Premium. Dealership information in a given zip code using the first 4 digits. Returns name, address, state, zipCode, and IDs.\nFor example a call with the zip code 92701 would return dealers with zip codes in the range [92700, 92709]",
        "operationId": "getDealers_getDealers_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Zipcode",
              "type": "integer"
            },
            "name": "zipCode",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealershipDataResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/getDealersByRegion": {
      "get": {
        "tags": [
          "Dealership Data",
          "Premium",
          "Developer Plan Or Greater"
        ],
        "summary": "Premium. Dealers in a region.",
        "description": "Premium. Dealership information in a given region. Returns name, address, state, zipCode, and IDs. Results are paginated with up to 30 results per page.",
        "operationId": "getDealers_getDealersByRegion_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Regionname",
              "type": "string",
              "default": "REGION_STATE_CA"
            },
            "name": "regionName",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page",
              "type": "integer",
              "default": 1
            },
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealershipDataPaginatedResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/getDealersByID": {
      "get": {
        "tags": [
          "Dealership Data",
          "Premium",
          "Developer Plan Or Greater"
        ],
        "summary": "Premium. Dealers by ID",
        "description": "Premium. Dealership information using the internal ID. Returns name, address, state, zipCode, and ID for a single dealer in the same format as the /getDealers endpoint.\nDealer IDs are generally retrieved via the /getDealers or /getDealersByRegion endpoints or as part of a listings response.",
        "operationId": "getDealers_getDealersByID_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Dealerid",
              "type": "integer"
            },
            "name": "dealerID",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealershipDataResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/regionSales": {
      "get": {
        "tags": [
          "Sales Data",
          "Premium",
          "Analyst Plan Or Greater"
        ],
        "summary": "Premium. Brand sales by region and month",
        "description": "Premium. Get regional sales by brand and month, broken down by day. Most recent data is typically only 2 days old for this endpoint.\n    \nThe month field is in YYYY-MM-DD format. For example if you wanted sales data from April of 2020 the month field would be '2020-04-01'\n\nData availability depends on region and goes back up to 2016.",
        "operationId": "getDealerSales_regionSales_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Brandname",
              "type": "string"
            },
            "name": "brandName",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Regionname",
              "type": "string"
            },
            "name": "regionName",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Month",
              "type": "string",
              "format": "date"
            },
            "name": "month",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/regionDailySales": {
      "get": {
        "tags": [
          "Sales Data",
          "Analyst Plan Or Greater"
        ],
        "summary": "Brand sales by region and Day",
        "description": "Get regional sales by brand and day. Most recent data is typically only 2 days old for this endpoint.\n    \nThe Day field is in YYYY-MM-DD format. For example if you wanted sales data from April 5th of 2020 the day field would be '2020-04-05'\n\nData availability depends on region and goes back up to 2016.",
        "operationId": "getDealerSales_regionDailySales_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Brandname",
              "type": "string"
            },
            "name": "brandName",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Regionname",
              "type": "string"
            },
            "name": "regionName",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Day",
              "type": "string",
              "format": "date"
            },
            "name": "day",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/vehicleHistory": {
      "get": {
        "tags": [
          "Vehicle Data",
          "Premium",
          "Starter Plan Or Greater"
        ],
        "summary": "Premium. Simple Vehicle History Report",
        "description": "Premium. Provides a simple report detailing a vechicle's sales history at dealerships. Data includes the name of the dealership, dates it was for sale,\nprice, new/used condition, mileage, dealership state, and dealership zip code. Data availability goes back to early 2016. \n\nIf your use case involves checking if a vehicle has appeared on the open market on or after a given date see \nthe /vehicleSeen endpoint.",
        "operationId": "getHistory2_vehicleHistory_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Vin",
              "type": "string"
            },
            "name": "vin",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/similarSalePrice": {
      "get": {
        "tags": [
          "Vehicle Data",
          "Premium",
          "Pricing Data",
          "Starter Plan Or Greater"
        ],
        "summary": "Premium. Simple Vehicle Market Report",
        "description": "Premium. Provides the average, stdDev, and count, of the sale price and mileage of similar new and used vehicles in a given region based off the provided VIN. \nOptionally restricts report to vehicles of the same model year and goes back up to 120 days.",
        "operationId": "getMarket3_similarSalePrice_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Vin",
              "type": "string"
            },
            "name": "vin",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Regionname",
              "type": "string",
              "default": "REGION_STATE_CA"
            },
            "name": "regionName",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Daysback",
              "type": "integer",
              "default": 45
            },
            "name": "daysBack",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Sameyear",
              "type": "boolean",
              "default": false
            },
            "name": "sameYear",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimilarSalePriceResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/valuation": {
      "get": {
        "tags": [
          "Vehicle Data",
          "Premium",
          "Pricing Data",
          "Developer Plan Or Greater"
        ],
        "summary": "Premium. Simple Vehicle Market Report Over Arbitrary Locations and Vehicles.",
        "description": "Premium. Provides the average, stdDev, and count, of the sale price and mileage of similar new or used vehicles based off the provided VIN \nand matching the provided other search criteria. This endpoint can be easily used to determine market values in arbitrary geographic locations (like a city)\nfor specific vehicles.\nSee /listings2 endpoint for documentation on location, vehicle, and time search parameters. \nDate selection is restricted by your subscription tier, same as with the /listings2 endpoint.\nOptionally restricts report to vehicles of the same model year. ",
        "operationId": "getMarket4_valuation_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Vin",
              "type": "string"
            },
            "name": "vin",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Dealerid",
              "type": "integer",
              "default": 0
            },
            "name": "dealerID",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Zipcode",
              "type": "integer",
              "default": 0
            },
            "name": "zipCode",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Latitude",
              "type": "number",
              "default": 0
            },
            "name": "latitude",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Longitude",
              "type": "number",
              "default": 0
            },
            "name": "longitude",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Radius",
              "type": "number",
              "default": 0
            },
            "name": "radius",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Regionname",
              "type": "string"
            },
            "name": "regionName",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Mileagelow",
              "type": "integer",
              "default": 0
            },
            "name": "mileageLow",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Mileagehigh",
              "type": "integer",
              "default": 0
            },
            "name": "mileageHigh",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Startdate",
              "type": "string",
              "format": "date"
            },
            "name": "startDate",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Enddate",
              "type": "string",
              "format": "date"
            },
            "name": "endDate",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Daysback",
              "type": "integer",
              "default": 45
            },
            "name": "daysBack",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Newcars",
              "type": "boolean",
              "default": false
            },
            "name": "newCars",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Extendedsearch",
              "type": "boolean",
              "default": false
            },
            "name": "extendedSearch",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Sameyear",
              "type": "boolean",
              "default": false
            },
            "name": "sameYear",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimilarSalePriceResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/vehicleSeen": {
      "get": {
        "tags": [
          "Vehicle Data",
          "Application Acceleration",
          "Analyst Plan Or Greater"
        ],
        "summary": "Checks if a VIN appeared on the market on or after a given date.",
        "description": "Checks our database to see if we have data on a VIN that appeared on the open market on or after the given date with a True/False response. \nThis endpoint is more cost effective than the /vehicleHistory endpoint if your use case\nrequires searching a large list of vehicles with a low individual likelyhood of appearing on the open market. (For example searching for a specific stolen vehicle).",
        "operationId": "getVehicleSeen_vehicleSeen_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Vin",
              "type": "string"
            },
            "name": "vin",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Afterdate",
              "type": "string",
              "format": "date"
            },
            "name": "afterDate",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/vinDecode": {
      "get": {
        "tags": [
          "Vehicle Data",
          "Starter Plan Or Greater"
        ],
        "summary": "Vin decoder and Recall Info",
        "description": "Decodes the provided North American vin and provides recall information if available. \nWe require at least the first 12 out of 17 characters in the vin to attempt a decode. The vin is not case sensitive.\nIf passEmpty (default False) is True we will also include the empty fields in the response json. \nIf includeRecall (default True) is True we will include recall data reported to the NHTSA. Set False for a faster response.",
        "operationId": "vinDecode_vinDecode_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Vin",
              "type": "string"
            },
            "name": "vin",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Passempty",
              "type": "boolean",
              "default": false
            },
            "name": "passEmpty",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Includerecall",
              "type": "boolean",
              "default": true
            },
            "name": "includeRecall",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/listings2": {
      "get": {
        "tags": [
          "Vehicle Data",
          "Developer Plan Or Greater"
        ],
        "summary": "Flexible Listing Search",
        "description": "Generic getter for listings supporting a wide array of selection criteria. This is the new primary listing endpoint and we will phase out the older listing endpoints over time.\nThe other listing endpoints return the same data, but are more restrictive in the available geographic and vehicle selection criteria and can be replicated by this endpoint.\n\nDealer selection uses the most restrictive criteria supplied. From most restrictive to least: dealerID, gps, zipCode, region. You must provide some dealer selection criteria.\n \nIt is important to note that the units in the longitude are in degrees east, not degrees west. For example the coordinates 45.53N, 100.41W correspond to Mobridge, SC \nbut they will be interpreted as 45.53N, 100.41E which corresponds to a point in the Gobi Desert near Jinst, Mongolia. You can fix this by converting the longitiude yourself, \nor by supplying a negative value (-100.41). For this example both (X, -100.41) and (X, 259.59) would be the same point. Units on the radius are miles and a smaller radius will\nresult in a faster response time. Maximum search radius depends on your subscription plan. \n\nThe radius value is used for GPS searches and (optionally) zipCode searches. It is ignored for searches using other location criteria. If you provide a radius value with a zipCode\nsearch, the zipCode will be mapped to GPS coordinates behind the scenes. If no radius is provided or if the zipCode to GPS mapping fails,\n the API will only search for vehicles at dealerships within the provided zipCode.\n \nListing selection logically ANDs all options given. \n\nTime interval selection will prefer explicit start and end dates. If only one of startDate/endDate is supplied, this endpoint will use it \nas an anchor and look forward or backwards by the daysBack value. If startDate is specified and endDate is not, then endDate will be set to startDate+daysBack. \nConversely if endDate is specified, but startDate is not then startDate will be set at endDate-daysBack.\n If neither is supplied endpoint will set endDate to today and startDate to today-daysBack.\n\nMaximum time interval is 45 days.\n\nMileage selection uses the provided mileage values and returns vehicles with mileage in the range [mileageLow, mileageHigh].\nIf mileageLow == mileageHigh (for example both are 0 default) this endpoint will not filter based on mileage. Not all used vehicles have a mileage record available. \n\nExtendedSearch modifies the slice of listings returned. If false (default) it only returns vehicles satisfying lastSeen >= startDate and lastSeen < endDate.\nIf true it will return vehicles that were in dealer's inventory at any point between startDate and endDate including vehicles that were sold after endDate.\nSetting extendedSearch to true will result in a slower response time. \n\nFor example: If both a region name and dealer ID are supplied the dealer ID will be used because it is the most restrictive.\n\nIf a brandName of Ford and modelYear of 2019, modelName of F-150, and newCars of False is supplied this endpoint will return \nused 2019 model year Ford F-150s. If a contradictory listing selection is supplied (for example Ford + Camry) no listings will be returned\nbecause the request matched no listings.\n\nResults are paginated in chunks of up to 20 vehicles. Prices are in the dealer's local currency (generally USD).",
        "operationId": "getListings2_listings2_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Dealerid",
              "type": "integer",
              "default": 0
            },
            "name": "dealerID",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Zipcode",
              "type": "integer",
              "default": 0
            },
            "name": "zipCode",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Latitude",
              "type": "number",
              "default": 0
            },
            "name": "latitude",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Longitude",
              "type": "number",
              "default": 0
            },
            "name": "longitude",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Radius",
              "type": "number",
              "default": 0
            },
            "name": "radius",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Regionname",
              "type": "string"
            },
            "name": "regionName",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Brandname",
              "type": "string"
            },
            "name": "brandName",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Modelname",
              "type": "string"
            },
            "name": "modelName",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Modelyear",
              "type": "integer",
              "default": 0
            },
            "name": "modelYear",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Mileagelow",
              "type": "integer",
              "default": 0
            },
            "name": "mileageLow",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Mileagehigh",
              "type": "integer",
              "default": 0
            },
            "name": "mileageHigh",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Startdate",
              "type": "string",
              "format": "date"
            },
            "name": "startDate",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Enddate",
              "type": "string",
              "format": "date"
            },
            "name": "endDate",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Daysback",
              "type": "integer",
              "default": 45
            },
            "name": "daysBack",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page",
              "type": "integer",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Newcars",
              "type": "boolean",
              "default": true
            },
            "name": "newCars",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Extendedsearch",
              "type": "boolean",
              "default": false
            },
            "name": "extendedSearch",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/listings": {
      "get": {
        "tags": [
          "Vehicle Data",
          "Analyst Plan Or Greater"
        ],
        "summary": "Listings by Dealer ID",
        "description": "See /listings2 endpoint for more flexible listing search.\nReturns a dealer's listings over the last 45 days by dealer ID. The ID can be found by calling the /getDealers endpoint. \nListing keys are: vin, askPrice, msrp, isNew, firstSeen, lastSeen, modelName, brandName.\nResults are paginated in chunks of up to 20 vehicles. Prices are in the dealer's local currency (generally USD).",
        "operationId": "getListingsByDealer_listings_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Dealerid",
              "type": "integer"
            },
            "name": "dealerID",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page",
              "type": "integer",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Newcars",
              "type": "boolean",
              "default": true
            },
            "name": "newCars",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/listingsByDate": {
      "get": {
        "tags": [
          "Vehicle Data",
          "Analyst Plan Or Greater"
        ],
        "summary": "Listings by Dealer ID and Date",
        "description": "See /listings2 endpoint for more flexible listing search.\nReturns a dealer's listings over the given timespan by dealer ID. The ID can be found by calling the /getDealers endpoint. \nMaximum time interval between startDate and endDate is 45 days.\nListing keys are: vin, askPrice, msrp, isNew, firstSeen, lastSeen, modelName, brandName.\nResults are paginated in chunks of up to 20 vehicles. Prices are in the dealer's local currency (generally USD).",
        "operationId": "getListingsByDealer_listingsByDate_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Dealerid",
              "type": "integer"
            },
            "name": "dealerID",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Startdate",
              "type": "string",
              "format": "date"
            },
            "name": "startDate",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Enddate",
              "type": "string",
              "format": "date"
            },
            "name": "endDate",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page",
              "type": "integer",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Newcars",
              "type": "boolean",
              "default": true
            },
            "name": "newCars",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/listingsByRegion": {
      "get": {
        "tags": [
          "Vehicle Data",
          "Analyst Plan Or Greater"
        ],
        "summary": "Listings by Region",
        "description": "See /listings2 endpoint for more flexible listing search.\nReturns a dealer's listings over up to the last 45 days by region. \nListing keys are: vin, askPrice, msrp, isNew, firstSeen, lastSeen, modelName, brandName.\n Results are paginated in chunks of up to 20 vehicles. Prices are in the dealer's local currency (generally USD).",
        "operationId": "getListingsByRegion_listingsByRegion_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Regionname",
              "type": "string"
            },
            "name": "regionName",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Modelname",
              "type": "string"
            },
            "name": "modelName",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Daysback",
              "type": "integer",
              "default": 10
            },
            "name": "daysBack",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page",
              "type": "integer",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Newcars",
              "type": "boolean",
              "default": true
            },
            "name": "newCars",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/listingsByRegionAndDate": {
      "get": {
        "tags": [
          "Vehicle Data",
          "Analyst Plan Or Greater"
        ],
        "summary": "Listings by Region and Date",
        "description": "See /listings2 endpoint for more flexible listing search.\nReturns listings active in a region in the given date range [startdate, endDate), or in other words dates that satisfy startDate <= X < endDate. Maximum range is 45 days \nListing keys are: vin, askPrice, msrp, isNew, firstSeen, lastSeen, modelName, brandName.\nResults are paginated in chunks of up to 20 vehicles. Prices are in the dealer's local currency (generally USD).",
        "operationId": "getListingsByRegionAndDate_listingsByRegionAndDate_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Regionname",
              "type": "string"
            },
            "name": "regionName",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Modelname",
              "type": "string"
            },
            "name": "modelName",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Startdate",
              "type": "string",
              "format": "date"
            },
            "name": "startDate",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Enddate",
              "type": "string",
              "format": "date"
            },
            "name": "endDate",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page",
              "type": "integer",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Newcars",
              "type": "boolean",
              "default": true
            },
            "name": "newCars",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/listingsByZipCode": {
      "get": {
        "tags": [
          "Vehicle Data",
          "Analyst Plan Or Greater"
        ],
        "summary": "Listings by ZipCode",
        "description": "See /listings2 endpoint for more flexible listing search.\nReturns a dealer's listings over up to the last 45 days in the provided dealerhip's zip code. For example 92701.\nListing keys are: vin, askPrice, msrp, isNew, firstSeen, lastSeen, modelName, brandName.\nResults are paginated in chunks of up to 20 vehicles. Prices are in the dealer's local currency (generally USD).",
        "operationId": "listingsByZipCode_listingsByZipCode_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Zipcode",
              "type": "integer"
            },
            "name": "zipCode",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page",
              "type": "integer",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Newcars",
              "type": "boolean",
              "default": true
            },
            "name": "newCars",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Modelname",
              "type": "string"
            },
            "name": "modelName",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/listingsByZipCodeAndDate": {
      "get": {
        "tags": [
          "Vehicle Data",
          "Analyst Plan Or Greater"
        ],
        "summary": "Listings by ZipCode and Date",
        "description": "See /listings2 endpoint for more flexible listing search.\nReturns a dealer's listings over up to the last 45 days in the provided dealership's zip code. For example 92701.\nListing keys are: vin, askPrice, msrp, isNew, firstSeen, lastSeen, modelName, brandName.\nResults are paginated in chunks of up to 20 vehicles. Prices are in the dealer's local currency (generally USD).",
        "operationId": "listingsByZipCodeAndDate_listingsByZipCodeAndDate_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Jwt",
              "type": "string"
            },
            "name": "jwt",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Zipcode",
              "type": "integer"
            },
            "name": "zipCode",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Startdate",
              "type": "string",
              "format": "date"
            },
            "name": "startDate",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "Enddate",
              "type": "string",
              "format": "date"
            },
            "name": "endDate",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Page",
              "type": "integer",
              "default": 1
            },
            "name": "page",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Newcars",
              "type": "boolean",
              "default": true
            },
            "name": "newCars",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Modelname",
              "type": "string"
            },
            "name": "modelName",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingResp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BasicModelStats": {
        "title": "BasicModelStats",
        "required": [
          "name",
          "average",
          "median",
          "stdDev",
          "pVariance"
        ],
        "type": "object",
        "properties": {
          "name": {
            "title": "Name",
            "type": "string"
          },
          "average": {
            "title": "Average",
            "type": "number"
          },
          "median": {
            "title": "Median",
            "type": "number"
          },
          "stdDev": {
            "title": "Stddev",
            "type": "number"
          },
          "pVariance": {
            "title": "Pvariance",
            "type": "number"
          }
        }
      },
      "BasicModelStatsResp": {
        "title": "BasicModelStatsResp",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "brandName": {
            "title": "Brandname",
            "type": "string"
          },
          "modelName": {
            "title": "Modelname",
            "type": "string"
          },
          "regionName": {
            "title": "Regionname",
            "type": "string"
          },
          "condition": {
            "title": "Condition",
            "type": "string"
          },
          "msg": {
            "title": "Msg",
            "type": "string"
          },
          "cacheTimeLimit": {
            "title": "Cachetimelimit",
            "type": "integer",
            "default": 7200
          },
          "data": {
            "title": "Data",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BasicModelStats"
            }
          }
        }
      },
      "BooleanResp": {
        "title": "BooleanResp",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "brandName": {
            "title": "Brandname",
            "type": "string"
          },
          "modelName": {
            "title": "Modelname",
            "type": "string"
          },
          "regionName": {
            "title": "Regionname",
            "type": "string"
          },
          "condition": {
            "title": "Condition",
            "type": "string"
          },
          "msg": {
            "title": "Msg",
            "type": "string"
          },
          "cacheTimeLimit": {
            "title": "Cachetimelimit",
            "type": "integer",
            "default": 7200
          },
          "data": {
            "title": "Data",
            "type": "boolean"
          }
        }
      },
      "BrandResp": {
        "title": "BrandResp",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "brandName": {
            "title": "Brandname",
            "type": "string"
          },
          "modelName": {
            "title": "Modelname",
            "type": "string"
          },
          "regionName": {
            "title": "Regionname",
            "type": "string"
          },
          "condition": {
            "title": "Condition",
            "type": "string"
          },
          "msg": {
            "title": "Msg",
            "type": "string"
          },
          "cacheTimeLimit": {
            "title": "Cachetimelimit",
            "type": "integer",
            "default": 7200
          },
          "data": {
            "title": "Data",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BucketEntry": {
        "title": "BucketEntry",
        "required": [
          "percentOfMarket",
          "bucket",
          "modelName"
        ],
        "type": "object",
        "properties": {
          "percentOfMarket": {
            "title": "Percentofmarket",
            "type": "number"
          },
          "bucket": {
            "title": "Bucket",
            "type": "number"
          },
          "modelName": {
            "title": "Modelname",
            "type": "string"
          }
        }
      },
      "BucketResp": {
        "title": "BucketResp",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "brandName": {
            "title": "Brandname",
            "type": "string"
          },
          "modelName": {
            "title": "Modelname",
            "type": "string"
          },
          "regionName": {
            "title": "Regionname",
            "type": "string"
          },
          "condition": {
            "title": "Condition",
            "type": "string"
          },
          "msg": {
            "title": "Msg",
            "type": "string"
          },
          "cacheTimeLimit": {
            "title": "Cachetimelimit",
            "type": "integer",
            "default": 7200
          },
          "data": {
            "title": "Data",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BucketEntry"
            }
          }
        }
      },
      "DealershipData": {
        "title": "DealershipData",
        "required": [
          "dealerName",
          "zipCode",
          "state",
          "address",
          "ids",
          "urls",
          "phoneNumbers"
        ],
        "type": "object",
        "properties": {
          "dealerName": {
            "title": "Dealername",
            "type": "string"
          },
          "zipCode": {
            "title": "Zipcode",
            "type": "integer"
          },
          "state": {
            "title": "State",
            "type": "string"
          },
          "address": {
            "title": "Address",
            "type": "string"
          },
          "ids": {
            "title": "Ids",
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "urls": {
            "title": "Urls",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "phoneNumbers": {
            "title": "Phonenumbers",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          }
        }
      },
      "DealershipDataPaginated": {
        "title": "DealershipDataPaginated",
        "required": [
          "page",
          "maxPages",
          "dealers"
        ],
        "type": "object",
        "properties": {
          "page": {
            "title": "Page",
            "type": "integer"
          },
          "maxPages": {
            "title": "Maxpages",
            "type": "integer"
          },
          "dealers": {
            "title": "Dealers",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DealershipData"
            }
          }
        }
      },
      "DealershipDataPaginatedResp": {
        "title": "DealershipDataPaginatedResp",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "brandName": {
            "title": "Brandname",
            "type": "string"
          },
          "modelName": {
            "title": "Modelname",
            "type": "string"
          },
          "regionName": {
            "title": "Regionname",
            "type": "string"
          },
          "condition": {
            "title": "Condition",
            "type": "string"
          },
          "msg": {
            "title": "Msg",
            "type": "string"
          },
          "cacheTimeLimit": {
            "title": "Cachetimelimit",
            "type": "integer",
            "default": 7200
          },
          "data": {
            "$ref": "#/components/schemas/DealershipDataPaginated"
          }
        }
      },
      "DealershipDataResp": {
        "title": "DealershipDataResp",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "brandName": {
            "title": "Brandname",
            "type": "string"
          },
          "modelName": {
            "title": "Modelname",
            "type": "string"
          },
          "regionName": {
            "title": "Regionname",
            "type": "string"
          },
          "condition": {
            "title": "Condition",
            "type": "string"
          },
          "msg": {
            "title": "Msg",
            "type": "string"
          },
          "cacheTimeLimit": {
            "title": "Cachetimelimit",
            "type": "integer",
            "default": 7200
          },
          "data": {
            "title": "Data",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DealershipData"
            }
          }
        }
      },
      "EndpointList": {
        "title": "EndpointList",
        "type": "object",
        "properties": {
          "endPoints": {
            "title": "Endpoints",
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": [
              "*"
            ]
          }
        }
      },
      "GenericResponse": {
        "title": "GenericResponse",
        "type": "object",
        "properties": {
          "brandName": {
            "title": "Brandname",
            "type": "string"
          },
          "modelName": {
            "title": "Modelname",
            "type": "string"
          },
          "regionName": {
            "title": "Regionname",
            "type": "string"
          },
          "condition": {
            "title": "Condition",
            "type": "string"
          },
          "msg": {
            "title": "Msg",
            "type": "string"
          },
          "cacheTimeLimit": {
            "title": "Cachetimelimit",
            "type": "integer",
            "default": 7200
          },
          "data": {
            "title": "Data"
          }
        }
      },
      "HTTPValidationError": {
        "title": "HTTPValidationError",
        "type": "object",
        "properties": {
          "detail": {
            "title": "Detail",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "HistoryResp": {
        "title": "HistoryResp",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "brandName": {
            "title": "Brandname",
            "type": "string"
          },
          "modelName": {
            "title": "Modelname",
            "type": "string"
          },
          "regionName": {
            "title": "Regionname",
            "type": "string"
          },
          "condition": {
            "title": "Condition",
            "type": "string"
          },
          "msg": {
            "title": "Msg",
            "type": "string"
          },
          "cacheTimeLimit": {
            "title": "Cachetimelimit",
            "type": "integer",
            "default": 7200
          },
          "data": {
            "$ref": "#/components/schemas/VehHistoryData"
          }
        }
      },
      "JSONWebToken": {
        "title": "JSONWebToken",
        "required": [
          "token"
        ],
        "type": "object",
        "properties": {
          "token": {
            "title": "Token",
            "type": "string"
          },
          "expires": {
            "title": "Expires",
            "type": "integer"
          },
          "createdOn": {
            "title": "Createdon",
            "type": "integer"
          }
        }
      },
      "Listing": {
        "title": "Listing",
        "required": [
          "vin",
          "askPrice",
          "msrp",
          "isNew",
          "firstSeen",
          "lastSeen",
          "modelName",
          "brandName",
          "year",
          "dealerID"
        ],
        "type": "object",
        "properties": {
          "vin": {
            "title": "Vin",
            "type": "string"
          },
          "askPrice": {
            "title": "Askprice",
            "type": "number"
          },
          "msrp": {
            "title": "Msrp",
            "type": "number"
          },
          "mileage": {
            "title": "Mileage",
            "type": "number",
            "default": 0
          },
          "isNew": {
            "title": "Isnew",
            "type": "boolean"
          },
          "firstSeen": {
            "title": "Firstseen",
            "type": "string",
            "format": "date"
          },
          "lastSeen": {
            "title": "Lastseen",
            "type": "string",
            "format": "date"
          },
          "modelName": {
            "title": "Modelname",
            "type": "string"
          },
          "brandName": {
            "title": "Brandname",
            "type": "string"
          },
          "year": {
            "title": "Year",
            "type": "number"
          },
          "dealerID": {
            "title": "Dealerid",
            "type": "integer"
          },
          "color": {
            "title": "Color",
            "type": "string"
          },
          "interiorColor": {
            "title": "Interiorcolor",
            "type": "string"
          },
          "vinDecode": {
            "title": "Vindecode",
            "type": "object",
            "default": {}
          }
        }
      },
      "ListingResp": {
        "title": "ListingResp",
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "brandName": {
            "title": "Brandname",
            "type": "string"
          },
          "modelName": {
            "title": "Modelname",
            "type": "string"
          },
          "regionName": {
            "title": "Regionname",
            "type": "string"
          },
          "condition": {
            "title": "Condition",
            "type": "string"
          },
          "msg": {
            "title": "Msg",
            "type": "string"
          },
          "cacheTimeLimit": {
            "title": "Cachetimelimit",
            "type": "integer",
            "default": 7200
          },
          "data": {
            "$ref": "#/components/schemas/ListingRespPaginated"
          },
          "startDate": {
            "title": "Startdate",
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "title": "Enddate",
            "type": "string",
            "format": "date"
          }
        }
      },
      "ListingRespPaginated": {
        "title": "ListingRespPaginated",
        "required": [
          "page",
          "maxPages",
          "listings"
        ],
        "type": "object",
        "properties": {
          "page": {
            "title": "Page",
            "type": "integer"
          },
          "maxPages": {
            "title": "Maxpages",
            "type": "integer"
          },
          "listings": {
            "title": "Listings",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Listing"
            }
          }
        }
      },
      "ModelDict": {
        "title": "ModelDict",
        "required": [
          "modelName"
        ],
        "type": "object",
        "properties": {
          "modelName": {
            "title": "Modelname",
            "type": "string"
          }
        }
      },
[...]
