{
  "openapi": "3.0.3",
  "info": {
    "title": "IBM DataStage API",
    "version": "3.0.0",
    "description": "IBM DataStage REST API for managing data integration flows, jobs, and pipelines on IBM Cloud. Provides ETL job management, compilation, execution, and monitoring capabilities for data transformation workflows.",
    "x-jentic-source-url": "https://cloud.ibm.com/apidocs/datastage"
  },
  "servers": [
    {
      "url": "https://datastage.cloud.ibm.com/data_intg"
    }
  ],
  "paths": {
    "/v3/data_intg_flows": {
      "get": {
        "operationId": "listFlows",
        "summary": "List DataStage flows",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "catalog_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createFlow",
        "summary": "Create a DataStage flow",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "catalog_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlowInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v3/data_intg_flows/{flow_id}": {
      "get": {
        "operationId": "getFlow",
        "summary": "Get a DataStage flow",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "flow_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "catalog_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "operationId": "updateFlow",
        "summary": "Update a DataStage flow",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "flow_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlowInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteFlow",
        "summary": "Delete a DataStage flow",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "flow_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v3/data_intg_flows/{flow_id}/clone": {
      "post": {
        "operationId": "cloneFlow",
        "summary": "Clone a DataStage flow",
        "tags": [
          "Flows"
        ],
        "parameters": [
          {
            "name": "flow_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Cloned"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v3/data_intg_flows/{flow_id}/compile": {
      "post": {
        "operationId": "compileFlow",
        "summary": "Compile a DataStage flow",
        "tags": [
          "Compilation"
        ],
        "parameters": [
          {
            "name": "flow_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Compilation result"
          },
          "400": {
            "description": "Compilation failed"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v3/ds_jobs": {
      "get": {
        "operationId": "listJobs",
        "summary": "List DataStage jobs",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v3/ds_jobs/{job_id}": {
      "get": {
        "operationId": "getJob",
        "summary": "Get a DataStage job",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteJob",
        "summary": "Delete a DataStage job",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v3/ds_jobs/{job_id}/run": {
      "post": {
        "operationId": "runJob",
        "summary": "Run a DataStage job",
        "tags": [
          "Job Runs"
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobRunInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job run started"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v3/ds_jobs/{job_id}/runs": {
      "get": {
        "operationId": "listJobRuns",
        "summary": "List job runs",
        "tags": [
          "Job Runs"
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v3/ds_jobs/{job_id}/runs/{run_id}": {
      "get": {
        "operationId": "getJobRun",
        "summary": "Get a job run",
        "tags": [
          "Job Runs"
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "operationId": "cancelJobRun",
        "summary": "Cancel a job run",
        "tags": [
          "Job Runs"
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Cancelled"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v3/ds_jobs/{job_id}/runs/{run_id}/logs": {
      "get": {
        "operationId": "getJobRunLogs",
        "summary": "Get job run logs",
        "tags": [
          "Job Runs"
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logs retrieved"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v3/migration/encrypt": {
      "post": {
        "operationId": "encryptMigrationData",
        "summary": "Encrypt migration data",
        "tags": [
          "Migration"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Encrypted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v3/migration/decrypt": {
      "post": {
        "operationId": "decryptMigrationData",
        "summary": "Decrypt migration data",
        "tags": [
          "Migration"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decrypted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FlowList": {
        "type": "object",
        "properties": {
          "data_intg_flows": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "asset_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "create_time": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                },
                "entity": {
                  "type": "object"
                }
              }
            }
          },
          "total_count": {
            "type": "integer"
          }
        }
      },
      "FlowInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "pipeline_flows": {
            "type": "object"
          }
        }
      },
      "JobRunInput": {
        "type": "object",
        "properties": {
          "job_run": {
            "type": "object",
            "properties": {
              "job_name": {
                "type": "string"
              },
              "configuration": {
                "type": "object"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "trace": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "IAM Token"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}