{
  "openapi": "3.0.3",
  "info": {
    "version": "5.23.0",
    "title": "Pinterest REST API",
    "description": "Pinterest's REST API",
    "contact": {
      "name": "Pinterest, Inc.",
      "url": "https://developers.pinterest.com/"
    },
    "license": {
      "name": "MIT",
      "url": "https://spdx.org/licenses/MIT"
    },
    "termsOfService": "https://developers.pinterest.com/terms/"
  },
  "servers": [
    {
      "url": "https://api.pinterest.com/v5"
    }
  ],
  "paths": {
    "/ad_accounts": {
      "get": {
        "operationId": "ad_accounts/list",
        "summary": "List ad accounts",
        "description": "Get a list of the ad_accounts that the \"operation user_account\" has access to.\n        - This includes ad_accounts they own and ad_accounts that are owned by others who have granted them [Business Access](https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts).",
        "parameters": [
          {
            "name": "include_shared_accounts",
            "in": "query",
            "description": "Include shared ad accounts",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "$ref": "#/components/parameters/Pinterest.Lib.BookmarkParams.bookmark"
          },
          {
            "$ref": "#/components/parameters/Pinterest.Lib.BookmarkParams.page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bookmark": {
                      "type": "string",
                      "nullable": true
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AdAccount"
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request could not be understood by the server due to unexpected data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication is required and has either failed or not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            }
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found on this server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time and is being rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          },
          {
            "client_credentials": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "ad_accounts"
        ],
        "x-ratelimit-category": "ads_read",
        "x-sandbox": "enabled"
      },
      "post": {
        "operationId": "ad_accounts/create",
        "summary": "Create ad account",
        "description": "Create a new ad account. Different ad accounts can support different currencies, payment methods, etc.\nAn ad account is needed to create campaigns, ad groups, and ads; other accounts (your employees or partners) can be assigned business access and appropriate roles to access an ad account.\n\nYou can set up up to 50 ad accounts per user. (The user must have a business account to create an ad account.)\nFor more, see [Create an advertiser account](https://help.pinterest.com/en/business/article/create-an-advertiser-account).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdAccountCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdAccount"
                }
              }
            }
          },
          "201": {
            "description": "Resource create operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdAccount"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be understood by the server due to unexpected data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication is required and has either failed or not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            }
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found on this server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time and is being rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:write"
            ]
          }
        ],
        "tags": [
          "ad_accounts"
        ],
        "x-ratelimit-category": "ads_write",
        "x-sandbox": "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}": {
      "get": {
        "operationId": "ad_accounts/get",
        "summary": "Get ad account",
        "description": "Get an ad account",
        "parameters": [
          {
            "$ref": "#/components/parameters/AdAccountKey"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdAccount"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be understood by the server due to unexpected data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication is required and has either failed or not been provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            }
          },
          "403": {
            "description": "The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource could not be found on this server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time and is being rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pinterest.Lib.Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          },
          {
            "client_credentials": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "ad_accounts"
        ],
        "x-ratelimit-category": "ads_read",
        "x-sandbox": "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups": {
      "get": {
        "operationId": "ad_groups/list",
        "summary": "List ad groups",
        "description": "List ad groups based on provided campaign IDs or ad group IDs.(campaign_ids or ad_group_ids). <p/>\n<strong>Note:</strong><p/>\nProvide only campaign_id or ad_group_id. Do not provide both.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_campaign_ids"
          },
          {
            "$ref": "#/components/parameters/query_ad_group_ids"
          },
          {
            "$ref": "#/components/parameters/query_entity_statuses"
          },
          {
            "$ref": "#/components/parameters/query_page_size"
          },
          {
            "$ref": "#/components/parameters/query_order"
          },
          {
            "$ref": "#/components/parameters/query_bookmark"
          },
          {
            "$ref": "#/components/parameters/query_translate_interests_to_names"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Paginated"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AdGroupResponse"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid ad account group parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad account group parameters."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          },
          {
            "client_credentials": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "ad_groups"
        ],
        "x-ratelimit-category": "ads_read",
        "x-sandbox": "enabled"
      },
      "post": {
        "operationId": "ad_groups/create",
        "summary": "Create ad groups",
        "description": "Create multiple new ad groups. All ads in a given ad group will have the same budget, bid, run dates, targeting, and placement (search, browse, other). For more information, <a href=\"https://help.pinterest.com/en/business/article/campaign-structure\" target=\"_blank\"> click here</a>.\n<strong>Notes:</strong>\n- `bid_in_micro_currency` and `budget_in_micro_currency` should be expressed in microcurrency amounts based on the currency field set in the advertiser's profile.<p/>\n<p>Microcurrency is used to track very small transactions, based on the currency set in the advertiser\u2019s profile.</p>\n<p>A microcurrency unit is 10^(-6) of the standard unit of currency selected in the advertiser\u2019s profile.</p>\n<p><strong>Equivalency equations</strong>, using dollars as an example currency:</p>\n<ul>\n  <li>$1 = 1,000,000 microdollars</li>\n  <li>1 microdollar = $0.000001 </li>\n</ul>\n<p><strong>To convert between currency and microcurrency</strong>, using dollars as an example currency:</p>\n<ul>\n  <li>To convert dollars to microdollars, mutiply dollars by 1,000,000</li>\n  <li>To convert microdollars to dollars, divide microdollars by 1,000,000</li>\n</ul>\n- Ad groups belong to ad campaigns. Some types of campaigns (e.g. budget optimization) have limits on the number of ad groups they can hold. If you exceed those limits, you will get an error message.\n- Certain organizations with <a href=\"/docs/getting-started/using-beta-and-restricted-features/\" target=\"blank\" target=\"blank\">closed beta</a> access can set `start_time` and `end_time` at the ad group level for campaigns with Campaign Budget Optimization (CBO) objectives: `TRAFFIC`, `AWARENESS`, `WEB_CONVERSIONS`, and `CATALOG_SALES`. All other organizations can set these scheduling parameters for non-CBO campaigns only.\n- If the parent ad campaign has start and end times set, ad group start and end times must occur within the parent campaign schedule. ",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          }
        ],
        "requestBody": {
          "description": "List of ad groups to create, size limit [1, 30].",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AdGroupCreateRequest"
                },
                "maxItems": 30,
                "minItems": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupArrayResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:write"
            ]
          }
        ],
        "tags": [
          "ad_groups"
        ],
        "x-ratelimit-category": "ads_write",
        "x-sandbox": "enabled"
      },
      "patch": {
        "operationId": "ad_groups/update",
        "summary": "Update ad groups",
        "description": "Update multiple existing ad groups.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          }
        ],
        "requestBody": {
          "description": "List of ad groups to update, size limit [1, 30].",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AdGroupUpdateRequest"
                },
                "maxItems": 30,
                "minItems": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupArrayResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:write"
            ]
          }
        ],
        "tags": [
          "ad_groups"
        ],
        "x-ratelimit-category": "ads_write",
        "x-sandbox": "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups/analytics": {
      "get": {
        "operationId": "ad_groups/analytics",
        "summary": "Get ad group analytics",
        "description": "Get analytics for the specified ad groups in the specified <code>ad_account_id</code>, filtered by the specified options.\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.\n- If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days.\n- If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_start_date"
          },
          {
            "$ref": "#/components/parameters/query_end_date"
          },
          {
            "$ref": "#/components/parameters/query_ad_group_ids_required"
          },
          {
            "$ref": "#/components/parameters/query_columns"
          },
          {
            "$ref": "#/components/parameters/query_granularity"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_click_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_engagement_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_view_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_conversion_report_time"
          },
          {
            "$ref": "#/components/parameters/aggregate_report_rows"
          },
          {
            "$ref": "#/components/parameters/query_reporting_timezone"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupsAnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ad account group analytics parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad account group analytics parameters."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          },
          {
            "client_credentials": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "ad_groups"
        ],
        "x-ratelimit-category": "ads_analytics",
        "x-sandbox": "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups/targeting_analytics": {
      "get": {
        "operationId": "ad_groups_targeting_analytics/get",
        "summary": "Get targeting analytics for ad groups",
        "description": "Get targeting analytics for one or more ad groups.\nFor the requested ad group(s) and metrics, the response will include the requested metric information\n(e.g. SPEND_IN_DOLLAR) for the requested target type (e.g. \"age_bucket\") for applicable values (e.g. \"45-49\"). <p/>\n- The token's user_account must either be the Owner of the specified ad account, or have one\nof the necessary roles granted to them via\n<a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.\n- If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days.\n- If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_ad_group_ids_required"
          },
          {
            "$ref": "#/components/parameters/query_start_date"
          },
          {
            "$ref": "#/components/parameters/query_end_date"
          },
          {
            "$ref": "#/components/parameters/query_ad_group_targeting_types"
          },
          {
            "$ref": "#/components/parameters/query_columns"
          },
          {
            "$ref": "#/components/parameters/query_granularity"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_click_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_engagement_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_view_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_conversion_report_time"
          },
          {
            "$ref": "#/components/parameters/query_attribution_types"
          },
          {
            "$ref": "#/components/parameters/query_reporting_timezone"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          },
          {
            "client_credentials": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "ad_groups"
        ],
        "x-ratelimit-category": "ads_analytics",
        "x-sandbox": "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups/audience_sizing": {
      "post": {
        "operationId": "ad_groups/audience_sizing",
        "summary": "Get audience sizing",
        "description": "Get potential audience size for an ad group with given targeting criteria. \nPotential audience size estimates the number of people you may be able to reach per month with your campaign. \nIt is based on historical advertising data and the targeting criteria you select.\nIt does not guarantee results or take into account factors such as bid, budget, schedule, seasonality or product experiments.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdGroupAudienceSizingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupAudienceSizingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ad group audience sizing parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad group audience sizing parameters."
                }
              }
            }
          },
          "403": {
            "description": "No access to requested audience list or product group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 403,
                  "message": "You don't have access to the requested audience list or product group."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          },
          {
            "client_credentials": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "ad_groups"
        ],
        "x-ratelimit-category": "ads_read",
        "x-sandbox": "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ad_groups/{ad_group_id}": {
      "get": {
        "operationId": "ad_groups/get",
        "summary": "Get ad group",
        "description": "Get a specific ad group given the ad group ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/path_ad_group_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdGroupResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          },
          {
            "client_credentials": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "ad_groups"
        ],
        "x-ratelimit-category": "ads_read",
        "x-sandbox": "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ad_previews": {
      "post": {
        "operationId": "ad_previews/create",
        "summary": "Create ad preview with pin or image",
        "description": "Create an ad preview given an ad account ID and either an existing organic pin ID or the URL for an image to be used to create the Pin and the ad. <p/>\nIf you are creating a preview from an existing Pin, that Pin must be promotable: that is, it must have a clickthrough link and meet other requirements. (See <a href=\"https://help.pinterest.com/en/business/article/promoted-pins-overview\" target=\"_blank\">Ads Overview</a>.) <p/>\nYou can view the returned preview URL on a webpage or iframe for 7 days, after which the URL expires. Collection ads are not currently supported ad preview.\n\nCreating ad preview from catalog product group is currently in BETA and is not available to all users.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          }
        ],
        "requestBody": {
          "description": "Create ad preview with pin or image.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdPreviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful ad preview creation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdPreviewURLResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Pin parameters response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "InvalidPinUrl": {
                    "value": {
                      "code": 1,
                      "message": "Whoops! It looks like you entered an invalid URL. Try creating a Pin again with a valid URL."
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:write"
            ]
          }
        ],
        "tags": [
          "ads"
        ],
        "x-ratelimit-category": "ads_write",
        "x-sandbox": "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ads": {
      "get": {
        "operationId": "ads/list",
        "summary": "List ads",
        "description": "List ads that meet the filters provided:\n  - Listed campaign ids or ad group ids or ad ids\n  - Listed entity statuses <p/>\nIf no filter is provided, all ads in the ad account are returned. <p/>\n<strong>Note:</strong><p/>\nProvide only campaign_id or ad_group_id or ad_id. Do not provide more than one type. <p/>\nReview status is provided for each ad; if review_status is REJECTED, the rejected_reasons field will contain additional information.\nFor more, see <a href=\"https://policy.pinterest.com/en/advertising-guidelines\">Pinterest advertising standards</a>.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_campaign_ids"
          },
          {
            "$ref": "#/components/parameters/query_ad_group_ids"
          },
          {
            "$ref": "#/components/parameters/query_ad_ids"
          },
          {
            "$ref": "#/components/parameters/query_entity_statuses"
          },
          {
            "$ref": "#/components/parameters/query_page_size"
          },
          {
            "$ref": "#/components/parameters/query_order"
          },
          {
            "$ref": "#/components/parameters/query_bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Paginated"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AdResponse"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid ad account ads parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad account ads parameters."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          },
          {
            "client_credentials": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "ads"
        ],
        "x-ratelimit-category": "ads_read",
        "x-sandbox": "enabled"
      },
      "post": {
        "operationId": "ads/create",
        "summary": "Create ads",
        "description": "Create multiple new ads. Request must contain `ad_group_id`, `creative_type`, and the source Pin `pin_id`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          }
        ],
        "requestBody": {
          "description": "List of ads to create, size limit [1, 30].",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AdCreateRequest"
                },
                "maxItems": 30,
                "minItems": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdArrayResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:write"
            ]
          }
        ],
        "tags": [
          "ads"
        ],
        "x-ratelimit-category": "ads_write",
        "x-sandbox": "enabled"
      },
      "patch": {
        "operationId": "ads/update",
        "summary": "Update ads",
        "description": "Update multiple existing ads",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          }
        ],
        "requestBody": {
          "description": "List of ads to update, size limit [1, 30]",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AdUpdateRequest"
                },
                "maxItems": 30,
                "minItems": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdArrayResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:write"
            ]
          }
        ],
        "tags": [
          "ads"
        ],
        "x-ratelimit-category": "ads_write",
        "x-sandbox": "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ads/analytics": {
      "get": {
        "operationId": "ads/analytics",
        "summary": "Get ad analytics",
        "description": "Get analytics for the specified ads in the specified <code>ad_account_id</code>, filtered by the specified options.\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.\n- The request must contain either ad_ids or both campaign_ids and pin_ids.\n- If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days.\n- If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_start_date"
          },
          {
            "$ref": "#/components/parameters/query_end_date"
          },
          {
            "$ref": "#/components/parameters/query_ad_ids"
          },
          {
            "$ref": "#/components/parameters/query_columns"
          },
          {
            "$ref": "#/components/parameters/query_granularity"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_click_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_engagement_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_view_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_conversion_report_time"
          },
          {
            "name": "pin_ids",
            "in": "query",
            "description": "List of Pin IDs.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "pattern": "^\\d+$"
              },
              "maxItems": 100,
              "minItems": 1
            }
          },
          {
            "$ref": "#/components/parameters/query_campaign_ids"
          },
          {
            "$ref": "#/components/parameters/query_reporting_timezone"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsAnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ad account ads analytics parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad account ads analytics parameters."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          },
          {
            "client_credentials": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "ads"
        ],
        "x-ratelimit-category": "ads_analytics",
        "x-sandbox": "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ads_credit/discounts": {
      "get": {
        "operationId": "ads_credits_discounts/get",
        "summary": "Get ads credit discounts",
        "description": "Returns the list of discounts applied to the account.\n\n<strong>This endpoint might not be available to all apps. <a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.</strong>",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_bookmark"
          },
          {
            "$ref": "#/components/parameters/query_page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Paginated"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AdsCreditDiscountsResponse"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read",
              "billing:read"
            ]
          }
        ],
        "tags": [
          "billing"
        ],
        "x-ratelimit-category": "ads_read",
        "x-sandbox": "disabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ads_credit/redeem": {
      "post": {
        "operationId": "ads_credit/redeem",
        "summary": "Redeem ad credits",
        "description": "Redeem ads credit on behalf of the ad account id and apply it towards billing.\n\n<strong>This endpoint might not be available to all apps. <a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.</strong>",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          }
        ],
        "requestBody": {
          "description": "Redeem ad credits request.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdsCreditRedeemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully redeemed ad credits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsCreditRedeemResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error thrown when unable to redeem offer code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "ValidationError": {
                    "value": {
                      "code": 15,
                      "message": "Unable to redeem offer code. Try again later."
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:write",
              "billing:write"
            ]
          }
        ],
        "tags": [
          "billing"
        ],
        "x-ratelimit-category": "ads_write",
        "x-sandbox": "disabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ads/targeting_analytics": {
      "get": {
        "operationId": "ad_targeting_analytics/get",
        "summary": "Get targeting analytics for ads",
        "description": "Get targeting analytics for one or more ads. For the requested ad(s) and metrics,\nthe response will include the requested metric information (e.g. SPEND_IN_DOLLAR) for the requested target type\n(e.g. \"age_bucket\") for applicable values (e.g. \"45-49\"). <p/>\n- The token's user_account must either be the Owner of the specified ad account, or have one\nof the necessary roles granted to them via\n<a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.\n- If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days.\n- If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time, with a maximum time range of 3 days.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_ad_ids_required"
          },
          {
            "$ref": "#/components/parameters/query_start_date"
          },
          {
            "$ref": "#/components/parameters/query_end_date"
          },
          {
            "$ref": "#/components/parameters/query_ad_targeting_types"
          },
          {
            "$ref": "#/components/parameters/query_columns"
          },
          {
            "$ref": "#/components/parameters/query_granularity"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_click_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_engagement_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_view_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_conversion_report_time"
          },
          {
            "$ref": "#/components/parameters/query_attribution_types"
          },
          {
            "$ref": "#/components/parameters/query_reporting_timezone"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          },
          {
            "client_credentials": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "ads"
        ],
        "x-ratelimit-category": "ads_analytics",
        "x-sandbox": "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/ads/{ad_id}": {
      "get": {
        "operationId": "ads/get",
        "summary": "Get ad",
        "description": "Get a specific ad given the ad ID. If your pin is rejected, rejected_reasons will\ncontain additional information from the Ad Review process.\nFor more information about our policies and rejection reasons see the <a href=\"https://www.pinterest.com/_/_/policy/advertising-guidelines/\" target=\"_blank\">Pinterest advertising standards</a>.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/path_ad_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          },
          {
            "client_credentials": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "ads"
        ],
        "x-ratelimit-category": "ads_read",
        "x-sandbox": "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/advertiser_defined_events": {
      "get": {
        "operationId": "advertiser_defined_events/get",
        "summary": "Get advertiser defined events",
        "description": "<p>Get advertiser defined events for the given ad account.</p>",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "title": "AdvertiserDefinedEvent",
                        "properties": {
                          "name": {
                            "description": "raw string name of the event, usually logged as raw_event_name in our dataset",
                            "type": "string",
                            "example": "download_picture"
                          },
                          "mapped_conversion_type": {
                            "description": "standard type mapped to ADE for optimization",
                            "anyOf": [
                              {
                                "type": "string",
                                "description": "conversion tag type",
                                "example": "PAGE_LOAD",
                                "enum": [
                                  "PAGE_LOAD",
                                  "UNKNOWN",
                                  "INITIALIZED",
                                  "PAGE_VISIT",
                                  "SIGNUP",
                                  "CHECKOUT",
                                  "CUSTOM",
                                  "VIEW_CATEGORY",
                                  "SEARCH",
                                  "ADD_TO_CART",
                                  "WATCH_VIDEO",
                                  "LEAD",
                                  "APP_INSTALL",
                                  "WEB_SESSION",
                                  "EXTERNAL_MEASUREMENT",
                                  "ADD_PAYMENT_INFO",
                                  "ADD_TO_WISHLIST",
                                  "INITIATE_CHECKOUT",
                                  "SUBSCRIBE",
                                  "VIEW_CONTENT",
                                  "ADVERTISER_DEFINED_EVENT",
                                  "APP_OPEN",
                                  "CONTACT",
                                  "SCHEDULE",
                                  "FIND_LOCATION",
                                  "CUSTOMIZE_PRODUCT",
                                  "SUBMIT_APPLICATION",
                                  "START_TRIAL"
                                ]
                              },
                              {
                                "type": "string",
                                "nullable": true,
                                "enum": [
                                  null
                                ]
                              }
                            ],
                            "nullable": true
                          }
                        }
                      }
                    }
                  },
                  "title": "AdvertiserDefinedEventsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          },
          {
            "client_credentials": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "conversions"
        ],
        "x-ratelimit-category": "ads_read",
        "x-sandbox": "disabled"
      }
    },
    "/ad_accounts/{ad_account_id}/analytics": {
      "get": {
        "operationId": "ad_account/analytics",
        "summary": "Get ad account analytics",
        "description": "Get analytics for the specified <code>ad_account_id</code>, filtered by the specified options.\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.\n- If granularity is not HOUR, you can pull data from up to 90 days before the current date in UTC time, with a maximum time range of 90 days.\n- If granularity is HOUR, you can pull data from up to 8 days before the current date in UTC time.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_start_date"
          },
          {
            "$ref": "#/components/parameters/query_end_date"
          },
          {
            "$ref": "#/components/parameters/query_columns"
          },
          {
            "$ref": "#/components/parameters/query_granularity"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_click_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_engagement_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_view_window_days"
          },
          {
            "$ref": "#/components/parameters/query_conversion_attribution_conversion_report_time"
          },
          {
            "$ref": "#/components/parameters/query_reporting_timezone"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdAccountAnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ad account analytics parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad account analytics parameters."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          },
          {
            "client_credentials": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "ad_accounts"
        ],
        "x-ratelimit-category": "ads_analytics",
        "x-sandbox": "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/audience_insights": {
      "get": {
        "operationId": "audience_insights/get",
        "summary": "Get audience insights",
        "description": "Get Audience Insights for an ad account. The response will return insights for 3 types of audiences: the\nad account's engaged audience on Pinterest, the ad account's total audience on Pinterest and Pinterest's\ntotal audience.<p/>\n<a href=\"https://help.pinterest.com/en/business/article/audience-insights\" target=\"_blank\">Learn more about Audience Insights</a>.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_audience_insight_type"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceInsightsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          },
          {
            "client_credentials": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "audience_insights"
        ],
        "x-ratelimit-category": "ads_read",
        "x-sandbox": "disabled"
      }
    },
    "/ad_accounts/{ad_account_id}/audiences": {
      "get": {
        "operationId": "audiences/list",
        "summary": "List audiences",
        "description": "Get list of audiences for the ad account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_bookmark"
          },
          {
            "name": "order",
            "in": "query",
            "description": "The order in which to sort the items returned: \u201cASCENDING\u201d or \u201cDESCENDING\u201d by ID.\nFor received audiences, it is sorted by sharing event time.\nNote that higher-value IDs are associated with more-recently added items.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/query_page_size"
          },
          {
            "name": "ownership_type",
            "in": "query",
            "description": "Filter audiences by ownership type.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "OWNED",
              "enum": [
                "OWNED",
                "RECEIVED"
              ]
            },
            "example": "OWNED"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Paginated"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Audience"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid ad account audience parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad account audience parameters."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          },
          {
            "client_credentials": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "audiences"
        ],
        "x-ratelimit-category": "ads_read",
        "x-sandbox": "disabled"
      },
      "post": {
        "operationId": "audiences/create",
        "summary": "Create audience",
        "description": "Create an audience you can use in targeting for specific ad groups. Targeting combines customer information with\nthe ways users interact with Pinterest to help you reach specific groups of users; you can include or exclude\nspecific `audience_ids` when you create an ad group. <p/>\nLearn about <a href=\"/docs/work-with-targets-and-audiences/create-audiences/\" target=\"_blank\">creating different kinds of audiences</a>.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          }
        ],
        "requestBody": {
          "description": "List of ads to create, size limit [1, 30]",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audience"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:write"
            ]
          }
        ],
        "tags": [
          "audiences"
        ],
        "x-ratelimit-category": "ads_write",
        "x-sandbox": "disabled"
      }
    },
    "/ad_accounts/{ad_account_id}/audiences/{audience_id}": {
      "get": {
        "operationId": "audiences/get",
        "summary": "Get audience",
        "description": "Get a specific audience given the audience ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/path_audience_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audience"
                }
              }
            }
          },
          "404": {
            "description": "Audience not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          },
          {
            "client_credentials": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "audiences"
        ],
        "x-ratelimit-category": "ads_read",
        "x-sandbox": "disabled"
      },
      "patch": {
        "operationId": "audiences/update",
        "summary": "Update audience",
        "description": "Update (edit or remove) an existing targeting audience.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/path_audience_id"
          }
        ],
        "requestBody": {
          "description": "The audience to be updated.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audience"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:write"
            ]
          }
        ],
        "tags": [
          "audiences"
        ],
        "x-ratelimit-category": "ads_write",
        "x-sandbox": "disabled"
      }
    },
    "/ad_accounts/{ad_account_id}/audiences/shared/accounts": {
      "get": {
        "operationId": "ad_accounts_audiences_shared_accounts/list",
        "summary": "List accounts with access to an audience owned by an ad account",
        "description": "List all ad accounts and/or businesses that have access to a specific audience. The audience must be owned by the requesting ad account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_audience_id"
          },
          {
            "$ref": "#/components/parameters/query_account_type"
          },
          {
            "$ref": "#/components/parameters/query_page_size"
          },
          {
            "$ref": "#/components/parameters/query_bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Paginated"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SharedAudienceAccount"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid ad account audiences shared accounts parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad account audiences shared accounts parameters."
                }
              }
            }
          },
          "404": {
            "description": "Shared accounts not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          },
          {
            "client_credentials": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "audience_sharing"
        ],
        "x-ratelimit-category": "ads_read",
        "x-sandbox": "disabled"
      }
    },
    "/ad_accounts/{ad_account_id}/audiences/ad_accounts/shared": {
      "patch": {
        "operationId": "update_ad_account_to_ad_account_shared_audience",
        "summary": "Update audience sharing between ad accounts",
        "description": "From an ad account, share a specific audience with another ad account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient ad account(s) must be in the same <a href='https://help.pinterest.com/en/business/article/create-and-manage-accounts'>Pinterest Business Hierarchy</a> as the business owner of the ad account.<br> This endpoint is not available to all apps.<a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SharedAudience"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharedAudienceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ad account id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad account id"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:write"
            ]
          }
        ],
        "tags": [
          "audience_sharing"
        ],
        "x-ratelimit-category": "ads_write",
        "x-sandbox": "disabled"
      }
    },
    "/ad_accounts/{ad_account_id}/audiences/businesses/shared": {
      "patch": {
        "operationId": "update_ad_account_to_business_shared_audience",
        "summary": "Update audience sharing from an ad account to businesses",
        "description": "From an ad account, share a specific audience with a business account, or revoke access to a previously shared audience. Only the audience owner account can share the audience. The recipient business account must be in the same business hierarchy as the business owner of the ad account.<br> This endpoint is not available to all apps.<a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessSharedAudience"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessSharedAudienceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ad account id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad account id"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:write"
            ]
          }
        ],
        "tags": [
          "audience_sharing"
        ],
        "x-ratelimit-category": "ads_write",
        "x-sandbox": "disabled"
      }
    },
    "/ad_accounts/{ad_account_id}/bid_floor": {
      "post": {
        "operationId": "ad_groups_bid_floor/get",
        "summary": "Get bid floors",
        "description": "List bid floors for your campaign configuration. Bid floors are given in microcurrency values based on the currency in the bid floor specification. <p/>\n<p>Microcurrency is used to track very small transactions, based on the currency set in the advertiser\u2019s profile.</p>\n<p>A microcurrency unit is 10^(-6) of the standard unit of currency selected in the advertiser\u2019s profile.</p>\n<p><strong>Equivalency equations</strong>, using dollars as an example currency:</p>\n<ul>\n  <li>$1 = 1,000,000 microdollars</li>\n  <li>1 microdollar = $0.000001 </li>\n</ul>\n<p><strong>To convert between currency and microcurrency</strong>, using dollars as an example currency:</p>\n<ul>\n  <li>To convert dollars to microdollars, mutiply dollars by 1,000,000</li>\n  <li>To convert microdollars to dollars, divide microdollars by 1,000,000</li>\n</ul>\nFor more on bid floors see <a class=\"reference external\" href=\"https://help.pinterest.com/en/business/article/set-your-bid\"> Set your bid</a>.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          }
        ],
        "requestBody": {
          "description": "Parameters to get bid_floor info",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BidFloorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BidFloor"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          },
          {
            "client_credentials": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "ad_groups"
        ],
        "x-ratelimit-category": "ads_read",
        "x-sandbox": "enabled"
      }
    },
    "/ad_accounts/{ad_account_id}/billing_profiles": {
      "get": {
        "operationId": "billing_profiles/get",
        "summary": "Get billing profiles",
        "description": "Get billing profiles in the advertiser account.\n\n<strong>This endpoint might not be available to all apps. <a href='/docs/getting-started/using-beta-and-restricted-features/'>Learn more</a>.</strong>",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "Return active billing profiles, if false return all billing profiles.",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/query_bookmark"
          },
          {
            "$ref": "#/components/parameters/query_page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Paginated"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/BillingProfilesResponse"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read",
              "billing:read"
            ]
          }
        ],
        "tags": [
          "billing"
        ],
        "x-ratelimit-category": "ads_read",
        "x-sandbox": "disabled"
      }
    },
    "/ad_accounts/{ad_account_id}/billing_invoices": {
      "get": {
        "operationId": "billing_invoices/get",
        "summary": "Get billing invoices",
        "description": "Get billing invoices in the advertiser account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_bookmark"
          },
          {
            "$ref": "#/components/parameters/query_page_size"
          },
          {
            "$ref": "#/components/parameters/query_sort_billing_invoice"
          },
          {
            "$ref": "#/components/parameters/query_order"
          },
          {
            "$ref": "#/components/parameters/query_billing_invoice_status"
          },
          {
            "$ref": "#/components/parameters/query_billing_document_type"
          },
          {
            "$ref": "#/components/parameters/query_billing_start_due_date"
          },
          {
            "$ref": "#/components/parameters/query_billing_end_due_date"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Paginated"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/BillingInvoiceResponse"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid request parameter."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read",
              "billing:read"
            ]
          }
        ],
        "tags": [
          "billing"
        ],
        "x-ratelimit-category": "ads_read",
        "x-sandbox": "disabled"
      }
    },
    "/ad_accounts/{ad_account_id}/billing_invoice/{billing_invoice_id}/download": {
      "get": {
        "operationId": "billing_invoice_download/get",
        "summary": "Get download url for a billing invoice",
        "description": "Get download url for a billing invoice.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/path_billing_invoice_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Billing invoice information for a given ad account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingInvoiceDownloadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid request parameter."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read",
              "billing:read"
            ]
          }
        ],
        "tags": [
          "billing"
        ],
        "x-ratelimit-category": "ads_read",
        "x-sandbox": "disabled"
      }
    },
    "/ad_accounts/{ad_account_id}/bulk/download": {
      "post": {
        "operationId": "bulk_download/create",
        "summary": "Get advertiser entities in bulk",
        "description": "Create an asynchronous report that may include information on campaigns, ad groups, product groups, ads,\nkeywords, and/or labels; can filter by campaigns. Though the entities may be active, archived, or paused,\nonly active entities will return data.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          }
        ],
        "requestBody": {
          "description": "Parameters to get ad entities in bulk",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDownloadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDownloadResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "bulk"
        ],
        "x-ratelimit-category": "ads_read",
        "x-sandbox": "disabled"
      }
    },
    "/ad_accounts/{ad_account_id}/bulk/upsert": {
      "post": {
        "operationId": "bulk_upsert/create",
        "summary": "Create/update ad entities in bulk",
        "description": "Either create or update any combination of campaigns, ad groups, product groups, ads, keywords, or labels.\nNote that this request will be processed asynchronously; the response will include a <code>request_id</code>\nthat can be used to obtain the status of the request.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          }
        ],
        "requestBody": {
          "description": "Parameters to get create/update ad entities in bulk",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkUpsertResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:write"
            ]
          }
        ],
        "tags": [
          "bulk"
        ],
        "x-ratelimit-category": "ads_write",
        "x-sandbox": "disabled"
      }
    },
    "/ad_accounts/{ad_account_id}/bulk/{bulk_request_id}": {
      "get": {
        "operationId": "bulk_request/get",
        "summary": "Download advertiser entities in bulk",
        "description": "Get the status of a bulk request by <code>request_id</code>, along with a download URL that will allow you to download the\nnew or updated entity data (campaigns, ad groups, product groups, ads, or keywords).",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/path_bulk_request_id"
          },
          {
            "$ref": "#/components/parameters/include_details"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkUpsertStatusResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          },
          {
            "client_credentials": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "bulk"
        ],
        "x-ratelimit-category": "ads_read",
        "x-sandbox": "disabled"
      }
    },
    "/ad_accounts/{ad_account_id}/campaigns": {
      "get": {
        "operationId": "campaigns/list",
        "summary": "List campaigns",
        "description": "Get a list of the campaigns in the specified <code>ad_account_id</code>, filtered by the specified options.\n- The token's user_account must either be the Owner of the specified ad account, or have one of the necessary roles granted to them via <a href=\"https://help.pinterest.com/en/business/article/share-and-manage-access-to-your-ad-accounts\">Business Access</a>: Admin, Analyst, Campaign Manager.",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          },
          {
            "$ref": "#/components/parameters/query_campaign_ids"
          },
          {
            "$ref": "#/components/parameters/query_entity_statuses"
          },
          {
            "$ref": "#/components/parameters/query_page_size"
          },
          {
            "$ref": "#/components/parameters/query_order"
          },
          {
            "$ref": "#/components/parameters/query_bookmark"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Paginated"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CampaignResponse"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid ad account campaign parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": 400,
                  "message": "Invalid ad account campaign parameters."
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:read"
            ]
          },
          {
            "client_credentials": [
              "ads:read"
            ]
          }
        ],
        "tags": [
          "campaigns"
        ],
        "x-ratelimit-category": "ads_read",
        "x-sandbox": "enabled"
      },
      "post": {
        "operationId": "campaigns/create",
        "summary": "Create campaigns",
        "description": "Create multiple new campaigns. Every campaign has its own campaign_id and houses one or more ad groups, which contain one or more ads.\nFor more, see <a href=\"https://help.pinterest.com/en/business/article/set-up-your-campaign/\">Set up your campaign</a>. <p/>\n<strong>Note:</strong>\n- The values for 'lifetime_spend_cap' and 'daily_spend_cap' are microcurrency amounts based on the currency field set in the advertiser's profile. (e.g. USD) <p/>\n<p>Microcurrency is used to track very small transactions, based on the currency set in the advertiser\u2019s profile.</p>\n<p>A microcurrency unit is 10^(-6) of the standard unit of currency selected in the advertiser\u2019s profile.</p>\n<p><strong>Equivalency equations</strong>, using dollars as an example currency:</p>\n<ul>\n  <li>$1 = 1,000,000 microdollars</li>\n  <li>1 microdollar = $0.000001 </li>\n</ul>\n<p><strong>To convert between currency and microcurrency</strong>, using dollars as an example currency:</p>\n<ul>\n  <li>To convert dollars to microdollars, mutiply dollars by 1,000,000</li>\n  <li>To convert microdollars to dollars, divide microdollars by 1,000,000</li>\n</ul>",
        "parameters": [
          {
            "$ref": "#/components/parameters/path_ad_account_id"
          }
        ],
        "requestBody": {
          "description": "Array of campaigns.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CampaignCreateRequest"
                },
                "maxItems": 30,
                "minItems": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignCreateResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "pinterest_oauth2": [
              "ads:write"
            ]
          }
        ],
        "tags": [
          "campaigns"
        ],
        "x-ratelimit-category": "ads_write",
        "x-sandbox": "enabled"
      },
      "patch": {
        "operationId": "campaigns/update",
        "summary": "Update campaigns",
[...]
