{"openapi":"3.0.3","info":{"title":"Stellantis Connected Vehicle API","version":"1.0.8","description":"Stellantis Connected Vehicle API for account management, authentication, remote vehicle control, telemetry data, and trip information.","x-jentic-source-url":"https://developers.stellantis.com/Stellantis-Space-Cloud-SDK-swagger.json"},"servers":[{"url":"https://api.stellantis-developers.com"}],"paths":{"/v1/account":{"get":{"operationId":"getAccount","summary":"Get account info","tags":["Account"],"responses":{"200":{"description":"Account info"},"401":{"description":"Unauthorized"}}}},"/v1/account/register":{"post":{"operationId":"registerAccount","summary":"Register account","tags":["Account"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Registered"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}}},"/v1/account/link":{"post":{"operationId":"linkAccount","summary":"Link account","tags":["Account"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Linked"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}}},"/v1/account/unlink":{"post":{"operationId":"unlinkAccount","summary":"Unlink account","tags":["Account"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Unlinked"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}}},"/v1/account/setpassword":{"post":{"operationId":"setPassword","summary":"Set password","tags":["Account"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Password set"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}}},"/v1/account/resetpassword":{"post":{"operationId":"resetPassword","summary":"Reset password","tags":["Account"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Password reset"},"400":{"description":"Bad request"}}}},"/v1/account/delete":{"post":{"operationId":"deleteAccount","summary":"Delete account","tags":["Account"],"responses":{"200":{"description":"Deleted"},"401":{"description":"Unauthorized"}}}},"/v1/auth/token":{"post":{"operationId":"getAuthToken","summary":"Get auth token","tags":["Authentication"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Token returned"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}}},"/v1/{vin}/remote":{"post":{"operationId":"sendRemoteCommand","summary":"Send remote command to vehicle","tags":["Remote Control"],"parameters":[{"name":"vin","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Command sent"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}}},"/v1/{vin}/data/":{"get":{"operationId":"getVehicleData","summary":"Get vehicle telemetry data","tags":["Vehicle Data"],"parameters":[{"name":"vin","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Vehicle data"},"401":{"description":"Unauthorized"}}}}},"components":{"schemas":{"ErrorResponse":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}}},"security":[{"bearerAuth":[]}]}
