{
  "openapi": "3.0.3",
  "info": {
    "title": "validTo API",
    "version": "1.0.0",
    "description": "validTo email verification service API. Validates email addresses individually or in bulk, checking deliverability, syntax, and more.",
    "x-jentic-source-url": "https://validto.readme.io/reference/"
  },
  "servers": [
    { "url": "https://api.validto.com/v1" }
  ],
  "paths": {
    "/verify": {
      "get": {
        "operationId": "verifySingleEmail",
        "summary": "Validate a single email address",
        "tags": ["Validation"],
        "parameters": [
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" }, "description": "API key for authentication" },
          { "name": "email", "in": "query", "required": true, "schema": { "type": "string", "format": "email" }, "description": "Email address to validate" },
          { "name": "timeout", "in": "query", "required": false, "schema": { "type": "integer", "default": 180000 }, "description": "Timeout in milliseconds" }
        ],
        "responses": {
          "200": { "description": "Validation result", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationResult" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/bulk": {
      "post": {
        "operationId": "createBulkValidation",
        "summary": "Upload and create bulk validation list",
        "tags": ["Bulk Validation"],
        "parameters": [
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "local_file": { "type": "string", "format": "binary", "description": "CSV file with email addresses" },
                  "auto_verify": { "type": "boolean", "description": "Auto-start verification" }
                },
                "required": ["local_file"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Bulk job created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BulkJob" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/bulk/{job_id}": {
      "patch": {
        "operationId": "startBulkValidation",
        "summary": "Start verification on bulk list",
        "tags": ["Bulk Validation"],
        "parameters": [
          { "name": "job_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "properties": { "action": { "type": "string", "enum": ["start"] } } } } }
        },
        "responses": {
          "200": { "description": "Validation started" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "get": {
        "operationId": "getBulkValidationProgress",
        "summary": "Check bulk validation progress",
        "tags": ["Bulk Validation"],
        "parameters": [
          { "name": "job_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Bulk job status", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BulkJob" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "deleteBulkValidation",
        "summary": "Delete bulk validation list",
        "tags": ["Bulk Validation"],
        "parameters": [
          { "name": "job_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Bulk job deleted" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/download": {
      "post": {
        "operationId": "downloadBulkResults",
        "summary": "Download bulk validation results",
        "tags": ["Bulk Validation"],
        "parameters": [
          { "name": "jobId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object", "properties": { "filterResult": { "type": "string" } } } } }
        },
        "responses": {
          "200": { "description": "Results file" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/info": {
      "get": {
        "operationId": "getAccountInfo",
        "summary": "Retrieve remaining credit balance",
        "tags": ["Account"],
        "parameters": [
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Account info", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AccountInfo" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ValidationResult": { "type": "object", "properties": { "email": { "type": "string" }, "result": { "type": "string" }, "reason": { "type": "string" }, "disposable": { "type": "boolean" }, "accept_all": { "type": "boolean" }, "free": { "type": "boolean" } } },
      "BulkJob": { "type": "object", "properties": { "job_id": { "type": "string" }, "status": { "type": "string" }, "total": { "type": "integer" }, "processed": { "type": "integer" } } },
      "AccountInfo": { "type": "object", "properties": { "credits": { "type": "integer" }, "plan": { "type": "string" } } },
      "ErrorResponse": { "type": "object", "properties": { "status": { "type": "string", "enum": ["error"] }, "code": { "type": "string" }, "message": { "type": "string" } } }
    },
    "securitySchemes": {
      "apiKey": { "type": "apiKey", "in": "query", "name": "apikey", "description": "API key passed as query parameter" }
    }
  },
  "security": [
    { "apiKey": [] }
  ]
}