{
  "openapi": "3.0.3",
  "info": {
    "title": "Calendarific Holiday API",
    "description": "The Calendarific API provides access to public, local, religious, and observance holidays for over 230 countries and 3,300+ states. It supports historical data and future dates through 2049.",
    "version": "2.0.0",
    "contact": {
      "name": "Calendarific",
      "url": "https://calendarific.com"
    }
  },
  "servers": [
    {
      "url": "https://calendarific.com/api/v2",
      "description": "Calendarific API v2"
    }
  ],
  "paths": {
    "/holidays": {
      "get": {
        "operationId": "getHolidays",
        "summary": "Get holidays",
        "description": "Retrieve holidays for a specific country and year. Optionally filter by month, day, location, type, and language.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your Calendarific API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "Country code in ISO 3166-1 alpha-2 format (e.g., 'US', 'GB', 'IN').",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "The year to retrieve holidays for. Supports historical years through 2049.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "description": "Filter by month (1-12).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          },
          {
            "name": "day",
            "in": "query",
            "required": false,
            "description": "Filter by day of month (1-31).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 31
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "ISO 3166-2 subdivision code for state/region filtering (e.g., 'us-ny', 'gb-eng').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Comma-separated holiday types to filter by: national, local, religious, observance.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "ISO 639-1 two-letter language code for holiday name translation. Professional plan and above.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "required": false,
            "description": "When set to true, includes a UUID for each holiday. Professional plan and above.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with holidays.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "holidays": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Holiday"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - malformed request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Holidays"]
      }
    },
    "/countries": {
      "get": {
        "operationId": "getCountries",
        "summary": "List supported countries",
        "description": "Retrieve a list of all countries supported by Calendarific with their ISO codes and supported languages.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your Calendarific API key.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with country list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "countries": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Country"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "tags": ["Reference Data"]
      }
    },
    "/languages": {
      "get": {
        "operationId": "getLanguages",
        "summary": "List supported languages",
        "description": "Retrieve a list of all languages supported by Calendarific with their ISO codes.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your Calendarific API key.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with language list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "languages": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Language"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "tags": ["Reference Data"]
      }
    }
  },
  "components": {
    "schemas": {
      "Meta": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "HTTP status code."
          },
          "error_type": {
            "type": "string",
            "description": "Error type if applicable."
          },
          "error_detail": {
            "type": "string",
            "description": "Error detail message if applicable."
          }
        }
      },
      "Holiday": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the holiday."
          },
          "description": {
            "type": "string",
            "description": "Description of the holiday."
          },
          "country": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "ISO 3166-1 alpha-2 country code."
              },
              "name": {
                "type": "string",
                "description": "Country name."
              }
            }
          },
          "date": {
            "type": "object",
            "properties": {
              "iso": {
                "type": "string",
                "description": "ISO 8601 date string."
              },
              "datetime": {
                "type": "object",
                "properties": {
                  "year": {
                    "type": "integer"
                  },
                  "month": {
                    "type": "integer"
                  },
                  "day": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "type": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of holiday types (e.g., 'National holiday', 'Observance', 'Local holiday')."
          },
          "primary_type": {
            "type": "string",
            "description": "Primary type of the holiday."
          },
          "canonical_url": {
            "type": "string",
            "description": "URL to the holiday on Calendarific."
          },
          "urlid": {
            "type": "string",
            "description": "URL-friendly identifier."
          },
          "locations": {
            "type": "string",
            "description": "Locations where the holiday is observed ('All' or specific regions)."
          },
          "states": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "abbrev": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "exception": {
                  "type": "string",
                  "nullable": true
                },
                "iso": {
                  "type": "string"
                }
              }
            },
            "description": "States/regions where the holiday applies."
          },
          "uuid": {
            "type": "string",
            "description": "Unique identifier for the holiday (Professional plan)."
          }
        }
      },
      "Country": {
        "type": "object",
        "properties": {
          "country_name": {
            "type": "string"
          },
          "iso-3166": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code."
          },
          "total_holidays": {
            "type": "integer"
          },
          "supported_languages": {
            "type": "integer"
          },
          "uuid": {
            "type": "string"
          }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "ISO 639-1 language code."
          },
          "name": {
            "type": "string",
            "description": "Language name."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "error_type": {
                "type": "string"
              },
              "error_detail": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Holidays",
      "description": "Retrieve holiday information for countries and regions."
    },
    {
      "name": "Reference Data",
      "description": "List supported countries and languages."
    }
  ]
}