{
  "openapi": "3.0.3",
  "info": {
    "title": "FarmBot API",
    "version": "15.0.0",
    "description": "FarmBot's REST API for managing farm resources including devices, points, sequences, farm events, sensors, images, tools, and more. Resources are JSON documents used by FarmBots, humans, and third-party tools.",
    "x-jentic-source-url": "https://developer.farm.bot/docs/rest-api"
  },
  "servers": [
    { "url": "https://my.farm.bot/api" }
  ],
  "paths": {
    "/tokens": {
      "post": {
        "operationId": "createToken",
        "summary": "Create authentication token",
        "description": "Authenticate with email and password to receive a JWT token.",
        "tags": ["Authentication"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "user": { "type": "object", "properties": { "email": { "type": "string" }, "password": { "type": "string" } }, "required": ["email", "password"] } } } } } },
        "responses": {
          "200": { "description": "Token created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TokenResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Invalid credentials", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/device": {
      "get": {
        "operationId": "getDevice",
        "summary": "Get device info",
        "tags": ["Device"],
        "responses": { "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Device" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } }
      },
      "put": {
        "operationId": "updateDevice",
        "summary": "Update device",
        "tags": ["Device"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Device" } } } },
        "responses": { "200": { "description": "Updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Device" } } } }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } }
      }
    },
    "/points": {
      "get": {
        "operationId": "listPoints",
        "summary": "List points",
        "description": "Returns all points (plants, weeds, tool slots, generic points). Supports filter parameter.",
        "tags": ["Points"],
        "parameters": [
          { "name": "filter", "in": "query", "required": false, "schema": { "type": "string", "enum": ["all", "old", "kept"], "default": "kept" }, "description": "Filter: kept=active, old=archived, all=both" }
        ],
        "responses": { "200": { "description": "Successful response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Point" } } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } }
      },
      "post": {
        "operationId": "createPoint",
        "summary": "Create point",
        "tags": ["Points"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PointRequest" } } } },
        "responses": { "200": { "description": "Created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Point" } } } }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } }
      }
    },
    "/points/{id}": {
      "get": {
        "operationId": "getPoint",
        "summary": "Get point",
        "tags": ["Points"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "responses": { "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Point" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } }
      },
      "put": {
        "operationId": "updatePoint",
        "summary": "Update point",
        "tags": ["Points"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PointRequest" } } } },
        "responses": { "200": { "description": "Updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Point" } } } }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } }
      },
      "delete": {
        "operationId": "deletePoint",
        "summary": "Delete point",
        "tags": ["Points"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Point ID or comma-separated IDs for bulk delete" }],
        "responses": { "200": { "description": "Deleted" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } }
      }
    },
    "/sequences": {
      "get": { "operationId": "listSequences", "summary": "List sequences", "tags": ["Sequences"], "responses": { "200": { "description": "Successful response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Sequence" } } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "post": { "operationId": "createSequence", "summary": "Create sequence", "tags": ["Sequences"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Sequence" } } } }, "responses": { "200": { "description": "Created" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/sequences/{id}": {
      "get": { "operationId": "getSequence", "summary": "Get sequence", "tags": ["Sequences"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "put": { "operationId": "updateSequence", "summary": "Update sequence", "tags": ["Sequences"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Sequence" } } } }, "responses": { "200": { "description": "Updated" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "delete": { "operationId": "deleteSequence", "summary": "Delete sequence", "tags": ["Sequences"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Deleted" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/farm_events": {
      "get": { "operationId": "listFarmEvents", "summary": "List farm events", "tags": ["Farm Events"], "parameters": [{ "name": "page", "in": "query", "required": false, "schema": { "type": "integer" } }, { "name": "per", "in": "query", "required": false, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Successful response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/FarmEvent" } } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "post": { "operationId": "createFarmEvent", "summary": "Create farm event", "tags": ["Farm Events"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FarmEvent" } } } }, "responses": { "200": { "description": "Created" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/farm_events/{id}": {
      "get": { "operationId": "getFarmEvent", "summary": "Get farm event", "tags": ["Farm Events"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "put": { "operationId": "updateFarmEvent", "summary": "Update farm event", "tags": ["Farm Events"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FarmEvent" } } } }, "responses": { "200": { "description": "Updated" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "delete": { "operationId": "deleteFarmEvent", "summary": "Delete farm event", "tags": ["Farm Events"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Deleted" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/tools": {
      "get": { "operationId": "listTools", "summary": "List tools", "tags": ["Tools"], "parameters": [{ "name": "page", "in": "query", "required": false, "schema": { "type": "integer" } }, { "name": "per", "in": "query", "required": false, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Successful response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Tool" } } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "post": { "operationId": "createTool", "summary": "Create tool", "tags": ["Tools"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Tool" } } } }, "responses": { "200": { "description": "Created" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/tools/{id}": {
      "put": { "operationId": "updateTool", "summary": "Update tool", "tags": ["Tools"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Tool" } } } }, "responses": { "200": { "description": "Updated" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "delete": { "operationId": "deleteTool", "summary": "Delete tool", "tags": ["Tools"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Deleted" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/images": {
      "get": { "operationId": "listImages", "summary": "List images", "tags": ["Images"], "responses": { "200": { "description": "Successful response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Image" } } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "post": { "operationId": "createImage", "summary": "Create image", "tags": ["Images"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Image" } } } }, "responses": { "200": { "description": "Created" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/sensors": {
      "get": { "operationId": "listSensors", "summary": "List sensors", "tags": ["Sensors"], "parameters": [{ "name": "page", "in": "query", "required": false, "schema": { "type": "integer" } }, { "name": "per", "in": "query", "required": false, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Successful response", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Sensor" } } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "post": { "operationId": "createSensor", "summary": "Create sensor", "tags": ["Sensors"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Sensor" } } } }, "responses": { "200": { "description": "Created" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/sensor_readings": {
      "get": { "operationId": "listSensorReadings", "summary": "List sensor readings", "tags": ["Sensors"], "parameters": [{ "name": "page", "in": "query", "required": false, "schema": { "type": "integer" } }, { "name": "per", "in": "query", "required": false, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/logs": {
      "get": { "operationId": "listLogs", "summary": "List logs", "tags": ["Logs"], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/alerts": {
      "get": { "operationId": "listAlerts", "summary": "List alerts", "tags": ["Alerts"], "parameters": [{ "name": "page", "in": "query", "required": false, "schema": { "type": "integer" } }, { "name": "per", "in": "query", "required": false, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/folders": {
      "get": { "operationId": "listFolders", "summary": "List folders", "tags": ["Folders"], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "post": { "operationId": "createFolder", "summary": "Create folder", "tags": ["Folders"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "name": { "type": "string" } } } } } }, "responses": { "200": { "description": "Created" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/point_groups": {
      "get": { "operationId": "listPointGroups", "summary": "List point groups", "tags": ["Points"], "parameters": [{ "name": "page", "in": "query", "required": false, "schema": { "type": "integer" } }, { "name": "per", "in": "query", "required": false, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "post": { "operationId": "createPointGroup", "summary": "Create point group", "tags": ["Points"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Created" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/curves": {
      "get": { "operationId": "listCurves", "summary": "List curves", "tags": ["Curves"], "parameters": [{ "name": "page", "in": "query", "required": false, "schema": { "type": "integer" } }, { "name": "per", "in": "query", "required": false, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "post": { "operationId": "createCurve", "summary": "Create curve", "tags": ["Curves"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Created" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/webcam_feeds": {
      "get": { "operationId": "listWebcamFeeds", "summary": "List webcam feeds", "tags": ["Webcams"], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "post": { "operationId": "createWebcamFeed", "summary": "Create webcam feed", "tags": ["Webcams"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "name": { "type": "string" }, "url": { "type": "string" } } } } } }, "responses": { "200": { "description": "Created" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/export_data": {
      "get": { "operationId": "exportData", "summary": "Export all data", "description": "Returns a complete resource dump.", "tags": ["System"], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/corpus": {
      "get": { "operationId": "getCorpus", "summary": "Get CeleryScript corpus", "description": "Returns the CeleryScript node glossary in JSON.", "tags": ["System"], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/releases": {
      "get": { "operationId": "getReleases", "summary": "Get FarmBot OS releases", "tags": ["System"], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/global_config": {
      "get": { "operationId": "getGlobalConfig", "summary": "Get global config", "tags": ["System"], "responses": { "200": { "description": "Successful response" } } }
    },
    "/fbos_config": {
      "get": { "operationId": "getFbosConfig", "summary": "Get FBOS config", "tags": ["Configuration"], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "put": { "operationId": "updateFbosConfig", "summary": "Update FBOS config", "tags": ["Configuration"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Updated" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/firmware_config": {
      "get": { "operationId": "getFirmwareConfig", "summary": "Get firmware config", "tags": ["Configuration"], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "put": { "operationId": "updateFirmwareConfig", "summary": "Update firmware config", "tags": ["Configuration"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Updated" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/web_app_config": {
      "get": { "operationId": "getWebAppConfig", "summary": "Get web app config", "tags": ["Configuration"], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "put": { "operationId": "updateWebAppConfig", "summary": "Update web app config", "tags": ["Configuration"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Updated" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/users": {
      "get": { "operationId": "getUser", "summary": "Get current user", "tags": ["Users"], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "put": { "operationId": "updateUser", "summary": "Update user", "tags": ["Users"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Updated" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/ai": {
      "post": { "operationId": "createAiRequest", "summary": "Create AI auto-generation request", "tags": ["AI"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/regimens": {
      "get": { "operationId": "listRegimens", "summary": "List regimens", "tags": ["Regimens"], "parameters": [{ "name": "page", "in": "query", "required": false, "schema": { "type": "integer" } }, { "name": "per", "in": "query", "required": false, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "post": { "operationId": "createRegimen", "summary": "Create regimen", "tags": ["Regimens"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Created" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    },
    "/saved_gardens": {
      "get": { "operationId": "listSavedGardens", "summary": "List saved gardens", "tags": ["Gardens"], "parameters": [{ "name": "page", "in": "query", "required": false, "schema": { "type": "integer" } }, { "name": "per", "in": "query", "required": false, "schema": { "type": "integer" } }], "responses": { "200": { "description": "Successful response" }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } },
      "post": { "operationId": "createSavedGarden", "summary": "Create saved garden", "tags": ["Gardens"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "Created" }, "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }, "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } } } }
    }
  },
  "components": {
    "schemas": {
      "TokenResponse": { "type": "object", "properties": { "token": { "type": "object", "properties": { "unencoded": { "type": "object" }, "encoded": { "type": "string" } } } } },
      "Device": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "timezone": { "type": "string" }, "fbos_version": { "type": "string" } } },
      "Point": { "type": "object", "properties": { "id": { "type": "integer" }, "x": { "type": "number" }, "y": { "type": "number" }, "z": { "type": "number" }, "pointer_type": { "type": "string", "enum": ["Plant", "Weed", "ToolSlot", "GenericPointer"] }, "name": { "type": "string" }, "meta": { "type": "object" }, "created_at": { "type": "string", "format": "date-time" } } },
      "PointRequest": { "type": "object", "properties": { "x": { "type": "number" }, "y": { "type": "number" }, "z": { "type": "number" }, "pointer_type": { "type": "string" }, "name": { "type": "string" } } },
      "Sequence": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" }, "color": { "type": "string" }, "body": { "type": "array", "items": { "type": "object" } } } },
      "FarmEvent": { "type": "object", "properties": { "id": { "type": "integer" }, "start_time": { "type": "string", "format": "date-time" }, "end_time": { "type": "string", "format": "date-time" }, "repeat": { "type": "integer" }, "time_unit": { "type": "string" } } },
      "Tool": { "type": "object", "properties": { "id": { "type": "integer" }, "name": { "type": "string" } } },
      "Image": { "type": "object", "properties": { "id": { "type": "integer" }, "attachment_url": { "type": "string" }, "meta": { "type": "object" } } },
      "Sensor": { "type": "object", "properties": { "id": { "type": "integer" }, "pin": { "type": "integer" }, "label": { "type": "string" }, "mode": { "type": "integer" } } },
      "ErrorResponse": { "type": "object", "properties": { "error": { "type": "string" } } }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from POST /tokens"
      }
    }
  },
  "security": [
    { "bearerAuth": [] }
  ]
}
