{
  "openapi": "3.0.3",
  "info": {
    "title": "Cooper Hewitt Smithsonian Design Museum API",
    "description": "The Cooper Hewitt API provides access to the Smithsonian Design Museum's collection data including objects, people, exhibitions, periods, types, roles, and more. Collection data (excluding images) is released under Creative Commons Zero.",
    "version": "1.0.0",
    "contact": {
      "name": "Cooper Hewitt Smithsonian Design Museum",
      "url": "https://collection.cooperhewitt.org/api"
    },
    "license": {
      "name": "CC0 1.0",
      "url": "https://creativecommons.org/publicdomain/zero/1.0/"
    }
  },
  "servers": [
    {
      "url": "https://api.collection.cooperhewitt.org/rest",
      "description": "Cooper Hewitt Collection API"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "apiCall",
        "summary": "Execute an API method",
        "description": "All Cooper Hewitt API methods are invoked via this single REST endpoint with a 'method' parameter specifying the action.",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "description": "OAuth2 access token for authentication.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "method",
            "in": "query",
            "required": true,
            "description": "The API method to invoke.",
            "schema": {
              "type": "string",
              "enum": [
                "cooperhewitt.objects.getInfo",
                "cooperhewitt.objects.getRandom",
                "cooperhewitt.objects.search",
                "cooperhewitt.objects.getByMedium",
                "cooperhewitt.objects.getByPeriod",
                "cooperhewitt.objects.getByPerson",
                "cooperhewitt.objects.getByExhibition",
                "cooperhewitt.objects.getByType",
                "cooperhewitt.objects.getByColor",
                "cooperhewitt.objects.getByDepartment",
                "cooperhewitt.objects.getDimensions",
                "cooperhewitt.objects.getImages",
                "cooperhewitt.objects.getMedia",
                "cooperhewitt.objects.getParticipants",
                "cooperhewitt.objects.getVideos",
                "cooperhewitt.objects.tags.getTags",
                "cooperhewitt.objects.tags.addTag",
                "cooperhewitt.objects.tags.deleteTag",
                "cooperhewitt.people.getInfo",
                "cooperhewitt.people.getList",
                "cooperhewitt.people.getObjects",
                "cooperhewitt.people.getRoles",
                "cooperhewitt.people.search",
                "cooperhewitt.exhibitions.getInfo",
                "cooperhewitt.exhibitions.getList",
                "cooperhewitt.exhibitions.getObjects",
                "cooperhewitt.periods.getInfo",
                "cooperhewitt.periods.getList",
                "cooperhewitt.periods.getObjects",
                "cooperhewitt.types.getInfo",
                "cooperhewitt.types.getList",
                "cooperhewitt.types.getObjects",
                "cooperhewitt.roles.getInfo",
                "cooperhewitt.roles.getList",
                "cooperhewitt.roles.getObjects",
                "cooperhewitt.departments.getInfo",
                "cooperhewitt.departments.getList",
                "cooperhewitt.departments.getObjects",
                "cooperhewitt.media.getInfo",
                "cooperhewitt.media.getList",
                "cooperhewitt.media.search",
                "cooperhewitt.colors.getPalette",
                "cooperhewitt.colors.search",
                "cooperhewitt.search.collection",
                "cooperhewitt.tags.getInfo",
                "cooperhewitt.tags.getList",
                "cooperhewitt.tags.getObjects",
                "cooperhewitt.tags.search",
                "cooperhewitt.shoebox.getInfo",
                "cooperhewitt.shoebox.getList",
                "cooperhewitt.shoebox.getItems",
                "cooperhewitt.shoebox.addItem",
                "cooperhewitt.shoebox.removeItem",
                "cooperhewitt.shoebox.create",
                "cooperhewitt.shoebox.delete",
                "cooperhewitt.labs.getInfo",
                "cooperhewitt.labs.getList",
                "cooperhewitt.labs.isEnabled",
                "cooperhewitt.test.echo",
                "cooperhewitt.api.spec.getList",
                "cooperhewitt.api.spec.getMethods"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Object, person, exhibition, period, type, role, department, tag, or shoebox ID. Required for getInfo and related methods.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Search query string. Used with search methods.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for paginated results.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results per page.",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "person_id",
            "in": "query",
            "required": false,
            "description": "Person ID for filtering objects by person.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exhibition_id",
            "in": "query",
            "required": false,
            "description": "Exhibition ID for filtering objects by exhibition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period_id",
            "in": "query",
            "required": false,
            "description": "Period ID for filtering objects by period.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type_id",
            "in": "query",
            "required": false,
            "description": "Type ID for filtering objects by type.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_id",
            "in": "query",
            "required": false,
            "description": "Role ID for filtering.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "department_id",
            "in": "query",
            "required": false,
            "description": "Department ID for filtering.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "medium_id",
            "in": "query",
            "required": false,
            "description": "Medium ID for filtering objects by medium.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "color",
            "in": "query",
            "required": false,
            "description": "Hex color value for color-based searches (e.g., 'ff0000').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Tag string for tag operations.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "object_id",
            "in": "query",
            "required": false,
            "description": "Object ID for shoebox/tag operations.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shoebox_id",
            "in": "query",
            "required": false,
            "description": "Shoebox ID for shoebox operations.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Name for creating a shoebox.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_images",
            "in": "query",
            "required": false,
            "description": "Filter to only return objects with images.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "on_display",
            "in": "query",
            "required": false,
            "description": "Filter to only return objects currently on display.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "year_acquired",
            "in": "query",
            "required": false,
            "description": "Filter by year acquired.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "decade",
            "in": "query",
            "required": false,
            "description": "Filter by decade (e.g., 1920).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field (e.g., 'date', 'random', 'name').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortorder",
            "in": "query",
            "required": false,
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stat": {
                      "type": "string",
                      "description": "Status of the request ('ok' or 'error').",
                      "enum": ["ok", "error"]
                    },
                    "object": {
                      "$ref": "#/components/schemas/CollectionObject"
                    },
                    "objects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CollectionObject"
                      }
                    },
                    "person": {
                      "$ref": "#/components/schemas/Person"
                    },
                    "people": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Person"
                      }
                    },
                    "exhibition": {
                      "$ref": "#/components/schemas/Exhibition"
                    },
                    "exhibitions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Exhibition"
                      }
                    },
                    "period": {
                      "$ref": "#/components/schemas/Period"
                    },
                    "periods": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Period"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of results."
                    },
                    "page": {
                      "type": "integer"
                    },
                    "per_page": {
                      "type": "integer"
                    },
                    "pages": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing access token."
          },
          "404": {
            "description": "Method or resource not found."
          }
        },
        "tags": ["Collection"]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AccessToken": {
        "type": "apiKey",
        "in": "query",
        "name": "access_token",
        "description": "OAuth2 access token."
      }
    },
    "schemas": {
      "CollectionObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "tms_id": {
            "type": "string",
            "description": "TMS (The Museum System) ID."
          },
          "accession_number": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "title_raw": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "department_id": {
            "type": "string"
          },
          "period_id": {
            "type": "string"
          },
          "media_id": {
            "type": "string"
          },
          "type_id": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "year_start": {
            "type": "integer"
          },
          "year_end": {
            "type": "integer"
          },
          "year_acquired": {
            "type": "string"
          },
          "decade": {
            "type": "string"
          },
          "woe_id": {
            "type": "string"
          },
          "dimensions": {
            "type": "string"
          },
          "dimensions_raw": {
            "type": "object"
          },
          "creditline": {
            "type": "string"
          },
          "inscribed": {
            "type": "string"
          },
          "markings": {
            "type": "string"
          },
          "signed": {
            "type": "string"
          },
          "medium": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "b": {
                  "type": "object",
                  "properties": {
                    "url": { "type": "string" },
                    "width": { "type": "integer" },
                    "height": { "type": "integer" }
                  }
                },
                "n": {
                  "type": "object",
                  "properties": {
                    "url": { "type": "string" },
                    "width": { "type": "integer" },
                    "height": { "type": "integer" }
                  }
                },
                "z": {
                  "type": "object",
                  "properties": {
                    "url": { "type": "string" },
                    "width": { "type": "integer" },
                    "height": { "type": "integer" }
                  }
                },
                "sq": {
                  "type": "object",
                  "properties": {
                    "url": { "type": "string" },
                    "width": { "type": "integer" },
                    "height": { "type": "integer" }
                  }
                }
              }
            }
          },
          "participants": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "person_id": { "type": "string" },
                "person_name": { "type": "string" },
                "person_url": { "type": "string" },
                "role_id": { "type": "string" },
                "role_name": { "type": "string" }
              }
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "tag": { "type": "string" },
                "url": { "type": "string" }
              }
            }
          }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "name_sort": {
            "type": "string"
          },
          "biography": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "concordances": {
            "type": "object"
          },
          "count_objects": {
            "type": "integer"
          }
        }
      },
      "Exhibition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "date_start": {
            "type": "string"
          },
          "date_end": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "count_objects": {
            "type": "integer"
          }
        }
      },
      "Period": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "count_objects": {
            "type": "integer"
          }
        }
      }
    }
  },
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Collection",
      "description": "Access the Cooper Hewitt Smithsonian Design Museum collection including objects, people, exhibitions, periods, types, and more."
    }
  ]
}