{
  "openapi": "3.0.3",
  "info": {
    "title": "Radar API",
    "version": "1.0.0",
    "description": "Radar provides location infrastructure for mobile and web apps. Use the Radar API for geofencing, geocoding, routing, tracking, and search.",
    "x-jentic-source-url": "https://radar.com/documentation/api",
    "contact": {
      "url": "https://radar.com"
    }
  },
  "servers": [
    {
      "url": "https://api.radar.io/v1",
      "description": "Radar API"
    }
  ],
  "security": [
    {
      "publishableKey": []
    },
    {
      "secretKey": []
    }
  ],
  "tags": [
    {
      "name": "Tracking",
      "description": "Track user location updates"
    },
    {
      "name": "Geocoding",
      "description": "Forward and reverse geocoding"
    },
    {
      "name": "Search",
      "description": "Search for users, geofences, and places"
    },
    {
      "name": "Routing",
      "description": "Distance, matrix, and directions routing"
    },
    {
      "name": "Address Validation",
      "description": "Address validation and verification"
    }
  ],
  "paths": {
    "/track": {
      "post": {
        "operationId": "trackLocation",
        "tags": [
          "Tracking"
        ],
        "summary": "Track a location update",
        "description": "Tracks a location update. Returns the user and the events generated, depending on project settings. deviceId is used to identify logged out users. userId and deviceId are used to identify logged in users.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "deviceId",
                  "latitude",
                  "longitude",
                  "accuracy"
                ],
                "properties": {
                  "deviceId": {
                    "type": "string"
                  },
                  "userId": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "number",
                    "minimum": -90,
                    "maximum": 90
                  },
                  "longitude": {
                    "type": "number",
                    "minimum": -180,
                    "maximum": 180
                  },
                  "accuracy": {
                    "type": "number"
                  },
                  "foreground": {
                    "type": "boolean"
                  },
                  "stopped": {
                    "type": "boolean"
                  },
                  "description": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object"
                  },
                  "deviceType": {
                    "type": "string",
                    "enum": [
                      "iOS",
                      "Android",
                      "Web"
                    ]
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "replayed": {
                    "type": "boolean"
                  },
                  "deviceOS": {
                    "type": "string"
                  },
                  "deviceMake": {
                    "type": "string"
                  },
                  "deviceModel": {
                    "type": "string"
                  },
                  "altitude": {
                    "type": "number"
                  },
                  "verticalAccuracy": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Track result with user and events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/geocode/forward": {
      "get": {
        "operationId": "geocodeForward",
        "tags": [
          "Geocoding"
        ],
        "summary": "Forward geocode",
        "description": "Geocodes an address, converting address to coordinates.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The address to geocode"
          },
          {
            "name": "layers",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional layer filters (place, address, postalCode, locality, county, state, country, coarse, fine)"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional countries filter, comma-separated ISO 2-letter country codes"
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ar",
                "de",
                "en",
                "es",
                "fr",
                "ja",
                "ko",
                "pt",
                "ru",
                "zh"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geocoding result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/geocode/reverse": {
      "get": {
        "operationId": "geocodeReverse",
        "tags": [
          "Geocoding"
        ],
        "summary": "Reverse geocode",
        "description": "Reverse geocodes a location, converting coordinates to address.",
        "parameters": [
          {
            "name": "coordinates",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Coordinates in format latitude,longitude"
          },
          {
            "name": "layers",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reverse geocoding result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/geocode/ip": {
      "get": {
        "operationId": "geocodeIP",
        "tags": [
          "Geocoding"
        ],
        "summary": "IP geocode",
        "description": "Geocodes the requester's IP, converting IP address to city, state, and country.",
        "responses": {
          "200": {
            "description": "IP geocoding result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPGeocodingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/search/autocomplete": {
      "get": {
        "operationId": "autocompleteSearch",
        "tags": [
          "Search"
        ],
        "summary": "Autocomplete",
        "description": "Autocompletes partial addresses and place names, sorted by relevance and proximity.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "near",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Location in format latitude,longitude"
          },
          {
            "name": "layers",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Autocomplete results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutocompleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/search/users": {
      "get": {
        "operationId": "searchUsers",
        "tags": [
          "Search"
        ],
        "summary": "Search users",
        "description": "Searches for users near a location, sorted by distance.",
        "parameters": [
          {
            "name": "near",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "schema": {
              "type": "number",
              "default": 1000
            }
          },
          {
            "name": "mode",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "car",
                "truck",
                "foot",
                "bike"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/search/geofences": {
      "get": {
        "operationId": "searchGeofences",
        "tags": [
          "Search"
        ],
        "summary": "Search geofences",
        "description": "Searches for geofences near a location, sorted by distance.",
        "parameters": [
          {
            "name": "near",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "includeGeometry",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geofences search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeofencesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/search/places": {
      "get": {
        "operationId": "searchPlaces",
        "tags": [
          "Search"
        ],
        "summary": "Search places",
        "description": "Searches for places near a location, sorted by distance.",
        "parameters": [
          {
            "name": "near",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chains",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "schema": {
              "type": "number",
              "default": 1000,
              "maximum": 10000
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "name": "iataCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Places search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/addresses/validate": {
      "get": {
        "operationId": "validateAddress",
        "tags": [
          "Address Validation"
        ],
        "summary": "Validate an address",
        "description": "Validates an address. Currently only available for US and Canada addresses for enterprise customers.",
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stateCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postalCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "number",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "street",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressLabel",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/route/distance": {
      "get": {
        "operationId": "calculateDistance",
        "tags": [
          "Routing"
        ],
        "summary": "Calculate distance",
        "description": "Calculates the travel distance and duration between an origin and a destination.",
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modes",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "units",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "metric",
                "imperial"
              ],
              "default": "imperial"
            }
          },
          {
            "name": "avoid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geometry",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "linestring",
                "polyline5",
                "polyline6"
              ]
            }
          },
          {
            "name": "departureTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Distance and duration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/route/matrix": {
      "get": {
        "operationId": "calculateMatrix",
        "tags": [
          "Routing"
        ],
        "summary": "Calculate routing matrix",
        "description": "Calculates the travel distances and durations between multiple origins and destinations for up to 625 routes.",
        "parameters": [
          {
            "name": "origins",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipe-delimited list of origins"
          },
          {
            "name": "destinations",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipe-delimited list of destinations"
          },
          {
            "name": "mode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "car",
                "truck",
                "foot",
                "bike"
              ]
            }
          },
          {
            "name": "units",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "metric",
                "imperial"
              ],
              "default": "imperial"
            }
          },
          {
            "name": "departureTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Routing matrix",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatrixResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/route/match": {
      "post": {
        "operationId": "matchRoute",
        "tags": [
          "Routing"
        ],
        "summary": "Match route to roads",
        "description": "Snaps points collected along a route to roads that were most likely traveled on.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "path"
                ],
                "properties": {
                  "path": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "coordinates": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "accuracy": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "car",
                      "truck",
                      "foot",
                      "bike"
                    ],
                    "default": "car"
                  },
                  "roadAttributes": {
                    "type": "string"
                  },
                  "units": {
                    "type": "string",
                    "enum": [
                      "metric",
                      "imperial"
                    ]
                  },
                  "geometry": {
                    "type": "string",
                    "enum": [
                      "linestring",
                      "polyline5",
                      "polyline6"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Route match result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteMatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/route/directions": {
      "get": {
        "operationId": "getDirections",
        "tags": [
          "Routing"
        ],
        "summary": "Get directions",
        "description": "Calculates the most efficient route between two or more locations to visit in order.",
        "parameters": [
          {
            "name": "locations",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipe-delimited list of up to 25 coordinates"
          },
          {
            "name": "mode",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "car",
                "truck",
                "foot",
                "bike"
              ],
              "default": "car"
            }
          },
          {
            "name": "units",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "metric",
                "imperial"
              ],
              "default": "imperial"
            }
          },
          {
            "name": "avoid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geometry",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "departureTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "alternatives",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "de",
                "en",
                "es",
                "fr",
                "ja",
                "ko",
                "pt",
                "ru"
              ],
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Directions response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "publishableKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Use publishable key for client-side requests"
      },
      "secretKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Use secret key for server-side requests only"
      }
    },
    "schemas": {
      "Address": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "country": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "stateCode": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "street": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "formattedAddress": {
            "type": "string"
          },
          "layer": {
            "type": "string"
          },
          "confidence": {
            "type": "string",
            "enum": [
              "exact",
              "interpolated",
              "fallback"
            ]
          }
        }
      },
      "GeocodingResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              }
            }
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          }
        }
      },
      "IPGeocodingResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              }
            }
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "ip": {
            "type": "string"
          },
          "proxy": {
            "type": "boolean"
          }
        }
      },
      "AutocompleteResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              }
            }
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          }
        }
      },
      "TrackResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              }
            }
          },
          "user": {
            "$ref": "#/components/schemas/RadarUser"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RadarEvent"
            }
          }
        }
      },
      "RadarUser": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "deviceId": {
            "type": "string"
          },
          "location": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "coordinates": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              }
            }
          },
          "locationAccuracy": {
            "type": "number"
          },
          "stopped": {
            "type": "boolean"
          },
          "foreground": {
            "type": "boolean"
          },
          "deviceType": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "country": {
            "type": "object"
          },
          "state": {
            "type": "object"
          },
          "geofences": {
            "type": "array"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "RadarEvent": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "live": {
            "type": "boolean"
          },
          "geofence": {
            "type": "object"
          },
          "place": {
            "type": "object"
          },
          "location": {
            "type": "object"
          }
        }
      },
      "UsersResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object"
          },
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RadarUser"
            }
          }
        }
      },
      "GeofencesResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object"
          },
          "geofences": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "PlacesResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object"
          },
          "places": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "AddressValidationResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "result": {
            "type": "object",
            "properties": {
              "verificationStatus": {
                "type": "string",
                "enum": [
                  "verified",
                  "partially verified",
                  "ambiguous",
                  "unverified"
                ]
              }
            }
          }
        }
      },
      "DistanceResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object"
          },
          "routes": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "distance": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number"
                    },
                    "text": {
                      "type": "string"
                    }
                  }
                },
                "duration": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number"
                    },
                    "text": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "MatrixResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object"
          },
          "origins": {
            "type": "array"
          },
          "destinations": {
            "type": "array"
          },
          "matrix": {
            "type": "array"
          }
        }
      },
      "RouteMatchResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object"
          },
          "matchedPath": {
            "type": "array"
          },
          "roadAttributes": {
            "type": "array"
          },
          "distance": {
            "type": "object"
          }
        }
      },
      "DirectionsResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object"
          },
          "routes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "duration": {
                  "type": "object"
                },
                "distance": {
                  "type": "object"
                },
                "legs": {
                  "type": "array"
                }
              }
            }
          }
        }
      }
    }
  }
}