{
  "openapi": "3.0.3",
  "info": {
    "title": "Polinode API",
    "version": "v2",
    "description": "Polinode API enables programmatic creation, retrieval, update and deletion of networks and employee data. Includes network and node metrics for Enterprise users. Supports surveys and custom fields.",
    "x-jentic-source-url": "https://docs.polinode.com/guide/api.html"
  },
  "servers": [
    {
      "url": "https://app.polinode.com/api/v2"
    }
  ],
  "paths": {
    "/networks": {
      "get": {
        "operationId": "listNetworks",
        "summary": "List Networks",
        "description": "Retrieve all networks for the authenticated user. NetworkJSON is excluded from the response.",
        "tags": [
          "Networks"
        ],
        "responses": {
          "200": {
            "description": "Networks listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NetworkSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createNetwork",
        "summary": "Create Network",
        "description": "Create a new network.",
        "tags": [
          "Networks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNetworkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Network created. NetworkJSON is not included in the response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkSummary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/networks/{id}": {
      "get": {
        "operationId": "getNetwork",
        "summary": "Get Network",
        "description": "Retrieve a specific network by ID, including networkJSON.",
        "tags": [
          "Networks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The network ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Network retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Network"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateNetwork",
        "summary": "Update Network",
        "description": "Edit a previously created network. NetworkJSON is not included in the response.",
        "tags": [
          "Networks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The network ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNetworkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Network updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkSummary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteNetwork",
        "summary": "Delete Network",
        "description": "Delete a network by ID.",
        "tags": [
          "Networks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The network ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Network deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/network/modularity": {
      "post": {
        "operationId": "computeModularity",
        "summary": "Compute Network Modularity",
        "description": "Modularity measures the degree to which a network is divided into non-overlapping communities. Returns a value between -1 and 1.",
        "tags": [
          "Network Metrics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModularityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Modularity value returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "number"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/network/diameter": {
      "post": {
        "operationId": "computeDiameter",
        "summary": "Compute Network Diameter",
        "description": "Measures the length of the longest shortest path across the network.",
        "tags": [
          "Network Metrics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NetworkMetricRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Diameter value returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "number"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/network/avgShortestPathLength": {
      "post": {
        "operationId": "computeAvgShortestPathLength",
        "summary": "Compute Average Shortest Path Length",
        "description": "Average of all shortest paths between all pairs of nodes in the network.",
        "tags": [
          "Network Metrics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NetworkMetricRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Average shortest path length returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "number"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/nodes/averageNeighborDegree": {
      "post": {
        "operationId": "computeAverageNeighborDegree",
        "summary": "Compute Average Neighbor Degree",
        "description": "Average number of edges that a node's neighbors have.",
        "tags": [
          "Node Metrics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeMetricRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metric computed and returned or saved to network",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/nodes/betweennessCentrality": {
      "post": {
        "operationId": "computeBetweennessCentrality",
        "summary": "Compute Betweenness Centrality",
        "description": "Measures how much a node is a bridge between other nodes in the network.",
        "tags": [
          "Node Metrics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BetweennessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metric computed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/nodes/closenessCentrality": {
      "post": {
        "operationId": "computeClosenessCentrality",
        "summary": "Compute Closeness Centrality",
        "description": "Measures how close a node is to all other nodes in the network.",
        "tags": [
          "Node Metrics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeMetricRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metric computed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/nodes/eigenvectorCentrality": {
      "post": {
        "operationId": "computeEigenvectorCentrality",
        "summary": "Compute Eigenvector Centrality",
        "description": "Measures how well-connected a node is to other well-connected nodes.",
        "tags": [
          "Node Metrics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeMetricRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metric computed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/nodes/harmonicCentrality": {
      "post": {
        "operationId": "computeHarmonicCentrality",
        "summary": "Compute Harmonic Centrality",
        "description": "Variant of closeness centrality that handles disconnected graphs.",
        "tags": [
          "Node Metrics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeMetricRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metric computed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/nodes/katzCentrality": {
      "post": {
        "operationId": "computeKatzCentrality",
        "summary": "Compute Katz Centrality",
        "description": "Measures influence of a node based on total number of walks.",
        "tags": [
          "Node Metrics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeMetricRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metric computed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/nodes/pageRank": {
      "post": {
        "operationId": "computePageRank",
        "summary": "Compute PageRank",
        "description": "Compute PageRank centrality for nodes in the network.",
        "tags": [
          "Node Metrics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeMetricRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metric computed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/nodes/hits": {
      "post": {
        "operationId": "computeHits",
        "summary": "Compute HITS",
        "description": "Compute HITS (Hyperlink-Induced Topic Search) hub and authority scores.",
        "tags": [
          "Node Metrics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeMetricRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metric computed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/nodes/degree": {
      "post": {
        "operationId": "computeDegree",
        "summary": "Compute Degree",
        "description": "Compute degree (in, out, or total) for nodes in the network.",
        "tags": [
          "Node Metrics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeMetricRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metric computed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/nodes/louvain": {
      "post": {
        "operationId": "computeLouvainCommunities",
        "summary": "Compute Louvain Community Detection",
        "description": "Detect communities using the Louvain method for modularity optimization.",
        "tags": [
          "Node Metrics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeMetricRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Communities computed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/nodes/constraint": {
      "post": {
        "operationId": "computeConstraint",
        "summary": "Compute Structural Hole Constraint",
        "description": "Measure Burt's structural hole constraint for nodes.",
        "tags": [
          "Node Metrics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeMetricRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metric computed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/edges/edgeBetweennessCentrality": {
      "post": {
        "operationId": "computeEdgeBetweennessCentrality",
        "summary": "Compute Edge Betweenness Centrality",
        "description": "Measures how often an edge lies on the shortest path between pairs of nodes.",
        "tags": [
          "Edge Metrics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeMetricRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metric computed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/surveys/export/{id}": {
      "post": {
        "operationId": "initiateSurveyExport",
        "summary": "Initiate Survey Export",
        "description": "Initiate an export of survey data. May take up to 10 minutes for large surveys.",
        "tags": [
          "Surveys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The survey ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export initiated"
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getSurveyExportUrl",
        "summary": "Get Survey Export URL",
        "description": "Retrieve the download URL for an initiated survey export. URL valid for 5 minutes.",
        "tags": [
          "Surveys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The survey ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export URL returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "Temporary download URL."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/employees": {
      "get": {
        "operationId": "listEmployees",
        "summary": "List Employees",
        "description": "List all employees. Paginated with max 1000 per page. Enterprise/Partner only.",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of employees to return (max 1000).",
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of employees to skip.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "department",
            "in": "query",
            "description": "Filter by department.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Employees listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Employee"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createEmployee",
        "summary": "Create Employee",
        "description": "Create a new employee record. Enterprise/Partner only.",
        "tags": [
          "Employees"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Employee"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Employee created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/employees/{id}": {
      "get": {
        "operationId": "getEmployee",
        "summary": "Get Employee",
        "description": "Retrieve a specific employee by ID.",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Employee details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "replaceEmployee",
        "summary": "Replace Employee",
        "description": "Full replacement of employee record.",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Employee"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Employee replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateEmployee",
        "summary": "Update Employee",
        "description": "Partial update of employee record.",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Employee"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Employee updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteEmployee",
        "summary": "Delete Employee",
        "description": "Remove an employee record.",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Employee deleted"
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/custom-fields": {
      "get": {
        "operationId": "listCustomFields",
        "summary": "List Custom Fields",
        "description": "List all custom field definitions. Enterprise/Partner only.",
        "tags": [
          "Custom Fields"
        ],
        "responses": {
          "200": {
            "description": "Custom fields listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomField"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCustomField",
        "summary": "Create Custom Field",
        "description": "Define a new custom field for employees.",
        "tags": [
          "Custom Fields"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomField"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom field created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomField"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/custom-fields/{key}": {
      "patch": {
        "operationId": "updateCustomField",
        "summary": "Update Custom Field",
        "description": "Update a custom field definition.",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "The custom field key.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomField"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom field updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomField"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomField",
        "summary": "Delete Custom Field",
        "description": "Archive (soft delete) a custom field.",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "The custom field key.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom field archived"
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics/nodes/brokerage": {
      "post": {
        "operationId": "computeBrokerage",
        "summary": "Compute Brokerage",
        "description": "Compute Gould-Fernandez brokerage metrics for nodes.",
        "tags": [
          "Node Metrics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodeMetricRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Brokerage metrics computed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NetworkJSON": {
        "type": "object",
        "required": [
          "nodes"
        ],
        "properties": {
          "nodes": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The node ID."
                },
                "attributes": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Key-value attribute pairs. 'name' is used as the label."
                },
                "x": {
                  "type": "number",
                  "description": "X coordinate."
                },
                "y": {
                  "type": "number",
                  "description": "Y coordinate."
                },
                "image": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "URL for an image to render inside the node."
                    }
                  }
                }
              }
            }
          },
          "edges": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "source",
                "target"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The edge ID."
                },
                "source": {
                  "type": "string",
                  "description": "Source node ID."
                },
                "target": {
                  "type": "string",
                  "description": "Target node ID."
                },
                "attributes": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      },
      "NetworkSummary": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "Public",
              "Private"
            ]
          },
          "isDirected": {
            "type": "boolean"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "modified": {
            "type": "string",
            "format": "date-time"
          },
          "networkUUID": {
            "type": "string"
          }
        }
      },
      "Network": {
        "allOf": [
          {
            "$ref": "#/components/schemas/NetworkSummary"
          },
          {
            "type": "object",
            "properties": {
              "networkJSON": {
                "$ref": "#/components/schemas/NetworkJSON"
              }
            }
          }
        ]
      },
      "CreateNetworkRequest": {
        "type": "object",
        "required": [
          "name",
          "networkJSON"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the network."
          },
          "description": {
            "type": "string",
            "description": "Network description."
          },
          "isDirected": {
            "type": "boolean",
            "description": "Whether the network is directed."
          },
          "status": {
            "type": "string",
            "enum": [
              "Public",
              "Private"
            ],
            "description": "Visibility status."
          },
          "networkJSON": {
            "$ref": "#/components/schemas/NetworkJSON"
          }
        }
      },
      "NetworkMetricRequest": {
        "type": "object",
        "properties": {
          "networkId": {
            "type": "string",
            "description": "ID of the network. Provide either networkId or networkJSON."
          },
          "networkJSON": {
            "$ref": "#/components/schemas/NetworkJSON"
          }
        }
      },
      "ModularityRequest": {
        "type": "object",
        "required": [
          "attribute"
        ],
        "properties": {
          "attribute": {
            "type": "string",
            "description": "Node attribute containing the communities."
          },
          "metricEdgeWeights": {
            "description": "If true, use edge weight; if string, use that edge attribute as weight.",
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string"
              }
            ]
          },
          "networkId": {
            "type": "string"
          },
          "networkJSON": {
            "$ref": "#/components/schemas/NetworkJSON"
          }
        }
      },
      "NodeMetricRequest": {
        "type": "object",
        "properties": {
          "directed": {
            "type": "boolean",
            "default": true,
            "description": "Whether the network is directed."
          },
          "metricEdgeWeights": {
            "description": "Edge weight configuration.",
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string"
              }
            ]
          },
          "networkId": {
            "type": "string"
          },
          "networkJSON": {
            "$ref": "#/components/schemas/NetworkJSON"
          },
          "averageNeighborDegreeSource": {
            "type": "string",
            "enum": [
              "in",
              "out"
            ],
            "default": "out"
          },
          "averageNeighborDegreeTarget": {
            "type": "string",
            "enum": [
              "in",
              "out"
            ],
            "default": "out"
          }
        }
      },
      "BetweennessRequest": {
        "type": "object",
        "properties": {
          "directed": {
            "type": "boolean",
            "default": true
          },
          "kPercent": {
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "default": 100,
            "description": "Percentage of nodes to sample."
          },
          "metricEdgeWeights": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string"
              }
            ]
          },
          "networkId": {
            "type": "string"
          },
          "networkJSON": {
            "$ref": "#/components/schemas/NetworkJSON"
          },
          "normalized": {
            "type": "boolean",
            "default": true,
            "description": "If true, normalize the metric."
          }
        }
      },
      "Employee": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "department": {
            "type": "string"
          },
          "employment": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              },
              "startDate": {
                "type": "string",
                "format": "date"
              },
              "endDate": {
                "type": "string",
                "format": "date"
              }
            }
          },
          "customFields": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "CustomField": {
        "type": "object",
        "required": [
          "key",
          "type"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "Unique key. Must start with a letter (alphanumeric + underscore)."
          },
          "label": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "string",
              "number",
              "boolean",
              "date",
              "enum"
            ]
          },
          "required": {
            "type": "boolean"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Valid values for enum type fields."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Access Authentication. Public Key as username, Private Key as password."
      }
    }
  },
  "security": [
    {
      "BasicAuth": []
    }
  ]
}