{
  "openapi": "3.0.3",
  "info": {
    "title": "Microsoft Graph API - Outlook",
    "version": "v1.0",
    "description": "Microsoft Graph API provides unified access to Microsoft 365 Outlook services including mail, calendar, contacts, and mailbox settings. This spec covers the Outlook-related subset of Microsoft Graph v1.0 endpoints.",
    "contact": {
      "name": "Microsoft Graph Support",
      "url": "https://developer.microsoft.com/en-us/graph"
    },
    "x-jentic-source-url": "https://docs.microsoft.com/en-us/graph/use-the-api"
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com/v1.0",
      "description": "Microsoft Graph v1.0 endpoint"
    }
  ],
  "tags": [
    { "name": "Messages", "description": "Read, create, send, reply, forward, and manage email messages" },
    { "name": "Mail Folders", "description": "Manage mail folders (Inbox, Sent Items, custom folders, etc.)" },
    { "name": "Calendars", "description": "Manage user calendars" },
    { "name": "Events", "description": "Create, read, update, and delete calendar events" },
    { "name": "Contacts", "description": "Manage personal contacts" },
    { "name": "Contact Folders", "description": "Manage contact folders" },
    { "name": "Attachments", "description": "Manage file and item attachments on messages and events" },
    { "name": "Mailbox Settings", "description": "Get and update mailbox settings including automatic replies and time zone" }
  ],
  "paths": {
    "/me/messages": {
      "get": {
        "operationId": "listMessages",
        "summary": "List messages",
        "description": "Get the messages in the signed-in user's mailbox (including the Deleted Items and Clutter folders).",
        "tags": ["Messages"],
        "parameters": [
          { "$ref": "#/components/parameters/TopParam" },
          { "$ref": "#/components/parameters/SkipParam" },
          { "$ref": "#/components/parameters/FilterParam" },
          { "$ref": "#/components/parameters/SelectParam" },
          { "$ref": "#/components/parameters/OrderByParam" },
          { "$ref": "#/components/parameters/SearchParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageCollectionResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "createMessage",
        "summary": "Create a draft message",
        "description": "Create a draft of a new message in the user's mailbox.",
        "tags": ["Messages"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MessageCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/messages/{message_id}": {
      "get": {
        "operationId": "getMessage",
        "summary": "Get a message",
        "description": "Retrieve the properties and relationships of a message object.",
        "tags": ["Messages"],
        "parameters": [
          { "$ref": "#/components/parameters/MessageIdParam" },
          { "$ref": "#/components/parameters/SelectParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "patch": {
        "operationId": "updateMessage",
        "summary": "Update a message",
        "description": "Update the properties of a message object.",
        "tags": ["Messages"],
        "parameters": [
          { "$ref": "#/components/parameters/MessageIdParam" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MessageCreate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "delete": {
        "operationId": "deleteMessage",
        "summary": "Delete a message",
        "description": "Delete a message in the specified user's mailbox.",
        "tags": ["Messages"],
        "parameters": [
          { "$ref": "#/components/parameters/MessageIdParam" }
        ],
        "responses": {
          "204": { "description": "No content - message deleted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/messages/{message_id}/send": {
      "post": {
        "operationId": "sendDraftMessage",
        "summary": "Send a draft message",
        "description": "Send an existing draft message.",
        "tags": ["Messages"],
        "parameters": [
          { "$ref": "#/components/parameters/MessageIdParam" }
        ],
        "responses": {
          "202": { "description": "Accepted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/sendMail": {
      "post": {
        "operationId": "sendMail",
        "summary": "Send a new mail",
        "description": "Send the message specified in the request body. The message is saved in the Sent Items folder by default.",
        "tags": ["Messages"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": { "$ref": "#/components/schemas/MessageCreate" },
                  "saveToSentItems": {
                    "type": "boolean",
                    "description": "Indicates whether to save the message in Sent Items.",
                    "default": true
                  }
                },
                "required": ["message"]
              }
            }
          }
        },
        "responses": {
          "202": { "description": "Accepted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/messages/{message_id}/reply": {
      "post": {
        "operationId": "replyToMessage",
        "summary": "Reply to a message",
        "description": "Reply to the sender of a message, add a comment, and send.",
        "tags": ["Messages"],
        "parameters": [
          { "$ref": "#/components/parameters/MessageIdParam" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": { "type": "string", "description": "A comment to include with the reply." }
                }
              }
            }
          }
        },
        "responses": {
          "202": { "description": "Accepted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/messages/{message_id}/replyAll": {
      "post": {
        "operationId": "replyAllToMessage",
        "summary": "Reply all to a message",
        "description": "Reply to all recipients of a message.",
        "tags": ["Messages"],
        "parameters": [
          { "$ref": "#/components/parameters/MessageIdParam" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "202": { "description": "Accepted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/messages/{message_id}/forward": {
      "post": {
        "operationId": "forwardMessage",
        "summary": "Forward a message",
        "description": "Forward a message to specified recipients.",
        "tags": ["Messages"],
        "parameters": [
          { "$ref": "#/components/parameters/MessageIdParam" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": { "type": "string" },
                  "toRecipients": {
                    "type": "array",
                    "items": { "$ref": "#/components/schemas/Recipient" }
                  }
                },
                "required": ["toRecipients"]
              }
            }
          }
        },
        "responses": {
          "202": { "description": "Accepted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/messages/{message_id}/move": {
      "post": {
        "operationId": "moveMessage",
        "summary": "Move a message to a folder",
        "description": "Move a message to a specified folder.",
        "tags": ["Messages"],
        "parameters": [
          { "$ref": "#/components/parameters/MessageIdParam" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "destinationId": {
                    "type": "string",
                    "description": "The destination folder ID or well-known folder name."
                  }
                },
                "required": ["destinationId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Moved message",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/messages/{message_id}/attachments": {
      "get": {
        "operationId": "listMessageAttachments",
        "summary": "List message attachments",
        "description": "Retrieve a list of attachment objects attached to a message.",
        "tags": ["Attachments"],
        "parameters": [
          { "$ref": "#/components/parameters/MessageIdParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AttachmentCollectionResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "addMessageAttachment",
        "summary": "Add an attachment to a message",
        "description": "Add a file or item attachment to a message.",
        "tags": ["Attachments"],
        "parameters": [
          { "$ref": "#/components/parameters/MessageIdParam" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AttachmentCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Attachment" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/messages/{message_id}/attachments/{attachment_id}": {
      "get": {
        "operationId": "getMessageAttachment",
        "summary": "Get a message attachment",
        "description": "Read the properties, relationships, or raw contents of an attachment.",
        "tags": ["Attachments"],
        "parameters": [
          { "$ref": "#/components/parameters/MessageIdParam" },
          { "$ref": "#/components/parameters/AttachmentIdParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Attachment" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "delete": {
        "operationId": "deleteMessageAttachment",
        "summary": "Delete a message attachment",
        "description": "Delete an attachment from a message.",
        "tags": ["Attachments"],
        "parameters": [
          { "$ref": "#/components/parameters/MessageIdParam" },
          { "$ref": "#/components/parameters/AttachmentIdParam" }
        ],
        "responses": {
          "204": { "description": "No content - attachment deleted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/mailFolders": {
      "get": {
        "operationId": "listMailFolders",
        "summary": "List mail folders",
        "description": "Get the mail folder collection directly under the root folder of the signed-in user.",
        "tags": ["Mail Folders"],
        "parameters": [
          { "$ref": "#/components/parameters/TopParam" },
          { "$ref": "#/components/parameters/SelectParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MailFolderCollectionResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "createMailFolder",
        "summary": "Create a mail folder",
        "description": "Create a new mail folder under the root folder of the user's mailbox.",
        "tags": ["Mail Folders"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MailFolderCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MailFolder" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/mailFolders/{folder_id}": {
      "get": {
        "operationId": "getMailFolder",
        "summary": "Get a mail folder",
        "description": "Retrieve the properties and relationships of a mail folder object.",
        "tags": ["Mail Folders"],
        "parameters": [
          { "$ref": "#/components/parameters/FolderIdParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MailFolder" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "patch": {
        "operationId": "updateMailFolder",
        "summary": "Update a mail folder",
        "description": "Update the properties of a mail folder object.",
        "tags": ["Mail Folders"],
        "parameters": [
          { "$ref": "#/components/parameters/FolderIdParam" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MailFolderCreate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MailFolder" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "delete": {
        "operationId": "deleteMailFolder",
        "summary": "Delete a mail folder",
        "description": "Delete a mail folder and its contents.",
        "tags": ["Mail Folders"],
        "parameters": [
          { "$ref": "#/components/parameters/FolderIdParam" }
        ],
        "responses": {
          "204": { "description": "No content - folder deleted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/mailFolders/{folder_id}/messages": {
      "get": {
        "operationId": "listMailFolderMessages",
        "summary": "List messages in a mail folder",
        "description": "Get all the messages in the specified mail folder.",
        "tags": ["Mail Folders"],
        "parameters": [
          { "$ref": "#/components/parameters/FolderIdParam" },
          { "$ref": "#/components/parameters/TopParam" },
          { "$ref": "#/components/parameters/SkipParam" },
          { "$ref": "#/components/parameters/FilterParam" },
          { "$ref": "#/components/parameters/SelectParam" },
          { "$ref": "#/components/parameters/OrderByParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MessageCollectionResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/mailFolders/{folder_id}/childFolders": {
      "get": {
        "operationId": "listChildFolders",
        "summary": "List child folders",
        "description": "Get the folder collection under the specified folder.",
        "tags": ["Mail Folders"],
        "parameters": [
          { "$ref": "#/components/parameters/FolderIdParam" },
          { "$ref": "#/components/parameters/TopParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MailFolderCollectionResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/calendars": {
      "get": {
        "operationId": "listCalendars",
        "summary": "List calendars",
        "description": "Get all the user's calendars.",
        "tags": ["Calendars"],
        "parameters": [
          { "$ref": "#/components/parameters/SelectParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CalendarCollectionResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "createCalendar",
        "summary": "Create a calendar",
        "description": "Create a new calendar for the user.",
        "tags": ["Calendars"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CalendarCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Calendar" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/calendars/{calendar_id}": {
      "get": {
        "operationId": "getCalendar",
        "summary": "Get a calendar",
        "description": "Get the properties and relationships of a calendar object.",
        "tags": ["Calendars"],
        "parameters": [
          { "$ref": "#/components/parameters/CalendarIdParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Calendar" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "patch": {
        "operationId": "updateCalendar",
        "summary": "Update a calendar",
        "description": "Update the properties of a calendar object.",
        "tags": ["Calendars"],
        "parameters": [
          { "$ref": "#/components/parameters/CalendarIdParam" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CalendarCreate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Calendar" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "delete": {
        "operationId": "deleteCalendar",
        "summary": "Delete a calendar",
        "description": "Delete a calendar other than the default calendar.",
        "tags": ["Calendars"],
        "parameters": [
          { "$ref": "#/components/parameters/CalendarIdParam" }
        ],
        "responses": {
          "204": { "description": "No content - calendar deleted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "description": "Get the user's events from the default calendar or a specified calendar.",
        "tags": ["Events"],
        "parameters": [
          { "$ref": "#/components/parameters/TopParam" },
          { "$ref": "#/components/parameters/SkipParam" },
          { "$ref": "#/components/parameters/FilterParam" },
          { "$ref": "#/components/parameters/SelectParam" },
          { "$ref": "#/components/parameters/OrderByParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EventCollectionResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "createEvent",
        "summary": "Create an event",
        "description": "Create a new event in the user's default calendar.",
        "tags": ["Events"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EventCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Event" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/events/{event_id}": {
      "get": {
        "operationId": "getEvent",
        "summary": "Get an event",
        "description": "Get the properties and relationships of the specified event object.",
        "tags": ["Events"],
        "parameters": [
          { "$ref": "#/components/parameters/EventIdParam" },
          { "$ref": "#/components/parameters/SelectParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Event" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "patch": {
        "operationId": "updateEvent",
        "summary": "Update an event",
        "description": "Update the properties of the specified event object.",
        "tags": ["Events"],
        "parameters": [
          { "$ref": "#/components/parameters/EventIdParam" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EventCreate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Event" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "delete": {
        "operationId": "deleteEvent",
        "summary": "Delete an event",
        "description": "Delete an event from the user's calendar.",
        "tags": ["Events"],
        "parameters": [
          { "$ref": "#/components/parameters/EventIdParam" }
        ],
        "responses": {
          "204": { "description": "No content - event deleted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/events/{event_id}/accept": {
      "post": {
        "operationId": "acceptEvent",
        "summary": "Accept an event",
        "description": "Accept the specified event in the user's calendar.",
        "tags": ["Events"],
        "parameters": [
          { "$ref": "#/components/parameters/EventIdParam" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EventResponse" }
            }
          }
        },
        "responses": {
          "202": { "description": "Accepted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/events/{event_id}/decline": {
      "post": {
        "operationId": "declineEvent",
        "summary": "Decline an event",
        "description": "Decline invitation to the specified event in the user's calendar.",
        "tags": ["Events"],
        "parameters": [
          { "$ref": "#/components/parameters/EventIdParam" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EventResponse" }
            }
          }
        },
        "responses": {
          "202": { "description": "Accepted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/events/{event_id}/tentativelyAccept": {
      "post": {
        "operationId": "tentativelyAcceptEvent",
        "summary": "Tentatively accept an event",
        "description": "Tentatively accept the specified event in the user's calendar.",
        "tags": ["Events"],
        "parameters": [
          { "$ref": "#/components/parameters/EventIdParam" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EventResponse" }
            }
          }
        },
        "responses": {
          "202": { "description": "Accepted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/events/{event_id}/attachments": {
      "get": {
        "operationId": "listEventAttachments",
        "summary": "List event attachments",
        "description": "Retrieve a list of attachment objects attached to an event.",
        "tags": ["Attachments"],
        "parameters": [
          { "$ref": "#/components/parameters/EventIdParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AttachmentCollectionResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "addEventAttachment",
        "summary": "Add an attachment to an event",
        "description": "Add a file or item attachment to an event.",
        "tags": ["Attachments"],
        "parameters": [
          { "$ref": "#/components/parameters/EventIdParam" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AttachmentCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Attachment" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/calendars/{calendar_id}/events": {
      "get": {
        "operationId": "listCalendarEvents",
        "summary": "List events in a calendar",
        "description": "Retrieve a list of events in a specified calendar.",
        "tags": ["Events"],
        "parameters": [
          { "$ref": "#/components/parameters/CalendarIdParam" },
          { "$ref": "#/components/parameters/TopParam" },
          { "$ref": "#/components/parameters/FilterParam" },
          { "$ref": "#/components/parameters/SelectParam" },
          { "$ref": "#/components/parameters/OrderByParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EventCollectionResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "createCalendarEvent",
        "summary": "Create an event in a calendar",
        "description": "Create a new event in the specified calendar.",
        "tags": ["Events"],
        "parameters": [
          { "$ref": "#/components/parameters/CalendarIdParam" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EventCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Event" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/calendarView": {
      "get": {
        "operationId": "getCalendarView",
        "summary": "Get calendar view",
        "description": "Get the occurrences, exceptions, and single instances of events in a calendar view defined by a time range.",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "startDateTime",
            "in": "query",
            "required": true,
            "description": "The start date and time of the time range, represented in ISO 8601 format.",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "endDateTime",
            "in": "query",
            "required": true,
            "description": "The end date and time of the time range, represented in ISO 8601 format.",
            "schema": { "type": "string", "format": "date-time" }
          },
          { "$ref": "#/components/parameters/TopParam" },
          { "$ref": "#/components/parameters/SelectParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EventCollectionResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts",
        "description": "Get a contact collection from the default contacts folder of the signed-in user.",
        "tags": ["Contacts"],
        "parameters": [
          { "$ref": "#/components/parameters/TopParam" },
          { "$ref": "#/components/parameters/SkipParam" },
          { "$ref": "#/components/parameters/FilterParam" },
          { "$ref": "#/components/parameters/SelectParam" },
          { "$ref": "#/components/parameters/OrderByParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ContactCollectionResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "createContact",
        "summary": "Create a contact",
        "description": "Add a contact to the root contacts folder or to the contacts endpoint of another contact folder.",
        "tags": ["Contacts"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ContactCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Contact" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/contacts/{contact_id}": {
      "get": {
        "operationId": "getContact",
        "summary": "Get a contact",
        "description": "Retrieve the properties and relationships of a contact object.",
        "tags": ["Contacts"],
        "parameters": [
          { "$ref": "#/components/parameters/ContactIdParam" },
          { "$ref": "#/components/parameters/SelectParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Contact" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "patch": {
        "operationId": "updateContact",
        "summary": "Update a contact",
        "description": "Update the properties of a contact object.",
        "tags": ["Contacts"],
        "parameters": [
          { "$ref": "#/components/parameters/ContactIdParam" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ContactCreate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Contact" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "delete": {
        "operationId": "deleteContact",
        "summary": "Delete a contact",
        "description": "Delete a contact.",
        "tags": ["Contacts"],
        "parameters": [
          { "$ref": "#/components/parameters/ContactIdParam" }
        ],
        "responses": {
          "204": { "description": "No content - contact deleted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/contactFolders": {
      "get": {
        "operationId": "listContactFolders",
        "summary": "List contact folders",
        "description": "Get the contact folder collection in the root folder of the signed-in user.",
        "tags": ["Contact Folders"],
        "parameters": [
          { "$ref": "#/components/parameters/TopParam" },
          { "$ref": "#/components/parameters/SelectParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ContactFolderCollectionResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "createContactFolder",
        "summary": "Create a contact folder",
        "description": "Create a new contact folder under the user's default contact folder.",
        "tags": ["Contact Folders"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ContactFolderCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ContactFolder" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/contactFolders/{contact_folder_id}": {
      "get": {
        "operationId": "getContactFolder",
        "summary": "Get a contact folder",
        "description": "Get a contact folder by using the contact folder ID.",
        "tags": ["Contact Folders"],
        "parameters": [
          { "$ref": "#/components/parameters/ContactFolderIdParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ContactFolder" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "patch": {
        "operationId": "updateContactFolder",
        "summary": "Update a contact folder",
        "description": "Update the properties of a contact folder object.",
        "tags": ["Contact Folders"],
        "parameters": [
          { "$ref": "#/components/parameters/ContactFolderIdParam" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ContactFolderCreate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ContactFolder" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "delete": {
        "operationId": "deleteContactFolder",
        "summary": "Delete a contact folder",
        "description": "Delete a contact folder.",
        "tags": ["Contact Folders"],
        "parameters": [
          { "$ref": "#/components/parameters/ContactFolderIdParam" }
        ],
        "responses": {
          "204": { "description": "No content - contact folder deleted" },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/contactFolders/{contact_folder_id}/contacts": {
      "get": {
        "operationId": "listContactFolderContacts",
        "summary": "List contacts in a folder",
        "description": "Get the contacts in a specified contact folder.",
        "tags": ["Contact Folders"],
        "parameters": [
          { "$ref": "#/components/parameters/ContactFolderIdParam" },
          { "$ref": "#/components/parameters/TopParam" },
          { "$ref": "#/components/parameters/FilterParam" },
          { "$ref": "#/components/parameters/SelectParam" }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ContactCollectionResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/mailboxSettings": {
      "get": {
        "operationId": "getMailboxSettings",
        "summary": "Get mailbox settings",
        "description": "Get the user's mailbox settings including automatic replies, locale, time zone, and working hours.",
        "tags": ["Mailbox Settings"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MailboxSettings" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "patch": {
        "operationId": "updateMailboxSettings",
        "summary": "Update mailbox settings",
        "description": "Update one or more settings for the user's mailbox.",
        "tags": ["Mailbox Settings"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MailboxSettings" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MailboxSettings" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "TopParam": {
        "name": "$top",
        "in": "query",
        "description": "Sets the page size of results.",
        "schema": { "type": "integer" }
      },
      "SkipParam": {
        "name": "$skip",
        "in": "query",
        "description": "Skips the specified number of results.",
        "schema": { "type": "integer" }
      },
      "FilterParam": {
        "name": "$filter",
        "in": "query",
        "description": "Filters results (OData filter expression).",
        "schema": { "type": "string" }
      },
      "SelectParam": {
        "name": "$select",
        "in": "query",
        "description": "Comma-separated list of properties to include in the response.",
        "schema": { "type": "string" }
      },
      "OrderByParam": {
        "name": "$orderby",
        "in": "query",
        "description": "Orders results (OData orderby expression).",
        "schema": { "type": "string" }
      },
      "SearchParam": {
        "name": "$search",
        "in": "query",
        "description": "Returns results based on search criteria.",
        "schema": { "type": "string" }
      },
      "MessageIdParam": {
        "name": "message_id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the message.",
        "schema": { "type": "string" }
      },
      "FolderIdParam": {
        "name": "folder_id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the mail folder, or a well-known folder name (inbox, drafts, sentitems, deleteditems).",
        "schema": { "type": "string" }
      },
      "CalendarIdParam": {
        "name": "calendar_id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the calendar.",
        "schema": { "type": "string" }
      },
      "EventIdParam": {
        "name": "event_id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the event.",
        "schema": { "type": "string" }
      },
      "ContactIdParam": {
        "name": "contact_id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the contact.",
        "schema": { "type": "string" }
      },
      "AttachmentIdParam": {
        "name": "attachment_id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the attachment.",
        "schema": { "type": "string" }
      },
      "ContactFolderIdParam": {
        "name": "contact_folder_id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the contact folder.",
        "schema": { "type": "string" }
      }
    },
    "schemas": {
      "EmailAddress": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "description": "The display name of the person or entity." },
          "address": { "type": "string", "format": "email", "description": "The email address of the person or entity." }
        }
      },
      "Recipient": {
        "type": "object",
        "properties": {
          "emailAddress": { "$ref": "#/components/schemas/EmailAddress" }
        }
      },
      "ItemBody": {
        "type": "object",
        "properties": {
          "contentType": {
            "type": "string",
            "enum": ["text", "html"],
            "description": "The type of the content."
          },
          "content": { "type": "string", "description": "The content of the item body." }
        }
      },
      "DateTimeTimeZone": {
        "type": "object",
        "properties": {
          "dateTime": { "type": "string", "description": "A single point of time in a combined date and time representation (e.g., 2024-01-01T12:00:00)." },
          "timeZone": { "type": "string", "description": "Represents a time zone (e.g., Pacific Standard Time)." }
        }
      },
      "PhysicalAddress": {
        "type": "object",
        "properties": {
          "street": { "type": "string" },
          "city": { "type": "string" },
          "state": { "type": "string" },
          "countryOrRegion": { "type": "string" },
          "postalCode": { "type": "string" }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "displayName": { "type": "string", "description": "The name associated with the location." },
          "address": { "$ref": "#/components/schemas/PhysicalAddress" },
          "locationType": {
            "type": "string",
            "enum": ["default", "conferenceRoom", "homeAddress", "businessAddress", "geoCoordinates", "streetAddress", "hotel", "restaurant", "localBusiness", "postalAddress"]
          }
        }
      },
      "Attendee": {
        "type": "object",
        "properties": {
          "emailAddress": { "$ref": "#/components/schemas/EmailAddress" },
          "type": {
            "type": "string",
            "enum": ["required", "optional", "resource"],
            "description": "The type of attendee."
          },
          "status": {
            "type": "object",
            "properties": {
              "response": {
                "type": "string",
                "enum": ["none", "organizer", "tentativelyAccepted", "accepted", "declined", "notResponded"]
              },
              "time": { "type": "string", "format": "date-time" }
            }
          }
        }
      },
      "RecurrencePattern": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["daily", "weekly", "absoluteMonthly", "relativeMonthly", "absoluteYearly", "relativeYearly"]
          },
          "interval": { "type": "integer", "description": "The number of units between occurrences." },
          "daysOfWeek": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"]
            }
          },
          "dayOfMonth": { "type": "integer" },
          "month": { "type": "integer" },
          "firstDayOfWeek": { "type": "string" }
        }
      },
      "RecurrenceRange": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["endDate", "noEnd", "numbered"]
          },
          "startDate": { "type": "string", "format": "date" },
          "endDate": { "type": "string", "format": "date" },
          "numberOfOccurrences": { "type": "integer" },
          "recurrenceTimeZone": { "type": "string" }
        }
      },
      "PatternedRecurrence": {
        "type": "object",
        "properties": {
          "pattern": { "$ref": "#/components/schemas/RecurrencePattern" },
          "range": { "$ref": "#/components/schemas/RecurrenceRange" }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "readOnly": true },
          "createdDateTime": { "type": "string", "format": "date-time", "readOnly": true },
          "lastModifiedDateTime": { "type": "string", "format": "date-time", "readOnly": true },
          "receivedDateTime": { "type": "string", "format": "date-time", "readOnly": true },
          "sentDateTime": { "type": "string", "format": "date-time", "readOnly": true },
          "subject": { "type": "string" },
          "body": { "$ref": "#/components/schemas/ItemBody" },
          "bodyPreview": { "type": "string", "readOnly": true },
          "from": { "$ref": "#/components/schemas/Recipient" },
          "sender": { "$ref": "#/components/schemas/Recipient" },
          "toRecipients": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Recipient" }
          },
          "ccRecipients": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Recipient" }
          },
          "bccRecipients": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Recipient" }
          },
          "replyTo": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Recipient" }
          },
          "conversationId": { "type": "string", "readOnly": true },
          "conversationIndex": { "type": "string", "readOnly": true },
          "importance": {
            "type": "string",
            "enum": ["low", "normal", "high"]
          },
          "isDeliveryReceiptRequested": { "type": "boolean" },
          "isReadReceiptRequested": { "type": "boolean" },
          "isRead": { "type": "boolean" },
          "isDraft": { "type": "boolean", "readOnly": true },
          "hasAttachments": { "type": "boolean", "readOnly": true },
          "internetMessageId": { "type": "string", "readOnly": true },
          "parentFolderId": { "type": "string", "readOnly": true },
          "webLink": { "type": "string", "readOnly": true },
          "categories": {
            "type": "array",
            "items": { "type": "string" }
          },
          "flag": {
            "type": "object",
            "properties": {
              "flagStatus": {
                "type": "string",
                "enum": ["notFlagged", "complete", "flagged"]
              }
            }
          }
        }
      },
      "MessageCreate": {
        "type": "object",
        "properties": {
          "subject": { "type": "string" },
          "body": { "$ref": "#/components/schemas/ItemBody" },
          "toRecipients": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Recipient" }
          },
          "ccRecipients": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Recipient" }
          },
          "bccRecipients": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Recipient" }
          },
          "replyTo": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Recipient" }
          },
          "importance": {
            "type": "string",
            "enum": ["low", "normal", "high"]
          },
          "isDeliveryReceiptRequested": { "type": "boolean" },
          "isReadReceiptRequested": { "type": "boolean" },
          "isRead": { "type": "boolean" },
          "categories": {
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "MessageCollectionResponse": {
        "type": "object",
        "properties": {
          "@odata.context": { "type": "string" },
          "@odata.nextLink": { "type": "string", "description": "URL to get the next page of results." },
          "value": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Message" }
          }
        }
      },
      "MailFolder": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "readOnly": true },
          "displayName": { "type": "string" },
          "parentFolderId": { "type": "string", "readOnly": true },
          "childFolderCount": { "type": "integer", "readOnly": true },
          "unreadItemCount": { "type": "integer", "readOnly": true },
          "totalItemCount": { "type": "integer", "readOnly": true },
          "isHidden": { "type": "boolean" }
        }
      },
      "MailFolderCreate": {
        "type": "object",
        "properties": {
          "displayName": { "type": "string", "description": "The display name of the folder." },
          "isHidden": { "type": "boolean", "description": "Indicates whether the folder is hidden." }
        },
        "required": ["displayName"]
      },
      "MailFolderCollectionResponse": {
        "type": "object",
        "properties": {
          "@odata.context": { "type": "string" },
          "@odata.nextLink": { "type": "string" },
          "value": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/MailFolder" }
          }
        }
      },
      "Calendar": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "readOnly": true },
          "name": { "type": "string" },
          "color": {
            "type": "string",
            "enum": ["auto", "lightBlue", "lightGreen", "lightOrange", "lightGray", "lightYellow", "lightTeal", "lightPink", "lightBrown", "lightRed", "maxColor"]
          },
          "changeKey": { "type": "string", "readOnly": true },
          "canShare": { "type": "boolean", "readOnly": true },
          "canViewPrivateItems": { "type": "boolean", "readOnly": true },
          "canEdit": { "type": "boolean", "readOnly": true },
          "owner": { "$ref": "#/components/schemas/EmailAddress" },
          "isDefaultCalendar": { "type": "boolean", "readOnly": true },
          "isRemovable": { "type": "boolean", "readOnly": true }
        }
      },
      "CalendarCreate": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "description": "The calendar name." },
          "color": {
            "type": "string",
            "enum": ["auto", "lightBlue", "lightGreen", "lightOrange", "lightGray", "lightYellow", "lightTeal", "lightPink", "lightBrown", "lightRed", "maxColor"]
          }
        },
        "required": ["name"]
      },
      "CalendarCollectionResponse": {
        "type": "object",
        "properties": {
          "@odata.context": { "type": "string" },
          "value": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Calendar" }
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "readOnly": true },
          "createdDateTime": { "type": "string", "format": "date-time", "readOnly": true },
          "lastModifiedDateTime": { "type": "string", "format": "date-time", "readOnly": true },
          "subject": { "type": "string" },
          "body": { "$ref": "#/components/schemas/ItemBody" },
          "bodyPreview": { "type": "string", "readOnly": true },
          "start": { "$ref": "#/components/schemas/DateTimeTimeZone" },
          "end": { "$ref": "#/components/schemas/DateTimeTimeZone" },
          "location": { "$ref": "#/components/schemas/Location" },
          "locations": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Location" }
          },
          "attendees": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Attendee" }
          },
          "organizer": { "$ref": "#/components/schemas/Recipient" },
          "recurrence": { "$ref": "#/components/schemas/PatternedRecurrence" },
          "isAllDay": { "type": "boolean" },
          "isCancelled": { "type": "boolean", "readOnly": true },
          "isOrganizer": { "type": "boolean", "readOnly": true },
          "isReminderOn": { "type": "boolean" },
          "reminderMinutesBeforeStart": { "type": "integer" },
          "sensitivity": {
            "type": "string",
            "enum": ["normal", "personal", "private", "confidential"]
          },
          "showAs": {
            "type": "string",
            "enum": ["free", "tentative", "busy", "oof", "workingElsewhere", "unknown"]
          },
          "importance": {
            "type": "string",
            "enum": ["low", "normal", "high"]
          },
          "responseRequested": { "type": "boolean" },
          "hasAttachments": { "type": "boolean", "readOnly": true },
          "categories": {
            "type": "array",
            "items": { "type": "string" }
          },
          "webLink": { "type": "string", "readOnly": true },
          "onlineMeetingUrl": { "type": "string" },
          "isOnlineMeeting": { "type": "boolean" },
          "onlineMeeting": {
            "type": "object",
            "properties": {
              "joinUrl": { "type": "string" }
            }
          },
          "seriesMasterId": { "type": "string", "readOnly": true },
          "type": {
            "type": "string",
            "enum": ["singleInstance", "occurrence", "exception", "seriesMaster"],
            "readOnly": true
          },
          "responseStatus": {
            "type": "object",
            "readOnly": true,
            "properties": {
              "response": {
                "type": "string",
                "enum": ["none", "organizer", "tentativelyAccepted", "accepted", "declined", "notResponded"]
              },
              "time": { "type": "string", "format": "date-time" }
            }
          }
        }
      },
      "EventCreate": {
        "type": "object",
        "properties": {
          "subject": { "type": "string" },
          "body": { "$ref": "#/components/schemas/ItemBody" },
          "start": { "$ref": "#/components/schemas/DateTimeTimeZone" },
          "end": { "$ref": "#/components/schemas/DateTimeTimeZone" },
          "location": { "$ref": "#/components/schemas/Location" },
          "attendees": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Attendee" }
          },
          "recurrence": { "$ref": "#/components/schemas/PatternedRecurrence" },
          "isAllDay": { "type": "boolean" },
          "isReminderOn": { "type": "boolean" },
          "reminderMinutesBeforeStart": { "type": "integer" },
          "sensitivity": {
            "type": "string",
            "enum": ["normal", "personal", "private", "confidential"]
          },
          "showAs": {
            "type": "string",
            "enum": ["free", "tentative", "busy", "oof", "workingElsewhere", "unknown"]
          },
          "importance": {
            "type": "string",
            "enum": ["low", "normal", "high"]
          },
          "responseRequested": { "type": "boolean" },
          "isOnlineMeeting": { "type": "boolean" },
          "categories": {
            "type": "array",
            "items": { "type": "string" }
          }
        },
        "required": ["subject", "start", "end"]
      },
      "EventCollectionResponse": {
        "type": "object",
        "properties": {
          "@odata.context": { "type": "string" },
          "@odata.nextLink": { "type": "string" },
          "value": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Event" }
          }
        }
      },
      "EventResponse": {
        "type": "object",
        "properties": {
          "comment": { "type": "string", "description": "Text included in the response." },
          "sendResponse": { "type": "boolean", "description": "Whether a response is sent to the organizer.", "default": true }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "readOnly": true },
          "createdDateTime": { "type": "string", "format": "date-time", "readOnly": true },
          "lastModifiedDateTime": { "type": "string", "format": "date-time", "readOnly": true },
          "displayName": { "type": "string" },
          "givenName": { "type": "string" },
          "surname": { "type": "string" },
          "middleName": { "type": "string" },
          "nickName": { "type": "string" },
          "title": { "type": "string" },
          "jobTitle": { "type": "string" },
          "companyName": { "type": "string" },
          "department": { "type": "string" },
          "officeLocation": { "type": "string" },
          "emailAddresses": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/EmailAddress" }
          },
          "homePhones": {
            "type": "array",
            "items": { "type": "string" }
          },
          "mobilePhone": { "type": "string" },
          "businessPhones": {
            "type": "array",
            "items": { "type": "string" }
          },
          "homeAddress": { "$ref": "#/components/schemas/PhysicalAddress" },
          "businessAddress": { "$ref": "#/components/schemas/PhysicalAddress" },
          "otherAddress": { "$ref": "#/components/schemas/PhysicalAddress" },
          "birthday": { "type": "string", "format": "date-time" },
          "personalNotes": { "type": "string" },
          "categories": {
            "type": "array",
            "items": { "type": "string" }
          },
          "parentFolderId": { "type": "string", "readOnly": true }
        }
      },
      "ContactCreate": {
        "type": "object",
        "properties": {
          "givenName": { "type": "string" },
          "surname": { "type": "string" },
          "middleName": { "type": "string" },
          "nickName": { "type": "string" },
          "title": { "type": "string" },
          "jobTitle": { "type": "string" },
          "companyName": { "type": "string" },
          "department": { "type": "string" },
          "officeLocation": { "type": "string" },
          "emailAddresses": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/EmailAddress" }
          },
          "homePhones": {
            "type": "array",
            "items": { "type": "string" }
          },
          "mobilePhone": { "type": "string" },
          "businessPhones": {
            "type": "array",
            "items": { "type": "string" }
          },
          "homeAddress": { "$ref": "#/components/schemas/PhysicalAddress" },
          "businessAddress": { "$ref": "#/components/schemas/PhysicalAddress" },
          "otherAddress": { "$ref": "#/components/schemas/PhysicalAddress" },
          "birthday": { "type": "string", "format": "date-time" },
          "personalNotes": { "type": "string" },
          "categories": {
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "ContactCollectionResponse": {
        "type": "object",
        "properties": {
          "@odata.context": { "type": "string" },
          "@odata.nextLink": { "type": "string" },
          "value": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Contact" }
          }
        }
      },
      "ContactFolder": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "readOnly": true },
          "displayName": { "type": "string" },
          "parentFolderId": { "type": "string", "readOnly": true }
        }
      },
      "ContactFolderCreate": {
        "type": "object",
        "properties": {
          "displayName": { "type": "string", "description": "The folder's display name." }
        },
        "required": ["displayName"]
      },
      "ContactFolderCollectionResponse": {
        "type": "object",
        "properties": {
          "@odata.context": { "type": "string" },
          "value": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ContactFolder" }
          }
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "@odata.type": {
            "type": "string",
            "description": "The OData type of the attachment (#microsoft.graph.fileAttachment or #microsoft.graph.itemAttachment)."
          },
          "id": { "type": "string", "readOnly": true },
          "name": { "type": "string", "description": "The display name of the attachment." },
          "contentType": { "type": "string", "description": "The MIME type of the attachment." },
          "size": { "type": "integer", "description": "The size in bytes of the attachment.", "readOnly": true },
          "isInline": { "type": "boolean", "description": "Set to true if the attachment is an inline attachment." },
          "lastModifiedDateTime": { "type": "string", "format": "date-time", "readOnly": true },
          "contentBytes": { "type": "string", "format": "byte", "description": "The base64-encoded contents of the file (for file attachments)." },
          "contentId": { "type": "string", "description": "The ID of the attachment in the Exchange store." }
        }
      },
      "AttachmentCreate": {
        "type": "object",
        "properties": {
          "@odata.type": {
            "type": "string",
            "description": "Must be #microsoft.graph.fileAttachment for file attachments."
          },
          "name": { "type": "string", "description": "The display name of the attachment." },
          "contentType": { "type": "string", "description": "The MIME type." },
          "contentBytes": { "type": "string", "format": "byte", "description": "The base64-encoded file content." },
          "isInline": { "type": "boolean" }
        },
        "required": ["@odata.type", "name", "contentBytes"]
      },
      "AttachmentCollectionResponse": {
        "type": "object",
        "properties": {
          "@odata.context": { "type": "string" },
          "value": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Attachment" }
          }
        }
      },
      "AutomaticRepliesSetting": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["disabled", "alwaysEnabled", "scheduled"],
            "description": "The automatic replies status."
          },
          "externalAudience": {
            "type": "string",
            "enum": ["none", "contactsOnly", "all"],
            "description": "The audience external to the user's organization who will receive the external reply message."
          },
          "internalReplyMessage": { "type": "string", "description": "The automatic reply to send to internal audience." },
          "externalReplyMessage": { "type": "string", "description": "The automatic reply to send to external audience." },
          "scheduledStartDateTime": { "$ref": "#/components/schemas/DateTimeTimeZone" },
          "scheduledEndDateTime": { "$ref": "#/components/schemas/DateTimeTimeZone" }
        }
      },
      "WorkingHours": {
        "type": "object",
        "properties": {
          "daysOfWeek": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"]
            }
          },
          "startTime": { "type": "string", "description": "The time of the day that the user starts working." },
          "endTime": { "type": "string", "description": "The time of the day that the user stops working." },
          "timeZone": {
            "type": "object",
            "properties": {
              "name": { "type": "string" }
            }
          }
        }
      },
      "MailboxSettings": {
        "type": "object",
        "properties": {
          "automaticRepliesSetting": { "$ref": "#/components/schemas/AutomaticRepliesSetting" },
          "language": {
            "type": "object",
            "properties": {
              "locale": { "type": "string", "description": "A locale representation (e.g., en-US)." },
              "displayName": { "type": "string" }
            }
          },
          "timeZone": { "type": "string", "description": "The default time zone for the user's mailbox." },
          "dateFormat": { "type": "string" },
          "timeFormat": { "type": "string" },
          "workingHours": { "$ref": "#/components/schemas/WorkingHours" },
          "archiveFolder": { "type": "string", "description": "Folder ID of the archive folder for the user." }
        }
      },
      "ODataError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "description": "The error code." },
              "message": { "type": "string", "description": "The error message." },
              "innerError": {
                "type": "object",
                "properties": {
                  "request-id": { "type": "string" },
                  "date": { "type": "string", "format": "date-time" }
                }
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - the request was malformed or contained invalid parameters.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ODataError" }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - authentication is required or the provided token is invalid or expired.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ODataError" }
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authorization using Microsoft identity platform.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
            "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
            "scopes": {
              "Mail.Read": "Read user mail",
              "Mail.ReadWrite": "Read and write access to user mail",
              "Mail.Send": "Send mail as a user",
              "Calendars.Read": "Read user calendars",
              "Calendars.ReadWrite": "Have full access to user calendars",
              "Contacts.Read": "Read user contacts",
              "Contacts.ReadWrite": "Have full access to user contacts",
              "MailboxSettings.Read": "Read user mailbox settings",
              "MailboxSettings.ReadWrite": "Read and write user mailbox settings",
              "User.Read": "Sign in and read user profile"
            }
          }
        }
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token obtained via OAuth 2.0 authorization."
      }
    }
  },
  "security": [
    { "oauth2": [] },
    { "bearerAuth": [] }
  ]
}