{
  "openapi": "3.0.3",
  "info": {
    "title": "Squiggle AFL API",
    "version": "1.0.0",
    "description": "The Squiggle API provides AFL (Australian Football League) data including teams, games, tips, standings, ladder projections, and power rankings. No authentication is required but a descriptive User-Agent header identifying your application and contact information is mandatory.",
    "x-jentic-source-url": "https://api.squiggle.com.au/"
  },
  "servers": [
    {
      "url": "https://api.squiggle.com.au"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "queryApi",
        "summary": "Query the Squiggle API for various data types",
        "description": "Single endpoint that returns different data based on the 'q' parameter. Supports teams, games, sources, tips, standings, ladder, and power queries. Prepend '!' to parameter values to exclude them (e.g., round=!1). Response format defaults to JSON.",
        "tags": [
          "Teams",
          "Games",
          "Sources",
          "Tips",
          "Standings",
          "Ladder",
          "Power"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "teams",
                "games",
                "sources",
                "tips",
                "standings",
                "ladder",
                "power"
              ]
            },
            "description": "The type of data to query"
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by season year. Required for games query if game parameter is not provided."
          },
          {
            "name": "round",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by round number. For standings/ladder/power, refers to most recently completed round. Use 'final' for end-of-season."
          },
          {
            "name": "game",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by game ID"
          },
          {
            "name": "team",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by team ID"
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by prediction source/model ID (for tips, ladder, power)"
          },
          {
            "name": "complete",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100
            },
            "description": "Filter by completion percentage (0-100, for games and tips)"
          },
          {
            "name": "live",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1
              ]
            },
            "description": "Set to 1 to get in-progress games only"
          },
          {
            "name": "dummy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Exclude placeholder data (for ladder and power queries)"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv"
              ],
              "default": "json"
            },
            "description": "Response format (default: json)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing the requested data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters or missing required filters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or unacceptable User-Agent header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong"
          }
        }
      },
      "ApiResponse": {
        "type": "object",
        "description": "Response object containing the requested data array. The key name matches the query type.",
        "properties": {
          "teams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Team"
            }
          },
          "games": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Game"
            }
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Source"
            }
          },
          "tips": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tip"
            }
          },
          "standings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Standing"
            }
          },
          "ladder": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LadderEntry"
            }
          },
          "power": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PowerRanking"
            }
          }
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "debut": {
            "type": "integer",
            "nullable": true,
            "description": "Year the team debuted in the league"
          },
          "retirement": {
            "type": "integer",
            "nullable": true,
            "description": "Year the team retired from the league"
          },
          "logo": {
            "type": "string",
            "nullable": true,
            "description": "URL to team logo image"
          }
        }
      },
      "Game": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "year": {
            "type": "integer"
          },
          "round": {
            "type": "integer"
          },
          "hteam": {
            "type": "string",
            "description": "Home team name"
          },
          "hteamid": {
            "type": "integer",
            "description": "Home team ID"
          },
          "ateam": {
            "type": "string",
            "description": "Away team name"
          },
          "ateamid": {
            "type": "integer",
            "description": "Away team ID"
          },
          "date": {
            "type": "string",
            "description": "Date and time of the game"
          },
          "tz": {
            "type": "string",
            "description": "Timezone of the date field"
          },
          "venue": {
            "type": "string"
          },
          "hscore": {
            "type": "integer",
            "nullable": true,
            "description": "Home team total score"
          },
          "ascore": {
            "type": "integer",
            "nullable": true,
            "description": "Away team total score"
          },
          "hgoals": {
            "type": "integer",
            "nullable": true,
            "description": "Home team goals"
          },
          "hbehinds": {
            "type": "integer",
            "nullable": true,
            "description": "Home team behinds"
          },
          "agoals": {
            "type": "integer",
            "nullable": true,
            "description": "Away team goals"
          },
          "abehinds": {
            "type": "integer",
            "nullable": true,
            "description": "Away team behinds"
          },
          "complete": {
            "type": "integer",
            "description": "Completion percentage (0-100)"
          },
          "winner": {
            "type": "string",
            "nullable": true,
            "description": "Name of the winning team"
          },
          "is_final": {
            "type": "integer",
            "description": "Final type: 0=regular, 1=final, 2=elimination, 3=qualifying, 4=semi, 5=preliminary, 6=grand final"
          },
          "is_grand_final": {
            "type": "integer",
            "description": "1 if grand final, 0 otherwise"
          },
          "timestr": {
            "type": "string",
            "nullable": true,
            "description": "Human-readable time string"
          },
          "unixtime": {
            "type": "integer",
            "nullable": true,
            "description": "Unix timestamp of the game"
          },
          "updated": {
            "type": "string",
            "nullable": true,
            "description": "Last updated timestamp"
          }
        }
      },
      "Source": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "description": "Name of the prediction model/source"
          }
        }
      },
      "Tip": {
        "type": "object",
        "properties": {
          "gameid": {
            "type": "integer"
          },
          "sourceid": {
            "type": "integer"
          },
          "source": {
            "type": "string",
            "description": "Name of the prediction source"
          },
          "year": {
            "type": "integer"
          },
          "round": {
            "type": "integer"
          },
          "tip": {
            "type": "string",
            "description": "Predicted winning team name"
          },
          "confidence": {
            "type": "number",
            "nullable": true,
            "description": "Confidence level of the prediction"
          },
          "margin": {
            "type": "number",
            "nullable": true,
            "description": "Predicted winning margin"
          },
          "hmargin": {
            "type": "number",
            "nullable": true,
            "description": "Predicted home margin (positive favors home)"
          }
        }
      },
      "Standing": {
        "type": "object",
        "properties": {
          "team": {
            "type": "string"
          },
          "teamid": {
            "type": "integer"
          },
          "rank": {
            "type": "integer"
          },
          "played": {
            "type": "integer"
          },
          "wins": {
            "type": "integer"
          },
          "losses": {
            "type": "integer"
          },
          "draws": {
            "type": "integer"
          },
          "points": {
            "type": "integer"
          },
          "percentage": {
            "type": "number",
            "description": "Points for divided by points against, times 100"
          },
          "pts_for": {
            "type": "integer",
            "description": "Total points scored"
          },
          "pts_against": {
            "type": "integer",
            "description": "Total points conceded"
          }
        }
      },
      "LadderEntry": {
        "type": "object",
        "properties": {
          "team": {
            "type": "string"
          },
          "teamid": {
            "type": "integer"
          },
          "sourceid": {
            "type": "integer"
          },
          "source": {
            "type": "string"
          },
          "rank": {
            "type": "number",
            "description": "Projected ladder position"
          },
          "wins": {
            "type": "number",
            "description": "Projected wins"
          },
          "losses": {
            "type": "number",
            "description": "Projected losses"
          },
          "draws": {
            "type": "number",
            "description": "Projected draws"
          },
          "points": {
            "type": "number",
            "description": "Projected points"
          }
        }
      },
      "PowerRanking": {
        "type": "object",
        "properties": {
          "team": {
            "type": "string"
          },
          "teamid": {
            "type": "integer"
          },
          "sourceid": {
            "type": "integer"
          },
          "source": {
            "type": "string"
          },
          "year": {
            "type": "integer"
          },
          "round": {
            "type": "integer"
          },
          "power": {
            "type": "number",
            "description": "Power rating value (scale varies by source)"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Teams",
      "description": "AFL team data"
    },
    {
      "name": "Games",
      "description": "AFL game/fixture data"
    },
    {
      "name": "Sources",
      "description": "Computer model prediction sources"
    },
    {
      "name": "Tips",
      "description": "Predictions and tips from models"
    },
    {
      "name": "Standings",
      "description": "Current and historical ladder positions"
    },
    {
      "name": "Ladder",
      "description": "Projected ladder forecasts from models"
    },
    {
      "name": "Power",
      "description": "Power rankings from models"
    }
  ]
}