{
  "openapi": "3.0.3",
  "info": {
    "title": "WorkfloPlus API",
    "version": "1.0.0",
    "description": "Workflow management API for creating and managing jobs, users, collections, groups, workflows, and reports.",
    "x-jentic-source-url": "https://intoware.github.io/workfloplus-docs/authentication"
  },
  "servers": [
    {
      "url": "https://gateway.workfloplus.com"
    }
  ],
  "paths": {
    "/jobs/v1": {
      "post": {
        "operationId": "createJob",
        "summary": "Create a job",
        "tags": [
          "Jobs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metadata": {
                    "type": "object"
                  },
                  "completedSteps": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "team": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/jobs/v1/{jobId}": {
      "delete": {
        "operationId": "deleteJob",
        "summary": "Delete a job",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/jobs/v1/{jobId}/abort": {
      "post": {
        "operationId": "abortJob",
        "summary": "Abort a job",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aborted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/jobs/v1/{jobId}/assign": {
      "post": {
        "operationId": "assignJob",
        "summary": "Assign a job",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assigned"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}