{
  "openapi": "3.0.3",
  "info": {
    "title": "Mitek Identity Cloud API",
    "version": "2.0",
    "description": "Mitek Identity Cloud API provides identity verification services including document verification (Mobile Verify), data extraction (Mobile Fill), face blocklist management, biometric enrollment and verification (MiPass), and AAMVA driver license verification.",
    "x-jentic-source-url": "https://docs.us.mitekcloud.com/"
  },
  "servers": [
    {
      "url": "https://api.us.mitekcloud.com",
      "description": "US Production"
    }
  ],
  "paths": {
    "/connect/token": {
      "post": {
        "operationId": "getAccessToken",
        "summary": "Obtain an OAuth 2.0 access token",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret",
                  "scope"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "example": "client_credentials"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Mitek-provided client identifier"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Mitek-provided client secret"
                  },
                  "scope": {
                    "type": "string",
                    "description": "Space-delimited scope list",
                    "example": "global.identity.api dossier.creator"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/verify/v2/dossier": {
      "post": {
        "operationId": "createVerificationDossier",
        "summary": "Create a verification dossier (Mobile Verify)",
        "tags": [
          "Mobile Verify"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDossierRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dossier created and processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DossierResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/fill/v2/document": {
      "post": {
        "operationId": "extractDocumentData",
        "summary": "Extract data from a document (Mobile Fill)",
        "tags": [
          "Mobile Fill"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FillDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document data extracted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FillDocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/blocklist/v2/items": {
      "post": {
        "operationId": "createBlocklistItem",
        "summary": "Create a face blocklist item",
        "tags": [
          "Face Blocklist"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBlocklistItemRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Blocklist item created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlocklistItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listBlocklistItems",
        "summary": "List all face blocklist items",
        "tags": [
          "Face Blocklist"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of blocklist items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlocklistItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/blocklist/v2/items/{itemId}": {
      "get": {
        "operationId": "getBlocklistItem",
        "summary": "Get a specific blocklist item",
        "tags": [
          "Face Blocklist"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Blocklist item identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Blocklist item details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlocklistItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBlocklistItem",
        "summary": "Delete a blocklist item",
        "tags": [
          "Face Blocklist"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Blocklist item identifier"
          }
        ],
        "responses": {
          "204": {
            "description": "Blocklist item deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/biometric/v2/enrollments": {
      "post": {
        "operationId": "createBiometricEnrollment",
        "summary": "Create a biometric enrollment (MiPass)",
        "tags": [
          "MiPass Biometrics"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnrollmentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Enrollment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/biometric/v2/enrollments/{enrollmentId}": {
      "delete": {
        "operationId": "deleteBiometricEnrollment",
        "summary": "Delete a biometric enrollment",
        "tags": [
          "MiPass Biometrics"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "enrollmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Enrollment identifier"
          }
        ],
        "responses": {
          "204": {
            "description": "Enrollment deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/biometric/v2/verify": {
      "post": {
        "operationId": "verifyBiometric",
        "summary": "Verify biometric data against an enrollment",
        "tags": [
          "MiPass Biometrics"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BiometricVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BiometricVerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/biometric/v2/quality-check": {
      "post": {
        "operationId": "checkBiometricQuality",
        "summary": "Check biometric recording quality",
        "tags": [
          "MiPass Biometrics"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QualityCheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quality check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QualityCheckResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/aamva/v2/verify": {
      "post": {
        "operationId": "verifyAamva",
        "summary": "Verify driver license data against AAMVA records",
        "tags": [
          "AAMVA Verification"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AamvaVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AamvaVerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token validity in seconds",
            "example": 300
          }
        }
      },
      "CreateDossierRequest": {
        "type": "object",
        "required": [
          "evidence"
        ],
        "properties": {
          "dossierMetadata": {
            "type": "object",
            "properties": {
              "customerReferenceId": {
                "type": "string"
              }
            }
          },
          "evidence": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Evidence"
            }
          },
          "configuration": {
            "$ref": "#/components/schemas/DossierConfiguration"
          }
        }
      },
      "Evidence": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "IdDocument",
              "Biometric"
            ]
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EvidenceImage"
            },
            "maxItems": 2
          },
          "data": {
            "type": "string",
            "format": "byte",
            "description": "Base64-encoded image data"
          },
          "encryptedPayload": {
            "type": "string",
            "description": "Encrypted payload for injection attack detection"
          },
          "customerReferenceId": {
            "type": "string"
          },
          "encodedData": {
            "type": "string",
            "description": "PDF417 or QR code data"
          },
          "nfc": {
            "$ref": "#/components/schemas/NfcData"
          }
        }
      },
      "EvidenceImage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "format": "byte",
            "description": "Base64-encoded image"
          },
          "customerReferenceId": {
            "type": "string"
          }
        }
      },
      "NfcData": {
        "type": "object",
        "properties": {
          "sod": {
            "type": "string"
          },
          "com": {
            "type": "string"
          },
          "dataGroups": {
            "type": "object"
          },
          "activeAuthInput": {
            "type": "string"
          },
          "portrait": {
            "type": "string"
          }
        }
      },
      "DossierConfiguration": {
        "type": "object",
        "properties": {
          "verifications": {
            "type": "object",
            "properties": {
              "faceComparison": {
                "type": "boolean"
              },
              "faceLiveness": {
                "type": "boolean"
              },
              "faceBlocklist": {
                "type": "boolean"
              },
              "faceVelocity": {
                "type": "boolean"
              },
              "dataSignalAAMVA": {
                "type": "boolean"
              },
              "injectionAttackDetection": {
                "type": "boolean"
              },
              "injectionAttackDetectionAI": {
                "type": "boolean"
              },
              "templateAttackDetection": {
                "type": "boolean"
              }
            }
          },
          "responseImages": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "CroppedPortrait",
                "CroppedSignature",
                "CroppedDocument",
                "Selfies"
              ]
            }
          }
        }
      },
      "DossierResponse": {
        "type": "object",
        "properties": {
          "dossierMetadata": {
            "type": "object",
            "properties": {
              "dossierId": {
                "type": "string"
              },
              "processingStatus": {
                "type": "string"
              },
              "createdDateTime": {
                "type": "string",
                "format": "date-time"
              },
              "version": {
                "type": "string"
              }
            }
          },
          "evidence": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProcessedEvidence"
            }
          }
        }
      },
      "ProcessedEvidence": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "extractedData": {
            "$ref": "#/components/schemas/ExtractedData"
          },
          "findings": {
            "$ref": "#/components/schemas/Findings"
          }
        }
      },
      "ExtractedData": {
        "type": "object",
        "properties": {
          "name": {
            "type": "object",
            "properties": {
              "fullName": {
                "type": "string"
              },
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              }
            }
          },
          "address": {
            "type": "object",
            "properties": {
              "fullAddress": {
                "type": "string"
              }
            }
          },
          "documentNumber": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string"
          },
          "expirationDate": {
            "type": "string"
          },
          "issueDate": {
            "type": "string"
          }
        }
      },
      "Findings": {
        "type": "object",
        "properties": {
          "authenticated": {
            "type": "boolean"
          },
          "probability": {
            "type": "number"
          },
          "verifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Verification"
            }
          }
        }
      },
      "Verification": {
        "type": "object",
        "properties": {
          "verificationType": {
            "type": "string"
          },
          "judgement": {
            "type": "string",
            "enum": [
              "Authentic",
              "Fraudulent",
              "Undetermined"
            ]
          },
          "probability": {
            "type": "number"
          },
          "notifications": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "version": {
            "type": "string"
          }
        }
      },
      "FillDocumentRequest": {
        "type": "object",
        "required": [
          "images"
        ],
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EvidenceImage"
            }
          },
          "configuration": {
            "type": "object"
          }
        }
      },
      "FillDocumentResponse": {
        "type": "object",
        "properties": {
          "extractedData": {
            "$ref": "#/components/schemas/ExtractedData"
          },
          "processingStatus": {
            "type": "string"
          }
        }
      },
      "CreateBlocklistItemRequest": {
        "type": "object",
        "required": [
          "biometricData"
        ],
        "properties": {
          "biometricData": {
            "type": "string",
            "format": "byte",
            "description": "Base64-encoded biometric data"
          },
          "customerReferenceId": {
            "type": "string"
          }
        }
      },
      "BlocklistItem": {
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string"
          },
          "transactionId": {
            "type": "string"
          },
          "createdDateTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateEnrollmentRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "string",
            "format": "byte",
            "description": "Base64-encoded audio recording"
          },
          "customerReferenceId": {
            "type": "string"
          }
        }
      },
      "EnrollmentResponse": {
        "type": "object",
        "properties": {
          "enrollmentId": {
            "type": "string"
          },
          "processingStatus": {
            "type": "string"
          },
          "createdDateTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BiometricVerifyRequest": {
        "type": "object",
        "required": [
          "enrollmentId",
          "data"
        ],
        "properties": {
          "enrollmentId": {
            "type": "string"
          },
          "data": {
            "type": "string",
            "format": "byte",
            "description": "Base64-encoded voice data"
          }
        }
      },
      "BiometricVerifyResponse": {
        "type": "object",
        "properties": {
          "judgement": {
            "type": "string"
          },
          "probability": {
            "type": "number"
          },
          "processingStatus": {
            "type": "string"
          }
        }
      },
      "QualityCheckRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "string",
            "format": "byte",
            "description": "Base64-encoded audio recording"
          }
        }
      },
      "QualityCheckResponse": {
        "type": "object",
        "properties": {
          "qualityScore": {
            "type": "number"
          },
          "processingStatus": {
            "type": "string"
          },
          "notifications": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AamvaVerifyRequest": {
        "type": "object",
        "properties": {
          "extractedData": {
            "$ref": "#/components/schemas/ExtractedData"
          },
          "pdf417String": {
            "type": "string"
          }
        }
      },
      "AamvaVerifyResponse": {
        "type": "object",
        "properties": {
          "verificationStatus": {
            "type": "string"
          },
          "matches": {
            "type": "object"
          },
          "supportedJurisdiction": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "OAuth 2.0 Bearer token obtained via client_credentials grant from /connect/token"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}