{
  "openapi": "3.0.3",
  "info": {
    "title": "Kaggle API",
    "description": "Create and interact with Datasets, Notebooks, Models, and Competitions on Kaggle. The Kaggle API enables programmatic access to list, search, download, create, update, and delete resources on the Kaggle platform.",
    "version": "1.0.0",
    "contact": {
      "name": "Kaggle",
      "url": "https://www.kaggle.com"
    },
    "x-jentic-source-url": "https://www.kaggle.com/docs/api"
  },
  "servers": [
    {
      "url": "https://www.kaggle.com/api/v1",
      "description": "Kaggle API v1 server"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Competitions",
      "description": "List competitions, download data, make submissions, and view leaderboards"
    },
    {
      "name": "Datasets",
      "description": "Search, download, create, update, and manage datasets"
    },
    {
      "name": "Kernels",
      "description": "List, create, run, and manage notebooks/kernels"
    },
    {
      "name": "Models",
      "description": "List, create, update, and manage machine learning models"
    }
  ],
  "paths": {
    "/competitions/list": {
      "get": {
        "operationId": "listCompetitions",
        "summary": "List competitions",
        "description": "List available Kaggle competitions with optional filtering by group, category, and sort method.",
        "tags": ["Competitions"],
        "parameters": [
          {
            "name": "group",
            "in": "query",
            "description": "Filter by competition group",
            "schema": { "type": "string", "enum": ["general", "entered", "inClass"] }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by competition category",
            "schema": { "type": "string", "enum": ["all", "featured", "research", "recruitment", "gettingStarted", "masters", "playground"] }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort results by field",
            "schema": { "type": "string", "enum": ["grouped", "prize", "earliestDeadline", "latestDeadline", "numberOfTeams", "recentlyCreated"] }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter competitions",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of competitions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Competition" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/competitions/data/list/{id}": {
      "get": {
        "operationId": "listCompetitionFiles",
        "summary": "List competition data files",
        "description": "List the data files available for a specific competition.",
        "tags": ["Competitions"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Competition name or ID",
            "schema": { "type": "string" }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page",
            "schema": { "type": "integer", "default": 20 }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token for pagination",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of competition data files",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/DataFile" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/competitions/data/download/{id}/{fileName}": {
      "get": {
        "operationId": "downloadCompetitionFile",
        "summary": "Download competition data file",
        "description": "Download a specific data file for a competition.",
        "tags": ["Competitions"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Competition name or ID",
            "schema": { "type": "string" }
          },
          {
            "name": "fileName",
            "in": "path",
            "required": true,
            "description": "File name to download",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "File content",
            "content": {
              "application/octet-stream": {
                "schema": { "type": "string", "format": "binary" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/competitions/submissions/list/{id}": {
      "get": {
        "operationId": "listCompetitionSubmissions",
        "summary": "List competition submissions",
        "description": "List your submissions for a specific competition.",
        "tags": ["Competitions"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Competition name or ID",
            "schema": { "type": "string" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": { "type": "integer", "default": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of submissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Submission" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/competitions/submissions/submit/{id}": {
      "post": {
        "operationId": "submitToCompetition",
        "summary": "Submit to competition",
        "description": "Upload predictions to a competition for scoring.",
        "tags": ["Competitions"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Competition name or ID",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file", "submissionDescription"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Submission file"
                  },
                  "submissionDescription": {
                    "type": "string",
                    "description": "Description of the submission"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SubmitResult" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/competitions/{id}/leaderboard/view": {
      "get": {
        "operationId": "viewCompetitionLeaderboard",
        "summary": "View competition leaderboard",
        "description": "View the leaderboard for a competition.",
        "tags": ["Competitions"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Competition name or ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/LeaderboardEntry" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/competitions/{id}/leaderboard/download": {
      "get": {
        "operationId": "downloadCompetitionLeaderboard",
        "summary": "Download competition leaderboard",
        "description": "Download the full leaderboard as a file.",
        "tags": ["Competitions"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Competition name or ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard file",
            "content": {
              "application/octet-stream": {
                "schema": { "type": "string", "format": "binary" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/datasets/list": {
      "get": {
        "operationId": "listDatasets",
        "summary": "List datasets",
        "description": "List and search Kaggle datasets with filtering and sorting options.",
        "tags": ["Datasets"],
        "parameters": [
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort results by",
            "schema": { "type": "string", "enum": ["hottest", "votes", "updated", "active"] }
          },
          {
            "name": "fileType",
            "in": "query",
            "description": "Filter by file type",
            "schema": { "type": "string", "enum": ["csv", "sqlite", "json", "bigQuery"] }
          },
          {
            "name": "license",
            "in": "query",
            "description": "Filter by license type",
            "schema": { "type": "string" }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags (comma-separated)",
            "schema": { "type": "string" }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term",
            "schema": { "type": "string" }
          },
          {
            "name": "minSize",
            "in": "query",
            "description": "Minimum dataset size in bytes",
            "schema": { "type": "integer" }
          },
          {
            "name": "maxSize",
            "in": "query",
            "description": "Maximum dataset size in bytes",
            "schema": { "type": "integer" }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page",
            "schema": { "type": "integer", "default": 20 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of datasets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Dataset" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/datasets/list/{ownerSlug}/{datasetSlug}": {
      "get": {
        "operationId": "listDatasetFiles",
        "summary": "List dataset files",
        "description": "List files for a specific dataset.",
        "tags": ["Datasets"],
        "parameters": [
          {
            "name": "ownerSlug",
            "in": "path",
            "required": true,
            "description": "Dataset owner username",
            "schema": { "type": "string" }
          },
          {
            "name": "datasetSlug",
            "in": "path",
            "required": true,
            "description": "Dataset slug/name",
            "schema": { "type": "string" }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page",
            "schema": { "type": "integer", "default": 20 }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token for pagination",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of dataset files",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/DataFile" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/datasets/download/{ownerSlug}/{datasetSlug}": {
      "get": {
        "operationId": "downloadDataset",
        "summary": "Download dataset",
        "description": "Download all files for a dataset as a zip archive, or a specific file.",
        "tags": ["Datasets"],
        "parameters": [
          {
            "name": "ownerSlug",
            "in": "path",
            "required": true,
            "description": "Dataset owner username",
            "schema": { "type": "string" }
          },
          {
            "name": "datasetSlug",
            "in": "path",
            "required": true,
            "description": "Dataset slug/name",
            "schema": { "type": "string" }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "Specific file to download",
            "schema": { "type": "string" }
          },
          {
            "name": "datasetVersionNumber",
            "in": "query",
            "description": "Dataset version to download",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset file content",
            "content": {
              "application/octet-stream": {
                "schema": { "type": "string", "format": "binary" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/datasets/view/{ownerSlug}/{datasetSlug}": {
      "get": {
        "operationId": "getDatasetMetadata",
        "summary": "Get dataset metadata",
        "description": "Retrieve metadata for a specific dataset.",
        "tags": ["Datasets"],
        "parameters": [
          {
            "name": "ownerSlug",
            "in": "path",
            "required": true,
            "description": "Dataset owner username",
            "schema": { "type": "string" }
          },
          {
            "name": "datasetSlug",
            "in": "path",
            "required": true,
            "description": "Dataset slug/name",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset metadata",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Dataset" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/datasets/create/new": {
      "post": {
        "operationId": "createDataset",
        "summary": "Create a new dataset",
        "description": "Create a new dataset on Kaggle.",
        "tags": ["Datasets"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DatasetNewRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dataset creation result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DatasetNewResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/datasets/create/version/{ownerSlug}/{datasetSlug}": {
      "post": {
        "operationId": "createDatasetVersion",
        "summary": "Create dataset version",
        "description": "Create a new version of an existing dataset.",
        "tags": ["Datasets"],
        "parameters": [
          {
            "name": "ownerSlug",
            "in": "path",
            "required": true,
            "description": "Dataset owner username",
            "schema": { "type": "string" }
          },
          {
            "name": "datasetSlug",
            "in": "path",
            "required": true,
            "description": "Dataset slug/name",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DatasetVersionRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Version creation result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DatasetNewResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/datasets/{ownerSlug}/{datasetSlug}": {
      "delete": {
        "operationId": "deleteDataset",
        "summary": "Delete a dataset",
        "description": "Permanently delete a dataset.",
        "tags": ["Datasets"],
        "parameters": [
          {
            "name": "ownerSlug",
            "in": "path",
            "required": true,
            "description": "Dataset owner username",
            "schema": { "type": "string" }
          },
          {
            "name": "datasetSlug",
            "in": "path",
            "required": true,
            "description": "Dataset slug/name",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset deleted successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StatusResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/kernels/list": {
      "get": {
        "operationId": "listKernels",
        "summary": "List kernels/notebooks",
        "description": "List and search Kaggle kernels (notebooks) with filtering options.",
        "tags": ["Kernels"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page",
            "schema": { "type": "integer", "default": 20 }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term",
            "schema": { "type": "string" }
          },
          {
            "name": "group",
            "in": "query",
            "description": "Filter by group",
            "schema": { "type": "string", "enum": ["everyone", "profile", "upvoted"] }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Filter by programming language",
            "schema": { "type": "string", "enum": ["all", "python", "r", "sqlite", "julia"] }
          },
          {
            "name": "kernelType",
            "in": "query",
            "description": "Filter by kernel type",
            "schema": { "type": "string", "enum": ["all", "script", "notebook"] }
          },
          {
            "name": "outputType",
            "in": "query",
            "description": "Filter by output type",
            "schema": { "type": "string", "enum": ["all", "visualization", "data"] }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort results by",
            "schema": { "type": "string", "enum": ["hotness", "commentCount", "dateCreated", "dateRun", "relevance", "scoreAscending", "scoreDescending", "viewCount", "voteCount"] }
          },
          {
            "name": "dataset",
            "in": "query",
            "description": "Filter by associated dataset (owner/dataset-name format)",
            "schema": { "type": "string" }
          },
          {
            "name": "competition",
            "in": "query",
            "description": "Filter by associated competition",
            "schema": { "type": "string" }
          },
          {
            "name": "mine",
            "in": "query",
            "description": "Show only current user's kernels",
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "responses": {
          "200": {
            "description": "List of kernels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Kernel" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/kernels/push": {
      "post": {
        "operationId": "pushKernel",
        "summary": "Push a kernel",
        "description": "Upload kernel code and metadata and trigger execution.",
        "tags": ["Kernels"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/KernelPushRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Push result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/KernelPushResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/kernels/pull/{ownerSlug}/{kernelSlug}": {
      "get": {
        "operationId": "pullKernel",
        "summary": "Pull kernel source code",
        "description": "Download the source code of a kernel.",
        "tags": ["Kernels"],
        "parameters": [
          {
            "name": "ownerSlug",
            "in": "path",
            "required": true,
            "description": "Kernel owner username",
            "schema": { "type": "string" }
          },
          {
            "name": "kernelSlug",
            "in": "path",
            "required": true,
            "description": "Kernel slug/name",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Kernel source and metadata",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/KernelPullResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/kernels/output/{ownerSlug}/{kernelSlug}": {
      "get": {
        "operationId": "getKernelOutput",
        "summary": "Get kernel output",
        "description": "Retrieve output files from the most recent kernel run.",
        "tags": ["Kernels"],
        "parameters": [
          {
            "name": "ownerSlug",
            "in": "path",
            "required": true,
            "description": "Kernel owner username",
            "schema": { "type": "string" }
          },
          {
            "name": "kernelSlug",
            "in": "path",
            "required": true,
            "description": "Kernel slug/name",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Kernel output files",
            "content": {
              "application/octet-stream": {
                "schema": { "type": "string", "format": "binary" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/kernels/status/{ownerSlug}/{kernelSlug}": {
      "get": {
        "operationId": "getKernelStatus",
        "summary": "Get kernel execution status",
        "description": "Get the execution status of a kernel's latest run.",
        "tags": ["Kernels"],
        "parameters": [
          {
            "name": "ownerSlug",
            "in": "path",
            "required": true,
            "description": "Kernel owner username",
            "schema": { "type": "string" }
          },
          {
            "name": "kernelSlug",
            "in": "path",
            "required": true,
            "description": "Kernel slug/name",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Kernel execution status",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/KernelStatus" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/kernels/{ownerSlug}/{kernelSlug}": {
      "delete": {
        "operationId": "deleteKernel",
        "summary": "Delete a kernel",
        "description": "Permanently delete a kernel.",
        "tags": ["Kernels"],
        "parameters": [
          {
            "name": "ownerSlug",
            "in": "path",
            "required": true,
            "description": "Kernel owner username",
            "schema": { "type": "string" }
          },
          {
            "name": "kernelSlug",
            "in": "path",
            "required": true,
            "description": "Kernel slug/name",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Kernel deleted successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StatusResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/models/list": {
      "get": {
        "operationId": "listModels",
        "summary": "List models",
        "description": "List and search Kaggle models.",
        "tags": ["Models"],
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "description": "Filter by model owner",
            "schema": { "type": "string" }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort results by",
            "schema": { "type": "string", "enum": ["hotness", "downloadCount", "voteCount", "notebookCount", "createTime"] }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term",
            "schema": { "type": "string" }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page",
            "schema": { "type": "integer", "default": 20 }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token for pagination",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of models",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Model" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/models/{ownerSlug}/{modelSlug}": {
      "get": {
        "operationId": "getModel",
        "summary": "Get model details",
        "description": "Retrieve metadata for a specific model.",
        "tags": ["Models"],
        "parameters": [
          {
            "name": "ownerSlug",
            "in": "path",
            "required": true,
            "description": "Model owner username",
            "schema": { "type": "string" }
          },
          {
            "name": "modelSlug",
            "in": "path",
            "required": true,
            "description": "Model slug/name",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Model metadata",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Model" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteModel",
        "summary": "Delete a model",
        "description": "Permanently delete a model.",
        "tags": ["Models"],
        "parameters": [
          {
            "name": "ownerSlug",
            "in": "path",
            "required": true,
            "description": "Model owner username",
            "schema": { "type": "string" }
          },
          {
            "name": "modelSlug",
            "in": "path",
            "required": true,
            "description": "Model slug/name",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Model deleted successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StatusResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/models/create/new": {
      "post": {
        "operationId": "createModel",
        "summary": "Create a new model",
        "description": "Register a new model on the Kaggle platform.",
        "tags": ["Models"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ModelNewRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model creation result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StatusResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/models/update/{ownerSlug}/{modelSlug}": {
      "post": {
        "operationId": "updateModel",
        "summary": "Update a model",
        "description": "Update the metadata of an existing model.",
        "tags": ["Models"],
        "parameters": [
          {
            "name": "ownerSlug",
            "in": "path",
            "required": true,
            "description": "Model owner username",
            "schema": { "type": "string" }
          },
          {
            "name": "modelSlug",
            "in": "path",
            "required": true,
            "description": "Model slug/name",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ModelNewRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model update result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StatusResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic authentication using your Kaggle username and API key. Username is your Kaggle username, password is your API key from kaggle.json."
      }
    },
    "schemas": {
      "Competition": {
        "type": "object",
        "properties": {
          "ref": { "type": "string", "description": "Competition slug/identifier" },
          "title": { "type": "string", "description": "Competition title" },
          "url": { "type": "string", "description": "Competition URL path" },
          "description": { "type": "string", "description": "Short description" },
          "organizationName": { "type": "string", "description": "Sponsoring organization" },
          "organizationRef": { "type": "string" },
          "category": { "type": "string", "description": "Competition category" },
          "reward": { "type": "string", "description": "Prize description" },
          "deadline": { "type": "string", "format": "date-time", "description": "Submission deadline" },
          "kernelCount": { "type": "integer", "description": "Number of associated kernels" },
          "teamCount": { "type": "integer", "description": "Number of teams" },
          "userHasEntered": { "type": "boolean" },
          "userRank": { "type": "integer" },
          "mergerDeadline": { "type": "string", "format": "date-time" },
          "enabledDate": { "type": "string", "format": "date-time" },
          "maxDailySubmissions": { "type": "integer" },
          "maxTeamSize": { "type": "integer" },
          "evaluationMetric": { "type": "string" },
          "isKernelsSubmissionsOnly": { "type": "boolean" },
          "tags": { "type": "array", "items": { "type": "object", "properties": { "ref": { "type": "string" }, "name": { "type": "string" } } } }
        }
      },
      "Dataset": {
        "type": "object",
        "properties": {
          "ref": { "type": "string", "description": "Dataset reference (owner/slug)" },
          "title": { "type": "string", "description": "Dataset title" },
          "subtitle": { "type": "string", "description": "Dataset subtitle" },
          "url": { "type": "string", "description": "Dataset URL path" },
          "creatorName": { "type": "string" },
          "creatorUrl": { "type": "string" },
          "totalBytes": { "type": "integer", "description": "Total size in bytes" },
          "downloadCount": { "type": "integer" },
          "voteCount": { "type": "integer" },
          "usabilityRating": { "type": "number", "format": "float" },
          "lastUpdated": { "type": "string", "format": "date-time" },
          "isPrivate": { "type": "boolean" },
          "isFeatured": { "type": "boolean" },
          "licenseName": { "type": "string" },
          "description": { "type": "string" },
          "ownerName": { "type": "string" },
          "ownerRef": { "type": "string" },
          "currentDatasetVersionNumber": { "type": "integer" },
          "tags": { "type": "array", "items": { "type": "object", "properties": { "ref": { "type": "string" }, "name": { "type": "string" } } } }
        }
      },
      "DataFile": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "description": "File name" },
          "size": { "type": "integer", "description": "File size in bytes" },
          "creationDate": { "type": "string", "format": "date-time" },
          "description": { "type": "string" },
          "totalColumns": { "type": "integer" },
          "totalRows": { "type": "integer" }
        }
      },
      "Kernel": {
        "type": "object",
        "properties": {
          "ref": { "type": "string", "description": "Kernel reference (owner/slug)" },
          "title": { "type": "string", "description": "Kernel title" },
          "author": { "type": "string" },
          "url": { "type": "string" },
          "lastRunTime": { "type": "string", "format": "date-time" },
          "totalVotes": { "type": "integer" },
          "language": { "type": "string" },
          "kernelType": { "type": "string" },
          "isPrivate": { "type": "boolean" }
        }
      },
      "Model": {
        "type": "object",
        "properties": {
          "ref": { "type": "string", "description": "Model reference (owner/slug)" },
          "title": { "type": "string", "description": "Model title" },
          "subtitle": { "type": "string" },
          "author": { "type": "string" },
          "url": { "type": "string" },
          "description": { "type": "string" },
          "isPrivate": { "type": "boolean" },
          "downloadCount": { "type": "integer" },
          "voteCount": { "type": "integer" },
          "notebookCount": { "type": "integer" },
          "createTime": { "type": "string", "format": "date-time" },
          "updateTime": { "type": "string", "format": "date-time" }
        }
      },
      "Submission": {
        "type": "object",
        "properties": {
          "ref": { "type": "integer", "description": "Submission ID" },
          "totalBytes": { "type": "integer" },
          "date": { "type": "string", "format": "date-time" },
          "description": { "type": "string" },
          "errorDescription": { "type": "string" },
          "fileName": { "type": "string" },
          "publicScore": { "type": "string" },
          "privateScore": { "type": "string" },
          "status": { "type": "string" },
          "submittedBy": { "type": "string" },
          "teamName": { "type": "string" },
          "url": { "type": "string" }
        }
      },
      "LeaderboardEntry": {
        "type": "object",
        "properties": {
          "teamId": { "type": "integer" },
          "teamName": { "type": "string" },
          "submissionDate": { "type": "string", "format": "date-time" },
          "score": { "type": "string" }
        }
      },
      "SubmitResult": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "status": { "type": "string" }
        }
      },
      "DatasetNewRequest": {
        "type": "object",
        "required": ["title", "slug", "ownerSlug", "licenseName", "files"],
        "properties": {
          "title": { "type": "string" },
          "slug": { "type": "string" },
          "ownerSlug": { "type": "string" },
          "licenseName": { "type": "string" },
          "subtitle": { "type": "string" },
          "description": { "type": "string" },
          "isPrivate": { "type": "boolean", "default": true },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "token": { "type": "string" },
                "description": { "type": "string" }
              }
            }
          },
          "convertToCsv": { "type": "boolean", "default": true },
          "categoryIds": { "type": "array", "items": { "type": "string" } }
        }
      },
      "DatasetNewResponse": {
        "type": "object",
        "properties": {
          "ref": { "type": "string" },
          "url": { "type": "string" },
          "status": { "type": "string" },
          "error": { "type": "string" },
          "invalidTags": { "type": "array", "items": { "type": "string" } }
        }
      },
      "DatasetVersionRequest": {
        "type": "object",
        "required": ["versionNotes", "files"],
        "properties": {
          "versionNotes": { "type": "string", "description": "Description of changes in this version" },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "token": { "type": "string" },
                "description": { "type": "string" }
              }
            }
          },
          "subtitle": { "type": "string" },
          "description": { "type": "string" },
          "convertToCsv": { "type": "boolean", "default": true },
          "deleteOldVersions": { "type": "boolean", "default": false },
          "categoryIds": { "type": "array", "items": { "type": "string" } }
        }
      },
      "KernelPushRequest": {
        "type": "object",
        "required": ["slug", "newTitle", "text", "language", "kernelType"],
        "properties": {
          "slug": { "type": "string", "description": "Kernel slug (owner/name)" },
          "newTitle": { "type": "string" },
          "text": { "type": "string", "description": "Kernel source code" },
          "language": { "type": "string", "enum": ["python", "r", "rmarkdown", "sqlite", "julia"] },
          "kernelType": { "type": "string", "enum": ["script", "notebook"] },
          "isPrivate": { "type": "boolean", "default": true },
          "enableGpu": { "type": "boolean", "default": false },
          "enableTpu": { "type": "boolean", "default": false },
          "enableInternet": { "type": "boolean", "default": true },
          "datasetDataSources": { "type": "array", "items": { "type": "string" } },
          "competitionDataSources": { "type": "array", "items": { "type": "string" } },
          "kernelDataSources": { "type": "array", "items": { "type": "string" } },
          "categoryIds": { "type": "array", "items": { "type": "string" } }
        }
      },
      "KernelPushResponse": {
        "type": "object",
        "properties": {
          "ref": { "type": "string" },
          "url": { "type": "string" },
          "versionNumber": { "type": "integer" },
          "error": { "type": "string" }
        }
      },
      "KernelPullResponse": {
        "type": "object",
        "properties": {
          "metadata": { "type": "object" },
          "blob": {
            "type": "object",
            "properties": {
              "source": { "type": "string", "description": "Kernel source code" },
              "language": { "type": "string" },
              "kernelType": { "type": "string" }
            }
          }
        }
      },
      "KernelStatus": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "description": "Execution status", "enum": ["queued", "running", "complete", "error", "cancelAcknowledged"] },
          "failureMessage": { "type": "string" }
        }
      },
      "ModelNewRequest": {
        "type": "object",
        "required": ["ownerSlug", "slug", "title"],
        "properties": {
          "ownerSlug": { "type": "string" },
          "slug": { "type": "string" },
          "title": { "type": "string" },
          "subtitle": { "type": "string" },
          "description": { "type": "string" },
          "isPrivate": { "type": "boolean", "default": true }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "status": { "type": "string" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code": { "type": "integer", "description": "HTTP status code" },
          "message": { "type": "string", "description": "Human-readable error message" }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid or missing parameters",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - missing or invalid credentials",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      }
    }
  }
}
