{
  "openapi": "3.0.3",
  "info": {
    "title": "Xodo Sign API",
    "description": "Xodo Sign (formerly eversign) is an e-signature platform that provides a comprehensive API for creating, managing, and tracking electronic signature documents, templates, and bulk sending operations.",
    "version": "1.0.0",
    "contact": {
      "name": "Xodo Sign",
      "url": "https://eversign.com/api/documentation"
    }
  },
  "servers": [
    {
      "url": "https://api.eversign.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/business": {
      "get": {
        "operationId": "listBusinesses",
        "summary": "List Businesses",
        "description": "Returns a list of all businesses associated with the account.",
        "tags": ["Businesses"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          }
        ],
        "responses": {
          "200": {
            "description": "List of businesses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Business"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/document": {
      "get": {
        "operationId": "listOrGetDocuments",
        "summary": "List Documents or Get Document",
        "description": "Lists documents by type or retrieves a specific document/template by hash. If document_hash is provided, returns a single document. Otherwise, returns a paginated list filtered by type.",
        "tags": ["Documents"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          },
          {
            "name": "document_hash",
            "in": "query",
            "description": "Hash of a specific document or template to retrieve.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter documents by type.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "my_action_required",
                "waiting_for_others",
                "completed",
                "drafts",
                "cancelled",
                "templates",
                "templates_archived",
                "template_drafts"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of documents to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document(s) retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Document"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Document"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createDocumentOrTemplate",
        "summary": "Create Document or Template",
        "description": "Creates a new document for signing, a new template, or creates a document from an existing template. Set is_template to 1 to create a template. Provide template_id to use an existing template.",
        "tags": ["Documents"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document or template created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDocument",
        "summary": "Delete, Trash, or Cancel Document",
        "description": "Deletes, trashes, or cancels a document or template. Use trash=1 to move to trash instead of permanent delete. Use cancel=1 to cancel a pending document.",
        "tags": ["Documents"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          },
          {
            "name": "document_hash",
            "in": "query",
            "required": true,
            "description": "Hash of the document or template to delete.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trash",
            "in": "query",
            "description": "Set to 1 to move the document to trash instead of permanently deleting.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "cancel",
            "in": "query",
            "description": "Set to 1 to cancel a pending document instead of deleting.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/file": {
      "post": {
        "operationId": "uploadFile",
        "summary": "Upload File",
        "description": "Uploads a file to be used in document creation.",
        "tags": ["Files"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "upload": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to upload."
                  }
                },
                "required": ["upload"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/send_reminder": {
      "post": {
        "operationId": "sendReminder",
        "summary": "Send Reminder",
        "description": "Sends a signing reminder to a specific signer of a document.",
        "tags": ["Signers"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["document_hash", "signer_id"],
                "properties": {
                  "document_hash": {
                    "type": "string",
                    "description": "Hash of the document."
                  },
                  "signer_id": {
                    "type": "integer",
                    "description": "ID of the signer to remind."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reminder sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reassign": {
      "post": {
        "operationId": "reassignSigner",
        "summary": "Reassign Signer",
        "description": "Reassigns a signer on a document to a different person.",
        "tags": ["Signers"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["document_hash", "signer_id", "new_signer_name", "new_signer_email"],
                "properties": {
                  "document_hash": {
                    "type": "string",
                    "description": "Hash of the document."
                  },
                  "signer_id": {
                    "type": "integer",
                    "description": "ID of the signer to reassign."
                  },
                  "new_signer_name": {
                    "type": "string",
                    "description": "Name of the new signer."
                  },
                  "new_signer_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the new signer."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason for reassignment."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signer reassigned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/download_raw_document": {
      "get": {
        "operationId": "downloadOriginalPdf",
        "summary": "Download Original PDF",
        "description": "Downloads the original (unsigned) version of a document as a PDF file.",
        "tags": ["Downloads"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          },
          {
            "name": "document_hash",
            "in": "query",
            "required": true,
            "description": "Hash of the document to download.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file of the original document.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/download_final_document": {
      "get": {
        "operationId": "downloadFinalPdf",
        "summary": "Download Final PDF",
        "description": "Downloads the final (signed) version of a document as a PDF file.",
        "tags": ["Downloads"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          },
          {
            "name": "document_hash",
            "in": "query",
            "required": true,
            "description": "Hash of the document to download.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "audit_trail",
            "in": "query",
            "description": "Set to 1 to include the audit trail in the PDF.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "document_id",
            "in": "query",
            "description": "Specific document ID within the document.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url_only",
            "in": "query",
            "description": "Set to 1 to receive a download URL instead of the file.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file of the signed document, or a URL to download it.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Download URL (when url_only=1)."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/template/{template_hash}/bulk/csv/blank": {
      "get": {
        "operationId": "getBulkSendingBlankCsv",
        "summary": "Get Blank CSV Template",
        "description": "Returns a blank CSV template for bulk sending based on a specific template.",
        "tags": ["Bulk Sending"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          },
          {
            "name": "template_hash",
            "in": "path",
            "required": true,
            "description": "Hash of the template.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blank CSV template with headers.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/template/{template_hash}/bulk/csv/validate": {
      "post": {
        "operationId": "validateBulkSendingCsv",
        "summary": "Validate Bulk Sending CSV",
        "description": "Validates a CSV file for bulk sending against the specified template.",
        "tags": ["Bulk Sending"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          },
          {
            "name": "template_hash",
            "in": "path",
            "required": true,
            "description": "Hash of the template.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "csv_with_bulk_data": {
                    "type": "string",
                    "format": "binary",
                    "description": "CSV file with bulk sending data."
                  }
                },
                "required": ["csv_with_bulk_data"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/template/{template_hash}/bulk/job": {
      "post": {
        "operationId": "createBulkJob",
        "summary": "Create Bulk Job",
        "description": "Creates a new bulk sending job based on a template.",
        "tags": ["Bulk Sending"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          },
          {
            "name": "template_hash",
            "in": "path",
            "required": true,
            "description": "Hash of the template.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "2D JSON array with headers in the first row and document data in subsequent rows.",
                "items": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk job created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkJob"
                }
              }
            }
          }
        }
      }
    },
    "/bulk_job": {
      "get": {
        "operationId": "listBulkJobs",
        "summary": "List Bulk Jobs",
        "description": "Returns a paginated list of all bulk sending jobs.",
        "tags": ["Bulk Sending"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of bulk jobs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedBulkJobs"
                }
              }
            }
          }
        }
      }
    },
    "/bulk_job/{bulkSendingJobId}": {
      "get": {
        "operationId": "getBulkJob",
        "summary": "Get Bulk Job",
        "description": "Retrieves a specific bulk sending job by ID.",
        "tags": ["Bulk Sending"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          },
          {
            "name": "bulkSendingJobId",
            "in": "path",
            "required": true,
            "description": "ID of the bulk sending job.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk job details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkJob"
                }
              }
            }
          }
        }
      }
    },
    "/bulk_job/{bulkSendingJobId}/status": {
      "get": {
        "operationId": "getBulkJobStatus",
        "summary": "Get Bulk Job Status",
        "description": "Returns the status and progress of a specific bulk sending job.",
        "tags": ["Bulk Sending"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          },
          {
            "name": "bulkSendingJobId",
            "in": "path",
            "required": true,
            "description": "ID of the bulk sending job.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk job status details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkJobStatus"
                }
              }
            }
          }
        }
      }
    },
    "/bulk_job/{bulkSendingJobId}/documents": {
      "get": {
        "operationId": "getBulkJobDocuments",
        "summary": "Get Bulk Job Documents",
        "description": "Returns a paginated list of documents created by a bulk sending job.",
        "tags": ["Bulk Sending"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/BusinessId"
          },
          {
            "name": "bulkSendingJobId",
            "in": "path",
            "required": true,
            "description": "ID of the bulk sending job.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of documents.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedDocuments"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "access_key",
        "in": "query",
        "description": "API access key for authentication. Passed as a query parameter on all requests."
      }
    },
    "parameters": {
      "AccessKey": {
        "name": "access_key",
        "in": "query",
        "required": true,
        "description": "Your unique API access key.",
        "schema": {
          "type": "string"
        }
      },
      "BusinessId": {
        "name": "business_id",
        "in": "query",
        "required": true,
        "description": "The ID of the business to operate on.",
        "schema": {
          "type": "integer"
        }
      }
    },
    "schemas": {
      "Business": {
        "type": "object",
        "properties": {
          "business_id": {
            "type": "integer",
            "description": "Unique business identifier."
          },
          "business_status": {
            "type": "string",
            "description": "Status of the business."
          },
          "business_identifier": {
            "type": "string",
            "description": "Business identifier string."
          },
          "business_name": {
            "type": "string",
            "description": "Name of the business."
          },
          "creation_timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "When the business was created."
          },
          "is_primary": {
            "type": "integer",
            "description": "Whether this is the primary business (1 or 0)."
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "document_hash": {
            "type": "string",
            "description": "Unique document identifier hash."
          },
          "title": {
            "type": "string",
            "description": "Document title."
          },
          "message": {
            "type": "string",
            "description": "Document message."
          },
          "is_draft": {
            "type": "integer",
            "description": "Whether the document is a draft."
          },
          "is_template": {
            "type": "integer",
            "description": "Whether the document is a template."
          },
          "is_completed": {
            "type": "integer",
            "description": "Whether all signers have completed signing."
          },
          "is_cancelled": {
            "type": "integer",
            "description": "Whether the document has been cancelled."
          },
          "is_deleted": {
            "type": "integer",
            "description": "Whether the document has been deleted."
          },
          "is_trashed": {
            "type": "integer",
            "description": "Whether the document is in trash."
          },
          "embedded_signing_enabled": {
            "type": "integer",
            "description": "Whether embedded signing is enabled."
          },
          "flexible_signing": {
            "type": "integer",
            "description": "Whether flexible signing is enabled."
          },
          "use_signer_order": {
            "type": "integer",
            "description": "Whether signers must sign in order."
          },
          "reminders": {
            "type": "integer",
            "description": "Whether reminders are enabled."
          },
          "require_all_signers": {
            "type": "integer",
            "description": "Whether all signers are required."
          },
          "redirect": {
            "type": "string",
            "format": "uri",
            "description": "Redirect URL after signing."
          },
          "redirect_decline": {
            "type": "string",
            "format": "uri",
            "description": "Redirect URL after declining."
          },
          "client": {
            "type": "string",
            "description": "Client identifier."
          },
          "expires": {
            "type": "string",
            "format": "date-time",
            "description": "Document expiration date."
          },
          "custom_requester_name": {
            "type": "string",
            "description": "Custom requester display name."
          },
          "custom_requester_email": {
            "type": "string",
            "format": "email",
            "description": "Custom requester email address."
          },
          "signers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Signer"
            }
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recipient"
            }
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/File"
            }
          },
          "meta": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom key-value metadata."
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Field"
              }
            },
            "description": "Two-dimensional array of fields, grouped by file."
          }
        }
      },
      "CreateDocumentRequest": {
        "type": "object",
        "properties": {
          "sandbox": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Set to 1 to create document in sandbox mode."
          },
          "is_draft": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Set to 1 to save as draft."
          },
          "is_template": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Set to 1 to create a template instead of a document."
          },
          "template_id": {
            "type": "string",
            "description": "Template hash to use for creating a document from template."
          },
          "title": {
            "type": "string",
            "description": "Document or template title."
          },
          "message": {
            "type": "string",
            "description": "Message to include in the signing request email."
          },
          "use_signer_order": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Set to 1 to enforce signer ordering."
          },
          "reminders": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Set to 1 to enable automatic reminders."
          },
          "require_all_signers": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Set to 1 to require all signers to complete."
          },
          "custom_requester_name": {
            "type": "string",
            "description": "Custom requester display name."
          },
          "custom_requester_email": {
            "type": "string",
            "format": "email",
            "description": "Custom requester email address."
          },
          "redirect": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect to after signing."
          },
          "redirect_decline": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect to after declining."
          },
          "client": {
            "type": "string",
            "description": "Client identifier for reference."
          },
          "expires": {
            "type": "string",
            "format": "date-time",
            "description": "Document expiration date and time."
          },
          "embedded_signing_enabled": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Set to 1 to enable embedded signing."
          },
          "flexible_signing": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Set to 1 to enable flexible signing."
          },
          "use_hidden_tags": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Set to 1 to use hidden text tags for field placement."
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileInput"
            },
            "description": "Array of files to include in the document."
          },
          "signers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SignerInput"
            },
            "description": "Array of signers for the document."
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecipientInput"
            },
            "description": "Array of CC recipients."
          },
          "meta": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom key-value metadata."
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/FieldInput"
              }
            },
            "description": "Two-dimensional array of fields, grouped by file."
          }
        }
      },
      "Signer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Signer ID."
          },
          "name": {
            "type": "string",
            "description": "Signer name."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Signer email address."
          },
          "role": {
            "type": "string",
            "description": "Signer role (for templates)."
          },
          "order": {
            "type": "integer",
            "description": "Signing order."
          },
          "pin": {
            "type": "string",
            "description": "PIN required for signing."
          },
          "signed": {
            "type": "integer",
            "description": "Whether the signer has signed."
          },
          "signed_timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "When the signer signed."
          },
          "declined": {
            "type": "integer",
            "description": "Whether the signer has declined."
          },
          "sent": {
            "type": "integer",
            "description": "Whether the signing request has been sent."
          },
          "viewed": {
            "type": "integer",
            "description": "Whether the signer has viewed the document."
          },
          "signing_url": {
            "type": "string",
            "format": "uri",
            "description": "Embedded signing URL (when embedded signing is enabled)."
          }
        }
      },
      "SignerInput": {
        "type": "object",
        "required": ["id", "name", "email"],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Signer ID (starting from 1)."
          },
          "name": {
            "type": "string",
            "description": "Signer name."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Signer email address."
          },
          "role": {
            "type": "string",
            "description": "Role name (for templates)."
          },
          "order": {
            "type": "integer",
            "description": "Signing order (when use_signer_order is enabled)."
          },
          "pin": {
            "type": "string",
            "description": "PIN required before the signer can access the document."
          },
          "message": {
            "type": "string",
            "description": "Custom message for this signer."
          },
          "deliver_email": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Whether to send email notification to this signer."
          },
          "language": {
            "type": "string",
            "description": "Two-letter language code for signer notifications.",
            "enum": ["en", "de", "fr", "es", "pt", "it", "nl", "da", "sv", "no", "pl", "zh", "ja"]
          }
        }
      },
      "Recipient": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Recipient name."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Recipient email address."
          },
          "role": {
            "type": "string",
            "description": "Recipient role (for templates)."
          }
        }
      },
      "RecipientInput": {
        "type": "object",
        "required": ["name", "email"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Recipient name."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Recipient email address."
          },
          "role": {
            "type": "string",
            "description": "Recipient role (for templates)."
          },
          "language": {
            "type": "string",
            "description": "Two-letter language code.",
            "enum": ["en", "de", "fr", "es", "pt", "it", "nl", "da", "sv", "no", "pl", "zh", "ja"]
          }
        }
      },
      "File": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "File ID."
          },
          "name": {
            "type": "string",
            "description": "File name."
          },
          "total_pages": {
            "type": "integer",
            "description": "Total number of pages."
          }
        }
      },
      "FileInput": {
        "type": "object",
        "properties": {
          "file_id": {
            "type": "string",
            "description": "File ID from a previous upload."
          },
          "file_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of a file to include."
          },
          "file_base64": {
            "type": "string",
            "description": "Base64 encoded file content."
          },
          "name": {
            "type": "string",
            "description": "File name."
          }
        }
      },
      "Field": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Field type.",
            "enum": ["signature", "initials", "date_signed", "note", "text", "checkbox", "radio", "dropdown", "attachment"]
          },
          "x": {
            "type": "number",
            "description": "X coordinate in pixels."
          },
          "y": {
            "type": "number",
            "description": "Y coordinate in pixels."
          },
          "width": {
            "type": "number",
            "description": "Width in pixels."
          },
          "height": {
            "type": "number",
            "description": "Height in pixels."
          },
          "page": {
            "type": "integer",
            "description": "Page number."
          },
          "signer": {
            "type": "string",
            "description": "Signer ID or 'OWNER' for non-signer fields."
          },
          "identifier": {
            "type": "string",
            "description": "Unique field identifier."
          },
          "required": {
            "type": "integer",
            "description": "Whether the field is required."
          },
          "readonly": {
            "type": "integer",
            "description": "Whether the field is read-only."
          },
          "value": {
            "type": "string",
            "description": "Pre-filled or current value."
          },
          "name": {
            "type": "string",
            "description": "User-facing field label."
          },
          "validation_type": {
            "type": "string",
            "description": "Validation type for text fields.",
            "enum": ["email_address", "letters_only", "numbers_only"]
          },
          "text_size": {
            "type": "integer",
            "description": "Text size in points."
          },
          "text_color": {
            "type": "string",
            "description": "Text color as hex code."
          },
          "text_font": {
            "type": "string",
            "description": "Font family."
          },
          "text_style": {
            "type": "string",
            "description": "Text style (B for bold, U for underline, I for italic, or combinations)."
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Options for dropdown fields."
          },
          "group": {
            "type": "integer",
            "description": "Group identifier for radio button fields."
          }
        }
      },
      "FieldInput": {
        "type": "object",
        "required": ["type", "x", "y", "page", "signer"],
        "properties": {
          "type": {
            "type": "string",
            "description": "Field type.",
            "enum": ["signature", "initials", "date_signed", "note", "text", "checkbox", "radio", "dropdown", "attachment"]
          },
          "x": {
            "type": "number",
            "description": "X coordinate in pixels."
          },
          "y": {
            "type": "number",
            "description": "Y coordinate in pixels."
          },
          "width": {
            "type": "number",
            "description": "Width in pixels."
          },
          "height": {
            "type": "number",
            "description": "Height in pixels."
          },
          "page": {
            "type": "integer",
            "description": "Page number."
          },
          "signer": {
            "type": "string",
            "description": "Signer ID or 'OWNER' for non-signer fields."
          },
          "identifier": {
            "type": "string",
            "description": "Unique field identifier."
          },
          "required": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Whether the field is required."
          },
          "readonly": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Whether the field is read-only."
          },
          "value": {
            "type": "string",
            "description": "Pre-filled value."
          },
          "name": {
            "type": "string",
            "description": "User-facing field label."
          },
          "validation_type": {
            "type": "string",
            "description": "Validation type for text fields.",
            "enum": ["email_address", "letters_only", "numbers_only"]
          },
          "text_size": {
            "type": "integer",
            "description": "Text size in points."
          },
          "text_color": {
            "type": "string",
            "description": "Text color as hex code."
          },
          "text_font": {
            "type": "string",
            "description": "Font family."
          },
          "text_style": {
            "type": "string",
            "description": "Text style (B for bold, U for underline, I for italic, or combinations)."
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Options for dropdown fields."
          },
          "group": {
            "type": "integer",
            "description": "Group identifier for radio button fields."
          }
        }
      },
      "FileUploadResponse": {
        "type": "object",
        "properties": {
          "file_id": {
            "type": "string",
            "description": "Unique file identifier for use in document creation."
          },
          "total_pages": {
            "type": "integer",
            "description": "Total number of pages in the uploaded file."
          }
        }
      },
      "BulkJob": {
        "type": "object",
        "properties": {
          "entry_id": {
            "type": "string",
            "description": "Unique bulk job identifier."
          },
          "template_hash": {
            "type": "string",
            "description": "Hash of the template used."
          },
          "business_id": {
            "type": "integer",
            "description": "Business ID."
          },
          "user_id": {
            "type": "integer",
            "description": "User ID who created the job."
          },
          "document_count": {
            "type": "integer",
            "description": "Total number of documents in the job."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the job was created."
          },
          "status": {
            "type": "string",
            "description": "Current status of the bulk job."
          }
        }
      },
      "BulkJobStatus": {
        "type": "object",
        "properties": {
          "bulk_job_created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the bulk job was created."
          },
          "completed_documents": {
            "type": "integer",
            "description": "Number of completed documents."
          },
          "cancelled_documents": {
            "type": "integer",
            "description": "Number of cancelled documents."
          },
          "in_progress_documents": {
            "type": "integer",
            "description": "Number of in-progress documents."
          },
          "document_count": {
            "type": "integer",
            "description": "Total number of documents."
          },
          "origin_template": {
            "type": "string",
            "description": "Hash of the origin template."
          },
          "bulk_job_owner": {
            "type": "string",
            "description": "Owner of the bulk job."
          }
        }
      },
      "PaginatedBulkJobs": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BulkJob"
            }
          }
        }
      },
      "PaginatedDocuments": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of results."
          },
          "limit": {
            "type": "integer",
            "description": "Results per page."
          },
          "offset": {
            "type": "integer",
            "description": "Current offset."
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates the operation was successful."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Businesses",
      "description": "Manage business accounts."
    },
    {
      "name": "Documents",
      "description": "Create, list, retrieve, and manage documents and templates."
    },
    {
      "name": "Signers",
      "description": "Manage document signers, send reminders, and reassign."
    },
    {
      "name": "Downloads",
      "description": "Download original and signed PDF documents."
    },
    {
      "name": "Files",
      "description": "Upload files for use in document creation."
    },
    {
      "name": "Bulk Sending",
      "description": "Manage bulk document sending operations."
    }
  ]
}