{
  "openapi": "3.0.3",
  "info": {
    "title": "Fingerprint Pro Server API",
    "description": "Fingerprint Pro Server API provides browser fingerprinting and visitor identification capabilities. It allows retrieval of visitor identification events, smart signals (bot detection, VPN detection, tampering detection), and visitor history.",
    "version": "4.0.0",
    "contact": {
      "name": "Fingerprint Support",
      "url": "https://fingerprint.com/support/"
    },
    "x-jentic-source-url": "https://dev.fingerprintjs.com/docs"
  },
  "servers": [
    {
      "url": "https://api.fpjs.io",
      "description": "Global (US) region"
    },
    {
      "url": "https://eu.api.fpjs.io",
      "description": "EU region"
    },
    {
      "url": "https://ap.api.fpjs.io",
      "description": "Asia-Pacific (Mumbai) region"
    }
  ],
  "security": [
    {
      "ApiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Events",
      "description": "Identification event operations"
    },
    {
      "name": "Visitors",
      "description": "Visitor history and management"
    }
  ],
  "paths": {
    "/v4/events/{request_id}": {
      "get": {
        "operationId": "getEvent",
        "summary": "Get identification event",
        "description": "Retrieve a specific identification event by its request ID, including identification data and Smart Signals (bot detection, VPN, proxy, tampering, etc.).",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the identification request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful identification event retrieval.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authentication or authorization error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Request not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. Check Retry-After header.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/visitors/{visitor_id}": {
      "get": {
        "operationId": "getVisits",
        "summary": "Get visitor visits",
        "description": "Retrieve identification event history for a specific visitor using their unique visitor identifier.",
        "tags": ["Visitors"],
        "parameters": [
          {
            "name": "visitor_id",
            "in": "path",
            "required": true,
            "description": "Unique visitor identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request_id",
            "in": "query",
            "required": false,
            "description": "Filter events by specific request identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linked_id",
            "in": "query",
            "required": false,
            "description": "Filter events by custom linked identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of events to return. Max 500, default 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "paginationKey",
            "in": "query",
            "required": false,
            "description": "Cursor value for pagination from previous response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful visitor history retrieval.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitorsGetResponse"
                }
              }
            }
          },
          "403": {
            "description": "Authentication or authorization error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteVisitorData",
        "summary": "Delete visitor data",
        "description": "Delete all data associated with a specific visitor identifier.",
        "tags": ["Visitors"],
        "parameters": [
          {
            "name": "visitor_id",
            "in": "path",
            "required": true,
            "description": "Unique visitor identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Visitor data successfully deleted."
          },
          "403": {
            "description": "Authentication or authorization error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Visitor not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "Auth-API-Key",
        "description": "Secret API key passed via Auth-API-Key header."
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Secret API key passed as a Bearer token in the Authorization header."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code identifier.",
                "enum": [
                  "TokenRequired",
                  "TokenNotFound",
                  "WrongRegion",
                  "RequestNotFound",
                  "TooManyRequests",
                  "Failed"
                ]
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message."
              }
            }
          }
        }
      },
      "EventResponse": {
        "type": "object",
        "properties": {
          "products": {
            "type": "object",
            "description": "Identification results and Smart Signals.",
            "properties": {
              "identification": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/IdentificationData"
                  }
                }
              },
              "botd": {
                "type": "object",
                "description": "Bot detection result.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "bot": {
                        "type": "object",
                        "properties": {
                          "result": {
                            "type": "string",
                            "enum": ["notDetected", "good", "bad"]
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      },
                      "url": {
                        "type": "string"
                      },
                      "ip": {
                        "type": "string"
                      },
                      "time": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "IdentificationData": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          },
          "browserDetails": {
            "type": "object",
            "properties": {
              "browserName": { "type": "string" },
              "browserMajorVersion": { "type": "string" },
              "browserFullVersion": { "type": "string" },
              "os": { "type": "string" },
              "osVersion": { "type": "string" },
              "device": { "type": "string" },
              "userAgent": { "type": "string" }
            }
          },
          "incognito": { "type": "boolean" },
          "ip": { "type": "string" },
          "ipLocation": {
            "$ref": "#/components/schemas/IPLocation"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp in milliseconds."
          },
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "url": { "type": "string" },
          "tag": {
            "type": "object",
            "additionalProperties": true
          },
          "linkedId": { "type": "string" },
          "confidence": {
            "type": "object",
            "properties": {
              "score": {
                "type": "number",
                "format": "float",
                "minimum": 0,
                "maximum": 1
              }
            }
          },
          "visitorFound": { "type": "boolean" },
          "firstSeenAt": {
            "type": "object",
            "properties": {
              "global": { "type": "string", "format": "date-time" },
              "subscription": { "type": "string", "format": "date-time" }
            }
          },
          "lastSeenAt": {
            "type": "object",
            "properties": {
              "global": { "type": "string", "format": "date-time" },
              "subscription": { "type": "string", "format": "date-time" }
            }
          }
        }
      },
      "IPLocation": {
        "type": "object",
        "properties": {
          "accuracyRadius": { "type": "integer" },
          "latitude": { "type": "number", "format": "double" },
          "longitude": { "type": "number", "format": "double" },
          "postalCode": { "type": "string" },
          "timezone": { "type": "string" },
          "city": {
            "type": "object",
            "properties": {
              "name": { "type": "string" }
            }
          },
          "country": {
            "type": "object",
            "properties": {
              "code": { "type": "string" },
              "name": { "type": "string" }
            }
          },
          "continent": {
            "type": "object",
            "properties": {
              "code": { "type": "string" },
              "name": { "type": "string" }
            }
          },
          "subdivision": {
            "type": "object",
            "properties": {
              "isoCode": { "type": "string" },
              "name": { "type": "string" }
            }
          }
        }
      },
      "VisitorsGetResponse": {
        "type": "object",
        "properties": {
          "visitorId": {
            "type": "string"
          },
          "visits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IdentificationData"
            }
          },
          "lastTimestamp": {
            "type": "integer",
            "format": "int64"
          },
          "paginationKey": {
            "type": "string",
            "description": "Cursor for retrieving the next page of results."
          }
        }
      }
    }
  }
}
