{
  "openapi": "3.0.3",
  "info": {
    "title": "Financial Cents API",
    "description": "Financial Cents public API for managing clients, contacts, projects, templates, resources, notes, users, time activities, tasks, invoices, and client tasks. Currently in Beta - breaking changes may occur.",
    "version": "1.0.0",
    "contact": {
      "name": "Financial Cents",
      "url": "https://financial-cents.gitbook.io/public-api-documentation/"
    }
  },
  "servers": [
    {
      "url": "https://app.financial-cents.com/api/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    { "name": "Clients", "description": "Client management operations" },
    { "name": "Client Attachments", "description": "Client file attachment operations" },
    { "name": "Contacts", "description": "Contact management operations" },
    { "name": "Projects", "description": "Project operations" },
    { "name": "Templates", "description": "Template operations" },
    { "name": "Project Resources", "description": "Project resource link operations" },
    { "name": "Client Resources", "description": "Client resource link operations" },
    { "name": "Client Notes", "description": "Client note operations" },
    { "name": "Email Messages", "description": "Email message operations" },
    { "name": "Users", "description": "User operations" },
    { "name": "Project Roles", "description": "Project role operations" },
    { "name": "Time Activities", "description": "Time tracking operations" },
    { "name": "Tasks", "description": "Task operations" },
    { "name": "Invoices", "description": "Invoice operations" },
    { "name": "Client Tasks", "description": "Client task operations" },
    { "name": "Client Task Reminders", "description": "Client task reminder operations" }
  ],
  "paths": {
    "/clients": {
      "get": {
        "operationId": "listClients",
        "summary": "List Clients",
        "description": "Retrieve a paginated list of clients.",
        "tags": ["Clients"],
        "parameters": [
          {
            "name": "search[field]",
            "in": "query",
            "description": "Search field. One of: \"name\".",
            "schema": { "type": "string", "enum": ["name"] }
          },
          {
            "name": "search[operation]",
            "in": "query",
            "description": "Search operation. One of: \"equals\", \"beginswith\", \"endswith\", \"contains\".",
            "schema": { "type": "string", "enum": ["equals", "beginswith", "endswith", "contains"] }
          },
          {
            "name": "search[value]",
            "in": "query",
            "description": "Search terms.",
            "schema": { "type": "string" }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Order field. One of: \"created_at\", \"updated_at\", \"name\".",
            "schema": { "type": "string", "enum": ["created_at", "updated_at", "name"] }
          },
          {
            "name": "order_dir",
            "in": "query",
            "description": "Order direction. One of: \"asc\", \"desc\".",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedClientList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createClient",
        "summary": "Create Client",
        "description": "Create a new client.",
        "tags": ["Clients"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["display_name"],
                "properties": {
                  "display_name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "The client name."
                  },
                  "contact_name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "The contact/person name."
                  },
                  "contact_email": {
                    "type": "string",
                    "format": "email",
                    "description": "The contact/person email address."
                  },
                  "contact_address": {
                    "type": "string",
                    "description": "The contact/person address."
                  },
                  "contact_notes": {
                    "type": "string",
                    "description": "The contact/person notes."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client_id}": {
      "get": {
        "operationId": "getClient",
        "summary": "Get Client",
        "description": "Retrieve a single client by ID.",
        "tags": ["Clients"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateClient",
        "summary": "Update Client",
        "description": "Update an existing client.",
        "tags": ["Clients"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "The client name."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteClient",
        "summary": "Delete Client",
        "description": "Delete a client by ID.",
        "tags": ["Clients"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "201": {
            "description": "Client deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client_id}/contacts": {
      "get": {
        "operationId": "listClientContacts",
        "summary": "List Client Contacts",
        "description": "Retrieve contacts for a specific client.",
        "tags": ["Clients"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createContact",
        "summary": "Create Contact",
        "description": "Create a new contact for a client.",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "The contact/person name."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The contact/person email address."
                  },
                  "address": {
                    "type": "string",
                    "description": "The contact/person address."
                  },
                  "notes": {
                    "type": "string",
                    "description": "The contact/person notes."
                  },
                  "phone": {
                    "type": "string",
                    "maxLength": 25,
                    "description": "The contact/person phone number."
                  },
                  "mobile": {
                    "type": "string",
                    "maxLength": 25,
                    "description": "The contact/person mobile number."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client_id}/attachments": {
      "get": {
        "operationId": "listClientAttachments",
        "summary": "List Client Attachments",
        "description": "Retrieve a paginated list of attachments for a client.",
        "tags": ["Client Attachments"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by name.",
            "schema": { "type": "string" }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Order field. One of: \"attachments.created_at\", \"items_count\", \"attachments.name\".",
            "schema": { "type": "string", "enum": ["attachments.created_at", "items_count", "attachments.name"] }
          },
          {
            "name": "order_dir",
            "in": "query",
            "description": "Order direction.",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "schema": { "type": "integer" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of resources returned. Between 10 and 100.",
            "schema": { "type": "integer", "minimum": 10, "maximum": 100 }
          },
          {
            "name": "folder_view",
            "in": "query",
            "description": "List only folders. Either 1 or 0.",
            "schema": { "type": "integer", "enum": [0, 1] }
          },
          {
            "name": "parent_id",
            "in": "query",
            "description": "ID of the parent folder.",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAttachmentList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createClientAttachment",
        "summary": "Create Client Attachment",
        "description": "Upload a file attachment to a client.",
        "tags": ["Client Attachments"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to be uploaded."
                  },
                  "parent_id": {
                    "type": "integer",
                    "description": "ID of the parent folder."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Attachment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteClientAttachment",
        "summary": "Delete Client Attachment",
        "description": "Delete an attachment from a client.",
        "tags": ["Client Attachments"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "201": {
            "description": "Attachment deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client_id}/attachments/folders": {
      "post": {
        "operationId": "createClientFolder",
        "summary": "Create Client Folder",
        "description": "Create a new folder for client attachments.",
        "tags": ["Client Attachments"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Name of the folder."
                  },
                  "parent_id": {
                    "type": "integer",
                    "description": "ID of the parent folder."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Folder created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client_id}/attachments/{attachment_id}/move": {
      "put": {
        "operationId": "moveClientAttachment",
        "summary": "Move Client Attachment",
        "description": "Move an attachment to a different folder.",
        "tags": ["Client Attachments"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "attachment_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "parent_id": {
                    "type": "integer",
                    "description": "ID of the destination parent folder."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attachment moved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client_id}/attachments/bulk-move": {
      "post": {
        "operationId": "bulkMoveClientAttachments",
        "summary": "Bulk Move Client Attachments",
        "description": "Move multiple attachments to a different folder.",
        "tags": ["Client Attachments"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["attachment_ids[0]"],
                "properties": {
                  "attachment_ids[0]": {
                    "type": "integer",
                    "description": "IDs of the attachments to move. Use attachment_ids[0], attachment_ids[1], etc."
                  },
                  "parent_id": {
                    "type": "integer",
                    "description": "ID of the destination parent folder."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Attachments moved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client_id}/attachments/bulk-delete": {
      "post": {
        "operationId": "bulkDeleteClientAttachments",
        "summary": "Bulk Delete Client Attachments",
        "description": "Delete multiple attachments at once.",
        "tags": ["Client Attachments"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["attachments[0]"],
                "properties": {
                  "attachments[0]": {
                    "type": "integer",
                    "description": "IDs of the attachments to delete. Use attachments[0], attachments[1], etc."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Attachments deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "List Contacts",
        "description": "Retrieve a paginated list of all contacts.",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "search[field]",
            "in": "query",
            "description": "Search field. One of: \"name\", \"email\".",
            "schema": { "type": "string", "enum": ["name", "email"] }
          },
          {
            "name": "search[operation]",
            "in": "query",
            "description": "Search operation.",
            "schema": { "type": "string", "enum": ["equals", "beginswith", "endswith", "contains"] }
          },
          {
            "name": "search[value]",
            "in": "query",
            "description": "Search terms.",
            "schema": { "type": "string" }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Order field. One of: \"created_at\", \"updated_at\", \"name\".",
            "schema": { "type": "string", "enum": ["created_at", "updated_at", "name"] }
          },
          {
            "name": "order_dir",
            "in": "query",
            "description": "Order direction.",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedContactList"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}": {
      "get": {
        "operationId": "getContact",
        "summary": "Get Contact",
        "description": "Retrieve a single contact by ID.",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactWithClient"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateContact",
        "summary": "Update Contact",
        "description": "Update an existing contact.",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "The contact/person name."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The contact/person email address."
                  },
                  "address": {
                    "type": "string",
                    "description": "The contact/person address."
                  },
                  "notes": {
                    "type": "string",
                    "description": "The contact/person notes."
                  },
                  "phone": {
                    "type": "string",
                    "maxLength": 25,
                    "description": "The contact/person phone number."
                  },
                  "mobile": {
                    "type": "string",
                    "maxLength": 25,
                    "description": "The contact/person mobile number."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactWithClient"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteContact",
        "summary": "Delete Contact",
        "description": "Delete a contact by ID.",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "201": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List Projects",
        "description": "Retrieve a paginated list of projects.",
        "tags": ["Projects"],
        "parameters": [
          {
            "name": "search[field]",
            "in": "query",
            "description": "Search field. Use \"title\".",
            "schema": { "type": "string", "enum": ["title"] }
          },
          {
            "name": "search[operation]",
            "in": "query",
            "description": "Search operation.",
            "schema": { "type": "string", "enum": ["equals", "beginswith", "endswith", "contains"] }
          },
          {
            "name": "search[value]",
            "in": "query",
            "description": "Search terms.",
            "schema": { "type": "string" }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Order field. One of: \"created_at\", \"title\".",
            "schema": { "type": "string", "enum": ["created_at", "title"] }
          },
          {
            "name": "order_dir",
            "in": "query",
            "description": "Order direction.",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedProjectList"
                }
              }
            }
          }
        }
      }
    },
    "/templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List Templates",
        "description": "Retrieve a paginated list of templates.",
        "tags": ["Templates"],
        "parameters": [
          {
            "name": "search[field]",
            "in": "query",
            "description": "Search field. Use \"title\".",
            "schema": { "type": "string", "enum": ["title"] }
          },
          {
            "name": "search[operation]",
            "in": "query",
            "description": "Search operation.",
            "schema": { "type": "string", "enum": ["equals", "beginswith", "endswith", "contains"] }
          },
          {
            "name": "search[value]",
            "in": "query",
            "description": "Search terms.",
            "schema": { "type": "string" }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Order field. One of: \"created_at\", \"title\".",
            "schema": { "type": "string", "enum": ["created_at", "title"] }
          },
          {
            "name": "order_dir",
            "in": "query",
            "description": "Order direction.",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTemplateList"
                }
              }
            }
          }
        }
      }
    },
    "/templates/{template_id}": {
      "get": {
        "operationId": "getTemplateDetails",
        "summary": "Get Template Details",
        "description": "Retrieve detailed information about a template including its tasks.",
        "tags": ["Templates"],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateDetail"
                }
              }
            }
          }
        }
      }
    },
    "/templates/{template_id}/projects": {
      "post": {
        "operationId": "createProjectFromTemplate",
        "summary": "Create Project From Template",
        "description": "Create a new project from an existing template.",
        "tags": ["Templates"],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "integer",
                    "description": "Client ID to associate with the project."
                  },
                  "agents[0]": {
                    "type": "integer",
                    "description": "Array of agent IDs. Use agents[0], agents[1], etc."
                  },
                  "reviewer_id": {
                    "type": "integer",
                    "description": "Reviewer user ID."
                  },
                  "title": {
                    "type": "string",
                    "description": "Project title."
                  },
                  "roles[0][agent_id]": {
                    "type": "integer",
                    "description": "Agent ID for role assignment."
                  },
                  "roles[0][role_id]": {
                    "type": "integer",
                    "description": "Role ID for role assignment."
                  },
                  "anchor_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Anchor date for the project."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/resources": {
      "get": {
        "operationId": "listProjectResources",
        "summary": "List Project Resources",
        "description": "Retrieve a paginated list of resources for a project.",
        "tags": ["Project Resources"],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "search[field]",
            "in": "query",
            "description": "Search field. Use \"label\".",
            "schema": { "type": "string", "enum": ["label"] }
          },
          {
            "name": "search[operation]",
            "in": "query",
            "description": "Search operation.",
            "schema": { "type": "string", "enum": ["equals", "beginswith", "endswith", "contains"] }
          },
          {
            "name": "search[value]",
            "in": "query",
            "description": "Search terms.",
            "schema": { "type": "string" }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Order field. One of: \"created_at\", \"label\", \"list_index\".",
            "schema": { "type": "string", "enum": ["created_at", "label", "list_index"] }
          },
          {
            "name": "order_dir",
            "in": "query",
            "description": "Order direction.",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedProjectResourceList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProjectResource",
        "summary": "Create Project Resource",
        "description": "Create a new resource link for a project.",
        "tags": ["Project Resources"],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["label", "url"],
                "properties": {
                  "label": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Resource label."
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Resource URL."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResource"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/resources/{resource_id}": {
      "delete": {
        "operationId": "deleteProjectResource",
        "summary": "Delete Project Resource",
        "description": "Delete a resource from a project.",
        "tags": ["Project Resources"],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string",
                      "example": "The record has been deleted successfully"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/email-messages/pin": {
      "post": {
        "operationId": "pinEmailToProject",
        "summary": "Pin Email to Project",
        "description": "Pin an email message to a project.",
        "tags": ["Email Messages"],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["match_field"],
                "properties": {
                  "match_field": {
                    "type": "string",
                    "enum": ["fc_id", "provider_id"],
                    "description": "Match field type. Either \"fc_id\" or \"provider_id\"."
                  },
                  "fc_id": {
                    "type": "integer",
                    "description": "The ID of the message from Financial Cents. Required if match_field is \"fc_id\"."
                  },
                  "provider_id": {
                    "type": "string",
                    "description": "The message ID from the mail service provider (Outlook/Gmail). Required if match_field is \"provider_id\"."
                  },
                  "email_address": {
                    "type": "string",
                    "format": "email",
                    "description": "The integrated email address. Required if match_field is \"provider_id\"."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email pinned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client_id}/resources": {
      "get": {
        "operationId": "listClientResources",
        "summary": "List Client Resources",
        "description": "Retrieve a paginated list of resources for a client.",
        "tags": ["Client Resources"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "search[field]",
            "in": "query",
            "description": "Search field. Use \"label\".",
            "schema": { "type": "string", "enum": ["label"] }
          },
          {
            "name": "search[operation]",
            "in": "query",
            "description": "Search operation.",
            "schema": { "type": "string", "enum": ["equals", "beginswith", "endswith", "contains"] }
          },
          {
            "name": "search[value]",
            "in": "query",
            "description": "Search terms.",
            "schema": { "type": "string" }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Order field. One of: \"id\", \"created_at\", \"label\", \"list_index\".",
            "schema": { "type": "string", "enum": ["id", "created_at", "label", "list_index"] }
          },
          {
            "name": "order_dir",
            "in": "query",
            "description": "Order direction.",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedClientResourceList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createClientResource",
        "summary": "Create Client Resource",
        "description": "Create a new resource link for a client.",
        "tags": ["Client Resources"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["label", "url"],
                "properties": {
                  "label": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Resource label."
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Resource URL."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResource"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client_id}/resources/{resource_id}": {
      "delete": {
        "operationId": "deleteClientResource",
        "summary": "Delete Client Resource",
        "description": "Delete a resource from a client.",
        "tags": ["Client Resources"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string",
                      "example": "The record has been deleted successfully"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client_id}/notes": {
      "get": {
        "operationId": "listClientNotes",
        "summary": "Get Client Notes",
        "description": "Retrieve a paginated list of notes for a client.",
        "tags": ["Client Notes"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit of items per page.",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedClientNoteList"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createClientNote",
        "summary": "Create Client Note",
        "description": "Create a new note for a client.",
        "tags": ["Client Notes"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["text"],
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Note title."
                  },
                  "text": {
                    "type": "string",
                    "maxLength": 65000,
                    "description": "Note body text. HTML is accepted but sanitized."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Note created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientNote"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{client_id}/notes/{client_note_id}": {
      "get": {
        "operationId": "getClientNote",
        "summary": "Get Client Note",
        "description": "Retrieve a single client note.",
        "tags": ["Client Notes"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "client_note_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientNote"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateClientNote",
        "summary": "Update Client Note",
        "description": "Update an existing client note.",
        "tags": ["Client Notes"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "client_note_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Note title."
                  },
                  "text": {
                    "type": "string",
                    "maxLength": 65000,
                    "description": "Note body text."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientNote"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteClientNote",
        "summary": "Delete Client Note",
        "description": "Delete a client note.",
        "tags": ["Client Notes"],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "client_note_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Note deleted successfully"
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List Users",
        "description": "Retrieve a paginated list of users.",
        "tags": ["Users"],
        "parameters": [
          {
            "name": "search[value]",
            "in": "query",
            "description": "Search terms.",
            "schema": { "type": "string" }
          },
          {
            "name": "search[operation]",
            "in": "query",
            "description": "Search operation.",
            "schema": { "type": "string", "enum": ["equals", "beginswith", "endswith", "contains"] }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Order field. One of: \"id\", \"created_at\", \"name\".",
            "schema": { "type": "string", "enum": ["id", "created_at", "name"] }
          },
          {
            "name": "order_dir",
            "in": "query",
            "description": "Order direction.",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedUserList"
                }
              }
            }
          }
        }
      }
    },
    "/profile": {
      "get": {
        "operationId": "getProfile",
        "summary": "Get Profile",
        "description": "Retrieve the authenticated user's profile.",
        "tags": ["Users"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          }
        }
      }
    },
    "/project-roles": {
      "get": {
        "operationId": "listProjectRoles",
        "summary": "List Project Roles",
        "description": "Retrieve a list of project roles.",
        "tags": ["Project Roles"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProjectRole"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/time-activities": {
      "get": {
        "operationId": "listTimeActivities",
        "summary": "List Time Activities",
        "description": "Retrieve a paginated list of time activities with optional filters.",
        "tags": ["Time Activities"],
        "parameters": [
          {
            "name": "date_range[start]",
            "in": "query",
            "description": "Date range start date in YYYY-MM-DD format.",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "date_range[end]",
            "in": "query",
            "description": "Date range end date in YYYY-MM-DD format.",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "Client ID to filter by.",
            "schema": { "type": "integer" }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "User ID to filter by.",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTimeActivityList"
                }
              }
            }
          }
        }
      }
    },
    "/time-activities/{time_activity_id}": {
      "get": {
        "operationId": "getTimeActivity",
        "summary": "Get Time Activity",
        "description": "Retrieve a single time activity by ID.",
        "tags": ["Time Activities"],
        "parameters": [
          {
            "name": "time_activity_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeActivity"
                }
              }
            }
          }
        }
      }
    },
    "/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "List Tasks",
        "description": "Retrieve a paginated list of tasks.",
        "tags": ["Tasks"],
        "parameters": [
          {
            "name": "order_by",
            "in": "query",
            "description": "Order field. One of: \"created_at\", \"due_date\".",
            "schema": { "type": "string", "enum": ["created_at", "due_date"] }
          },
          {
            "name": "order_dir",
            "in": "query",
            "description": "Order direction.",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "The ID of the project to filter by.",
            "schema": { "type": "integer" }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Task status filter. Defaults to \"pending\".",
            "schema": { "type": "string", "enum": ["pending", "completed"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTaskList"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{task_id}/completed": {
      "patch": {
        "operationId": "markTaskAsComplete",
        "summary": "Mark Task as Complete",
        "description": "Mark a task as complete or incomplete.",
        "tags": ["Tasks"],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "board",
            "in": "query",
            "required": true,
            "description": "Board status. One of: \"done\", \"to_do\".",
            "schema": { "type": "string", "enum": ["done", "to_do"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        }
      }
    },
    "/invoices": {
      "get": {
        "operationId": "listInvoices",
        "summary": "List Invoices",
        "description": "Retrieve a paginated list of invoices.",
        "tags": ["Invoices"],
        "parameters": [
          {
            "name": "order_by",
            "in": "query",
            "description": "Order field. One of: \"created_at\", \"updated_at\", \"invoice_date\", \"due_date\", \"amount_due\".",
            "schema": { "type": "string", "enum": ["created_at", "updated_at", "invoice_date", "due_date", "amount_due"] }
          },
          {
            "name": "order_dir",
            "in": "query",
            "description": "Order direction.",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "schema": { "type": "integer" }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Invoice status filter.",
            "schema": { "type": "string", "enum": ["Draft", "Pending", "PendingApproval", "Paid", "Void", "Refunded", "PartialRefund", "Uncollectible", "PaymentProcessing", "PaymentFailed", "PaymentInReview", "Overdue"] }
          },
          {
            "name": "date_range[field]",
            "in": "query",
            "description": "Date range field. One of: \"invoice_date\", \"due_date\".",
            "schema": { "type": "string", "enum": ["invoice_date", "due_date"] }
          },
          {
            "name": "date[start]",
            "in": "query",
            "description": "Date range start. Format: Y-m-d. Required if date_range[field] is given.",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "date[end]",
            "in": "query",
            "description": "Date range end. Format: Y-m-d. Required if date_range[field] is given.",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "client",
            "in": "query",
            "description": "Client ID to filter by.",
            "schema": { "type": "integer" }
          },
          {
            "name": "search[field]",
            "in": "query",
            "description": "Search field. One of: \"number\", \"client_name\".",
            "schema": { "type": "string", "enum": ["number", "client_name"] }
          },
          {
            "name": "search[operation]",
            "in": "query",
            "description": "Search operation.",
            "schema": { "type": "string", "enum": ["equals", "beginswith", "endswith", "contains"] }
          },
          {
            "name": "search[value]",
            "in": "query",
            "description": "Search terms.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedInvoiceList"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/{invoice_id}": {
      "get": {
        "operationId": "getInvoice",
        "summary": "Show Invoice",
        "description": "Retrieve a single invoice by ID.",
        "tags": ["Invoices"],
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          }
        }
      }
    },
    "/client-tasks": {
      "get": {
        "operationId": "listClientTasks",
        "summary": "List Client Tasks",
        "description": "Retrieve a paginated list of client tasks.",
        "tags": ["Client Tasks"],
        "parameters": [
          {
            "name": "order_by",
            "in": "query",
            "description": "Order field. Use \"due_date\".",
            "schema": { "type": "string", "enum": ["due_date"] }
          },
          {
            "name": "order_dir",
            "in": "query",
            "description": "Order direction.",
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "schema": { "type": "integer" }
          },
          {
            "name": "project_status",
            "in": "query",
            "description": "Project status filter. One of: \"open\", \"closed\", \"all\".",
            "schema": { "type": "string", "enum": ["open", "closed", "all"] }
          },
          {
            "name": "is_completed",
            "in": "query",
            "description": "Filter by completion status.",
            "schema": { "type": "boolean" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page. Min: 10, Max: 200.",
            "schema": { "type": "integer", "minimum": 10, "maximum": 200 }
          },
          {
            "name": "search[field]",
            "in": "query",
            "description": "Search field. One of: \"title\", \"client_name\".",
            "schema": { "type": "string", "enum": ["title", "client_name"] }
          },
          {
            "name": "search[operation]",
            "in": "query",
            "description": "Search operation.",
            "schema": { "type": "string", "enum": ["equals", "beginswith", "endswith", "contains"] }
          },
          {
            "name": "search[value]",
            "in": "query",
            "description": "Search terms.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedClientTaskList"
                }
              }
            }
          }
        }
      }
    },
    "/client-tasks/{client_task_id}/completed": {
      "patch": {
        "operationId": "markClientTaskAsComplete",
        "summary": "Mark Client Task as Complete",
        "description": "Mark a client task as complete or incomplete.",
        "tags": ["Client Tasks"],
        "parameters": [
          {
            "name": "client_task_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "is_completed",
            "in": "query",
            "required": true,
            "description": "Whether the task is completed.",
            "schema": { "type": "boolean" }
          }
        ],
        "responses": {
          "200": {
            "description": "Client task status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientTask"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_completed": {
                      "type": "array",
                      "items": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/{project_id}/client-task-section/{section_id}/send-now": {
      "post": {
        "operationId": "sendClientTaskRequest",
        "summary": "Send Client Task Request",
        "description": "Send a client task reminder request immediately.",
        "tags": ["Client Task Reminders"],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "section_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Reminder sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientTaskReminder"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Personal access token or OAuth access token. Obtain from Settings > API Settings in the Financial Cents web application."
      }
    },
    "schemas": {
      "Client": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "company_id": { "type": "integer" },
          "name": { "type": "string" },
          "archived_at": { "type": "string", "format": "date-time", "nullable": true },
          "is_archived": { "type": "boolean" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "contacts": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Contact" }
          },
          "groups": {
            "type": "array",
            "items": { "type": "object" }
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "client_id": { "type": "integer" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email", "nullable": true },
          "phone": { "type": "string", "nullable": true },
          "mobile": { "type": "string", "nullable": true },
          "address": { "type": "string", "nullable": true },
          "notes": { "type": "string", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "client": {
            "nullable": true,
            "allOf": [{ "$ref": "#/components/schemas/ClientSummary" }]
          }
        }
      },
      "ContactWithClient": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "client_id": { "type": "integer" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email", "nullable": true },
          "phone": { "type": "string", "nullable": true },
          "mobile": { "type": "string", "nullable": true },
          "address": { "type": "string", "nullable": true },
          "notes": { "type": "string", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "client": {
            "$ref": "#/components/schemas/ClientSummary"
          }
        }
      },
      "ClientSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "company_id": { "type": "integer" },
          "name": { "type": "string" },
          "archived_at": { "type": "string", "format": "date-time", "nullable": true },
          "is_archived": { "type": "boolean" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "company_id": { "type": "integer" },
          "user_id": { "type": "integer" },
          "name": { "type": "string" },
          "type": { "type": "string", "description": "File type or \"folder\"." },
          "size": { "type": "integer" },
          "parent_id": { "type": "integer", "nullable": true },
          "items_count": { "type": "integer" },
          "download_url": { "type": "string" },
          "user": { "$ref": "#/components/schemas/UserSummary" },
          "contact": { "type": "object", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "company_id": { "type": "integer" },
          "template_id": { "type": "integer", "nullable": true },
          "title": { "type": "string" },
          "is_closed": { "type": "boolean" },
          "closed_at": { "type": "string", "format": "date-time", "nullable": true },
          "closed_by": { "type": "integer", "nullable": true },
          "start_date": { "type": "string", "format": "date-time", "nullable": true },
          "due_date": { "type": "string", "nullable": true },
          "internal_due_date": { "type": "string", "nullable": true },
          "snooze_until_date": { "type": "string", "nullable": true },
          "extension_due_date": { "type": "string", "nullable": true },
          "is_extended": { "type": "boolean" },
          "billing_rate": { "type": "number" },
          "accounting_period": { "type": "string", "nullable": true },
          "accounting_period_date": { "type": "string", "nullable": true },
          "computed_accounting_period": { "type": "string", "nullable": true },
          "service_item_id": { "type": "integer", "nullable": true },
          "client_tasks_count": { "type": "integer", "nullable": true },
          "completed_client_tasks_count": { "type": "integer", "nullable": true },
          "tasks_count": { "type": "integer", "nullable": true },
          "completed_tasks_count": { "type": "integer", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "tags": { "type": "array", "items": { "type": "object" } },
          "client": {
            "nullable": true,
            "allOf": [{ "$ref": "#/components/schemas/ClientSummary" }]
          }
        }
      },
      "TemplateDetail": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "company_id": { "type": "integer" },
          "title": { "type": "string" },
          "start_date": { "type": "string", "nullable": true },
          "due_date": { "type": "string", "nullable": true },
          "internal_due_date": { "type": "string", "nullable": true },
          "snooze_until_date": { "type": "string", "nullable": true },
          "extension_due_date": { "type": "string", "nullable": true },
          "billing_rate": { "type": "number" },
          "service_item_id": { "type": "integer", "nullable": true },
          "client_tasks_count": { "type": "integer" },
          "tasks": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TemplateTask" }
          }
        }
      },
      "TemplateSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "company_id": { "type": "integer" },
          "title": { "type": "string" },
          "start_date": { "type": "string", "nullable": true },
          "due_date": { "type": "string", "nullable": true },
          "internal_due_date": { "type": "string", "nullable": true },
          "snooze_until_date": { "type": "string", "nullable": true },
          "extension_due_date": { "type": "string", "nullable": true },
          "billing_rate": { "type": "number" },
          "service_item_id": { "type": "integer", "nullable": true },
          "client_tasks_count": { "type": "integer" },
          "roles": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ProjectRole" }
          }
        }
      },
      "TemplateTask": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "company_id": { "type": "integer" },
          "title": { "type": "string" },
          "description": { "type": "string", "nullable": true },
          "due_date": { "type": "string", "nullable": true },
          "is_completed": { "type": "boolean" },
          "list_index": { "type": "integer" },
          "completed_at": { "type": "string", "format": "date-time", "nullable": true },
          "budgeted_time": { "type": "number", "nullable": true },
          "is_recurring": { "type": "boolean" },
          "section": { "type": "object" }
        }
      },
      "ProjectResource": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "project_id": { "type": "integer" },
          "anchor_id": { "type": "string", "format": "uuid" },
          "label": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "list_index": { "type": "integer" },
          "type": { "type": "string", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "ClientResource": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "client_id": { "type": "integer" },
          "label": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "list_index": { "type": "integer" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "ClientNote": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string", "nullable": true },
          "text": { "type": "string", "description": "HTML content of the note." },
          "plain_text": { "type": "string", "description": "Plain text version of the note." },
          "is_pinned": { "type": "boolean", "nullable": true },
          "deleted_by": { "type": "integer", "nullable": true },
          "mentions": { "type": "array", "items": { "type": "object" }, "nullable": true },
          "client_id": { "type": "integer" },
          "user_id": { "type": "integer" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email", "nullable": true },
          "phone": { "type": "string", "nullable": true },
          "address": { "type": "string", "nullable": true },
          "last_active_at": { "type": "string", "format": "date-time", "nullable": true },
          "first_name": { "type": "string", "nullable": true },
          "last_name": { "type": "string", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "UserSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email", "nullable": true },
          "phone": { "type": "string", "nullable": true },
          "address": { "type": "string", "nullable": true },
          "last_active_at": { "type": "string", "format": "date-time", "nullable": true },
          "first_name": { "type": "string", "nullable": true },
          "last_name": { "type": "string", "nullable": true },
          "created_at": { "type": "string", "format": "date-time", "nullable": true },
          "updated_at": { "type": "string", "format": "date-time", "nullable": true }
        }
      },
      "Profile": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "company": {
            "type": "object",
            "properties": {
              "id": { "type": "integer" },
              "name": { "type": "string" }
            }
          }
        }
      },
      "ProjectRole": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "company_id": { "type": "integer" },
          "description": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "TimeActivity": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "date": { "type": "string", "format": "date-time" },
          "hours": { "type": "number" },
          "comments": { "type": "string", "nullable": true },
          "user": {
            "type": "object",
            "properties": {
              "id": { "type": "integer" },
              "name": { "type": "string" }
            }
          },
          "client": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": { "type": "integer" },
              "name": { "type": "string" }
            }
          },
          "project": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": { "type": "integer" },
              "title": { "type": "string" }
            }
          },
          "task": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": { "type": "integer" },
              "title": { "type": "string" }
            }
          },
          "service_item": { "type": "object", "nullable": true },
          "recorded_by": {
            "type": "object",
            "properties": {
              "id": { "type": "integer" },
              "name": { "type": "string" }
            }
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "company_id": { "type": "integer" },
          "title": { "type": "string" },
          "description": { "type": "string", "nullable": true },
          "due_date": { "type": "string", "format": "date-time", "nullable": true },
          "is_completed": { "type": "boolean" },
          "list_index": { "type": "integer" },
          "completed_at": { "type": "string", "format": "date-time", "nullable": true },
          "budgeted_time": { "type": "number", "nullable": true },
          "is_recurring": { "type": "boolean" },
          "sub_tasks_count": { "type": "integer" },
          "completed_sub_tasks_count": { "type": "integer" },
          "user": { "$ref": "#/components/schemas/User" },
          "project": { "$ref": "#/components/schemas/Project" }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "company_id": { "type": "integer" },
          "number": { "type": "string" },
          "due_date": { "type": "string", "format": "date-time", "nullable": true },
          "invoice_date": { "type": "string", "format": "date-time", "nullable": true },
          "frequency": { "type": "string" },
          "amount": { "type": "number" },
          "status": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "auto_finalize_at": { "type": "string", "format": "date-time", "nullable": true },
          "outstanding_amount": { "type": "number", "nullable": true },
          "qbo_last_sync_at": { "type": "string", "format": "date-time", "nullable": true },
          "qbo_sync_errors": { "type": "string", "nullable": true },
          "client": {
            "nullable": true,
            "allOf": [{ "$ref": "#/components/schemas/ClientSummary" }]
          },
          "representative_id": { "type": "integer", "nullable": true }
        }
      },
      "ClientTask": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "description": { "type": "string", "nullable": true },
          "type": { "type": "string" },
          "upload_url": { "type": "string", "nullable": true },
          "upload_button_label": { "type": "string", "nullable": true },
          "allow_client_uploads": { "type": "boolean" },
          "should_repeat": { "type": "boolean" },
          "completed_at": { "type": "string", "format": "date-time", "nullable": true },
          "is_completed": { "type": "boolean" },
          "due_date": { "type": "string", "format": "date-time", "nullable": true },
          "index": { "type": "integer" },
          "project": {
            "type": "object",
            "properties": {
              "id": { "type": "integer" },
              "title": { "type": "string" },
              "company_id": { "type": "integer" },
              "client_id": { "type": "integer" },
              "due_date": { "type": "string" },
              "closed": { "type": "boolean" },
              "client": {
                "type": "object",
                "properties": {
                  "id": { "type": "integer" },
                  "name": { "type": "string" }
                }
              }
            }
          }
        }
      },
      "ClientTaskReminder": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "project_id": { "type": "integer" },
          "section_id": { "type": "integer" },
          "user_id": { "type": "integer" },
          "days": { "type": "integer" },
          "starts_at": { "type": "string", "format": "date-time" },
          "is_active": { "type": "boolean" },
          "last_sent_at": { "type": "string", "format": "date-time", "nullable": true },
          "next_at": { "type": "string", "format": "date-time", "nullable": true },
          "is_custom": { "type": "boolean" },
          "contact_ids": { "type": "array", "items": { "type": "integer" }, "nullable": true },
          "notification_date_constraint": { "type": "string" },
          "constraint_days": { "type": "integer" },
          "section_dependency_id": { "type": "integer", "nullable": true },
          "user": { "$ref": "#/components/schemas/User" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "first": { "type": "string", "nullable": true },
          "last": { "type": "string", "nullable": true },
          "prev": { "type": "string", "nullable": true },
          "next": { "type": "string", "nullable": true }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": { "type": "integer" },
          "from": { "type": "integer", "nullable": true },
          "path": { "type": "string" },
          "per_page": { "type": "integer" },
          "to": { "type": "integer", "nullable": true }
        }
      },
      "PaginatedClientList": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Client" } },
          "links": { "$ref": "#/components/schemas/PaginationLinks" },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "PaginatedContactList": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/ContactWithClient" } },
          "links": { "$ref": "#/components/schemas/PaginationLinks" },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "PaginatedProjectList": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Project" } },
          "links": { "$ref": "#/components/schemas/PaginationLinks" },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "PaginatedTemplateList": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/TemplateSummary" } },
          "links": { "$ref": "#/components/schemas/PaginationLinks" },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "PaginatedAttachmentList": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Attachment" } },
          "links": { "$ref": "#/components/schemas/PaginationLinks" },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "PaginatedProjectResourceList": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/ProjectResource" } },
          "links": { "$ref": "#/components/schemas/PaginationLinks" },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "PaginatedClientResourceList": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/ClientResource" } },
          "links": { "$ref": "#/components/schemas/PaginationLinks" },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "PaginatedClientNoteList": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/ClientNote" } },
          "links": { "$ref": "#/components/schemas/PaginationLinks" },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "PaginatedUserList": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/User" } },
          "links": { "$ref": "#/components/schemas/PaginationLinks" },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "PaginatedTimeActivityList": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/TimeActivity" } },
          "links": { "$ref": "#/components/schemas/PaginationLinks" },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "PaginatedTaskList": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Task" } },
          "links": { "$ref": "#/components/schemas/PaginationLinks" },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "PaginatedInvoiceList": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Invoice" } },
          "links": { "$ref": "#/components/schemas/PaginationLinks" },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      },
      "PaginatedClientTaskList": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/ClientTask" } },
          "links": { "$ref": "#/components/schemas/PaginationLinks" },
          "meta": { "$ref": "#/components/schemas/PaginationMeta" }
        }
      }
    }
  }
}