{
  "openapi": "3.0.3",
  "info": {
    "title": "AidaForm API",
    "version": "1.0",
    "description": "AidaForm is a SaaS solution used to create and publish online forms and landing pages, collect and analyze response data.",
    "x-jentic-source-url": "https://app.swaggerhub.com/apis/aidaform/AidaForm/1.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.aidaform.com/v1"
    }
  ],
  "paths": {
    "/forms": {
      "get": {
        "operationId": "listForms",
        "summary": "Retrieve forms list",
        "tags": [
          "Forms"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Retrieve forms list"
      }
    },
    "/forms/{formId}/responses": {
      "get": {
        "operationId": "listFormResponses",
        "summary": "Retrieve responses list for the form",
        "tags": [
          "Responses"
        ],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Timestamp to filter responses not older than",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Timestamp to filter responses not newer than",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "marker",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Retrieve responses list for the form"
      }
    },
    "/forms/{formId}/responses/{responseId}.{format}": {
      "get": {
        "operationId": "getFormResponse",
        "summary": "Retrieve response data in specific format",
        "tags": [
          "Responses"
        ],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "pdf",
                "json",
                "xlsx",
                "html",
                "csv"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response data in requested format"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Retrieve response data in specific format"
      }
    }
  },
  "components": {
    "schemas": {
      "Form": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "Response": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "FormsListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Form"
            }
          },
          "count": {
            "type": "number"
          }
        }
      },
      "ResponsesListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Response"
            }
          },
          "count": {
            "type": "number"
          },
          "marker": {
            "type": "string"
          },
          "total": {
            "type": "number"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Forms"
    },
    {
      "name": "Responses"
    }
  ]
}
