{
  "openapi": "3.0.3",
  "info": {
    "title": "Terminal49 API Reference",
    "version": "0.2.0",
    "contact": {
      "name": "Terminal49 API support",
      "url": "https://www.terminal49.com",
      "email": "support@terminal49.com"
    },
    "description": "The Terminal 49 API offers a convenient way to programmatically track your shipments from origin to destination.\n\nPlease enter your API key into the \"Variables\" tab before using these endpoints within Postman.",
    "x-label": "Beta",
    "termsOfService": "https://www.terminal49.com/terms",
    "x-jentic-source-url": "https://raw.githubusercontent.com/Terminal49/API/main/docs/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.terminal49.com/v2",
      "description": "Production"
    }
  ],
  "paths": {
    "/shipments": {
      "get": {
        "summary": "List shipments",
        "tags": [
          "Shipments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/shipment"
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/container"
                          },
                          {
                            "$ref": "#/components/schemas/port"
                          },
                          {
                            "$ref": "#/components/schemas/terminal"
                          }
                        ]
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/links"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    }
                  }
                },
                "examples": {
                  "En-route to NY with inland move": {
                    "value": {
                      "data": [
                        {
                          "id": "62738624-7032-4a50-892e-c55826228c25",
                          "type": "shipment",
                          "attributes": {
                            "created_at": "2024-06-26T17:28:59Z",
                            "ref_numbers": [],
                            "tags": [],
                            "bill_of_lading_number": "OOLU2148468620",
                            "normalized_number": "2148468620",
                            "shipping_line_scac": "OOLU",
                            "shipping_line_name": "Orient Overseas Container Line",
                            "shipping_line_short_name": "OOCL",
                            "customer_name": "Sodor Steamworks",
                            "port_of_lading_locode": "CNNBG",
                            "port_of_lading_name": "Ningbo",
                            "port_of_discharge_locode": "USLAX",
                            "port_of_discharge_name": "Los Angeles",
                            "pod_vessel_name": "EVER FORWARD",
                            "pod_vessel_imo": "9850551",
                            "pod_voyage_number": "1119E",
                            "destination_locode": "USCLE",
                            "destination_name": "Cleveland",
                            "destination_timezone": "America/New_York",
                            "destination_ata_at": null,
                            "destination_eta_at": "2024-07-02T08:00:00Z",
                            "pol_etd_at": null,
                            "pol_atd_at": "2024-06-09T03:42:00Z",
                            "pol_timezone": "Asia/Shanghai",
                            "pod_eta_at": null,
                            "pod_original_eta_at": null,
                            "pod_ata_at": "2024-06-22T13:36:00Z",
                            "pod_timezone": "America/Los_Angeles",
                            "line_tracking_last_attempted_at": "2024-06-26T17:28:59Z",
                            "line_tracking_last_succeeded_at": "2024-06-26T17:28:59Z",
                            "line_tracking_stopped_at": null,
                            "line_tracking_stopped_reason": null
                          },
                          "links": {
                            "self": "/v2/shipments/62738624-7032-4a50-892e-c55826228c25"
                          },
                          "relationships": {
                            "port_of_lading": {
                              "data": {
                                "id": "2a90c27b-c2ee-45e2-892f-5c695d74e2d0",
                                "type": "port"
                              }
                            },
                            "port_of_discharge": {
                              "data": {
                                "id": "47b27584-4ec9-4e2f-95e1-7a42928cc40c",
                                "type": "port"
                              }
                            },
                            "pod_terminal": {
                              "data": {
                                "id": "42c53b13-0d29-4fa6-8663-7343a56319f1",
                                "type": "terminal"
                              }
                            },
                            "destination": {
                              "data": {
                                "id": "3b1cc325-ffe9-400a-82ce-f5c4891af382",
                                "type": "port"
                              }
                            },
                            "destination_terminal": {
                              "data": {
                                "id": "ce22669e-14b2-4501-b782-f0a360f07cd0",
                                "type": "terminal"
                              }
                            },
                            "line_tracking_stopped_by_user": {
                              "data": null
                            },
                            "containers": {
                              "data": [
                                {
                                  "id": "7aefc29e-0898-4825-8376-4f998b51d033",
                                  "type": "container"
                                }
                              ]
                            }
                          }
                        },
                        {
                          "id": "baaa725e-aa0e-4937-ac78-54d9e2e8621e",
                          "type": "shipment",
                          "attributes": {
                            "created_at": "2024-06-26T16:47:42Z",
                            "ref_numbers": [],
                            "tags": [],
                            "bill_of_lading_number": "HDMUTAOM72244900",
                            "normalized_number": "TAOM72244900",
                            "shipping_line_scac": "HDMU",
                            "shipping_line_name": "Hyundai Merchant Marine",
                            "shipping_line_short_name": "Hyundai",
                            "customer_name": "Sodor Steamworks",
                            "port_of_lading_locode": "CNQDG",
                            "port_of_lading_name": "Qingdao",
                            "port_of_discharge_locode": "USSAV",
                            "port_of_discharge_name": "Savannah",
                            "pod_vessel_name": "UMM SALAL",
                            "pod_vessel_imo": "9525857",
                            "pod_voyage_number": "0038E",
                            "destination_locode": "USROQ",
                            "destination_name": "Rossville",
                            "destination_timezone": "America/Chicago",
                            "destination_ata_at": null,
                            "destination_eta_at": "2024-06-30T07:05:00Z",
                            "pol_etd_at": null,
                            "pol_atd_at": "2024-05-07T03:01:00Z",
                            "pol_timezone": "Asia/Shanghai",
                            "pod_eta_at": null,
                            "pod_original_eta_at": null,
                            "pod_ata_at": "2024-06-20T21:27:00Z",
                            "pod_timezone": "America/New_York",
                            "line_tracking_last_attempted_at": "2024-06-26T16:48:04Z",
                            "line_tracking_last_succeeded_at": "2024-06-26T16:48:04Z",
                            "line_tracking_stopped_at": null,
                            "line_tracking_stopped_reason": null
                          },
                          "links": {
                            "self": "/v2/shipments/baaa725e-aa0e-4937-ac78-54d9e2e8621e"
                          },
                          "relationships": {
                            "port_of_lading": {
                              "data": {
                                "id": "0ccbe8af-c8d0-4abd-a842-3bfad1d82024",
                                "type": "port"
                              }
                            },
                            "port_of_discharge": {
                              "data": {
                                "id": "6129528d-846e-4571-ae16-b5328a4285ab",
                                "type": "port"
                              }
                            },
                            "pod_terminal": {
                              "data": {
                                "id": "a243bdf8-0da3-4056-a6a7-05fe8ab43999",
                                "type": "terminal"
                              }
                            },
                            "destination": {
                              "data": {
                                "id": "87ca3f37-e4d1-46eb-9eb1-6b5ffafde95d",
                                "type": "port"
                              }
                            },
                            "destination_terminal": {
                              "data": null
                            },
                            "line_tracking_stopped_by_user": {
                              "data": null
                            },
                            "containers": {
                              "data": [
                                {
                                  "id": "772cd872-9677-4c68-9b7a-4e9e843b00e2",
                                  "type": "container"
                                },
                                {
                                  "id": "52efc544-0de1-452f-bcf8-0290a6ce5c11",
                                  "type": "container"
                                },
                                {
                                  "id": "3107692e-61ad-4b4c-b3d4-78348b2e37ff",
                                  "type": "container"
                                }
                              ]
                            }
                          }
                        },
                        {
                          "id": "7721a48c-5e93-43c9-9f5f-5be10a87fdde",
                          "type": "shipment",
                          "attributes": {
                            "created_at": "2024-06-26T16:28:39Z",
                            "ref_numbers": [],
                            "tags": [],
                            "bill_of_lading_number": "OOLU2738424980",
                            "normalized_number": "2738424980",
                            "shipping_line_scac": "OOLU",
                            "shipping_line_name": "Orient Overseas Container Line",
                            "shipping_line_short_name": "OOCL",
                            "customer_name": "Sodor Steamworks",
                            "port_of_lading_locode": "ITSPE",
                            "port_of_lading_name": "La Spezia",
                            "port_of_discharge_locode": "USSAV",
                            "port_of_discharge_name": "Savannah",
                            "pod_vessel_name": "OOCL GUANGZHOU",
                            "pod_vessel_imo": "9404869",
                            "pod_voyage_number": "162E",
                            "destination_locode": "USATL",
                            "destination_name": "Atlanta",
                            "destination_timezone": "America/New_York",
                            "destination_ata_at": null,
                            "destination_eta_at": "2024-06-27T06:42:00Z",
                            "pol_etd_at": null,
                            "pol_atd_at": "2024-06-05T08:03:00Z",
                            "pol_timezone": "Europe/Rome",
                            "pod_eta_at": null,
                            "pod_original_eta_at": null,
                            "pod_ata_at": "2024-06-23T15:34:00Z",
                            "pod_timezone": "America/New_York",
                            "line_tracking_last_attempted_at": "2024-06-26T16:28:39Z",
                            "line_tracking_last_succeeded_at": "2024-06-26T16:28:39Z",
                            "line_tracking_stopped_at": null,
                            "line_tracking_stopped_reason": null
                          },
                          "links": {
                            "self": "/v2/shipments/7721a48c-5e93-43c9-9f5f-5be10a87fdde"
                          },
                          "relationships": {
                            "port_of_lading": {
                              "data": {
                                "id": "b5656766-a56f-4b32-8e03-d240e7519604",
                                "type": "port"
                              }
                            },
                            "port_of_discharge": {
                              "data": {
                                "id": "6129528d-846e-4571-ae16-b5328a4285ab",
                                "type": "port"
                              }
                            },
                            "pod_terminal": {
                              "data": {
                                "id": "a243bdf8-0da3-4056-a6a7-05fe8ab43999",
                                "type": "terminal"
                              }
                            },
                            "destination": {
                              "data": {
                                "id": "7daf9ea3-3018-4d62-b88c-43803df9030c",
                                "type": "port"
                              }
                            },
                            "destination_terminal": {
                              "data": {
                                "id": "022ef8fc-1e2a-4ad6-8eae-330d65eb1c8e",
                                "type": "terminal"
                              }
                            },
                            "line_tracking_stopped_by_user": {
                              "data": null
                            },
                            "containers": {
                              "data": [
                                {
                                  "id": "2a25fd3e-a18e-47cc-9cea-62771e82d0f2",
                                  "type": "container"
                                },
                                {
                                  "id": "6cdc725d-2b31-40f9-86dd-76225390a488",
                                  "type": "container"
                                },
                                {
                                  "id": "2f1e9a9d-4689-4f4d-84a8-64409b56521d",
                                  "type": "container"
                                }
                              ]
                            }
                          }
                        },
                        {
                          "id": "32b5ad78-43ba-42d9-bdc0-4cf12320e020",
                          "type": "shipment",
                          "attributes": {
                            "created_at": "2024-06-26T15:59:52Z",
                            "ref_numbers": [],
                            "tags": [],
                            "bill_of_lading_number": "OOLU2738277190",
                            "normalized_number": "2738277190",
                            "shipping_line_scac": "OOLU",
                            "shipping_line_name": "Orient Overseas Container Line",
                            "shipping_line_short_name": "OOCL",
                            "customer_name": "Sodor Steamworks",
                            "port_of_lading_locode": "CNQDG",
                            "port_of_lading_name": "Qingdao",
                            "port_of_discharge_locode": "USLAX",
                            "port_of_discharge_name": "Los Angeles",
                            "pod_vessel_name": "EVER FORWARD",
                            "pod_vessel_imo": "9850551",
                            "pod_voyage_number": "1119E",
                            "destination_locode": "USMEM",
                            "destination_name": "Memphis",
                            "destination_timezone": "America/Chicago",
                            "destination_ata_at": null,
                            "destination_eta_at": "2024-07-01T14:00:00Z",
                            "pol_etd_at": null,
                            "pol_atd_at": "2024-06-02T18:22:00Z",
                            "pol_timezone": "Asia/Shanghai",
                            "pod_eta_at": null,
                            "pod_original_eta_at": null,
                            "pod_ata_at": "2024-06-22T13:36:00Z",
                            "pod_timezone": "America/Los_Angeles",
                            "line_tracking_last_attempted_at": "2024-06-26T15:59:52Z",
                            "line_tracking_last_succeeded_at": "2024-06-26T15:59:52Z",
                            "line_tracking_stopped_at": null,
                            "line_tracking_stopped_reason": null
                          },
                          "links": {
                            "self": "/v2/shipments/32b5ad78-43ba-42d9-bdc0-4cf12320e020"
                          },
                          "relationships": {
                            "port_of_lading": {
                              "data": {
                                "id": "0ccbe8af-c8d0-4abd-a842-3bfad1d82024",
                                "type": "port"
                              }
                            },
                            "port_of_discharge": {
                              "data": {
                                "id": "47b27584-4ec9-4e2f-95e1-7a42928cc40c",
                                "type": "port"
                              }
                            },
                            "pod_terminal": {
                              "data": {
                                "id": "42c53b13-0d29-4fa6-8663-7343a56319f1",
                                "type": "terminal"
                              }
                            },
                            "destination": {
                              "data": {
                                "id": "ba0b9f68-2025-40ca-ae12-1c2210cca333",
                                "type": "port"
                              }
                            },
                            "destination_terminal": {
                              "data": {
                                "id": "d0ec0da1-8a3a-4b11-b1e3-5716bbc71dc3",
                                "type": "terminal"
                              }
                            },
                            "line_tracking_stopped_by_user": {
                              "data": null
                            },
                            "containers": {
                              "data": [
                                {
                                  "id": "60d2fd62-14e2-4ca2-a927-9633fc58fdff",
                                  "type": "container"
                                },
                                {
                                  "id": "0ffe3e75-b3df-4d20-b9f4-97bbbcec404d",
                                  "type": "container"
                                }
                              ]
                            }
                          }
                        },
                        {
                          "id": "bd117d3b-8fa4-487c-9bab-25c15e227d1a",
                          "type": "shipment",
                          "attributes": {
                            "created_at": "2024-06-26T15:59:35Z",
                            "ref_numbers": [],
                            "tags": [],
                            "bill_of_lading_number": "OOLU2147973020",
                            "normalized_number": "2147973020",
                            "shipping_line_scac": "OOLU",
                            "shipping_line_name": "Orient Overseas Container Line",
                            "shipping_line_short_name": "OOCL",
                            "customer_name": "Sodor Steamworks",
                            "port_of_lading_locode": "IDSUB",
                            "port_of_lading_name": "Surabaya",
                            "port_of_discharge_locode": "USLAX",
                            "port_of_discharge_name": "Los Angeles",
                            "pod_vessel_name": "CMA CGM A.LINCOLN",
                            "pod_vessel_imo": "9780859",
                            "pod_voyage_number": "1TU70E1MA",
                            "destination_locode": null,
                            "destination_name": null,
                            "destination_timezone": null,
                            "destination_ata_at": null,
                            "destination_eta_at": null,
                            "pol_etd_at": null,
                            "pol_atd_at": "2024-05-14T02:37:00Z",
                            "pol_timezone": "Asia/Jakarta",
                            "pod_eta_at": null,
                            "pod_original_eta_at": null,
                            "pod_ata_at": "2024-06-23T21:58:00Z",
                            "pod_timezone": "America/Los_Angeles",
                            "line_tracking_last_attempted_at": "2024-06-26T15:59:35Z",
                            "line_tracking_last_succeeded_at": "2024-06-26T15:59:35Z",
                            "line_tracking_stopped_at": null,
                            "line_tracking_stopped_reason": null
                          },
                          "links": {
                            "self": "/v2/shipments/bd117d3b-8fa4-487c-9bab-25c15e227d1a"
                          },
                          "relationships": {
                            "port_of_lading": {
                              "data": {
                                "id": "4201ab42-c51f-48ac-b7a1-12146e02c6a2",
                                "type": "port"
                              }
                            },
                            "port_of_discharge": {
                              "data": {
                                "id": "47b27584-4ec9-4e2f-95e1-7a42928cc40c",
                                "type": "port"
                              }
                            },
                            "pod_terminal": {
                              "data": {
                                "id": "eaa2580c-5f5b-4198-85e4-821145d62098",
                                "type": "terminal"
                              }
                            },
                            "destination": {
                              "data": null
                            },
                            "destination_terminal": {
                              "data": null
                            },
                            "line_tracking_stopped_by_user": {
                              "data": null
                            },
                            "containers": {
                              "data": [
                                {
                                  "id": "815ff702-fdb5-4455-a28e-314c345d7481",
                                  "type": "container"
                                }
                              ]
                            }
                          }
                        }
                      ],
                      "meta": {
                        "size": 5,
                        "total": 34044
                      },
                      "links": {
                        "self": "https://api.terminal49.com/v2/shipments?page[size]=5",
                        "current": "https://api.terminal49.com/v2/shipments?page[number]=1&page[size]=5",
                        "next": "https://api.terminal49.com/v2/shipments?page[number]=2&page[size]=5",
                        "last": "https://api.terminal49.com/v2/shipments?page[number]=6809&page[size]=5"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                },
                "examples": {
                  "Errors": {
                    "value": {
                      "error": [
                        {
                          "title": "Invalid arrival_date_from",
                          "detail": "filter['arrival_from'] must be in the format 'YYYY-MM-DD' and a valid date"
                        },
                        {
                          "title": "Invalid arrival_date_to",
                          "detail": "filter['arrival_from'] must be in the format 'YYYY-MM-DD' and a valid date"
                        },
                        {
                          "title": "Invalid port_of_lading",
                          "detail": "port_of_discharge must be an array of 5 character UN/LOCODEs"
                        },
                        {
                          "title": "Invalid port_of_discharge",
                          "detail": "port_of_discharge must be an array of 5 character UN/LOCODEs"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-shipments",
        "description": "Returns a list of your shipments. The shipments are returned sorted by creation date, with the most recent shipments appearing first.\n\nThis api will return all shipments associated with the account. Shipments created via the `tracking_request` API aswell as the ones added via the dashboard will be retuned via this endpoint. ",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": 1
            },
            "in": "query",
            "name": "page[number]",
            "description": "\n"
          },
          {
            "schema": {
              "type": "integer",
              "default": 30
            },
            "in": "query",
            "name": "page[size]",
            "description": "\n"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "q",
            "description": "\nSearch shipments by master bill of lading, reference number, or container number.",
            "deprecated": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "include",
            "description": "Comma delimited list of relations to include"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "number",
            "description": "Search shipments by the original request tracking `request_number`"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "filter[tracking_stopped]",
            "description": "Filter shipments by whether they are still tracking or not"
          }
        ]
      }
    },
    "/shipments/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Shipment Id"
        }
      ],
      "get": {
        "summary": "Get a shipment",
        "tags": [
          "Shipments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/shipment"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/container"
                          },
                          {
                            "$ref": "#/components/schemas/port"
                          },
                          {
                            "$ref": "#/components/schemas/terminal"
                          }
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "En-route to NY with inland move": {
                    "value": {
                      "data": {
                        "id": "02b1bd6f-407c-45bb-8645-06e7ee34e7e3",
                        "type": "shipment",
                        "attributes": {
                          "created_at": "2024-06-26T15:05:20Z",
                          "ref_numbers": [],
                          "tags": [],
                          "bill_of_lading_number": "MEDUF5399896",
                          "normalized_number": "MEDUF5399896",
                          "shipping_line_scac": "MSCU",
                          "shipping_line_name": "Mediterranean Shipping Company",
                          "shipping_line_short_name": "MSC",
                          "customer_name": "Sodor Steamworks",
                          "port_of_lading_locode": "FRLEH",
                          "port_of_lading_name": "Le Havre",
                          "port_of_discharge_locode": "USNYC",
                          "port_of_discharge_name": "New York / New Jersey",
                          "pod_vessel_name": "MSC ANISHA R.",
                          "pod_vessel_imo": "9227297",
                          "pod_voyage_number": "421A",
                          "destination_locode": "USIND",
                          "destination_name": "Indianapolis",
                          "destination_timezone": "US/Eastern",
                          "destination_ata_at": null,
                          "destination_eta_at": null,
                          "pol_etd_at": null,
                          "pol_atd_at": "2024-06-11T22:00:00Z",
                          "pol_timezone": "Europe/Paris",
                          "pod_eta_at": null,
                          "pod_original_eta_at": null,
                          "pod_ata_at": null,
                          "pod_timezone": "America/New_York",
                          "line_tracking_last_attempted_at": "2024-06-26T15:05:20Z",
                          "line_tracking_last_succeeded_at": "2024-06-26T15:05:20Z",
                          "line_tracking_stopped_at": null,
                          "line_tracking_stopped_reason": null
                        },
                        "links": {
                          "self": "/v2/shipments/02b1bd6f-407c-45bb-8645-06e7ee34e7e3"
                        },
                        "relationships": {
                          "port_of_lading": {
                            "data": {
                              "id": "fe7fc831-8a81-4079-8938-b90015912e8b",
                              "type": "port"
                            }
                          },
                          "port_of_discharge": {
                            "data": {
                              "id": "f7cb530a-9e60-412c-a5bc-205a2f34ba54",
                              "type": "port"
                            }
                          },
                          "pod_terminal": {
                            "data": {
                              "id": "b859f5c3-8515-41da-bf20-39c0a5ada887",
                              "type": "terminal"
                            }
                          },
                          "destination": {
                            "data": {
                              "id": "e1e492f6-c8ba-45a9-ad1a-67a7e74547ce",
                              "type": "port"
                            }
                          },
                          "destination_terminal": {
                            "data": null
                          },
                          "line_tracking_stopped_by_user": {
                            "data": null
                          },
                          "containers": {
                            "data": [
                              {
                                "id": "55a700e4-7005-45a9-92fd-1ff38641dbd9",
                                "type": "container"
                              }
                            ]
                          }
                        }
                      },
                      "links": {
                        "self": "https://api.terminal49.com/v2/shipments/02b1bd6f-407c-45bb-8645-06e7ee34e7e3?include=containers"
                      },
                      "included": [
                        {
                          "id": "55a700e4-7005-45a9-92fd-1ff38641dbd9",
                          "type": "container",
                          "attributes": {
                            "number": "CAIU7432986",
                            "seal_number": null,
                            "created_at": "2024-06-26T15:05:21Z",
                            "ref_numbers": [],
                            "pod_arrived_at": null,
                            "pod_discharged_at": "2024-06-22T04:00:00Z",
                            "final_destination_full_out_at": null,
                            "holds_at_pod_terminal": [],
                            "available_for_pickup": true,
                            "equipment_type": "dry",
                            "equipment_length": 40,
                            "equipment_height": "high_cube",
                            "weight_in_lbs": null,
                            "pod_full_out_at": null,
                            "empty_terminated_at": null,
                            "terminal_checked_at": "2024-06-26T17:51:12Z",
                            "fees_at_pod_terminal": [],
                            "pickup_lfd": "2024-07-07T04:00:00Z",
                            "pickup_appointment_at": null,
                            "pod_full_out_chassis_number": null,
                            "location_at_pod_terminal": "Yard - Y0709A",
                            "pod_last_tracking_request_at": "2024-06-26T17:51:12Z",
                            "shipment_last_tracking_request_at": "2024-06-26T15:05:20Z",
                            "availability_known": true,
                            "pod_timezone": "America/New_York",
                            "final_destination_timezone": "US/Eastern",
                            "empty_terminated_timezone": "US/Eastern",
                            "pod_rail_carrier_scac": "CSXT",
                            "ind_rail_carrier_scac": "CSXT",
                            "pod_rail_loaded_at": null,
                            "pod_rail_departed_at": null,
                            "ind_eta_at": null,
                            "ind_ata_at": null,
                            "ind_rail_unloaded_at": null,
                            "ind_facility_lfd_on": null,
                            "import_deadlines": {
                              "pickup_lfd_terminal": "2024-07-07T04:00:00Z",
                              "pickup_lfd_rail": null,
                              "pickup_lfd_line": "2024-07-07T04:00:00Z"
                            },
                            "current_status": "available"
                          },
                          "relationships": {
                            "shipment": {
                              "data": {
                                "id": "02b1bd6f-407c-45bb-8645-06e7ee34e7e3",
                                "type": "shipment"
                              }
                            },
                            "pickup_facility": {
                              "data": null
                            },
                            "pod_terminal": {
                              "data": {
                                "id": "b859f5c3-8515-41da-bf20-39c0a5ada887",
                                "type": "terminal"
                              }
                            },
                            "transport_events": {
                              "data": [
                                {
                                  "id": "45b542cb-332b-4684-b915-42e3a0759823",
                                  "type": "transport_event"
                                },
                                {
                                  "id": "174ed528-a1a9-4002-aef0-f2c9369199da",
                                  "type": "transport_event"
                                },
                                {
                                  "id": "7a2f30a6-a756-4c14-9477-fbfc1c7fe2f8",
                                  "type": "transport_event"
                                },
                                {
                                  "id": "e7365004-175a-46e8-96cd-dbed0f3daf21",
                                  "type": "transport_event"
                                },
                                {
                                  "id": "7c567bf3-7f01-4a3d-a176-eaa1f7165585",
                                  "type": "transport_event"
                                }
                              ]
                            },
                            "raw_events": {
                              "data": [
                                {
                                  "id": "2956f71c-bfb9-4e49-b9e2-1b4d53c74cac",
                                  "type": "raw_event"
                                },
                                {
                                  "id": "391e0eda-65b5-4fc3-a53d-25ecd9570259",
                                  "type": "raw_event"
                                },
                                {
                                  "id": "74810c04-6c8a-4194-8cff-52936584a965",
                                  "type": "raw_event"
                                },
                                {
                                  "id": "4b1500e2-b23b-4896-87bd-c38b1d16f385",
                                  "type": "raw_event"
                                },
                                {
                                  "id": "8b9a7d88-720a-4304-8c1e-a3336e39f481",
                                  "type": "raw_event"
                                },
                                {
                                  "id": "bf1f59c5-5dd8-4013-87f9-d7056bc87114",
                                  "type": "raw_event"
                                }
                              ]
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                },
                "examples": {
                  "Not Found": {
                    "value": {
                      "errors": [
                        {
                          "status": "404",
                          "title": "Not Found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                },
                "examples": {
                  "invalid_rotation": {
                    "summary": "Invalid rotation degrees",
                    "value": {
                      "errors": [
                        {
                          "status": "422",
                          "title": "Invalid rotation",
                          "detail": "degrees must be one of: 90, 180, 270"
                        }
                      ]
                    }
                  },
                  "no_document_attached": {
                    "summary": "No file attached",
                    "value": {
                      "errors": [
                        {
                          "status": "422",
                          "title": "No document attached"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-shipment-id",
        "description": "Retrieves the details of an existing shipment. You need only supply the unique shipment `id` that was returned upon `tracking_request` creation.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "include",
            "description": "Comma delimited list of relations to include"
          }
        ]
      },
      "patch": {
        "summary": "Edit a shipment",
        "operationId": "patch-shipments-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/shipment"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Update a shipment",
        "tags": [
          "Shipments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "attributes"
                    ],
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "ref_numbers": {
                            "type": "array",
                            "example": [
                              "REFNUMBER10"
                            ],
                            "description": "Shipment ref numbers.",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tags": {
                            "type": "array",
                            "x-stoplight": {
                              "id": "02itol38fmg55"
                            },
                            "uniqueItems": true,
                            "description": "Tags related to a shipment",
                            "items": {
                              "x-stoplight": {
                                "id": "64x90wvr9d6nd"
                              },
                              "type": "string",
                              "example": "tag1, tag2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipments/{id}/stop_tracking": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "patch": {
        "summary": "Stop tracking a shipment",
        "operationId": "patch-shipments-id-stop-tracking",
        "tags": [
          "Shipments"
        ],
        "description": "We'll stop tracking the shipment, which means that there will be no more updates.  You can still access the shipment's previously-collected information via the API or dashboard.\n\nYou can resume tracking a shipment by calling the `resume_tracking` endpoint, but keep in mind that some information is only made available by our data sources at specific times, so a stopped and resumed shipment may have some information missing.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/shipment"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipments/{id}/resume_tracking": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "patch": {
        "summary": "Resume tracking a shipment",
        "operationId": "patch-shipments-id-resume-tracking",
        "tags": [
          "Shipments"
        ],
        "description": "Resume tracking a shipment.  Keep in mind that some information is only made available by our data sources at specific times, so a stopped and resumed shipment may have some information missing.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/shipment"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tracking_requests": {
      "post": {
        "summary": "Create a tracking request",
        "operationId": "post-track",
        "responses": {
          "201": {
            "description": "Tracking Request Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/tracking_request"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/account"
                          },
                          {
                            "$ref": "#/components/schemas/shipping_line"
                          }
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "Pending Tracking Request": {
                    "value": {
                      "data": {
                        "id": "ba4cb904-827f-4038-8e31-1e92b3356218",
                        "type": "tracking_request",
                        "attributes": {
                          "request_number": "MEDUFR030802",
                          "request_type": "bill_of_lading",
                          "scac": "MSCU",
                          "ref_numbers": [],
                          "created_at": "2020-04-04T16:13:35-07:00",
                          "updated_at": "2020-04-04T17:13:35-07:00",
                          "status": "pending",
                          "failed_reason": null
                        },
                        "relationships": {
                          "tracked_object": {
                            "data": null
                          },
                          "customer": {
                            "data": {
                              "id": "f7cb530a-9e60-412c-a5bc-205a2f34ba54",
                              "type": "party"
                            }
                          }
                        },
                        "links": {
                          "self": "/v2/tracking_requests/ba4cb904-827f-4038-8e31-1e92b3356218"
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                },
                "examples": {
                  "Error Examples": {
                    "value": {
                      "errors": [
                        {
                          "status": "422",
                          "source": {
                            "pointer": "/data/attributes/scac"
                          },
                          "title": "Unprocessable Entity",
                          "detail": "Scac can't be blank",
                          "code": "blank"
                        },
                        {
                          "status": "422",
                          "source": {
                            "pointer": "/data/attributes/scac"
                          },
                          "title": "Unprocessable Entity",
                          "detail": "Scac 'XXXX' is not recognized",
                          "code": "blank"
                        },
                        {
                          "status": "422",
                          "source": {
                            "pointer": "/data/attributes/scac"
                          },
                          "title": "Unprocessable Entity",
                          "detail": "Scac 'UALC' is not supported. We do not currently integrate with Universal Africa Lines",
                          "code": "blank"
                        },
                        {
                          "status": "422",
                          "source": {
                            "pointer": "/data/attributes/request_number"
                          },
                          "title": "Unprocessable Entity",
                          "detail": "Request number can't be blank",
                          "code": "blank"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - You've hit the create tracking requests limit. Please try again in a minute.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "example": "429"
                          },
                          "title": {
                            "type": "string",
                            "example": "Too Many Requests"
                          },
                          "detail": {
                            "type": "string",
                            "example": "You've hit the create tracking requests limit. Please try again in a minute."
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before making another request",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "request_type": {
                            "type": "string",
                            "example": "bill_of_lading",
                            "enum": [
                              "bill_of_lading",
                              "booking_number",
                              "container"
                            ],
                            "description": " The type of document number to be supplied. Container number support is currently in BETA."
                          },
                          "request_number": {
                            "type": "string",
                            "example": "MEDUFR030802"
                          },
                          "scac": {
                            "type": "string",
                            "example": "MSCU",
                            "minLength": 4,
                            "maxLength": 4
                          },
                          "ref_numbers": {
                            "type": "array",
                            "description": "Optional list of reference numbers to be added to the shipment when tracking request completes",
                            "items": {
                              "type": "string"
                            }
                          },
                          "shipment_tags": {
                            "type": "array",
                            "description": "Optional list of tags to be added to the shipment when tracking request completes",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "request_type",
                          "request_number",
                          "scac"
                        ]
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "customer": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "party"
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "type": {
                        "enum": [
                          "tracking_request"
                        ],
                        "type": "string"
                      }
                    },
                    "required": [
                      "type"
                    ]
                  }
                }
              },
              "examples": {
                "Example: MSC BL": {
                  "value": {
                    "data": {
                      "attributes": {
                        "request_type": "bill_of_lading",
                        "request_number": "MEDUFR030802",
                        "ref_numbers": [
                          "PO12345",
                          "HBL12345",
                          "CUSREF1234"
                        ],
                        "shipment_tags": [
                          "camembert"
                        ],
                        "scac": "MSCU"
                      },
                      "relationships": {
                        "customer": {
                          "data": {
                            "id": "f7cb530a-9e60-412c-a5bc-205a2f34ba54",
                            "type": "party"
                          }
                        }
                      },
                      "type": "tracking_request"
                    }
                  }
                }
              }
            }
          },
          "description": "Create a shipment tracking request"
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "description": "To track an ocean shipment, you create a new tracking request. \nTwo attributes are required to track a shipment. A `bill of lading/booking number` and a shipping line `SCAC`. \n\nOnce a tracking request is created we will attempt to fetch the shipment details and it's related containers from the shipping line. If the attempt is successful we will create in new shipment object including any related container objects. We will send a `tracking_request.succeeded` webhook notification to your webhooks.  \n\nIf the attempt to fetch fails then we will send a `tracking_request.failed` webhook notification to your `webhooks`.  \n\nA `tracking_request.succeeded` or `tracking_request.failed` webhook notificaiton will only be sent  if you have  atleast one active webhook. <br /><br /><Info>This endpoint is limited to 100 tracking requests per minute.</Info>",
        "tags": [
          "Tracking Requests"
        ],
        "parameters": []
      },
      "parameters": [],
      "get": {
        "summary": "List tracking requests",
        "operationId": "get-tracking-requests",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/tracking_request"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/links"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/account"
                          },
                          {
                            "$ref": "#/components/schemas/shipping_line"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "shipment"
                                ]
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            },
                            "description": ""
                          }
                        ]
                      }
                    }
                  }
                },
                "examples": {}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                },
                "examples": {
                  "Not Found": {
                    "value": {
                      "errors": [
                        {
                          "status": "404",
                          "title": "Not Found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Returns a list of your tracking requests. The tracking requests are returned sorted by creation date, with the most recent tracking request appearing first.",
        "tags": [
          "Tracking Requests"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "q",
            "description": "A search term to be applied against request_number and reference_numbers.",
            "deprecated": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[request_number]",
            "description": "filter by `request_number`"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "pending",
                "failed"
              ],
              "example": "created"
            },
            "in": "query",
            "name": "filter[status]",
            "description": "filter by `status`"
          },
          {
            "schema": {
              "type": "string",
              "example": "MSCU"
            },
            "in": "query",
            "name": "filter[scac]",
            "description": "filter by shipping line `scac`"
          },
          {
            "schema": {
              "type": "string",
              "example": "2020-04-28T22:59:15Z",
              "format": "date-time"
            },
            "in": "query",
            "name": "filter[created_at][start]",
            "description": "filter by tracking_requests `created_at` after a certain ISO8601 timestamp"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2020-04-28T22:59:15Z"
            },
            "in": "query",
            "description": "filter by tracking_requests `created_at` before a certain ISO8601 timestamp",
            "name": "filter[created_at][end]"
          },
          {
            "schema": {
              "type": "string",
              "example": "2020-04-28T22:59:15Z",
              "format": "date-time"
            },
            "in": "query",
            "name": "filter[updated_at][start]",
            "description": "filter by tracking_requests `updated_at` after a certain ISO8601 timestamp"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2020-04-28T22:59:15Z"
            },
            "in": "query",
            "description": "filter by tracking_requests `updated_at` before a certain ISO8601 timestamp",
            "name": "filter[updated_at][end]"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "include",
            "description": "Comma delimited list of relations to include. 'tracked_object' is included by default."
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page[number]"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page[size]"
          }
        ]
      }
    },
    "/tracking_requests/infer_number": {
      "post": {
        "summary": "Infer Tracking Number",
        "operationId": "post-infer-number",
        "x-beta": true,
        "description": "Predict the carrier SCAC (VOCC) and number type from a tracking number. Provide a container number, bill of lading number, or booking number and receive the predicted carrier with confidence and a decision value. Use this to auto-populate carrier fields before creating a tracking request.",
        "tags": [
          "Tracking Requests"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "The tracking number to analyze (container number, bill of lading, or booking number)",
                    "example": "WHLU1234560"
                  }
                },
                "required": [
                  "number"
                ]
              },
              "examples": {
                "Container Number": {
                  "value": {
                    "number": "WHLU1234560"
                  }
                },
                "Bill of Lading": {
                  "value": {
                    "number": "EGLV084900042045"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully inferred number type and shipping line",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "req_123e4567-e89b-12d3-a456-426614174000"
                        },
                        "type": {
                          "type": "string",
                          "example": "infer_number_results"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "number_type": {
                              "type": "string",
                              "enum": [
                                "container",
                                "bill_of_lading",
                                "booking"
                              ]
                            },
                            "validation": {
                              "type": "object",
                              "properties": {
                                "is_valid": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "container",
                                    "shipment"
                                  ]
                                },
                                "check_digit_passed": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "parsed_number": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "reason": {
                                  "type": "string",
                                  "nullable": true
                                }
                              }
                            },
                            "shipping_line": {
                              "type": "object",
                              "properties": {
                                "decision": {
                                  "type": "string",
                                  "enum": [
                                    "auto_select",
                                    "needs_confirmation",
                                    "no_prediction"
                                  ]
                                },
                                "selected": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "scac": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "confidence": {
                                      "type": "number"
                                    }
                                  }
                                },
                                "candidates": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "scac": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "confidence": {
                                        "type": "number"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Container - Auto Select": {
                    "value": {
                      "data": {
                        "id": "req_123e4567-e89b-12d3-a456-426614174000",
                        "type": "infer_number_results",
                        "attributes": {
                          "number_type": "container",
                          "validation": {
                            "is_valid": true,
                            "type": "container",
                            "check_digit_passed": true,
                            "parsed_number": null,
                            "reason": null
                          },
                          "shipping_line": {
                            "decision": "auto_select",
                            "selected": {
                              "scac": "WHLC",
                              "name": "Wan Hai Lines",
                              "confidence": 1
                            },
                            "candidates": [
                              {
                                "scac": "WHLC",
                                "name": "Wan Hai Lines",
                                "confidence": 1
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Invalid tracking number format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string"
                          },
                          "detail": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Invalid Number": {
                    "value": {
                      "errors": [
                        {
                          "status": "422",
                          "detail": "This reference number is not valid."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string"
                          },
                          "detail": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Rate Limit Exceeded": {
                    "value": {
                      "errors": [
                        {
                          "status": "429",
                          "detail": "Rate limit exceeded"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before making another request",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              }
            }
          }
        },
        "security": [
          {
            "authorization": []
          }
        ]
      }
    },
    "/tracking_requests/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Tracking Request ID"
        }
      ],
      "get": {
        "summary": "Get a single tracking request",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/tracking_request"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/account"
                          },
                          {
                            "$ref": "#/components/schemas/shipment"
                          },
                          {
                            "$ref": "#/components/schemas/shipping_line"
                          }
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "With Status Created": {
                    "value": {
                      "data": {
                        "id": "ba4cb904-827f-4038-8e31-1e92b3356218",
                        "type": "tracking_request",
                        "attributes": {
                          "request_number": "MEDUFR030802",
                          "request_type": "bill_of_lading",
                          "scac": "MSCU",
                          "ref_numbers": [],
                          "created_at": "2020-04-04T16:13:35-07:00",
                          "updated_at": "2020-04-04T17:13:35-07:00",
                          "status": "created",
                          "failed_reason": null
                        },
                        "relationships": {
                          "tracked_object": {
                            "data": {
                              "id": "eb6f218a-0b4a-47f9-8ef9-759aa5e0ea83",
                              "type": "shipment"
                            }
                          }
                        },
                        "links": {
                          "self": "/v2/tracking_requests/ba4cb904-827f-4038-8e31-1e92b3356218"
                        }
                      },
                      "included": [
                        {
                          "id": "eb6f218a-0b4a-47f9-8ef9-759aa5e0ea83",
                          "type": "shipment",
                          "attributes": {
                            "created_at": "2020-04-04T16:13:37-07:00",
                            "bill_of_lading_number": "MEDUFR030802",
                            "ref_numbers": [],
                            "shipping_line_scac": "MSCU",
                            "shipping_line_name": "Mediterranean Shipping Company",
                            "port_of_lading_locode": "FRFOS",
                            "port_of_lading_name": "Fos-Sur-Mer",
                            "port_of_discharge_locode": "USOAK",
                            "port_of_discharge_name": "Oakland",
                            "pod_vessel_name": "MSC ALGECIRAS",
                            "pod_vessel_imo": "9605243",
                            "pod_voyage_number": "920A",
                            "destination_locode": "USOAK",
                            "destination_name": "Oakland",
                            "destination_timezone": "America/Los_Angeles",
                            "destination_ata_at": "2019-06-21T18:46:00-07:00",
                            "destination_eta_at": null,
                            "pol_etd_at": null,
                            "pol_atd_at": "2019-05-24T03:00:00-07:00",
                            "pol_timezone": "Europe/Paris",
                            "pod_eta_at": null,
                            "pod_ata_at": "2019-06-21T18:46:00-07:00",
                            "pod_timezone": "America/Los_Angeles"
                          },
                          "relationships": {
                            "port_of_lading": {
                              "data": {
                                "id": "6d8c6c29-72a6-49ad-87b7-fd045f202212",
                                "type": "port"
                              }
                            },
                            "port_of_discharge": {
                              "data": {
                                "id": "42d1ba3a-f4b8-431d-a6fe-49fd748a59e7",
                                "type": "port"
                              }
                            },
                            "pod_terminal": {
                              "data": null
                            },
                            "destination": {
                              "data": {
                                "id": "42d1ba3a-f4b8-431d-a6fe-49fd748a59e7",
                                "type": "port"
                              }
                            },
                            "containers": {
                              "data": [
                                {
                                  "id": "11c1fa10-52a5-48e2-82f4-5523756b3d0f",
                                  "type": "container"
                                }
                              ]
                            }
                          },
                          "links": {
                            "self": "/v2/shipments/eb6f218a-0b4a-47f9-8ef9-759aa5e0ea83"
                          }
                        }
                      ]
                    }
                  },
                  "Multiple containers": {
                    "value": {
                      "data": {
                        "id": "62c30bd4-d7fc-40dc-9fd6-fb39224301f5",
                        "type": "tracking_request",
                        "attributes": {
                          "request_number": "212157148",
                          "request_type": "bill_of_lading",
                          "scac": "MAEU",
                          "ref_numbers": [],
                          "shipment_tags": [],
                          "created_at": "2021-07-27T16:44:14Z",
                          "updated_at": "2021-07-27T17:44:14Z",
                          "status": "created",
                          "failed_reason": null,
                          "is_retrying": false,
                          "retry_count": null
                        },
                        "relationships": {
                          "tracked_object": {
                            "data": {
                              "id": "dfc9f601-f6fe-412e-a71c-feabcc2dd4e3",
                              "type": "shipment"
                            }
                          },
                          "customer": {
                            "data": null
                          }
                        },
                        "links": {
                          "self": "/v2/tracking_requests/62c30bd4-d7fc-40dc-9fd6-fb39224301f5"
                        }
                      },
                      "links": {
                        "self": "https://api.terminal49.com/v2/tracking_requests/62c30bd4-d7fc-40dc-9fd6-fb39224301f5?filter%5Bstatus%5D=created"
                      },
                      "included": [
                        {
                          "id": "dfc9f601-f6fe-412e-a71c-feabcc2dd4e3",
                          "type": "shipment",
                          "attributes": {
                            "created_at": "2021-07-27T16:44:16Z",
                            "ref_numbers": null,
                            "tags": [],
                            "bill_of_lading_number": "212157148",
                            "shipping_line_scac": "MAEU",
                            "shipping_line_name": "Maersk",
                            "shipping_line_short_name": "Maersk",
                            "port_of_lading_locode": "MYTPP",
                            "port_of_lading_name": "Tanjung Pelepas",
                            "port_of_discharge_locode": null,
                            "port_of_discharge_name": null,
                            "pod_vessel_name": null,
                            "pod_vessel_imo": null,
                            "pod_voyage_number": null,
                            "destination_locode": null,
                            "destination_name": null,
                            "destination_timezone": null,
                            "destination_ata_at": null,
                            "destination_eta_at": null,
                            "pol_etd_at": null,
                            "pol_atd_at": null,
                            "pol_timezone": "Asia/Kuala_Lumpur",
                            "pod_eta_at": "2021-09-15T15:00:00Z",
                            "pod_ata_at": null,
                            "pod_timezone": null,
                            "line_tracking_last_attempted_at": null,
                            "line_tracking_last_succeeded_at": "2021-07-27T16:44:16Z",
                            "line_tracking_stopped_at": null,
                            "line_tracking_stopped_reason": null
                          },
                          "relationships": {
                            "port_of_lading": {
                              "data": {
                                "id": "6c387786-252c-476d-9f99-7d835b6b978b",
                                "type": "port"
                              }
                            },
                            "port_of_discharge": {
                              "data": null
                            },
                            "pod_terminal": {
                              "data": null
                            },
                            "destination": {
                              "data": null
                            },
                            "destination_terminal": {
                              "data": null
                            },
                            "containers": {
                              "data": [
                                {
                                  "id": "965880c9-a37e-4ed7-a060-9c49c0f0c5ed",
                                  "type": "container"
                                },
                                {
                                  "id": "ea1f8e08-fcdf-498d-9cb5-0c370b023eeb",
                                  "type": "container"
                                },
                                {
                                  "id": "67f55105-8ea2-4137-9244-f9cc204f5766",
                                  "type": "container"
                                },
                                {
                                  "id": "5ab5d058-772c-466c-bc73-0b8767ad5a79",
                                  "type": "container"
                                }
                              ]
                            }
                          },
                          "links": {
                            "self": "/v2/shipments/dfc9f601-f6fe-412e-a71c-feabcc2dd4e3"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                },
                "examples": {
                  "Not Found": {
                    "value": {
                      "errors": [
                        {
                          "status": "404",
                          "title": "Not Found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-track-request-by-id",
        "description": "Get the details and status of an existing tracking request. ",
        "tags": [
          "Tracking Requests"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "include",
            "description": "Comma delimited list of relations to include. 'tracked_object' is included by default."
          }
        ],
        "x-internal": false
      },
      "patch": {
        "summary": "Edit a tracking request",
        "operationId": "patch-track-request-by-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/tracking_request"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Update a tracking request",
        "tags": [
          "Tracking Requests"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "attributes",
                      "type"
                    ],
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "ref_number": {
                            "type": "string",
                            "example": "REFNUMBER11",
                            "description": "Tracking request ref number."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get single webhook",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/webhook"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-webhooks-id",
        "description": "Get the details of a single webhook"
      },
      "patch": {
        "summary": "Edit a webhook",
        "operationId": "patch-webhooks-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/webhook"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Update a single webhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "attributes",
                      "type"
                    ],
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "example": "https://webhook.site/#!/39084fbb-d887-42e8-be08-b9183ad02362",
                            "format": "uri",
                            "description": "The URL of the webhook endpoint."
                          },
                          "events": {
                            "type": "array",
                            "description": "The list of events to enable for this endpoint.",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "type": "string",
                              "enum": [
                                "container.transport.vessel_arrived",
                                "container.transport.vessel_discharged",
                                "container.transport.vessel_loaded",
                                "container.transport.vessel_departed",
                                "container.transport.rail_departed",
                                "container.transport.rail_arrived",
                                "container.transport.rail_loaded",
                                "container.transport.rail_unloaded",
                                "container.transport.transshipment_arrived",
                                "container.transport.transshipment_discharged",
                                "container.transport.transshipment_loaded",
                                "container.transport.transshipment_departed",
                                "container.transport.feeder_arrived",
                                "container.transport.feeder_discharged",
                                "container.transport.feeder_loaded",
                                "container.transport.feeder_departed",
                                "container.transport.empty_out",
                                "container.transport.full_in",
                                "container.transport.full_out",
                                "container.transport.empty_in",
                                "container.transport.vessel_berthed",
                                "shipment.estimated.arrival",
                                "tracking_request.succeeded",
                                "tracking_request.failed",
                                "tracking_request.awaiting_manifest",
                                "tracking_request.tracking_stopped",
                                "container.created",
                                "container.updated",
                                "container.pod_terminal_changed",
                                "container.transport.arrived_at_inland_destination",
                                "container.transport.estimated.arrived_at_inland_destination",
                                "container.pickup_lfd.changed",
                                "container.pickup_lfd_line.changed",
                                "container.transport.available",
                                "document.extracted",
                                "document.extraction_failed"
                              ]
                            }
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "headers": {
                            "type": "array",
                            "description": "Optional custom headers to pass with each webhook invocation",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name of the header. (Please not this will be auto-capitalized) "
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The value to pass for the header\n"
                                }
                              }
                            }
                          }
                        }
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "webhook"
                        ]
                      }
                    }
                  }
                },
                "required": [
                  "data"
                ]
              },
              "examples": {}
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a webhook",
        "operationId": "delete-webhooks-id",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Delete a webhook",
        "tags": [
          "Webhooks"
        ]
      }
    },
    "/webhooks": {
      "get": {
        "summary": "List webhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
[...]
