{
  "openapi": "3.0.3",
  "info": {
    "title": "Sydnee API",
    "description": "Programmatic access to Sydnee accounts, users, requests, and task templates.",
    "version": "1.0.0",
    "contact": {
      "name": "Sydnee",
      "url": "https://sydnee.app"
    }
  },
  "servers": [
    {
      "url": "https://public-api.sydnee.app/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/accounts": {
      "post": {
        "operationId": "createAccount",
        "summary": "Create an Account",
        "description": "Create a new, single account.",
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until you can retry"
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Epoch seconds when window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listAccounts",
        "summary": "List Accounts",
        "description": "Retrieve a paginated list of accounts.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Maximum number of results to return."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor for next page."
          }
        ],
        "responses": {
          "200": {
            "description": "List of accounts"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get Account",
        "description": "Retrieve a single account by ID.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Account not found"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "delete": {
        "operationId": "deleteAccount",
        "summary": "Delete Account",
        "description": "Delete an account by ID.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Account not found"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/accounts/{accountId}/users": {
      "get": {
        "operationId": "listAccountUsers",
        "summary": "List Account Users",
        "description": "Retrieve users associated with an account.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Account not found"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "post": {
        "operationId": "addAccountUser",
        "summary": "Add User to Account",
        "description": "Add a new user to an account.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User added to account"
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Account not found"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/accounts/{accountId}/user/{userId}": {
      "delete": {
        "operationId": "removeAccountUser",
        "summary": "Remove User from Account",
        "description": "Remove a user from an account.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User removed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/accounts/{accountId}/task-templates/{taskTemplateId}": {
      "post": {
        "operationId": "assignTaskTemplate",
        "summary": "Assign Task Template to Account",
        "description": "Assign a task template to a specific account.",
        "tags": [
          "Task Templates"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskTemplateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task template assigned"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/task-templates": {
      "get": {
        "operationId": "listTaskTemplates",
        "summary": "List Task Templates",
        "description": "Retrieve a list of available task templates.",
        "tags": [
          "Task Templates"
        ],
        "responses": {
          "200": {
            "description": "List of task templates"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/accounts/{accountId}/user/{userId}/requests/{requestTemplateId}": {
      "post": {
        "operationId": "createRequestFromTemplate",
        "summary": "Create Request from Template",
        "description": "Create a new request for a user from a request template.",
        "tags": [
          "Requests"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestTemplateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Request created"
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/request-templates": {
      "get": {
        "operationId": "listRequestTemplates",
        "summary": "List Request Templates",
        "description": "Retrieve a list of available request templates.",
        "tags": [
          "Requests"
        ],
        "responses": {
          "200": {
            "description": "List of request templates"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication."
      }
    },
    "schemas": {
      "CreateAccountRequest": {
        "type": "object",
        "required": [
          "accountName"
        ],
        "properties": {
          "accountName": {
            "type": "string",
            "example": "Acme Corporation"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "c5588dd"
          },
          "name": {
            "type": "string",
            "example": "Example Account"
          },
          "slug": {
            "type": "string",
            "example": "example-account-slug"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2025-09-07T01:26:32.193Z"
          }
        }
      },
      "AddUserRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "user@example.com"
          },
          "name": {
            "type": "string",
            "example": "John Doe"
          },
          "sendInviteEmail": {
            "type": "boolean",
            "example": true
          },
          "customMessageInInvite": {
            "type": "string",
            "example": "You have been added to our company portal."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "issues": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "path": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Accounts",
      "description": "Account management"
    },
    {
      "name": "Users",
      "description": "User management within accounts"
    },
    {
      "name": "Task Templates",
      "description": "Task template operations"
    },
    {
      "name": "Requests",
      "description": "Request management using templates"
    }
  ]
}