{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "api@medcorder.com",
      "name": "Medcorder API Support"
    },
    "description": "Returns doctors near a client given a lat/lon and autocomplete text.",
    "termsOfService": "https://medcorder.com/terms",
    "title": "Medcorder Nearby Doctor API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://static.medcorder.com/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://api.medcorder.com/"
    }
  ],
  "paths": {
    "/doctors": {
      "get": {
        "parameters": [
          {
            "description": "The search text so far for autocomplete",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The latitude of the client, around which to search",
            "in": "query",
            "name": "latitude",
            "required": false,
            "schema": {
              "format": "double",
              "maximum": 90,
              "minimum": -90,
              "type": "number"
            }
          },
          {
            "description": "The longitude of the client, around which to search",
            "in": "query",
            "name": "longitude",
            "required": false,
            "schema": {
              "format": "double",
              "maximum": 180,
              "minimum": -180,
              "type": "number"
            }
          },
          {
            "description": "The number of results desired",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 50,
              "maximum": 50,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/doctor"
                  },
                  "type": "array"
                }
              }
            },
            "description": "A list of doctors"
          }
        },
        "operationId": "doctors",
        "summary": "Fetch a list of nearby medical providers"
      }
    }
  },
  "components": {
    "schemas": {
      "doctor": {
        "properties": {
          "address": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "county": {
            "type": "string"
          },
          "distance": {
            "format": "float",
            "type": "number"
          },
          "email": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "latitude": {
            "format": "float",
            "type": "number"
          },
          "longitude": {
            "format": "float",
            "type": "number"
          },
          "specialty": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  },
  "x-google-backend": {
    "address": "https://medcorder-api-production.uc.r.appspot.com/",
    "jwt_audience": "369549039786-08mij7ihsqfoe0ehi5u08kao9kc774mo.apps.googleusercontent.com",
    "protocol": "h2"
  }
}