{
  "openapi": "3.0.3",
  "info": {
    "title": "PlanSource Benefits Administration API",
    "version": "4.0.0",
    "description": "PlanSource Administrative API for managing employee demographics, benefits coverage, payroll deductions, EOI (Evidence of Insurability), and administrator accounts. Supports batch operations for subscribers, coverage, and terminations.",
    "x-jentic-source-url": "https://developer.plansource.com/docs/plansource-administrative-api"
  },
  "servers": [
    {
      "url": "https://developer.plansource.com/admin/v4",
      "description": "PlanSource Admin API v4"
    }
  ],
  "paths": {
    "/subscriber": {
      "post": {
        "operationId": "createSubscriber",
        "summary": "Create a subscriber",
        "tags": [
          "Subscribers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriberInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/subscriber/meta": {
      "get": {
        "operationId": "getSubscriberMeta",
        "summary": "Retrieve subscriber metadata",
        "tags": [
          "Subscribers"
        ],
        "responses": {
          "200": {
            "description": "Subscriber metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/subscriber/{id}": {
      "get": {
        "operationId": "getSubscriberById",
        "summary": "Get subscriber by ID",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateSubscriber",
        "summary": "Update subscriber",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriberInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/subscriber/{id}/terminate": {
      "put": {
        "operationId": "terminateSubscriber",
        "summary": "Terminate subscriber",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminationDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "terminationReason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber terminated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/subscriber/{id}/rehire": {
      "put": {
        "operationId": "rehireSubscriber",
        "summary": "Rehire subscriber",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rehireDate": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber rehired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/subscribers": {
      "get": {
        "operationId": "listSubscribers",
        "summary": "List subscribers",
        "tags": [
          "Subscribers"
        ],
        "responses": {
          "200": {
            "description": "List of subscribers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subscriber"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "batchCreateSubscribers",
        "summary": "Batch create subscribers",
        "tags": [
          "Subscribers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SubscriberInput"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribers created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subscriber"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "batchUpdateSubscribers",
        "summary": "Batch update subscribers",
        "tags": [
          "Subscribers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SubscriberInput"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribers updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subscriber"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/subscribers/terminate": {
      "put": {
        "operationId": "batchTerminateSubscribers",
        "summary": "Batch terminate subscribers",
        "tags": [
          "Subscribers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "terminationDate": {
                      "type": "string",
                      "format": "date"
                    },
                    "terminationReason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribers terminated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/subscribers/rehire": {
      "put": {
        "operationId": "batchRehireSubscribers",
        "summary": "Batch rehire subscribers",
        "tags": [
          "Subscribers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "rehireDate": {
                      "type": "string",
                      "format": "date"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribers rehired"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/subscriber/{subscriber_id}/dependent": {
      "post": {
        "operationId": "addDependent",
        "summary": "Add dependent to subscriber",
        "tags": [
          "Dependents"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DependentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dependent added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dependent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/subscriber/{subscriber_id}/dependent/{id}": {
      "get": {
        "operationId": "getDependentById",
        "summary": "Get dependent details",
        "tags": [
          "Dependents"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dependent details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dependent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateDependent",
        "summary": "Update dependent",
        "tags": [
          "Dependents"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DependentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dependent updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dependent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/subscriber/{subscriber_id}/dependent/{id}/deactivate": {
      "put": {
        "operationId": "deactivateDependent",
        "summary": "Deactivate dependent",
        "tags": [
          "Dependents"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dependent deactivated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/subscriber/{subscriber_id}/dependent/{id}/reactivate": {
      "put": {
        "operationId": "reactivateDependent",
        "summary": "Reactivate dependent",
        "tags": [
          "Dependents"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dependent reactivated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/dependents": {
      "get": {
        "operationId": "listDependents",
        "summary": "List all dependents",
        "tags": [
          "Dependents"
        ],
        "responses": {
          "200": {
            "description": "List of dependents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Dependent"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/beneficiaries/meta": {
      "get": {
        "operationId": "getBeneficiaryMeta",
        "summary": "Get beneficiary metadata",
        "tags": [
          "Beneficiaries"
        ],
        "responses": {
          "200": {
            "description": "Beneficiary metadata"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/beneficiaries": {
      "get": {
        "operationId": "listBeneficiaries",
        "summary": "List all beneficiaries",
        "tags": [
          "Beneficiaries"
        ],
        "responses": {
          "200": {
            "description": "List of beneficiaries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Beneficiary"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/subscriber/{subscriber_id}/beneficiaries": {
      "get": {
        "operationId": "getSubscriberBeneficiaries",
        "summary": "Get subscriber beneficiaries",
        "tags": [
          "Beneficiaries"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber beneficiaries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Beneficiary"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/coverage/{coverage_id}/beneficiaries": {
      "get": {
        "operationId": "getCoverageBeneficiaries",
        "summary": "Get coverage beneficiaries",
        "tags": [
          "Beneficiaries"
        ],
        "parameters": [
          {
            "name": "coverage_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coverage beneficiaries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Beneficiary"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "addCoverageBeneficiary",
        "summary": "Add beneficiary to coverage",
        "tags": [
          "Beneficiaries"
        ],
        "parameters": [
          {
            "name": "coverage_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeneficiaryInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Beneficiary added"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateCoverageBeneficiary",
        "summary": "Update coverage beneficiary",
        "tags": [
          "Beneficiaries"
        ],
        "parameters": [
          {
            "name": "coverage_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeneficiaryInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Beneficiary updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "removeCoverageBeneficiary",
        "summary": "Remove coverage beneficiary",
        "tags": [
          "Beneficiaries"
        ],
        "parameters": [
          {
            "name": "coverage_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Beneficiary removed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/coverage": {
      "post": {
        "operationId": "createCoverage",
        "summary": "Create coverage",
        "tags": [
          "Coverage"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coverage created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Coverage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/coverage/meta": {
      "get": {
        "operationId": "getCoverageMeta",
        "summary": "Get coverage metadata",
        "tags": [
          "Coverage"
        ],
        "responses": {
          "200": {
            "description": "Coverage metadata"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/coverage/{coverage_id}": {
      "get": {
        "operationId": "getCoverageById",
        "summary": "Get coverage details",
        "tags": [
          "Coverage"
        ],
        "parameters": [
          {
            "name": "coverage_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coverage details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Coverage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateCoverage",
        "summary": "Update coverage",
        "tags": [
          "Coverage"
        ],
        "parameters": [
          {
            "name": "coverage_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coverage updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Coverage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/coverage/subscriber/{subscriber_id}": {
      "get": {
        "operationId": "getSubscriberCoverage",
        "summary": "Get subscriber coverage",
        "tags": [
          "Coverage"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber coverage",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Coverage"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/coverage/{coverage_id}/terminate": {
      "put": {
        "operationId": "terminateCoverage",
        "summary": "Terminate coverage",
        "tags": [
          "Coverage"
        ],
        "parameters": [
          {
            "name": "coverage_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "terminationDate": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coverage terminated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/coverage/{coverage_id}/line": {
      "post": {
        "operationId": "addCoverageLine",
        "summary": "Add coverage line",
        "tags": [
          "CoverageLines"
        ],
        "parameters": [
          {
            "name": "coverage_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageLineInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coverage line added"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/coverage/line/{coverage_line_id}": {
      "get": {
        "operationId": "getCoverageLineById",
        "summary": "Get coverage line",
        "tags": [
          "CoverageLines"
        ],
        "parameters": [
          {
            "name": "coverage_line_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coverage line details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoverageLine"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateCoverageLine",
        "summary": "Update coverage line",
        "tags": [
          "CoverageLines"
        ],
        "parameters": [
          {
            "name": "coverage_line_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageLineInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coverage line updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/coverage/line/{coverage_line_id}/terminate": {
      "put": {
        "operationId": "terminateCoverageLine",
        "summary": "Terminate coverage line",
        "tags": [
          "CoverageLines"
        ],
        "parameters": [
          {
            "name": "coverage_line_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coverage line terminated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/coverage/{coverage_id}/lines": {
      "get": {
        "operationId": "listCoverageLines",
        "summary": "List coverage lines",
        "tags": [
          "CoverageLines"
        ],
        "parameters": [
          {
            "name": "coverage_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coverage lines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CoverageLine"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/coverage/{coverage_id}/dependents": {
      "get": {
        "operationId": "getCoverageDependents",
        "summary": "Get coverage dependents",
        "tags": [
          "Coverage"
        ],
        "parameters": [
          {
            "name": "coverage_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coverage dependents"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/coverage/{coverage_id}/dependent": {
      "post": {
        "operationId": "addCoverageDependent",
        "summary": "Add dependent to coverage",
        "tags": [
          "Coverage"
        ],
        "parameters": [
          {
            "name": "coverage_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DependentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dependent added to coverage"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/coverage/{coverage_id}/composite": {
      "get": {
        "operationId": "getCompositeCoverage",
        "summary": "Get composite coverage data",
        "tags": [
          "Coverage"
        ],
        "parameters": [
          {
            "name": "coverage_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Composite coverage data"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/coverages": {
      "get": {
        "operationId": "listCoverages",
        "summary": "List all coverages",
        "tags": [
          "Coverage"
        ],
        "responses": {
          "200": {
            "description": "List of coverages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Coverage"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "batchCreateCoverages",
        "summary": "Batch create coverages",
        "tags": [
          "Coverage"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CoverageInput"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coverages created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "batchUpdateCoverages",
        "summary": "Batch update coverages",
        "tags": [
          "Coverage"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CoverageInput"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coverages updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/coverages/terminate": {
      "put": {
        "operationId": "batchTerminateCoverages",
        "summary": "Batch terminate coverages",
        "tags": [
          "Coverage"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "coverage_id": {
                      "type": "string"
                    },
                    "terminationDate": {
                      "type": "string",
                      "format": "date"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coverages terminated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/payroll_coverages_subscriber/{id}": {
      "get": {
        "operationId": "getPayrollCoveragesBySubscriber",
        "summary": "Get subscriber payroll coverage",
        "tags": [
          "Payroll"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payroll coverage data"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/payroll_coverages_subscribers": {
      "get": {
        "operationId": "listPayrollCoverages",
        "summary": "List payroll coverages",
        "tags": [
          "Payroll"
        ],
        "responses": {
          "200": {
            "description": "List of payroll coverages"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/administrator": {
      "post": {
        "operationId": "createAdministrator",
        "summary": "Create administrator",
        "tags": [
          "Administrators"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdministratorInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Administrator created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Administrator"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/administrator/{id}": {
      "get": {
        "operationId": "getAdministratorById",
        "summary": "Get administrator",
        "tags": [
          "Administrators"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Administrator details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Administrator"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateAdministrator",
        "summary": "Update administrator",
        "tags": [
          "Administrators"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdministratorInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Administrator updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/administrator/{id}/disable": {
      "put": {
        "operationId": "disableAdministrator",
        "summary": "Disable administrator",
        "tags": [
          "Administrators"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Administrator disabled"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/administrators": {
      "get": {
        "operationId": "listAdministrators",
        "summary": "List administrators",
        "tags": [
          "Administrators"
        ],
        "responses": {
          "200": {
            "description": "List of administrators",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Administrator"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/eoi/subscriber/{subscriber_id}": {
      "get": {
        "operationId": "getSubscriberEoi",
        "summary": "Get subscriber EOI records",
        "tags": [
          "EOI"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber EOI records"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/eoi/subscribers": {
      "get": {
        "operationId": "listSubscriberEois",
        "summary": "List subscriber EOIs",
        "tags": [
          "EOI"
        ],
        "responses": {
          "200": {
            "description": "List of EOI records"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/eoi/decision/{subscriber_id}": {
      "put": {
        "operationId": "submitEoiDecision",
        "summary": "Submit EOI decision",
        "tags": [
          "EOI"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "decision": {
                    "type": "string",
                    "enum": [
                      "approved",
                      "denied"
                    ]
                  },
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "EOI decision submitted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/eoi/decisions": {
      "put": {
        "operationId": "batchSubmitEoiDecisions",
        "summary": "Batch submit EOI decisions",
        "tags": [
          "EOI"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "subscriber_id": {
                      "type": "string"
                    },
                    "decision": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "EOI decisions submitted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/eoi/form_completion/{subscriber_id}": {
      "put": {
        "operationId": "markEoiFormComplete",
        "summary": "Mark EOI form complete",
        "tags": [
          "EOI"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "EOI form marked complete"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/eoi/form_completions": {
      "put": {
        "operationId": "batchMarkEoiFormsComplete",
        "summary": "Batch mark EOI forms complete",
        "tags": [
          "EOI"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "subscriber_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "EOI forms marked complete"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "operationId": "listOrganizations",
        "summary": "List organizations",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "List of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/page_content": {
      "get": {
        "operationId": "getPageContent",
        "summary": "Retrieve page content",
        "tags": [
          "PageContent"
        ],
        "responses": {
          "200": {
            "description": "Page content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updatePageContent",
        "summary": "Update page content",
        "tags": [
          "PageContent"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Page content updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/content_blocks": {
      "get": {
        "operationId": "listContentBlocks",
        "summary": "List content blocks",
        "tags": [
          "PageContent"
        ],
        "responses": {
          "200": {
            "description": "List of content blocks"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/content_block": {
      "put": {
        "operationId": "updateContentBlock",
        "summary": "Update content block",
        "tags": [
          "PageContent"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Content block updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/user_sessions": {
      "delete": {
        "operationId": "terminateUserSessions",
        "summary": "Terminate user sessions",
        "tags": [
          "Sessions"
        ],
        "responses": {
          "200": {
            "description": "Sessions terminated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/aca/offers": {
      "get": {
        "operationId": "listAcaOffers",
        "summary": "List ACA offers",
        "tags": [
          "ACA"
        ],
        "responses": {
          "200": {
            "description": "List of ACA offers"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/aca/offers/subscriber/{subscriber_id}": {
      "get": {
        "operationId": "getSubscriberAcaOffers",
        "summary": "Get subscriber ACA offers",
        "tags": [
          "ACA"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber ACA offers"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/aca/enrollees": {
      "get": {
        "operationId": "listAcaEnrollees",
        "summary": "List ACA enrollees",
        "tags": [
          "ACA"
        ],
        "responses": {
          "200": {
            "description": "List of ACA enrollees"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/aca/enrollees/subscriber/{subscriber_id}": {
      "get": {
        "operationId": "getSubscriberAcaEnrollees",
        "summary": "Get subscriber ACA enrollees",
        "tags": [
          "ACA"
        ],
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber ACA enrollees"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://developer.plansource.com/oauth/token",
            "scopes": {}
          }
        }
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "AuthenticationString"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "statusCode": {
            "type": "integer"
          }
        }
      },
      "Subscriber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date"
          },
          "ssn": {
            "type": "string"
          },
          "hireDate": {
            "type": "string",
            "format": "date"
          },
          "terminationDate": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string"
          },
          "employeeId": {
            "type": "string"
          }
        }
      },
      "SubscriberInput": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date"
          },
          "ssn": {
            "type": "string"
          },
          "hireDate": {
            "type": "string",
            "format": "date"
          },
          "employeeId": {
            "type": "string"
          }
        },
        "required": [
          "firstName",
          "lastName"
        ]
      },
      "Dependent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date"
          },
          "relationship": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "DependentInput": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date"
          },
          "relationship": {
            "type": "string"
          }
        },
        "required": [
          "firstName",
          "lastName",
          "relationship"
        ]
      },
      "Beneficiary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "relationship": {
            "type": "string"
          },
          "percentage": {
            "type": "number"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "BeneficiaryInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "relationship": {
            "type": "string"
          },
          "percentage": {
            "type": "number"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "relationship"
        ]
      },
      "Coverage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "subscriberId": {
            "type": "string"
          },
          "planName": {
            "type": "string"
          },
          "effectiveDate": {
            "type": "string",
            "format": "date"
          },
          "terminationDate": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string"
          },
          "coverageLevel": {
            "type": "string"
          }
        }
      },
      "CoverageInput": {
        "type": "object",
        "properties": {
          "subscriberId": {
            "type": "string"
          },
          "planName": {
            "type": "string"
          },
          "effectiveDate": {
            "type": "string",
            "format": "date"
          },
          "coverageLevel": {
            "type": "string"
          }
        },
        "required": [
          "subscriberId",
          "planName",
          "effectiveDate"
        ]
      },
      "CoverageLine": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "coverageId": {
            "type": "string"
          },
          "lineType": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "CoverageLineInput": {
        "type": "object",
        "properties": {
          "lineType": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          }
        }
      },
      "Administrator": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "AdministratorInput": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        },
        "required": [
          "firstName",
          "lastName",
          "email"
        ]
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Subscribers",
      "description": "Manage employee/subscriber demographics"
    },
    {
      "name": "Dependents",
      "description": "Manage subscriber dependents"
    },
    {
      "name": "Beneficiaries",
      "description": "Manage coverage beneficiaries"
    },
    {
      "name": "Coverage",
      "description": "Manage benefit coverage"
    },
    {
      "name": "CoverageLines",
      "description": "Manage coverage lines"
    },
    {
      "name": "Payroll",
      "description": "Payroll deduction data"
    },
    {
      "name": "Administrators",
      "description": "Manage administrator accounts"
    },
    {
      "name": "EOI",
      "description": "Evidence of Insurability operations"
    },
    {
      "name": "ACA",
      "description": "Affordable Care Act data"
    },
    {
      "name": "Organizations",
      "description": "Organization data"
    },
    {
      "name": "PageContent",
      "description": "Page content management"
    },
    {
      "name": "Sessions",
      "description": "User session management"
    }
  ]
}