{
  "openapi": "3.0.3",
  "info": {
    "title": "Contentstack Content Delivery API OpenAPI Specification",
    "description": "<p>The Content Delivery API (CDA), available at cdn.contentstack.com, is a read-only API used to retrieve content from your Contentstack account and deliver it to your web or mobile properties. Contentstack provides an OpenAPI JSON file that consists of a set of preconfigured REST API requests that will make it easy for you to get started with the Contentstack Delivery APIs and try out our API requests through the Swagger Editor. </p><p>Here are the details of the important information key used in this file: </p><table border=\"1\"><tbody><tr><td>Key<br/>\t</td><td>Value<br/>\t</td></tr><tr><td>Base URL<br/>\t</td><td><ul><li>North America: https://cdn.contentstack.io/</li><li>Europe: https://eu-cdn.contentstack.com/</li><li>Azure - North America: <span>https://azure-na-cdn.contentstack.com/</span></li></ul></td></tr><tr><td>api_key<br/>\t</td><td><ul><li>North America:&nbsp;blt02f7b45378b008ee</li><li>Europe:&nbsp;bltd88b56bcda5594d5</li><li>Azure - North America: bltf94f73c52fdd6376</li></ul></td></tr><tr><td>access_token<br/>\t</td><td><ul><li>North America:&nbsp;cs5b69faf35efdebd91d08bcf4</li><li>Europe:&nbsp;cs408c732861b2aa495971ae51</li><li>Azure - North America: cs2e60fc8473bd5a455d69b289</li></ul></td></tr><tr><td> environment<br/>\t</td><td><ul><li>North America:&nbsp;production</li><li>Europe:&nbsp;production</li><li>Azure - North America: production</li></ul></td></tr></tbody></table><p><strong>CDA OpenAPI Details:</strong></p><ul><li>Version: 3.0.0</li><li>Last Updated: March 20, 2026</li></ul>",
    "version": "3.0.0",
    "x-jentic-source-url": "https://www.contentstack.com/docs/developers/apis-and-sdks"
  },
  "servers": [
    {
      "url": "https://cdn.contentstack.io",
      "description": "North America"
    },
    {
      "url": "https://eu-cdn.contentstack.com",
      "description": "Europe"
    },
    {
      "url": "https://azure-na-api.contentstack.com",
      "description": "Azure - North America"
    },
    {
      "url": "https://azure-eu-cda.contentstack.com/",
      "description": "Azure - Europe"
    }
  ],
  "paths": {
    "/v3/content_types": {
      "get": {
        "summary": "Get all content types",
        "description": "<p>The <span data-type='inlineCode'>Get all content types</span> call returns comprehensive information of all the content types available in a particular stack in your account.<br><br><p>To use the API Request, you'll need to use the <a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-delivery-tokens\">Delivery Token</a> of the respective environment.<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api/#authentication\">Authentication</a>.\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-delivery-api#get-all-content-types>Get all content types</a> API Reference document<p><strong>Note</strong>: The parameter values present here correspond to the AWS North America Region. To find the values corresponding to other regions, please refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api/\">Content Delivery API</a> doc.<strong></strong></p>",
        "operationId": "getallcontenttypes",
        "parameters": [
          {
            "name": "include_count",
            "in": "query",
            "required": true,
            "description": "Set this to 'true' to include in response the total count of content types available in your stack.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "false"
            }
          },
          {
            "name": "include_branch",
            "in": "query",
            "required": false,
            "description": "Set this to true to include the _branch top-level key in the response. This key states the unique ID of the branch where the concerned Contentstack module resides.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "false"
            }
          },
          {
            "$ref": "#/components/parameters/branch"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "tags": [
          "Content types"
        ],
        "security": [
          {
            "api_key": [],
            "access_token": []
          }
        ]
      }
    },
    "/v3/content_types/{content_type_uid}": {
      "get": {
        "summary": "Get a single content type",
        "description": "<p>This call returns information of a specific content type. It returns the content type schema, but does not include its entries.<br><br><p>To use the API Request, you'll need to use the <a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-delivery-tokens\">Delivery Token</a> of the respective environment.<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api/#authentication\">Authentication</a>.\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-delivery-api#get-a-single-content-type>Get a single content type</a> API Reference document<p><strong>Note</strong>: The parameter values present here correspond to the AWS North America Region. To find the values corresponding to other regions, please refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api/\">Content Delivery API</a> doc.<strong></strong></p>",
        "operationId": "getasinglecontenttype",
        "parameters": [
          {
            "$ref": "#/components/parameters/content_type_uid"
          },
          {
            "name": "include_branch",
            "in": "query",
            "required": false,
            "description": "Set this to true to include the _branch top-level key in the response. This key states the unique ID of the branch where the concerned Contentstack module resides.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "false"
            }
          },
          {
            "$ref": "#/components/parameters/branch"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "tags": [
          "Content types"
        ],
        "security": [
          {
            "api_key": [],
            "access_token": []
          }
        ]
      }
    },
    "/v3/global_fields": {
      "get": {
        "summary": "Get all global fields",
        "description": "<p>The <span data-type='inlineCode'>Get all global fields</span> request returns comprehensive information of all the global fields available in a particular stack in your organization. If you have nested global fields, it appears in the response.<br><br><p>To use the API Request, you'll need to use the <a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-delivery-tokens\">Delivery Token</a> of the respective environment.<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api/#authentication\">Authentication</a>.\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-delivery-api#get-all-global-fields>Get all global fields</a> API Reference document<p><strong>Note</strong>: The parameter values present here correspond to the AWS North America Region. To find the values corresponding to other regions, please refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api/\">Content Delivery API</a> doc.<strong></strong></p>",
        "operationId": "getallglobalfields",
        "parameters": [
          {
            "name": "include_global_field_schema",
            "in": "query",
            "required": false,
            "description": "Set this parameter to 'true' to include in response the schema of the Global field.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "name": "include_branch",
            "in": "query",
            "required": false,
            "description": "Set this to 'true' to include the '_branch' top-level key in the response. This key states the unique ID of the branch where the Global field resides.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "$ref": "#/components/parameters/branch"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "tags": [
          "Global fields"
        ],
        "security": [
          {
            "api_key": [],
            "access_token": []
          }
        ]
      }
    },
    "/v3/global_fields/{global_field_uid}": {
      "get": {
        "summary": "Get a single global field",
        "description": "<p>The <span data-type='inlineCode'>Get a single global field</span> request allows you to fetch comprehensive details of a specific global field.<br><br><p>To use the API Request, you'll need to use the <a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-delivery-tokens\">Delivery Token</a> of the respective environment.<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api/#authentication\">Authentication</a>.\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-delivery-api#get-a-single-global-field>Get a single global field</a> API Reference document<p><strong>Note</strong>: The parameter values present here correspond to the AWS North America Region. To find the values corresponding to other regions, please refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api/\">Content Delivery API</a> doc.<strong></strong></p>",
        "operationId": "getasingleglobalfield",
        "parameters": [
          {
            "$ref": "#/components/parameters/global_field_uid"
          },
          {
            "name": "include_global_field_schema",
            "in": "query",
            "required": false,
            "description": "Set this parameter to 'true' to include in response the schema of the Global field.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "name": "include_branch",
            "in": "query",
            "required": false,
            "description": "Set this to 'true' to include the '_branch' top-level key in the response. This key states the unique ID of the branch where the Global field resides.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "ture"
            }
          },
          {
            "$ref": "#/components/parameters/branch"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "tags": [
          "Global fields"
        ],
        "security": [
          {
            "api_key": [],
            "access_token": []
          }
        ]
      }
    },
    "/v3/content_types/{content_type_uid}/entries": {
      "get": {
        "summary": "Get all entries | Get all entry variants | Equals Operator | Equals Operator Within Group | Equals Operator Within Modular Blocks.....",
        "description": "<p>The <span data-type='inlineCode'>Get all entries</span> request fetches the list of all the entries of a particular content type. It returns the content of each entry in JSON format.<br><br><p>To use the API Request, you'll need to use the <a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-delivery-tokens\">Delivery Token</a> of the respective environment.<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api/#authentication\">Authentication</a>.\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-delivery-api#get-all-entries>Get all entries</a> API Reference document\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#get-all-entry-variants\" target=_blank>Get all entry variants</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#equals-operator\" target=_blank>Equals Operator</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#equals-operator-within-group\" target=_blank>Equals Operator Within Group</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#equals-operator-within-modular-blocks\" target=_blank>Equals Operator Within Modular Blocks</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#not-equals-operator\" target=_blank>Not-equals Operator</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#not-equals-operator-within-group\" target=_blank>Not-equals Operator Within Group</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#not-equals-operator-within-modular-blocks\" target=_blank>Not-equals Operator Within Modular Blocks</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#array-equals-operator\" target=_blank>Array Equals Operator</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#array-equals-operator-within-group\" target=_blank>Array Equals Operator Within Group</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#array-equals-operator-within-modular-blocks\" target=_blank>Array Equals Operator Within Modular Blocks</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#array-not-equals-operator\" target=_blank>Array Not-equals Operator</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#array-not-equals-operator-within-group\" target=_blank>Array Not-equals Operator Within Group</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#array-not-equals-operator-within-modular-blocks\" target=_blank>Array Not-equals Operator Within Modular Blocks</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#include-reference\" target=_blank>Include Reference</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#include-reference-within-group\" target=_blank>Include Reference Within Group</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#include-reference-within-modular-blocks\" target=_blank>Include Reference Within Modular Blocks</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#include-all-references\" target=_blank>Include all references</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#reference-search-equals\" target=_blank>Reference Search Equals</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#reference-search-equals-within-group\" target=_blank>Reference Search Equals Within Group</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#reference-search-equals-within-modular-blocks\" target=_blank>Reference Search Equals Within Modular Blocks</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#reference-search-not-equals\" target=_blank>Reference Search Not-equals</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#reference-search-not-equals-within-group\" target=_blank>Reference Search Not-equals Within Group</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#reference-search-not-equals-within-modular-blocks\" target=_blank>Reference Search Not-equals Within Modular Blocks</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#search-by-regex\" target=_blank>Search by Regex</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#search-by-regex-within-group\" target=_blank>Search By Regex Within Group</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#search-by-regex-within-modular-blocks\" target=_blank>Search by Regex Within Modular Blocks</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#and-operator\" target=_blank>AND operator</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#and-operator-within-group\" target=_blank>AND Operator Within Group</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#and-operator-within-modular-blocks\" target=_blank>AND Operator Within Modular Blocks</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#or-operator\" target=_blank>OR Operator</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#or-operator-within-group\" target=_blank>OR Operator Within Group</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#or-operator-within-modular-blocks\" target=_blank>OR Operator Within Modular Blocks</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#less-than\" target=_blank>Less Than</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#less-than-within-group\" target=_blank>Less Than Within Group</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#less-than-operator-within-modular-blocks\" target=_blank>Less Than Operator Within Modular Blocks</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#less-than-or-equal-to\" target=_blank>Less Than or Equal To</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#less-than-or-equal-to-within-group\" target=_blank>Less Than Or Equal To Within Group</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#less-than-or-equal-to-operator-within-modular-blocks\" target=_blank>Less Than Or Equal To Operator Within Modular Blocks</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#greater-than\" target=_blank>Greater Than</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#greater-than-within-group\" target=_blank>Greater Than Within Group</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#greater-than-operator-within-modular-blocks\" target=_blank>Greater Than Operator Within Modular Blocks</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#greater-than-or-equal-to\" target=_blank>Greater Than or Equal To</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#greater-than-or-equal-to-within-group\" target=_blank>Greater Than Or Equal To Within Group</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#greater-than-or-equal-to-operator-within-modular-blocks\" target=_blank>Greater Than Or Equal To Operator Within Modular Blocks</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#limit\" target=_blank>Limit</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#skip\" target=_blank>Skip</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#order-by-asc\" target=_blank>Order by asc</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#order-by-asc-operator-within-group\" target=_blank>Order by asc Operator Within Group</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#order-by-asc-operator-within-modular-blocks\" target=_blank>Order by asc Operator within Modular Blocks</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#order-by-desc\" target=_blank>Order by desc</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#order-by-desc-within-group\" target=_blank>Order By desc Within Group</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#order-by-desc-operator-within-modular-blocks\" target=_blank>Order by desc Operator Within Modular Blocks</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#exists\" target=_blank>Exists</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#exists-within-group\" target=_blank>Exists Within Group</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#exists-operator-within-modular-blocks\" target=_blank>Exists Operator Within Modular Blocks</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#only-operator\" target=_blank>Only operator</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#only-operator-within-group\" target=_blank>Only Operator Within Group</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#only-operator-within-modular-blocks\" target=_blank>Only Operator Within Modular Blocks</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#exclude-operator\" target=_blank>Exclude operator</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#exclude-operator-within-group\" target=_blank>Exclude Operator Within Group</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#exclude-operator-within-modular-blocks\" target=_blank>Exclude Operator Within Modular Blocks</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#count\" target=_blank>Count</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#pagination\" target=_blank>Pagination</a></li></ul><p><strong>Note</strong>: The parameter values present here correspond to the AWS North America Region. To find the values corresponding to other regions, please refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api/\">Content Delivery API</a> doc.<strong></strong></p>",
        "operationId": "getallentries|getallentryvariants|equalsoperator|equalsoperatorwithingroup|equalsoperatorwithinmodularblocks.....",
        "parameters": [
          {
            "$ref": "#/components/parameters/content_type_uid"
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "description": "Enter the environment scoped to your delivery token. For example, if your delivery token is scoped to the production environment, pass the value as production.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "production"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "description": "Enter the code of the language of which the entries needs to be included. Only the entries published in this locale will be displayed.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "en-us"
            }
          },
          {
            "name": "include_fallback",
            "in": "query",
            "required": false,
            "description": "Enter 'true' to include the published localized content from the fallback locale when the specified locale does not contain published content.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "name": "include_branch",
            "in": "query",
            "required": false,
            "description": "Set this to true to include the _branch top-level key in the response. This key states the unique ID of the branch where the concerned Contentstack module resides.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "false"
            }
          },
          {
            "$ref": "#/components/parameters/branch"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          },
          {
            "name": "include_publish_details",
            "in": "query",
            "required": false,
            "description": "Enter \u201ctrue\u201d to include the publish details of the entry.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "name": "include_rules",
            "in": "query",
            "required": false,
            "description": "Enter \u201ctrue\u201d to include the publishing rules for the entry.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "name": "include_metadata",
            "in": "query",
            "required": false,
            "description": "Pass this as \"true\" to fetch the metadata attached to each entry.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "name": "show_errors",
            "in": "query",
            "required": false,
            "description": "Pass this as true to include the errors array in the response.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "$ref": "#/components/parameters/x-cs-variant-uid"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Enter the actual query that will be executed to retrieve entries. This query should be in JSON format.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "{\"title\": \"Redmi 3S\"}"
            }
          },
          {
            "name": "include[]",
            "in": "query",
            "required": false,
            "description": "Enter the actual query that will be executed to retrieve entries. This query should be in JSON format.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "categories"
            }
          },
          {
            "name": "include_all",
            "in": "query",
            "required": false,
            "description": "Set this to true to include referenced entries.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "name": "include_all_depth",
            "in": "query",
            "required": false,
            "description": "Enter a value between 1 to 5 to specify levels of referenced entries to include in the response.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "3"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Enter the maximum number of entries to be returned.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "2"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "Enter the number of entries to be skipped.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "2"
            }
          },
          {
            "name": "asc",
            "in": "query",
            "required": false,
            "description": "Enter the actual query that will be executed to retrieve entries. This query should be in JSON format.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "price_in_usd"
            }
          },
          {
            "name": "desc",
            "in": "query",
            "required": false,
            "description": "Enter the actual query that will be executed to retrieve entries. This query should be in JSON format.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "price_in_usd"
            }
          },
          {
            "name": "only[BASE][]",
            "in": "query",
            "required": false,
            "description": "Enter the actual query that will be executed to retrieve entries. This query should be in JSON format.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "price_in_usd"
            }
          },
          {
            "name": "except[BASE][]",
            "in": "query",
            "required": false,
            "description": "Enter the actual query that will be executed to retrieve entries. This query should be in JSON format.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "price_in_usd"
            }
          },
          {
            "name": "include_count",
            "in": "query",
            "required": false,
            "description": "Enter 'true' to get the total count of the entries and their details.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Enter 'true' to only get the count of entries.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "false"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "tags": [
          "Queries"
        ],
        "security": [
          {
            "api_key": [],
            "access_token": [],
            "environment": []
          }
        ]
      }
    },
    "/v3/content_types/{content_type_uid}/entries/{entry_uid}": {
      "get": {
        "summary": "Get a single entry | Get information on embedded RTE objects | Get single entry variant",
        "description": "<p>The <span data-type='inlineCode'>Get a single entry</span> request fetches a particular entry of a content type.<br><br><p>To use the API Request, you'll need to use the <a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-delivery-tokens\">Delivery Token</a> of the respective environment.<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api/#authentication\">Authentication</a>.\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-delivery-api#get-a-single-entry>Get a single entry</a> API Reference document\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#get-information-on-embedded-rte-objects\" target=_blank>Get information on embedded RTE objects</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#get-single-entry-variant\" target=_blank>Get single entry variant</a></li></ul><p><strong>Note</strong>: The parameter values present here correspond to the AWS North America Region. To find the values corresponding to other regions, please refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api/\">Content Delivery API</a> doc.<strong></strong></p>",
        "operationId": "getasingleentry|getinformationonembeddedrteobjects|getsingleentryvariant",
        "parameters": [
          {
            "$ref": "#/components/parameters/content_type_uid"
          },
          {
            "$ref": "#/components/parameters/entry_uid"
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "description": "Enter the environment scoped to your delivery token. For example, if your delivery token is scoped to the production environment, pass the value as production.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "production"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "description": "Enter the code of the language of which you want to include&nbsp;the entries. Only the published localized entries will be displayed.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "en-us"
            }
          },
          {
            "name": "include_fallback",
            "in": "query",
            "required": false,
            "description": "Enter 'true' to include the published localized content from the fallback locale when the specified locale does not contain published content.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "name": "include_branch",
            "in": "query",
            "required": false,
            "description": "Set this to true to include the _branch top-level key in the response. This key states the unique ID of the branch where the concerned Contentstack module resides.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "false"
            }
          },
          {
            "$ref": "#/components/parameters/branch"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          },
          {
            "name": "include_embedded_items[]",
            "in": "query",
            "required": false,
            "description": "\nEnter \u2018BASE\u2019 to include entries and assets embedded inside the Rich Text Editor field.\n",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "BASE"
            }
          },
          {
            "name": "include_publish_details",
            "in": "query",
            "required": false,
            "description": "Enter \u201ctrue\u201d to include the publish details of the entry.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "name": "include_rules",
            "in": "query",
            "required": false,
            "description": "Enter \u201ctrue\u201d to include the publishing rules for the entry.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "name": "include_metadata",
            "in": "query",
            "required": false,
            "description": "Pass this as \"true\" to fetch the metadata attached to each entry.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "name": "show_errors",
            "in": "query",
            "required": false,
            "description": "Pass this as true to include the errors array in the response.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "$ref": "#/components/parameters/x-cs-variant-uid"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "tags": [
          "Entry variants"
        ],
        "security": [
          {
            "api_key": [],
            "access_token": [],
            "environment": []
          }
        ]
      }
    },
    "/v3/taxonomies/entries": {
      "get": {
        "summary": "Get all entries with defined taxonomies | IN Operator | OR Operator [Taxonomy] | AND Operator [Taxonomy] | Exists Operator.....",
        "description": "<p>The <span data-type='inlineCode'>Get all entries with defined taxonomies</span> request returns comprehensive information of all the entries that contain taxonomy(ies) available in a particular stack in your organization.<br><br><p>To use the API Request, you'll need to use the <a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-delivery-tokens\">Delivery Token</a> of the respective environment.<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api/#authentication\">Authentication</a>.\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-delivery-api#get-all-entries-with-defined-taxonomies>Get all entries with defined taxonomies</a> API Reference document\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#in-operator\" target=_blank>IN Operator</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#or-operator-taxonomy\" target=_blank>OR Operator [Taxonomy]</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#and-operator-taxonomy\" target=_blank>AND Operator [Taxonomy]</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#exists-operator\" target=_blank>Exists Operator</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#equal-and-below-operator\" target=_blank>Equal and Below Operator</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#below-operator\" target=_blank>Below Operator</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#equal-and-above-operator\" target=_blank>Equal and Above Operator</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#above-operator\" target=_blank>Above Operator</a></li></ul><p><strong>Note</strong>: The parameter values present here correspond to the AWS North America Region. To find the values corresponding to other regions, please refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api/\">Content Delivery API</a> doc.<strong></strong></p>",
        "operationId": "getallentrieswithdefinedtaxonomies|inoperator|oroperator[taxonomy]|andoperator[taxonomy]|existsoperator.....",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Provide a custom query in string format.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "{\"taxonomies.taxonomy_uid\" : \"term_uid\"}"
            }
          },
          {
            "$ref": "#/components/parameters/branch"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "tags": [
          "Queries"
        ],
        "security": [
          {
            "api_key": [],
            "access_token": []
          }
        ]
      }
    },
    "/v3/assets": {
      "get": {
        "summary": "Get all assets",
        "description": "<p>The <span data-type='inlineCode'>Get all assets</span> request fetches the list of all the assets of a particular stack. It returns the content of each asset in JSON format. You can also specify the environment of which you want to get the assets.<br><br><p>To use the API Request, you'll need to use the <a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-delivery-tokens\">Delivery Token</a> of the respective environment.<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api/#authentication\">Authentication</a>.\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-delivery-api#get-all-assets>Get all assets</a> API Reference document<p><strong>Note</strong>: The parameter values present here correspond to the AWS North America Region. To find the values corresponding to other regions, please refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api/\">Content Delivery API</a> doc.<strong></strong></p>",
        "operationId": "getallassets",
        "parameters": [
          {
            "name": "include_fallback",
            "in": "query",
            "required": false,
            "description": "Enter 'true' to include the published asset details from the fallback locale when the specified locale does not contain published content.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "name": "relative_urls",
            "in": "query",
            "required": false,
            "description": "Enter 'true' to include the relative URLs of the assets in the response.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "false"
            }
          },
          {
            "name": "include_dimension",
            "in": "query",
            "required": false,
            "description": "Enter 'true' to include the dimensions (height and width) of the image in the response. Supported image types: JPG, GIF, PNG, WebP, BMP, TIFF, SVG, and PSD.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "name": "include_branch",
            "in": "query",
            "required": false,
            "description": "Set this to true to include the _branch top-level key in the response. This key states the unique ID of the branch where the concerned Contentstack module resides.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "false"
            }
          },
          {
            "$ref": "#/components/parameters/branch"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "tags": [
          "Assets"
        ],
        "security": [
          {
            "api_key": [],
            "access_token": [],
            "environment": []
          }
        ]
      }
    },
    "/v3/assets/{asset_uid}": {
      "get": {
        "summary": "Get a single asset",
        "description": "<p>The <span data-type='inlineCode'>Get a single asset</span> request fetches the latest version of a specific asset of a particular stack.<br><br><p>To use the API Request, you'll need to use the <a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-delivery-tokens\">Delivery Token</a> of the respective environment.<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api/#authentication\">Authentication</a>.\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-delivery-api#get-a-single-asset>Get a single asset</a> API Reference document<p><strong>Note</strong>: The parameter values present here correspond to the AWS North America Region. To find the values corresponding to other regions, please refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api/\">Content Delivery API</a> doc.<strong></strong></p>",
        "operationId": "getasingleasset",
        "parameters": [
          {
            "$ref": "#/components/parameters/asset_uid"
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "Specify the version number of the asset that you want to retrieve. To retrieve a specific version, keep the environment parameter blank.&nbsp;If the version is not specified, the details of the latest version will be retrieved.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "include_fallback",
            "in": "query",
            "required": false,
            "description": "Enter 'true' to include published asset details from the fallback locale when the specified locale does not contain published information.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "name": "include_dimension",
            "in": "query",
            "required": false,
            "description": "Enter 'true' to include the dimensions (height and width)&nbsp;of the image&nbsp;in the response.&nbsp;Supported image&nbsp;types: JPG, GIF, PNG, WebP, BMP, TIFF, SVG, and PSD.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "name": "relative_urls",
            "in": "query",
            "required": false,
            "description": "Enter 'true' to include the relative URL of the asset in the response.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "false"
            }
          },
          {
            "name": "include_branch",
            "in": "query",
            "required": false,
            "description": "Set this to true to include the _branch top-level key in the response. This key states the unique ID of the branch where the concerned Contentstack module resides.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "false"
            }
          },
          {
            "name": "include_metadata",
            "in": "query",
            "required": false,
            "description": "Set this parameter to true to include the asset metadata along with all assets in the response body.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "$ref": "#/components/parameters/branch"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "tags": [
          "Assets"
        ],
        "security": [
          {
            "api_key": [],
            "access_token": [],
            "environment": []
          }
        ]
      }
    },
    "/v3/stacks/sync": {
      "get": {
        "summary": "Initial Sync | Sync using pagination token | Subsequent Sync",
        "description": "<p>The <span data-type='inlineCode'>Initial Sync</span>&nbsp;request syncs the entries and assets of a stack, published on a specific environment.<br><br><p>To use the API Request, you'll need to use the <a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-delivery-tokens\">Delivery Token</a> of the respective environment.<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api/#authentication\">Authentication</a>.\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-delivery-api#initial-sync>Initial Sync</a> API Reference document\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#sync-using-pagination-token\" target=_blank>Sync using pagination token</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api#subsequent-sync\" target=_blank>Subsequent Sync</a></li></ul><p><strong>Note</strong>: The parameter values present here correspond to the AWS North America Region. To find the values corresponding to other regions, please refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-delivery-api/\">Content Delivery API</a> doc.<strong></strong></p>",
        "operationId": "initialsync|syncusingpaginationtoken|subsequentsync",
        "parameters": [
          {
            "name": "init",
            "in": "query",
            "required": false,
            "description": "Enter \u2018true\u2019 to perform a complete sync of all your app data.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "true"
            }
          },
          {
            "name": "content_type_uid",
            "in": "query",
            "required": false,
            "description": "Enter the content type UID, if you want to sync entries of specific content types.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "product"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "description": "Enter the locale to retrieve and sync the content published on a specific locale.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "en-us"
            }
          },
          {
            "name": "start_from",
            "in": "query",
            "required": false,
            "description": "Specify the start date, if you want to retrieve and sync data starting from a specific date.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "2018-01-14T00:00:00.000Z"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Enter the type(s) of content you want to retrieve and sync. You can pass multiple types as comma-separated values.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "entry_published, entry_unpublished, asset_published"
            }
          },
          {
            "$ref": "#/components/parameters/branch"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          },
          {
            "name": "pagination_token",
            "in": "query",
            "required": false,
            "description": "Enter the pagination token that you received in the response body of the previous sync process.",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "bltd8d8b3d427917796048622"
            }
          },
          {
            "name": "sync_token",
            "in": "query",
            "required": false,
            "description": "Enter the sync token that you received in the response body of the previous completed Synchronization process to get the delta updates",
            "style": "form",
            "schema": {
              "type": "string",
              "example": "blt42d8feee86ff1eb6d0de5c"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "tags": [
          "Synchronization"
        ],
        "security": [
          {
            "api_key": [],
            "access_token": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api_key": {
        "name": "api_key",
        "type": "apiKey",
        "description": "contentstack api_key",
        "in": "header"
      },
      "access_token": {
        "name": "access_token",
        "type": "apiKey",
        "description": "contentstack delivery token",
        "in": "header"
      },
      "environment": {
        "name": "environment",
        "type": "apiKey",
        "description": "environment",
        "in": "query"
      }
    },
    "parameters": {
      "branch": {
        "name": "branch",
        "in": "header",
        "required": false,
        "description": "Enter your branch unique ID.",
        "style": "simple",
        "schema": {
          "type": "string",
          "example": "main"
        }
      },
      "Content-Type": {
        "name": "Content-Type",
        "in": "header",
        "required": true,
        "style": "simple",
        "schema": {
          "type": "string",
          "example": "application/json"
        }
      },
      "content_type_uid": {
        "name": "content_type_uid",
        "in": "path",
        "required": true,
        "style": "simple",
        "schema": {
          "type": "string",
          "example": "product"
        }
      },
      "global_field_uid": {
        "name": "global_field_uid",
        "in": "path",
        "required": true,
        "style": "simple",
        "schema": {
          "type": "string",
          "example": "seo"
        }
      },
      "entry_uid": {
        "name": "entry_uid",
        "in": "path",
        "required": true,
        "style": "simple",
        "schema": {
          "type": "string",
          "example": "blta250054cfa4f5aab"
        }
      },
      "x-cs-variant-uid": {
        "name": "x-cs-variant-uid",
        "in": "header",
        "required": true,
        "description": "Enter the variant UID linked with your content type.",
        "style": "simple",
        "schema": {
          "type": "string",
          "example": "csa639040f051b6db6, csbf165536748bdee2, cs619c85c94f383934, cs669f1759b774fe1d"
        }
      },
      "asset_uid": {
        "name": "asset_uid",
        "in": "path",
        "required": true,
        "style": "simple",
        "schema": {
          "type": "string",
          "example": "blt19c34e5374418484"
        }
      }
    }
  }
}