{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "contact@tinyuid.com",
      "name": "TinyUID",
      "url": "https://tinyuid.com/feedback"
    },
    "description": "Paste a Long URL link to shorten it",
    "title": "TinyUID.com",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/tinyuid.com/1.0.0/swagger.json",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://tinyuid.com/tinyuid-swagger.yaml",
        "version": "2.0"
      }
    ],
    "x-providerName": "tinyuid.com"
  },
  "servers": [
    {
      "url": "https://tinyuid.com/api/"
    }
  ],
  "paths": {
    "/v1/shorten": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result_url": {
                      "description": "Short link",
                      "format": "url",
                      "type": "string"
                    }
                  },
                  "required": [
                    "result_url"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "v1"
        ],
        "description": "Create short link",
        "operationId": "post-v1-shorten",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "url": {
                    "description": "Link",
                    "format": "url",
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Create short link"
      }
    }
  },
  "tags": [
    {
      "name": "v1"
    }
  ],
  "externalDocs": {
    "url": "https://tinyuid.com/docs"
  }
}