{
  "openapi": "3.0.3",
  "info": {
    "title": "SerpApi Travel APIs",
    "description": "SerpApi provides real-time access to Google Flights and Google Hotels search results as structured JSON. Use these endpoints to search for flights, hotels, and vacation rentals with full filtering, sorting, and pagination support.",
    "version": "1.0.0",
    "contact": {
      "name": "SerpApi",
      "url": "https://serpapi.com"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/elena-anagn/import-openapi-specs/main/serpapi/serpapi-travel/1.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://serpapi.com",
      "description": "SerpApi production server"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "searchFlights",
        "summary": "Search Google Flights",
        "description": "Search for flights using Google Flights engine. Returns flight itineraries with prices, durations, airlines, layovers, carbon emissions, and booking tokens.",
        "parameters": [
          {
            "name": "engine",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "google_flights"
              ]
            },
            "description": "Must be set to google_flights for flight search."
          },
          {
            "name": "departure_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Departure airport IATA code (e.g. CDG, JFK) or Google location kgmid. Supports multiple comma-separated values."
          },
          {
            "name": "arrival_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Arrival airport IATA code (e.g. LHR, LAX) or Google location kgmid. Supports multiple comma-separated values."
          },
          {
            "name": "outbound_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Outbound flight date in YYYY-MM-DD format."
          },
          {
            "name": "return_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Return flight date in YYYY-MM-DD format. Required for round trip (type=1)."
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3
              ],
              "default": 1
            },
            "description": "Trip type: 1 = Round trip (default), 2 = One way, 3 = Multi-city."
          },
          {
            "name": "travel_class",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4
              ],
              "default": 1
            },
            "description": "Cabin class: 1 = Economy (default), 2 = Premium economy, 3 = Business, 4 = First."
          },
          {
            "name": "adults",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Number of adult passengers."
          },
          {
            "name": "children",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of child passengers."
          },
          {
            "name": "infants_in_seat",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of infants with their own seat."
          },
          {
            "name": "infants_on_lap",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of infants on lap."
          },
          {
            "name": "stops",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                2,
                3
              ],
              "default": 0
            },
            "description": "Maximum stops: 0 = Any number (default), 1 = Nonstop only, 2 = 1 stop or fewer, 3 = 2 stops or fewer."
          },
          {
            "name": "include_airlines",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated IATA airline codes to include (e.g. BA,LH). Use SKYTEAM, STAR_ALLIANCE, or ONEWORLD for alliances."
          },
          {
            "name": "exclude_airlines",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated IATA airline codes to exclude."
          },
          {
            "name": "bags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of carry-on/checked bags to filter by."
          },
          {
            "name": "max_price",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum price filter in the specified currency."
          },
          {
            "name": "max_duration",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum total flight duration in minutes."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6
              ],
              "default": 1
            },
            "description": "Sort order: 1 = Top flights (default), 2 = Price, 3 = Departure time, 4 = Arrival time, 5 = Duration, 6 = Emissions."
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            },
            "description": "Currency code for prices (e.g. USD, EUR, GBP)."
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            },
            "description": "Language code for results (e.g. en, fr, de)."
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "us"
            },
            "description": "Country code for the search (e.g. us, uk, fr)."
          },
          {
            "name": "deep_search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, returns results identical to those found on Google Flights in the browser. May take longer."
          },
          {
            "name": "show_hidden",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, includes hidden results (equivalent to 'View more flights' on Google Flights)."
          },
          {
            "name": "departure_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Token for retrieving return flights or next leg of a multi-city trip."
          },
          {
            "name": "booking_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Token for retrieving booking options for a specific flight."
          },
          {
            "name": "no_cache",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, forces fresh results. Cached results (default) are free and expire after 1 hour."
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, submits search for later retrieval via Search Archive API."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful flight search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightSearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/search?engine=google_hotels": {
      "get": {
        "operationId": "searchHotels",
        "summary": "Search Google Hotels",
        "description": "Search for hotels and vacation rentals using Google Hotels engine. Returns properties with rates, ratings, amenities, and location data.",
        "parameters": [
          {
            "name": "engine",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "google_hotels"
              ]
            },
            "description": "Must be set to google_hotels for hotel search."
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Hotel search query (e.g. 'Hotels in Paris', 'Hilton London')."
          },
          {
            "name": "check_in_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Check-in date in YYYY-MM-DD format."
          },
          {
            "name": "check_out_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Check-out date in YYYY-MM-DD format."
          },
          {
            "name": "adults",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2
            },
            "description": "Number of adult guests (default: 2)."
          },
          {
            "name": "children",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of children."
          },
          {
            "name": "children_ages",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated ages of children (1-17)."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                3,
                8,
                13
              ]
            },
            "description": "Sort order: 3 = Lowest price, 8 = Highest rating, 13 = Most reviewed."
          },
          {
            "name": "min_price",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Minimum price per night filter."
          },
          {
            "name": "max_price",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum price per night filter."
          },
          {
            "name": "rating",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                7,
                8,
                9
              ]
            },
            "description": "Minimum rating filter: 7 = 3.5+, 8 = 4.0+, 9 = 4.5+."
          },
          {
            "name": "hotel_class",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                2,
                3,
                4,
                5
              ]
            },
            "description": "Hotel star class filter (2-5 stars)."
          },
          {
            "name": "free_cancellation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter to only show properties with free cancellation."
          },
          {
            "name": "special_offers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter to only show properties with special offers/deals."
          },
          {
            "name": "eco_certified",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter to only show eco-certified properties."
          },
          {
            "name": "vacation_rentals",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "When true, searches for vacation rentals instead of hotels."
          },
          {
            "name": "bedrooms",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Minimum number of bedrooms (vacation rentals only)."
          },
          {
            "name": "bathrooms",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Minimum number of bathrooms (vacation rentals only)."
          },
          {
            "name": "property_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Token for retrieving detailed information about a specific property."
          },
          {
            "name": "next_page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination token for retrieving next page of results."
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            },
            "description": "Currency code for prices (e.g. USD, EUR, GBP)."
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "us"
            },
            "description": "Country code for the search (e.g. us, uk, fr)."
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            },
            "description": "Language code for results (e.g. en, fr, de)."
          },
          {
            "name": "no_cache",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, forces fresh results. Cached results (default) are free and expire after 1 hour."
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When true, submits search for later retrieval via Search Archive API."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful hotel search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HotelSearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "SerpApi private API key passed as a query parameter."
      }
    },
    "schemas": {
      "FlightSearchResponse": {
        "type": "object",
        "properties": {
          "search_metadata": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "json_endpoint": {
                "type": "string"
              },
              "created_at": {
                "type": "string"
              },
              "processed_at": {
                "type": "string"
              },
              "total_time_taken": {
                "type": "number"
              }
            }
          },
          "best_flights": {
            "type": "array",
            "description": "Top recommended flight itineraries.",
            "items": {
              "$ref": "#/components/schemas/FlightItinerary"
            }
          },
          "other_flights": {
            "type": "array",
            "description": "Additional flight itineraries.",
            "items": {
              "$ref": "#/components/schemas/FlightItinerary"
            }
          },
          "price_insights": {
            "type": "object",
            "properties": {
              "lowest_price": {
                "type": "integer"
              },
              "price_level": {
                "type": "string"
              },
              "typical_price_range": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "price_history": {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "airports": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "departure": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Airport"
                  }
                },
                "arrival": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Airport"
                  }
                }
              }
            }
          }
        }
      },
      "FlightItinerary": {
        "type": "object",
        "properties": {
          "flights": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlightSegment"
            }
          },
          "layovers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "duration": {
                  "type": "integer",
                  "description": "Layover duration in minutes."
                },
                "name": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "overnight": {
                  "type": "boolean"
                }
              }
            }
          },
          "total_duration": {
            "type": "integer",
            "description": "Total trip duration in minutes."
          },
          "carbon_emissions": {
            "type": "object",
            "properties": {
              "this_flight": {
                "type": "integer",
                "description": "CO2 emissions in grams."
              },
              "typical_for_this_route": {
                "type": "integer"
              },
              "difference_percent": {
                "type": "integer"
              }
            }
          },
          "price": {
            "type": "integer",
            "description": "Price in the requested currency."
          },
          "type": {
            "type": "string"
          },
          "departure_token": {
            "type": "string",
            "description": "Token to search for return flights."
          },
          "booking_token": {
            "type": "string",
            "description": "Token to retrieve booking options."
          }
        }
      },
      "FlightSegment": {
        "type": "object",
        "properties": {
          "departure_airport": {
            "$ref": "#/components/schemas/AirportRef"
          },
          "arrival_airport": {
            "$ref": "#/components/schemas/AirportRef"
          },
          "duration": {
            "type": "integer",
            "description": "Segment duration in minutes."
          },
          "airplane": {
            "type": "string"
          },
          "airline": {
            "type": "string"
          },
          "airline_logo": {
            "type": "string",
            "format": "uri"
          },
          "flight_number": {
            "type": "string"
          },
          "travel_class": {
            "type": "string"
          },
          "legroom": {
            "type": "string"
          },
          "extensions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AirportRef": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "description": "IATA airport code."
          },
          "time": {
            "type": "string",
            "description": "Local departure/arrival time."
          }
        }
      },
      "Airport": {
        "type": "object",
        "properties": {
          "airport": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "image": {
            "type": "string",
            "format": "uri"
          },
          "thumbnail": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "HotelSearchResponse": {
        "type": "object",
        "properties": {
          "search_metadata": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "json_endpoint": {
                "type": "string"
              },
              "created_at": {
                "type": "string"
              },
              "processed_at": {
                "type": "string"
              },
              "total_time_taken": {
                "type": "number"
              }
            }
          },
          "search_information": {
            "type": "object",
            "properties": {
              "total_results": {
                "type": "integer"
              }
            }
          },
          "brands": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "children": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "properties": {
            "type": "array",
            "description": "Hotel/property results.",
            "items": {
              "$ref": "#/components/schemas/HotelProperty"
            }
          },
          "serpapi_pagination": {
            "type": "object",
            "properties": {
              "next_page_token": {
                "type": "string"
              },
              "next": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "HotelProperty": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "gps_coordinates": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              }
            }
          },
          "check_in_time": {
            "type": "string"
          },
          "check_out_time": {
            "type": "string"
          },
          "rate_per_night": {
            "type": "object",
            "properties": {
              "lowest": {
                "type": "string"
              },
              "extracted_lowest": {
                "type": "number"
              },
              "before_taxes_fees": {
                "type": "string"
              },
              "extracted_before_taxes_fees": {
                "type": "number"
              }
            }
          },
          "total_rate": {
            "type": "object",
            "properties": {
              "lowest": {
                "type": "string"
              },
              "extracted_lowest": {
                "type": "number"
              },
              "before_taxes_fees": {
                "type": "string"
              },
              "extracted_before_taxes_fees": {
                "type": "number"
              }
            }
          },
          "hotel_class": {
            "type": "integer",
            "description": "Star rating (2-5)."
          },
          "overall_rating": {
            "type": "number"
          },
          "reviews": {
            "type": "integer"
          },
          "location_rating": {
            "type": "number"
          },
          "amenities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "excluded_amenities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "thumbnail": {
                  "type": "string",
                  "format": "uri"
                },
                "original_image": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "nearby_places": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "transportations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "duration": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "property_token": {
            "type": "string",
            "description": "Token for retrieving full property details."
          },
          "serpapi_property_details_link": {
            "type": "string",
            "format": "uri"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ]
}