{
  "openapi": "3.0.3",
  "info": {
    "title": "Jitsu Event API",
    "version": "1.0.0",
    "description": "Jitsu Event API for direct event collection. Used by 6ix for sending events directly from apps or backends. Supports server-to-server event ingestion with geo and user-agent enrichment.",
    "x-jentic-source-url": "https://jitsu.com/docs/sending-data/api"
  },
  "servers": [
    {
      "url": "https://t.jitsu.com"
    }
  ],
  "paths": {
    "/api/v1/s2s/event": {
      "post": {
        "operationId": "sendEvent",
        "summary": "Send an event",
        "description": "Sends a server-to-server event to Jitsu for collection and processing.",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Server secret token for authentication",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "Server secret token for authentication (alternative to query param)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EventRequest": {
        "type": "object",
        "properties": {
          "event_id": {
            "type": "string",
            "description": "Unique event identifier"
          },
          "event_data": {
            "type": "object",
            "description": "Event payload data"
          },
          "page_ctx": {
            "type": "object",
            "properties": {
              "page_title": {
                "type": "string",
                "description": "Page title"
              },
              "referer": {
                "type": "string",
                "description": "Referrer URL"
              },
              "url": {
                "type": "string",
                "description": "Page URL"
              }
            },
            "description": "Page context information"
          },
          "device_ctx": {
            "type": "object",
            "properties": {
              "ip": {
                "type": "string",
                "description": "Client IP address"
              },
              "user_agent": {
                "type": "string",
                "description": "Client user agent string"
              }
            },
            "description": "Device context information"
          },
          "user": {
            "type": "object",
            "description": "User information"
          }
        }
      },
      "EventResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["ok"]
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["error"]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "token"
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Auth-Token"
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ]
}
