{"openapi":"3.0.3","info":{"title":"Walla API","version":"1.0.0","description":"Walla fitness studio management API for managing clients, classes, bookings, and memberships.","x-jentic-source-url":"https://api.hellowalla.com/apidoc"},"servers":[{"url":"https://api.hellowalla.com"}],"tags":[{"name":"Clients"},{"name":"Classes"},{"name":"Bookings"},{"name":"Memberships"}],"paths":{"/api/v1/clients":{"get":{"operationId":"listClients","summary":"List all clients","tags":["Clients"],"parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false},{"name":"limit","in":"query","schema":{"type":"integer","default":25},"required":false},{"name":"email","in":"query","schema":{"type":"string"},"required":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientListResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"operationId":"createClient","summary":"Create a client","tags":["Clients"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientInput"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Client"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/clients/{clientId}":{"get":{"operationId":"getClient","summary":"Get client details","tags":["Clients"],"parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Client"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/classes":{"get":{"operationId":"listClasses","summary":"List classes","tags":["Classes"],"parameters":[{"name":"from","in":"query","schema":{"type":"string","format":"date"},"required":false},{"name":"to","in":"query","schema":{"type":"string","format":"date"},"required":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClassListResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/bookings":{"get":{"operationId":"listBookings","summary":"List bookings","tags":["Bookings"],"parameters":[{"name":"client_id","in":"query","schema":{"type":"string"},"required":false}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingListResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"operationId":"createBooking","summary":"Create a booking","tags":["Bookings"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingInput"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Booking"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/memberships":{"get":{"operationId":"listMemberships","summary":"List memberships","tags":["Memberships"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MembershipListResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"Client":{"type":"object","properties":{"id":{"type":"string"},"first_name":{"type":"string"},"last_name":{"type":"string"},"email":{"type":"string","format":"email"},"phone":{"type":"string"},"membership_id":{"type":"string"},"created_at":{"type":"string","format":"date-time"}}},"ClientInput":{"type":"object","required":["first_name","last_name","email"],"properties":{"first_name":{"type":"string"},"last_name":{"type":"string"},"email":{"type":"string","format":"email"},"phone":{"type":"string"}}},"ClientListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Client"}},"total":{"type":"integer"}}},"Class":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"instructor":{"type":"string"},"start_time":{"type":"string","format":"date-time"},"end_time":{"type":"string","format":"date-time"},"capacity":{"type":"integer"},"enrolled":{"type":"integer"}}},"ClassListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Class"}},"total":{"type":"integer"}}},"Booking":{"type":"object","properties":{"id":{"type":"string"},"client_id":{"type":"string"},"class_id":{"type":"string"},"status":{"type":"string","enum":["confirmed","cancelled","waitlisted"]},"booked_at":{"type":"string","format":"date-time"}}},"BookingInput":{"type":"object","required":["client_id","class_id"],"properties":{"client_id":{"type":"string"},"class_id":{"type":"string"}}},"BookingListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Booking"}},"total":{"type":"integer"}}},"Membership":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"price":{"type":"number"},"duration_days":{"type":"integer"}}},"MembershipListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Membership"}},"total":{"type":"integer"}}},"ErrorResponse":{"type":"object","properties":{"status":{"type":"string","enum":["error"]},"code":{"type":"string"},"message":{"type":"string"}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"security":[{"bearerAuth":[]}]}
