{
  "openapi": "3.0.3",
  "info": {
    "title": "Theteller Payment API",
    "description": "Theteller payment processing API for checkout, mobile money, card payments, bank transfers, and transaction management.",
    "version": "1.1.0",
    "x-jentic-source-url": "https://theteller.net/documentation"
  },
  "servers": [
    {
      "url": "https://checkout.theteller.net",
      "description": "Live checkout server"
    },
    {
      "url": "https://checkout-test.theteller.net",
      "description": "Test checkout server"
    },
    {
      "url": "https://prod.theteller.net",
      "description": "Live transaction server"
    },
    {
      "url": "https://test.theteller.net",
      "description": "Test transaction server"
    }
  ],
  "paths": {
    "/checkout/initiate": {
      "post": {
        "operationId": "initiateCheckout",
        "summary": "Initiate checkout payment",
        "description": "Initiates a payment by generating a token and checkout URL for the standard checkout flow.",
        "tags": [
          "Checkout"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutInitiateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout token successfully generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutInitiateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/users/transactions/{transaction_id}/status": {
      "get": {
        "operationId": "getTransactionStatus",
        "summary": "Check transaction status",
        "description": "Verifies the status of a transaction using the transaction ID.",
        "tags": [
          "Transactions"
        ],
        "security": [],
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "description": "The 12-digit transaction ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Merchant-Id",
            "in": "header",
            "required": true,
            "description": "Merchant identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/transaction/process": {
      "post": {
        "operationId": "processTransaction",
        "summary": "Process fund transfer or payment",
        "description": "Processes transfers to mobile money, bank accounts, or processes card/mobile money payments.",
        "tags": [
          "Transactions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/transaction/bank/ftc/authorize": {
      "post": {
        "operationId": "authorizeBankTransfer",
        "summary": "Authorize bank transfer",
        "description": "Completes authorization for bank transfers after name verification.",
        "tags": [
          "Transactions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizeBankTransferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bank transfer authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rest/resources/card/reversal": {
      "post": {
        "operationId": "reverseCardTransaction",
        "summary": "Reverse card transaction",
        "description": "Reverses a previously processed card transaction.",
        "tags": [
          "Reversals"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardReversalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction reversed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardReversalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication using base64-encoded username:api_key"
      }
    },
    "schemas": {
      "CheckoutInitiateRequest": {
        "type": "object",
        "required": [
          "merchant_id",
          "transaction_id",
          "desc",
          "amount",
          "redirect_url",
          "email"
        ],
        "properties": {
          "merchant_id": {
            "type": "string",
            "description": "Merchant identifier"
          },
          "transaction_id": {
            "type": "string",
            "description": "Unique 12-digit transaction identifier"
          },
          "desc": {
            "type": "string",
            "description": "Transaction description"
          },
          "amount": {
            "type": "string",
            "description": "Transaction amount"
          },
          "redirect_url": {
            "type": "string",
            "description": "URL to redirect after payment"
          },
          "email": {
            "type": "string",
            "description": "Customer email"
          }
        }
      },
      "CheckoutInitiateResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          },
          "code": {
            "type": "integer",
            "example": 200
          },
          "reason": {
            "type": "string",
            "example": "Token successfully generated"
          },
          "token": {
            "type": "string",
            "description": "Payment token"
          },
          "checkout_url": {
            "type": "string",
            "description": "URL to redirect customer for payment"
          }
        }
      },
      "TransactionStatusResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Response code (000 = success)"
          },
          "status": {
            "type": "string",
            "description": "Transaction status",
            "example": "approved"
          },
          "reason": {
            "type": "string",
            "description": "Status description"
          },
          "transaction_id": {
            "type": "string",
            "description": "Transaction identifier"
          },
          "r_switch": {
            "type": "string",
            "description": "Payment switch"
          },
          "subscriber_number": {
            "type": "string",
            "description": "Subscriber number"
          },
          "amount": {
            "type": "number",
            "description": "Transaction amount"
          }
        }
      },
      "ProcessTransactionRequest": {
        "type": "object",
        "required": [
          "merchant_id",
          "transaction_id",
          "amount",
          "processing_code",
          "r-switch",
          "desc"
        ],
        "properties": {
          "merchant_id": {
            "type": "string",
            "description": "Merchant identifier"
          },
          "transaction_id": {
            "type": "string",
            "description": "Unique 12-digit transaction identifier"
          },
          "amount": {
            "type": "string",
            "description": "Transaction amount"
          },
          "processing_code": {
            "type": "string",
            "description": "Payment type code: 404000 (mobile transfer), 404020 (bank transfer), 000000 (card), 000200 (mobile payment)",
            "enum": [
              "404000",
              "404020",
              "000000",
              "000200"
            ]
          },
          "r-switch": {
            "type": "string",
            "description": "Payment switch identifier"
          },
          "desc": {
            "type": "string",
            "description": "Transaction description"
          },
          "pass_code": {
            "type": "string",
            "description": "Pass code for fund transfers"
          },
          "account_number": {
            "type": "string",
            "description": "Destination account number"
          },
          "account_issuer": {
            "type": "string",
            "description": "Account issuer identifier"
          },
          "account_bank": {
            "type": "string",
            "description": "Bank identifier for bank transfers"
          },
          "subscriber_number": {
            "type": "string",
            "description": "Mobile subscriber number for mobile money payments"
          },
          "pan": {
            "type": "string",
            "description": "Card PAN number"
          },
          "exp_month": {
            "type": "string",
            "description": "Card expiry month"
          },
          "exp_year": {
            "type": "string",
            "description": "Card expiry year"
          },
          "cvv": {
            "type": "string",
            "description": "Card CVV"
          },
          "card_holder": {
            "type": "string",
            "description": "Cardholder name"
          },
          "customer_email": {
            "type": "string",
            "description": "Customer email for card payments"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "3d_url_response": {
            "type": "string",
            "description": "3D Secure redirect URL"
          }
        }
      },
      "ProcessTransactionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Transaction status"
          },
          "code": {
            "type": "string",
            "description": "Response code (000 = success)"
          },
          "reason": {
            "type": "string",
            "description": "Status description"
          },
          "reference_id": {
            "type": "string",
            "description": "Reference identifier"
          },
          "account_name": {
            "type": "string",
            "description": "Account holder name"
          },
          "transaction_id": {
            "type": "string",
            "description": "Transaction identifier"
          }
        }
      },
      "AuthorizeBankTransferRequest": {
        "type": "object",
        "required": [
          "merchant_id",
          "reference_id"
        ],
        "properties": {
          "merchant_id": {
            "type": "string",
            "description": "Merchant identifier"
          },
          "reference_id": {
            "type": "string",
            "description": "Reference ID from the initial transfer request"
          }
        }
      },
      "CardReversalRequest": {
        "type": "object",
        "required": [
          "merchant_id",
          "transaction_id",
          "amount"
        ],
        "properties": {
          "merchant_id": {
            "type": "string",
            "description": "Merchant identifier"
          },
          "transaction_id": {
            "type": "string",
            "description": "Transaction ID to reverse"
          },
          "amount": {
            "type": "string",
            "description": "Reversal amount"
          }
        }
      },
      "CardReversalResponse": {
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "approved"
          },
          "code": {
            "type": "string",
            "example": "000"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Checkout",
      "description": "Checkout payment initiation"
    },
    {
      "name": "Transactions",
      "description": "Transaction processing and status"
    },
    {
      "name": "Reversals",
      "description": "Card transaction reversals"
    }
  ]
}