{
  "openapi": "3.0.3",
  "info": {
    "title": "Guestmeter API",
    "version": "1.0.0",
    "description": "Guestmeter API for managing guest satisfaction surveys, retrieving guest details and ratings for hospitality properties.",
    "x-jentic-source-url": "http://www.guestmeter.com/docs/api"
  },
  "servers": [
    {
      "url": "https://www.guestmeter.com/api"
    }
  ],
  "paths": {
    "/sendSurvey": {
      "post": {
        "operationId": "sendSurvey",
        "summary": "Send guest satisfaction survey",
        "description": "Send a guest satisfaction survey via SMS or Email",
        "tags": [
          "Surveys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSurveyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getGuest": {
      "get": {
        "operationId": "getGuest",
        "summary": "Get guest details",
        "description": "Get guest and rating details by guestID parameter",
        "tags": [
          "Guests"
        ],
        "parameters": [
          {
            "name": "guestID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Guest UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getGuestList": {
      "get": {
        "operationId": "getGuestList",
        "summary": "Get guest list",
        "description": "Get the list of guests for your property",
        "tags": [
          "Guests"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GuestDetail"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/OTA_HotelResNotifRQ": {
      "post": {
        "operationId": "createHotelReservationNotification",
        "summary": "OTA Hotel Reservation Notification",
        "description": "Push reservation/modification/cancellation notifications",
        "tags": [
          "Reservations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendSurveyRequest": {
        "type": "object",
        "properties": {
          "guestEmail": {
            "type": "string",
            "format": "email"
          },
          "guestPhone": {
            "type": "string"
          },
          "guestName": {
            "type": "string"
          },
          "roomNumber": {
            "type": "string"
          },
          "integrationID": {
            "type": "string"
          },
          "primarySendMethod": {
            "type": "string",
            "enum": [
              "email",
              "sms"
            ]
          },
          "languageCode": {
            "type": "string"
          },
          "checkoutDate": {
            "type": "string",
            "description": "Format: DD.MM.YYYY or DD-MM-YYYY"
          }
        },
        "required": [
          "guestName"
        ]
      },
      "SurveyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "statusCode": {
            "type": "integer"
          },
          "statusMessage": {
            "type": "string"
          }
        }
      },
      "GuestDetail": {
        "type": "object",
        "properties": {
          "guestID": {
            "type": "string",
            "format": "uuid"
          },
          "guestName": {
            "type": "string"
          },
          "guestEmail": {
            "type": "string"
          },
          "guestPhone": {
            "type": "string"
          },
          "roomNumber": {
            "type": "string"
          },
          "rating": {
            "type": "number"
          },
          "feedback": {
            "type": "string"
          },
          "deliveryStatus": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "apiKey"
      },
      "secretKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "secretKey"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": [],
      "secretKeyAuth": []
    }
  ]
}