{
  "openapi": "3.0.3",
  "info": {
    "title": "geoCapture API",
    "version": "1.1.0",
    "description": "The geoCapture API provides integration endpoints for time-tracking, GPS tracking, disposition management, and asset tracking functionalities.",
    "x-jentic-source-url": "https://app.geocapture.net/api/help/view"
  },
  "servers": [
    {
      "url": "https://app.geocapture.net/api"
    }
  ],
  "paths": {
    "/employees": {
      "get": {
        "operationId": "listEmployees",
        "summary": "List employees",
        "description": "Returns a list of employees",
        "tags": ["Employees"],
        "parameters": [
          {
            "name": "apitoken",
            "in": "query",
            "description": "API token for authentication",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EmployeeListResponse" }
              }
            }
          },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "429": { "description": "Rate limit exceeded" }
        }
      }
    },
    "/employees/stamps": {
      "get": {
        "operationId": "listEmployeeStamps",
        "summary": "List employee stamps",
        "description": "Returns employee time tracking stamps",
        "tags": ["Time Tracking"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "offset", "in": "query", "description": "Pagination offset", "required": false, "schema": { "type": "integer", "default": 0 } },
          { "name": "limit", "in": "query", "description": "Number of results per page", "required": false, "schema": { "type": "integer", "default": 100 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StampListResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "createEmployeeStamp",
        "summary": "Create employee stamp",
        "description": "Create a new employee time tracking stamp",
        "tags": ["Time Tracking"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/StampCreate" }
            }
          }
        },
        "responses": {
          "200": { "description": "Stamp created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Stamp" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/employees/absences": {
      "get": {
        "operationId": "listEmployeeAbsences",
        "summary": "List employee absences",
        "description": "Returns a list of employee absences",
        "tags": ["Time Tracking"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "offset", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AbsenceListResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/employees/accounting": {
      "get": {
        "operationId": "listEmployeeAccounting",
        "summary": "List employee accounting entries",
        "description": "Returns employee accounting entries",
        "tags": ["Time Tracking"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/vehicles": {
      "get": {
        "operationId": "listVehicles",
        "summary": "List vehicles and trackers",
        "description": "Returns a list of vehicles/trackers",
        "tags": ["GPS Tracking"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/VehicleListResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/vehicles/positions": {
      "get": {
        "operationId": "listVehiclePositions",
        "summary": "List vehicle positions",
        "description": "Returns GPS positions for vehicles",
        "tags": ["GPS Tracking"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "offset", "in": "query", "required": false, "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/vehicles/events": {
      "get": {
        "operationId": "listVehicleEvents",
        "summary": "List vehicle events",
        "description": "Returns events such as moves, stops, and ignition for vehicles",
        "tags": ["GPS Tracking"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/beacons": {
      "get": {
        "operationId": "listBeacons",
        "summary": "List beacons",
        "description": "Returns a list of beacons for tracking",
        "tags": ["GPS Tracking"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/beacons/positions": {
      "get": {
        "operationId": "listBeaconPositions",
        "summary": "List beacon positions",
        "description": "Returns GPS positions for beacons",
        "tags": ["GPS Tracking"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/tools": {
      "get": {
        "operationId": "listTools",
        "summary": "List tools",
        "description": "Returns a list of tools in inventory",
        "tags": ["Asset Management"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/containers": {
      "get": {
        "operationId": "listContainers",
        "summary": "List containers",
        "description": "Returns a list of containers",
        "tags": ["Asset Management"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "description": "Returns a list of projects",
        "tags": ["Projects"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/tours": {
      "get": {
        "operationId": "listTours",
        "summary": "List tours",
        "description": "Returns a list of disposition tours",
        "tags": ["Disposition"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "createTour",
        "summary": "Create a tour",
        "description": "Create a new disposition tour",
        "tags": ["Disposition"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TourCreate" }
            }
          }
        },
        "responses": {
          "200": { "description": "Tour created" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/tours/optimize": {
      "post": {
        "operationId": "optimizeTour",
        "summary": "Optimize a tour",
        "description": "Optimize tour route calculations",
        "tags": ["Disposition"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": {
          "200": { "description": "Optimized tour" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/approvals": {
      "get": {
        "operationId": "listApprovals",
        "summary": "List approvals",
        "description": "Returns approval workflows and status",
        "tags": ["Approvals"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/forms": {
      "get": {
        "operationId": "listForms",
        "summary": "List forms",
        "description": "Returns a list of forms",
        "tags": ["Forms"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/forms/{formId}/pdf": {
      "get": {
        "operationId": "getFormPdf",
        "summary": "Get form PDF",
        "description": "Generate a PDF for a form",
        "tags": ["Forms"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "formId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "PDF generated", "content": { "application/pdf": { "schema": { "type": "string", "format": "binary" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/geocode": {
      "get": {
        "operationId": "geocode",
        "summary": "Geocode an address",
        "description": "Convert address to coordinates or coordinates to address",
        "tags": ["Geocoding"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "address", "in": "query", "description": "Address to geocode", "required": false, "schema": { "type": "string" } },
          { "name": "lat", "in": "query", "description": "Latitude for reverse geocoding", "required": false, "schema": { "type": "number" } },
          { "name": "lng", "in": "query", "description": "Longitude for reverse geocoding", "required": false, "schema": { "type": "number" } }
        ],
        "responses": {
          "200": { "description": "Geocoding result" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/routes": {
      "get": {
        "operationId": "calculateRoute",
        "summary": "Calculate route",
        "description": "Calculate a route between coordinates",
        "tags": ["Geocoding"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Route calculated" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "description": "Returns a list of configured webhooks",
        "tags": ["Webhooks"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create webhook",
        "description": "Create a new webhook subscription",
        "tags": ["Webhooks"],
        "parameters": [
          { "name": "apitoken", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": {
          "200": { "description": "Webhook created" },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Employee": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Unique identifier" },
          "name": { "type": "string", "description": "Employee name" },
          "email": { "type": "string", "description": "Employee email" }
        }
      },
      "EmployeeListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Employee" } },
          "total": { "type": "integer" }
        }
      },
      "Stamp": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "employee_id": { "type": "string" },
          "timestamp": { "type": "string", "format": "date-time" },
          "type": { "type": "string" }
        }
      },
      "StampCreate": {
        "type": "object",
        "properties": {
          "employee_id": { "type": "string" },
          "timestamp": { "type": "string", "format": "date-time" },
          "type": { "type": "string" }
        },
        "required": ["employee_id", "timestamp"]
      },
      "StampListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Stamp" } },
          "total": { "type": "integer" }
        }
      },
      "AbsenceListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "type": "object" } },
          "total": { "type": "integer" }
        }
      },
      "VehicleListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "type": "object" } },
          "total": { "type": "integer" }
        }
      },
      "TourCreate": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "date": { "type": "string", "format": "date" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["error"] },
          "code": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "type": "apiKey",
        "in": "query",
        "name": "apitoken"
      }
    }
  },
  "security": [
    {
      "apiToken": []
    }
  ]
}