{
  "openapi": "3.0.3",
  "info": {
    "title": "Annex Cloud Loyalty API",
    "description": "REST API for managing loyalty program users, orders, points, rewards, segments, and campaigns in Annex Cloud.",
    "version": "3.0.0",
    "x-jentic-source-url": "https://s15.socialannex.net/help/acapi.html"
  },
  "servers": [
    {
      "url": "https://s15.socialannex.net/api/3.0",
      "description": "Production"
    },
    {
      "url": "https://s15.stage.socialannex.net/api/3.0",
      "description": "Staging"
    }
  ],
  "paths": {
    "/users": {
      "post": {
        "operationId": "createuser",
        "summary": "Create user and add to loyalty program",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "operationId": "getuser",
        "summary": "Retrieve user profile information",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateuser",
        "summary": "Modify user profile",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}/activity": {
      "get": {
        "operationId": "getuseractivities",
        "summary": "Retrieve user action/event history with point transactions",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User activities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}/usedreward": {
      "get": {
        "operationId": "getuserusedrewards",
        "summary": "Retrieve claimed/redeemed rewards history",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Used rewards list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UsedReward"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/tiers": {
      "get": {
        "operationId": "getusertiers",
        "summary": "Retrieve current and next tier status with requirements",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tier information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TierInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}/reward": {
      "get": {
        "operationId": "getuserrewards",
        "summary": "Retrieve available rewards eligible for user",
        "tags": [
          "Rewards"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Available rewards",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Reward"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "post": {
        "operationId": "createorder",
        "summary": "Create new order and trigger loyalty point calculations",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created with points awarded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}": {
      "patch": {
        "operationId": "updateorderstatus",
        "summary": "Ship, return, or cancel an order and adjust points",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Order ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order status updated with point adjustments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/points/{id}": {
      "get": {
        "operationId": "getpoints",
        "summary": "Retrieve comprehensive points balance and analytics",
        "tags": [
          "Points"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "User ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Points details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointsDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/points": {
      "post": {
        "operationId": "addorremovepoints",
        "summary": "Credit or debit points for actions, rewards, or manual adjustments",
        "tags": [
          "Points"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PointsTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Points transaction completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointsTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cart": {
      "post": {
        "operationId": "calculatecartpoints",
        "summary": "Calculate projected points from cart items before purchase",
        "tags": [
          "Cart"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cart point projection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/segment/{segment_id}": {
      "get": {
        "operationId": "getsegment",
        "summary": "Retrieve segment membership criteria and member details",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "name": "segment_id",
            "in": "path",
            "required": true,
            "description": "Segment ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Segment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/campaign/{campaign_id}": {
      "get": {
        "operationId": "getcampaign",
        "summary": "Retrieve campaign configuration and benefits",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "description": "Campaign ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token generated using HS256 with claims for sub, exp, site_id, and hmac"
      }
    },
    "schemas": {
      "CreateUserRequest": {
        "type": "object",
        "required": [
          "id",
          "email"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "birthDate": {
            "type": "string",
            "format": "date"
          },
          "anniversaryDate": {
            "type": "string",
            "format": "date"
          },
          "optInStatus": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "userProfileImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "extendedAttribute": {
            "type": "object"
          }
        }
      },
      "UpdateUserRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "updateId": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "birthDate": {
            "type": "string",
            "format": "date"
          },
          "optInStatus": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "userProfileImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "extendedAttribute": {
            "type": "object"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "createDate": {
            "type": "string",
            "format": "date-time"
          },
          "updateDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "birthDate": {
            "type": "string"
          },
          "totalSpendCurrency": {
            "type": "number"
          },
          "availablePoints": {
            "type": "integer"
          },
          "lifetimePoints": {
            "type": "integer"
          },
          "currentTier": {
            "type": "string"
          },
          "extendedAttribute": {
            "type": "object"
          }
        }
      },
      "ActivityList": {
        "type": "object",
        "properties": {
          "activities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Activity"
            }
          },
          "page": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          }
        }
      },
      "Activity": {
        "type": "object",
        "properties": {
          "actionId": {
            "type": "string"
          },
          "credit": {
            "type": "integer"
          },
          "debit": {
            "type": "integer"
          },
          "pointStatus": {
            "type": "string"
          },
          "expireDate": {
            "type": "string",
            "format": "date-time"
          },
          "createDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UsedReward": {
        "type": "object",
        "properties": {
          "rewardCode": {
            "type": "string"
          },
          "pointsUsed": {
            "type": "integer"
          },
          "rewardName": {
            "type": "string"
          },
          "rewardStatus": {
            "type": "string"
          },
          "createDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TierInfo": {
        "type": "object",
        "properties": {
          "currentTier": {
            "type": "string"
          },
          "nextTier": {
            "type": "string"
          },
          "pointsToNextTier": {
            "type": "integer"
          },
          "purchaseRatio": {
            "type": "number"
          },
          "spendAmountToNextTier": {
            "type": "number"
          }
        }
      },
      "Reward": {
        "type": "object",
        "properties": {
          "rewardId": {
            "type": "string"
          },
          "displayText": {
            "type": "string"
          },
          "creditRequired": {
            "type": "integer"
          },
          "eligible": {
            "type": "boolean"
          },
          "rewardUrl": {
            "type": "string",
            "format": "uri"
          },
          "rewardImageUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "CreateOrderRequest": {
        "type": "object",
        "required": [
          "id",
          "userId",
          "orderTotal"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "orderTotal": {
            "type": "number"
          },
          "eventId": {
            "type": "string"
          },
          "coupon": {
            "type": "string"
          },
          "orderDetail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderDetail"
            }
          }
        }
      },
      "OrderDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "unitPrice": {
            "type": "number"
          },
          "estimatedShipDate": {
            "type": "string",
            "format": "date"
          },
          "categoryId": {
            "type": "string"
          },
          "categoryName": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "OrderResponse": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string"
          },
          "pointsAwarded": {
            "type": "integer"
          },
          "updatedAvailablePoints": {
            "type": "integer"
          },
          "updatedLifetimePoints": {
            "type": "integer"
          }
        }
      },
      "UpdateOrderRequest": {
        "type": "object",
        "required": [
          "orderId",
          "status"
        ],
        "properties": {
          "orderId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ship",
              "return",
              "cancel"
            ]
          },
          "orderDetail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderDetail"
            }
          }
        }
      },
      "OrderStatusResponse": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string"
          },
          "pointsAwarded": {
            "type": "integer"
          },
          "pointsRemoved": {
            "type": "integer"
          },
          "updatedAvailablePoints": {
            "type": "integer"
          },
          "updatedLifetimePoints": {
            "type": "integer"
          },
          "updatedUserTier": {
            "type": "string"
          }
        }
      },
      "PointsDetails": {
        "type": "object",
        "properties": {
          "availablePoints": {
            "type": "integer"
          },
          "usedPoints": {
            "type": "integer"
          },
          "expiredPoints": {
            "type": "integer"
          },
          "lifetimePoints": {
            "type": "integer"
          },
          "holdPoints": {
            "type": "integer"
          },
          "pointsToNextTier": {
            "type": "integer"
          },
          "creditsToCurrencyRatio": {
            "type": "number"
          },
          "creditsToCurrencyValue": {
            "type": "number"
          }
        }
      },
      "PointsTransactionRequest": {
        "type": "object",
        "required": [
          "id",
          "activity"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "activity": {
            "type": "string",
            "enum": [
              "CREDIT",
              "DEBIT"
            ]
          },
          "actionId": {
            "type": "string"
          },
          "rewardId": {
            "type": "string"
          },
          "credit": {
            "type": "integer"
          },
          "debit": {
            "type": "integer"
          },
          "customId": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          }
        }
      },
      "PointsTransactionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "activity": {
            "type": "string"
          },
          "credit": {
            "type": "integer"
          },
          "debit": {
            "type": "integer"
          },
          "pointsAwarded": {
            "type": "integer"
          },
          "updatedAvailablePoints": {
            "type": "integer"
          },
          "updatedLifetimePoints": {
            "type": "integer"
          },
          "updatedUserTier": {
            "type": "string"
          },
          "releaseDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CartRequest": {
        "type": "object",
        "required": [
          "userId"
        ],
        "properties": {
          "userId": {
            "type": "string"
          },
          "appliedPoints": {
            "type": "integer"
          },
          "shippingAmount": {
            "type": "number"
          },
          "discountAmount": {
            "type": "number"
          },
          "productDetail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CartProduct"
            }
          }
        }
      },
      "CartProduct": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "unitPrice": {
            "type": "number"
          },
          "autoDelivery": {
            "type": "boolean"
          }
        }
      },
      "CartResponse": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "cartPoints": {
            "type": "integer"
          },
          "availablePointsAfterOrder": {
            "type": "integer"
          },
          "holdPointsAfterOrder": {
            "type": "integer"
          },
          "creditsToCurrencyValueAfterOrder": {
            "type": "number"
          }
        }
      },
      "Segment": {
        "type": "object",
        "properties": {
          "segmentId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "members": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string"
          },
          "campaignName": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "audience": {
            "type": "string"
          },
          "campaignStatus": {
            "type": "string"
          },
          "mileStone": {
            "type": "object"
          },
          "campaignBenefit": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "User management and loyalty profiles"
    },
    {
      "name": "Orders",
      "description": "Order management and point calculations"
    },
    {
      "name": "Points",
      "description": "Point balance and transactions"
    },
    {
      "name": "Rewards",
      "description": "Reward eligibility and redemption"
    },
    {
      "name": "Segments",
      "description": "User segmentation"
    },
    {
      "name": "Campaigns",
      "description": "Campaign management"
    },
    {
      "name": "Cart",
      "description": "Cart point projection"
    }
  ]
}