{
  "openapi": "3.0.3",
  "info": {
    "title": "Crossref REST API",
    "version": "1.0.0",
    "description": "The Crossref REST API provides access to scholarly metadata for works (articles, books, etc.), funders, members, journals, types, licenses, and prefixes. All results are returned as JSON. No authentication is required.",
    "x-jentic-source-url": "https://api.crossref.org/"
  },
  "servers": [
    {
      "url": "https://api.crossref.org",
      "description": "Production"
    }
  ],
  "paths": {
    "/works": {
      "get": {
        "operationId": "listWorks",
        "summary": "List works",
        "description": "Returns a list of works (scholarly articles, books, etc.) matching optional query and filter criteria. Supports pagination via cursor.",
        "tags": ["Works"],
        "parameters": [
          {"name": "query", "in": "query", "description": "Free text query to search works", "required": false, "schema": {"type": "string"}},
          {"name": "filter", "in": "query", "description": "Filter results (e.g. from-pub-date:2020-01-01,type:journal-article)", "required": false, "schema": {"type": "string"}},
          {"name": "rows", "in": "query", "description": "Number of results per page (max 1000)", "required": false, "schema": {"type": "integer", "default": 20, "maximum": 1000}},
          {"name": "offset", "in": "query", "description": "Offset for pagination", "required": false, "schema": {"type": "integer"}},
          {"name": "cursor", "in": "query", "description": "Cursor for deep paging. Use * for first request.", "required": false, "schema": {"type": "string"}},
          {"name": "sort", "in": "query", "description": "Sort field (e.g. relevance, published, deposited, indexed, created)", "required": false, "schema": {"type": "string"}},
          {"name": "order", "in": "query", "description": "Sort order", "required": false, "schema": {"type": "string", "enum": ["asc", "desc"]}},
          {"name": "select", "in": "query", "description": "Comma-separated fields to return", "required": false, "schema": {"type": "string"}},
          {"name": "mailto", "in": "query", "description": "Email for polite pool (faster rate limits)", "required": false, "schema": {"type": "string", "format": "email"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "404": {"description": "Not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/works/{doi}": {
      "get": {
        "operationId": "getWork",
        "summary": "Get a work by DOI",
        "description": "Returns metadata for a single work identified by its DOI.",
        "tags": ["Works"],
        "parameters": [
          {"name": "doi", "in": "path", "description": "The DOI of the work (e.g. 10.1037/0003-066X.59.1.29)", "required": true, "schema": {"type": "string"}},
          {"name": "mailto", "in": "query", "description": "Email for polite pool", "required": false, "schema": {"type": "string", "format": "email"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}},
          "404": {"description": "Work not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/funders": {
      "get": {
        "operationId": "listFunders",
        "summary": "List funders",
        "description": "Returns a list of funders registered with Crossref.",
        "tags": ["Funders"],
        "parameters": [
          {"name": "query", "in": "query", "description": "Free text query", "required": false, "schema": {"type": "string"}},
          {"name": "rows", "in": "query", "description": "Number of results per page", "required": false, "schema": {"type": "integer", "default": 20}},
          {"name": "offset", "in": "query", "description": "Offset for pagination", "required": false, "schema": {"type": "integer"}},
          {"name": "mailto", "in": "query", "description": "Email for polite pool", "required": false, "schema": {"type": "string", "format": "email"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FunderListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/funders/{id}": {
      "get": {
        "operationId": "getFunder",
        "summary": "Get a funder by ID",
        "description": "Returns metadata for a single funder.",
        "tags": ["Funders"],
        "parameters": [
          {"name": "id", "in": "path", "description": "Funder ID", "required": true, "schema": {"type": "string"}},
          {"name": "mailto", "in": "query", "description": "Email for polite pool", "required": false, "schema": {"type": "string", "format": "email"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FunderResponse"}}}},
          "404": {"description": "Funder not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/funders/{id}/works": {
      "get": {
        "operationId": "listFunderWorks",
        "summary": "List works for a funder",
        "description": "Returns works associated with a specific funder.",
        "tags": ["Funders"],
        "parameters": [
          {"name": "id", "in": "path", "description": "Funder ID", "required": true, "schema": {"type": "string"}},
          {"name": "query", "in": "query", "description": "Free text query", "required": false, "schema": {"type": "string"}},
          {"name": "filter", "in": "query", "description": "Filter results", "required": false, "schema": {"type": "string"}},
          {"name": "rows", "in": "query", "description": "Number of results per page", "required": false, "schema": {"type": "integer", "default": 20}},
          {"name": "offset", "in": "query", "description": "Offset for pagination", "required": false, "schema": {"type": "integer"}},
          {"name": "mailto", "in": "query", "description": "Email for polite pool", "required": false, "schema": {"type": "string", "format": "email"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/members": {
      "get": {
        "operationId": "listMembers",
        "summary": "List members",
        "description": "Returns a list of Crossref member organizations that deposit metadata.",
        "tags": ["Members"],
        "parameters": [
          {"name": "query", "in": "query", "description": "Free text query", "required": false, "schema": {"type": "string"}},
          {"name": "rows", "in": "query", "description": "Number of results per page", "required": false, "schema": {"type": "integer", "default": 20}},
          {"name": "offset", "in": "query", "description": "Offset for pagination", "required": false, "schema": {"type": "integer"}},
          {"name": "mailto", "in": "query", "description": "Email for polite pool", "required": false, "schema": {"type": "string", "format": "email"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MemberListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/members/{id}": {
      "get": {
        "operationId": "getMember",
        "summary": "Get a member by ID",
        "description": "Returns metadata for a single Crossref member.",
        "tags": ["Members"],
        "parameters": [
          {"name": "id", "in": "path", "description": "Member ID", "required": true, "schema": {"type": "integer"}},
          {"name": "mailto", "in": "query", "description": "Email for polite pool", "required": false, "schema": {"type": "string", "format": "email"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MemberResponse"}}}},
          "404": {"description": "Member not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/members/{id}/works": {
      "get": {
        "operationId": "listMemberWorks",
        "summary": "List works for a member",
        "description": "Returns works deposited by a specific member.",
        "tags": ["Members"],
        "parameters": [
          {"name": "id", "in": "path", "description": "Member ID", "required": true, "schema": {"type": "integer"}},
          {"name": "query", "in": "query", "description": "Free text query", "required": false, "schema": {"type": "string"}},
          {"name": "filter", "in": "query", "description": "Filter results", "required": false, "schema": {"type": "string"}},
          {"name": "rows", "in": "query", "description": "Number of results per page", "required": false, "schema": {"type": "integer", "default": 20}},
          {"name": "offset", "in": "query", "description": "Offset for pagination", "required": false, "schema": {"type": "integer"}},
          {"name": "mailto", "in": "query", "description": "Email for polite pool", "required": false, "schema": {"type": "string", "format": "email"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/journals": {
      "get": {
        "operationId": "listJournals",
        "summary": "List journals",
        "description": "Returns a list of journals registered with Crossref.",
        "tags": ["Journals"],
        "parameters": [
          {"name": "query", "in": "query", "description": "Free text query", "required": false, "schema": {"type": "string"}},
          {"name": "rows", "in": "query", "description": "Number of results per page", "required": false, "schema": {"type": "integer", "default": 20}},
          {"name": "offset", "in": "query", "description": "Offset for pagination", "required": false, "schema": {"type": "integer"}},
          {"name": "mailto", "in": "query", "description": "Email for polite pool", "required": false, "schema": {"type": "string", "format": "email"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/JournalListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/journals/{issn}": {
      "get": {
        "operationId": "getJournal",
        "summary": "Get a journal by ISSN",
        "description": "Returns metadata for a single journal.",
        "tags": ["Journals"],
        "parameters": [
          {"name": "issn", "in": "path", "description": "Journal ISSN", "required": true, "schema": {"type": "string"}},
          {"name": "mailto", "in": "query", "description": "Email for polite pool", "required": false, "schema": {"type": "string", "format": "email"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/JournalResponse"}}}},
          "404": {"description": "Journal not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/journals/{issn}/works": {
      "get": {
        "operationId": "listJournalWorks",
        "summary": "List works for a journal",
        "description": "Returns works published in a specific journal.",
        "tags": ["Journals"],
        "parameters": [
          {"name": "issn", "in": "path", "description": "Journal ISSN", "required": true, "schema": {"type": "string"}},
          {"name": "query", "in": "query", "description": "Free text query", "required": false, "schema": {"type": "string"}},
          {"name": "filter", "in": "query", "description": "Filter results", "required": false, "schema": {"type": "string"}},
          {"name": "rows", "in": "query", "description": "Number of results per page", "required": false, "schema": {"type": "integer", "default": 20}},
          {"name": "offset", "in": "query", "description": "Offset for pagination", "required": false, "schema": {"type": "integer"}},
          {"name": "mailto", "in": "query", "description": "Email for polite pool", "required": false, "schema": {"type": "string", "format": "email"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/types": {
      "get": {
        "operationId": "listTypes",
        "summary": "List work types",
        "description": "Returns a list of content types registered with Crossref (e.g. journal-article, book-chapter).",
        "tags": ["Types"],
        "parameters": [],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TypeListResponse"}}}}
        }
      }
    },
    "/types/{id}": {
      "get": {
        "operationId": "getType",
        "summary": "Get a type by ID",
        "description": "Returns metadata for a single content type.",
        "tags": ["Types"],
        "parameters": [
          {"name": "id", "in": "path", "description": "Type ID (e.g. journal-article)", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TypeResponse"}}}},
          "404": {"description": "Type not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/types/{id}/works": {
      "get": {
        "operationId": "listTypeWorks",
        "summary": "List works by type",
        "description": "Returns works of a specific content type.",
        "tags": ["Types"],
        "parameters": [
          {"name": "id", "in": "path", "description": "Type ID (e.g. journal-article)", "required": true, "schema": {"type": "string"}},
          {"name": "query", "in": "query", "description": "Free text query", "required": false, "schema": {"type": "string"}},
          {"name": "rows", "in": "query", "description": "Number of results per page", "required": false, "schema": {"type": "integer", "default": 20}},
          {"name": "offset", "in": "query", "description": "Offset for pagination", "required": false, "schema": {"type": "integer"}},
          {"name": "mailto", "in": "query", "description": "Email for polite pool", "required": false, "schema": {"type": "string", "format": "email"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/licenses": {
      "get": {
        "operationId": "listLicenses",
        "summary": "List licenses",
        "description": "Returns a list of licenses used by Crossref works.",
        "tags": ["Licenses"],
        "parameters": [
          {"name": "query", "in": "query", "description": "Free text query", "required": false, "schema": {"type": "string"}},
          {"name": "rows", "in": "query", "description": "Number of results per page", "required": false, "schema": {"type": "integer", "default": 20}},
          {"name": "offset", "in": "query", "description": "Offset for pagination", "required": false, "schema": {"type": "integer"}},
          {"name": "mailto", "in": "query", "description": "Email for polite pool", "required": false, "schema": {"type": "string", "format": "email"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LicenseListResponse"}}}}
        }
      }
    },
    "/prefixes/{prefix}": {
      "get": {
        "operationId": "getPrefix",
        "summary": "Get a DOI prefix",
        "description": "Returns metadata for a DOI prefix.",
        "tags": ["Prefixes"],
        "parameters": [
          {"name": "prefix", "in": "path", "description": "DOI prefix (e.g. 10.1037)", "required": true, "schema": {"type": "string"}},
          {"name": "mailto", "in": "query", "description": "Email for polite pool", "required": false, "schema": {"type": "string", "format": "email"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PrefixResponse"}}}},
          "404": {"description": "Prefix not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/prefixes/{prefix}/works": {
      "get": {
        "operationId": "listPrefixWorks",
        "summary": "List works by DOI prefix",
        "description": "Returns works with a specific DOI prefix.",
        "tags": ["Prefixes"],
        "parameters": [
          {"name": "prefix", "in": "path", "description": "DOI prefix (e.g. 10.1037)", "required": true, "schema": {"type": "string"}},
          {"name": "query", "in": "query", "description": "Free text query", "required": false, "schema": {"type": "string"}},
          {"name": "rows", "in": "query", "description": "Number of results per page", "required": false, "schema": {"type": "integer", "default": 20}},
          {"name": "offset", "in": "query", "description": "Offset for pagination", "required": false, "schema": {"type": "integer"}},
          {"name": "mailto", "in": "query", "description": "Email for polite pool", "required": false, "schema": {"type": "string", "format": "email"}}
        ],
        "responses": {
          "200": {"description": "Successful response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkListResponse"}}}},
          "400": {"description": "Bad request", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Work": {
        "type": "object",
        "properties": {
          "DOI": {"type": "string"},
          "title": {"type": "array", "items": {"type": "string"}},
          "author": {"type": "array", "items": {"$ref": "#/components/schemas/Author"}},
          "publisher": {"type": "string"},
          "type": {"type": "string"},
          "created": {"type": "object", "properties": {"date-parts": {"type": "array"}, "timestamp": {"type": "integer"}}},
          "deposited": {"type": "object", "properties": {"date-parts": {"type": "array"}, "timestamp": {"type": "integer"}}},
          "indexed": {"type": "object", "properties": {"date-parts": {"type": "array"}, "timestamp": {"type": "integer"}}},
          "published": {"type": "object", "properties": {"date-parts": {"type": "array"}}},
          "container-title": {"type": "array", "items": {"type": "string"}},
          "ISSN": {"type": "array", "items": {"type": "string"}},
          "subject": {"type": "array", "items": {"type": "string"}},
          "URL": {"type": "string"},
          "reference-count": {"type": "integer"},
          "is-referenced-by-count": {"type": "integer"},
          "score": {"type": "number"},
          "abstract": {"type": "string"},
          "volume": {"type": "string"},
          "issue": {"type": "string"},
          "page": {"type": "string"}
        }
      },
      "Author": {
        "type": "object",
        "properties": {
          "given": {"type": "string"},
          "family": {"type": "string"},
          "ORCID": {"type": "string"},
          "affiliation": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string"}}}}
        }
      },
      "WorkListResponse": {
        "type": "object",
        "properties": {
          "status": {"type": "string"},
          "message-type": {"type": "string"},
          "message-version": {"type": "string"},
          "message": {"type": "object", "properties": {
            "total-results": {"type": "integer"},
            "items": {"type": "array", "items": {"$ref": "#/components/schemas/Work"}},
            "items-per-page": {"type": "integer"},
            "next-cursor": {"type": "string"},
            "query": {"type": "object"}
          }}
        }
      },
      "WorkResponse": {
        "type": "object",
        "properties": {
          "status": {"type": "string"},
          "message-type": {"type": "string"},
          "message": {"$ref": "#/components/schemas/Work"}
        }
      },
      "FunderListResponse": {"type": "object", "properties": {"status": {"type": "string"}, "message": {"type": "object", "properties": {"total-results": {"type": "integer"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/Funder"}}}}}},
      "FunderResponse": {"type": "object", "properties": {"status": {"type": "string"}, "message": {"$ref": "#/components/schemas/Funder"}}},
      "Funder": {"type": "object", "properties": {"id": {"type": "string"}, "name": {"type": "string"}, "alt-names": {"type": "array", "items": {"type": "string"}}, "uri": {"type": "string"}, "location": {"type": "string"}}},
      "MemberListResponse": {"type": "object", "properties": {"status": {"type": "string"}, "message": {"type": "object", "properties": {"total-results": {"type": "integer"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/Member"}}}}}},
      "MemberResponse": {"type": "object", "properties": {"status": {"type": "string"}, "message": {"$ref": "#/components/schemas/Member"}}},
      "Member": {"type": "object", "properties": {"id": {"type": "integer"}, "primary-name": {"type": "string"}, "names": {"type": "array", "items": {"type": "string"}}, "prefixes": {"type": "array", "items": {"type": "string"}}, "location": {"type": "string"}}},
      "JournalListResponse": {"type": "object", "properties": {"status": {"type": "string"}, "message": {"type": "object", "properties": {"total-results": {"type": "integer"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/Journal"}}}}}},
      "JournalResponse": {"type": "object", "properties": {"status": {"type": "string"}, "message": {"$ref": "#/components/schemas/Journal"}}},
      "Journal": {"type": "object", "properties": {"ISSN": {"type": "array", "items": {"type": "string"}}, "title": {"type": "string"}, "publisher": {"type": "string"}}},
      "TypeListResponse": {"type": "object", "properties": {"status": {"type": "string"}, "message": {"type": "object", "properties": {"total-results": {"type": "integer"}, "items": {"type": "array", "items": {"$ref": "#/components/schemas/Type"}}}}}},
      "TypeResponse": {"type": "object", "properties": {"status": {"type": "string"}, "message": {"$ref": "#/components/schemas/Type"}}},
      "Type": {"type": "object", "properties": {"id": {"type": "string"}, "label": {"type": "string"}}},
      "LicenseListResponse": {"type": "object", "properties": {"status": {"type": "string"}, "message": {"type": "object", "properties": {"total-results": {"type": "integer"}, "items": {"type": "array"}}}}},
      "PrefixResponse": {"type": "object", "properties": {"status": {"type": "string"}, "message": {"type": "object", "properties": {"prefix": {"type": "string"}, "member": {"type": "string"}, "name": {"type": "string"}}}}},
      "ErrorResponse": {"type": "object", "properties": {"status": {"type": "string"}, "message-type": {"type": "string"}, "message": {"type": "string"}}}
    }
  }
}
