{
  "openapi": "3.0.3",
  "info": {
    "title": "Encompass Developer Connect API",
    "description": "ICE Mortgage Technology's Encompass API for loan manufacturing, pipeline management, product pricing, compliance, and document management.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developer.icemortgagetechnology.com/developer-connect/docs/welcome"
  },
  "servers": [
    {
      "url": "https://api.elliemae.com",
      "description": "Encompass API production server"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication for Encompass Lending Platform",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.elliemae.com/oauth2/v1/authorize",
            "tokenUrl": "https://api.elliemae.com/oauth2/v1/token",
            "scopes": {}
          }
        }
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          }
        }
      },
      "Loan": {
        "type": "object",
        "properties": {
          "loanGuid": {
            "type": "string",
            "format": "uuid"
          },
          "loanNumber": {
            "type": "string"
          },
          "borrowerName": {
            "type": "string"
          },
          "loanAmount": {
            "type": "number",
            "format": "double"
          },
          "loanPurposeType": {
            "type": "string"
          }
        }
      },
      "LoanPipeline": {
        "type": "object",
        "properties": {
          "loans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Loan"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/encompass/v1/loans": {
      "get": {
        "operationId": "getLoanPipeline",
        "summary": "Get loan pipeline",
        "description": "Retrieve a list of loans from the pipeline with optional filtering.",
        "tags": ["Loans"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of loans to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of loans to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Loan"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/encompass/v1/loans/{loanGuid}": {
      "get": {
        "operationId": "getLoan",
        "summary": "Get loan details",
        "description": "Retrieve detailed information about a specific loan.",
        "tags": ["Loans"],
        "parameters": [
          {
            "name": "loanGuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Unique identifier for the loan"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Loan"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
