{
  "openapi": "3.0.3",
  "info": {
    "title": "GrowthHero API",
    "version": "1.0",
    "description": "GrowthHero referral and growth tracking API",
    "x-jentic-source-url": "https://growthhero.docs.apiary.io/"
  },
  "servers": [
    {
      "url": "https://api.growthhero.io/public_api/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/referrals": {
      "get": {
        "tags": [
          "Referrals"
        ],
        "summary": "List referrals",
        "operationId": "listReferrals",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "Referrals"
        ],
        "summary": "Create referral",
        "operationId": "createReferral",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/referrals/{id}": {
      "get": {
        "tags": [
          "Referrals"
        ],
        "summary": "Get referral",
        "operationId": "getReferral",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "List campaigns",
        "operationId": "listCampaigns",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/campaigns/{id}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign",
        "operationId": "getCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Authentication required"
      },
      "NotFoundError": {
        "description": "Resource not found"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Referrals"
    },
    {
      "name": "Campaigns"
    }
  ]
}