{"openapi":"3.0.1","info":{"title":"itembase Frontend Manipulation API","description":"API allows you to deliver JS/CSS/HTML snippets to shop \nfrontend\n","version":"1.0.0-alpha","x-jentic-source-url":"https://api.swaggerhub.com/apis/siib/frontend-api/1.0.0-alpha"},"externalDocs":{"description":"itembase developer portal","url":"https://api.itembase.com"},"servers":[{"url":"https://api.itembase.io/"}],"paths":{"/data/v2/connections/{connection_id}/snippet":{"post":{"summary":"Create a snippet on shop side","description":"Create provided snippet","parameters":[{"name":"connection_id","in":"path","description":"UUID of the connection","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Snippet"}}},"required":false},"responses":{"200":{"description":"Snippet object for the POST operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Snippet"}}}},"400":{"description":"Payload is not valid","content":{}}},"x-codegen-request-body-name":"body"}},"/data/v2/connections/{connection_id}/snippet/{snippet_id}":{"get":{"summary":"List of your snippets stored on shop side","description":"Returns a snippet which were previously created using API\n","parameters":[{"name":"connection_id","in":"path","description":"UUID of the connection","required":true,"schema":{"type":"string"}},{"name":"snippet_id","in":"path","description":"ID of the snippet","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Snippet object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Snippet"}}}},"404":{"description":"Requested snippet was not found","content":{}}}},"put":{"summary":"Update your snippet stored on shop side","description":"Returns an updated snippet","parameters":[{"name":"connection_id","in":"path","description":"UUID of the connection","required":true,"schema":{"type":"string"}},{"name":"snippet_id","in":"path","description":"ID of the snippet","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Snippet"}}},"required":false},"responses":{"200":{"description":"Job object for PUT operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Snippet"}}}},"400":{"description":"Payload is not valid","content":{}},"404":{"description":"Request snippet was not found","content":{}}},"x-codegen-request-body-name":"body"},"delete":{"summary":"Delete your snippet stored on shop side","description":"Returns a snippet which was deleted","parameters":[{"name":"connection_id","in":"path","description":"UUID of the connection","required":true,"schema":{"type":"string"}},{"name":"snippet_id","in":"path","description":"ID of the snippet","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Snippet object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Snippet"}}}},"404":{"description":"Requested snippet was not found","content":{}}}}}},"components":{"schemas":{"Snippet":{"type":"object","properties":{"id":{"type":"string","description":"Snippet ID"},"type":{"type":"string","description":"Type of the snippet","enum":["js","css","html"]},"alias":{"type":"string","description":"Alias of the snippet which can be set during creation"},"content":{"type":"string","description":"Actual snippet code"},"placements":{"type":"object","properties":{"page":{"type":"object","properties":{"type":{"type":"string","description":"Type of the platform page","enum":["any","index","login","account","product","search","category","order","payment"]},"regex":{"type":"string","description":"Regex expression to match a page in URL"}},"description":"Page where snippet need to be placed"},"location":{"type":"object","properties":{"type":{"type":"string","description":"Type of location","enum":["header","content_top","content_bottom","content_left","content_right"]},"regex":{"type":"string","description":"Regex expression to match element in source page"}},"description":"Location on selected page"}},"description":"Set of pages and locations inside the page where snippet needs to \nbe placed\n"}}}}},"x-original-swagger-version":"2.0"}
