{
  "openapi": "3.0.0",
  "info": {
    "description": "Natural language nutrition API to extract nutrition data from any text.",
    "version": "1.0.0",
    "title": "CalorieNinjas",
    "termsOfService": "www.calorieninjas.com/tos",
    "contact": {
      "email": "info@calorieninjas.com",
      "name": "CalorieNinjas team",
      "url": "www.calorieninjas.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://www.calorieninjas.com/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.calorieninjas.com"
    }
  ],
  "tags": [],
  "paths": {
    "/v1/nutrition": {
      "get": {
        "summary": "Get nutrition text for an input string containing food and beverage words.",
        "description": "Returns a list of food item nutrition facts extracted from an input string containing food and beverage words. ",
        "externalDocs": {
          "url": "www.calorieninjas.com/api"
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 0,
              "maxLength": 1500
            },
            "description": "Input query containing food and/or beverage words."
          }
        ],
        "operationId": "",
        "responses": {
          "default": {
            "description": "Default response"
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "See www.calorieninjas.com/api.",
    "url": "www.calorieninjas.com/api"
  },
  "components": {
    "schemas": {},
    "requestBodies": {},
    "securitySchemes": {
      "x-api-key": {
        "type": "apiKey",
        "name": "api_key",
        "in": "header"
      }
    },
    "links": {},
    "callbacks": {}
  },
  "security": [
    {
      "x-api-key": []
    }
  ]
}