{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "API Consulta Ve\u00edculares",
      "url": "http://ws.vit.tige.com.br/veiculos"
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "API Consulta Ve\u00edculares",
    "description": "A API das Consulta ve\u00edculares",
    "contact": {
      "email": "sistemas@tige.com.br"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/INTEGRACAO_1/api_veicular/1.0.0/swagger.json"
  },
  "paths": {
    "/consulta": {
      "post": {
        "tags": [
          "Consulta ve\u00edcular"
        ],
        "summary": "Consulta ve\u00edcular",
        "description": "Consulta ve\u00edcular",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "json_data": {
                    "type": "string",
                    "example": {
                      "$ref": "#/components/schemas/json_data"
                    }
                  }
                },
                "required": [
                  "json_data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "success": true,
                      "message": "Consulta realizada com sucesso !",
                      "dados": {
                        "action": "doConsulta",
                        "logon": {
                          "username": "seulogon@email.com.br"
                        },
                        "parametros": {
                          "consulta": {
                            "fk_tp_con_web": 10,
                            "insumos": [
                              335,
                              343
                            ],
                            "id_produto": 2459
                          },
                          "placa": {
                            "numero": "AAA9999",
                            "uf": "SP"
                          },
                          "tipo_pessoa": "",
                          "ip": {
                            "numero": "201.201.201.0"
                          }
                        },
                        "consulta": {
                          "id_consulta": "7960469",
                          "insumos": [
                            {
                              "id": "178",
                              "nome": "Fabril(Nacional)",
                              "resultado": {
                                "id_head": "4134060",
                                "codretorno": "true",
                                "execucao": "true",
                                "mensagem": "Esta consulta n\u00e3o informa se o veiculo est\u00e1 com chassi baixado (fora de circula\u00e7\u00e3o). Para maiores informa\u00e7\u00f5es, sugerimos realizar a consulta TOTAL.",
                                "retorno": {
                                  "Chassi": "9BFZD99J8FB796880",
                                  "Placa": "AAA9999",
                                  "Renavam": [],
                                  "Situacao": [],
                                  "CodMunicipio": "TAUBATE",
                                  "NomeCidade": "TAUBATE",
                                  "UfJurisdicao": "SP",
                                  "TipoRemarcacao": [],
                                  "TipoMontagem": [],
                                  "CodTipoVeiculo": [],
                                  "NomeTipoVeiculo": [],
                                  "CodModelo": [],
                                  "MarcaModelo": "FORD/FIESTA HA 1.5L S",
                                  "CodEspecie": [],
                                  "NomeEspecie": "PASSAGEIRO",
                                  "TipoCarroceria": [],
                                  "NomeCarroceria": [],
                                  "CodCor": [],
                                  "NomeCor": "PRATA",
                                  "AnoModelo": "2015",
                                  "AnoFabricacao": "2014",
                                  "Potencia": [],
                                  "Cilindradas": "1499",
                                  "CodCombustivel": [],
                                  "NomeCombustivel": "ALCOOL, GASOLINA",
                                  "NumeroMotor": "U2JFF796330",
                                  "CmtVeiculo": [],
                                  "PbtVeiculo": [],
                                  "CapacidadeCarga": "155",
                                  "Procedencia": "NACIONAL",
                                  "CaixaCambio": [],
                                  "TipoDocProp": [],
                                  "Segmento": [],
                                  "SubSegmento": [],
                                  "IdentProp": [],
                                  "NumeroCarroceria": [],
                                  "CapPassageiros": "5",
                                  "CodRestricao1": [],
                                  "NomeRestricao1": [],
                                  "CodRestricao2": [],
                                  "NomeRestricao2": [],
                                  "CodRestricao3": [],
                                  "NomeRestricao3": [],
                                  "CodRestricao4": [],
                                  "NomeRestricao4": [],
                                  "NumeroEixo": "2",
                                  "NumeroEixoTraseiro": [],
                                  "NumeroEixoAuxiliar": [],
                                  "TipoDocImportador": [],
                                  "IdentImportador": [],
                                  "CodOrgaoSRF": [],
                                  "NumeroReda": [],
                                  "NumeroDi": [],
                                  "DataRegistroDi": [],
                                  "DocFaturado": [],
                                  "IdentFaturado": [],
                                  "UfDestFaturado": [],
                                  "DataLimiteRestTrib": [],
                                  "DataUltimaAtualiza": "09012015",
                                  "TipoOpImportacao": [],
                                  "NumeroProcImportacao": [],
                                  "DataTransfPais": [],
                                  "CodPaisTransf": [],
                                  "IndicadorMultaRenainf": [],
                                  "IndicadorComunicaVenda": [],
                                  "IndicadorPendEmissao": [],
                                  "IndicadorRestRenajud": [],
                                  "IndicadorOcorreRecall1": [],
                                  "IndicadorOcorreRecall2": [],
                                  "IndicadorOcorreRecall3": [],
                                  "IndicadorOcorreRecall4": [],
                                  "CodCatVeicMRE": [],
                                  "TipoDocPropMRE": [],
                                  "NumeroDocPropiMRE": [],
                                  "DataUltimaAtualizaMRE": []
                                }
                              }
                            },
                            {
                              "id": "266",
                              "nome": "Restri\u00e7\u00f5es"
                            },
                            {
                              "id": "100",
                              "nome": "Comparativo de Originalidade"
                            },
                            {
                              "id": "10",
                              "nome": "Leil\u00e3o I"
                            },
                            {
                              "id": "269",
                              "nome": "Leil\u00e3o II + An\u00e1lise de Risco"
                            },
                            {
                              "id": "278",
                              "nome": "Indicio de Sinistro"
                            },
                            {
                              "id": "148",
                              "nome": "Parecer T\u00e9cnico"
                            },
                            {
                              "id": "19",
                              "nome": "Recall"
                            },
                            {
                              "id": "6",
                              "nome": "Precificador de Chassi"
                            },
                            {
                              "id": "8",
                              "nome": "Decodificador de Chassi"
                            },
                            {
                              "id": "4",
                              "nome": "Hist\u00f3rico de Roubo e Furto"
                            },
                            {
                              "id": "11",
                              "nome": "Gravame"
                            },
                            {
                              "id": "335",
                              "nome": "Hist\u00f3rico de Propriet\u00e1rios"
                            },
                            {
                              "id": "343",
                              "nome": "Indicativo Processos"
                            },
                            {
                              "id": "99",
                              "nome": "Dados do Propriet\u00e1rio"
                            },
                            {
                              "id": "30",
                              "nome": "Passagem Veicular"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "erros relacionados a autentica\u00e7\u00e3o/valida\u00e7\u00e3o",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "success": false,
                      "message": "mensagens de autentica\u00e7\u00e3o/valida\u00e7\u00e3o",
                      "dados": {}
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "erros de sistema",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "success": false,
                      "message": "mensagem do sistema",
                      "dados": {}
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "json_data": {
        "type": "string",
        "properties": {
          "action": {
            "type": "string",
            "example": "doConsulta"
          },
          "logon": {
            "type": "object",
            "username": "seulogon@email.com.br",
            "password": "1234ABCD",
            "token": "5C3F2120-26A4-4BC5-9CC0-220A084BC0BB"
          },
          "parametros": {
            "type": "object",
            "consulta": {
              "fk_tp_con_web": {
                "type": "int",
                "example": 57
              },
              "insumos": {
                "type": "array",
                "example": [
                  335,
                  343
                ]
              }
            },
            "placa": {
              "numero": {
                "type": "string",
                "example": "AAA9999"
              },
              "uf": {
                "type": "string",
                "example": "SP"
              }
            },
            "tipo_pessoa": {
              "type": "string",
              "example": "F"
            },
            "ip": {
              "numero": {
                "type": "string",
                "example": "201.201.201.0"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}