{
  "openapi": "3.0.3",
  "info": {
    "title": "Barcode Lookup API",
    "description": "The Barcode Lookup API provides instant access to product data by barcode (UPC, EAN, ISBN). Returns product names, descriptions, images, pricing, reviews, and other metadata. Covers a database of over 500 million products worldwide. Requires an API key for authentication.",
    "version": "1.0",
    "contact": {
      "name": "Barcode Lookup Support",
      "url": "https://www.barcodelookup.com/api"
    },
    "x-categories": [
      "Product Data",
      "E-commerce"
    ],
    "x-logo": {
      "url": "https://www.barcodelookup.com/favicon.ico"
    }
  },
  "servers": [
    {
      "url": "https://api.barcodelookup.com/v3",
      "description": "Barcode Lookup API v3"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/products": {
      "get": {
        "operationId": "lookupBarcode",
        "summary": "Lookup product by barcode",
        "description": "Retrieves product information by barcode number (UPC, EAN, or ISBN). Returns comprehensive product data including title, description, brand, manufacturer, images, pricing from various stores, and reviews.",
        "parameters": [
          {
            "name": "barcode",
            "in": "query",
            "required": true,
            "description": "The barcode number (UPC, EAN, or ISBN)",
            "schema": {
              "type": "string"
            },
            "example": "9780140449136"
          },
          {
            "name": "formatted",
            "in": "query",
            "description": "Set to 'y' for human-readable formatted response",
            "schema": {
              "type": "string",
              "enum": [
                "y",
                "n"
              ]
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product data found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "products": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid barcode",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key or rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "tags": [
          "Products"
        ]
      }
    },
    "/products/search": {
      "get": {
        "operationId": "searchProducts",
        "summary": "Search products by keyword",
        "description": "Searches for products by keyword, title, manufacturer, brand, or other attributes. Returns matching products with full details.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "description": "Search query (product name, brand, description, etc.)",
            "schema": {
              "type": "string"
            },
            "example": "iPhone"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for paginated results",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "products": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No products found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "tags": [
          "Products"
        ]
      }
    },
    "/rate-limits": {
      "get": {
        "operationId": "getRateLimits",
        "summary": "Get rate limit status",
        "description": "Returns current rate limit information for your API key.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Your API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rate limit information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "allowed_calls_per_month": {
                      "type": "integer"
                    },
                    "remaining_calls_per_month": {
                      "type": "integer"
                    },
                    "allowed_calls_per_minute": {
                      "type": "integer"
                    },
                    "remaining_calls_per_minute": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Account"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "Barcode Lookup API key"
      }
    },
    "schemas": {
      "Product": {
        "type": "object",
        "properties": {
          "barcode_number": {
            "type": "string",
            "description": "The product barcode (UPC, EAN, or ISBN)"
          },
          "barcode_formats": {
            "type": "string",
            "description": "Barcode format (UPC-A, EAN-13, ISBN-13, etc.)"
          },
          "mpn": {
            "type": "string",
            "description": "Manufacturer Part Number"
          },
          "model": {
            "type": "string"
          },
          "asin": {
            "type": "string",
            "description": "Amazon Standard Identification Number"
          },
          "title": {
            "type": "string",
            "description": "Product title/name"
          },
          "category": {
            "type": "string",
            "description": "Product category"
          },
          "manufacturer": {
            "type": "string"
          },
          "brand": {
            "type": "string"
          },
          "contributors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            },
            "description": "Contributors (authors, artists, etc.)"
          },
          "age_group": {
            "type": "string"
          },
          "ingredients": {
            "type": "string"
          },
          "nutrition_facts": {
            "type": "string"
          },
          "energy_efficiency_class": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "material": {
            "type": "string"
          },
          "pattern": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "multipack": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "length": {
            "type": "string"
          },
          "width": {
            "type": "string"
          },
          "height": {
            "type": "string"
          },
          "weight": {
            "type": "string"
          },
          "release_date": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "description": "Product description"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Product feature list"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Product image URLs"
          },
          "stores": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StorePrice"
            },
            "description": "Store pricing information"
          },
          "reviews": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Review"
            },
            "description": "Customer reviews"
          }
        }
      },
      "StorePrice": {
        "type": "object",
        "properties": {
          "store_name": {
            "type": "string"
          },
          "store_price": {
            "type": "string"
          },
          "product_url": {
            "type": "string",
            "format": "uri"
          },
          "currency_code": {
            "type": "string"
          },
          "currency_symbol": {
            "type": "string"
          }
        }
      },
      "Review": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Reviewer name"
          },
          "rating": {
            "type": "string",
            "description": "Rating value"
          },
          "title": {
            "type": "string"
          },
          "review": {
            "type": "string",
            "description": "Review text"
          },
          "datetime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Products",
      "description": "Product lookup and search"
    },
    {
      "name": "Account",
      "description": "Account and rate limit information"
    }
  ]
}