{
  "openapi": "3.0.3",
  "info": {
    "title": "Ambient Weather API",
    "description": "The Ambient Weather API provides access to weather station data from Ambient Weather personal weather stations. It allows querying device information and historical weather data using application and API keys.",
    "version": "1.0.0",
    "contact": {
      "name": "Ambient Weather",
      "url": "https://ambientweather.com"
    },
    "x-jentic-source-url": "https://ambientweather.docs.apiary.io"
  },
  "servers": [
    {
      "url": "https://rt.ambientweather.net/v1",
      "description": "Production REST API"
    }
  ],
  "security": [
    {
      "applicationKey": [],
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Devices",
      "description": "List user devices and their latest data"
    },
    {
      "name": "Device Data",
      "description": "Query historical device data"
    }
  ],
  "paths": {
    "/devices": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List user devices",
        "description": "Provides a list of the user's Ambient Weather devices along with the most recent data for each device.",
        "operationId": "listDevices",
        "parameters": [
          {
            "name": "applicationKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Application key from developer dashboard"
          },
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key from user's Ambient Weather dashboard"
          }
        ],
        "responses": {
          "200": {
            "description": "List of user devices with latest data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Device"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API or application key"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (1 request/second per user)"
          }
        }
      }
    },
    "/devices/{macAddress}": {
      "get": {
        "tags": [
          "Device Data"
        ],
        "summary": "Query device data",
        "description": "Fetch historical data for a specific device by MAC address. Returns up to 288 results per request. Data is sorted by date descending.",
        "operationId": "getDeviceData",
        "parameters": [
          {
            "name": "macAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Device MAC address"
          },
          {
            "name": "applicationKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Application key"
          },
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End date for query (ISO 8601). Defaults to now."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 288,
              "default": 288
            },
            "description": "Maximum number of results to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of historical weather data records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WeatherData"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "applicationKey": {
        "type": "apiKey",
        "in": "query",
        "name": "applicationKey",
        "description": "Your application key from the Ambient Weather developer dashboard"
      },
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "The user's API key from their Ambient Weather account settings"
      }
    },
    "schemas": {
      "Device": {
        "type": "object",
        "properties": {
          "macAddress": {
            "type": "string",
            "description": "MAC address of the device"
          },
          "lastData": {
            "$ref": "#/components/schemas/WeatherData"
          },
          "info": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "User-assigned device name"
              },
              "coords": {
                "type": "object",
                "properties": {
                  "coords": {
                    "type": "object",
                    "properties": {
                      "lat": {
                        "type": "number",
                        "description": "Latitude"
                      },
                      "lon": {
                        "type": "number",
                        "description": "Longitude"
                      }
                    }
                  },
                  "address": {
                    "type": "string"
                  },
                  "location": {
                    "type": "string"
                  },
                  "elevation": {
                    "type": "number"
                  },
                  "geo": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "coordinates": {
                        "type": "array",
                        "items": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "WeatherData": {
        "type": "object",
        "description": "Weather observation data record. Available fields depend on the station model.",
        "properties": {
          "dateutc": {
            "type": "integer",
            "description": "UTC timestamp in milliseconds"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date string"
          },
          "winddir": {
            "type": "number",
            "description": "Wind direction in degrees (0-360)"
          },
          "windspeedmph": {
            "type": "number",
            "description": "Wind speed in mph"
          },
          "windgustmph": {
            "type": "number",
            "description": "Wind gust speed in mph"
          },
          "maxdailygust": {
            "type": "number",
            "description": "Max daily wind gust in mph"
          },
          "winddir_avg2m": {
            "type": "number",
            "description": "2-minute average wind direction"
          },
          "windspdmph_avg2m": {
            "type": "number",
            "description": "2-minute average wind speed"
          },
          "winddir_avg10m": {
            "type": "number",
            "description": "10-minute average wind direction"
          },
          "windspdmph_avg10m": {
            "type": "number",
            "description": "10-minute average wind speed"
          },
          "tempf": {
            "type": "number",
            "description": "Outdoor temperature (F)"
          },
          "humidity": {
            "type": "number",
            "description": "Outdoor humidity (%)"
          },
          "baromrelin": {
            "type": "number",
            "description": "Relative barometric pressure (inHg)"
          },
          "baromabsin": {
            "type": "number",
            "description": "Absolute barometric pressure (inHg)"
          },
          "tempinf": {
            "type": "number",
            "description": "Indoor temperature (F)"
          },
          "humidityin": {
            "type": "number",
            "description": "Indoor humidity (%)"
          },
          "hourlyrainin": {
            "type": "number",
            "description": "Hourly rain (in)"
          },
          "dailyrainin": {
            "type": "number",
            "description": "Daily rain (in)"
          },
          "weeklyrainin": {
            "type": "number",
            "description": "Weekly rain (in)"
          },
          "monthlyrainin": {
            "type": "number",
            "description": "Monthly rain (in)"
          },
          "yearlyrainin": {
            "type": "number",
            "description": "Yearly rain (in)"
          },
          "eventrainin": {
            "type": "number",
            "description": "Event rain (in)"
          },
          "totalrainin": {
            "type": "number",
            "description": "Total rain since last reset (in)"
          },
          "solarradiation": {
            "type": "number",
            "description": "Solar radiation (W/m2)"
          },
          "uv": {
            "type": "number",
            "description": "UV index"
          },
          "feelsLike": {
            "type": "number",
            "description": "Feels like temperature (F)"
          },
          "dewPoint": {
            "type": "number",
            "description": "Dew point (F)"
          },
          "lastRain": {
            "type": "string",
            "format": "date-time",
            "description": "Last rain event timestamp"
          },
          "tz": {
            "type": "string",
            "description": "IANA timezone"
          },
          "temp1f": {
            "type": "number",
            "description": "Sensor 1 temperature (F)"
          },
          "humidity1": {
            "type": "number",
            "description": "Sensor 1 humidity (%)"
          },
          "temp2f": {
            "type": "number",
            "description": "Sensor 2 temperature (F)"
          },
          "humidity2": {
            "type": "number",
            "description": "Sensor 2 humidity (%)"
          },
          "temp3f": {
            "type": "number",
            "description": "Sensor 3 temperature (F)"
          },
          "humidity3": {
            "type": "number",
            "description": "Sensor 3 humidity (%)"
          },
          "pm25": {
            "type": "number",
            "description": "PM2.5 air quality (ug/m3)"
          },
          "pm25_24h": {
            "type": "number",
            "description": "PM2.5 24h average (ug/m3)"
          },
          "pm25_in": {
            "type": "number",
            "description": "Indoor PM2.5 (ug/m3)"
          },
          "pm25_in_24h": {
            "type": "number",
            "description": "Indoor PM2.5 24h average (ug/m3)"
          },
          "co2": {
            "type": "number",
            "description": "CO2 level (ppm)"
          },
          "co2_in": {
            "type": "number",
            "description": "Indoor CO2 (ppm)"
          },
          "co2_in_24h": {
            "type": "number",
            "description": "Indoor CO2 24h average (ppm)"
          },
          "lightning_day": {
            "type": "integer",
            "description": "Lightning strikes today"
          },
          "lightning_hour": {
            "type": "integer",
            "description": "Lightning strikes this hour"
          },
          "lightning_distance": {
            "type": "number",
            "description": "Distance of last lightning strike (mi)"
          },
          "lightning_time": {
            "type": "integer",
            "description": "Timestamp of last lightning strike"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      }
    }
  }
}