{
  "openapi": "3.0.3",
  "info": {
    "title": "Hirize Public API",
    "description": "Hirize AI-powered HR API for resume parsing, job description parsing, AI candidate-job matching, candidate intelligence (HirizeIQ), and employee retention analysis (RetainMe). Supports PDF, JPG, PNG formats with OCR capabilities. Async requests with webhook support available.",
    "version": "1.0.0",
    "contact": {
      "name": "Hirize",
      "url": "https://app.hirize.hr"
    }
  },
  "servers": [
    {
      "url": "https://app.hirize.hr",
      "description": "Hirize Production Server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Parser",
      "description": "Resume parsing - parse resumes in PDF, JPG, PNG formats with OCR capabilities."
    },
    {
      "name": "Job Parser",
      "description": "Job description parsing - parse any job description in raw text format."
    },
    {
      "name": "AI Matcher",
      "description": "AI-powered candidate-job matching based on resume and job requirements."
    },
    {
      "name": "Hirize IQ",
      "description": "Candidate intelligence analysis combining resume parsing with job description matching."
    },
    {
      "name": "RetainMe",
      "description": "Employee retention risk analysis based on resume data."
    }
  ],
  "paths": {
    "/api/public/parser": {
      "post": {
        "operationId": "createParserRequest",
        "summary": "Parse a resume",
        "description": "Submit a resume for parsing. Accepts Base64-encoded file content (PDF, JPG, PNG). Resume parsing is not charged multiple times - a checksum prevents duplicate charges.",
        "tags": ["Parser"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParserRequest"
              },
              "example": {
                "payload": "<base64-encoded-file-content>",
                "file_name": "resume.pdf"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Parser request accepted. Returns an ID to check results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/parser/{id}": {
      "get": {
        "operationId": "getParserDetail",
        "summary": "Get parser result",
        "description": "Retrieve the parsing result for a previously submitted resume using the ID returned from the POST request.",
        "tags": ["Parser"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID returned from the parser POST request.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parser result returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParserDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Parser request not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/job-parser": {
      "post": {
        "operationId": "createJobParserRequest",
        "summary": "Parse a job description",
        "description": "Submit a job description for parsing. Accepts raw text - no prior formatting is required.",
        "tags": ["Job Parser"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobParserRequest"
              },
              "example": {
                "job_description": "Senior Backend Developer role requiring 5+ years experience with Node.js, Python, and cloud services..."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job parser request accepted. Returns an ID to check results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/job-parser/{id}": {
      "get": {
        "operationId": "getJobParserDetail",
        "summary": "Get job parser result",
        "description": "Retrieve the parsing result for a previously submitted job description using the ID returned from the POST request.",
        "tags": ["Job Parser"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID returned from the job parser POST request.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job parser result returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobParserDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job parser request not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/ai-matcher": {
      "post": {
        "operationId": "createAiMatcherRequest",
        "summary": "Match a resume against job requirements",
        "description": "Submit a resume with job requirements for AI-powered matching. Accepts Base64-encoded file content along with job title, seniority level, and required skills.",
        "tags": ["AI Matcher"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AiMatcherRequest"
              },
              "example": {
                "job_title": "Senior Backend Developer",
                "seniority": "Senior",
                "skills": ["FORTRAN", "COBOL", "ALGOL", "BASIC"],
                "payload": "<base64-encoded-file-content>",
                "file_name": "resume.pdf"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI matcher request accepted. Returns an ID to check results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/ai-matcher/{id}": {
      "get": {
        "operationId": "getAiMatcherDetail",
        "summary": "Get AI matcher result",
        "description": "Retrieve the matching result using the ID returned from the POST request.",
        "tags": ["AI Matcher"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID returned from the AI matcher POST request.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI matcher result returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiMatcherDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "AI matcher request not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/ai-matcher-with-occupation": {
      "post": {
        "operationId": "createAiMatcherWithOccupationRequest",
        "summary": "Match with occupation and job description",
        "description": "AI matching using an occupation title and full job description text, without requiring a resume file.",
        "tags": ["AI Matcher"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AiMatcherWithOccupationRequest"
              },
              "example": {
                "job_desc": "Develop and maintain server-side applications using Node.js. Collaborate with front-end developers...",
                "occupation": "Data Scientist"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI matcher request accepted. Returns an ID to check results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/hirize-iq": {
      "post": {
        "operationId": "createHirizeIqRequest",
        "summary": "Analyze candidate intelligence",
        "description": "Submit a resume and job description for comprehensive candidate intelligence analysis. Accepts Base64-encoded file content along with the job description text.",
        "tags": ["Hirize IQ"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HirizeIqRequest"
              },
              "example": {
                "payload": "<base64-encoded-file-content>",
                "file_name": "resume.pdf",
                "job_description": "Senior Backend Developer role requiring..."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "HirizeIQ request accepted. Returns an ID to check results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/hirize-iq/{id}": {
      "get": {
        "operationId": "getHirizeIqDetail",
        "summary": "Get HirizeIQ result",
        "description": "Retrieve the HirizeIQ analysis result using the ID returned from the POST request.",
        "tags": ["Hirize IQ"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID returned from the HirizeIQ POST request.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HirizeIQ result returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HirizeIqDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "HirizeIQ request not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/retain-me": {
      "post": {
        "operationId": "createRetainMeRequest",
        "summary": "Analyze employee retention risk",
        "description": "Submit a resume for employee retention risk analysis. Accepts Base64-encoded file content (PDF, JPG, PNG).",
        "tags": ["RetainMe"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetainMeRequest"
              },
              "example": {
                "payload": "<base64-encoded-file-content>",
                "file_name": "resume.pdf"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "RetainMe request accepted. Returns an ID to check results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/retain-me/{id}": {
      "get": {
        "operationId": "getRetainMeDetail",
        "summary": "Get RetainMe result",
        "description": "Retrieve the retention analysis result using the ID returned from the POST request.",
        "tags": ["RetainMe"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID returned from the RetainMe POST request.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "RetainMe result returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetainMeDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "RetainMe request not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key for authentication. Add as query parameter to all requests. Create endpoints at https://app.hirize.hr"
      }
    },
    "schemas": {
      "ParserRequest": {
        "type": "object",
        "required": ["payload", "file_name"],
        "properties": {
          "payload": {
            "type": "string",
            "format": "byte",
            "description": "Raw Base64-encoded content of the resume file (PDF, JPG, PNG)."
          },
          "file_name": {
            "type": "string",
            "description": "Name of the file being parsed, including extension."
          }
        }
      },
      "JobParserRequest": {
        "type": "object",
        "required": ["job_description"],
        "properties": {
          "job_description": {
            "type": "string",
            "description": "Raw text of the job description. No prior formatting required."
          }
        }
      },
      "AiMatcherRequest": {
        "type": "object",
        "required": ["job_title", "seniority", "skills", "payload", "file_name"],
        "properties": {
          "job_title": {
            "type": "string",
            "description": "Title of the job position."
          },
          "seniority": {
            "type": "string",
            "description": "Required seniority level.",
            "enum": ["Intern", "Junior", "Mid", "Senior", "Lead", "C Level / VP"]
          },
          "skills": {
            "type": "array",
            "description": "List of required skills for the position.",
            "items": {
              "type": "string"
            }
          },
          "payload": {
            "type": "string",
            "format": "byte",
            "description": "Raw Base64-encoded content of the resume file (PDF, JPG, PNG)."
          },
          "file_name": {
            "type": "string",
            "description": "Name of the file being parsed, including extension."
          }
        }
      },
      "AiMatcherWithOccupationRequest": {
        "type": "object",
        "required": ["job_desc", "occupation"],
        "properties": {
          "job_desc": {
            "type": "string",
            "description": "Full text of the job description."
          },
          "occupation": {
            "type": "string",
            "description": "Occupation title to match against."
          }
        }
      },
      "HirizeIqRequest": {
        "type": "object",
        "required": ["payload", "file_name", "job_description"],
        "properties": {
          "payload": {
            "type": "string",
            "format": "byte",
            "description": "Raw Base64-encoded content of the resume file (PDF, JPG, PNG)."
          },
          "file_name": {
            "type": "string",
            "description": "Name of the file being parsed, including extension."
          },
          "job_description": {
            "type": "string",
            "description": "Raw text of the job description for comparison."
          }
        }
      },
      "RetainMeRequest": {
        "type": "object",
        "required": ["payload", "file_name"],
        "properties": {
          "payload": {
            "type": "string",
            "format": "byte",
            "description": "Raw Base64-encoded content of the resume file (PDF, JPG, PNG)."
          },
          "file_name": {
            "type": "string",
            "description": "Name of the file being parsed, including extension."
          }
        }
      },
      "ParserResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the request. Use this to retrieve results via the GET endpoint."
          },
          "status": {
            "type": "string",
            "description": "Current processing status of the request."
          }
        }
      },
      "ParserDetailResponse": {
        "type": "object",
        "description": "Parsed resume data including extracted fields such as name, contact info, education, experience, and skills.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Request identifier."
          },
          "status": {
            "type": "string",
            "description": "Processing status."
          },
          "data": {
            "type": "object",
            "description": "Parsed resume data.",
            "properties": {
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              },
              "skills": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "education": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "experience": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "JobParserDetailResponse": {
        "type": "object",
        "description": "Parsed job description data including extracted fields.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Request identifier."
          },
          "status": {
            "type": "string",
            "description": "Processing status."
          },
          "data": {
            "type": "object",
            "description": "Parsed job description data."
          }
        }
      },
      "AiMatcherDetailResponse": {
        "type": "object",
        "description": "AI matching result with compatibility scores.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Request identifier."
          },
          "status": {
            "type": "string",
            "description": "Processing status."
          },
          "data": {
            "type": "object",
            "description": "AI matching results and scores."
          }
        }
      },
      "HirizeIqDetailResponse": {
        "type": "object",
        "description": "HirizeIQ candidate intelligence analysis results.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Request identifier."
          },
          "status": {
            "type": "string",
            "description": "Processing status."
          },
          "data": {
            "type": "object",
            "description": "Candidate intelligence analysis data."
          }
        }
      },
      "RetainMeDetailResponse": {
        "type": "object",
        "description": "Employee retention risk analysis results.",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Request identifier."
          },
          "status": {
            "type": "string",
            "description": "Processing status."
          },
          "data": {
            "type": "object",
            "description": "Retention risk analysis data."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Human-readable error message."
          }
        }
      }
    }
  }
}
