{
  "openapi": "3.0.3",
  "info": {
    "title": "Megaventory API",
    "version": "v2017a",
    "description": "A powerful business ERP software API for Inventory and Order Management, Light Manufacturing Management, and Reporting. Megaventory provides endpoints for managing products, sales orders, purchase orders, suppliers/clients, inventory locations, stock levels, and documents.",
    "x-jentic-source-url": "https://api.megaventory.com/v2/metadata"
  },
  "servers": [
    {
      "url": "https://api.megaventory.com/v2017a",
      "description": "Megaventory API v2017a"
    }
  ],
  "paths": {
    "/Product/ProductGet": {
      "post": {
        "operationId": "productGet",
        "summary": "Get products",
        "description": "Gets information on existing products with optional filtering",
        "tags": [
          "Product"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductGetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Product/ProductUpdate": {
      "post": {
        "operationId": "productUpdate",
        "summary": "Insert or update a product",
        "description": "Inserts a product or updates an existing one",
        "tags": [
          "Product"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductUpdateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Product/ProductDelete": {
      "post": {
        "operationId": "productDelete",
        "summary": "Delete a product",
        "description": "Deletes a product by ID",
        "tags": [
          "Product"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "APIKEY",
                  "ProductIDToDelete"
                ],
                "properties": {
                  "APIKEY": {
                    "type": "string"
                  },
                  "ProductIDToDelete": {
                    "type": "integer"
                  },
                  "mvInsertUpdateDeleteSourceApplication": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Product/ProductUndelete": {
      "post": {
        "operationId": "productUndelete",
        "summary": "Undelete a product",
        "description": "Restores a previously deleted product",
        "tags": [
          "Product"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "APIKEY",
                  "ProductIDToUndelete"
                ],
                "properties": {
                  "APIKEY": {
                    "type": "string"
                  },
                  "ProductIDToUndelete": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Product/BatchNumberGet": {
      "post": {
        "operationId": "batchNumberGet",
        "summary": "Get batch numbers",
        "description": "Gets information on existing batch numbers",
        "tags": [
          "Product"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "APIKEY"
                ],
                "properties": {
                  "APIKEY": {
                    "type": "string"
                  },
                  "SortBy": {
                    "type": "string",
                    "enum": [
                      "Undefined",
                      "ByExpiryDate",
                      "ByCreationDate",
                      "ByName"
                    ]
                  },
                  "Page": {
                    "type": "integer"
                  },
                  "Limit": {
                    "type": "integer",
                    "maximum": 1000
                  },
                  "Filters": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Filter"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mvBatchNumbers": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "ResponseStatus": {
                      "$ref": "#/components/schemas/ResponseStatus"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Product/ProductBundleGet": {
      "post": {
        "operationId": "productBundleGet",
        "summary": "Get a product bundle",
        "description": "Gets a product bundle and its included products",
        "tags": [
          "Product"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "APIKEY"
                ],
                "properties": {
                  "APIKEY": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/Product/ProductBundleGetAll": {
      "post": {
        "operationId": "productBundleGetAll",
        "summary": "Get all product bundles",
        "description": "Gets all product bundles",
        "tags": [
          "Product"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "APIKEY"
                ],
                "properties": {
                  "APIKEY": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/Product/ProductBundleUpdate": {
      "post": {
        "operationId": "productBundleUpdate",
        "summary": "Insert or update a product bundle",
        "description": "Inserts a product bundle or updates an existing one",
        "tags": [
          "Product"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "APIKEY",
                  "mvRecordAction"
                ],
                "properties": {
                  "APIKEY": {
                    "type": "string"
                  },
                  "mvRecordAction": {
                    "type": "string",
                    "enum": [
                      "Insert",
                      "Update",
                      "InsertOrUpdate"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/Product/ProductBundleDelete": {
      "post": {
        "operationId": "productBundleDelete",
        "summary": "Delete a product bundle",
        "description": "Removes a product bundle",
        "tags": [
          "Product"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "APIKEY",
                  "BundleID"
                ],
                "properties": {
                  "APIKEY": {
                    "type": "string"
                  },
                  "BundleID": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Product/ProductBundleUndelete": {
      "post": {
        "operationId": "productBundleUndelete",
        "summary": "Undelete a product bundle",
        "description": "Restores a deleted product bundle",
        "tags": [
          "Product"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "APIKEY"
                ],
                "properties": {
                  "APIKEY": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/SalesOrder/SalesOrderGet": {
      "post": {
        "operationId": "salesOrderGet",
        "summary": "Get sales orders",
        "description": "Gets information on existing sales orders with optional filtering",
        "tags": [
          "SalesOrder"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalesOrderGetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesOrderGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/SalesOrder/SalesOrderUpdate": {
      "post": {
        "operationId": "salesOrderUpdate",
        "summary": "Insert or update a sales order",
        "description": "Inserts a new sales order or updates an existing one",
        "tags": [
          "SalesOrder"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalesOrderUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesOrderUpdateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/SalesOrder/SalesOrdersUpdate": {
      "post": {
        "operationId": "salesOrdersUpdate",
        "summary": "Batch insert or update sales orders",
        "description": "Inserts or updates multiple sales orders (up to 50 per request)",
        "tags": [
          "SalesOrder"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "APIKEY",
                  "SalesOrders"
                ],
                "properties": {
                  "APIKEY": {
                    "type": "string"
                  },
                  "SalesOrders": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "$ref": "#/components/schemas/SalesOrder"
                    }
                  },
                  "mvInsertUpdateDeleteSourceApplication": {
                    "type": "string"
                  },
                  "AutoInsertBatchNumbersToProductRows": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "SalesOrdersResponses": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "ResponseStatus": {
                      "$ref": "#/components/schemas/ResponseStatus"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/SalesOrder/SalesOrderCancel": {
      "post": {
        "operationId": "salesOrderCancel",
        "summary": "Cancel a sales order",
        "description": "Cancels an existing sales order",
        "tags": [
          "SalesOrder"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "APIKEY",
                  "mvSalesOrderNoToCancel"
                ],
                "properties": {
                  "APIKEY": {
                    "type": "string"
                  },
                  "mvSalesOrderNoToCancel": {
                    "type": "string"
                  },
                  "mvSalesOrderTypeId": {
                    "type": "integer"
                  },
                  "mvInsertUpdateDeleteSourceApplication": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/PurchaseOrder/PurchaseOrderGet": {
      "post": {
        "operationId": "purchaseOrderGet",
        "summary": "Get purchase orders",
        "description": "Gets information on existing purchase orders with optional filtering",
        "tags": [
          "PurchaseOrder"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurchaseOrderGetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseOrderGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/PurchaseOrder/PurchaseOrderUpdate": {
      "post": {
        "operationId": "purchaseOrderUpdate",
        "summary": "Insert or update a purchase order",
        "description": "Inserts a purchase order or updates an existing one",
        "tags": [
          "PurchaseOrder"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurchaseOrderUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseOrderUpdateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/PurchaseOrder/PurchaseOrdersUpdate": {
      "post": {
        "operationId": "purchaseOrdersUpdate",
        "summary": "Batch insert or update purchase orders",
        "description": "Inserts or updates multiple purchase orders (up to 50 per request)",
        "tags": [
          "PurchaseOrder"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "APIKEY",
                  "PurchaseOrders"
                ],
                "properties": {
                  "APIKEY": {
                    "type": "string"
                  },
                  "PurchaseOrders": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "$ref": "#/components/schemas/PurchaseOrder"
                    }
                  },
                  "mvInsertUpdateDeleteSourceApplication": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "PurchaseOrdersResponses": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "ResponseStatus": {
                      "$ref": "#/components/schemas/ResponseStatus"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PurchaseOrder/PurchaseOrderCancel": {
      "post": {
        "operationId": "purchaseOrderCancel",
        "summary": "Cancel a purchase order",
        "description": "Cancels a pending or verified purchase order",
        "tags": [
          "PurchaseOrder"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "APIKEY",
                  "mvPurchaseOrderNoToCancel"
                ],
                "properties": {
                  "APIKEY": {
                    "type": "string"
                  },
                  "mvPurchaseOrderNoToCancel": {
                    "type": "string"
                  },
                  "mvPurchaseOrderTypeId": {
                    "type": "integer"
                  },
                  "mvInsertUpdateDeleteSourceApplication": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/SupplierClient/SupplierClientGet": {
      "post": {
        "operationId": "supplierClientGet",
        "summary": "Get suppliers and clients",
        "description": "Gets information on existing suppliers and clients",
        "tags": [
          "SupplierClient"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupplierClientGetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierClientGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/SupplierClient/SupplierClientUpdate": {
      "post": {
        "operationId": "supplierClientUpdate",
        "summary": "Insert or update a supplier/client",
        "description": "Inserts a supplier/client or updates an existing one",
        "tags": [
          "SupplierClient"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupplierClientUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierClientUpdateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/SupplierClient/SupplierClientDelete": {
      "post": {
        "operationId": "supplierClientDelete",
        "summary": "Delete a supplier or client",
        "description": "Deletes an existing supplier or client",
        "tags": [
          "SupplierClient"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "APIKEY",
                  "SupplierClientIDToDelete",
                  "SupplierClientDeleteAction"
                ],
                "properties": {
                  "APIKEY": {
                    "type": "string"
                  },
                  "SupplierClientIDToDelete": {
                    "type": "integer"
                  },
                  "SupplierClientDeleteAction": {
                    "type": "string",
                    "enum": [
                      "ReplaceWithNewId",
                      "DeleteProducts",
                      "DefaultAction"
                    ]
                  },
                  "NewSupplierClientIDToReplaceDeleted": {
                    "type": "integer"
                  },
                  "mvInsertUpdateDeleteSourceApplication": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/SupplierClient/SupplierClientUndelete": {
      "post": {
        "operationId": "supplierClientUndelete",
        "summary": "Undelete a supplier or client",
        "description": "Restores a previously deleted supplier or client",
        "tags": [
          "SupplierClient"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "APIKEY",
                  "SupplierClientIDToUndelete"
                ],
                "properties": {
                  "APIKEY": {
                    "type": "string"
                  },
                  "SupplierClientIDToUndelete": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/InventoryLocation/InventoryLocationGet": {
      "post": {
        "operationId": "inventoryLocationGet",
        "summary": "Get inventory locations",
        "description": "Gets information on existing inventory locations",
        "tags": [
          "InventoryLocation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryLocationGetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryLocationGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/InventoryLocation/InventoryLocationUpdate": {
      "post": {
        "operationId": "inventoryLocationUpdate",
        "summary": "Insert or update an inventory location",
        "description": "Inserts or updates a current inventory location",
        "tags": [
          "InventoryLocation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryLocationUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryLocationUpdateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/InventoryLocation/InventoryLocationDelete": {
      "post": {
        "operationId": "inventoryLocationDelete",
        "summary": "Delete an inventory location",
        "description": "Deletes a current inventory location",
        "tags": [
          "InventoryLocation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "APIKEY",
                  "InventoryLocationIDToDelete"
                ],
                "properties": {
                  "APIKEY": {
                    "type": "string"
                  },
                  "InventoryLocationIDToDelete": {
                    "type": "integer"
                  },
                  "mvInsertUpdateDeleteSourceApplication": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/InventoryLocationStock/InventoryLocationStockGet": {
      "post": {
        "operationId": "inventoryLocationStockGet",
        "summary": "Get stock levels",
        "description": "Gets information about stock on existing inventory locations",
        "tags": [
          "InventoryLocationStock"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryLocationStockGetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryLocationStockGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/InventoryLocationStock/InventoryLocationStockUpdate": {
      "post": {
        "operationId": "inventoryLocationStockUpdate",
        "summary": "Update stock alerts and sublocations",
        "description": "Inserts or updates information about stock on existing inventory locations",
        "tags": [
          "InventoryLocationStock"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "APIKEY",
                  "mvProductStockAlertsAndSublocationsList"
                ],
                "properties": {
                  "APIKEY": {
                    "type": "string"
                  },
                  "mvProductStockAlertsAndSublocationsList": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "mvInsertUpdateDeleteSourceApplication": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ResponseStatus": {
                      "$ref": "#/components/schemas/ResponseStatus"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InventoryLocationStock/ProductStockUpdate": {
      "post": {
        "operationId": "productStockUpdate",
        "summary": "Update product stock",
        "description": "Updates product stock for given locations and products",
        "tags": [
          "InventoryLocationStock"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductStockUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ResponseStatus": {
                      "$ref": "#/components/schemas/ResponseStatus"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Document/DocumentGet": {
      "post": {
        "operationId": "documentGet",
        "summary": "Get documents",
        "description": "Gets information on existing documents",
        "tags": [
          "Document"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentGetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Document/DocumentUpdate": {
      "post": {
        "operationId": "documentUpdate",
        "summary": "Insert or update a document",
        "description": "Inserts a document or updates an existing one",
        "tags": [
          "Document"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentUpdateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Document/DocumentsUpdate": {
      "post": {
        "operationId": "documentsUpdate",
        "summary": "Batch insert or update documents",
        "description": "Inserts or updates multiple documents in batch",
        "tags": [
          "Document"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "APIKEY",
                  "Documents"
                ],
                "properties": {
                  "APIKEY": {
                    "type": "string"
                  },
                  "Documents": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "mvInsertUpdateDeleteSourceApplication": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "DocumentsResponses": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "ResponseStatus": {
                      "$ref": "#/components/schemas/ResponseStatus"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Filter": {
        "type": "object",
        "properties": {
          "FieldName": {
            "type": "string"
          },
          "SearchOperator": {
            "type": "string",
            "enum": [
              "Equals",
              "NotEquals",
              "BeginsWith",
              "EndsWith",
              "Contains",
              "GreaterThan",
              "LessThan"
            ]
          },
          "SearchValue": {
            "type": "string"
          },
          "AndOr": {
            "type": "string",
            "enum": [
              "And",
              "Or"
            ]
          }
        },
        "required": [
          "FieldName",
          "SearchOperator",
          "SearchValue"
        ]
      },
      "ResponseStatus": {
        "type": "object",
        "properties": {
          "ErrorCode": {
            "type": "string"
          },
          "Message": {
            "type": "string"
          }
        }
      },
      "BasicResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "ResponseStatus": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "ProductID": {
            "type": "integer"
          },
          "ProductType": {
            "type": "string"
          },
          "ProductSKU": {
            "type": "string"
          },
          "ProductDescription": {
            "type": "string"
          },
          "ProductSellingPrice": {
            "type": "number",
            "format": "double"
          },
          "ProductPurchasePrice": {
            "type": "number",
            "format": "double"
          },
          "ProductCategoryID": {
            "type": "integer"
          },
          "ProductUnitOfMeasurement": {
            "type": "string"
          },
          "ProductWeight": {
            "type": "number",
            "format": "double"
          },
          "ProductLength": {
            "type": "number",
            "format": "double"
          },
          "ProductBreadth": {
            "type": "number",
            "format": "double"
          },
          "ProductHeight": {
            "type": "number",
            "format": "double"
          },
          "ProductImageURL": {
            "type": "string"
          },
          "ProductMainSupplierID": {
            "type": "integer"
          },
          "ProductMainSupplierPrice": {
            "type": "number",
            "format": "double"
          },
          "ProductIsDeleted": {
            "type": "boolean"
          },
          "ProductCustomField1": {
            "type": "string"
          },
          "ProductCustomField2": {
            "type": "string"
          },
          "ProductCustomField3": {
            "type": "string"
          },
          "ProductCustomField4": {
            "type": "string"
          },
          "ProductCustomField5": {
            "type": "string"
          },
          "ProductCustomField6": {
            "type": "string"
          },
          "ProductCustomField7": {
            "type": "string"
          },
          "ProductCustomField8": {
            "type": "string"
          },
          "ProductCustomField9": {
            "type": "string"
          },
          "ProductCustomField10": {
            "type": "string"
          }
        }
      },
      "ProductGetRequest": {
        "type": "object",
        "required": [
          "APIKEY"
        ],
        "properties": {
          "APIKEY": {
            "type": "string"
          },
          "ProductID": {
            "type": "integer"
          },
          "ProductSKU": {
            "type": "string"
          },
          "ProductCategoryID": {
            "type": "integer"
          },
          "Filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filter"
            }
          },
          "ReturnTopNRecords": {
            "type": "integer"
          }
        }
      },
      "ProductGetResponse": {
        "type": "object",
        "properties": {
          "mvProducts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "ResponseStatus": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        }
      },
      "ProductUpdateRequest": {
        "type": "object",
        "required": [
          "APIKEY",
          "mvProduct",
          "mvRecordAction"
        ],
        "properties": {
          "APIKEY": {
            "type": "string"
          },
          "mvProduct": {
            "$ref": "#/components/schemas/Product"
          },
          "mvRecordAction": {
            "type": "string",
            "enum": [
              "Insert",
              "Update",
              "InsertOrUpdate",
              "InsertOrUpdateNonEmptyFields"
            ]
          },
          "mvInsertUpdateDeleteSourceApplication": {
            "type": "string"
          }
        }
      },
      "ProductUpdateResponse": {
        "type": "object",
        "properties": {
          "mvProduct": {
            "$ref": "#/components/schemas/Product"
          },
          "entityID": {
            "type": "integer"
          },
          "ResponseStatus": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        }
      },
      "SalesOrder": {
        "type": "object",
        "properties": {
          "SalesOrderId": {
            "type": "integer"
          },
          "SalesOrderNo": {
            "type": "string"
          },
          "SalesOrderStatus": {
            "type": "string",
            "enum": [
              "Pending",
              "Verified",
              "PartiallyShipped",
              "FullyShipped",
              "PartiallyInvoiced",
              "FullyInvoiced",
              "Closed",
              "Cancelled"
            ]
          },
          "SalesOrderClientID": {
            "type": "integer"
          },
          "SalesOrderClientName": {
            "type": "string"
          },
          "SalesOrderDate": {
            "type": "string"
          },
          "SalesOrderCreationDate": {
            "type": "string"
          },
          "SalesOrderCurrencyCode": {
            "type": "string"
          },
          "SalesOrderAmountSubtotalWithoutTaxAndDiscount": {
            "type": "number",
            "format": "double"
          },
          "SalesOrderAmountGrandTotal": {
            "type": "number",
            "format": "double"
          },
          "SalesOrderDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SalesOrderRow"
            }
          },
          "SalesOrderShippingAddress": {
            "type": "string"
          },
          "SalesOrderBillingAddress": {
            "type": "string"
          },
          "SalesOrderComments": {
            "type": "string"
          },
          "SalesOrderInventoryLocationID": {
            "type": "integer"
          },
          "SalesOrderCustomFlag1": {
            "type": "string"
          },
          "SalesOrderCustomFlag2": {
            "type": "string"
          },
          "SalesOrderCustomFlag3": {
            "type": "string"
          }
        }
      },
      "SalesOrderRow": {
        "type": "object",
        "properties": {
          "SalesOrderRowProductSKU": {
            "type": "string"
          },
          "SalesOrderRowProductDescription": {
            "type": "string"
          },
          "SalesOrderRowQuantity": {
            "type": "number",
            "format": "double"
          },
          "SalesOrderRowShippedQuantity": {
            "type": "number",
            "format": "double"
          },
          "SalesOrderRowInvoicedQuantity": {
            "type": "number",
            "format": "double"
          },
          "SalesOrderRowUnitPriceWithoutTaxOrDiscount": {
            "type": "number",
            "format": "double"
          },
          "SalesOrderRowTaxAmount": {
            "type": "number",
            "format": "double"
          },
          "SalesOrderRowDiscountAmount": {
            "type": "number",
            "format": "double"
          },
          "SalesOrderRowTotalAmount": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "SalesOrderGetRequest": {
        "type": "object",
        "required": [
          "APIKEY"
        ],
        "properties": {
          "APIKEY": {
            "type": "string"
          },
          "mvSalesOrderNo": {
            "type": "string"
          },
          "mvSalesOrderStatus": {
            "type": "string",
            "enum": [
              "Pending",
              "Verified",
              "PartiallyShipped",
              "FullyShipped",
              "PartiallyInvoiced",
              "FullyInvoiced",
              "Closed",
              "Cancelled"
            ]
          },
          "Filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filter"
            }
          },
          "ReturnTopNRecords": {
            "type": "integer"
          }
        }
      },
      "SalesOrderGetResponse": {
        "type": "object",
        "properties": {
          "mvSalesOrders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SalesOrder"
            }
          },
          "ResponseStatus": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        }
      },
      "SalesOrderUpdateRequest": {
        "type": "object",
        "required": [
          "APIKEY",
          "mvSalesOrder",
          "mvRecordAction"
        ],
        "properties": {
          "APIKEY": {
            "type": "string"
          },
          "mvSalesOrder": {
            "$ref": "#/components/schemas/SalesOrder"
          },
          "mvRecordAction": {
            "type": "string",
            "enum": [
              "Insert",
              "Update",
              "InsertOrUpdate",
              "Verify",
              "Close",
              "Cancel",
              "Clone",
              "ShipItems",
              "InvoiceItems"
            ]
          },
          "mvInsertUpdateDeleteSourceApplication": {
            "type": "string"
          },
          "AutoInsertBatchNumbersToProductRows": {
            "type": "string"
          }
        }
      },
      "SalesOrderUpdateResponse": {
        "type": "object",
        "properties": {
          "mvSalesOrder": {
            "$ref": "#/components/schemas/SalesOrder"
          },
          "entityID": {
            "type": "integer"
          },
          "ResponseStatus": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        }
      },
      "PurchaseOrder": {
        "type": "object",
        "properties": {
          "PurchaseOrderId": {
            "type": "integer"
          },
          "PurchaseOrderNo": {
            "type": "string"
          },
          "PurchaseOrderTypeId": {
            "type": "integer"
          },
          "PurchaseOrderStatus": {
            "type": "string",
            "enum": [
              "Pending",
              "Verified",
              "PartiallyReceived",
              "FullyReceived",
              "PartiallyInvoiced",
              "FullyInvoiced",
              "Closed",
              "Cancelled"
            ]
          },
          "PurchaseOrderSupplierID": {
            "type": "integer"
          },
          "PurchaseOrderDate": {
            "type": "string"
          },
          "PurchaseOrderCreationDate": {
            "type": "string"
          },
          "PurchaseOrderCurrencyCode": {
            "type": "string"
          },
          "PurchaseOrderAmountSubtotalWithoutTaxAndDiscount": {
            "type": "number",
            "format": "double"
          },
          "PurchaseOrderAmountGrandTotal": {
            "type": "number",
            "format": "double"
          },
          "PurchaseOrderDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PurchaseOrderRow"
            }
          },
          "PurchaseOrderInventoryLocationID": {
            "type": "integer"
          },
          "PurchaseOrderComments": {
            "type": "string"
          }
        }
      },
      "PurchaseOrderRow": {
        "type": "object",
        "properties": {
          "PurchaseOrderRowProductSKU": {
            "type": "string"
          },
          "PurchaseOrderRowProductDescription": {
            "type": "string"
          },
          "PurchaseOrderRowQuantity": {
            "type": "number",
            "format": "double"
          },
          "PurchaseOrderRowReceivedQuantity": {
            "type": "number",
            "format": "double"
          },
          "PurchaseOrderRowInvoicedQuantity": {
            "type": "number",
            "format": "double"
          },
          "PurchaseOrderRowUnitPriceWithoutTaxOrDiscount": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "PurchaseOrderGetRequest": {
        "type": "object",
        "required": [
          "APIKEY"
        ],
        "properties": {
          "APIKEY": {
            "type": "string"
          },
          "mvPurchaseOrderNo": {
            "type": "string"
          },
          "mvPurchaseOrderStatus": {
            "type": "string",
            "enum": [
              "Pending",
              "Verified",
              "PartiallyReceived",
              "FullyReceived",
              "PartiallyInvoiced",
              "FullyInvoiced",
              "Closed",
              "Cancelled"
            ]
          },
          "Filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filter"
            }
          },
          "ReturnTopNRecords": {
            "type": "integer"
          }
        }
      },
      "PurchaseOrderGetResponse": {
        "type": "object",
        "properties": {
          "mvPurchaseOrders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PurchaseOrder"
            }
          },
          "ResponseStatus": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        }
      },
      "PurchaseOrderUpdateRequest": {
        "type": "object",
        "required": [
          "APIKEY",
          "mvPurchaseOrder",
          "mvRecordAction"
        ],
        "properties": {
          "APIKEY": {
            "type": "string"
          },
          "mvPurchaseOrder": {
            "$ref": "#/components/schemas/PurchaseOrder"
          },
          "mvRecordAction": {
            "type": "string",
            "enum": [
              "Insert",
              "Update",
              "InsertOrUpdate",
              "Verify",
              "Cancel",
              "ReceiveItems",
              "Close"
            ]
          },
          "mvInsertUpdateDeleteSourceApplication": {
            "type": "string"
          }
        }
      },
      "PurchaseOrderUpdateResponse": {
        "type": "object",
        "properties": {
          "mvPurchaseOrder": {
            "$ref": "#/components/schemas/PurchaseOrder"
          },
          "entityID": {
            "type": "integer"
          },
          "ResponseStatus": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        }
      },
      "SupplierClient": {
        "type": "object",
        "properties": {
          "SupplierClientID": {
            "type": "integer"
          },
          "SupplierClientType": {
            "type": "string"
          },
          "SupplierClientName": {
            "type": "string"
          },
          "SupplierClientBillingAddress": {
            "type": "string"
          },
          "SupplierClientShippingAddress1": {
            "type": "string"
          },
          "SupplierClientShippingAddress2": {
            "type": "string"
          },
          "SupplierClientPhone1": {
            "type": "string"
          },
          "SupplierClientPhone2": {
            "type": "string"
          },
          "SupplierClientFax": {
            "type": "string"
          },
          "SupplierClientEmail": {
            "type": "string"
          },
          "SupplierClientIM": {
            "type": "string"
          },
          "SupplierClientTaxID": {
            "type": "string"
          },
          "SupplierClientCurrencyCode": {
            "type": "string"
          },
          "SupplierClientComments": {
            "type": "string"
          },
          "SupplierClientIsDeleted": {
            "type": "boolean"
          },
          "SupplierClientCreationDate": {
            "type": "string"
          },
          "SupplierClientCustomField1": {
            "type": "string"
          },
          "SupplierClientCustomField2": {
            "type": "string"
          },
          "SupplierClientCustomField3": {
            "type": "string"
          },
          "SupplierClientCustomField4": {
            "type": "string"
          },
          "SupplierClientCustomField5": {
            "type": "string"
          },
          "SupplierClientCustomField6": {
            "type": "string"
          },
          "SupplierClientCustomField7": {
            "type": "string"
          },
          "SupplierClientCustomField8": {
            "type": "string"
          },
          "SupplierClientCustomField9": {
            "type": "string"
          },
          "SupplierClientCustomField10": {
            "type": "string"
          },
          "mvContacts": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "SupplierClientGetRequest": {
        "type": "object",
        "required": [
          "APIKEY"
        ],
        "properties": {
          "APIKEY": {
            "type": "string"
          },
          "showDeleted": {
            "type": "string",
            "enum": [
              "showOnlyUndeleted",
              "showOnlyDeleted",
              "showAllDeletedAndUndeleted"
            ]
          },
          "Filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filter"
            }
          },
          "ReturnTopNRecords": {
            "type": "integer"
          }
        }
      },
      "SupplierClientGetResponse": {
        "type": "object",
        "properties": {
          "mvSupplierClients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupplierClient"
            }
          },
          "ResponseStatus": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        }
      },
      "SupplierClientUpdateRequest": {
        "type": "object",
        "required": [
          "APIKEY",
          "mvSupplierClient",
          "mvRecordAction"
        ],
        "properties": {
          "APIKEY": {
            "type": "string"
          },
          "mvSupplierClient": {
            "$ref": "#/components/schemas/SupplierClient"
          },
          "mvRecordAction": {
            "type": "string",
            "enum": [
              "Insert",
              "Update",
              "InsertOrUpdate",
              "InsertOrUpdateNonEmptyFields"
            ]
          },
          "mvGrantPermissionsToAllUsers": {
            "type": "boolean"
          },
          "mvInsertUpdateDeleteSourceApplication": {
            "type": "string"
          }
        }
      },
      "SupplierClientUpdateResponse": {
        "type": "object",
        "properties": {
          "mvSupplierClient": {
            "$ref": "#/components/schemas/SupplierClient"
          },
          "entityID": {
            "type": "integer"
          },
          "ResponseStatus": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        }
      },
      "InventoryLocation": {
        "type": "object",
        "properties": {
          "InventoryLocationID": {
            "type": "integer"
          },
          "InventoryLocationName": {
            "type": "string"
          },
          "InventoryLocationAbbreviation": {
            "type": "string"
          },
          "InventoryLocationAddress": {
            "type": "string"
          },
          "InventoryLocationCurrencyCode": {
            "type": "string"
          },
          "InventoryLocationIsDeleted": {
            "type": "boolean"
          },
          "InventoryLocationIsTransit": {
            "type": "boolean"
          }
        }
      },
      "InventoryLocationGetRequest": {
        "type": "object",
        "required": [
          "APIKEY"
        ],
        "properties": {
          "APIKEY": {
            "type": "string"
          },
          "showDeleted": {
            "type": "string",
            "enum": [
              "showOnlyUndeleted",
              "showOnlyDeleted",
              "showAllDeletedAndUndeleted"
            ]
          },
          "IncludeTransit": {
            "type": "boolean"
          },
          "Filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filter"
            }
          },
          "ReturnTopNRecords": {
            "type": "integer"
          }
        }
      },
      "InventoryLocationGetResponse": {
        "type": "object",
        "properties": {
          "mvInventoryLocations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryLocation"
            }
          },
          "ResponseStatus": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        }
      },
      "InventoryLocationUpdateRequest": {
        "type": "object",
        "required": [
          "APIKEY",
          "mvInventoryLocation",
          "mvRecordAction"
        ],
        "properties": {
          "APIKEY": {
            "type": "string"
          },
          "mvInventoryLocation": {
            "$ref": "#/components/schemas/InventoryLocation"
          },
          "mvRecordAction": {
            "type": "string",
            "enum": [
              "Insert",
              "Update",
              "InsertOrUpdate",
              "InsertOrUpdateNonEmptyFields"
            ]
          },
          "mvInsertUpdateDeleteSourceApplication": {
            "type": "string"
          }
        }
      },
      "InventoryLocationUpdateResponse": {
        "type": "object",
        "properties": {
          "mvInventoryLocation": {
            "$ref": "#/components/schemas/InventoryLocation"
          },
          "entityID": {
            "type": "integer"
          },
          "ResponseStatus": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        }
      },
      "InventoryLocationStockGetRequest": {
        "type": "object",
        "required": [
          "APIKEY"
        ],
        "properties": {
          "APIKEY": {
            "type": "string"
          },
          "ProductID": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "ProductSKU": {
            "type": "string"
          },
          "ProductCategoryID": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "InventoryLocationID": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "ProductMainSupplierID": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "ShowOnlyProductsWithPositiveQty": {
            "type": "boolean"
          },
          "ShowOnlyProductsThanNeedToBeOrdered": {
            "type": "boolean"
          },
          "showDeleted": {
            "type": "string",
            "enum": [
              "showOnlyUndeleted",
              "showOnlyDeleted",
              "showAllDeletedAndUndeleted"
            ]
          },
          "Filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filter"
            }
          },
          "ReturnTopNRecords": {
            "type": "integer"
          }
        }
      },
      "InventoryLocationStockGetResponse": {
        "type": "object",
        "properties": {
          "mvProductStockList": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "productID": {
                  "type": "integer"
                },
                "mvStock": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "ResponseStatus": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        }
      },
      "ProductStockUpdateRequest": {
        "type": "object",
        "required": [
          "APIKEY",
          "mvProductStockUpdateList"
        ],
        "properties": {
          "APIKEY": {
            "type": "string"
          },
          "mvProductStockUpdateList": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "ProductQuantity",
                "InventoryLocationID"
              ],
              "properties": {
                "ProductID": {
                  "type": "integer"
                },
                "ProductSKU": {
                  "type": "string"
                },
                "ProductQuantity": {
                  "type": "number",
                  "format": "double"
                },
                "InventoryLocationID": {
                  "type": "integer"
                },
                "ProductUnitCost": {
                  "type": "number",
                  "format": "double"
                },
                "AdjustmentPlusDocumentTypeID": {
                  "type": "integer"
                },
                "AdjustmentMinusDocumentTypeID": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "DocumentGetRequest": {
        "type": "object",
        "required": [
          "APIKEY"
        ],
        "properties": {
          "APIKEY": {
            "type": "string"
          },
          "mvDocumentTypeIDs": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "mvDocumentNo": {
            "type": "string"
          },
          "mvDocumentStatus": {
            "type": "string"
          },
          "Filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filter"
            }
          },
          "ReturnTopNRecords": {
            "type": "integer"
          }
        }
      },
      "DocumentGetResponse": {
        "type": "object",
        "properties": {
          "mvDocuments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          },
          "ResponseStatus": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "DocumentId": {
            "type": "integer"
          },
          "DocumentTypeId": {
            "type": "integer"
          },
          "DocumentNo": {
            "type": "string"
          },
          "DocumentDate": {
            "type": "string"
          },
          "DocumentCurrencyCode": {
            "type": "string"
          },
          "DocumentSupplierClientID": {
            "type": "integer"
          },
          "DocumentInventoryLocationID": {
            "type": "integer"
          },
          "DocumentStatus": {
            "type": "string"
          },
          "DocumentDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentRow"
            }
          },
          "DocumentComments": {
            "type": "string"
          }
        }
      },
      "DocumentRow": {
        "type": "object",
        "required": [
          "DocumentRowProductSKU",
          "DocumentRowQuantity",
          "DocumentRowUnitPriceWithoutTaxOrDiscount"
        ],
        "properties": {
          "DocumentRowProductSKU": {
            "type": "string"
          },
          "DocumentRowQuantity": {
            "type": "number",
            "format": "double"
          },
          "DocumentRowUnitPriceWithoutTaxOrDiscount": {
            "type": "number",
            "format": "double"
          },
          "DocumentRowRemarks": {
            "type": "string"
          }
        }
      },
      "DocumentUpdateRequest": {
        "type": "object",
        "required": [
          "APIKEY",
          "mvDocument",
          "mvRecordAction"
        ],
        "properties": {
          "APIKEY": {
            "type": "string"
          },
          "mvDocument": {
            "$ref": "#/components/schemas/Document"
          },
          "mvRecordAction": {
            "type": "string",
            "enum": [
              "Insert",
              "Update",
              "InsertOrUpdate",
              "InsertOrUpdateNonEmptyFields",
              "Save",
              "SaveNonEmptyFields",
              "Verify",
              "RevertToPending",
              "Close",
              "ReOpen",
              "Cancel",
              "Delete",
              "Clone",
              "ReceiveItems",
              "ShipItems",
              "InvoiceItems"
            ]
          },
          "mvInsertUpdateDeleteSourceApplication": {
            "type": "string"
          },
          "AutoInsertBatchNumbersToProductRows": {
            "type": "string"
          }
        }
      },
      "DocumentUpdateResponse": {
        "type": "object",
        "properties": {
          "mvDocument": {
            "$ref": "#/components/schemas/Document"
          },
          "entityID": {
            "type": "integer"
          },
          "ResponseStatus": {
            "$ref": "#/components/schemas/ResponseStatus"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "APIKEY",
        "in": "query",
        "description": "Megaventory API key passed as a request body parameter or query parameter"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}