{
  "openapi": "3.0.3",
  "info": {
    "title": "US Criminal Reports",
    "description": "This API offers access to 3 different criminal report options, including the **US Criminal Database Report** (nationwide database), **US Criminal County Report** (manual/direct county court search) and **US Criminal Statewide Report** (manual/direct statewide court search). The combination of database and direct court searches available through the US Criminal Report API ensures users have comprehensive access to felony and misdemeanor court records and convictions, sex offender registries, incarceration records and traffic violations across the United States. Coverage may vary by jurisdiction.\n\n \n\n**Why are 3 criminal report options needed?**\n\n \n\nThe U.S. criminal court system is fragmented and does not offer centralized access to criminal records from different Counties and jurisdictions. Rather, U.S. courts operate in a segmented manner that file records within their own jurisdictions, counties and states, thus making it challenging to search an individual’s background for possible criminal records. This creates a problem for prospective employers, property rental and leasing businesses, businesses selecting vendors or entering into business partnerships, and many other types of businesses that need to ensure people they are working with do not have a criminal history that could put them at risk for exposure or worse. To solve for the above challenge, our **US Criminal Report** offers access to both national database records aggregated from multiple jurisdictions and sources, while also offering direct manual County and Statewide search options to search for criminal records filed in the locations an individual may have previously lived or been associated. The combined use of database and direct court search options allows users to complete a thorough and reasonable background check to minimize risk and exposure.\n\n \n\n**How do the 3 criminal report options work together?**\n\n \n\nUsers should leverage the combination of searches and queries that best fits their business risk, compliance needs, and legal requirements. However, each report offers unique value and coverage that should be considered.\n\n \n\n* **US Criminal Database Report**:  This report is sourced from one of the most comprehensive, national databases of aggregated criminal    court records, sex offender registries, incarceration records and traffic violations available in the U.S. The data is sourced from an extensive network of data collection specialists and sophisticated technology to aggregate the broadest coverage possible into a central database. The value of this report is most realized by allowing users the ability to uncover hard to find records that may exist in jurisdictions that boarder areas where the subject is associated in their past, or may uncover records in jurisdictions completely unrelated to their traceable residence history.\n\n \n\n* **US Criminal County Report**: This report allows users to directly search County court records using a network of court researchers that manually search the court indexes and records filed with each County requested. This practice ensures that records not available for return in the national database report are adequately searched directly in the areas where the subject would most likely have a criminal history, thus further reducing liability and exposure related to reasonable background check practices.\n\n \n\n* **US Criminal Statewide Report**: This report allows users to directly search Statewide repositories that offer centralized access to various criminal court filings that exist within a given State. It is often used as an alternative option to searching multiple Counties within each State within States that offer this option. This practice ensures that records not available for return in the national database report are adequately searched directly in the States where the subject would most likely have a criminal history, thus further reducing liability and exposure related to reasonable background check practices.\n\n \n\nAll criminal reports will attempt to return Felony Convictions without date restrictions, along with up to 7 years of history on Misdemeanors, Arrest Records, and Traffic Violations. Return of all records is dependent on coverage and availability.\n\n \n\n**How do I request each criminal report via the API?**\n\n \n\nEach report is specified in the Request using the “ProductID” field as follows:\n\n* US Criminal Database Report……Specify ProductID ”USCRMD”\n* US Criminal County Report………Specify ProductID ”USCRMC”\n* US Criminal Statewide Report…...Specify ProductID ”USCRMS”",
    "version": "1.0.0.0",
    "x-jentic-source-url": "https://developer.microbilt.com/sites/default/files/apidoc_specs/CriminalSearchV2_13.yaml"
  },
  "servers": [
    {
      "url": "https://apitest.microbilt.com/CriminalSearchV2",
      "description": "Sandbox url"
    },
    {
      "url": "https://api.microbilt.com/CriminalSearchV2",
      "description": "Production url"
    }
  ],
  "paths": {
    "/GetReport": {
      "post": {
        "summary": "Get report associated with criminal record history on an individual",
        "description": "When requesting the US Criminal Report, users must specify the ProductID tag with the value that indicates the report option desired. Users should populate one of the below options for each request:\n\n* US Criminal Database Report……Specify ProductID ”USCRMD”\n* US Criminal County Report………Specify ProductID ”USCRMC”\n* US Criminal Statewide Report…...Specify ProductID ”USCRMS”\n\nIMPORTANT DEVELOPER NOTE:\n\nWhen testing the “USCRMC” and “USCRMS” products, these are direct/manual searches of County and Statewide court records. Therefore, the GetReport response for these products will always deliver an “IN_PROC” Status to indicate the results are not instant and require a secondary API call. To retrieve the final results for the USCRMC and USCRMS products, users must capture the AppID from the initial GetReport call, and submit the AppID to the GetArchiveReport API to receive final results.\n \n\nFor testing purposes, the test URL and sandbox for GetArchiveReport will deliver results from captured AppIDs without delay. However, in the Production environment, users are recommended to check the GetArchiveReport API periodically to determine if results are available.  Some Statewide reports may return more quickly than County reports due to automated direct connections available from some States, while County searches require court researchers to manually visit courts on-site, which can take anywhere from 3-7 days on average.",
        "operationId": "/GetReport",
        "requestBody": {
          "x-name": "MBCriminalReportRq",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MBUSCriminalSearchRq_Type"
              },
              "examples": {
                "NO HIT": {
                  "value": "{\n    \"MsgRqHdr\": {\n      \"ProductID\": \"USCRMD\"\n    },\n    \"PersonInfo\": {\n      \"PersonName\": {\n        \"LastName\": \"TUMERIC\",\n        \"FirstName\": \"PEPPER\",\n        \"MiddleName\": \"P\"\n      },\n      \"ContactInfo\": [{\n        \"PostAddr\": {\n          \"StreetNum\": \"728\",\n          \"StreetName\": \"DOWNTON\",\n          \"StreetType\": \"DR\",\n          \"City\": \"SUMMER\",\n          \"StateProv\": \"OH\",\n          \"PostalCode\": \"45999\",\n          \"Country\": \"USA\"\n        }\n      }],\n      \"BirthDt\": \"1965-04-22\"\n    }\n}"
                },
                "USCRMC_US Criminal County Report_Valid1": {
                  "value": "{\n  \"MsgRqHdr\": {\n    \"ProductID\": \"USCRMC\"\n  },\n  \"PersonInfo\": {\n    \"PersonName\": {\n      \"LastName\": \"Hughes\",\n      \"FirstName\": \"Tom\"\n    },\n    \"ContactInfo\": [\n      {\n        \"PostAddr\": {\n          \"Addr1\": \"1385 LASALLE AVE\",\n          \"City\": \"BALTIMORE\",\n          \"StateProv\": \"MD\",\n          \"PostalCode\": \"21206\",\n          \"Country\": \"USA\"\n        }\n      }\n    ],\n    \"BirthDt\": \"1964-02-05\"\n  },\n  \"JurisdictionCounty\": \"BALTIMORE\",\n  \"JurisdictionState\": \"MD\"\n}"
                },
                "USCRMC_US Criminal County Report_Valid2": {
                  "value": "{\n  \"MsgRqHdr\": {\n    \"ProductID\": \"USCRMC\"\n  },\n  \"PersonInfo\": {\n    \"PersonName\": {\n      \"LastName\": \"Landers\",\n      \"FirstName\": \"Mary\"\n    },\n    \"ContactInfo\": [{\n      \"PostAddr\": {\n        \"Addr1\": \"407 Thomas Ave\",\n        \"City\": \"EL CAMPO\",\n        \"StateProv\": \"TX\",\n        \"PostalCode\": \"77026\",\n        \"Country\": \"USA\"\n      }\n    }],\n    \"BirthDt\": \"1984-04-03\"\n  },\n  \"JurisdictionCounty\": \"Harris\",\n  \"JurisdictionState\": \"TX\"\n}"
                },
                "USCRMD_US Criminal Database Report_No Criminal Record": {
                  "value": "{\n    \"MsgRqHdr\": {\n      \"ProductID\": \"USCRMD\"\n    },\n    \"PersonInfo\": {\n        \"PersonName\": {\n            \"LastName\": \"Koeck\",\n            \"FirstName\": \"Kimber\"\n        },\n        \"TINInfo\": {\n            \"TINType\": \"1\",\n            \"TaxId\": \"666940878\"\n        },\n        \"BirthDt\": \"1972-01-22\"\n    }\n}\n"
                },
                "USCRMD_US Criminal Database Report_Valid1": {
                  "value": "{\n  \"MsgRqHdr\": {\n    \"ProductID\": \"USCRMD\"\n  },\n  \"PersonInfo\": {\n    \"PersonName\": {\n      \"LastName\": \"Robert\",\n      \"FirstName\": \"Daniel\"\n    },\n    \"ContactInfo\": [{\n      \"PostAddr\": {\n        \"StreetNum\": \"1098\",\n        \"StreetName\": \"Grandville\",\n        \"StreetType\": \"CT\",\n        \"City\": \"SAINT PETERSBURG\",\n        \"StateProv\": \"FL\",\n        \"PostalCode\": \"33701\",\n        \"Country\": \"USA\"\n      }\n    }],\n    \"BirthDt\": \"1985-02-04\"\n  }\n}"
                },
                "USCRMD_US Criminal Database Report_Valid2": {
                  "value": "{\n    \"MsgRqHdr\": {\n        \"ProductID\": \"USCRMD\"\n    },\n    \"PersonInfo\": {\n        \"PersonName\": {\n            \"FirstName\": \"Lisa\",\n            \"LastName\": \"Jackson\"\n        },\n        \"TINInfo\": {\n            \"TINType\": \"1\",\n            \"TaxId\": \"666521800\"\n        },\n        \"BirthDt\": \"1986-04-02\"\n    }\n}\n"
                },
                "USCRMS_US Criminal Statewide Report_Valid1": {
                  "value": "{\n  \"MsgRqHdr\": {\n    \"ProductID\": \"USCRMS\"\n  },\n  \"PersonInfo\": {\n    \"PersonName\": {\n      \"LastName\": \"Hughes\",\n      \"FirstName\": \"Tom\"\n    },\n    \"ContactInfo\": [\n      {\n        \"PostAddr\": {\n          \"Addr1\": \"1385 LASALLE AVE\",\n          \"City\": \"BALTIMORE\",\n          \"StateProv\": \"MD\",\n          \"PostalCode\": \"21206\",\n          \"Country\": \"USA\"\n        }\n      }\n    ],\n    \"BirthDt\": \"1964-02-05\"\n  },\n  \"JurisdictionCounty\": \"BALTIMORE\",\n  \"JurisdictionState\": \"MD\"\n}"
                },
                "USCRMS_US Criminal Statewide Report_Valid2": {
                  "value": "{\n  \"MsgRqHdr\": {\n    \"ProductID\": \"USCRMS\"\n  },\n  \"PersonInfo\": {\n    \"PersonName\": {\n      \"LastName\": \"Vanns\",\n      \"FirstName\": \"David\"\n    },\n    \"ContactInfo\": [{\n      \"PostAddr\": {\n        \"Addr1\": \"1385 LASALLE AVE\",\n        \"City\": \"BALTIMORE\",\n        \"StateProv\": \"MD\",\n        \"PostalCode\": \"21406\",\n        \"Country\": \"USA\"\n      }\n    }],\n    \"BirthDt\": \"1974-04-04\"\n  },\n  \"JurisdictionCounty\": \"Baltimore\",\n  \"JurisdictionState\": \"MD\"\n}"
                }
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/MBUSCriminalSearchRq_Type"
              },
              "examples": {
                "NO HIT": {
                  "value": "<MBUSCriminalSearchRq>\n  <MsgRqHdr>\n        <ProductID>USCRMD</ProductID>\n  </MsgRqHdr>\n  <PersonInfo>\n    <PersonName>\n      <LastName>TUMERIC</LastName>\n      <FirstName>PEPPER</FirstName>\n      <MiddleName>P</MiddleName>\n    </PersonName>\n    <ContactInfo>\n      <PostAddr>\n        <StreetNum>728</StreetNum>\n        <StreetName>DOWNTON</StreetName>\n        <StreetType>DR</StreetType>\n        <City>SUMMER</City>\n        <StateProv>OH</StateProv>\n        <PostalCode>45999</PostalCode>\n        <Country>USA</Country>\n      </PostAddr>\n    </ContactInfo>\n    <BirthDt>1965-04-22</BirthDt>\n  </PersonInfo>\n</MBUSCriminalSearchRq>"
                },
                "USCRMC_US Criminal County Report_Valid1": {
                  "value": "<MBUSCriminalSearchRq>\n  <MsgRqHdr>\n    <ProductID>USCRMC</ProductID>\n  </MsgRqHdr>\n  <PersonInfo>\n    <PersonName>\n      <LastName>Landers </LastName>\n      <FirstName>Mary</FirstName>\n    </PersonName>\n    <ContactInfo>\n      <PostAddr>\n         <Addr1>407 Thomas Ave</Addr1>\n         <City>EL CAMPO</City>\n         <StateProv>TX</StateProv>\n         <PostalCode>77026</PostalCode>\n         <Country>USA</Country>\n      </PostAddr>\n    </ContactInfo>\n    <BirthDt>1984-04-03</BirthDt>\n  </PersonInfo>\n  <JurisdictionCounty >Harris</JurisdictionCounty>\n  <JurisdictionState>TX</JurisdictionState>\n</MBUSCriminalSearchRq>"
                },
                "USCRMD_US Criminal Database Report_No Criminal Record": {
                  "value": "<MBUSCriminalSearchRq>\n  <MsgRqHdr>\n    <ProductID>USCRMD</ProductID>\n  </MsgRqHdr>\n  <PersonInfo>\n      <PersonName>\n          <LastName>Koeck</LastName>\n          <FirstName>Kimber</FirstName>\n      </PersonName>\n      <TINInfo>\n          <TINType>1</TINType>\n          <TaxId>666940878</TaxId>\n      </TINInfo>\n      <BirthDt>1972-01-22</BirthDt>\n  </PersonInfo>\n</MBUSCriminalSearchRq>"
                },
                "USCRMD_US Criminal Database Report_Valid1": {
                  "value": "<MBUSCriminalSearchRq>\n  <MsgRqHdr>\n    <ProductID>USCRMD</ProductID>\n  </MsgRqHdr>\n  <PersonInfo>\n    <PersonName>\n      <LastName>Robert</LastName>\n      <FirstName>Daniel</FirstName>\n    </PersonName>\n    <ContactInfo>\n      <PostAddr>\n        <StreetNum>1098</StreetNum>\n        <StreetName>Grandville</StreetName>\n        <StreetType>CT</StreetType>\n        <City>SAINT PETERSBURG</City>\n        <StateProv>FL</StateProv>\n        <PostalCode>33701</PostalCode>\n        <Country>USA</Country>\n      </PostAddr>\n    </ContactInfo>\n    <BirthDt>1985-02-04</BirthDt>\n  </PersonInfo>\n</MBUSCriminalSearchRq>"
                },
                "USCRMD_US Criminal Database Report_Valid2": {
                  "value": "<MBUSCriminalSearchRq>\n  <MsgRqHdr>\n      <ProductID>USCRMD</ProductID>\n  </MsgRqHdr>\n  <PersonInfo>\n      <PersonName>\n          <FirstName>Lisa</FirstName>\n          <LastName>Jackson</LastName>\n      </PersonName>\n      <TINInfo>\n          <TINType>1</TINType>\n          <TaxId>666521800</TaxId>\n      </TINInfo>\n      <BirthDt>1986-04-02</BirthDt>\n  </PersonInfo>\n</MBUSCriminalSearchRq>"
                },
                "USCRMS_US Criminal Statewide Report_Valid1": {
                  "value": "<MBUSCriminalSearchRq>\n  <MsgRqHdr>\n    <ProductID>USCRMS</ProductID>\n  </MsgRqHdr>\n  <PersonInfo>\n    <PersonName>\n      <LastName>Vanns</LastName>\n      <FirstName>David</FirstName>\n    </PersonName>\n    <ContactInfo>\n      <PostAddr>\n        <Addr1>1385 LASALLE AVE</Addr1>\n        <City>BALTIMORE</City>\n        <StateProv>MD</StateProv>\n        <PostalCode>21406</PostalCode>\n        <Country>USA</Country>\n      </PostAddr>\n    </ContactInfo>\n    <BirthDt>1974-04-04</BirthDt>\n  </PersonInfo>\n  <JurisdictionCounty >Baltimore</JurisdictionCounty>\n  <JurisdictionState>MD</JurisdictionState>\n</MBUSCriminalSearchRq>"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MBUSCriminalSearchRs_Type"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/MBUSCriminalSearchRs_Type"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": []
          }
        ]
      }
    },
    "/GetArchiveReport": {
      "get": {
        "summary": "Request previously obtained report by using its RqUID (AppId).",
        "description": "Previously pulled reports are available on the system for immediate access for up to 90 days.",
        "operationId": "/GetArchiveReport",
        "parameters": [
          {
            "name": "AppId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MBUSCriminalSearchRs_Type"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/MBUSCriminalSearchRs_Type"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "MBUSCriminalSearchRs_Type": {
        "type": "object",
        "properties": {
          "MsgRsHdr": {
            "$ref": "#/components/schemas/MsgRsHdr_Type"
          },
          "FileDt": {
            "type": "string",
            "format": "date-time"
          },
          "FileDtSpecified": {
            "type": "boolean"
          },
          "Request": {
            "$ref": "#/components/schemas/MBUSCriminalSearchRq_Type"
          },
          "Subject": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MBUSCriminalSearchRs_TypeSubject"
            }
          },
          "PricingAndFees": {
            "$ref": "#/components/schemas/PricingAndFees_Type"
          }
        }
      },
      "MsgRsHdr_Type": {
        "type": "object",
        "properties": {
          "RqUID": {
            "type": "string"
          },
          "Status": {
            "$ref": "#/components/schemas/Status_Type"
          }
        }
      },
      "Status_Type": {
        "type": "object",
        "properties": {
          "StatusCode": {
            "type": "integer",
            "format": "int64"
          },
          "ServerStatusCode": {
            "type": "string"
          },
          "Severity": {
            "$ref": "#/components/schemas/Severity_Type"
          },
          "StatusDesc": {
            "type": "string"
          },
          "AdditionalStatus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdditionalStatus_Type"
            }
          }
        }
      },
      "Severity_Type": {
        "type": "string",
        "description": "",
        "x-enumNames": [
          "Error",
          "Warn",
          "Info"
        ],
        "enum": [
          "Error",
          "Warn",
          "Info"
        ]
      },
      "AdditionalStatus_Type": {
        "type": "object",
        "properties": {
          "StatusCode": {
            "type": "integer",
            "format": "int64"
          },
          "StatusCodeSpecified": {
            "type": "boolean"
          },
          "ServerStatusCode": {
            "type": "string"
          },
          "Severity": {
            "$ref": "#/components/schemas/Severity_Type"
          },
          "StatusDesc": {
            "type": "string"
          }
        }
      },
      "MBUSCriminalSearchRq_Type": {
        "type": "object",
        "properties": {
          "MsgRqHdr": {
            "$ref": "#/components/schemas/MsgRqHdr_Type"
          },
          "PersonInfo": {
            "$ref": "#/components/schemas/PersonInfo_Type"
          },
          "CaseNumber": {
            "type": "string"
          },
          "JurisdictionCounty": {
            "type": "string"
          },
          "JurisdictionState": {
            "type": "string"
          }
        }
      },
      "MsgRqHdr_Type": {
        "type": "object",
        "properties": {
          "MemberId": {
            "type": "string"
          },
          "MemberPwd": {
            "type": "string"
          },
          "RequestType": {
            "$ref": "#/components/schemas/MsgRqHdr_TypeRequestType"
          },
          "RequestTypeSpecified": {
            "type": "boolean"
          },
          "ReasonCode": {
            "type": "string"
          },
          "GLBPurpose": {
            "type": "string"
          },
          "DLPurpose": {
            "type": "string"
          },
          "RefNum": {
            "type": "string"
          },
          "UserName": {
            "type": "string"
          },
          "Timeout": {
            "type": "integer",
            "format": "int64"
          },
          "TimeoutSpecified": {
            "type": "boolean"
          },
          "FrozenFilePIN": {
            "type": "string"
          },
          "OutputFormat": {
            "type": "string"
          },
          "ProductID": {
            "type": "string"
          }
        }
      },
      "MsgRqHdr_TypeRequestType": {
        "type": "string",
        "description": "",
        "x-enumNames": [
          "I",
          "J",
          "N",
          "A",
          "W",
          "S",
          "P",
          "B",
          "R"
        ],
        "enum": [
          "I",
          "J",
          "N",
          "A",
          "W",
          "S",
          "P",
          "B",
          "R"
        ]
      },
      "PersonInfo_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "PersonName": {
            "$ref": "#/components/schemas/PersonName_Type"
          },
          "ContactInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactInfo_Type"
            }
          },
          "TINInfo": {
            "$ref": "#/components/schemas/TINInfo_Type"
          },
          "BirthDt": {
            "type": "string",
            "format": "date-time"
          },
          "BirthDtSpecified": {
            "type": "boolean"
          },
          "BirthState": {
            "type": "string"
          },
          "BirthCountry": {
            "type": "string"
          },
          "DeathDt": {
            "type": "string",
            "format": "date-time"
          },
          "DeathDtSpecified": {
            "type": "boolean"
          },
          "DriversLicense": {
            "$ref": "#/components/schemas/DriversLicense_Type"
          },
          "MothersMaidenName": {
            "type": "string"
          },
          "SpouseInfo": {
            "$ref": "#/components/schemas/SpouseInfo_Type"
          },
          "EmploymentHistory": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmploymentHistory_Type"
            }
          },
          "SchoolInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SchoolInfo_Type"
            }
          },
          "PhysicalCharacteristics": {
            "$ref": "#/components/schemas/PhysicalCharacteristics_Type"
          },
          "Citizenship": {
            "type": "string"
          },
          "LanguageSpoken": {
            "type": "string"
          },
          "Message": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          },
          "Quality": {
            "type": "string"
          },
          "BirthCity": {
            "type": "string"
          },
          "Nationality": {
            "type": "string"
          },
          "Affiliation": {
            "type": "string"
          },
          "ValidationInfo": {
            "$ref": "#/components/schemas/ValidationInfo_Type"
          },
          "RecordID": {
            "type": "string"
          },
          "MilitaryIdInfo": {
            "$ref": "#/components/schemas/MilitaryIdInfo_Type"
          },
          "PassportInfo": {
            "$ref": "#/components/schemas/PassportInfo_Type"
          },
          "ChildrenInfo": {
            "$ref": "#/components/schemas/ChildrenInfo_Type"
          },
          "HometownArea": {
            "type": "string"
          },
          "RelationshipStatus": {
            "type": "string"
          },
          "Orientation": {
            "type": "string"
          },
          "AKAInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AKAInfo_Type"
            }
          },
          "Zodiac": {
            "type": "string"
          },
          "BirthYear": {
            "type": "string"
          },
          "OwnershipPercentage": {
            "type": "number",
            "format": "decimal"
          },
          "OwnershipPercentageSpecified": {
            "type": "boolean"
          }
        }
      },
      "PersonName_Type": {
        "type": "object",
        "properties": {
          "FirstName": {
            "type": "string"
          },
          "FullName": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "MiddleName": {
            "type": "string"
          },
          "TitlePrefix": {
            "type": "string"
          },
          "NameSuffix": {
            "type": "string"
          },
          "Nickname": {
            "type": "string"
          },
          "LegalName": {
            "type": "string"
          },
          "MaidenName": {
            "type": "string"
          },
          "OfficialTitle": {
            "type": "string"
          },
          "Initials": {
            "type": "string"
          },
          "FirstSeenDt": {
            "type": "string",
            "format": "date-time"
          },
          "DtLastSeen": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContactInfo_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "ContactPref": {
            "type": "string"
          },
          "PhoneNum": {
            "$ref": "#/components/schemas/PhoneNum_Type"
          },
          "ContactName": {
            "type": "string"
          },
          "EmailAddr": {
            "type": "string"
          },
          "URL": {
            "type": "string"
          },
          "PostAddr": {
            "$ref": "#/components/schemas/PostAddr_Type"
          },
          "Message": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          },
          "ContactType": {
            "type": "string"
          },
          "ValidationInfo": {
            "$ref": "#/components/schemas/ValidationInfo_Type"
          },
          "InstantMessagingInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstantMessagingInfo_Type"
            }
          }
        }
      },
      "PhoneNum_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "PhoneType": {
            "type": "string"
          },
          "Phone": {
            "type": "string"
          },
          "Published": {
            "$ref": "#/components/schemas/Boolean"
          },
          "PublishedSpecified": {
            "type": "boolean"
          }
        }
      },
      "Boolean": {
        "type": "string",
        "description": "",
        "x-enumNames": [
          "Item0",
          "Item1"
        ],
        "enum": [
          "Item0",
          "Item1"
        ]
      },
      "PostAddr_Type": {
        "type": "object",
        "properties": {
          "Addr1": {
            "type": "string"
          },
          "Addr2": {
            "type": "string"
          },
          "Addr3": {
            "type": "string"
          },
          "Addr4": {
            "type": "string"
          },
          "Apt": {
            "type": "string"
          },
          "PostDirection": {
            "type": "string"
          },
          "PreDirection": {
            "type": "string"
          },
          "StreetName": {
            "type": "string"
          },
          "StreetNum": {
            "type": "string"
          },
          "StreetType": {
            "type": "string"
          },
          "UnitType": {
            "type": "string"
          },
          "City": {
            "type": "string"
          },
          "StateProv": {
            "type": "string"
          },
          "PostalCode": {
            "type": "string"
          },
          "County": {
            "type": "string"
          },
          "Country": {
            "type": "string"
          },
          "AddrType": {
            "type": "string"
          },
          "StartDt": {
            "type": "string",
            "format": "date-time"
          },
          "EndDt": {
            "type": "string",
            "format": "date-time"
          },
          "OwnershipCode": {
            "type": "string"
          },
          "ReportedDt": {
            "type": "string",
            "format": "date-time"
          },
          "AddrSource": {
            "type": "string"
          },
          "GEOCode": {
            "$ref": "#/components/schemas/GEOCode_Type"
          },
          "AddrCreatedDt": {
            "type": "string",
            "format": "date-time"
          },
          "LengthOfResidence": {
            "type": "string"
          },
          "DropPointInd": {
            "type": "string"
          },
          "DwellingUnitSize": {
            "type": "string"
          },
          "Urbanization": {
            "type": "string"
          },
          "Building": {
            "type": "string"
          }
        }
      },
      "GEOCode_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "MSACode4": {
            "type": "string"
          },
          "MSACode5": {
            "type": "string"
          },
          "StateCode": {
            "type": "string"
          },
          "CountyCode": {
            "type": "string"
          },
          "CensusTrackCode": {
            "type": "string"
          },
          "BlockCode": {
            "type": "string"
          },
          "Latitude": {
            "type": "number",
            "format": "decimal"
          },
          "LatitudeSpecified": {
            "type": "boolean"
          },
          "Longitude": {
            "type": "number",
            "format": "decimal"
          },
          "LongitudeSpecified": {
            "type": "boolean"
          },
          "GEOCreatedDt": {
            "type": "string",
            "format": "date-time"
          },
          "GEOCreatedDtSpecified": {
            "type": "boolean"
          },
          "Message": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          },
          "Full_Longitude": {
            "type": "string"
          },
          "Full_Latitude": {
            "type": "string"
          }
        }
      },
      "Message_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "MsgClass": {
            "type": "string"
          },
          "MsgCode": {
            "type": "string"
          },
          "Text": {
            "type": "string"
          }
        }
      },
      "ValidationInfo_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "NameValidation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          },
          "SSNValidation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          },
          "DOBValidation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          },
          "DLValidation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          },
          "DeceasedValidation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          },
          "AddressValidation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          },
          "PhoneValidation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          },
          "OtherValidation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          }
        }
      },
      "InstantMessagingInfo_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "IMNetwork": {
            "type": "string"
          },
          "IMType": {
            "type": "string"
          },
          "UserName": {
            "type": "string"
          }
        }
      },
      "TINInfo_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "TINType": {
            "type": "string"
          },
          "TaxId": {
            "type": "string"
          },
          "CertCode": {
            "type": "string"
          },
          "IssuedDt": {
            "type": "string",
            "format": "date-time"
          },
          "IssuedDtSpecified": {
            "type": "boolean"
          },
          "IssuedState": {
            "type": "string"
          },
          "DateRange": {
            "$ref": "#/components/schemas/DateRange_Type"
          },
          "Country": {
            "type": "string"
          },
          "OtherTaxId": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OtherTaxId_Type"
            }
          },
          "Message": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          }
        }
      },
      "DateRange_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "StartDt": {
            "type": "string",
            "format": "date-time"
          },
          "EndDt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OtherTaxId_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "TINType": {
            "type": "string"
          },
          "AltTaxId": {
            "type": "string"
          },
          "Message": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          }
        }
      },
      "DriversLicense_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "LicenseNum": {
            "type": "string"
          },
          "StateProv": {
            "type": "string"
          },
          "Country": {
            "type": "string"
          },
          "DriverOption": {
            "$ref": "#/components/schemas/CodeDescription_Type"
          },
          "DLClass": {
            "type": "string"
          },
          "DLType": {
            "type": "string"
          },
          "DLStatus": {
            "type": "string"
          },
          "CDLStatus": {
            "type": "string"
          },
          "Endorsements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Option_Type"
            }
          },
          "Restrictions": {
            "$ref": "#/components/schemas/Option_Type"
          },
          "IssuedDt": {
            "type": "string",
            "format": "date-time"
          },
          "IssuedDtSpecified": {
            "type": "boolean"
          },
          "ExpirationDt": {
            "type": "string",
            "format": "date-time"
          },
          "ExpirationDtSpecified": {
            "type": "boolean"
          },
          "Message": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          }
        }
      },
      "CodeDescription_Type": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          }
        }
      },
      "Option_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "OptionName": {
            "type": "string"
          },
          "OptionValue": {
            "$ref": "#/components/schemas/Boolean"
          }
        }
      },
      "SpouseInfo_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "PersonName": {
            "$ref": "#/components/schemas/PersonName_Type"
          },
          "ContactInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactInfo_Type"
            }
          },
          "TINInfo": {
            "$ref": "#/components/schemas/TINInfo_Type"
          },
          "BirthDt": {
            "type": "string",
            "format": "date-time"
          },
          "BirthDtSpecified": {
            "type": "boolean"
          },
          "DeathDt": {
            "type": "string",
            "format": "date-time"
          },
          "DeathDtSpecified": {
            "type": "boolean"
          },
          "DriversLicense": {
            "$ref": "#/components/schemas/DriversLicense_Type"
          },
          "MothersMaidenName": {
            "type": "string"
          },
          "EmploymentHistory": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmploymentHistory_Type"
            }
          }
        }
      },
      "EmploymentHistory_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "EmploymentStatus": {
            "type": "string"
          },
          "OrgInfo": {
            "$ref": "#/components/schemas/OrgInfo_Type"
          },
          "Occupation": {
            "type": "string"
          },
          "Income": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "PmtFreq": {
            "type": "string"
          },
          "JobTitle": {
            "type": "string"
          },
          "StartDt": {
            "type": "string",
            "format": "date-time"
          },
          "StartDtSpecified": {
            "type": "boolean"
          },
          "EndDt": {
            "type": "string",
            "format": "date-time"
          },
          "EndDtSpecified": {
            "type": "boolean"
          },
          "VerifiedDt": {
            "type": "string",
            "format": "date-time"
          },
          "VerifiedDtSpecified": {
            "type": "boolean"
          },
          "VerificationCode": {
            "type": "string"
          },
          "Message": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          },
          "SourceType": {
            "type": "string"
          },
          "DisconnectInd": {
            "type": "string"
          },
          "FirstRptdDt": {
            "type": "string",
            "format": "date-time"
          },
          "FirstRptdDtSpecified": {
            "type": "boolean"
          },
          "LastRptdDt": {
            "type": "string",
            "format": "date-time"
          },
          "LastRptdDtSpecified": {
            "type": "boolean"
          },
          "LengthOfEmployment": {
            "type": "string"
          }
        }
      },
      "OrgInfo_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "IndustId": {
            "$ref": "#/components/schemas/IndustId_Type"
          },
          "Name": {
            "type": "string"
          },
          "LegalName": {
            "type": "string"
          },
          "ContactInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactInfo_Type"
            }
          },
          "DeptDivGrp": {
            "type": "string"
          },
          "TINInfo": {
            "$ref": "#/components/schemas/TINInfo_Type"
          },
          "EstablishDt": {
            "type": "string",
            "format": "date-time"
          },
          "EstablishDtSpecified": {
            "type": "boolean"
          },
          "NumEmployees": {
            "type": "integer",
            "format": "int64"
          },
          "NumEmployeesSpecified": {
            "type": "boolean"
          },
          "OrgId": {
            "$ref": "#/components/schemas/OrgId_Type"
          },
          "CorpType": {
            "$ref": "#/components/schemas/CodeDescription_Type"
          },
          "CorpStatus": {
            "type": "string"
          },
          "CorpStatusDt": {
            "type": "string",
            "format": "date-time"
          },
          "CorpStatusDtSpecified": {
            "type": "boolean"
          },
          "Message": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          },
          "IncorporationDt": {
            "type": "string",
            "format": "date-time"
          },
          "IncorporationDtSpecified": {
            "type": "boolean"
          },
          "CharterInfo": {
            "$ref": "#/components/schemas/CharterInfo_Type"
          },
          "AgentInfo": {
            "$ref": "#/components/schemas/PersonInfo_Type"
          },
          "MergedName": {
            "type": "string"
          },
          "DBAName": {
            "type": "string"
          },
          "PriorName": {
            "type": "string"
          },
          "OrigDtFiled": {
            "type": "string",
            "format": "date-time"
          },
          "OrigDtFiledSpecified": {
            "type": "boolean"
          },
          "RecentFilingDt": {
            "type": "string",
            "format": "date-time"
          },
          "RecentFilingDtSpecified": {
            "type": "boolean"
          },
          "BusType": {
            "type": "string"
          },
          "ActiveStatusInd": {
            "$ref": "#/components/schemas/Boolean"
          },
          "ActiveStatusIndSpecified": {
            "type": "boolean"
          },
          "BusStatusDesc": {
            "type": "string"
          },
          "ForProfitInd": {
            "$ref": "#/components/schemas/Boolean"
          },
          "ForProfitIndSpecified": {
            "type": "boolean"
          },
          "OwnerRegistrantInfo": {
            "$ref": "#/components/schemas/PersonInfo_Type"
          },
          "OrgType": {
            "type": "string"
          },
          "RecordID": {
            "type": "string"
          },
          "PRInd": {
            "$ref": "#/components/schemas/Boolean"
          },
          "PRIndSpecified": {
            "type": "boolean"
          },
          "FileNumber": {
            "type": "string"
          },
          "BIN": {
            "type": "string"
          },
          "IncorporationState": {
            "type": "string"
          },
          "SignificantPRInd": {
            "$ref": "#/components/schemas/Boolean"
          },
          "SignificantPRIndSpecified": {
            "type": "boolean"
          },
          "BusLicense": {
            "type": "string"
          },
          "RegistrationDetails": {
            "$ref": "#/components/schemas/RegistrationDetails_Type"
          }
        }
      },
      "IndustId_Type": {
        "type": "object",
        "properties": {
          "Org": {
            "type": "string"
          },
          "IndustNum": {
            "type": "string"
          },
          "IndustType": {
            "$ref": "#/components/schemas/CodeDescription_Type"
          }
        }
      },
      "OrgId_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "KOB": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "SubscriberNum": {
            "type": "string"
          },
          "BurMarket": {
            "type": "string"
          },
          "BurSubMarket": {
            "type": "string"
          },
          "CorpID": {
            "type": "string"
          }
        }
      },
      "CharterInfo_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "CharterNum": {
            "type": "string"
          },
          "CharterTermYears": {
            "type": "integer",
            "format": "int64"
          },
          "CharterTermYearsSpecified": {
            "type": "boolean"
          },
          "CharterTermDt": {
            "type": "string",
            "format": "date-time"
          },
          "CharterTermDtSpecified": {
            "type": "boolean"
          }
        }
      },
      "RegistrationDetails_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "RegType": {
            "type": "string"
          },
          "RegDt": {
            "type": "string",
            "format": "date-time"
          },
          "RegDtSpecified": {
            "type": "boolean"
          },
          "DtType": {
            "type": "string"
          },
          "PostAddr": {
            "$ref": "#/components/schemas/PostAddr_Type"
          },
          "RegStatusCode": {
            "$ref": "#/components/schemas/CodeDescription_Type"
          },
          "RegistrationNum": {
            "type": "string"
          },
          "Message": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          }
        }
      },
      "CurrencyAmount": {
        "type": "object",
        "properties": {
          "Amt": {
            "type": "number",
            "format": "decimal"
          },
          "CurCode": {
            "type": "string"
          }
        }
      },
      "SchoolInfo_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "OrgInfo": {
            "$ref": "#/components/schemas/OrgInfo_Type"
          },
          "StartDt": {
            "type": "string",
            "format": "date-time"
          },
          "StartDtSpecified": {
            "type": "boolean"
          },
          "EndDt": {
            "type": "string",
            "format": "date-time"
          },
          "EndDtSpecified": {
            "type": "boolean"
          },
          "GraduationDt": {
            "type": "string",
            "format": "date-time"
          },
          "GraduationDtSpecified": {
            "type": "boolean"
          },
          "Diploma": {
            "type": "string"
          },
          "DegreeMajor": {
            "type": "string"
          },
          "DegreeMinor": {
            "type": "string"
          },
          "Message": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          }
        }
      },
      "PhysicalCharacteristics_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "Age": {
            "type": "string"
          },
          "Race": {
            "type": "string"
          },
          "Ethnicity": {
            "type": "string"
          },
          "Gender": {
            "type": "string"
          },
          "HairColor": {
            "type": "string"
          },
          "EyeColor": {
            "type": "string"
          },
          "Height": {
            "type": "string"
          },
          "Weight": {
            "type": "string"
          },
          "SkinTone": {
            "type": "string"
          },
          "BuildType": {
            "type": "string"
          },
          "IdentifyingMarks": {
            "type": "string"
          },
          "ShoeSize": {
            "type": "string"
          },
          "CorrectiveLenses": {
            "$ref": "#/components/schemas/Boolean"
          },
          "CorrectiveLensesSpecified": {
            "type": "boolean"
          }
        }
      },
      "MilitaryIdInfo_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "MilitaryIdNum": {
            "type": "string"
          },
          "IssuedDt": {
            "type": "string",
            "format": "date-time"
          },
          "IssuedDtSpecified": {
            "type": "boolean"
          },
          "ExpirationDt": {
            "type": "string",
            "format": "date-time"
          },
          "ExpirationDtSpecified": {
            "type": "boolean"
          },
          "MilitaryBranch": {
            "type": "string"
          }
        }
      },
      "PassportInfo_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "Country": {
            "type": "string"
          },
          "PassportNum": {
            "type": "string"
          },
          "IssuedDt": {
            "type": "string",
            "format": "date-time"
          },
          "IssuedDtSpecified": {
            "type": "boolean"
          },
          "ExpirationDt": {
            "type": "string",
            "format": "date-time"
          },
          "ExpirationDtSpecified": {
            "type": "boolean"
          }
        }
      },
      "ChildrenInfo_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "NumOfChildren": {
            "type": "integer",
            "format": "int64"
          },
          "NumOfChildrenSpecified": {
            "type": "boolean"
          },
          "PersonInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonInfo_Type"
            }
          },
          "Message": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          }
        }
      },
      "AKAInfo_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "PersonName": {
            "$ref": "#/components/schemas/PersonName_Type"
          },
          "RecordID": {
            "type": "string"
          },
          "Message": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          }
        }
      },
      "MBUSCriminalSearchRs_TypeSubject": {
        "type": "object",
        "properties": {
          "DataSource": {
            "type": "string"
          },
          "RecordID": {
            "type": "string"
          },
          "RecordType": {
            "type": "string"
          },
          "RecordSubType": {
            "type": "string"
          },
          "MatchCode": {
            "$ref": "#/components/schemas/CodeDescription_Type"
          },
          "PersonInfo": {
            "$ref": "#/components/schemas/PersonInfo_Type"
          },
          "CriminalCase": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CriminalCase_Type"
            }
          },
          "OffenderRef": {
            "$ref": "#/components/schemas/OffenderRef_Type"
          },
          "Alias": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonInfo_Type"
            }
          },
          "ArrestInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ArrestInfo_Type"
            }
          },
          "Comments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Message": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          },
          "Attachment": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment_Type"
            }
          }
        }
      },
      "CriminalCase_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "CaseId": {
            "type": "string"
          },
          "ArrestingAgency": {
            "$ref": "#/components/schemas/OrgInfo_Type"
          },
          "CourtName": {
            "type": "string"
          },
          "CourtNum": {
            "type": "string"
          },
          "CourtJurisdiction": {
            "type": "string"
          },
          "FileDt": {
            "type": "string",
            "format": "date-time"
          },
          "FileDtSpecified": {
            "type": "boolean"
          },
          "StartDt": {
            "type": "string",
            "format": "date-time"
          },
          "StartDtSpecified": {
            "type": "boolean"
          },
          "EndDt": {
            "type": "string",
            "format": "date-time"
          },
          "EndDtSpecified": {
            "type": "boolean"
          },
          "PersonInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonInfo_Type"
            }
          },
          "Charge": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Charge_Type"
            }
          },
          "Message": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          },
          "PrisonSentenceInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PrisonSentenceInfo_Type"
            }
          },
          "ParoleSentenceInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParoleSentenceInfo_Type"
            }
          },
          "AACaseId": {
            "type": "string"
          },
          "Probation": {
            "$ref": "#/components/schemas/Release_Type"
          },
          "FineAmt": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "CourtCostsAmt": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "FeeAmt": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "RestitutionAmt": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "OtherAmt": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "SuspendedDLLength": {
            "$ref": "#/components/schemas/SentenceLength_Type"
          },
          "CourtInfo": {
            "$ref": "#/components/schemas/CourtInfo_Type"
          },
          "Event": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event_Type"
            }
          },
          "CaseType": {
            "type": "string"
          },
          "CaseTypeClassification": {
            "type": "string"
          },
          "CaseTypeClassificationCode": {
            "type": "string"
          },
          "NumOfCounts": {
            "type": "integer",
            "format": "int64"
          },
          "NumOfCountsSpecified": {
            "type": "boolean"
          },
          "Plea": {
            "type": "string"
          },
          "Suspended": {
            "type": "string"
          },
          "CaseStatus": {
            "type": "string"
          }
        }
      },
      "Charge_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "ChargeId": {
            "type": "string"
          },
          "ChargeDesc": {
            "type": "string"
          },
          "ChargeType": {
            "type": "string"
          },
          "ChargeClass": {
            "type": "string"
          },
          "ChargeDt": {
            "type": "string",
            "format": "date-time"
          },
          "ChargeDtSpecified": {
            "type": "boolean"
          },
          "ArrestDt": {
            "type": "string",
            "format": "date-time"
          },
          "ArrestDtSpecified": {
            "type": "boolean"
          },
          "OffenseDt": {
            "type": "string",
            "format": "date-time"
          },
          "OffenseDtSpecified": {
            "type": "boolean"
          },
          "Plea": {
            "type": "string"
          },
          "Sentence": {
            "type": "string"
          },
          "SentenceDt": {
            "type": "string",
            "format": "date-time"
          },
          "SentenceDtSpecified": {
            "type": "boolean"
          },
          "DispositionDt": {
            "type": "string",
            "format": "date-time"
          },
          "DispositionDtSpecified": {
            "type": "boolean"
          },
          "DispositionType": {
            "type": "string"
          },
          "ProbationStatus": {
            "type": "string"
          },
          "DefendantName": {
            "type": "string"
          },
          "Plaintiff": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "OriginationState": {
            "type": "string"
          },
          "OriginationCounty": {
            "type": "string"
          },
          "OffenderStatus": {
            "type": "string"
          },
          "OffenderCategory": {
            "type": "string"
          },
          "Judgment": {
            "type": "string"
          },
          "RiskLevel": {
            "$ref": "#/components/schemas/CodeDescription_Type"
          },
          "Message": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          },
          "AdjudicationWithheld": {
            "type": "string"
          },
          "CaseId": {
            "type": "string"
          },
          "Count": {
            "type": "string"
          },
          "County": {
            "type": "string"
          },
          "OffenseDesc": {
            "type": "string"
          },
          "MaxTerm": {
            "type": "string"
          },
          "MinTerm": {
            "type": "string"
          },
          "NumOfCounts": {
            "type": "integer",
            "format": "int64"
          },
          "NumOfCountsSpecified": {
            "type": "boolean"
          },
          "AppealDt": {
            "type": "string",
            "format": "date-time"
          },
          "AppealDtSpecified": {
            "type": "boolean"
          },
          "Statute": {
            "type": "string"
          },
          "ArrestType": {
            "type": "string"
          },
          "FinalDesposition": {
            "type": "string"
          },
          "ChargeDesc2": {
            "type": "string"
          },
          "OriginationName": {
            "type": "string"
          },
          "CaseType": {
            "type": "string"
          },
          "DocketNum": {
            "type": "string"
          },
          "DocketDt": {
            "type": "string",
            "format": "date-time"
          },
          "DocketDtSpecified": {
            "type": "boolean"
          },
          "DocketName": {
            "type": "string"
          },
          "NextCourtDt": {
            "type": "string",
            "format": "date-time"
          },
          "NextCourtDtSpecified": {
            "type": "boolean"
          },
          "TransferToCaseNum": {
            "type": "string"
          },
          "TransferToJurisdiction": {
            "type": "string"
          },
          "ActiveWarant": {
            "type": "string"
          },
          "AlternativeAdjudication": {
            "type": "string"
          },
          "Comments": {
            "type": "string"
          },
          "CourtCostsAmt": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "Fine": {
            "type": "string"
          },
          "Jail": {
            "type": "string"
          },
          "RestitutionAmt": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "Suspended": {
            "type": "string"
          },
          "SuspendedFine": {
            "type": "string"
          },
          "FinalDisposition": {
            "type": "string"
          },
          "ConvictionDt": {
            "type": "string",
            "format": "date-time"
          },
          "ConvictionDtSpecified": {
            "type": "boolean"
          }
        }
      },
      "PrisonSentenceInfo_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "AdmittedDt": {
            "type": "string",
            "format": "date-time"
          },
          "AdmittedDtSpecified": {
            "type": "boolean"
          },
          "SentenceStatus": {
            "type": "string"
          },
          "CustodyType": {
            "type": "string"
          },
          "CustodyTypeChangeDt": {
            "type": "string",
            "format": "date-time"
          },
          "CustodyTypeChangeDtSpecified": {
            "type": "boolean"
          },
          "GainTimeGranted": {
            "type": "string"
          },
          "LastGainTimeDt": {
            "type": "string",
            "format": "date-time"
          },
          "LastGainTimeDtSpecified": {
            "type": "boolean"
          },
          "Location": {
            "$ref": "#/components/schemas/PostAddr_Type"
          },
          "ScheduledReleaseDt": {
            "type": "string",
            "format": "date-time"
          },
          "ScheduledReleaseDtSpecified": {
            "type": "boolean"
          },
          "Sentence": {
            "type": "string"
          },
          "SentenceLength": {
            "$ref": "#/components/schemas/SentenceLength_Type"
          }
        }
      },
      "SentenceLength_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "Years": {
            "type": "integer",
            "format": "int64"
          },
          "YearsSpecified": {
            "type": "boolean"
          },
          "Months": {
            "type": "integer",
            "format": "int64"
          },
          "MonthsSpecified": {
            "type": "boolean"
          },
          "Days": {
            "type": "integer",
            "format": "int64"
          },
          "DaysSpecified": {
            "type": "boolean"
          }
        }
      },
      "ParoleSentenceInfo_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "ActualEndDt": {
            "type": "string",
            "format": "date-time"
          },
          "ActualEndDtSpecified": {
            "type": "boolean"
          },
          "County": {
            "type": "string"
          },
          "ProbationStatus": {
            "type": "string"
          },
          "SentenceLength": {
            "$ref": "#/components/schemas/SentenceLength_Type"
          },
          "ScheduledEndDt": {
            "type": "string",
            "format": "date-time"
          },
          "ScheduledEndDtSpecified": {
            "type": "boolean"
          },
          "StartDt": {
            "type": "string",
            "format": "date-time"
          },
          "StartDtSpecified": {
            "type": "boolean"
          },
          "Message": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          }
        }
      },
      "Release_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "StartDt": {
            "type": "string",
            "format": "date-time"
          },
          "StartDtSpecified": {
            "type": "boolean"
          },
          "Agency": {
            "$ref": "#/components/schemas/OrgInfo_Type"
          },
          "SentenceLength": {
            "$ref": "#/components/schemas/SentenceLength_Type"
          },
          "ScheduledEndDt": {
            "type": "string",
            "format": "date-time"
          },
          "ScheduledEndDtSpecified": {
            "type": "boolean"
          },
          "ActualEndDt": {
            "type": "string",
            "format": "date-time"
          },
          "ActualEndDtSpecified": {
            "type": "boolean"
          },
          "Message": {
            "$ref": "#/components/schemas/Message_Type"
          }
        }
      },
      "CourtInfo_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "CourtType": {
            "type": "string"
          },
          "CourtCity": {
            "type": "string"
          },
          "CourtState": {
            "type": "string"
          },
          "BookPage": {
            "type": "string"
          },
          "ExemptAmt": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "Message": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message_Type"
            }
          },
          "CourtJurisdiction": {
            "type": "string"
          },
          "CourtNum": {
            "type": "string"
          },
          "CourtName": {
            "type": "string"
          },
          "CourtCaseId": {
            "type": "string"
          },
          "CourtCostsAmt": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "DispositionDt": {
            "type": "string",
            "format": "date-time"
          },
          "DispositionDtSpecified": {
            "type": "boolean"
          },
          "DispositionType": {
            "type": "string"
          },
          "Fine": {
            "type": "string"
          },
          "RiskLevel": {
            "$ref": "#/components/schemas/CodeDescription_Type"
          },
          "Plea": {
            "type": "string"
          },
          "Statute": {
            "type": "string"
          },
          "SuspendedFine": {
            "type": "string"
          },
          "Jail": {
            "type": "string"
          },
          "Probation": {
            "$ref": "#/components/schemas/Release_Type"
          },
          "Suspended": {
            "type": "string"
          },
          "CourtAddr1": {
            "type": "string"
          },
          "CourtAddr2": {
            "type": "string"
          },
          "CourtZip": {
            "type": "string"
          },
          "CourtCounty": {
            "type": "string"
          }
        }
      },
      "Event_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "EventDt": {
            "type": "string",
            "format": "date-time"
          },
          "EventDtSpecified": {
            "type": "boolean"
          },
          "EventType": {
            "type": "string"
          },
          "FilingType": {
            "type": "string"
          },
          "DocumentNumber": {
            "type": "string"
          },
          "Message": {
            "$ref": "#/components/schemas/Message_Type"
          },
          "PostAddr": {
            "$ref": "#/components/schemas/PostAddr_Type"
          }
        }
      },
      "OffenderRef_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "OffenderID": {
            "type": "string"
          },
          "DOCNum": {
            "type": "string"
          },
          "SORNum": {
            "type": "string"
          },
          "StateIDNum": {
            "type": "string"
          },
          "FBINum": {
            "type": "string"
          },
          "NCICNum": {
            "type": "string"
          },
          "FingerprintOnFile": {
            "type": "string"
          }
        }
      },
      "ArrestInfo_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "ConfidenceLevel": {
            "type": "string"
          },
          "MatchCode": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodeDescription_Type"
            }
          },
          "PersonInfo": {
            "$ref": "#/components/schemas/PersonInfo_Type"
          },
          "ArrestDt": {
            "type": "string",
            "format": "date-time"
          },
          "ArrestDtSpecified": {
            "type": "boolean"
          },
          "ArrestingAgency": {
            "$ref": "#/components/schemas/OrgInfo_Type"
          },
          "ArrestingAgencyORI": {
            "type": "string"
          },
          "BookingDt": {
            "type": "string",
            "format": "date-time"
          },
          "BookingDtSpecified": {
            "type": "boolean"
          },
          "BookingNum": {
            "type": "string"
          },
          "BookingSystemId": {
            "type": "string"
          },
          "BookingCharge": {
            "$ref": "#/components/schemas/CodeDescription_Type"
          },
          "BookingNCICOffense": {
            "$ref": "#/components/schemas/CodeDescription_Type"
          },
          "BookingChargeBehavior": {
            "type": "string"
          },
          "BookingChargeClean": {
            "$ref": "#/components/schemas/CodeDescription_Type"
          },
          "BookingChargeMappedDesc": {
            "type": "string"
          },
          "DaysIncarcerated": {
            "type": "string"
          },
          "HoldingFacility": {
            "$ref": "#/components/schemas/OrgInfo_Type"
          },
          "HoldingFacilityORI": {
            "type": "string"
          },
          "BookingInmateNum": {
            "type": "string"
          },
          "OffenderID": {
            "type": "string"
          },
          "OffenseDt": {
            "type": "string",
            "format": "date-time"
          },
          "OffenseDtSpecified": {
            "type": "boolean"
          },
          "ReleasedInd": {
            "$ref": "#/components/schemas/Boolean"
          },
          "ReleasedIndSpecified": {
            "type": "boolean"
          },
          "ReleaseDt": {
            "type": "string",
            "format": "date-time"
          },
          "ReleaseDtSpecified": {
            "type": "boolean"
          },
          "ReleaseReason": {
            "type": "string"
          },
          "ScheduledReleaseDt": {
            "type": "string",
            "format": "date-time"
          },
          "ScheduledReleaseDtSpecified": {
            "type": "boolean"
          },
          "SentenceExpDt": {
            "type": "string",
            "format": "date-time"
          },
          "SentenceExpDtSpecified": {
            "type": "boolean"
          },
          "SexOffenderInd": {
            "$ref": "#/components/schemas/Boolean"
          },
          "SexOffenderIndSpecified": {
            "type": "boolean"
          },
          "BookingAgency": {
            "$ref": "#/components/schemas/OrgInfo_Type"
          },
          "BookingTransferred": {
            "type": "string"
          },
          "BookingWeekendInd": {
            "$ref": "#/components/schemas/Boolean"
          },
          "BookingWeekendIndSpecified": {
            "type": "boolean"
          }
        }
      },
      "Attachment_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "ContentType": {
            "type": "string"
          },
          "Content": {
            "type": "string",
            "format": "byte"
          },
          "ContentURL": {
            "type": "string"
          },
          "ContentSource": {
            "type": "string"
          },
          "ImageCaption": {
            "type": "string"
          }
        }
      },
      "PricingAndFees_Type": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string"
          },
          "EffDt": {
            "type": "string",
            "format": "date-time"
          },
          "EffDtSpecified": {
            "type": "boolean"
          },
          "SearchPrice": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "CourtFee": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "JurisdictionFee": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "DataFee": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "AdditionalFee": {
            "$ref": "#/components/schemas/CurrencyAmount"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://apitest.microbilt.com/OAuth/Token"
          }
        }
      }
    }
  },
  "x-name": "CriminalSearchV2"
}