{
  "openapi": "3.0.1",
  "info": {
    "title": "Bitrise API",
    "description": "Official REST API for Bitrise.io",
    "contact": {
      "name": "Bitrise Support",
      "url": "https://www.bitrise.io/contact",
      "email": "letsconnect@bitrise.io"
    },
    "license": {
      "name": "MIT"
    },
    "version": "0.1",
    "x-jentic-source-url": "https://api-docs.bitrise.io/docs/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.bitrise.io/v0.1"
    }
  ],
  "paths": {
    "/addons": {
      "get": {
        "tags": [
          "addons"
        ],
        "summary": "Get list of available Bitrise addons",
        "description": "List all the available Bitrise addons",
        "operationId": "addons-list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.AddonsListResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        }
      }
    },
    "/addons/{addon-id}": {
      "get": {
        "tags": [
          "addons"
        ],
        "summary": "Get a specific Bitrise addon",
        "description": "Show details of a specific Bitrise addon",
        "operationId": "addons-show",
        "parameters": [
          {
            "name": "addon-id",
            "in": "path",
            "description": "Addon ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.AddonsShowResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        }
      }
    },
    "/apps": {
      "get": {
        "tags": [
          "application"
        ],
        "summary": "Get list of the apps",
        "description": "List all the apps available for the authenticated account, including those that are owned by other users or Organizations.",
        "operationId": "app-list",
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "description": "Order of the applications: sort them based on when they were created or the time of their last build",
            "schema": {
              "type": "string",
              "enum": [
                "last_build_at",
                "created_at"
              ]
            }
          },
          {
            "name": "next",
            "in": "query",
            "description": "Slug of the first app in the response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of elements per page (default: 50)",
            "schema": {
              "maximum": 50,
              "type": "integer"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "The title of the app",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_type",
            "in": "query",
            "description": "The project type of the app (eg. 'ios', 'android')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.AppListResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          }
        ]
      }
    },
    "/apps/register": {
      "post": {
        "tags": [
          "app-setup"
        ],
        "summary": "Add a new app",
        "description": "Add a new app to Bitrise. This is the first step of the app registration process. To successfully set it up, you need to provide the required app parameters: the repository URL and the isPublic field. Read more about the app creation process in our [detailed guide](https://devcenter.bitrise.io/api/adding-and-managing-apps/#adding-a-new-app).",
        "operationId": "app-create",
        "requestBody": {
          "description": "App parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v0.AppUploadParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.AppRespModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.ProxyErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.ProxyErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.ProxyErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.ProxyErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          }
        ],
        "x-codegen-request-body-name": "app"
      }
    },
    "/apps/{app-slug}": {
      "get": {
        "tags": [
          "application"
        ],
        "summary": "Get a specific app",
        "description": "Get the details of a specific app by providing the app slug. You can get the app slug by calling the [/apps](https://api-docs.bitrise.io/#/application/app-list) endpoint or by opening the app on bitrise.io and copying the slug from the URL.",
        "operationId": "app-show",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.AppShowResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "AddonAuthToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "application"
        ],
        "summary": "Deletes an app",
        "description": "Deletes an app by slug. Use with care, make sure you really want to delete the app. This action cannot be undone.",
        "operationId": "app-delete",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.AppDeleteRespModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "application"
        ],
        "summary": "Updates an app",
        "description": "Updates an app by slug. Only updates the fields specified in the body.",
        "operationId": "app-update",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "App update params. All fields are optional, omit the fields you don't wish to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v0.AppUpdateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.AppUpdateRespModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          }
        ],
        "x-codegen-request-body-name": "app"
      }
    },
    "/apps/{app-slug}/addons": {
      "get": {
        "tags": [
          "addons"
        ],
        "summary": "Get list of the addons for apps",
        "description": "List all the provisioned addons for the authorized apps",
        "operationId": "addon-list-by-app",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.AppAddOnsListResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "AddonAuthToken": []
          }
        ]
      }
    },
    "/apps/{app-slug}/android-keystore-files": {
      "get": {
        "tags": [
          "android-keystore-file"
        ],
        "summary": "Get a list of the android keystore files",
        "description": "List all the android keystore files that have been uploaded to a specific app.",
        "operationId": "android-keystore-file-list",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next",
            "in": "query",
            "description": "Slug of the first android keystore file in the response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of build certificates per page is 50.",
            "schema": {
              "maximum": 50,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.ProjectFileStorageListResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "AddonAuthToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "android-keystore-file"
        ],
        "summary": "Create an Android keystore file",
        "description": "Add a new Android keystore file to an app. `keystore_file_name` is required if there is already an existing keystore file for the app. It will determine the environment variable key to be used to refer to the keystore file in builds. E.g. `BITRISE_ANDROID_KEYSTORE_<keystore_file_name>_URL`. The `keystore_file_name` can only contain letters, numbers, and underscores.",
        "operationId": "android-keystore-file-create",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Android keystore file parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v0.AndroidKeystoreFileUploadParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.ProjectFileStorageUploadResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          }
        ],
        "x-codegen-request-body-name": "android-keystore-file"
      }
    },
    "/apps/{app-slug}/android-keystore-files/{android-keystore-file-slug}": {
      "get": {
        "tags": [
          "android-keystore-file"
        ],
        "summary": "Get a specific Android Keystore file",
        "description": "Retrieve data of a specific Android Keystore file to check its attributes.",
        "operationId": "android-keystore-file-show",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "android-keystore-file-slug",
            "in": "path",
            "description": "Android Keystore file slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.ProjectFileStorageDownloadResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "android-keystore-file"
        ],
        "summary": "Delete an android keystore file",
        "description": "Delete an app's android keystore file. You can fetch an app's android keystore file slug if you first list all the uploaded files with the [GET /apps/{app-slug}/android-keystore-files](https://api-docs.bitrise.io/#/android-keystore-file/android-keystore-file-list) endpoint. Read more in our [Deleting a file](https://devcenter.bitrise.io/api/managing-android-keystore-files.html) guide.",
        "operationId": "android-keystore-file-delete",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "android-keystore-file-slug",
            "in": "path",
            "description": "Android keystore file slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.ProjectFileStorageResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          }
        ]
      }
    },
    "/apps/{app-slug}/android-keystore-files/{android-keystore-file-slug}/uploaded": {
      "post": {
        "tags": [
          "android-keystore-file"
        ],
        "summary": "Confirm an android keystore file upload",
        "description": "This is the last step of uploading an android keystore file to Bitrise. Confirm the android keystore file upload and view the file on the Code Signing tab of a specific app. Read more in our [Confirming the upload](https://devcenter.bitrise.io/api/managing-files-in-generic-file-storage/#confirming-the-file-upload) guide.",
        "operationId": "android-keystore-file-confirm",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "android-keystore-file-slug",
            "in": "path",
            "description": "Android keystore file slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.ProjectFileStorageResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          }
        ]
      }
    },
    "/apps/{app-slug}/archived-builds": {
      "get": {
        "tags": [
          "builds"
        ],
        "summary": "List 1000 archived builds of an app",
        "description": "List the first 1000 archived builds of a specified Bitrise app. Set parameters to filter builds:",
        "operationId": "archived-builds-list",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Listed builds should only be the ones which ran after the given date (Unix Timestamp)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Listed builds should only be the ones which ran before the given date (Unix Timestamp)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the number of listed builds (max: 1000, default: 1000)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.ArchivedBuildListResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "AddonAuthToken": []
          }
        ]
      }
    },
    "/apps/{app-slug}/bitrise.yml": {
      "get": {
        "tags": [
          "application"
        ],
        "summary": "Get bitrise.yml of a specific app",
        "description": "Get the full `bitrise.yml` configuration of an application, by providing the app slug. It returns the current `bitrise.yml` that is stored on bitrise.io in full, including the trigger map, the different workflows and the Steps.",
        "operationId": "app-config-datastore-show",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{the bitrise.yml in yml format}",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "AddonAuthToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "app-setup"
        ],
        "summary": "Upload a new bitrise.yml for your application.",
        "description": "Upload a new bitrise.yml for your application.",
        "operationId": "app-config-create",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "App config parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v0.AppConfigRequestParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.AppConfigRespModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.ProxyErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          }
        ],
        "x-codegen-request-body-name": "app-config"
      }
    },
    "/apps/{app-slug}/bitrise.yml/config": {
      "get": {
        "tags": [
          "app-setup"
        ],
        "summary": "Getting the location of the application's bitrise.yaml",
        "description": "Getting the location of the application's bitrise.yaml. Requires administrator level privileges to the app.",
        "operationId": "app-setup-bitrise-yml-config-get",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.BitriseYMLConfigGetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          }
        ]
      },
      "put": {
        "tags": [
          "app-setup"
        ],
        "summary": "Changing the location of the application's bitrise.yaml",
        "description": "Changing the location of the application's bitrise.yaml. Requires administrator level privileges to the app.",
        "operationId": "app-setup-bitrise-yml-config-update",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Bitrise YML Config Update Params",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v0.BitriseYMLConfigUpdateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          }
        ],
        "x-codegen-request-body-name": "app"
      }
    },
    "/apps/{app-slug}/branches": {
      "get": {
        "tags": [
          "application"
        ],
        "summary": "List the branches with existing builds of an app's repository",
        "description": "Lists only those branches of a specified Bitrise app that have existing builds.",
        "operationId": "branch-list",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.BranchListResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "AddonAuthToken": []
          }
        ]
      }
    },
    "/apps/{app-slug}/build-certificates": {
      "get": {
        "tags": [
          "build-certificate"
        ],
        "summary": "Get a list of the build certificates",
        "description": "List all the build certificates that have been uploaded to a specific app. Read more in our [Listing the uploaded iOS code signing files of an app](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#listing-the-uploaded-ios-code-signing-files-of-an-app) guide.",
        "operationId": "build-certificate-list",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next",
            "in": "query",
            "description": "Slug of the first build certificate in the response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of build certificates per page is 50.",
            "schema": {
              "maximum": 50,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.BuildCertificateListResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "AddonAuthToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "build-certificate"
        ],
        "summary": "Create a build certificate",
        "description": "Create a temporary pre-signed upload URL for the build certificate and upload the file to AWS with a simple `curl` request. To complete the uploading process and view your files on the Code Signing tab of your app, continue with the [POST /apps/{app-slug}/build-certificates/{build-certificate-slug}/uploaded](https://api-docs.bitrise.io/#/build-certificate/build-certificate-confirm) endpoint. Read more in our [Creating and uploading an iOS code signing file](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#creating--uploading-an-ios-code-signing-file) guide.",
        "operationId": "build-certificate-create",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Build certificate parameters such as file name and its file size",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v0.BuildCertificateUploadParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.BuildCertificateUploadResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          }
        ],
        "x-codegen-request-body-name": "build-certificate"
      }
    },
    "/apps/{app-slug}/build-certificates/{build-certificate-slug}": {
      "get": {
        "tags": [
          "build-certificate"
        ],
        "summary": "Get a specific build certificate",
        "description": "Retrieve data of a specific build certificate. You can fetch the build certificate slug for this endpoint if you first call the [GET /apps/{app-slug}/build-certificates](https://api-docs.bitrise.io/#/build-certificate/build-certificate-list) endpoint to list all available build certificates of an app. Read more in our [Getting a specific iOS code signing file's data](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#getting-a-specific-ios-code-signing-files-data) guide.",
        "operationId": "build-certificate-show",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "build-certificate-slug",
            "in": "path",
            "description": "Build certificate slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.BuildCertificateDownloadResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "build-certificate"
        ],
        "summary": "Delete a build certificate",
        "description": "Delete an app's build certificate. You can fetch the build certificate slug for this endpoint if you first call the [GET /apps/{app-slug}/build-certificates](https://api-docs.bitrise.io/#/build-certificate/build-certificate-list) endpoint to list all available build certificates of an app. Read more in our [Deleting an iOS code signing file](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#deleting-an-ios-code-signing-file) guide.",
        "operationId": "build-certificate-delete",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "build-certificate-slug",
            "in": "path",
            "description": "Build certificate slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.BuildCertificateResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "build-certificate"
        ],
        "summary": "Update a build certificate",
        "description": "Update an uploaded build certificate's attributes. You can fetch the build certificate slug for this endpoint if you first call the [GET /apps/{app-slug}/build-certificates](https://api-docs.bitrise.io/#/build-certificate/build-certificate-list) endpoint. Read more in our [Updating an uploaded iOS code signing file](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#confirming-the-ios-code-signing-file-upload) guide.",
        "operationId": "build-certificate-update",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "build-certificate-slug",
            "in": "path",
            "description": "Build certificate slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Build certificate parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v0.BuildCertificateUpdateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.BuildCertificateResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          }
        ],
        "x-codegen-request-body-name": "build-certificate"
      }
    },
    "/apps/{app-slug}/build-certificates/{build-certificate-slug}/uploaded": {
      "post": {
        "tags": [
          "build-certificate"
        ],
        "summary": "Confirm a build certificate upload",
        "description": "This is the last step of uploading a build certificate to Bitrise. Confirm the build certificate upload and view the file on the Code Signing tab of a specific app. Read more in our [Confirming the iOS code signing file upload](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#confirming-the-ios-code-signing-file-upload) guide.",
        "operationId": "build-certificate-confirm",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "build-certificate-slug",
            "in": "path",
            "description": "Build certificate slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.BuildCertificateResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          }
        ]
      }
    },
    "/apps/{app-slug}/build-requests": {
      "get": {
        "tags": [
          "build-request"
        ],
        "summary": "List the open build requests for an app",
        "description": "List the existing open build requests of a specified Bitrise app",
        "operationId": "build-request-list",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.BuildRequestListResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "AddonAuthToken": []
          }
        ]
      }
    },
    "/apps/{app-slug}/build-requests/{build-request-slug}": {
      "patch": {
        "tags": [
          "build-request"
        ],
        "summary": "Update a build request",
        "description": "Update a specific build request of a specific app",
        "operationId": "build-request-update",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "build-request-slug",
            "in": "path",
            "description": "Build request slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Build request parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v0.BuildRequestUpdateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.BuildRequestUpdateResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          }
        ],
        "x-codegen-request-body-name": "build-request"
      }
    },
    "/apps/{app-slug}/build-workflows": {
      "get": {
        "tags": [
          "builds"
        ],
        "summary": "List the workflows of an app",
        "description": "List the workflows that were triggered at any time for a given Bitrise app. Note that it might list workflows that are currently not defined in the app's `bitrise.yml` configuration - and conversely, workflows that were never triggered will not be listed even if they are defined in the `bitrise.yml` file.",
        "operationId": "build-workflow-list",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.BuildWorkflowListResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "AddonAuthToken": []
          }
        ]
      }
    },
    "/apps/{app-slug}/builds": {
      "get": {
        "tags": [
          "builds"
        ],
        "summary": "List all builds of an app",
        "description": "List all the builds of a specified Bitrise app. Set parameters to filter builds: for example, you can search for builds run with a given workflow or all builds that were triggered by Pull Requests. It returns all the relevant data of the build.",
        "operationId": "build-list",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Order of builds: sort them based on when they were created or the time when they were triggered",
            "schema": {
              "type": "string",
              "enum": [
                "running_first",
                "created_at"
              ]
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "The branch which was built",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflow",
            "in": "query",
            "description": "The name of the workflow used for the build",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commit_message",
            "in": "query",
            "description": "The commit message of the build",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trigger_event_type",
            "in": "query",
            "description": "The event that triggered the build (push, pull-request, tag)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pull_request_id",
            "in": "query",
            "description": "The id of the pull request that triggered the build",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "build_number",
            "in": "query",
            "description": "The build number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "List builds run after a given date (Unix Timestamp)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "List builds run before a given date (Unix Timestamp)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "The status of the build: not finished (0), successful (1), failed (2), aborted with failure (3), aborted with success (4)",
            "schema": {
              "maximum": 4,
              "type": "integer"
            }
          },
          {
            "name": "is_pipeline_build",
            "in": "query",
            "description": "Whether the builds are part of a pipeline or not",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "next",
            "in": "query",
            "description": "Slug of the first build in the response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of elements per page (default: 50)",
            "schema": {
              "maximum": 50,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.BuildListResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "AddonAuthToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "builds"
        ],
        "summary": "Trigger a new build/pipeline",
        "description": "Trigger a new build/pipeline. Specify an app slug and at least one parameter out of three: a git tag or git commit hash, a branch, or a workflow/pipeline ID. You can also set specific parameters for Pull Request builds/pipelines and define additional environment variables for your build/pipeline. [Check out our detailed guide](https://devcenter.bitrise.io/api/build-trigger/).",
        "operationId": "build-trigger",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Build trigger parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v0.BuildTriggerParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.BuildTriggerRespModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "AddonAuthToken": []
          }
        ],
        "x-codegen-request-body-name": "build_params"
      }
    },
    "/apps/{app-slug}/builds/{build-slug}": {
      "get": {
        "tags": [
          "builds"
        ],
        "summary": "Get a build of a given app",
        "description": "Get the specified build of a given Bitrise app. You need to provide both an app slug and a build slug. You can get the build slug either by calling the [/builds](https://api-docs.bitrise.io/#/builds/build-list) endpoint or by clicking on the build on bitrise.io and copying the slug from the URL. The endpoint returns all the relevant data of the build.",
        "operationId": "build-show",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "build-slug",
            "in": "path",
            "description": "Build slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.BuildShowResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "AddonAuthToken": []
          }
        ]
      }
    },
    "/apps/{app-slug}/builds/{build-slug}/abort": {
      "post": {
        "tags": [
          "builds"
        ],
        "summary": "Abort a specific build",
        "description": "Abort a specific build. Set an abort reason with the `abort_reason` parameter. Use the `abort_with_success` parameter to abort a build but still count it as a successful one.",
        "operationId": "build-abort",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "build-slug",
            "in": "path",
            "description": "Build slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Build abort parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v0.BuildAbortParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.BuildAbortResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "AddonAuthToken": []
          }
        ],
        "x-codegen-request-body-name": "build-abort-params"
      }
    },
    "/apps/{app-slug}/builds/{build-slug}/artifacts": {
      "get": {
        "tags": [
          "build-artifact"
        ],
        "summary": "Get a list of all build artifacts",
        "description": "List all build artifacts that have been generated for an app's build. This endpoint can retrieve artifacts from the archive as well. You can use the created build artifact slugs from the response output to retrieve data of a specific build artifact with the [GET/apps/](https://api-docs.bitrise.io/#/build-artifact/artifact-show) endpoint or update a build artifact with the [PATCH/apps](https://api-docs.bitrise.io/#/build-artifact/artifact-update) endpoint.",
        "operationId": "artifact-list",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "build-slug",
            "in": "path",
            "description": "Build slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "next",
            "in": "query",
            "description": "Slug of the first build artifact in the response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of build artifacts per page is 50.",
            "schema": {
              "maximum": 50,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.ArtifactListResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "AddonAuthToken": []
          }
        ]
      }
    },
    "/apps/{app-slug}/builds/{build-slug}/artifacts/{artifact-slug}": {
      "get": {
        "tags": [
          "build-artifact"
        ],
        "summary": "Get a specific build artifact",
        "description": "Retrieve data of a specific build artifact. The endpoint can retrieve archived artifacts as well. The response output contains a time-limited download url (expires in 10 minutes) and a public install-page URL. You can view the build artifact with both URLs, but the public install-page url will not work unless you [enable it](https://devcenter.bitrise.io/tutorials/deploy/bitrise-app-deployment/#enabling-public-page-for-the-app).",
        "operationId": "artifact-show",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "build-slug",
            "in": "path",
            "description": "Build slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artifact-slug",
            "in": "path",
            "description": "Artifact slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "download",
            "in": "query",
            "description": "Setting this will result in a redirect to the artifact download location",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.ArtifactShowResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          },
          {
            "AddonAuthToken": []
          }
        ]
      },
      "delete": {
        "tags": [
          "build-artifact"
        ],
        "summary": "Delete a build artifact",
        "description": "Delete a build artifact of an app's build. The required parameters are app slug, build slug and artifact slug. You can fetch the build artifact slug if you first list all build artifacts of an app with the [/apps/](https://api-docs.bitrise.io/#/build-artifact/artifact-list) endpoint.",
        "operationId": "artifact-delete",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "build-slug",
            "in": "path",
            "description": "Build slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artifact-slug",
            "in": "path",
            "description": "Artifact slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.ArtifactDeleteResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          }
        ]
      },
      "patch": {
        "tags": [
          "build-artifact"
        ],
        "summary": "Update a build artifact",
        "description": "Update the `is_public_page_enabled` attribute of your app's build. The required parameters are app slug, build slug and artifact slug. You can fetch the build artifact slug if you first list all build artifacts of an app with the [GET /apps/](https://api-docs.bitrise.io/#/build-artifact/artifact-list) endpoint.",
        "operationId": "artifact-update",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "build-slug",
            "in": "path",
            "description": "Build slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artifact-slug",
            "in": "path",
            "description": "Artifact slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Artifact parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v0.ArtifactUpdateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v0.ArtifactShowResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service.StandardErrorRespModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "PersonalAccessToken": []
          }
        ],
        "x-codegen-request-body-name": "artifact-params"
      }
    },
    "/apps/{app-slug}/builds/{build-slug}/bitrise.yml": {
      "get": {
        "tags": [
          "builds"
        ],
        "summary": "Get the bitrise.yml of a build",
        "description": "Get the bitrise.yml file of one of the builds of a given app. This will return the `bitrise.yml` configuration with which the build ran. You can compare it to [the current bitrise.yml configuration](https://api-docs.bitrise.io/#/application/app-config-datastore-show) of the app.",
        "operationId": "build-bitrise-yml-show",
        "parameters": [
          {
            "name": "app-slug",
            "in": "path",
            "description": "App slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
[...]
