{
  "openapi": "3.0.3",
  "info": {
    "title": "CommissionCrowd API",
    "description": "CommissionCrowd API for managing activities, tasks, wall posts, users, leads, contacts, companies, opportunities, organizations, agents, events, and more.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://raw.githubusercontent.com/aislingbyrnemc-sudo/openapis-specs/refs/heads/import/commissioncrowd.com/commissioncrowd-api/1.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://www.commissioncrowd.com/api",
      "description": "Production server"
    }
  ],
  "paths": {
    "/activities/": {
      "get": {
        "summary": "List activities",
        "operationId": "listActivities",
        "tags": [
          "Activities"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/tasks/": {
      "get": {
        "summary": "List tasks",
        "operationId": "listTasks",
        "tags": [
          "Tasks"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/wall_posts/": {
      "get": {
        "summary": "List wall posts",
        "operationId": "listWallPosts",
        "tags": [
          "Wall Posts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/users/": {
      "get": {
        "summary": "List users",
        "operationId": "listUsers",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/lead_statuses/": {
      "get": {
        "summary": "List lead statuses",
        "operationId": "listLeadStatuses",
        "tags": [
          "Leads"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/contacts/": {
      "get": {
        "summary": "List contacts",
        "operationId": "listContacts",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/wall_post_replies/": {
      "get": {
        "summary": "List wall post replies",
        "operationId": "listWallPostReplies",
        "tags": [
          "Wall Posts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/companies/": {
      "get": {
        "summary": "List companies",
        "operationId": "listCompanies",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/opportunities/": {
      "get": {
        "summary": "List opportunities",
        "operationId": "listOpportunities",
        "tags": [
          "Opportunities"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/organizations/": {
      "get": {
        "summary": "List organizations",
        "operationId": "listOrganizations",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/leads/": {
      "get": {
        "summary": "List leads",
        "operationId": "listLeads",
        "tags": [
          "Leads"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/agents/": {
      "get": {
        "summary": "List agents",
        "operationId": "listAgents",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/phone_numbers/": {
      "get": {
        "summary": "List phone numbers",
        "operationId": "listPhoneNumbers",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/lead_stages/": {
      "get": {
        "summary": "List lead stages",
        "operationId": "listLeadStages",
        "tags": [
          "Leads"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/events/": {
      "get": {
        "summary": "List events",
        "operationId": "listEvents",
        "tags": [
          "Events"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/email_addresses/": {
      "get": {
        "summary": "List email addresses",
        "operationId": "listEmailAddresses",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/company_users/": {
      "get": {
        "summary": "List company users",
        "operationId": "listCompanyUsers",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "tags": [
    {
      "name": "Activities"
    },
    {
      "name": "Agents"
    },
    {
      "name": "Companies"
    },
    {
      "name": "Company Users"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Email Addresses"
    },
    {
      "name": "Events"
    },
    {
      "name": "Lead Stages"
    },
    {
      "name": "Lead Statuses"
    },
    {
      "name": "Leads"
    },
    {
      "name": "Opportunities"
    },
    {
      "name": "Organizations"
    },
    {
      "name": "Phone Numbers"
    },
    {
      "name": "Tasks"
    },
    {
      "name": "Users"
    },
    {
      "name": "Wall Post Replies"
    },
    {
      "name": "Wall Posts"
    }
  ]
}