{
  "openapi": "3.0.3",
  "info": {
    "title": "JCDecaux Bike API",
    "description": "JCDecaux's self-service bicycles API provides real-time data about bike-sharing stations including contracts, station details, and availability information.",
    "version": "1.0.0",
    "contact": {
      "email": "developer@jcdecaux.com",
      "url": "https://developer.jcdecaux.com/"
    }
  },
  "servers": [
    {
      "url": "https://api.jcdecaux.com/vls/v1",
      "description": "JCDecaux Bike API v1"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/contracts": {
      "get": {
        "operationId": "getContracts",
        "summary": "List all contracts",
        "description": "Returns the list of all bike-sharing contracts (cities/regions) available in the JCDecaux network.",
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your JCDecaux API key.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of contracts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contract"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key."
          }
        },
        "tags": ["Contracts"]
      }
    },
    "/stations": {
      "get": {
        "operationId": "getStations",
        "summary": "List all stations",
        "description": "Returns real-time data for all bike-sharing stations across all contracts, or filtered by a specific contract.",
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your JCDecaux API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contract",
            "in": "query",
            "required": false,
            "description": "Filter stations by contract name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of stations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Station"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key."
          }
        },
        "tags": ["Stations"]
      }
    },
    "/stations/{station_number}": {
      "get": {
        "operationId": "getStation",
        "summary": "Get a single station",
        "description": "Returns real-time data for a specific bike-sharing station identified by its number and contract.",
        "parameters": [
          {
            "name": "station_number",
            "in": "path",
            "required": true,
            "description": "The station number.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "Your JCDecaux API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contract",
            "in": "query",
            "required": true,
            "description": "The contract name the station belongs to.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with station details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Station"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key."
          },
          "404": {
            "description": "Station not found."
          }
        },
        "tags": ["Stations"]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "apiKey",
        "in": "query",
        "description": "API key obtained from the JCDecaux developer portal."
      }
    },
    "schemas": {
      "Contract": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The contract name (usually a city name)."
          },
          "commercial_name": {
            "type": "string",
            "description": "The commercial name of the bike-sharing service."
          },
          "country_code": {
            "type": "string",
            "description": "The ISO 3166-1 alpha-2 country code."
          },
          "cities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of cities covered by the contract."
          }
        }
      },
      "Station": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer",
            "description": "The station number within the contract."
          },
          "contract_name": {
            "type": "string",
            "description": "The contract name this station belongs to."
          },
          "name": {
            "type": "string",
            "description": "The station name."
          },
          "address": {
            "type": "string",
            "description": "The station address."
          },
          "position": {
            "$ref": "#/components/schemas/Position"
          },
          "banking": {
            "type": "boolean",
            "description": "Whether the station has a payment terminal."
          },
          "bonus": {
            "type": "boolean",
            "description": "Whether the station is a bonus station."
          },
          "status": {
            "type": "string",
            "enum": ["OPEN", "CLOSED"],
            "description": "The current status of the station."
          },
          "bike_stands": {
            "type": "integer",
            "description": "Total number of bike stands at the station."
          },
          "available_bike_stands": {
            "type": "integer",
            "description": "Number of available (empty) bike stands."
          },
          "available_bikes": {
            "type": "integer",
            "description": "Number of available bikes at the station."
          },
          "last_update": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp of the last update in milliseconds since epoch."
          }
        }
      },
      "Position": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude coordinate."
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude coordinate."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Contracts",
      "description": "Operations related to bike-sharing contracts (cities/regions)."
    },
    {
      "name": "Stations",
      "description": "Operations related to bike-sharing stations and real-time availability."
    }
  ]
}
