{
  "openapi": "3.0.3",
  "info": {
    "title": "Participate API",
    "version": "0.0.1",
    "x-jentic-source-url": "https://api.participate.com/api/docs"
  },
  "servers": [
    {
      "url": "https://api.participate.com"
    }
  ],
  "paths": {
    "/api/v1/communities": {
      "get": {
        "tags": [
          "communities"
        ],
        "summary": "List of communities",
        "description": "Returns communities that you belong to or you are able to view.",
        "operationId": "getApiV1Communities",
        "responses": {
          "200": {
            "description": "List of communities"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/v1/communities/{community_id}/users/{user_id}": {
      "delete": {
        "tags": [
          "communities"
        ],
        "summary": "Remove a user from a community",
        "description": "Remove a user from a community given a user_id and a community_id",
        "operationId": "deleteApiV1CommunitiesCommunityIdUsersUserId",
        "parameters": [
          {
            "name": "community_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Remove a user from a community"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/communities/{community_id}/course_bundles": {
      "get": {
        "tags": [
          "communities"
        ],
        "summary": "List of course bundles in community",
        "description": "Returns course bundles in the community",
        "operationId": "getApiV1CommunitiesCommunityIdCourseBundles",
        "parameters": [
          {
            "name": "community_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of course bundles in community"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/communities/{community_id}/courses": {
      "get": {
        "tags": [
          "communities"
        ],
        "summary": "List of courses in community",
        "description": "Returns courses in the community",
        "operationId": "getApiV1CommunitiesCommunityIdCourses",
        "parameters": [
          {
            "name": "community_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of courses in community"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/communities/{community_id}/courses/enrollments": {
      "get": {
        "tags": [
          "communities"
        ],
        "summary": "List of course enrollments",
        "description": "Returns enrollments for courses in the community",
        "operationId": "getApiV1CommunitiesCommunityIdCoursesEnrollments",
        "parameters": [
          {
            "name": "community_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of course enrollments"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/communities/{community_id}/credentials/earned": {
      "get": {
        "tags": [
          "communities"
        ],
        "summary": "List of credentials earned",
        "description": "Returns community credentials earned by members",
        "operationId": "getApiV1CommunitiesCommunityIdCredentialsEarned",
        "parameters": [
          {
            "name": "community_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of credentials earned"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/communities/{community_id}/memberships": {
      "get": {
        "tags": [
          "communities"
        ],
        "summary": "List of memberships in a community",
        "description": "Returns memberships in this community",
        "operationId": "getApiV1CommunitiesCommunityIdMemberships",
        "parameters": [
          {
            "name": "community_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of memberships in a community"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/communities/{community_id}/invite": {
      "post": {
        "tags": [
          "communities"
        ],
        "summary": "Create an invitation for a user",
        "description": "Sends an email to a user specified by email, inviting them to the community\n                specified in the parameters of the request with an optional message.",
        "operationId": "postApiV1CommunitiesCommunityIdInvite",
        "parameters": [
          {
            "name": "community_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postApiV1CommunitiesCommunityIdInvite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create an invitation for a user"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/courses/{course_id}/enrollments": {
      "get": {
        "tags": [
          "courses"
        ],
        "summary": "Enrollment",
        "description": "Returns an enrollment.",
        "operationId": "getApiV1CoursesCourseIdEnrollments",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enrollment"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/v1/groups/{group_id}/users/{user_id}": {
      "post": {
        "tags": [
          "groups"
        ],
        "summary": "Joins a user to a group",
        "description": "Joins a user to a group given a user_id and a group_id",
        "operationId": "postApiV1GroupsGroupIdUsersUserId",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Joins a user to a group"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "groups"
        ],
        "summary": "Remove a user from a group",
        "description": "Removes a user from a group given a user_id and a group_id",
        "operationId": "deleteApiV1GroupsGroupIdUsersUserId",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Remove a user from a group"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/groups/{group_id}/invite": {
      "post": {
        "tags": [
          "groups"
        ],
        "summary": "Create a group invitation for an email",
        "description": "Sends an email to a user specified by email, inviting them to the group\n                specified in the parameters of the request with an optional message.",
        "operationId": "postApiV1GroupsGroupIdInvite",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postApiV1GroupsGroupIdInvite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a group invitation for an email"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/webhooks": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "summary": "Subscribe to webhook",
        "description": "Subscribes to a webhook that triggers when an action happens. Individual\n                  webhooks will be documented elsewhere in the overall API documentation.",
        "operationId": "postApiV1Webhooks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postApiV1Webhooks"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscribe to webhook"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/v1/webhooks/{id}": {
      "delete": {
        "tags": [
          "webhooks"
        ],
        "summary": "Unsubscribe from webhook",
        "description": "Given a webhook id, unsubscribes from that webhook.",
        "operationId": "deleteApiV1WebhooksId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Unsubscribe from webhook"
          },
          "401": {
            "description": "Unauthenticated"
          }
        }
      }
    },
    "/api/v1/me": {
      "get": {
        "tags": [
          "me"
        ],
        "description": "Get information about the authenticated user",
        "operationId": "getApiV1Me",
        "responses": {
          "200": {
            "description": "Get information about the authenticated user"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "postApiV1CommunitiesCommunityIdInvite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "email"
        ],
        "description": "Create an invitation for a user"
      },
      "postApiV1GroupsGroupIdInvite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "email"
        ],
        "description": "Create a group invitation for an email"
      },
      "postApiV1Webhooks": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "event": {
            "type": "string",
            "enum": [
              "on_community_join",
              "on_community_leave",
              "on_bundle_enroll",
              "on_course_enroll",
              "on_course_chapter_view",
              "aggregate_course_chapter_views",
              "on_coursework_update",
              "on_badge_award",
              "send_credential"
            ]
          },
          "subject_id": {
            "type": "string"
          },
          "subject_type": {
            "type": "string",
            "enum": [
              "community",
              "course_bundle",
              "course"
            ]
          }
        },
        "required": [
          "url",
          "event",
          "subject_id"
        ],
        "description": "Subscribe to webhook"
      }
    },
    "securitySchemes": {}
  },
  "tags": [
    {
      "name": "communities",
      "description": "Operations about communities"
    },
    {
      "name": "courses",
      "description": "Operations about courses"
    },
    {
      "name": "groups",
      "description": "Operations about groups"
    },
    {
      "name": "me",
      "description": "Operations about mes"
    },
    {
      "name": "webhooks",
      "description": "These endpoints allow you to create and delete (unsubscribe from) webhooks.\n\n### Verifying webhook signatures\n\nWebhook payloads can be verified by calculating a signature for the payload\nyou receive, and comparing it to a signature provided in the request headers.\n\nTo verify the signature, you'll need:\n\n* the provided signature from the `x-participate-hmac-sha256` request header\n* the provided timestamp from the `x-participate-timestamp` request header\n* the raw request body (the payload)\n* the shared signing secret, which is the API key used to create the webhook\n\n_**Note:** When using multiple API keys to create webhooks, each webhook\nsignature must be verified with the same API key that created it. Track which\nAPI key corresponds to each webhook for proper verification._\n\nHere's an example of signature verification in Ruby:\n\n```ruby\nsecret = YOUR_API_KEY\npayload = request.body.read\ntimestamp = request.headers[\"x-participate-timestamp\"]\nprovided_signature = request.headers[\"x-participate-hmac-sha256\"]\n\ncalculated_signature =\n  OpenSSL::HMAC.hexdigest(\"SHA256\", secret, \"#{timestamp}#{payload}\")\n\nsignatures_match =\n  OpenSSL.fixed_length_secure_compare(\n    provided_signature,\n    calculated_signature\n  )\n\nif signatures_match\n  # the payload and timestamp have been verified so continue\n  # processing and confirm the timestamp is relatively recent\n  # to avoid replay attacks\n\n  grace_period = 60 # one minute\n  time_difference = (Time.now.to_i - timestamp.to_i).abs\n\n  if time_difference < grace_period\n    # the timestamp is close enough to the current time so\n    # continue and process the webhook payload\n\n    data = JSON.parse(payload)\n    do_something_with(data)\n  else\n    # there's an unacceptable time difference so abort processing\n  end\nelse\n  # signature verification has failed so abort processing\nend\n```\n"
    }
  ]
}