{
  "openapi": "3.0.3",
  "info": {
    "title": "PlusVibe.ai API",
    "description": "PlusVibe.ai (formerly Pipl.ai) is a cold email automation platform. The API provides access to workspaces, campaigns, leads, email accounts, analytics, unibox email management, webhooks, blocklists, and tags.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developer.plusvibe.ai/"
  },
  "servers": [
    {
      "url": "https://api.plusvibe.ai/api/v1"
    }
  ],
  "paths": {
    "/authenticate": {
      "get": {
        "operationId": "getWorkspaces",
        "summary": "Get workspaces accessible with the API key",
        "tags": [
          "Workspace"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "workspaces": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Workspace"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/campaign/add/campaign": {
      "post": {
        "operationId": "createCampaign",
        "summary": "Create a new campaign",
        "tags": [
          "Campaigns"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "workspace_id",
                  "camp_name"
                ],
                "properties": {
                  "workspace_id": {
                    "type": "string",
                    "description": "Workspace ID"
                  },
                  "camp_name": {
                    "type": "string",
                    "description": "Campaign name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string",
                      "description": "New campaign ID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/campaign/list-all": {
      "get": {
        "operationId": "listAllCampaigns",
        "summary": "List all campaigns in a workspace",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaign_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by specific campaign ID"
          },
          {
            "name": "parent_camp_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by parent campaign ID"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "PAUSED",
                "COMPLETED",
                "ARCHIVED"
              ]
            }
          },
          {
            "name": "campaign_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "parent",
                "subseq"
              ],
              "default": "all"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Campaign"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/lead/add": {
      "post": {
        "operationId": "addLeadsToCampaign",
        "summary": "Add leads to a campaign",
        "tags": [
          "Leads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddLeadsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Leads added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddLeadsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/lead/get": {
      "get": {
        "operationId": "getOrSearchLead",
        "summary": "Get or search for a lead by email",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "campaign_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lead"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/lead/delete": {
      "post": {
        "operationId": "deleteLeadsFromCampaign",
        "summary": "Delete leads from a campaign",
        "tags": [
          "Leads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "workspace_id",
                  "delete_list"
                ],
                "properties": {
                  "workspace_id": {
                    "type": "string"
                  },
                  "campaign_id": {
                    "type": "string"
                  },
                  "delete_list": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "description": "Email addresses to remove"
                  },
                  "delete_all_from_company": {
                    "type": "boolean",
                    "description": "Remove all leads with matching domains"
                  },
                  "delete_parent_lead": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Leads deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/account/list": {
      "get": {
        "operationId": "listEmailAccounts",
        "summary": "List all email accounts in the workspace",
        "tags": [
          "Email Accounts"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated tag IDs"
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by email address"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmailAccount"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/analytics/campaign/stats": {
      "get": {
        "operationId": "getCampaignStats",
        "summary": "Get detailed campaign statistics",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaign_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CampaignStats"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/unibox/emails": {
      "get": {
        "operationId": "getEmails",
        "summary": "Get emails from the unified inbox",
        "tags": [
          "Unibox"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "preview_only",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "lead",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by lead email"
          },
          {
            "name": "campaign_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "received",
                "sent"
              ]
            }
          },
          {
            "name": "page_trail",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          },
          {
            "name": "label",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page_trail": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Email"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/unibox/emails/reply": {
      "post": {
        "operationId": "replyToEmail",
        "summary": "Reply to an email",
        "tags": [
          "Unibox"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reply_to_id",
                  "subject",
                  "from",
                  "to",
                  "body"
                ],
                "properties": {
                  "reply_to_id": {
                    "type": "string",
                    "description": "Email ID to reply to"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "from": {
                    "type": "string",
                    "format": "email"
                  },
                  "to": {
                    "type": "string",
                    "format": "email"
                  },
                  "body": {
                    "type": "string",
                    "description": "Message content (HTML accepted)"
                  },
                  "cc": {
                    "type": "string",
                    "format": "email"
                  },
                  "bcc": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reply sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/hook/add": {
      "post": {
        "operationId": "addWebhook",
        "summary": "Add a new webhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "PlusVibe.ai API key"
      }
    },
    "schemas": {
      "Workspace": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "camp_name": {
            "type": "string"
          },
          "parent_camp_id": {
            "type": "string"
          },
          "campaign_type": {
            "type": "string"
          },
          "organization_id": {
            "type": "string"
          },
          "workspace_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "modified_at": {
            "type": "string",
            "format": "date-time"
          },
          "daily_limit": {
            "type": "integer"
          },
          "interval_limit_in_min": {
            "type": "integer"
          },
          "send_priority": {
            "type": "number"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_emailopened_tracking": {
            "type": "integer"
          },
          "is_unsubscribed_link": {
            "type": "integer"
          },
          "exclude_ooo": {
            "type": "integer"
          },
          "stop_on_lead_replied": {
            "type": "integer"
          },
          "schedule": {
            "$ref": "#/components/schemas/Schedule"
          },
          "sequence_steps": {
            "type": "integer"
          },
          "lead_count": {
            "type": "integer"
          },
          "sent_count": {
            "type": "integer"
          },
          "opened_count": {
            "type": "integer"
          },
          "replied_count": {
            "type": "integer"
          },
          "bounced_count": {
            "type": "integer"
          },
          "unsubscribed_count": {
            "type": "integer"
          },
          "open_rate": {
            "type": "number"
          },
          "replied_rate": {
            "type": "number"
          }
        }
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "days": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "from_time": {
            "type": "string"
          },
          "to_time": {
            "type": "string"
          },
          "tz": {
            "type": "string"
          }
        }
      },
      "Lead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "timestamp_created": {
            "type": "string",
            "format": "date-time"
          },
          "campaign": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "contact": {
            "type": "string",
            "format": "email"
          },
          "email_opened": {
            "type": "boolean"
          },
          "email_replied": {
            "type": "boolean"
          },
          "campaign_name": {
            "type": "string"
          },
          "lead_data": {
            "$ref": "#/components/schemas/LeadData"
          }
        }
      },
      "LeadData": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "company_name": {
            "type": "string"
          },
          "company_website": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "linkedin_person_url": {
            "type": "string"
          },
          "linkedin_company_url": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "AddLeadsRequest": {
        "type": "object",
        "required": [
          "workspace_id",
          "campaign_id",
          "leads"
        ],
        "properties": {
          "workspace_id": {
            "type": "string"
          },
          "campaign_id": {
            "type": "string"
          },
          "leads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LeadInput"
            }
          },
          "skip_if_in_workspace": {
            "type": "boolean"
          },
          "skip_lead_in_active_pause_camp": {
            "type": "boolean"
          },
          "skip_lead_for_active_only_camp": {
            "type": "boolean"
          },
          "resume_camp_if_completed": {
            "type": "boolean"
          },
          "hubspot_sync": {
            "type": "boolean"
          },
          "is_overwrite": {
            "type": "boolean"
          }
        }
      },
      "LeadInput": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "address_line": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "company_name": {
            "type": "string"
          },
          "company_website": {
            "type": "string"
          },
          "linkedin_person_url": {
            "type": "string"
          },
          "linkedin_company_url": {
            "type": "string"
          },
          "custom_variables": {
            "type": "object"
          }
        }
      },
      "AddLeadsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "total_sent": {
            "type": "integer"
          },
          "leads_uploaded": {
            "type": "integer"
          },
          "duplicate_email_count": {
            "type": "integer"
          },
          "already_in_campaign": {
            "type": "integer"
          },
          "invalid_email_count": {
            "type": "integer"
          },
          "skipped": {
            "type": "integer"
          },
          "remaining_in_plan": {
            "type": "integer"
          },
          "overflowed_lead_count": {
            "type": "integer"
          }
        }
      },
      "EmailAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "warmup_status": {
            "type": "string"
          },
          "warmup_enb_dt": {
            "type": "string"
          },
          "timestamp_created": {
            "type": "string"
          },
          "timestamp_updated": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          }
        }
      },
      "CampaignStats": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "camp_name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "lead_count": {
            "type": "integer"
          },
          "completed_lead_count": {
            "type": "integer"
          },
          "new_completed_lead_count": {
            "type": "integer"
          },
          "lead_contacted_count": {
            "type": "integer"
          },
          "new_lead_contacted_count": {
            "type": "integer"
          },
          "sent_count": {
            "type": "integer"
          },
          "unique_opened_count": {
            "type": "integer"
          },
          "replied_count": {
            "type": "integer"
          },
          "positive_reply_count": {
            "type": "integer"
          },
          "bounced_count": {
            "type": "integer"
          },
          "unsubscribed_count": {
            "type": "integer"
          },
          "opportunity_val": {
            "type": "number"
          },
          "opportunity_val_per_count": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Email": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "message_id": {
            "type": "string"
          },
          "is_unread": {
            "type": "boolean"
          },
          "lead": {
            "type": "string"
          },
          "lead_id": {
            "type": "string"
          },
          "campaign_id": {
            "type": "string"
          },
          "from_address_email": {
            "type": "string"
          },
          "to_address_email_list": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subject": {
            "type": "string"
          },
          "content_preview": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "thread_id": {
            "type": "string"
          },
          "timestamp_created": {
            "type": "string",
            "format": "date-time"
          },
          "body": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string"
              },
              "html": {
                "type": "string"
              }
            }
          }
        }
      },
      "CreateWebhookRequest": {
        "type": "object",
        "required": [
          "workspace_id",
          "name",
          "url",
          "camp_ids",
          "event_types"
        ],
        "properties": {
          "workspace_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "camp_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Campaign IDs or 'ALL'"
          },
          "event_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Event types (e.g., LEAD_MARKED_AS_INTERESTED, ALL_EMAIL_REPLIES)"
          },
          "secret": {
            "type": "string"
          },
          "ignore_ooo": {
            "type": "integer",
            "description": "1 to exclude out-of-office"
          },
          "ignore_automatic": {
            "type": "integer",
            "description": "1 to exclude automatic replies"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}