{
  "openapi": "3.0.3",
  "info": {
    "title": "Mapbox Static Images API",
    "description": "Generate static map images with markers, lines, and polygons. Produces PNG/JPEG/WebP images of maps at specified coordinates and zoom levels. Free tier: 100K requests/month.",
    "version": "1.0.0",
    "contact": {
      "name": "Mapbox",
      "url": "https://www.mapbox.com"
    },
    "x-jentic-source-url": "https://docs.mapbox.com/api/maps/static-images/"
  },
  "servers": [
    {
      "url": "https://api.mapbox.com",
      "description": "Mapbox API production server"
    }
  ],
  "paths": {
    "/styles/v1/{username}/{style_id}/static/{overlay}/{lon},{lat},{zoom}/{width}x{height}": {
      "get": {
        "operationId": "getStaticImage",
        "summary": "Generate static map image",
        "description": "Render a static map image at specified coordinates with optional markers, lines, and polygons. Returns PNG, JPEG, or WebP image.",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "mapbox"
            },
            "description": "Account owner of the style (use 'mapbox' for default styles)."
          },
          {
            "name": "style_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "streets-v12",
                "outdoors-v12",
                "light-v11",
                "dark-v11",
                "satellite-v9",
                "satellite-streets-v12"
              ]
            },
            "description": "Map style ID."
          },
          {
            "name": "overlay",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated overlays. Marker format: pin-{s|l}-{label}+{color}({lon},{lat}). Use empty string for no overlay."
          },
          {
            "name": "lon",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": -180,
              "maximum": 180
            },
            "description": "Center longitude."
          },
          {
            "name": "lat",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": -85.0511,
              "maximum": 85.0511
            },
            "description": "Center latitude."
          },
          {
            "name": "zoom",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 22
            },
            "description": "Zoom level (0-22)."
          },
          {
            "name": "width",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1280
            },
            "description": "Image width in pixels (max 1280)."
          },
          {
            "name": "height",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1280
            },
            "description": "Image height in pixels (max 1280)."
          },
          {
            "name": "bearing",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 0
            },
            "description": "Map rotation in degrees (0-360)."
          },
          {
            "name": "pitch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 0,
              "maximum": 60
            },
            "description": "Map tilt in degrees (0-60)."
          },
          {
            "name": "attribution",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Show map attribution."
          },
          {
            "name": "logo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Show Mapbox logo."
          },
          {
            "name": "padding",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Minimum padding in pixels (CSS-style: top,right,bottom,left)."
          }
        ],
        "responses": {
          "200": {
            "description": "Static map image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Invalid access token"
          },
          "422": {
            "description": "Invalid parameters"
          }
        }
      }
    },
    "/styles/v1/{username}/{style_id}/static/{overlay}/auto/{width}x{height}": {
      "get": {
        "operationId": "getStaticImageAuto",
        "summary": "Generate static map with auto-fit bounds",
        "description": "Render a static map that automatically fits to the bounds of the overlay features (markers, lines, polygons).",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "mapbox"
            },
            "description": "Account owner of the style."
          },
          {
            "name": "style_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Map style ID."
          },
          {
            "name": "overlay",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated overlays (markers, GeoJSON, paths). Map auto-fits to these bounds."
          },
          {
            "name": "width",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1280
            },
            "description": "Image width in pixels."
          },
          {
            "name": "height",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1280
            },
            "description": "Image height in pixels."
          },
          {
            "name": "padding",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Minimum padding around overlay bounds."
          },
          {
            "name": "attribution",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Show attribution."
          },
          {
            "name": "logo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Show Mapbox logo."
          }
        ],
        "responses": {
          "200": {
            "description": "Static map image fitted to overlay bounds",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Invalid access token"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "accessToken": {
        "type": "apiKey",
        "in": "query",
        "name": "access_token",
        "description": "Mapbox access token with styles:tiles scope."
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ]
}