{
  "openapi": "3.0.3",
  "info": {
    "title": "Basware Network API",
    "version": "2.0.0",
    "description": "Basware Network API for managing invoices, notifications, and business documents in the Basware procurement network.",
    "x-jentic-source-url": "https://network-developer.basware.com/api/"
  },
  "servers": [
    {
      "url": "https://api.basware.com"
    }
  ],
  "paths": {
    "/v1.1/notifications": {
      "post": {
        "operationId": "createNotificationV1",
        "summary": "Create notification (v1.1)",
        "tags": [
          "Notifications v1.1"
        ],
        "parameters": [
          {
            "name": "X-BW-REQUEST-ID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listNotificationsV1",
        "summary": "List notifications (v1.1)",
        "tags": [
          "Notifications v1.1"
        ],
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-BW-REQUEST-ID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1.1/notifications/{id}": {
      "delete": {
        "operationId": "deleteNotificationV1",
        "summary": "Delete notification (v1.1)",
        "tags": [
          "Notifications v1.1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-BW-REQUEST-ID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/notifications": {
      "post": {
        "operationId": "createNotificationV2",
        "summary": "Create notification (v2)",
        "tags": [
          "Notifications v2"
        ],
        "parameters": [
          {
            "name": "X-BW-REQUEST-ID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listNotificationsV2",
        "summary": "List notifications (v2)",
        "tags": [
          "Notifications v2"
        ],
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-BW-REQUEST-ID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/notifications/{id}": {
      "delete": {
        "operationId": "deleteNotificationV2",
        "summary": "Delete notification (v2)",
        "tags": [
          "Notifications v2"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-BW-REQUEST-ID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/invoices/{bumId}": {
      "get": {
        "operationId": "getInvoice",
        "summary": "Get invoice details",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "bumId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Business document identifier"
          },
          {
            "name": "X-BW-REQUEST-ID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          }
        }
      },
      "NotificationRequest": {
        "type": "object",
        "properties": {
          "bumid": {
            "type": "string"
          },
          "documentType": {
            "type": "string"
          },
          "acknowledgementId": {
            "type": "string"
          },
          "responseCode": {
            "type": "string"
          },
          "actionCode": {
            "type": "string"
          },
          "notificationCreated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NotificationRequestV2": {
        "type": "object",
        "properties": {
          "resourceId": {
            "type": "string"
          },
          "notificationType": {
            "type": "string"
          },
          "resourceType": {
            "type": "string"
          },
          "responseCode": {
            "type": "string"
          },
          "actionCode": {
            "type": "string"
          },
          "notificationCreated": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Notifications v1.1"
    },
    {
      "name": "Notifications v2"
    },
    {
      "name": "Invoices"
    }
  ]
}