{
  "openapi": "3.0.3",
  "info": {
    "title": "Weights & Biases Weave Service API",
    "version": "1.0.0",
    "description": "The Weave Service API provides REST endpoints for programmatic access to Weights & Biases Weave functionality, including tracing, feedback, cost management, file operations, object management, and table operations.",
    "x-jentic-source-url": "https://docs.wandb.ai/weave/reference/service-api"
  },
  "servers": [
    {
      "url": "https://trace.wandb.ai",
      "description": "Multi-tenant / Dedicated Cloud"
    }
  ],
  "paths": {
    "/call/start": {
      "post": {
        "operationId": "callStart",
        "summary": "Start a new call trace",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallStartResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallStartRequest"
              }
            }
          }
        }
      }
    },
    "/call/end": {
      "post": {
        "operationId": "callEnd",
        "summary": "End an active call trace",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallEndRequest"
              }
            }
          }
        }
      }
    },
    "/call/read": {
      "post": {
        "operationId": "callRead",
        "summary": "Read call details",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallReadRequest"
              }
            }
          }
        }
      }
    },
    "/call/update": {
      "post": {
        "operationId": "callUpdate",
        "summary": "Update an existing call",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/call/upsert_batch": {
      "post": {
        "operationId": "callUpsertBatch",
        "summary": "Start or end multiple calls in a batch",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallsBatchRequest"
              }
            }
          }
        }
      }
    },
    "/calls/delete": {
      "post": {
        "operationId": "callsDelete",
        "summary": "Delete multiple calls",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallsDeleteRequest"
              }
            }
          }
        }
      }
    },
    "/calls/query_stats": {
      "post": {
        "operationId": "callsQueryStats",
        "summary": "Get aggregate statistics for calls",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryStatsRequest"
              }
            }
          }
        }
      }
    },
    "/calls/stream_query": {
      "post": {
        "operationId": "callsStreamQuery",
        "summary": "Stream query results for calls",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        }
      }
    },
    "/cost/create": {
      "post": {
        "operationId": "costCreate",
        "summary": "Create cost definitions",
        "tags": [
          "Costs"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CostCreateRequest"
              }
            }
          }
        }
      }
    },
    "/cost/purge": {
      "post": {
        "operationId": "costPurge",
        "summary": "Purge cost data",
        "tags": [
          "Costs"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cost/query": {
      "post": {
        "operationId": "costQuery",
        "summary": "Query cost data",
        "tags": [
          "Costs"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        }
      }
    },
    "/feedback/create": {
      "post": {
        "operationId": "feedbackCreate",
        "summary": "Create feedback for a trace",
        "tags": [
          "Feedback"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedbackCreateRequest"
              }
            }
          }
        }
      }
    },
    "/feedback/purge": {
      "post": {
        "operationId": "feedbackPurge",
        "summary": "Purge feedback data",
        "tags": [
          "Feedback"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/feedback/query": {
      "post": {
        "operationId": "feedbackQuery",
        "summary": "Query feedback data",
        "tags": [
          "Feedback"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedbackQueryRequest"
              }
            }
          }
        }
      }
    },
    "/feedback/replace": {
      "post": {
        "operationId": "feedbackReplace",
        "summary": "Replace existing feedback",
        "tags": [
          "Feedback"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedbackCreateRequest"
              }
            }
          }
        }
      }
    },
    "/file/content": {
      "post": {
        "operationId": "fileContent",
        "summary": "Retrieve file content",
        "tags": [
          "Files"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileContentRequest"
              }
            }
          }
        }
      }
    },
    "/file/create": {
      "post": {
        "operationId": "fileCreate",
        "summary": "Upload a file",
        "tags": [
          "Files"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileCreateRequest"
              }
            }
          }
        }
      }
    },
    "/obj/create": {
      "post": {
        "operationId": "objCreate",
        "summary": "Create a versioned object",
        "tags": [
          "Objects"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjCreateRequest"
              }
            }
          }
        }
      }
    },
    "/obj/delete": {
      "post": {
        "operationId": "objDelete",
        "summary": "Delete object versions",
        "tags": [
          "Objects"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjDeleteRequest"
              }
            }
          }
        }
      }
    },
    "/obj/read": {
      "post": {
        "operationId": "objRead",
        "summary": "Read an object version",
        "tags": [
          "Objects"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjReadRequest"
              }
            }
          }
        }
      }
    },
    "/objs/query": {
      "post": {
        "operationId": "objsQuery",
        "summary": "Query objects",
        "tags": [
          "Objects"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjsQueryRequest"
              }
            }
          }
        }
      }
    },
    "/otel/v1/trace": {
      "post": {
        "operationId": "exportTrace",
        "summary": "Export OpenTelemetry trace data",
        "tags": [
          "Tracing"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/refs/read_batch": {
      "post": {
        "operationId": "refsReadBatch",
        "summary": "Read multiple refs in batch",
        "tags": [
          "References"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefsReadBatchRequest"
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Check service health",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/server_info": {
      "get": {
        "operationId": "serverInfo",
        "summary": "Get server information",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/table/create": {
      "post": {
        "operationId": "tableCreate",
        "summary": "Create a new table",
        "tags": [
          "Tables"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/table/query": {
      "post": {
        "operationId": "tableQuery",
        "summary": "Query table data",
        "tags": [
          "Tables"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableQueryRequest"
              }
            }
          }
        }
      }
    },
    "/table/query_stats": {
      "post": {
        "operationId": "tableQueryStats",
        "summary": "Get table query statistics",
        "tags": [
          "Tables"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryStatsRequest"
              }
            }
          }
        }
      }
    },
    "/table/update": {
      "post": {
        "operationId": "tableUpdate",
        "summary": "Update table data",
        "tags": [
          "Tables"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/table/query_stream": {
      "post": {
        "operationId": "tableQueryStream",
        "summary": "Stream table query results",
        "tags": [
          "Tables"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableQueryRequest"
              }
            }
          }
        }
      }
    },
    "/threads/stream_query": {
      "post": {
        "operationId": "threadsStreamQuery",
        "summary": "Stream query results for threads",
        "tags": [
          "Threads"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        }
      }
    },
    "/completions/create": {
      "post": {
        "operationId": "completionsCreate",
        "summary": "Create completions",
        "tags": [
          "Completions"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompletionsCreateRequest"
              }
            }
          }
        }
      }
    },
    "/completions/create_stream": {
      "post": {
        "operationId": "completionsCreateStream",
        "summary": "Create streaming completions",
        "tags": [
          "Completions"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompletionsCreateRequest"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        }
      },
      "CallStartRequest": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string",
            "description": "Project identifier"
          },
          "op_name": {
            "type": "string",
            "description": "Operation name"
          },
          "inputs": {
            "type": "object",
            "description": "Input data for the call"
          },
          "attributes": {
            "type": "object",
            "description": "Additional attributes"
          }
        }
      },
      "CallStartResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Call ID"
          },
          "trace_id": {
            "type": "string",
            "description": "Trace ID"
          }
        }
      },
      "CallReadRequest": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "description": "Call ID"
          }
        }
      },
      "CallEndRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Call ID"
          },
          "outputs": {
            "type": "object",
            "description": "Output data"
          },
          "exception": {
            "type": "string",
            "description": "Exception message if failed"
          }
        }
      },
      "CallUpdateRequest": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "call_id": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          }
        }
      },
      "CallsBatchRequest": {
        "type": "object",
        "properties": {
          "batch": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Batch of call start/end operations"
          }
        }
      },
      "CallsDeleteRequest": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "call_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "QueryRequest": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "filter": {
            "type": "object",
            "description": "Filter criteria"
          },
          "limit": {
            "type": "integer",
            "description": "Max results"
          },
          "offset": {
            "type": "integer",
            "description": "Pagination offset"
          },
          "sort_by": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "QueryStatsRequest": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "filter": {
            "type": "object"
          }
        }
      },
      "CostCreateRequest": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "costs": {
            "type": "object",
            "description": "Cost definitions"
          }
        }
      },
      "FeedbackCreateRequest": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "weave_ref": {
            "type": "string"
          },
          "feedback_type": {
            "type": "string"
          },
          "payload": {
            "type": "object"
          }
        }
      },
      "FeedbackQueryRequest": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "query": {
            "type": "object"
          }
        }
      },
      "FileCreateRequest": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          }
        }
      },
      "FileContentRequest": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "digest": {
            "type": "string"
          }
        }
      },
      "ObjCreateRequest": {
        "type": "object",
        "properties": {
          "obj": {
            "type": "object",
            "description": "Object to create"
          }
        }
      },
      "ObjReadRequest": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "object_id": {
            "type": "string"
          },
          "digest": {
            "type": "string"
          }
        }
      },
      "ObjDeleteRequest": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "object_id": {
            "type": "string"
          },
          "digests": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ObjsQueryRequest": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "filter": {
            "type": "object"
          }
        }
      },
      "RefsReadBatchRequest": {
        "type": "object",
        "properties": {
          "refs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TableCreateRequest": {
        "type": "object",
        "properties": {
          "table": {
            "type": "object"
          }
        }
      },
      "TableQueryRequest": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "digest": {
            "type": "string"
          },
          "filter": {
            "type": "object"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "TableUpdateRequest": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "base_digest": {
            "type": "string"
          },
          "updates": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CompletionsCreateRequest": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "temperature": {
            "type": "number"
          },
          "max_tokens": {
            "type": "integer"
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        }
      },
      "ServerInfoResponse": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "W&B API key as Bearer token"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}