{
  "openapi": "3.0.3",
  "info": {
    "title": "Dropbox API v2",
    "version": "2.0.0",
    "description": "The Dropbox API v2 allows developers to integrate with Dropbox for file storage, sharing, user management, and team administration. All endpoints use POST (except download-style endpoints which also support GET). Parameters are sent as JSON in the request body for RPC-style endpoints, or in the Dropbox-API-Arg header for upload/download-style endpoints.",
    "x-jentic-source-url": "https://www.dropbox.com/developers/documentation/http/documentation"
  },
  "servers": [
    {
      "url": "https://api.dropboxapi.com",
      "description": "Dropbox API (RPC endpoints)"
    },
    {
      "url": "https://content.dropboxapi.com",
      "description": "Dropbox Content API (upload/download endpoints)"
    },
    {
      "url": "https://notify.dropboxapi.com",
      "description": "Dropbox Notify API (long-poll endpoints)"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.dropbox.com/oauth2/authorize",
            "tokenUrl": "https://api.dropboxapi.com/oauth2/token",
            "scopes": {
              "files.metadata.read": "Read file metadata",
              "files.metadata.write": "Write file metadata",
              "files.content.read": "Read file content",
              "files.content.write": "Write file content",
              "sharing.read": "Read sharing info",
              "sharing.write": "Write sharing info",
              "account_info.read": "Read account info",
              "file_requests.read": "Read file requests",
              "file_requests.write": "Write file requests"
            }
          }
        }
      }
    },
    "schemas": {
      "Metadata": {
        "type": "object",
        "properties": {
          ".tag": {
            "type": "string",
            "enum": [
              "file",
              "folder",
              "deleted"
            ]
          },
          "name": {
            "type": "string"
          },
          "path_lower": {
            "type": "string"
          },
          "path_display": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        }
      },
      "FileMetadata": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Metadata"
          },
          {
            "type": "object",
            "properties": {
              "size": {
                "type": "integer"
              },
              "rev": {
                "type": "string"
              },
              "content_hash": {
                "type": "string"
              },
              "client_modified": {
                "type": "string",
                "format": "date-time"
              },
              "server_modified": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "ListFolderResult": {
        "type": "object",
        "properties": {
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Metadata"
            }
          },
          "cursor": {
            "type": "string"
          },
          "has_more": {
            "type": "boolean"
          }
        }
      },
      "SharedLinkMetadata": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "path_lower": {
            "type": "string"
          },
          ".tag": {
            "type": "string"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string"
          },
          "name": {
            "type": "object",
            "properties": {
              "given_name": {
                "type": "string"
              },
              "surname": {
                "type": "string"
              },
              "familiar_name": {
                "type": "string"
              },
              "display_name": {
                "type": "string"
              }
            }
          },
          "email": {
            "type": "string"
          },
          "email_verified": {
            "type": "boolean"
          },
          "profile_photo_url": {
            "type": "string"
          }
        }
      },
      "SpaceUsage": {
        "type": "object",
        "properties": {
          "used": {
            "type": "integer"
          },
          "allocation": {
            "type": "object"
          }
        }
      },
      "FileRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "destination": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "is_open": {
            "type": "boolean"
          },
          "file_count": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "paths": {
    "/2/check/app": {
      "post": {
        "operationId": "checkApp",
        "summary": "App check",
        "description": "Performs App Authentication, validating the supplied app key and secret, and returns the supplied string.",
        "tags": [
          "check"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The string to echo back."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/check/user": {
      "post": {
        "operationId": "checkUser",
        "summary": "User check",
        "description": "Performs User Authentication and returns the supplied string. Used to test connectivity.",
        "tags": [
          "check"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/get_metadata": {
      "post": {
        "operationId": "filesGetMetadata",
        "summary": "Get file/folder metadata",
        "description": "Returns the metadata for a file or folder.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "path"
                ],
                "properties": {
                  "path": {
                    "type": "string",
                    "description": "The path of a file or folder on Dropbox."
                  },
                  "include_media_info": {
                    "type": "boolean",
                    "default": false
                  },
                  "include_deleted": {
                    "type": "boolean",
                    "default": false
                  },
                  "include_has_explicit_shared_members": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metadata result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/list_folder": {
      "post": {
        "operationId": "filesListFolder",
        "summary": "List folder contents",
        "description": "Starts returning the contents of a folder.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "path"
                ],
                "properties": {
                  "path": {
                    "type": "string",
                    "description": "Path to the folder. Empty string for root."
                  },
                  "recursive": {
                    "type": "boolean",
                    "default": false
                  },
                  "include_media_info": {
                    "type": "boolean",
                    "default": false
                  },
                  "include_deleted": {
                    "type": "boolean",
                    "default": false
                  },
                  "include_has_explicit_shared_members": {
                    "type": "boolean",
                    "default": false
                  },
                  "include_mounted_folders": {
                    "type": "boolean",
                    "default": true
                  },
                  "limit": {
                    "type": "integer"
                  },
                  "shared_link": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string"
                      },
                      "password": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Folder listing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFolderResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/list_folder/continue": {
      "post": {
        "operationId": "filesListFolderContinue",
        "summary": "Continue listing folder contents",
        "description": "Once a cursor has been retrieved from list_folder, use this to paginate through all files and retrieve updates.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cursor"
                ],
                "properties": {
                  "cursor": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Continued folder listing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFolderResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/list_folder/get_latest_cursor": {
      "post": {
        "operationId": "filesListFolderGetLatestCursor",
        "summary": "Get latest cursor",
        "description": "A way to quickly get a cursor for the folder's state. Unlike list_folder, this doesn't return any entries.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "path"
                ],
                "properties": {
                  "path": {
                    "type": "string"
                  },
                  "recursive": {
                    "type": "boolean",
                    "default": false
                  },
                  "include_media_info": {
                    "type": "boolean",
                    "default": false
                  },
                  "include_deleted": {
                    "type": "boolean",
                    "default": false
                  },
                  "include_has_explicit_shared_members": {
                    "type": "boolean",
                    "default": false
                  },
                  "include_mounted_folders": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cursor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cursor": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/search_v2": {
      "post": {
        "operationId": "filesSearchV2",
        "summary": "Search for files and folders",
        "description": "Searches for files and folders. Supports full-text search for Dropbox Business accounts.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string"
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "path": {
                        "type": "string"
                      },
                      "max_results": {
                        "type": "integer"
                      },
                      "file_status": {
                        "type": "string",
                        "enum": [
                          "active",
                          "deleted"
                        ]
                      },
                      "filename_only": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "matches": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "cursor": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/search/continue_v2": {
      "post": {
        "operationId": "filesSearchContinueV2",
        "summary": "Continue search",
        "description": "Fetches the next page of search results returned from search_v2.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cursor"
                ],
                "properties": {
                  "cursor": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results continued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/create_folder_v2": {
      "post": {
        "operationId": "filesCreateFolderV2",
        "summary": "Create folder",
        "description": "Create a folder at a given path.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "path"
                ],
                "properties": {
                  "path": {
                    "type": "string"
                  },
                  "autorename": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Folder metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metadata": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/delete_v2": {
      "post": {
        "operationId": "filesDeleteV2",
        "summary": "Delete file or folder",
        "description": "Delete the file or folder at a given path.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "path"
                ],
                "properties": {
                  "path": {
                    "type": "string"
                  },
                  "parent_rev": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deleted metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metadata": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/permanently_delete": {
      "post": {
        "operationId": "filesPermanentlyDelete",
        "summary": "Permanently delete a file",
        "description": "Permanently delete the file or folder at a given path.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "path"
                ],
                "properties": {
                  "path": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success (void)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/copy_v2": {
      "post": {
        "operationId": "filesCopyV2",
        "summary": "Copy a file or folder",
        "description": "Copy a file or folder to a different location in the user's Dropbox.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from_path",
                  "to_path"
                ],
                "properties": {
                  "from_path": {
                    "type": "string"
                  },
                  "to_path": {
                    "type": "string"
                  },
                  "allow_shared_folder": {
                    "type": "boolean",
                    "default": false
                  },
                  "autorename": {
                    "type": "boolean",
                    "default": false
                  },
                  "allow_ownership_transfer": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metadata of copied item",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metadata": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/move_v2": {
      "post": {
        "operationId": "filesMoveV2",
        "summary": "Move a file or folder",
        "description": "Move a file or folder to a different location in the user's Dropbox.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from_path",
                  "to_path"
                ],
                "properties": {
                  "from_path": {
                    "type": "string"
                  },
                  "to_path": {
                    "type": "string"
                  },
                  "allow_shared_folder": {
                    "type": "boolean",
                    "default": false
                  },
                  "autorename": {
                    "type": "boolean",
                    "default": false
                  },
                  "allow_ownership_transfer": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Metadata of moved item",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metadata": {
                      "$ref": "#/components/schemas/Metadata"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/copy_batch_v2": {
      "post": {
        "operationId": "filesCopyBatchV2",
        "summary": "Copy multiple files or folders",
        "description": "Copy multiple files or folders to different locations at once in the user's Dropbox.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "entries"
                ],
                "properties": {
                  "entries": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "from_path": {
                          "type": "string"
                        },
                        "to_path": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "autorename": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Async job ID or complete result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/move_batch_v2": {
      "post": {
        "operationId": "filesMoveBatchV2",
        "summary": "Move multiple files or folders",
        "description": "Move multiple files or folders to different locations at once.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "entries"
                ],
                "properties": {
                  "entries": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "from_path": {
                          "type": "string"
                        },
                        "to_path": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "autorename": {
                    "type": "boolean",
                    "default": false
                  },
                  "allow_ownership_transfer": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Async job ID or complete result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/delete_batch": {
      "post": {
        "operationId": "filesDeleteBatch",
        "summary": "Delete multiple files or folders",
        "description": "Delete multiple files/folders at once.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "entries"
                ],
                "properties": {
                  "entries": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "path"
                      ],
                      "properties": {
                        "path": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Async job ID or complete result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/get_temporary_link": {
      "post": {
        "operationId": "filesGetTemporaryLink",
        "summary": "Get a temporary link",
        "description": "Get a temporary link to stream content of a file. The link expires after four hours.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "path"
                ],
                "properties": {
                  "path": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Temporary link",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metadata": {
                      "$ref": "#/components/schemas/FileMetadata"
                    },
                    "link": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/get_temporary_upload_link": {
      "post": {
        "operationId": "filesGetTemporaryUploadLink",
        "summary": "Get a temporary upload link",
        "description": "Get a one-time use temporary upload link to upload a file to a Dropbox location.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "commit_info"
                ],
                "properties": {
                  "commit_info": {
                    "type": "object",
                    "required": [
                      "path"
                    ],
                    "properties": {
                      "path": {
                        "type": "string"
                      },
                      "mode": {
                        "type": "string",
                        "enum": [
                          "add",
                          "overwrite",
                          "update"
                        ]
                      },
                      "autorename": {
                        "type": "boolean"
                      },
                      "mute": {
                        "type": "boolean"
                      }
                    }
                  },
                  "duration": {
                    "type": "number",
                    "default": 14400
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Temporary upload link",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/list_revisions": {
      "post": {
        "operationId": "filesListRevisions",
        "summary": "List file revisions",
        "description": "Returns revisions for files based on a file path or a file id.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "path"
                ],
                "properties": {
                  "path": {
                    "type": "string"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "path",
                      "id"
                    ]
                  },
                  "limit": {
                    "type": "integer",
                    "default": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File revisions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_deleted": {
                      "type": "boolean"
                    },
                    "entries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FileMetadata"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/restore": {
      "post": {
        "operationId": "filesRestore",
        "summary": "Restore a file",
        "description": "Restore a specific revision of a file to the given path.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "path",
                  "rev"
                ],
                "properties": {
                  "path": {
                    "type": "string"
                  },
                  "rev": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Restored file metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/save_url": {
      "post": {
        "operationId": "filesSaveUrl",
        "summary": "Save a URL to a file",
        "description": "Save the data from a specified URL into a file in user's Dropbox.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "path",
                  "url"
                ],
                "properties": {
                  "path": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Async job ID or complete result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/save_url/check_job_status": {
      "post": {
        "operationId": "filesSaveUrlCheckJobStatus",
        "summary": "Check save URL job status",
        "description": "Check the status of a save_url job.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "async_job_id"
                ],
                "properties": {
                  "async_job_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/lock_file_batch": {
      "post": {
        "operationId": "filesLockFileBatch",
        "summary": "Lock files",
        "description": "Lock the files at the given paths.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "entries"
                ],
                "properties": {
                  "entries": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "path"
                      ],
                      "properties": {
                        "path": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lock results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/unlock_file_batch": {
      "post": {
        "operationId": "filesUnlockFileBatch",
        "summary": "Unlock files",
        "description": "Unlock the files at the given paths.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "entries"
                ],
                "properties": {
                  "entries": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "path"
                      ],
                      "properties": {
                        "path": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unlock results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/get_file_lock_batch": {
      "post": {
        "operationId": "filesGetFileLockBatch",
        "summary": "Get file locks",
        "description": "Return the lock metadata for the given list of paths.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "entries"
                ],
                "properties": {
                  "entries": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "path"
                      ],
                      "properties": {
                        "path": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File lock metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/tags/add": {
      "post": {
        "operationId": "filesTagsAdd",
        "summary": "Add a tag to a file",
        "description": "Add a tag to an item.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "path",
                  "tag_text"
                ],
                "properties": {
                  "path": {
                    "type": "string"
                  },
                  "tag_text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/tags/remove": {
      "post": {
        "operationId": "filesTagsRemove",
        "summary": "Remove a tag from a file",
        "description": "Remove a tag from an item.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "path",
                  "tag_text"
                ],
                "properties": {
                  "path": {
                    "type": "string"
                  },
                  "tag_text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/tags/get": {
      "post": {
        "operationId": "filesTagsGet",
        "summary": "Get tags for paths",
        "description": "Get list of tags assigned to items.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "paths"
                ],
                "properties": {
                  "paths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags for paths",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/upload_session/start": {
      "post": {
        "operationId": "filesUploadSessionStart",
        "summary": "Start upload session",
        "description": "Upload sessions allow you to upload a single file in one or more requests. Start a new upload session.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload session ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/upload_session/append_v2": {
      "post": {
        "operationId": "filesUploadSessionAppendV2",
        "summary": "Append to upload session",
        "description": "Append more data to an upload session.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/upload_session/finish": {
      "post": {
        "operationId": "filesUploadSessionFinish",
        "summary": "Finish upload session",
        "description": "Finish an upload session and save the uploaded data to the given file path.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/files/upload_session/finish_batch_v2": {
      "post": {
        "operationId": "filesUploadSessionFinishBatchV2",
        "summary": "Finish batch upload session",
        "description": "Finish multiple upload sessions at once. Allows up to 1000 entries.",
        "tags": [
          "files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "entries"
                ],
                "properties": {
                  "entries": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch result or async job ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/sharing/create_shared_link_with_settings": {
      "post": {
        "operationId": "sharingCreateSharedLinkWithSettings",
        "summary": "Create a shared link",
        "description": "Create a shared link with custom settings.",
        "tags": [
          "sharing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "path"
                ],
                "properties": {
                  "path": {
                    "type": "string"
                  },
                  "settings": {
                    "type": "object",
                    "properties": {
                      "requested_visibility": {
                        "type": "string",
                        "enum": [
                          "public",
                          "team_only",
                          "password"
                        ]
                      },
                      "link_password": {
                        "type": "string"
                      },
                      "expires": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "audience": {
                        "type": "string"
                      },
                      "access": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shared link metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharedLinkMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/sharing/list_shared_links": {
      "post": {
        "operationId": "sharingListSharedLinks",
        "summary": "List shared links",
        "description": "List shared links of this user. If no path is given, returns all shared links.",
        "tags": [
          "sharing"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "path": {
                    "type": "string"
                  },
                  "cursor": {
                    "type": "string"
                  },
                  "direct_only": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shared links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SharedLinkMetadata"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "cursor": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/sharing/modify_shared_link_settings": {
      "post": {
        "operationId": "sharingModifySharedLinkSettings",
        "summary": "Modify shared link settings",
        "description": "Modify the settings of an existing shared link.",
        "tags": [
          "sharing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url",
                  "settings"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "settings": {
                    "type": "object"
                  },
                  "remove_expiration": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated shared link metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/sharing/get_shared_link_metadata": {
      "post": {
        "operationId": "sharingGetSharedLinkMetadata",
        "summary": "Get shared link metadata",
        "description": "Get the shared link's metadata.",
        "tags": [
          "sharing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "path": {
                    "type": "string"
                  },
                  "link_password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shared link metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharedLinkMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/sharing/revoke_shared_link": {
      "post": {
        "operationId": "sharingRevokeSharedLink",
        "summary": "Revoke a shared link",
        "description": "Revoke a shared link.",
        "tags": [
          "sharing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success (void)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/sharing/share_folder": {
      "post": {
        "operationId": "sharingShareFolder",
        "summary": "Share a folder",
        "description": "Share a folder with collaborators.",
        "tags": [
          "sharing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "path"
                ],
                "properties": {
                  "path": {
                    "type": "string"
                  },
                  "acl_update_policy": {
                    "type": "string",
                    "enum": [
                      "owner",
                      "editors"
                    ]
                  },
                  "force_async": {
                    "type": "boolean",
                    "default": false
                  },
                  "member_policy": {
                    "type": "string",
                    "enum": [
                      "team",
                      "anyone"
                    ]
                  },
                  "shared_link_policy": {
                    "type": "string",
                    "enum": [
                      "anyone",
                      "team",
                      "members"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shared folder metadata or async job ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/sharing/add_folder_member": {
      "post": {
        "operationId": "sharingAddFolderMember",
        "summary": "Add folder member",
        "description": "Allows an owner or editor of a shared folder to add another member.",
        "tags": [
          "sharing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "shared_folder_id",
                  "members"
                ],
                "properties": {
                  "shared_folder_id": {
                    "type": "string"
                  },
                  "members": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "member": {
                          "type": "object"
                        },
                        "access_level": {
                          "type": "string",
                          "enum": [
                            "owner",
                            "editor",
                            "viewer",
                            "viewer_no_comment"
                          ]
                        }
                      }
                    }
                  },
                  "quiet": {
                    "type": "boolean",
                    "default": false
                  },
                  "custom_message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success (void)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/sharing/remove_folder_member": {
      "post": {
        "operationId": "sharingRemoveFolderMember",
        "summary": "Remove folder member",
        "description": "Allows an owner or editor to remove another member from a shared folder.",
        "tags": [
          "sharing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "shared_folder_id",
                  "member",
                  "leave_a_copy"
                ],
                "properties": {
                  "shared_folder_id": {
                    "type": "string"
                  },
                  "member": {
                    "type": "object"
                  },
                  "leave_a_copy": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Async job ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/sharing/list_folders": {
      "post": {
        "operationId": "sharingListFolders",
        "summary": "List shared folders",
        "description": "Return the list of all shared folders the current user has access to.",
        "tags": [
          "sharing"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "default": 1000
                  },
                  "actions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of shared folders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/sharing/list_folders/continue": {
      "post": {
        "operationId": "sharingListFoldersContinue",
        "summary": "Continue listing shared folders",
        "tags": [
          "sharing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cursor"
                ],
                "properties": {
                  "cursor": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Continued list of shared folders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/sharing/list_folder_members": {
      "post": {
        "operationId": "sharingListFolderMembers",
        "summary": "List shared folder members",
        "description": "Returns shared folder membership.",
        "tags": [
          "sharing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "shared_folder_id"
                ],
                "properties": {
                  "shared_folder_id": {
                    "type": "string"
                  },
                  "actions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "limit": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shared folder members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/sharing/list_file_members": {
      "post": {
        "operationId": "sharingListFileMembers",
        "summary": "List file members",
        "description": "Use to obtain the members who have been invited to a file, both inherited and uninherited members.",
        "tags": [
          "sharing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string"
                  },
                  "actions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "include_inherited": {
                    "type": "boolean",
                    "default": true
                  },
                  "limit": {
                    "type": "integer",
                    "default": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/sharing/add_file_member": {
      "post": {
        "operationId": "sharingAddFileMember",
        "summary": "Add file member",
        "description": "Adds specified members to a file.",
        "tags": [
          "sharing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "file",
                  "members"
                ],
                "properties": {
                  "file": {
                    "type": "string"
                  },
                  "members": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "custom_message": {
                    "type": "string"
                  },
                  "quiet": {
                    "type": "boolean",
                    "default": false
                  },
                  "access_level": {
                    "type": "string",
                    "enum": [
                      "viewer",
                      "viewer_no_comment",
                      "editor"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of file member action results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/sharing/list_received_files": {
      "post": {
        "operationId": "sharingListReceivedFiles",
        "summary": "List received files",
        "description": "Returns a list of all files shared with the current user.",
        "tags": [
          "sharing"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "default": 100
                  },
                  "actions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of received files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/sharing/list_received_files/continue": {
      "post": {
        "operationId": "sharingListReceivedFilesContinue",
        "summary": "Continue listing received files",
        "tags": [
          "sharing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cursor"
                ],
                "properties": {
                  "cursor": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Continued list of received files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/sharing/mount_folder": {
      "post": {
        "operationId": "sharingMountFolder",
        "summary": "Mount a shared folder",
        "description": "The current user mounts the designated folder to their Dropbox.",
        "tags": [
          "sharing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "shared_folder_id"
                ],
                "properties": {
                  "shared_folder_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shared folder metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/sharing/unmount_folder": {
      "post": {
        "operationId": "sharingUnmountFolder",
        "summary": "Unmount a shared folder",
        "description": "The current user unmounts the designated folder.",
        "tags": [
          "sharing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "shared_folder_id"
                ],
                "properties": {
                  "shared_folder_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success (void)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/2/sharing/update_folder_policy": {
      "post": {
        "operationId": "sharingUpdateFolderPolicy",
        "summary": "Update folder sharing policy",
        "description": "Update the sharing policies for a shared folder.",
        "tags": [
          "sharing"
[...]
