{
  "openapi": "3.0.0",
  "info": {
    "title": "GPX Account Api",
    "description": "All calls to the Logistimatics HTTPS API require an Authorization header with an API key.\n\nAs a rule, all dates are ISO8601 strings. Please note that depending on your HTTP client you may need to URL-encode these strings as they contain colons (`:`). All calls to devices can be made via the device's respective `id` field.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ikoolik/111/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.logistimatics.com/api"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Devices"
    },
    {
      "name": "Geofences"
    },
    {
      "name": "Shipments"
    },
    {
      "name": "Users"
    }
  ],
  "paths": {
    "/devices": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "/api/devices",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 15 Sep 2022 17:00:19 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": [
                  {
                    "id": 2,
                    "device_id": "00000-7640",
                    "name": "Ktrine's Mobile 200g (4G)",
                    "last_ping_at": "2022-09-05 23:59:58",
                    "battery_percentage": 98,
                    "last_position_at": "2022-09-05 23:59:58",
                    "latitude": 33.965537,
                    "longitude": -118.3017273,
                    "address": "1439 W 81st St, Los Angeles, CA 90047",
                    "mileage": null,
                    "speed": null,
                    "accuracy": 731000
                  },
                  {
                    "id": 3,
                    "device_id": "00000-2903",
                    "name": "Slma's Micro 299",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 4,
                    "device_id": "00000-6183",
                    "name": "Crawford's Asset 340",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 5,
                    "device_id": "00000-4305",
                    "name": "Cristian's Micro 430",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 6,
                    "device_id": "00000-8570",
                    "name": "Arden's Wired 425",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 8,
                    "device_id": "00000-5622",
                    "name": "Pinkie's Mobile 310",
                    "last_ping_at": "2022-09-05 23:59:59",
                    "battery_percentage": 100,
                    "last_position_at": "2022-09-05 23:59:59",
                    "latitude": 33.7120777777778,
                    "longitude": -84.3784355555556,
                    "address": "295 Margaret Street Southeast, Atlanta, GA 30315",
                    "mileage": null,
                    "speed": 0,
                    "accuracy": null
                  },
                  {
                    "id": 9,
                    "device_id": "00000-35263",
                    "name": "Luke: 00000-35263",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 10,
                    "device_id": "00000-224964",
                    "name": "Luke: 224964",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 11,
                    "device_id": "00000-219302",
                    "name": "Luke: 219302",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 12,
                    "device_id": "00000-215259",
                    "name": "Luke: 215259",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 13,
                    "device_id": "00000-212249",
                    "name": "Luke: 212249",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 14,
                    "device_id": "00000-186873",
                    "name": "Luke: 186873",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 20,
                    "device_id": "00000-",
                    "name": "Mobile-200 | 4G GPS Tracker with Live Audio Monitoring",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 21,
                    "device_id": "00000-26356",
                    "name": "Testing Device",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 22,
                    "device_id": "00000-",
                    "name": "Mobile-200 | 4G GPS Tracker with Live Audio Monitoring",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 23,
                    "device_id": "00000-",
                    "name": "Mobile-200 | 4G GPS Tracker with Live Audio Monitoring",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 25,
                    "device_id": "00000-21434232",
                    "name": "Marko's new test device",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 27,
                    "device_id": "00000-124124512412412412",
                    "name": "Mobile 200 Test Ivan",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 28,
                    "device_id": "00000-",
                    "name": "Mobile-200 | 4G GPS Tracker with Live Audio Monitoring",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 29,
                    "device_id": "00000-",
                    "name": "Pocket Tracker | Small GPS Tracker | 4G Personal Tracking Device",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 30,
                    "device_id": "00000-",
                    "name": "Mobile-200 | 4G GPS Tracker with Live Audio Monitoring",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 31,
                    "device_id": "00000-",
                    "name": "Pocket Tracker | Small GPS Tracker | 4G Personal Tracking Device",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 34,
                    "device_id": "00000-",
                    "name": "Mobile-200 | 4G GPS Tracker with Live Audio Monitoring",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 35,
                    "device_id": "00000-",
                    "name": "Mobile-200 | 4G GPS Tracker with Live Audio Monitoring",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 36,
                    "device_id": "00000-",
                    "name": "Mobile-200 | 4G GPS Tracker with Live Audio Monitoring",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 37,
                    "device_id": "00000-",
                    "name": "Mobile-200 | 4G GPS Tracker with Live Audio Monitoring",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 38,
                    "device_id": "00000-",
                    "name": "Mobile-200 | 4G GPS Tracker with Live Audio Monitoring",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 39,
                    "device_id": "00000-",
                    "name": "Mobile-200 | 4G GPS Tracker with Live Audio Monitoring",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 40,
                    "device_id": "00000-1231231231",
                    "name": "Mobile-200 | 4G GPS Tracker with Live Audio Monitoring",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 45,
                    "device_id": "00000-",
                    "name": "Mobile-200 | 4G GPS Tracker with Live Audio Monitoring",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 47,
                    "device_id": "00000-238748",
                    "name": "Device 1",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 217205,
                    "device_id": "00000-1100000",
                    "name": "1100000",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 217239,
                    "device_id": "00000-",
                    "name": "Mobile-200 | 4G GPS Tracker with Live Audio Monitoring",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 217253,
                    "device_id": "00000-",
                    "name": "Micro-431 Shipment Tracker",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 217254,
                    "device_id": "00000-",
                    "name": "Micro-431 Shipment Tracker",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 217260,
                    "device_id": "00000-300004",
                    "name": "300004",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 217261,
                    "device_id": "00000-300005",
                    "name": "300005",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 217265,
                    "device_id": "00000-",
                    "name": "Micro-431 Shipment Tracker",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 217266,
                    "device_id": "00000-",
                    "name": "Mobile-200 | 4G GPS Tracker with Live Audio Monitoring",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 217267,
                    "device_id": "00000-",
                    "name": "Mobile-200 | 4G GPS Tracker with Live Audio Monitoring",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 217268,
                    "device_id": "00000-",
                    "name": "Mobile-200 | 4G GPS Tracker with Live Audio Monitoring",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  },
                  {
                    "id": 217269,
                    "device_id": "00000-",
                    "name": "Mobile-200 | 4G GPS Tracker with Live Audio Monitoring",
                    "last_ping_at": null,
                    "battery_percentage": null,
                    "last_position_at": null,
                    "latitude": null,
                    "longitude": null,
                    "address": null,
                    "mileage": null,
                    "speed": null,
                    "accuracy": null
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 30 Aug 2022 18:08:27 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "Unauthenticated.",
                  "debug": {
                    "database": {
                      "total": 0,
                      "items": []
                    },
                    "cache": {
                      "hit": {
                        "keys": [],
                        "total": 0
                      },
                      "miss": {
                        "keys": [
                          "telescope:dump-watcher",
                          "telescope:pause-recording"
                        ],
                        "total": 2
                      },
                      "write": {
                        "keys": [],
                        "total": 0
                      },
                      "forget": {
                        "keys": [],
                        "total": 0
                      }
                    },
                    "profiling": [
                      {
                        "event": "request-time",
                        "time": 0.10403108596801758
                      }
                    ],
                    "memory": {
                      "usage": 23993048,
                      "peak": 24037032
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/device/{id}": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "/api/device/:id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "example": "2"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 15 Sep 2022 17:00:01 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": 2,
                  "device_id": "00000-7640",
                  "name": "Ktrine's Mobile 200g (4G)",
                  "last_ping_at": "2022-09-05 23:59:58",
                  "battery_percentage": 98,
                  "last_position_at": "2022-09-05 23:59:58",
                  "latitude": 33.965537,
                  "longitude": -118.3017273,
                  "address": "1439 W 81st St, Los Angeles, CA 90047",
                  "mileage": null,
                  "speed": null,
                  "accuracy": 731000
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Devices"
        ],
        "summary": "/api/device/:id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "meta": {
                    "test": "abc",
                    "anothertest": "value"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "example": "2"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 15 Sep 2022 17:00:25 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true
                }
              }
            }
          }
        }
      }
    },
    "/device/{id}/positions": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "/api/device/:id/positions",
        "parameters": [
          {
            "name": "start_at",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2022-08-16T00:00:00-05:00"
          },
          {
            "name": "end_at",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2022-09-17T00:00:00-05:00"
          },
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "example": "2"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 15 Sep 2022 17:01:09 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": [
                  {
                    "latitude": 33.965537,
                    "longitude": -118.3017273,
                    "address": "1439 W 81st St, Los Angeles, CA 90047",
                    "accuracy": 731000,
                    "timestamp": "2022-09-05T00:00:01+00:00",
                    "fix": "cell",
                    "battery_percentage": 96
                  },
                  {
                    "latitude": 33.965537,
                    "longitude": -118.3017273,
                    "address": "1439 W 81st St, Los Angeles, CA 90047",
                    "accuracy": 731000,
                    "timestamp": "2022-09-05T01:39:00+00:00",
                    "fix": "cell",
                    "battery_percentage": 96
                  },
                  {
                    "latitude": 33.965537,
                    "longitude": -118.3017273,
                    "address": "1439 W 81st St, Los Angeles, CA 90047",
                    "accuracy": 731000,
                    "timestamp": "2022-09-05T05:18:44+00:00",
                    "fix": "cell",
                    "battery_percentage": 96
                  },
                  {
                    "latitude": 33.965537,
                    "longitude": -118.3017273,
                    "address": "1439 W 81st St, Los Angeles, CA 90047",
                    "accuracy": 731000,
                    "timestamp": "2022-09-05T08:32:20+00:00",
                    "fix": "cell",
                    "battery_percentage": 97
                  },
                  {
                    "latitude": 33.965537,
                    "longitude": -118.3017273,
                    "address": "1439 W 81st St, Los Angeles, CA 90047",
                    "accuracy": 731000,
                    "timestamp": "2022-09-05T11:22:48+00:00",
                    "fix": "cell",
                    "battery_percentage": 97
                  },
                  {
                    "latitude": 33.965537,
                    "longitude": -118.3017273,
                    "address": "1439 W 81st St, Los Angeles, CA 90047",
                    "accuracy": 731000,
                    "timestamp": "2022-09-05T14:05:32+00:00",
                    "fix": "cell",
                    "battery_percentage": 97
                  },
                  {
                    "latitude": 33.965537,
                    "longitude": -118.3017273,
                    "address": "1439 W 81st St, Los Angeles, CA 90047",
                    "accuracy": 731000,
                    "timestamp": "2022-09-05T16:43:54+00:00",
                    "fix": "cell",
                    "battery_percentage": 97
                  },
                  {
                    "latitude": 33.965537,
                    "longitude": -118.3017273,
                    "address": "1439 W 81st St, Los Angeles, CA 90047",
                    "accuracy": 731000,
                    "timestamp": "2022-09-05T20:59:54+00:00",
                    "fix": "cell",
                    "battery_percentage": 99
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/device/{id}/events": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "/api/device/:id/event",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "created_at_before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2022-08-17T11:27:14-05:00"
          },
          {
            "name": "created_at_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2022-08-17T11:27:14-05:00"
          },
          {
            "name": "event_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "geofence"
          },
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "example": "2"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 15 Sep 2022 17:04:11 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": [
                  {
                    "id": 4,
                    "event_type": "geofence-exit",
                    "description": "Henri's Wired 300 Exited Home",
                    "created_at": "2022-09-07T11:35:13+00:00",
                    "geofence": {
                      "id": 1,
                      "name": null,
                      "latitude": null,
                      "longitude": null,
                      "address": null,
                      "radius": null
                    },
                    "device": {
                      "id": 1,
                      "name": "Henri's Wired 300",
                      "serial": "5231"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/device/{id}/commands": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "/api/device/:id/commands",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "example": "2"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 15 Sep 2022 15:02:26 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": [
                  {
                    "id": 2,
                    "status": "QUEUED",
                    "created_at": "2022-09-07T11:35:13+00:00",
                    "updated_at": "2022-09-07T11:35:13+00:00",
                    "message": "\"{\"\"MODE,1,30,0#\"\"}\"",
                    "translation": "\"{\"\"MODE,1,30,0#\"\"}\"",
                    "response": null
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/device/{id}/command": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "/api/device/:id/command",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "command": {
                    "type": "string",
                    "example": "{CHECKPHONE*123456}"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "example": "2"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 15 Sep 2022 17:05:24 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": "4238c7bd-e93d-4974-821f-738f4c81359a",
                  "status": "queued",
                  "created_at": "2020-02-18T19:56:26.017Z"
                }
              }
            }
          }
        }
      }
    },
    "/device/{id}/sensor": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "/api/device/:id/sensor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "example": "2"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 15 Sep 2022 17:06:09 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "timestamp": "2022-09-05 23:59:58",
                  "position": {
                    "speed": null,
                    "address": "1439 W 81st St, Los Angeles, CA 90047",
                    "fixTime": "2022-09-05 23:59:58",
                    "accuracy": 731000,
                    "altitude": null,
                    "latitude": 33.965537,
                    "longitude": -118.3017273
                  },
                  "status": {
                    "moving": false,
                    "powerOn": true,
                    "charging": false,
                    "overspeed": false,
                    "airplaneMode": null,
                    "geofenceExit": false,
                    "geofenceEnter": false,
                    "batteryPercentage": 98
                  }
                }
              }
            }
          }
        }
      }
    },
    "/geofences": {
      "get": {
        "tags": [
          "Geofences"
        ],
        "summary": "/api/geofences",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 07 Sep 2022 21:56:01 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": [
                  {
                    "id": 227,
                    "name": "A new geofence",
                    "address": "111 West Lewis St, Greensboro, NC 27406",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 228,
                    "name": "Skyline-GSO",
                    "address": "",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 229,
                    "name": "Skyline-LAS",
                    "address": "",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 230,
                    "name": "Las Vegas Convention Center",
                    "address": "",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 231,
                    "name": "Orange County Convention Center",
                    "address": "",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 232,
                    "name": "Jacob Javits Convention Center",
                    "address": "",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 233,
                    "name": "New Orleans Advance Warehouse",
                    "address": "",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 234,
                    "name": "Woods Home",
                    "address": "",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 235,
                    "name": "Woods Ardmore",
                    "address": "725 Ardmore Dr., Durham, NC",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 236,
                    "name": "Kinyon Work",
                    "address": "6221 S Claiborne Ave, New Orleans, LA 70125",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 237,
                    "name": "Moody Home",
                    "address": "2699 Twiggs Circle SE Marietta, GA 30067",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 238,
                    "name": "Shop",
                    "address": "",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 239,
                    "name": "Shop",
                    "address": "",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 240,
                    "name": "Cameron Home",
                    "address": "6007 Crystal Spring Ct, Greensboro, NC 27410",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 241,
                    "name": "Butler Fence",
                    "address": "11623 W Farm Rd 188, Billings, MO 65610",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 242,
                    "name": "Rodney Cox Construction",
                    "address": "1209 Main St. Conway, SC 29526",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 243,
                    "name": "Pastora Home",
                    "address": "54 Walnut Rd, Amityville, NY 11701",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 244,
                    "name": "Pastora Annanias and Clark",
                    "address": "East Patchogue",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 245,
                    "name": "Criado Work",
                    "address": "2211 South Interstate 35 Frontage Road, Austin, TX",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 246,
                    "name": "Hall Home",
                    "address": "34 Boyle Ave, Cumberland, RI 02864",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 247,
                    "name": "Bartley Home",
                    "address": "305 E 11th St, Lumberton, NC 28358",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 248,
                    "name": "Culver Home",
                    "address": "13305 Hwy 76, Stanton, TN 38069",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 249,
                    "name": "GR8 Construction",
                    "address": "2002 San Sebastian Court, Houston, TX 77058",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 250,
                    "name": "Tucker Home",
                    "address": "18054 Tulsa St, Granada Hills, CA 91344",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 251,
                    "name": "Woods Barnsley",
                    "address": "3004 Barnsley Trail, Raleigh, NC 27604",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 252,
                    "name": "Headley Home",
                    "address": "4754 East Edgerton Parks Road, Palmer, AK 99645",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 253,
                    "name": "Dee",
                    "address": "5670 greens drive ",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 255,
                    "name": "Grammer - Technology Drive",
                    "address": "1975 Technology Dr, Building J, Troy, MI 48083",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 256,
                    "name": "MerrillProject",
                    "address": "",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 257,
                    "name": "Ottmer",
                    "address": "12911 US Hwy 59 N Queen City, TX 75572",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 258,
                    "name": "Hall Home 2",
                    "address": "",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 263,
                    "name": "Brendan's house",
                    "address": "1201 Grayland St, Greensboro, NC, USA",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 264,
                    "name": "Brownsville Cargo Services",
                    "address": "Gavin Road, Laredo, TX, USA",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 265,
                    "name": "Santiago de Queretaro",
                    "address": "Santiago de Quer\u00e9taro, Queretaro, Mexico",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 266,
                    "name": "Avil  Job Site",
                    "address": "2343 Edwin, Hamtramck, MI, USA",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 269,
                    "name": "Transplace",
                    "address": "333 North Greene St, Greensboro, NC, USA",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 572,
                    "name": "Flywheel",
                    "address": "450 Design Avenue, Winston-Salem, NC, United States",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 574,
                    "name": "Winston",
                    "address": "450 Design Avenue, Winston-Salem, NC, United States",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  },
                  {
                    "id": 78591,
                    "name": "BMW",
                    "address": "1400 State Hwy 101, Greer, SC, USA",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/geofence/{id}": {
      "get": {
        "tags": [
          "Geofences"
        ],
        "summary": "/api/geofence/:id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "example": "7"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 07 Sep 2022 21:55:43 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": [
                  {
                    "id": 227,
                    "name": "A new geofence",
                    "address": "111 West Lewis St, Greensboro, NC 27406",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  }
                ]
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Geofences"
        ],
        "summary": "/api/geofence/:id",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "name"
                  },
                  "address": {
                    "type": "string",
                    "example": "742 Evergreen Terrace"
                  },
                  "alertable": {
                    "type": "integer",
                    "example": "1"
                  },
                  "irregular": {
                    "type": "integer",
                    "example": "1"
                  },
                  "latitude": {
                    "type": "number",
                    "example": "-90"
                  },
                  "longitude": {
                    "type": "integer",
                    "example": "100"
                  },
                  "radius": {
                    "type": "integer",
                    "example": "10"
                  },
                  "geo_json": {
                    "type": "string",
                    "example": "{\"type\": \"Polygon\",\"coordinates\": [[[-100.670318,39.284178],[-100.640082,39.355407],[-100.608523,39.278745],[-100.459199,39.286952],[-100.580888,39.226502],[-100.493596,39.149129],[-100.653251,39.204917],[-100.767905,39.153711],[-100.713397,39.252922],[-100.789706,39.30863],[-100.670318,39.284178]]]}"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "example": "7"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 07 Sep 2022 21:55:22 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Geofences"
        ],
        "summary": "/api/geofence/:id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "example": "227"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 07 Sep 2022 21:55:22 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true
                }
              }
            }
          }
        }
      }
    },
    "/geofence": {
      "post": {
        "tags": [
          "Geofences"
        ],
        "summary": "/api/geofence",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "name"
                  },
                  "address": {
                    "type": "string",
                    "example": "742 Evergreen Terrace"
                  },
                  "alertable": {
                    "type": "integer",
                    "example": "1"
                  },
                  "irregular": {
                    "type": "integer",
                    "example": "0"
                  },
                  "latitude": {
                    "type": "number",
                    "example": "-90"
                  },
                  "longitude": {
                    "type": "integer",
                    "example": "100"
                  },
                  "radius": {
                    "type": "integer",
                    "example": "10"
                  },
                  "geo_json": {
                    "type": "string",
                    "example": "{\"type\": \"Polygon\",\"coordinates\": [[[-100.670318,39.284178],[-100.640082,39.355407],[-100.608523,39.278745],[-100.459199,39.286952],[-100.580888,39.226502],[-100.493596,39.149129],[-100.653251,39.204917],[-100.767905,39.153711],[-100.713397,39.252922],[-100.789706,39.30863],[-100.670318,39.284178]]]}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 07 Sep 2022 21:55:43 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": "true"
                }
              }
            }
          }
        }
      }
    },
    "/shipments": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "/api/shipments",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 07 Sep 2022 21:56:01 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": [
                  {
                    "id": 227,
                    "name": "Shipment name",
                    "start_at": "2022-09-07T11:35:13+00:00",
                    "end_at": "2022-09-07T15:35:13+00:00",
                    "eta": "2022-09-07T15:35:13+00:00",
                    "eta_updated_at": "2022-09-07T11:35:13+00:00",
                    "ended_at": "2022-09-07T15:35:13+00:00",
                    "meta": {},
                    "status": "Completed",
                    "notify_before": "2022-09-07T15:35:13+00:00",
                    "device": {
                      "id": 1,
                      "device_id": 1,
                      "name": "Device name"
                    },
                    "start_location": {
                      "name": "Address name",
                      "latitude": 0,
                      "longitude": 0,
                      "radius": 1
                    },
                    "link_to": 1,
                    "end_location": {
                      "name": "Address name",
                      "latitude": 0,
                      "longitude": 0,
                      "radius": 1
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Shipments"
        ],
        "summary": "/api/shipments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "name": "Shipment created with API",
                  "start_at": "2020-01-08T11:27:14-05:00",
                  "end_at": "2020-01-16T11:27:26-05:00",
                  "link_to": [
                    1
                  ],
                  "begin_location": {
                    "type": "Feature",
                    "geometry": {
                      "type": "Point",
                      "coordinates": [
                        125.6,
                        10.1
                      ]
                    },
                    "properties": {
                      "name": "Logistimatics Office",
                      "address": "1004 N Elm St, Greensboro, NC 27401"
                    }
                  },
                  "end_location": {
                    "type": "Feature",
                    "geometry": {
                      "type": "Point",
                      "coordinates": [
                        125.6,
                        10.1
                      ]
                    },
                    "properties": {
                      "name": "Logistimatics Office",
                      "address": "1004 N Elm St, Greensboro, NC 27401"
                    }
                  },
                  "notify_before": 1,
                  "emails": [
                    "test@logistimatics.com"
                  ],
                  "phone_numbers": [
                    "+13366631583"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 16 Sep 2022 15:27:41 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": 14193
                }
              }
            }
          }
        }
      }
    },
    "/shipments/{id}": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "/api/shipments/:id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "example": "48"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 07 Sep 2022 21:55:43 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": [
                  {
                    "id": 227,
                    "name": "Shipment name",
                    "start_at": "2022-09-07T11:35:13+00:00",
                    "end_at": "2022-09-07T15:35:13+00:00",
                    "eta": "2022-09-07T15:35:13+00:00",
                    "eta_updated_at": "2022-09-07T11:35:13+00:00",
                    "ended_at": "2022-09-07T15:35:13+00:00",
                    "meta": {},
                    "status": "Completed",
                    "notify_before": "2022-09-07T15:35:13+00:00",
                    "device": {
                      "id": 1,
                      "device_id": 1,
                      "name": "Device name"
                    },
                    "start_location": {
                      "name": "Address name",
                      "latitude": 0,
                      "longitude": 0,
                      "radius": 1
                    },
                    "link_to": 1,
                    "end_location": {
                      "name": "Address name",
                      "latitude": 0,
                      "longitude": 0,
                      "radius": 1
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/shipment/{id}": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "summary": "/api/shipment/:id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "name": "Shipment created with API",
                  "start_at": "2020-01-08T11:27:14-05:00",
                  "end_at": "2020-01-16T11:27:26-05:00",
                  "link_to": [
                    1
                  ],
                  "begin_location": {
                    "type": "Feature",
                    "geometry": {
                      "type": "Point",
                      "coordinates": [
                        125.6,
                        10.1
                      ]
                    },
                    "properties": {
                      "name": "Logistimatics Office",
                      "address": "1004 N Elm St, Greensboro, NC 27401"
                    }
                  },
                  "end_location": {
                    "type": "Feature",
                    "geometry": {
                      "type": "Point",
                      "coordinates": [
                        125.6,
                        10.1
                      ]
                    },
                    "properties": {
                      "name": "Logistimatics Office",
                      "address": "1004 N Elm St, Greensboro, NC 27401"
                    }
                  },
                  "notify_before": 1,
                  "emails": [
                    "test@logistimatics.com"
                  ],
                  "phone_numbers": [
                    "+13366631583"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "example": "14192"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 16 Sep 2022 15:27:14 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": 14192
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Shipments"
        ],
        "summary": "/api/shipment/:id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 07 Sep 2022 21:55:43 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": [
                  {
                    "id": 227,
                    "name": "A new geofence",
                    "address": "111 West Lewis St, Greensboro, NC 27406",
                    "latitude": 0,
                    "longitude": 0,
                    "radius": 0,
                    "geojson": null,
                    "alerting": 1
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/shipment/{id}/event": {
      "put": {
        "tags": [
          "Shipments"
        ],
        "summary": "/api/shipment/:id/event",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "description": {
                    "type": "string",
                    "example": "test"
                  },
                  "event_type": {
                    "type": "string",
                    "description": "in:shipment-start,shipment-end,shipment-late,shipment-notification",
                    "example": "shipment-notification"
                  },
                  "event_at": {
                    "type": "string",
                    "example": "2022-08-17T00:00:00-05:00"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "example": "14189"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 15 Sep 2022 17:28:04 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": 5
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "/api/users",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.16.0"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "PHP/8.1.7"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 15 Sep 2022 17:06:19 GMT"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": [
                  {
                    "id": 1,
                    "name": "User",
                    "email": "user@user.com",
                    "phone": null
                  },
                  {
                    "id": 2,
                    "name": "John",
                    "email": "john@tests.inc",
                    "phone": null
                  },
                  {
                    "id": 3,
                    "name": "Karen",
                    "email": "karen@tests.inc",
                    "phone": null
                  },
                  {
                    "id": 4,
                    "name": "Amer",
                    "email": "amer@mayvenstudios.com",
                    "phone": null
                  },
                  {
                    "id": 5,
                    "name": "Connor",
                    "email": "connor@mayvenstudios.com",
                    "phone": null
                  },
                  {
                    "id": 6,
                    "name": "Daniel",
                    "email": "danielyankovskiy@mayvenstudios.com",
                    "phone": null
                  },
                  {
                    "id": 7,
                    "name": "Derek",
                    "email": "derek@mayvenstudios.com",
                    "phone": null
                  },
                  {
                    "id": 8,
                    "name": "Ivan",
                    "email": "ivan@mayvenstudios.com",
                    "phone": null
                  },
                  {
                    "id": 9,
                    "name": "Marko",
                    "email": "marko@mayvenstudios.com",
                    "phone": null
                  },
                  {
                    "id": 10,
                    "name": "Nikita",
                    "email": "nikita@mayvenstudios.com",
                    "phone": null
                  },
                  {
                    "id": 11,
                    "name": "Pablo",
                    "email": "pablo@mayvenstudios.com",
                    "phone": null
                  },
                  {
                    "id": 12,
                    "name": "Pavel",
                    "email": "pavel@mayvenstudios.com",
                    "phone": null
                  },
                  {
                    "id": 13,
                    "name": "Rupen",
                    "email": "rupen@mayvenstudios.com",
                    "phone": null
                  },
                  {
                    "id": 14,
                    "name": "Saroj",
                    "email": "saroj@mayvenstudios.com",
                    "phone": null
                  },
                  {
                    "id": 15,
                    "name": "Vitaly",
                    "email": "vitaly@mayvenstudios.com",
                    "phone": null
                  },
                  {
                    "id": 16,
                    "name": "Admin",
                    "email": "admin@admin.com",
                    "phone": null
                  },
                  {
                    "id": 17,
                    "name": "Selmir",
[...]
