{"openapi":"3.0.3","info":{"title":"Lightspeed Restaurant K-Series API","version":"1.0.0","description":"Lightspeed Restaurant K-Series API for managing items, menus, orders, staff, reservations, financials, and webhooks.","x-jentic-source-url":"https://api-docs.lsk.lightspeed.app/source.json"},"servers":[{"url":"https://api.trial.lsk.lightspeed.app","description":"Demo"},{"url":"https://api.lsk.lightspeed.app","description":"Production"}],"paths":{"/o/op/data/businesses":{"get":{"operationId":"listBusinesses","summary":"List businesses","tags":["Order and Pay"],"responses":{"200":{"description":"Business list"},"401":{"description":"Unauthorized"}}}},"/o/op/1/menu/list":{"get":{"operationId":"listMenus","summary":"List menus","tags":["Order and Pay"],"responses":{"200":{"description":"Menu list"},"401":{"description":"Unauthorized"}}}},"/o/op/1/menu/load/{menuId}":{"get":{"operationId":"getMenu","summary":"Get menu by ID","tags":["Order and Pay"],"parameters":[{"name":"menuId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Menu data"},"401":{"description":"Unauthorized"}}}},"/o/op/1/order/local":{"post":{"operationId":"createLocalOrder","summary":"Create dine-in order","tags":["Order and Pay"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Order created"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}}},"/o/op/1/order/to-go":{"post":{"operationId":"createToGoOrder","summary":"Create takeout order","tags":["Order and Pay"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Order created"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}}},"/rich-items":{"get":{"operationId":"listRichItems","summary":"List rich items","tags":["Rich Items"],"responses":{"200":{"description":"Item list"},"401":{"description":"Unauthorized"}}},"put":{"operationId":"createOrUpdateRichItem","summary":"Create or update rich item","tags":["Rich Items"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Item saved"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}}},"/rich-items/{sku}":{"get":{"operationId":"getRichItem","summary":"Get item by SKU","tags":["Rich Items"],"parameters":[{"name":"sku","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Item data"},"401":{"description":"Unauthorized"}}},"delete":{"operationId":"deleteRichItem","summary":"Delete item by SKU","tags":["Rich Items"],"parameters":[{"name":"sku","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted"},"401":{"description":"Unauthorized"}}}},"/shifts":{"get":{"operationId":"listShifts","summary":"List shifts","tags":["Staff"],"responses":{"200":{"description":"Shift list"},"401":{"description":"Unauthorized"}}}},"/pos-staff":{"get":{"operationId":"listPosStaff","summary":"List POS staff","tags":["Staff"],"responses":{"200":{"description":"Staff list"},"401":{"description":"Unauthorized"}}},"post":{"operationId":"createPosStaff","summary":"Create POS user","tags":["Staff"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"201":{"description":"Created"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}}},"/webhooks":{"get":{"operationId":"listWebhooks","summary":"List webhooks","tags":["Webhooks"],"responses":{"200":{"description":"Webhook list"},"401":{"description":"Unauthorized"}}},"post":{"operationId":"createWebhook","summary":"Create webhook","tags":["Webhooks"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"201":{"description":"Webhook created"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}}},"/webhooks/{id}":{"delete":{"operationId":"deleteWebhook","summary":"Delete webhook","tags":["Webhooks"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted"},"401":{"description":"Unauthorized"}}},"patch":{"operationId":"updateWebhook","summary":"Update webhook","tags":["Webhooks"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Updated"},"400":{"description":"Bad request"},"401":{"description":"Unauthorized"}}}},"/businesses":{"get":{"operationId":"listFinancialBusinesses","summary":"List businesses","tags":["Financial"],"responses":{"200":{"description":"Business list"},"401":{"description":"Unauthorized"}}}},"/tax-rates":{"get":{"operationId":"listTaxRates","summary":"List tax rates","tags":["Financial"],"responses":{"200":{"description":"Tax rate list"},"401":{"description":"Unauthorized"}}}},"/payment-methods":{"get":{"operationId":"listPaymentMethods","summary":"List payment methods","tags":["Financial"],"responses":{"200":{"description":"Payment method list"},"401":{"description":"Unauthorized"}}}},"/financials":{"get":{"operationId":"getFinancials","summary":"Get financial data","tags":["Financial"],"responses":{"200":{"description":"Financial data"},"401":{"description":"Unauthorized"}}}},"/sales":{"get":{"operationId":"getSales","summary":"Get sales data","tags":["Financial"],"responses":{"200":{"description":"Sales data"},"401":{"description":"Unauthorized"}}}},"/receipts/{reference}":{"get":{"operationId":"getReceipt","summary":"Get receipt","tags":["Financial"],"parameters":[{"name":"reference","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Receipt data"},"401":{"description":"Unauthorized"}}}}},"components":{"schemas":{"ErrorResponse":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}}},"security":[{"bearerAuth":[]}]}
