{
  "openapi": "3.0.3",
  "info": {
    "title": "Kaleyra SMS API",
    "version": "4.0.0",
    "description": "SMS messaging API for sending individual and batch SMS, checking delivery status, managing contacts and groups, and scheduling messages.",
    "x-jentic-source-url": "https://global.solutionsinfini.com/readme"
  },
  "servers": [
    {
      "url": "https://global.solutionsinfini.com/api/v4"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "sendSms",
        "summary": "Send SMS",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sms"
              ]
            }
          },
          {
            "name": "message",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sender",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SMS sent"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sms/status": {
      "get": {
        "operationId": "getSmsStatus",
        "summary": "Check SMS delivery status",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/credits": {
      "get": {
        "operationId": "checkCredits",
        "summary": "Check available credits",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit info"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/contacts": {
      "post": {
        "operationId": "addContact",
        "summary": "Add contact to group",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact added"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/group/sms": {
      "post": {
        "operationId": "sendGroupSms",
        "summary": "Send group SMS",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group SMS sent"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/schedule/delete": {
      "delete": {
        "operationId": "deleteSchedule",
        "summary": "Delete scheduled message",
        "tags": [
          "Scheduling"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}