{
  "openapi": "3.0.0",
  "info": {
    "title": "API documentation i\u2019way transfer",
    "description": "API documentation to external integration",
    "contact": {
      "name": "Technical Support Service",
      "email": "support@iway.ru"
    },
    "version": "3.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/iway.io/booking_api_ru/3.0.0/swagger.json"
  },
  "externalDocs": {
    "description": "Developer Guide",
    "url": "https://docs.google.com/document/d/1mmg5IsgU3SKlspNxdC70tfeuhkSg4i3QpPcsDBIxT4o"
  },
  "servers": [
    {
      "description": "Sandbox Enviroment",
      "url": "https://sandbox.iway.io/transnextgen/"
    }
  ],
  "tags": [
    {
      "name": "user",
      "description": "Users"
    },
    {
      "name": "place",
      "description": "Places"
    },
    {
      "name": "transport node",
      "description": "TransportNode"
    },
    {
      "name": "price",
      "description": "Prices"
    },
    {
      "name": "order",
      "description": "Orders"
    },
    {
      "name": "document",
      "description": "Documents"
    }
  ],
  "components": {
    "schemas": {
      "user_id": {
        "title": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f",
        "type": "integer",
        "example": 1863
      },
      "pickup_time": {
        "title": "\u0414\u0430\u0442\u0430 \u0438 \u0432\u0440\u0435\u043c\u044f \u043f\u043e\u0434\u0430\u0447\u0438 \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u044f",
        "type": "string",
        "example": "2021-08-21 12:00"
      },
      "start_place_id": {
        "title": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0442\u043e\u0447\u043a\u0438 \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u044f (\u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u0435\u043d \u0442\u043e\u043b\u044c\u043a\u043e \u043f\u0440\u0438 \u0437\u0430\u043a\u0430\u0437\u0435 \u0430\u0440\u0435\u043d\u0434\u044b)",
        "type": "integer",
        "example": 135
      },
      "password": {
        "title": "\u041f\u0430\u0440\u043e\u043b\u044c \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f",
        "type": "string",
        "format": "password",
        "example": "1830Voldemort"
      },
      "transaction": {
        "title": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0437\u0430\u043a\u0430\u0437\u0430. \u041e\u0431\u0449\u0438\u0439 \u0434\u043b\u044f \u0437\u0430\u043a\u0430\u0437\u0430 \u0438\u0437 \u043d\u0435\u0441\u043a\u043e\u043b\u044c\u043a\u0438\u0445 \u043f\u043e\u0435\u0437\u0434\u043e\u043a (\u043f\u043b\u0430\u0442\u0435\u0436\u043d\u0430\u044f \u0442\u0440\u0430\u043d\u0437\u0430\u043a\u0446\u0438\u044f)",
        "type": "integer",
        "example": 14565973
      },
      "pos": {
        "title": "\u0422\u043e\u0447\u043a\u0430 \u043f\u0440\u043e\u0434\u0430\u0436\u0438",
        "type": "string",
        "example": "\u0422\u0435\u0440\u043c\u0438\u043d\u0430\u043b \u043a\u0430\u0441\u0441\u044b S7 \u211614373"
      },
      "lang": {
        "title": "\u041b\u043e\u043a\u0430\u043b\u0438\u0437\u0430\u0446\u0438\u044f \u043e\u0436\u0438\u0434\u0430\u0435\u043c\u043e\u0433\u043e \u043e\u0442\u0432\u0435\u0442\u0430",
        "description": "\u041b\u043e\u043a\u0430\u043b\u0438\u0437\u0430\u0446\u0438\u044f \u043e\u0436\u0438\u0434\u0430\u0435\u043c\u043e\u0433\u043e \u043e\u0442\u0432\u0435\u0442\u0430\n`ru` - \u0420\u0443\u0441\u0441\u043a\u0438\u0439\n`en` - \u0410\u043d\u0433\u043b\u0438\u0439\u0441\u043a\u0438\u0439\n",
        "type": "string",
        "enum": [
          "ru",
          "en"
        ],
        "example": "ru",
        "default": "ru"
      },
      "currency": {
        "title": "\u0412\u0430\u043b\u044e\u0442\u0430 \u0446\u0435\u043d\u043e\u0432\u043e\u0433\u043e \u043f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u044f",
        "description": "\u0412\u0430\u043b\u044e\u0442\u0430 \u0446\u0435\u043d\u043e\u0432\u043e\u0433\u043e \u043f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u044f\n`RUB` - \u0420\u043e\u0441\u0441\u0438\u0439\u0441\u043a\u0438\u0439 \u0420\u0443\u0431\u043b\u044c\n`EUR` - \u0415\u0432\u0440\u043e\n`USD` - \u0410\u043c\u0435\u0440\u0438\u043a\u0430\u043d\u0441\u043a\u0438\u0439 \u0414\u043e\u043b\u043b\u0430\u0440\n`CNY` - \u042e\u0430\u043d\u044c \u0420\u0435\u043d\u043c\u0438\u043d\u0431\u0438\n`CZK` - \u0427\u0435\u0448\u0441\u043a\u0430\u044f \u041a\u0440\u043e\u043d\u0430\n`GBP` - \u0424\u0443\u043d\u0442 \u0421\u0442\u0435\u0440\u043b\u0438\u043d\u0433\u043e\u0432\n`INR` - \u0418\u043d\u0434\u0438\u0439\u0441\u043a\u0430\u044f \u0420\u0443\u043f\u0438\u044f\n`KZT` - \u0422\u0435\u043d\u0433\u0435\n`SGD` - \u0421\u0438\u043d\u0433\u0430\u043f\u0443\u0440\u0441\u043a\u0438\u0439 \u0414\u043e\u043b\u043b\u0430\u0440\n`TRY` - \u0422\u0443\u0440\u0435\u0446\u043a\u0430\u044f \u041b\u0438\u0440\u0430\n`UAH` - \u0413\u0440\u0438\u0432\u043d\u0430\n`ZAR` - \u0420\u044d\u043d\u0434\n`BYN` - \u0411\u0435\u043b\u043e\u0440\u0443\u0441\u0441\u043a\u0438\u0439 \u0440\u0443\u0431\u043b\u044c\n",
        "type": "string",
        "enum": [
          "RUB",
          "EUR",
          "USD",
          "CNY",
          "CZK",
          "GBP",
          "INR",
          "KZT",
          "SGD",
          "TRY",
          "UAH",
          "ZAR",
          "BYN"
        ],
        "example": "RUB",
        "default": "RUB"
      },
      "place_point": {
        "title": "\u041a\u043e\u043e\u0440\u0434\u0438\u043d\u0430\u0442\u044b \u0442\u043e\u0447\u043a\u0438 \u043c\u0430\u0440\u0448\u0440\u0443\u0442\u0430",
        "type": "string",
        "example": "55.00835259999999,82.9357327"
      },
      "relation_car_class_ids": {
        "title": "\u041e\u0433\u0440\u0430\u043d\u0438\u0447\u0435\u043d\u043d\u044b\u0435 \u043f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u044f",
        "type": "array",
        "items": {
          "type": "integer",
          "enum": [
            34,
            35
          ]
        }
      },
      "duration": {
        "title": "\u041f\u0440\u043e\u0434\u043e\u043b\u0436\u0438\u0442\u0435\u043b\u044c\u043d\u043e\u0441\u0442\u044c \u0430\u0440\u0435\u043d\u0434\u044b \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u044f (\u0432 \u0441\u0435\u043a\u0443\u043d\u0434\u0430\u0445)",
        "type": "integer",
        "example": 3600
      },
      "additional_change_itinerary": {
        "title": "\u0414\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u044b\u0435 \u0437\u0430\u0435\u0437\u0434\u044b/\u0438\u0437\u043c\u0435\u043d\u0435\u043d\u0438\u0435 \u043c\u0430\u0440\u0448\u0440\u0443\u0442\u043e\u0432",
        "description": "\u0414\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u044b\u0435 \u0437\u0430\u0435\u0437\u0434\u044b/\u0438\u0437\u043c\u0435\u043d\u0435\u043d\u0438\u0435 \u043c\u0430\u0440\u0448\u0440\u0443\u0442\u043e\u0432\n`1` - \u041d\u0435 \u0442\u0440\u0435\u0431\u0443\u0435\u0442 \u0441\u043e\u0433\u043b\u0430\u0441\u043e\u0432\u0430\u043d\u0438\u044f\n`2` - \u0422\u0440\u0435\u0431\u0443\u0435\u0442 \u0441\u043e\u0433\u043b\u0430\u0441\u043e\u0432\u0430\u043d\u0438\u044f\n`3` - \u0417\u0430\u043f\u0440\u0435\u0449\u0435\u043d\u043e\n",
        "type": "integer",
        "enum": [
          1,
          2,
          3
        ],
        "example": 1
      },
      "additional_wait": {
        "title": "\u0414\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u043e\u0435 \u043e\u0436\u0438\u0434\u0430\u043d\u0438\u0435",
        "description": "\u0414\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u043e\u0435 \u043e\u0436\u0438\u0434\u0430\u043d\u0438\u0435\n`1` - \u041d\u0435 \u0442\u0440\u0435\u0431\u0443\u0435\u0442 \u0441\u043e\u0433\u043b\u0430\u0441\u043e\u0432\u0430\u043d\u0438\u044f\n`2` - \u0422\u0440\u0435\u0431\u0443\u0435\u0442 \u0441\u043e\u0433\u043b\u0430\u0441\u043e\u0432\u0430\u043d\u0438\u044f\n`3` - \u0417\u0430\u043f\u0440\u0435\u0449\u0435\u043d\u043e\n",
        "type": "integer",
        "enum": [
          1,
          2,
          3
        ],
        "example": 1
      },
      "fare_on_toll_road": {
        "title": "\u041f\u0440\u043e\u0435\u0437\u0434 \u043f\u043e \u043f\u043b\u0430\u0442\u043d\u043e\u0439 \u0434\u043e\u0440\u043e\u0433\u0435",
        "description": "\u041f\u0440\u043e\u0435\u0437\u0434 \u043f\u043e \u043f\u043b\u0430\u0442\u043d\u043e\u0439 \u0434\u043e\u0440\u043e\u0433\u0435\n`1` - \u041d\u0435 \u0442\u0440\u0435\u0431\u0443\u0435\u0442 \u0441\u043e\u0433\u043b\u0430\u0441\u043e\u0432\u0430\u043d\u0438\u044f\n`2` - \u0422\u0440\u0435\u0431\u0443\u0435\u0442 \u0441\u043e\u0433\u043b\u0430\u0441\u043e\u0432\u0430\u043d\u0438\u044f\n`3` - \u0417\u0430\u043f\u0440\u0435\u0449\u0435\u043d\u043e\n",
        "type": "integer",
        "enum": [
          1,
          2,
          3
        ],
        "example": 1
      },
      "flexible_tariff": {
        "title": "\u0424\u043b\u0430\u0433 \u0443\u0441\u043b\u0443\u0433\u0438 - \u0413\u0438\u0431\u043a\u0430\u044f \u0442\u0430\u0440\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u044f",
        "type": "boolean",
        "example": true
      },
      "flexible_tariff_agreement": {
        "title": "\u0424\u043b\u0430\u0433 \u043d\u0430\u043b\u0438\u0447\u0438\u044f \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430 \u043f\u043e \u0443\u0441\u043b\u0443\u0433\u0435 - \u0413\u0438\u0431\u043a\u0430\u044f \u0442\u0430\u0440\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u044f",
        "type": "boolean",
        "example": true
      },
      "price_id": {
        "title": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u044f",
        "type": "integer",
        "example": 2921215
      },
      "trip_id": {
        "title": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u0435\u0437\u0434\u043a\u0438",
        "type": "integer",
        "example": null
      },
      "departure_time": {
        "title": "\u0412\u0440\u0435\u043c\u044f \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u044f \u043f\u043e\u0435\u0437\u0434\u0430 \u0438\u043b\u0438 \u0441\u0430\u043c\u043e\u043b\u0451\u0442\u0430",
        "type": "string",
        "example": "2021-08-21 12:00"
      },
      "passengers_number": {
        "title": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u043f\u0430\u0441\u0441\u0430\u0436\u0438\u0440\u043e\u0432",
        "type": "integer",
        "example": 3
      },
      "text_tablet": {
        "title": "\u0422\u0435\u043a\u0441\u0442 \u0442\u0430\u0431\u043b\u0438\u0447\u043a\u0438",
        "type": "string",
        "example": "i'way \u0436\u0434\u0451\u0442 \u0442\u0435\u0431\u044f!"
      },
      "comment": {
        "title": "\u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439 \u043a \u0437\u0430\u043a\u0430\u0437\u0443",
        "type": "string",
        "example": "\u0412\u0441\u0442\u0440\u0435\u0442\u0438\u0442\u044c \u043d\u0430 \u0447\u0438\u0441\u0442\u043e\u043c \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u0435 \u0438 \u0432 \u043d\u0430\u0440\u044f\u0434\u043d\u043e\u043c \u043a\u043e\u0441\u0442\u044e\u043c\u0435"
      },
      "payable_status": {
        "title": "\u0421\u0442\u0430\u0442\u0443\u0441 \u043e\u043f\u043b\u0430\u0442\u044b \u0437\u0430\u043a\u0430\u0437\u0430",
        "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u043e\u043f\u043b\u0430\u0442\u044b \u0437\u0430\u043a\u0430\u0437\u0430\n`0` - \u041d\u0435 \u043e\u043f\u043b\u0430\u0447\u0435\u043d\u043e\n`1` - \u041e\u043f\u043b\u0430\u0447\u0435\u043d\u043e\n`5` - \u041e\u0442\u043c\u0435\u043d\u0435\u043d\u043e\n",
        "type": "integer",
        "enum": [
          0,
          1,
          5
        ],
        "example": 1
      },
      "service_id": {
        "title": "\u0422\u0438\u043f \u043f\u043e\u0435\u0437\u0434\u043a\u0438",
        "description": "\u0422\u0438\u043f \u043f\u043e\u0435\u0437\u0434\u043a\u0438\n`1` - \u0422\u0440\u0430\u043d\u0441\u0444\u0435\u0440\n`2` - \u0410\u0440\u0435\u043d\u0434\u0430 \u0441 \u0432\u043e\u0434\u0438\u0442\u0435\u043b\u0435\u043c\n",
        "type": "integer",
        "enum": [
          1,
          2
        ],
        "example": 1
      },
      "status": {
        "title": "\u0421\u0442\u0430\u0442\u0443\u0441 \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0438 \u043f\u043e\u0435\u0437\u0434\u043a\u0438",
        "description": "`0` - \u041e\u0436\u0438\u0434\u0430\u043d\u0438\u0435 \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0438\n`1` - \u041e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430\n`2` - \u041f\u0440\u0438\u043d\u044f\u0442\u0430\n`3` - \u0412\u044b\u043f\u043e\u043b\u043d\u0435\u043d\u0430\n`4` - \u041e\u0442\u043c\u0435\u043d\u0435\u043d\u0430 \u0431\u0435\u0437 \u0448\u0442\u0440\u0430\u0444\u0430\n`5` - \u041e\u0442\u043c\u0435\u043d\u0435\u043d\u0430 \u0441\u043e \u0448\u0442\u0440\u0430\u0444\u043e\u043c\n`6` - \u041d\u0435 \u043e\u043f\u043b\u0430\u0447\u0435\u043d\u0430\n`7` - \u0418\u0437\u043c\u0435\u043d\u0435\u043d\u0430\n",
        "type": "integer",
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          7
        ],
        "example": 0
      },
      "order_id": {
        "title": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0437\u0430\u043a\u0430\u0437\u0430 / \u043f\u043e\u0435\u0437\u0434\u043a\u0438",
        "type": "integer",
        "example": 4000172
      },
      "booker_number": {
        "title": "\u0412\u043d\u0443\u0442\u0440\u0435\u043d\u043d\u0438\u0439 \u043d\u043e\u043c\u0435\u0440 \u0437\u0430\u043a\u0430\u0437\u0430 \u0432 \u0441\u0438\u0441\u0442\u0435\u043c\u0435 \u0443\u0447\u0435\u0442\u0430 i'way (1C)",
        "type": "string",
        "example": "C-0000062"
      },
      "price": {
        "title": "\u0421\u0442\u043e\u0438\u043c\u043e\u0441\u0442\u044c \u043f\u043e\u0435\u0437\u0434\u043a\u0438",
        "type": "number",
        "example": 539
      },
      "price_uuid": {
        "title": "UUID \u043f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u044f",
        "type": "string",
        "example": "704fecdc-d516-4cc5-bf61-5a74a37c7ba4"
      },
      "term": {
        "title": "\u0421\u0442\u0440\u043e\u043a\u0430 \u0434\u043b\u044f \u043f\u043e\u0438\u0441\u043a\u0430 \u043f\u043e\u0434\u0441\u043a\u0430\u0437\u043e\u043a \u043c\u0435\u0441\u0442",
        "type": "string",
        "example": "\u0410\u044d\u0440\u043e\u043f\u043e\u0440\u0442 \u0422\u043e\u043b\u043c\u0430\u0447\u0435\u0432\u043e"
      },
      "car_class_id": {
        "title": "ID \u043a\u043b\u0430\u0441\u0441\u0430 \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u044f",
        "type": "integer",
        "example": 3
      },
      "title": {
        "title": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u043a\u043b\u0430\u0441\u0441\u0430",
        "type": "string",
        "example": "\u0441\u0442\u0430\u043d\u0434\u0430\u0440\u0442"
      },
      "photo": {
        "title": "\u0424\u043e\u0442\u043e \u043a\u043b\u0430\u0441\u0441\u0430",
        "type": "string",
        "example": "l73q8272rg.png"
      },
      "capacity": {
        "title": "\u0412\u043c\u0435\u0441\u0442\u0438\u043c\u043e\u0441\u0442\u044c \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u044f",
        "type": "integer",
        "example": 3
      },
      "type": {
        "title": "\u0422\u0438\u043f \u043f\u0440\u0430\u0439\u0441\u0430",
        "description": "\u0422\u0438\u043f \u043f\u0440\u0430\u0439\u0441\u0430\n`1` - \u0414\u0438\u043d\u0430\u043c\u0438\u0447\u0435\u0441\u043a\u0438\u0439\n`2` - \u0424\u0438\u043a\u0441\u0438\u0440\u043e\u0432\u0430\u043d\u043d\u044b\u0439\n",
        "type": "integer",
        "enum": [
          1,
          2
        ],
        "example": 1
      },
      "location_object": {
        "title": "\u0422\u043e\u0447\u043a\u0430 \u043c\u0430\u0440\u0448\u0440\u0443\u0442\u0430",
        "type": "object",
        "properties": {
          "place_id": {
            "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0442\u043e\u0447\u043a\u0438 \u043c\u0430\u0440\u0448\u0440\u0443\u0442\u0430 \u0438\u0437 \u043f\u043e\u0438\u0441\u043a\u043e\u0432\u043e\u0439 \u0441\u0438\u0441\u0442\u0435\u043c\u044b Google Maps",
            "type": "string",
            "example": "ChIJybDUc_xKtUYRTM9XV8zWRD0"
          },
          "flight_number": {
            "description": "\u041d\u043e\u043c\u0435\u0440 \u0430\u0432\u0438\u0430\u0440\u0435\u0439\u0441\u0430, \u0435\u0441\u043b\u0438 \u043c\u0435\u0441\u0442\u043e \u043d\u0430\u0447\u0430\u043b\u0430 \u043f\u043e\u0435\u0437\u0434\u043a\u0438 \u0430\u044d\u0440\u043e\u043f\u043e\u0440\u0442",
            "type": "string",
            "example": "TS-12"
          },
          "terminal_number": {
            "description": "\u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u0440\u043c\u0438\u043d\u0430\u043b\u0430 \u0430\u044d\u0440\u043e\u043f\u043e\u0440\u0442\u0430, \u0435\u0441\u043b\u0438 \u043c\u0435\u0441\u0442\u043e \u043d\u0430\u0447\u0430\u043b\u0430 \u0438\u043b\u0438 \u043e\u043a\u043e\u043d\u0447\u0430\u043d\u0438\u044f \u043f\u043e\u0435\u0437\u0434\u043a\u0438 \u0430\u044d\u0440\u043e\u043f\u043e\u0440\u0442",
            "type": "string",
            "example": "TS-41"
          },
          "train_number": {
            "description": "\u041d\u043e\u043c\u0435\u0440 \u043f\u043e\u0435\u0437\u0434\u0430, \u0435\u0441\u043b\u0438 \u043c\u0435\u0441\u0442\u043e \u043d\u0430\u0447\u0430\u043b\u0430 \u043f\u043e\u0435\u0437\u0434\u043a\u0438 \u0436/\u0434 \u0432\u043e\u043a\u0437\u0430\u043b",
            "type": "string",
            "example": "TS-1352"
          },
          "train_carriage_number": {
            "description": "\u041d\u043e\u043c\u0435\u0440 \u0432\u0430\u0433\u043e\u043d\u0430 \u043f\u043e\u0435\u0437\u0434\u0430, \u0435\u0441\u043b\u0438 \u043c\u0435\u0441\u0442\u043e \u043d\u0430\u0447\u0430\u043b\u0430 \u043f\u043e\u0435\u0437\u0434\u043a\u0438 \u0436/\u0434 \u0432\u043e\u043a\u0437\u0430\u043b",
            "type": "string",
            "example": "TS-4"
          },
          "address": {
            "description": "\u0410\u0434\u0440\u0435\u0441 \u043c\u0435\u0441\u0442\u0430",
            "type": "string",
            "example": "\u041d\u043e\u0432\u043e\u0441\u0438\u0431\u0438\u0440\u0441\u043a"
          },
          "location": {
            "description": "\u041a\u043e\u043e\u0440\u0434\u0438\u043d\u0430\u0442\u044b \u043c\u0435\u0441\u0442\u0430",
            "type": "string",
            "example": "55.00835259999999,82.9357327"
          },
          "time": {
            "description": "\u0412\u0440\u0435\u043c\u044f \u043f\u0440\u0438\u043b\u0435\u0442\u0430/\u0432\u044b\u043b\u0435\u0442\u0430 \u0441\u0430\u043c\u043e\u043b\u0435\u0442\u0430, \u043f\u0440\u0438\u0431\u044b\u0442\u0438\u044f/\u043e\u0442\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u044f \u043f\u043e\u0435\u0437\u0434\u0430 \u0438\u043b\u0438 \u043f\u043e\u0434\u0430\u0447\u0438 \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u044f. \u0417\u0430\u0432\u0438\u0441\u0438\u0442 \u043e\u0442 \u0442\u0438\u043f\u0430 \u043c\u0435\u0441\u0442\u0430 \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u044f/\u043d\u0430\u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f",
            "type": "string",
            "format": "date-time",
            "example": "2020-05-30 00:00"
          }
        }
      },
      "place_object": {
        "title": "\u0422\u043e\u0447\u043a\u0430 \u043c\u0430\u0440\u0448\u0440\u0443\u0442\u0430",
        "type": "object",
        "properties": {
          "place_id": {
            "title": "ID \u043c\u0435\u0441\u0442\u0430",
            "type": "integer",
            "example": 9
          },
          "title": {
            "title": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u043c\u0435\u0441\u0442\u0430",
            "type": "string",
            "example": "\u041d\u043e\u0432\u043e\u0441\u0438\u0431\u0438\u0440\u0441\u043a"
          },
          "type": {
            "title": "\u0422\u0438\u043f \u043c\u0435\u0441\u0442\u0430",
            "type": "integer",
            "description": "`1` - \u0412 \u0447\u0435\u0440\u0442\u0435 \u0433\u043e\u0440\u043e\u0434\u0430\n`2` - \u0410\u044d\u0440\u043e\u043f\u043e\u0440\u0442\n`3` - \u0416/\u0434 \u0432\u043e\u043a\u0437\u0430\u043b\n`4` - \u0412\u0431\u043b\u0438\u0437\u0438 \u0433\u043e\u0440\u043e\u0434\u0430\n`5` - \u041d\u0430\u0441\u0435\u043b\u0435\u043d\u043d\u044b\u0439 \u043f\u0443\u043d\u043a\u0442\n`6` - \u041f\u0440\u043e\u0447\u0435\u0435\n`7` - \u0412 \u043f\u0440\u0435\u0434\u0435\u043b\u0430\u0445 \u041c\u041a\u0410\u0414\n`8` - \u0412 \u043f\u0440\u0435\u0434\u0435\u043b\u0430\u0445 \u041a\u0410\u0414\n`9` - \u0426\u0435\u043d\u0442\u0440 \u0433\u043e\u0440\u043e\u0434\u0430\n`10` - \u041e\u0442\u0435\u043b\u044c\n",
            "example": 1
          },
          "type_title": {
            "title": "\u041d\u0430\u0432\u0430\u043d\u0438\u0435 \u0442\u0438\u043f\u0430 \u043c\u0435\u0441\u0442\u0430",
            "type": "string",
            "example": "\u0432 \u0447\u0435\u0440\u0442\u0435 \u0433\u043e\u0440\u043e\u0434\u0430"
          },
          "terminal": {
            "title": "\u0422\u0435\u0440\u043c\u0438\u043d\u0430\u043b\u044b",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "declension_titles": {
            "title": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0432 \u0440\u0430\u0437\u043d\u044b\u0445 \u0441\u043a\u043b\u043e\u043d\u0435\u043d\u0438\u044f\u0445",
            "type": "object",
            "properties": {
              "nom": {
                "title": "\u0418\u043c\u0435\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u044b\u0439",
                "type": "string",
                "example": null
              },
              "gen": {
                "title": "\u0420\u043e\u0434\u0438\u0442\u0435\u043b\u044c\u043d\u044b\u0439",
                "type": "string",
                "example": null
              },
              "acc": {
                "title": "\u0412\u0438\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u044b\u0439",
                "type": "string",
                "example": null
              }
            }
          }
        }
      },
      "trip_object": {
        "title": "\u041f\u043e\u0435\u0437\u0434\u043a\u0430",
        "type": "object",
        "properties": {
          "user_id": {
            "$ref": "#/components/schemas/user_id"
          },
          "price_id": {
            "$ref": "#/components/schemas/price_id"
          },
          "start_location": {
            "$ref": "#/components/schemas/location_object"
          },
          "finish_location": {
            "$ref": "#/components/schemas/location_object"
          },
          "additional_locations": {
            "title": "\u0421\u043f\u0438\u0441\u043e\u043a \u0434\u043e\u043f. \u0430\u0434\u0440\u0435\u0441\u043e\u0432",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/location_object"
            }
          },
          "passengers": {
            "title": "\u0421\u043f\u0438\u0441\u043e\u043a \u043f\u0430\u0441\u0441\u0430\u0436\u0438\u0440\u043e\u0432",
            "type": "array",
            "items": {
              "title": "\u041f\u0430\u0441\u0441\u0430\u0436\u0438\u0440",
              "type": "object",
              "properties": {
                "name": {
                  "description": "\u0418\u043c\u044f \u043f\u0430\u0441\u0441\u0430\u0436\u0438\u0440\u0430",
                  "type": "string",
                  "example": "Test Test"
                },
                "email": {
                  "description": "\u0410\u0434\u0440\u0435\u0441 \u044d\u043b\u0435\u043a\u0442\u0440\u043e\u043d\u043d\u043e\u0439 \u043f\u043e\u0447\u0442\u044b \u043f\u0430\u0441\u0441\u0430\u0436\u0438\u0440\u0430",
                  "type": "string",
                  "example": "iwaytest@gmail.com"
                },
                "phone": {
                  "description": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d \u043f\u0430\u0441\u0441\u0430\u0436\u0438\u0440\u0430",
                  "type": "string",
                  "example": "79139134657"
                }
              }
            }
          },
          "customer": {
            "title": "\u041c\u0435\u043d\u0435\u0434\u0436\u0435\u0440 \u0431\u0440\u043e\u043d\u0438\u0441\u0442",
            "type": "object",
            "properties": {
              "name": {
                "description": "\u0418\u043c\u044f \u043c\u0435\u043d\u0435\u0434\u0436\u0435\u0440\u0430",
                "type": "string",
                "example": "Test Test"
              },
              "email": {
                "description": "\u0410\u0434\u0440\u0435\u0441 \u044d\u043b\u0435\u043a\u0442\u0440\u043e\u043d\u043d\u043e\u0439 \u043f\u043e\u0447\u0442\u044b \u043c\u0435\u043d\u0435\u0434\u0436\u0435\u0440\u0430",
                "type": "string",
                "example": "iwaytest@gmail.com"
              },
              "phone": {
                "description": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d \u043c\u0435\u043d\u0435\u0434\u0436\u0435\u0440\u0430",
                "type": "string",
                "example": "79139134657"
              }
            }
          },
          "passengers_number": {
            "$ref": "#/components/schemas/passengers_number"
          },
          "text_tablet": {
            "$ref": "#/components/schemas/text_tablet"
          },
          "comment": {
            "$ref": "#/components/schemas/comment"
          },
          "additional_change_itinerary": {
            "$ref": "#/components/schemas/additional_change_itinerary"
          },
          "additional_wait": {
            "$ref": "#/components/schemas/additional_wait"
          },
          "fare_on_toll_road": {
            "$ref": "#/components/schemas/fare_on_toll_road"
          },
          "additional_services": {
            "title": "\u041c\u0430\u0441\u0441\u0438\u0432 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440\u043e\u0432 \u0430\u043a\u0442\u0438\u0432\u043d\u044b\u0445 \u0443\u0441\u043b\u0443\u0433",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number"
                }
              }
            },
            "example": [
              {
                "id": 2
              }
            ]
          },
          "platform": {
            "title": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043b\u0430\u0442\u0444\u043e\u0440\u043c\u044b (\u043e\u0433\u043e\u0432\u0430\u0440\u0438\u0432\u0430\u0435\u0442\u0441\u044f \u043f\u0440\u0438 \u0438\u043d\u0442\u0435\u0433\u0440\u0430\u0446\u0438\u0438)",
            "type": "integer",
            "description": "`3` - \u041c\u043e\u0434\u0443\u043b\u044c \u0431\u0440\u043e\u043d\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044f / Frame\n`7` - API \u0438\u043d\u0442\u0435\u0433\u0440\u0430\u0446\u0438\u044f\n",
            "enum": [
              3,
              7
            ],
            "example": 7,
            "default": 7
          },
          "flexible_tariff": {
            "$ref": "#/components/schemas/flexible_tariff"
          },
          "flexible_tariff_agreement": {
            "$ref": "#/components/schemas/flexible_tariff_agreement"
          },
          "pos": {
            "$ref": "#/components/schemas/pos"
          },
          "send_params": {
            "title": "\u041d\u0430\u0441\u0442\u0440\u043e\u0439\u043a\u0438 \u0443\u0432\u0435\u0434\u043e\u043c\u043b\u0435\u043d\u0438\u0439",
            "type": "object",
            "properties": {
              "send_client_voucher": {
                "description": "\u041e\u0442\u043f\u0440\u0430\u0432\u043b\u044f\u0442\u044c \u0432\u0430\u0443\u0447\u0435\u0440 \u043f\u0430\u0441\u0441\u0430\u0436\u0438\u0440\u0443",
                "type": "boolean",
                "example": false
              },
              "send_admin_voucher": {
                "description": "\u041e\u0442\u043f\u0440\u0430\u0432\u043b\u044f\u0442\u044c \u0432\u0430\u0443\u0447\u0435\u0440 \u0430\u0434\u043c\u0438\u043d\u0438\u0441\u0442\u0440\u0430\u0442\u043e\u0440\u0443 \u043b\u0438\u0447\u043d\u043e\u0433\u043e \u043a\u0430\u0431\u0438\u043d\u0435\u0442\u0430",
                "type": "boolean",
                "example": false
              },
              "send_client_doc": {
                "description": "\u041e\u0442\u043f\u0440\u0430\u0432\u043b\u044f\u0442\u044c \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u044b \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044e \u043b\u0438\u0447\u043d\u043e\u0433\u043e \u043a\u0430\u0431\u0438\u043d\u0435\u0442\u0430",
                "type": "boolean",
                "example": false
              },
              "send_admin_doc": {
                "description": "\u041e\u0442\u043f\u0440\u0430\u0432\u043b\u044f\u0442\u044c \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u044b \u0430\u0434\u043c\u0438\u043d\u0438\u0441\u0442\u0440\u0430\u0442\u043e\u0440\u0443 \u043b\u0438\u0447\u043d\u043e\u0433\u043e \u043a\u0430\u0431\u0438\u043d\u0435\u0442\u0430",
                "type": "boolean",
                "example": false
              }
            }
          }
        }
      },
      "order_object": {
        "title": "\u0417\u0430\u043a\u0430\u0437",
        "type": "object",
        "properties": {
          "order_id": {
            "$ref": "#/components/schemas/order_id"
          },
          "transaction": {
            "$ref": "#/components/schemas/transaction"
          },
          "booker_number": {
            "$ref": "#/components/schemas/booker_number"
          },
          "price": {
            "$ref": "#/components/schemas/price"
          },
          "payable_status": {
            "$ref": "#/components/schemas/payable_status"
          },
          "service_id": {
            "$ref": "#/components/schemas/service_id"
          },
          "currency": {
            "$ref": "#/components/schemas/currency"
          },
          "status": {
            "$ref": "#/components/schemas/status"
          },
          "passengers": {
            "type": "array",
            "items": {
              "title": "\u041f\u0430\u0441\u0441\u0430\u0436\u0438\u0440",
              "type": "object",
              "properties": {
                "name": {
                  "description": "\u0418\u043c\u044f \u043f\u0430\u0441\u0441\u0430\u0436\u0438\u0440\u0430",
                  "type": "string",
                  "example": "Test Test"
                },
                "email": {
                  "description": "\u0410\u0434\u0440\u0435\u0441 \u044d\u043b\u0435\u043a\u0442\u0440\u043e\u043d\u043d\u043e\u0439 \u043f\u043e\u0447\u0442\u044b \u043f\u0430\u0441\u0441\u0430\u0436\u0438\u0440\u0430",
                  "type": "string",
                  "example": "iwaytest@gmail.com"
                },
                "phone": {
                  "description": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d \u043f\u0430\u0441\u0441\u0430\u0436\u0438\u0440\u0430",
                  "type": "string",
                  "example": "79139134657"
                }
              }
            }
          },
          "customer": {
            "title": "\u041c\u0435\u043d\u0435\u0434\u0436\u0435\u0440 \u0431\u0440\u043e\u043d\u0438\u0441\u0442",
            "type": "object",
            "properties": {
              "name": {
                "description": "\u0418\u043c\u044f \u043c\u0435\u043d\u0435\u0434\u0436\u0435\u0440\u0430",
                "type": "string",
                "example": "Test Test"
              },
              "email": {
                "description": "\u0410\u0434\u0440\u0435\u0441 \u044d\u043b\u0435\u043a\u0442\u0440\u043e\u043d\u043d\u043e\u0439 \u043f\u043e\u0447\u0442\u044b \u043c\u0435\u043d\u0435\u0434\u0436\u0435\u0440\u0430",
                "type": "string",
                "example": "iwaytest@gmail.com"
              },
              "phone": {
                "description": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d \u043c\u0435\u043d\u0435\u0434\u0436\u0435\u0440\u0430",
                "type": "string",
                "example": "79139134657"
              }
            }
          },
          "additional_change_itinerary": {
            "$ref": "#/components/schemas/additional_change_itinerary"
          },
          "additional_wait": {
            "$ref": "#/components/schemas/additional_wait"
          },
          "fare_on_toll_road": {
            "$ref": "#/components/schemas/fare_on_toll_road"
          },
          "send_params": {
            "title": "\u041d\u0430\u0441\u0442\u0440\u043e\u0439\u043a\u0438 \u0443\u0432\u0435\u0434\u043e\u043c\u043b\u0435\u043d\u0438\u0439",
            "type": "object",
            "properties": {
              "send_client_voucher": {
                "description": "\u041e\u0442\u043f\u0440\u0430\u0432\u043b\u044f\u0442\u044c \u0432\u0430\u0443\u0447\u0435\u0440 \u043f\u0430\u0441\u0441\u0430\u0436\u0438\u0440\u0443",
                "type": "boolean",
                "example": false
              },
              "send_admin_voucher": {
                "description": "\u041e\u0442\u043f\u0440\u0430\u0432\u043b\u044f\u0442\u044c \u0432\u0430\u0443\u0447\u0435\u0440 \u0430\u0434\u043c\u0438\u043d\u0438\u0441\u0442\u0440\u0430\u0442\u043e\u0440\u0443 \u043b\u0438\u0447\u043d\u043e\u0433\u043e \u043a\u0430\u0431\u0438\u043d\u0435\u0442\u0430",
                "type": "boolean",
                "example": false
              },
              "send_client_doc": {
                "description": "\u041e\u0442\u043f\u0440\u0430\u0432\u043b\u044f\u0442\u044c \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u044b \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044e \u043b\u0438\u0447\u043d\u043e\u0433\u043e \u043a\u0430\u0431\u0438\u043d\u0435\u0442\u0430",
                "type": "boolean",
                "example": false
              },
              "send_admin_doc": {
                "description": "\u041e\u0442\u043f\u0440\u0430\u0432\u043b\u044f\u0442\u044c \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u044b \u0430\u0434\u043c\u0438\u043d\u0438\u0441\u0442\u0440\u0430\u0442\u043e\u0440\u0443 \u043b\u0438\u0447\u043d\u043e\u0433\u043e \u043a\u0430\u0431\u0438\u043d\u0435\u0442\u0430",
                "type": "boolean",
                "example": false
              }
            }
          }
        }
      },
      "car_class_object": {
        "title": "\u0418\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u043f\u043e \u043a\u043b\u0430\u0441\u0441\u0443 \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u044f",
        "type": "object",
        "properties": {
          "car_class_id": {
            "$ref": "#/components/schemas/car_class_id"
          },
          "title": {
            "$ref": "#/components/schemas/title"
          },
          "models": {
            "description": "\u041c\u0430\u0441\u0441\u0438\u0432 \u043c\u043e\u0434\u0435\u043b\u0435\u0439 \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u0435\u0439",
            "type": "array",
            "items": {
              "title": "\u041c\u043e\u0434\u0435\u043b\u044c \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u044f",
              "type": "string",
              "example": "Toyota Camry, Ford Focus"
            }
          },
          "photo": {
            "$ref": "#/components/schemas/photo"
          },
          "capacity": {
            "$ref": "#/components/schemas/capacity"
          }
        }
      },
      "reverse_price_object": {
        "title": "\u0418\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f \u043f\u043e \u043e\u0431\u0440\u0430\u0442\u043d\u043e\u043c\u0443 \u043f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u044e",
        "type": "object",
        "properties": {
          "price_id": {
            "$ref": "#/components/schemas/price_id"
          },
          "price": {
            "$ref": "#/components/schemas/price"
          }
        }
      },
      "additional_services_object": {
        "title": "\u0421\u043f\u0438\u0441\u043e\u043a \u0434\u043e\u043f. \u0443\u0441\u043b\u0443\u0433",
        "type": "object",
        "properties": {
          "id": {
            "title": "ID \u0426\u0435\u043d\u043e\u043e\u0431\u0440\u0430\u0437\u043e\u0432\u0430\u043d\u0438\u044f \u0434\u043e\u043f \u0443\u0441\u043b\u0443\u0433\u0438",
            "type": "number",
            "example": 25
          },
          "additional_service_id": {
            "title": "ID \u0434\u043e\u043f \u0443\u0441\u043b\u0443\u0433\u0438",
            "type": "number",
            "example": 1
          },
          "price": {
            "title": "\u0426\u0435\u043d\u0430 \u0432 \u0432\u0430\u043b\u044e\u0442\u0435 \u043f\u0440\u0430\u0439\u0441\u0430",
            "type": "number",
            "example": "RUB"
          },
          "name": {
            "title": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0434\u043e\u043f. \u0443\u0441\u043b\u0443\u0433\u0438",
            "type": "string",
            "example": "\u0422\u0430\u0431\u043b\u0438\u0447\u043a\u0430"
          },
          "uid": {
            "title": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u0438\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0432 1C \u0446\u0435\u043d\u043e\u043e\u0431\u0440\u0430\u0437\u043e\u0432\u0430\u043d\u0438\u044f",
            "type": "string",
            "example": "hgds-jrm9-56vgk-gr3h"
          },
          "default_include": {
            "title": "\u0412\u043a\u043b\u044e\u0447\u0435\u043d\u0430 \u043b\u0438 \u0443\u0441\u043b\u0443\u0433\u0430 \u0432 \u043f\u0440\u0430\u0439\u0441 \u043f\u043e \u0443\u043c\u043e\u043b\u0447\u0430\u043d\u0438\u044e",
            "type": "boolean",
            "example": false
          },
          "slug": {
            "title": "\u042f\u0437\u044b\u043a\u043e\u0432\u0430\u044f \u043c\u0435\u0442\u043a\u0430 \u0434\u043e\u043f. \u0443\u0441\u043b\u0443\u0433\u0438",
            "type": "string",
            "example": "trans.table"
          },
          "type": {
            "title": "\u0422\u0438\u043f \u0434\u043e\u043f. \u0443\u0441\u043b\u0443\u0433\u0438",
            "type": "string",
            "example": "table"
          },
          "category": {
            "title": "\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f \u0434\u043e\u043f. \u0443\u0441\u043b\u0443\u0433\u0438",
            "type": "string",
            "example": "flexible_tariff"
          }
        }
      },
      "additional_services_revert": {
        "title": "\u0421\u043f\u0438\u0441\u043e\u043a \u0434\u043e\u043f. \u0443\u0441\u043b\u0443\u0433 \u0434\u043b\u044f \u043e\u0431\u0440\u0430\u0442\u043d\u043e\u0439 \u043f\u043e\u0435\u0437\u0434\u043a\u0438",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "additional_service_id": {
            "type": "integer",
            "example": null
          },
          "uid": {
            "title": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u0438\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0432 1C \u0446\u0435\u043d\u043e\u043e\u0431\u0440\u0430\u0437\u043e\u0432\u0430\u043d\u0438\u044f",
            "type": "string",
            "example": "hgds-jrm9-56vgk-gr3h"
          },
          "default_include": {
            "title": "\u0412\u043a\u043b\u044e\u0447\u0435\u043d\u0430 \u043b\u0438 \u0443\u0441\u043b\u0443\u0433\u0430 \u0432 \u043f\u0440\u0430\u0439\u0441 \u043f\u043e \u0443\u043c\u043e\u043b\u0447\u0430\u043d\u0438\u044e",
            "type": "boolean",
            "example": false
          },
          "slug": {
            "title": "\u042f\u0437\u044b\u043a\u043e\u0432\u0430\u044f \u043c\u0435\u0442\u043a\u0430 \u0434\u043e\u043f. \u0443\u0441\u043b\u0443\u0433\u0438",
            "type": "string",
            "example": "trans.table"
          },
          "currency": {
            "$ref": "#/components/schemas/currency"
          },
          "type": {
            "title": "\u0422\u0438\u043f \u0434\u043e\u043f. \u0443\u0441\u043b\u0443\u0433\u0438",
            "type": "string",
            "example": "table"
          },
          "category": {
            "title": "\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f \u0434\u043e\u043f. \u0443\u0441\u043b\u0443\u0433\u0438",
            "type": "string",
            "example": "flexible_tariff"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v3/auth/login": {
      "post": {
        "security": [],
        "tags": [
          "user"
        ],
        "summary": "\u0410\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u044f \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f \u0432 \u0441\u0438\u0441\u0442\u0435\u043c\u0435 \u0431\u0440\u043e\u043d\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044f i'way transfer",
        "operationId": "authUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "$ref": "#/components/schemas/user_id"
                  },
                  "password": {
                    "$ref": "#/components/schemas/password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "title": "\u0422\u043e\u043a\u0435\u043d \u0430\u0443\u0442\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u0438",
                          "type": "string",
                          "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE1MjYwMTYwMTcsImV4cCI6MTUyNjYyMDgxNywidXNlciI6eyJpZCI6IjY2NiJ9fQ.-CY39UWl9jT-CkeYDkNp7dbbr4ubECc4JEjzyGnLqKw"
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/transport-nodes": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "transport node"
        ],
        "summary": "\u041f\u043e\u0438\u0441\u043a \u0442\u0440\u0430\u043d\u0441\u043f\u043e\u0440\u0442\u043d\u044b\u0445 \u0443\u0437\u043b\u043e\u0432",
        "operationId": "getTransportNode",
        "parameters": [
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "term",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/term"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "title": "\u0442\u0440\u0430\u043d\u0441\u043f\u043e\u0440\u0442\u043d\u044b\u0439 \u0443\u0437\u0435\u043b",
                        "type": "object",
                        "properties": {
                          "formatted_address": {
                            "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435",
                            "type": "string",
                            "example": "\u0410\u044d\u0440\u043e\u043f\u043e\u0440\u0442 \u0422\u043e\u043b\u043c\u0430\u0447\u0435\u0432\u043e"
                          },
                          "geometry": {
                            "title": "\u0414\u0430\u043d\u043d\u044b\u0435 geo",
                            "type": "object",
                            "properties": {
                              "location": {
                                "title": "\u041b\u043e\u043a\u0430\u0446\u0438\u044f",
                                "type": "object",
                                "properties": {
                                  "lat": {
                                    "description": "\u041a\u043e\u043e\u0440\u0434\u0438\u043d\u0430\u0442\u0430 LAT",
                                    "type": "string",
                                    "example": 55.012599945068
                                  },
                                  "lon": {
                                    "description": "\u041a\u043e\u043e\u0440\u0434\u0438\u043d\u0430\u0442\u0430 LON",
                                    "type": "string",
                                    "example": 82.650703430176
                                  }
                                }
                              }
                            }
                          },
                          "description": {
                            "description": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 (\u043d\u0430\u0437\u0432\u0430\u043d\u0438\u0435)",
                            "type": "string",
                            "example": "\u0410\u044d\u0440\u043e\u043f\u043e\u0440\u0442 \u0422\u043e\u043b\u043c\u0430\u0447\u0435\u0432\u043e"
                          },
                          "place_id": {
                            "description": "Google ID \u043c\u0435\u0441\u0442\u0430",
                            "type": "string",
                            "example": "ChIJJQMqy2UJ4EIRLlTJkaXKslM"
                          },
                          "structured_formatting": {
                            "title": "\u0421\u0442\u0440\u0443\u043a\u0442\u0443\u0440\u043d\u043e\u0435 \u0444\u043e\u0440\u043c\u0430\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435",
                            "type": "object",
                            "properties": {
                              "main_text": {
                                "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u043e\u0431\u044a\u0435\u043a\u0442\u0430",
                                "type": "string",
                                "example": "\u0410\u044d\u0440\u043e\u043f\u043e\u0440\u0442 \u0422\u043e\u043b\u043c\u0430\u0447\u0435\u0432\u043e"
                              },
                              "secondary_text": {
                                "description": "\u0414\u043e\u043f. \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f",
                                "type": "string",
                                "example": ""
                              }
                            }
                          },
                          "country": {
                            "description": "\u0421\u0442\u0440\u0430\u043d\u0430",
                            "type": "string",
                            "example": ""
                          },
                          "types": {
                            "description": "\u0422\u0438\u043f\u044b \u043c\u0435\u0441\u0442\u0430",
                            "type": "array",
                            "items": {
                              "example": "airport, establishment"
                            }
                          },
                          "iata": {
                            "description": "\u041a\u043e\u0434 IATA",
                            "type": "string",
                            "example": "OVB"
                          },
                          "icao": {
                            "description": "\u041a\u043e\u0434 ICAO",
                            "type": "string",
                            "example": "UNNT"
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/prices": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "price"
        ],
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0441\u043f\u0438\u0441\u043a\u0430 \u043f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u0439 \u043f\u043e \u0443\u0441\u043b\u0443\u0433\u0435 \"\u0422\u0440\u0430\u043d\u0441\u0444\u0435\u0440\"",
        "operationId": "getTransferPriceList",
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "currency",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/currency"
            }
          },
          {
            "in": "query",
            "name": "start_place_point",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/place_point"
            }
          },
          {
            "in": "query",
            "name": "finish_place_point",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/place_point"
            }
          },
          {
            "in": "query",
            "name": "relation_car_class_ids",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/relation_car_class_ids"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "title": "\u0426\u0435\u043d\u043e\u0432\u043e\u0435 \u043f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u0435",
                        "type": "object",
                        "properties": {
                          "price_uid": {
                            "$ref": "#/components/schemas/price_uuid"
                          },
                          "price_id": {
                            "$ref": "#/components/schemas/price_id"
                          },
                          "price": {
                            "$ref": "#/components/schemas/price"
                          },
                          "price_rub": {
                            "$ref": "#/components/schemas/price"
                          },
                          "reverse_price": {
                            "$ref": "#/components/schemas/reverse_price_object"
                          },
                          "currency": {
                            "$ref": "#/components/schemas/currency"
                          },
                          "service_id": {
                            "$ref": "#/components/schemas/service_id"
                          },
                          "car_class": {
                            "$ref": "#/components/schemas/car_class_object"
                          },
                          "allowable_subaddress": {
                            "title": "\u0420\u0430\u0437\u0440\u0435\u0448\u0435\u043d\u043d\u043e\u0435 \u043a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u0434\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u044b\u0445 \u0430\u0434\u0440\u0435\u0441\u043e\u0432",
                            "type": "integer",
                            "example": 3
                          },
                          "price_subaddress": {
                            "title": "\u0426\u0435\u043d\u0430 \u0434\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u044b\u0445 \u043f\u043e\u0435\u0437\u0434\u043e\u043a",
                            "type": "number",
                            "example": 270
                          },
                          "cancellation_time": {
                            "title": "\u041c\u0438\u043d\u0438\u043c\u0430\u043b\u044c\u043d\u043e \u0432\u043e\u0437\u043c\u043e\u0436\u043d\u043e\u0435 \u0432\u0440\u0435\u043c\u044f \u0434\u043b\u044f \u0431\u0435\u0441\u043f\u043b\u0430\u0442\u043d\u043e\u0439 \u043e\u0442\u043c\u0435\u043d\u044b \u043f\u043e\u0435\u0437\u0434\u043a\u0438",
                            "type": "integer",
                            "example": 2
                          },
                          "type": {
                            "$ref": "#/components/schemas/type"
                          },
                          "payed_road": {
                            "title": "\u041f\u043b\u0430\u0442\u043d\u0430\u044f \u0434\u043e\u0440\u043e\u0433\u0430",
                            "type": "boolean",
                            "example": false
                          },
                          "blackout_date": {
                            "title": "\u041c\u0430\u0441\u0441\u0438\u0432 \u0434\u0430\u0442, \u0437\u0430\u043a\u0440\u044b\u0442\u044b\u0445 \u0434\u043b\u044f \u0431\u0440\u043e\u043d\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044f",
                            "type": "array",
                            "items": {
                              "type": "string",
                              "format": "date"
                            }
                          },
                          "allowable_time": {
                            "title": "\u041c\u0438\u043d\u0438\u043c\u0430\u043b\u044c\u043d\u043e \u0432\u043e\u0437\u043c\u043e\u0436\u043d\u043e\u0435 \u0432\u0440\u0435\u043c\u044f \u0434\u043b\u044f \u0431\u0440\u043e\u043d\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044f \u043f\u043e\u0435\u0437\u0434\u043a\u0438",
                            "type": "integer",
                            "example": 2
                          },
                          "id_custom_price": {
                            "title": "ID \u0431\u0430\u0437\u043e\u0432\u043e\u0439 \u0446\u0435\u043d\u044b",
                            "type": "integer",
                            "example": null
                          },
                          "minimum_duration": {
                            "title": "\u041c\u0438\u043d\u0438\u043c\u0430\u043b\u044c\u043d\u043e\u0435 \u0432\u0440\u0435\u043c\u044f \u0430\u0440\u0435\u043d\u0434\u044b",
                            "type": "integer",
                            "example": 0
                          },
                          "start_place": {
                            "$ref": "#/components/schemas/place_object"
                          },
                          "finish_place": {
                            "$ref": "#/components/schemas/place_object"
                          },
                          "flexible_tariff": {
                            "$ref": "#/components/schemas/flexible_tariff"
                          },
                          "flexible_tariff_agreement": {
                            "$ref": "#/components/schemas/flexible_tariff_agreement"
                          },
                          "additional_services": {
                            "$ref": "#/components/schemas/additional_services_object"
                          },
                          "additional_service_id": {
                            "$ref": "#/components/schemas/additional_services_revert"
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/prices/rent": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "price"
        ],
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0441\u043f\u0438\u0441\u043a\u0430 \u043f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u0439 \u043f\u043e \u0443\u0441\u043b\u0443\u0433\u0435 \"\u0410\u0440\u0435\u043d\u0434\u0430 \u0441 \u0432\u043e\u0434\u0438\u0442\u0435\u043b\u0435\u043c\"",
        "operationId": "getRentPriceList",
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "currency",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/currency"
            }
          },
          {
            "in": "query",
            "name": "start_place_point",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/place_point"
            }
          },
          {
            "in": "query",
            "name": "duration",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/duration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "title": "\u0426\u0435\u043d\u043e\u0432\u043e\u0435 \u043f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u0435",
                        "type": "object",
                        "properties": {
                          "price_uid": {
                            "$ref": "#/components/schemas/price_uuid"
                          },
                          "price_id": {
                            "$ref": "#/components/schemas/price_id"
                          },
                          "price": {
                            "$ref": "#/components/schemas/price"
                          },
                          "price_rub": {
                            "$ref": "#/components/schemas/price"
                          },
                          "reverse_price": {
                            "$ref": "#/components/schemas/reverse_price_object"
                          },
                          "currency": {
                            "$ref": "#/components/schemas/currency"
                          },
                          "service_id": {
                            "$ref": "#/components/schemas/service_id"
                          },
                          "car_class": {
                            "$ref": "#/components/schemas/car_class_object"
                          },
                          "allowable_subaddress": {
                            "type": "integer",
                            "example": 3
                          },
                          "price_subaddress": {
                            "type": "integer",
                            "example": 270
                          },
                          "cancellation_time": {
                            "type": "integer",
                            "example": 2
                          },
                          "type": {
                            "type": "integer",
                            "example": 1
                          },
                          "payed_road": {
                            "type": "boolean",
                            "example": false
                          },
                          "blackout_date": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "format": "date"
                            }
                          },
                          "allowable_time": {
                            "type": "integer",
                            "example": 2
                          },
                          "is_special": {
                            "type": "integer"
                          },
                          "id_custom_price": {
                            "type": "integer",
                            "example": null
                          },
                          "minimum_duration": {
                            "type": "integer",
                            "example": 0
                          },
                          "start_place": {
                            "$ref": "#/components/schemas/place_object"
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/places/check-location-from-places": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "place"
        ],
        "summary": "\u041c\u0435\u0442\u043e\u0434 \u043f\u0440\u043e\u0432\u0435\u0440\u043a\u0438 \u0432\u0445\u043e\u0436\u0434\u0435\u043d\u0438\u044f \u043a\u043e\u043e\u0440\u0434\u0438\u043d\u0430\u0442\u044b \u0432 \u043f\u043e\u043b\u0438\u0433\u043e\u043d\u044b \u043f\u043b\u044d\u0439\u0441\u043e\u0432 (\u0442\u043e\u043b\u044c\u043a\u043e \u0433\u043e\u0440\u043e\u0434\u0430)",
        "operationId": "checkLoacation",
        "parameters": [
          {
            "in": "query",
            "name": "lang",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "place_ids": {
                    "description": "\u041c\u0430\u0441\u0441\u0438\u0432 ID \u043f\u043b\u044d\u0439\u0441\u043e\u0432 \u0438\u0437 start_place \u0438 finish_place \u0438\u0437 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u043d\u043e\u0433\u043e \u0446\u0435\u043d\u043e\u0432\u043e\u0433\u043e \u043f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u044f \u0434\u043b\u044f \u043f\u0440\u043e\u0432\u0435\u0440\u043a\u0438 \u0432\u0445\u043e\u0436\u0434\u0435\u043d\u0438\u044f ID \u043c\u0435\u0441\u0442\u0430 \u0432 \u043f\u043e\u043b\u0438\u0433\u043e\u043d\u044b \u043f\u043b\u044d\u0439\u0441\u043e\u0432 (\u0442\u043e\u043b\u044c\u043a\u043e \u0433\u043e\u0440\u043e\u0434\u0430)",
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "example": 9
                    }
                  },
                  "place_id": {
                    "description": "ID \u043c\u0435\u0441\u0442\u0430, \u043a\u043e\u0442\u043e\u0440\u044b\u0439 \u043f\u043e\u043b\u0443\u0447\u0435\u043d \u043f\u0440\u0438 \u0437\u0430\u043f\u0440\u043e\u0441\u0435 \u043a Google (\u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e, \u0435\u0441\u043b\u0438 \u043d\u0435 \u0437\u0430\u043f\u043e\u043b\u043d\u0435\u043d\u043e \u043f\u043e\u043b\u0435 location)",
                    "type": "string",
                    "example": "ChIJK19vOtLl30IRoBFhiuaogNI"
                  },
                  "location": {
                    "description": "\u041a\u043e\u043e\u0440\u0434\u0438\u043d\u0430\u0442\u0430 \u0442\u043e\u0447\u043a\u0438 \u0434\u043b\u044f \u043f\u0440\u043e\u0432\u0435\u0440\u043a\u0438 (\u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u043e, \u0435\u0441\u043b\u0438 \u043d\u0435 \u0437\u0430\u043f\u043e\u043b\u043d\u0435\u043d\u043e \u043f\u043e\u043b\u0435 place_id)",
                    "type": "string",
                    "example": "55.02896699999999,82.915077"
                  }
                },
                "required": [
                  "place_ids",
                  "place_id",
                  "location"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "is_from_polygons": {
                          "title": "\u0412\u0435\u0440\u043d\u0451\u0442 true \u0435\u0441\u043b\u0438 \u0435\u0441\u0442\u044c \u0432\u0445\u043e\u0436\u0434\u0435\u043d\u0438\u0435 \u0445\u043e\u0442\u044f \u0431\u044b \u0432 \u043e\u0434\u0438\u043d \u043f\u043e\u043b\u0438\u0433\u043e\u043d",
                          "type": "boolean",
                          "example": true
                        },
                        "message": {
                          "title": "\u0415\u0441\u043b\u0438 is_from_polygons = false \u0432\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442\u0441\u044f \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \u043e\u0431 \u043e\u0448\u0438\u0431\u043a\u0435",
                          "type": "string",
                          "example": ""
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0437\u0430\u043a\u0430\u0437\u0430",
        "operationId": "createOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "$ref": "#/components/schemas/user_id"
                  },
                  "lang": {
                    "$ref": "#/components/schemas/lang"
                  },
                  "currency": {
                    "$ref": "#/components/schemas/currency"
                  },
                  "trips": {
                    "title": "\u041c\u0430\u0441\u0441\u0438\u0432 \u043f\u043e\u0435\u0437\u0434\u043e\u043a",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/trip_object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/order_object"
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/approve/{transaction}": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "\u041f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043d\u0438\u0435 \u0437\u0430\u043a\u0430\u0437\u0430",
        "operationId": "approveOrder",
        "parameters": [
          {
            "in": "path",
            "name": "transaction",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/transaction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "transaction": {
                          "$ref": "#/components/schemas/transaction"
                        },
                        "order_id": {
                          "$ref": "#/components/schemas/order_id"
                        },
                        "status": {
                          "$ref": "#/components/schemas/status"
                        },
                        "payable_status": {
                          "$ref": "#/components/schemas/payable_status"
                        },
                        "booker_number": {
                          "$ref": "#/components/schemas/booker_number"
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/trips": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0441\u043f\u0438\u0441\u043a\u0430 \u043f\u043e\u0435\u0437\u0434\u043e\u043a",
        "operationId": "getOrderList",
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "in": "query",
            "name": "order_id",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/order_id"
            }
          },
          {
            "in": "query",
            "name": "order_status",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/status"
            }
          },
          {
            "in": "query",
            "name": "begin_date_reservation",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "end_date_reservation",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "begin_date_arrival",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "end_date_arrival",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/trip_object"
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      },
      "put": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "\u041e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u0435 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043f\u043e \u043f\u043e\u0435\u0437\u0434\u043a\u0435",
        "operationId": "updateOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/trip_object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/order_object"
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/trips/cancel": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "\u041e\u0442\u043c\u0435\u043d\u0430 \u043f\u043e\u0435\u0437\u0434\u043a\u0438",
        "operationId": "cancelOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transaction": {
                    "$ref": "#/components/schemas/transaction"
                  },
                  "order_id": {
                    "$ref": "#/components/schemas/order_id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "order_id": {
                          "$ref": "#/components/schemas/order_id"
                        },
                        "transaction": {
                          "$ref": "#/components/schemas/transaction"
                        },
                        "status": {
                          "$ref": "#/components/schemas/status"
                        },
                        "payable_status": {
                          "$ref": "#/components/schemas/payable_status"
                        },
                        "service_id": {
                          "$ref": "#/components/schemas/service_id"
                        },
                        "currency": {
                          "$ref": "#/components/schemas/currency"
                        },
                        "price": {
                          "$ref": "#/components/schemas/price"
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/pay-url": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0441\u0441\u044b\u043b\u043a\u0438 \u043d\u0430 \u043e\u043f\u043b\u0430\u0442\u0443 \u0437\u0430\u043a\u0430\u0437\u0430",
        "operationId": "getPaymentLink",
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "transaction",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/transaction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "example": "http://iway.io/en/cloudpayments/paytrip/481252474?currency=EUR"
                        },
                        "invoicebox": {
                          "type": "string",
                          "example": "http://iway.io/en/cloudpayments/paytrip/481252474?currency=EUR"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/documents": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "document"
        ],
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0441\u0441\u044b\u043b\u043e\u043a \u043d\u0430 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u044b \u043f\u043e \u0437\u0430\u043a\u0430\u0437\u0443",
        "operationId": "getOrderDocuments",
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "langs[index]",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/lang"
              }
            }
          },
          {
            "in": "query",
            "name": "transaction",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/transaction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "voucher_passenger": {
                          "title": "\u041c\u0430\u0441\u0441\u0438\u0432 \u0441\u0441\u044b\u043b\u043e\u043a \u043d\u0430 \u0432\u0430\u0443\u0447\u0435\u0440\u044b \u043f\u043e \u043a\u0430\u0436\u0434\u043e\u043c\u0443 \u043f\u0430\u0441\u0441\u0430\u0436\u0438\u0440\u0443",
                          "description": "\u0422\u0438\u043f\u044b \u043e\u043f\u043b\u0430\u0442\u044b - AMADEUS, API_PARTNER, PAYMENTWALL, PARTNER_ACQUIRING, CLOUDPAYMENTS, FREE_TRIP \u0438\u043b\u0438 \u043d\u0430\u0441\u0442\u0440\u043e\u0439\u043a\u0430\u0445 \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430 \u0432\u044b\u043a\u043b\u044e\u0447\u0435\u043d\u0430 \u043e\u043f\u0446\u0438\u044f IndissolubleVoucher",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ru": {
                                "type": "string",
                                "example": "https://link"
                              },
                              "en": {
                                "type": "string",
                                "example": "https://link"
                              }
                            }
                          }
                        },
                        "voucher_indissoluble": {
                          "title": "\u0421\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u043e\u0431\u0449\u0438\u0439 \u0432\u0430\u0443\u0447\u0435\u0440",
                          "description": "\u0422\u0438\u043f\u044b \u043e\u043f\u043b\u0430\u0442\u044b - OFFLINE_ORDER \u0438\u043b\u0438 \u0432 \u043d\u0430\u0441\u0442\u0440\u043e\u0439\u043a\u0430\u0445 \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430 \u0432\u043a\u043b\u044e\u0447\u0435\u043d\u0430 \u043e\u043f\u0446\u0438\u044f IndissolubleVoucher",
                          "type": "object",
                          "properties": {
                            "ru": {
                              "type": "string",
                              "example": "https://link"
                            },
                            "en": {
                              "type": "string",
                              "example": "https://link"
                            }
                          }
                        },
                        "voucher_common": {
                          "title": "\u0421\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u043e\u0431\u0449\u0438\u0439 \u0432\u0430\u0443\u0447\u0435\u0440",
                          "description": "\u0422\u0438\u043f\u044b \u043e\u043f\u043b\u0430\u0442\u044b - INVOICE, AMADEUS, DEPOSIT",
                          "type": "object",
                          "properties": {
                            "ru": {
                              "type": "string",
                              "example": "https://link"
                            },
                            "en": {
                              "type": "string",
                              "example": "https://link"
                            }
                          }
                        },
                        "notice": {
                          "title": "\u0421\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u0443\u0432\u0435\u0434\u043e\u043c\u043b\u0435\u043d\u0438\u0435",
                          "description": "\u0422\u0438\u043f\u044b \u043e\u043f\u043b\u0430\u0442\u044b - INVOICE, AMADEUS, DEPOSIT",
                          "type": "string",
                          "example": "https://link"
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "401": {
            "description": "Auth Error."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/recommended-time": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "\u0420\u0435\u043a\u043e\u043c\u0435\u043d\u0434\u0443\u0435\u043c\u043e\u0435 \u0432\u0440\u0435\u043c\u044f \u043f\u043e\u0434\u0430\u0447\u0438 \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u044f",
        "operationId": "getRecommendedTime",
        "parameters": [
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          },
          {
            "in": "query",
            "name": "price_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/price_id"
            }
          },
          {
            "in": "query",
            "name": "departure_time",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/departure_time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "recommended_time": {
                          "description": "\u0420\u0435\u043a\u043e\u043c\u0435\u043d\u0434\u0443\u0435\u043c\u043e\u0435 \u0432\u0440\u0435\u043c\u044f \u043f\u043e\u0434\u0430\u0447\u0438 \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u044f",
                          "type": "string",
                          "example": "2021-09-12T09:50:00+07:00"
                        },
                        "min_allowed_time_order": {
                          "description": "\u041c\u0438\u043d\u0438\u043c\u0430\u043b\u044c\u043d\u043e \u0432\u043e\u0437\u043c\u043e\u0436\u043d\u043e\u0435 \u0432\u0440\u0435\u043c\u044f \u043f\u043e\u0434\u0430\u0447\u0438 \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u044f",
                          "type": "string",
                          "example": "2021-11-12T15:30:06+07:00"
                        },
                        "recommended_check_in_time": {
                          "description": "\u0420\u0435\u043a\u043e\u043c\u0435\u043d\u0434\u0443\u0435\u043c\u043e\u0435 \u0432\u0440\u0435\u043c\u044f \u043d\u0430 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u044e",
                          "type": "integer",
                          "example": 7200
                        },
                        "start_time_zone_code": {
                          "description": "\u0412\u0440\u0435\u043c\u0435\u043d\u043d\u043e\u0435 \u0441\u043c\u0435\u0449\u0435\u043d\u0438\u0435 \u043e\u0442 UTC \u0432 \u043c\u0435\u0441\u0442\u0435 \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u044f",
                          "type": "string",
                          "example": "+07:00"
                        },
                        "finish_time_zone_zode": {
                          "description": "\u0412\u0440\u0435\u043c\u0435\u043d\u043d\u043e\u0435 \u0441\u043c\u0435\u0449\u0435\u043d\u0438\u0435 \u043e\u0442 UTC \u0432 \u043c\u0435\u0441\u0442\u0435 \u043f\u0440\u0438\u0431\u044b\u0442\u0438\u044f",
                          "type": "string",
                          "example": "+07:00"
                        },
                        "travel_time": {
                          "description": "\u0412\u0440\u0435\u043c\u044f \u043d\u0430 \u0434\u043e\u0440\u043e\u0433\u0443",
                          "type": "integer",
                          "example": 7200
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Page Not Found."
          },
          "5XX": {
            "description": "Internal Server Error."
          }
        }
      }
    },
    "/v3/orders/check-time": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "order"
        ],
        "summary": "\u041f\u0440\u043e\u0432\u0435\u0440\u043a\u0430 \u0432\u043e\u0437\u043c\u043e\u0436\u043d\u043e\u0441\u0442\u0438 \u043e\u0444\u043e\u0440\u043c\u043b\u0435\u043d\u0438\u044f \u0437\u0430\u043a\u0430\u0437\u0430 \u043d\u0430 \u0443\u043a\u0430\u0437\u0430\u043d\u043d\u043e\u0435 \u0432\u0440\u0435\u043c\u044f",
        "operationId": "checkTime",
        "parameters": [
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/lang"
            }
          },
          {
            "in": "query",
            "name": "user_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/user_id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "price_id": {
                    "$ref": "#/components/schemas/price_id"
                  },
                  "pickup_time": {
                    "$ref": "#/components/schemas/pickup_time"
                  },
                  "departure_time": {
                    "$ref": "#/components/schemas/departure_time"
                  },
                  "start_place_id": {
                    "$ref": "#/components/schemas/start_place_id"
                  }
                },
                "required": [
                  "price_id",
                  "pickup_time"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "allow booking": {
                          "description": "\u0424\u043b\u0430\u0433 \u0432\u043e\u0437\u043c\u043e\u0436\u043d\u043e\u0441\u0442\u0438 \u0431\u0440\u043e\u043d\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044f",
                          "type": "boolean",
                          "example": true
                        },
                        "notice": {
                          "description": "\u041f\u0440\u0438\u043c\u0435\u0447\u0430\u043d\u0438\u0435",
                          "type": "string",
                          "example": ""
                        },
                        "similar_orders": {
                          "description": "\u041f\u043e\u0445\u043e\u0436\u0438\u0435 \u043f\u043e\u0435\u0437\u0434\u043a\u0438 \u0443 \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430 \u0432 \u043f\u0440\u043e\u043c\u0435\u0436\u0443\u0442\u043a\u0435 \u0432\u0440\u0435\u043c\u0435\u043d\u0438",
                          "type": "object",
                          "example": null
                        },
                        "possible_connecting_time": {
                          "description": "\u0412\u0440\u0435\u043c\u044f \u0432\u044b\u043b\u0435\u0442\u0430 \u0441\u0430\u043c\u043e\u043b\u0435\u0442\u0430 \u0438\u043b\u0438 \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u044f \u043f\u043e\u0435\u0437\u0434\u0430 \u043d\u0435 \u0443\u0434\u043e\u0432\u043b\u0435\u0442\u0432\u043e\u0440\u044f\u0435\u0442 \u0443\u0441\u043b\u043e\u0432\u0438\u044f\u043c",
                          "type": "boolean",
                          "example": true
                        },
                        "possible_pickup_time": {
                          "description": "\u0412\u0440\u0435\u043c\u044f \u043f\u043e\u0434\u0430\u0447\u0438 \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u044f \u043d\u0435 \u0443\u0434\u043e\u0432\u043b\u0435\u0442\u0432\u043e\u0440\u044f\u0435\u0442 \u0443\u0441\u043b\u043e\u0432\u0438\u044f\u043c",
                          "type": "boolean",
                          "example": true
                        },
                        "min_allowed_time_order": {
                          "description": "\u041c\u0438\u043d\u0438\u043c\u0430\u043b\u044c\u043d\u043e\u0435 \u0432\u043e\u0437\u043c\u043e\u0436\u043d\u043e\u0435 \u0432\u0440\u0435\u043c\u044f \u043f\u043e\u0434\u0430\u0447\u0438 \u0430\u0432\u0442\u043e\u043c\u043e\u0431\u0438\u043b\u044f \u0432 \u0447\u0430\u0441\u043e\u0432\u043e\u043c \u043f\u043e\u044f\u0441\u0435 \u0442\u043e\u0447\u043a\u0438 \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u044f (\u0431\u043b\u0438\u0436\u0430\u0439\u0448\u0435\u0435 \u0432\u0440\u0435\u043c\u044f \u043f\u043e\u0434\u0430\u0447\u0438)",
                          "type": "string",
                          "example": "2021-11-12T15:41:03+07:00"
                        },
                        "min_connecting_time": {
[...]
