{
  "openapi": "3.0.0",
  "info": {
    "description": "Microsoft Visual Studio App Center API",
    "title": "App Center Client",
    "version": "v0.1",
    "x-jentic-source-url": "https://api.appcenter.ms/preview/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.appcenter.ms/"
    }
  ],
  "paths": {
    "/v0.1/account/test/export": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "resources": {
                      "items": {
                        "properties": {
                          "path": {
                            "format": "URL",
                            "type": "string"
                          },
                          "rel": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "APIToken": []
          }
        ],
        "tags": [
          "test"
        ],
        "description": "Lists all the endpoints available for Test accounts data",
        "operationId": "test_gdprExportAccounts"
      }
    },
    "/v0.1/account/test/export/accounts": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "format": "uuid",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "APIToken": []
          }
        ],
        "tags": [
          "test"
        ],
        "description": "Lists account data",
        "operationId": "test_gdprExportAccount"
      }
    },
    "/v0.1/account/test/export/featureFlags": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "target_id": {
                      "format": "uuid",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "APIToken": []
          }
        ],
        "tags": [
          "test"
        ],
        "description": "Lists feature flag data",
        "operationId": "test_gdprExportFeatureFlag"
      }
    },
    "/v0.1/administeredOrgs": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "organizations": {
                      "properties": {
                        "avatar_url": {
                          "description": "The URL to a user-uploaded Avatar image",
                          "type": "string"
                        },
                        "created_at": {
                          "description": "The creation date of this organization",
                          "type": "string"
                        },
                        "display_name": {
                          "description": "The display name of the organization",
                          "type": "string"
                        },
                        "id": {
                          "description": "The internal unique id (UUID) of the organization.",
                          "format": "uuid",
                          "type": "string"
                        },
                        "name": {
                          "description": "The slug name of the organization",
                          "type": "string"
                        },
                        "origin": {
                          "description": "The creation origin of this organization",
                          "enum": [
                            "appcenter",
                            "hockeyapp"
                          ],
                          "type": "string"
                        },
                        "updated_at": {
                          "description": "The date the organization was last updated at",
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "display_name",
                        "name",
                        "origin",
                        "created_at",
                        "updated_at"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "organizations"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "enum": [
                            "BadRequest",
                            "Conflict",
                            "NotAcceptable",
                            "NotFound",
                            "InternalServerError",
                            "Unauthorized",
                            "TooManyRequests"
                          ],
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "APIToken": []
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Returns a list organizations in which the requesting user is an admin",
        "operationId": "organizations_listAdministered"
      }
    },
    "/v0.1/api_tokens": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "created_at": {
                        "description": "The creation time",
                        "type": "string"
                      },
                      "description": {
                        "description": "The description of the token",
                        "type": "string"
                      },
                      "id": {
                        "description": "The unique id (UUID) of the api token",
                        "type": "string"
                      },
                      "scope": {
                        "description": "The scope for this token.",
                        "items": {
                          "enum": [
                            "all",
                            "viewer"
                          ],
                          "type": "string"
                        },
                        "type": "array"
                      }
                    },
                    "required": [
                      "id",
                      "created_at"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "enum": [
                            "BadRequest",
                            "Conflict",
                            "NotAcceptable",
                            "NotFound",
                            "InternalServerError",
                            "Unauthorized",
                            "TooManyRequests"
                          ],
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Error"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "enum": [
                            "BadRequest",
                            "Conflict",
                            "NotAcceptable",
                            "NotFound",
                            "InternalServerError",
                            "Unauthorized",
                            "TooManyRequests"
                          ],
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "Basic": []
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Returns api tokens for the authenticated user",
        "operationId": "userApiTokens_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "api_token": {
                      "description": "The api token generated will not be accessible again",
                      "type": "string"
                    },
                    "created_at": {
                      "description": "The creation time",
                      "type": "string"
                    },
                    "description": {
                      "description": "The description of the token",
                      "type": "string"
                    },
                    "id": {
                      "description": "The unique id (UUID) of the api token",
                      "type": "string"
                    },
                    "scope": {
                      "description": "The scope for this token.",
                      "items": {
                        "enum": [
                          "all",
                          "viewer"
                        ],
                        "type": "string"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "id",
                    "created_at",
                    "api_token"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "enum": [
                            "BadRequest",
                            "Conflict",
                            "NotAcceptable",
                            "NotFound",
                            "InternalServerError",
                            "Unauthorized",
                            "TooManyRequests"
                          ],
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Error"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "enum": [
                            "BadRequest",
                            "Conflict",
                            "NotAcceptable",
                            "NotFound",
                            "InternalServerError",
                            "Unauthorized",
                            "TooManyRequests"
                          ],
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "Basic": []
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Creates a new User API token",
        "operationId": "userApiTokens_new",
        "requestBody": {
          "$ref": "#/components/requestBodies/appApiTokens_newDescription"
        }
      }
    },
    "/v0.1/api_tokens/{api_token_id}": {
      "delete": {
        "parameters": [
          {
            "description": "The unique ID (UUID) of the api token",
            "in": "path",
            "name": "api_token_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "enum": [
                            "BadRequest",
                            "Conflict",
                            "NotAcceptable",
                            "NotFound",
                            "InternalServerError",
                            "Unauthorized",
                            "TooManyRequests"
                          ],
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Error"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "enum": [
                            "BadRequest",
                            "Conflict",
                            "NotAcceptable",
                            "NotFound",
                            "InternalServerError",
                            "Unauthorized",
                            "TooManyRequests"
                          ],
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "enum": [
                            "BadRequest",
                            "Conflict",
                            "NotAcceptable",
                            "NotFound",
                            "InternalServerError",
                            "Unauthorized",
                            "TooManyRequests"
                          ],
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "NotFound"
          }
        },
        "security": [
          {
            "Basic": []
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Delete the user api_token object with the specific id",
        "operationId": "userApiTokens_delete"
      }
    },
    "/v0.1/apps": {
      "get": {
        "parameters": [
          {
            "description": "The name of the attribute by which to order the response by. By default, apps are in order of creation. All results are ordered in ascending order.",
            "in": "query",
            "name": "$orderBy",
            "schema": {
              "enum": [
                "display_name",
                "name"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "allOf": [
                      {
                        "properties": {
                          "description": {
                            "description": "The description of the app",
                            "type": "string"
                          },
                          "display_name": {
                            "description": "The display name of the app",
                            "type": "string"
                          },
                          "icon_source": {
                            "description": "The string representation of the source of the app's icon",
                            "type": "string"
                          },
                          "icon_url": {
                            "description": "The string representation of the URL pointing to the app's icon",
                            "type": "string"
                          },
                          "id": {
                            "description": "The unique ID (UUID) of the app",
                            "format": "uuid",
                            "type": "string"
                          },
                          "name": {
                            "description": "The name of the app used in URLs",
                            "type": "string"
                          },
                          "os": {
                            "description": "The OS the app will be running on",
                            "enum": [
                              "Android",
                              "iOS",
                              "macOS",
                              "Tizen",
                              "tvOS",
                              "Windows",
                              "Linux",
                              "Custom"
                            ],
                            "type": "string"
                          },
                          "owner": {
                            "description": "The information about the app's owner",
                            "properties": {
                              "avatar_url": {
                                "description": "The avatar URL of the owner",
                                "type": "string"
                              },
                              "display_name": {
                                "description": "The owner's display name",
                                "type": "string"
                              },
                              "email": {
                                "description": "The owner's email address",
                                "type": "string"
                              },
                              "id": {
                                "description": "The unique id (UUID) of the owner",
                                "format": "uuid",
                                "type": "string"
                              },
                              "name": {
                                "description": "The unique name that used to identify the owner",
                                "type": "string"
                              },
                              "type": {
                                "description": "The owner type. Can either be 'org' or 'user'",
                                "enum": [
                                  "org",
                                  "user"
                                ],
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "display_name",
                              "name",
                              "type"
                            ],
                            "type": "object"
                          },
                          "release_type": {
                            "description": "A one-word descriptive release-type value that starts with a capital letter but is otherwise lowercase",
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "display_name",
                          "name",
                          "os",
                          "owner"
                        ],
                        "type": "object"
                      },
                      {
                        "properties": {
                          "app_secret": {
                            "description": "A unique and secret key used to identify the app in communication with the ingestion endpoint for crash reporting and analytics",
                            "type": "string"
                          },
                          "azure_subscription": {
                            "properties": {
                              "is_billable": {
                                "description": "If the subscription can be used for billing",
                                "type": "boolean"
                              },
                              "is_billing": {
                                "description": "If the subscription is used for billing",
                                "type": "boolean"
                              },
                              "is_microsoft_internal": {
                                "description": "If the subscription is internal Microsoft subscription",
                                "type": "boolean"
                              },
                              "subscription_id": {
                                "description": "The azure subscription id",
                                "format": "uuid",
                                "type": "string"
                              },
                              "subscription_name": {
                                "description": "The name of the azure subscription",
                                "type": "string"
                              },
                              "tenant_id": {
                                "description": "The tenant id of the azure subscription belongs to",
                                "format": "uuid",
                                "type": "string"
                              }
                            },
                            "required": [
                              "subscription_id",
                              "tenant_id",
                              "subscription_name"
                            ],
                            "type": "object"
                          },
                          "created_at": {
                            "description": "The created date of this app",
                            "type": "string"
                          },
                          "member_permissions": {
                            "description": "The permissions of the calling user",
                            "items": {
                              "enum": [
                                "manager",
                                "developer",
                                "viewer",
                                "tester"
                              ],
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "origin": {
                            "description": "The creation origin of this app",
                            "enum": [
                              "appcenter",
                              "hockeyapp",
                              "codepush"
                            ],
                            "type": "string"
                          },
                          "platform": {
                            "description": "The platform of the app",
                            "enum": [
                              "Java",
                              "Objective-C-Swift",
                              "UWP",
                              "Cordova",
                              "React-Native",
                              "Unity",
                              "Electron",
                              "Xamarin",
                              "WPF",
                              "WinForms",
                              "Unknown",
                              "Custom"
                            ],
                            "type": "string"
                          },
                          "updated_at": {
                            "description": "The last updated date of this app",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    ],
                    "required": [
                      "app_secret",
                      "platform",
                      "origin"
                    ]
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "enum": [
                            "BadRequest",
                            "Conflict",
                            "NotAcceptable",
                            "NotFound",
                            "InternalServerError",
                            "Unauthorized",
                            "TooManyRequests"
                          ],
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "APIToken": []
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Returns a list of apps",
        "operationId": "apps_list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "properties": {
                        "description": {
                          "description": "The description of the app",
                          "type": "string"
                        },
                        "display_name": {
                          "description": "The display name of the app",
                          "type": "string"
                        },
                        "icon_source": {
                          "description": "The string representation of the source of the app's icon",
                          "type": "string"
                        },
                        "icon_url": {
                          "description": "The string representation of the URL pointing to the app's icon",
                          "type": "string"
                        },
                        "id": {
                          "description": "The unique ID (UUID) of the app",
                          "format": "uuid",
                          "type": "string"
                        },
                        "name": {
                          "description": "The name of the app used in URLs",
                          "type": "string"
                        },
                        "os": {
                          "description": "The OS the app will be running on",
                          "enum": [
                            "Android",
                            "iOS",
                            "macOS",
                            "Tizen",
                            "tvOS",
                            "Windows",
                            "Linux",
                            "Custom"
                          ],
                          "type": "string"
                        },
                        "owner": {
                          "description": "The information about the app's owner",
                          "properties": {
                            "avatar_url": {
                              "description": "The avatar URL of the owner",
                              "type": "string"
                            },
                            "display_name": {
                              "description": "The owner's display name",
                              "type": "string"
                            },
                            "email": {
                              "description": "The owner's email address",
                              "type": "string"
                            },
                            "id": {
                              "description": "The unique id (UUID) of the owner",
                              "format": "uuid",
                              "type": "string"
                            },
                            "name": {
                              "description": "The unique name that used to identify the owner",
                              "type": "string"
                            },
                            "type": {
                              "description": "The owner type. Can either be 'org' or 'user'",
                              "enum": [
                                "org",
                                "user"
                              ],
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "display_name",
                            "name",
                            "type"
                          ],
                          "type": "object"
                        },
                        "release_type": {
                          "description": "A one-word descriptive release-type value that starts with a capital letter but is otherwise lowercase",
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "display_name",
                        "name",
                        "os",
                        "owner"
                      ],
                      "type": "object"
                    },
                    {
                      "properties": {
                        "app_secret": {
                          "description": "A unique and secret key used to identify the app in communication with the ingestion endpoint for crash reporting and analytics",
                          "type": "string"
                        },
                        "azure_subscription": {
                          "properties": {
                            "is_billable": {
                              "description": "If the subscription can be used for billing",
                              "type": "boolean"
                            },
                            "is_billing": {
                              "description": "If the subscription is used for billing",
                              "type": "boolean"
                            },
                            "is_microsoft_internal": {
                              "description": "If the subscription is internal Microsoft subscription",
                              "type": "boolean"
                            },
                            "subscription_id": {
                              "description": "The azure subscription id",
                              "format": "uuid",
                              "type": "string"
                            },
                            "subscription_name": {
                              "description": "The name of the azure subscription",
                              "type": "string"
                            },
                            "tenant_id": {
                              "description": "The tenant id of the azure subscription belongs to",
                              "format": "uuid",
                              "type": "string"
                            }
                          },
                          "required": [
                            "subscription_id",
                            "tenant_id",
                            "subscription_name"
                          ],
                          "type": "object"
                        },
                        "created_at": {
                          "description": "The created date of this app",
                          "type": "string"
                        },
                        "member_permissions": {
                          "description": "The permissions of the calling user",
                          "items": {
                            "enum": [
                              "manager",
                              "developer",
                              "viewer",
                              "tester"
                            ],
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "origin": {
                          "description": "The creation origin of this app",
                          "enum": [
                            "appcenter",
                            "hockeyapp",
                            "codepush"
                          ],
                          "type": "string"
                        },
                        "platform": {
                          "description": "The platform of the app",
                          "enum": [
                            "Java",
                            "Objective-C-Swift",
                            "UWP",
                            "Cordova",
                            "React-Native",
                            "Unity",
                            "Electron",
                            "Xamarin",
                            "WPF",
                            "WinForms",
                            "Unknown",
                            "Custom"
                          ],
                          "type": "string"
                        },
                        "updated_at": {
                          "description": "The last updated date of this app",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "required": [
                    "app_secret",
                    "platform",
                    "origin"
                  ]
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "enum": [
                            "BadRequest",
                            "Conflict",
                            "NotAcceptable",
                            "NotFound",
                            "InternalServerError",
                            "Unauthorized",
                            "TooManyRequests"
                          ],
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "APIToken": []
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Creates a new app and returns it to the caller",
        "operationId": "apps_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/apps_createForOrgApp"
        }
      }
    },
    "/v0.1/apps/{owner_name}/{app_name}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the application",
            "in": "path",
            "name": "app_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the owner",
            "in": "path",
            "name": "owner_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "enum": [
                            "BadRequest",
                            "Conflict",
                            "NotAcceptable",
                            "NotFound",
                            "InternalServerError",
                            "Unauthorized",
                            "TooManyRequests"
                          ],
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "APIToken": []
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Delete an app",
        "operationId": "apps_delete",
        "x-api-principals": [
          "user"
        ]
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the owner",
            "in": "path",
            "name": "owner_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the application",
            "in": "path",
            "name": "app_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "properties": {
                        "description": {
                          "description": "The description of the app",
                          "type": "string"
                        },
                        "display_name": {
                          "description": "The display name of the app",
                          "type": "string"
                        },
                        "icon_source": {
                          "description": "The string representation of the source of the app's icon",
                          "type": "string"
                        },
                        "icon_url": {
                          "description": "The string representation of the URL pointing to the app's icon",
                          "type": "string"
                        },
                        "id": {
                          "description": "The unique ID (UUID) of the app",
                          "format": "uuid",
                          "type": "string"
                        },
                        "name": {
                          "description": "The name of the app used in URLs",
                          "type": "string"
                        },
                        "os": {
                          "description": "The OS the app will be running on",
                          "enum": [
                            "Android",
                            "iOS",
                            "macOS",
                            "Tizen",
                            "tvOS",
                            "Windows",
                            "Linux",
                            "Custom"
                          ],
                          "type": "string"
                        },
                        "owner": {
                          "description": "The information about the app's owner",
                          "properties": {
                            "avatar_url": {
                              "description": "The avatar URL of the owner",
                              "type": "string"
                            },
                            "display_name": {
                              "description": "The owner's display name",
                              "type": "string"
                            },
                            "email": {
                              "description": "The owner's email address",
                              "type": "string"
                            },
                            "id": {
                              "description": "The unique id (UUID) of the owner",
                              "format": "uuid",
                              "type": "string"
                            },
                            "name": {
                              "description": "The unique name that used to identify the owner",
                              "type": "string"
                            },
                            "type": {
                              "description": "The owner type. Can either be 'org' or 'user'",
                              "enum": [
                                "org",
                                "user"
                              ],
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "display_name",
                            "name",
                            "type"
                          ],
                          "type": "object"
                        },
                        "release_type": {
                          "description": "A one-word descriptive release-type value that starts with a capital letter but is otherwise lowercase",
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "display_name",
                        "name",
                        "os",
                        "owner"
                      ],
                      "type": "object"
                    },
                    {
                      "properties": {
                        "app_secret": {
                          "description": "A unique and secret key used to identify the app in communication with the ingestion endpoint for crash reporting and analytics",
                          "type": "string"
                        },
                        "azure_subscription": {
                          "properties": {
                            "is_billable": {
                              "description": "If the subscription can be used for billing",
                              "type": "boolean"
                            },
                            "is_billing": {
                              "description": "If the subscription is used for billing",
                              "type": "boolean"
                            },
                            "is_microsoft_internal": {
                              "description": "If the subscription is internal Microsoft subscription",
                              "type": "boolean"
                            },
                            "subscription_id": {
                              "description": "The azure subscription id",
                              "format": "uuid",
                              "type": "string"
                            },
                            "subscription_name": {
                              "description": "The name of the azure subscription",
                              "type": "string"
                            },
                            "tenant_id": {
                              "description": "The tenant id of the azure subscription belongs to",
                              "format": "uuid",
                              "type": "string"
                            }
                          },
                          "required": [
                            "subscription_id",
                            "tenant_id",
                            "subscription_name"
                          ],
                          "type": "object"
                        },
                        "created_at": {
                          "description": "The created date of this app",
                          "type": "string"
                        },
                        "member_permissions": {
                          "description": "The permissions of the calling user",
                          "items": {
                            "enum": [
                              "manager",
                              "developer",
                              "viewer",
                              "tester"
                            ],
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "origin": {
                          "description": "The creation origin of this app",
                          "enum": [
                            "appcenter",
                            "hockeyapp",
                            "codepush"
                          ],
                          "type": "string"
                        },
                        "platform": {
                          "description": "The platform of the app",
                          "enum": [
                            "Java",
                            "Objective-C-Swift",
                            "UWP",
                            "Cordova",
                            "React-Native",
                            "Unity",
                            "Electron",
                            "Xamarin",
                            "WPF",
                            "WinForms",
                            "Unknown",
                            "Custom"
                          ],
                          "type": "string"
                        },
                        "updated_at": {
                          "description": "The last updated date of this app",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "required": [
                    "app_secret",
                    "platform",
                    "origin"
                  ]
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "enum": [
                            "BadRequest",
                            "Conflict",
                            "NotAcceptable",
                            "NotFound",
                            "InternalServerError",
                            "Unauthorized",
                            "TooManyRequests"
                          ],
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "APIToken": []
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Return a specific app with the given app name which belongs to the given owner.",
        "operationId": "apps_get"
      },
      "patch": {
        "parameters": [
          {
            "description": "The name of the application",
            "in": "path",
            "name": "app_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the owner",
            "in": "path",
            "name": "owner_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "properties": {
                        "description": {
                          "description": "The description of the app",
                          "type": "string"
                        },
                        "display_name": {
                          "description": "The display name of the app",
                          "type": "string"
                        },
                        "icon_source": {
                          "description": "The string representation of the source of the app's icon",
                          "type": "string"
                        },
                        "icon_url": {
                          "description": "The string representation of the URL pointing to the app's icon",
                          "type": "string"
                        },
                        "id": {
                          "description": "The unique ID (UUID) of the app",
                          "format": "uuid",
                          "type": "string"
                        },
                        "name": {
                          "description": "The name of the app used in URLs",
                          "type": "string"
                        },
                        "os": {
                          "description": "The OS the app will be running on",
                          "enum": [
                            "Android",
                            "iOS",
                            "macOS",
                            "Tizen",
                            "tvOS",
                            "Windows",
                            "Linux",
                            "Custom"
                          ],
                          "type": "string"
                        },
                        "owner": {
                          "description": "The information about the app's owner",
                          "properties": {
                            "avatar_url": {
                              "description": "The avatar URL of the owner",
                              "type": "string"
                            },
                            "display_name": {
                              "description": "The owner's display name",
                              "type": "string"
                            },
                            "email": {
                              "description": "The owner's email address",
                              "type": "string"
                            },
                            "id": {
                              "description": "The unique id (UUID) of the owner",
                              "format": "uuid",
                              "type": "string"
                            },
                            "name": {
                              "description": "The unique name that used to identify the owner",
                              "type": "string"
                            },
                            "type": {
                              "description": "The owner type. Can either be 'org' or 'user'",
                              "enum": [
                                "org",
                                "user"
                              ],
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "display_name",
                            "name",
                            "type"
                          ],
                          "type": "object"
                        },
                        "release_type": {
                          "description": "A one-word descriptive release-type value that starts with a capital letter but is otherwise lowercase",
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "display_name",
                        "name",
                        "os",
                        "owner"
                      ],
                      "type": "object"
                    },
                    {
                      "properties": {
                        "app_secret": {
                          "description": "A unique and secret key used to identify the app in communication with the ingestion endpoint for crash reporting and analytics",
                          "type": "string"
                        },
                        "azure_subscription": {
                          "properties": {
                            "is_billable": {
                              "description": "If the subscription can be used for billing",
                              "type": "boolean"
                            },
                            "is_billing": {
                              "description": "If the subscription is used for billing",
                              "type": "boolean"
                            },
                            "is_microsoft_internal": {
                              "description": "If the subscription is internal Microsoft subscription",
                              "type": "boolean"
                            },
                            "subscription_id": {
                              "description": "The azure subscription id",
                              "format": "uuid",
                              "type": "string"
                            },
                            "subscription_name": {
                              "description": "The name of the azure subscription",
                              "type": "string"
                            },
                            "tenant_id": {
                              "description": "The tenant id of the azure subscription belongs to",
                              "format": "uuid",
                              "type": "string"
                            }
                          },
                          "required": [
                            "subscription_id",
                            "tenant_id",
                            "subscription_name"
                          ],
                          "type": "object"
                        },
                        "created_at": {
                          "description": "The created date of this app",
                          "type": "string"
                        },
                        "member_permissions": {
                          "description": "The permissions of the calling user",
                          "items": {
                            "enum": [
                              "manager",
                              "developer",
                              "viewer",
                              "tester"
                            ],
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "origin": {
                          "description": "The creation origin of this app",
                          "enum": [
                            "appcenter",
                            "hockeyapp",
                            "codepush"
                          ],
                          "type": "string"
                        },
                        "platform": {
                          "description": "The platform of the app",
                          "enum": [
                            "Java",
                            "Objective-C-Swift",
                            "UWP",
                            "Cordova",
                            "React-Native",
                            "Unity",
                            "Electron",
                            "Xamarin",
                            "WPF",
                            "WinForms",
                            "Unknown",
                            "Custom"
                          ],
                          "type": "string"
                        },
                        "updated_at": {
                          "description": "The last updated date of this app",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "required": [
                    "app_secret",
                    "platform",
                    "origin"
                  ]
                }
              }
            },
            "description": "Success"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "enum": [
                            "BadRequest",
                            "Conflict",
                            "NotAcceptable",
                            "NotFound",
                            "InternalServerError",
                            "Unauthorized",
                            "TooManyRequests"
                          ],
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "BadRequest"
          }
        },
        "security": [
          {
            "APIToken": []
          }
        ],
        "tags": [
          "account"
        ],
        "description": "Partially updates a single app",
        "operationId": "apps_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "A short text describing the app",
                    "type": "string"
                  },
                  "display_name": {
                    "description": "The display name of the app",
                    "type": "string"
                  },
                  "icon_asset_id": {
                    "description": "The uuid for the icon's asset id from ACFUS",
                    "format": "uuid",
                    "type": "string"
                  },
                  "icon_url": {
                    "description": "The string representation of the URL pointing to the app's icon",
                    "type": "string"
                  },
                  "name": {
                    "description": "The name of the app used in URLs",
                    "type": "string"
                  },
                  "release_type": {
                    "description": "A one-word descriptive release type value that starts with a capital letter but is otherwise lowercase",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "The partial data for the app"
        }
      }
    },
    "/v0.1/apps/{owner_name}/{app_name}/analytics/active_device_counts": {
      "get": {
        "parameters": [
          {
            "description": "Start date time in data in ISO 8601 date time format.",
            "in": "query",
            "name": "start",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Last date time in data in ISO 8601 date time format.",
            "in": "query",
            "name": "end",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "To select specific application versions",
            "in": "query",
            "name": "versions",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "pipeDelimited",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Application build number. If build number is specified than multiple versions are not allowed.",
            "in": "query",
            "name": "app_build",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the owner",
            "in": "path",
            "name": "owner_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the application",
            "in": "path",
            "name": "app_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "daily": {
                      "description": "The active device count for each interval.",
                      "items": {
                        "properties": {
                          "count": {
                            "description": "Count of the object.",
                            "format": "int64",
                            "type": "integer"
                          },
                          "datetime": {
                            "description": "The ISO 8601 datetime.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "monthly": {
                      "description": "The active device count for each interval with a month's retention.",
                      "items": {
                        "properties": {
                          "count": {
                            "description": "Count of the object.",
                            "format": "int64",
                            "type": "integer"
                          },
                          "datetime": {
                            "description": "The ISO 8601 datetime.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "weekly": {
                      "description": "The active device count for each interval with a week's retention.",
                      "items": {
                        "properties": {
                          "count": {
                            "description": "Count of the object.",
                            "format": "int64",
                            "type": "integer"
                          },
                          "datetime": {
                            "description": "The ISO 8601 datetime.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Count of active devices by interval in the time range."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error",
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "description": "The status code return by the API. It can be 400 or 403 or 500.",
                          "enum": [
                            400,
                            403,
                            500
                          ],
                          "type": "integer"
                        },
                        "message": {
                          "description": "The reason for the request failed.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error code with reason."
          }
        },
        "security": [
          {
            "APIToken": []
          }
        ],
        "tags": [
          "analytics"
        ],
        "description": "Count of active devices by interval in the time range.",
        "operationId": "Analytics_DeviceCounts"
      }
    },
    "/v0.1/apps/{owner_name}/{app_name}/analytics/audiences": {
      "get": {
        "parameters": [
          {
            "description": "Include disabled audience definitions",
            "in": "query",
            "name": "include_disabled",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the owner",
            "in": "path",
            "name": "owner_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the application",
            "in": "path",
            "name": "app_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "List of audiences.",
                  "properties": {
                    "nextLink": {
                      "type": "string"
                    },
                    "values": {
                      "description": "List of audiences.",
                      "items": {
                        "description": "Audience definition.",
                        "properties": {
                          "definition": {
                            "description": "Audience definition in OData format.",
                            "type": "string"
                          },
                          "description": {
                            "description": "Audience description.",
                            "type": "string"
                          },
                          "estimated_count": {
                            "description": "Estimated audience size.",
                            "format": "int64",
                            "type": "integer"
                          },
                          "name": {
                            "description": "Audience name.",
                            "type": "string"
                          },
                          "state": {
                            "description": "Audience state.",
                            "enum": [
                              "Calculating",
                              "Ready",
                              "Disabled"
                            ],
                            "type": "string",
                            "x-ms-enum": {
                              "name": "AudienceProcessingState"
                            }
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "values"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "List of audiences."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "enum": [
                            "BadRequest",
                            "Conflict",
                            "NotAcceptable",
                            "NotFound",
                            "InternalServerError",
                            "Unauthorized",
                            "TooManyRequests"
                          ],
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Error code with reason"
          }
        },
        "security": [
          {
            "APIToken": []
          }
        ],
        "tags": [
          "analytics"
        ],
        "description": "Get list of audiences.",
        "operationId": "Analytics_ListAudiences"
      }
    },
    "/v0.1/apps/{owner_name}/{app_name}/analytics/audiences/definition/test": {
      "post": {
        "parameters": [
          {
            "description": "The name of the owner",
            "in": "path",
            "name": "owner_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the application",
            "in": "path",
            "name": "app_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Audience test result.",
                  "properties": {
                    "custom_properties": {
                      "additionalProperties": {
                        "enum": [
                          "string",
                          "number",
                          "boolean",
                          "date_time"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                          "modelAsString": false,
                          "name": "device_property_type"
                        }
                      },
                      "description": "Custom properties used in the definition.",
                      "type": "object"
                    },
                    "definition": {
                      "description": "Audience definition in OData format.",
                      "type": "string"
                    },
                    "estimated_count": {
                      "description": "Estimated audience size.",
                      "format": "int64",
                      "type": "integer"
                    },
                    "estimated_total_count": {
                      "description": "Estimated total audience size.",
                      "format": "int64",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Tests audience definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "enum": [
                            "BadRequest",
                            "Conflict",
                            "NotAcceptable",
                            "NotFound",
                            "InternalServerError",
                            "Unauthorized",
                            "TooManyRequests"
                          ],
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Error code with reason"
          }
        },
        "security": [
          {
            "APIToken": []
          }
        ],
        "tags": [
          "analytics"
        ],
        "description": "Tests audience definition.",
        "operationId": "Analytics_TestAudience",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Audience definition.",
                "properties": {
                  "custom_properties": {
                    "additionalProperties": {
                      "enum": [
                        "string",
                        "number",
                        "boolean",
                        "date_time"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": false,
                        "name": "device_property_type"
                      }
                    },
                    "description": "Custom properties used in the definition.",
                    "type": "object"
                  },
                  "definition": {
                    "description": "Audience definition in OData format.",
                    "maxLength": 2000,
                    "type": "string"
                  },
                  "description": {
                    "description": "Audience description.",
                    "maxLength": 128,
                    "type": "string"
                  },
                  "enabled": {
                    "default": true,
                    "type": "boolean"
                  }
                },
                "required": [
                  "definition"
                ],
                "type": "object"
              }
            }
          },
          "description": "Audience definition",
          "required": true
        }
      }
    },
    "/v0.1/apps/{owner_name}/{app_name}/analytics/audiences/metadata/custom_properties": {
      "get": {
        "parameters": [
          {
            "description": "The name of the owner",
            "in": "path",
            "name": "owner_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the application",
            "in": "path",
            "name": "app_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "List of device properties.",
                  "properties": {
                    "values": {
                      "additionalProperties": {
                        "description": "Type of the property.",
                        "enum": [
                          "string",
                          "number",
                          "boolean",
                          "date_time"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                          "modelAsString": false,
                          "name": "device_property_type"
                        }
                      },
                      "description": "List of device properties.",
                      "type": "object"
                    }
                  },
                  "required": [
                    "values"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "List of device properties."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "enum": [
                            "BadRequest",
                            "Conflict",
                            "NotAcceptable",
                            "NotFound",
                            "InternalServerError",
                            "Unauthorized",
                            "TooManyRequests"
                          ],
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Error code with reason"
          }
        },
        "security": [
          {
            "APIToken": []
          }
        ],
        "tags": [
          "analytics"
        ],
        "description": "Get list of custom properties.",
        "operationId": "Analytics_ListCustomProperties"
      }
    },
    "/v0.1/apps/{owner_name}/{app_name}/analytics/audiences/metadata/device_properties": {
      "get": {
        "parameters": [
          {
            "description": "The name of the owner",
            "in": "path",
            "name": "owner_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the application",
            "in": "path",
            "name": "app_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "List of device properties.",
                  "properties": {
                    "values": {
                      "additionalProperties": {
                        "description": "Type of the property.",
                        "enum": [
                          "string",
                          "number",
                          "boolean",
                          "date_time"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                          "modelAsString": false,
                          "name": "device_property_type"
                        }
                      },
                      "description": "List of device properties.",
                      "type": "object"
                    }
                  },
                  "required": [
                    "values"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "List of device properties."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "enum": [
                            "BadRequest",
                            "Conflict",
                            "NotAcceptable",
                            "NotFound",
                            "InternalServerError",
                            "Unauthorized",
                            "TooManyRequests"
                          ],
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Error code with reason"
          }
        },
        "security": [
          {
            "APIToken": []
          }
        ],
        "tags": [
          "analytics"
        ],
        "description": "Get list of device properties.",
        "operationId": "Analytics_ListDeviceProperties"
      }
    },
    "/v0.1/apps/{owner_name}/{app_name}/analytics/audiences/metadata/device_properties/{property_name}/values": {
      "get": {
        "parameters": [
          {
            "description": "Device property",
            "in": "path",
            "name": "property_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Contains string",
            "in": "query",
            "name": "contains",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the owner",
            "in": "path",
            "name": "owner_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the application",
            "in": "path",
            "name": "app_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "List of device property values.",
                  "properties": {
                    "values": {
                      "description": "List of device property values.",
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "values"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "List of supported device property values."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "enum": [
                            "BadRequest",
                            "Conflict",
                            "NotAcceptable",
                            "NotFound",
                            "InternalServerError",
                            "Unauthorized",
                            "TooManyRequests"
                          ],
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Error code with reason"
          }
        },
        "security": [
          {
            "APIToken": []
          }
        ],
        "tags": [
          "analytics"
        ],
        "description": "Get list of device property values.",
        "operationId": "Analytics_ListDevicePropertyValues"
      }
    },
    "/v0.1/apps/{owner_name}/{app_name}/analytics/audiences/{audience_name}": {
      "delete": {
        "parameters": [
          {
            "description": "The name of the audience",
            "in": "path",
            "name": "audience_name",
            "required": true,
            "schema": {
              "format": "string",
              "maxLength": 64,
              "pattern": "[^/]+",
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the owner",
            "in": "path",
            "name": "owner_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the application",
            "in": "path",
            "name": "app_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "204": {
            "description": "Audiences exists."
          },
          "404": {
            "description": "Audiences does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "properties": {
                        "code": {
                          "enum": [
                            "BadRequest",
                            "Conflict",
                            "NotAcceptable",
                            "NotFound",
                            "InternalServerError",
                            "Unauthorized",
                            "TooManyRequests"
                          ],
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Error code with reason"
          }
        },
        "security": [
          {
            "APIToken": []
          }
        ],
        "tags": [
          "analytics"
        ],
        "description": "Deletes audience definition.",
        "operationId": "Analytics_DeleteAudience"
      },
      "get": {
        "parameters": [
          {
            "description": "The name of the audience",
            "in": "path",
            "name": "audience_name",
            "required": true,
            "schema": {
              "format": "string",
              "maxLength": 64,
              "pattern": "[^/]+",
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the owner",
            "in": "path",
            "name": "owner_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the application",
            "in": "path",
            "name": "app_name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "Audience definition.",
                      "properties": {
                        "definition": {
                          "description": "Audience definition in OData format.",
                          "type": "string"
                        },
                        "description": {
                          "description": "Audience description.",
                          "type": "string"
                        },
                        "estimated_count": {
                          "description": "Estimated audience size.",
                          "format": "int64",
                          "type": "integer"
                        },
                        "name": {
                          "description": "Audience name.",
                          "type": "string"
                        },
                        "state": {
                          "description": "Audience state.",
                          "enum": [
                            "Calculating",
                            "Ready",
                            "Disabled"
                          ],
[...]
