{
  "openapi": "3.0.3",
  "info": {
    "title": "TaxJar Sales Tax API",
    "description": "TaxJar's API makes it easy to calculate sales tax, manage order transactions, and maintain up-to-date tax rates.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://developers.taxjar.com/api/reference/#sales-tax-api"
  },
  "servers": [
    {
      "url": "https://api.taxjar.com/v2",
      "description": "Production"
    },
    {
      "url": "https://api.sandbox.taxjar.com/v2",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/categories": {
      "get": {
        "operationId": "listCategories",
        "summary": "List tax categories",
        "description": "Lists all tax categories with their product tax codes.",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "categories": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Category"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/taxes": {
      "post": {
        "operationId": "calculateTaxes",
        "summary": "Calculate sales tax for an order",
        "description": "Calculates the sales tax that should be collected for a given order.",
        "tags": [
          "Taxes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxCalculationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tax calculation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tax": {
                      "$ref": "#/components/schemas/TaxResult"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/transactions/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "List order transactions",
        "description": "Lists existing order transactions.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "transaction_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "The date the transactions were recorded"
          },
          {
            "name": "from_transaction_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start of date range"
          },
          {
            "name": "to_transaction_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End of date range"
          }
        ],
        "responses": {
          "200": {
            "description": "List of order transaction IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orders": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createOrder",
        "summary": "Create an order transaction",
        "description": "Creates a new order transaction.",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/transactions/orders/{transaction_id}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Show an order transaction",
        "description": "Shows an existing order transaction.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the order transaction"
          }
        ],
        "responses": {
          "200": {
            "description": "Order transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "operationId": "updateOrder",
        "summary": "Update an order transaction",
        "description": "Updates an existing order transaction.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      },
      "delete": {
        "operationId": "deleteOrder",
        "summary": "Delete an order transaction",
        "description": "Deletes an existing order transaction.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/transactions/refunds": {
      "get": {
        "operationId": "listRefunds",
        "summary": "List refund transactions",
        "description": "Lists existing refund transactions.",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "transaction_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "from_transaction_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to_transaction_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of refund transaction IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refunds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createRefund",
        "summary": "Create a refund transaction",
        "description": "Creates a new refund transaction.",
        "tags": [
          "Refunds"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Refund created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refund": {
                      "$ref": "#/components/schemas/Refund"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/transactions/refunds/{transaction_id}": {
      "get": {
        "operationId": "getRefund",
        "summary": "Show a refund transaction",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refund transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refund": {
                      "$ref": "#/components/schemas/Refund"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "operationId": "updateRefund",
        "summary": "Update a refund transaction",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated refund",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refund": {
                      "$ref": "#/components/schemas/Refund"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteRefund",
        "summary": "Delete a refund transaction",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted refund"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "operationId": "listCustomers",
        "summary": "List customers",
        "description": "Lists existing customers with tax exemptions.",
        "tags": [
          "Customers"
        ],
        "responses": {
          "200": {
            "description": "List of customer IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createCustomer",
        "summary": "Create a customer",
        "description": "Creates a new customer with tax exemption information.",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/customers/{customer_id}": {
      "get": {
        "operationId": "getCustomer",
        "summary": "Show a customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "operationId": "updateCustomer",
        "summary": "Update a customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomer",
        "summary": "Delete a customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted customer"
          }
        }
      }
    },
    "/nexus/regions": {
      "get": {
        "operationId": "listNexusRegions",
        "summary": "List nexus regions",
        "description": "Lists existing nexus locations for the authenticated account.",
        "tags": [
          "Nexus"
        ],
        "responses": {
          "200": {
            "description": "List of nexus regions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "regions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NexusRegion"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/rates/{zip}": {
      "get": {
        "operationId": "getRateForLocation",
        "summary": "Show tax rates for a location",
        "description": "Shows the sales tax rates for a given location.",
        "tags": [
          "Rates"
        ],
        "parameters": [
          {
            "name": "zip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Postal code to look up"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Two-letter ISO country code"
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Two-letter ISO state code"
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "City name"
          },
          {
            "name": "street",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Street address"
          }
        ],
        "responses": {
          "200": {
            "description": "Tax rates for the location",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rate": {
                      "$ref": "#/components/schemas/Rate"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/summary_rates": {
      "get": {
        "operationId": "listSummaryRates",
        "summary": "Summarize tax rates for all regions",
        "description": "Retrieves minimum and average tax rates by region.",
        "tags": [
          "Summary"
        ],
        "responses": {
          "200": {
            "description": "Summary rates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary_rates": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SummaryRate"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/addresses/validate": {
      "get": {
        "operationId": "validateAddress",
        "summary": "Validate an address",
        "description": "Validates a customer address and returns back a collection of address matches.",
        "tags": [
          "Validation"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Two-letter ISO country code"
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Two-letter ISO state code"
          },
          {
            "name": "zip",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Postal code"
          },
          {
            "name": "city",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "City name"
          },
          {
            "name": "street",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Street address"
          }
        ],
        "responses": {
          "200": {
            "description": "Address validation results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "addresses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ValidatedAddress"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/validation": {
      "get": {
        "operationId": "validateVatNumber",
        "summary": "Validate a VAT number",
        "description": "Validates an existing VAT identification number against VIES.",
        "tags": [
          "Validation"
        ],
        "parameters": [
          {
            "name": "vat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VAT identification number to validate"
          }
        ],
        "responses": {
          "200": {
            "description": "VAT validation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "validation": {
                      "$ref": "#/components/schemas/VatValidation"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "TaxJar API token"
      }
    },
    "schemas": {
      "Category": {
        "type": "object",
        "properties": {
          "product_tax_code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "TaxCalculationRequest": {
        "type": "object",
        "required": [
          "to_country",
          "to_state",
          "to_zip",
          "shipping"
        ],
        "properties": {
          "from_country": {
            "type": "string",
            "description": "Two-letter ISO origin country code"
          },
          "from_zip": {
            "type": "string",
            "description": "Origin postal code"
          },
          "from_state": {
            "type": "string",
            "description": "Origin state"
          },
          "from_city": {
            "type": "string",
            "description": "Origin city"
          },
          "from_street": {
            "type": "string",
            "description": "Origin street address"
          },
          "to_country": {
            "type": "string",
            "description": "Two-letter ISO destination country code"
          },
          "to_zip": {
            "type": "string",
            "description": "Destination postal code"
          },
          "to_state": {
            "type": "string",
            "description": "Destination state"
          },
          "to_city": {
            "type": "string",
            "description": "Destination city"
          },
          "to_street": {
            "type": "string",
            "description": "Destination street address"
          },
          "amount": {
            "type": "number",
            "description": "Total amount of the order excluding shipping"
          },
          "shipping": {
            "type": "number",
            "description": "Total shipping amount"
          },
          "customer_id": {
            "type": "string",
            "description": "Unique customer identifier for exemptions"
          },
          "exemption_type": {
            "type": "string",
            "enum": [
              "wholesale",
              "government",
              "marketplace",
              "other",
              "non_exempt"
            ]
          },
          "nexus_addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NexusAddress"
            }
          },
          "line_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaxLineItem"
            }
          }
        }
      },
      "TaxResult": {
        "type": "object",
        "properties": {
          "order_total_amount": {
            "type": "number"
          },
          "shipping": {
            "type": "number"
          },
          "taxable_amount": {
            "type": "number"
          },
          "amount_to_collect": {
            "type": "number"
          },
          "rate": {
            "type": "number"
          },
          "has_nexus": {
            "type": "boolean"
          },
          "freight_taxable": {
            "type": "boolean"
          },
          "tax_source": {
            "type": "string"
          },
          "jurisdictions": {
            "$ref": "#/components/schemas/Jurisdictions"
          },
          "breakdown": {
            "$ref": "#/components/schemas/TaxBreakdown"
          }
        }
      },
      "NexusAddress": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "street": {
            "type": "string"
          }
        }
      },
      "TaxLineItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "product_tax_code": {
            "type": "string"
          },
          "unit_price": {
            "type": "number"
          },
          "discount": {
            "type": "number"
          }
        }
      },
      "Jurisdictions": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "county": {
            "type": "string"
          },
          "city": {
            "type": "string"
          }
        }
      },
      "TaxBreakdown": {
        "type": "object",
        "properties": {
          "taxable_amount": {
            "type": "number"
          },
          "tax_collectable": {
            "type": "number"
          },
          "combined_tax_rate": {
            "type": "number"
          },
          "state_taxable_amount": {
            "type": "number"
          },
          "state_tax_rate": {
            "type": "number"
          },
          "state_tax_collectable": {
            "type": "number"
          },
          "county_taxable_amount": {
            "type": "number"
          },
          "county_tax_rate": {
            "type": "number"
          },
          "county_tax_collectable": {
            "type": "number"
          },
          "city_taxable_amount": {
            "type": "number"
          },
          "city_tax_rate": {
            "type": "number"
          },
          "city_tax_collectable": {
            "type": "number"
          },
          "special_district_taxable_amount": {
            "type": "number"
          },
          "special_tax_rate": {
            "type": "number"
          },
          "special_district_tax_collectable": {
            "type": "number"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string"
          },
          "user_id": {
            "type": "integer"
          },
          "transaction_date": {
            "type": "string",
            "format": "date"
          },
          "from_country": {
            "type": "string"
          },
          "from_zip": {
            "type": "string"
          },
          "from_state": {
            "type": "string"
          },
          "from_city": {
            "type": "string"
          },
          "from_street": {
            "type": "string"
          },
          "to_country": {
            "type": "string"
          },
          "to_zip": {
            "type": "string"
          },
          "to_state": {
            "type": "string"
          },
          "to_city": {
            "type": "string"
          },
          "to_street": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "shipping": {
            "type": "number"
          },
          "sales_tax": {
            "type": "number"
          },
          "line_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderLineItem"
            }
          }
        }
      },
      "OrderInput": {
        "type": "object",
        "required": [
          "transaction_id",
          "transaction_date",
          "to_country",
          "to_state",
          "to_zip",
          "amount",
          "shipping",
          "sales_tax"
        ],
        "properties": {
          "transaction_id": {
            "type": "string"
          },
          "transaction_date": {
            "type": "string",
            "format": "date"
          },
          "from_country": {
            "type": "string"
          },
          "from_zip": {
            "type": "string"
          },
          "from_state": {
            "type": "string"
          },
          "from_city": {
            "type": "string"
          },
          "from_street": {
            "type": "string"
          },
          "to_country": {
            "type": "string"
          },
          "to_zip": {
            "type": "string"
          },
          "to_state": {
            "type": "string"
          },
          "to_city": {
            "type": "string"
          },
          "to_street": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "shipping": {
            "type": "number"
          },
          "sales_tax": {
            "type": "number"
          },
          "customer_id": {
            "type": "string"
          },
          "exemption_type": {
            "type": "string",
            "enum": [
              "wholesale",
              "government",
              "marketplace",
              "other",
              "non_exempt"
            ]
          },
          "line_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderLineItem"
            }
          }
        }
      },
      "OrderLineItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "product_identifier": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "product_tax_code": {
            "type": "string"
          },
          "unit_price": {
            "type": "number"
          },
          "discount": {
            "type": "number"
          },
          "sales_tax": {
            "type": "number"
          }
        }
      },
      "Refund": {
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string"
          },
          "user_id": {
            "type": "integer"
          },
          "transaction_date": {
            "type": "string",
            "format": "date"
          },
          "transaction_reference_id": {
            "type": "string"
          },
          "from_country": {
            "type": "string"
          },
          "from_zip": {
            "type": "string"
          },
          "from_state": {
            "type": "string"
          },
          "from_city": {
            "type": "string"
          },
          "from_street": {
            "type": "string"
          },
          "to_country": {
            "type": "string"
          },
          "to_zip": {
            "type": "string"
          },
          "to_state": {
            "type": "string"
          },
          "to_city": {
            "type": "string"
          },
          "to_street": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "shipping": {
            "type": "number"
          },
          "sales_tax": {
            "type": "number"
          },
          "line_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderLineItem"
            }
          }
        }
      },
      "RefundInput": {
        "type": "object",
        "required": [
          "transaction_id",
          "transaction_date",
          "transaction_reference_id",
          "to_country",
          "to_state",
          "to_zip",
          "amount",
          "shipping",
          "sales_tax"
        ],
        "properties": {
          "transaction_id": {
            "type": "string"
          },
          "transaction_date": {
            "type": "string",
            "format": "date"
          },
          "transaction_reference_id": {
            "type": "string"
          },
          "from_country": {
            "type": "string"
          },
          "from_zip": {
            "type": "string"
          },
          "from_state": {
            "type": "string"
          },
          "from_city": {
            "type": "string"
          },
          "from_street": {
            "type": "string"
          },
          "to_country": {
            "type": "string"
          },
          "to_zip": {
            "type": "string"
          },
          "to_state": {
            "type": "string"
          },
          "to_city": {
            "type": "string"
          },
          "to_street": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "shipping": {
            "type": "number"
          },
          "sales_tax": {
            "type": "number"
          },
          "customer_id": {
            "type": "string"
          },
          "exemption_type": {
            "type": "string"
          },
          "line_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderLineItem"
            }
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "customer_id": {
            "type": "string"
          },
          "exemption_type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "exempt_regions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                }
              }
            }
          },
          "country": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "street": {
            "type": "string"
          }
        }
      },
      "CustomerInput": {
        "type": "object",
        "required": [
          "customer_id",
          "exemption_type",
          "name"
        ],
        "properties": {
          "customer_id": {
            "type": "string"
          },
          "exemption_type": {
            "type": "string",
            "enum": [
              "wholesale",
              "government",
              "marketplace",
              "other",
              "non_exempt"
            ]
          },
          "name": {
            "type": "string"
          },
          "exempt_regions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                }
              }
            }
          },
          "country": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "street": {
            "type": "string"
          }
        }
      },
      "NexusRegion": {
        "type": "object",
        "properties": {
          "country_code": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "region_code": {
            "type": "string"
          },
          "region": {
            "type": "string"
          }
        }
      },
      "Rate": {
        "type": "object",
        "properties": {
          "zip": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "country_rate": {
            "type": "number"
          },
          "state": {
            "type": "string"
          },
          "state_rate": {
            "type": "number"
          },
          "county": {
            "type": "string"
          },
          "county_rate": {
            "type": "number"
          },
          "city": {
            "type": "string"
          },
          "city_rate": {
            "type": "number"
          },
          "combined_district_rate": {
            "type": "number"
          },
          "combined_rate": {
            "type": "number"
          },
          "freight_taxable": {
            "type": "boolean"
          }
        }
      },
      "SummaryRate": {
        "type": "object",
        "properties": {
          "country_code": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "region_code": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "minimum_rate": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "rate": {
                "type": "number"
              }
            }
          },
          "average_rate": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "rate": {
                "type": "number"
              }
            }
          }
        }
      },
      "ValidatedAddress": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "street": {
            "type": "string"
          }
        }
      },
      "VatValidation": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "exists": {
            "type": "boolean"
          },
          "vies_available": {
            "type": "boolean"
          },
          "vies_response": {
            "type": "object",
            "properties": {
              "country_code": {
                "type": "string"
              },
              "vat_number": {
                "type": "string"
              },
              "request_date": {
                "type": "string"
              },
              "valid": {
                "type": "boolean"
              },
              "name": {
                "type": "string"
              },
              "address": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Categories",
      "description": "Tax categories"
    },
    {
      "name": "Taxes",
      "description": "Sales tax calculations"
    },
    {
      "name": "Orders",
      "description": "Order transactions"
    },
    {
      "name": "Refunds",
      "description": "Refund transactions"
    },
    {
      "name": "Customers",
      "description": "Customer exemptions"
    },
    {
      "name": "Nexus",
      "description": "Nexus regions"
    },
    {
      "name": "Rates",
      "description": "Tax rates"
    },
    {
      "name": "Summary",
      "description": "Tax report summaries"
    },
    {
      "name": "Validation",
      "description": "Address validation"
    }
  ]
}