{
  "openapi": "3.0.0",
  "info": {
    "version": "production",
    "title": "Evana360 API v2",
    "description": "API to consume Evana360's logic",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/EVANA-AG/api-gateway/production/swagger.json"
  },
  "servers": [
    {
      "description": "Sandbox",
      "url": "https://sandbox-apigateway360.evana.ai/v2"
    },
    {
      "description": "Production",
      "url": "https://apigateway360.evana.ai/v2"
    }
  ],
  "tags": [
    {
      "name": "Element Management",
      "description": "Manage elements (former master data)"
    },
    {
      "name": "Document Management",
      "description": "Manage documents within Evana360"
    },
    {
      "name": "User Management",
      "description": "Manage users within Evana360"
    },
    {
      "name": "Structure Management",
      "description": "Manage structures within Evana360"
    },
    {
      "name": "Index Management",
      "description": "Manage indices within Evana360"
    },
    {
      "name": "Dataroom Management",
      "description": "Manage datarooms within Evana360"
    },
    {
      "name": "ElementType Management",
      "description": "Manage elementTypes within Evana360"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {},
    "schemas": {
      "Domain": {
        "type": "string",
        "enum": [
          "ELEMENTS",
          "DOCUMENTS",
          "USERS",
          "STRUCTURES",
          "INDICES"
        ]
      },
      "ErrorType": {
        "type": "string",
        "enum": [
          "SERVICE_NOT_AVAILABLE",
          "NOT_AUTHORIZED",
          "NOT_IN_SYSTEM",
          "UNKOWN_ERROR"
        ]
      },
      "DocumentStatus": {
        "type": "string",
        "enum": [
          "ConsultationRequired",
          "OutdatedDocument",
          "CheckDocument",
          "QualityAssurance",
          "Completed"
        ]
      },
      "Timestamp": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "description": "holds the information of the time when the current record was created/updated"
          },
          "userId": {
            "type": "string",
            "nullable": true,
            "description": "the id of the user, which interacts with the current record"
          },
          "serviceId": {
            "type": "string",
            "nullable": true,
            "description": "the id of the service, which interacts with the current record"
          }
        }
      },
      "NestedKeyRepr": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "id of the current key"
          },
          "value": {
            "type": "string",
            "description": "value of the current key"
          },
          "name": {
            "type": "string",
            "description": "the used name for the key"
          }
        }
      },
      "ElementMetaData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "id of the current key"
          },
          "value": {
            "type": "string",
            "description": "value of the current key"
          },
          "name": {
            "type": "string",
            "description": "the used name for the key"
          }
        }
      },
      "Element": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "unique id of the element"
          },
          "name": {
            "type": "string",
            "description": "name of the element"
          },
          "structureId": {
            "type": "string",
            "description": "id of the structure where the element is located"
          },
          "elementTypeId": {
            "type": "string",
            "description": "id of the element type from which the element was created"
          },
          "synonyms": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "alternative names for the element"
          },
          "external": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string",
                "description": "3rd-party id of the element",
                "nullable": true
              },
              "data": {
                "type": "object",
                "description": "3rd-party data of the element",
                "nullable": true
              }
            }
          },
          "linkedElementIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "represent the links to other elements"
          },
          "metaData": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ElementMetaData"
            }
          },
          "created": {
            "$ref": "#/components/schemas/Timestamp"
          },
          "edited": {
            "$ref": "#/components/schemas/Timestamp"
          }
        }
      },
      "GroupPermission": {
        "type": "object",
        "properties": {
          "groupId": {
            "type": "string",
            "description": "unique id of the Group associated with the GroupPermission"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "a list of permissions assigned to the group"
          }
        }
      },
      "Dataroom": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "unique id of the Dataroom"
          },
          "name": {
            "type": "string",
            "description": "name of the Dataroom"
          },
          "type": {
            "type": "string",
            "description": "name of the Dataroom",
            "enum": [
              "dynamic",
              "static"
            ]
          },
          "isBuilding": {
            "type": "boolean",
            "description": "whether the dataroom is a building or not"
          },
          "indexId": {
            "type": "string",
            "description": "id of the index the dataroom was created from"
          },
          "structureId": {
            "type": "string",
            "description": "id of the structure the dataroom is appended to"
          },
          "created": {
            "$ref": "#/components/schemas/Timestamp"
          },
          "edited": {
            "$ref": "#/components/schemas/Timestamp"
          }
        }
      },
      "Folder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "unique id of the Folder"
          },
          "name": {
            "type": "object",
            "description": "name of the Folder",
            "example": {
              "en-US": "Name in english",
              "de-DE": "Name in Deutsch"
            }
          },
          "type": {
            "type": "string",
            "description": "name of the Folder",
            "enum": [
              "TEMPLATE",
              "USER"
            ]
          },
          "numeration": {
            "type": "number",
            "description": "numeration of the Folder"
          },
          "priority": {
            "type": "number",
            "description": "priority of the Folder"
          },
          "hasContent": {
            "type": "boolean",
            "description": "wether the folder contains files/elements/other"
          },
          "elementId": {
            "type": "string",
            "description": "unique id of the attached element"
          },
          "dataroomId": {
            "type": "string",
            "description": "id of the dataroom the folder was built in"
          },
          "parentFolderIds": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "id(s) of the folders that are parents of that folder"
            }
          },
          "created": {
            "$ref": "#/components/schemas/Timestamp"
          },
          "edited": {
            "$ref": "#/components/schemas/Timestamp"
          }
        }
      },
      "DocumentLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "unique id of the DocumentLink"
          },
          "name": {
            "type": "string",
            "description": "name of the Document"
          },
          "isPinned": {
            "type": "boolean",
            "description": "document is uploaded by user to the dataroom folder"
          },
          "isDataroomCompliant": {
            "type": "boolean",
            "description": "whether the documentlink is in corrent folder"
          },
          "documentId": {
            "type": "string",
            "description": "id of the document"
          },
          "dataroomId": {
            "type": "string",
            "description": "id of the dataroom"
          },
          "parentFolderIds": {
            "type": "array",
            "description": "ids of the parentfolders sorted by level",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ElementType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "unique id of the ElementType"
          },
          "name": {
            "type": "object",
            "description": "name of the ElementType",
            "example": {
              "en-US": "Name in english",
              "de-DE": "Name in Deutsch"
            }
          }
        }
      },
      "Structure": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "unique id of the structure"
          },
          "parentStructureIds": {
            "type": "array",
            "description": "array of unique parent structureIds",
            "items": {
              "type": "string"
            }
          },
          "name": {
            "type": "string",
            "description": "name of the structure"
          },
          "priority": {
            "type": "integer",
            "description": "priority of the structure"
          },
          "groupPermissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GroupPermission"
            }
          },
          "imageUrl": {
            "type": "string",
            "nullable": true,
            "description": "URL of the icon of the structure"
          },
          "external": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string",
                "description": "3rd-party id of the structure",
                "nullable": true
              },
              "data": {
                "type": "object",
                "description": "3rd-party data of the document",
                "nullable": true
              }
            }
          },
          "dataroomIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "a list of blueprint-ID's associated with the structure"
          },
          "created": {
            "$ref": "#/components/schemas/Timestamp"
          },
          "edited": {
            "$ref": "#/components/schemas/Timestamp"
          }
        }
      },
      "Index": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "unique id of the index"
          },
          "name": {
            "type": "string",
            "description": "name of the index"
          },
          "version": {
            "type": "integer",
            "description": "version of the index"
          },
          "isActive": {
            "type": "boolean",
            "description": "whether the index is active or inactive"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "evana id of the document"
          },
          "structureId": {
            "type": "string",
            "description": "id of the structure in which the document is located"
          },
          "name": {
            "type": "string",
            "description": "this field holds the name information of the document"
          },
          "mimeType": {
            "type": "string",
            "description": "information of the detected mime type of the uploaded binary file"
          },
          "originalName": {
            "type": "string",
            "description": "the original name keeps the information about the name of the document at the time of uploading."
          },
          "documentTypeId": {
            "type": "string",
            "description": "this field holds the document type found by Evana AI."
          },
          "size": {
            "type": "integer",
            "description": "size shows the size of the binary file in <b>byte</b>"
          },
          "pages": {
            "type": "integer",
            "description": "holds the information, how many pages the uploaded document contains"
          },
          "sourcePath": {
            "type": "string",
            "description": "this value allows you to specify the data source from which the document was originally uploaded."
          },
          "status": {
            "$ref": "#/components/schemas/DocumentStatus"
          },
          "hasGdprRelevance": {
            "type": "boolean",
            "description": "marks the document as GDPR relevant"
          },
          "deletionDeadline": {
            "type": "string",
            "description": "sets the date on which the document is automatically deleted"
          },
          "archiveDate": {
            "type": "string",
            "description": "sets the date on which the document is automatically archived"
          },
          "isArchived": {
            "type": "boolean",
            "description": "defines if a document is archived"
          },
          "isTransactional": {
            "type": "boolean",
            "description": "defines a document as transaction relevant"
          },
          "isMultiDocument": {
            "type": "boolean",
            "description": "if this field is set, more than one documen type was found during the analysis process."
          },
          "securityClassificationId": {
            "type": "string",
            "description": "defines the used security classification which can be adjusted in the clients area"
          },
          "uploaded": {
            "$ref": "#/components/schemas/Timestamp"
          },
          "elementIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "contains information about all linked elements of the document. These elements are used to sort the document in datarooms."
          },
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NestedKeyRepr"
            },
            "description": "holds metaData of an document"
          },
          "external": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string",
                "description": "3rd-party id of the element",
                "nullable": true
              },
              "data": {
                "type": "object",
                "description": "3rd-party data of the element",
                "nullable": true
              }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "unique identifier of the user object"
          },
          "email": {
            "type": "string",
            "description": "email adress of the user"
          },
          "locale": {
            "type": "string",
            "description": "locale setting of the user"
          },
          "name": {
            "type": "string",
            "description": "name of the user"
          },
          "created": {
            "$ref": "#/components/schemas/Timestamp"
          },
          "edited": {
            "$ref": "#/components/schemas/Timestamp"
          },
          "securityClassification": {
            "type": "string",
            "description": "security classification of the user"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "roles of the user"
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "groups of which the user is part of"
          }
        }
      },
      "ErrorRepr": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "nullable": true,
            "default": null
          },
          "error": {
            "type": "object",
            "properties": {
              "domain": {
                "$ref": "#/components/schemas/Domain"
              },
              "type": {
                "$ref": "#/components/schemas/ErrorType"
              },
              "description": {
                "type": "string"
              }
            }
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "RequestPostElement": {
        "type": "object",
        "properties": {
          "structureId": {
            "type": "string",
            "description": "id of the structure, where the new element should be created"
          },
          "elementTypeId": {
            "type": "string",
            "description": "id of the element type, from which the element is to be created"
          },
          "synonyms": {
            "type": "string",
            "description": "alternative names for the element that can be set"
          },
          "dataModelId": {
            "type": "string",
            "description": "id of the data model, which is used to create the element",
            "deprecated": true
          },
          "name": {
            "type": "string",
            "description": "name of the element"
          },
          "linkedElementIds": {
            "type": "string",
            "description": "ids of elements, which should be linked to the element"
          },
          "external": {
            "type": "object",
            "nullable": true,
            "default": null,
            "minProperties": 1,
            "properties": {
              "id": {
                "type": "string",
                "description": "external id",
                "nullable": true
              },
              "data": {
                "type": "object",
                "description": "external data",
                "nullable": true
              }
            }
          }
        },
        "required": [
          "structureId",
          "elementTypeId",
          "name"
        ]
      },
      "RequestPatchElement": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "the name of the element to be updated"
          },
          "synonyms": {
            "type": "string",
            "description": "alternative names for the element that can be set"
          },
          "linkedElementIds": {
            "type": "string",
            "description": "ids of elements, which could be linked to the element"
          },
          "external": {
            "type": "object",
            "nullable": true,
            "default": null,
            "minProperties": 1,
            "properties": {
              "id": {
                "type": "string",
                "description": "external id",
                "nullable": true
              },
              "data": {
                "type": "object",
                "description": "external data",
                "nullable": true
              }
            }
          }
        }
      },
      "RequestPatchDocument": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "name which used to update the requested document name"
          },
          "documentTypeId": {
            "type": "string",
            "description": "id of the documentType which should be set to document<br><br><b>Attention<b><br>this will be change the datamodel and keys as well"
          },
          "gdprRelevance": {
            "type": "boolean",
            "description": "set a document as gdpr relevant"
          },
          "deletionDeadline": {
            "type": "string",
            "description": "set a the deadline of a document<br><br><b>Used Format</b><br>YYYY-MM-DD"
          },
          "archiveDate": {
            "type": "string",
            "description": "set a the archive date of a document<br><br><b>Used Format</b><br>YYYY-MM-DDTHH:mm:ssZ"
          },
          "isArchive": {
            "type": "boolean",
            "description": "set or remove a document archive status"
          },
          "securityClassificationId": {
            "type": "string",
            "description": "set a security classification a document"
          },
          "elementIds": {
            "type": "string",
            "description": "Comma separated string containing ids of the elements that can be linked to the document."
          },
          "external": {
            "type": "object",
            "nullable": true,
            "default": null,
            "minProperties": 1,
            "properties": {
              "id": {
                "type": "string",
                "description": "external id",
                "nullable": true
              },
              "data": {
                "type": "object",
                "description": "external data",
                "nullable": true
              }
            }
          },
          "status": {
            "$ref": "#/components/schemas/DocumentStatus"
          }
        }
      },
      "RequestPatchUser": {
        "type": "object",
        "properties": {
          "securityClassificationId": {
            "type": "string",
            "description": "security classification id to set"
          }
        }
      },
      "RequestPostStructure": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "name of the structure"
          },
          "priority": {
            "type": "integer",
            "description": "priority of the structure"
          },
          "parentId": {
            "type": "string",
            "description": "id of the parent structure"
          },
          "indexes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "a list of blueprint-ID's associated with the structure"
          },
          "groupPermissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GroupPermission"
            }
          },
          "external": {
            "type": "object",
            "nullable": true,
            "default": null,
            "minProperties": 1,
            "properties": {
              "id": {
                "type": "string",
                "description": "external id",
                "nullable": true
              },
              "data": {
                "type": "object",
                "description": "external data",
                "nullable": true
              }
            }
          }
        }
      },
      "RequestPostAddDataroomToStructure": {
        "type": "object",
        "properties": {
          "indexId": {
            "type": "string",
            "description": "id of the index the dataroom is created from"
          }
        }
      },
      "RequestPutReplaceGroupToStructure": {
        "type": "object",
        "properties": {
          "groupId": {
            "type": "string",
            "description": "unique id of the Group associated with the GroupPermission"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "a list of permissions assigned to the group"
          }
        }
      },
      "RequestPatchStructure": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "name of the structure"
          },
          "priority": {
            "type": "integer",
            "description": "priority of the structure"
          },
          "external": {
            "type": "object",
            "nullable": true,
            "default": null,
            "minProperties": 1,
            "properties": {
              "id": {
                "type": "string",
                "description": "external id",
                "nullable": true
              },
              "data": {
                "type": "object",
                "description": "external data",
                "nullable": true
              }
            }
          }
        }
      },
      "RequestPostFolder": {
        "type": "object",
        "properties": {
          "parentId": {
            "type": "string",
            "description": "id of the ParentFolder, where the new fodler should be created"
          },
          "priority": {
            "type": "string",
            "description": "priority of created folder"
          },
          "name": {
            "type": "string",
            "description": "name of the folder"
          }
        },
        "required": [
          "parentId",
          "priority",
          "name"
        ]
      },
      "RequestPostDocumentLink": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "id of the document"
          },
          "folderId": {
            "type": "string",
            "description": "id of the folder"
          }
        }
      },
      "ResponseUser": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/User"
          },
          "error": {
            "type": "object",
            "nullable": true,
            "default": null
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "ResponseElement": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Element"
          },
          "error": {
            "type": "object",
            "nullable": true,
            "default": null
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "ResponseManyElements": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "available": {
                "type": "number"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Element"
                }
              }
            }
          },
          "error": {
            "type": "object",
            "nullable": true,
            "default": null
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "ResponseManyStructures": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "available": {
                "type": "number"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Structure"
                }
              }
            }
          },
          "error": {
            "type": "object",
            "nullable": true,
            "default": null
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "ResponseManyIndices": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "available": {
                "type": "number"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Index"
                }
              }
            }
          },
          "error": {
            "type": "object",
            "nullable": true,
            "default": null
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "ResponseManyDatarooms": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "available": {
                "type": "number"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Dataroom"
                }
              }
            }
          },
          "error": {
            "type": "object",
            "nullable": true,
            "default": null
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "ResponseManyFolders": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "available": {
                "type": "number"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "error": {
            "type": "object",
            "nullable": true,
            "default": null
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "ResponseFolder": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Folder"
          },
          "error": {
            "type": "object",
            "nullable": true,
            "default": null
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "ResponseManyDocumentLinks": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "available": {
                "type": "number"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DocumentLink"
                }
              }
            }
          },
          "error": {
            "type": "object",
            "nullable": true,
            "default": null
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "ResponseManyElementTypes": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "available": {
                "type": "number",
                "example": 1
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ElementType"
                }
              }
            }
          },
          "error": {
            "type": "object",
            "nullable": true,
            "default": null
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "ResponseIndex": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Index"
          },
          "error": {
            "type": "object",
            "nullable": true,
            "default": null
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "ResponseDataroom": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Dataroom"
          },
          "error": {
            "type": "object",
            "nullable": true,
            "default": null
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "ResponseDocumentLink": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DocumentLink"
          },
          "error": {
            "type": "object",
            "nullable": true,
            "default": null
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "ResponseStructure": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "$ref": "#/components/schemas/Structure"
          },
          "error": {
            "type": "object",
            "nullable": true,
            "default": null
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "ResponseDelete": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "deleted": {
                "type": "boolean"
              }
            }
          },
          "error": {
            "type": "object",
            "nullable": true,
            "default": null
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "ResponseDocument": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Document"
          },
          "error": {
            "type": "object",
            "nullable": true,
            "default": null
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "ResponseManyDocuments": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "available": {
                "type": "number"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "error": {
            "type": "object",
            "nullable": true,
            "default": null
          },
          "timestamp": {
            "type": "integer"
          }
        }
      }
    },
    "responses": {
      "400": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorRepr"
            }
          }
        }
      },
      "401": {
        "description": "You are not authorized to peform this request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorRepr"
            }
          }
        }
      },
      "403": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorRepr"
            }
          }
        }
      },
      "404": {
        "description": "Not Found, requested record does not exist or you do not have access to it",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorRepr"
            }
          }
        }
      },
      "409": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorRepr"
            }
          }
        }
      },
      "415": {
        "description": "Invalid content-type, the send content-type cannot be processed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorRepr"
            }
          }
        }
      },
      "428": {
        "description": "Precondition Required, one or more conditions for the attempted action are not fulfilled",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorRepr"
            }
          }
        }
      },
      "500": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorRepr"
            }
          }
        }
      },
      "502": {
        "description": "The requested domain endpoint is temporary not available",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorRepr"
            }
          }
        }
      },
      "503": {
        "description": "An unexpected error has occurred",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorRepr"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/users/{id}": {
      "get": {
        "summary": "Delivers the user regarding the requested id.",
        "operationId": "getUser",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "id of the requested user"
          }
        ],
        "responses": {
          "200": {
            "description": "requested user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseUser"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "User Management"
        ]
      },
      "patch": {
        "summary": "Partially updates the user regarding the requested id.",
        "operationId": "patchUser",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "id of the requested user"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPatchUser"
              },
              "example": {
                "securityClassificationId": "61dc07994a0f258ff142927a"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "requested user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseUser"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "User Management"
        ]
      }
    },
    "/elements": {
      "get": {
        "summary": "Delivers all available elements which are available for the current user. to narrow down the search result, the search parameters can be used",
        "operationId": "getManyElements",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "filters the elements according to the transmitted name. <br><br><b>Sample</b><br> name=Tenant.<br>All elements are found that have Tenant in their name."
          },
          {
            "in": "query",
            "name": "structureId",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "filters the elements according to the transmitted structureId.<br><br><b>Sample</b><br>structureId=5eb18e60f27d0d1969d74c03.<br>All elements which located under this structure id will be found."
          },
          {
            "in": "query",
            "name": "elementTypeId",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "filters the elements according to the transmitted elementTypeId.<br><br><b>Sample</b><br>elementTypeId=5eb18f60f37d0d2969d74c03.<br>All elements which linked with the elementTypeId"
          },
          {
            "in": "query",
            "name": "externalId",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "filters the elements according to the transmitted externalId.<br><br><b>Sample</b><br>externalId=any123.<br>All elements linked with the externalId"
          },
          {
            "in": "query",
            "name": "linkedElementIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "required": false,
            "description": "filters the elements according to the transmitted linkedElementIds.<br><br><b>Sample</b><br>linkedElementIds=5ec18f60f37d0d2179d74c03,5eb18f60f37d0d2169d74c14.<br>All elements linked to these elements (linkedElementIds) are found"
          },
          {
            "in": "query",
            "name": "elementIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "required": false,
            "description": "filters the elements according to the transmitted elementIds.<br><br><b>Sample</b><br>linkedElementIds=5eb18f60f37d0d2179d74c03,5eb18f60f37d0d4169d74c14.<br>All elements corresponding to the given ids should be found"
          },
          {
            "in": "query",
            "name": "childs",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "required": false,
            "description": "if this value is set, all <i>child structures</i> are included in the search. this filtering is only available in combination with a set <b>structureId</b> otherwise it is ignored."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            },
            "required": false,
            "description": "limit of records which returned per request"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "description": "starting point of the result set of the search, based from the set <b>limit</b>"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "edited",
                "name"
              ],
              "default": "name"
            },
            "required": false,
            "description": "sort by selected field"
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "asc"
            },
            "required": false,
            "description": "order of the result descending or ascending"
          }
        ],
        "responses": {
          "200": {
            "description": "List many elements",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseManyElements"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Element Management"
        ]
      },
      "post": {
        "summary": "A element will be created at a specified structure",
        "operationId": "createElement",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPostElement"
              },
              "example": {
                "structureId": "61da06024a0f25e7b142919a",
                "elementTypeId": "5ea18f6bf17d0db6f5d84c21",
                "name": "My first Element",
                "synonyms": "test synonym 1, test synonym 2",
                "linkedelementIDs": "61dc07994a0f258ff142927a,61dc07bf4a0f25e8c542927f",
                "external": {
                  "id": "123456",
                  "data": {
                    "any": "any"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create element response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseElement"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Element Management"
        ]
      }
    },
    "/elements/{id}": {
      "get": {
        "summary": "Delivers the element which are available for the current user regarding the requested id.",
        "operationId": "getElement",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "id of the requested element"
          }
        ],
        "responses": {
          "200": {
            "description": "requested element",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseElement"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Element Management"
        ]
      },
      "patch": {
        "summary": "Updating a elements values partially",
        "operationId": "patchElement",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "id of the requested element"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPatchElement"
              },
              "example": {
                "name": "Lord of the Rings",
                "synonyms": "Bilbo,Baggins",
                "linkedelementIDs": "61dc07994a0f258ff142927a,61dc07bf4a0f25e8c542927f",
                "external": {
                  "id": "123456",
                  "data": {
                    "any": "any"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "requested element",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseElement"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Element Management"
        ]
      },
      "delete": {
        "summary": "Based on the access rights of the user, an attempt is made to delete an element based on the passt id.",
        "operationId": "deleteElement",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "id of the element which should be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "information on whether the deletion was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDelete"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Element Management"
        ]
      }
    },
    "/documents": {
      "get": {
        "summary": "Delivers all available documents which are available for the current user. to narrow down the search result, the search parameters can be used",
        "operationId": "getManyDocuments",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "structureId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "filters the documents according to the transmitted structureId.<br><br><b>Sample</b><br>structureId=5eb18e60f27d0d1969d74c03.<br>All documents which located under this structure id will be found."
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "filters the documents according to the transmitted name. <br><br><b>Sample</b><br> name=Tenant.<br>All documents are found have tenant in their name."
          },
          {
            "in": "query",
            "name": "isTransactional",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "archiveDateFrom",
            "description": "filters the documents with archived date on or after the specified date<br><br><b>Used Format</b><br>Format the date using ISO 8601 standard (e.g., YYYY-MM-DD)",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "archiveDateTo",
            "description": "filters the documents with archived date on or before the specified date<br><br><b>Used Format</b><br>Format the date using ISO 8601 standard (e.g., YYYY-MM-DD)",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "hasGdprRelevance",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "only documents flaged as gdpr relevant are returned"
          },
          {
            "in": "query",
            "name": "isMultiDocument",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "only documents flaged as multi document will be returned"
          },
          {
            "in": "query",
            "name": "deletionDeadline",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "filters all documents with a active deletion deadline"
          },
          {
            "in": "query",
            "name": "elementIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "required": false,
            "description": "filters the documents according to the transmitted elementIds.<br><br><b>Sample</b><br>elementIds=5ec18f60f37d0d2179d74c03,5eb18f60f37d0d2169d74c14.<br>All elements linked to these elements (linkedElementIds) are found"
          },
          {
            "in": "query",
            "name": "documentTypeIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "required": false,
            "description": "filters the documents according to the transmitted documentTypeIds.<br><br><b>Sample</b><br>documentTypeIds=5eb18f60f37d0d2969d74c03,3eb18f60f31d0d2979d74c04.<br>All documents includes the requested document type ids"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            },
            "required": false,
            "description": "limit of records which returned per request"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "description": "starting point of the result set of the search, based from the set <b>limit</b>"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "uploaded"
              ],
              "default": "uploaded"
            },
            "required": false,
            "description": "sort by selected field"
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "asc"
            },
            "required": false,
            "description": "order of the result descending or ascending"
          },
          {
            "in": "query",
            "name": "externalId",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "filters the elements according to the transmitted externalId.<br><br><b>Sample</b><br>externalId=any123.<br>All elements linked with the externalId"
          },
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Contains a user email address for additional user context in combination with a service access token. This is required in case of a service request"
          }
        ],
        "responses": {
          "200": {
            "description": "List many documents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseManyDocuments"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Document Management"
        ]
      }
    },
    "/documents/{id}": {
      "get": {
        "summary": "Delivers the document which are available for the current user regarding the requested id.",
        "operationId": "getDocuments",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "id of the requested document"
          }
        ],
        "responses": {
          "200": {
            "description": "requested document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDocument"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Document Management"
        ]
      },
      "patch": {
        "summary": "Updating a document values partially",
        "operationId": "patchDocument",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "id of the document which will be updated"
          },
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Contains a user email address for additional user context in combination with a service access token. This is required in case of a service request"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPatchDocument"
              },
              "example": {
                "name": "My first Updated Document",
                "documentTypeId": "61da06024a0f25e7b142919a",
                "gdprRelevance": false,
                "deletionDeadline": "2043-11-19T22:00:00Z",
                "archiveDate": "2043-11-19T22:00:00Z",
                "isArchive": true,
                "securityClassificationId": "61dc07994a0f258ff142927c",
                "elementIds": "62ec07994a1f258ff142927c,31dc07994a5f258dd142027c",
                "status": "Completed",
                "external": {
                  "id": "123456",
                  "data": {
                    "any": "any"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "requested element",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDocument"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Document Management"
        ]
      },
      "delete": {
        "summary": "Based on the access rights of the user, an attempt is made to delete an document based on the passt id.",
        "operationId": "deleteDocument",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "id of the document which should be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "information on whether the deletion was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDelete"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Document Management"
        ]
      }
    },
    "/documents/{id}/structure/{structureId}": {
      "put": {
        "summary": "Based on the access rights of the user, allows to move a document to a new structure",
        "operationId": "moveDocument",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Contains an id of the document which should be moved"
          },
          {
            "in": "path",
            "name": "structureId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Contains an id of the structure, where the document should be moved"
          },
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "description": "Contains a user email address for additional user context in combination with a service access token. This is required in case of a service request"
          }
        ],
        "responses": {
          "204": {
            "description": "Master data was successfully updated"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Document Management"
        ]
      }
    },
    "/structures": {
      "post": {
        "summary": "A structure will be created",
        "operationId": "createStructure",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPostStructure"
              },
              "example": {
                "name": "Name of Structure",
                "parentId": "1234567890",
                "priority": 1,
                "external": {
                  "id": "123456",
                  "data": {
                    "any": "any"
                  }
                },
                "groupPermissions": [
                  {
                    "groupId": "123456",
                    "permissions": [
                      "FILE_EDIT",
                      "VISIBLE"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create structure response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStructure"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Structure Management"
        ]
      },
      "get": {
        "summary": "Delivers a set of available structures which are available for the current user. to narrow down the search result, the search parameters can be used",
        "operationId": "getManyStructures",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "filters the structures according to the transmitted name. <br><br><b>Sample</b><br> name=StructureName.<br>All structures are found that have StructureName in their name."
          },
          {
            "in": "query",
            "name": "parentId",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "filters the structures according to the transmitted parentId.<br><br><b>Sample</b><br>structureId=6424160e4e3be944775da217.<br>All structures, which are located directly under the structure with the provided id, will be found."
          },
          {
            "in": "query",
            "name": "showAdjacentStructuresOnly",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "filters the records so that all returned structures are on the same level"
          },
          {
            "in": "query",
            "name": "externalId",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "filters the structures [.external.id] according to the transmitted externalId.<br><br><b>Sample</b><br>externalId=any.<br>All structures, which have the same external.id value will be found."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            },
            "required": false,
            "description": "limit of records which are returned per request"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "description": "starting point of the result set of the search, based from the set <b>limit</b>"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "priority",
                "created",
                "edited",
                "name"
              ],
              "default": "priority"
            },
            "required": false,
            "description": "sort by selected field"
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "asc"
            },
            "required": false,
            "description": "order of the result descending or ascending"
          }
        ],
        "responses": {
          "200": {
            "description": "List many structures",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseManyStructures"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Structure Management"
        ]
      }
    },
    "/structures/{id}": {
      "get": {
        "summary": "Delivers the structure which is available for the current user regarding the requested id.",
        "operationId": "getStructure",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "id of the requested structure"
          }
        ],
        "responses": {
          "200": {
            "description": "requested structure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStructure"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Structure Management"
        ]
      },
      "patch": {
        "summary": "updates the structure name and/or priority which are available for the current user regarding the requested id",
        "operationId": "patchStructure",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "id of the requested structure"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPatchStructure"
              },
              "example": {
                "name": "My first Updated structure",
                "priority": "1",
                "external": {
                  "id": "123456",
                  "data": {
                    "any": "any"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "requested updated structure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStructure"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Structure Management"
        ]
      },
      "delete": {
        "summary": "Based on the access rights of the user, an attempt is made to delete a structure based on the passed id.",
        "operationId": "deleteStructure",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "id of the structure which should be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "information on whether the deletion was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDelete"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Structure Management"
        ]
      }
    },
    "/structures/{id}/image": {
      "put": {
        "summary": "Adds a image/icon to the structure",
        "operationId": "addImageToStructure",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "id of the structure to which to add the image to"
          }
        ],
        "requestBody": {
          "content": {
            "image/jpeg": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/png": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/gif": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/webp": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/tiff": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated Structure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStructure"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "415": {
            "$ref": "#/components/responses/415"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Structure Management"
        ]
      },
      "delete": {
        "summary": "Removes a image/icon from the structure",
        "operationId": "removeImageFromStructure",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "id of the structure from which to remove the image from"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the updated Structure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStructure"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Structure Management"
        ]
      }
    },
    "/structures/{id}/datarooms": {
      "post": {
        "summary": "Adds a dataroom to the structure",
        "operationId": "addDataroomToStructure",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "id of the structure to which to add the dataroom to"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPostAddDataroomToStructure"
              },
              "example": {
                "indexId": "123456"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated Structure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStructure"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Structure Management"
        ]
      }
    },
    "/structures/{id}/datarooms/{dataroomId}": {
      "delete": {
        "summary": "Removes a dataroom from the structure",
        "operationId": "removeDataroomFromStructure",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "id of the structure from which to remove the dataroom"
          },
          {
            "in": "path",
            "name": "dataroomId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "the id of the dataroom that will be removed from the structure."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the updated Structure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStructure"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Structure Management"
        ]
      }
    },
    "/indices": {
      "get": {
        "summary": "Delivers a set of available indices which are available for the current user. To narrow down the search result, the search parameters can be used",
        "operationId": "getManyIndices",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "filters the indices according to the transmitted name. <br><br><b>Sample</b><br> name=IndexName.<br>All indices are found that have IndexName in their name."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            },
            "required": false,
            "description": "limit of records which are returned per request"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "description": "starting point of the result set of the search, based from the set <b>limit</b>"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "name"
              ],
              "default": "name"
            },
            "required": false,
            "description": "sort by selected field"
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "asc"
            },
            "required": false,
            "description": "order of the result descending or ascending"
          }
        ],
        "responses": {
          "200": {
            "description": "List many indices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseManyIndices"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Index Management"
        ]
      }
    },
    "/indices/{id}": {
      "get": {
        "summary": "Delivers the index which is available for the current user regarding the requested id.",
        "operationId": "getIndex",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "id of the index"
          }
        ],
        "responses": {
          "200": {
            "description": "requested index",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseIndex"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Index Management"
        ]
      }
    },
    "/structures/{id}/groups": {
      "put": {
        "summary": "Replaces or adds a group to the structure",
        "operationId": "replaceGroupToStructure",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "id of the structure to which to add groups to"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPutReplaceGroupToStructure"
              },
              "example": {
                "groupId": "123456",
                "permissions": [
                  "FILE_EDIT",
                  "VISIBLE"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated Structure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStructure"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Structure Management"
        ]
      }
    },
    "/structures/{id}/groups/{groupId}": {
      "delete": {
        "summary": "Removes a group from the structure",
        "operationId": "removeGroupFromStructure",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "id of the structure to which to add groups to"
          },
          {
            "in": "path",
            "name": "groupId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "id of the group to remove"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the updated Structure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStructure"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Structure Management"
        ]
      }
    },
    "/datarooms": {
      "get": {
        "summary": "Delivers a set of available datarooms which are available for the current user. To narrow down the search result, the search parameters can be used.",
        "operationId": "getManyDatarooms",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filters the datarooms according to the transmitted name. All datarooms are found that have DataroomName in their name."
          },
          {
            "in": "query",
            "name": "structureId",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filters the datarooms according to the transmitted structureId. All datarooms are found that are part of the structure with the provided structureId."
          },
          {
            "in": "query",
            "name": "indexId",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filters the datarooms according to the transmitted indexId. All datarooms are found that are direct children of the index with the provided indexId."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            },
            "required": false,
            "description": "limit of records which are returned per request"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "description": "starting point of the result set of the search, based from the set <b>limit</b>"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created",
                "edited"
              ],
              "default": "name"
            },
            "required": false,
            "description": "sort by selected field"
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "required": false,
            "description": "order of the result descending or ascending"
          }
        ],
        "responses": {
          "200": {
            "description": "List many datarooms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseManyDatarooms"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Dataroom Management"
        ]
      }
    },
    "/datarooms/{id}": {
      "get": {
        "summary": "Delivers the dataroom which is available for the current user regarding the requested id.",
        "operationId": "getDataroom",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "id of the dataroom"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Dataroom",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseDataroom"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Dataroom Management"
        ]
      }
    },
    "/datarooms/folders": {
      "post": {
        "summary": "A folder will be created at a specified parentFolderId",
        "operationId": "createFolder",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPostFolder"
              },
              "example": {
                "parentId": "648c018215b74c29b71d1a54",
                "name": "Name of folder 2",
                "priority": 1
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create folder response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseFolder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        },
        "tags": [
          "Dataroom Management"
        ]
      },
      "get": {
        "summary": "Delivers a set of folders which are available for the current user. At least one query param must be provided",
        "operationId": "getManyFolders",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "folderPath",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filters the Folders according to the transmitted path. All folders are found that are childs of the folder with the provided path."
          },
          {
            "in": "query",
            "name": "dataroomId",
            "schema": {
              "type": "string"
[...]
