{
  "openapi": "3.0.3",
  "info": {
    "contact": {
      "email": "public-api-support@maqqie.nl",
      "name": "Maqqie public API support"
    },
    "description": "### Introduction\n\nThe public API of the Maqqie Platform makes it possible for third parties to integrate their applications with the Maqqie Platform.\n\nThe endpoints are grouped by:\n\n* Sub domain: a specific and coherent sub set of entities of the Maqqie platform.\n* Role: the allowed operations and the semantics of these operations differs per role. \n\nSee the [glossary](glossary.html) for an explanation of the terms used in this API.\n\nAll endpoints require credentials. If you need access to the API, please send a request for an account to the [public API team](mailto:public-api-support@maqqie.nl). Once you have received the client credentials, access tokens can be requested at: [https://maqqie.app/auth/realms/maqqie/protocol/openid-connect/token](https://maqqie.app/auth/realms/maqqie/protocol/openid-connect/token)\n",
    "termsOfService": "https://api.maqqie.app/terms-of-service.html",
    "title": "Maqqie Platform Public API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.maqqie.app/maqqie-public-api.yaml"
  },
  "servers": [
    {
      "url": "https://api.maqqie.app/"
    }
  ],
  "paths": {
    "/public/onboarding/v1/get-framework-agreement": {
      "get": {
        "description": "Get existing signed and unsigned framework agreement (if any) for the given worker.",
        "parameters": [
          {
            "description": "The unique id of the worker, as returned from the /create-worker endpoint.",
            "in": "query",
            "name": "workerId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkAgreementGetResponseV1"
                }
              }
            },
            "description": "Successfully created the agreement"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkAgreementCreationErrorV1"
                }
              }
            },
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n"
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        },
        "summary": "Get existing framework agreement(s)",
        "tags": [
          "Onboarding flow"
        ]
      }
    },
    "/public/onboarding/v1/create-framework-agreement": {
      "post": {
        "description": "Create a framework agreement and a signing link, for the given worker.\nOnce the agreement is signed, the FrameworkAgreementSignedEvent webhook is executed.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FrameworkAgreementCreationRequestV1"
              }
            }
          },
          "description": "Input needed for the framework agreement",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkAgreementCreationResponseV1"
                }
              }
            },
            "description": "Successfully created the agreement"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkAgreementCreationErrorV1"
                }
              }
            },
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n"
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        },
        "summary": "Create a framework agreement and signing link",
        "tags": [
          "Onboarding flow"
        ]
      }
    },
    "/public/onboarding/v1/create-worker": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerCreationRequestV1"
              }
            }
          },
          "description": "Worker details",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerCreationResponseV1"
                }
              }
            },
            "description": "Successfully created a worker"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerClientErrorV1"
                }
              }
            },
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n"
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        },
        "summary": "Create a new worker",
        "tags": [
          "Onboarding flow"
        ]
      }
    },
    "/public/onboarding/v1/update-worker": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerUpdateRequestV1"
              }
            }
          },
          "description": "Worker details",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated a worker"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerClientErrorV1"
                }
              }
            },
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n"
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        },
        "summary": "Update the info of a worker",
        "tags": [
          "Onboarding flow"
        ]
      }
    },
    "/public/onboarding/v1/get-worker-details": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "workerId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerCreationResponseV1"
                }
              }
            },
            "description": "Successfully retrieved a worker"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerClientErrorV1"
                }
              }
            },
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n"
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        },
        "summary": "retrieve the info of a worker",
        "tags": [
          "Onboarding flow"
        ]
      }
    },
    "/public/hours-and-expenses/hirer/register-hours-for-shift-and-worker-simple-v1": {
      "post": {
        "description": "Register hours for 1 or more combinations of a shift and a worker. The hours will still have to be approved on the Maqqie platform by the hirer.\n\nThe type of the registered hours is based on the collective agreement (collectieve arbeidsovereenkomst, CAO) that applies to the worker and the shift. A single period being registered may contain multiple types, in which case the hours will be split into multiple periods.\n\nAll shifts must belong to the hirer that invokes this API, and a shift signup for each combination of shift and worker must exist.\n",
        "operationId": "RegisterHoursForShiftAndWorkerSimpleV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimpleHoursRegistrationForShiftAndWorkerRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The operation completed successfully.\n"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestErrorResponseV1"
                }
              }
            },
            "description": "The request could not be processed. This could be due to a number of reasons:\n\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n"
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        },
        "summary": "Register hours for 1 or more shift-worker combinations.",
        "tags": [
          "Hours and expenses, for hirers"
        ]
      }
    },
    "/public/hours-and-expenses/hirer/register-hours-for-temporary-work-payroll-placement-simple-v1": {
      "post": {
        "description": "Register hours for 1 or more temporary work payroll placements. The hours will still have to be approved on the Maqqie platform by the hirer.\n\nThe type of the registered hours is based on the collective agreement (collectieve arbeidsovereenkomst, CAO) that applies to the temporary work payroll placement. A single period being registered may contain multiple types, in which case the hours will be split into multiple periods.\n\nAll temporary work payroll placements must belong to the hirer that invokes this API.\n",
        "operationId": "RegisterHoursForTemporaryWorkPayrollPlacementSimpleV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimpleHoursRegistrationForTemporaryWorkPayrollPlacementRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The operation completed successfully.\n"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestErrorResponseV1"
                }
              }
            },
            "description": "The request could not be processed. This could be due to a number of reasons:\n\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n"
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        },
        "summary": "Register hours for 1 or more temporary work payroll placements.",
        "tags": [
          "Hours and expenses, for hirers"
        ]
      }
    },
    "/public/temporary-work-payroll-placements/hirer/create-temporary-work-payroll-placement-definition-for-user-minimal-v1": {
      "post": {
        "deprecated": true,
        "description": "Create a definition for a new temporary work payroll placement. The minimal information must be provided, and a number of optional fields may be passed.\n\nThe user ID instead of the worker ID is used to identify the worker. The user must be a worker.\n\n**This is a legacy endpoint**. [create-temporary-work-payroll-placement-definition-minimal-v1](#/Temporary%20work%20payroll%20placements%2C%20for%20hirers/CreateTemporaryWorkPayrollPlacementDefinitionMinimalV1) should be used instead. Only use this if your system does not know the worker ID.\n",
        "operationId": "CreateTemporaryWorkPayrollPlacementDefinitionForUserMinimalV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTemporaryWorkPayrollPlacementDefinitionForUserMinimalRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTemporaryWorkPayrollPlacementDefinitionMinimalResponseV1"
                }
              }
            },
            "description": "The operation completed successfully.\n"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestErrorResponseV1"
                }
              }
            },
            "description": "The request could not be processed. This could be due to a number of reasons:\n\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n"
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        },
        "summary": "Create a minimal definition for a new temporary work payroll placement.",
        "tags": [
          "Temporary work payroll placements, for hirers"
        ]
      }
    },
    "/public/temporary-work-payroll-placements/hirer/create-temporary-work-payroll-placement-definition-minimal-v1": {
      "post": {
        "description": "Create a definition for a new temporary work payroll placement. The minimal information must be provided, and a number of optional fields may be passed.\n",
        "operationId": "CreateTemporaryWorkPayrollPlacementDefinitionMinimalV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTemporaryWorkPayrollPlacementDefinitionMinimalRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTemporaryWorkPayrollPlacementDefinitionMinimalResponseV1"
                }
              }
            },
            "description": "The operation completed successfully.\n"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestErrorResponseV1"
                }
              }
            },
            "description": "The request could not be processed. This could be due to a number of reasons:\n\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n"
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        },
        "summary": "Create a minimal definition for a new temporary work payroll placement.",
        "tags": [
          "Temporary work payroll placements, for hirers"
        ]
      }
    },
    "/public/worker-profiles/hirer/add-hirer-labels-to-user-v1": {
      "post": {
        "deprecated": true,
        "description": "Add 1 or more of the labels that the hirer has defined for workers, to a worker, using the user ID instead of the worker ID. The user must be a worker.\n\nThe labels do not have to exist already. If the label is unknown, it will be created.\n\nIf a label has already been added to a worker, this will not result in an error.\n\n**This is a legacy endpoint.** [add-hirer-labels-to-worker-v1](#/Worker%20profiles%2C%20for%20hirers/AddHirerLabelsToWorkerV1) should be used instead. Only use this if your system does not know the worker ID.\n",
        "operationId": "AddHirerLabelsToUserV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddHirerLabelsToUserRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The operation completed successfully.\n"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestErrorResponseV1"
                }
              }
            },
            "description": "The request could not be processed. This could be due to a number of reasons:\n\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n"
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        },
        "summary": "Add 1 or more hirer labels to a worker.",
        "tags": [
          "Worker profiles, for hirers"
        ]
      }
    },
    "/public/worker-profiles/hirer/add-hirer-labels-to-worker-v1": {
      "post": {
        "description": "Add 1 or more of the labels that the hirer has defined for workers, to a worker.\n\nThe labels do not have to exist already. If the label is unknown, it will be created.\n\nIf a label has already been added to a worker, this will not result in an error.\n",
        "operationId": "AddHirerLabelsToWorkerV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddHirerLabelsToWorkerRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The operation completed successfully.\n"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestErrorResponseV1"
                }
              }
            },
            "description": "The request could not be processed. This could be due to a number of reasons:\n\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n"
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        },
        "summary": "Add 1 or more hirer labels to a worker.",
        "tags": [
          "Worker profiles, for hirers"
        ]
      }
    },
    "/public/worker-profiles/hirer/remove-hirer-labels-from-user-v1": {
      "post": {
        "deprecated": true,
        "description": "Remove 1 or more of the labels that the hirer has defined for workers, from a worker, using the user ID instead of the worker ID. The user must be a worker.\n\nIf the worker already does not have the label assigned to them, this will not result in an error.\n\n**This is a legacy endpoint.** [remove-hirer-labels-from-worker-v1](#/Worker%20profiles%2C%20for%20hirers/RemoveHirerLabelsFromWorkerV1) should be used instead. Only use this if your system does not know the worker ID.\n",
        "operationId": "RemoveHirerLabelsFromUserV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveHirerLabelsFromUserRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The operation completed successfully.\n"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestErrorResponseV1"
                }
              }
            },
            "description": "The request could not be processed. This could be due to a number of reasons:\n\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n"
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        },
        "summary": "Remove 1 or more hirer labels from a worker.",
        "tags": [
          "Worker profiles, for hirers"
        ]
      }
    },
    "/public/worker-profiles/hirer/remove-hirer-labels-from-worker-v1": {
      "post": {
        "description": "Remove 1 or more of the labels that the hirer has defined for workers, from a worker.\n\nIf the worker already does not have the label assigned to them, this will not result in an error.\n",
        "operationId": "RemoveHirerLabelsFromWorkerV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveHirerLabelsFromWorkerRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The operation completed successfully.\n"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequestErrorResponseV1"
                }
              }
            },
            "description": "The request could not be processed. This could be due to a number of reasons:\n\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n"
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        },
        "summary": "Remove 1 or more hirer labels from a worker.",
        "tags": [
          "Worker profiles, for hirers"
        ]
      }
    }
  },
  "components": {
    "responses": {
      "InvalidRequestErrorV1": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InvalidRequestErrorResponseV1"
            }
          }
        },
        "description": "The request could not be processed. This could be due to a number of reasons:\n\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n"
      },
      "MissingOrInvalidCredentialsErrorV1": {
        "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
      },
      "SuccessNoContentV1": {
        "description": "The operation completed successfully.\n"
      },
      "UnauthorizedErrorV1": {
        "description": "The data that the request referred to is inaccessible to the caller.\n"
      }
    },
    "schemas": {
      "AddHirerLabelsToUserRequestV1": {
        "example": {
          "userId": 1,
          "hirerLabels": [
            "hirerLabels",
            "hirerLabels"
          ]
        },
        "properties": {
          "userId": {
            "description": "The user ID of the worker to which to add the hirer labels.\n",
            "example": 1,
            "format": "int32",
            "nullable": false,
            "title": "The user ID of the worker to which to add the hirer labels.",
            "type": "integer"
          },
          "hirerLabels": {
            "description": "The new or existing hirer labels that must be added to the worker.\n\nThe labels may not be blank: they may not be empty strings, nor consist only of whitespace characters.\n",
            "items": {
              "maxLength": 50,
              "minLength": 1,
              "nullable": false,
              "type": "string"
            },
            "minItems": 1,
            "nullable": false,
            "title": "The hirer labels to add to the worker.",
            "type": "array"
          }
        },
        "required": [
          "hirerLabels",
          "userId"
        ],
        "type": "object"
      },
      "AddHirerLabelsToWorkerRequestV1": {
        "example": {
          "workerId": 1,
          "hirerLabels": [
            "hirerLabels",
            "hirerLabels"
          ]
        },
        "properties": {
          "workerId": {
            "description": "The ID of the worker to which to add the hirer labels.\n",
            "example": 1,
            "format": "int32",
            "nullable": false,
            "title": "The ID of the worker to which to add the hirer labels.",
            "type": "integer"
          },
          "hirerLabels": {
            "description": "The new or existing hirer labels that must be added to the worker.\n\nThe labels may not be blank: they may not be empty strings, nor consist only of whitespace characters.\n",
            "items": {
              "maxLength": 50,
              "minLength": 1,
              "nullable": false,
              "type": "string"
            },
            "minItems": 1,
            "nullable": false,
            "title": "The hirer labels to add to the worker.",
            "type": "array"
          }
        },
        "required": [
          "hirerLabels",
          "workerId"
        ],
        "type": "object"
      },
      "BreakDurationLongerThanWorkedPeriodErrorV1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorV1"
          },
          {
            "description": "The break duration is longer than the length of the worked period specified by the start and end timestamps.\n",
            "properties": {
              "startTimestampField": {
                "description": "The path to the field containing the start timestamp.\n",
                "nullable": false,
                "title": "The start timestamp field path.",
                "type": "string"
              },
              "endTimestampField": {
                "description": "The path to the field containing the end timestamp.\n",
                "nullable": false,
                "title": "The end timestamp field path.",
                "type": "string"
              },
              "breakDurationField": {
                "description": "The path to the field containing the break duration.\n",
                "nullable": false,
                "title": "The break duration field path.",
                "type": "string"
              }
            },
            "required": [
              "breakDurationField",
              "endTimestampField",
              "startTimestampField"
            ],
            "type": "object"
          }
        ]
      },
      "CollectionSizeOutOfRangeErrorV1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorV1"
          },
          {
            "description": "The size of the collection is not within the allowed range.\n",
            "properties": {
              "field": {
                "description": "The path to the field containing the collection of which the size is either too small or too large.\n",
                "nullable": false,
                "title": "The field path.",
                "type": "string"
              }
            },
            "required": [
              "field"
            ],
            "type": "object"
          }
        ]
      },
      "CreateTemporaryWorkPayrollPlacementDefinitionForUserMinimalRequestV1": {
        "example": {
          "contactPersonId": 1,
          "jobDescription": "Truck driver",
          "userId": 1,
          "startDate": "2023-03-15T00:00:00+00:00"
        },
        "properties": {
          "userId": {
            "description": "The user ID of the worker that the hirer wants to work for them.\n",
            "example": 1,
            "format": "int32",
            "nullable": false,
            "title": "The user ID of worker to be placed.",
            "type": "integer"
          },
          "contactPersonId": {
            "description": "The ID of the contact person of the hirer for the placement.\n",
            "example": 1,
            "format": "int32",
            "nullable": false,
            "title": "The ID of contact person of the hirer.",
            "type": "integer"
          },
          "startDate": {
            "description": "The day the worker is going to work for the hirer for the first time, for this placement.\n",
            "example": "2023-03-15",
            "format": "date",
            "nullable": false,
            "title": "The date at which the worker starts.",
            "type": "string"
          },
          "jobDescription": {
            "description": "Describes what kind of work the worker will perform under this placement. This can be anything, like a function name or a description of the activities.\n",
            "example": "Truck driver",
            "nullable": true,
            "title": "A short description of what the worker will do under this placement.",
            "type": "string"
          }
        },
        "required": [
          "contactPersonId",
          "startDate",
          "userId"
        ],
        "type": "object"
      },
      "CreateTemporaryWorkPayrollPlacementDefinitionMinimalRequestV1": {
        "example": {
          "workerId": 1,
          "contactPersonId": 1,
          "jobDescription": "Truck driver",
          "startDate": "2023-03-15T00:00:00+00:00"
        },
        "properties": {
          "workerId": {
            "description": "The ID of the worker that the hirer wants to work for them.\n",
            "example": 1,
            "format": "int32",
            "nullable": false,
            "title": "The ID of worker to be placed.",
            "type": "integer"
          },
          "contactPersonId": {
            "description": "The ID of the contact person of the hirer for the placement.\n",
            "example": 1,
            "format": "int32",
            "nullable": false,
            "title": "The ID of contact person of the hirer.",
            "type": "integer"
          },
          "startDate": {
            "description": "The day the worker is going to work for the hirer for the first time, for this placement.\n",
            "example": "2023-03-15",
            "format": "date",
            "nullable": false,
            "title": "The date at which the worker starts.",
            "type": "string"
          },
          "jobDescription": {
            "description": "Describes what kind of work the worker will perform under this placement. This can be anything, like a function name or a description of the activities.\n",
            "example": "Truck driver",
            "nullable": true,
            "title": "A short description of what the worker will do under this placement.",
            "type": "string"
          }
        },
        "required": [
          "contactPersonId",
          "startDate",
          "workerId"
        ],
        "type": "object"
      },
      "CreateTemporaryWorkPayrollPlacementDefinitionMinimalResponseV1": {
        "example": {
          "placementDefinitionId": 1
        },
        "properties": {
          "placementDefinitionId": {
            "description": "The ID of the placement definition that has been created.\n",
            "example": 1,
            "format": "int32",
            "nullable": false,
            "title": "The ID of the new placement definition.",
            "type": "integer"
          }
        },
        "required": [
          "placementDefinitionId"
        ],
        "type": "object"
      },
      "DateTooEarlyErrorV1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorV1"
          },
          {
            "description": "The date is earlier than the earliest allowed value.\n",
            "properties": {
              "field": {
                "description": "The path to the field containing the date that is too early.\n",
                "nullable": false,
                "title": "The field path.",
                "type": "string"
              }
            },
            "required": [
              "field"
            ],
            "type": "object"
          }
        ]
      },
      "DateTooLateErrorV1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorV1"
          },
          {
            "description": "The date is later than the latest allowed value.\n",
            "properties": {
              "field": {
                "description": "The path to the field containing the date that is too late.\n",
                "nullable": false,
                "title": "The field path.",
                "type": "string"
              }
            },
            "required": [
              "field"
            ],
            "type": "object"
          }
        ]
      },
      "DecimalTooLargeErrorV1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorV1"
          },
          {
            "description": "The decimal is greater than the maximum value.\n",
            "properties": {
              "field": {
                "description": "The path to the field containing the decimal that is too large.\n",
                "nullable": false,
                "title": "The field path.",
                "type": "string"
              }
            },
            "required": [
              "field"
            ],
            "type": "object"
          }
        ]
      },
      "DecimalTooSmallErrorV1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorV1"
          },
          {
            "description": "The decimal is less than the minimum value.\n",
            "properties": {
              "field": {
                "description": "The path to the field containing the decimal that is too small.\n",
                "nullable": false,
                "title": "The field path.",
                "type": "string"
              }
            },
            "required": [
              "field"
            ],
            "type": "object"
          }
        ]
      },
      "EndBeforeStartOfTimestampPeriodErrorV1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorV1"
          },
          {
            "description": "The end timestamp of a timestamp period was before the start timestamp.\n",
            "properties": {
              "startTimestampField": {
                "description": "The path to the field containing the start timestamp.\n",
                "nullable": false,
                "title": "The start timestamp field path.",
                "type": "string"
              },
              "endTimestampField": {
                "description": "The path to the field containing the end timestamp.\n",
                "nullable": false,
                "title": "The end timestamp field path.",
                "type": "string"
              }
            },
            "required": [
              "endTimestampField",
              "startTimestampField"
            ],
            "type": "object"
          }
        ]
      },
      "EntityNotFoundErrorV1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorV1"
          },
          {
            "description": "The entity corresponding to the identifier cannot be found.\n",
            "properties": {
              "field": {
                "description": "The path to the field containing the identifier of the entity.\n",
                "nullable": false,
                "title": "The field path.",
                "type": "string"
              }
            },
            "required": [
              "field"
            ],
            "type": "object"
          }
        ]
      },
      "ErrorV1": {
        "additionalProperties": true,
        "description": "The base type for all errors, containing the code used to indicate what type of error occurred.\n",
        "discriminator": {
          "propertyName": "code"
        },
        "properties": {
          "code": {
            "description": "The identifier of the error type. This will contain the name of the schema of the specific error type.\n",
            "nullable": false,
            "title": "The error type code.",
            "type": "string"
          }
        },
        "required": [
          "code"
        ],
        "type": "object"
      },
      "IntegerTooLargeErrorV1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorV1"
          },
          {
            "description": "The integer is greater than the maximum value.\n",
            "properties": {
              "field": {
                "description": "The path to the field containing the integer that is too large.\n",
                "nullable": false,
                "title": "The field path.",
                "type": "string"
              }
            },
            "required": [
              "field"
            ],
            "type": "object"
          }
        ]
      },
      "IntegerTooSmallErrorV1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorV1"
          },
          {
            "description": "The integer is less than the minimum value.\n",
            "properties": {
              "field": {
                "description": "The path to the field containing the integer that is too small.\n",
                "nullable": false,
                "title": "The field path.",
                "type": "string"
              }
            },
            "required": [
              "field"
            ],
            "type": "object"
          }
        ]
      },
      "InvalidRequestErrorResponseV1": {
        "properties": {
          "errors": {
            "description": "All of the validation errors that the endpoint was able to detect during the processing of the request.\n",
            "items": {
              "$ref": "#/components/schemas/ErrorV1"
            },
            "minItems": 1,
            "nullable": false,
            "title": "The collection of errors that were detected.",
            "type": "array"
          }
        },
        "required": [
          "errors"
        ],
        "type": "object"
      },
      "NotAnEmailAddressErrorV1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorV1"
          },
          {
            "description": "The text is not an email address.\n",
            "properties": {
              "field": {
                "description": "The path to the field containing the text that is not an email address.\n",
                "nullable": false,
                "title": "The field path.",
                "type": "string"
              }
            },
            "required": [
              "field"
            ],
            "type": "object"
          }
        ]
      },
      "PlacementOfWorkerAtHirerNotPossibleErrorV1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorV1"
          },
          {
            "description": "Due to the current state of the hirer and/or the worker, a placement of the worker at the hirer is not possible.\n",
            "properties": {
              "hirerIdField": {
                "description": "The path to the field containing the identifier of the hirer.\n",
                "nullable": false,
                "title": "The field path to the hirer ID.",
                "type": "string"
              },
              "workerIdField": {
                "description": "The path to the field containing the identifier of the worker.\n",
                "nullable": false,
                "title": "The field path to the worker ID.",
                "type": "string"
              }
            },
            "required": [
              "hirerIdField",
              "workerIdField"
            ],
            "type": "object"
          }
        ]
      },
      "RemoveHirerLabelsFromUserRequestV1": {
        "example": {
          "userId": 1,
          "hirerLabels": [
            "hirerLabels",
            "hirerLabels"
          ]
        },
        "properties": {
          "userId": {
            "description": "The user ID of the worker from which to remove the hirer labels.\n",
            "example": 1,
            "format": "int32",
            "nullable": false,
            "title": "The user ID of the worker from which to remove the hirer labels.",
            "type": "integer"
          },
          "hirerLabels": {
            "description": "The hirer labels that must be removed from the worker.\n\nThe labels may not be blank: they may not be empty strings, nor consist only of whitespace characters.\n",
            "items": {
              "maxLength": 50,
              "minLength": 1,
              "nullable": false,
              "type": "string"
            },
            "minItems": 1,
            "nullable": false,
            "title": "The hirer labels to remove from the worker.",
            "type": "array"
          }
        },
        "required": [
          "hirerLabels",
          "userId"
        ],
        "type": "object"
      },
      "RemoveHirerLabelsFromWorkerRequestV1": {
        "example": {
          "workerId": 1,
          "hirerLabels": [
            "hirerLabels",
            "hirerLabels"
          ]
        },
        "properties": {
          "workerId": {
            "description": "The ID of the worker from which to remove the hirer labels.\n",
            "example": 1,
            "format": "int32",
            "nullable": false,
            "title": "The ID of the worker from which to remove the hirer labels.",
            "type": "integer"
          },
          "hirerLabels": {
            "description": "The hirer labels that must be removed from the worker.\n\nThe labels may not be blank: they may not be empty strings, nor consist only of whitespace characters.\n",
            "items": {
              "maxLength": 50,
              "minLength": 1,
              "nullable": false,
              "type": "string"
            },
            "minItems": 1,
            "nullable": false,
            "title": "The hirer labels to remove from the worker.",
            "type": "array"
          }
        },
        "required": [
          "hirerLabels",
          "workerId"
        ],
        "type": "object"
      },
      "RequestBodyDoesNotAdhereToSchemaError": {
        "description": "The request body that was sent does not adhere to the schema of this API specification.\n",
        "properties": {
          "code": {
            "description": "The identifier of the error type. This will contain the name of the schema of the specific error type.\n",
            "nullable": false,
            "title": "The error type code.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "RequestBodyDoesNotAdhereToSchemaResponse": {
        "properties": {
          "errors": {
            "description": "All of the validation errors that the endpoint was able to detect during the processing of the request.\n",
            "items": {
              "$ref": "#/components/schemas/RequestBodyDoesNotAdhereToSchemaError"
            },
            "minItems": 1,
            "nullable": false,
            "title": "The collection of errors that were detected.",
            "type": "array"
          }
        },
        "required": [
          "errors"
        ],
        "type": "object"
      },
      "SimpleHoursRegistrationForShiftAndWorkerRequestV1": {
        "example": {
          "hoursRegistrations": [
            null,
            null
          ]
        },
        "properties": {
          "hoursRegistrations": {
            "description": "The hours to be registered for shift-worker combinations (shift signups).\n\nBoth shifts and workers may occur multiple times. Multiple combinations for the same shift and worker are also allowed.\n",
            "items": {
              "$ref": "#/components/schemas/SimpleHoursRegistrationForShiftAndWorkerV1"
            },
            "minItems": 1,
            "title": "The periods that workers worked on shifts to be registered.",
            "type": "array"
          }
        },
        "required": [
          "hoursRegistrations"
        ],
        "type": "object"
      },
      "SimpleHoursRegistrationForShiftAndWorkerV1": {
        "allOf": [
          {
            "description": "A single period when a worker worked on a shift.\n\nThe period may contain 1 or more breaks. The total duration of these breaks must be given.\n\nMaqqie will assume the worker had only 1 break half way through the worked period. This assumption could result in incorrect hour types being used for (some parts of) the worked period. To ensure the correct hour types are always used, split an hours registration into multiple hours registrations. Use 1 period for each period before, between and after the breaks, and set the break duration to 0 minutes.\n",
            "properties": {
              "shiftId": {
                "description": "The ID of the shift for which to register hours.\n\nThis shift must belong to the hirer that invokes this API. There must be a shift signup for this shift and the worker.\n",
                "example": 1,
                "format": "int64",
                "nullable": false,
                "title": "The ID of the shift for which to register hours.",
                "type": "integer"
              },
              "workerId": {
                "description": "The ID of the worker for which to register hours.\n\nThere must be a shift signup for the shift and this worker.\n",
                "example": 1,
                "format": "int32",
                "nullable": false,
                "title": "The ID of the worker for which to register hours.",
                "type": "integer"
              },
              "deduplicationId": {
                "description": "Clients (a specific account) are allowed to generate a unique ID for each worked period, and send this ID with the period. If the ID already exists in the database (implying that the period has already been registered), the period will not be registered again.\n\nNote that there is no check to see if the data sent with a deduplication ID matches the data already in our database. If the ID matches, it is assumed that the data sent with the ID is the same as the data already in the database.\n",
                "example": "period-1",
                "maxLength": 100,
                "minLength": 1,
                "nullable": true,
                "title": "A client-specific ID that can be used to prevent duplication insertion of the hours.",
                "type": "string"
              }
            },
            "required": [
              "shiftId",
              "workerId"
            ],
            "type": "object"
          },
          {
            "$ref": "#/components/schemas/SimpleHoursRegistrationRequestCommonV1_IGNORE"
          }
        ]
      },
      "SimpleHoursRegistrationForTemporaryWorkPayrollPlacementRequestV1": {
        "example": {
          "hoursRegistrations": [
            null,
            null
          ]
        },
        "properties": {
          "hoursRegistrations": {
            "description": "The hours to be registered for temporary work payroll placements.\n\nThe same temporary work payroll placement may occur multiple times.\n",
            "items": {
              "$ref": "#/components/schemas/SimpleHoursRegistrationForTemporaryWorkPayrollPlacementV1"
            },
            "minItems": 1,
            "title": "The periods that workers worked for temporary work payroll placements to be registered.",
            "type": "array"
          }
        },
        "required": [
          "hoursRegistrations"
        ],
        "type": "object"
      },
      "SimpleHoursRegistrationForTemporaryWorkPayrollPlacementV1": {
        "allOf": [
          {
            "description": "A single period when a worker worked for a temporary work payroll placement.\n\nThe period may contain 1 or more breaks. The total duration of these breaks must be given.\n\nMaqqie will assume the worker had only 1 break half way through the worked period. This assumption could result in incorrect hour types being used for (some parts of) the worked period. To ensure the correct hour types are always used, split an hours registration into multiple hours registrations. Use 1 period for each period before, between and after the breaks, and set the break duration to 0 minutes.\n",
            "properties": {
              "temporaryWorkPayrollPlacementId": {
                "description": "The ID of the temporary work payroll placement for which to register hours.\n\nThis temporary work payroll placement must belong to the hirer that invokes this API.\n",
                "example": 1,
                "format": "int32",
                "nullable": false,
                "title": "The ID of the temporary work payroll placement for which to register hours.",
                "type": "integer"
              },
              "deduplicationId": {
                "description": "Clients (a specific account) are allowed to generate a unique ID for each worked period, and send this ID with the period. If the ID already exists in the database (implying that the period has already been registered), the period will not be registered again.\n\nNote that there is no check to see if the data sent with a deduplication ID matches the data already in our database. If the ID matches, it is assumed that the data sent with the ID is the same as the data already in the database.\n",
                "example": "period-1",
                "maxLength": 100,
                "minLength": 1,
                "nullable": true,
                "title": "A client-specific ID that can be used to prevent duplication insertion of the hours.",
                "type": "string"
              }
            },
            "required": [
              "temporaryWorkPayrollPlacementId"
            ],
            "type": "object"
          },
          {
            "$ref": "#/components/schemas/SimpleHoursRegistrationRequestCommonV1_IGNORE"
          }
        ]
      },
      "SimpleHoursRegistrationRequestCommonV1_IGNORE": {
        "properties": {
          "startTimestamp": {
            "description": "The start timestamp must be earlier than the end timestamp.\n\nThis field, the end timestamp and the break duration are used to calculate the actual hours that the worker worked: end timestamp - start timestamp - break duration.\n",
            "example": "2023-01-18T07:30:00+00:00",
            "format": "date-time",
            "nullable": false,
            "title": "The time at which the worker started working.",
            "type": "string"
          },
          "endTimestamp": {
            "description": "The end timestamp must be later than the start timestamp.\n\nThis field, the start timestamp and the break duration are used to calculate the actual hours that the worker worked: end timestamp - start timestamp - break duration.\n",
            "example": "2023-01-18T16:00:00+00:00",
            "format": "date-time",
            "nullable": false,
            "title": "The time at which the worker stopped working.",
            "type": "string"
          },
          "breakDurationInMinutes": {
            "default": 0,
            "description": "The total number of minutes the worker had breaks between the start and end timestamps. This duration must be less than the number of minutes between the start and end timestamps.\n\nThis field, the start timestamp and the end timestamp are used to calculate the actual hours that the worker worked: end timestamp - start timestamp - break duration.\n",
            "example": 30,
            "format": "int32",
            "minimum": 0,
            "nullable": true,
            "title": "The total duration of all breaks (in minutes).",
            "type": "integer"
          }
        },
        "required": [
          "endTimestamp",
          "startTimestamp"
        ],
        "type": "object"
      },
      "StringIsBlank": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorV1"
          },
          {
            "description": "The string is empty or only contains whitespace characters.\n",
            "properties": {
              "field": {
                "description": "The path to the field containing the string that is blank.\n",
                "nullable": false,
                "title": "The field path.",
                "type": "string"
              }
            },
            "required": [
              "field"
            ],
            "type": "object"
          }
        ]
      },
      "TextHasIncorrectFormatErrorV1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorV1"
          },
          {
            "description": "The text does not have the correct format.\n",
            "properties": {
              "field": {
                "description": "The path to the field containing the text not having the correct format.\n",
                "nullable": false,
                "title": "The field path.",
                "type": "string"
              }
            },
            "required": [
              "field"
            ],
            "type": "object"
          }
        ]
      },
      "UnknownErrorV1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorV1"
          }
        ],
        "description": "An error occurred, but a corresponding error has not been defined in the API yet.\n\nThe API team has been notified, and the API will be extended with an error type for the error that occurred.\n"
      },
      "WorkerNeedsToBeInvitedErrorV1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ErrorV1"
          },
          {
            "description": "The worker has no existing placement with the hirer, has not used the gate of the hirer, and is not following the hirer.\n",
            "properties": {
              "field": {
                "description": "The path to the field containing the identifier of the worker.\n",
                "nullable": false,
                "title": "The field path.",
                "type": "string"
              }
            },
            "required": [
              "field"
            ],
            "type": "object"
          }
        ]
      },
      "_IGNORE": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/BreakDurationLongerThanWorkedPeriodErrorV1"
          }
        ]
      },
      "FrameworkAgreementGetResponseV1": {
        "description": "If there is a signed agreement, `unsignedAgreement` is `null`.\nIf there is no signed agreement, but there is an unsigned agreement, `signedAgreement` is `null`.\nIf neither exists, both are `null`.\n",
        "example": {
          "signedAgreement": {
            "documentId": "046b6c7f-0b8a-43b9-b35d-6489e6daee91"
          },
          "unsignedAgreement": {
            "signingUrlExpirationTimestamp": "2000-01-23T04:56:07+00:00",
            "signingUrl": "https://openapi-generator.tech"
          }
        },
        "properties": {
          "signedAgreement": {
            "$ref": "#/components/schemas/FrameworkAgreementSignedEventV1"
          },
          "unsignedAgreement": {
            "$ref": "#/components/schemas/FrameworkAgreementCreationResponseV1"
          }
        },
        "type": "object"
      },
      "FrameworkAgreementSignedEventV1": {
        "description": "Request body for the webhook that is called once a worker has signed the framework agreement.",
        "example": {
          "documentId": "046b6c7f-0b8a-43b9-b35d-6489e6daee91"
        },
        "properties": {
          "documentId": {
            "description": "The id of the document containing the signed framework agreement.\nThe document can be retrieved using the /worker-document endpoint.\n",
            "format": "uuid",
            "type": "string"
          }
        },
        "type": "object"
      },
      "FrameworkAgreementCreationResponseV1": {
        "example": {
          "signingUrlExpirationTimestamp": "2000-01-23T04:56:07+00:00",
          "signingUrl": "https://openapi-generator.tech"
        },
        "properties": {
          "signingUrl": {
            "description": "A URL to the web UI (Stiply) that shows the agreement to the worker and allows them to e-sign it.",
            "format": "uri",
            "type": "string"
          },
          "signingUrlExpirationTimestamp": {
            "description": "The timestamp (UTC) at which the signing URL will expire.\nWhen browsing to the URL after this timestamp, the web UI (Stiply) will show an error page.\n",
            "format": "date-time",
            "type": "string"
          }
        },
        "type": "object"
      },
      "FrameworkAgreementCreationErrorV1": {
        "description": "Error codes.",
        "enum": [
          "FRAMEWORK_AGREEMENT_EXISTS"
        ],
        "type": "string"
      },
      "FrameworkAgreementCreationRequestV1": {
        "example": {
          "workerId": "046b6c7f-0b8a-43b9-b35d-6489e6daee91",
          "payrollTaxReductionStartDate": "2000-01-23",
          "isPayrollTaxReduction": true
        },
        "properties": {
          "workerId": {
            "description": "The unique id of the worker, as returned from the /create-worker endpoint.",
            "format": "uuid",
            "type": "string"
          },
          "isPayrollTaxReduction": {
            "description": "true if the worker wants us to apply payroll tax reduction (Dutch: loonheffingskorting), false otherwise\n",
            "type": "boolean"
          },
          "payrollTaxReductionStartDate": {
            "description": "The date from which the payroll tax reduction should be applied. \nRequired if isPayrollTaxReduction is true, ignored otherwise.\n",
            "format": "date",
            "type": "string"
          }
        },
        "type": "object"
      },
      "WorkerCreationResponseV1": {
        "example": {
          "workerId": "046b6c7f-0b8a-43b9-b35d-6489e6daee91"
        },
        "properties": {
          "workerId": {
            "format": "uuid",
            "type": "string"
          }
        },
        "type": "object"
      },
      "WorkerClientErrorV1": {
        "description": "Error codes.",
        "enum": [
          "INVALID BSN"
        ],
        "type": "string"
      },
      "WorkerCreationRequestV1": {
        "example": {
          "workerDetails": {
            "firstName": "firstName",
            "lastName": "lastName",
            "emailAddress": "emailAddress",
            "verificationDocumentDetails": {
              "idCheckDate": "2000-01-23",
              "placeOfBirth": "placeOfBirth",
              "identityDocument": {
                "bsnDocument": "bsnDocument",
                "documentExpiryDate": "2000-01-23",
                "documentNationality": "US",
                "documentType": null,
                "documentNumber": "documentNumber",
                "base64DocumentBack": "base64DocumentBack",
                "base64DocumentFront": "base64DocumentFront"
              },
              "identificationBy": "identificationBy",
              "gender": "Male",
              "nationality": "US",
              "initials": "initials",
              "dateOfBirth": "2000-01-23",
              "BSN": "BSN",
              "firstNameFormal": "firstNameFormal"
            },
            "address": {
              "zipCode": "zipCode",
              "country": "US",
              "city": "city",
              "street": "street",
              "houseNumber": "houseNumber",
              "houseNumberAddition": "houseNumberAddition"
            },
            "mobileNumber": "mobileNumber",
            "middleName": "middleName",
            "paymentDetails": {
              "IBAN": "IBAN"
            }
          }
        },
        "properties": {
          "workerDetails": {
            "$ref": "#/components/schemas/WorkerDetailsV1"
          }
        },
        "type": "object"
      },
      "WorkerDetailsV1": {
        "example": {
          "firstName": "firstName",
          "lastName": "lastName",
          "emailAddress": "emailAddress",
          "verificationDocumentDetails": {
            "idCheckDate": "2000-01-23",
            "placeOfBirth": "placeOfBirth",
            "identityDocument": {
              "bsnDocument": "bsnDocument",
              "documentExpiryDate": "2000-01-23",
              "documentNationality": "US",
              "documentType": null,
              "documentNumber": "documentNumber",
              "base64DocumentBack": "base64DocumentBack",
              "base64DocumentFront": "base64DocumentFront"
            },
            "identificationBy": "identificationBy",
            "gender": "Male",
            "nationality": "US",
            "initials": "initials",
            "dateOfBirth": "2000-01-23",
            "BSN": "BSN",
            "firstNameFormal": "firstNameFormal"
          },
          "address": {
            "zipCode": "zipCode",
            "country": "US",
            "city": "city",
            "street": "street",
            "houseNumber": "houseNumber",
            "houseNumberAddition": "houseNumberAddition"
          },
          "mobileNumber": "mobileNumber",
          "middleName": "middleName",
          "paymentDetails": {
            "IBAN": "IBAN"
          }
        },
        "properties": {
          "firstName": {
            "description": "The first name of the worker.",
            "type": "string"
          },
          "middleName": {
            "description": "The middle name of the worker.",
            "type": "string"
          },
          "lastName": {
            "description": "The last name of the worker.",
            "type": "string"
          },
          "emailAddress": {
            "description": "The email address of the worker.",
            "format": "email",
            "type": "string"
          },
          "mobileNumber": {
            "description": "The mobile number of the worker.",
            "type": "string"
          },
          "verificationDocumentDetails": {
            "$ref": "#/components/schemas/VerificationDocumentDetailsV1"
          },
          "paymentDetails": {
            "$ref": "#/components/schemas/PaymentDetailsV1"
          },
          "address": {
            "$ref": "#/components/schemas/AddressDetailsV1"
          }
        },
        "type": "object"
      },
      "VerificationDocumentDetailsV1": {
        "description": "ID verification details.",
        "example": {
          "idCheckDate": "2000-01-23",
          "placeOfBirth": "placeOfBirth",
          "identityDocument": {
            "bsnDocument": "bsnDocument",
            "documentExpiryDate": "2000-01-23",
            "documentNationality": "US",
            "documentType": null,
            "documentNumber": "documentNumber",
            "base64DocumentBack": "base64DocumentBack",
            "base64DocumentFront": "base64DocumentFront"
          },
          "identificationBy": "identificationBy",
          "gender": "Male",
          "nationality": "US",
          "initials": "initials",
          "dateOfBirth": "2000-01-23",
          "BSN": "BSN",
          "firstNameFormal": "firstNameFormal"
        },
        "properties": {
          "firstNameFormal": {
            "description": "The formal first name of the worker.",
            "type": "string"
          },
          "initials": {
            "description": "The initials of the worker.",
            "type": "string"
          },
          "dateOfBirth": {
            "description": "The date of birth of the worker.",
            "format": "date",
            "type": "string"
          },
          "placeOfBirth": {
            "description": "The place of birth of the worker.",
            "type": "string"
          },
          "gender": {
            "description": "The gender of the worker.",
            "enum": [
              "Male",
              "Female"
            ],
            "type": "string"
          },
          "nationality": {
            "description": "The country code in ISO 3166-1 alpha-2 format.",
            "example": "US",
            "pattern": "^[A-Z]{2}$",
            "type": "string"
          },
          "identityDocument": {
            "$ref": "#/components/schemas/VerificationDocumentDetailsV1_identityDocument"
          },
          "identificationBy": {
            "description": "The method used for worker identification.",
            "type": "string"
          },
          "idCheckDate": {
            "description": "The date when the identification document was checked.",
            "format": "date",
            "type": "string"
          },
          "BSN": {
            "description": "The BSN (citizen service number).",
            "type": "string"
          }
        },
        "required": [
          "BSN",
          "dateOfBirth",
          "firstNameFormal",
          "gender",
          "idCheckDate",
          "identificationBy",
          "identityDocument",
          "initials",
          "nationality",
          "placeOfBirth"
        ],
        "type": "object"
      },
      "CountryCode": {
        "description": "The country code in ISO 3166-1 alpha-2 format.",
        "example": "US",
        "pattern": "^[A-Z]{2}$",
        "type": "string"
      },
      "DocumentType": {
        "enum": [
          "IDENTITY_CARD",
          "PASSPORT",
          "RESIDENCE_PERMIT"
        ],
        "type": "string"
      },
      "PaymentDetailsV1": {
        "description": "Payment details.",
        "example": {
          "IBAN": "IBAN"
        },
        "properties": {
          "IBAN": {
            "description": "The IBAN of the worker.",
            "type": "string"
          }
        },
        "required": [
          "IBAN"
        ],
        "type": "object"
      },
      "AddressDetailsV1": {
        "description": "Address details.",
        "example": {
          "zipCode": "zipCode",
          "country": "US",
          "city": "city",
          "street": "street",
          "houseNumber": "houseNumber",
          "houseNumberAddition": "houseNumberAddition"
        },
        "properties": {
          "street": {
            "description": "The street name of the address.",
            "type": "string"
          },
          "houseNumber": {
            "description": "The house number of the address.",
            "type": "string"
          },
          "houseNumberAddition": {
            "description": "The addition to the house number (if any).",
            "type": "string"
          },
          "zipCode": {
            "description": "The postal code (ZIP) of the address.",
            "type": "string"
          },
          "city": {
            "description": "The city of the address.",
            "type": "string"
          },
          "country": {
            "description": "The country code in ISO 3166-1 alpha-2 format.",
            "example": "US",
            "pattern": "^[A-Z]{2}$",
            "type": "string"
          }
        },
        "required": [
          "city",
          "country",
          "houseNumber",
          "street",
          "zipCode"
        ],
        "type": "object"
      },
      "WorkerUpdateRequestV1": {
        "example": {
          "workerId": "046b6c7f-0b8a-43b9-b35d-6489e6daee91",
          "emailAddress": "emailAddress",
          "address": {
            "zipCode": "zipCode",
            "country": "US",
            "city": "city",
            "street": "street",
            "houseNumber": "houseNumber",
            "houseNumberAddition": "houseNumberAddition"
          },
          "mobileNumber": "mobileNumber",
          "iban": "iban"
        },
        "properties": {
          "workerId": {
            "format": "uuid",
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/AddressDetailsV1"
          },
          "mobileNumber": {
            "description": "The mobile number of the worker.",
            "type": "string"
          },
          "emailAddress": {
            "format": "email",
            "type": "string"
          },
          "iban": {
            "type": "string"
          }
        },
        "required": [
          "address",
          "email",
          "iban",
          "phone"
        ],
        "type": "object"
      },
      "VerificationDocumentDetailsV1_identityDocument": {
        "example": {
          "bsnDocument": "bsnDocument",
          "documentExpiryDate": "2000-01-23",
          "documentNationality": "US",
          "documentType": null,
          "documentNumber": "documentNumber",
          "base64DocumentBack": "base64DocumentBack",
          "base64DocumentFront": "base64DocumentFront"
        },
        "properties": {
          "bsnDocument": {
            "description": "The base64-encoded image of the bsn document.",
            "type": "string"
          },
          "base64DocumentBack": {
            "description": "The base64-encoded image of the back of the identity document.",
            "type": "string"
          },
          "base64DocumentFront": {
            "description": "The base64-encoded image of the front of the identity document.",
            "type": "string"
          },
          "documentType": {
            "$ref": "#/components/schemas/DocumentType"
          },
          "documentNumber": {
            "description": "The identification document number.",
            "type": "string"
          },
          "documentExpiryDate": {
            "description": "The expiration date of the identification document.",
            "format": "date",
            "type": "string"
          },
          "documentNationality": {
            "description": "The country code in ISO 3166-1 alpha-2 format.",
            "example": "US",
            "pattern": "^[A-Z]{2}$",
            "type": "string"
          }
        },
        "required": [
          "base64DocumentBack",
          "base64DocumentFront",
          "documentExpiryDate",
          "documentNationality",
          "documentNumber",
          "documentType"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "oauth2ClientCredentials": {
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://maqqie.app/auth/realms/maqqie/protocol/openid-connect/token"
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "oauth2ClientCredentials": []
    }
  ],
  "tags": [
    {
      "description": "Information about, setting up and finalizing placements of workers at a hirer under temporary work payroll.\n",
      "name": "Temporary work payroll placements, for hirers"
    },
    {
      "description": "Retrieval, registration and (dis)approval  of hours and expenses.\n\nRegistration of hours and expenses must be done using these endpoints in the following cases:\n\n* The hirer instead of the worker registers the hours.\n* The hours and expenses were registered by workers in another system, and the hirer approved them there.\n",
      "name": "Hours and expenses, for hirers"
    },
    {
      "description": "Access to and updating of the profiles of workers.\n",
      "name": "Worker profiles, for hirers"
    }
  ]
}