{
  "openapi": "3.0.3",
  "info": {
    "title": "University Student API",
    "version": "1.0.0",
    "description": "A read-only REST API which allows access to identity information related to students at the University of Cambridge. Exposes an interface for querying students by student number (USN) or by affiliation.",
    "x-jentic-source-url": "https://guidebook.devops.uis.cam.ac.uk/services/university-student-api/"
  },
  "servers": [
    {
      "url": "https://api.apps.cam.ac.uk/university-student"
    }
  ],
  "paths": {
    "/students": {
      "get": {
        "operationId": "listStudents",
        "summary": "List students",
        "description": "Retrieve a list of students, optionally filtered by affiliation.",
        "tags": ["Students"],
        "parameters": [
          { "name": "affiliation", "in": "query", "required": false, "description": "Filter by affiliation", "schema": { "type": "string" } },
          { "name": "page", "in": "query", "required": false, "description": "Page number", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "required": false, "description": "Results per page", "schema": { "type": "integer", "default": 50 } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/StudentListResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/students/{usn}": {
      "get": {
        "operationId": "getStudent",
        "summary": "Get student by USN",
        "description": "Retrieve student information by University Student Number.",
        "tags": ["Students"],
        "parameters": [
          { "name": "usn", "in": "path", "required": true, "description": "University Student Number", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Student" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Student not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Student": {
        "type": "object",
        "properties": {
          "usn": { "type": "string", "description": "University Student Number" },
          "name": { "type": "string", "description": "Student name" },
          "affiliation": { "type": "string", "description": "Affiliation" },
          "status": { "type": "string", "description": "Student status" }
        }
      },
      "StudentListResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Student" } },
          "total": { "type": "integer" },
          "page": { "type": "integer" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["error"] },
          "code": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key authentication"
      }
    }
  },
  "security": [
    { "apiKeyAuth": [] }
  ]
}