{
  "openapi": "3.0.3",
  "info": {
    "title": "Maqqie Public API",
    "description": "Maqqie Public API",
    "contact": {
      "name": "Maqqie",
      "email": "public-api-support@maqqie.nl"
    },
    "version": "0.0.1",
    "x-jentic-source-url": "https://api.maqqie.app/core-api.yaml"
  },
  "servers": [
    {
      "url": "https://api.maqqie.app"
    }
  ],
  "paths": {
    "/public/arbo-document/v1/create-arbo-document": {
      "post": {
        "tags": [
          "Arbo document"
        ],
        "summary": "Create an arbo document\n",
        "description": "Create an arbo document\n",
        "operationId": "createArboDocument",
        "requestBody": {
          "description": "Input needed for the document",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArboDocumentCreationRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created the arbo document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArboDocumentV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArboDocumentCreationErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/collective-labour-agreement/v1/get-collective-labour-agreements": {
      "get": {
        "tags": [
          "Collective labour agreements"
        ],
        "summary": "Retrieves all supported collective labour agreements",
        "description": "Retrieves all collective labour agreements that are currently supported by Maqqie.\n",
        "operationId": "getCollectiveLabourAgreements",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CollectiveLabourAgreementV1"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectiveLabourAgreementErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "Error. User not authorized."
          },
          "403": {
            "description": "Forbidden. User is not authorized to access data."
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/public/collective-labour-agreement/v1/get-functions": {
      "get": {
        "tags": [
          "Collective labour agreements"
        ],
        "summary": "Retrieves all functions for a collective labour agreement",
        "description": "Returns all functions for a collective labour agreements",
        "operationId": "getFunctionsForCollectiveLabourAgreement",
        "parameters": [
          {
            "name": "collectiveLabourAgreementNumber",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "description": "The unique number of the collective labour agreement, as returned from the /get-collective-labour-agreements endpoint."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FunctionsV1"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectiveLabourAgreementErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "Error. User not authorized."
          },
          "403": {
            "description": "Forbidden. User is not authorized to access data."
          },
          "404": {
            "description": "Collective labour agreement not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/public/collective-labour-agreement/v1/get-education": {
      "get": {
        "tags": [
          "Collective labour agreements"
        ],
        "summary": "Retrieves all educations options",
        "description": "Returns all functions for a collective labour agreement based on function, level and type",
        "operationId": "getEducationOptions",
        "parameters": [
          {
            "name": "collectiveLabourAgreementNumber",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "description": "The unique number of the collective labour agreement, as returned from the /get-collective-labour-agreements endpoint."
            }
          },
          {
            "name": "functionLevel",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The functionLevel, as returned from the /get-functions endpoint."
            }
          },
          {
            "name": "functionType",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The function type, as returned from the /get-functions endpoint."
            }
          },
          {
            "name": "age",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EducationV1"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectiveLabourAgreementErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "Error. User not authorized."
          },
          "403": {
            "description": "Forbidden. User is not authorized to access data."
          },
          "404": {
            "description": "Collective labour agreement not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/public/collective-labour-agreement/v1/get-wage-steps": {
      "get": {
        "tags": [
          "Collective labour agreements"
        ],
        "summary": "Retrieves all wagestep options",
        "description": "Returns all wagestep for a collective labour agreement based on function, level, type and education",
        "operationId": "getWagesteps",
        "parameters": [
          {
            "name": "collectiveLabourAgreementNumber",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "description": "The unique number of the collective labour agreement, as returned from the /get-collective-labour-agreements endpoint."
            }
          },
          {
            "name": "functionLevel",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The functionLevel, as returned from the /get-functions endpoint."
            }
          },
          {
            "name": "functionType",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The function type, as returned from the /get-functions endpoint."
            }
          },
          {
            "name": "functionSubtype",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The functionSubtype"
            }
          },
          {
            "name": "age",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "education",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The education, the name as returned from the /get-educations endpoint."
            }
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "The effective date for which the wage applies, in YYYY-MM-DD format.\nDefaults to today's date if not provided.\nIs adjusted forward to today, if a date in the past is provided. This ensures that an active wage set is used\n(older wages sets are expired, and are then no longer used).\n\nFor example, say that today is 2026-01-02, say there was a wage increase on 2026-01-01, and say you call this\nendpoint with an effectiveDate of 2025-12-31. This endpoint will then implicitly act as if you called it with an\neffectiveDate of 2026-01-02. That is, it will use the wage set of 2026-01-01.\n\nThis means that if you called it on 2025-12-31 and then call it again on 2026-01-01, it will return a different\nresult for the same input parameters, because the effective date is silently increased to 2026-01-01.\n\nThis adjustment is done implicitly for backwards compatibility reasons. Future HTTP APIs may instead of\nreturn an HTTP 400 with an error code instead.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectiveLabourAgreementErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "Error. User not authorized."
          },
          "403": {
            "description": "Forbidden. User is not authorized to access data."
          },
          "404": {
            "description": "Collective labour agreement not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/public/collective-labour-agreement/v1/determine-minimum-hourly-wage": {
      "get": {
        "tags": [
          "Collective labour agreements"
        ],
        "summary": "Determines the hourly wage for a function",
        "description": "Determines the minimum hourly wage for a function.\nThis depends on the chosen fields through the other endpoints in this API.\nIf a field has not been chosen, the highest applicable option will be chosen automatically.\n",
        "operationId": "determineMinimumHourlyWage",
        "parameters": [
          {
            "name": "collectiveLabourAgreementNumber",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "description": "The unique number of the collective labour agreement, as returned from the /get-collective-labour-agreements endpoint."
            }
          },
          {
            "name": "functionLevel",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The functionLevel, as returned from the /get-functions endpoint."
            }
          },
          {
            "name": "functionType",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The function type, as returned from the /get-functions endpoint."
            }
          },
          {
            "name": "functionSubtype",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The functionSubtype"
            }
          },
          {
            "name": "age",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "education",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The education, the name as returned from the /get-educations endpoint."
            }
          },
          {
            "name": "wageStep",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The wageStep, as returned from the /get-wage-steps endpoint."
            }
          },
          {
            "name": "forceHighAwf",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "description": "Forces using high AWf premium. If omitted or set to false, the system determines the applicable AWf premium automatically."
            }
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "The effective date for which the wage applies, in YYYY-MM-DD format.\nDefaults to today's date if not provided.\nIs adjusted forward to today, if a date in the past is provided. This ensures that an active wage set is used\n(older wages sets are expired, and are then no longer used).\n\nFor example, say that today is 2026-01-02, say there was a wage increase on 2026-01-01, and say you call this\nendpoint with an effectiveDate of 2025-12-31. This endpoint will then implicitly act as if you called it with an\neffectiveDate of 2026-01-02. That is, it will use the wage set of 2026-01-01.\n\nThis means that if you called it on 2025-12-31 and then call it again on 2026-01-01, it will return a different\nresult for the same input parameters, because the effective date is silently increased to 2026-01-01.\n\nThis adjustment is done implicitly for backwards compatibility reasons. Future HTTP APIs may instead of\nreturn an HTTP 400 with an error code instead.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The unique id of the client company.",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinimumHourlyWageResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectiveLabourAgreementErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "Error. User not authorized."
          },
          "403": {
            "description": "Forbidden. User is not authorized to access data."
          },
          "404": {
            "description": "Collective labour agreement not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/public/collective-labour-agreement/v1/determine-minimum-hourly-wage-for-worker-with-no-experience": {
      "get": {
        "tags": [
          "Collective labour agreements"
        ],
        "summary": "Determines the hourly wage for a function",
        "description": "Determines the minimum hourly wage for a function.\nThis depends on the chosen fields through the other endpoints in this API.\nIf a field has not been chosen, the highest applicable option will be chosen automatically.\n",
        "operationId": "determineMinimumHourlyWageForWorkerWithNoExperience",
        "parameters": [
          {
            "name": "collectiveLabourAgreementNumber",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "description": "The unique number of the collective labour agreement, as returned from the /get-collective-labour-agreements endpoint."
            }
          },
          {
            "name": "functionLevel",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The functionLevel, as returned from the /get-functions endpoint."
            }
          },
          {
            "name": "functionType",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The function type, as returned from the /get-functions endpoint."
            }
          },
          {
            "name": "functionSubtype",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The functionSubtype"
            }
          },
          {
            "name": "age",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "education",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The education, the name as returned from the /get-educations endpoint."
            }
          },
          {
            "name": "forceHighAwf",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "description": "Forces using high AWf premium. If omitted or set to false, the system determines the applicable AWf premium automatically."
            }
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "The effective date for which the wage applies, in YYYY-MM-DD format.\nDefaults to today's date if not provided.\nIs adjusted forward to today, if a date in the past is provided. This ensures that an active wage set is used\n(older wages sets are expired, and are then no longer used).\n\nFor example, say that today is 2026-01-02, say there was a wage increase on 2026-01-01, and say you call this\nendpoint with an effectiveDate of 2025-12-31. This endpoint will then implicitly act as if you called it with an\neffectiveDate of 2026-01-02. That is, it will use the wage set of 2026-01-01.\n\nThis means that if you called it on 2025-12-31 and then call it again on 2026-01-01, it will return a different\nresult for the same input parameters, because the effective date is silently increased to 2026-01-01.\n\nThis adjustment is done implicitly for backwards compatibility reasons. Future HTTP APIs may instead of\nreturn an HTTP 400 with an error code instead.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The unique id of the client company.",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinimumHourlyWageResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectiveLabourAgreementErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "Error. User not authorized."
          },
          "403": {
            "description": "Forbidden. User is not authorized to access data."
          },
          "404": {
            "description": "Collective labour agreement not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/public/collective-labour-agreement/v0/determine-minimum-hourly-wage-for-worker-with-no-experience": {
      "get": {
        "tags": [
          "Collective labour agreements"
        ],
        "summary": "Determines the hourly wage for a function",
        "description": "Will be removed in in the near future.\nDetermines the minimum hourly wage for a function.\nThis depends on the chosen fields through the other endpoints in this API.\nIf a field has not been chosen, the highest applicable option will be chosen automatically.\nA hourly wage can be provided, if the it is lower that then minimum wage, the minimum wage will be applied\n",
        "operationId": "determineMinimumHourlyWageForWorkerWithNoExperienceV0",
        "parameters": [
          {
            "name": "collectiveLabourAgreementNumber",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "description": "The unique number of the collective labour agreement, as returned from the /get-collective-labour-agreements endpoint."
            }
          },
          {
            "name": "functionLevel",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The functionLevel, as returned from the /get-functions endpoint."
            }
          },
          {
            "name": "functionType",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The function type, as returned from the /get-functions endpoint."
            }
          },
          {
            "name": "functionSubtype",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The functionSubtype"
            }
          },
          {
            "name": "age",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "education",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The education, the name as returned from the /get-educations endpoint."
            }
          },
          {
            "name": "forceHighAwf",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "description": "Forces using high AWf premium. If omitted or set to false, the system determines the applicable AWf premium automatically."
            }
          },
          {
            "name": "effectiveDate",
            "in": "query",
            "description": "The effective date for which the wage applies, in YYYY-MM-DD format.\nDefaults to today's date if not provided.\nIs adjusted forward to today, if a date in the past is provided. This ensures that an active wage set is used\n(older wages sets are expired, and are then no longer used).\n\nFor example, say that today is 2026-01-02, say there was a wage increase on 2026-01-01, and say you call this\nendpoint with an effectiveDate of 2025-12-31. This endpoint will then implicitly act as if you called it with an\neffectiveDate of 2026-01-02. That is, it will use the wage set of 2026-01-01.\n\nThis means that if you called it on 2025-12-31 and then call it again on 2026-01-01, it will return a different\nresult for the same input parameters, because the effective date is silently increased to 2026-01-01.\n\nThis adjustment is done implicitly for backwards compatibility reasons. Future HTTP APIs may instead of\nreturn an HTTP 400 with an error code instead.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "baseHourlyWage",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "description": "The wage per hour, in €.",
              "format": "decimal"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The unique id of the client company.",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinimumHourlyWageResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectiveLabourAgreementErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "Error. User not authorized."
          },
          "403": {
            "description": "Forbidden. User is not authorized to access data."
          },
          "404": {
            "description": "Collective labour agreement not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/public/company/v1/create-company": {
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Create a new company",
        "operationId": "createCompany",
        "requestBody": {
          "description": "Company details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyCreationRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created a company",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCreationResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCreationErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/company/v1/get-locations": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Retrieve all locations for a company",
        "operationId": "getLocations",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationResponseV1"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n"
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/company/v1/get-location-details": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Retrieve details of a specific location",
        "operationId": "getLocationDetails",
        "parameters": [
          {
            "name": "locationId",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved location details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n"
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/company/v1/create-location": {
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Create a new location for a company",
        "operationId": "createLocation",
        "requestBody": {
          "description": "Location details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationCreationRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created a location",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationCreationResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationCreationErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/company/v1/update-location": {
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Update details of an existing location",
        "operationId": "updateLocation",
        "requestBody": {
          "description": "Updated location details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationUpdateRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated the location",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationUpdateErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/company/v1/get-contacts": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Retrieve all contacts for a company",
        "operationId": "getContacts",
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactResponseV1"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n"
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/company/v1/get-contact-details": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Retrieve details of a specific contact",
        "operationId": "getContactDetails",
        "parameters": [
          {
            "name": "contactId",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved contact details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n"
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/company/v1/create-contact": {
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Create a new contact for a company",
        "operationId": "createContact",
        "requestBody": {
          "description": "Contact details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCreationRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created a contact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactCreationResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactCreationErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/company/v1/update-contact": {
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Update details of an existing contact",
        "operationId": "updateContact",
        "requestBody": {
          "description": "Updated contact details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdateRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated the contact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactUpdateErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/employment-contract/v1/create-employment-contract": {
      "post": {
        "tags": [
          "EmploymentContract"
        ],
        "summary": "Create a new phase B/C employment contract for a worker\n",
        "description": "Create an employment contract for a worker. The contract needs to be signed by the worker before it becomes\nactive.\n",
        "operationId": "createEmploymentContract",
        "requestBody": {
          "description": "Input needed for the employment contract",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmploymentContractCreationRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created the employment contract",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmploymentContractCreationResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmploymentContractCreationErrorResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/employment-contract/v1/set-employment-contract-dates": {
      "post": {
        "tags": [
          "EmploymentContract"
        ],
        "summary": "Set the start and end date of an existing employment contract\n",
        "description": "Set the start and end date of an existing employment contract. When the end date is not provided, it's\nautomatically calculated based on the provided start date and the duration that was specified when creating the\nemployment contract. This step is necessary before creating placements for this employment contract. It's not\npossible to change the dates of an employment contract when they are already set\n",
        "operationId": "setEmploymentContractDates",
        "parameters": [
          {
            "name": "workerId",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The unique id of the worker, as returned from the /create-worker endpoint.",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Input needed to set the employment contract dates",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmploymentContractUpdateDatesRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully set the employment contract dates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmploymentContractV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmploymentContractUpdateDatesErrorResponseV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/employment-contract/v1/get-active-employment-contracts": {
      "get": {
        "tags": [
          "EmploymentContract"
        ],
        "summary": "Get active employment contracts for the given worker\n",
        "description": "Get employment contracts for the given worker.\nThe response is sorted by descending end date of the employment contract, then by descending start date.\n",
        "operationId": "getActiveEmploymentContracts",
        "parameters": [
          {
            "name": "workerId",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The unique id of the worker, as returned from the /create-worker endpoint.",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmploymentContractV1"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/employment-contract/v1/get-employment-contracts": {
      "get": {
        "tags": [
          "EmploymentContract"
        ],
        "summary": "Get all employment contracts for the given worker\n",
        "description": "Get all employment contracts for the given worker, including past placements.\nThe response is sorted by descending end date of the employment contract, then by descending start date.\n",
        "operationId": "getEmploymentContracts",
        "parameters": [
          {
            "name": "workerId",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The unique id of the worker, as returned from the /create-worker endpoint.",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmploymentContractV1"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/entitlement/v1/get-registrable-entitlements-for-placement": {
      "get": {
        "tags": [
          "Entitlements"
        ],
        "summary": "Get registrable entitlements for a placement",
        "description": "Returns the list of entitlements that the company can register for a given placement.\n",
        "operationId": "getRegistrableEntitlements",
        "parameters": [
          {
            "name": "placementId",
            "in": "query",
            "description": "Identifier of the placement.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Optional identifier of the project to filter entitlements by.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved registrable entitlements for the placement.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrableEntitlementListResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRegistrableEntitlementsErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid."
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller."
          }
        },
        "x-experimental": true
      }
    },
    "/public/file/v1/download-file": {
      "get": {
        "tags": [
          "File"
        ],
        "summary": "Download a file",
        "description": "Download a file for the given fileId",
        "operationId": "downloadFile",
        "parameters": [
          {
            "name": "fileId",
            "in": "query",
            "description": "The id of the file to download",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully downloaded the file",
            "headers": {
              "Content-Disposition": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "attachment; filename=\"file.pdf\""
                }
              },
              "Content-Type": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "application/pdf"
                }
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n"
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/public/framework-agreement/v1/get-framework-agreement": {
      "get": {
        "tags": [
          "Framework Agreement"
        ],
        "summary": "Get existing framework agreement for the worker",
        "description": "Get existing signed and unsigned framework agreement (if any) for the given worker.",
        "operationId": "getFrameworkAgreement",
        "parameters": [
          {
            "name": "workerId",
            "in": "query",
            "description": "The unique id of the worker, as returned from the /create-worker endpoint.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the framework agreement",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkAgreementGetResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkAgreementCreationErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/framework-agreement/v1/create-framework-agreement": {
      "post": {
        "tags": [
          "Framework Agreement"
        ],
        "summary": "Create a framework agreement and signing link",
        "description": "Create a framework agreement and a signing link, for the given worker.\nOnce the agreement is signed, the FrameworkAgreementSignedEvent webhook is executed.\n",
        "operationId": "createFrameworkAgreement",
        "requestBody": {
          "description": "Input needed for the framework agreement",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FrameworkAgreementCreationRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created the agreement",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkAgreementCreationResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameworkAgreementCreationErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/invoice/v1/add-purchase-order-number-to-invoice": {
      "post": {
        "tags": [
          "Invoice"
        ],
        "summary": "Adds a purchase order number to an invoice",
        "description": "Regenerates an existing invoice, with the purchase order number added to it.\nIf this operation is called multiple times for the same invoice, the purchase order number will be overwritten\nwith the latest value.\n",
        "operationId": "addPurchaseOrderNumberToInvoice",
        "requestBody": {
          "description": "Input needed for adding the purchase number to the invoice",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurchaseOrderNumberAdditionRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully added the purchase order number to the invoice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseOrderNumberAdditionResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseOrderNumberAdditionErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/placement/v1/pre-check-create-placement": {
      "post": {
        "tags": [
          "Placement"
        ],
        "summary": "Pre check for a placement creation\n",
        "description": "Performs a pre-check to determine whether a placement can be created with the provided data.\nNote: a successful pre-check does not guarantee that the placement can still be created later.\nFor example, the minimum CLA wage may have changed between the pre-check and the actual creation of the placement.\n",
        "operationId": "preCheckCreatePlacement",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlacementCreationRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful pre-check with a possible error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreCheckPlacementCreationResponse"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/placement/v1/create-placement": {
      "post": {
        "tags": [
          "Placement"
        ],
        "summary": "Create a placement for a worker, to work at a client company\n",
        "description": "Create a placement for a worker. This includes the creation of an employment contract (if no active contract\nexists). The contract is auto-signed, so a signed framework agreement (see /framework-agreement) must be present\nThe created contract has a duration of four weeks. This can be shortened: see /change-end-date. if the client\ncompany invokes the agency clause (Dutch: uitzendbeding).\n",
        "operationId": "createPlacement",
        "requestBody": {
          "description": "Input needed for the placement",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlacementCreationRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created the placement",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacementV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacementCreationErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/placement/v1/update-placement-end-date": {
      "post": {
        "tags": [
          "Placement"
        ],
        "summary": "[WIP] Shorten the duration of the placement contract upon request of the client company.\n",
        "description": "Shorten the duration of the contract to the given date.\nCall this if and only if the client company invokes the agency clause (Dutch: uitzendbeding).\n",
        "operationId": "updatePlacementEndDate",
        "requestBody": {
          "description": "Input needed for shortening the placement",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlacementEndDateChangeRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully shortened the contract to the requested end date"
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacementEndDateChangeErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/placement/v1/get-active-placements": {
      "get": {
        "tags": [
          "Placement"
        ],
        "summary": "Get active placements for the given worker\n",
        "description": "Get placements for the given worker.\nThe response is sorted by descending end date of the placement, then by descending start date.\n",
        "operationId": "getActivePlacements",
        "parameters": [
          {
            "name": "workerId",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The unique id of the worker, as returned from the /create-worker endpoint.",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlacementResponseV1"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/placement/v1/get-placements": {
      "get": {
        "tags": [
          "Placement"
        ],
        "summary": "Get all placements for the given worker\n",
        "description": "Get all placements for the given worker, including past placements.\nThe response is sorted by descending end date of the placement, then by descending start date.\n",
        "operationId": "getPlacements",
        "parameters": [
          {
            "name": "workerId",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The unique id of the worker, as returned from the /create-worker endpoint.",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlacementResponseV1"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/placement/v1/create-placement-for-existing-contract": {
      "post": {
        "tags": [
          "Placement"
        ],
        "summary": "Create a placement for a worker, linked to an existing employment contract\n",
        "description": "Create a placement for a worker. Unlike /create-placement, this endpoint will not create an employment contract.\nThe caller must provide an existing contractId to link the placement to.\n",
        "operationId": "createPlacementForExistingContract",
        "requestBody": {
          "description": "Input needed for the placement (requires an existing contractId)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlacementForExistingContractCreationRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created the placement",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacementV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacementCreationErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/registrations/v1/register-hours": {
      "post": {
        "tags": [
          "Registration"
        ],
        "summary": "Register worked hours",
        "operationId": "registerHours",
        "requestBody": {
          "description": "Information about the worked hours",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HoursRegistrationRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully registered worked hours.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HoursRegistrationResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HoursRegistrationErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/registrations/v1/register-kilometer-allowance": {
      "post": {
        "tags": [
          "Registration"
        ],
        "summary": "Register kilometer allowance",
        "description": "Registers the kilometer allowance for the worker. from and to address are optional. If they are not present, the\nlocation of the placement and the home address of the worker will be used. The distance is as determined by the Mapbox API\n",
        "operationId": "registerKilometerAllowance",
        "requestBody": {
          "description": "Information about the kilometer allowance",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KilometerAllowanceRegistrationRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully registered kilometer allowance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KilometerAllowanceRegistrationResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KilometerAllowanceRegistrationErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/registrations/v1/register-entitlement": {
      "post": {
        "tags": [
          "Registration"
        ],
        "summary": "Create a new entitlement registration line",
        "description": "Creates a new entitlement registration line with an optional file attachment.\n\n**Attachment Rules:**\n- Whether an attachment is required or not allowed is determined by the entitlement configuration.\n- entitlements API can be used to fetch the entitlement configuration, which includes whether an attachment is required or not allowed for a specific entitlement.\n- If an attachment is required but not provided, the request will be rejected with a 400 error.\n- If an attachment is provided when not configured in entitlement, the document will still be stored\n- Supported file types for attachments are PDF, PNG and JPEG. If the provided file is not one of these types, the request will be rejected with a 400 error.\n",
        "operationId": "createEntitlementRegistrationLine",
        "requestBody": {
          "description": "Entitlement registration line data with optional PDF attachment",
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "request"
                ],
                "type": "object",
                "properties": {
                  "request": {
                    "description": "JSON object with the registration data.\nSee schema: [EntitlementRegistrationRequestV1](#model-EntitlementRegistrationRequestV1)\n",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/EntitlementRegistrationRequestV1"
                      }
                    ]
                  },
                  "attachment": {
                    "type": "string",
                    "description": "PDF or image file attachment (receipt, invoice, etc.).\nWhether required or not is determined by the entitlement configuration.\n",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "request": {
                  "contentType": "application/json",
                  "style": "form"
                },
                "attachment": {
                  "contentType": "application/pdf, image/png, image/jpeg",
                  "style": "form"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Entitlement registration line created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementRegistrationResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n* The entitlement requires an attachment but none was provided.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementRegistrationErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The caller does not have permission to perform this action.\nThis could be due to:\n* Lacking permission to access the placement's company or worker.\n* The company or worker being blacklisted for time writing.\n"
          }
        },
        "x-experimental": true
      }
    },
    "/public/surcharges/v1/retrieve-surcharges": {
      "post": {
        "tags": [
          "Surcharges"
        ],
        "summary": "Retrieve applicable surcharges for a registration period",
        "description": "This endpoint calculates and returns applicable surcharges, based on the provided CAO number, function type, and registration periods.\n\nNote: In case a CLA has set both a fixed amount and a factor for a surcharge and stacking rule higher, this endpoint will arbitrarily choose the factor-based surcharge.\n",
        "operationId": "retrieveSurcharges",
        "requestBody": {
          "description": "Input required to calculate surcharges",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SurchargeRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved applicable surcharges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurchargeResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurchargeResponseErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain valid credentials identifying the caller.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/onboarding/v1/create-worker": {
      "post": {
        "tags": [
          "Onboarding flow"
        ],
        "summary": "Create a new worker",
        "operationId": "createWorker",
        "requestBody": {
          "description": "Worker details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerCreationRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created a worker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerCreationResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerClientErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/onboarding/v1/invite-worker": {
      "post": {
        "tags": [
          "Onboarding flow"
        ],
        "summary": "Invite a worker to join Maqqie",
        "description": "Invite a worker to join Maqqie. If freelance properties are provided, the API will also create a freelance company for the worker.\nThis is intended for company users to onboard workers.\n",
        "operationId": "inviteWorker",
        "requestBody": {
          "description": "Worker invitation details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteWorkerRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully invited a worker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteWorkerResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. Possible error codes:\n* `INVALID_EMAIL` - The email address format is invalid.\n* `INVALID_PHONE_NUMBER` - The mobile number format is invalid or not supported.\n* `INVALID_ZIP_CODE` - The zip code format is invalid.\n* `INVALID_IBAN` - The IBAN format is invalid.\n* `EMAIL_ADDRESS_IN_USE` - A worker with this email address already exists for this company.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerClientErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller. This typically means the authenticated user is not a company user.\n"
          }
        }
      }
    },
    "/public/onboarding/v1/update-worker": {
      "post": {
        "tags": [
          "Onboarding flow"
        ],
        "summary": "Update the info of a worker",
        "operationId": "updateWorker",
        "requestBody": {
          "description": "Worker details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerUpdateRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated a worker"
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerClientErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/onboarding/v1/get-worker-details": {
      "get": {
        "tags": [
          "Onboarding flow"
        ],
        "summary": "retrieve the info of a worker",
        "operationId": "getWorkerDetails",
        "parameters": [
          {
            "name": "workerId",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a worker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerDetailsResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerClientErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/onboarding/v1/update-payroll-tax-reduction-setting": {
      "post": {
        "tags": [
          "Onboarding flow"
        ],
        "summary": "Create a change request to update the payroll tax reduction setting of a worker",
        "operationId": "updatePayrollTaxReductionSetting",
        "requestBody": {
          "description": "Worker details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayrollTaxReductionUpdateRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created a worker change request to update the payroll tax reduction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayrollTaxReductionUpdateResponseV1"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayrollTaxReductionUpdateErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    },
    "/public/worker/v1/update-identity-data": {
      "post": {
        "tags": [
          "Worker"
        ],
        "summary": "Update identity data of a worker\n",
        "operationId": "updateIdentityData",
        "requestBody": {
          "description": "Worker details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIdentityDataRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated identity data of a worker"
          },
          "400": {
            "description": "The request could not be processed. This could be due to a number of reasons:\n* The request does not have all required data.\n* Data in the request is invalid.\n* Data in the request is inconsistent.\n* The operation is not allowed given the current state of the data.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerIdentityDataClientErrorV1"
                }
              }
            }
          },
          "401": {
            "description": "The request did not contain credentials identifying the caller, or the provided credentials were invalid.\n"
          },
          "403": {
            "description": "The data that the request referred to is inaccessible to the caller.\n"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArboDocumentCreationRequestV1": {
        "required": [
          "companyId",
          "contactId",
          "date",
          "functionId",
          "isDocumentForInHouseEmergencyServiceAgreements",
          "isDocumentForSafetyEducation",
          "isDocumentForSpecificSafetyRegulations",
          "isSafetyProtectedEquipment",
          "isWorkOnThirdPartyLocations",
          "workerPointOfContactContactId"
        ],
        "type": "object",
        "properties": {
          "companyId": {
            "type": "string",
            "description": "The unique id of the client company.",
            "format": "uuid"
          },
          "contactId": {
            "type": "string",
            "description": "The unique id of the client company's contact person on whose behalf this API is called.",
            "format": "uuid"
          },
          "workerPointOfContactContactId": {
            "type": "string",
            "description": "The unique id of the client company's contact person that acts as the point of contact for the worker. Their phone number will be shared with the worker.",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "description": "The date, that is considered to be the date of drafting the arbo document.\nIn ISO 8601 calendar date (YYYY-MM-DD).\nTODO: check whether there are any restrictions on the date.\n",
            "format": "date"
          },
          "functionId": {
            "type": "string",
            "description": "The function applicable to the activities for the work that this arbo document is valid for (arbo documents\ncannot apply to more than one function).\nThe id must be a value returned from the collective-labour-agreement API.\nThe function's collective labour agreement must be one of the client company's collective labour agreements.\n",
            "format": "uuid"
          },
          "isDocumentForSafetyEducation": {
            "type": "boolean",
            "description": "`true` if there is a document with general safety-related information material, `false` otherwise.\nThe caller of this endpoint should make that document available together with the created arbo document.\n"
          },
          "isDocumentForSpecificSafetyRegulations": {
            "type": "boolean",
            "description": "`true` if there is a document with client-company safety precautions for this arbo document's function, `false` otherwise.\nThe caller of this endpoint should make that document available together with the created arbo document.\n"
          },
          "isDocumentForInHouseEmergencyServiceAgreements": {
            "type": "boolean",
            "description": "`true` if there is a document with client-company arrangements for emergency response, `false` otherwise.\nThe caller of this endpoint should make that document available together with the created arbo document.\n"
          },
          "isSafetyProtectedEquipment": {
            "type": "boolean",
            "description": "`true` if the worker needs equipment for safety protection, `false` otherwise.\nIf true, it is mandatory for the client company to provide that equipment (in a timely manner).\n"
          },
          "isWorkOnThirdPartyLocations": {
            "type": "boolean",
            "description": "`true` if the worker will work at third-party locations (i.e. locations not belonging to the client company).\nIf true, the client company is responsible for providing any necessary information about safety and health\nregulations at those locations.\n"
          }
        }
      },
      "ArboDocumentCreationErrorV1": {
        "type": "string",
        "description": "Error codes.",
        "enum": [
          "FUNCTION_DOES_NOT_BELONG_TO_CLA_OF_COMPANY",
          "CONTACT_DOES_NOT_BELONG_TO_COMPANY",
          "WORKER_POINT_OF_CONTACT_DOES_NOT_BELONG_TO_COMPANY"
        ]
      },
      "ArboDocumentV1": {
        "required": [
          "fileId"
        ],
        "type": "object",
        "properties": {
          "fileId": {
            "type": "string",
            "description": "The unique id of the arbo document PDF.",
            "format": "uuid"
          }
        }
      },
      "MinimumHourlyWageResponseV1": {
        "required": [
          "costPrice",
          "minimumBaseHourlyWage",
          "minimumHourlyWageIncludingReservations"
        ],
        "type": "object",
        "properties": {
          "minimumBaseHourlyWage": {
            "type": "number",
[...]
