{
  "openapi": "3.0.3",
  "info": {
    "title": "Meltwater API",
    "description": "The Meltwater Public API",
    "contact": {
      "name": "Meltwater Support",
      "url": "https://developer.meltwater.com/",
      "email": "support@api.meltwater.com"
    },
    "version": "1.0",
    "x-jentic-source-url": "https://developer.meltwater.com/docs/meltwater-api/reference/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://api.meltwater.com/"
    }
  ],
  "security": [
    {
      "apikey": []
    }
  ],
  "tags": [
    {
      "name": "Listening Streaming",
      "description": "Streaming of Meltwater data to integrate with your internal systems and workflows."
    },
    {
      "name": "Listening Analytics",
      "description": "Analyse multiple types of Meltwater data, run volume time series, top tags and sentiment counts."
    },
    {
      "name": "Listening Exports",
      "description": "Data exports for onetime and recurring jobs."
    },
    {
      "name": "Listening Search",
      "description": "Search Meltwater data using saved searches to integrate with your own API connectors and internal systems."
    },
    {
      "name": "Listening Search Management",
      "description": "Manage Saved Searches"
    },
    {
      "name": "Account Management",
      "description": "Account Management API and Usage APIs"
    },
    {
      "name": "Owned Analytics",
      "description": "Retrieve owned social metrics and analytics."
    },
    {
      "name": "Explore+ Assets",
      "description": "Manage your Explore+ assets including searches and custom fields."
    },
    {
      "name": "Explore+ Analytics",
      "description": "Fetch analytics on data within your private index."
    },
    {
      "name": "Explore+ Search",
      "description": "Export earned documents from your private index."
    },
    {
      "name": "Bring Your Own Content (BYOC)",
      "description": "Upload your own content into the Meltwater Platform."
    },
    {
      "name": "Mira API",
      "description": "AI-powered chat completion and project listing features."
    }
  ],
  "paths": {
    "/v3/searches": {
      "get": {
        "tags": [
          "Listening Search Management"
        ],
        "summary": "Get a list of all your searches",
        "operationId": "list_searches",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "Company which owns the given search. If not specified your default company is used.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query_type",
            "in": "query",
            "description": "Only return searches of the specified query type, if omitted searches of all query types will be returned",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "boolean",
                "keyword",
                "combined"
              ]
            }
          },
          {
            "name": "expand_combined",
            "in": "query",
            "description": "For combined searches, show whether the ids belongs to a search, filter set or custom category",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Searches",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchListResponse"
                },
                "examples": {
                  "Search List": {
                    "summary": "Search listing",
                    "value": {
                      "searches": [
                        {
                          "updated": "2020-08-23T08:25:56Z",
                          "id": 1025,
                          "name": "Electric Cars"
                        },
                        {
                          "updated": "2020-08-23T08:25:56Z",
                          "id": 1027,
                          "name": "Pokemon"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "description": ""
      },
      "post": {
        "tags": [
          "Listening Search Management"
        ],
        "summary": "Create a search",
        "operationId": "create_search",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "Company which owns the given search. If not specified your default company is used.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A single search request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SingleSearchRequest"
              },
              "examples": {
                "Boolean Search": {
                  "summary": "Boolean Search",
                  "value": {
                    "search": {
                      "name": "Boolean Search",
                      "query": {
                        "filter_set": {
                          "id": 123,
                          "type": "saved"
                        },
                        "case_sensitivity": "yes",
                        "boolean": "Tesla OR (Volvo NEAR electric)",
                        "type": "boolean"
                      }
                    }
                  }
                },
                "Keyword Search": {
                  "summary": "Keyword Search",
                  "value": {
                    "search": {
                      "name": "Keyword Search",
                      "query": {
                        "filter_set": {
                          "id": 123,
                          "type": "saved"
                        },
                        "case_sensitivity": "hybrid",
                        "not_keywords": [
                          "Vodka"
                        ],
                        "any_keywords": [
                          "Tesla",
                          "Volvo"
                        ],
                        "all_keywords": [
                          "Car"
                        ],
                        "type": "keyword"
                      }
                    }
                  }
                },
                "Combined Search": {
                  "summary": "Combined Search",
                  "value": {
                    "search": {
                      "name": "Combined Search",
                      "query": {
                        "filter_set": {
                          "id": 123,
                          "type": "saved"
                        },
                        "not_searches": [
                          1
                        ],
                        "any_searches": [
                          2
                        ],
                        "all_searches": [
                          3
                        ],
                        "type": "combined"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "A single Search",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleSearch"
                },
                "examples": {
                  "Boolean Search": {
                    "summary": "Boolean Search",
                    "value": {
                      "search": {
                        "updated": "2020-08-23T08:25:56Z",
                        "id": 1025,
                        "name": "Electric Cars",
                        "query": {
                          "filter_set": null,
                          "case_sensitivity": false,
                          "boolean": "cars AND electric"
                        }
                      }
                    }
                  },
                  "Keyword Search": {
                    "summary": "Keyword Search",
                    "value": {
                      "search": {
                        "updated": "2020-08-23T08:25:56Z",
                        "id": 1026,
                        "name": "Pokemon",
                        "query": {
                          "filter_set": {
                            "id": 123456,
                            "name": "my filter set",
                            "subtype": "custom",
                            "type": "saved"
                          },
                          "case_sensitivity": "no",
                          "not_keywords": [],
                          "any_keywords": [
                            "Pokemon",
                            "Pok\u00e9mon"
                          ],
                          "all_keywords": [],
                          "type": "keyword"
                        }
                      }
                    }
                  },
                  "Combined Search": {
                    "summary": "Combined Search",
                    "value": {
                      "search": {
                        "updated": "2020-08-23T08:25:56.000Z",
                        "id": 1028,
                        "name": "Meltwater Combined",
                        "query": {
                          "filter_set": null,
                          "case_sensitivity": false,
                          "not_searches": [],
                          "any_searches": [],
                          "all_searches": [
                            1
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "description": ""
      }
    },
    "/v3/searches/{id}": {
      "get": {
        "tags": [
          "Listening Search Management"
        ],
        "summary": "Get an individual search",
        "operationId": "get_search",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Search id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1234
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "Company which owns the given search. If not specified your default company is used.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand_combined",
            "in": "query",
            "description": "For combined searches, show whether the ids belongs to a search, filter set or custom category",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single Search",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleSearch"
                },
                "examples": {
                  "Boolean Search": {
                    "summary": "Boolean Search with a Query",
                    "value": {
                      "search": {
                        "updated": "2020-08-23T08:25:56Z",
                        "id": 1024,
                        "name": "Electric Cars",
                        "query": {
                          "filter_set": null,
                          "case_sensitivity": "no",
                          "boolean": "Tesla OR (Volvo NEAR electric)",
                          "type": "boolean"
                        }
                      }
                    }
                  },
                  "Boolean Search with hidden Query": {
                    "summary": "Boolean Search with hidden Query",
                    "value": {
                      "search": {
                        "updated": "2020-08-23T08:25:56Z",
                        "id": 1025,
                        "name": "Electric Cars"
                      }
                    }
                  },
                  "Keyword Search": {
                    "summary": "Keyword Search with a Query",
                    "value": {
                      "search": {
                        "updated": "2020-08-23T08:25:56Z",
                        "id": 1026,
                        "name": "Pokemon",
                        "query": {
                          "filter_set": {
                            "id": 123456,
                            "name": "my filter set",
                            "subtype": "custom",
                            "type": "saved"
                          },
                          "case_sensitivity": "no",
                          "not_keywords": [],
                          "any_keywords": [
                            "Pokemon",
                            "Pok\u00e9mon"
                          ],
                          "all_keywords": [],
                          "type": "keyword"
                        }
                      }
                    }
                  },
                  "Keyword Search No Query": {
                    "summary": "Keyword Search with hidden Query",
                    "value": {
                      "search": {
                        "updated": "2020-08-23T08:25:56Z",
                        "id": 1027,
                        "name": "Pokemon"
                      }
                    }
                  },
                  "Combined Search": {
                    "summary": "Combined Search with a Query",
                    "value": {
                      "search": {
                        "updated": "2020-08-23T08:25:56.000Z",
                        "id": 1028,
                        "name": "Meltwater Combined",
                        "query": {
                          "filter_set": null,
                          "case_sensitivity": false,
                          "not_searches": [],
                          "any_searches": [],
                          "all_searches": [
                            1
                          ]
                        }
                      }
                    }
                  },
                  "Combined Search No Query": {
                    "summary": "Combined Search with hidden Query",
                    "value": {
                      "search": {
                        "updated": "2020-03-25T00:00:00Z",
                        "id": 1028,
                        "name": "Meltwater Combined"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "description": ""
      },
      "put": {
        "tags": [
          "Listening Search Management"
        ],
        "summary": "Update an individual search",
        "operationId": "update_search",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Search id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1234
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "Company which owns the given search. If not specified your default company is used.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A single search request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SingleSearchRequest"
              },
              "examples": {
                "Keyword Search": {
                  "summary": "Keyword Search",
                  "value": {
                    "search": {
                      "name": "Keyword Search",
                      "query": {
                        "filter_set": null,
                        "case_sensitivity": false,
                        "not_keywords": [
                          "Tesla"
                        ],
                        "any_keywords": [
                          "Twitter"
                        ],
                        "all_keywords": [
                          "Musk"
                        ],
                        "type": "keyword"
                      }
                    }
                  }
                },
                "Boolean Search": {
                  "summary": "Boolean Search",
                  "value": {
                    "search": {
                      "name": "Boolean Search",
                      "query": {
                        "filter_set": {
                          "id": 123456,
                          "name": "my filter set",
                          "subtype": "custom",
                          "type": "saved"
                        },
                        "case_sensitivity": "yes",
                        "boolean": "Tesla OR (Volvo NEAR electric)",
                        "type": "boolean"
                      }
                    }
                  }
                },
                "Combined Search": {
                  "summary": "Combined Search",
                  "value": {
                    "search": {
                      "name": "Combined Search",
                      "query": {
                        "filter_set": {
                          "id": 123,
                          "type": "saved"
                        },
                        "not_searches": [
                          1
                        ],
                        "any_searches": [
                          2
                        ],
                        "all_searches": [
                          3
                        ],
                        "type": "combined"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A single Search",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleSearch"
                },
                "examples": {
                  "Boolean Search": {
                    "summary": "Boolean Search",
                    "value": {
                      "search": {
                        "updated": "2020-08-23T08:25:56Z",
                        "id": 1025,
                        "name": "Electric Cars",
                        "query": {
                          "filter_set": null,
                          "case_sensitivity": false,
                          "boolean": "cars AND electric"
                        }
                      }
                    }
                  },
                  "Keyword Search": {
                    "summary": "Keyword Search",
                    "value": {
                      "search": {
                        "updated": "2020-08-23T08:25:56Z",
                        "id": 1026,
                        "name": "Pokemon",
                        "query": {
                          "filter_set": {
                            "id": 123456,
                            "name": "my filter set",
                            "subtype": "custom",
                            "type": "saved"
                          },
                          "case_sensitivity": "no",
                          "not_keywords": [],
                          "any_keywords": [
                            "Pokemon",
                            "Pok\u00e9mon"
                          ],
                          "all_keywords": [],
                          "type": "keyword"
                        }
                      }
                    }
                  },
                  "Combined Search": {
                    "summary": "Combined Search",
                    "value": {
                      "search": {
                        "updated": "2020-08-23T08:25:56.000Z",
                        "id": 1028,
                        "name": "Meltwater Combined",
                        "query": {
                          "filter_set": null,
                          "case_sensitivity": false,
                          "not_searches": [],
                          "any_searches": [],
                          "all_searches": [
                            1
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "description": ""
      },
      "delete": {
        "tags": [
          "Listening Search Management"
        ],
        "summary": "Delete an individual search",
        "operationId": "delete_search",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Search id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1234
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "Company which owns the given search. If not specified your default company is used.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MissingResourceResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidPermissionsResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityCompanyId"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              },
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailable"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "description": ""
      }
    },
    "/v3/accounts/me/companies": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Get a list of all your companies",
        "operationId": "list_companies",
        "responses": {
          "200": {
            "description": "List of Companies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyList"
                },
                "example": {
                  "companies": [
                    {
                      "name": "Meltwater",
                      "id": "61d07a1eb6b501051b5af3d7"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "description": ""
      }
    },
    "/v3/accounts/me/workspaces": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Get a list of all your workspaces",
        "operationId": "list_workspaces",
        "responses": {
          "200": {
            "description": "List of Workspaces",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceList"
                },
                "example": {
                  "count": 0,
                  "workspaces": [
                    {
                      "id": "61d07a1eb6b501051b5af3d7",
                      "name": "My Workspace",
                      "description": "My awesome workspace",
                      "created_at": "2023-09-19T14:54:38Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "description": ""
      }
    },
    "/v3/accounts/me/tokens": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Get a list of all your API tokens",
        "operationId": "list_tokens",
        "responses": {
          "200": {
            "description": "List of Tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenList"
                },
                "example": {
                  "count": 2,
                  "tokens": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "label": "My API Token",
                      "created_at": "2024-01-15T10:30:00Z",
                      "created_by": "Alex Morgan"
                    },
                    {
                      "id": "f7e6d5c4-b3a2-1098-fedc-ba9876543210",
                      "label": "Token for New Project",
                      "created_at": "2024-02-20T14:45:00Z",
                      "created_by": "Sam Taylor"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "description": ""
      }
    },
    "/v3/searches/{id}/count": {
      "get": {
        "tags": [
          "Listening Search Management"
        ],
        "summary": "Get an approximate count of results for the search over a particular period",
        "operationId": "search_count",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Search id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1234
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "Company which owns the given search. If not specified your default company is used.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "The start date of the search to count result for. Default: `two weeks ago` in ISO8601 format.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "The end date of the search to count result for. Default: `now` in ISO8601 format.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search Count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchCountResponse"
                },
                "example": {
                  "count": {
                    "total": 901382
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "description": ""
      }
    },
    "/v3/tags": {
      "get": {
        "tags": [
          "Listening Search Management"
        ],
        "summary": "Get a list of all your tags",
        "operationId": "list_tags",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "Company which owns the given tags. If not specified your default company is used.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagList"
                },
                "example": {
                  "tags": [
                    {
                      "id": 123456,
                      "name": "my tag"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "description": ""
      },
      "post": {
        "tags": [
          "Listening Search Management"
        ],
        "summary": "Create a new tag",
        "description": "Create a new tag for tagging documents. Tag names must be unique and a maximum of 128 characters.",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "Company which will own the new tag. If not specified, your default company is used.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Tag",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTagRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTagResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ]
      }
    },
    "/v3/tags/{tag_id}": {
      "delete": {
        "tags": [
          "Listening Search Management"
        ],
        "summary": "Delete an existing tag.",
        "description": "Deletes a given tag. Any documents that possess this tag will have it removed following tag deletion.",
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "description": "Tag ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "Company which owns the tag to be deleted. If not specified, your default company is used.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ]
      }
    },
    "/v3/documents/add_tags": {
      "post": {
        "tags": [
          "Listening Search Management"
        ],
        "summary": "Add tags to documents",
        "operationId": "add_tags",
        "description": "Triggers a request to add a list of specified tags to a given set of documents. This is an asynchronous operation.",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "Set the company where the change will be applied",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "This body must contain two fields: `document_ids`, an array of strings representing the IDs of the documents from which tags should be added, and `tags`, an array of objects where each object has an id (integer) or name (string) representing the tags to be added. Each document in `document_ids` will have the specified `tags` added.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentTagsPayload"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MWAPIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MWAPIError"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v3/documents/remove_tags": {
      "post": {
        "tags": [
          "Listening Search Management"
        ],
        "summary": "Remove tags from documents",
        "operationId": "remove_tags",
        "description": "Triggers a request to remove a list of specified tags from a given set of documents. This is an asynchronous operation.",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "Set the company where the change will be applied",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "This body must contain two fields: `document_ids`, an array of strings representing the IDs of the documents from which tags should be removed, and `tags`, an array of objects where each object has an id (integer) or name (string) representing the tags to be removed. Each document in `document_ids` will have the specified `tags` removed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentTagsPayload"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MWAPIError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MWAPIError"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v3/filter_sets": {
      "get": {
        "tags": [
          "Listening Search Management"
        ],
        "summary": "Get a list of all search filter sets",
        "operationId": "list_filter_sets",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "Company which owns the given filter sets. If not specified your default company is used.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_quickpicks",
            "in": "query",
            "description": "Include meltwater-provided QUICKPICK filter sets, default \"false\"",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Filter Sets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilterSetList"
                },
                "example": {
                  "filter_sets": [
                    {
                      "id": 123,
                      "name": "English and from the UK",
                      "subtype": "custom",
                      "type": "saved"
                    },
                    {
                      "id": 456,
                      "name": "Well known french journalists",
                      "subtype": "quickpick",
                      "type": "saved"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ]
      }
    },
    "/v3/custom_categories": {
      "get": {
        "tags": [
          "Listening Search Management"
        ],
        "summary": "Get a list of all search custom categories",
        "operationId": "list_custom_categories",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "Company which owns the given custom categories. If not specified your default company is used.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Custom Categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomCategoriesList"
                },
                "example": {
                  "count": 2,
                  "custom_categories": [
                    {
                      "id": 123,
                      "name": "Japanese cars",
                      "type": "include"
                    },
                    {
                      "id": 456,
                      "name": "German cars",
                      "type": "exclude"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "503": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "apikey": []
          }
        ]
      }
    },
    "/v3/analytics/{searchId}": {
      "get": {
        "tags": [
          "Listening Analytics"
        ],
        "summary": "A summary of analytics for a Saved Search.",
        "description": "The summary is produced only for documents matching the Saved Search,\nfrom the specified document sources, and within the specified time-range.\n\nAny other parameters provided, such as language or country, will further\nrestrict the documents that are included in the analysis.\n\nThe `unique_authors` value can only be calculated for sources other than `news`.\nWhen run against `news` it will return 0.\n",
        "operationId": "getV3Analytics-searchId-start-end-tz-source-country-language-company_id",
        "parameters": [
          {
            "name": "searchId",
            "in": "path",
            "description": "The ID of the Saved Search.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The timestamp of the start of the time-range to query.\n\nAn ISO8601 timestamp, excluding timezone/offset.\n\nIncludes both the date and time components of the ISO8601 timestamp, but\n_excludes_ the timezone offset component. The timestamp represents the\nlocal time at the timezone given in the `tz` parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2021-09-27T00:00:00"
            },
            "example": "2021-09-27T00:00:00"
          },
          {
            "name": "end",
            "in": "query",
            "description": "The timestamp of the end of the time-range to query.\n\nAn ISO8601 timestamp, excluding timezone/offset.\n\nIncludes both the date and time components of the ISO8601 timestamp, but\n_excludes_ the timezone offset component. The timestamp represents the\nlocal time at the timezone given in the `tz` parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2021-09-28T00:00:00"
            },
            "example": "2021-09-28T00:00:00"
          },
          {
            "name": "tz",
            "in": "query",
            "description": "The timezone ID for all timestamps in the request and response.\n\nAn identifier from the IANA TimeZone Database (tzdb),\nor a timezone offset, from UTC.\n\nAn offset, or `UTC`, will provide a stable timezone that remains\nthe same, year-round.\n\nA location ID, such as `Europe/London`, will automatically\nincorporate that location's local timezone rules, including\ndaylight-savings (if applicable), and any other adjustments to\nlocal time. There is a full list available on [Wikipedia](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones).\n\nAs a consequence: when using a location ID, it is possible for\ntime-ranges that cross a timezone adjustment in that locale to be\nlonger or shorter than you might expect; e.g. a day with 23 or 25\nhours when a daylight savings adjustment occurs.\n\nThe `start` and `end` parameters in your request will be interpreted\nto be local to this timezone.\n\nAll timestamps, dates and times in the response will be generated\nlocal to this timezone.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Europe/London"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "The data source to query. By default all available sources are included however you can also provide multiple source values to filter.",
            "schema": {
              "type": "string",
              "example": "twitter",
              "enum": [
                "forums",
                "blogs",
                "douyin",
                "sina_weibo",
                "twitch",
                "facebook",
                "reddit",
                "wechat",
                "news",
                "pinterest",
                "twitter",
                "instagram",
                "little_red_book",
                "bilibili",
                "youku",
                "kakaotalk",
                "linevoom",
                "tiktok"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "The origin country of documents to include in the query.\n\nThe two-letter ISO 3166-1 Alpha-2 country code, or 'ZZ'.\n\nBesides the two letter [ISO 3166-1 Alpha-2 country code](https://www.iso.org/obp/ui/#search/code/)\nof a country, 'ZZ' may be used to indicate 'Unknown country of origin'.\n\nThis restricts the documents queried to include only those that\noriginated from a particular country.\n\nIf multiple countries are specified, documents that originated from any\nof those countries will be included in results.\n\nDocuments that originated in some countries may be restricted from your\nqueries automatically, based on your jurisdiction and entitlements.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "US"
            ]
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of documents to include in the query.\n\nA primary language subtag from the IANA language tag registry, 'zh-Hant',\n'zh-Hans' or 'zz'.\n\nIn addition to two and three letter primary subtags from the\n[IANA language tag registry](https://www.w3.org/International/articles/language-tags/#language),\nthe following special language codes are also supported:\n\n  * `zh-Hans` - for Simplified Chinese\n  * `zh-Hant` - for Traditional Chinese\n  * `zz` - for unknown language\n\nThis restricts the documents queried to include only those in a\nparticular language.\n\nIf multiple languages are specified, documents in any of those languages\nwill be included in the results.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "en"
            ]
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "Company which owns the given searchId. If not specified your default company is used.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationFailed"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitedError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsServiceUnavailable"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SummaryResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/analytics/{searchId}/top_tags": {
      "get": {
        "tags": [
          "Listening Analytics"
        ],
        "summary": "The top tags that occur in a Saved Search.",
        "description": "Produces a ranked list of tags that occur in documents matching the\nSaved Search, from the specified document sources, and within the\nspecified time-range.\n\nThe `size` parameter controls the number of top tags produced,\ndefaulting to the top `10` tags.\n\nAny other parameters provided, such as language or country, will further\nrestrict the documents that have their tags included.\n\nThe type of tags included, such as Twitter \"hashtags\", will depend on the\nselected sources.",
        "operationId": "getV3AnalyticsTop_tags-searchId-start-end-tz-source-country-language-size-company_id",
        "parameters": [
          {
            "name": "searchId",
            "in": "path",
            "description": "The ID of the Saved Search.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The timestamp of the start of the time-range to query.\n\nAn ISO8601 timestamp, excluding timezone/offset.\n\nIncludes both the date and time components of the ISO8601 timestamp, but\n_excludes_ the timezone offset component. The timestamp represents the\nlocal time at the timezone given in the `tz` parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2021-09-27T00:00:00"
            },
            "example": "2021-09-27T00:00:00"
          },
          {
            "name": "end",
            "in": "query",
            "description": "The timestamp of the end of the time-range to query.\n\nAn ISO8601 timestamp, excluding timezone/offset.\n\nIncludes both the date and time components of the ISO8601 timestamp, but\n_excludes_ the timezone offset component. The timestamp represents the\nlocal time at the timezone given in the `tz` parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2021-09-28T00:00:00"
            },
            "example": "2021-09-28T00:00:00"
          },
          {
            "name": "tz",
            "in": "query",
            "description": "The timezone ID for all timestamps in the request and response.\n\nAn identifier from the IANA TimeZone Database (tzdb),\nor a timezone offset, from UTC.\n\nAn offset, or `UTC`, will provide a stable timezone that remains\nthe same, year-round.\n\nA location ID, such as `Europe/London`, will automatically\nincorporate that location's local timezone rules, including\ndaylight-savings (if applicable), and any other adjustments to\nlocal time. There is a full list available on [Wikipedia](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones).\n\nAs a consequence: when using a location ID, it is possible for\ntime-ranges that cross a timezone adjustment in that locale to be\nlonger or shorter than you might expect; e.g. a day with 23 or 25\nhours when a daylight savings adjustment occurs.\n\nThe `start` and `end` parameters in your request will be interpreted\nto be local to this timezone.\n\nAll timestamps, dates and times in the response will be generated\nlocal to this timezone.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Europe/London"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "The data source to query. By default all available sources are included however you can also provide multiple source values to filter.",
            "schema": {
              "type": "string",
              "example": "twitter",
              "enum": [
                "facebook",
                "instagram",
                "twitter",
                "tiktok"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "The origin country of documents to include in the query.\n\nThe two-letter ISO 3166-1 Alpha-2 country code, or 'ZZ'.\n\nBesides the two letter [ISO 3166-1 Alpha-2 country code](https://www.iso.org/obp/ui/#search/code/)\nof a country, 'ZZ' may be used to indicate 'Unknown country of origin'.\n\nThis restricts the documents queried to include only those that\noriginated from a particular country.\n\nIf multiple countries are specified, documents that originated from any\nof those countries will be included in results.\n\nDocuments that originated in some countries may be restricted from your\nqueries automatically, based on your jurisdiction and entitlements.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "US"
            ]
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of documents to include in the query.\n\nA primary language subtag from the IANA language tag registry, 'zh-Hant',\n'zh-Hans' or 'zz'.\n\nIn addition to two and three letter primary subtags from the\n[IANA language tag registry](https://www.w3.org/International/articles/language-tags/#language),\nthe following special language codes are also supported:\n\n  * `zh-Hans` - for Simplified Chinese\n  * `zh-Hant` - for Traditional Chinese\n  * `zz` - for unknown language\n\nThis restricts the documents queried to include only those in a\nparticular language.\n\nIf multiple languages are specified, documents in any of those languages\nwill be included in the results.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "en"
            ]
          },
          {
            "name": "size",
            "in": "query",
            "description": "The maximum number of results to produce.\n\nFrom 1 to 1000 inclusive.\n\nOnly the top/first results will be produced.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "Company which owns the given searchId. If not specified your default company is used.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationFailed"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitedError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsServiceUnavailable"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopTagsResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/analytics/{searchId}/top_locations": {
      "get": {
        "tags": [
          "Listening Analytics"
        ],
        "summary": "The top locations that occur in a Saved Search.",
        "description": "Produces a ranked list of locations that occur in documents matching the\nSaved Search, from the specified document sources, and within the\nspecified time-range.\n\nThe `size` parameter controls the number of top locations produced,\ndefaulting to the top `100` locations.\n\nThe level parameter allows you to select the level of location you want from country, state or city.\n\nAny other parameters provided, such as language or country, will further\nrestrict the documents that have their keyphrases included.\n",
        "operationId": "getV3AnalyticsTop_locations-searchId-start-end-tz-source-country-language-size-level-company_id",
        "parameters": [
          {
            "name": "searchId",
            "in": "path",
            "description": "The ID of the Saved Search.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The timestamp of the start of the time-range to query.\n\nAn ISO8601 timestamp, excluding timezone/offset.\n\nIncludes both the date and time components of the ISO8601 timestamp, but\n_excludes_ the timezone offset component. The timestamp represents the\nlocal time at the timezone given in the `tz` parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2021-09-27T00:00:00"
            },
            "example": "2021-09-27T00:00:00"
          },
          {
            "name": "end",
            "in": "query",
            "description": "The timestamp of the end of the time-range to query.\n\nAn ISO8601 timestamp, excluding timezone/offset.\n\nIncludes both the date and time components of the ISO8601 timestamp, but\n_excludes_ the timezone offset component. The timestamp represents the\nlocal time at the timezone given in the `tz` parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2021-09-28T00:00:00"
            },
            "example": "2021-09-28T00:00:00"
          },
          {
            "name": "tz",
            "in": "query",
            "description": "The timezone ID for all timestamps in the request and response.\n\nAn identifier from the IANA TimeZone Database (tzdb),\nor a timezone offset, from UTC.\n\nAn offset, or `UTC`, will provide a stable timezone that remains\nthe same, year-round.\n\nA location ID, such as `Europe/London`, will automatically\nincorporate that location's local timezone rules, including\ndaylight-savings (if applicable), and any other adjustments to\nlocal time. There is a full list available on [Wikipedia](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones).\n\nAs a consequence: when using a location ID, it is possible for\ntime-ranges that cross a timezone adjustment in that locale to be\nlonger or shorter than you might expect; e.g. a day with 23 or 25\nhours when a daylight savings adjustment occurs.\n\nThe `start` and `end` parameters in your request will be interpreted\nto be local to this timezone.\n\nAll timestamps, dates and times in the response will be generated\nlocal to this timezone.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Europe/London"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "The data source to query. By default all available sources are included however you can also provide multiple source values to filter.",
            "schema": {
              "type": "string",
              "example": "twitter",
              "enum": [
                "forums",
                "blogs",
                "douyin",
                "sina_weibo",
                "twitch",
                "reddit",
                "wechat",
                "news",
                "pinterest",
                "twitter",
                "little_red_book",
                "bilibili",
                "youku",
                "kakaotalk",
                "linevoom"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "The origin country of documents to include in the query.\n\nThe two-letter ISO 3166-1 Alpha-2 country code, or 'ZZ'.\n\nBesides the two letter [ISO 3166-1 Alpha-2 country code](https://www.iso.org/obp/ui/#search/code/)\nof a country, 'ZZ' may be used to indicate 'Unknown country of origin'.\n\nThis restricts the documents queried to include only those that\noriginated from a particular country.\n\nIf multiple countries are specified, documents that originated from any\nof those countries will be included in results.\n\nDocuments that originated in some countries may be restricted from your\nqueries automatically, based on your jurisdiction and entitlements.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "US"
            ]
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of documents to include in the query.\n\nA primary language subtag from the IANA language tag registry, 'zh-Hant',\n'zh-Hans' or 'zz'.\n\nIn addition to two and three letter primary subtags from the\n[IANA language tag registry](https://www.w3.org/International/articles/language-tags/#language),\nthe following special language codes are also supported:\n\n  * `zh-Hans` - for Simplified Chinese\n  * `zh-Hant` - for Traditional Chinese\n  * `zz` - for unknown language\n\nThis restricts the documents queried to include only those in a\nparticular language.\n\nIf multiple languages are specified, documents in any of those languages\nwill be included in the results.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "en"
            ]
          },
          {
            "name": "size",
            "in": "query",
            "description": "The maximum number of results to produce.\n\nFrom 1 to 1000 inclusive.\n\nOnly the top/first results will be produced.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "The level of location to be used, may be one of: country, state, city",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "city",
                "country",
                "state"
              ]
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "Company which owns the given searchId. If not specified your default company is used.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationFailed"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitedError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsServiceUnavailable"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopLocationsResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/analytics/{searchId}/top_shared": {
      "get": {
        "tags": [
          "Listening Analytics"
        ],
        "summary": "The top shared documents that occur in a Saved Search.",
        "description": "Produces a ranked list of documents matching the Saved Search that were\nthe most shared, from the specified document sources, and within the\nspecified time-range.\n\nThe `size` parameter controls the number of top shared documents\nproduced, defaulting to the top `10` top shared documents.\n\nAny other parameters provided, such as language or country, will further\nrestrict the documents that are included.\n\nThe `sort_by` parameter controls the ranking of the results. For example,\nif `sort_by=retweets`, the results will be the top N documents by retweet\ncount. Retweet results are based on when the retweet occured, not the\ncreation date of the original tweet",
        "operationId": "getV3AnalyticsTop_shared-searchId-start-end-tz-source-country-language-size-sort_by-company_id",
        "parameters": [
          {
            "name": "searchId",
            "in": "path",
            "description": "The ID of the Saved Search.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The timestamp of the start of the time-range to query.\n\nAn ISO8601 timestamp, excluding timezone/offset.\n\nIncludes both the date and time components of the ISO8601 timestamp, but\n_excludes_ the timezone offset component. The timestamp represents the\nlocal time at the timezone given in the `tz` parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2021-09-27T00:00:00"
            },
            "example": "2021-09-27T00:00:00"
          },
          {
            "name": "end",
            "in": "query",
            "description": "The timestamp of the end of the time-range to query.\n\nAn ISO8601 timestamp, excluding timezone/offset.\n\nIncludes both the date and time components of the ISO8601 timestamp, but\n_excludes_ the timezone offset component. The timestamp represents the\nlocal time at the timezone given in the `tz` parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2021-09-28T00:00:00"
            },
            "example": "2021-09-28T00:00:00"
          },
          {
            "name": "tz",
            "in": "query",
            "description": "The timezone ID for all timestamps in the request and response.\n\nAn identifier from the IANA TimeZone Database (tzdb),\nor a timezone offset, from UTC.\n\nAn offset, or `UTC`, will provide a stable timezone that remains\nthe same, year-round.\n\nA location ID, such as `Europe/London`, will automatically\nincorporate that location's local timezone rules, including\ndaylight-savings (if applicable), and any other adjustments to\nlocal time. There is a full list available on [Wikipedia](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones).\n\nAs a consequence: when using a location ID, it is possible for\ntime-ranges that cross a timezone adjustment in that locale to be\nlonger or shorter than you might expect; e.g. a day with 23 or 25\nhours when a daylight savings adjustment occurs.\n\nThe `start` and `end` parameters in your request will be interpreted\nto be local to this timezone.\n\nAll timestamps, dates and times in the response will be generated\nlocal to this timezone.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Europe/London"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "The data source to query. By default all available sources are included however you can also provide multiple source values to filter.",
            "schema": {
              "type": "string",
              "example": "twitter",
              "enum": [
                "twitter"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "The origin country of documents to include in the query.\n\nThe two-letter ISO 3166-1 Alpha-2 country code, or 'ZZ'.\n\nBesides the two letter [ISO 3166-1 Alpha-2 country code](https://www.iso.org/obp/ui/#search/code/)\nof a country, 'ZZ' may be used to indicate 'Unknown country of origin'.\n\nThis restricts the documents queried to include only those that\noriginated from a particular country.\n\nIf multiple countries are specified, documents that originated from any\nof those countries will be included in results.\n\nDocuments that originated in some countries may be restricted from your\nqueries automatically, based on your jurisdiction and entitlements.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "US"
            ]
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of documents to include in the query.\n\nA primary language subtag from the IANA language tag registry, 'zh-Hant',\n'zh-Hans' or 'zz'.\n\nIn addition to two and three letter primary subtags from the\n[IANA language tag registry](https://www.w3.org/International/articles/language-tags/#language),\nthe following special language codes are also supported:\n\n  * `zh-Hans` - for Simplified Chinese\n  * `zh-Hant` - for Traditional Chinese\n  * `zz` - for unknown language\n\nThis restricts the documents queried to include only those in a\nparticular language.\n\nIf multiple languages are specified, documents in any of those languages\nwill be included in the results.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "en"
            ]
          },
          {
            "name": "size",
            "in": "query",
            "description": "The maximum number of results to produce.\n\nFrom 1 to 100 inclusive.\n\nOnly the top/first results will be produced.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to rank results by.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "retweets",
              "enum": [
                "retweets"
              ]
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "description": "Company which owns the given searchId. If not specified your default company is used.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationFailed"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitedError"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsServiceUnavailable"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopSharedResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/analytics/{searchId}/top_entities": {
      "get": {
        "tags": [
          "Listening Analytics"
        ],
        "summary": "The top named entities that occur in a Saved Search.",
        "description": "Produces a ranked list of entities that occur in documents matching the\nSaved Search, from the specified document sources, and within the\nspecified time-range.\n\nThe `size` parameter controls the number of top keyphrases produced,\ndefaulting to the top `100` keyphrases.\n\nThe sentiment parameter allows you to select the sentiment of the documents to analyze.\n\nAny other parameters provided, such as language or country, will further\nrestrict the documents that have their keyphrases included.\n",
        "operationId": "getV3AnalyticsTop_entities-searchId-start-end-tz-source-country-language-size-sentiment-company_id",
        "parameters": [
          {
            "name": "searchId",
            "in": "path",
            "description": "The ID of the Saved Search.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The timestamp of the start of the time-range to query.\n\nAn ISO8601 timestamp, excluding timezone/offset.\n\nIncludes both the date and time components of the ISO8601 timestamp, but\n_excludes_ the timezone offset component. The timestamp represents the\nlocal time at the timezone given in the `tz` parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2021-09-27T00:00:00"
            },
            "example": "2021-09-27T00:00:00"
          },
          {
            "name": "end",
            "in": "query",
            "description": "The timestamp of the end of the time-range to query.\n\nAn ISO8601 timestamp, excluding timezone/offset.\n\nIncludes both the date and time components of the ISO8601 timestamp, but\n_excludes_ the timezone offset component. The timestamp represents the\nlocal time at the timezone given in the `tz` parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2021-09-28T00:00:00"
            },
[...]
