{
  "openapi": "3.0.3",
  "info": {
    "title": "Vonage SMS API",
    "description": "The Vonage SMS API allows you to send and receive SMS messages to and from users worldwide, using simple REST APIs. You can also query the delivery status of sent messages and look up inbound messages.",
    "version": "1.0.0",
    "contact": {
      "name": "Vonage Developer Support",
      "url": "https://developer.vonage.com",
      "email": "devrel@vonage.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-apisguru-categories": [
      "messaging"
    ],
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://developer.vonage.com/en/api/sms",
        "version": "3.0"
      }
    ],
    "x-providerName": "vonage.com",
    "x-serviceName": "sms"
  },
  "externalDocs": {
    "description": "Vonage SMS API Documentation",
    "url": "https://developer.vonage.com/en/messaging/sms/overview"
  },
  "servers": [
    {
      "url": "https://rest.nexmo.com"
    }
  ],
  "security": [
    {
      "apiKeyQuery": [],
      "apiSecretQuery": []
    }
  ],
  "paths": {
    "/sms/json": {
      "post": {
        "operationId": "sendSms",
        "summary": "Send an SMS",
        "description": "Send an outbound SMS message from your Vonage account. Messages are sent using the JSON format. You can send SMS to any phone number worldwide.",
        "tags": [
          "SMS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - SMS submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendSmsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded"
          }
        }
      }
    },
    "/sms/xml": {
      "post": {
        "operationId": "sendSmsXml",
        "summary": "Send an SMS (XML format)",
        "description": "Send an outbound SMS message from your Vonage account. Response is returned in XML format.",
        "tags": [
          "SMS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - SMS submitted successfully",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SendSmsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/conversions/sms": {
      "post": {
        "operationId": "submitConversion",
        "summary": "Submit SMS conversion",
        "description": "Tell Vonage that an SMS was successful by submitting a conversion receipt. This is used to optimize SMS routing.",
        "tags": [
          "Conversion"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your Vonage API key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_secret",
            "in": "query",
            "required": true,
            "description": "Your Vonage API secret.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message-id",
            "in": "query",
            "required": true,
            "description": "The ID you received in the response to the original SMS request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "delivered",
            "in": "query",
            "required": true,
            "description": "Whether or not the SMS was delivered. Set to true if your user replied to the message.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "description": "When the user confirmed the SMS was received (in epoch seconds).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Conversion submitted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "423": {
            "description": "Conversion has already been submitted for this message-id"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "Your Vonage API key, available from your Vonage Dashboard."
      },
      "apiSecretQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_secret",
        "description": "Your Vonage API secret, available from your Vonage Dashboard."
      }
    },
    "schemas": {
      "SendSmsRequest": {
        "type": "object",
        "required": [
          "api_key",
          "api_secret",
          "from",
          "to"
        ],
        "properties": {
          "api_key": {
            "type": "string",
            "description": "Your Vonage API key.",
            "example": "abcd1234"
          },
          "api_secret": {
            "type": "string",
            "description": "Your Vonage API secret.",
            "example": "abcd1234abcd1234"
          },
          "from": {
            "type": "string",
            "description": "The name or number the message should be sent from. Alphanumeric senderID's are not supported in all countries. Use a Vonage virtual number or short code.",
            "example": "VonageAPI"
          },
          "to": {
            "type": "string",
            "description": "The number that the message should be sent to, in E.164 international format.",
            "example": "447700900000"
          },
          "text": {
            "type": "string",
            "description": "The body of the message being sent. If your message contains characters that can be encoded according to the GSM Standard and Extended tables, then set the type to text. If the message contains other characters, set the type to unicode.",
            "example": "Hello from Vonage SMS API"
          },
          "ttl": {
            "type": "integer",
            "description": "The duration in milliseconds the delivery of an SMS will be attempted. By default, Vonage attempts delivery for 72 hours.",
            "default": 259200000,
            "minimum": 20000,
            "maximum": 604800000
          },
          "status-report-req": {
            "type": "boolean",
            "description": "Set to true to receive a Delivery Receipt (DLR).",
            "default": true
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "The webhook endpoint the delivery receipt for this SMS is sent to. This parameter overrides the webhook endpoint you set in the Vonage Dashboard."
          },
          "type": {
            "type": "string",
            "description": "The format of the message body.",
            "enum": [
              "text",
              "binary",
              "unicode"
            ],
            "default": "text"
          },
          "vcard": {
            "type": "string",
            "description": "A business card in vCard format. Only supported on different channels."
          },
          "vcal": {
            "type": "string",
            "description": "A calendar event in vCal format. Only supported on different channels."
          },
          "body": {
            "type": "string",
            "description": "Hex encoded binary data. Required when type is binary."
          },
          "udh": {
            "type": "string",
            "description": "Your custom Hex encoded User Data Header (UDH). Required when type is binary."
          },
          "protocol-id": {
            "type": "integer",
            "description": "The value of the protocol identifier to use. Ensure that the value is aligned with udh."
          },
          "title": {
            "type": "string",
            "description": "The title for a WAP Push SMS."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL of your website for a WAP Push."
          },
          "validity": {
            "type": "string",
            "description": "The availability for a WAP Push message in milliseconds."
          },
          "client-ref": {
            "type": "string",
            "description": "Your own reference for this message, up to 100 characters.",
            "maxLength": 100
          },
          "account-ref": {
            "type": "string",
            "description": "An optional string to identify separate accounts using the SMS endpoint for billing purposes. Sent to you in the delivery receipt.",
            "maxLength": 100
          },
          "entity-id": {
            "type": "string",
            "description": "A string parameter that satisfies regulatory requirements for specific countries. Required for sending SMS to certain markets (e.g., India)."
          },
          "content-id": {
            "type": "string",
            "description": "A string parameter that satisfies regulatory requirements for specific countries."
          },
          "message-class": {
            "type": "integer",
            "description": "The Data Coding Scheme value of the message.",
            "enum": [
              0,
              1,
              2,
              3
            ]
          }
        }
      },
      "SendSmsResponse": {
        "type": "object",
        "properties": {
          "message-count": {
            "type": "integer",
            "description": "The number of messages that were generated from your request. Long messages are split into parts."
          },
          "messages": {
            "type": "array",
            "description": "An array of message objects, one for each message part.",
            "items": {
              "$ref": "#/components/schemas/SmsMessage"
            }
          }
        }
      },
      "SmsMessage": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "description": "The number the message was sent to, in E.164 format.",
            "example": "447700900000"
          },
          "message-id": {
            "type": "string",
            "description": "The ID of the message that was submitted.",
            "example": "0A0000001234abcd1"
          },
          "status": {
            "type": "string",
            "description": "The status of the message submission. 0 indicates success. Non-zero values indicate an error.",
            "example": "0",
            "enum": [
              "0",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "22",
              "23",
              "29",
              "32",
              "33",
              "34",
              "51",
              "52",
              "53",
              "54",
              "56",
              "57",
              "58",
              "59",
              "60",
              "69",
              "70",
              "71",
              "72",
              "73",
              "74",
              "75",
              "76"
            ]
          },
          "remaining-balance": {
            "type": "string",
            "description": "Your remaining balance after this message was sent.",
            "example": "3.14159265"
          },
          "message-price": {
            "type": "string",
            "description": "The price charged for this message.",
            "example": "0.03330000"
          },
          "network": {
            "type": "string",
            "description": "The Mobile Country Code Mobile Network Code (MCCMNC) of the carrier that accepted the message.",
            "example": "12345"
          },
          "client-ref": {
            "type": "string",
            "description": "If you set a custom reference for this message, it will be returned here."
          },
          "account-ref": {
            "type": "string",
            "description": "If you set a custom account reference for this message, it will be returned here."
          },
          "error-text": {
            "type": "string",
            "description": "If the status is non-zero, this explains the error."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message-count": {
            "type": "integer",
            "description": "The number of messages in the response."
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Error status code."
                },
                "error-text": {
                  "type": "string",
                  "description": "Description of the error."
                }
              }
            }
          }
        }
      },
      "InboundSms": {
        "type": "object",
        "description": "The format of an inbound SMS message received via webhook.",
        "properties": {
          "msisdn": {
            "type": "string",
            "description": "The phone number that this inbound message was sent from, in E.164 format."
          },
          "to": {
            "type": "string",
            "description": "The Vonage virtual number that the message was sent to."
          },
          "messageId": {
            "type": "string",
            "description": "The Vonage ID for this message."
          },
          "text": {
            "type": "string",
            "description": "The message body."
          },
          "type": {
            "type": "string",
            "description": "The format of the message body.",
            "enum": [
              "text",
              "unicode",
              "binary"
            ]
          },
          "keyword": {
            "type": "string",
            "description": "The first word in the message body, typically used with short codes."
          },
          "api-key": {
            "type": "string",
            "description": "The API key of the Vonage account that the message was sent to."
          },
          "message-timestamp": {
            "type": "string",
            "description": "The time when Vonage started to push this message to your webhook, in the format YYYY-MM-DD HH:MM:SS."
          },
          "timestamp": {
            "type": "string",
            "description": "A Unix timestamp representation of message-timestamp."
          },
          "nonce": {
            "type": "string",
            "description": "A random string that forms part of the signed set of parameters for validation."
          },
          "concat": {
            "type": "string",
            "description": "Set to true if this is a concatenated message."
          },
          "concat-ref": {
            "type": "string",
            "description": "The transaction reference for the concatenated message."
          },
          "concat-total": {
            "type": "string",
            "description": "The total number of parts in this concatenated message."
          },
          "concat-part": {
            "type": "string",
            "description": "The number of this part in the concatenated message."
          },
          "data": {
            "type": "string",
            "description": "The content of this message when type is binary."
          },
          "udh": {
            "type": "string",
            "description": "The hex encoded User Data Header when type is binary."
          }
        }
      },
      "DeliveryReceipt": {
        "type": "object",
        "description": "The format of a delivery receipt received via webhook.",
        "properties": {
          "msisdn": {
            "type": "string",
            "description": "The number the message was sent to, in E.164 format."
          },
          "to": {
            "type": "string",
            "description": "The SenderID you set in from in your request."
          },
          "network-code": {
            "type": "string",
            "description": "The Mobile Country Code Mobile Network Code of the carrier."
          },
          "messageId": {
            "type": "string",
            "description": "The Vonage ID for this message."
          },
          "price": {
            "type": "string",
            "description": "The cost of the message."
          },
          "status": {
            "type": "string",
            "description": "The delivery status of the message.",
            "enum": [
              "delivered",
              "expired",
              "failed",
              "rejected",
              "accepted",
              "buffered",
              "unknown"
            ]
          },
          "scts": {
            "type": "string",
            "description": "When the DLR was received from the carrier in YYMMDDHHMM format."
          },
          "err-code": {
            "type": "string",
            "description": "The error code for the message (0 means delivered successfully)."
          },
          "api-key": {
            "type": "string",
            "description": "The API key that sent the SMS."
          },
          "client-ref": {
            "type": "string",
            "description": "If you set a custom reference when sending the SMS, it will be returned here."
          },
          "message-timestamp": {
            "type": "string",
            "description": "The time when Vonage started to push this receipt to your webhook."
          },
          "timestamp": {
            "type": "string",
            "description": "A Unix timestamp of when the receipt was received."
          },
          "nonce": {
            "type": "string",
            "description": "A random string for signed webhook validation."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "SMS",
      "description": "Send and manage SMS messages."
    },
    {
      "name": "Conversion",
      "description": "Report SMS conversion events for routing optimization."
    }
  ]
}