{
  "openapi": "3.0.3",
  "info": {
    "title": "Omnidots Honeycomb API",
    "description": "REST API for the Omnidots Honeycomb vibration monitoring platform. Provides access to measuring points, sensors, and vibration measurement records including peak particle velocity, VDV, and Veff/KB data.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://honeycomb.omnidots.com/api/docs"
  },
  "servers": [
    {
      "url": "https://honeycomb.omnidots.com/api/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/user/authenticate": {
      "get": {
        "operationId": "authenticateuser",
        "summary": "Authenticate user",
        "description": "Authenticate user and return a temporary API token.",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User account username"
          },
          {
            "name": "password",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User account password"
          }
        ],
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/account": {
      "get": {
        "operationId": "getuseraccount",
        "summary": "Get user account",
        "description": "Retrieve user account information by API token.",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API authentication token"
          }
        ],
        "responses": {
          "200": {
            "description": "User account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAccountResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/token_details": {
      "get": {
        "operationId": "gettokendetails",
        "summary": "Get token details",
        "description": "Test the token and return account information if the token is valid.",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API authentication token"
          }
        ],
        "responses": {
          "200": {
            "description": "Token is valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list_measuring_points": {
      "get": {
        "operationId": "listmeasuringpoints",
        "summary": "List measuring points",
        "description": "Get a list of measuring points that the authenticated token can access.",
        "tags": [
          "Measuring Points"
        ],
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API authentication token"
          }
        ],
        "responses": {
          "200": {
            "description": "List of measuring points",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeasuringPointsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/configure_measuring_point": {
      "get": {
        "operationId": "configuremeasuringpoint",
        "summary": "Configure measuring point",
        "description": "Configure a measuring point with the specified parameters.",
        "tags": [
          "Measuring Points"
        ],
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API authentication token"
          },
          {
            "name": "measuring_point_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the measuring point to configure"
          }
        ],
        "responses": {
          "200": {
            "description": "Configuration updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list_sensors": {
      "get": {
        "operationId": "listsensors",
        "summary": "List sensors",
        "description": "Get a list of sensors that the authenticated token can access.",
        "tags": [
          "Sensors"
        ],
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API authentication token"
          }
        ],
        "responses": {
          "200": {
            "description": "List of sensors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SensorsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get_peak_records": {
      "get": {
        "operationId": "getpeakrecords",
        "summary": "Get peak records",
        "description": "Fetch peak particle velocity and acceleration records for a given measuring point within a time range.",
        "tags": [
          "Records"
        ],
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API authentication token"
          },
          {
            "name": "measuring_point_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the measuring point"
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start of the time range"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End of the time range"
          }
        ],
        "responses": {
          "200": {
            "description": "Peak records data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeakRecordsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get_vdv_records": {
      "get": {
        "operationId": "getvdvrecords",
        "summary": "Get VDV records",
        "description": "Fetch Vibration Dose Value (VDV) records for a given measuring point within a time range.",
        "tags": [
          "Records"
        ],
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API authentication token"
          },
          {
            "name": "measuring_point_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the measuring point"
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start of the time range"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End of the time range"
          }
        ],
        "responses": {
          "200": {
            "description": "VDV records data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VdvRecordsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get_veff_records": {
      "get": {
        "operationId": "getveffrecords",
        "summary": "Get Veff/KB records",
        "description": "Fetch Veff/KB vibration records for a given measuring point within a time range.",
        "tags": [
          "Records"
        ],
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API authentication token"
          },
          {
            "name": "measuring_point_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the measuring point"
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start of the time range"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End of the time range"
          }
        ],
        "responses": {
          "200": {
            "description": "Veff/KB records data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VeffRecordsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get_traces_list": {
      "get": {
        "operationId": "gettraceslist",
        "summary": "Get traces list",
        "description": "Get a list of vibration traces for a given time range.",
        "tags": [
          "Traces"
        ],
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API authentication token"
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start of the time range"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End of the time range"
          }
        ],
        "responses": {
          "200": {
            "description": "List of traces",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TracesListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get_traces": {
      "get": {
        "operationId": "gettraces",
        "summary": "Get detailed traces",
        "description": "Get detailed vibration trace data for a given time range.",
        "tags": [
          "Traces"
        ],
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API authentication token"
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start of the time range"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End of the time range"
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed trace data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TracesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "API token passed as a query parameter. Obtain via /user/authenticate or the token list page."
      }
    },
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "description": "Error reason"
          },
          "help": {
            "type": "string",
            "format": "uri",
            "description": "URL to endpoint help documentation"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          },
          "token": {
            "type": "string",
            "description": "Temporary API token"
          }
        }
      },
      "UserAccountResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          },
          "account": {
            "type": "object",
            "description": "User account details",
            "properties": {
              "username": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              }
            }
          }
        }
      },
      "TokenDetailsResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          },
          "account": {
            "type": "object",
            "description": "Account information associated with the token"
          }
        }
      },
      "MeasuringPointsResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          },
          "measuring_points": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MeasuringPoint"
            }
          }
        }
      },
      "MeasuringPoint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Measuring point identifier"
          },
          "name": {
            "type": "string",
            "description": "Measuring point name"
          },
          "location": {
            "type": "string",
            "description": "Measuring point location"
          }
        }
      },
      "SensorsResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          },
          "sensors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sensor"
            }
          }
        }
      },
      "Sensor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Sensor identifier"
          },
          "name": {
            "type": "string",
            "description": "Sensor name"
          },
          "type": {
            "type": "string",
            "description": "Sensor type"
          }
        }
      },
      "PeakRecordsResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PeakRecord"
            }
          }
        }
      },
      "PeakRecord": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Record timestamp"
          },
          "peak_velocity": {
            "type": "number",
            "format": "double",
            "description": "Peak particle velocity"
          },
          "peak_acceleration": {
            "type": "number",
            "format": "double",
            "description": "Peak acceleration"
          }
        }
      },
      "VdvRecordsResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VdvRecord"
            }
          }
        }
      },
      "VdvRecord": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Record timestamp"
          },
          "vdv": {
            "type": "number",
            "format": "double",
            "description": "Vibration Dose Value"
          }
        }
      },
      "VeffRecordsResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VeffRecord"
            }
          }
        }
      },
      "VeffRecord": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Record timestamp"
          },
          "veff": {
            "type": "number",
            "format": "double",
            "description": "Veff/KB vibration value"
          }
        }
      },
      "TracesListResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          },
          "traces": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Trace identifier"
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Trace timestamp"
                }
              }
            }
          }
        }
      },
      "TracesResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          },
          "traces": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Trace identifier"
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Trace timestamp"
                },
                "data": {
                  "type": "object",
                  "description": "Detailed trace measurement data"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication and token management"
    },
    {
      "name": "Measuring Points",
      "description": "Manage and list measuring points"
    },
    {
      "name": "Sensors",
      "description": "List available sensors"
    },
    {
      "name": "Records",
      "description": "Retrieve vibration measurement records (peak, VDV, Veff/KB)"
    },
    {
      "name": "Traces",
      "description": "Retrieve vibration trace data"
    }
  ]
}