{
  "openapi": "3.0.3",
  "info": {
    "title": "Superfeedr PubSubHubbub API",
    "description": "Superfeedr provides a real-time feed API based on the PubSubHubbub protocol. Subscribe to RSS/Atom feeds and receive real-time notifications when content is updated.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://documentation.superfeedr.com"
  },
  "servers": [
    {
      "url": "https://push.superfeedr.com",
      "description": "Superfeedr Push API"
    },
    {
      "url": "https://stream.superfeedr.com",
      "description": "Superfeedr Stream API"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "manageFeedSubscription",
        "summary": "Subscribe or unsubscribe from a feed",
        "description": "Subscribe to or unsubscribe from an RSS/Atom feed using the PubSubHubbub protocol.",
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription successful with retrieve parameter - returns current feed representation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedResponse"
                }
              }
            }
          },
          "202": {
            "description": "Awaiting async verification"
          },
          "204": {
            "description": "Subscription or unsubscription successful"
          },
          "400": {
            "description": "Bad request - missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          },
          "422": {
            "description": "Unprocessable entity - subscription failed",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Failure reason"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "querySubscriptions",
        "summary": "List subscriptions, retrieve feed entries, or replay notifications",
        "description": "List current subscriptions, retrieve past feed entries, or replay notifications depending on the hub.mode parameter.",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "hub.mode",
            "in": "query",
            "required": true,
            "description": "The operation mode: list, retrieve, or replay.",
            "schema": {
              "type": "string",
              "enum": [
                "list",
                "retrieve",
                "replay"
              ]
            }
          },
          {
            "name": "hub.topic",
            "in": "query",
            "required": false,
            "description": "URL of the resource (feed) to query.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "hub.callback",
            "in": "query",
            "required": false,
            "description": "The webhook callback URL associated with the subscription.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Pagination page number (default 1). Used with list mode.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "by_page",
            "in": "query",
            "required": false,
            "description": "Number of items per page (max 500). Used with list mode.",
            "schema": {
              "type": "integer",
              "maximum": 500
            }
          },
          {
            "name": "detailed",
            "in": "query",
            "required": false,
            "description": "Include feed details in list response.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of entries to return (max 50, default 10). Used with retrieve/replay modes.",
            "schema": {
              "type": "integer",
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Entry ID for pagination (entries before this ID).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Entry ID for pagination (entries after this ID).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "atom"
              ]
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback function name (JSON format only).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "description": "Set to true for async replay response.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with subscriptions or feed entries",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SubscriptionListResponse"
                    },
                    {
                      "$ref": "#/components/schemas/FeedResponse"
                    }
                  ]
                }
              }
            }
          },
          "204": {
            "description": "Replay successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not subscribed to the requested feed"
          },
          "422": {
            "description": "Failure - details in response body"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SubscriptionRequest": {
        "type": "object",
        "required": [
          "hub.mode",
          "hub.topic"
        ],
        "properties": {
          "hub.mode": {
            "type": "string",
            "enum": [
              "subscribe",
              "unsubscribe"
            ],
            "description": "The PubSubHubbub mode."
          },
          "hub.topic": {
            "type": "string",
            "format": "uri",
            "maxLength": 2048,
            "description": "URL of the resource to subscribe to or unsubscribe from."
          },
          "hub.callback": {
            "type": "string",
            "format": "uri",
            "maxLength": 250,
            "description": "The webhook URL to receive notifications."
          },
          "hub.secret": {
            "type": "string",
            "description": "A secret string used for HMAC signature computation on notifications."
          },
          "hub.verify": {
            "type": "string",
            "enum": [
              "sync",
              "async"
            ],
            "description": "Verification mode for the subscription."
          },
          "format": {
            "type": "string",
            "enum": [
              "json",
              "atom"
            ],
            "description": "Format of notifications."
          },
          "retrieve": {
            "type": "boolean",
            "description": "Set to true to include the current feed representation in the response."
          }
        }
      },
      "SubscriptionListResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Subscription"
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "object",
            "properties": {
              "feed": {
                "$ref": "#/components/schemas/FeedInfo"
              },
              "endpoint": {
                "type": "string",
                "format": "uri",
                "description": "The callback URL."
              },
              "secret": {
                "type": "string",
                "description": "The HMAC secret, if set."
              },
              "format": {
                "type": "string",
                "description": "The notification format."
              }
            }
          }
        }
      },
      "FeedInfo": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The feed URL."
          },
          "title": {
            "type": "string",
            "description": "The feed title."
          },
          "status": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "HTTP status code of last fetch."
              },
              "feed": {
                "type": "string",
                "description": "Feed URL."
              },
              "http": {
                "type": "string",
                "description": "HTTP status message."
              },
              "lastMaintenanceAt": {
                "type": "string",
                "format": "date-time",
                "description": "Last maintenance timestamp."
              },
              "lastParse": {
                "type": "string",
                "format": "date-time",
                "description": "Last parse timestamp."
              },
              "nextFetch": {
                "type": "string",
                "format": "date-time",
                "description": "Next scheduled fetch."
              },
              "period": {
                "type": "integer",
                "description": "Fetch interval in seconds."
              },
              "velocity": {
                "type": "number",
                "description": "Feed velocity (entries per day)."
              }
            }
          }
        }
      },
      "FeedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/FeedInfo"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FeedEntry"
            }
          },
          "title": {
            "type": "string",
            "description": "Feed title."
          }
        }
      },
      "FeedEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the entry."
          },
          "title": {
            "type": "string",
            "description": "Entry title."
          },
          "summary": {
            "type": "string",
            "description": "Entry summary or description."
          },
          "content": {
            "type": "string",
            "description": "Full entry content."
          },
          "published": {
            "type": "string",
            "format": "date-time",
            "description": "Publication date."
          },
          "updated": {
            "type": "string",
            "format": "date-time",
            "description": "Last update date."
          },
          "permalinkUrl": {
            "type": "string",
            "format": "uri",
            "description": "Permanent URL for the entry."
          },
          "actor": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            }
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Entry categories or tags."
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth using your Superfeedr login and API token."
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}