{
  "openapi": "3.1.0",
  "info": {
    "title": "Wistia Data API",
    "version": "1.0.0",
    "description": "The Wistia Data API provides programmatic access to your Wistia account. Upload and manage media, create projects, get viewing statistics, and manage customizations.",
    "contact": {
      "name": "Wistia",
      "url": "https://docs.wistia.com"
    },
    "x-apisguru-categories": [
      "media"
    ],
    "x-logo": {
      "url": "https://wistia.com/favicon.ico"
    }
  },
  "servers": [
    {
      "url": "https://api.wistia.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token authentication. Use your Wistia API token as the bearer token."
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Use api as the username and your API token as the password."
      }
    },
    "schemas": {
      "Media": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "Video",
              "Image",
              "PdfDocument",
              "MicrosoftOfficeDocument",
              "Swf",
              "UnknownType"
            ]
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "number",
            "description": "Duration in seconds"
          },
          "hashed_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "progress": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "processing",
              "ready",
              "failed"
            ]
          },
          "thumbnail": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              },
              "width": {
                "type": "integer"
              },
              "height": {
                "type": "integer"
              }
            }
          },
          "project": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "hashed_id": {
                "type": "string"
              }
            }
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "embedCode": {
            "type": "string"
          },
          "section": {
            "type": "string"
          }
        }
      },
      "Asset": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "fileSize": {
            "type": "integer"
          },
          "contentType": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "OriginalFile",
              "FlashVideoFile",
              "MdFlashVideoFile",
              "HdFlashVideoFile",
              "Mp4VideoFile",
              "MdMp4VideoFile",
              "HdMp4VideoFile",
              "IphoneVideoFile",
              "StillImageFile",
              "SwfFile",
              "Mp3AudioFile",
              "LargeImageFile"
            ]
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "mediaCount": {
            "type": "integer"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          },
          "hashed_id": {
            "type": "string"
          },
          "anonymousCanUpload": {
            "type": "boolean"
          },
          "anonymousCanDownload": {
            "type": "boolean"
          },
          "public": {
            "type": "boolean"
          },
          "publicId": {
            "type": "string"
          },
          "medias": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Media"
            }
          }
        }
      },
      "Customization": {
        "type": "object",
        "properties": {
          "playerColor": {
            "type": "string"
          },
          "stillUrl": {
            "type": "string"
          },
          "autoPlay": {
            "type": "boolean"
          },
          "endVideoBehavior": {
            "type": "string",
            "enum": [
              "default",
              "reset",
              "loop"
            ]
          },
          "fullscreenButton": {
            "type": "boolean"
          },
          "playbar": {
            "type": "boolean"
          },
          "playButton": {
            "type": "boolean"
          },
          "smallPlayButton": {
            "type": "boolean"
          },
          "volumeControl": {
            "type": "boolean"
          },
          "controlsVisibleOnLoad": {
            "type": "boolean"
          }
        }
      },
      "Stats": {
        "type": "object",
        "properties": {
          "load_count": {
            "type": "integer"
          },
          "play_count": {
            "type": "integer"
          },
          "play_rate": {
            "type": "number"
          },
          "hours_watched": {
            "type": "number"
          },
          "engagement": {
            "type": "number"
          },
          "visitors": {
            "type": "integer"
          }
        }
      },
      "CaptionSet": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "english_name": {
            "type": "string"
          },
          "native_name": {
            "type": "string"
          },
          "is_draft": {
            "type": "boolean"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 1
        }
      },
      "per_page": {
        "name": "per_page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 100,
          "maximum": 500
        }
      },
      "sort_by": {
        "name": "sort_by",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "name",
            "created",
            "updated"
          ]
        }
      },
      "sort_direction": {
        "name": "sort_direction",
        "in": "query",
        "schema": {
          "type": "integer",
          "enum": [
            0,
            1
          ],
          "default": 1
        }
      }
    }
  },
  "paths": {
    "/medias.json": {
      "get": {
        "operationId": "listMedias",
        "summary": "List all medias",
        "tags": [
          "Medias"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/sort_by"
          },
          {
            "$ref": "#/components/parameters/sort_direction"
          },
          {
            "name": "project_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by project ID"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by name"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by type"
          }
        ],
        "responses": {
          "200": {
            "description": "List of medias.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Media"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/medias/{id}.json": {
      "get": {
        "operationId": "getMedia",
        "summary": "Get a media",
        "tags": [
          "Medias"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A media object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Media"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateMedia",
        "summary": "Update a media",
        "tags": [
          "Medias"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "new_still_media_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated media.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Media"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteMedia",
        "summary": "Delete a media",
        "tags": [
          "Medias"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted."
          }
        }
      }
    },
    "/medias/{id}/copy.json": {
      "post": {
        "operationId": "copyMedia",
        "summary": "Copy a media",
        "tags": [
          "Medias"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_id": {
                    "type": "integer"
                  },
                  "owner": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Copied media.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Media"
                }
              }
            }
          }
        }
      }
    },
    "/medias/{id}/stats.json": {
      "get": {
        "operationId": "getMediaStats",
        "summary": "Get media stats",
        "tags": [
          "Medias"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Media stats.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stats"
                }
              }
            }
          }
        }
      }
    },
    "/medias/{id}/customizations.json": {
      "get": {
        "operationId": "getMediaCustomizations",
        "summary": "Get media customizations",
        "tags": [
          "Customizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customizations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customization"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateMediaCustomizations",
        "summary": "Update media customizations",
        "tags": [
          "Customizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Customization"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated customizations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customization"
                }
              }
            }
          }
        }
      }
    },
    "/medias/{id}/captions.json": {
      "get": {
        "operationId": "listCaptions",
        "summary": "List captions for a media",
        "tags": [
          "Captions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of caption sets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CaptionSet"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCaption",
        "summary": "Create a caption",
        "tags": [
          "Captions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "language"
                ],
                "properties": {
                  "language": {
                    "type": "string"
                  },
                  "caption_file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created caption.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaptionSet"
                }
              }
            }
          }
        }
      }
    },
    "/projects.json": {
      "get": {
        "operationId": "listProjects",
        "summary": "List all projects",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/sort_by"
          },
          {
            "$ref": "#/components/parameters/sort_direction"
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a project",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "adminEmail": {
                    "type": "string"
                  },
                  "anonymousCanUpload": {
                    "type": "boolean"
                  },
                  "anonymousCanDownload": {
                    "type": "boolean"
                  },
                  "public": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}.json": {
      "get": {
        "operationId": "getProject",
        "summary": "Get a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateProject",
        "summary": "Update a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "anonymousCanUpload": {
                    "type": "boolean"
                  },
                  "anonymousCanDownload": {
                    "type": "boolean"
                  },
                  "public": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Delete a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted."
          }
        }
      }
    },
    "/account.json": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account info",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Medias",
      "description": "Media operations."
    },
    {
      "name": "Projects",
      "description": "Project operations."
    },
    {
      "name": "Customizations",
      "description": "Player customization operations."
    },
    {
      "name": "Captions",
      "description": "Caption operations."
    },
    {
      "name": "Account",
      "description": "Account operations."
    }
  ]
}