{
  "openapi": "3.0.3",
  "info": {
    "title": "SecPaid Interative API",
    "description": "The SecPaid  API allows developers to create secure payment links (Link To Pay), manage payment transactions, and process payments seamlessly. Utilize this API to integrate payment functionalities into your applications, enabling users to handle payments efficiently.\n",
    "version": "1.5.4",
    "contact": {
      "name": "SecPaid Support Team",
      "email": "contact@secpaid.com",
      "url": "https://www.secpaid.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://app.secpaid.com/swagger"
  },
  "servers": [
    {
      "url": "https://app.secpaid.com/api",
      "description": "SecPaid API Server"
    }
  ],
  "paths": {
    "/v2/createLink": {
      "post": {
        "summary": "Create a new payment link (Link To Pay)",
        "description": "Generates a new payment link (Link To Pay) using the provided recipient note and amount. This link can be shared with customers for payment processing.\n",
        "operationId": "createPaymentLink",
        "tags": [
          "Link To Pay"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Access token which gets swapped for Bearer token during authentication",
            "required": true,
            "schema": {
              "type": "string",
              "default": "u06AuLfBhQdQDtYGVcbGQtUNgIO1wrFN"
            }
          }
        ],
        "requestBody": {
          "description": "Details required to create a new payment link",
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "recipient_note",
                  "amount"
                ],
                "properties": {
                  "recipient_note": {
                    "type": "string",
                    "description": "A note or message for the recipient to accompany the payment link. (Max. 50 characeters)",
                    "example": "Payment for Order #1234"
                  },
                  "callback_url": {
                    "type": "integer",
                    "description": "No of Callback Base URl to redirect to (Set in settings)",
                    "example": "1"
                  },
                  "amount": {
                    "type": "number",
                    "description": "The amount to be paid by the recipient",
                    "example": "100.00"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment link created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Link"
                    },
                    "ResponseCode": {
                      "type": "integer",
                      "example": 1
                    },
                    "ResponseMsg": {
                      "type": "string",
                      "example": "Link has been created successfully"
                    },
                    "Result": {
                      "type": "string",
                      "example": "True"
                    },
                    "ServerTime": {
                      "type": "string",
                      "example": "UTC"
                    }
                  }
                },
                "examples": {
                  "successfulCreation": {
                    "summary": "Example response for a successful creation",
                    "value": {
                      "data": {
                        "user_id": "b44c4429-4a7b-4e27-85af-c1c2f43f4ffe",
                        "amount": "100.00",
                        "recipient_note": "Payment for Invoice #1234",
                        "status": "Unused",
                        "paymentEndpoint": "https://app.dev.secpaid.com/payment",
                        "id": 124,
                        "pay_link": "https://app.dev.secpaid.com/payment?link_id=MTI0",
                        "qr_img": "https://quickchart.io/chart?chl=https://app.dev.secpaid.com/payment?link_id=MTI0&chs=300x300&cht=qr"
                      },
                      "ResponseCode": 1,
                      "ResponseMsg": "Link has been created successfully",
                      "Result": "True",
                      "ServerTime": "UTC"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request due to invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidParameters": {
                    "summary": "Example response for invalid input (no amount set)",
                    "value": {
                      "error": "InvalidRequest",
                      "errorMessage": "Please enter amount"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access due to invalid API key or token (demo only)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorizedAccess": {
                    "summary": "Example response for unauthorized access",
                    "value": {
                      "error": "Unauthorized",
                      "errorMessage": "No user found with the provided API key."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden access due to insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "forbiddenAccess": {
                    "summary": "Example response for forbidden access",
                    "value": {
                      "error": "Forbidden",
                      "errorMessage": "You do not have permission to perform this action."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error due to an unexpected condition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internalServerError": {
                    "summary": "Example response for internal server error",
                    "value": {
                      "error": "InternalServerError",
                      "errorMessage": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/createSplitLink": {
      "post": {
        "summary": "Create a new split payment link",
        "description": "Generates a new split payment link using the provided recipients, amount, recipient note, and callback URL.\nThis link can be shared with customers for split payment processing.\n",
        "operationId": "createSplitLink",
        "tags": [
          "Link To Pay"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Access token which gets swapped for Bearer token during authentication.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "u06AuLfBhQdQDtYGVcbGQtUNgIO1wrFN"
            }
          }
        ],
        "requestBody": {
          "description": "Details required to create a new split payment link.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "recipients",
                  "amount",
                  "recipient_note",
                  "callback_url"
                ],
                "properties": {
                  "recipients": {
                    "type": "array",
                    "description": "List of recipient objects with their tokens and share percentages.",
                    "items": {
                      "type": "object",
                      "required": [
                        "token",
                        "share"
                      ],
                      "properties": {
                        "token": {
                          "type": "string",
                          "description": "Unique identifier for the recipient.",
                          "example": "testuser-m"
                        },
                        "share": {
                          "type": "number",
                          "description": "Percentage share allocated to this recipient.",
                          "example": 30
                        }
                      }
                    }
                  },
                  "recipient_note": {
                    "type": "string",
                    "description": "A note or message for the recipient to accompany the payment link. (Max. 50 characeters)",
                    "example": "Payment for Order #1234"
                  },
                  "callback_url": {
                    "type": "integer",
                    "description": "No of Callback Base URl to redirect to (Set in settings)",
                    "example": "1"
                  },
                  "amount": {
                    "type": "number",
                    "description": "The amount to be paid by the recipient",
                    "example": "100.00"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Split payment link created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "description": "Data pertaining to the newly created split payment link.",
                      "type": "object"
                    },
                    "ResponseCode": {
                      "type": "integer",
                      "example": 1
                    },
                    "ResponseMsg": {
                      "type": "string",
                      "example": "Link has been created successfully."
                    },
                    "Result": {
                      "type": "string",
                      "example": "True"
                    },
                    "ServerTime": {
                      "type": "string",
                      "example": "UTC"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request due to invalid input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access due to invalid API key or token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden access due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error due to an unexpected condition.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/getPayInTransactions": {
      "post": {
        "summary": "Retrieve pay-in transactions",
        "description": "Fetches a  list of incoming payment transactions (pay-ins) for the authenticated user. Useful for monitoring received payments, notification and creation of downstream events\n",
        "operationId": "getPayInTransactions",
        "tags": [
          "Payments / Transactions"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Access token (demo only) in Bearer format for authentication",
            "required": true,
            "schema": {
              "type": "string",
              "default": "u06AuLfBhQdQDtYGVcbGQtUNgIO1wrFN"
            }
          }
        ],
        "requestBody": {
          "description": "Parameters for filtering and pagination",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "description": "The number of items to retrieve per page",
                    "example": 100
                  },
                  "since": {
                    "type": "integer",
                    "description": "A starting point or offset for transactions",
                    "example": 100
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "Filter transactions by date",
                    "example": ""
                  },
                  "pay_id": {
                    "type": "integer",
                    "description": "Payment ID to filter the transactions",
                    "example": ""
                  },
                  "search": {
                    "type": "string",
                    "description": "A keyword to filter transactions by details or amount",
                    "example": ""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A list of pay-in transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "An array of pay-in transactions",
                      "items": {
                        "$ref": "#/components/schemas/Payment"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of pay-in transactions available",
                      "example": 10
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number",
                      "example": 1
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Number of items per page",
                      "example": 10
                    }
                  }
                },
                "examples": {
                  "payInTransactions": {
                    "summary": "Example response with pay-in transactions",
                    "value": {
                      "data": [
                        {
                          "pay_id": "54183",
                          "user_id": "a95a452a-2c74-465c-b63b-81d73a7a755d",
                          "amount": "1.00",
                          "net_amount": "0.72",
                          "service_fee": "0.01",
                          "service_fee_psp": "0.27",
                          "status": "Success",
                          "recipient_note": "",
                          "payout_status": "Approved",
                          "created_at": "2025-02-12 15:39:36",
                          "is_split_link": "false",
                          "is_dispute": "false",
                          "is_refund": "false",
                          "payment_method": "card",
                          "transaction_type": "Basic"
                        }
                      ],
                      "total": 1,
                      "page": 1,
                      "limit": 10
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/getPayOutTransactions": {
      "post": {
        "summary": "Retrieve pay-out transactions",
        "description": "Fetches a paginated list of outgoing payment transactions (pay-outs) for the authenticated user. Useful for tracking funds withdrawn or transferred.\n",
        "operationId": "getPayOutTransactions",
        "tags": [
          "Payments / Transactions"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Access token (demo only) in Bearer format for authentication",
            "required": true,
            "schema": {
              "type": "string",
              "default": "u06AuLfBhQdQDtYGVcbGQtUNgIO1wrFN"
            }
          }
        ],
        "requestBody": {
          "description": "Parameters for filtering and pagination",
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "search": {
                    "type": "string",
                    "description": "A keyword to filter transactions by details or amount",
                    "example": "Withdrawal"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "The number of items to retrieve per page",
                    "example": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A list of pay-out transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "An array of pay-out transactions",
                      "items": {
                        "$ref": "#/components/schemas/Payout"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of pay-out transactions available",
                      "example": 5
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number",
                      "example": 1
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Number of items per page",
                      "example": 10
                    }
                  }
                },
                "examples": {
                  "payOutTransactions": {
                    "summary": "Example response with pay-out transactions",
                    "value": {
                      "data": [
                        {
                          "payout_id": "1187",
                          "user_id": "a95a452a-2c74-465c-b63b-81d73a7a755d",
                          "transaction_id": "20250218-po-M1JFZQBZcQ",
                          "payout_amount": "0",
                          "service_fee": 0.01,
                          "net_amount": -0.02,
                          "payout_status": "Approved",
                          "request_date": "2025-02-18",
                          "created_at": "2025-02-19 13:25:43",
                          "is_split_link": "false",
                          "is_dispute": "false",
                          "is_refund": "false",
                          "transaction_type": "Basic"
                        }
                      ],
                      "total": 1,
                      "page": 1,
                      "limit": 10
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/getMyUnusedLinks": {
      "post": {
        "summary": "Retrieve unused payment links",
        "description": "Fetches a paginated list of unused payment links that were created by the authenticated user. Useful for managing and tracking pending payment requests.\n",
        "operationId": "getUnusedPaymentLinks",
        "tags": [
          "Link To Pay"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Access token (demo only) in Bearer format for authentication",
            "required": true,
            "schema": {
              "type": "string",
              "default": "u06AuLfBhQdQDtYGVcbGQtUNgIO1wrFN"
            }
          }
        ],
        "requestBody": {
          "description": "Parameters for filtering and pagination",
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "search": {
                    "type": "string",
                    "description": "A keyword to filter links by recipient note or amount",
                    "example": "Invoice"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "The number of items to retrieve per page",
                    "example": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A list of unused payment links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "An array of unused payment links",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of unused links available",
                      "example": 5
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number",
                      "example": 1
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Number of items per page",
                      "example": 10
                    }
                  }
                },
                "examples": {
                  "unusedLinks": {
                    "summary": "Example response with unused payment links",
                    "value": {
                      "data": [
                        {
                          "id": "124",
                          "user_id": "b44c4429-4a7b-4e27-85af-c1c2f43f4ffe",
                          "amount": "100.00",
                          "recipient_note": "Payment for Invoice #1234",
                          "status": "Unused",
                          "paymentEndpoint": "https://app.dev.secpaid.com/payment",
                          "pay_link": "https://app.dev.secpaid.com/payment?link_id=MTI0",
                          "qr_img": "https://quickchart.io/chart?chl=https://app.dev.secpaid.com/payment?link_id=MTI0&chs=300x300&cht=qr",
                          "created_at": "2023-10-01T12:34:56Z"
                        }
                      ],
                      "total": 1,
                      "page": 1,
                      "limit": 10
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/getMyUsedLinks": {
      "post": {
        "summary": "Retrieve used payment links",
        "description": "Fetches a paginated list of used (redeemed) payment links that were created by the authenticated user. Useful for tracking completed payments.\n",
        "operationId": "getUsedPaymentLinks",
        "tags": [
          "Link To Pay"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string",
              "default": "u06AuLfBhQdQDtYGVcbGQtUNgIO1wrFN"
            }
          }
        ],
        "requestBody": {
          "description": "Parameters for filtering and pagination",
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "search": {
                    "type": "string",
                    "description": "A keyword to filter links by recipient note or amount",
                    "example": "Invoice"
                  },
                  "page": {
                    "type": "integer",
                    "description": "The page number to retrieve",
                    "example": 1
                  },
                  "limit": {
                    "type": "integer",
                    "description": "The number of items to retrieve per page",
                    "example": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A list of used payment links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "An array of used payment links",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of used links available",
                      "example": 5
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number",
                      "example": 1
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Number of items per page",
                      "example": 10
                    }
                  }
                },
                "examples": {
                  "usedLinks": {
                    "summary": "Example response with used payment links",
                    "value": {
                      "data": [
                        {
                          "id": "125",
                          "user_id": "b44c4429-4a7b-4e27-85af-c1c2f43f4ffe",
                          "amount": "200.00",
                          "recipient_note": "Payment for Order #5678",
                          "status": "Used",
                          "paymentEndpoint": "https://app.dev.secpaid.com/payment",
                          "pay_link": "https://app.dev.secpaid.com/payment?link_id=MTI1",
                          "qr_img": "https://quickchart.io/chart?chl=https://app.dev.secpaid.com/payment?link_id=MTI1&chs=300x300&cht=qr",
                          "created_at": "2023-09-25T09:15:30Z"
                        }
                      ],
                      "total": 1,
                      "page": 1,
                      "limit": 10
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/deleteLink": {
      "post": {
        "summary": "(to be released) Delete a payment link",
        "description": "Deletes an existing payment link specified by the link ID. This action is irreversible and the link will no longer be usable.\n",
        "operationId": "deletePaymentLink",
        "tags": [
          "Link To Pay"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Access token in Bearer format for authentication",
            "required": true,
            "schema": {
              "type": "string",
              "default": "u06AuLfBhQdQDtYGVcbGQtUNgIO1wrFN"
            }
          }
        ],
        "requestBody": {
          "description": "Link ID required to delete the payment link",
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "link_id"
                ],
                "properties": {
                  "link_id": {
                    "type": "string",
                    "description": "The unique identifier of the link to be deleted",
                    "example": "124"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Link deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ResponseCode": {
                      "type": "integer",
                      "example": 1
                    },
                    "ResponseMsg": {
                      "type": "string",
                      "example": "Link has been deleted successfully"
                    },
                    "Result": {
                      "type": "string",
                      "example": "True"
                    },
                    "ServerTime": {
                      "type": "string",
                      "example": "UTC"
                    }
                  }
                },
                "examples": {
                  "successfulDeletion": {
                    "summary": "Example response for successful deletion",
                    "value": {
                      "ResponseCode": 1,
                      "ResponseMsg": "Link has been deleted successfully",
                      "Result": "True",
                      "ServerTime": "UTC"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/refundPayment": {
      "post": {
        "summary": "Process a payment refund",
        "description": "Initiates a refund for a specific payment transaction identified by pay_id.",
        "operationId": "refundPayment",
        "tags": [
          "Payments / Transactions"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "Access token for authentication",
            "required": true,
            "schema": {
              "type": "string",
              "default": "u06AuLfBhQdQDtYGVcbGQtUNgIO1wrFN"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "pay_id",
                  "refund_amount"
                ],
                "properties": {
                  "pay_id": {
                    "type": "string",
                    "description": "Unique identifier of the payment to refund",
                    "example": 4123
                  },
                  "refund_amount": {
                    "type": "string",
                    "description": "Amount to be refunded",
                    "example": "50.00"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ResponseCode": {
                      "type": "integer",
                      "example": 1
                    },
                    "ResponseMsg": {
                      "type": "string",
                      "example": "Refund processed successfully"
                    },
                    "Result": {
                      "type": "string",
                      "example": "True"
                    },
                    "ServerTime": {
                      "type": "string",
                      "example": "UTC"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/generatePdf": {
      "post": {
        "summary": "Generate PDF document",
        "description": "Generates a PDF document for a specific transaction",
        "operationId": "generatePdf",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "date",
                  "trn_id"
                ],
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "example": "2025-01-09"
                  },
                  "trn_id": {
                    "type": "string",
                    "example": "20250109-po-3KvhUUjdhO"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF file generated successfully",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/generateTaxInvoice": {
      "post": {
        "summary": "Generate tax invoice",
        "description": "Generates a tax invoice document for accounting purposes",
        "operationId": "generateTaxInvoice",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "month_and_year"
                ],
                "properties": {
                  "month_and_year": {
                    "type": "string",
                    "description": "Month and year for the tax invoice",
                    "example": "December 2024"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tax invoice generated successfully",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/generateCsvFile": {
      "post": {
        "summary": "Generate CSV report",
        "description": "Generates a CSV file of the Payout transaction details",
        "operationId": "generateCsv",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "date"
                ],
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "example": "2025-01-09"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CSV file generated successfully",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Link": {
        "type": "object",
        "description": "Details of a payment link (Link To Pay)",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the payment link",
            "example": 55270
          },
          "user_id": {
            "type": "string",
            "description": "Unique identifier of the user who created the link",
            "example": "a95a452a-2c74-465c-b63b-81d73a7a755d"
          },
          "amount": {
            "type": "string",
            "description": "The amount specified for the payment link",
            "example": "25"
          },
          "recipient_note": {
            "type": "string",
            "description": "Note or message for the recipient",
            "example": "v2 testing"
          },
          "status": {
            "type": "string",
            "description": "The current status of the payment link (e.g., 'Unused', 'Used')",
            "example": "Unused"
          },
          "paymentEndpoint": {
            "type": "string",
            "description": "URL endpoint where the payment can be processed",
            "example": "https://webhook.site/c69be7f6-8258-49e0-9254-c9203bc9b8c0"
          },
          "callback_url": {
            "type": "string",
            "description": "Callback URL for payment notifications",
            "example": "https://secpaid.com"
          },
          "servicefee": {
            "type": "string",
            "description": "Service fee for the payment link",
            "example": "1"
          },
          "recipients": {
            "type": "string",
            "description": "Recipients associated with the payment link",
            "example": null
          },
          "is_split_link": {
            "type": "string",
            "description": "Indicates if the payment link is part of a split link",
            "example": "false"
          },
          "bank_transfer": {
            "type": "string",
            "description": "Indicates if bank transfer is enabled for the payment link",
            "example": "true"
          },
          "is_qr_link": {
            "type": "string",
            "description": "Indicates if the payment link has a QR code",
            "example": "false"
          },
          "payment_config": {
            "type": "string",
            "description": "Configuration for the payment link",
            "example": ""
          },
          "bank_statement_description": {
            "type": "string",
            "description": "Description for the bank statement",
            "example": ""
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the link was created",
            "example": "2025-02-21 18:10:46"
          },
          "pay_link": {
            "type": "string",
            "description": "Direct URL to the payment page",
            "example": "https://app.secpaid.com/payment?link_id=NTUyNzA="
          },
          "qr_img": {
            "type": "string",
            "description": "URL to the QR code image for the payment link",
            "example": "https://quickchart.io/chart?chl=https://app.secpaid.com/payment?link_id=NTUyNzA=&chs=300x300&cht=qr"
          },
          "transaction_type": {
            "type": "string",
            "description": "Type of transaction (e.g., Basic, Split)",
            "example": "Basic"
          }
        }
      },
      "Payment": {
        "type": "object",
        "description": "Details of a payment transaction",
        "properties": {
          "pay_id": {
            "type": "string",
            "description": "Unique identifier for the payment",
            "example": "54183"
          },
          "user_id": {
            "type": "string",
            "description": "Unique identifier of the user associated with the payment",
            "example": "a95a452a-2c74-465c-b63b-81d73a7a755d"
          },
          "amount": {
            "type": "string",
            "description": "Total amount of the payment",
            "example": "1.00"
          },
          "net_amount": {
            "type": "string",
            "description": "Net amount received after deducting fees",
            "example": "0.72"
          },
          "service_fee": {
            "type": "string",
            "description": "Service fee charged for the payment",
            "example": "0.01"
          },
          "service_fee_psp": {
            "type": "string",
            "description": "Service fee charged by the payment service provider (PSP)",
            "example": "0.27"
          },
          "status": {
            "type": "string",
            "description": "Status of the payment (e.g., Success, Failed)",
            "example": "Success"
          },
          "recipient_note": {
            "type": "string",
            "description": "Note or message for the recipient",
            "example": ""
          },
          "payout_status": {
            "type": "string",
            "description": "Status of the payout associated with the payment",
            "example": "Approved"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the payment was created",
            "example": "2025-02-12 15:39:36"
          },
          "is_split_link": {
            "type": "string",
            "description": "Indicates if the payment is part of a split link",
            "example": "false"
          },
          "is_dispute": {
            "type": "string",
            "description": "Indicates if the payment is under dispute",
            "example": "false"
          },
          "is_refund": {
            "type": "string",
            "description": "Indicates if the payment has been refunded",
            "example": "false"
          },
          "payment_method": {
            "type": "string",
            "description": "Method used for the payment (e.g., card, bank transfer)",
            "example": "card"
          },
          "transaction_type": {
            "type": "string",
            "description": "Type of transaction (e.g., Basic, Split)",
            "example": "Basic"
          }
        }
      },
      "Payout": {
        "type": "object",
        "description": "Details of a payout transaction",
        "properties": {
          "payout_id": {
            "type": "string",
            "description": "Unique identifier for the payout",
            "example": "1187"
          },
          "user_id": {
            "type": "string",
            "description": "Unique identifier of the user associated with the payout",
            "example": "a95a452a-2c74-465c-b63b-81d73a7a755d"
          },
          "transaction_id": {
            "type": "string",
            "description": "Unique identifier of the associated transaction",
            "example": "20250218-po-M1JFZQBZcQ"
          },
          "payout_amount": {
            "type": "string",
            "description": "Total amount of the payout",
            "example": "0"
          },
          "service_fee": {
            "type": "number",
            "description": "Service fee charged for the payout",
            "example": 0.01
          },
          "net_amount": {
            "type": "number",
            "description": "Net amount received after deducting fees",
            "example": -0.02
          },
          "payout_status": {
            "type": "string",
            "description": "Status of the payout (e.g., Approved, Pending)",
            "example": "Approved"
          },
          "request_date": {
            "type": "string",
            "format": "date",
            "description": "Date when the payout was requested",
            "example": "2025-02-18"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the payout was created",
            "example": "2025-02-19 13:25:43"
          },
          "is_split_link": {
            "type": "string",
            "description": "Indicates if the payout is part of a split link",
            "example": "false"
          },
          "is_dispute": {
            "type": "string",
            "description": "Indicates if the payout is under dispute",
            "example": "false"
          },
          "is_refund": {
            "type": "string",
            "description": "Indicates if the payout has been refunded",
            "example": "false"
          },
          "transaction_type": {
            "type": "string",
            "description": "Type of transaction (e.g., Basic, Split)",
            "example": "Basic"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Standard error response for the API",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code or type",
            "example": "InvalidRequest"
          },
          "errorMessage": {
            "type": "string",
            "description": "Detailed error message",
            "example": "Your request parameters are incorrect."
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request due to invalid input parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "badRequest": {
                "value": {
                  "error": "InvalidRequest",
                  "errorMessage": "Your request parameters are incorrect."
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication credentials were missing or incorrect.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "unauthorized": {
                "value": {
                  "error": "Unauthorized",
                  "errorMessage": "No user found with the provided API key."
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden access due to insufficient permissions",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "forbidden": {
                "value": {
                  "error": "Forbidden",
                  "errorMessage": "No user found with the provided API key."
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "notFound": {
                "value": {
                  "error": "NotFound",
                  "errorMessage": "The requested resource could not be found."
                }
              }
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error due to an unexpected condition",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "serverError": {
                "value": {
                  "error": "InternalServerError",
                  "errorMessage": "An unexpected error occurred. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "token",
        "description": "Access token for API authentication"
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ]
}