{
  "openapi": "3.0.3",
  "info": {
    "title": "SignRequest API",
    "version": "v1",
    "description": "SignRequest is a digital signature solution. This API allows you to create and manage document signing requests.",
    "x-jentic-source-url": "https://signrequest.com/api/v1/docs/",
    "contact": {
      "name": "SignRequest API Support"
    }
  },
  "servers": [
    {
      "url": "https://signrequest.com/api/v1"
    }
  ],
  "paths": {
    "/api-tokens": {
      "get": {
        "operationId": "api-tokens_list",
        "summary": "Retrieve a list of API tokens",
        "description": "Retrieve a list of API tokens",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuthToken"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "api-tokens"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new ApiTokensApi();\nvar page = 1;\nvar limit = 20;\n\nInlineResponse200 result = apiInstance.ApiTokensList(page, limit);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.ApiTokensApi();\n\nvar opts = {\n  'page': 1,\n  'limit': 20\n};\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.apiTokensList(opts, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\ApiTokensApi(new GuzzleHttp\\Client(), $config);\n$page = 1;\n$limit = 20;\n\n$result = $apiInstance->apiTokensList($page, $limit);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.ApiTokensApi()\n\napi_response = api_instance.api_tokens_list(page=1, limit=20)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::ApiTokensApi.new\n\nopts = {\n  page: 1,\n  limit: 20\n}\n\nresult = api_instance.api_tokens_list(opts)\n"
          }
        ]
      },
      "parameters": []
    },
    "/audit-events": {
      "get": {
        "operationId": "audit-events_list",
        "summary": "Retrieve a list of AuditEvents",
        "description": "Retrieve a list of AuditEvents",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_ip",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "`login_failed`: Login failed, `login_successful`: Login successful, `password_reset_request_sent`: Password reset request sent, `password_reset_request_error`: Password reset request error",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "`success`: Success, `error`: Error",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp__date__lt",
            "in": "query",
            "description": "Date format YYYY-MM-DD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp__date__lte",
            "in": "query",
            "description": "Date format YYYY-MM-DD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp__date__gt",
            "in": "query",
            "description": "Date format YYYY-MM-DD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp__date__gte",
            "in": "query",
            "description": "Date format YYYY-MM-DD",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuditEvent"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "audit-events"
        ]
      },
      "parameters": []
    },
    "/document-attachments": {
      "get": {
        "operationId": "document-attachments_list",
        "summary": "Retrieve a list of Document Attachments",
        "description": "Retrieve a list of Document Attachments",
        "parameters": [
          {
            "name": "document__uuid",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document__external_id",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DocumentAttachment"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "document-attachments"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new DocumentAttachmentsApi();\nvar documentUuid = \"documentUuid_example\";\nvar documentExternalId = \"documentExternalId_example\";\nvar created = \"created_example\";\nvar page = 1;\nvar limit = 20;\n\nInlineResponse2001 result = apiInstance.DocumentAttachmentsList(documentUuid, documentExternalId, created, page, limit);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.DocumentAttachmentsApi();\n\nvar opts = {\n  'document__uuid': \"document__uuid_example\",\n  'document__external_id': \"document__external_id_example\",\n  'created': \"created_example\",\n  'page': 1,\n  'limit': 20\n};\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.documentAttachmentsList(opts, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\DocumentAttachmentsApi(new GuzzleHttp\\Client(), $config);\n\n$document__uuid = \"document__uuid_example\";\n$document__external_id = \"document__external_id_example\";\n$created = \"created_example\";\n$page = 1;\n$limit = 20;\n\n$result = $apiInstance->documentAttachmentsList($document__uuid, $document__external_id, $created, $page, $limit);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.DocumentAttachmentsApi()\n\napi_instance.document_attachments_list(page=1, limit=20)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::DocumentAttachmentsApi.new\n\nopts = {\n  page: 1,\n  limit: 20\n}\n\nresult = api_instance.document_attachments_list(opts)\n"
          }
        ]
      },
      "post": {
        "operationId": "document-attachments_create",
        "summary": "Create a Document Attachment",
        "description": "Create a Document Attachment",
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentAttachment"
                }
              }
            }
          }
        },
        "tags": [
          "document-attachments"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new DocumentAttachmentsApi();\nvar data = new DocumentAttachment();\ndata.FileFromUrl = \"https://example.com/file.pdf\";\ndata.Document = \"https://example.com/doc\";\n\nDocumentAttachment result = apiInstance.DocumentAttachmentsCreate(data);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.DocumentAttachmentsApi();\n\nvar data = new SignrequestClient.DocumentAttachment();\ndata.file_from_url = 'https://example.com/file.pdf';\ndata.document = 'https://example.com/doc';\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.documentAttachmentsCreate(data, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\DocumentAttachmentsApi(new GuzzleHttp\\Client(), $config);\n$data = new \\SignRequest\\Model\\DocumentAttachment();\n$data->setFileFromUrl('https://example.com/file.pdf');\n$data->setDocument('https://example.com/doc');\n\n$result = $apiInstance->documentAttachmentsCreate($data);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.DocumentAttachmentsApi()\ndata = signrequest_client.DocumentAttachment(\n    file_from_url=\"https://example.com/file.pdf\", document=\"https://example.com/doc\"\n)\n\napi_response = api_instance.document_attachments_create(data)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::DocumentAttachmentsApi.new\ndata = SignRequestClient::DocumentAttachment.new\ndata.file_from_url = 'https://example.com/file.pdf'\ndata.document = 'https://example.com/doc'\n\nresult = api_instance.document_attachments_create(data)\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentAttachment"
              }
            }
          },
          "required": true
        }
      },
      "parameters": []
    },
    "/document-attachments/{uuid}": {
      "get": {
        "operationId": "document-attachments_read",
        "summary": "Retrieve a Document Attachment",
        "description": "Retrieve a Document Attachment",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentAttachment"
                }
              }
            }
          }
        },
        "tags": [
          "document-attachments"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new DocumentAttachmentsApi();\nvar uuid = \"uuid_example\";\n\nDocumentAttachment result = apiInstance.DocumentAttachmentsRead(uuid);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.DocumentAttachmentsApi();\n\nvar uuid = 'uuid_example';\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.documentAttachmentsRead(uuid, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\DocumentAttachmentsApi(new GuzzleHttp\\Client(), $config);\n$uuid = \"uuid_example\";\n\n$result = $apiInstance->documentAttachmentsRead($uuid);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.DocumentAttachmentsApi()\nuuid = \"uuid_example\"\n\napi_response = api_instance.document_attachments_read(uuid)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::DocumentAttachmentsApi.new\nuuid = 'uuid_example'\n\nresult = api_instance.document_attachments_read(uuid)\n"
          }
        ]
      },
      "parameters": [
        {
          "name": "uuid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/documents-search": {
      "get": {
        "operationId": "documents-search_list",
        "summary": "Search documents",
        "description": "Search interface for fast (autocomplete) searching of documents.\n\nThis can be useful to have your users search for a document in your interface.\n\nDocument names are tokenized on whitespace, hyphens and underscores to also match partial document names.\n\n*Normal search:*\n\n- ?**q**={{query}}\n\n*Autocomplete search:*\n\n- ?**autocomplete**={{partial query}}\n\n*Search in document name:*\n\n- ?**name**={{query}}\n\n*Available (extra) filters:*\n\n- ?**subdomain**={{ team_subdomain }} or use this endpoint with team_subdomain.signrequest.com\n(when not provided only personal documents are shown)\n- ?**signer_emails**={{ signer@email.com }} (will filter documents that an email needed to sign/approve)\n- ?**status**={{ si }}\n- ?**who**={{ mo }}\n\nTo include multiple values for a filter field separate the values with a pipe (|).\nFor example to only search for completed documents use **status=se|vi** (sent and viewed).\n\n*Pagination:*\n\n- ?**page**={{ page_number: default 1 }}\n- ?**limit**={{ limit results: default 10, max 100 }}\n\n*Format:*\n\nBy default json is returned, to export data as csv or xls use the format parameter.\n\n- ?**format**=csv\n- ?**format**=xls\n\nFor csv and xls the data can also be exported with each signer on a separate row. In this mode also the signer\ninputs that have an *external_id* specified on a tag will be exported. All external_id's found will be exported as\ncolumns. To use this mode add the **signer_data** parameter.\n\n- ?**format**=csv&**signer_data**=1\n- ?**format**=xls&**signer_data**=1\n\nNote that all documents are only ordered by **created** (newest first) when **q**, **autocomplete** or **name** are\nnot used, else they are ordered by the strenght of the match.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Normal search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "autocomplete",
            "in": "query",
            "description": "Partial search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Document name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subdomain",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signer_emails",
            "in": "query",
            "description": "Email needed to sign/approve",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "`co`: converting, `ne`: new, `se`: sent, `vi`: viewed, `si`: signed, `do`: downloaded, `sd`: signed and downloaded, `ca`: cancelled, `de`: declined, `ec`: error converting, `es`: error sending, `xp`: expired",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "who",
            "in": "query",
            "description": "`m`: only me, `mo`: me and others, `o`: only others",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Export format, can be `json` (default), `csv`, or `xls`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signer_data",
            "in": "query",
            "description": "Set to `1` to export with each signer on a separate row",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DocumentSearchDirect"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "documents-search"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new DocumentsSearchApi();\nvar page = 1;\nvar limit = 20;\nvar q = \"q_example\";\nvar autocomplete = \"autocomplete_example\";\nvar name = \"name_example\";\nvar subdomain = \"someone@example.com\";\nvar signerEmails = \"signerEmails_example\";\nvar status = \"si\";\nvar who = \"o\";\nvar format = \"json\";\nvar signerData = 1;\n\nInlineResponse2002 result = apiInstance.DocumentsSearchList(page, limit, q, autocomplete, name, subdomain,\n    signerEmails, status, who, format, signerData);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.DocumentsSearchApi();\n\nvar opts = {\n  'page': 1,\n  'limit': 20,\n  'q': 'q_example',\n  'autocomplete': 'autocomplete_example',\n  'name': 'name_example',\n  'subdomain': 'subdomain_example',\n  'signer_emails': 'someone@example.com',\n  'status': 'si',\n  'who': 'o',\n  'format': 'json',\n  'signer_data': 1\n};\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.documentsSearchList(opts, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\DocumentsSearchApi(new GuzzleHttp\\Client(), $config);\n$page = 1;\n$limit = 20;\n$q = \"q_example\";\n$autocomplete = \"autocomplete_example\";\n$name = \"name_example\";\n$subdomain = \"subdomain_example\";\n$signer_emails = \"someone@example.com\";\n$status = \"si\";\n$who = \"o\";\n$format = \"json\";\n$signer_data = 1;\n\n$result = $apiInstance->documentsSearchList($page, $limit, $q, $autocomplete, $name, $subdomain, $signer_emails, $status, $who, $format, $signer_data);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.DocumentsSearchApi()\n\napi_response = api_instance.documents_search_list(\n    page=1,\n    limit=20,\n    q=\"q_example\",\n    autocomplete=\"autocomplete_example\",\n    name=\"name_example\",\n    subdomain=\"subdomain_example\",\n    signer_emails=\"someone@example.com\",\n    status=\"si\",\n    who=\"o\",\n    format=\"json\",\n    signer_data=1,\n)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::DocumentsSearchApi.new\n\nopts = {\n  page: 1,\n  limit: 20,\n  q: 'q_example',\n  autocomplete: 'autocomplete_example',\n  name: 'name_example',\n  subdomain: 'subdomain_example',\n  signer_emails: 'someone@example.com',\n  status: 'si',\n  who: 'o',\n  format: 'json',\n  signer_data: 1\n}\n\nresult = api_instance.documents_search_list(opts)\n"
          }
        ]
      },
      "parameters": []
    },
    "/documents": {
      "get": {
        "operationId": "documents_list",
        "summary": "Retrieve a list of Documents",
        "description": "Retrieve a list of Documents",
        "parameters": [
          {
            "name": "external_id",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signrequest__who",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signrequest__from_email",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user__email",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user__first_name",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user__last_name",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modified",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Document"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "documents"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new DocumentsApi();\nvar externalId = \"externalId_example\";\nvar signrequestWho = \"signrequestWho_example\";\nvar signrequestFromEmail = \"signrequestFromEmail_example\";\nvar status = \"status_example\";\nvar userEmail = \"userEmail_example\";\nvar userFirstName = \"userFirstName_example\";\nvar userLastName = \"userLastName_example\";\nvar created = \"created_example\";\nvar modified = \"modified_example\";\nvar page = 1;\nvar limit = 20;\n\nInlineResponse2003 result = apiInstance.DocumentsList(externalId, signrequestWho, signrequestFromEmail, status,\n    userEmail, userFirstName, userLastName, created, modified, page, limit);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.DocumentsApi();\n\nvar opts = {\n  'page': 1,\n  'limit': 20\n};\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.documentsList(opts, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\DocumentsApi(new GuzzleHttp\\Client(), $config);\n$external_id = \"external_id_example\";\n$signrequest__who = \"signrequest__who_example\";\n$signrequest__from_email = \"signrequest__from_email_example\";\n$status = \"status_example\";\n$user__email = \"user__email_example\";\n$user__first_name = \"user__first_name_example\";\n$user__last_name = \"user__last_name_example\";\n$created = \"created_example\";\n$modified = \"modified_example\";\n$page = 1;\n$limit = 20;\n\n$result = $apiInstance->documentsList($external_id, $signrequest__who, $signrequest__from_email, $status,\n    $user__email, $user__first_name, $user__last_name, $created, $modified, $page, $limit);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.DocumentsApi()\n\napi_response = api_instance.documents_list(page=1, limit=20)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::DocumentsApi.new\n\nopts = {\n  page: 1,\n  limit: 20\n}\n\nresult = api_instance.documents_list(opts)\n"
          }
        ]
      },
      "post": {
        "operationId": "documents_create",
        "summary": "Create a Document",
        "description": "Create a Document",
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          }
        },
        "tags": [
          "documents"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new DocumentsApi();\nvar data = new Document();\ndata.FileFromUrl = \"https://example.com/file.pdf\";\n\nDocument result = apiInstance.DocumentsCreate(data);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.DocumentsApi();\n\nvar data = new SignrequestClient.Document(); // Document |\ndata.file_from_url = 'https://example.com/file.pdf';\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\napiInstance.documentsCreate(data, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\DocumentsApi(new GuzzleHttp\\Client(), $config);\n$data = new \\SignRequest\\Model\\Document();\n$data->setFileFromUrl('https://example.com/file.pdf');\n\n$result = $apiInstance->documentsCreate($data);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.DocumentsApi()\ndata = signrequest_client.Document(file_from_url=\"https://example.com/file.pdf\")\n\napi_response = api_instance.documents_create(data)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::DocumentsApi.new\ndata = SignRequestClient::Document.new\ndata.file_from_url = 'https://example.com/file.pdf'\n\nresult = api_instance.documents_create(data)\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Document"
              }
            }
          },
          "required": true
        }
      },
      "parameters": []
    },
    "/documents/{uuid}": {
      "get": {
        "operationId": "documents_read",
        "summary": "Retrieve a Document",
        "description": "Retrieve a Document",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          }
        },
        "tags": [
          "documents"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new DocumentsApi();\nvar uuid = \"uuid_example\";\n\nDocument result = apiInstance.DocumentsRead(uuid);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.DocumentsApi();\n\nvar uuid = 'uuid_example';\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.documentsRead(uuid, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\DocumentsApi(new GuzzleHttp\\Client(), $config);\n$uuid = \"uuid_example\";\n\n$result = $apiInstance->documentsRead($uuid);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.DocumentsApi()\nuuid = \"uuid_example\"\n\napi_response = api_instance.documents_read(uuid)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::DocumentsApi.new\nuuid = 'uuid_example'\n\nresult = api_instance.documents_read(uuid)\n"
          }
        ]
      },
      "delete": {
        "operationId": "documents_delete",
        "summary": "Delete a Document",
        "description": "Delete a Document",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "documents"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new DocumentsApi();\nvar uuid = \"uuid_example\";\n\napiInstance.DocumentsDelete(uuid);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.DocumentsApi();\n\nvar uuid = 'uuid_example';\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully.');\n  }\n};\n\napiInstance.documentsDelete(uuid, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\DocumentsApi(new GuzzleHttp\\Client(), $config);\n$uuid = \"uuid_example\";\n\n$apiInstance->documentsDelete($uuid);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.DocumentsApi()\nuuid = \"uuid_example\"\n\napi_instance.documents_delete(uuid)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::DocumentsApi.new\nuuid = 'uuid_example'\n\napi_instance.documents_delete(uuid)\n"
          }
        ]
      },
      "parameters": [
        {
          "name": "uuid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/events": {
      "get": {
        "operationId": "events_list",
        "summary": "Retrieve a list of Events",
        "description": "Retrieve a list of Events",
        "parameters": [
          {
            "name": "document__uuid",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document__external_id",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document__signrequest__who",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document__signrequest__from_email",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document__status",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document__user__email",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document__user__first_name",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document__user__last_name",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "delivered",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "delivered_on",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "events"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new EventsApi();\nvar documentUuid = \"documentUuid_example\";\nvar documentExternalId = \"documentExternalId_example\";\nvar documentSignrequestWho = \"documentSignrequestWho_example\";\nvar documentSignrequestFromEmail = \"documentSignrequestFromEmail_example\";\nvar documentStatus = \"documentStatus_example\";\nvar documentUserEmail = \"documentUserEmail_example\";\nvar documentUserFirstName = \"documentUserFirstName_example\";\nvar documentUserLastName = \"documentUserLastName_example\";\nvar delivered = \"delivered_example\";\nvar deliveredOn = \"deliveredOn_example\";\nvar timestamp = \"timestamp_example\";\nvar status = \"status_example\";\nvar eventType = \"eventType_example\";\nvar page = 1;\nvar limit = 20;\n\nInlineResponse2004 result = apiInstance.EventsList(documentUuid, documentExternalId, documentSignrequestWho,\n    documentSignrequestFromEmail, documentStatus, documentUserEmail, documentUserFirstName, documentUserLastName, delivered, deliveredOn, timestamp, status, eventType, page, limit);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.EventsApi();\n\nvar opts = {\n  'document__uuid': \"document__uuid_example\",\n  'document__external_id': \"document__external_id_example\",\n  'document__signrequest__who': \"document__signrequest__who_example\",\n  'document__signrequest__from_email': \"document__signrequest__from_email_example\",\n  'document__status': \"document__status_example\",\n  'document__user__email': \"document__user__email_example\",\n  'document__user__first_name': \"document__user__first_name_example\",\n  'document__user__last_name': \"document__user__last_name_example\",\n  'delivered': \"delivered_example\",\n  'delivered_on': \"delivered_on_example\",\n  'timestamp': \"timestamp_example\",\n  'status': \"status_example\",\n  'event_type': \"event_type_example\",\n  'page': 1,\n  'limit': 20\n};\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.eventsList(opts, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\EventsApi(new GuzzleHttp\\Client(), $config);\n$document__uuid = \"document__uuid_example\";\n$document__external_id = \"document__external_id_example\";\n$document__signrequest__who = \"document__signrequest__who_example\";\n$document__signrequest__from_email = \"document__signrequest__from_email_example\";\n$document__status = \"document__status_example\";\n$document__user__email = \"document__user__email_example\";\n$document__user__first_name = \"document__user__first_name_example\";\n$document__user__last_name = \"document__user__last_name_example\";\n$delivered = \"delivered_example\";\n$delivered_on = \"delivered_on_example\";\n$timestamp = \"timestamp_example\";\n$status = \"status_example\";\n$event_type = \"event_type_example\";\n$page = 1;\n$limit = 20;\n\n$result = $apiInstance->eventsList($document__uuid, $document__external_id, $document__signrequest__who,\n    $document__signrequest__from_email, $document__status, $document__user__email, $document__user__first_name,\n    $document__user__last_name, $delivered, $delivered_on, $timestamp, $status, $event_type, $page, $limit);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.EventsApi()\n\napi_response = api_instance.events_list(\n    document__uuid=\"document__uuid_example\",\n    document__external_id=\"document__external_id_example\",\n    document__signrequest__who=\"document__signrequest__who_example\",\n    document__signrequest__from_email=\"document__signrequest__from_email_example\",\n    document__status=\"document__status_example\",\n    document__user__email=\"document__user__email_example\",\n    document__user__first_name=\"document__user__first_name_example\",\n    document__user__last_name=\"document__user__last_name_example\",\n    delivered=\"delivered_example\",\n    delivered_on=\"delivered_on_example\",\n    timestamp=\"timestamp_example\",\n    status=\"status_example\",\n    event_type=\"event_type_example\",\n    page=1,\n    limit=20,\n)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::EventsApi.new\n\nopts = {\n  document__uuid: 'document__uuid_example',\n  document__external_id: 'document__external_id_example',\n  document__signrequest__who: 'document__signrequest__who_example',\n  document__signrequest__from_email: 'document__signrequest__from_email_example',\n  document__status: 'document__status_example',\n  document__user__email: 'document__user__email_example',\n  document__user__first_name: 'document__user__first_name_example',\n  document__user__last_name: 'document__user__last_name_example',\n  delivered: 'delivered_example',\n  delivered_on: 'delivered_on_example',\n  timestamp: 'timestamp_example',\n  status: 'status_example',\n  event_type: 'event_type_example',\n  page: 1,\n  limit: 20\n}\n\nresult = api_instance.events_list(opts)\n"
          }
        ]
      },
      "parameters": []
    },
    "/events/{uuid}": {
      "get": {
        "operationId": "events_read",
        "summary": "Retrieve an Event",
        "description": "Retrieve an Event",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          }
        },
        "tags": [
          "events"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new EventsApi();\nvar id = 56;\n\nModelEvent result = apiInstance.EventsRead(id);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.EventsApi();\n\nvar id = 56;\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.eventsRead(id, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\EventsApi(new GuzzleHttp\\Client(), $config);\n$id = 56;\n\n$result = $apiInstance->eventsRead($id);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.EventsApi()\nid = 56\n\napi_response = api_instance.events_read(id)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::EventsApi.new\nid = 56\n\nresult = api_instance.events_read(id)\n"
          }
        ]
      },
      "parameters": [
        {
          "name": "uuid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/signrequest-quick-create": {
      "post": {
        "operationId": "signrequest-quick-create_create",
        "summary": "Quick create a SignRequest",
        "description": "Quick create a SignRequest",
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignRequestQuickCreate"
                }
              }
            }
          }
        },
        "tags": [
          "signrequest-quick-create"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new SignrequestQuickCreateApi();\nvar data = new SignRequestQuickCreate(\n    FromEmail: \"you@example.com\",\n    Signers: new List<Signer>\n    {\n        new Signer(Email: \"signer1@example.com\")\n    },\n    FileFromUrl: \"https://docs.google.com/document/d/1-gzqym9clQ1a193JGocXUeIX92cqPINBHOBeGxbDASw/edit\"\n);\n\nSignRequestQuickCreate result = apiInstance.SignrequestQuickCreateCreate(data);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.SignrequestQuickCreateApi();\n\nvar data = new SignrequestClient.SignRequestQuickCreate();\ndata.signers = [\n  {\n    email: 'signer1@example.com'\n  }\n];\n\ndata.file_from_url = 'https://example.com/file.pdf';\ndata.from_email = 'you@example.com';\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.signrequestQuickCreateCreate(data, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\SignrequestQuickCreateApi(new GuzzleHttp\\Client(), $config);\n$data = new \\SignRequest\\Model\\SignRequestQuickCreate();\n$signer = new \\SignRequest\\Model\\Signer();\n$signer->setEmail('signer1@example.com');\n$data->setSigners(array($signer));\n$data->setFileFromUrl('https://example.com/file.pdf');\n$data->setFromEmail('you@example.com');\n\n$result = $apiInstance->signrequestQuickCreateCreate($data);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.SignrequestQuickCreateApi()\ndata = signrequest_client.SignRequestQuickCreate(\n    signers=[{\"email\": \"signer1@example.com\"}],\n    file_from_url=\"https://example.com/file.pdf\",\n    from_email=\"you@example.com\",\n)\n\napi_response = api_instance.signrequest_quick_create_create(data)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::SignrequestQuickCreateApi.new\ndata = SignRequestClient::SignRequestQuickCreate.new\n\ndata.signers = [\n  {\n    email: 'signer1@example.com'\n  }\n]\n\ndata.file_from_url = 'https://example.com/file.pdf'\ndata.from_email = 'you@example.com'\n\nresult = api_instance.signrequest_quick_create_create(data)\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignRequestQuickCreate"
              }
            }
          },
          "required": true
        }
      },
      "parameters": []
    },
    "/signrequests": {
      "get": {
        "operationId": "signrequests_list",
        "summary": "Retrieve a list of SignRequests",
        "description": "Retrieve a list of SignRequests",
        "parameters": [
          {
            "name": "who",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_email",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SignRequest"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "signrequests"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new SignrequestsApi();\nvar who = \"o\";\nvar fromEmail = \"someone@example.com\";\nvar page = 1;\nvar limit = 20;\n\nInlineResponse2005 result = apiInstance.SignrequestsList(who, fromEmail, page, limit);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.SignrequestsApi();\n\nvar opts = { \n  'who': 'o', \n  'from_email': 'someone@example.com', \n  'page': 1,\n  'limit': 20\n};\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.signrequestsList(opts, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\SignrequestsApi(new GuzzleHttp\\Client(), $config);\n$who = \"o\";\n$from_email = \"someone@example.com\";\n$page = 1;\n$limit = 20;\n\n$result = $apiInstance->signrequestsList($who, $from_email, $page, $limit);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.SignrequestsApi()\n\napi_response = api_instance.signrequests_list(who=\"o\", from_email=\"someone@example.com\", page=1, limit=20)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::SignrequestsApi.new\n\nopts = {\n  who: 'o',\n  from_email: 'someone@example.com',\n  page: 1,\n  limit: 20\n}\n\nresult = api_instance.signrequests_list(opts)\n"
          }
        ]
      },
      "post": {
        "operationId": "signrequests_create",
        "summary": "Create a SignRequest",
        "description": "Create a SignRequest",
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignRequest"
                }
              }
            }
          }
        },
        "tags": [
          "signrequests"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new SignrequestsApi();\nvar data = new SignRequest.Model.SignRequest(\n    Signers: new List<Signer>\n    {\n        new Signer(Email: \"signer1@example.com\")\n    },\n    FromEmail: \"you@example.com\",\n    Document: \"https://example.com/doc\"\n);\n\nSignRequest.Model.SignRequest result = apiInstance.SignrequestsCreate(data);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.SignrequestsApi();\n\nvar data = new SignrequestClient.SignRequest();\ndata.signers = [\n  {\n    email: 'signer1@example.com'\n  }\n];\n\ndata.document = 'https://example.com/doc';\ndata.from_email = 'you@example.com';\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.signrequestsCreate(data, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\SignrequestsApi(new GuzzleHttp\\Client(), $config);\n$data = new \\SignRequest\\Model\\SignRequest();\n\n$signer = new \\SignRequest\\Model\\Signer();\n$signer->setEmail('signer1@example.com');\n\n$data->setSigners(array($signer));\n$data->setDocument('https://example.com/doc');\n$data->setFromEmail('you@example.com');\n\n$result = $apiInstance->signrequestsCreate($data);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.SignrequestsApi()\ndata = signrequest_client.SignRequest(\n    document=\"https://example.com/doc\",\n    signers=[\n        {\n            \"email\": \"signer1@example.com\",\n        }\n    ],\n    from_email=\"you@example.com\",\n)\n\napi_response = api_instance.signrequests_create(data)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::SignrequestsApi.new\ndata = SignRequestClient::SignRequest.new\n\ndata.signers = [\n  {\n    email: 'signer1@example.com'\n  }\n]\n\ndata.document = 'https://example.com/doc'\ndata.from_email = 'you@example.com'\n\nresult = api_instance.signrequests_create(data)\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignRequest"
              }
            }
          },
          "required": true
        }
      },
      "parameters": []
    },
    "/signrequests/{uuid}": {
      "get": {
        "operationId": "signrequests_read",
        "summary": "Retrieve a SignRequest",
        "description": "Retrieve a SignRequest",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignRequest"
                }
              }
            }
          }
        },
        "tags": [
          "signrequests"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new SignrequestsApi();\nvar uuid = \"uuid_example\";\n\nSignRequest result = apiInstance.SignrequestsRead(uuid);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.SignrequestsApi();\n\nvar uuid = 'uuid_example';\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.signrequestsRead(uuid, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\SignrequestsApi(new GuzzleHttp\\Client(), $config);\n$uuid = \"uuid_example\";\n\n$result = $apiInstance->signrequestsRead($uuid);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.SignrequestsApi()\nuuid = \"uuid_example\"\n\napi_response = api_instance.signrequests_read(uuid)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::SignrequestsApi.new\nuuid = 'uuid_example'\n\nresult = api_instance.signrequests_read(uuid)\n"
          }
        ]
      },
      "parameters": [
        {
          "name": "uuid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/signrequests/{uuid}/cancel_signrequest": {
      "post": {
        "operationId": "signrequests_cancel_signrequest",
        "summary": "Cancel a SignRequest",
        "description": "Cancel a SignRequest",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "detail",
                    "cancelled"
                  ],
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "enum": [
                        "OK"
                      ]
                    },
                    "cancelled": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "signrequests"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new SignrequestsApi();\nvar uuid = \"uuid_example\";\n\nInlineResponse201 result = apiInstance.SignrequestsCancelSignrequest(uuid);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.SignrequestsApi();\n\nvar uuid = 'uuid_example';\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.signrequestsCancelSignrequest(uuid, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\SignrequestsApi(new GuzzleHttp\\Client(), $config);\n$uuid = \"uuid_example\";\n\n$result = $apiInstance->signrequestsCancelSignrequest($uuid);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.SignrequestsApi()\nuuid = \"uuid_example\"\n\napi_instance.signrequests_cancel_signrequest(uuid)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::SignrequestsApi.new\nuuid = 'uuid_example'\n\nresult = api_instance.signrequests_cancel_signrequest(uuid)\n"
          }
        ]
      },
      "parameters": [
        {
          "name": "uuid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/signrequests/{uuid}/forward_signer": {
      "post": {
        "operationId": "signrequests_forward_signer",
        "summary": "Forward a SignRequest to a different signer by email",
        "description": "Forward a SignRequest to a different signer by email",
        "responses": {
          "201": {
            "description": "Updated SignRequest instance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignRequest"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "signrequests"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForwardSigner"
              }
            }
          },
          "required": true
        }
      },
      "parameters": [
        {
          "name": "uuid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/signrequests/{uuid}/resend_signrequest_email": {
      "post": {
        "operationId": "signrequests_resend_signrequest_email",
        "summary": "Resend a SignRequest",
        "description": "Resend a SignRequest",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "detail"
                  ],
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "enum": [
                        "OK"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "signrequests"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new SignrequestsApi();\nvar uuid = \"uuid_example\";\n\nInlineResponse2011 result = apiInstance.SignrequestsResendSignrequestEmail(uuid);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.SignrequestsApi();\n\nvar uuid = 'uuid_example';\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.signrequestsResendSignrequestEmail(uuid, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\SignrequestsApi(new GuzzleHttp\\Client(), $config);\n$uuid = \"uuid_example\";\n\n$result = $apiInstance->signrequestsResendSignrequestEmail($uuid);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.SignrequestsApi()\nuuid = \"uuid_example\"\n\napi_instance.signrequests_resend_signrequest_email(uuid)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::SignrequestsApi.new\nuuid = 'uuid_example'\n\nresult = api_instance.signrequests_resend_signrequest_email(uuid)\n"
          }
        ]
      },
      "parameters": [
        {
          "name": "uuid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/team-members": {
      "get": {
        "operationId": "team-members_list",
        "summary": "Retrieve a list of Team Members",
        "description": "Retrieve a list of Team Members",
        "parameters": [
          {
            "name": "is_active",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_owner",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_admin",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user__email",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user__first_name",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user__last_name",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TeamMember"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "team-members"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new TeamMembersApi();\nvar isActive = \"true\";\nvar isOwner = \"true\";\nvar isAdmin = \"true\";\nvar userEmail = \"someone@example.com\";\nvar userFirstName = \"userFirstName_example\";\nvar userLastName = \"userLastName_example\";\nvar page = 1;\nvar limit = 20;\n\nInlineResponse2006 result = apiInstance.TeamMembersList(isActive, isOwner, isAdmin, userEmail, userFirstName,\n    userLastName, page, limit);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.TeamMembersApi();\n\nvar opts = { \n  'is_active': 'true', \n  'is_owner': 'true', \n  'is_admin': 'true', \n  'user__email': 'someone@example.com', \n  'user__first_name': 'user__first_name_example', \n  'user__last_name': 'user__last_name_example', \n  'page': 1,\n  'limit': 20\n};\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.teamMembersList(opts, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\TeamMembersApi(new GuzzleHttp\\Client(), $config);\n$is_active = \"true\";\n$is_owner = \"true\";\n$is_admin = \"true\";\n$user__email = \"someone@example.com\";\n$user__first_name = \"user__first_name_example\";\n$user__last_name = \"user__last_name_example\";\n$page = 1;\n$limit = 20;\n\n$result = $apiInstance->teamMembersList($is_active, $is_owner, $is_admin, $user__email, $user__first_name, $user__last_name, $page, $limit);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.TeamMembersApi()\n\napi_response = api_instance.team_members_list(\n    is_active=\"true\",\n    is_owner=\"true\",\n    is_admin=\"true\",\n    user__email=\"someone@example.com\",\n    user__first_name=\"user__first_name_example\",\n    user__last_name=\"user__last_name_example\",\n    page=1,\n    limit=20,\n)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::TeamMembersApi.new\n\nopts = {\n  is_active: 'true',\n  is_owner: 'true',\n  is_admin: 'true',\n  user__email: 'someone@example.com',\n  user__first_name: 'user__first_name_example',\n  user__last_name: 'user__last_name_example',\n  page: 1,\n  limit: 20\n}\n\nresult = api_instance.team_members_list(opts)\n"
          }
        ]
      },
      "parameters": []
    },
    "/team-members/{uuid}": {
      "get": {
        "operationId": "team-members_read",
        "summary": "Retrieve a Team Member",
        "description": "Retrieve a Team Member",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMember"
                }
              }
            }
          }
        },
        "tags": [
          "team-members"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new TeamMembersApi();\nvar uuid = \"uuid_example\";\n\nTeamMember result = apiInstance.TeamMembersRead(uuid);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.TeamMembersApi();\n\nvar uuid = 'uuid_example';\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.teamMembersRead(uuid, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\TeamMembersApi(new GuzzleHttp\\Client(), $config);\n$uuid = \"uuid_example\";\n\n$result = $apiInstance->teamMembersRead($uuid);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "api_instance = signrequest_client.TeamMembersApi()\nuuid = \"uuid_example\"\n\napi_response = api_instance.team_members_read(uuid)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::TeamMembersApi.new\nuuid = 'uuid_example'\n\nresult = api_instance.team_members_read(uuid)\n"
          }
        ]
      },
      "parameters": [
        {
          "name": "uuid",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/teams": {
      "get": {
        "operationId": "teams_list",
        "summary": "Retrieve a list of Teams",
        "description": "Required fields are **name** and **subdomain** where the subdomain is globally unique.\nUse **POST** to create a Team.\nTo update a field on a Team use **PATCH**.\n\nTo use the API on behalf of a particular team change the endpoint to:\n*https://**{{ subdomain }}**.signrequest.com/api/v1/...*\n\nTo invite new team members you can use **POST**\n{\"email\":\"**email-of-member-to-invite@example.com**\",\"is_admin\":false,\"is_owner\":false} to:\n*https://signrequest.com/api/v1/teams/**{{ subdomain }}**/invite_member/*",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Team"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "teams"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new TeamsApi();\nvar page = 1;\nvar limit = 20;\n\nInlineResponse2007 result = apiInstance.TeamsList(page, limit);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.TeamsApi();\n\nvar opts = {\n  'page': 1,\n  'limit': 20\n};\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.teamsList(opts, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\TeamsApi(new GuzzleHttp\\Client(), $config);\n$page = 1;\n$limit = 20;\n\n$result = $apiInstance->teamsList($page, $limit);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.TeamsApi()\n\napi_response = api_instance.teams_list(page=1, limit=20)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::TeamsApi.new\n\nopts = {\n  page: 1,\n  limit: 20\n}\n\nresult = api_instance.teams_list(opts)\n"
          }
        ]
      },
      "post": {
        "operationId": "teams_create",
        "summary": "Create a Team",
        "description": "Required fields are **name** and **subdomain** where the subdomain is globally unique.\nUse **POST** to create a Team.\nTo update a field on a Team use **PATCH**.\n\nTo use the API on behalf of a particular team change the endpoint to:\n*https://**{{ subdomain }}**.signrequest.com/api/v1/...*\n\nTo invite new team members you can use **POST**\n{\"email\":\"**email-of-member-to-invite@example.com**\",\"is_admin\":false,\"is_owner\":false} to:\n*https://signrequest.com/api/v1/teams/**{{ subdomain }}**/invite_member/*",
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          }
        },
        "tags": [
          "teams"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new TeamsApi();\nvar data = new Team();\ndata.Name = \"Your team name\";\ndata.Subdomain = \"your_team\";\n\nTeam result = apiInstance.TeamsCreate(data);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.TeamsApi();\n\nvar data = new SignrequestClient.Team();\ndata.name = 'Your team name';\ndata.subdomain = 'your_team';\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.teamsCreate(data, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\TeamsApi(new GuzzleHttp\\Client(), $config);\n$data = new \\SignRequest\\Model\\Team();\n$data->setName('Your team name');\n$data->setSubdomain('your_team');\n\n$result = $apiInstance->teamsCreate($data);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.TeamsApi()\ndata = signrequest_client.Team(name=\"Your team name\", subdomain=\"your_team\")\n\napi_response = api_instance.teams_create(data)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::TeamsApi.new\ndata = SignRequestClient::Team.new\ndata.name = 'Your team name'\ndata.subdomain = 'your_team'\n\nresult = api_instance.teams_create(data)\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Team"
              }
            }
          },
          "required": true
        }
      },
      "parameters": []
    },
    "/teams/{subdomain}": {
      "get": {
        "operationId": "teams_read",
        "summary": "Retrieve a Team",
        "description": "Required fields are **name** and **subdomain** where the subdomain is globally unique.\nUse **POST** to create a Team.\nTo update a field on a Team use **PATCH**.\n\nTo use the API on behalf of a particular team change the endpoint to:\n*https://**{{ subdomain }}**.signrequest.com/api/v1/...*\n\nTo invite new team members you can use **POST**\n{\"email\":\"**email-of-member-to-invite@example.com**\",\"is_admin\":false,\"is_owner\":false} to:\n*https://signrequest.com/api/v1/teams/**{{ subdomain }}**/invite_member/*",
        "parameters": [
          {
            "name": "subdomain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          }
        },
        "tags": [
          "teams"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new TeamsApi();\nvar subdomain = \"subdomain_example\";\n\nTeam result = apiInstance.TeamsRead(subdomain);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.TeamsApi();\n\nvar subdomain = \"subdomain_example\";\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.teamsRead(subdomain, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\TeamsApi(new GuzzleHttp\\Client(), $config);\n$subdomain = \"subdomain_example\";\n\n$result = $apiInstance->teamsRead($subdomain);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.TeamsApi()\nsubdomain = \"subdomain_example\"\n\napi_response = api_instance.teams_read(subdomain)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::TeamsApi.new\nsubdomain = 'subdomain_example'\n\nresult = api_instance.teams_read(subdomain)\n"
          }
        ]
      },
      "patch": {
        "operationId": "teams_partial_update",
        "summary": "Update a Team",
        "description": "Required fields are **name** and **subdomain** where the subdomain is globally unique.\nUse **POST** to create a Team.\nTo update a field on a Team use **PATCH**.\n\nTo use the API on behalf of a particular team change the endpoint to:\n*https://**{{ subdomain }}**.signrequest.com/api/v1/...*\n\nTo invite new team members you can use **POST**\n{\"email\":\"**email-of-member-to-invite@example.com**\",\"is_admin\":false,\"is_owner\":false} to:\n*https://signrequest.com/api/v1/teams/**{{ subdomain }}**/invite_member/*",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          }
        },
        "tags": [
          "teams"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new TeamsApi();\nvar subdomain = \"subdomain_example\";\nvar data = new Team();\ndata.Name = \"new name\";\n\nTeam result = apiInstance.TeamsPartialUpdate(subdomain, data);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.TeamsApi();\n\nvar subdomain = \"subdomain_example\";\nvar data = new SignrequestClient.Team();\ndata.name = 'new name';\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\n\napiInstance.teamsPartialUpdate(subdomain, data, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\TeamsApi(new GuzzleHttp\\Client(), $config);\n$subdomain = \"subdomain_example\";\n$data = new \\SignRequest\\Model\\Team();\n$data->setName('new name');\n\n$result = $apiInstance->teamsPartialUpdate($subdomain, $data);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.TeamsApi()\nsubdomain = \"subdomain_example\"\ndata = signrequest_client.Team(name=\"new name\")\n\napi_response = api_instance.teams_partial_update(subdomain, data)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::TeamsApi.new\nsubdomain = 'subdomain_example'\ndata = SignRequestClient::Team.new\ndata.name = 'new name'\n\nresult = api_instance.teams_update(subdomain, data)\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Team"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "operationId": "teams_delete",
        "summary": "Delete a Team",
        "description": "Required fields are **name** and **subdomain** where the subdomain is globally unique.\nUse **POST** to create a Team.\nTo update a field on a Team use **PATCH**.\n\nTo use the API on behalf of a particular team change the endpoint to:\n*https://**{{ subdomain }}**.signrequest.com/api/v1/...*\n\nTo invite new team members you can use **POST**\n{\"email\":\"**email-of-member-to-invite@example.com**\",\"is_admin\":false,\"is_owner\":false} to:\n*https://signrequest.com/api/v1/teams/**{{ subdomain }}**/invite_member/*",
        "parameters": [
          {
            "name": "subdomain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "teams"
        ]
      },
      "parameters": [
        {
          "name": "subdomain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "slug"
          }
        }
      ]
    },
    "/teams/{subdomain}/invite_member": {
      "post": {
        "operationId": "teams_invite_member",
        "summary": "Invite a Team Member",
        "description": "Required fields are **name** and **subdomain** where the subdomain is globally unique.\nUse **POST** to create a Team.\nTo update a field on a Team use **PATCH**.\n\nTo use the API on behalf of a particular team change the endpoint to:\n*https://**{{ subdomain }}**.signrequest.com/api/v1/...*\n\nTo invite new team members you can use **POST**\n{\"email\":\"**email-of-member-to-invite@example.com**\",\"is_admin\":false,\"is_owner\":false} to:\n*https://signrequest.com/api/v1/teams/**{{ subdomain }}**/invite_member/*",
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteMember"
                }
              }
            }
          }
        },
        "tags": [
          "teams"
        ],
        "x-code-samples": [
          {
            "lang": "c#",
            "source": "var apiInstance = new TeamsApi();\nvar subdomain = \"subdomain_example\";\nvar data = new InviteMember();\ndata.Email = \"invited_user@example.com\";\n\nInviteMember result = apiInstance.TeamsInviteMember(subdomain, data);\n"
          },
          {
            "lang": "javascript",
            "source": "var SignrequestClient = require('signrequest-client');\nvar apiInstance = new SignrequestClient.TeamsApi();\n\nvar subdomain = \"subdomain_example\";\nvar data = new SignrequestClient.InviteMember();\ndata.email = 'invited_user@example.com';\n\nvar callback = function(error, data, response) {\n  if (error) {\n    console.error(error);\n  } else {\n    console.log('API called successfully. Returned data: ' + data);\n  }\n};\napiInstance.teamsInviteMember(subdomain, data, callback);\n"
          },
          {
            "lang": "php",
            "source": "<?php\n\n$config = SignRequest\\Configuration::getDefaultConfiguration();\n\n$apiInstance = new SignRequest\\Api\\TeamsApi(new GuzzleHttp\\Client(), $config);\n$subdomain = \"subdomain_example\";\n$data = new \\SignRequest\\Model\\InviteMember();\n$data->setEmail('invited_user@example.com');\n\n$result = $apiInstance->teamsInviteMember($subdomain, $data);\n\n?>\n"
          },
          {
            "lang": "python",
            "source": "import signrequest_client\n\napi_instance = signrequest_client.TeamsApi()\nsubdomain = \"subdomain_example\"\ndata = signrequest_client.InviteMember(email=\"invited_user@example.com\")\n\napi_response = api_instance.teams_invite_member(subdomain, data)\n"
          },
          {
            "lang": "ruby",
            "source": "api_instance = SignRequestClient::TeamsApi.new\nsubdomain = 'subdomain_example'\ndata = SignRequestClient::InviteMember.new\ndata.email = 'invited_user@example.com'\n\nresult = api_instance.teams_invite_member(subdomain, data)\n"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteMember"
              }
            }
          },
          "required": true
        }
      },
      "parameters": [
        {
          "name": "subdomain",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "slug"
          }
        }
      ]
    },
    "/templates": {
      "get": {
        "operationId": "templates_list",
        "summary": "Retrieve a list of Templates",
        "description": "Retrieve a list of Templates",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
[...]
