{
  "openapi": "3.0.3",
  "info": {
    "title": "Shrtlnk API",
    "description": "Simple and efficient short link creation. Shrtlnk provides a straightforward API for creating and managing shortened URLs.",
    "version": "1.0.0",
    "contact": {
      "name": "Shrtlnk",
      "url": "https://shrtlnk.dev"
    },
    "x-jentic-source-url": "https://shrtlnk.dev/developer"
  },
  "servers": [
    {
      "url": "https://shrtlnk.dev/api/v2",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Links",
      "description": "URL shortening and link management"
    },
    {
      "name": "Account",
      "description": "Account information"
    }
  ],
  "paths": {
    "/links": {
      "get": {
        "tags": ["Links"],
        "summary": "List all shortened links",
        "description": "Retrieve a paginated list of all shortened links created by the authenticated user.",
        "operationId": "listLinks",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of shortened links",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Links"],
        "summary": "Create a short link",
        "description": "Shorten a URL and receive a short link in response.",
        "operationId": "createLink",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Short link created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid URL or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/links/{key}": {
      "get": {
        "tags": ["Links"],
        "summary": "Get link details",
        "description": "Retrieve details and click statistics for a specific shortened link.",
        "operationId": "getLink",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Short link key/identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Link details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Links"],
        "summary": "Delete a short link",
        "description": "Delete an existing shortened link.",
        "operationId": "deleteLink",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Short link key/identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Link deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/links/{key}/stats": {
      "get": {
        "tags": ["Links"],
        "summary": "Get link click statistics",
        "description": "Retrieve detailed click statistics and analytics for a shortened link.",
        "operationId": "getLinkStats",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Short link key/identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start date for statistics (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date for statistics (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Link click statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkStats"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account": {
      "get": {
        "tags": ["Account"],
        "summary": "Get account information",
        "description": "Retrieve the authenticated user's account details and usage statistics.",
        "operationId": "getAccount",
        "responses": {
          "200": {
            "description": "Account information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "api-key",
        "in": "header",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "Link": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Short link key/identifier"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Original destination URL"
          },
          "shrtlnk": {
            "type": "string",
            "format": "uri",
            "description": "The shortened URL"
          },
          "clicks": {
            "type": "integer",
            "description": "Total number of clicks"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LinkCreate": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL to shorten"
          }
        }
      },
      "LinkListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "current_page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "last_page": {
            "type": "integer"
          }
        }
      },
      "LinkStats": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "totalClicks": {
            "type": "integer"
          },
          "clicksByDate": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyClicks"
            }
          },
          "clicksByCountry": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CountryClicks"
            }
          },
          "clicksByReferrer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReferrerClicks"
            }
          }
        }
      },
      "DailyClicks": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "clicks": {
            "type": "integer"
          }
        }
      },
      "CountryClicks": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string"
          },
          "clicks": {
            "type": "integer"
          }
        }
      },
      "ReferrerClicks": {
        "type": "object",
        "properties": {
          "referrer": {
            "type": "string"
          },
          "clicks": {
            "type": "integer"
          }
        }
      },
      "AccountInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "linksCreated": {
            "type": "integer"
          },
          "totalClicks": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error type or code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          }
        }
      }
    }
  }
}
