{
  "openapi": "3.0.3",
  "info": {
    "title": "OneBrick Payment API",
    "version": "2.0.0",
    "description": "OneBrick provides financial infrastructure APIs for payments, disbursements, virtual accounts, QRIS, e-wallets, and bank data services in Indonesia.",
    "x-jentic-source-url": "https://onebrick.readme.io/reference/api-introduction",
    "contact": {
      "name": "OneBrick",
      "url": "https://www.onebrick.io",
      "email": "support@onebrick.io"
    }
  },
  "servers": [
    {
      "url": "https://sandbox.onebrick.io/v2",
      "description": "Sandbox Environment"
    },
    {
      "url": "https://api.onebrick.io/v2",
      "description": "Production Environment"
    }
  ],
  "paths": {
    "/auth/token": {
      "post": {
        "operationId": "generateAccessToken",
        "summary": "Generate Public Access Token",
        "description": "Generate a public access token using client credentials. Token is valid for 5 minutes and single-use.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "Client-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Client ID"
          },
          {
            "name": "Client-Secret",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Client Secret"
          }
        ],
        "responses": {
          "200": {
            "description": "Access token generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/balance": {
      "get": {
        "operationId": "getAccountBalance",
        "summary": "Get Account Balance",
        "description": "Retrieve account balance including usable, pending, and total balance.",
        "tags": [
          "Balance"
        ],
        "responses": {
          "200": {
            "description": "Balance retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/top-up/bank/list": {
      "get": {
        "operationId": "listTopUpOptions",
        "summary": "List Top-Up Options",
        "description": "List available top-up bank options.",
        "tags": [
          "Balance"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "Account email"
          }
        ],
        "responses": {
          "200": {
            "description": "Top-up options listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bankName": {
                            "type": "string"
                          },
                          "bankCode": {
                            "type": "string"
                          },
                          "accountNumber": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/disbursements": {
      "post": {
        "operationId": "createDisbursement",
        "summary": "Create Disbursement",
        "description": "Create a regular disbursement (money-out) transaction.",
        "tags": [
          "Disbursement"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisbursementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Disbursement created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisbursementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/bifast-disbursements": {
      "post": {
        "operationId": "createBifastDisbursement",
        "summary": "Create BIFAST Disbursement",
        "description": "Create a BIFAST fast disbursement transaction with sender details.",
        "tags": [
          "Disbursement"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DisbursementRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "senderName": {
                        "type": "string"
                      },
                      "senderIdentity": {
                        "type": "string"
                      },
                      "senderAddress": {
                        "type": "string"
                      },
                      "senderDob": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "BIFAST disbursement created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisbursementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/bank-account-validation": {
      "get": {
        "operationId": "validateBankAccount",
        "summary": "Validate Bank Account",
        "description": "Validate a recipient bank account number.",
        "tags": [
          "Bank Data"
        ],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bankShortCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accountNumber": {
                      "type": "string"
                    },
                    "accountName": {
                      "type": "string"
                    },
                    "bankCode": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/disbursements/{disbursementId}": {
      "get": {
        "operationId": "getDisbursementStatus",
        "summary": "Get Disbursement Status",
        "description": "Check disbursement status by ID.",
        "tags": [
          "Disbursement"
        ],
        "parameters": [
          {
            "name": "disbursementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disbursement details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisbursementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ledger": {
      "get": {
        "operationId": "getTransactionLedger",
        "summary": "Get Transaction Ledger",
        "description": "Retrieve transaction history/ledger with filtering.",
        "tags": [
          "Balance"
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction ledger",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LedgerEntry"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/generate-open-va": {
      "post": {
        "operationId": "createOpenVirtualAccount",
        "summary": "Create Open Virtual Account",
        "description": "Create an open virtual account for accepting payments.",
        "tags": [
          "Virtual Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Virtual account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/generate-closed-va": {
      "post": {
        "operationId": "createClosedVirtualAccount",
        "summary": "Create Closed Virtual Account",
        "description": "Create a closed virtual account with a fixed amount.",
        "tags": [
          "Virtual Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Virtual account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/generate-dynamic-qris": {
      "post": {
        "operationId": "createDynamicQris",
        "summary": "Create Dynamic QRIS",
        "description": "Generate a dynamic QRIS QR code for payment.",
        "tags": [
          "QRIS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "referenceId"
                ],
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "referenceId": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "QRIS created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "qrisUrl": {
                      "type": "string"
                    },
                    "referenceId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/create-payment-ewallet": {
      "post": {
        "operationId": "createEwalletPayment",
        "summary": "Create E-Wallet Payment",
        "description": "Create an e-wallet payment transaction.",
        "tags": [
          "E-Wallet"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "referenceId",
                  "ewalletCode"
                ],
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "referenceId": {
                    "type": "string"
                  },
                  "ewalletCode": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "E-wallet payment created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "paymentUrl": {
                      "type": "string"
                    },
                    "referenceId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/create-checkout-page-session": {
      "post": {
        "operationId": "createCheckoutSession",
        "summary": "Create Checkout Session",
        "description": "Initialize a checkout page session for payment collection.",
        "tags": [
          "Checkout"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "referenceId"
                ],
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "referenceId": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "callbackUrl": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "checkoutUrl": {
                      "type": "string"
                    },
                    "sessionId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/b2c/sub-accounts": {
      "post": {
        "operationId": "createSubAccount",
        "summary": "Create B2C Subaccount",
        "description": "Create a B2C subaccount for your business.",
        "tags": [
          "Subaccount"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subaccount created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subAccountCode": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token obtained via /auth/token endpoint"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "accessToken": {
                "type": "string"
              },
              "expiresIn": {
                "type": "integer"
              }
            }
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "usableBalance": {
            "type": "number"
          },
          "pendingBalance": {
            "type": "number"
          },
          "totalBalance": {
            "type": "number"
          }
        }
      },
      "DisbursementRequest": {
        "type": "object",
        "required": [
          "referenceId",
          "amount",
          "disbursementMethod"
        ],
        "properties": {
          "referenceId": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "disbursementMethod": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "bankShortCode": {
                "type": "string"
              },
              "bankAccountNo": {
                "type": "string"
              },
              "bankAccountHolderName": {
                "type": "string"
              }
            }
          },
          "recipientEmail": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "DisbursementResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "referenceId": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "VirtualAccountRequest": {
        "type": "object",
        "properties": {
          "bankShortCode": {
            "type": "string"
          },
          "referenceId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "VirtualAccountResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "virtualAccountNumber": {
            "type": "string"
          },
          "bankShortCode": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          }
        }
      },
      "LedgerEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Token generation"
    },
    {
      "name": "Balance",
      "description": "Account balance operations"
    },
    {
      "name": "Disbursement",
      "description": "Money-out operations"
    },
    {
      "name": "Virtual Account",
      "description": "Virtual account management"
    },
    {
      "name": "QRIS",
      "description": "QR code payment operations"
    },
    {
      "name": "Payment Link",
      "description": "Payment link management"
    },
    {
      "name": "E-Wallet",
      "description": "E-wallet payment operations"
    },
    {
      "name": "Checkout",
      "description": "Checkout session operations"
    },
    {
      "name": "Bank Data",
      "description": "Bank account verification and data"
    },
    {
      "name": "Subaccount",
      "description": "B2C subaccount management"
    }
  ]
}