{
  "swagger": "2.0",
  "info": {
    "version": "v1.0",
    "title": "Flipdish Open API v1.0"
  },
  "host": "api.flipdish.co",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/v1.0/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "GetAccountDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiResult[AccountDetail]"
            },
            "examples": {
              "Data": {
                "IsVerified": false,
                "IsSelfServeUser": false,
                "AccountId": 0,
                "DisplayTimesInUserLocalTimeZone": false,
                "ShowHiddenFeatures": false,
                "CreatedAt": "0001-01-01T00:00:00"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            },
            "examples": {
              "Message": "An error has occured",
              "ErrorCode": 0,
              "StackTrace": "An error has occured"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Accounts"
        ],
        "operationId": "UpdateAccount",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "updateAccountModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountDetailBase"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "examples": {
              "Message": "An error has occured",
              "ErrorCode": 0,
              "StackTrace": "An error has occured"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "CreateAccount",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "createAccountModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAccountModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "examples": {
              "Message": "An error has occured",
              "ErrorCode": 0,
              "StackTrace": "An error has occured"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/accounts/timezones": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "GetLocalisedTimeZones",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiArrayResult[LocalisedTimeZone]"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/accounts/password": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "operationId": "ChangePassword",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "changePasswordModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangePasswordModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            },
            "examples": {
              "Message": "An error has occured",
              "ErrorCode": 0,
              "StackTrace": "An error has occured"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          },
          "409": {
            "description": "Conflict"
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "PasswordResetWithToken",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "passwordResetModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PasswordResetModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "examples": {
              "Message": "An error has occured",
              "ErrorCode": 0,
              "StackTrace": "An error has occured"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/accounts/password/pin": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "operationId": "ChangePasswordWithPin",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "changePasswordModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetPasswordWithPinModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            },
            "examples": {
              "Message": "An error has occured",
              "ErrorCode": 0,
              "StackTrace": "An error has occured"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          },
          "409": {
            "description": "Conflict"
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/accounts/pin": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "RequestLoginPin",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "requestLoginPinRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestLoginPinModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RequestLoginPinResponse"
            },
            "examples": {
              "Data": {
                "LoginPinSentViaEmail": true,
                "ForceOktaLogin": false
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "examples": {
              "Message": "An error has occured",
              "ErrorCode": 0,
              "StackTrace": "An error has occured"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/accounts/login": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Login",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "loginModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            },
            "examples": {
              "Message": "An error has occured",
              "ErrorCode": 0,
              "StackTrace": "An error has occured"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/accounts/logout": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Logout",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            },
            "examples": {
              "Message": "An error has occured",
              "ErrorCode": 0,
              "StackTrace": "An error has occured"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/accounts/login/pin": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "LoginWithPin",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "loginModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginWithPinModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            },
            "examples": {
              "Message": "An error has occured",
              "ErrorCode": 0,
              "StackTrace": "An error has occured"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/accounts/login/sso": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "LoginSso",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            },
            "examples": {
              "Message": "An error has occured",
              "ErrorCode": 0,
              "StackTrace": "An error has occured"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            },
            "examples": {
              "Message": "Authentication has been denied for this request."
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/accounts/basic-account": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "CreateBasicAccount",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "basicAccountModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateBasicAccountModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "BadRequest",
            "examples": {
              "Message": "An error has occured",
              "ErrorCode": 0,
              "StackTrace": "An error has occured"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/accounts/passwordreset": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "RequestPasswordReset",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "requestPasswordResetModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestPasswordResetModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "examples": {
              "Message": "An error has occured",
              "ErrorCode": 0,
              "StackTrace": "An error has occured"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/accounts/password/resetpin": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "SendPinForPasswordReset",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "requestPasswordResetRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestPasswordResetModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RequestPasswordResetPinResponse"
            },
            "examples": {
              "Data": {
                "PasswordResetPinSentViaEmail": true
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "examples": {
              "Message": "An error has occured",
              "ErrorCode": 0,
              "StackTrace": "An error has occured"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/accounts/recaptcha": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "RecaptchaValidate",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "examples": {
              "Message": "An error has occured",
              "ErrorCode": 0,
              "StackTrace": "An error has occured"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/accounts/signupstep/{signupStepAction}/skip": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "SkipSignupStep",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "signupStepAction",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "Question",
              "StoreLocation",
              "PaymentSubscription",
              "StoreName"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/accounts/signupstep/{signupStepAction}/answer": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "AnswerSignUpQuestion",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "signupStepAction",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "Question",
              "StoreLocation",
              "PaymentSubscription",
              "StoreName"
            ]
          },
          {
            "name": "answerId",
            "in": "body",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/address/countries": {
      "get": {
        "tags": [
          "Address"
        ],
        "operationId": "GetCountries",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiResult[CountryFormResponse]"
            },
            "examples": {
              "Data": {}
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/app/{appId}/address/form": {
      "get": {
        "tags": [
          "Address"
        ],
        "operationId": "FormByApp",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiResult[AddressFormResponse]"
            },
            "examples": {
              "Data": {
                "FormData": [
                  {}
                ]
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            },
            "examples": {
              "Message": "An error has occured",
              "ErrorCode": 0,
              "StackTrace": "An error has occured"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/address/country/{countryCode}/form": {
      "get": {
        "tags": [
          "Address"
        ],
        "operationId": "FormByCountry",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiResult[AddressFormResponse]"
            },
            "examples": {
              "Data": {
                "FormData": [
                  {}
                ]
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            },
            "examples": {
              "Message": "An error has occured",
              "ErrorCode": 0,
              "StackTrace": "An error has occured"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/address/templates": {
      "post": {
        "tags": [
          "Address"
        ],
        "operationId": "AddressTemplates",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StoreAddressForm"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiStringResult"
            },
            "examples": {
              "Data": "foobar"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            },
            "examples": {
              "Data": "foobar"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/address/google": {
      "post": {
        "tags": [
          "Address"
        ],
        "operationId": "FormatGoogleAddress",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "googleAddress",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GoogleAddress"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiResult[AddressFormResponse]"
            },
            "examples": {
              "Data": {
                "FormData": [
                  {}
                ]
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            },
            "examples": {
              "Message": "An error has occured",
              "ErrorCode": 0,
              "StackTrace": "An error has occured"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/{appId}/apm/status": {
      "get": {
        "tags": [
          "Apm"
        ],
        "operationId": "GetApmStatus",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiResult[ApmStatus]"
            },
            "examples": {
              "Data": {
                "IsApmEnabled": false
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/{appId}/apm/statistics": {
      "get": {
        "tags": [
          "Apm"
        ],
        "operationId": "GetBasicStatistics",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiResult[ApmStatistics]"
            },
            "examples": {
              "Data": {
                "EstimatedMinutesSaved": 0,
                "EstimatedMinutesCouldSaved": 0,
                "CurrencyData": [
                  {
                    "Currency": 0,
                    "UserCount": 0,
                    "OrderCount": 0,
                    "OrderValue": 0.0
                  }
                ]
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/{appId}/apm/statistics/calendar": {
      "get": {
        "tags": [
          "Apm"
        ],
        "operationId": "GetCalendarWeekStatistics",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "storeId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiArrayResult[ApmHourlyDataPoint]"
            },
            "examples": {
              "Data": [
                {
                  "Day": "Sunday",
                  "Hour": 0,
                  "TotalValue": 0
                }
              ]
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/{appId}/apm/calls": {
      "get": {
        "tags": [
          "Apm"
        ],
        "operationId": "GetPaginatedCallList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "storeId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiPaginationResult[PhoneCall]"
            },
            "examples": {
              "Data": [
                {
                  "PhoneCallId": 0,
                  "TimeOfCall": "0001-01-01T00:00:00",
                  "TimeOfCallLocal": "0001-01-01T00:00:00",
                  "StoreId": 0,
                  "CallerUserId": 0,
                  "CallLengthInSeconds": 0,
                  "CallStatus": "Queued"
                }
              ]
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/{appId}/apm/statistics/calls/{aggregateDataBy}": {
      "get": {
        "tags": [
          "Apm"
        ],
        "operationId": "GetCallsStatistics",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "aggregateDataBy",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "Daily",
              "Weekly",
              "Monthly"
            ]
          },
          {
            "name": "dataPointLimit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "storeId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiArrayResult[ApmDataPoint]"
            },
            "examples": {
              "Data": [
                {
                  "PeriodStart": "0001-01-01T00:00:00",
                  "PeriodLengthInDays": 0,
                  "Value": 0
                }
              ]
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/{appId}/apm/statistics/orders/{aggregateDataBy}": {
      "get": {
        "tags": [
          "Apm"
        ],
        "operationId": "GetOrderStatistics",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "aggregateDataBy",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "Daily",
              "Weekly",
              "Monthly"
            ]
          },
          {
            "name": "dataPointLimit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "storeId",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiArrayResult[ApmCurrencyDataPoint]"
            },
            "examples": {
              "Data": [
                {
                  "PeriodStart": "0001-01-01T00:00:00",
                  "PeriodLengthInDays": 0,
                  "CurrencyData": [
                    {
                      "Currency": 0,
                      "Value": 0.0
                    }
                  ]
                }
              ]
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/apps/{appId}": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "GetApp",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiResult[App]"
            },
            "examples": {
              "Data": {
                "HasIosApp": false,
                "HasAndroidApp": false,
                "DisplayDeliveryRestaurantScreen": false,
                "AppAccessLevel": "None",
                "AppResourceSet": [
                  "ViewApp"
                ],
                "MapCenter": {
                  "Latitude": 53.3421247,
                  "Longitude": -6.2615012
                },
                "MapNorthEast": {
                  "Latitude": 53.3421247,
                  "Longitude": -6.2615012
                },
                "MapSouthWest": {
                  "Latitude": 53.3421247,
                  "Longitude": -6.2615012
                },
                "WebToAppRedirect": 0,
                "ApplicationCategory": 0,
                "IsPanaceaEnabled": false,
                "PanaceaVanityUrl": "https://my.flipdish.com/yourPanaceaVanityUrl",
                "CookieConsentPromptEnabled": false
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          },
          "404": {
            "description": "NotFound"
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/apps/{appId}/name": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "GetAppName",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiStringResult"
            },
            "examples": {
              "Data": "foobar"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          },
          "404": {
            "description": "NotFound"
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/apps/supportedcountries": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "GetSupportedCountries",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiArrayResult[SupportedCountry]"
            },
            "examples": {
              "Data": {
                "PhoneCode": 0,
                "AddressLayout": 0,
                "PostCodeType": 0,
                "SupportRegion": 0
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/apps/{appId}/compliance": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "GetCompliance",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiResult[AppCompliance]"
            },
            "examples": {
              "Data": {
                "ComplianceType": "Default",
                "AllowDisablingOfGdpr": false
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Apps"
        ],
        "operationId": "SetCompliance",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "complianceType",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "Default",
              "GdprCompliance"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiResult[AppCompliance]"
            },
            "examples": {
              "Data": {
                "ComplianceType": "Default",
                "AllowDisablingOfGdpr": false
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/apps/{appId}/panacea/url": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "GetPanaceaVanityUrl",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiStringResult"
            },
            "examples": {
              "Data": "foobar"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          },
          "404": {
            "description": "NotFound"
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Apps"
        ],
        "operationId": "SetPanaceaVanityUrl",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "vanityUrl",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiStringResult"
            },
            "examples": {
              "Data": "foobar"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          },
          "404": {
            "description": "NotFound"
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/apps/{whitelabelId}/lookup": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "LookupByWhitelabelId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "whitelabelId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppLookup"
            },
            "examples": {}
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          },
          "404": {
            "description": "NotFound"
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/apps/{appId}/hostnamestatus": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "GetAppHostnameStatus",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiResult[DnsRecordInformation]"
            },
            "examples": {
              "Data": {
                "IsCNameReady": true,
                "IsAReady": false,
                "IsApiCNameReady": true
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          },
          "404": {
            "description": "Either the App Config was not found or there is no hostname associated to it."
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/apps": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "GetApps",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "nameFilter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiPaginationResult[App]"
            },
            "examples": {
              "Data": [
                {
                  "HasIosApp": false,
                  "HasAndroidApp": false,
                  "DisplayDeliveryRestaurantScreen": false,
                  "AppAccessLevel": "None",
                  "AppResourceSet": [
                    "ViewApp"
                  ],
                  "MapCenter": {
                    "Latitude": 53.3421247,
                    "Longitude": -6.2615012
                  },
                  "MapNorthEast": {
                    "Latitude": 53.3421247,
                    "Longitude": -6.2615012
                  },
                  "MapSouthWest": {
                    "Latitude": 53.3421247,
                    "Longitude": -6.2615012
                  },
                  "WebToAppRedirect": 0,
                  "ApplicationCategory": 0,
                  "IsPanaceaEnabled": false,
                  "PanaceaVanityUrl": "https://my.flipdish.com/yourPanaceaVanityUrl",
                  "CookieConsentPromptEnabled": false
                }
              ]
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Apps"
        ],
        "operationId": "CreateApp",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAppParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiStringResult"
            }
          },
          "400": {
            "description": "BadRequest",
            "examples": {
              "Message": "An error has occured",
              "ErrorCode": 0,
              "StackTrace": "An error has occured"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/apps/{appId}/panacea/url/available": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "IsPanaceaVanityUrlAvailable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "vanityUrl",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiStringResult"
            },
            "examples": {
              "Data": "foobar"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          },
          "404": {
            "description": "NotFound"
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/apps/{appId}/logo": {
      "post": {
        "tags": [
          "Apps"
        ],
        "operationId": "UploadAppLogo",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Image",
            "in": "formData",
            "description": "App Logo",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          },
          "404": {
            "description": "NotFound"
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/apps/{appId}/config": {
      "post": {
        "tags": [
          "Apps"
        ],
        "operationId": "SetAppConfig",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appConfigUpdate",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppConfigUpdateModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiResult[App]"
            },
            "examples": {
              "Data": {
                "HasIosApp": false,
                "HasAndroidApp": false,
                "DisplayDeliveryRestaurantScreen": false,
                "AppAccessLevel": "None",
                "AppResourceSet": [
                  "ViewApp"
                ],
                "MapCenter": {
                  "Latitude": 53.3421247,
                  "Longitude": -6.2615012
                },
                "MapNorthEast": {
                  "Latitude": 53.3421247,
                  "Longitude": -6.2615012
                },
                "MapSouthWest": {
                  "Latitude": 53.3421247,
                  "Longitude": -6.2615012
                },
                "WebToAppRedirect": 0,
                "ApplicationCategory": 0,
                "IsPanaceaEnabled": false,
                "PanaceaVanityUrl": "https://my.flipdish.com/yourPanaceaVanityUrl",
                "CookieConsentPromptEnabled": false
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          },
          "404": {
            "description": "NotFound"
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/apps/{appId}/appstorename": {
      "post": {
        "tags": [
          "Apps"
        ],
        "operationId": "SetAppStoreName",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appStoreName",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          },
          "404": {
            "description": "NotFound"
          },
          "500": {
            "description": "InternalServerError"
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/apps/{appId}/orgId/{orgId}": {
      "post": {
        "tags": [
          "Apps"
        ],
        "operationId": "Apps_SetPropertyId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/apps/{appId}/config/languages": {
      "post": {
        "tags": [
          "Apps"
        ],
        "operationId": "SetAppLanguages",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "languages",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Language"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiResult[App]"
            },
            "examples": {
              "Data": {
                "HasIosApp": false,
                "HasAndroidApp": false,
                "DisplayDeliveryRestaurantScreen": false,
                "AppAccessLevel": "None",
                "AppResourceSet": [
                  "ViewApp"
                ],
                "MapCenter": {
                  "Latitude": 53.3421247,
                  "Longitude": -6.2615012
                },
                "MapNorthEast": {
                  "Latitude": 53.3421247,
                  "Longitude": -6.2615012
                },
                "MapSouthWest": {
                  "Latitude": 53.3421247,
                  "Longitude": -6.2615012
                },
                "WebToAppRedirect": 0,
                "ApplicationCategory": 0,
                "IsPanaceaEnabled": false,
                "PanaceaVanityUrl": "https://my.flipdish.com/yourPanaceaVanityUrl",
                "CookieConsentPromptEnabled": false
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          },
          "404": {
            "description": "NotFound"
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/apps/{appId}/SendPushNotification/{customerId}": {
      "post": {
        "tags": [
          "Apps"
        ],
        "operationId": "SendPushNotification",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "message",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          },
          "404": {
            "description": "NotFound"
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/apps/{appId}/hostname": {
      "post": {
        "tags": [
          "Apps"
        ],
        "operationId": "SetAppHostname",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostname",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "isEmbed",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiStringResult"
            },
            "examples": {
              "Data": "foobar"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          },
          "404": {
            "description": "NotFound"
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/apps/{appId}/nextgenweb": {
      "post": {
        "tags": [
          "Apps"
        ],
        "operationId": "ToggleNextGenWeb",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostname",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "vanityUrl",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "isNextGenWeb",
            "in": "query",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiStringResult"
            },
            "examples": {
              "Data": "foobar"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          },
          "404": {
            "description": "NotFound"
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/appstore/apps/{appStoreAppId}": {
      "get": {
        "tags": [
          "AppStore"
        ],
        "operationId": "GetAppStoreApp",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appStoreAppId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "appId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiResult[AppStoreApp]"
            },
            "examples": {
              "Data": {
                "VerificationStatus": "Verified",
                "Internal": false,
                "ConfigurationType": "ExternalLink",
                "StoreSelectorType": "Multiple",
                "FieldGroups": [
                  {
                    "Position": 0
                  }
                ],
                "TeammateAppAccessLevel": "StoreReadOnlyAccess",
                "PermissionsType": "Teammate",
                "IsPaid": false,
                "IsEnabled": false,
                "Categories": [
                  0
                ],
                "Countries": [
                  "GB"
                ]
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          },
          "404": {
            "description": "NotFound",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            },
            "examples": {
              "Message": "An error has occured",
              "ErrorCode": 0,
              "StackTrace": "An error has occured"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/appstore/apps": {
      "get": {
        "tags": [
          "AppStore"
        ],
        "operationId": "GetAppStoreApps",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "excludeNotOwned",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "showOnlyVerified",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiPaginationResult[AppStoreAppSummary]"
            },
            "examples": {
              "Data": [
                {
                  "VerificationStatus": "Verified",
                  "Internal": false,
                  "IsEnabled": false,
                  "Categories": [
                    0
                  ],
                  "Countries": [
                    "GB"
                  ]
                }
              ]
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/RestApiErrorResult"
            }
          },
          "401": {
            "description": "Authentication has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiUnauthorizedResult"
            }
          },
          "403": {
            "description": "Successful authentication, but authorization has been denied for this request.",
            "schema": {
              "$ref": "#/definitions/RestApiForbiddenResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "api"
            ]
          }
        ]
      }
    },
    "/api/v1.0/{appId}/appstore/apps": {
      "get": {
        "tags": [
          "AppStoreConfigurations"
        ],
        "operationId": "GetConfiguredApps",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestApiArrayResult[AppStoreAppSummary]"
            },
            "examples": {
              "Data": [
                {
                  "VerificationStatus": "Verified",
                  "Internal": false,
                  "IsEnabled": false,
                  "Categories": [
                    0
                  ],
                  "Countries": [
                    "GB"
                  ]
                }
              ]
            }
[...]
