{
  "openapi": "3.0.3",
  "info": {
    "title": "CLOSUM API",
    "version": "2.0",
    "description": "CLOSUM V2.0 REST API covering CRM, messaging, automation, and webhooks. Closum is an inbound marketing platform focused on small and medium companies for landing pages, newsletters, and SMS marketing.",
    "x-jentic-source-url": "https://developers.closum.com/"
  },
  "servers": [
    {
      "url": "https://api.closum.com/v2"
    }
  ],
  "paths": {
    "/lead/": {
      "get": {
        "summary": "List leads",
        "description": "Retrieve a paginated list of leads. Available filters: email, name, contact_lifecycle_stage_id.",
        "operationId": "listLeads",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact_lifecycle_stage_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/lead/view/{lead_id}": {
      "get": {
        "summary": "View a lead",
        "description": "Retrieve detailed information about a specific lead.",
        "operationId": "viewLead",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "lead_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadViewResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/lead/add/": {
      "post": {
        "summary": "Add a lead",
        "description": "Create a new lead. Either email or mobile_number is required.",
        "operationId": "addLead",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadAddRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/lead/add-note/{lead_id}": {
      "post": {
        "summary": "Add a note to a lead",
        "operationId": "addLeadNote",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "lead_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "note_message": {
                    "type": "string"
                  }
                },
                "required": [
                  "note_message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/lead/notes/{lead_id}": {
      "get": {
        "summary": "List lead notes",
        "operationId": "listLeadNotes",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "lead_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/lead/edit/{lead_id}": {
      "put": {
        "summary": "Edit a lead",
        "description": "Update an existing lead. You cannot change the lead email.",
        "operationId": "editLead",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "lead_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/lead/edit-by-email": {
      "put": {
        "summary": "Edit a lead by email",
        "description": "Update an existing lead identified by email address.",
        "operationId": "editLeadByEmail",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadEditByEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/lead/delete/{lead_id}": {
      "delete": {
        "summary": "Delete a lead",
        "operationId": "deleteLead",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "lead_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/contact/list": {
      "get": {
        "summary": "List contacts",
        "operationId": "listContacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/contact/view/{contact_id}": {
      "get": {
        "summary": "View a contact",
        "operationId": "viewContact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactViewResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/contact/add": {
      "post": {
        "summary": "Add a contact",
        "operationId": "addContact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactAddRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/contact/edit/{contact_id}": {
      "put": {
        "summary": "Update a contact",
        "operationId": "updateContact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/contact/delete/{contact_id}": {
      "delete": {
        "summary": "Delete a contact",
        "description": "Deletes a contact by ID and the associated lead data.",
        "operationId": "deleteContact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/tag/": {
      "get": {
        "summary": "List tags",
        "operationId": "listTags",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/tag/add/": {
      "post": {
        "summary": "Add a tag",
        "operationId": "addTag",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tag": {
                    "type": "string"
                  }
                },
                "required": [
                  "tag"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/tag/delete/{tag_id_or_tag_name}": {
      "delete": {
        "summary": "Delete a tag",
        "description": "Permanently deletes a tag from the entire account and its associations with contacts, leads, and audiences.",
        "operationId": "deleteTag",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "tag_id_or_tag_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/field/": {
      "get": {
        "summary": "List contact fields",
        "operationId": "listContactFields",
        "tags": [
          "Contact Fields"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/contact-tag": {
      "get": {
        "summary": "List contact tags",
        "description": "Available filter: tag name.",
        "operationId": "listContactTags",
        "tags": [
          "Contact Tags"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/contact-tag/add-tag-by-email/": {
      "post": {
        "summary": "Add contact tag by email",
        "operationId": "addContactTagByEmail",
        "tags": [
          "Contact Tags"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "tag": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "email",
                  "tag"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/contact-tag/add-lead-tag/{lead_id}": {
      "post": {
        "summary": "Add lead tag",
        "operationId": "addLeadTag",
        "tags": [
          "Contact Tags"
        ],
        "parameters": [
          {
            "name": "lead_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tag": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "tag"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/contact-tag/remove-tag-by-email/": {
      "delete": {
        "summary": "Remove contact tag by email",
        "operationId": "removeContactTagByEmail",
        "tags": [
          "Contact Tags"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "tag": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "email",
                  "tag"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/email-template/send/{template_id}": {
      "post": {
        "summary": "Send an email template",
        "description": "Send a designed email template with custom merge variables.",
        "operationId": "sendEmailTemplate",
        "tags": [
          "Email Templates"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email_to": {
                    "type": "string",
                    "description": "JSON array of recipient email addresses"
                  },
                  "replyTo": {
                    "type": "string"
                  },
                  "from_name": {
                    "type": "string"
                  },
                  "from_email": {
                    "type": "string",
                    "description": "Override the default from_email"
                  },
                  "merge": {
                    "type": "string",
                    "description": "JSON object of merge variables"
                  },
                  "attachments[]": {
                    "type": "string",
                    "format": "binary"
                  },
                  "utm_tracking": {
                    "type": "integer",
                    "description": "Set to 1 to enable UTM parameters"
                  }
                },
                "required": [
                  "email_to"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/email-template/list/": {
      "get": {
        "summary": "List email templates",
        "operationId": "listEmailTemplates",
        "tags": [
          "Email Templates"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplateListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/email-template/create/": {
      "post": {
        "summary": "Create an email template",
        "description": "Create a new email template with HTML content.",
        "operationId": "createEmailTemplate",
        "tags": [
          "Email Templates"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "from_name": {
                    "type": "string",
                    "description": "Sender name"
                  },
                  "from_email": {
                    "type": "string",
                    "description": "Sender email address"
                  },
                  "template_title": {
                    "type": "string",
                    "description": "The title of the new template"
                  },
                  "html_content": {
                    "type": "string",
                    "description": "The HTML content of the template. Max length: 1048576"
                  }
                },
                "required": [
                  "template_title",
                  "html_content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/email-template/update/": {
      "post": {
        "summary": "Update an email template",
        "description": "Update an existing email template with modified HTML content.",
        "operationId": "updateEmailTemplate",
        "tags": [
          "Email Templates"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_id": {
                    "type": "integer",
                    "description": "Template ID to update"
                  },
                  "from_name": {
                    "type": "string",
                    "description": "Sender name"
                  },
                  "from_email": {
                    "type": "string",
                    "description": "Sender email address"
                  },
                  "template_title": {
                    "type": "string",
                    "description": "The title of the template"
                  },
                  "html_content": {
                    "type": "string",
                    "description": "The updated HTML content. Max length: 1048576"
                  }
                },
                "required": [
                  "template_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/email-activity/logs/": {
      "get": {
        "summary": "List email activity logs",
        "description": "Retrieve email activity logs with optional filters.",
        "operationId": "listEmailActivityLogs",
        "tags": [
          "Email Activity"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activity_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "sent",
                "opened",
                "clicked",
                "bounced",
                "unsubscribed",
                "abuse_report"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailActivityLogResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/sms/send/": {
      "post": {
        "summary": "Send a single SMS",
        "operationId": "sendSms",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsSendRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/sms-balance/available-credits/": {
      "get": {
        "summary": "Get available SMS credits",
        "operationId": "getSmsBalance",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/contact-lifecycle-stage/": {
      "get": {
        "summary": "List contact lifecycle stages",
        "operationId": "listContactLifecycleStages",
        "tags": [
          "Contact Lifecycle Stage"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/utils/shorten-url/": {
      "post": {
        "summary": "Shorten a URL",
        "operationId": "shortenUrl",
        "tags": [
          "Utils"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The full URL to be shortened"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL shortened successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/user/": {
      "get": {
        "summary": "List users",
        "operationId": "listUsers",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/sales-sequence/": {
      "get": {
        "summary": "List sales sequences",
        "operationId": "listSalesSequences",
        "tags": [
          "Sales Sequences"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/whatsapp/send": {
      "post": {
        "summary": "Send a WhatsApp template message",
        "operationId": "sendWhatsappTemplate",
        "tags": [
          "WhatsApp"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WhatsappSendRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/whatsapp/get-templates": {
      "get": {
        "summary": "List WhatsApp templates",
        "operationId": "listWhatsappTemplates",
        "tags": [
          "WhatsApp"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsappTemplateListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/company-number/get-senders": {
      "get": {
        "summary": "List company numbers",
        "operationId": "listCompanyNumbers",
        "tags": [
          "Company Numbers"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyNumberListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/topic/list": {
      "get": {
        "summary": "List topics",
        "operationId": "listTopics",
        "tags": [
          "Topics"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopicListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/topic/view/{topic_id}": {
      "get": {
        "summary": "View a topic",
        "operationId": "viewTopic",
        "tags": [
          "Topics"
        ],
        "parameters": [
          {
            "name": "topic_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopicViewResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/topic/add": {
      "post": {
        "summary": "Add a topic",
        "operationId": "addTopic",
        "tags": [
          "Topics"
        ],
        "parameters": [
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Topic created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/topic/edit/{topic_id}": {
      "put": {
        "summary": "Edit a topic",
        "operationId": "editTopic",
        "tags": [
          "Topics"
        ],
        "parameters": [
          {
            "name": "topic_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Topic updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    },
    "/topic/delete/{topic_id}": {
      "delete": {
        "summary": "Delete a topic",
        "operationId": "deleteTopic",
        "tags": [
          "Topics"
        ],
        "parameters": [
          {
            "name": "topic_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api-key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Topic deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "code": {
            "type": "integer"
          },
          "responseData": {},
          "message": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Lead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "contact_lifecycle_stage_id": {
            "type": "integer"
          },
          "source_id": {
            "type": "integer"
          },
          "custom_data": {
            "type": "string"
          },
          "user_id": {
            "type": "integer"
          },
          "creation_date": {
            "type": "string",
            "format": "date-time"
          },
          "contact_tag": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "lead_sales_sequence": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "object",
            "nullable": true,
            "properties": {
              "number": {
                "type": "string"
              }
            }
          },
          "email": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string"
              }
            }
          }
        }
      },
      "LeadDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "contact_lifecycle_stage_id": {
            "type": "integer"
          },
          "custom_data": {
            "type": "string"
          },
          "user_id": {
            "type": "integer"
          },
          "creation_date": {
            "type": "string",
            "format": "date-time"
          },
          "lead_opt_in": {
            "type": "object",
            "properties": {
              "sms": {
                "type": "boolean"
              },
              "email": {
                "type": "boolean"
              }
            }
          },
          "phone": {
            "type": "object",
            "nullable": true,
            "properties": {
              "number": {
                "type": "string"
              }
            }
          },
          "email": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string"
              }
            }
          },
          "contact_tag": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field_id": {
                  "type": "string"
                },
                "var": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Paginator": {
        "type": "object",
        "properties": {
          "finder": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          },
          "current": {
            "type": "integer"
          },
          "count": {
            "type": "integer"
          },
          "perPage": {
            "type": "integer"
          },
          "prevPage": {
            "type": "boolean"
          },
          "nextPage": {
            "type": "boolean"
          },
          "pageCount": {
            "type": "integer"
          },
          "sort": {
            "type": "string"
          },
          "direction": {
            "type": "string"
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "LeadListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiResponse"
          },
          {
            "type": "object",
            "properties": {
              "responseData": {
                "type": "object",
                "properties": {
                  "leads": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Lead"
                    }
                  },
                  "paginator": {
                    "$ref": "#/components/schemas/Paginator"
                  }
                }
              }
            }
          }
        ]
      },
      "LeadViewResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiResponse"
          },
          {
            "type": "object",
            "properties": {
              "responseData": {
                "type": "object",
                "properties": {
                  "lead_data": {
                    "$ref": "#/components/schemas/LeadDetail"
                  }
                }
              }
            }
          }
        ]
      },
      "LeadAddRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "mobile_number": {
            "type": "string"
          },
          "consent_email": {
            "type": "boolean"
          },
          "consent_sms": {
            "type": "boolean"
          },
          "contact_lifecycle_stage_id": {
            "type": "integer",
            "minimum": 1,
            "maximum": 9
          },
          "custom_data": {
            "type": "string",
            "description": "JSON string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "birth_date": {
            "type": "string",
            "format": "date",
            "description": "Format: Y-m-d"
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "update_enabled": {
            "type": "boolean",
            "description": "Set to true to update existing contact in the same request"
          }
        },
        "required": [
          "consent_email",
          "consent_sms"
        ]
      },
      "LeadEditRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "mobile_number": {
            "type": "string"
          },
          "consent_email": {
            "type": "boolean"
          },
          "consent_sms": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "birth_date": {
            "type": "string",
            "format": "date"
          },
          "contact_lifecycle_stage_id": {
            "type": "integer",
            "minimum": 1,
            "maximum": 9
          },
          "sales_sequence_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          }
        }
      },
      "LeadEditByEmailRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "mobile_number": {
            "type": "string"
          },
          "consent_email": {
            "type": "boolean"
          },
          "consent_sms": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "birth_date": {
            "type": "string",
            "format": "date"
          },
          "contact_lifecycle_stage_id": {
            "type": "integer",
            "minimum": 1,
            "maximum": 9
          },
          "sales_sequence_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          }
        },
        "required": [
          "email"
        ]
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "mobile_number": {
            "type": "string",
            "nullable": true
          },
          "birth_date": {
            "type": "string",
            "nullable": true,
            "format": "date"
          },
          "consent_email": {
            "type": "boolean"
          },
          "consent_sms": {
            "type": "boolean"
          },
          "email_status_id": {
            "type": "integer"
          },
          "creation_date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContactListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiResponse"
          },
          {
            "type": "object",
            "properties": {
              "responseData": {
                "type": "object",
                "properties": {
                  "contacts": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  },
                  "paginator": {
                    "$ref": "#/components/schemas/Paginator"
                  }
                }
              }
            }
          }
        ]
      },
      "ContactViewResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiResponse"
          },
          {
            "type": "object",
            "properties": {
              "responseData": {
                "type": "object",
                "properties": {
                  "contact_data": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          }
        ]
      },
      "ContactAddRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "mobile_number": {
            "type": "string"
          },
          "consent_email": {
            "type": "integer",
            "description": "1 for consent, 0 for no consent"
          },
          "consent_sms": {
            "type": "integer",
            "description": "1 for consent, 0 for no consent"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "birth_date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "FieldListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiResponse"
          },
          {
            "type": "object",
            "properties": {
              "responseData": {
                "type": "object",
                "properties": {
                  "fields": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "label": {
                          "type": "string"
                        },
                        "var": {
                          "type": "string"
                        },
                        "attributes": {
                          "type": "string"
                        },
                        "creation_date": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "EmailTemplateListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiResponse"
          },
          {
            "type": "object",
            "properties": {
              "responseData": {
                "type": "object",
                "properties": {
                  "email_template": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "title": {
                          "type": "string"
                        },
                        "image_template": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "EmailActivityLogResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiResponse"
          },
          {
            "type": "object",
            "properties": {
              "responseData": {
                "type": "object",
                "properties": {
                  "logs": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "subject": {
                          "type": "string"
                        },
                        "to": {
                          "type": "string"
                        },
                        "from": {
                          "type": "string"
                        },
                        "event": {
                          "type": "string"
                        },
                        "reason": {
                          "type": "string"
                        },
                        "channel": {
                          "type": "string"
                        },
                        "activity_date": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "paginator": {
                    "$ref": "#/components/schemas/Paginator"
                  }
                }
              }
            }
          }
        ]
      },
      "SmsSendRequest": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "recipient": {
            "type": "string"
          },
          "sender": {
            "type": "string",
            "description": "Max 11 characters, no special characters allowed"
          },
          "send_time": {
            "type": "integer",
            "description": "Unix timestamp for scheduled sending"
          }
        },
        "required": [
          "message",
          "recipient",
          "sender"
        ]
      },
      "WhatsappSendRequest": {
        "type": "object",
        "properties": {
          "template_slug": {
            "type": "string"
          },
          "from": {
            "type": "string",
            "description": "Virtual phone number, start with country code (e.g. 351910000000)"
          },
          "to": {
            "type": "string",
            "description": "Recipient phone number, start with country code"
          },
          "parameters": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Only send parameters if the template has variables"
          }
        },
        "required": [
          "template_slug",
          "from",
          "to"
        ]
      },
      "WhatsappTemplateListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiResponse"
          },
          {
            "type": "object",
            "properties": {
              "responseData": {
                "type": "object",
                "properties": {
                  "whatsappTemplate": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "variables": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "creation_date": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "CompanyNumberListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiResponse"
          },
          {
            "type": "object",
            "properties": {
              "responseData": {
                "type": "object",
                "properties": {
                  "senders": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "number": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "TopicListResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiResponse"
          },
          {
            "type": "object",
            "properties": {
              "responseData": {
                "type": "object",
                "properties": {
                  "topics": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Topic"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "TopicViewResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiResponse"
          },
          {
            "type": "object",
            "properties": {
              "responseData": {
                "type": "object",
                "properties": {
                  "topic": {
                    "$ref": "#/components/schemas/Topic"
                  }
                }
              }
            }
          }
        ]
      },
      "Topic": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "creation_date": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api-key"
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Company Number"
    },
    {
      "name": "Contact"
    },
    {
      "name": "Contact Lifecycle Stage"
    },
    {
      "name": "Contact Tag"
    },
    {
      "name": "Email Activity"
    },
    {
      "name": "Email Template"
    },
    {
      "name": "Field"
    },
    {
      "name": "Lead"
    },
    {
      "name": "Sales Sequence"
    },
    {
      "name": "Sms"
    },
    {
      "name": "Sms Balance"
    },
    {
      "name": "Tag"
    },
    {
      "name": "Topic"
    },
    {
      "name": "User"
    },
    {
      "name": "Utils"
    },
    {
      "name": "Whatsapp"
    }
  ]
}