{
  "openapi": "3.0.3",
  "info": {
    "title": "Fixer API",
    "version": "1.0.0",
    "description": "Powered by 15+ exchange rate data sources, the Fixer API delivers real-time exchange rate data for 170 world currencies. Endpoints include latest rates, historical rates, currency conversion, time-series data, and fluctuation data.",
    "x-jentic-source-url": "https://fixer.io/documentation"
  },
  "servers": [
    {
      "url": "https://data.fixer.io/api"
    }
  ],
  "paths": {
    "/symbols": {
      "get": {
        "operationId": "getSupportedSymbols",
        "summary": "Get supported currency symbols",
        "description": "Returns all available currencies with their respective three-letter currency codes and names.",
        "tags": ["Symbols"],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your API Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with currency symbols",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SymbolsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/latest": {
      "get": {
        "operationId": "getLatestRates",
        "summary": "Get latest exchange rates",
        "description": "Returns real-time exchange rate data updated every 60 minutes, every 10 minutes or every 60 seconds depending on subscription plan.",
        "tags": ["Rates"],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your API Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "description": "Three-letter currency code of preferred base currency. Default is EUR.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "Comma-separated list of currency codes to limit output currencies",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP callback function name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with latest exchange rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{date}": {
      "get": {
        "operationId": "getHistoricalRates",
        "summary": "Get historical exchange rates",
        "description": "Returns historical exchange rate data for a specific date. Historical rates are available for most currencies back to 1999.",
        "tags": ["Rates"],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Date for historical rates in YYYY-MM-DD format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "access_key",
            "in": "query",
            "description": "Your API Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "description": "Three-letter currency code of preferred base currency",
            "required": false,
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "Comma-separated list of currency codes to limit output currencies",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with historical exchange rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalRatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/convert": {
      "get": {
        "operationId": "convertCurrency",
        "summary": "Convert currency",
        "description": "Converts any amount from one currency to another using real-time or historical exchange rates.",
        "tags": ["Conversion"],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your API Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Three-letter currency code of the source currency",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Three-letter currency code of the target currency",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "description": "The amount to convert",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Optional date for historical conversion in YYYY-MM-DD format",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful conversion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/timeseries": {
      "get": {
        "operationId": "getTimeSeries",
        "summary": "Get time-series exchange rate data",
        "description": "Returns daily historical exchange rate data between two specified dates for all available or a specific set of currencies.",
        "tags": ["TimeSeries"],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your API Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date of the time series in YYYY-MM-DD format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date of the time series in YYYY-MM-DD format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "base",
            "in": "query",
            "description": "Three-letter currency code of preferred base currency",
            "required": false,
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "Comma-separated list of currency codes to limit output currencies",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful time-series response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fluctuation": {
      "get": {
        "operationId": "getFluctuation",
        "summary": "Get currency fluctuation data",
        "description": "Returns fluctuation data between two specified dates for all available or a specific set of currencies.",
        "tags": ["Fluctuation"],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your API Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date in YYYY-MM-DD format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date in YYYY-MM-DD format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "base",
            "in": "query",
            "description": "Three-letter currency code of preferred base currency",
            "required": false,
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "Comma-separated list of currency codes to limit output currencies",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful fluctuation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FluctuationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RatesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the API request succeeded"
          },
          "timestamp": {
            "type": "integer",
            "description": "UNIX timestamp when rates were collected"
          },
          "base": {
            "type": "string",
            "description": "Three-letter base currency code"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Date the rates were collected"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "Exchange rate data keyed by currency code"
          }
        }
      },
      "HistoricalRatesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the API request succeeded"
          },
          "historical": {
            "type": "boolean",
            "description": "True if historical rates were requested"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Date for which historical rates were requested"
          },
          "timestamp": {
            "type": "integer",
            "description": "UNIX timestamp when rates were collected"
          },
          "base": {
            "type": "string",
            "description": "Three-letter base currency code"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "Exchange rate data keyed by currency code"
          }
        }
      },
      "ConvertResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the API request succeeded"
          },
          "query": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "description": "Source currency code"
              },
              "to": {
                "type": "string",
                "description": "Target currency code"
              },
              "amount": {
                "type": "number",
                "description": "Amount converted"
              }
            }
          },
          "info": {
            "type": "object",
            "properties": {
              "timestamp": {
                "type": "integer",
                "description": "UNIX timestamp of the rate used"
              },
              "rate": {
                "type": "number",
                "description": "Exchange rate used for conversion"
              }
            }
          },
          "historical": {
            "type": "boolean",
            "description": "True if historical rate was used"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Date of the conversion rate"
          },
          "result": {
            "type": "number",
            "description": "Converted amount"
          }
        }
      },
      "TimeSeriesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the API request succeeded"
          },
          "timeseries": {
            "type": "boolean",
            "description": "True for time-series requests"
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "description": "Start date of the time series"
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "description": "End date of the time series"
          },
          "base": {
            "type": "string",
            "description": "Three-letter base currency code"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "number"
              }
            },
            "description": "Exchange rates keyed by date, then by currency code"
          }
        }
      },
      "FluctuationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the API request succeeded"
          },
          "fluctuation": {
            "type": "boolean",
            "description": "True for fluctuation requests"
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "description": "Start date of the fluctuation period"
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "description": "End date of the fluctuation period"
          },
          "base": {
            "type": "string",
            "description": "Three-letter base currency code"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/FluctuationData"
            },
            "description": "Fluctuation data keyed by currency code"
          }
        }
      },
      "FluctuationData": {
        "type": "object",
        "properties": {
          "start_rate": {
            "type": "number",
            "description": "Rate at the start of the period"
          },
          "end_rate": {
            "type": "number",
            "description": "Rate at the end of the period"
          },
          "change": {
            "type": "number",
            "description": "Absolute change"
          },
          "change_pct": {
            "type": "number",
            "description": "Percentage change"
          }
        }
      },
      "SymbolsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the API request succeeded"
          },
          "symbols": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Available currencies keyed by three-letter code with full name as value"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [false]
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Error code"
              },
              "type": {
                "type": "string",
                "description": "Error type identifier"
              },
              "info": {
                "type": "string",
                "description": "Human-readable error description"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "access_key",
        "in": "query",
        "description": "API key passed as access_key query parameter"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}
