{
  "openapi": "3.0.3",
  "info": {
    "title": "WorkflowMax API",
    "version": "2.0.0",
    "description": "WorkflowMax project management and job costing API. Manage jobs, clients, staff, timesheets, costs, leads, quotes, invoices, suppliers, and purchase orders.",
    "x-jentic-source-url": "https://app.theneo.io/workflowmax/workflowmax-api-v2/overview"
  },
  "servers": [{"url": "https://api.workflowmax.com"}],
  "paths": {
    "/v2/me": {"get": {"operationId": "getMe", "summary": "Get current user", "tags": ["Authentication"], "responses": {"200": {"description": "Current user"}, "401": {"description": "Unauthorized"}}}},
    "/v2/accounts": {"get": {"operationId": "listAccounts", "summary": "List accounts", "tags": ["Authentication"], "responses": {"200": {"description": "Account list"}, "401": {"description": "Unauthorized"}}}},
    "/v2/roles": {"get": {"operationId": "listRoles", "summary": "List roles", "tags": ["Settings"], "responses": {"200": {"description": "Role list"}, "401": {"description": "Unauthorized"}}}},
    "/v2/custom-fields": {
      "get": {"operationId": "listCustomFields", "summary": "List custom fields", "tags": ["Settings"], "responses": {"200": {"description": "Field list"}, "401": {"description": "Unauthorized"}}},
      "post": {"operationId": "createCustomField", "summary": "Create custom field", "tags": ["Settings"], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized"}}}
    },
    "/v2/custom-fields/{UUID}": {"put": {"operationId": "updateCustomField", "summary": "Update custom field", "tags": ["Settings"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Updated"}, "401": {"description": "Unauthorized"}}}},
    "/v2/taxes": {"get": {"operationId": "listTaxes", "summary": "List taxes", "tags": ["Settings"], "responses": {"200": {"description": "Tax list"}, "401": {"description": "Unauthorized"}}}},
    "/v2/business-structures": {"get": {"operationId": "listBusinessStructures", "summary": "List business structures", "tags": ["Settings"], "responses": {"200": {"description": "Structure list"}, "401": {"description": "Unauthorized"}}}},
    "/v2/client-types": {"get": {"operationId": "listClientTypes", "summary": "List client types", "tags": ["Settings"], "responses": {"200": {"description": "Type list"}, "401": {"description": "Unauthorized"}}}},
    "/v2/jobs": {
      "get": {"operationId": "listJobs", "summary": "List jobs", "tags": ["Jobs"], "responses": {"200": {"description": "Job list"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}},
      "post": {"operationId": "createJob", "summary": "Create job", "tags": ["Jobs"], "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "400": {"description": "Bad request"}, "401": {"description": "Unauthorized"}}}
    },
    "/v2/jobs/{Identifier}": {
      "get": {"operationId": "getJob", "summary": "Get job", "tags": ["Jobs"], "parameters": [{"name": "Identifier", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Job details"}, "401": {"description": "Unauthorized"}}},
      "put": {"operationId": "updateJob", "summary": "Update job", "tags": ["Jobs"], "parameters": [{"name": "Identifier", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Updated"}, "401": {"description": "Unauthorized"}}},
      "delete": {"operationId": "deleteJob", "summary": "Delete job", "tags": ["Jobs"], "parameters": [{"name": "Identifier", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "Deleted"}, "401": {"description": "Unauthorized"}}}
    },
    "/v2/jobs/{UUID}/costs": {
      "get": {"operationId": "listJobCosts", "summary": "List job costs", "tags": ["Jobs"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Cost list"}, "401": {"description": "Unauthorized"}}},
      "put": {"operationId": "updateJobCost", "summary": "Update job cost", "tags": ["Jobs"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Updated"}, "401": {"description": "Unauthorized"}}}
    },
    "/v2/jobs/tasks": {"get": {"operationId": "listAllJobTasks", "summary": "List all job tasks", "tags": ["Jobs"], "responses": {"200": {"description": "Task list"}, "401": {"description": "Unauthorized"}}}},
    "/v2/jobs/{identifier}/tasks": {"post": {"operationId": "createJobTask", "summary": "Create job task", "tags": ["Jobs"], "parameters": [{"name": "identifier", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized"}}}},
    "/v2/staff": {
      "get": {"operationId": "listStaff", "summary": "List staff", "tags": ["Staff"], "responses": {"200": {"description": "Staff list"}, "401": {"description": "Unauthorized"}}},
      "post": {"operationId": "createStaff", "summary": "Create staff", "tags": ["Staff"], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized"}}}
    },
    "/v2/staff/{UUID}": {
      "get": {"operationId": "getStaff", "summary": "Get staff member", "tags": ["Staff"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Staff details"}, "401": {"description": "Unauthorized"}}},
      "put": {"operationId": "updateStaff", "summary": "Update staff", "tags": ["Staff"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Updated"}, "401": {"description": "Unauthorized"}}}
    },
    "/v2/timesheets": {
      "get": {"operationId": "listTimesheets", "summary": "List timesheets", "tags": ["Timesheets"], "responses": {"200": {"description": "Timesheet list"}, "401": {"description": "Unauthorized"}}},
      "post": {"operationId": "createTimesheet", "summary": "Create timesheet", "tags": ["Timesheets"], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized"}}}
    },
    "/v2/timesheets/{UUID}": {
      "get": {"operationId": "getTimesheet", "summary": "Get timesheet", "tags": ["Timesheets"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Timesheet"}, "401": {"description": "Unauthorized"}}},
      "put": {"operationId": "updateTimesheet", "summary": "Update timesheet", "tags": ["Timesheets"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Updated"}, "401": {"description": "Unauthorized"}}},
      "delete": {"operationId": "deleteTimesheet", "summary": "Delete timesheet", "tags": ["Timesheets"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "Deleted"}, "401": {"description": "Unauthorized"}}}
    },
    "/v2/clients": {
      "get": {"operationId": "listClients", "summary": "List clients", "tags": ["Clients"], "responses": {"200": {"description": "Client list"}, "401": {"description": "Unauthorized"}}},
      "post": {"operationId": "createClient", "summary": "Create client", "tags": ["Clients"], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized"}}}
    },
    "/v2/clients/{UUID}": {"get": {"operationId": "getClient", "summary": "Get client", "tags": ["Clients"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Client details"}, "401": {"description": "Unauthorized"}}}},
    "/v2/leads": {
      "get": {"operationId": "listLeads", "summary": "List leads", "tags": ["Leads"], "responses": {"200": {"description": "Lead list"}, "401": {"description": "Unauthorized"}}},
      "post": {"operationId": "createLead", "summary": "Create lead", "tags": ["Leads"], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized"}}}
    },
    "/v2/leads/{UUID}": {
      "get": {"operationId": "getLead", "summary": "Get lead", "tags": ["Leads"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Lead details"}, "401": {"description": "Unauthorized"}}},
      "put": {"operationId": "updateLead", "summary": "Update lead", "tags": ["Leads"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Updated"}, "401": {"description": "Unauthorized"}}}
    },
    "/v2/quotes": {"get": {"operationId": "listQuotes", "summary": "List quotes", "tags": ["Quotes & Invoices"], "responses": {"200": {"description": "Quote list"}, "401": {"description": "Unauthorized"}}}},
    "/v2/quotes/{UUID}": {"get": {"operationId": "getQuote", "summary": "Get quote", "tags": ["Quotes & Invoices"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Quote details"}, "401": {"description": "Unauthorized"}}}},
    "/v2/invoices": {"get": {"operationId": "listInvoices", "summary": "List invoices", "tags": ["Quotes & Invoices"], "responses": {"200": {"description": "Invoice list"}, "401": {"description": "Unauthorized"}}}},
    "/v2/invoices/{UUID}": {"get": {"operationId": "getInvoice", "summary": "Get invoice", "tags": ["Quotes & Invoices"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Invoice details"}, "401": {"description": "Unauthorized"}}}},
    "/v2/payments": {"get": {"operationId": "listPayments", "summary": "List payments", "tags": ["Quotes & Invoices"], "responses": {"200": {"description": "Payment list"}, "401": {"description": "Unauthorized"}}}},
    "/v2/suppliers": {
      "get": {"operationId": "listSuppliers", "summary": "List suppliers", "tags": ["Suppliers"], "responses": {"200": {"description": "Supplier list"}, "401": {"description": "Unauthorized"}}},
      "post": {"operationId": "createSupplier", "summary": "Create supplier", "tags": ["Suppliers"], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized"}}}
    },
    "/v2/suppliers/{UUID}": {
      "get": {"operationId": "getSupplier", "summary": "Get supplier", "tags": ["Suppliers"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Supplier details"}, "401": {"description": "Unauthorized"}}},
      "put": {"operationId": "updateSupplier", "summary": "Update supplier", "tags": ["Suppliers"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Updated"}, "401": {"description": "Unauthorized"}}},
      "delete": {"operationId": "deleteSupplier", "summary": "Delete supplier", "tags": ["Suppliers"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "Deleted"}, "401": {"description": "Unauthorized"}}}
    },
    "/v2/purchase-orders": {
      "get": {"operationId": "listPurchaseOrders", "summary": "List purchase orders", "tags": ["Purchase Orders"], "responses": {"200": {"description": "PO list"}, "401": {"description": "Unauthorized"}}},
      "post": {"operationId": "createPurchaseOrder", "summary": "Create purchase order", "tags": ["Purchase Orders"], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized"}}}
    },
    "/v2/purchase-orders/{UUID}": {"get": {"operationId": "getPurchaseOrder", "summary": "Get purchase order", "tags": ["Purchase Orders"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "PO details"}, "401": {"description": "Unauthorized"}}}},
    "/v2/costs": {
      "get": {"operationId": "listCosts", "summary": "List costs", "tags": ["Costs"], "responses": {"200": {"description": "Cost list"}, "401": {"description": "Unauthorized"}}},
      "post": {"operationId": "createCost", "summary": "Create cost", "tags": ["Costs"], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized"}}}
    },
    "/v2/costs/{UUID}": {
      "get": {"operationId": "getCost", "summary": "Get cost", "tags": ["Costs"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Cost details"}, "401": {"description": "Unauthorized"}}},
      "put": {"operationId": "updateCost", "summary": "Update cost", "tags": ["Costs"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Updated"}, "401": {"description": "Unauthorized"}}},
      "delete": {"operationId": "deleteCost", "summary": "Delete cost", "tags": ["Costs"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "Deleted"}, "401": {"description": "Unauthorized"}}}
    },
    "/v2/tasks": {
      "get": {"operationId": "listTasks", "summary": "List tasks", "tags": ["Tasks"], "responses": {"200": {"description": "Task list"}, "401": {"description": "Unauthorized"}}},
      "post": {"operationId": "createTask", "summary": "Create task", "tags": ["Tasks"], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized"}}}
    },
    "/v2/tasks/{UUID}": {
      "get": {"operationId": "getTask", "summary": "Get task", "tags": ["Tasks"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Task details"}, "401": {"description": "Unauthorized"}}},
      "put": {"operationId": "updateTask", "summary": "Update task", "tags": ["Tasks"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Updated"}, "401": {"description": "Unauthorized"}}},
      "delete": {"operationId": "deleteTask", "summary": "Delete task", "tags": ["Tasks"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "Deleted"}, "401": {"description": "Unauthorized"}}}
    },
    "/v2/client-groups": {
      "get": {"operationId": "listClientGroups", "summary": "List client groups", "tags": ["Client Groups"], "responses": {"200": {"description": "Group list"}, "401": {"description": "Unauthorized"}}},
      "post": {"operationId": "createClientGroup", "summary": "Create client group", "tags": ["Client Groups"], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"201": {"description": "Created"}, "401": {"description": "Unauthorized"}}}
    },
    "/v2/client-groups/{UUID}": {
      "get": {"operationId": "getClientGroup", "summary": "Get client group", "tags": ["Client Groups"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Group details"}, "401": {"description": "Unauthorized"}}},
      "put": {"operationId": "updateClientGroup", "summary": "Update client group", "tags": ["Client Groups"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object"}}}}, "responses": {"200": {"description": "Updated"}, "401": {"description": "Unauthorized"}}},
      "delete": {"operationId": "deleteClientGroup", "summary": "Delete client group", "tags": ["Client Groups"], "parameters": [{"name": "UUID", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"204": {"description": "Deleted"}, "401": {"description": "Unauthorized"}}}
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {"type": "object", "properties": {"error": {"type": "string"}, "message": {"type": "string"}}}
    },
    "securitySchemes": {
      "oauth2": {"type": "oauth2", "flows": {"authorizationCode": {"authorizationUrl": "https://oauth.workflowmax.com/authorize", "tokenUrl": "https://oauth.workflowmax.com/token", "scopes": {}}}}
    }
  },
  "security": [{"oauth2": []}]
}
