{
  "openapi": "3.0.3",
  "info": {
    "title": "Taggbox Widget API",
    "version": "1.0.0",
    "description": "Taggbox Widget API for retrieving gallery, feed, and post information from social media aggregation widgets.",
    "x-jentic-source-url": "https://taggbox.com/support/api/widget-api/"
  },
  "servers": [
    {
      "url": "https://api.taggbox.com/api/v1/support"
    }
  ],
  "paths": {
    "/galleries": {
      "get": {
        "operationId": "getgalleries",
        "summary": "Get gallery information",
        "tags": [
          "Galleries"
        ],
        "parameters": [
          {
            "name": "user_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API authentication key"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          }
        ],
        "responses": {
          "200": {
            "description": "Gallery information retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "responseCode": {
                      "type": "integer"
                    },
                    "responseStatus": {
                      "type": "string"
                    },
                    "responseData": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Gallery"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/feeds": {
      "get": {
        "operationId": "getfeeds",
        "summary": "Get feed information for a gallery",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "name": "user_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API authentication key"
          },
          {
            "name": "galleryId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unique gallery identifier"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          }
        ],
        "responses": {
          "200": {
            "description": "Feed information retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "responseCode": {
                      "type": "integer"
                    },
                    "responseStatus": {
                      "type": "string"
                    },
                    "responseData": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Feed"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/posts": {
      "get": {
        "operationId": "getposts",
        "summary": "Get posts for a gallery",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "user_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API authentication key"
          },
          {
            "name": "galleryId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Gallery identifier"
          },
          {
            "name": "feedId",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            },
            "description": "Filter by feed ID(s)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "default": 10
            },
            "description": "Number of posts to retrieve (max 100)"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of posts to skip"
          },
          {
            "name": "networkId",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            },
            "description": "Filter by network IDs (1-45)"
          },
          {
            "name": "productId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by product ID"
          },
          {
            "name": "taggedOnly",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Only return tagged posts"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          }
        ],
        "responses": {
          "200": {
            "description": "Posts retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "responseCode": {
                      "type": "integer"
                    },
                    "responseStatus": {
                      "type": "string"
                    },
                    "responseData": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Post"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Gallery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "configuration": {
            "type": "object"
          }
        }
      },
      "Feed": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "networkId": {
            "type": "integer"
          }
        }
      },
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "content": {
            "type": "string"
          },
          "mediaUrl": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "networkId": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "productInfo": {
            "type": "object"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "responseCode": {
            "type": "integer"
          },
          "responseStatus": {
            "type": "string"
          },
          "responseMessage": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "user_key",
        "description": "API authentication key"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request or missing parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Feeds",
      "description": "Operations related to Feeds"
    },
    {
      "name": "Galleries",
      "description": "Operations related to Galleries"
    },
    {
      "name": "Posts",
      "description": "Operations related to Posts"
    }
  ]
}