{
  "openapi": "3.0.3",
  "info": {
    "title": "SleekFlow API",
    "description": "SleekFlow is a messaging platform that enables businesses to communicate with customers across multiple channels including WhatsApp, Facebook Messenger, SMS, WeChat, LINE, and web chat. The API allows you to send messages, manage contacts, and automate customer communication workflows.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://documenter.getpostman.com/view/3229431/TVCZZAzb",
    "contact": {
      "name": "SleekFlow",
      "url": "https://sleekflow.io"
    }
  },
  "servers": [
    {
      "url": "https://api.sleekflow.io",
      "description": "SleekFlow API Server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/zapier/me": {
      "get": {
        "operationId": "authenticateUser",
        "summary": "Authenticate user",
        "description": "Verify API credentials and retrieve authenticated user information.",
        "tags": ["Authentication"],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "API key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "user": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/message/send": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send message",
        "description": "Send a message to a contact through various channels including WhatsApp, Facebook Messenger, SMS, WeChat, LINE, or web chat.",
        "tags": ["Messages"],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "API key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "messageId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/contact/add": {
      "post": {
        "operationId": "createContact",
        "summary": "Create new contact",
        "description": "Create a new contact in SleekFlow with custom fields, labels, and lists.",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "API key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "contactId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/contact": {
      "get": {
        "operationId": "getContact",
        "summary": "Get contact",
        "description": "Retrieve contact information from SleekFlow.",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "API key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/contact/update": {
      "get": {
        "operationId": "updateContact",
        "summary": "Update existing contact",
        "description": "Update an existing contact's information in SleekFlow.",
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "API key for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "contactId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "API key for authentication. Obtain this from your SleekFlow account settings."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        },
        "required": ["success", "error"]
      },
      "SendMessageRequest": {
        "type": "object",
        "required": ["messageType", "channel", "messageContent"],
        "properties": {
          "messageType": {
            "type": "string",
            "enum": ["text", "file"],
            "description": "Type of message to send"
          },
          "channel": {
            "type": "string",
            "enum": ["whatsapp", "facebook", "sms", "wechat", "line", "webchat"],
            "description": "Message channel connected in your company"
          },
          "messageContent": {
            "type": "string",
            "description": "Content of the message"
          },
          "from": {
            "type": "string",
            "description": "For SMS and WhatsApp, define the sender ID",
            "nullable": true
          },
          "to": {
            "type": "string",
            "description": "For SMS and WhatsApp, define target phone number",
            "nullable": true
          },
          "FacebookReceiverId": {
            "type": "string",
            "description": "For Facebook, define the target PSID",
            "nullable": true
          },
          "WebClientReceiverId": {
            "type": "string",
            "description": "For SleekFlow Web Widget, define the widget ID",
            "nullable": true
          },
          "LineReceiverId": {
            "type": "string",
            "description": "For LINE, define the LINE ID",
            "nullable": true
          },
          "WeChatReceiverOpenId": {
            "type": "string",
            "description": "For WeChat, define the WeChat OpenID",
            "nullable": true
          },
          "fileURLs": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": true
            },
            "description": "For sending attachments, define the URLs"
          }
        }
      },
      "ContactRequest": {
        "type": "object",
        "properties": {
          "FirstName": {
            "type": "string",
            "description": "Contact's first name"
          },
          "LastName": {
            "type": "string",
            "description": "Contact's last name"
          },
          "WhatsAppPhoneNumber": {
            "type": "string",
            "description": "Contact's WhatsApp phone number"
          },
          "Email": {
            "type": "string",
            "format": "email",
            "description": "Contact's email address"
          },
          "CustomFieldNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of custom field names and values in format 'FieldName: Value'"
          },
          "CustomFieldValues": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Array of custom field values"
          },
          "ActivityLogs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Activity logs for the contact"
          },
          "Labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Labels to assign to the contact"
          },
          "ListIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List IDs to add the contact to"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Contact ID"
          },
          "FirstName": {
            "type": "string",
            "description": "Contact's first name"
          },
          "LastName": {
            "type": "string",
            "description": "Contact's last name"
          },
          "WhatsAppPhoneNumber": {
            "type": "string",
            "description": "Contact's WhatsApp phone number"
          },
          "Email": {
            "type": "string",
            "format": "email",
            "description": "Contact's email address"
          },
          "CustomFieldNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Custom field names and values"
          },
          "ActivityLogs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Activity logs for the contact"
          },
          "Labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Labels assigned to the contact"
          },
          "ListIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List IDs the contact belongs to"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Authentication endpoints for verifying API credentials"
    },
    {
      "name": "Messages",
      "description": "Endpoints for sending messages across multiple channels"
    },
    {
      "name": "Contacts",
      "description": "Endpoints for managing contacts"
    }
  ]
}
