{
  "openapi": "3.0.3",
  "info": {
    "title": "Trimble Maps RESTful APIs",
    "version": "1.0.0",
    "description": "Trimble Maps provides routing, location, mapping, places, trip management, and fleet APIs for the transportation industry.",
    "x-jentic-source-url": "https://developer.trimblemaps.com/restful-apis/developer-guide/introduction/"
  },
  "servers": [
    {
      "url": "https://pcmiler.alk.com/apis/rest/v1.0/service.svc",
      "description": "Routing, Mapping, Location"
    },
    {
      "url": "https://singlesearch.alk.com",
      "description": "Single Search"
    },
    {
      "url": "https://www.api.trimblemaps.com/places/v1",
      "description": "Places"
    },
    {
      "url": "https://tripmanagement.trimblemaps.com/api",
      "description": "Trip Management"
    },
    {
      "url": "https://accounts-api.trimblemaps.com",
      "description": "Account Manager"
    }
  ],
  "paths": {
    "/route/routePath": {
      "get": {
        "operationId": "getRoutePath",
        "summary": "Calculate a route path",
        "tags": [
          "Routing"
        ],
        "parameters": [
          {
            "name": "authToken",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/route/directions": {
      "get": {
        "operationId": "getRouteDirections",
        "summary": "Get route directions",
        "tags": [
          "Routing"
        ],
        "parameters": [
          {
            "name": "authToken",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/route/mileage": {
      "get": {
        "operationId": "getRouteMileage",
        "summary": "Get route mileage",
        "tags": [
          "Routing"
        ],
        "parameters": [
          {
            "name": "authToken",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/locations/reverse": {
      "get": {
        "operationId": "reverseGeocode",
        "summary": "Reverse geocode coordinates",
        "tags": [
          "Location"
        ],
        "parameters": [
          {
            "name": "authToken",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/locations/geocode": {
      "get": {
        "operationId": "geocode",
        "summary": "Forward geocode an address",
        "tags": [
          "Location"
        ],
        "parameters": [
          {
            "name": "authToken",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "authToken"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}