{
  "openapi": "3.0.0",
  "info": {
    "title": "5centsCDN - Transcoding",
    "description": "API for managing Transcoding in <a href=\"https://www.5centscdn.net\" target=\"_blank\">5centsCDN</a>",
    "version": "2.0.0",
    "contact": {
      "email": "help@5centscdn.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/5centscdnInc/5centsCDN-Transcoding/2.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.5centscdn.com/v2",
      "description": "5centsCDN API Server - Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Video Encoding Jobs",
      "description": "endpoints related to manage Video Encoding"
    },
    {
      "name": "File Transcoding Profiles",
      "description": "endpoints related to Global Transcode Preset Profiles"
    },
    {
      "name": "Reports -  Video Encoding Minutes",
      "description": "Reports for  Video Transcoding Minutes"
    }
  ],
  "paths": {
    "/transcoding/jobs": {
      "get": {
        "tags": [
          "Video Encoding Jobs"
        ],
        "summary": "List Active Video Encoding Jobs",
        "description": "List all active / pending video encoding job queue for the service",
        "operationId": "getEncodingJobs",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "jobid": {
                        "type": "integer",
                        "format": "int32",
                        "description": "job id for the Video Encoding Job"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Zone ID for which the file is in"
                      },
                      "infile": {
                        "type": "string",
                        "description": "input file, relative path"
                      },
                      "outfile": {
                        "type": "string",
                        "description": "output file, relative path"
                      },
                      "percent": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Encoding Process percent"
                      },
                      "log": {
                        "type": "string",
                        "description": "Encoder output log"
                      },
                      "error": {
                        "type": "string",
                        "description": "Encoder Error log"
                      },
                      "profile": {
                        "type": "string",
                        "description": "The profile name to which the file is transcoded into"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transcoding/jobs/{zoneid}": {
      "post": {
        "tags": [
          "Video Encoding Jobs"
        ],
        "summary": "List Active Video Encoding Jobs by ZoneID",
        "description": "List all active / pending video encoding job queue for the zone",
        "operationId": "getEncodingJobsByZone",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "\\\"%\\\" to list all files or search text to filter by filename"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "jobid": {
                        "type": "integer",
                        "format": "int32",
                        "description": "job id for the Video Encoding Job"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Zone ID for which the file is in"
                      },
                      "infile": {
                        "type": "string",
                        "description": "input file, relative path"
                      },
                      "outfile": {
                        "type": "string",
                        "description": "output file, relative path"
                      },
                      "percent": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Encoding Process percent"
                      },
                      "log": {
                        "type": "string",
                        "description": "Encoder output log"
                      },
                      "error": {
                        "type": "string",
                        "description": "Encoder Error log"
                      },
                      "profile": {
                        "type": "string",
                        "description": "The profile name to which the file is transcoded into"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transcoding/jobs/{zoneid}/{profileid}": {
      "post": {
        "tags": [
          "Video Encoding Jobs"
        ],
        "summary": "Add Video Encoding Jobs",
        "description": "Add a file encoding job",
        "operationId": "addEncodingJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/zoneIdParam"
          },
          {
            "$ref": "#/components/parameters/profileIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "input file relative path"
                  },
                  "priority": {
                    "type": "integer",
                    "description": "encode job priority. 0 - High, 100 - Lowest"
                  },
                  "map": {
                    "description": "Video/Audio/Subtitle selection from input source",
                    "type": "object",
                    "properties": {
                      "video": {
                        "type": "integer",
                        "description": "video track index"
                      },
                      "audio": {
                        "type": "integer",
                        "description": "audio track index"
                      },
                      "subtitle": {
                        "type": "integer",
                        "description": "subtitle track index"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success or error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "success/error"
                    },
                    "jobid": {
                      "type": "integer",
                      "description": "video encoding jobid"
                    },
                    "message": {
                      "type": "string",
                      "description": "error message, only if error occurs"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transcoding/jobs/retry/{jobid}": {
      "get": {
        "tags": [
          "Video Encoding Jobs"
        ],
        "summary": "Retry enoding job",
        "description": "Retry an encoding job, after fixing issues",
        "operationId": "retryEncodingJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/jobIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "result": {
                        "type": "string",
                        "description": "success/error"
                      },
                      "message": {
                        "type": "string",
                        "description": "success/error message detail"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transcoding/jobs/cancel/{jobid}": {
      "get": {
        "tags": [
          "Video Encoding Jobs"
        ],
        "summary": "Cancel Enoding Job",
        "description": "Cancel an encoding job. Jobs can be cancelled only before its get processed.",
        "operationId": "cancelEncodingJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/jobIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "result": {
                        "type": "string",
                        "description": "success/error"
                      },
                      "message": {
                        "type": "string",
                        "description": "success/error message detail"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transcoding/file/profiles": {
      "get": {
        "tags": [
          "Video Encoding Profiles"
        ],
        "summary": "List File Transcoding Profiles",
        "description": "List File Transcoding Profiles",
        "operationId": "ProfilesList",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "profiles": {
                      "$ref": "#/components/schemas/transcodeProfileList"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transcoding/file/profiles/defaults": {
      "post": {
        "tags": [
          "Video Encoding Profiles"
        ],
        "summary": "Create Global Auto Transcode Preset Profiles",
        "description": "These presets will be automatically added to your new zones",
        "operationId": "createAutoTranscodeProfiles",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createDefaultProfiles"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transcoding/file/profiles/new": {
      "post": {
        "tags": [
          "Video Encoding Profiles"
        ],
        "summary": "Create Transcoding Profiles",
        "description": "Create Transcoding Profiles",
        "operationId": "createTranscodingProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createProfileCombined"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transcoding/file/profiles/{profileid}": {
      "post": {
        "tags": [
          "Video Encoding Profiles"
        ],
        "summary": "Edit Transcoding Profile",
        "description": "Edit Transcoding Profile",
        "operationId": "editTranscodingProfile",
        "parameters": [
          {
            "$ref": "#/components/parameters/profileIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editProfileCombined"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Video Encoding Profiles"
        ],
        "summary": "Delete Transcoding Profile",
        "description": "Delete the information of Transcoding Profile. To cast request method POST and parameters _METHOD = DELETE",
        "operationId": "deleteTranscodingProfile",
        "parameters": [
          {
            "$ref": "#/components/parameters/profileIdParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transcoding/file/filters": {
      "get": {
        "tags": [
          "Video Encoding Profiles"
        ],
        "summary": "List File Transcoding Filters",
        "description": "List File Transcoding Filters",
        "operationId": "transcodingFileFilter",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "filters": {
                      "$ref": "#/components/schemas/filtersList"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transcoding/file/filters/new": {
      "post": {
        "tags": [
          "Video Encoding Profiles"
        ],
        "summary": "Create File Transcoding Filters",
        "description": "Create File Transcoding Filters",
        "operationId": "createFileTranscodingFilter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createFileTranscodingFilter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transcoding/file/filters/{filterid}": {
      "post": {
        "tags": [
          "Video Encoding Profiles"
        ],
        "summary": "Edit Transcoding Profile Filter",
        "description": "Edit Transcoding Profile Filter",
        "operationId": "editTranscodingProfileFilter",
        "parameters": [
          {
            "$ref": "#/components/parameters/filterIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/editFileTranscodingFilter"
              }
            }
          }
        },
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Video Encoding Profiles"
        ],
        "summary": "Edit Transcoding Profile Filter",
        "description": "Delete the information of Transcoding Profile filter. To cast request method POST and parameters _METHOD = DELETE",
        "operationId": "deleteTranscodingProfileFilter",
        "parameters": [
          {
            "$ref": "#/components/parameters/filterIdParam"
          }
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transcoding/file/mins/stats": {
      "post": {
        "tags": [
          "Reports -  Video Encoding Minutes"
        ],
        "summary": "Reports by Video Transcoding Minutes",
        "description": "Get reports of Video Transcoding Minutes",
        "operationId": "reportVideoTranscodingMinutes",
        "parameters": [
          {
            "$ref": "#/components/parameters/rParam"
          },
          {
            "$ref": "#/components/parameters/fParam"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "zones": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "format": "int64"
                      }
                    },
                    "logs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/logsList"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "transcodeProfileList": {
        "properties": {
          "0": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "serviceid": {
                "type": "integer"
              },
              "type": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "filemode": {
                "type": "string"
              },
              "settings": {
                "$ref": "#/components/schemas/settingsList"
              },
              "codec": {
                "type": "string"
              }
            }
          }
        }
      },
      "filtersList": {
        "properties": {
          "0": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "serviceid": {
                "type": "integer"
              },
              "type": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "settings": {
                "$ref": "#/components/schemas/settingFilterList"
              }
            }
          }
        }
      },
      "settingFilterList": {
        "properties": {
          "filter": {
            "type": "string"
          },
          "args": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string"
              },
              "fontsize": {
                "type": "integer"
              },
              "fontcolor": {
                "type": "string"
              },
              "position": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "scale": {
                "type": "integer"
              }
            }
          }
        }
      },
      "settingsList": {
        "properties": {
          "name": {
            "type": "string"
          },
          "f": {
            "type": "string"
          },
          "cv": {
            "type": "string"
          },
          "sv": {
            "type": "string"
          },
          "svvalue": {
            "type": "string"
          },
          "crfv": {
            "type": "integer"
          },
          "bv": {
            "type": "integer"
          },
          "bvvalue": {
            "type": "integer"
          },
          "vpass": {
            "type": "integer"
          },
          "vprofile": {
            "type": "string"
          },
          "ca": {
            "type": "string"
          },
          "aca": {
            "type": "integer"
          },
          "ba": {
            "type": "integer"
          },
          "bavalue": {
            "type": "integer"
          },
          "ara": {
            "type": "integer"
          },
          "filemode": {
            "type": "string"
          }
        }
      },
      "logsList": {
        "properties": {
          "serverid": {
            "type": "integer",
            "format": "int64"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "type": "string"
          },
          "file": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          }
        }
      },
      "editFileTranscodingFilter": {
        "properties": {
          "args": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "description": "To specify Logo Url eg:http://example.com/logo.png"
              },
              "scale": {
                "type": "integer",
                "format": "int32",
                "description": "To specify scale values can be \tmin: 5, max: 150"
              },
              "position": {
                "type": "string",
                "description": "position of logo should be topleft,tocenter,topright,centerleft,center,centerright,bottomleft,bottomright,bottomcenter"
              },
              "text": {
                "type": "string",
                "description": "Enter watermark text"
              },
              "fontsize": {
                "type": "integer",
                "format": "int32",
                "description": "To specify text fontsize values can be \tmin: 8, max: 64 .eg: 16 ",
                "example": 16
              },
              "fontcolor": {
                "type": "string",
                "description": "To specify text font color for example #42A5F5"
              }
            }
          }
        }
      },
      "createFileTranscodingFilter": {
        "required": [
          "name",
          "_METHOD"
        ],
        "properties": {
          "_METHOD": {
            "type": "string",
            "description": "To cast request method POST to PUT",
            "example": "PUT"
          },
          "name": {
            "type": "string",
            "description": "Enter fliter name"
          },
          "filter": {
            "type": "string",
            "description": "Filter settings values can be overlay or drawtext"
          },
          "args": {
            "type": "object",
            "properties": {
              "overlay": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "To specify Logo Url eg: https://example.com/log.png"
                  },
                  "scale": {
                    "type": "integer",
                    "format": "int32",
                    "description": "To specify scale values can be \tmin: 5, max: 150"
                  },
                  "position": {
                    "type": "string",
                    "description": "position of logo should be topleft,tocenter,topright,centerleft,center,centerright,bottomleft,bottomright,bottomcenter"
                  }
                }
              },
              "drawtext": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "To specify watermark text"
                  },
                  "fontsize": {
                    "type": "integer",
                    "format": "int32",
                    "description": "To specify font size values can be \tmin: 8, max: 64 .eg: 16 ",
                    "example": 16
                  },
                  "fontcolor": {
                    "type": "string",
                    "description": "To specify text font color for example #42A5F5"
                  },
                  "position": {
                    "type": "string",
                    "description": "position of text should be topleft,tocenter,topright,centerleft,center,centerright,bottomleft,bottomright,bottomcenter"
                  }
                }
              }
            }
          }
        }
      },
      "createDefaultProfiles": {
        "properties": {
          "defaultprofiles": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64",
              "description": "defaultprofiles, Should be one of the profiles id from the GET /transcoding/file/profiles call"
            }
          }
        }
      },
      "createProfileCombined": {
        "required": [
          "name",
          "_METHOD"
        ],
        "properties": {
          "_METHOD": {
            "type": "string",
            "description": "To cast request method POST to PUT",
            "example": "PUT"
          },
          "filemode": {
            "type": "string",
            "description": "values can set Single or Combined",
            "example": "Single"
          },
          "name": {
            "type": "string",
            "description": "Enter profile name.<br>Each name should have minimum 3 chars."
          },
          "f": {
            "type": "string",
            "description": "Values can be mp4 or webm.",
            "example": "mp4"
          },
          "cv": {
            "type": "string",
            "description": "Values can be libx264,libx265 set Container Format is mp4. when Container Format is webm set value libvpx-vp9.",
            "example": "libx264"
          },
          "sv": {
            "type": "string",
            "description": "Resolution values can be 0,1,1080p,720p,576p,480p,360p or 240p",
            "example": 0
          },
          "svvalue": {
            "type": "string",
            "description": "value can be this format Width x Height set resolution quality is 0."
          },
          "crfv": {
            "type": "integer",
            "format": "int64",
            "description": "Constrained Quality values can be 18,24, or 28",
            "example": 28
          },
          "bv": {
            "type": "integer",
            "format": "int32",
            "description": "Values can be 0 or 1.<br>Set to 0 if Bitrate should be As Source.<br> Set to 1 if Bitrate should be As Defined."
          },
          "bvvalue": {
            "type": "integer",
            "format": "int64",
            "description": "values can be \tmin: 256, max: 4096"
          },
          "vpass": {
            "type": "integer",
            "format": "int32",
            "description": "Bitrate value should  be set  1 then set no of pass 1 or 2"
          },
          "vprofile": {
            "type": "string",
            "description": "Profile values can be disabled,baseline,main or high",
            "example": "disabled"
          },
          "vlevel": {
            "type": "string",
            "description": "Level. It can be set if  Profile is baseline,main or high. profile value is  set basline  value of level is 3.0 or 3.1. profile value is  set main  value of level is 3.1 or 4.0. profile value is  set high  value of level is 4.0,4.1 or 4.2"
          },
          "upscale": {
            "type": "string",
            "description": "Video upscaling value Y to set allow and N to to set disallow",
            "example": "Y"
          },
          "ca": {
            "type": "string",
            "description": "Codec. value can be set aac, libmp3lame,libvorbis or libopus",
            "example": "libmp3lame"
          },
          "aca": {
            "type": "integer",
            "format": "int32",
            "description": "Channels values can set 0,1 or 2",
            "example": 2
          },
          "ba": {
            "type": "integer",
            "format": "int32",
            "description": "Audio settings bitrate value can be 0 or 1."
          },
          "bavalue": {
            "type": "integer",
            "format": "int64",
            "description": "To specify audio bitrate  value can be \tmin: 48, max: 196",
            "example": 80
          },
          "ara": {
            "type": "integer",
            "format": "int64",
            "description": "Sample Rate can be set 44100 or 48000",
            "example": 44100
          },
          "tm": {
            "type": "string",
            "description": "To specify thumbnail Mode values can be disabled,fixed or interval.",
            "example": "disabled"
          },
          "tv": {
            "type": "string",
            "description": "To specify time in H:i:s format",
            "example": "00:00:00"
          },
          "filters": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32",
              "description": "filters, Should be one of the filter id from the GET /transcoding/file/filters call"
            }
          },
          "sourcevideo": {
            "type": "string",
            "description": "Filemode is Combined set Original Video Stream, Values can be Y or N. <br>Set to Y if Video Stream should be enabled.<br> Set to N if Video Stream should be disabled.",
            "example": "N"
          },
          "sourceaudio": {
            "type": "string",
            "description": "Filemode is Combined set Audio Streams, Values can be Y,O or A.",
            "example": "O"
          },
          "profiles": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64",
              "description": "Filemode is Combined set defaultprofiles, Should be one of the profiles id from the GET /transcoding/file/profiles call"
            }
          }
        }
      },
      "editProfileCombined": {
        "properties": {
          "filemode": {
            "type": "string",
            "description": "values can set Single or Combined",
            "example": "Single"
          },
          "f": {
            "type": "string",
            "description": "Values can be mp4 or webm.",
            "example": "mp4"
          },
          "cv": {
            "type": "string",
            "description": "Values can be libx264,libx265 set Container Format is mp4. when Container Format is webm set value libvpx-vp9.",
            "example": "libx264"
          },
          "sv": {
            "type": "string",
            "description": "Resolution values can be 0,1,1080p,720p,576p,480p,360p or 240p",
            "example": 0
          },
          "svvalue": {
            "type": "string",
            "description": "value can be this format Width x Height"
          },
          "crfv": {
            "type": "integer",
            "format": "int64",
            "description": "Constrained Quality values can be 18,24, or 28",
            "example": 24
          },
          "bv": {
            "type": "integer",
            "format": "int32",
            "description": "Values can be 0 or 1.<br>Set to 0 if Bitrate should be As Source.<br> Set to 1 if Bitrate should be As Defined."
          },
          "bvvalue": {
            "type": "integer",
            "format": "int64",
            "description": "values can be \tmin: 256, max: 4096"
          },
          "vpass": {
            "type": "integer",
            "format": "int32",
            "description": "Bitrate value should  be set  1 then set no pass 1 or 2"
          },
          "vprofile": {
            "type": "string",
            "description": "Profile values can be disabled,baseline,main or high",
            "example": "disabled"
          },
          "vlevel": {
            "type": "string",
            "description": "Level. It can be set if  Profile is baseline,main or high. profile value is  set basline  value of level is 3.0 or 3.1. profile value is  set main  value of level is 3.1 or 4.0. profile value is  set high  value of level is 4.0,4.1 or 4.2"
          },
          "upscale": {
            "type": "string",
            "description": "Video upscaling value Y to set allow and N to to set disallow",
            "example": "Y"
          },
          "ca": {
            "type": "string",
            "description": "Codec. value can be set aac, libmp3lame,libvorbis or libopus",
            "example": "aac"
          },
          "aca": {
            "type": "integer",
            "format": "int32",
            "description": "Channels values can set 0,1 or 2"
          },
          "ba": {
            "type": "integer",
            "format": "int32",
            "description": "Audio settings bitrate value can be 0 or 1."
          },
          "bavalue": {
            "type": "integer",
            "format": "int64",
            "description": "value can be \tmin: 48, max: 196",
            "example": 80
          },
          "ara": {
            "type": "integer",
            "format": "int64",
            "description": "Sample Rate can be set 44100 or 48000",
            "example": 44100
          },
          "tm": {
            "type": "string",
            "description": "Values can be disabled,fixed or interval.",
            "example": "disabled"
          },
          "tv": {
            "type": "string",
            "description": "Enter time in H:i:s format",
            "example": "00:00:00"
          },
          "filters": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32",
              "description": "filters, Should be one of the filter id from the GET /transcoding/file/filters call"
            }
          },
          "sourcevideo": {
            "type": "string",
            "description": "Filemode is Combined set Original Video Stream, Values can be Y or N. <br>Set to Y if Video Stream should be enabled.<br> Set to N if Video Stream should be disabled.",
            "example": "N"
          },
          "sourceaudio": {
            "type": "string",
            "description": "Filemode is Combined set Audio Streams, Values can be Y,O or A.",
            "example": "O"
          },
          "profiles": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64",
              "description": "Filemode is Combined set defaultprofiles, Should be one of the profiles id from the GET /transcoding/file/profiles call"
            }
          }
        }
      }
    },
    "parameters": {
      "zoneIdParam": {
        "name": "zoneid",
        "in": "path",
        "description": "Id of the Push Zone",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "jobIdParam": {
        "name": "jobid",
        "in": "path",
        "description": "Id of the VideEncoding job",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "profileIdParam": {
        "name": "profileid",
        "in": "path",
        "description": "Id of the Transcode Profile",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "filterIdParam": {
        "name": "filterid",
        "in": "path",
        "description": "Id of the Transcode Profile filter",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "rParam": {
        "name": "r",
        "in": "header",
        "description": "Enter date range format should be yyyy-mm-dd hh:min:sec - yyyy-mm-dd hh:min:sec <br>For example 2020-10-15 10:41:00 - 2020-10-22 10:41:00",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "fParam": {
        "name": "f",
        "in": "header",
        "description": "Enter reported by",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    }
  }
}