{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.attentivemobile.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "info": {
    "title": "Attentive Provisioning API",
    "version": "1.2.8",
    "description": "The Attentive Provisioning API is used for creating and managing Attentive Accounts, Users and Subscribers.\n\nThis Open API Spec is configured to use Bearer Token authentication. Click the Authorize button and enter your Attentive API Key to authenticate.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/attentive-060/attentive-provisioning_api/1.2.8/swagger.json"
  },
  "tags": [
    {
      "name": "Preflight",
      "description": "Check for existence of company name or domain"
    },
    {
      "name": "Companies",
      "description": "Create, fetch and update companies"
    },
    {
      "name": "Parent Company",
      "description": "Get and update parent company"
    },
    {
      "name": "Status",
      "description": "Check company status and fetch credentials"
    },
    {
      "name": "Users",
      "description": "Create, fetch and delete users"
    },
    {
      "name": "Subscribers",
      "description": "Fetch and update subscriber identifiers (requires **Child API Key**)"
    },
    {
      "name": "Content Sync",
      "description": "Sync default content"
    },
    {
      "name": "Company Variables",
      "description": "Mange company variables (requires **Child API Key**)"
    }
  ],
  "paths": {
    "/v1/companies/validation/domain/{attentiveDomainPrefix}": {
      "get": {
        "summary": "Check if domain prefix is available",
        "operationId": "validateAttentiveDomainPrefix",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Preflight"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "attentiveDomainPrefix",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The prefix to validate"
          }
        ],
        "responses": {
          "200": {
            "description": "The attentive domain prefix is valid and available"
          },
          "400": {
            "description": "The attentive domain prefix is invalid"
          },
          "409": {
            "description": "The attentive domain prefix is not available"
          }
        }
      }
    },
    "/v1/companies/validation/internalName/{internalName}": {
      "get": {
        "summary": "Check if internal name is available",
        "operationId": "validateCompanyInternalName",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Preflight"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "internalName",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The company internal name to validate"
          }
        ],
        "responses": {
          "200": {
            "description": "The company internal name is available"
          },
          "409": {
            "description": "The company internal name is not available"
          }
        }
      }
    },
    "/v1/companies": {
      "post": {
        "tags": [
          "Companies"
        ],
        "summary": "Create company",
        "operationId": "provisionCompany",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New company was successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCreatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Company could not be created. Check required fields"
          },
          "409": {
            "description": "Company could not be created. Company already exists"
          }
        },
        "description": ""
      }
    },
    "/v1/companies/{id}": {
      "get": {
        "summary": "Fetch company by ID",
        "operationId": "getCompany",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Encoded ID of company in Attentive system"
          }
        ],
        "responses": {
          "200": {
            "description": "Company object in Attentive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompanyResponse"
                }
              }
            }
          },
          "404": {
            "description": "Company not found"
          }
        }
      },
      "patch": {
        "summary": "Update company details",
        "operationId": "updateCompany",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Encoded ID of company in Attentive system"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCompanyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update Company",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCompanyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Company could not be updated. Check required fields"
          },
          "404": {
            "description": "Company not found"
          }
        }
      }
    },
    "/v1/companies/{id}/parent": {
      "get": {
        "summary": "Fetch parent company for the given company",
        "operationId": "getParentCompany",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Parent Company"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Encoded ID of company in Attentive system"
          }
        ],
        "responses": {
          "200": {
            "description": "Parent Company",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, one or more of the required values was empty or null"
          },
          "404": {
            "description": "Company not found"
          }
        }
      },
      "put": {
        "summary": "Updates the parent company for the given company",
        "operationId": "updateParentCompanyRelationship",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Parent Company"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Encoded ID of company in Attentive system"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParentCompanyRelationshipRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated Parent Company"
          },
          "400": {
            "description": "Company could not be updated. Check required fields"
          },
          "404": {
            "description": "Company not found"
          }
        }
      }
    },
    "/v1/companies/{id}/status/datasync": {
      "get": {
        "summary": "Fetch company status",
        "operationId": "getCompanyDataSyncStatus",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Status"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Encoded ID of company in Attentive system"
          }
        ],
        "responses": {
          "200": {
            "description": "The company's status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompanyStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/companies/{id}/status/messaging": {
      "get": {
        "summary": "Fetch messaging status",
        "operationId": "getCompanyMessagingStatus",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Status"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Encoded ID of company in Attentive system"
          }
        ],
        "responses": {
          "200": {
            "description": "Company Messaging object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyMessagingStatusDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Company not found"
          }
        }
      }
    },
    "/v1/companies/{id}/users": {
      "get": {
        "summary": "Fetch users by company ID",
        "operationId": "getUsers",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Encoded ID of company in Attentive system"
          },
          {
            "in": "query",
            "name": "admin",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "Optional parameter to decide if all the users returned are admin or not. If it's not there, just return all users regardless of their status."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": false,
            "description": "offset page"
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": false,
            "description": "Number of users to return"
          }
        ],
        "responses": {
          "200": {
            "description": "List of users that are admin or not",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompanyUsersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Caller is not authorized to get users from this company"
          }
        }
      },
      "post": {
        "summary": "Add user to company",
        "operationId": "addUser",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Encoded ID of company in Attentive system"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCompanyUserRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The user was successfully created"
          },
          "400": {
            "description": "Invalid request, one or more of the required values was empty or null"
          },
          "401": {
            "description": "Caller is not authorized to add user to this company"
          }
        },
        "description": "User will also be added to child companies if `isAdmin: true`."
      },
      "delete": {
        "summary": "Delete user from company",
        "operationId": "deleteUser",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Encoded ID of company in Attentive system"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCompanyUserRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The user was successfully deleted"
          },
          "401": {
            "description": "Caller is not authorized to delete user from this company"
          }
        },
        "description": "User will also be deleted from child companies if isAdmin: true.\n"
      }
    },
    "/v1/companies/{id}/token": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "Encoded ID of child company in Attentive system",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "example": "MDc6Q29tcGFueTU"
        }
      ],
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Fetch API Key for child company",
        "operationId": "getCompanyToken",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Company Api JWT to call Attentive public apis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "applicationId": {
                      "type": "string",
                      "example": 8853
                    },
                    "apiToken": {
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsImlhdCI6MTY3Mjc2NjAyOCwiZXhwIjoxNjc0NDk0MDI4fQ.kCak9sLJr74frSRVQp0_27BY4iBCgQSmoT3vQVWKzJg"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "This company does not have an Api JWT created yet"
          }
        }
      },
      "post": {
        "tags": [
          "Status"
        ],
        "summary": "Creates or updates a marketplace app and api token given the encoded child company ID",
        "operationId": "createApplication",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "example": "MDc6Q29tcGFueTU",
            "required": true,
            "description": "Encoded ID of child company in Attentive system"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Details of Marketplace app and api token created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApplicationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/companies/{id}/secret": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "Encoded ID of child company in Attentive system",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "example": "MDc6Q29tcGFueTU"
        }
      ],
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Fetch webhook secret for child company",
        "operationId": "getCompanyWebhookSecret",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Company Webhook Secret",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "example": "TGtKSXhhNkx3OWcwTzByR0cxQ1F2cmUySzFjRm81NHo="
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "This company does not have a webhook setup yet"
          }
        }
      }
    },
    "/v1/companies/{id}/subscriptions": {
      "get": {
        "summary": "Fetch subscriptions by email, phone or clientUserId",
        "operationId": "getCompanySubscribers",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Encoded ID of company in Attentive system"
          },
          {
            "in": "query",
            "name": "clientUserId",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Client User Id for subscriber lookup"
          },
          {
            "in": "query",
            "name": "phone",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Subscriber's phone, in E.164 format"
          },
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Subscriber's email address"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Subscribers matching clientUserId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompanySubscribersResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update subscriptions plus CCPA delete",
        "description": "Delete existing subscriber with matching phone and email and create a new one.",
        "operationId": "refreshSubscriber",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Encoded ID of company in Attentive system"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubscriberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response from the update subscriber process",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSubscriberResponse"
                }
              }
            }
          },
          "429": {
            "description": "Request for subscription is less than 30 seconds after subscription creation"
          }
        }
      }
    },
    "/v1/synctags": {
      "get": {
        "summary": "List company sync tags",
        "operationId": "getSyncTags",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Content Sync"
        ],
        "responses": {
          "200": {
            "description": "SyncTag objects in the Attentive system",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSyncTagsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, one or more of the required values was empty or null"
          },
          "401": {
            "description": "Caller is not authorized to access this resource"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/v1/synctags/{id}/target": {
      "post": {
        "summary": "Add target company to sync tag",
        "operationId": "setTagTarget",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Content Sync"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Tag External ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSyncTagTargetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Target company successfully tagged"
          },
          "400": {
            "description": "Invalid request, one or more of the required values was empty or null"
          },
          "401": {
            "description": "Caller is not authorized to access this resource"
          },
          "404": {
            "description": "Source Tag not found"
          },
          "409": {
            "description": "Tag previously created"
          }
        }
      }
    },
    "/v1/contentsync/run": {
      "post": {
        "summary": "Schedule a tag sync run for target company",
        "operationId": "postContentSyncRun",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Content Sync"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSyncRunRequestDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Sync run request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostSyncRunResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, one or more of the required values was empty or null"
          },
          "401": {
            "description": "Caller is not authorized to access this resource"
          },
          "404": {
            "description": "Target company not found"
          },
          "409": {
            "description": "Sync run request previously queued"
          }
        }
      }
    },
    "/v1/contentsync/run/{syncRunId}/status": {
      "get": {
        "summary": "Get content sync run status",
        "operationId": "getContentSyncRunStatus",
        "x-external": "hidden",
        "x-emits-events": true,
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Content Sync"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "syncRunId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "external sync run identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Sync run status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContentSyncRunStatusResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, one or more of the required values was empty or null"
          },
          "401": {
            "description": "Caller is not authorized to access this resource"
          },
          "404": {
            "description": "Target company not found"
          }
        }
      }
    },
    "/v1/company/variables": {
      "post": {
        "summary": "Creates a company variable",
        "operationId": "postCompanyVariable",
        "x-external": "hidden",
        "x-emits-events": true,
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Company Variables"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCompanyVariableRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "company variable added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyVariableResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, one or more of the required values was empty or null"
          },
          "401": {
            "description": "Caller is not authorized to access this resource"
          },
          "409": {
            "description": "Company Variable previously added"
          }
        }
      },
      "get": {
        "summary": "Get company variables",
        "operationId": "getCompanyVariables",
        "x-external": "hidden",
        "x-emits-events": true,
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Company Variables"
        ],
        "responses": {
          "200": {
            "description": "Company Variable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompanyVariablesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, one or more of the required values was empty or null"
          },
          "401": {
            "description": "Caller is not authorized to access this resource"
          },
          "404": {
            "description": "Target company not found"
          }
        }
      }
    },
    "/v1/company/variables/{variableName}": {
      "get": {
        "summary": "Get company variable",
        "operationId": "getCompanyVariable",
        "x-external": "hidden",
        "x-emits-events": true,
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Company Variables"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "variableName",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "company variable name"
          }
        ],
        "responses": {
          "200": {
            "description": "company variable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyVariableResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, one or more of the required values was empty or null"
          },
          "401": {
            "description": "Caller is not authorized to access this resource"
          },
          "404": {
            "description": "Target company not found"
          }
        }
      },
      "patch": {
        "summary": "Patch company variable",
        "operationId": "patchCompanyVariable",
        "x-external": "hidden",
        "x-emits-events": true,
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Company Variables"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "variableName",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "company variable name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCompanyVariableRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "company variable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyVariableResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, one or more of the required values was empty or null"
          },
          "401": {
            "description": "Caller is not authorized to access this resource"
          },
          "404": {
            "description": "Target company not found"
          }
        }
      },
      "delete": {
        "summary": "Delete company variable",
        "operationId": "deleteCompanyVariable",
        "x-external": "hidden",
        "x-emits-events": true,
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Company Variables"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "variableName",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "company variable name"
          }
        ],
        "responses": {
          "204": {
            "description": "Company variable deleted successfully"
          },
          "404": {
            "description": "Target company not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Enter your API key as the Bearer Token when making calls to this API."
      }
    },
    "schemas": {
      "CreateApplicationRequest": {
        "type": "object",
        "properties": {
          "contactEmail": {
            "type": "string",
            "description": "Email to contact is anything goes wrong with the token",
            "example": "test@test.com"
          }
        },
        "required": [
          "contactEmail"
        ]
      },
      "CreateApplicationResponse": {
        "type": "object",
        "properties": {
          "applicationId": {
            "type": "integer",
            "description": "ID of the marketplace application",
            "example": "12345"
          },
          "applicationName": {
            "type": "string",
            "description": "Name of the marketplace application",
            "example": "Mindbody"
          },
          "apiToken": {
            "type": "string",
            "description": "Token of the marketplace application"
          },
          "contactEmail": {
            "type": "string",
            "description": "Email contact associated with the marketplace app"
          }
        }
      },
      "AddCompanyUserRequest": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "First name of user",
            "example": "Person"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of user",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "description": "Email address of user",
            "example": "test@gmail.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of user in [E.164 format](https://en.wikipedia.org/wiki/E.164)",
            "example": "+15555555555"
          },
          "isAdmin": {
            "type": "boolean",
            "description": "Access level for this user",
            "default": false
          }
        },
        "required": [
          "firstName",
          "lastName",
          "email",
          "phone"
        ]
      },
      "SubscriberEligibility": {
        "type": "object",
        "properties": {
          "subscription": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "MARKETING"
              },
              "channel": {
                "type": "string",
                "example": "TEXT"
              }
            }
          },
          "eligibility": {
            "type": "object",
            "properties": {
              "isEligible": {
                "type": "boolean",
                "example": true
              }
            }
          }
        }
      },
      "CompanyCreatedResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Encoded ID of company in Attentive system",
            "example": "MDc6Q29tcGFueTE1MTQx"
          }
        }
      },
      "CompanyDto": {
        "type": "object",
        "required": [
          "internalName",
          "displayName",
          "businessContactPhone",
          "businessContactEmail",
          "businessContactFirstName",
          "businessContactLastName",
          "attentiveDomainPrefix",
          "accountType",
          "region",
          "address",
          "privacyPolicyUrl",
          "termsUrl",
          "fromEmail",
          "website",
          "companySetup"
        ],
        "properties": {
          "externalId": {
            "type": "string",
            "description": "External company id (i.e. the studio id)",
            "example": 12345
          },
          "parentCompanyId": {
            "type": "string",
            "description": "Encoded ID of parent company",
            "example": "MDc6Q29tcGFueTE1MTQx"
          },
          "internalName": {
            "type": "string",
            "description": "Name of company to display in Attentive UI",
            "example": "Orange Theory Manhattan"
          },
          "displayName": {
            "type": "string",
            "description": "Name prepended to text messages",
            "example": "Orange Theory"
          },
          "tradeName": {
            "type": "string",
            "description": "Operating business name (if different from displayName)",
            "example": "Orange Theory"
          },
          "legalName": {
            "type": "string",
            "description": "The name that appears on the business's official government documents (required for U.S. and CA-based companies)",
            "example": "Orange Theory, LLC"
          },
          "businessContactPhone": {
            "type": "string",
            "description": "Phone of business location in [E.164 format](https://en.wikipedia.org/wiki/E.164)",
            "example": "+15636767408"
          },
          "businessContactEmail": {
            "type": "string",
            "description": "Email to register tollfree phone number",
            "example": "george@orangetheory.com"
          },
          "businessContactFirstName": {
            "type": "string",
            "description": "Contact first name (required for phone provisioning)",
            "example": "Sarah"
          },
          "businessContactLastName": {
            "type": "string",
            "description": "Contact last name (required for phone provisioning)",
            "example": "Fake"
          },
          "termsUrl": {
            "type": "string",
            "description": "URL of legal terms. Will default to parent company's terms URL if not provided.",
            "example": "https://co.mindbodyonline.com/legal/terms-of-service"
          },
          "privacyPolicyUrl": {
            "type": "string",
            "description": "URL of privacy policy. Will default to parent company's terms URL if not provided.",
            "example": "https://co.mindbodyonline.com/legal/privacy-policy"
          },
          "fromEmail": {
            "type": "string",
            "description": "Email to send marketing emails from",
            "example": "mygym@attn.mindbodyonline.com"
          },
          "attentiveDomainPrefix": {
            "type": "string",
            "description": "Prefix of URL for shortened links in messages (ex: ot1 becomes ot1.attn.tv). Must be at least 3 characters",
            "example": "ot1"
          },
          "accountType": {
            "type": "string",
            "description": "Type of account (MINDBODY, GLOBAL_CORP, REGIONAL_CORP, LOCATION) and test types (TEST_MINDBODY, TEST_REGIONAL_CORP, TEST_GLOBAL_CORP, TEST_LOCATION)",
            "example": "LOCATION"
          },
          "website": {
            "type": "string",
            "description": "Website url",
            "example": "https://www.motivatetofit.com/"
          },
          "region": {
            "type": "string",
            "description": "[ISO_3166](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) 2-letter country code of program operation",
            "example": "US"
          },
          "address": {
            "type": "object",
            "required": [
              "addressLine1",
              "city",
              "state",
              "postalCode",
              "country"
            ],
            "properties": {
              "addressLine1": {
                "type": "string",
                "description": "Street address of business location",
                "example": "413 East 5th Street"
              },
              "addressLine2": {
                "type": "string",
                "description": "Secondary address information of business location",
                "example": "Unit 1"
              },
              "city": {
                "type": "string",
                "description": "City of business location",
                "example": "Tucson"
              },
              "locality": {
                "type": "string",
                "description": "Locality of business location",
                "example": "Rita Ranch"
              },
              "state": {
                "type": "string",
                "description": "2-digit state abbreviation of business location",
                "example": "AZ"
              },
              "postalCode": {
                "type": "string",
                "description": "5-digit postal zipcode of business location",
                "example": 85705
              },
              "country": {
                "type": "string",
                "description": "[ISO_3166](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) 2-letter country code of business location",
                "example": "US"
              }
            }
          },
          "companySetup": {
            "$ref": "#/components/schemas/CompanySetupRequest"
          },
          "businessEntityType": {
            "type": "string",
            "description": "The company's type - choose from PUBLIC,PRIVATE,and SOLE_PROPRIETORSHIP. Required for all U.S. and Canada-based companies.",
            "enum": [
              "PUBLIC",
              "PRIVATE",
              "SOLE_PROPRIETORSHIP"
            ]
          },
          "businessRegistrationNumber": {
            "type": "string",
            "description": "A U.S.-based, non-sole proprietorship company's EIN, or a Canada-based company's CBN. Required for U.S.-based, non-sole-proprietorships, and all Canadian companies.",
            "example": "12-1234567"
          },
          "dryRun": {
            "type": "boolean",
            "description": "If set to true, payload will be validated but will not create a real company in Attentive's system"
          }
        }
      },
      "GetCompanyResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "External company id (i.e. the studio id)",
            "example": "MDc6Q29tcGFueTE1MTQx"
          },
          "externalId": {
            "type": "string",
            "description": "External company id (i.e. the studio id)",
            "example": "MDc6Q29tcGFueTE1MTQx"
          },
          "internalName": {
            "type": "string",
            "description": "Name of company to display in Attentive UI",
            "example": "Orange Theory Manhattan"
          },
          "displayName": {
            "type": "string",
            "description": "Name prepended to text messages",
            "example": "Orange Theory"
          },
          "termsUrl": {
            "type": "string",
            "description": "URL of legal terms. Will default to parent company's terms URL if not provided.",
            "example": "https://co.mindbodyonline.com/legal/terms-of-service"
          },
          "privacyPolicyUrl": {
            "type": "string",
            "description": "URL of privacy policy. Will default to parent company's terms URL if not provided.",
            "example": "https://co.mindbodyonline.com/legal/privacy-policy"
          },
          "attentiveDomainPrefix": {
            "type": "string",
            "description": "Prefix of URL for shortened links in messages (ex: ot1 becomes ot1.attn.tv). Must be at least 3 characters",
            "example": "ot1"
          },
          "accountType": {
            "type": "string",
            "description": "Type of account (MINDBODY, GLOBAL_CORP, REGIONAL_CORP, LOCATION, TEST_MINDBODY, TEST_GLOBAL_CORP, TEST_REGIONAL_CORP, TEST_LOCATIION)",
            "example": "LOCATION"
          },
          "region": {
            "type": "string",
            "description": "[ISO_3166](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) 2-letter country code of program operation",
            "example": "US"
          },
          "address": {
            "type": "object",
            "properties": {
              "addressLine1": {
                "type": "string",
                "description": "Street address of business location",
                "example": "413 East 5th Street"
              },
              "addressLine2": {
                "type": "string",
                "description": "Secondary address information of business location",
                "example": "Unit 1"
              },
              "city": {
                "type": "string",
                "description": "City of business location",
                "example": "Tucson"
              },
              "state": {
                "type": "string",
                "description": "2-digit state abbreviation of business location",
                "example": "AZ"
              },
              "postalCode": {
                "type": "string",
                "description": "5-digit postal zipcode of business location",
                "example": 85705
              },
              "country": {
                "type": "string",
                "description": "[ISO_3166](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) 2-letter country code of business location",
                "example": "US"
              }
            }
          },
          "legalName": {
            "type": "string",
            "description": "The name that appears on the business's official government documents (required for U.S. and CA-based companies)",
            "example": "Orange Theory, LLC"
          },
          "businessEntityType": {
            "type": "string",
            "description": "The company's type - choose from PUBLIC,PRIVATE,and SOLE_PROPRIETORSHIP. Required for all U.S. and Canada-based companies.",
            "enum": [
              "PUBLIC",
              "PRIVATE",
              "SOLE_PROPRIETORSHIP"
            ]
          },
          "businessRegistrationNumber": {
            "type": "string",
            "description": "A U.S.-based, non-sole proprietorship company's EIN, or a Canada-based company's CBN. Required for U.S.-based, non-sole-proprietorships, and all Canadian companies.",
            "example": "12-1234567"
          },
          "status": {
            "type": "string",
            "description": "Whether or not the company is active",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ]
          }
        }
      },
      "CompanySetupRequest": {
        "type": "object",
        "properties": {
          "phoneType": {
            "type": "string",
            "description": "Should company automatically provision phone number of the provided type",
            "default": "tollfree",
            "enum": [
              "none",
              "tollfree"
            ]
          },
          "emailType": {
            "type": "string",
            "description": "Should company automatically be setup with shared or dedicated email domains",
            "default": "shared",
            "enum": [
              "none",
              "shared",
              "dedicated"
            ]
          }
        }
      },
      "UpdateCompanyRequest": {
        "type": "object",
        "properties": {
          "internalName": {
            "type": "string",
            "description": "Name of company to display in Attentive UI",
            "example": "Orange Theory Manhattan"
          },
          "displayName": {
            "type": "string",
            "description": "Name prepended to text messages (careful: this attributes to text message character count)",
            "example": "Orange Theory Manhattan"
          },
          "fromEmail": {
            "type": "string",
            "description": "Email to send marketing emails from",
            "example": "mygym@attn.mindbodyonline.com"
          },
          "externalId": {
            "type": "string",
            "description": "External company id (i.e. the studio id)",
            "example": 12345
          },
          "address": {
            "type": "object",
            "properties": {
              "addressLine1": {
                "type": "string",
                "description": "Street address of business location",
                "example": "413 East 5th Street"
              },
              "addressLine2": {
                "type": "string",
                "description": "Secondary address information of business location",
                "example": "Unit 1"
              },
              "city": {
                "type": "string",
                "description": "City of business location",
                "example": "Tucson"
              },
              "state": {
                "type": "string",
                "description": "2-digit state abbreviation of business location",
                "example": "AZ"
              },
              "postalCode": {
                "type": "string",
                "description": "5-digit postal zipcode of business location",
                "example": 85705
              },
              "country": {
                "type": "string",
                "description": "[ISO_3166](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) 2-letter country code of business location",
                "example": "US"
              }
            }
          },
          "status": {
            "type": "string",
            "description": "Whether the company is active or not.",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ],
            "example": "ACTIVE"
          }
        }
      },
      "UpdateCompanyResponse": {
        "type": "object",
        "properties": {
          "internalName": {
            "type": "string",
            "description": "Name of company to display in Attentive UI",
            "example": "Orange Theory Manhattan"
          },
          "displayName": {
            "type": "string",
            "description": "Name prepended to text messages (careful: this attributes to text message character count)",
            "example": "Orange Theory Manhattan"
          },
          "fromEmail": {
            "type": "string",
            "description": "Email to send marketing emails from",
            "example": "mygym@attn.mindbodyonline.com"
          },
          "externalId": {
            "type": "string",
            "description": "External company id (i.e. the studio id)",
            "example": 12345
          },
          "address": {
            "type": "object",
            "properties": {
              "addressLine1": {
                "type": "string",
                "description": "Street address of business location",
                "example": "413 East 5th Street"
              },
              "addressLine2": {
                "type": "string",
                "description": "Secondary address information of business location",
                "example": "Unit 1"
              },
              "city": {
                "type": "string",
                "description": "City of business location",
                "example": "Tucson"
              },
              "state": {
                "type": "string",
                "description": "2-digit state abbreviation of business location",
                "example": "AZ"
              },
              "postalCode": {
                "type": "string",
                "description": "5-digit postal zipcode of business location",
                "example": 85705
              },
              "country": {
                "type": "string",
                "description": "[ISO_3166](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) 2-letter country code of business location",
                "example": "US"
              }
            }
          },
          "status": {
            "type": "string",
            "description": "Whether the company is active or not",
            "example": "ACTIVE"
          }
        }
      },
      "ParentCompanyRelationshipRequest": {
        "type": "object",
        "properties": {
          "parentCompanyID": {
            "type": "string",
            "description": "Encoded ID of company in Attentive system to be set as parent"
          }
        },
        "required": [
          "parentCompanyID"
        ]
      },
      "GetCompanySubscribersResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/CompanySubscriber"
        }
      },
      "CompanySubscriber": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              }
            }
          },
          "clientUserIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "111",
              "2234"
            ]
          },
          "subscriptionEligibilities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubscriberEligibility"
            }
          }
        }
      },
      "UpdateSubscriberRequest": {
        "type": "object",
        "required": [
          "user"
        ],
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "phone": {
                "type": "string",
                "example": 13115552368
              },
              "email": {
                "type": "string",
                "example": "test@gmail.com"
              }
            }
          },
          "signUpSourceId": {
            "type": "string",
            "example": 1009254
          },
          "subscriptionType": {
            "type": "string",
            "example": "TRANSACTIONAL"
          },
          "singleOptIn": {
            "type": "boolean",
            "example": true
          },
          "externalIdentifiers": {
            "type": "object",
            "properties": {
              "clientUserId": {
                "type": "string",
                "example": "test_identifier_818"
              },
              "shopifyId": {
                "type": "string"
              },
              "klaviyoId": {
                "type": "string"
              },
              "customIdentifiers": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SubscriberCustomIdentifier"
                }
              }
            }
          }
        }
      },
      "SubscriberCustomIdentifier": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "mindbody_id"
          },
          "value": {
            "type": "string",
            "example": 12345
          }
        }
      },
      "UpdateSubscriberResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "GetCompanyStatusResponse": {
        "type": "object",
        "properties": {
          "isFeatureFlagsEnabled": {
            "type": "boolean",
            "description": "Are the required feature flags set for data sync"
          },
          "isTokenEnabled": {
            "type": "boolean",
            "description": "Is the bearer token available to call the Attentive public apis"
          },
          "isWebhookEnabled": {
            "type": "boolean",
            "description": "Is the webhook setup to send events from Attentive"
          },
          "signupUnits": {
            "type": "object",
            "properties": {
              "transactional": {
                "type": "string",
                "description": "Transactional API signup unit"
              },
              "marketing": {
                "type": "string",
                "description": "Marketing API signup unit"
              }
            }
          }
        }
      },
      "GetCompanyUsersResponse": {
        "type": "array",
        "items": {
          "properties": {
            "email": {
              "type": "string",
              "description": "Email address of user",
              "example": "test@gmail.com"
            },
            "isAdmin": {
              "type": "boolean",
              "description": "If the user is admin or not",
              "example": false
            }
          },
          "required": [
            "email",
            "isAdmin"
          ]
        }
      },
      "CompanyMessagingStatusDto": {
        "type": "object",
        "properties": {
          "phoneType": {
            "description": "phone number of the provided type",
            "type": "string"
          },
          "phone": {
            "description": "phone number provisioned",
            "type": "string"
          },
          "isActive": {
            "description": "status of the phone number provisioned",
            "type": "boolean"
          }
        }
      },
      "DeleteCompanyUserRequest": {
        "type": "object",
        "properties": {
          "userEmail": {
            "type": "string",
            "description": "Email address of the user to delete",
            "example": "user@email.com"
          }
        }
      },
      "GetSyncTagsResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SyncTag"
        }
      },
      "SyncTag": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "external SyncTag identifier",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "name": {
            "type": "string",
            "description": "This is the name of the SyncTag",
            "example": "Holiday2025"
          },
          "description": {
            "type": "string",
            "description": "This is the description of the SyncTag",
            "example": "This tag aggregates the holiday promotional content"
          }
        }
      },
      "PostSyncTagTargetRequest": {
        "type": "object",
        "required": [
          "targetCompanyId"
        ],
        "properties": {
          "targetCompanyId": {
            "type": "string",
            "description": "encoded company identifier",
            "example": "MDc6Q29tcGFueTN"
          }
        }
      },
      "GetContentSyncRunStatusResponseDto": {
        "type": "object",
        "required": [
          "syncRunId",
          "sourceCompanyId",
          "targetCompanyId",
          "status"
        ],
        "properties": {
          "syncRunId": {
            "type": "string",
            "description": "external sync run identifier",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "sourceCompanyId": {
            "type": "string",
            "description": "encoded target company identifier",
            "example": "MDc6Q29tcGFueTN"
          },
          "targetCompanyId": {
            "type": "string",
            "description": "encoded target company identifier",
            "example": "MDc6Q29tcGFueTN"
          },
          "status": {
            "type": "string",
            "description": "sync run status type",
            "example": "PROCESSING, ERROR"
          }
        }
      },
      "PostSyncRunRequestDto": {
        "type": "object",
        "required": [
          "targetCompanyId"
        ],
        "properties": {
          "targetCompanyId": {
            "type": "string",
            "description": "encoded target company identifier",
            "example": "MDc6Q29tcGFueTN"
          }
        }
      },
      "PostSyncRunResponseDto": {
        "type": "object",
        "required": [
          "sourceCompanyId",
          "targetCompanyId",
          "syncRunId",
          "created"
        ],
        "properties": {
          "sourceCompanyId": {
            "type": "string",
            "description": "encoded target company identifier",
            "example": "MDc6Q29tcGFueTN"
          },
          "targetCompanyId": {
            "type": "string",
            "description": "encoded target company identifier",
            "example": "MDc6Q29tcGFueTN"
          },
          "syncRunId": {
            "type": "string",
            "description": "external sync run identifier",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "created": {
            "type": "string",
            "description": "sync run request date",
            "example": "2025-06-12T09:52:05.811203"
          }
        }
      },
      "GetCompanyVariablesResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/CompanyVariableResponse"
        }
      },
      "PostCompanyVariableRequest": {
        "$ref": "#/components/schemas/CompanyVariableRequest"
      },
      "CompanyVariableName": {
        "type": "string",
        "description": "company variable name",
        "example": "company-url"
      },
      "CompanyVariableValue": {
        "type": "string",
        "description": "company variable value",
        "example": "https://example.com"
      },
      "CompanyVariableDesc": {
        "type": "string",
        "description": "company variable description",
        "example": "Company Url"
      },
      "CompanyVariableTypeEnum": {
        "type": "string",
        "enum": [
          "string",
          "url",
          "imageUrl"
        ],
        "description": "company variable type",
        "example": "url"
      },
      "PatchCompanyVariableRequest": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/CompanyVariableValue"
          },
          "description": {
            "$ref": "#/components/schemas/CompanyVariableDesc"
          }
        },
        "anyOf": [
          {
            "required": [
              "value"
            ]
          },
          {
            "required": [
              "description"
            ]
          }
        ],
        "additionalProperties": false,
        "minProperties": 1
      },
      "CompanyVariableRequest": {
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "properties": {
          "name": {
            "$ref": "#/components/schemas/CompanyVariableName"
          },
          "value": {
            "$ref": "#/components/schemas/CompanyVariableValue"
          },
          "type": {
            "$ref": "#/components/schemas/CompanyVariableTypeEnum"
          },
          "description": {
            "$ref": "#/components/schemas/CompanyVariableDesc"
          }
        }
      },
      "CompanyVariableResponse": {
        "type": "object",
        "required": [
          "name",
          "value",
          "type",
          "description",
          "created",
          "updated"
        ],
        "properties": {
          "name": {
            "$ref": "#/components/schemas/CompanyVariableName"
          },
          "value": {
            "$ref": "#/components/schemas/CompanyVariableValue"
          },
          "type": {
            "$ref": "#/components/schemas/CompanyVariableTypeEnum"
          },
          "description": {
            "$ref": "#/components/schemas/CompanyVariableDesc"
          },
          "created": {
            "type": "string",
            "description": "company variable created date",
            "example": "2025-06-12T09:52:05.811203"
          },
          "updated": {
            "type": "string",
            "description": "company variable updated date",
            "example": "2025-06-12T09:52:05.811203"
          }
        }
      }
    }
  }
}