{
  "openapi": "3.0.3",
  "info": {
    "title": "TVMaze API",
    "description": "TVMaze is a community-driven TV show and episode information API. It provides comprehensive data on TV shows, episodes, cast, crew, schedules, and people. Free tier available with rate limiting (20 calls per 10 seconds per IP). CORS enabled for cross-origin requests.",
    "version": "1.0.0",
    "contact": {
      "name": "TVMaze",
      "url": "https://www.tvmaze.com/api"
    },
    "license": {
      "name": "CC BY-SA",
      "url": "https://www.tvmaze.com/api#licensing"
    }
  },
  "servers": [
    {
      "url": "https://api.tvmaze.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/search/shows": {
      "get": {
        "operationId": "searchShows",
        "summary": "Search shows",
        "description": "Search through all the shows in the database by the show's name. Uses fuzzy matching for flexible results.",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query string (show name)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of search results with score and show data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShowSearchResult"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/singlesearch/shows": {
      "get": {
        "operationId": "singleSearchShows",
        "summary": "Single show search",
        "description": "Search for a single show by name. Returns exactly one result or a 404. Less forgiving of typos than the regular search.",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query string (show name)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "embed",
            "in": "query",
            "required": false,
            "description": "Embed additional resources (e.g., episodes, cast)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single show object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Show"
                }
              }
            }
          },
          "404": {
            "description": "No matching show found"
          }
        }
      }
    },
    "/lookup/shows": {
      "get": {
        "operationId": "lookupShow",
        "summary": "Show lookup by external ID",
        "description": "Look up a show by its TheTVDB, TVRage, or IMDB ID.",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "thetvdb",
            "in": "query",
            "required": false,
            "description": "TheTVDB ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tvrage",
            "in": "query",
            "required": false,
            "description": "TVRage ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "imdb",
            "in": "query",
            "required": false,
            "description": "IMDB ID (e.g., tt0944947)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Show object matching the external ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Show"
                }
              }
            }
          },
          "404": {
            "description": "No matching show found"
          }
        }
      }
    },
    "/search/people": {
      "get": {
        "operationId": "searchPeople",
        "summary": "Search people",
        "description": "Search through all the people in the database.",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query string (person name)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of person search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PersonSearchResult"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/schedule": {
      "get": {
        "operationId": "getSchedule",
        "summary": "Get TV schedule",
        "description": "Complete list of episodes that air in a given country on a given date. Defaults to the current date and US.",
        "tags": ["Schedule"],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "ISO 3166-1 country code (default: US)",
            "schema": {
              "type": "string",
              "default": "US"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Date in ISO 8601 format (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of episodes airing on the given date",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScheduleEpisode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/schedule/web": {
      "get": {
        "operationId": "getWebSchedule",
        "summary": "Get web/streaming schedule",
        "description": "Episodes from web/streaming channels for a given date.",
        "tags": ["Schedule"],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "ISO 3166-1 country code (optional for web schedule)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Date in ISO 8601 format (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of web/streaming episodes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScheduleEpisode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/schedule/full": {
      "get": {
        "operationId": "getFullSchedule",
        "summary": "Get full schedule",
        "description": "List of all future episodes known to TVmaze. Results are cached for 24 hours.",
        "tags": ["Schedule"],
        "responses": {
          "200": {
            "description": "Array of all future episodes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScheduleEpisode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shows/{id}": {
      "get": {
        "operationId": "getShow",
        "summary": "Get show information",
        "description": "Retrieve primary information for a given show.",
        "tags": ["Shows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "TVMaze show ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "embed",
            "in": "query",
            "required": false,
            "description": "Embed additional resources (e.g., episodes, cast, previousepisode, nextepisode)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Show object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Show"
                }
              }
            }
          },
          "404": {
            "description": "Show not found"
          }
        }
      }
    },
    "/shows/{id}/episodes": {
      "get": {
        "operationId": "getShowEpisodes",
        "summary": "Get show episodes",
        "description": "Complete list of episodes for a show, in airing order.",
        "tags": ["Shows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "TVMaze show ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "specials",
            "in": "query",
            "required": false,
            "description": "Set to 1 to include special episodes",
            "schema": {
              "type": "integer",
              "enum": [1]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of episodes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Episode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shows/{id}/episodebynumber": {
      "get": {
        "operationId": "getEpisodeByNumber",
        "summary": "Get episode by season and number",
        "description": "Retrieve a specific episode by its season and episode number.",
        "tags": ["Shows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "TVMaze show ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "season",
            "in": "query",
            "required": true,
            "description": "Season number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "number",
            "in": "query",
            "required": true,
            "description": "Episode number",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Episode object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Episode"
                }
              }
            }
          },
          "404": {
            "description": "Episode not found"
          }
        }
      }
    },
    "/shows/{id}/episodesbydate": {
      "get": {
        "operationId": "getEpisodesByDate",
        "summary": "Get episodes by air date",
        "description": "All episodes for a show that aired on a specific date.",
        "tags": ["Shows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "TVMaze show ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Date in ISO 8601 format (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of episodes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Episode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shows/{id}/seasons": {
      "get": {
        "operationId": "getShowSeasons",
        "summary": "Get show seasons",
        "description": "All seasons for a show, in ascending order.",
        "tags": ["Shows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "TVMaze show ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of seasons",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Season"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shows/{id}/cast": {
      "get": {
        "operationId": "getShowCast",
        "summary": "Get show cast",
        "description": "Main cast for a show, ordered by importance.",
        "tags": ["Shows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "TVMaze show ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of cast members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CastMember"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shows/{id}/crew": {
      "get": {
        "operationId": "getShowCrew",
        "summary": "Get show crew",
        "description": "Main crew for a show, including crew types.",
        "tags": ["Shows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "TVMaze show ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of crew members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CrewMember"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shows/{id}/akas": {
      "get": {
        "operationId": "getShowAkas",
        "summary": "Get show aliases",
        "description": "All aliases (AKAs) for a show, by country.",
        "tags": ["Shows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "TVMaze show ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of show aliases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Aka"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shows/{id}/images": {
      "get": {
        "operationId": "getShowImages",
        "summary": "Get show images",
        "description": "All images for a show including posters, banners, backgrounds, and typography.",
        "tags": ["Shows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "TVMaze show ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of image objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shows/{id}/alternatelists": {
      "get": {
        "operationId": "getShowAlternateLists",
        "summary": "Get alternate episode lists",
        "description": "Alternative episode orderings for a show (e.g., DVD order).",
        "tags": ["Shows"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "TVMaze show ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of alternate lists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlternateList"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shows": {
      "get": {
        "operationId": "getShowIndex",
        "summary": "Show index",
        "description": "List all shows in the database, paginated with 250 results per page. Cached for 24 hours.",
        "tags": ["Shows"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (starts at 0)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of shows (up to 250 per page)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Show"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/seasons/{id}/episodes": {
      "get": {
        "operationId": "getSeasonEpisodes",
        "summary": "Get season episodes",
        "description": "All episodes within a specific season.",
        "tags": ["Seasons"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "TVMaze season ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "embed",
            "in": "query",
            "required": false,
            "description": "Embed additional resources",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of episodes in the season",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Episode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/episodes/{id}": {
      "get": {
        "operationId": "getEpisode",
        "summary": "Get episode information",
        "description": "Primary information for a given episode.",
        "tags": ["Episodes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "TVMaze episode ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "embed",
            "in": "query",
            "required": false,
            "description": "Embed additional resources (e.g., show)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Episode object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Episode"
                }
              }
            }
          },
          "404": {
            "description": "Episode not found"
          }
        }
      }
    },
    "/episodes/{id}/guestcast": {
      "get": {
        "operationId": "getEpisodeGuestCast",
        "summary": "Get episode guest cast",
        "description": "All guest cast appearing in an episode.",
        "tags": ["Episodes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "TVMaze episode ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of guest cast members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CastMember"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/episodes/{id}/guestcrew": {
      "get": {
        "operationId": "getEpisodeGuestCrew",
        "summary": "Get episode guest crew",
        "description": "All guest crew for an episode.",
        "tags": ["Episodes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "TVMaze episode ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of guest crew members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CrewMember"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/people/{id}": {
      "get": {
        "operationId": "getPerson",
        "summary": "Get person information",
        "description": "Primary information for a given person.",
        "tags": ["People"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "TVMaze person ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "embed",
            "in": "query",
            "required": false,
            "description": "Embed additional resources (e.g., castcredits)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Person object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "404": {
            "description": "Person not found"
          }
        }
      }
    },
    "/people/{id}/castcredits": {
      "get": {
        "operationId": "getPersonCastCredits",
        "summary": "Get person cast credits",
        "description": "Show-level cast credits for a person.",
        "tags": ["People"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "TVMaze person ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "embed",
            "in": "query",
            "required": false,
            "description": "Embed additional resources (e.g., show, character)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of cast credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CastCredit"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/people/{id}/crewcredits": {
      "get": {
        "operationId": "getPersonCrewCredits",
        "summary": "Get person crew credits",
        "description": "Show-level crew credits for a person.",
        "tags": ["People"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "TVMaze person ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "embed",
            "in": "query",
            "required": false,
            "description": "Embed additional resources (e.g., show)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of crew credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CrewCredit"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/people/{id}/guestcastcredits": {
      "get": {
        "operationId": "getPersonGuestCastCredits",
        "summary": "Get person guest cast credits",
        "description": "Episode-level guest cast credits for a person.",
        "tags": ["People"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "TVMaze person ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "embed",
            "in": "query",
            "required": false,
            "description": "Embed additional resources (e.g., episode)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of guest cast credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CastCredit"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/people": {
      "get": {
        "operationId": "getPeopleIndex",
        "summary": "People index",
        "description": "List all people in the database, paginated with up to 1000 results per page. Cached for 24 hours.",
        "tags": ["People"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (starts at 0)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of people (up to 1000 per page)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Person"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updates/shows": {
      "get": {
        "operationId": "getShowUpdates",
        "summary": "Get show updates",
        "description": "All shows and their last update timestamps.",
        "tags": ["Updates"],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Only show updates since this period",
            "schema": {
              "type": "string",
              "enum": ["day", "week", "month"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Object mapping show IDs to unix timestamps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer",
                    "description": "Unix timestamp of last update"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updates/people": {
      "get": {
        "operationId": "getPersonUpdates",
        "summary": "Get person updates",
        "description": "All people and their last update timestamps.",
        "tags": ["Updates"],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Only show updates since this period",
            "schema": {
              "type": "string",
              "enum": ["day", "week", "month"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Object mapping person IDs to unix timestamps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer",
                    "description": "Unix timestamp of last update"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/alternatelists/{id}": {
      "get": {
        "operationId": "getAlternateList",
        "summary": "Get alternate list",
        "description": "Information about an alternate episode list.",
        "tags": ["Alternate Lists"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Alternate list ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alternate list object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlternateList"
                }
              }
            }
          }
        }
      }
    },
    "/alternatelists/{id}/alternateepisodes": {
      "get": {
        "operationId": "getAlternateEpisodes",
        "summary": "Get alternate episodes",
        "description": "Episodes in an alternate list ordering.",
        "tags": ["Alternate Lists"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Alternate list ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of alternate episode objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlternateEpisode"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Show": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "TVMaze show ID"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "TVMaze URL for the show"
          },
          "name": {
            "type": "string",
            "description": "Show name"
          },
          "type": {
            "type": "string",
            "description": "Show type (e.g., Scripted, Reality, Animation)"
          },
          "language": {
            "type": "string",
            "description": "Primary language"
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of genres"
          },
          "status": {
            "type": "string",
            "description": "Show status (e.g., Running, Ended, To Be Determined)"
          },
          "runtime": {
            "type": "integer",
            "nullable": true,
            "description": "Episode runtime in minutes"
          },
          "averageRuntime": {
            "type": "integer",
            "nullable": true,
            "description": "Average episode runtime in minutes"
          },
          "premiered": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Premiere date (YYYY-MM-DD)"
          },
          "ended": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "End date (YYYY-MM-DD)"
          },
          "officialSite": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Official website URL"
          },
          "schedule": {
            "type": "object",
            "properties": {
              "time": {
                "type": "string",
                "description": "Air time (HH:MM)"
              },
              "days": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Days of the week"
              }
            }
          },
          "rating": {
            "type": "object",
            "properties": {
              "average": {
                "type": "number",
                "nullable": true,
                "description": "Average rating"
              }
            }
          },
          "weight": {
            "type": "integer",
            "description": "Show weight/popularity"
          },
          "network": {
            "$ref": "#/components/schemas/Network"
          },
          "webChannel": {
            "$ref": "#/components/schemas/WebChannel"
          },
          "dvdCountry": {
            "type": "object",
            "nullable": true,
            "properties": {
              "name": { "type": "string" },
              "code": { "type": "string" },
              "timezone": { "type": "string" }
            }
          },
          "externals": {
            "type": "object",
            "properties": {
              "tvrage": {
                "type": "integer",
                "nullable": true
              },
              "thetvdb": {
                "type": "integer",
                "nullable": true
              },
              "imdb": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "image": {
            "$ref": "#/components/schemas/ImageUrls"
          },
          "summary": {
            "type": "string",
            "nullable": true,
            "description": "HTML-formatted summary"
          },
          "updated": {
            "type": "integer",
            "description": "Unix timestamp of last update"
          },
          "_links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "object",
                "properties": {
                  "href": { "type": "string", "format": "uri" }
                }
              },
              "previousepisode": {
                "type": "object",
                "properties": {
                  "href": { "type": "string", "format": "uri" }
                }
              },
              "nextepisode": {
                "type": "object",
                "properties": {
                  "href": { "type": "string", "format": "uri" }
                }
              }
            }
          }
        }
      },
      "Episode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "TVMaze episode ID"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string",
            "description": "Episode name"
          },
          "season": {
            "type": "integer",
            "description": "Season number"
          },
          "number": {
            "type": "integer",
            "nullable": true,
            "description": "Episode number within the season"
          },
          "type": {
            "type": "string",
            "description": "Episode type (regular, significant_special)"
          },
          "airdate": {
            "type": "string",
            "format": "date",
            "description": "Air date (YYYY-MM-DD)"
          },
          "airtime": {
            "type": "string",
            "description": "Air time (HH:MM)"
          },
          "airstamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 datetime of airing"
          },
          "runtime": {
            "type": "integer",
            "nullable": true,
            "description": "Runtime in minutes"
          },
          "rating": {
            "type": "object",
            "properties": {
              "average": {
                "type": "number",
                "nullable": true
              }
            }
          },
          "image": {
            "$ref": "#/components/schemas/ImageUrls"
          },
          "summary": {
            "type": "string",
            "nullable": true,
            "description": "HTML-formatted episode summary"
          },
          "_links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "object",
                "properties": {
                  "href": { "type": "string", "format": "uri" }
                }
              },
              "show": {
                "type": "object",
                "properties": {
                  "href": { "type": "string", "format": "uri" }
                }
              }
            }
          }
        }
      },
      "Season": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "TVMaze season ID"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "number": {
            "type": "integer",
            "description": "Season number"
          },
          "name": {
            "type": "string",
            "description": "Season name"
          },
          "episodeOrder": {
            "type": "integer",
            "nullable": true,
            "description": "Number of episodes ordered"
          },
          "premiereDate": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "network": {
            "$ref": "#/components/schemas/Network"
          },
          "webChannel": {
            "$ref": "#/components/schemas/WebChannel"
          },
          "image": {
            "$ref": "#/components/schemas/ImageUrls"
          },
          "summary": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "TVMaze person ID"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string",
            "description": "Person name"
          },
          "country": {
            "type": "object",
            "nullable": true,
            "properties": {
              "name": { "type": "string" },
              "code": { "type": "string" },
              "timezone": { "type": "string" }
            }
          },
          "birthday": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "deathday": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "gender": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "$ref": "#/components/schemas/ImageUrls"
          },
          "updated": {
            "type": "integer"
          },
          "_links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "object",
                "properties": {
                  "href": { "type": "string", "format": "uri" }
                }
              }
            }
          }
        }
      },
      "Character": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string"
          },
          "image": {
            "$ref": "#/components/schemas/ImageUrls"
          },
          "_links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "object",
                "properties": {
                  "href": { "type": "string", "format": "uri" }
                }
              }
            }
          }
        }
      },
      "CastMember": {
        "type": "object",
        "properties": {
          "person": {
            "$ref": "#/components/schemas/Person"
          },
          "character": {
            "$ref": "#/components/schemas/Character"
          },
          "self": {
            "type": "boolean"
          },
          "voice": {
            "type": "boolean"
          }
        }
      },
      "CrewMember": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Crew role type (e.g., Creator, Director)"
          },
          "person": {
            "$ref": "#/components/schemas/Person"
          }
        }
      },
      "CastCredit": {
        "type": "object",
        "properties": {
          "_links": {
            "type": "object",
            "properties": {
              "show": {
                "type": "object",
                "properties": {
                  "href": { "type": "string", "format": "uri" }
                }
              },
              "character": {
                "type": "object",
                "properties": {
                  "href": { "type": "string", "format": "uri" }
                }
              }
            }
          }
        }
      },
      "CrewCredit": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Crew role type"
          },
          "_links": {
            "type": "object",
            "properties": {
              "show": {
                "type": "object",
                "properties": {
                  "href": { "type": "string", "format": "uri" }
                }
              }
            }
          }
        }
      },
      "Network": {
        "type": "object",
        "nullable": true,
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "country": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "code": { "type": "string" },
              "timezone": { "type": "string" }
            }
          },
          "officialSite": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        }
      },
      "WebChannel": {
        "type": "object",
        "nullable": true,
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "country": {
            "type": "object",
            "nullable": true,
            "properties": {
              "name": { "type": "string" },
              "code": { "type": "string" },
              "timezone": { "type": "string" }
            }
          },
          "officialSite": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        }
      },
      "ImageUrls": {
        "type": "object",
        "nullable": true,
        "properties": {
          "medium": {
            "type": "string",
            "format": "uri",
            "description": "Medium resolution image URL"
          },
          "original": {
            "type": "string",
            "format": "uri",
            "description": "Original resolution image URL"
          }
        }
      },
      "Image": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "description": "Image type (poster, banner, background, typography)"
          },
          "main": {
            "type": "boolean"
          },
          "resolutions": {
            "type": "object",
            "properties": {
              "original": {
                "type": "object",
                "properties": {
                  "url": { "type": "string", "format": "uri" },
                  "width": { "type": "integer" },
                  "height": { "type": "integer" }
                }
              },
              "medium": {
                "type": "object",
                "properties": {
                  "url": { "type": "string", "format": "uri" },
                  "width": { "type": "integer" },
                  "height": { "type": "integer" }
                }
              }
            }
          }
        }
      },
      "Aka": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "country": {
            "type": "object",
            "nullable": true,
            "properties": {
              "name": { "type": "string" },
              "code": { "type": "string" },
              "timezone": { "type": "string" }
            }
          }
        }
      },
      "AlternateList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "AlternateEpisode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "season": {
            "type": "integer"
          },
          "number": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ShowSearchResult": {
        "type": "object",
        "properties": {
          "score": {
            "type": "number",
            "description": "Search relevance score"
          },
          "show": {
            "$ref": "#/components/schemas/Show"
          }
        }
      },
      "PersonSearchResult": {
        "type": "object",
        "properties": {
          "score": {
            "type": "number",
            "description": "Search relevance score"
          },
          "person": {
            "$ref": "#/components/schemas/Person"
          }
        }
      },
      "ScheduleEpisode": {
        "type": "object",
        "description": "An episode with embedded show information for schedule listings",
        "allOf": [
          { "$ref": "#/components/schemas/Episode" },
          {
            "type": "object",
            "properties": {
              "_embedded": {
                "type": "object",
                "properties": {
                  "show": {
                    "$ref": "#/components/schemas/Show"
                  }
                }
              }
            }
          }
        ]
      }
    }
  },
  "tags": [
    { "name": "Search", "description": "Search for shows and people" },
    { "name": "Schedule", "description": "TV and streaming schedules" },
    { "name": "Shows", "description": "Show information, episodes, seasons, cast, and crew" },
    { "name": "Seasons", "description": "Season-level operations" },
    { "name": "Episodes", "description": "Episode-level operations" },
    { "name": "People", "description": "Person information and credits" },
    { "name": "Updates", "description": "Show and person update timestamps" },
    { "name": "Alternate Lists", "description": "Alternative episode orderings" }
  ]
}