{
  "openapi": "3.0.0",
  "info": {
    "title": "Agility Writer API (Beta)",
    "version": "1.2.1",
    "description": "API for creating and retrieving articles from Agility Writer."
  },
  "servers": [
    {
      "url": "https://app.agilitywriter.ai/api"
    }
  ],
  "paths": {
    "/v1/new-article": {
      "post": {
        "operationId": "newArticle",
        "summary": "New Article (Advanced Mode)",
        "description": "Submit a request to create a new advanced mode article. For more examples, visit [Example Payloads Documentation](https://apidocs.agilitywriter.ai/example-payloads.html).",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "article_title": {
                    "type": "string",
                    "description": "The title of the article. If left empty, ensure that the main keyword is provided.",
                    "maxLength": 200,
                    "example": "Eczema Treatment For Children: Managing Atopic Dermatitis In Kids"
                  },
                  "main_keyword": {
                    "type": "string",
                    "description": "The main keyword used to search top-ranking websites for generating article outlines and collecting entities. If left empty, the article title will be used by default, so please ensure that the article title is provided. (Optional)",
                    "maxLength": 200,
                    "example": "Eczema Treatment For Children"
                  },
                  "region": {
                    "type": "string",
                    "description": "The region for which the article is targeted.",
                    "enum": [
                      "ar",
                      "au",
                      "be",
                      "br",
                      "ca",
                      "cl",
                      "cn",
                      "hr",
                      "dk",
                      "fi",
                      "fr",
                      "de",
                      "hk",
                      "hu",
                      "in",
                      "id",
                      "ie",
                      "il",
                      "it",
                      "jp",
                      "my",
                      "mx",
                      "nl",
                      "nz",
                      "no",
                      "ph",
                      "pl",
                      "pt",
                      "ro",
                      "rs",
                      "sg",
                      "za",
                      "kr",
                      "es",
                      "lk",
                      "se",
                      "ch",
                      "tw",
                      "th",
                      "uk",
                      "ua",
                      "us",
                      "vn",
                      "bh",
                      "eg",
                      "kw",
                      "ma",
                      "om",
                      "sa",
                      "tn",
                      "ae"
                    ],
                    "example": "us"
                  },
                  "search_source": {
                    "type": "string",
                    "description": "The search source that the system will crawl to create the outline and use as the data source. Defaults to google_web.",
                    "enum": [
                      "google_web",
                      "google_news",
                      "bing_web"
                    ],
                    "example": "google_news"
                  },
                  "search_time_period": {
                    "type": "string",
                    "description": "The time period for the system to filter the search results. Defaults to any_time.",
                    "enum": [
                      "any_time",
                      "last_hour",
                      "last_day",
                      "last_week",
                      "last_month",
                      "last_year"
                    ],
                    "example": "any_time"
                  },
                  "project_id": {
                    "type": "integer",
                    "description": "The ID of the project to which the article belongs. Defaults to 0 (none). (Optional)",
                    "example": 0
                  },
                  "output_language": {
                    "type": "string",
                    "description": "The language in which the article will be written.",
                    "enum": [
                      "American English",
                      "Australian English",
                      "British English",
                      "Canadian English",
                      "Simplified Chinese",
                      "Traditional Chinese",
                      "Malay",
                      "Arabic",
                      "Brazilian Portuguese",
                      "Croatian",
                      "Danish",
                      "Dutch",
                      "German",
                      "French",
                      "Hebrew",
                      "Hungarian",
                      "Indonesian",
                      "Italian",
                      "Japanese",
                      "Korean",
                      "Norwegian",
                      "Polish",
                      "Portuguese",
                      "Romanian",
                      "Serbian",
                      "Spanish",
                      "Swedish",
                      "Tagalog",
                      "Vietnamese"
                    ],
                    "example": "American English"
                  },
                  "article_length": {
                    "type": "string",
                    "description": "The article length for the article. Defaults to auto.",
                    "enum": [
                      "auto",
                      "h2_focus",
                      "750",
                      "751_1250",
                      "1251_2000",
                      "2001_3000",
                      "3001_4000",
                      "4001_5000"
                    ],
                    "example": "auto"
                  },
                  "main_headings": {
                    "type": "string",
                    "description": "Deprecated - Use article_length. The number of main headings (H2 headings) to be used in the article. Defaults to auto. (Optional)",
                    "enum": [
                      "auto",
                      "h2_focus",
                      "3",
                      "4",
                      "5",
                      "6",
                      "7",
                      "8",
                      "9",
                      "10"
                    ],
                    "example": "auto"
                  },
                  "target_word_count": {
                    "type": "integer",
                    "description": "The target word count for the article. This option only applicable when main headings is set to auto or h2_focus. (Optional)",
                    "minimum": 500,
                    "maximum": 5000,
                    "example": 1500
                  },
                  "article_structure": {
                    "type": "string",
                    "description": "The structure of the content for each heading. Defaults to advanced_standard. (Optional)",
                    "enum": [
                      "advanced_standard",
                      "advanced_detail",
                      "text_standard",
                      "text_long"
                    ],
                    "example": "advanced_standard"
                  },
                  "ai_model": {
                    "type": "string",
                    "description": "The AI model to be used for generating the article. Defaults to standard. (Optional)",
                    "enum": [
                      "standard",
                      "gpt4o_mini",
                      "gpt4o",
                      "gpt4.1",
                      "gpt4.1_mini",
                      "gpt5",
                      "gpt5_mini",
                      "gpt5.2",
                      "o3_mini",
                      "o4_mini",
                      "claude4_sonnet",
                      "claude4.5_sonnet",
                      "claude4.6_sonnet",
                      "deepseek_v3",
                      "grok3",
                      "grok3_mini",
                      "grok4",
                      "gemini_pro_2.5",
                      "gemini_pro_3.1",
                      "gemini_flash_2.0"
                    ],
                    "example": "standard"
                  },
                  "factual_data": {
                    "type": "string",
                    "description": "The level of factual data to be included in the article. Defaults to custom. (Optional)",
                    "enum": [
                      "none",
                      "custom",
                      "indepth_research",
                      "indepth_research_cite",
                      "standard"
                    ],
                    "example": "custom"
                  },
                  "factual_data_custom_url": {
                    "type": "string",
                    "description": "Only applicable when factual_data is set to custom. Provide the factual data sources (maximum of 3 URLs) for the article, with each URL on a new line. If left empty, the system will automatically select 3 URLs from the top search results. If none of the URLs are accessible, the writing job will be canceled. (Optional)",
                    "example": ""
                  },
                  "audience": {
                    "type": "string",
                    "description": "The target audience for the article. (Optional)",
                    "maxLength": 200,
                    "example": "Parents"
                  },
                  "tone_of_voice": {
                    "type": "string",
                    "description": "The tone of voice to be used in the article. (Optional)",
                    "maxLength": 100,
                    "example": "Casual"
                  },
                  "point_of_view": {
                    "type": "string",
                    "description": "The point of view to be used in the article. Defaults to point_of_view_auto. (Optional)",
                    "enum": [
                      "point_of_view_auto",
                      "first_person_singular",
                      "first_person_plural",
                      "second_person",
                      "third_person"
                    ],
                    "example": "point_of_view_auto"
                  },
                  "writing_style": {
                    "type": "string",
                    "description": "The writing style to be used in the article. Defaults to default. (Optional)",
                    "enum": [
                      "default",
                      "auto_from_serp",
                      "all_authoritative_conversational",
                      "all_authoritative_instructional",
                      "all_expository_technical",
                      "all_humanize",
                      "all_precision_optimization",
                      "all_precision_semantic_triples",
                      "all_unfluffpro_1_authoritative",
                      "all_unfluffpro_2_authoritative",
                      "health_authoritative",
                      "local_biz_authoritative_persuasion",
                      "news",
                      "seo_nlp_friendly",
                      "seo_authoritative",
                      "travel_narrative",
                      "anti_ai_detection_concise_tone",
                      "anti_ai_detection_informal_tone"
                    ],
                    "example": "all_precision_semantic_triples"
                  },
                  "introduction_style": {
                    "type": "string",
                    "description": "The style of the introduction. Defaults to concise. (Optional)",
                    "enum": [
                      "concise",
                      "engaging",
                      "authoritative",
                      "comprehensive_insight"
                    ],
                    "example": "concise"
                  },
                  "conclusion_style": {
                    "type": "string",
                    "description": "The style of the conclusion. Defaults to concise. (Optional)",
                    "enum": [
                      "concise",
                      "engaging",
                      "expert_opinion"
                    ],
                    "example": "concise"
                  },
                  "include_custom_instruction": {
                    "type": "boolean",
                    "description": "Option to include custom instructions for the article. Defaults to false. (Optional)",
                    "example": true
                  },
                  "custom_knowledge": {
                    "type": "string",
                    "description": "Custom knowledge to be included in the article. Do not include writing instruction. (Optional)",
                    "maxLength": 10000,
                    "example": ""
                  },
                  "customize_outline_method": {
                    "type": "string",
                    "description": "The method for customizing the outline. Defaults to instructions. (Optional)",
                    "enum": [
                      "instructions",
                      "fixed_template",
                      "dynamic_template"
                    ],
                    "example": "instructions"
                  },
                  "customize_outline_instruction": {
                    "type": "string",
                    "description": "Instructions for customizing the outline. (Optional)",
                    "maxLength": 3000,
                    "example": ""
                  },
                  "writing_instruction_for_heading": {
                    "type": "string",
                    "description": "Writing instructions for all headings. (Optional)",
                    "maxLength": 1500,
                    "example": ""
                  },
                  "create_outline": {
                    "type": "boolean",
                    "description": "Option to create an outline for the article. Defaults to false. (Optional)",
                    "example": true
                  },
                  "article_outline": {
                    "type": "string",
                    "description": "The outline of the article. If empty, an outline will be auto-generated.",
                    "example": ""
                  },
                  "keywords": {
                    "type": "string",
                    "description": "List of keywords to be included in the article. Each keyword should be on a new line. (Optional)",
                    "example": "Keyword 1\nKeyword 2\nKeyword 3"
                  },
                  "key_takeaways": {
                    "type": "boolean",
                    "description": "Option to generate key takeaways for the article. Defaults to true. (Optional)",
                    "example": true
                  },
                  "faqs_title_description": {
                    "type": "boolean",
                    "description": "Option to generate FAQs, meta title, and description for the article. Defaults to true. (Optional)",
                    "example": true
                  },
                  "image_prompts": {
                    "type": "boolean",
                    "description": "Option to generate image prompts for the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "youtube_videos": {
                    "type": "boolean",
                    "description": "Option to include relevant YouTube videos in the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "add_styling": {
                    "type": "boolean",
                    "description": "Option to add bold formatting style to the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "readability_level": {
                    "type": "string",
                    "description": "This option enhances the article's readability. Defaults to default. (Optional)",
                    "enum": [
                      "default",
                      "5th_grade",
                      "6th_grade",
                      "7th_grade",
                      "8th_9th_grade",
                      "10th_12th_grade",
                      "13th_15th_grade",
                      "16th_grade"
                    ],
                    "example": "default"
                  },
                  "improve_readability": {
                    "type": "boolean",
                    "description": "Deprecated - Use readability_level. This option enhances the article's readability but will be ignored if readability_level is specified. Defaults to true. (Optional)",
                    "example": true
                  },
                  "authority_links": {
                    "type": "boolean",
                    "description": "Option to include authority links in the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "internal_links": {
                    "type": "boolean",
                    "description": "Option to include internal links in the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "internal_links_references": {
                    "type": "string",
                    "description": "A list of internal link references to be incorporated into the article. Each link should be on a new line. (Optional)",
                    "example": "https://aiseoarticle.com/url-1/\nhttps://aiseoarticle.com/url-2/"
                  },
                  "entity_enrichment": {
                    "type": "boolean",
                    "description": "Option to include entities from top-ranking sites in the article. Defaults to true. (Optional)",
                    "example": true
                  },
                  "change_h3_to_bold": {
                    "type": "boolean",
                    "description": "Option to change H3 headings to bold in the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "disable_transition": {
                    "type": "boolean",
                    "description": "Option to exclude transition words between each heading. Defaults to true. (Optional)",
                    "example": true
                  },
                  "exclude_quotes": {
                    "type": "boolean",
                    "description": "Option to exclude quotes in the article. Defaults to true. (Optional)",
                    "example": true
                  },
                  "negative_terms": {
                    "type": "boolean",
                    "description": "Option to remove negative terms from the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "negative_terms_references": {
                    "type": "string",
                    "description": "A list of negative terms to be removed from the article. If left empty, common negative terms will be used.  (Optional)",
                    "example": "believe it or not, trust us, buckle up, in additional, additionally, navigating, when it comes to, embarking"
                  },
                  "first_hand_experience": {
                    "type": "boolean",
                    "description": "Option to include first-hand experience in the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "shoutout_posts": {
                    "type": "boolean",
                    "description": "Option to generate shoutout posts from the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "images_placement": {
                    "type": "string",
                    "description": "Option to include number of images in the article. Defaults to none. (Optional)",
                    "enum": [
                      "none",
                      "free",
                      "standard_20",
                      "standard_40",
                      "standard_60",
                      "premium_6",
                      "premium_13",
                      "premium_19"
                    ],
                    "example": "free"
                  },
                  "images_style": {
                    "type": "string",
                    "description": "The style of images to be included in the article. Defaults to photo. (Optional)",
                    "enum": [
                      "photo",
                      "cinematic",
                      "creative_photo",
                      "anime",
                      "comic_book",
                      "digital_art",
                      "fantasy_art",
                      "flat_design"
                    ],
                    "example": "photo"
                  },
                  "images_size": {
                    "type": "string",
                    "description": "The size of images to be included in the article. Defaults to landscape_3_2. (Optional)",
                    "enum": [
                      "landscape_16_9",
                      "landscape_3_2",
                      "portrait_9_16",
                      "square",
                      "landscape_16_9_small",
                      "landscape_3_2_small",
                      "portrait_9_16_small",
                      "square_small"
                    ],
                    "example": "landscape_3_2"
                  },
                  "images_alt_tag": {
                    "type": "string",
                    "description": "The alt tag for images included in the article. Defaults to short. (Optional)",
                    "enum": [
                      "none",
                      "short",
                      "long",
                      "short_keyword",
                      "long_keyword"
                    ],
                    "example": "none"
                  },
                  "images_text_overlay": {
                    "type": "string",
                    "description": "The number of text overlay images included in the article. Defaults to none. (Optional)",
                    "enum": [
                      "none",
                      "1_none",
                      "1_black",
                      "1_blue",
                      "1_green",
                      "1_red",
                      "2_none",
                      "2_black",
                      "2_blue",
                      "2_green",
                      "2_red"
                    ],
                    "example": "none"
                  },
                  "images_no_people": {
                    "type": "string",
                    "description": "The presence of people in the images included in the article. Defaults to auto. (Optional)",
                    "enum": [
                      "auto",
                      "less",
                      "more",
                      "none"
                    ],
                    "example": "auto"
                  },
                  "images_ethnicity": {
                    "type": "string",
                    "description": "The ethnicity of people in the images included in the article. Defaults to auto. (Optional)",
                    "enum": [
                      "auto",
                      "black",
                      "caucasian",
                      "east_asian",
                      "south_asian",
                      "hispanic"
                    ],
                    "example": "auto"
                  },
                  "images_same_person": {
                    "type": "string",
                    "description": "Option to use the same person in all images included in the article. Defaults to no. (Optional)",
                    "enum": [
                      "no",
                      "yes"
                    ],
                    "example": "no"
                  },
                  "publish_to": {
                    "type": "string",
                    "description": "The URL of the site where the article will be published. This URL must match the site specified in the Agility Writer WordPress integration. If left empty, the system will not auto-publish the article. (Optional)",
                    "example": "https://aiseoarticle.com"
                  },
                  "publish_type": {
                    "type": "string",
                    "description": "The type of publication (post or page). Defaults to post. (Optional)",
                    "enum": [
                      "post",
                      "page"
                    ],
                    "example": "post"
                  },
                  "publish_status": {
                    "type": "string",
                    "description": "The status of the publication (draft or publish). Defaults to draft. (Optional)",
                    "enum": [
                      "draft",
                      "publish"
                    ],
                    "example": "draft"
                  },
                  "publish_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The publish date of the article. Defaults to current date time. (Optional)",
                    "example": "2024-07-08 10:10"
                  },
                  "publish_category_id": {
                    "type": "integer",
                    "description": "The category ID for the publication. (Optional)",
                    "example": 0
                  },
                  "publish_slug_type": {
                    "type": "string",
                    "description": "The type of slug for the publication. (Optional)",
                    "enum": [
                      "default",
                      "keyword",
                      "title"
                    ],
                    "example": "default"
                  },
                  "publish_tags": {
                    "type": "string",
                    "description": "The tags for the publication. (Optional)",
                    "maxLength": 500,
                    "example": "tag 1, tag 2, tag 3"
                  },
                  "nw_api_key": {
                    "type": "string",
                    "description": "The API key for NeuronWriter. (Optional)",
                    "maxLength": 100
                  },
                  "nw_query_id": {
                    "type": "string",
                    "description": "The query ID for NeuronWriter. (Optional)",
                    "maxLength": 100
                  },
                  "nw_project_id": {
                    "type": "string",
                    "description": "The project ID for NeuronWriter. (Optional)",
                    "maxLength": 100
                  },
                  "nw_word_count": {
                    "type": "integer",
                    "description": "The word count from NeuronWriter. (Optional)",
                    "minimum": 500,
                    "maximum": 5000,
                    "example": 500
                  },
                  "nw_to_content_editor": {
                    "type": "boolean",
                    "description": "Option to auto-push the article to NeuronWriter once completed. Defaults to false. (Optional)",
                    "example": false
                  }
                },
                "required": [
                  "article_title",
                  "region",
                  "output_language",
                  "article_length",
                  "ai_model"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status of the response."
                    },
                    "article_id": {
                      "type": "integer",
                      "description": "The ID of the created article."
                    },
                    "message": {
                      "type": "string",
                      "description": "The message related to the status."
                    }
                  },
                  "example": {
                    "status": "Success",
                    "article_id": 6118,
                    "message": "Your request has been added to the writing queue"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status of the response."
                    },
                    "message": {
                      "type": "string",
                      "description": "The error message related to the status."
                    }
                  },
                  "example": {
                    "status": "Error",
                    "message": "Validation Failed: Invalid Region"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status of the response."
                    },
                    "message": {
                      "type": "string",
                      "description": "The error message related to the status."
                    }
                  },
                  "example": {
                    "status": "Error",
                    "message": "Invalid API key"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/new-webpage": {
      "post": {
        "operationId": "newWebpage",
        "summary": "New Business Webpage",
        "description": "Submit a request to write content for business website pages. For more examples, visit [Example Payloads Documentation](https://apidocs.agilitywriter.ai/example-payloads.html).",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "article_title": {
                    "type": "string",
                    "description": "The title of the article. If left empty, ensure that the main keyword is provided.",
                    "maxLength": 200,
                    "example": "Top Locksmiths In Melbourne - 247 Pro Locksmith"
                  },
                  "main_keyword": {
                    "type": "string",
                    "description": "The main keyword used to search top-ranking websites for generating article outlines and collecting entities. If left empty, the article title will be used by default, so please ensure that the article title is provided. (Optional)",
                    "maxLength": 200,
                    "example": "Locksmiths In Melbourne"
                  },
                  "region": {
                    "type": "string",
                    "description": "The region for which the article is targeted.",
                    "enum": [
                      "ar",
                      "au",
                      "be",
                      "br",
                      "ca",
                      "cl",
                      "cn",
                      "hr",
                      "dk",
                      "fi",
                      "fr",
                      "de",
                      "hk",
                      "hu",
                      "in",
                      "id",
                      "ie",
                      "il",
                      "it",
                      "jp",
                      "my",
                      "mx",
                      "nl",
                      "nz",
                      "no",
                      "ph",
                      "pl",
                      "pt",
                      "ro",
                      "rs",
                      "sg",
                      "za",
                      "kr",
                      "es",
                      "lk",
                      "se",
                      "ch",
                      "tw",
                      "th",
                      "uk",
                      "ua",
                      "us",
                      "vn",
                      "bh",
                      "eg",
                      "kw",
                      "ma",
                      "om",
                      "sa",
                      "tn",
                      "ae"
                    ],
                    "example": "au"
                  },
                  "project_id": {
                    "type": "integer",
                    "description": "The ID of the project to which the article belongs. Defaults to 0 (none). (Optional)",
                    "example": 0
                  },
                  "output_language": {
                    "type": "string",
                    "description": "The language in which the article will be written.",
                    "enum": [
                      "American English",
                      "Australian English",
                      "British English",
                      "Canadian English",
                      "Simplified Chinese",
                      "Traditional Chinese",
                      "Malay",
                      "Arabic",
                      "Brazilian Portuguese",
                      "Croatian",
                      "Danish",
                      "Dutch",
                      "German",
                      "French",
                      "Hebrew",
                      "Hungarian",
                      "Indonesian",
                      "Italian",
                      "Japanese",
                      "Korean",
                      "Norwegian",
                      "Polish",
                      "Portuguese",
                      "Romanian",
                      "Serbian",
                      "Spanish",
                      "Swedish",
                      "Tagalog",
                      "Vietnamese"
                    ],
                    "example": "Australian English"
                  },
                  "article_length": {
                    "type": "string",
                    "description": "The article length for the article. Defaults to auto.",
                    "enum": [
                      "auto",
                      "h2_focus",
                      "750",
                      "751_1250",
                      "1251_2000",
                      "2001_3000",
                      "3001_4000",
                      "4001_5000"
                    ],
                    "example": "auto"
                  },
                  "main_headings": {
                    "type": "string",
                    "description": "Deprecated - Use article_length. The number of main headings (H2 headings) to be used in the article. Defaults to auto. (Optional)",
                    "enum": [
                      "auto",
                      "h2_focus",
                      "3",
                      "4",
                      "5",
                      "6",
                      "7",
                      "8",
                      "9",
                      "10"
                    ],
                    "example": "auto"
                  },
                  "target_word_count": {
                    "type": "integer",
                    "description": "The target word count for the article. This option only applicable when main headings is set to auto or h2_focus. (Optional)",
                    "minimum": 500,
                    "maximum": 5000,
                    "example": 1500
                  },
                  "article_structure": {
                    "type": "string",
                    "description": "The structure of the content for each heading. Defaults to advanced_standard. (Optional)",
                    "enum": [
                      "advanced_standard",
                      "advanced_detail",
                      "text_standard",
                      "text_long"
                    ],
                    "example": "advanced_standard"
                  },
                  "ai_model": {
                    "type": "string",
                    "description": "The AI model to be used for generating the article. Defaults to standard. (Optional)",
                    "enum": [
                      "standard",
                      "gpt4o_mini",
                      "gpt4o",
                      "gpt4.1",
                      "gpt4.1_mini",
                      "gpt5",
                      "gpt5_mini",
                      "gpt5.2",
                      "o3_mini",
                      "o4_mini",
                      "claude4_sonnet",
                      "claude4.5_sonnet",
                      "claude4.6_sonnet",
                      "deepseek_v3",
                      "grok3",
                      "grok3_mini",
                      "grok4",
                      "gemini_pro_2.5",
                      "gemini_pro_3.1",
                      "gemini_flash_2.0"
                    ],
                    "example": "standard"
                  },
                  "factual_data": {
                    "type": "string",
                    "description": "The level of factual data to be included in the article. Defaults to custom. (Optional)",
                    "enum": [
                      "none",
                      "custom",
                      "indepth_research",
                      "indepth_research_cite",
                      "standard"
                    ],
                    "example": "custom"
                  },
                  "factual_data_custom_url": {
                    "type": "string",
                    "description": "Only applicable when factual_data is set to custom. Provide the factual data sources (maximum of 3 URLs) for the article, with each URL on a new line. If left empty, the system will automatically select 3 URLs from the top search results. If none of the URLs are accessible, the writing job will be canceled. (Optional)",
                    "example": ""
                  },
                  "audience": {
                    "type": "string",
                    "description": "The target audience for the article. (Optional)",
                    "maxLength": 200,
                    "example": "Homeowner"
                  },
                  "tone_of_voice": {
                    "type": "string",
                    "description": "The tone of voice to be used in the article. (Optional)",
                    "maxLength": 100,
                    "example": "Casual"
                  },
                  "point_of_view": {
                    "type": "string",
                    "description": "The point of view to be used in the article. Defaults to point_of_view_auto. (Optional)",
                    "enum": [
                      "point_of_view_auto",
                      "first_person_singular",
                      "first_person_plural",
                      "second_person",
                      "third_person"
                    ],
                    "example": "point_of_view_auto"
                  },
                  "writing_style": {
                    "type": "string",
                    "description": "The writing style to be used in the article. Defaults to default. (Optional)",
                    "enum": [
                      "default",
                      "auto_from_serp",
                      "all_authoritative_conversational",
                      "all_authoritative_instructional",
                      "all_expository_technical",
                      "all_humanize",
                      "all_precision_optimization",
                      "all_precision_semantic_triples",
                      "all_unfluffpro_1_authoritative",
                      "all_unfluffpro_2_authoritative",
                      "health_authoritative",
                      "local_biz_authoritative_persuasion",
                      "news",
                      "seo_nlp_friendly",
                      "seo_authoritative",
                      "travel_narrative",
                      "anti_ai_detection_concise_tone",
                      "anti_ai_detection_informal_tone"
                    ],
                    "example": "all_precision_semantic_triples"
                  },
                  "introduction_style": {
                    "type": "string",
                    "description": "The style of the introduction. Defaults to concise. (Optional)",
                    "enum": [
                      "concise",
                      "engaging",
                      "authoritative",
                      "comprehensive_insight"
                    ],
                    "example": "concise"
                  },
                  "conclusion_style": {
                    "type": "string",
                    "description": "The style of the conclusion. Defaults to concise. (Optional)",
                    "enum": [
                      "concise",
                      "engaging",
                      "expert_opinion"
                    ],
                    "example": "concise"
                  },
                  "business_name": {
                    "type": "string",
                    "description": "The name of the business for which the article is being created.",
                    "maxLength": 100,
                    "example": "247 Pro Locksmith"
                  },
                  "type_of_business": {
                    "type": "string",
                    "description": "The type of business for which the article is being created.",
                    "maxLength": 100,
                    "example": "Locksmith in Melbourne"
                  },
                  "custom_knowledge": {
                    "type": "string",
                    "description": "Custom knowledge/Background info to be included in the article. Do not include writing instruction. (Optional)",
                    "maxLength": 10000,
                    "example": "We founded 247 Pro Locksmith in Melbourne, Australia, in 2010. Our goal was simple..."
                  },
                  "create_outline": {
                    "type": "boolean",
                    "description": "Option to create an outline for the article. Defaults to false. (Optional)",
                    "example": true
                  },
                  "article_outline": {
                    "type": "string",
                    "description": "The outline of the article. If empty, an outline will be auto-generated.",
                    "example": ""
                  },
                  "include_custom_instruction": {
                    "type": "boolean",
                    "description": "Option to include custom instructions for the article. Defaults to false. (Optional)",
                    "example": true
                  },
                  "customize_outline_method": {
                    "type": "string",
                    "description": "The method for customizing the outline. Defaults to instructions. (Optional)",
                    "enum": [
                      "instructions",
                      "fixed_template",
                      "dynamic_template"
                    ],
                    "example": "instructions"
                  },
                  "customize_outline_instruction": {
                    "type": "string",
                    "description": "Instructions for customizing the outline. (Optional)",
                    "maxLength": 3000,
                    "example": ""
                  },
                  "writing_instruction_for_heading": {
                    "type": "string",
                    "description": "Writing instructions for all headings. (Optional)",
                    "maxLength": 1500,
                    "example": ""
                  },
                  "keywords": {
                    "type": "string",
                    "description": "List of keywords to be included in the article. Each keyword should be on a new line. (Optional)",
                    "example": "Keyword 1\nKeyword 2\nKeyword 3"
                  },
                  "key_takeaways": {
                    "type": "boolean",
                    "description": "Option to generate key takeaways for the article. Defaults to true. (Optional)",
                    "example": true
                  },
                  "faqs_title_description": {
                    "type": "boolean",
                    "description": "Option to generate FAQs, meta title, and description for the article. Defaults to true. (Optional)",
                    "example": true
                  },
                  "image_prompts": {
                    "type": "boolean",
                    "description": "Option to generate image prompts for the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "youtube_videos": {
                    "type": "boolean",
                    "description": "Option to include relevant YouTube videos in the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "add_styling": {
                    "type": "boolean",
                    "description": "Option to add bold formatting style to the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "readability_level": {
                    "type": "string",
                    "description": "This option enhances the article's readability. Defaults to default. (Optional)",
                    "enum": [
                      "default",
                      "5th_grade",
                      "6th_grade",
                      "7th_grade",
                      "8th_9th_grade",
                      "10th_12th_grade",
                      "13th_15th_grade",
                      "16th_grade"
                    ],
                    "example": "default"
                  },
                  "improve_readability": {
                    "type": "boolean",
                    "description": "Deprecated - Use readability_level. This option enhances the article's readability but will be ignored if readability_level is specified. Defaults to true. (Optional)",
                    "example": true
                  },
                  "authority_links": {
                    "type": "boolean",
                    "description": "Option to include authority links in the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "internal_links": {
                    "type": "boolean",
                    "description": "Option to include internal links in the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "internal_links_references": {
                    "type": "string",
                    "description": "A list of internal link references to be incorporated into the article. Each link should be on a new line. (Optional)",
                    "example": "https://aiseoarticle.com/url-1/\nhttps://aiseoarticle.com/url-2/"
                  },
                  "entity_enrichment": {
                    "type": "boolean",
                    "description": "Option to include entities from top-ranking sites in the article. Defaults to true. (Optional)",
                    "example": true
                  },
                  "change_h3_to_bold": {
                    "type": "boolean",
                    "description": "Option to change H3 headings to bold in the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "disable_transition": {
                    "type": "boolean",
                    "description": "Option to exclude transition words between each heading. Defaults to true. (Optional)",
                    "example": true
                  },
                  "exclude_quotes": {
                    "type": "boolean",
                    "description": "Option to exclude quotes in the article. Defaults to true. (Optional)",
                    "example": true
                  },
                  "negative_terms": {
                    "type": "boolean",
                    "description": "Option to remove negative terms from the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "negative_terms_references": {
                    "type": "string",
                    "description": "A list of negative terms to be removed from the article. If left empty, common negative terms will be used.  (Optional)",
                    "example": "believe it or not, trust us, buckle up, in additional, additionally, navigating, when it comes to, embarking"
                  },
                  "first_hand_experience": {
                    "type": "boolean",
                    "description": "Option to include first-hand experience in the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "shoutout_posts": {
                    "type": "boolean",
                    "description": "Option to generate shoutout posts from the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "images_placement": {
                    "type": "string",
                    "description": "Option to include number of images in the article. Defaults to none. (Optional)",
                    "enum": [
                      "none",
                      "free",
                      "standard_20",
                      "standard_40",
                      "standard_60",
                      "premium_6",
                      "premium_13",
                      "premium_19"
                    ],
                    "example": "free"
                  },
                  "images_style": {
                    "type": "string",
                    "description": "The style of images to be included in the article. Defaults to photo. (Optional)",
                    "enum": [
                      "photo",
                      "cinematic",
                      "creative_photo",
                      "anime",
                      "comic_book",
                      "digital_art",
                      "fantasy_art",
                      "flat_design"
                    ],
                    "example": "photo"
                  },
                  "images_size": {
                    "type": "string",
                    "description": "The size of images to be included in the article. Defaults to landscape_3_2. (Optional)",
                    "enum": [
                      "landscape_16_9",
                      "landscape_3_2",
                      "portrait_9_16",
                      "square",
                      "landscape_16_9_small",
                      "landscape_3_2_small",
                      "portrait_9_16_small",
                      "square_small"
                    ],
                    "example": "landscape_3_2"
                  },
                  "images_alt_tag": {
                    "type": "string",
                    "description": "The alt tag for images included in the article. Defaults to short. (Optional)",
                    "enum": [
                      "none",
                      "short",
                      "long",
                      "short_keyword",
                      "long_keyword"
                    ],
                    "example": "none"
                  },
                  "images_text_overlay": {
                    "type": "string",
                    "description": "The number of text overlay images included in the article. Defaults to none. (Optional)",
                    "enum": [
                      "none",
                      "1_none",
                      "1_black",
                      "1_blue",
                      "1_green",
                      "1_red",
                      "2_none",
                      "2_black",
                      "2_blue",
                      "2_green",
                      "2_red"
                    ],
                    "example": "none"
                  },
                  "images_no_people": {
                    "type": "string",
                    "description": "The presence of people in the images included in the article. Defaults to auto. (Optional)",
                    "enum": [
                      "auto",
                      "less",
                      "more",
                      "none"
                    ],
                    "example": "auto"
                  },
                  "images_ethnicity": {
                    "type": "string",
                    "description": "The ethnicity of people in the images included in the article. Defaults to auto. (Optional)",
                    "enum": [
                      "auto",
                      "black",
                      "caucasian",
                      "east_asian",
                      "south_asian",
                      "hispanic"
                    ],
                    "example": "auto"
                  },
                  "images_same_person": {
                    "type": "string",
                    "description": "Option to use the same person in all images included in the article. Defaults to no. (Optional)",
                    "enum": [
                      "no",
                      "yes"
                    ],
                    "example": "no"
                  },
                  "publish_to": {
                    "type": "string",
                    "description": "The URL of the site where the article will be published. This URL must match the site specified in the Agility Writer WordPress integration. If left empty, the system will not auto-publish the article. (Optional)",
                    "example": "https://aiseoarticle.com"
                  },
                  "publish_type": {
                    "type": "string",
                    "description": "The type of publication (post or page). Defaults to post. (Optional)",
                    "enum": [
                      "post",
                      "page"
                    ],
                    "example": "post"
                  },
                  "publish_status": {
                    "type": "string",
                    "description": "The status of the publication (draft or publish). Defaults to draft. (Optional)",
                    "enum": [
                      "draft",
                      "publish"
                    ],
                    "example": "draft"
                  },
                  "publish_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The publish date of the article. Defaults to current date time. (Optional)",
                    "example": "2024-07-08 10:10"
                  },
                  "publish_category_id": {
                    "type": "integer",
                    "description": "The category ID for the publication. (Optional)",
                    "example": 0
                  },
                  "publish_slug_type": {
                    "type": "string",
                    "description": "The type of slug for the publication. (Optional)",
                    "enum": [
                      "default",
                      "keyword",
                      "title"
                    ],
                    "example": "default"
                  },
                  "publish_tags": {
                    "type": "string",
                    "description": "The tags for the publication. (Optional)",
                    "maxLength": 500,
                    "example": "tag 1, tag 2, tag 3"
                  },
                  "nw_api_key": {
                    "type": "string",
                    "description": "The API key for NeuronWriter. (Optional)",
                    "maxLength": 100
                  },
                  "nw_query_id": {
                    "type": "string",
                    "description": "The query ID for NeuronWriter. (Optional)",
                    "maxLength": 100
                  },
                  "nw_project_id": {
                    "type": "string",
                    "description": "The project ID for NeuronWriter. (Optional)",
                    "maxLength": 100
                  },
                  "nw_word_count": {
                    "type": "integer",
                    "description": "The word count from NeuronWriter. (Optional)",
                    "minimum": 500,
                    "maximum": 5000,
                    "example": 500
                  },
                  "nw_to_content_editor": {
                    "type": "boolean",
                    "description": "Option to auto-push the article to NeuronWriter once completed. Defaults to false. (Optional)",
                    "example": false
                  }
                },
                "required": [
                  "article_title",
                  "region",
                  "output_language",
                  "article_length",
                  "ai_model",
                  "business_name",
                  "type_of_business"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status of the response."
                    },
                    "article_id": {
                      "type": "integer",
                      "description": "The ID of the created article."
                    },
                    "message": {
                      "type": "string",
                      "description": "The message related to the status."
                    }
                  },
                  "example": {
                    "status": "Success",
                    "article_id": 6118,
                    "message": "Your request has been added to the writing queue"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status of the response."
                    },
                    "message": {
                      "type": "string",
                      "description": "The error message related to the status."
                    }
                  },
                  "example": {
                    "status": "Error",
                    "message": "Validation Failed: Invalid Region"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status of the response."
                    },
                    "message": {
                      "type": "string",
                      "description": "The error message related to the status."
                    }
                  },
                  "example": {
                    "status": "Error",
                    "message": "Invalid API key"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/new-youtube-article": {
      "post": {
        "operationId": "newYouTubeArticle",
        "summary": "New YouTube Video to Article",
        "description": "Submit a request to create a new article from a YouTube video. For more examples, visit [Example Payloads Documentation](https://apidocs.agilitywriter.ai/example-payloads.html).",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "youtube_url": {
                    "type": "string",
                    "description": "The URL of the YouTube Video. The YouTube video must be publicly accessible and contain English captions. You can select videos with a maximum of 60 minutes in length. Video with foreign captions is not supported yet.",
                    "maxLength": 500,
                    "example": "https://www.youtube.com/watch?v=LwxgaswY2yE"
                  },
                  "article_title": {
                    "type": "string",
                    "description": "The title of the article. If left empty, ensure that the main keyword is provided.",
                    "maxLength": 200,
                    "example": "AgilityWriter - AI Writer that create read-to-rank articles"
                  },
                  "main_keyword": {
                    "type": "string",
                    "description": "The main keyword used to search top-ranking websites for generating article outlines and collecting entities. If left empty, the article title will be used by default, so please ensure that the article title is provided. (Optional)",
                    "maxLength": 200,
                    "example": "AgilityWriter - AI Writer that create read-to-rank articles"
                  },
                  "region": {
                    "type": "string",
                    "description": "The region for which the article is targeted.",
                    "enum": [
                      "ar",
                      "au",
                      "be",
                      "br",
                      "ca",
                      "cl",
                      "cn",
                      "hr",
                      "dk",
                      "fi",
                      "fr",
                      "de",
                      "hk",
                      "hu",
                      "in",
                      "id",
                      "ie",
                      "il",
                      "it",
                      "jp",
                      "my",
                      "mx",
                      "nl",
                      "nz",
                      "no",
                      "ph",
                      "pl",
                      "pt",
                      "ro",
                      "rs",
                      "sg",
                      "za",
                      "kr",
                      "es",
                      "lk",
                      "se",
                      "ch",
                      "tw",
                      "th",
                      "uk",
                      "ua",
                      "us",
                      "vn",
                      "bh",
                      "eg",
                      "kw",
                      "ma",
                      "om",
                      "sa",
                      "tn",
                      "ae"
                    ],
                    "example": "us"
                  },
                  "project_id": {
                    "type": "integer",
                    "description": "The ID of the project to which the article belongs. Defaults to 0 (none). (Optional)",
                    "example": 0
                  },
                  "output_language": {
                    "type": "string",
                    "description": "The language in which the article will be written.",
                    "enum": [
                      "American English",
                      "Australian English",
                      "British English",
                      "Canadian English",
                      "Simplified Chinese",
                      "Traditional Chinese",
                      "Malay",
                      "Arabic",
                      "Brazilian Portuguese",
                      "Croatian",
                      "Danish",
                      "Dutch",
                      "German",
                      "French",
                      "Hebrew",
                      "Hungarian",
                      "Indonesian",
                      "Italian",
                      "Japanese",
                      "Korean",
                      "Norwegian",
                      "Polish",
                      "Portuguese",
                      "Romanian",
                      "Serbian",
                      "Spanish",
                      "Swedish",
                      "Tagalog",
                      "Vietnamese"
                    ],
                    "example": "American English"
                  },
                  "article_length": {
                    "type": "string",
                    "description": "The article length for the article. Defaults to auto.",
                    "enum": [
                      "auto",
                      "h2_focus"
                    ],
                    "example": "auto"
                  },
                  "main_headings": {
                    "type": "string",
                    "description": "Deprecated - Use article_length. The number of main headings (H2 headings) to be used in the article. Defaults to auto. (Optional)",
                    "enum": [
                      "auto",
                      "h2_focus"
                    ],
                    "example": "auto"
                  },
                  "target_word_count": {
                    "type": "integer",
                    "description": "The target word count for the article. This option only applicable when main headings is set to auto or h2_focus. (Optional)",
                    "minimum": 500,
                    "maximum": 5000,
                    "example": 1500
                  },
                  "article_structure": {
                    "type": "string",
                    "description": "The structure of the content for each heading. Defaults to advanced_standard. (Optional)",
                    "enum": [
                      "advanced_standard",
                      "advanced_detail",
                      "text_standard",
                      "text_long"
                    ],
                    "example": "advanced_standard"
                  },
                  "ai_model": {
                    "type": "string",
                    "description": "The AI model to be used for generating the article. Defaults to standard. (Optional)",
                    "enum": [
                      "standard",
                      "gpt4o_mini",
                      "gpt4o",
                      "gpt4.1",
                      "gpt4.1_mini",
                      "gpt5",
                      "gpt5_mini",
                      "gpt5.2",
                      "o3_mini",
                      "o4_mini",
                      "claude4_sonnet",
                      "claude4.5_sonnet",
                      "claude4.6_sonnet",
                      "deepseek_v3",
                      "grok3",
                      "grok3_mini",
                      "grok4",
                      "gemini_pro_2.5",
                      "gemini_pro_3.1",
                      "gemini_flash_2.0"
                    ],
                    "example": "standard"
                  },
                  "factual_data": {
                    "type": "string",
                    "description": "The level of factual data to be included in the article. Defaults to custom (From URL). (Optional)",
                    "enum": [
                      "custom",
                      "indepth_research",
                      "indepth_research_cite"
                    ],
                    "example": "custom"
                  },
                  "factual_data_custom_url": {
                    "type": "string",
                    "description": "Only applicable when factual_data is set to custom. Provide the factual data sources (maximum of 3 URLs) for the article, with each URL on a new line. If left empty, the system will automatically select 3 URLs from the top search results. If none of the URLs are accessible, the writing job will be canceled. (Optional)",
                    "example": ""
                  },
                  "audience": {
                    "type": "string",
                    "description": "The target audience for the article. (Optional)",
                    "maxLength": 200,
                    "example": "Blogger"
                  },
                  "tone_of_voice": {
                    "type": "string",
                    "description": "The tone of voice to be used in the article. (Optional)",
                    "maxLength": 100,
                    "example": "Casual"
                  },
                  "point_of_view": {
                    "type": "string",
                    "description": "The point of view to be used in the article. Defaults to point_of_view_auto. (Optional)",
                    "enum": [
                      "point_of_view_auto",
                      "first_person_singular",
                      "first_person_plural",
                      "second_person",
                      "third_person"
                    ],
                    "example": "point_of_view_auto"
                  },
                  "writing_style": {
                    "type": "string",
                    "description": "The writing style to be used in the article. Defaults to default. (Optional)",
                    "enum": [
                      "default",
                      "auto_from_serp",
                      "all_authoritative_conversational",
                      "all_authoritative_instructional",
                      "all_expository_technical",
                      "all_humanize",
                      "all_precision_optimization",
                      "all_precision_semantic_triples",
                      "all_unfluffpro_1_authoritative",
                      "all_unfluffpro_2_authoritative",
                      "health_authoritative",
                      "local_biz_authoritative_persuasion",
                      "news",
                      "seo_nlp_friendly",
                      "seo_authoritative",
                      "travel_narrative",
                      "anti_ai_detection_concise_tone",
                      "anti_ai_detection_informal_tone"
                    ],
                    "example": "all_precision_semantic_triples"
                  },
                  "introduction_style": {
                    "type": "string",
                    "description": "The style of the introduction. Defaults to concise. (Optional)",
                    "enum": [
                      "concise",
                      "engaging",
                      "authoritative",
                      "comprehensive_insight"
                    ],
                    "example": "concise"
                  },
                  "conclusion_style": {
                    "type": "string",
                    "description": "The style of the conclusion. Defaults to concise. (Optional)",
                    "enum": [
                      "concise",
                      "engaging",
                      "expert_opinion"
                    ],
                    "example": "concise"
                  },
                  "create_outline": {
                    "type": "boolean",
                    "description": "Option to create an outline for the article. Defaults to false. (Optional)",
                    "example": true
                  },
                  "article_outline": {
                    "type": "string",
                    "description": "The outline of the article. If empty, an outline will be auto-generated.",
                    "example": ""
                  },
                  "include_custom_instruction": {
                    "type": "boolean",
                    "description": "Option to include custom instructions for the article. Defaults to false. (Optional)",
                    "example": true
                  },
                  "custom_knowledge": {
                    "type": "string",
                    "description": "Custom knowledge to be included in the article. Do not include writing instruction. (Optional)",
                    "maxLength": 10000,
                    "example": ""
                  },
                  "customize_outline_instruction": {
                    "type": "string",
                    "description": "Instructions for customizing the outline. (Optional)",
                    "maxLength": 3000,
                    "example": ""
                  },
                  "writing_instruction_for_heading": {
                    "type": "string",
                    "description": "Writing instructions for all headings. (Optional)",
                    "maxLength": 1500,
                    "example": ""
                  },
                  "keywords": {
                    "type": "string",
                    "description": "List of keywords to be included in the article. Each keyword should be on a new line. (Optional)",
                    "example": "Keyword 1\nKeyword 2\nKeyword 3"
                  },
                  "key_takeaways": {
                    "type": "boolean",
                    "description": "Option to generate key takeaways for the article. Defaults to true. (Optional)",
                    "example": true
                  },
                  "faqs_title_description": {
                    "type": "boolean",
                    "description": "Option to generate FAQs, meta title, and description for the article. Defaults to true. (Optional)",
                    "example": true
                  },
                  "image_prompts": {
                    "type": "boolean",
                    "description": "Option to generate image prompts for the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "youtube_videos": {
                    "type": "boolean",
                    "description": "Option to include relevant YouTube videos in the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "add_styling": {
                    "type": "boolean",
                    "description": "Option to add bold formatting style to the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "readability_level": {
                    "type": "string",
                    "description": "This option enhances the article's readability. Defaults to default. (Optional)",
                    "enum": [
                      "default",
                      "5th_grade",
                      "6th_grade",
                      "7th_grade",
                      "8th_9th_grade",
                      "10th_12th_grade",
                      "13th_15th_grade",
                      "16th_grade"
                    ],
                    "example": "default"
                  },
                  "improve_readability": {
                    "type": "boolean",
                    "description": "Deprecated - Use readability_level. This option enhances the article's readability but will be ignored if readability_level is specified. Defaults to true. (Optional)",
                    "example": true
                  },
                  "authority_links": {
                    "type": "boolean",
                    "description": "Option to include authority links in the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "internal_links": {
                    "type": "boolean",
                    "description": "Option to include internal links in the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "internal_links_references": {
                    "type": "string",
                    "description": "A list of internal link references to be incorporated into the article. Each link should be on a new line. (Optional)",
                    "example": "https://aiseoarticle.com/url-1/\nhttps://aiseoarticle.com/url-2/"
                  },
                  "entity_enrichment": {
                    "type": "boolean",
                    "description": "Option to include entities from top-ranking sites in the article. Defaults to true. (Optional)",
                    "example": true
                  },
                  "change_h3_to_bold": {
                    "type": "boolean",
                    "description": "Option to change H3 headings to bold in the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "disable_transition": {
                    "type": "boolean",
                    "description": "Option to exclude transition words between each heading. Defaults to true. (Optional)",
                    "example": true
                  },
                  "exclude_quotes": {
                    "type": "boolean",
                    "description": "Option to exclude quotes in the article. Defaults to true. (Optional)",
                    "example": true
                  },
                  "negative_terms": {
                    "type": "boolean",
                    "description": "Option to remove negative terms from the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "negative_terms_references": {
                    "type": "string",
                    "description": "A list of negative terms to be removed from the article. If left empty, common negative terms will be used.  (Optional)",
                    "example": "believe it or not, trust us, buckle up, in additional, additionally, navigating, when it comes to, embarking"
                  },
                  "first_hand_experience": {
                    "type": "boolean",
                    "description": "Option to include first-hand experience in the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "shoutout_posts": {
                    "type": "boolean",
                    "description": "Option to generate shoutout posts from the article. Defaults to false. (Optional)",
                    "example": false
                  },
                  "images_placement": {
                    "type": "string",
                    "description": "Option to include number of images in the article. Defaults to none. (Optional)",
                    "enum": [
                      "none",
                      "free",
                      "standard_20",
                      "standard_40",
                      "standard_60",
                      "premium_6",
                      "premium_13",
                      "premium_19"
                    ],
                    "example": "free"
                  },
                  "images_style": {
                    "type": "string",
                    "description": "The style of images to be included in the article. Defaults to photo. (Optional)",
                    "enum": [
                      "photo",
                      "cinematic",
                      "creative_photo",
                      "anime",
                      "comic_book",
                      "digital_art",
                      "fantasy_art",
                      "flat_design"
                    ],
                    "example": "photo"
                  },
                  "images_size": {
                    "type": "string",
                    "description": "The size of images to be included in the article. Defaults to landscape_3_2. (Optional)",
                    "enum": [
                      "landscape_16_9",
                      "landscape_3_2",
                      "portrait_9_16",
                      "square",
                      "landscape_16_9_small",
                      "landscape_3_2_small",
                      "portrait_9_16_small",
                      "square_small"
                    ],
                    "example": "landscape_3_2"
                  },
                  "images_alt_tag": {
                    "type": "string",
                    "description": "The alt tag for images included in the article. Defaults to short. (Optional)",
                    "enum": [
                      "none",
                      "short",
                      "long",
                      "short_keyword",
                      "long_keyword"
                    ],
                    "example": "none"
                  },
                  "images_text_overlay": {
                    "type": "string",
                    "description": "The number of text overlay images included in the article. Defaults to none. (Optional)",
                    "enum": [
                      "none",
                      "1_none",
                      "1_black",
                      "1_blue",
                      "1_green",
                      "1_red",
                      "2_none",
                      "2_black",
                      "2_blue",
                      "2_green",
                      "2_red"
                    ],
                    "example": "none"
                  },
                  "images_no_people": {
                    "type": "string",
                    "description": "The presence of people in the images included in the article. Defaults to auto. (Optional)",
                    "enum": [
                      "auto",
                      "less",
                      "more",
                      "none"
                    ],
                    "example": "auto"
                  },
                  "images_ethnicity": {
                    "type": "string",
                    "description": "The ethnicity of people in the images included in the article. Defaults to auto. (Optional)",
                    "enum": [
                      "auto",
                      "black",
                      "caucasian",
                      "east_asian",
                      "south_asian",
                      "hispanic"
                    ],
                    "example": "auto"
                  },
                  "images_same_person": {
                    "type": "string",
                    "description": "Option to use the same person in all images included in the article. Defaults to no. (Optional)",
                    "enum": [
                      "no",
                      "yes"
                    ],
                    "example": "no"
                  },
                  "publish_to": {
                    "type": "string",
                    "description": "The URL of the site where the article will be published. This URL must match the site specified in the Agility Writer WordPress integration. If left empty, the system will not auto-publish the article. (Optional)",
                    "example": "https://aiseoarticle.com"
                  },
                  "publish_type": {
                    "type": "string",
                    "description": "The type of publication (post or page). Defaults to post. (Optional)",
                    "enum": [
                      "post",
                      "page"
                    ],
                    "example": "post"
                  },
                  "publish_status": {
                    "type": "string",
                    "description": "The status of the publication (draft or publish). Defaults to draft. (Optional)",
                    "enum": [
                      "draft",
                      "publish"
                    ],
                    "example": "draft"
                  },
                  "publish_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The publish date of the article. Defaults to current date time. (Optional)",
                    "example": "2024-07-08 10:10"
                  },
                  "publish_category_id": {
                    "type": "integer",
                    "description": "The category ID for the publication. (Optional)",
                    "example": 0
                  },
                  "publish_slug_type": {
                    "type": "string",
                    "description": "The type of slug for the publication. (Optional)",
                    "enum": [
                      "default",
                      "keyword",
                      "title"
                    ],
                    "example": "default"
                  },
                  "publish_tags": {
                    "type": "string",
                    "description": "The tags for the publication. (Optional)",
                    "maxLength": 500,
                    "example": "tag 1, tag 2, tag 3"
                  }
                },
                "required": [
                  "youtube_url",
                  "article_title",
                  "region",
                  "output_language",
                  "article_length",
                  "ai_model"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status of the response."
                    },
                    "article_id": {
                      "type": "integer",
                      "description": "The ID of the created article."
                    },
                    "message": {
                      "type": "string",
                      "description": "The message related to the status."
                    }
                  },
                  "example": {
                    "status": "Success",
                    "article_id": 6118,
                    "message": "Your request has been added to the writing queue"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status of the response."
                    },
                    "message": {
                      "type": "string",
                      "description": "The error message related to the status."
                    }
                  },
                  "example": {
                    "status": "Error",
                    "message": "Validation Failed: Invalid Region"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status of the response."
                    },
                    "message": {
                      "type": "string",
                      "description": "The error message related to the status."
                    }
                  },
                  "example": {
                    "status": "Error",
                    "message": "Invalid API key"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v1/new-rewrite-article": {
      "post": {
        "operationId": "newRewriteArticle",
        "summary": "New Rewrite Article",
        "description": "Submit a request to rewrite an article from a url. For more examples, visit [Example Payloads Documentation](https://apidocs.agilitywriter.ai/example-payloads.html).",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rewrite_url": {
                    "type": "string",
                    "description": "The URL to be rewritten. The page URL must be publicly accessible. Only the first 50,000 characters will be processed.",
                    "maxLength": 500,
                    "example": "https://aiseoarticle.com/eczema-treatment-children-indepth-research/"
                  },
                  "article_title": {
                    "type": "string",
                    "description": "The title of the article. If left empty, ensure that the main keyword is provided.",
                    "maxLength": 200,
                    "example": "Effective Eczema Treatment For Children: Proven Solutions For Relief"
                  },
                  "main_keyword": {
                    "type": "string",
                    "description": "The main keyword used to search top-ranking websites for generating article outlines and collecting entities. If left empty, the article title will be used by default, so please ensure that the article title is provided. (Optional)",
                    "maxLength": 200,
                    "example": "Effective Eczema Treatment For Children"
                  },
                  "region": {
                    "type": "string",
                    "description": "The region for which the article is targeted.",
                    "enum": [
                      "ar",
                      "au",
                      "be",
                      "br",
                      "ca",
                      "cl",
                      "cn",
                      "hr",
                      "dk",
                      "fi",
                      "fr",
                      "de",
                      "hk",
                      "hu",
                      "in",
                      "id",
                      "ie",
                      "il",
                      "it",
                      "jp",
                      "my",
                      "mx",
                      "nl",
                      "nz",
                      "no",
                      "ph",
                      "pl",
                      "pt",
                      "ro",
                      "rs",
                      "sg",
                      "za",
                      "kr",
                      "es",
                      "lk",
                      "se",
                      "ch",
                      "tw",
                      "th",
                      "uk",
                      "ua",
                      "us",
                      "vn",
                      "bh",
                      "eg",
                      "kw",
                      "ma",
                      "om",
                      "sa",
                      "tn",
                      "ae"
                    ],
                    "example": "us"
                  },
                  "project_id": {
                    "type": "integer",
                    "description": "The ID of the project to which the article belongs. Defaults to 0 (none). (Optional)",
                    "example": 0
                  },
                  "output_language": {
                    "type": "string",
                    "description": "The language in which the article will be written.",
                    "enum": [
                      "American English",
                      "Australian English",
                      "British English",
                      "Canadian English",
                      "Simplified Chinese",
                      "Traditional Chinese",
                      "Malay",
                      "Arabic",
                      "Brazilian Portuguese",
                      "Croatian",
                      "Danish",
                      "Dutch",
                      "German",
                      "French",
                      "Hebrew",
                      "Hungarian",
                      "Indonesian",
                      "Italian",
                      "Japanese",
                      "Korean",
                      "Norwegian",
                      "Polish",
                      "Portuguese",
                      "Romanian",
                      "Serbian",
                      "Spanish",
                      "Swedish",
                      "Tagalog",
                      "Vietnamese"
                    ],
                    "example": "American English"
                  },
                  "article_length": {
                    "type": "string",
                    "description": "The article length for the article. Defaults to auto. ",
                    "enum": [
                      "auto",
                      "h2_focus"
                    ],
                    "example": "auto"
                  },
                  "main_headings": {
                    "type": "string",
                    "description": "Deprecated - Use article_length. The number of main headings (H2 headings) to be used in the article. Defaults to auto. (Optional)",
                    "enum": [
                      "auto",
                      "h2_focus"
                    ],
                    "example": "auto"
                  },
                  "target_word_count": {
                    "type": "integer",
                    "description": "The target word count for the article. This option only applicable when main headings is set to auto or h2_focus. (Optional)",
                    "minimum": 500,
                    "maximum": 5000,
                    "example": 1500
                  },
                  "article_structure": {
                    "type": "string",
                    "description": "The structure of the content for each heading. Defaults to advanced_standard. (Optional)",
                    "enum": [
                      "advanced_standard",
                      "advanced_detail",
                      "text_standard",
                      "text_long"
                    ],
                    "example": "advanced_standard"
                  },
                  "ai_model": {
                    "type": "string",
                    "description": "The AI model to be used for generating the article. Defaults to standard. (Optional)",
                    "enum": [
                      "standard",
                      "gpt4o_mini",
                      "gpt4o",
                      "gpt4.1",
                      "gpt4.1_mini",
                      "gpt5",
                      "gpt5_mini",
                      "gpt5.2",
                      "o3_mini",
                      "o4_mini",
                      "claude4_sonnet",
                      "claude4.5_sonnet",
                      "claude4.6_sonnet",
                      "deepseek_v3",
                      "grok3",
                      "grok3_mini",
                      "grok4",
                      "gemini_pro_2.5",
                      "gemini_pro_3.1",
                      "gemini_flash_2.0"
                    ],
                    "example": "standard"
                  },
                  "factual_data": {
[...]
