{
  "openapi": "3.0.3",
  "info": {
    "title": "Carbon Black Cloud Alerts API",
    "version": "7.0.0",
    "description": "Carbon Black Cloud Alerts API provides access to security alert management including searching, exporting, validating, and managing alerts, threats, notes, and tags within the Carbon Black Cloud platform.",
    "x-jentic-source-url": "https://developer.carbonblack.com/reference/carbon-black-cloud/api-migration/"
  },
  "servers": [
    {
      "url": "https://defense.conferdeploy.net/api/alerts/v7/orgs/{org_key}",
      "description": "Carbon Black Cloud - US Production",
      "variables": {
        "org_key": {
          "description": "Organization key",
          "default": "YOUR_ORG_KEY"
        }
      }
    }
  ],
  "paths": {
    "/alerts/{alertId}": {
      "get": {
        "operationId": "getAlert",
        "summary": "Retrieve a specific alert by ID",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "description": "The alert identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Alert not found"
          }
        }
      }
    },
    "/alerts/_search": {
      "post": {
        "operationId": "searchAlerts",
        "summary": "Search alerts using query and criteria operators",
        "tags": [
          "Alerts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/alerts/_export": {
      "post": {
        "operationId": "exportAlerts",
        "summary": "Export alerts as CSV (asynchronous job)",
        "tags": [
          "Alerts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export job initiated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/alerts/_validate": {
      "post": {
        "operationId": "validateAlertSearch",
        "summary": "Validate alert search syntax",
        "tags": [
          "Alerts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid search syntax"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/alerts/search_suggestions": {
      "get": {
        "operationId": "getAlertSearchSuggestions",
        "summary": "Get field completion suggestions for alert search",
        "tags": [
          "Alerts"
        ],
        "responses": {
          "200": {
            "description": "Search suggestions"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/alerts/{alertId}/history": {
      "get": {
        "operationId": "getAlertHistory",
        "summary": "Get action history for an alert",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert history"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/alerts/_histogram": {
      "post": {
        "operationId": "getAlertHistogram",
        "summary": "Get alert statistics over time",
        "tags": [
          "Alerts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alert histogram data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/alerts/_facet": {
      "post": {
        "operationId": "getAlertFacets",
        "summary": "Calculate facets for ungrouped alerts",
        "tags": [
          "Alerts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alert facet data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/alerts/{alertId}/notes": {
      "get": {
        "operationId": "listAlertNotes",
        "summary": "Retrieve notes for an alert",
        "tags": [
          "Alert Notes"
        ],
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert notes"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createAlertNote",
        "summary": "Create a note on an alert",
        "tags": [
          "Alert Notes"
        ],
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Note created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/alerts/{alertId}/notes/{noteId}": {
      "delete": {
        "operationId": "deleteAlertNote",
        "summary": "Remove a note from an alert",
        "tags": [
          "Alert Notes"
        ],
        "parameters": [
          {
            "name": "alertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Note deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/grouped_alerts/_search": {
      "post": {
        "operationId": "searchGroupedAlerts",
        "summary": "Search alerts grouped by threat_id",
        "tags": [
          "Grouped Alerts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Grouped alert search results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/grouped_alerts/_facet": {
      "post": {
        "operationId": "getGroupedAlertFacets",
        "summary": "Calculate facets for grouped alerts",
        "tags": [
          "Grouped Alerts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Grouped alert facet data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/grouped_alerts/_histogram": {
      "post": {
        "operationId": "getGroupedAlertHistogram",
        "summary": "Get statistics for grouped alerts over time",
        "tags": [
          "Grouped Alerts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Grouped alert histogram data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/threats/{threatId}/history": {
      "get": {
        "operationId": "getThreatHistory",
        "summary": "Retrieve threat action history",
        "tags": [
          "Threats"
        ],
        "parameters": [
          {
            "name": "threatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Threat history"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/threats/{threatId}/notes": {
      "get": {
        "operationId": "listThreatNotes",
        "summary": "Get notes associated with a threat",
        "tags": [
          "Threats"
        ],
        "parameters": [
          {
            "name": "threatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Threat notes"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createThreatNote",
        "summary": "Add a note to a threat",
        "tags": [
          "Threats"
        ],
        "parameters": [
          {
            "name": "threatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Note created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/threats/{threatId}/notes/{noteId}": {
      "delete": {
        "operationId": "deleteThreatNote",
        "summary": "Delete a threat note",
        "tags": [
          "Threats"
        ],
        "parameters": [
          {
            "name": "threatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Note deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/threats/{threatId}/tags/{tag}": {
      "post": {
        "operationId": "addThreatTag",
        "summary": "Add a tag to a threat",
        "tags": [
          "Threats"
        ],
        "parameters": [
          {
            "name": "threatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag added"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "removeThreatTag",
        "summary": "Remove a tag from a threat",
        "tags": [
          "Threats"
        ],
        "parameters": [
          {
            "name": "threatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Tag removed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/alerts/workflow": {
      "post": {
        "operationId": "bulkUpdateAlertWorkflows",
        "summary": "Bulk update alert workflows",
        "tags": [
          "Workflow"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflows updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Alert": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "severity": {
            "type": "integer"
          },
          "device_id": {
            "type": "integer"
          },
          "device_name": {
            "type": "string"
          },
          "threat_id": {
            "type": "string"
          },
          "workflow": {
            "type": "object",
            "properties": {
              "state": {
                "type": "string"
              },
              "remediation": {
                "type": "string"
              },
              "last_update_time": {
                "type": "string",
                "format": "date-time"
              },
              "changed_by": {
                "type": "string"
              }
            }
          },
          "create_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_update_time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AlertSearchRequest": {
        "type": "object",
        "properties": {
          "criteria": {
            "type": "object",
            "description": "Field-based filtering criteria"
          },
          "exclusions": {
            "type": "object",
            "description": "Fields to exclude"
          },
          "query": {
            "type": "string",
            "description": "Search query string"
          },
          "time_range": {
            "type": "object",
            "properties": {
              "start": {
                "type": "string",
                "description": "Start time (ISO 8601 or relative like -2w)"
              },
              "end": {
                "type": "string",
                "description": "End time (ISO 8601 or relative)"
              },
              "range": {
                "type": "string",
                "description": "Relative time range (e.g., -2w)"
              }
            }
          },
          "rows": {
            "type": "integer",
            "description": "Number of results per page (max 10000)",
            "default": 10
          },
          "start": {
            "type": "integer",
            "description": "Offset for pagination",
            "default": 0
          },
          "sort": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "order": {
                  "type": "string",
                  "enum": [
                    "ASC",
                    "DESC"
                  ]
                }
              }
            }
          }
        }
      },
      "AlertSearchResponse": {
        "type": "object",
        "properties": {
          "num_found": {
            "type": "integer"
          },
          "num_available": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alert"
            }
          }
        }
      },
      "NoteRequest": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Note text content"
          }
        },
        "required": [
          "note"
        ]
      },
      "WorkflowUpdateRequest": {
        "type": "object",
        "properties": {
          "criteria": {
            "type": "object"
          },
          "state": {
            "type": "string",
            "description": "New workflow state"
          },
          "remediation": {
            "type": "string",
            "description": "Remediation notes"
          },
          "comment": {
            "type": "string",
            "description": "Comment for the workflow update"
          }
        },
        "required": [
          "state"
        ]
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-AUTH-TOKEN",
        "description": "Carbon Black Cloud API key token"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Alerts"
    },
    {
      "name": "Grouped Alerts"
    },
    {
      "name": "Threats"
    }
  ]
}