{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "support@launchdarkly.com",
      "name": "LaunchDarkly Support",
      "url": "https://support.launchdarkly.com",
      "x-twitter": "launchdarkly"
    },
    "description": "Build custom integrations with the LaunchDarkly REST API",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "https://launchdarkly.com/terms",
    "title": "LaunchDarkly REST API",
    "version": "5.3.0",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/launchdarkly.com/5.3.0/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_launchdarkly_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://launchdarkly.github.io/ld-openapi/openapi.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "launchdarkly.com"
  },
  "servers": [
    {
      "url": "https://app.launchdarkly.com/api/v2"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/Root200"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          }
        },
        "tags": [
          "Root"
        ],
        "description": "You can issue a GET request to the root resource to find all of the resource categories supported by the API.",
        "operationId": "getRoot"
      }
    },
    "/account/relay-auto-configs": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelayProxyConfigs"
                }
              }
            },
            "description": "Relay proxy configs response."
          }
        },
        "tags": [
          "Relay proxy configurations"
        ],
        "operationId": "getRelayProxyConfigs",
        "summary": "Returns a list of relay proxy configurations in the account."
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelayProxyConfig"
                }
              }
            },
            "description": "Relay proxy config response."
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "403": {
            "$ref": "#/components/responses/Standard403"
          }
        },
        "tags": [
          "Relay proxy configurations"
        ],
        "operationId": "postRelayAutoConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "description": "A human-friendly name for the relay proxy configuration",
                    "example": "My relay proxy config",
                    "type": "string"
                  },
                  "policy": {
                    "items": {
                      "$ref": "#/components/schemas/Policy"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Create a new relay proxy configuration",
          "required": true
        },
        "summary": "Create a new relay proxy config."
      }
    },
    "/account/relay-auto-configs/{id}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/RelayProxyConfigId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Standard204"
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Relay proxy configurations"
        ],
        "operationId": "deleteRelayProxyConfig",
        "summary": "Delete a relay proxy configuration by ID."
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/RelayProxyConfigId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RelayProxyConfig2xx"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Relay proxy configurations"
        ],
        "operationId": "getRelayProxyConfig",
        "summary": "Get a single relay proxy configuration by ID."
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/RelayProxyConfigId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RelayProxyConfig2xx"
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Relay proxy configurations"
        ],
        "operationId": "patchRelayProxyConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/PatchOperation"
                },
                "type": "array"
              }
            }
          },
          "description": "Requires a JSON Patch representation of the desired changes to the project. 'http://jsonpatch.com/'",
          "required": true
        },
        "summary": "Modify a relay proxy configuration by ID."
      }
    },
    "/account/relay-auto-configs/{id}/reset": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/RelayProxyConfigId"
          },
          {
            "$ref": "#/components/parameters/RelayProxyConfigsExpiry"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RelayProxyConfig2xx"
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Relay proxy configurations"
        ],
        "operationId": "resetRelayProxyConfig",
        "summary": "Reset a relay proxy configuration's secret key with an optional expiry time for the old key."
      }
    },
    "/auditlog": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Q"
          },
          {
            "$ref": "#/components/parameters/AuditLimit"
          },
          {
            "$ref": "#/components/parameters/Spec"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLogEntries"
                }
              }
            },
            "description": "Audit log entries response."
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          }
        },
        "tags": [
          "Audit log"
        ],
        "operationId": "getAuditLogEntries",
        "summary": "Get a list of all audit log entries. The query parameters allow you to restrict the returned results by date ranges, resource specifiers, or a full-text search query."
      }
    },
    "/auditlog/{resourceId}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLogEntry"
                }
              }
            },
            "description": "Audit log entry response."
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Audit log"
        ],
        "operationId": "getAuditLogEntry",
        "summary": "Use this endpoint to fetch a single audit log entry by its resouce ID."
      }
    },
    "/destinations": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Destinations"
                }
              }
            },
            "description": "Destinations response."
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          }
        },
        "tags": [
          "Data export destinations"
        ],
        "operationId": "getDestinations",
        "summary": "Returns a list of all data export destinations."
      }
    },
    "/destinations/{projectKey}/{environmentKey}": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/Destination2xx"
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Data export destinations"
        ],
        "operationId": "postDestination",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "config": {
                    "description": "destination-specific configuration.",
                    "example": {
                      "project": "cool-project",
                      "topic": "test"
                    },
                    "type": "object"
                  },
                  "kind": {
                    "description": "The data export destination type. Available choices are kinesis, google-pubsub, mparticle, or segment.",
                    "enum": [
                      "google-pubsub",
                      "kinesis",
                      "mparticle",
                      "segment"
                    ],
                    "example": "google-pubsub",
                    "type": "string"
                  },
                  "name": {
                    "description": "A human-readable name for your data export destination.",
                    "example": "Example Google Pub/Sub Destination",
                    "type": "string"
                  },
                  "true": {
                    "description": "Whether the data export destination is on or not.",
                    "example": true,
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "kind",
                  "config"
                ],
                "type": "object"
              }
            }
          },
          "description": "Create a new data export destination.",
          "required": true
        },
        "summary": "Create a new data export destination"
      }
    },
    "/destinations/{projectKey}/{environmentKey}/{destinationId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/DestinationId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Standard204"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Data export destinations"
        ],
        "operationId": "deleteDestination",
        "summary": "Get a single data export destination by ID"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/DestinationId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Destination2xx"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Data export destinations"
        ],
        "operationId": "getDestination",
        "summary": "Get a single data export destination by ID"
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/DestinationId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Destination2xx"
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Data export destinations"
        ],
        "operationId": "patchDestination",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/PatchOperation"
                },
                "type": "array"
              }
            }
          },
          "description": "Requires a JSON Patch representation of the desired changes to the project. 'http://jsonpatch.com/' Feature flag patches also support JSON Merge Patch format. 'https://tools.ietf.org/html/rfc7386' The addition of comments is also supported.",
          "required": true
        },
        "summary": "Perform a partial update to a data export destination."
      }
    },
    "/flag-status/{projectKey}/{featureFlagKey}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureFlagStatusAcrossEnvironments"
                }
              }
            },
            "description": "Status of the requested feature flag across environments"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "403": {
            "$ref": "#/components/responses/BetaApi403"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "getFeatureFlagStatusAcrossEnvironments",
        "summary": "Get the status for a particular feature flag across environments"
      }
    },
    "/flag-statuses/{projectKey}/{environmentKey}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureFlagStatuses"
                }
              }
            },
            "description": "List of feature flag statuses."
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "getFeatureFlagStatuses",
        "summary": "Get a list of statuses for all feature flags. The status includes the last time the feature flag was requested, as well as the state of the flag."
      }
    },
    "/flag-statuses/{projectKey}/{environmentKey}/{featureFlagKey}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureFlagStatus"
                }
              }
            },
            "description": "Status of the requested feature flag."
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "getFeatureFlagStatus",
        "summary": "Get the status for a particular feature flag."
      }
    },
    "/flags/{projectKey}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKeyQuery"
          },
          {
            "$ref": "#/components/parameters/SummaryQuery"
          },
          {
            "$ref": "#/components/parameters/ArchivedQuery"
          },
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/OffsetQuery"
          },
          {
            "$ref": "#/components/parameters/FilterQuery"
          },
          {
            "$ref": "#/components/parameters/SortQuery"
          },
          {
            "$ref": "#/components/parameters/Tag"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureFlags"
                }
              }
            },
            "description": "Flags response."
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "getFeatureFlags",
        "summary": "Get a list of all features in the given project."
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/CloneFlagKeyQuery"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureFlag"
                }
              }
            },
            "description": "Flag response."
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "postFeatureFlag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "description": "Tags for the feature flag.",
                    "items": {
                      "example": [],
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "clientSideAvailability": {
                    "$ref": "#/components/schemas/ClientSideAvailability"
                  },
                  "defaults": {
                    "$ref": "#/components/schemas/Defaults"
                  },
                  "description": {
                    "description": "A description of the feature flag.",
                    "example": "This flag controls whether test feature is turned on or not.",
                    "type": "string"
                  },
                  "includeInSnippet": {
                    "description": "Whether or not this flag should be made available to the client-side JavaScript SDK.",
                    "type": "boolean"
                  },
                  "key": {
                    "description": "A unique key that will be used to reference the flag in your code.",
                    "example": "new-test-flag",
                    "type": "string"
                  },
                  "name": {
                    "description": "A human-friendly name for the feature flag. Remember to note if this flag is intended to be temporary or permanent.",
                    "example": "new test flag",
                    "type": "string"
                  },
                  "temporary": {
                    "description": "Whether or not the flag is a temporary flag.",
                    "type": "boolean"
                  },
                  "variations": {
                    "description": "An array of possible variations for the flag.",
                    "items": {
                      "$ref": "#/components/schemas/Variation"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "name",
                  "key",
                  "variations"
                ],
                "type": "object"
              }
            }
          },
          "description": "Create a new feature flag.",
          "required": true
        },
        "summary": "Creates a new feature flag."
      }
    },
    "/flags/{projectKey}/{environmentKey}/{featureFlagKey}/dependent-flags": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DependentFlagsByEnvironment"
                }
              }
            },
            "description": "Dependent flags in a single envrionemnt response"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "403": {
            "$ref": "#/components/responses/BetaApi403"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "summary": "Get dependent flags for the flag in the environment specified in path parameters"
      }
    },
    "/flags/{projectKey}/{featureFlagKey}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Standard204"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "deleteFeatureFlag",
        "summary": "Delete a feature flag in all environments. Be careful-- only delete feature flags that are no longer being used by your application."
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKeyQuery"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureFlag"
                }
              }
            },
            "description": "Flag response."
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "getFeatureFlag",
        "summary": "Get a single feature flag by key."
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureFlag"
                }
              }
            },
            "description": "Feature flag response."
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "patchFeatureFlag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "comment": {
                    "example": "This is a comment string",
                    "type": "string"
                  },
                  "patch": {
                    "items": {
                      "$ref": "#/components/schemas/PatchOperation"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Requires a JSON Patch representation of the desired changes to the project, and an optional comment. 'http://jsonpatch.com/' Feature flag patches also support JSON Merge Patch format. 'https://tools.ietf.org/html/rfc7386' The addition of comments is also supported.",
          "required": true
        },
        "summary": "Perform a partial update to a feature."
      }
    },
    "/flags/{projectKey}/{featureFlagKey}/copy": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureFlag"
                }
              }
            },
            "description": "Flag configuration copy response."
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "copyFeatureFlag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "comment": {
                    "description": "comment will be included in audit log item for change.",
                    "example": "This is a comment string",
                    "type": "string"
                  },
                  "excludedActions": {
                    "description": "Define the parts of the flag configuration that will not be copied.",
                    "items": {
                      "$ref": "#/components/schemas/CopyActions"
                    },
                    "type": "array"
                  },
                  "includedActions": {
                    "description": "Define the parts of the flag configuration that will be copied.",
                    "items": {
                      "$ref": "#/components/schemas/CopyActions"
                    },
                    "type": "array"
                  },
                  "source": {
                    "$ref": "#/components/schemas/FeatureFlagCopyObject"
                  },
                  "target": {
                    "$ref": "#/components/schemas/FeatureFlagCopyObject"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Copy feature flag configurations between environments.",
          "required": true
        },
        "summary": "Copies the feature flag configuration from one environment to the same feature flag in another environment."
      }
    },
    "/flags/{projectKey}/{featureFlagKey}/dependent-flags": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiEnvironmentDependentFlags"
                }
              }
            },
            "description": "Dependent flags accross all environemnts in the project response"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "403": {
            "$ref": "#/components/responses/BetaApi403"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "summary": "Get dependent flags across all environments for the flag specified in the path parameters"
      }
    },
    "/flags/{projectKey}/{featureFlagKey}/expiring-user-targets/{environmentKey}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserTargetingExpirationForFlags"
                }
              }
            },
            "description": "User targets of the requested feature flag."
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "getExpiringUserTargets",
        "summary": "Get expiring user targets for feature flag"
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserTargetingExpirationForFlags"
                }
              }
            },
            "description": "User targeting expirations on feature flag response."
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "patchExpiringUserTargets",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/SemanticPatchOperation"
                },
                "type": "object"
              }
            }
          },
          "description": "Requires a Semantic Patch representation of the desired changes to the resource. 'https://apidocs.launchdarkly.com/reference#updates-via-semantic-patches'. The addition of comments is also supported.",
          "required": true
        },
        "summary": "Update, add, or delete expiring user targets on feature flag"
      }
    },
    "/integrations": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integrations"
                }
              }
            },
            "description": "Integrations response."
          },
          "403": {
            "$ref": "#/components/responses/BetaApi403"
          }
        },
        "tags": [
          "Integrations"
        ],
        "operationId": "getIntegrations",
        "summary": "Get a list of all configured audit log event integrations associated with this account."
      }
    },
    "/integrations/{integrationKey}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/IntegrationKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            },
            "description": "Integrations response."
          },
          "403": {
            "$ref": "#/components/responses/BetaApi403"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Integrations"
        ],
        "operationId": "getIntegrationSubscriptions",
        "summary": "Get a list of all configured integrations of a given kind."
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/IntegrationKey"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationSubscription"
                }
              }
            },
            "description": "Integrations response."
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Integrations"
        ],
        "operationId": "postIntegrationSubscription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "description": "Tags for the integration subscription.",
                    "example": [],
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "config": {
                    "description": "Integration-specific configuration fields.",
                    "example": {
                      "apiKey": "582**************************116",
                      "hostURL": "https://api.datadoghq.com"
                    },
                    "type": "object"
                  },
                  "name": {
                    "description": "A human-readable name for your subscription configuration.",
                    "example": "Example Datadog Integration",
                    "type": "string"
                  },
                  "statements": {
                    "items": {
                      "$ref": "#/components/schemas/Statement"
                    },
                    "type": "array"
                  },
                  "true": {
                    "description": "Whether the integration subscription is active or not.",
                    "example": true,
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "config"
                ],
                "type": "object"
              }
            }
          },
          "description": "Create a new integration subscription.",
          "required": true
        },
        "summary": "Create a new integration subscription of a given kind."
      }
    },
    "/integrations/{integrationKey}/{integrationId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/IntegrationKey"
          },
          {
            "$ref": "#/components/parameters/IntegrationId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Standard204"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Integrations"
        ],
        "operationId": "deleteIntegrationSubscription",
        "summary": "Delete an integration subscription by ID."
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/IntegrationKey"
          },
          {
            "$ref": "#/components/parameters/IntegrationId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationSubscription"
                }
              }
            },
            "description": "Integrations response."
          },
          "403": {
            "$ref": "#/components/responses/BetaApi403"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Integrations"
        ],
        "operationId": "getIntegrationSubscription",
        "summary": "Get a single integration subscription by ID."
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/IntegrationKey"
          },
          {
            "$ref": "#/components/parameters/IntegrationId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationSubscription"
                }
              }
            },
            "description": "Integrations response."
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Integrations"
        ],
        "operationId": "patchIntegrationSubscription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/PatchOperation"
                },
                "type": "array"
              }
            }
          },
          "description": "Requires a JSON Patch representation of the desired changes to the project. 'http://jsonpatch.com/'",
          "required": true
        },
        "summary": "Modify an integration subscription by ID."
      }
    },
    "/members": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitQuery"
          },
          {
            "$ref": "#/components/parameters/OffsetQuery"
          },
          {
            "$ref": "#/components/parameters/FilterQuery"
          },
          {
            "$ref": "#/components/parameters/SortQuery"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Members"
                }
              }
            },
            "description": "Members response."
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          }
        },
        "tags": [
          "Team members"
        ],
        "operationId": "getMembers",
        "summary": "Returns a list of all members in the account."
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Members"
                }
              }
            },
            "description": "Members response."
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Team members"
        ],
        "operationId": "postMembers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "properties": {
                    "customRoles": {
                      "items": {
                        "description": "The 20-hexdigit id or the key for a custom role.",
                        "example": "revenue-team",
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "email": {
                      "example": "exampleuser@email.com",
                      "type": "string"
                    },
                    "firstName": {
                      "example": "Bob",
                      "type": "string"
                    },
                    "inlineRole": {
                      "items": {
                        "$ref": "#/components/schemas/Statement"
                      },
                      "type": "array"
                    },
                    "lastName": {
                      "example": "Loblaw",
                      "type": "string"
                    },
                    "role": {
                      "$ref": "#/components/schemas/Role"
                    }
                  },
                  "required": [
                    "email"
                  ],
                  "type": "object"
                },
                "type": "array"
              }
            }
          },
          "description": "New members to invite.",
          "required": true
        },
        "summary": "Invite new members."
      }
    },
    "/members/me": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/Member2xx"
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          }
        },
        "tags": [
          "Team members"
        ],
        "operationId": "getMe",
        "summary": "Get the current team member associated with the token"
      }
    },
    "/members/{memberId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/MemberId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Standard204"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Team members"
        ],
        "operationId": "deleteMember",
        "summary": "Delete a team member by ID."
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/MemberId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Member2xx"
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          }
        },
        "tags": [
          "Team members"
        ],
        "operationId": "getMember",
        "summary": "Get a single team member by ID."
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/MemberId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Member2xx"
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Team members"
        ],
        "operationId": "patchMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/PatchOperation"
                },
                "type": "array"
              }
            }
          },
          "description": "Requires a JSON Patch representation of the desired changes to the project. 'http://jsonpatch.com/'",
          "required": true
        },
        "summary": "Modify a team member by ID."
      }
    },
    "/projects": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Projects"
                }
              }
            },
            "description": "Projects response"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          }
        },
        "tags": [
          "Projects"
        ],
        "operationId": "getProjects",
        "summary": "Returns a list of all projects in the account."
      },
      "post": {
        "responses": {
          "201": {
            "$ref": "#/components/responses/Project2xx"
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Projects"
        ],
        "operationId": "postProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "example": [
                      "ops",
                      "dev"
                    ],
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "defaultClientSideAvailability": {
                    "$ref": "#/components/schemas/ClientSideAvailability"
                  },
                  "environments": {
                    "items": {
                      "$ref": "#/components/schemas/EnvironmentPost"
                    },
                    "minLength": 1,
                    "type": "array"
                  },
                  "includeInSnippetByDefault": {
                    "example": false,
                    "type": "boolean"
                  },
                  "key": {
                    "example": "new-project",
                    "type": "string"
                  },
                  "name": {
                    "example": "New Project",
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "key"
                ],
                "type": "object"
              }
            }
          },
          "description": "Project keys must be unique within an account.",
          "required": true
        },
        "summary": "Create a new project with the given key and name."
      }
    },
    "/projects/{projectKey}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Standard204"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Projects"
        ],
        "operationId": "deleteProject",
        "summary": "Delete a project by key. Caution-- deleting a project will delete all associated environments and feature flags. You cannot delete the last project in an account."
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Project2xx"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Projects"
        ],
        "operationId": "getProject",
        "summary": "Fetch a single project by key."
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Project2xx"
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Projects"
        ],
        "operationId": "patchProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/PatchOperation"
                },
                "type": "array"
              }
            }
          },
          "description": "Requires a JSON Patch representation of the desired changes to the project. 'http://jsonpatch.com/'",
          "required": true
        },
        "summary": "Modify a project by ID."
      }
    },
    "/projects/{projectKey}/environments": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/Environment2xx"
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Environments"
        ],
        "operationId": "postEnvironment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentPost"
              }
            }
          },
          "description": "New environment.",
          "required": true
        },
        "summary": "Create a new environment in a specified project with a given name, key, and swatch color."
      }
    },
    "/projects/{projectKey}/environments/{environmentKey}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Standard204"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Environments"
        ],
        "operationId": "deleteEnvironment",
        "summary": "Delete an environment in a specific project."
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Environment2xx"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Environments"
        ],
        "operationId": "getEnvironment",
        "summary": "Get an environment given a project and key."
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Environment2xx"
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Environments"
        ],
        "operationId": "patchEnvironment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/PatchOperation"
                },
                "type": "array"
              }
            }
          },
          "description": "Requires a JSON Patch representation of the desired changes to the project. 'http://jsonpatch.com/'",
          "required": true
        },
        "summary": "Modify an environment by ID. If you try to patch the environment by setting both required and requiredApprovalTags, it will result in an error. Users can specify either required approvals for all flags in an environment or those with specific tags, but not both. Only customers on an Enterprise plan can require approval for flag updates with either mechanism."
      }
    },
    "/projects/{projectKey}/environments/{environmentKey}/apiKey": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentSDKKeyExpiry"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Environment2xx"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Environments"
        ],
        "operationId": "resetEnvironmentSDKKey",
        "summary": "Reset an environment's SDK key with an optional expiry time for the old key."
      }
    },
    "/projects/{projectKey}/environments/{environmentKey}/mobileKey": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentMobileKeyExpiry"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Environment2xx"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Environments"
        ],
        "operationId": "resetEnvironmentMobileKey",
        "summary": "Reset an environment's mobile key. The optional expiry for the old key is deprecated for this endpoint, so the old key will always expire immediately."
      }
    },
    "/projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/approval-requests": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequests"
                }
              }
            },
            "description": "Approval requests response"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "getApprovalRequests",
        "summary": "Get all approval requests for a feature flag config"
      }
    },
    "/projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/approval-requests/{approvalRequestId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          },
          {
            "$ref": "#/components/parameters/ApprovalRequestId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Standard204"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "deleteApprovalRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "comment": {
                    "description": "comment will be included in audit log item for change.",
                    "type": "string"
                  },
                  "description": {
                    "description": "A name that describes the changes you would like to apply to a feature flag configuration",
                    "type": "string"
                  },
                  "executionDate": {
                    "description": "Timestamp for when instructions will be executed",
                    "format": "int64",
                    "type": "integer"
                  },
                  "instructions": {
                    "$ref": "#/components/schemas/SemanticPatchInstruction"
                  },
                  "notifyMemberIds": {
                    "example": [
                      "memberId",
                      "memberId2"
                    ],
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "operatingOnId": {
                    "description": "ID of scheduled change to edit or delete",
                    "type": "string"
                  }
                },
                "required": [
                  "description",
                  "instructions",
                  "notifyMemberIds"
                ],
                "type": "object"
              }
            }
          },
          "description": "Create a new approval request"
        },
        "summary": "Delete an approval request for a feature flag config"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/ApprovalRequestId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequests"
                }
              }
            },
            "description": "Approval request response"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "getApprovalRequest",
        "summary": "Get a single approval request for a feature flag config"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/ApprovalRequestId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequest"
                }
              }
            },
            "description": "Approval request response"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "postApprovalRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "comment": {
                    "description": "comment will be included in audit log item for change.",
                    "type": "string"
                  },
                  "description": {
                    "description": "A name that describes the changes you would like to apply to a feature flag configuration",
                    "type": "string"
                  },
                  "executionDate": {
                    "description": "Timestamp for when instructions will be executed",
                    "format": "int64",
                    "type": "integer"
                  },
                  "instructions": {
                    "$ref": "#/components/schemas/SemanticPatchInstruction"
                  },
                  "notifyMemberIds": {
                    "example": [
                      "memberId",
                      "memberId2"
                    ],
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "operatingOnId": {
                    "description": "ID of scheduled change to edit or delete",
                    "type": "string"
                  }
                },
                "required": [
                  "description",
                  "instructions",
                  "notifyMemberIds"
                ],
                "type": "object"
              }
            }
          },
          "description": "Create a new approval request"
        },
        "summary": "Create an approval request for a feature flag config"
      }
    },
    "/projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/approval-requests/{approvalRequestId}/apply": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/ApprovalRequestId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequests"
                }
              }
            },
            "description": "Approval request applied response"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "postApplyApprovalRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "comment": {
                    "description": "comment will be included in audit log item for change.",
                    "example": "Applying approved changes",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Apply an approval request",
          "required": true
        },
        "summary": "Apply approval request for a feature flag config"
      }
    },
    "/projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/approval-requests/{approvalRequestId}/review": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/ApprovalRequestId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequests"
                }
              }
            },
            "description": "Approval request reviewed response"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "postReviewApprovalRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "comment": {
                    "description": "comment will be included in audit log item for change.",
                    "example": "This is a comment string",
                    "type": "string"
                  },
                  "kind": {
                    "description": "One of approve, decline, or comment.",
                    "enum": [
                      "approve",
                      "decline",
                      "comment"
                    ],
                    "example": "approve",
                    "type": "string"
                  }
                },
                "required": [
                  "kind"
                ],
                "type": "object"
              }
            }
          },
          "description": "Review an approval request",
          "required": true
        },
        "summary": "Review approval request for a feature flag config"
      }
    },
    "/projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/scheduled-changes": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureFlagScheduledChanges"
                }
              }
            },
            "description": "A list of scheduled changes for feature flag response."
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "getFlagConfigScheduledChanges",
        "summary": "Get all scheduled workflows for a feature flag by key."
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureFlagScheduledChange"
                }
              }
            },
            "description": "A scheduled change for feature flag response."
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "postFlagConfigScheduledChanges",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "comment": {
                    "description": "Used to describe the scheduled changes.",
                    "type": "string"
                  },
                  "executionDate": {
                    "description": "A unix epoch time in milliseconds specifying the date the scheduled changes will be applied",
                    "type": "integer"
                  },
                  "instructions": {
                    "$ref": "#/components/schemas/SemanticPatchInstruction"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Create scheduled changes on a feature flag.",
          "required": true
        },
        "summary": "Creates a new scheduled change for a feature flag."
      }
    },
    "/projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/scheduled-changes-conflicts": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureFlagScheduledChangesConflicts"
                }
              }
            },
            "description": "Scheduled changes conflict response"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "getFlagConfigScheduledChangesConflicts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "executionDate": {
                    "description": "A unix epoch time in milliseconds specifying the date the scheduled changes will be applied",
                    "type": "integer"
                  },
                  "instructions": {
                    "$ref": "#/components/schemas/SemanticPatchInstruction"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Used to determine if a semantic patch will result in conflicts with scheduled changes on a feature flag.",
          "required": true
        },
        "summary": "Lists conflicts between the given instructions and any existing scheduled changes for the feature flag. The actual HTTP verb should be REPORT, not POST."
      }
    },
    "/projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/scheduled-changes/{scheduledChangeId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/ScheduledChangeId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Standard204"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "deleteFlagConfigScheduledChanges",
        "summary": "Delete a scheduled change on a feature flag in an environment."
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/ScheduledChangeId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureFlagScheduledChange"
                }
              }
            },
            "description": "A scheduled change for feature flag response."
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "getFlagConfigScheduledChange",
        "summary": "Get a scheduled change on a feature flag by id."
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/FeatureFlagKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/ScheduledChangeId"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureFlagScheduledChange"
                }
              }
            },
            "description": "A Scheduled change for feature flag response."
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Feature flags"
        ],
        "operationId": "patchFlagConfigScheduledChange",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "comment": {
                    "description": "Used to describe the scheduled changes.",
                    "type": "string"
                  },
                  "instructions": {
                    "$ref": "#/components/schemas/SemanticPatchInstruction"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Update scheduled changes on a feature flag.",
          "required": true
        },
        "summary": "Updates an existing scheduled-change on a feature flag in an environment."
      }
    },
    "/roles": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomRoles"
                }
              }
            },
            "description": "Custom roles response."
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          }
        },
        "tags": [
          "Custom roles"
        ],
        "operationId": "getCustomRoles",
        "summary": "Return a complete list of custom roles."
      },
      "post": {
        "responses": {
          "201": {
            "$ref": "#/components/responses/CustomRole2xx"
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Custom roles"
        ],
        "operationId": "postCustomRole",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "Description of the custom role.",
                    "example": "Description of revenue team role here",
                    "type": "string"
                  },
                  "key": {
                    "description": "The 20-hexdigit id or the key for a custom role.",
                    "example": "revenue-team",
                    "type": "string"
                  },
                  "name": {
                    "description": "Name of the custom role.",
                    "example": "revenue team",
                    "type": "string"
                  },
                  "policy": {
                    "items": {
                      "$ref": "#/components/schemas/Policy"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "name",
                  "key",
                  "policy"
                ],
                "type": "object"
              }
            }
          },
          "description": "New role or roles to create.",
          "required": true
        },
        "summary": "Create a new custom role."
      }
    },
    "/roles/{customRoleKey}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomRoleKey"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Standard204"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "Custom roles"
        ],
        "operationId": "deleteCustomRole",
        "summary": "Delete a custom role by key."
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomRoleKey"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CustomRole2xx"
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          }
        },
        "tags": [
          "Custom roles"
        ],
        "operationId": "getCustomRole",
        "summary": "Get one custom role by key."
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomRoleKey"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CustomRole2xx"
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Custom roles"
        ],
        "operationId": "patchCustomRole",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/PatchOperation"
                },
                "type": "array"
              }
            }
          },
          "description": "Requires a JSON Patch representation of the desired changes to the project. 'http://jsonpatch.com/'",
          "required": true
        },
        "summary": "Modify a custom role by key."
      }
    },
    "/segments/{projectKey}/{environmentKey}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/Tag"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSegments"
                }
              }
            },
            "description": "Segments response."
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          }
        },
        "tags": [
          "User segments"
        ],
        "operationId": "getUserSegments",
        "summary": "Get a list of all user segments in the given project."
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/components/responses/UserSegment2xx"
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "User segments"
        ],
        "operationId": "postUserSegment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "description": "Tags for the user segment.",
                    "items": {
                      "example": [],
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "description": {
                    "description": "A description for the user segment.",
                    "example": "Users in this segment will have access to beta features.",
                    "type": "string"
                  },
                  "key": {
                    "description": "A unique key that will be used to reference the user segment in feature flags.",
                    "example": "new-segment",
                    "type": "string"
                  },
                  "name": {
                    "description": "A human-friendly name for the user segment.",
                    "example": "new segment",
                    "type": "string"
                  },
                  "unbounded": {
                    "description": "Controls whether this is considered a \"big segment\" which can support an unlimited numbers of users. Include/exclude lists sent with this payload are not used in big segments. Contact your account manager for early access to this feature.",
                    "example": false,
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "key"
                ],
                "type": "object"
              }
            }
          },
          "description": "Create a new user segment.",
          "required": true
        },
        "summary": "Creates a new user segment."
      }
    },
    "/segments/{projectKey}/{environmentKey}/{userSegmentKey}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/UserSegmentKey"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Standard204"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "User segments"
        ],
        "operationId": "deleteUserSegment",
        "summary": "Delete a user segment."
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/UserSegmentKey"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/UserSegment2xx"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "User segments"
        ],
        "operationId": "getUserSegment",
        "summary": "Get a single user segment by key."
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/UserSegmentKey"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/UserSegment2xx"
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "User segments"
        ],
        "operationId": "patchUserSegment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/PatchOperation"
                },
                "type": "array"
              }
            }
          },
          "description": "Requires a JSON Patch representation of the desired changes to the project. 'http://jsonpatch.com/' Feature flag patches also support JSON Merge Patch format. 'https://tools.ietf.org/html/rfc7386' The addition of comments is also supported.",
          "required": true
        },
        "summary": "Perform a partial update to a user segment."
      }
    },
    "/segments/{projectKey}/{environmentKey}/{userSegmentKey}/users": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/UserSegmentKey"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Standard204"
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          }
        },
        "tags": [
          "User segments"
        ],
        "operationId": "updateBigSegmentTargets",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "excluded": {
                    "$ref": "#/components/schemas/BigSegmentTargetChanges"
                  },
                  "included": {
                    "$ref": "#/components/schemas/BigSegmentTargetChanges"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Add or remove user targets to the included or excluded lists on a big segment. Contact your account manager for early access to this feature.",
          "required": true
        },
        "summary": "Update targets included or excluded in a big segment"
      }
    },
    "/segments/{projectKey}/{userSegmentKey}/expiring-user-targets/{environmentKey}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/UserSegmentKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserTargetingExpirationForSegment"
                }
              }
            },
            "description": "User targeting expirations on user segment response."
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          }
        },
        "tags": [
          "User segments"
        ],
        "operationId": "getExpiringUserTargetsOnSegment",
        "summary": "Get expiring user targets for user segment"
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectKey"
          },
          {
            "$ref": "#/components/parameters/EnvironmentKey"
          },
          {
            "$ref": "#/components/parameters/UserSegmentKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserTargetingExpirationForSegment"
                }
              }
            },
            "description": "User targeting expirations on user segment response."
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "404": {
            "$ref": "#/components/responses/Standard404"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "User segments"
        ],
        "operationId": "patchExpiringUserTargetsOnSegment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/SemanticPatchOperation"
                },
                "type": "object"
              }
            }
          },
          "description": "Requires a Semantic Patch representation of the desired changes to the resource. 'https://apidocs.launchdarkly.com/reference#updates-via-semantic-patches'. The addition of comments is also supported.",
          "required": true
        },
        "summary": "Update, add, or delete expiring user targets on user segment"
      }
    },
    "/tokens": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/TokenShowAllQuery"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tokens"
                }
              }
            },
            "description": "Tokens response."
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          }
        },
        "tags": [
          "Access tokens"
        ],
        "operationId": "getTokens",
        "summary": "Returns a list of tokens in the account."
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            },
            "description": "Token response."
          },
          "400": {
            "$ref": "#/components/responses/Standard400"
          },
          "401": {
            "$ref": "#/components/responses/Standard401"
          },
          "409": {
            "$ref": "#/components/responses/Standard409"
          }
        },
        "tags": [
          "Access tokens"
        ],
        "operationId": "postToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "customRoleIds": {
                    "description": "A list of custom role IDs to use as access limits for the access token",
                    "items": {
                      "example": [],
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "defaultApiVersion": {
                    "description": "The default API version for this token",
                    "type": "integer"
                  },
                  "inlineRole": {
                    "items": {
                      "$ref": "#/components/schemas/Statement"
                    },
                    "type": "array"
                  },
                  "name": {
                    "description": "A human-friendly name for the access token",
                    "example": "My access token",
                    "type": "string"
                  },
                  "role": {
                    "description": "The name of a built-in role for the token",
                    "example": "writer",
                    "type": "string"
                  },
                  "serviceToken": {
                    "description": "Whether the token will be a service token https://docs.launchdarkly.com/home/account-security/api-access-tokens#service-tokens",
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Create a new access token.",
          "required": true
        },
        "summary": "Create a new token."
      }
    },
    "/tokens/{tokenId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/TokenId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Standard204"
          },
[...]
