{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "x-twitter": "VictorOps"
    },
    "description": "This API allows you to interact with the VictorOps platform in various ways. Your account may be limited\nto a total number of API calls per month. Also, some of these API calls have rate limits.\n\nNOTE: In this documentation when creating a sample curl request (clicking the TRY IT OUT! button), in some API\nviewing interfaces, the '@' in an email address may be encoded. Please note that the REST endpoints will not\nprocess the encoded version. Make sure that the encoded character '%40' is changed to its unencoded form before\nsubmitting the curl request.\n",
    "title": "VictorOps",
    "version": "0.0.3",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_VictorOps_profile_image.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://portal.victorops.com/public/api-docs/victorops-api-v1.yaml",
        "version": "2.0"
      }
    ],
    "x-providerName": "victorops.com",
    "x-jentic-source-url": "https://raw.githubusercontent.com/sophie-jentic/openapi-specs/refs/heads/import-jentic-pr-specs/victorops.com/victorops-api/0.0.3/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.victorops.com/"
    }
  ],
  "paths": {
    "/api-public/v1/alerts/{uuid}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps uuid of the alert",
            "in": "path",
            "name": "uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAlertResponse"
                }
              }
            },
            "description": "The alert, if found.\n"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/user-not-found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Retrieve the details of an alert that was sent VictorOps by you.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Retrieve alert details."
      }
    },
    "/api-public/v1/incidents": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveIncidentList"
                }
              }
            },
            "description": "The set of incidents.\n"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Incidents"
        ],
        "description": "Get a list of the currently open, acknowledged and recently resolved incidents.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Get current incident information"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedIncident"
                }
              }
            },
            "description": "Information about the incident created\n"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Incidents"
        ],
        "description": "Create a new incident.\n\nThis call replicates the function of our\n<a href=\"https://help.victorops.com/knowledge-base/manual-incident-creation/\">manual incident creation process</a>.\nMonitoring tools and custom integrations\nshould be configured using our\n<a href=\"https://help.victorops.com/knowledge-base/victorops-restendpoint-integration/\">REST Endpoint</a>.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIncidentRequest"
              }
            }
          },
          "description": "The incident details",
          "required": true
        },
        "summary": "Create a new incident"
      }
    },
    "/api-public/v1/incidents/ack": {
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AckOrResolveResponse"
                }
              }
            },
            "description": "The result of each acknowledge incident action."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/user-not-found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Incidents"
        ],
        "description": "The incident(s) must be currently open.  The user supplied must be a valid VictorOps user and a member of your organization.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/AckOrResolveRequest"
        },
        "summary": "Acknowledge an incident or list of incidents"
      }
    },
    "/api-public/v1/incidents/byUser/ack": {
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AckOrResolveResponse"
                }
              }
            },
            "description": "The result of each acknowledge incident action."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/user-not-found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Incidents"
        ],
        "description": "The incident(s) must be currently open.  The user supplied must be a valid VictorOps user and a member of your organization.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/AckOrResolveByUserRequest"
        },
        "summary": "Acknowledge all incidents for which a user was paged."
      }
    },
    "/api-public/v1/incidents/byUser/resolve": {
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AckOrResolveResponse"
                }
              }
            },
            "description": "The result of each resolve incident action."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/user-not-found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Incidents"
        ],
        "description": "The incident(s) must be currently open.  The user supplied must be a valid VictorOps user and a member of your organization.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/AckOrResolveByUserRequest"
        },
        "summary": "Resolve all incidents for which a user was paged."
      }
    },
    "/api-public/v1/incidents/reroute": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RerouteStatusResponse"
                }
              }
            },
            "description": "The created reroute object"
          }
        },
        "tags": [
          "Incidents"
        ],
        "description": "Reroute one or more incidents to one or more users and/or escalation policies\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RerouteCollection"
              }
            }
          },
          "description": "The reroute rules",
          "required": true
        },
        "summary": "Reroute one or more incidents to one or more new routable destinations."
      }
    },
    "/api-public/v1/incidents/resolve": {
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AckOrResolveResponse"
                }
              }
            },
            "description": "The result of each resolve incident action."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/user-not-found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Incidents"
        ],
        "description": "The incident(s) must be currently open.  The user supplied must be a valid VictorOps user and a member of your organization.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/AckOrResolveRequest"
        },
        "summary": "Resolve an incident or list of incidents"
      }
    },
    "/api-public/v1/maintenancemode": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaintenanceModeState"
                }
              }
            },
            "description": "maintenance mode state"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Maintenance Mode"
        ],
        "summary": "Get an organization's current maintenance mode state"
      }
    },
    "/api-public/v1/maintenancemode/start": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaintenanceModeState"
                }
              }
            },
            "description": "maintenance mode state"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "409": {
            "description": "You have an active global maintanance mode and are attempting to start a second. You may only have a single Global maintenance mode at a time"
          },
          "420": {
            "description": "You have reached the limit of allowed active maintenance modes"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Maintenance Mode"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "names": {
                    "description": "Routing keys that maintenance mode state covers. An empty list indicates global maintenance mode",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "purpose": {
                    "description": "the reason for the maintenance mode",
                    "type": "string"
                  },
                  "type": {
                    "enum": [
                      "RoutingKeys"
                    ],
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "the definition of the maintenance mode you want to start",
          "required": true
        },
        "summary": "Start maintenance mode for routing keys"
      }
    },
    "/api-public/v1/maintenancemode/{maintenancemodeid}/end": {
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "$ref": "#/components/parameters/maintenanceModeId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaintenanceModeState"
                }
              }
            },
            "description": "maintenance mode state"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Maintenance Mode"
        ],
        "summary": "End maintenance mode for routing keys"
      }
    },
    "/api-public/v1/oncall/current": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "teamsOnCall": {
                      "items": {
                        "$ref": "#/components/schemas/OnCallTeamsResource"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "All users and escalation policies currently on call"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "On-call"
        ],
        "description": "Get all on-call users/teams for your organization.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Get an organization's on-call users"
      }
    },
    "/api-public/v1/org/routing-keys": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRoutingKeysResponse"
                }
              }
            },
            "description": "The list of routing keys and associated teams"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Routing Keys"
        ],
        "description": "Retrieves a list of routing keys and associated teams.\nThis API may be called a maximum of 60 times per minute.",
        "summary": "List routing keys with associated teams"
      }
    },
    "/api-public/v1/overrides": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_selfUrl": {
                      "type": "string"
                    },
                    "overrides": {
                      "items": {
                        "$ref": "#/components/schemas/ScheduledOverride"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A list of scheduled overrides for your organization"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "description": "You have reached your user limit.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Scheduled Overrides"
        ],
        "description": "List all the scheduled overrides on the organization\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "List the scheduled overrides"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_selfUrl": {
                      "type": "string"
                    },
                    "schedule": {
                      "$ref": "#/components/schemas/ScheduledOverride"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "The created scheduled override"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "description": "You have reached your user limit.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Scheduled Overrides"
        ],
        "description": "Creates a new scheduled override. Start and end dates are in ISO8601 format. E.g. `2018-09-28'T'05:00:00Z`\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduledOverridePayload"
              }
            }
          },
          "required": true
        },
        "summary": "Creates a new scheduled override"
      }
    },
    "/api-public/v1/overrides/{publicId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The publicId of the scheduled override",
            "in": "path",
            "name": "publicId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Whether or not the delete was successful"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "description": "You have reached your user limit.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Scheduled Overrides"
        ],
        "description": "Deletes a scheduled override\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Deletes a scheduled override"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The publicId of the scheduled override",
            "in": "path",
            "name": "publicId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_selfUrl": {
                      "type": "string"
                    },
                    "override": {
                      "$ref": "#/components/schemas/ScheduledOverride"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "The scheduled override"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "description": "You have reached your user limit.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Scheduled Overrides"
        ],
        "description": "Get the specified scheduled override\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Get the specified scheduled override"
      }
    },
    "/api-public/v1/overrides/{publicId}/assignments": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The publicId of the scheduled override",
            "in": "path",
            "name": "publicId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Assignment"
                  },
                  "type": "array"
                }
              }
            },
            "description": "The assignments for a given scheduled override"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "description": "You have reached your user limit.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Scheduled Overrides"
        ],
        "description": "Get the specified scheduled override assignments\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Get the specified scheduled override"
      }
    },
    "/api-public/v1/overrides/{publicId}/assignments/{policySlug}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The publicId of the scheduled override",
            "in": "path",
            "name": "publicId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The policySlug of the assignment",
            "in": "path",
            "name": "policySlug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assignment"
                }
              }
            },
            "description": "The assignment that was deleted for the given scheduled override and policySlug"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "description": "You have reached your user limit.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Scheduled Overrides"
        ],
        "description": "Delete the scheduled override assignment\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Delete the scheduled override assignment"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The publicId of the scheduled override",
            "in": "path",
            "name": "publicId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The policySlug of the assignment",
            "in": "path",
            "name": "policySlug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assignment"
                }
              }
            },
            "description": "The assignment for the given publicId"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "description": "You have reached your user limit.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Scheduled Overrides"
        ],
        "description": "Get the specified scheduled override assignments\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Get the specified scheduled override assignment"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The publicId of the scheduled override",
            "in": "path",
            "name": "publicId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The policySlug of the assignment",
            "in": "path",
            "name": "policySlug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assignment"
                }
              }
            },
            "description": "The assignment for the given policySlug"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "description": "You have reached your user limit.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Scheduled Overrides"
        ],
        "description": "Update the scheduled override assignment\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssignment"
              }
            }
          },
          "description": "The policy and username we are assigning",
          "required": true
        },
        "summary": "Update the scheduled override assignment"
      }
    },
    "/api-public/v1/policies": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EscalationPolicyInfoList"
                }
              }
            },
            "description": "The list of escalation policies"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Escalation Policies"
        ],
        "description": "Retrieves a list of escalation policy information.\nThis API may be called a maximum of once a minute.",
        "summary": "Get escalation policy info"
      }
    },
    "/api-public/v1/policies/types/contacts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_selfUrl": {
                      "type": "string"
                    },
                    "contactTypes": {
                      "items": {
                        "$ref": "#/components/schemas/ContactObject"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "All the available contact types"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Personal Paging Policy Values"
        ],
        "description": "Get the available contact types\n\ndescription: \"Email Address\", type: \"email\"\ndescription: \"Phone Number\", type: \"phone\"\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Get the available contact types"
      }
    },
    "/api-public/v1/policies/types/notifications": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_selfUrl": {
                      "type": "string"
                    },
                    "notificationTypes": {
                      "items": {
                        "$ref": "#/components/schemas/NotificationObject"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "All the available contact types"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Personal Paging Policy Values"
        ],
        "description": "Get the available notification types\n\ndescription: \"Send a push notification to all my devices\", type: \"push\"\ndescription: \"Send an email to an email address\", type: \"email\"\ndescription: \"Send an SMS to a phone number\", type: \"sms\"\ndescription: \"Make a phone call to a phone number\", type: \"phone\"\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Get the available notification types"
      }
    },
    "/api-public/v1/policies/types/timeouts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_selfUrl": {
                      "type": "string"
                    },
                    "timeoutTypes": {
                      "items": {
                        "$ref": "#/components/schemas/TimeoutObject"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "All the available timeout types."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Personal Paging Policy Values"
        ],
        "description": "Get the available timeout values\n\ndescription: \"If still unacked after 1 minute\", type: 1\ndescription: \"If still unacked after 5 minutes\", type: 5\ndescription: \"If still unacked after 10 minutes\", type: 10\ndescription: \"If still unacked after 15 minutes\", type: 15\ndescription: \"If still unacked after 20 minutes\", type: 20\ndescription: \"If still unacked after 25 minutes\", type: 25\ndescription: \"If still unacked after 30 minutes\", type: 30\ndescription: \"If still unacked after 45 minutes\", type: 45\ndescription: \"If still unacked after 60 minutes\", type: 60\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Get the available timeout values"
      }
    },
    "/api-public/v1/policies/{policy}/oncall/user": {
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps policy 'slug'",
            "in": "path",
            "name": "policy",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TakeResult"
                }
              }
            },
            "description": "The result of the take request"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Team or user(s) not found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "On-call"
        ],
        "description": "Replaces a currently on-call user in the escalation policy with another.  In many cases, the policy slug\nwill match the slug of the team that contains it.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TakeRequest"
              }
            }
          },
          "description": "The take on-call payload",
          "required": true
        },
        "summary": "Create an on-call override (take on-call)"
      }
    },
    "/api-public/v1/profile/{username}/policies": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_selfUrl": {
                      "type": "string"
                    },
                    "steps": {
                      "$ref": "#/components/schemas/UserPagingPolicy"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "All steps of the user's paging policy"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Personal Paging Policies"
        ],
        "description": "Get all the paging policy steps for the user on the org associated with the API key\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Get the user's paging policy"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_selfUrl": {
                      "type": "string"
                    },
                    "step": {
                      "$ref": "#/components/schemas/PagingPolicyStep"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "The created paging policy step"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Personal Paging Policies"
        ],
        "description": "Create a paging policy step\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddGroupPayload"
              }
            }
          },
          "required": true
        },
        "summary": "Create a paging policy step"
      }
    },
    "/api-public/v1/profile/{username}/policies/{step}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/pagingPolicyStep"
          },
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_selfUrl": {
                      "type": "string"
                    },
                    "step": {
                      "$ref": "#/components/schemas/PagingPolicyStep"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "The paging policy step"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Personal Paging Policies"
        ],
        "description": "Get a paging policy step\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Get a paging policy step"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/pagingPolicyStep"
          },
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_selfUrl": {
                      "type": "string"
                    },
                    "stepRule": {
                      "$ref": "#/components/schemas/PagingPolicyStepRule"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "The created rule for the paging policy step"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Personal Paging Policies"
        ],
        "description": "Create a rule for a paging policy step\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddStepPayload"
              }
            }
          },
          "required": true
        },
        "summary": "Create a rule for a paging policy step"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/pagingPolicyStep"
          },
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_selfUrl": {
                      "type": "string"
                    },
                    "step": {
                      "$ref": "#/components/schemas/PagingPolicyStep"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "The updated paging policy step"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Personal Paging Policies"
        ],
        "description": "Update a paging policy step\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddGroupPayload"
              }
            }
          },
          "required": true
        },
        "summary": "Update a paging policy step"
      }
    },
    "/api-public/v1/profile/{username}/policies/{step}/{rule}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/pagingPolicyStep"
          },
          {
            "$ref": "#/components/parameters/pagingPolicyRule"
          },
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_selfUrl": {
                      "type": "string"
                    },
                    "stepRule": {
                      "$ref": "#/components/schemas/PagingPolicyStepRule"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "The deleted rule from the paging policy step"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Personal Paging Policies"
        ],
        "description": "Delete a rule from a paging policy step\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Delete a rule from a paging policy step"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/pagingPolicyStep"
          },
          {
            "$ref": "#/components/parameters/pagingPolicyRule"
          },
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_selfUrl": {
                      "type": "string"
                    },
                    "stepRule": {
                      "$ref": "#/components/schemas/PagingPolicyStepRule"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "The rule from the paging policy step"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Personal Paging Policies"
        ],
        "description": "Get a rule from a paging policy step\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Get a rule from a paging policy step"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/pagingPolicyStep"
          },
          {
            "$ref": "#/components/parameters/pagingPolicyRule"
          },
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_selfUrl": {
                      "type": "string"
                    },
                    "stepRule": {
                      "$ref": "#/components/schemas/PagingPolicyStepRule"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "The updated rule for the paging policy step"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Personal Paging Policies"
        ],
        "description": "Update a rule for a paging policy step\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddStepPayload"
              }
            }
          },
          "required": true
        },
        "summary": "Update a rule for a paging policy step"
      }
    },
    "/api-public/v1/team": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTeamResponse"
                }
              }
            },
            "description": "A list of teams for your organization"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/team-not-found"
          },
          "422": {
            "description": "You have reached your team limit.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Teams"
        ],
        "description": "Get a list of teams for your organization.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "List teams"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddTeamResponse"
                }
              }
            },
            "description": "Some details about the team that was added"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/team-not-found"
          },
          "422": {
            "description": "Team name or email is unavailable, or you have reached your team limit.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Teams"
        ],
        "description": "Add a team to your organization.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/AddTeamPayload"
        },
        "summary": "Add a team"
      }
    },
    "/api-public/v1/team/{team}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps team to be deleted",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/team-not-found"
          },
          "422": {
            "description": "There was a problem with the delete such as the replacement team was not found.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Teams"
        ],
        "description": "Remove a team from your organization.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Remove a team"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps team to fetch",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddTeamResponse"
                }
              }
            },
            "description": "Some details about the team that was added"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/team-not-found"
          },
          "422": {
            "description": "Team name or email is unavailable, or you have reached your team limit.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Teams"
        ],
        "description": "Get the information for the specified team.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Retrieve information for a team"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps team to be updated",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddTeamResponse"
                }
              }
            },
            "description": "Some details about the team that was added"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/team-not-found"
          },
          "422": {
            "description": "Team name or email is unavailable, or you have reached your team limit.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Teams"
        ],
        "description": "Update the designated team\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTeamPayload"
              }
            }
          },
          "description": "The team information",
          "required": true
        },
        "summary": "Update a team"
      }
    },
    "/api-public/v1/team/{team}/admins": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps team",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamAdminsResponse"
                }
              }
            },
            "description": "Some details about the team that was added"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/team-not-found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Teams"
        ],
        "description": "Get the team admins for the specified team.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Retrieve a list of team admins for a team"
      }
    },
    "/api-public/v1/team/{team}/members": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps team to fetch",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTeamMembersResponse"
                }
              }
            },
            "description": "Some details about the team that was added"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/team-not-found"
          },
          "422": {
            "description": "Team name or email is unavailable, or you have reached your team limit.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Teams"
        ],
        "description": "Get the members for the specified team.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Retrieve a list of members for a team"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps team to fetch",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTeamMembersResponse"
                }
              }
            },
            "description": "Some details about the team that was added"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/team-not-found"
          },
          "422": {
            "description": "Team name or email is unavailable, or you have reached your team limit.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Teams"
        ],
        "description": "Add a team member to your team.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTeamMemberPayload"
              }
            }
          },
          "required": true
        },
        "summary": "Add a team member"
      }
    },
    "/api-public/v1/team/{team}/members/{user}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps team to be deleted",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The team member username",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/team-not-found"
          },
          "422": {
            "description": "There was a problem with the delete such as the replacement team member was not found.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Teams"
        ],
        "description": "Remove a team from your organization.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveTeamMemberPayload"
              }
            }
          },
          "description": "The user information",
          "required": true
        },
        "summary": "Remove a team member"
      }
    },
    "/api-public/v1/team/{team}/oncall/schedule": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps team 'slug'",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/daysFwd"
          },
          {
            "$ref": "#/components/parameters/daysSkip"
          },
          {
            "$ref": "#/components/parameters/step"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnCallAndOverrides"
                }
              }
            },
            "description": "The on-call schedule for the team"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/team-not-found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "On-call"
        ],
        "deprecated": true,
        "description": "__NOTE: This call is deprecated. Please use `GET /api-public/v2/team/{team}/oncall/schedule`.__\n\nGet the on-call schedule for a team, including on-call overrides.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Get a team's on-call schedule"
      }
    },
    "/api-public/v1/team/{team}/oncall/user": {
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps team 'slug'",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TakeResult"
                }
              }
            },
            "description": "The result of the take request"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Team or user(s) not found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "On-call"
        ],
        "deprecated": true,
        "description": "__NOTE: This API call is deprecated. Please use `PATCH /api-public/v2/policies/{policy}/oncall/user`__\n\nReplaces a currently on-call user on the team with another.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TakeRequest"
              }
            }
          },
          "description": "The take on-call payload",
          "required": true
        },
        "summary": "Create an on-call override (take on-call)"
      }
    },
    "/api-public/v1/team/{team}/policies": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps team to fetch",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EscalationPolicyList"
                }
              }
            },
            "description": "The escalation policy list. This does not include details about the actual notification steps of the policy."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/team-not-found"
          },
          "422": {
            "description": "Team name or email is unavailable, or you have reached your team limit.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Escalation Policies",
          "Teams"
        ],
        "description": "Get the escalation policies for the specified team.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Retrieve a list of escalation policies for a team"
      }
    },
    "/api-public/v1/user": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUserResponse"
                }
              }
            },
            "description": "A list of users for your organization"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/user-not-found"
          },
          "422": {
            "description": "You have reached your user limit.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Users"
        ],
        "description": "Get a list of users for your organization\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "List users"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddUserResponse"
                }
              }
            },
            "description": "Some details about the user that was added"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/user-not-found"
          },
          "422": {
            "description": "Username or email is unavailable, or you have reached your user limit.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Users"
        ],
        "description": "Add a user to your organization\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/AddUserPayload"
        },
        "summary": "Add a user"
      }
    },
    "/api-public/v1/user/{user}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps user to be deleted",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User was deleted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/user-not-found"
          },
          "422": {
            "description": "There was a problem with the delete such as a replacement is required or the replacement user was not found.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Users"
        ],
        "description": "Remove a user from your organization. If no replacement is specified, an empty JSON payload (\"{}\") is still required.\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteUserPayload"
              }
            }
          },
          "required": true
        },
        "summary": "Remove a user"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps user to fetch",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddUserResponse"
                }
              }
            },
            "description": "Some details about the user that was added"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/user-not-found"
          },
          "422": {
            "description": "Username or email is unavailable, or you have reached your user limit.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Users"
        ],
        "description": "Get the information for the specified user\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Retrieve information for a user"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps user to be updated",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddUserResponse"
                }
              }
            },
            "description": "Some details about the user that was added"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/user-not-found"
          },
          "422": {
            "description": "Username or email is unavailable, or you have reached your user limit.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Users"
        ],
        "description": "Update the designated user\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddUserPayload"
              }
            }
          },
          "required": true
        },
        "summary": "Update a user"
      }
    },
    "/api-public/v1/user/{user}/contact-methods": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps user ID",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "devices": {
                      "items": {
                        "$ref": "#/components/schemas/ContactDevice"
                      },
                      "type": "array"
                    },
                    "emails": {
                      "items": {
                        "$ref": "#/components/schemas/UserContact"
                      },
                      "type": "array"
                    },
                    "phones": {
                      "items": {
                        "$ref": "#/components/schemas/UserContact"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "All available contact methods for the user"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/user-not-found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "User Contact Methods"
        ],
        "description": "Get the contact methods for a user\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Get a list of all contact methods for a user"
      }
    },
    "/api-public/v1/user/{user}/contact-methods/devices": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps user ID",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ContactDevice"
                  },
                  "type": "array"
                }
              }
            },
            "description": "The list of contact devices for the user"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/user-not-found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "User Contact Methods"
        ],
        "description": "Get the contact methods for a user\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Get a list of all contact devices for a user"
      }
    },
    "/api-public/v1/user/{user}/contact-methods/devices/{contactId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps user ID",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The unique contact identifier",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactDevice"
                }
              }
            },
            "description": "Deleted contact device for the user"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/user-not-found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "User Contact Methods"
        ],
        "description": "Delete a contact device for a user\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Delete a contact device for a user"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps user ID",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The unique contact identifier",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ContactDevice"
                  },
                  "type": "array"
                }
              }
            },
            "description": "The list of contact devices for the user"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/user-not-found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "User Contact Methods"
        ],
        "description": "Get the indicated contact device for a user\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Get the indicated contact device for a user"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps user ID",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The unique contact identifier",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactDevice"
                }
              }
            },
            "description": "The list of contact devices for the user"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/user-not-found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "User Contact Methods"
        ],
        "description": "Update a contact device for a user\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactDeviceAdd"
              }
            }
          },
          "description": "The contact device",
          "required": true
        },
        "summary": "Update a contact device for a user"
      }
    },
    "/api-public/v1/user/{user}/contact-methods/emails": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps user ID",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/UserContact"
                  },
                  "type": "array"
                }
              }
            },
            "description": "The list of contact emails for the user"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/user-not-found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "User Contact Methods"
        ],
        "description": "Get the contact emails for a user\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Get a list of all contact emails for a user"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps user ID",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserContact"
                }
              }
            },
            "description": "The list of contact emails for the user"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/user-not-found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "User Contact Methods"
        ],
        "description": "Create a contact email for a user\n\nThis API may be called a maximum of 60 times per minute.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactEmailAdd"
              }
            }
          },
          "description": "The contact email",
          "required": true
        },
        "summary": "Create a contact emails for a user"
      }
    },
    "/api-public/v1/user/{user}/contact-methods/emails/{contactId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps user ID",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The unique contact identifier",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserContact"
                }
              }
            },
            "description": "Deleted contact email for the user"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/user-not-found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "User Contact Methods"
        ],
        "description": "Delete the indicated contact email for the user\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Delete a contact email for a user"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/apiKey"
          },
          {
            "description": "The VictorOps user ID",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The unique contact identifier",
            "in": "path",
            "name": "contactId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/UserContact"
                  },
                  "type": "array"
                }
              }
            },
            "description": "The indicated contact email for the user"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/user-not-found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "User Contact Methods"
        ],
        "description": "Get the indicated contact email for a user\n\nThis API may be called a maximum of 60 times per minute.\n",
        "summary": "Get the indicated contact email for a user"
      }
    },
    "/api-public/v1/user/{user}/contact-methods/phones": {
      "get": {
        "parameters": [
          {
[...]
