{
  "openapi": "3.0.3",
  "info": {
    "title": "SpaceX API",
    "description": "Open-source REST API for SpaceX launch, rocket, capsule, core, crew, ship, launchpad, landpad, payload, Starlink, and general company data.",
    "version": "4.0",
    "contact": {
      "name": "r/SpaceX Community",
      "url": "https://github.com/r-spacex/SpaceX-API"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "externalDocs": {
    "description": "SpaceX API GitHub",
    "url": "https://github.com/r-spacex/SpaceX-API"
  },
  "servers": [
    {
      "url": "https://api.spacexdata.com/v4",
      "description": "SpaceX API v4"
    }
  ],
  "paths": {
    "/launches": {
      "get": {
        "operationId": "getAllLaunches",
        "summary": "Get all launches",
        "responses": {
          "200": {
            "description": "Array of all launches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Launch"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/launches/{id}": {
      "get": {
        "operationId": "getLaunch",
        "summary": "Get a launch by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Launch details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Launch"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/launches/latest": {
      "get": {
        "operationId": "getLatestLaunch",
        "summary": "Get the latest launch",
        "responses": {
          "200": {
            "description": "Latest launch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Launch"
                }
              }
            }
          }
        }
      }
    },
    "/launches/next": {
      "get": {
        "operationId": "getNextLaunch",
        "summary": "Get the next upcoming launch",
        "responses": {
          "200": {
            "description": "Next launch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Launch"
                }
              }
            }
          }
        }
      }
    },
    "/launches/past": {
      "get": {
        "operationId": "getPastLaunches",
        "summary": "Get all past launches",
        "responses": {
          "200": {
            "description": "Past launches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Launch"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/launches/upcoming": {
      "get": {
        "operationId": "getUpcomingLaunches",
        "summary": "Get all upcoming launches",
        "responses": {
          "200": {
            "description": "Upcoming launches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Launch"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/launches/query": {
      "post": {
        "operationId": "queryLaunches",
        "summary": "Query launches with custom filters",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated launch results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResult"
                }
              }
            }
          }
        }
      }
    },
    "/rockets": {
      "get": {
        "operationId": "getAllRockets",
        "summary": "Get all rockets",
        "responses": {
          "200": {
            "description": "Array of rockets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rocket"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rockets/{id}": {
      "get": {
        "operationId": "getRocket",
        "summary": "Get a rocket by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rocket details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rocket"
                }
              }
            }
          }
        }
      }
    },
    "/capsules": {
      "get": {
        "operationId": "getAllCapsules",
        "summary": "Get all capsules",
        "responses": {
          "200": {
            "description": "Array of capsules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Capsule"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/capsules/{id}": {
      "get": {
        "operationId": "getCapsule",
        "summary": "Get a capsule by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Capsule details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capsule"
                }
              }
            }
          }
        }
      }
    },
    "/cores": {
      "get": {
        "operationId": "getAllCores",
        "summary": "Get all cores",
        "responses": {
          "200": {
            "description": "Array of cores",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Core"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cores/{id}": {
      "get": {
        "operationId": "getCore",
        "summary": "Get a core by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Core details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Core"
                }
              }
            }
          }
        }
      }
    },
    "/crew": {
      "get": {
        "operationId": "getAllCrew",
        "summary": "Get all crew members",
        "responses": {
          "200": {
            "description": "Array of crew",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CrewMember"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/crew/{id}": {
      "get": {
        "operationId": "getCrewMember",
        "summary": "Get a crew member by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Crew member details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrewMember"
                }
              }
            }
          }
        }
      }
    },
    "/dragons": {
      "get": {
        "operationId": "getAllDragons",
        "summary": "Get all Dragon spacecraft",
        "responses": {
          "200": {
            "description": "Array of Dragon spacecraft",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dragon"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dragons/{id}": {
      "get": {
        "operationId": "getDragon",
        "summary": "Get a Dragon spacecraft by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dragon details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dragon"
                }
              }
            }
          }
        }
      }
    },
    "/landpads": {
      "get": {
        "operationId": "getAllLandpads",
        "summary": "Get all landing pads",
        "responses": {
          "200": {
            "description": "Array of landing pads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Landpad"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/landpads/{id}": {
      "get": {
        "operationId": "getLandpad",
        "summary": "Get a landing pad by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Landing pad details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Landpad"
                }
              }
            }
          }
        }
      }
    },
    "/launchpads": {
      "get": {
        "operationId": "getAllLaunchpads",
        "summary": "Get all launchpads",
        "responses": {
          "200": {
            "description": "Array of launchpads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Launchpad"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/launchpads/{id}": {
      "get": {
        "operationId": "getLaunchpad",
        "summary": "Get a launchpad by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Launchpad details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Launchpad"
                }
              }
            }
          }
        }
      }
    },
    "/payloads": {
      "get": {
        "operationId": "getAllPayloads",
        "summary": "Get all payloads",
        "responses": {
          "200": {
            "description": "Array of payloads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Payload"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payloads/{id}": {
      "get": {
        "operationId": "getPayload",
        "summary": "Get a payload by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payload details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payload"
                }
              }
            }
          }
        }
      }
    },
    "/ships": {
      "get": {
        "operationId": "getAllShips",
        "summary": "Get all ships",
        "responses": {
          "200": {
            "description": "Array of ships",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ship"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ships/{id}": {
      "get": {
        "operationId": "getShip",
        "summary": "Get a ship by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ship details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ship"
                }
              }
            }
          }
        }
      }
    },
    "/starlink": {
      "get": {
        "operationId": "getAllStarlink",
        "summary": "Get all Starlink satellites",
        "responses": {
          "200": {
            "description": "Array of Starlink satellites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Starlink"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/starlink/{id}": {
      "get": {
        "operationId": "getStarlink",
        "summary": "Get a Starlink satellite by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Starlink satellite details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Starlink"
                }
              }
            }
          }
        }
      }
    },
    "/company": {
      "get": {
        "operationId": "getCompanyInfo",
        "summary": "Get SpaceX company info",
        "responses": {
          "200": {
            "description": "Company information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyInfo"
                }
              }
            }
          }
        }
      }
    },
    "/roadster": {
      "get": {
        "operationId": "getRoadster",
        "summary": "Get Elon's Tesla Roadster info",
        "responses": {
          "200": {
            "description": "Roadster info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/history": {
      "get": {
        "operationId": "getAllHistory",
        "summary": "Get all historical events",
        "responses": {
          "200": {
            "description": "Array of history events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HistoryEvent"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/history/{id}": {
      "get": {
        "operationId": "getHistoryEvent",
        "summary": "Get a historical event by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "History event details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryEvent"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Launch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "flight_number": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "date_utc": {
            "type": "string",
            "format": "date-time"
          },
          "date_unix": {
            "type": "integer"
          },
          "date_local": {
            "type": "string"
          },
          "date_precision": {
            "type": "string",
            "enum": [
              "half",
              "quarter",
              "year",
              "month",
              "day",
              "hour"
            ]
          },
          "upcoming": {
            "type": "boolean"
          },
          "success": {
            "type": "boolean",
            "nullable": true
          },
          "rocket": {
            "type": "string"
          },
          "cores": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "core": {
                  "type": "string",
                  "nullable": true
                },
                "flight": {
                  "type": "integer",
                  "nullable": true
                },
                "gridfins": {
                  "type": "boolean",
                  "nullable": true
                },
                "legs": {
                  "type": "boolean",
                  "nullable": true
                },
                "reused": {
                  "type": "boolean",
                  "nullable": true
                },
                "landing_attempt": {
                  "type": "boolean",
                  "nullable": true
                },
                "landing_success": {
                  "type": "boolean",
                  "nullable": true
                },
                "landing_type": {
                  "type": "string",
                  "nullable": true
                },
                "landpad": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "payloads": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "launchpad": {
            "type": "string"
          },
          "details": {
            "type": "string",
            "nullable": true
          },
          "links": {
            "type": "object",
            "properties": {
              "patch": {
                "type": "object",
                "properties": {
                  "small": {
                    "type": "string",
                    "nullable": true
                  },
                  "large": {
                    "type": "string",
                    "nullable": true
                  }
                }
              },
              "webcast": {
                "type": "string",
                "nullable": true
              },
              "youtube_id": {
                "type": "string",
                "nullable": true
              },
              "article": {
                "type": "string",
                "nullable": true
              },
              "wikipedia": {
                "type": "string",
                "nullable": true
              }
            }
          }
        }
      },
      "Rocket": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "stages": {
            "type": "integer"
          },
          "boosters": {
            "type": "integer"
          },
          "cost_per_launch": {
            "type": "integer"
          },
          "success_rate_pct": {
            "type": "integer"
          },
          "first_flight": {
            "type": "string",
            "format": "date"
          },
          "country": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Capsule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "serial": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "dragon": {
            "type": "string"
          },
          "reuse_count": {
            "type": "integer"
          },
          "water_landings": {
            "type": "integer"
          },
          "land_landings": {
            "type": "integer"
          },
          "last_update": {
            "type": "string",
            "nullable": true
          },
          "launches": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Core": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "serial": {
            "type": "string"
          },
          "block": {
            "type": "integer",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "reuse_count": {
            "type": "integer"
          },
          "rtls_attempts": {
            "type": "integer"
          },
          "rtls_landings": {
            "type": "integer"
          },
          "asds_attempts": {
            "type": "integer"
          },
          "asds_landings": {
            "type": "integer"
          },
          "last_update": {
            "type": "string",
            "nullable": true
          },
          "launches": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CrewMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "agency": {
            "type": "string"
          },
          "image": {
            "type": "string",
            "format": "uri"
          },
          "wikipedia": {
            "type": "string",
            "format": "uri"
          },
          "launches": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Dragon": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "crew_capacity": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "first_flight": {
            "type": "string"
          },
          "wikipedia": {
            "type": "string"
          }
        }
      },
      "Landpad": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "locality": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "landing_attempts": {
            "type": "integer"
          },
          "landing_successes": {
            "type": "integer"
          },
          "wikipedia": {
            "type": "string"
          },
          "details": {
            "type": "string"
          },
          "launches": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Launchpad": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "locality": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "launch_attempts": {
            "type": "integer"
          },
          "launch_successes": {
            "type": "integer"
          },
          "rockets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "launches": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Payload": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "customers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "nationalities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "manufacturers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "mass_kg": {
            "type": "number",
            "nullable": true
          },
          "mass_lbs": {
            "type": "number",
            "nullable": true
          },
          "orbit": {
            "type": "string",
            "nullable": true
          },
          "launch": {
            "type": "string"
          }
        }
      },
      "Ship": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "legacy_id": {
            "type": "string",
            "nullable": true
          },
          "model": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "launches": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "home_port": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "image": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Starlink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "launch": {
            "type": "string"
          },
          "longitude": {
            "type": "number",
            "nullable": true
          },
          "latitude": {
            "type": "number",
            "nullable": true
          },
          "height_km": {
            "type": "number",
            "nullable": true
          },
          "velocity_kms": {
            "type": "number",
            "nullable": true
          },
          "spaceTrack": {
            "type": "object"
          }
        }
      },
      "CompanyInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "founder": {
            "type": "string"
          },
          "founded": {
            "type": "integer"
          },
          "employees": {
            "type": "integer"
          },
          "vehicles": {
            "type": "integer"
          },
          "launch_sites": {
            "type": "integer"
          },
          "test_sites": {
            "type": "integer"
          },
          "ceo": {
            "type": "string"
          },
          "cto": {
            "type": "string"
          },
          "coo": {
            "type": "string"
          },
          "cto_propulsion": {
            "type": "string"
          },
          "valuation": {
            "type": "number"
          },
          "summary": {
            "type": "string"
          }
        }
      },
      "HistoryEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "event_date_utc": {
            "type": "string",
            "format": "date-time"
          },
          "event_date_unix": {
            "type": "integer"
          },
          "details": {
            "type": "string"
          },
          "links": {
            "type": "object",
            "properties": {
              "article": {
                "type": "string",
                "nullable": true
              }
            }
          }
        }
      },
      "QueryBody": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object",
            "description": "MongoDB-style query filter"
          },
          "options": {
            "type": "object",
            "properties": {
              "select": {
                "type": "string"
              },
              "sort": {
                "type": "object"
              },
              "offset": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "pagination": {
                "type": "boolean"
              },
              "populate": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "PaginatedResult": {
        "type": "object",
        "properties": {
          "docs": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "totalDocs": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pagingCounter": {
            "type": "integer"
          },
          "hasPrevPage": {
            "type": "boolean"
          },
          "hasNextPage": {
            "type": "boolean"
          },
          "prevPage": {
            "type": "integer",
            "nullable": true
          },
          "nextPage": {
            "type": "integer",
            "nullable": true
          }
        }
      }
    }
  }
}