{
  "openapi": "3.0.3",
  "info": {
    "title": "Nemonic Zapier API",
    "version": "1.0.0",
    "description": "Integration API for Nemonic sticky note printers by Mangoslab. Supports authentication testing, printer management, and printing.",
    "x-jentic-source-url": "https://zapier.mangoslab.org/swagger/index.html"
  },
  "servers": [
    {
      "url": "https://zapier.mangoslab.org"
    }
  ],
  "paths": {
    "/v1/AuthTest": {
      "get": {
        "operationId": "testAuth",
        "summary": "Test user authentication",
        "tags": [
          "Action"
        ],
        "responses": {
          "200": {
            "description": "Authentication valid"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Ping": {
      "get": {
        "operationId": "ping",
        "summary": "Test server access",
        "tags": [
          "Action"
        ],
        "responses": {
          "200": {
            "description": "Server accessible"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Printers": {
      "get": {
        "operationId": "listPrinters",
        "summary": "List registered printers",
        "tags": [
          "Printers"
        ],
        "responses": {
          "200": {
            "description": "Printer list"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Print": {
      "post": {
        "operationId": "print",
        "summary": "Process print request",
        "tags": [
          "Action"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostPrintRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Print result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostPrintResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PostPrintRequest": {
        "type": "object",
        "required": [
          "printer"
        ],
        "properties": {
          "printer": {
            "type": "string",
            "format": "uuid"
          },
          "dataTypeToPrint": {
            "type": "string",
            "enum": [
              "Text",
              "ImageUrl"
            ]
          },
          "dataToPrint": {
            "type": "string"
          },
          "stickyDirection": {
            "type": "string"
          },
          "paperLength": {
            "type": "string"
          },
          "imageFitOption": {
            "type": "string"
          }
        }
      },
      "PostPrintResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          }
        }
      },
      "PrinterModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "isReady": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://zapier.mangoslab.org/oauth2/authorize",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ]
}