{
  "openapi": "3.0.3",
  "info": {
    "title": "respond.io API",
    "description": "The respond.io Developer API enables developers to seamlessly integrate messaging capabilities into their existing platforms or applications. The API provides functionalities such as sending and receiving messages, managing contacts, and automating messaging campaigns. The API follows RESTful conventions and uses common methods like GET, POST, PUT, and DELETE. Request and response bodies are encoded in JSON, and authentication is required for all requests.",
    "version": "2.0.0",
    "contact": {
      "name": "respond.io",
      "url": "https://respond.io"
    }
  },
  "servers": [
    {
      "url": "https://api.respond.io/v2",
      "description": "Production API server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Contact",
      "description": "Manage contacts - access, create, update, or remove contacts in your workspace."
    },
    {
      "name": "Messaging",
      "description": "Send and retrieve messages for contacts."
    },
    {
      "name": "Conversation",
      "description": "Open and close conversations, assign and unassign contacts."
    },
    {
      "name": "Comment",
      "description": "Create comments on contacts for internal reference."
    },
    {
      "name": "Space",
      "description": "Manage workspace settings including users, channels, tags, custom fields, and closing notes."
    }
  ],
  "paths": {
    "/contact/create_or_update/{identifier}": {
      "post": {
        "summary": "Create or update a contact",
        "operationId": "createOrUpdateContact",
        "description": "Creates or updates a contact.\n\nIf your request does not include contact ID and the identifiers (phone/email) in the request body do not belong to a person, your request creates a contact. If a contact already exists with the identifier in the request path, your request updates that contact (first Contact that matches).\n\nIt is highly recommended to add a delay before executing a new action after creating a new contact, as processing time is required.",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Identifier of the contact that can either be a phone number, email or contact ID. Examples: ``id:123`` , ``email:abdc@gmail.com`` , ``phone:+60121233112``",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "examples": [
                          "Muhammad "
                        ]
                      },
                      "lastName": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "examples": [
                          "Mahin"
                        ]
                      },
                      "phone": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "examples": [
                          "+60123456789"
                        ]
                      },
                      "email": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "examples": [
                          "test@example.com"
                        ]
                      },
                      "language": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Following the [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) standard.",
                        "examples": [
                          "ms"
                        ]
                      },
                      "profilePic": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "examples": [
                          "https://cdn.respond.io/profile_avatar.png"
                        ]
                      },
                      "countryCode": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Following the [ISO 3166-1 alpha-2](https://www.wikiwand.com/en/ISO_3166-1_alpha-2) standard.",
                        "examples": [
                          "MY"
                        ]
                      },
                      "custom_fields": {
                        "type": [
                          "array",
                          "null"
                        ],
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "examples": [
                                "Company Website"
                              ]
                            },
                            "value": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "Formatting rules\n\n- Text: \"string\" (use quotation marks for the string value)\n- Number: Number (without any quotation marks)\n- Email: \"email\" (format: user@domain.com)\n- URL: \"url\" (format: www.website.com, https://www.website.com, website.com, http://website.com)\n- List: \"string\" (the string value must match one of the list options)\n- Date: \"yyyy-mm-dd\" (must follow this format)\n- Time: \"HH:MM\" (must follow 24H format, 1PM => 13:00)\n- Checkbox: \"true/false\" (must be true for checked, false for unchecked)",
                              "examples": [
                                "https://example.com"
                              ]
                            }
                          },
                          "required": [
                            "name"
                          ]
                        }
                      }
                    },
                    "required": [
                      "firstName"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contactId": {
                      "type": "integer",
                      "description": "ID of the contact on which the action was performed."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        400
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Validation error."
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        401
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "UN_AUTHORIZED"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds until you can retry the request",
                "schema": {
                  "type": "number",
                  "examples": [
                    1
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Number of request allowed for this end point",
                "schema": {
                  "type": "number",
                  "examples": [
                    10
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of request remaining for this end point",
                "schema": {
                  "type": "number",
                  "examples": [
                    5
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        429
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Too Many Requests"
                      ]
                    }
                  }
                }
              }
            }
          },
          "449": {
            "description": "Request queued, try again later",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        449
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Your request cannot be processed at the moment as it is currently in queue. Please try again in a few minutes."
                      ]
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        449
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Your request cannot be processed at the moment as it is currently in queue. Please try again in a few minutes."
                      ]
                    }
                  }
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        449
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Your request cannot be processed at the moment as it is currently in queue. Please try again in a few minutes."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        500
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Unexpected error occurred"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contact/list": {
      "post": {
        "summary": "List the contacts",
        "operationId": "listContacts",
        "description": "List all available contacts. You can use filters in the request body to limit the results to only records with matching contact field values.",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of contacts to return i.e. page size.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "exclusiveMaximum": 100,
              "default": 10
            }
          },
          {
            "name": "cursorId",
            "in": "query",
            "description": "Pointer to the contact `id` from where the next batch of records should start from.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "search": {
                    "type": "string"
                  },
                  "timezone": {
                    "type": "string",
                    "examples": [
                      "Asia/Kuala_Lumpur"
                    ]
                  },
                  "filter": {
                    "type": "object",
                    "oneOf": [
                      {
                        "type": "object",
                        "title": "$and",
                        "properties": {
                          "$and": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "category": {
                                  "type": "string",
                                  "enum": [
                                    "contactField",
                                    "contactTag",
                                    "lifecycle"
                                  ]
                                },
                                "field": {
                                  "type": "string"
                                },
                                "operator": {
                                  "type": "string",
                                  "enum": [
                                    "isEqualTo",
                                    "isNotEqualTo",
                                    "isTimestampAfter",
                                    "isTimestampBefore",
                                    "isTimestampBetween",
                                    "exists",
                                    "doesNotExist",
                                    "isGreaterThan",
                                    "isLessThan",
                                    "isBetween",
                                    "hasAnyOf",
                                    "hasAllOf",
                                    "hasNoneOf"
                                  ]
                                },
                                "value": {
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "to": {
                                          "type": "string"
                                        },
                                        "from": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  ]
                                }
                              }
                            }
                          }
                        }
                      },
                      {
                        "type": "object",
                        "title": "$or",
                        "properties": {
                          "$or": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "category": {
                                  "const": "contactField"
                                },
                                "field": {
                                  "type": "string"
                                },
                                "operator": {
                                  "type": "string",
                                  "enum": [
                                    "isEqualTo",
                                    "isNotEqualTo",
                                    "isTimestampAfter",
                                    "isTimestampBefore",
                                    "isTimestampBetween",
                                    "exists",
                                    "doesNotExist",
                                    "isGreaterThan",
                                    "isLessThan",
                                    "isBetween",
                                    "hasAnyOf",
                                    "hasAllOf",
                                    "hasNoneOf"
                                  ]
                                },
                                "value": {
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "to": {
                                          "type": "string"
                                        },
                                        "from": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    ],
                    "discriminator": {
                      "propertyName": "pet_type"
                    }
                  }
                }
              },
              "example": {
                "search": "",
                "filter": {
                  "$and": []
                },
                "timezone": "Asia/Kuala_Lumpur"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "description": "Contact ID",
                                "examples": [
                                  12345
                                ]
                              }
                            }
                          },
                          {
                            "type": "object",
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "firstName": {
                                    "type": "string",
                                    "examples": [
                                      "Muhammad "
                                    ]
                                  },
                                  "lastName": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "examples": [
                                      "Mahin"
                                    ]
                                  },
                                  "phone": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "examples": [
                                      "+60123456789"
                                    ]
                                  },
                                  "email": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "examples": [
                                      "test@example.com"
                                    ]
                                  },
                                  "language": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "description": "Following the [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) standard.",
                                    "examples": [
                                      "ms"
                                    ]
                                  },
                                  "profilePic": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "examples": [
                                      "https://cdn.respond.io/profile_avatar.png"
                                    ]
                                  },
                                  "countryCode": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "description": "Following the [ISO 3166-1 alpha-2](https://www.wikiwand.com/en/ISO_3166-1_alpha-2) standard.",
                                    "examples": [
                                      "MY"
                                    ]
                                  },
                                  "custom_fields": {
                                    "type": [
                                      "array",
                                      "null"
                                    ],
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "examples": [
                                            "Company Website"
                                          ]
                                        },
                                        "value": {
                                          "type": [
                                            "string",
                                            "null"
                                          ],
                                          "description": "Formatting rules\n\n- Text: \"string\" (use quotation marks for the string value)\n- Number: Number (without any quotation marks)\n- Email: \"email\" (format: user@domain.com)\n- URL: \"url\" (format: www.website.com, https://www.website.com, website.com, http://website.com)\n- List: \"string\" (the string value must match one of the list options)\n- Date: \"yyyy-mm-dd\" (must follow this format)\n- Time: \"HH:MM\" (must follow 24H format, 1PM => 13:00)\n- Checkbox: \"true/false\" (must be true for checked, false for unchecked)",
                                          "examples": [
                                            "https://example.com"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "name"
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "firstName"
                                ]
                              }
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string",
                                "enum": [
                                  "open",
                                  "closed"
                                ],
                                "description": "Conversation status of the contact",
                                "examples": [
                                  "open"
                                ]
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "tags": {
                                "type": "array",
                                "maxItems": 10,
                                "uniqueItems": true,
                                "items": {
                                  "type": "string",
                                  "minLength": 1,
                                  "examples": [
                                    "new_customer, sales"
                                  ]
                                }
                              }
                            },
                            "minProperties": 1
                          },
                          {
                            "type": [
                              "object",
                              "null"
                            ],
                            "properties": {
                              "assignee": {
                                "type": "object",
                                "title": "User",
                                "description": "User to whom the contact is assigned",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "description": "User ID",
                                    "examples": [
                                      12345
                                    ]
                                  },
                                  "firstName": {
                                    "type": "string",
                                    "examples": [
                                      "Muhammad Mahin"
                                    ]
                                  },
                                  "lastName": {
                                    "type": "string",
                                    "examples": [
                                      "Dar"
                                    ]
                                  },
                                  "email": {
                                    "type": "string",
                                    "format": "email",
                                    "examples": [
                                      "test@example.com"
                                    ]
                                  }
                                },
                                "required": [
                                  "id",
                                  "firstName",
                                  "lastName",
                                  "email"
                                ]
                              }
                            }
                          },
                          {
                            "type": [
                              "object",
                              "null"
                            ],
                            "properties": {
                              "lifecycle": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "examples": [
                                  "Hot Lead"
                                ]
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "created_at": {
                                "type": "integer",
                                "description": "Unix timestamp in seconds representing when the contact was created.\n",
                                "examples": [
                                  1663274081
                                ]
                              }
                            }
                          }
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "string",
                          "examples": [
                            "https://api.respond.io/contact/list?limit=10&cursorId=-10"
                          ]
                        },
                        "previous": {
                          "type": "string",
                          "examples": [
                            "https://api.respond.io/contact/list?limit=10&cursorId=-10"
                          ]
                        }
                      },
                      "required": [
                        "next",
                        "previous"
                      ]
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        400
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Validation error."
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        401
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "UN_AUTHORIZED"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds until you can retry the request",
                "schema": {
                  "type": "number",
                  "examples": [
                    1
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Number of request allowed for this end point",
                "schema": {
                  "type": "number",
                  "examples": [
                    10
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of request remaining for this end point",
                "schema": {
                  "type": "number",
                  "examples": [
                    5
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        429
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Too Many Requests"
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        500
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Unexpected error occurred"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contact/merge": {
      "post": {
        "summary": "Merge two contacts",
        "operationId": "mergeContacts",
        "description": "Merge two contacts by their IDs",
        "tags": [
          "Contact"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "contactIds": {
                        "type": "array",
                        "description": "IDs of the two contacts that are to be merged",
                        "uniqueItems": true,
                        "items": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  {
                    "type": "object",
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string",
                            "examples": [
                              "Muhammad "
                            ]
                          },
                          "lastName": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "Mahin"
                            ]
                          },
                          "phone": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "+60123456789"
                            ]
                          },
                          "email": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "test@example.com"
                            ]
                          },
                          "language": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Following the [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) standard.",
                            "examples": [
                              "ms"
                            ]
                          },
                          "profilePic": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "https://cdn.respond.io/profile_avatar.png"
                            ]
                          },
                          "countryCode": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Following the [ISO 3166-1 alpha-2](https://www.wikiwand.com/en/ISO_3166-1_alpha-2) standard.",
                            "examples": [
                              "MY"
                            ]
                          },
                          "custom_fields": {
                            "type": [
                              "array",
                              "null"
                            ],
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "examples": [
                                    "Company Website"
                                  ]
                                },
                                "value": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "description": "Formatting rules\n\n- Text: \"string\" (use quotation marks for the string value)\n- Number: Number (without any quotation marks)\n- Email: \"email\" (format: user@domain.com)\n- URL: \"url\" (format: www.website.com, https://www.website.com, website.com, http://website.com)\n- List: \"string\" (the string value must match one of the list options)\n- Date: \"yyyy-mm-dd\" (must follow this format)\n- Time: \"HH:MM\" (must follow 24H format, 1PM => 13:00)\n- Checkbox: \"true/false\" (must be true for checked, false for unchecked)",
                                  "examples": [
                                    "https://example.com"
                                  ]
                                }
                              },
                              "required": [
                                "name"
                              ]
                            }
                          }
                        },
                        "required": [
                          "firstName"
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contactId": {
                      "type": "integer",
                      "description": "ID of the contact on which the action was performed."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        400
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Validation error."
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        401
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "UN_AUTHORIZED"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds until you can retry the request",
                "schema": {
                  "type": "number",
                  "examples": [
                    1
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Number of request allowed for this end point",
                "schema": {
                  "type": "number",
                  "examples": [
                    10
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of request remaining for this end point",
                "schema": {
                  "type": "number",
                  "examples": [
                    5
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        429
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Too Many Requests"
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        500
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Unexpected error occurred"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contact/{identifier}": {
      "get": {
        "summary": "Get a contact",
        "operationId": "getContact",
        "description": "Retrieves the information of an existing contact.",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Identifier of the contact that can either be a phone number, email or contact ID. Examples: ``id:123`` , ``email:abdc@gmail.com`` , ``phone:+60121233112``",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Contact ID",
                          "examples": [
                            12345
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "firstName": {
                              "type": "string",
                              "examples": [
                                "Muhammad "
                              ]
                            },
                            "lastName": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "examples": [
                                "Mahin"
                              ]
                            },
                            "phone": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "examples": [
                                "+60123456789"
                              ]
                            },
                            "email": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "examples": [
                                "test@example.com"
                              ]
                            },
                            "language": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "Following the [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) standard.",
                              "examples": [
                                "ms"
                              ]
                            },
                            "profilePic": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "examples": [
                                "https://cdn.respond.io/profile_avatar.png"
                              ]
                            },
                            "countryCode": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "Following the [ISO 3166-1 alpha-2](https://www.wikiwand.com/en/ISO_3166-1_alpha-2) standard.",
                              "examples": [
                                "MY"
                              ]
                            },
                            "custom_fields": {
                              "type": [
                                "array",
                                "null"
                              ],
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "examples": [
                                      "Company Website"
                                    ]
                                  },
                                  "value": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "description": "Formatting rules\n\n- Text: \"string\" (use quotation marks for the string value)\n- Number: Number (without any quotation marks)\n- Email: \"email\" (format: user@domain.com)\n- URL: \"url\" (format: www.website.com, https://www.website.com, website.com, http://website.com)\n- List: \"string\" (the string value must match one of the list options)\n- Date: \"yyyy-mm-dd\" (must follow this format)\n- Time: \"HH:MM\" (must follow 24H format, 1PM => 13:00)\n- Checkbox: \"true/false\" (must be true for checked, false for unchecked)",
                                    "examples": [
                                      "https://example.com"
                                    ]
                                  }
                                },
                                "required": [
                                  "name"
                                ]
                              }
                            }
                          },
                          "required": [
                            "firstName"
                          ]
                        }
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "open",
                            "closed"
                          ],
                          "description": "Conversation status of the contact",
                          "examples": [
                            "open"
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "tags": {
                          "type": "array",
                          "maxItems": 10,
                          "uniqueItems": true,
                          "items": {
                            "type": "string",
                            "minLength": 1,
                            "examples": [
                              "new_customer, sales"
                            ]
                          }
                        }
                      },
                      "minProperties": 1
                    },
                    {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "assignee": {
                          "type": "object",
                          "title": "User",
                          "description": "User to whom the contact is assigned",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "User ID",
                              "examples": [
                                12345
                              ]
                            },
                            "firstName": {
                              "type": "string",
                              "examples": [
                                "Muhammad Mahin"
                              ]
                            },
                            "lastName": {
                              "type": "string",
                              "examples": [
                                "Dar"
                              ]
                            },
                            "email": {
                              "type": "string",
                              "format": "email",
                              "examples": [
                                "test@example.com"
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "firstName",
                            "lastName",
                            "email"
                          ]
                        }
                      }
                    },
                    {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "lifecycle": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "examples": [
                            "Hot Lead"
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "created_at": {
                          "type": "integer",
                          "description": "Unix timestamp in seconds representing when the contact was created.\n",
                          "examples": [
                            1663274081
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        400
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Validation error."
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        401
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "UN_AUTHORIZED"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        404
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Contact not found"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds until you can retry the request",
                "schema": {
                  "type": "number",
                  "examples": [
                    1
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Number of request allowed for this end point",
                "schema": {
                  "type": "number",
                  "examples": [
                    10
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of request remaining for this end point",
                "schema": {
                  "type": "number",
                  "examples": [
                    5
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        429
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Too Many Requests"
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        500
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Unexpected error occurred"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a contact",
        "operationId": "updateContact",
        "description": "Updates an existing contact. Only the contact fields that are included in the body will be updated. The first contact will be updated when duplicate contacts with the defined identifier exist.",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Identifier of the contact that can either be a phone number, email or contact ID. Examples: ``id:123`` , ``email:abdc@gmail.com`` , ``phone:+60121233112``",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "anyOf": [
                  {
                    "type": "object",
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "examples": [
                          "Muhammad "
                        ]
                      },
                      "lastName": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "examples": [
                          "Mahin"
                        ]
                      },
                      "phone": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "examples": [
                          "+60123456789"
                        ]
                      },
                      "email": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "examples": [
                          "test@example.com"
                        ]
                      },
                      "language": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Following the [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) standard.",
                        "examples": [
                          "ms"
                        ]
                      },
                      "profilePic": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "examples": [
                          "https://cdn.respond.io/profile_avatar.png"
                        ]
                      },
                      "countryCode": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Following the [ISO 3166-1 alpha-2](https://www.wikiwand.com/en/ISO_3166-1_alpha-2) standard.",
                        "examples": [
                          "MY"
                        ]
                      },
                      "custom_fields": {
                        "type": [
                          "array",
                          "null"
                        ],
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "examples": [
                                "Company Website"
                              ]
                            },
                            "value": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "Formatting rules\n\n- Text: \"string\" (use quotation marks for the string value)\n- Number: Number (without any quotation marks)\n- Email: \"email\" (format: user@domain.com)\n- URL: \"url\" (format: www.website.com, https://www.website.com, website.com, http://website.com)\n- List: \"string\" (the string value must match one of the list options)\n- Date: \"yyyy-mm-dd\" (must follow this format)\n- Time: \"HH:MM\" (must follow 24H format, 1PM => 13:00)\n- Checkbox: \"true/false\" (must be true for checked, false for unchecked)",
                              "examples": [
                                "https://example.com"
                              ]
                            }
                          },
                          "required": [
                            "name"
                          ]
                        }
                      }
                    },
                    "required": [
                      "firstName"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contactId": {
                      "type": "integer",
                      "description": "ID of the contact on which the action was performed."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        400
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Validation error."
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        401
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "UN_AUTHORIZED"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds until you can retry the request",
                "schema": {
                  "type": "number",
                  "examples": [
                    1
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Number of request allowed for this end point",
                "schema": {
                  "type": "number",
                  "examples": [
                    10
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of request remaining for this end point",
                "schema": {
                  "type": "number",
                  "examples": [
                    5
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        429
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Too Many Requests"
                      ]
                    }
                  }
                }
              }
            }
          },
          "449": {
            "description": "Request queued, try again later",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        449
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Your request cannot be processed at the moment as it is currently in queue. Please try again in a few minutes."
                      ]
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        449
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Your request cannot be processed at the moment as it is currently in queue. Please try again in a few minutes."
                      ]
                    }
                  }
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        449
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Your request cannot be processed at the moment as it is currently in queue. Please try again in a few minutes."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        500
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Unexpected error occurred"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a contact",
        "operationId": "deleteContact",
        "description": "Deletes an existing contact.",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Identifier of the contact that can either be a phone number, email or contact ID. Examples: ``id:123`` , ``email:abdc@gmail.com`` , ``phone:+60121233112``",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contactId": {
                      "type": "integer",
                      "description": "ID of the contact on which the action was performed."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        400
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Validation error."
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        401
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "UN_AUTHORIZED"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds until you can retry the request",
                "schema": {
                  "type": "number",
                  "examples": [
                    1
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Number of request allowed for this end point",
                "schema": {
                  "type": "number",
                  "examples": [
                    10
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of request remaining for this end point",
                "schema": {
                  "type": "number",
                  "examples": [
                    5
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        429
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Too Many Requests"
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        500
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Unexpected error occurred"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a contact",
        "operationId": "createContact",
        "description": "Creates a new contact. It is highly recommended to add a delay before executing a new action after creating a new contact, as processing time is required.",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Identifier of the contact that can either be a phone number, email or contact ID. Examples: ``email:abdc@gmail.com`` , ``phone:+60121233112``",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "type": "object",
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string",
                            "examples": [
                              "Muhammad "
                            ]
                          },
                          "lastName": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "Mahin"
                            ]
                          },
                          "phone": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "+60123456789"
                            ]
                          },
                          "email": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "test@example.com"
                            ]
                          },
                          "language": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Following the [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) standard.",
                            "examples": [
                              "ms"
                            ]
                          },
                          "profilePic": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "https://cdn.respond.io/profile_avatar.png"
                            ]
                          },
                          "countryCode": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Following the [ISO 3166-1 alpha-2](https://www.wikiwand.com/en/ISO_3166-1_alpha-2) standard.",
                            "examples": [
                              "MY"
                            ]
                          },
                          "custom_fields": {
                            "type": [
                              "array",
                              "null"
                            ],
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "examples": [
                                    "Company Website"
                                  ]
                                },
                                "value": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "description": "Formatting rules\n\n- Text: \"string\" (use quotation marks for the string value)\n- Number: Number (without any quotation marks)\n- Email: \"email\" (format: user@domain.com)\n- URL: \"url\" (format: www.website.com, https://www.website.com, website.com, http://website.com)\n- List: \"string\" (the string value must match one of the list options)\n- Date: \"yyyy-mm-dd\" (must follow this format)\n- Time: \"HH:MM\" (must follow 24H format, 1PM => 13:00)\n- Checkbox: \"true/false\" (must be true for checked, false for unchecked)",
                                  "examples": [
                                    "https://example.com"
                                  ]
                                }
                              },
                              "required": [
                                "name"
                              ]
                            }
                          }
                        },
                        "required": [
                          "firstName"
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "examples": [
                        "200"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Contact added successfully!"
                      ]
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        400
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Validation error."
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        401
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "UN_AUTHORIZED"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds until you can retry the request",
                "schema": {
                  "type": "number",
                  "examples": [
                    1
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Number of request allowed for this end point",
                "schema": {
                  "type": "number",
                  "examples": [
                    10
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of request remaining for this end point",
                "schema": {
                  "type": "number",
                  "examples": [
                    5
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        429
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Too Many Requests"
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        500
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Unexpected error occurred"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contact/{identifier}/channels": {
      "get": {
        "summary": "List contact channels",
        "operationId": "listChannels",
        "description": "List all connected channel of a specific contact.",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Identifier of the contact that can either be a phone number, email or contact ID. Examples: ``id:123`` , ``email:abdc@gmail.com`` , ``phone:+60121233112``",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "Identifier of the contact that can either be a phone number, email or contact ID. Examples: ``id:123`` , ``email:abdc@gmail.com`` , ``phone:+60121233112``",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of contacts to return i.e. page size.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "exclusiveMaximum": 100,
              "default": 10
            }
          },
          {
            "name": "cursorId",
            "in": "query",
            "description": "Pointer to the contact `id` from where the next batch of records should start from.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Channel ID.",
                            "minimum": 1,
                            "examples": [
                              12345
                            ]
                          },
                          "name": {
                            "type": "string",
                            "description": "Channel name."
                          },
                          "source": {
                            "type": "string",
                            "enum": [
                              "facebook",
                              "instagram",
                              "line",
                              "telegram",
                              "viber",
                              "twitter",
                              "wechat",
                              "custom_channel",
                              "gmail",
                              "other_email",
                              "twillio",
                              "message_bird",
                              "nexmo",
                              "360dialog_whatsapp",
                              "twilio_whatsapp",
                              "message_bird_whatsapp",
                              "whatsapp",
                              "nexmo_whatsapp",
                              "whatsapp_cloud"
                            ],
                            "description": "Type of the channel"
                          },
                          "meta": {
                            "type": "object",
                            "description": "Additional details of the contact as provided by the channel. This will vary across channels."
                          },
                          "lastMessageTime": {
                            "type": "integer",
                            "description": "Unix timestamp of the last messag received/sent (in seconds)."
                          },
                          "lastIncomingMessageTime": {
                            "type": "integer",
                            "description": "Unix timestamp of the last incoming message (in seconds)."
                          },
                          "created_at": {
                            "type": "integer",
                            "description": "Unix timestamp of the channel creation (in seconds)."
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "string",
                          "examples": [
                            "https://api.respond.io/contact/{identifier}/channels?limit=10&cursorId=10"
                          ]
                        },
                        "previous": {
                          "type": "string",
                          "examples": [
                            "https://api.respond.io/contact/{identifier}/channels?limit=10&cursorId=-10"
                          ]
                        }
                      },
                      "required": [
                        "next",
                        "previous"
                      ]
                    }
                  },
                  "required": [
                    "items",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        400
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Validation error."
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        401
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "UN_AUTHORIZED"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds until you can retry the request",
                "schema": {
                  "type": "number",
                  "examples": [
                    1
                  ]
                }
              },
              "X-RateLimit-Limit": {
                "description": "Number of request allowed for this end point",
                "schema": {
                  "type": "number",
                  "examples": [
                    10
                  ]
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of request remaining for this end point",
                "schema": {
                  "type": "number",
                  "examples": [
                    5
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        429
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Too Many Requests"
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "examples": [
                        500
                      ]
                    },
                    "message": {
                      "type": "string",
                      "examples": [
                        "Unexpected error occurred"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contact/{identifier}/comment": {
      "post": {
        "summary": "Create a comment",
        "operationId": "createComment",
        "description": "Adds a comment to the specific contact for internal reference.",
        "tags": [
          "Comment"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Identifier of the contact that can either be a phone number, email or contact ID. Examples: ``id:123`` , ``email:abdc@gmail.com`` , ``phone:+60121233112``",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "Identifier of the contact that can either be a phone number, email or contact ID. Example: ``id:123`` | ``email:abdc@gmail.com`` | ``phone:+60121233112``",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "maxLength": 1000,
                    "examples": [
                      "A comment via the API"
                    ]
                  }
                },
                "required": [
                  "text"
                ]
              },
              "example": {
                "text": "This is a comment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contactId": {
                      "type": "integer",
                      "description": "ID of the contact for which the comment was added."
                    },
                    "text": {
                      "type": "string",
                      "description": "Text of the comment.",
                      "examples": [
                        "You just commented from the API"
                      ]
                    },
                    "created_at": {
                      "type": "integer",
                      "description": "Unix timestamps in seconds representing the time at which the comment was added.",
                      "examples": [
                        1662979868
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
[...]
