{
  "openapi": "3.0.3",
  "info": {
    "title": "Bluetick.io API",
    "version": "v1",
    "description": "Bluetick.io is an automated email followup tool designed to help move leads through your sales funnel.",
    "x-jentic-source-url": "https://api.bluetick.io/swagger/docs/v1"
  },
  "servers": [
    {
      "url": "https://api.bluetick.io"
    }
  ],
  "paths": {
    "/v1/accounts/{accountId}": {
      "get": {
        "operationId": "Accounts_GetAccount",
        "summary": "Get an Account",
        "description": "Get an Account",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/accounts/{accountId}/contacts": {
      "post": {
        "operationId": "Contacts_CreateContact",
        "summary": "Create a new Contact",
        "description": "Create a new Contact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "201": {
            "description": "Contact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactBindingModel"
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/contacts/{emailAddressOrContactId}": {
      "get": {
        "operationId": "Contacts_GetContact",
        "summary": "Get a Contact",
        "description": "Get a Contact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "emailAddressOrContactId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "Contacts_UpdateContact",
        "summary": "Set the primary properties of an existing Contact",
        "description": "Set the primary properties of an existing Contact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "emailAddressOrContactId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request. See error object contents for details."
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactBindingModel"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "Contacts_DeleteContact",
        "summary": "Delete a Contact",
        "description": "Delete a Contact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "emailAddressOrContactId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Contact deleted successfully"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/accounts/{accountId}/contacts/{emailAddressOrContactId}/emailaddresses/primary": {
      "put": {
        "operationId": "Contacts_SetPrimaryEmailAddress",
        "summary": "Change the PrimaryEmailAddress of an existing Contact",
        "description": "Change the PrimaryEmailAddress of an existing Contact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "emailAddressOrContactId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "PrimaryEmailAddress modified successfully"
          },
          "304": {
            "description": "PrimaryEmailAddress was not modified because it is already the Primary Email Address"
          },
          "400": {
            "description": "Invalid Request. See error object contents for details."
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetPrimaryEmailAddressBindingModel"
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/sequences/{id}/contacts": {
      "post": {
        "operationId": "Sequences_AddContactToSequence",
        "summary": "Add a Contact to a Sequence",
        "description": "Add a Contact to a Sequence",
        "tags": [
          "Sequences"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id of the Sequence",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Contact added to Sequence"
          },
          "304": {
            "description": "Contact is already in the target Sequence"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddContactToSequenceBindingModel"
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/sequences": {
      "get": {
        "operationId": "Sequences_GetPagedSequences",
        "summary": "Returns a list of sequences for the account authenticated to make the request",
        "description": "Returns a list of sequences for the account authenticated to make the request",
        "tags": [
          "Sequences"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Default: 1",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Default: 10",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paged list of Sequences",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListViewModel[SequenceViewModel]"
                }
              }
            }
          },
          "400": {
            "description": "Request Failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorViewModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/accounts/{accountId}/sequences/{id}": {
      "get": {
        "operationId": "Sequences_GetSequence",
        "summary": "Get a Sequence",
        "description": "Get a Sequence",
        "tags": [
          "Sequences"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id of the Sequence",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sequence",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SequenceViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/accounts/{accountId}/sequences/{id}/metrics/contacts": {
      "get": {
        "operationId": "Sequences_GetSequenceCompletedMetrics",
        "summary": "Get the Metrics for the Contacts who Started or Completed the Sequence within the specified time frame",
        "description": "Get the Metrics for the Contacts who Started or Completed the Sequence within the specified time frame",
        "tags": [
          "Sequences"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id of the Sequence",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Format: \"YYYY-MM-DD\" Default: Sequence Creation Date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Format: \"YYYY-MM-DD\" Default: Current Date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sequence Contact Metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SequenceContactMetricsViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/accounts/{accountId}/sequences/{id}/metrics/actions": {
      "get": {
        "operationId": "Sequences_GetSequenceActionMetrics",
        "summary": "Get the metrics for actions taken on Contacts within the Sequence. ie: Sent emails",
        "description": "Get the metrics for actions taken on Contacts within the Sequence. ie: Sent emails",
        "tags": [
          "Sequences"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id of the Sequence",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "description": "Format: \"YYYY-MM-DD\" Default: Sequence Creation Date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Format: \"YYYY-MM-DD\" Default: Current Date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sequence Action Metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SequenceActionMetricsViewModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GetAccountViewModel": {
        "type": "object",
        "properties": {
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateModified": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "NotSet",
              "Active",
              "Parked",
              "Archived",
              "SysAdminDeleted",
              "AccountCleanup"
            ]
          }
        }
      },
      "CreateContactBindingModel": {
        "type": "object",
        "properties": {
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateContactCustomFieldBindingModel"
            }
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "primaryEmailAddress": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "titleOrPosition": {
            "type": "string"
          }
        }
      },
      "CreateContactCustomFieldBindingModel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "ContactViewModel": {
        "type": "object",
        "properties": {
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactViewModelCustomField"
            }
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateModified": {
            "type": "string",
            "format": "date-time"
          },
          "doNotContact": {
            "type": "boolean"
          },
          "doNotContactDate": {
            "type": "string",
            "format": "date-time"
          },
          "emailAddresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactViewModelEmailAddress"
            }
          },
          "firstName": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "lastName": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "titleOrPosition": {
            "type": "string"
          }
        }
      },
      "ContactViewModelCustomField": {
        "type": "object",
        "properties": {
          "fieldName": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "ContactViewModelEmailAddress": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "isPrimary": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "Unknown",
              "Bounced",
              "Valid"
            ]
          },
          "statusDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UpdateContactBindingModel": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "titleOrPosition": {
            "type": "string"
          }
        }
      },
      "SetPrimaryEmailAddressBindingModel": {
        "type": "object",
        "properties": {
          "newPrimaryEmailAddress": {
            "type": "string"
          }
        }
      },
      "AddContactToSequenceBindingModel": {
        "type": "object",
        "properties": {
          "emailAddressOrContactId": {
            "type": "string"
          },
          "skipBuffer": {
            "type": "boolean"
          },
          "smtpServerId": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PagedListViewModel[SequenceViewModel]": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SequenceViewModel"
            }
          },
          "firstItemOnPage": {
            "type": "integer",
            "format": "int32"
          },
          "hasNextPage": {
            "type": "boolean"
          },
          "hasPreviousPage": {
            "type": "boolean"
          },
          "isFirstPage": {
            "type": "boolean"
          },
          "isLastPage": {
            "type": "boolean"
          },
          "lastItemOnPage": {
            "type": "integer",
            "format": "int32"
          },
          "pageCount": {
            "type": "integer",
            "format": "int32"
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "totalItemCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "SequenceViewModel": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "emailSendingPriority": {
            "type": "integer",
            "format": "int32"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "includeTrackingPixel": {
            "type": "boolean"
          },
          "metadata": {
            "$ref": "#/components/schemas/SequenceMetadata"
          },
          "name": {
            "type": "string"
          },
          "sequenceTagMembers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SequenceTagMemberViewModel"
            }
          },
          "skipProcessingOnPublicHolidays": {
            "type": "boolean"
          },
          "smtpServerId": {
            "type": "integer",
            "format": "int32"
          },
          "stage": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "NotSet",
              "Active",
              "Disabled",
              "DisabledBySysAdmin",
              "Archived",
              "Deleted"
            ]
          },
          "stopOnReply": {
            "type": "boolean"
          },
          "timeZone": {
            "type": "string"
          }
        }
      },
      "SequenceMetadata": {
        "type": "object",
        "properties": {
          "stepCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "SequenceTagMemberViewModel": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "integer",
            "format": "int32"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "sequenceId": {
            "type": "integer",
            "format": "int32"
          },
          "sequenceTag": {
            "$ref": "#/components/schemas/SequenceTagViewModel"
          },
          "sequenceTagId": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "SequenceTagViewModel": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "integer",
            "format": "int32"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "sequenceTagName": {
            "type": "string"
          },
          "sortOrder": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ApiErrorViewModel": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/BtErrorDetail"
          },
          "uri": {
            "type": "string"
          }
        }
      },
      "BtErrorDetail": {
        "type": "object",
        "properties": {
          "clientStatusCode": {
            "type": "string",
            "enum": [
              "Continue",
              "SwitchingProtocols",
              "OK",
              "Created",
              "Accepted",
              "NonAuthoritativeInformation",
              "NoContent",
              "ResetContent",
              "PartialContent",
              "MultipleChoices",
              "Ambiguous",
              "MovedPermanently",
              "Moved",
              "Found",
              "Redirect",
              "SeeOther",
              "RedirectMethod",
              "NotModified",
              "UseProxy",
              "Unused",
              "TemporaryRedirect",
              "RedirectKeepVerb",
              "BadRequest",
              "Unauthorized",
              "PaymentRequired",
              "Forbidden",
              "NotFound",
              "MethodNotAllowed",
              "NotAcceptable",
              "ProxyAuthenticationRequired",
              "RequestTimeout",
              "Conflict",
              "Gone",
              "LengthRequired",
              "PreconditionFailed",
              "RequestEntityTooLarge",
              "RequestUriTooLong",
              "UnsupportedMediaType",
              "RequestedRangeNotSatisfiable",
              "ExpectationFailed",
              "UpgradeRequired",
              "InternalServerError",
              "NotImplemented",
              "BadGateway",
              "ServiceUnavailable",
              "GatewayTimeout",
              "HttpVersionNotSupported"
            ]
          },
          "code": {
            "type": "string",
            "enum": [
              "NotSpecified",
              "TestCode",
              "AuthenticationRequired",
              "AuthorizationGeneric",
              "AuthorizationSubscriptionNotActive",
              "AuthorizationUserNotActive",
              "AuthorizationUserNotFound",
              "AuthorizationContactAccessDenied",
              "AuthorizationSequenceAccessDenied",
              "AuthorizationMailboxAccessDeniedSequenceBufferAccessDenied",
              "AuthorizationSequenceBufferAccessDenied",
              "AuthorizationAccountAccessDenied",
              "AuthorizationSmtpServerAccessDenied",
              "ValidationInvalidBindingModelFields",
              "ValidationInvalidModelRegisterBindingModel",
              "ValidationInvalidAppServiceInputModel",
              "ValidationInvalidContactAppServiceCreateContactInput",
              "ValidationResourceIdOutOfRangeContactIdInvalid",
              "ValidationResourceIdOutOfRangeSequenceIdInvalid",
              "ValidationBufferedContactStatusEnumerationStatusIsInvalid",
              "ValidationBufferedContactStatusEnumerationCompletedReasonIsRequired",
              "ValidationBufferedContactStatusEnumerationCompletedReasonIsInvalidOnIncompleteContact",
              "ResourceMissingGeneric",
              "ResourceMissingBufferedContactNotFound",
              "ResourceMissingContactNotFound",
              "ResourceMissingContactNotFoundInSequence",
              "ResourceMissingSequenceNotFound",
              "ResourceMissingSequenceBufferHistoryNotFound",
              "ResourceMissingSequenceStepNotFound",
              "ResourceMissingMailboxNotFound",
              "ResourceMissingSequenceBufferNotFound",
              "ResourceMissingTagNotFound",
              "ResourceMissingTempContactNotFound",
              "ResourceMissingSmtpServerNotFound",
              "ResourceMissingAccountInvitationNotFound",
              "ResourceMissingAutomationRuleNotFound",
              "ContactServiceAddToSequenceAlreadyPartOfSequence",
              "ContactServiceAddToSequenceNoContactsFound",
              "SequenceBufferServiceUpdateSequenceBufferScheduleCompletedStepMayNotBeModified",
              "SequenceBufferServiceUpdateSequenceBufferScheduleApplyDelayWithZeroDelayTimeSpanIsInvalid",
              "SubscriptionServiceBillingException",
              "UserServiceCreateUserUnknownError",
              "UserServiceCreateUserEmailAddressAlreadyInUse",
              "SubscriptionServiceUserAlreadyAssociatedWithSubscription",
              "ContactServiceAddContactByUserContactAlreadyExists",
              "UserServiceCreateUserValidUserWithUnknownSubscriptionStatus",
              "UserServiceCreateUserValidUserWithActiveSubscription",
              "UserServiceCreateUserValidUserWithCancelledSubscription",
              "UserServiceCreateUserValidUserWithPartiallyCreatedSubscription",
              "MailboxServiceSetOAuth20CredentialsInvalidImapServerProtocol",
              "MailboxServiceSetOAuth20CredentialsInvalidImapServerName",
              "MailboxServiceSetOAuth20CredentialsImapUsernameDoesNotMatchTokenEmailAddress",
              "MailboxServiceSetOAuth20CredentialsInvalidSmtpServer",
              "MailboxServiceSetOAuth20CredentialsSmtpUsernameDoesNotMatchTokenEmailAddress",
              "MailboxServiceImapConnectionFailed",
              "MailboxServiceSmtpServerConnectionFailed",
              "ContactServiceSetPrimaryEmailAddressTargetEmailAddressAlreadyExists",
              "AccountInvitationServiceCreateInvitationUserAlreadyInvited",
              "AccountInvitationServiceCreateInvitationUserAlreadyAnAccountMember",
              "AccountInvitationServiceResendInvitationInvalidStatus",
              "MailboxServiceMailboxAlreadyExists",
              "MailboxServiceSmtpServerAlreadyExists",
              "SmtpServiceSmtpServerAlreadyExists",
              "SmtpServiceSmtpServerNotAssociatedWithTargetMailbox",
              "SmtpServiceAliasMatchedWithDefaultSmtpServer",
              "UserServiceCreateUserWithBannedEmailAddressDomain",
              "UserServiceCreateUserWithInvalidEmailAddressDomain",
              "InvalidFilterName",
              "InvalidOperation"
            ]
          },
          "errorType": {
            "type": "string"
          },
          "fieldErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BtFieldError"
            }
          },
          "message": {
            "type": "string"
          },
          "moreInfo": {
            "type": "string"
          }
        }
      },
      "BtFieldError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "fieldName": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SequenceContactMetricsViewModel": {
        "type": "object",
        "properties": {
          "averageDaysPerConversion": {
            "type": "number",
            "format": "double"
          },
          "averageMinutesPerConversion": {
            "type": "number",
            "format": "double"
          },
          "averageStepsPerConversion": {
            "type": "number",
            "format": "double"
          },
          "completed": {
            "type": "integer",
            "format": "int32"
          },
          "completedOutcomes": {
            "$ref": "#/components/schemas/CompletedOutcomesViewModel"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "metricEndDate": {
            "type": "string",
            "format": "date-time"
          },
          "metricStartDate": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "started": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CompletedOutcomesViewModel": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "failure": {
            "type": "integer",
            "format": "int32"
          },
          "neutral": {
            "type": "integer",
            "format": "int32"
          },
          "success": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "SequenceActionMetricsViewModel": {
        "type": "object",
        "properties": {
          "emailMetrics": {
            "$ref": "#/components/schemas/SequenceEmailMetricsViewModel"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "metricEndDate": {
            "type": "string",
            "format": "date-time"
          },
          "metricStartDate": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "SequenceEmailMetricsViewModel": {
        "type": "object",
        "properties": {
          "totalEmailsSent": {
            "type": "integer",
            "format": "int32"
          },
          "totalOpens": {
            "type": "integer",
            "format": "int32"
          },
          "uniqueContacts": {
            "type": "integer",
            "format": "int32"
          },
          "uniqueEmailsOpened": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "tags": [
    {
      "name": "Accounts"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Sequences"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}