{
  "openapi": "3.0.3",
  "info": {
    "title": "CentOS Pastebin API",
    "description": "REST API for the CentOS Pastebin service. Allows creating, retrieving, and browsing paste entries.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://paste.centos.org/api"
  },
  "servers": [
    {
      "url": "https://paste.centos.org/api"
    }
  ],
  "paths": {
    "/paste/{pasteId}": {
      "get": {
        "operationId": "getPaste",
        "summary": "Get a paste by ID",
        "description": "Retrieves the content and metadata of a specific paste.",
        "tags": [
          "Pastes"
        ],
        "parameters": [
          {
            "name": "pasteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the paste"
          }
        ],
        "responses": {
          "200": {
            "description": "Paste data returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paste"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Paste not found"
          }
        }
      }
    },
    "/random": {
      "get": {
        "operationId": "getRandomPaste",
        "summary": "Get a random paste",
        "description": "Retrieves a random paste from the service.",
        "tags": [
          "Pastes"
        ],
        "responses": {
          "200": {
            "description": "Random paste data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paste"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/recent": {
      "get": {
        "operationId": "getRecentPastes",
        "summary": "Get recent pastes",
        "description": "Retrieves the most recently created pastes.",
        "tags": [
          "Pastes"
        ],
        "responses": {
          "200": {
            "description": "List of recent pastes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Paste"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/trending": {
      "get": {
        "operationId": "getTrendingPastes",
        "summary": "Get trending pastes",
        "description": "Retrieves currently trending pastes.",
        "tags": [
          "Pastes"
        ],
        "responses": {
          "200": {
            "description": "List of trending pastes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Paste"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/langs": {
      "get": {
        "operationId": "getLanguages",
        "summary": "Get available languages",
        "description": "Retrieves the list of supported syntax highlighting languages.",
        "tags": [
          "Utilities"
        ],
        "responses": {
          "200": {
            "description": "List of available languages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/create": {
      "post": {
        "operationId": "createPaste",
        "summary": "Create a new paste",
        "description": "Creates a new paste entry.",
        "tags": [
          "Pastes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PasteCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paste created. Returns the paste URL or error message.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Paste URL in format: paste URL: https://paste.centos.org/view/{pasteId}"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required 'text' parameter",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Paste": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Author name"
          },
          "lang": {
            "type": "string",
            "description": "Syntax highlighting language"
          },
          "private": {
            "type": "boolean"
          },
          "expire": {
            "type": "integer",
            "description": "Expiration in minutes"
          }
        }
      },
      "PasteCreate": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "The paste content (required)"
          },
          "title": {
            "type": "string",
            "description": "Optional title"
          },
          "name": {
            "type": "string",
            "description": "Author name"
          },
          "private": {
            "type": "integer",
            "description": "Set to 1 to make paste private",
            "enum": [
              0,
              1
            ]
          },
          "lang": {
            "type": "string",
            "description": "Syntax highlighting language"
          },
          "expire": {
            "type": "integer",
            "description": "Expiration time in minutes"
          },
          "reply": {
            "type": "string",
            "description": "ID of paste to reply to"
          }
        }
      }
    }
  }
}