{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudcraft API",
    "version": "1.0.0",
    "description": "API for managing cloud architecture diagrams, AWS/Azure accounts, blueprints, budgets, teams, and users in Cloudcraft.",
    "x-jentic-source-url": "https://docs.datadoghq.com/cloudcraft/api"
  },
  "servers": [
    {
      "url": "https://api.cloudcraft.co"
    }
  ],
  "paths": {
    "/aws/account": {
      "get": {
        "operationId": "listAwsAccounts",
        "summary": "List all AWS accounts",
        "description": "Retrieve all AWS accounts linked to the Cloudcraft account.",
        "tags": [
          "AWS Accounts"
        ],
        "responses": {
          "200": {
            "description": "List of AWS accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AwsAccount"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addAwsAccount",
        "summary": "Add an AWS account",
        "description": "Register a new AWS account with Cloudcraft.",
        "tags": [
          "AWS Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AwsAccountInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "AWS account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwsAccount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/aws/account/iamParameters": {
      "get": {
        "operationId": "getAwsIamParameters",
        "summary": "Get IAM role parameters",
        "description": "List the parameters required to register a new IAM role in AWS.",
        "tags": [
          "AWS Accounts"
        ],
        "responses": {
          "200": {
            "description": "IAM parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IamParameters"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/aws/account/{account_id}": {
      "put": {
        "operationId": "updateAwsAccount",
        "summary": "Update an AWS account",
        "description": "Update an existing AWS account linked to Cloudcraft.",
        "tags": [
          "AWS Accounts"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AwsAccountInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AWS account updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwsAccount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAwsAccount",
        "summary": "Delete an AWS account",
        "description": "Remove an AWS account from Cloudcraft.",
        "tags": [
          "AWS Accounts"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AWS account deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/aws/account/{account_id}/{region}/{format}": {
      "get": {
        "operationId": "snapshotAwsAccount",
        "summary": "Snapshot an AWS account",
        "description": "Generate a blueprint of the infrastructure in an AWS account for a given region.",
        "tags": [
          "AWS Accounts"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "region",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "AWS region, e.g. us-east-1"
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "svg",
                "png",
                "pdf",
                "mxGraph"
              ]
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "autoconnect",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "scale",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "width",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "height",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "grid",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "transparent",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "landscape",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "paperSize",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "202": {
            "description": "Still processing"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/azure/account": {
      "get": {
        "operationId": "listAzureAccounts",
        "summary": "List all Azure accounts",
        "description": "List all Azure accounts linked to your Cloudcraft account.",
        "tags": [
          "Azure Accounts"
        ],
        "responses": {
          "200": {
            "description": "List of Azure accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AzureAccount"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addAzureAccount",
        "summary": "Add an Azure account",
        "description": "Register a new Azure account with Cloudcraft.",
        "tags": [
          "Azure Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AzureAccountInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Azure account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureAccount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/azure/account/{account_id}": {
      "put": {
        "operationId": "updateAzureAccount",
        "summary": "Update an Azure account",
        "description": "Update an existing Azure account linked to Cloudcraft.",
        "tags": [
          "Azure Accounts"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AzureAccountInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Azure account updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureAccount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAzureAccount",
        "summary": "Delete an Azure account",
        "description": "Remove an Azure account from Cloudcraft.",
        "tags": [
          "Azure Accounts"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Azure account deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/azure/account/{account_id}/{region}/{format}": {
      "get": {
        "operationId": "snapshotAzureAccount",
        "summary": "Snapshot an Azure account",
        "description": "Generate a blueprint of the infrastructure in an Azure account for a given region.",
        "tags": [
          "Azure Accounts"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "region",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Azure region, e.g. eastus"
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "svg",
                "png",
                "pdf",
                "mxGraph"
              ]
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "autoconnect",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "scale",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "width",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "height",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "grid",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "transparent",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "landscape",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "paperSize",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "202": {
            "description": "Still processing"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/blueprint": {
      "get": {
        "operationId": "listBlueprints",
        "summary": "List all blueprints",
        "description": "Retrieve all saved blueprints with metadata.",
        "tags": [
          "Blueprints"
        ],
        "responses": {
          "200": {
            "description": "List of blueprints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Blueprint"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBlueprint",
        "summary": "Create a blueprint",
        "description": "Create a new blueprint from a JSON document.",
        "tags": [
          "Blueprints"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "Blueprint JSON document"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Blueprint created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blueprint"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/blueprint/{blueprint_id}": {
      "get": {
        "operationId": "getBlueprint",
        "summary": "Get a blueprint",
        "description": "Fetch a specific blueprint in JSON format.",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "name": "blueprint_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blueprint details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blueprint"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateBlueprint",
        "summary": "Update a blueprint",
        "description": "Modify an existing blueprint.",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "name": "blueprint_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "Blueprint JSON document"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blueprint updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blueprint"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "Precondition failed - resource conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBlueprint",
        "summary": "Delete a blueprint",
        "description": "Remove a blueprint.",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "name": "blueprint_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Blueprint deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/blueprint/{blueprint_id}/{format}": {
      "get": {
        "operationId": "exportBlueprint",
        "summary": "Export a blueprint",
        "description": "Export a blueprint as an image or diagram format.",
        "tags": [
          "Blueprints"
        ],
        "parameters": [
          {
            "name": "blueprint_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "svg",
                "png",
                "pdf",
                "mxGraph"
              ]
            }
          },
          {
            "name": "scale",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "width",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "height",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "grid",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "transparent",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "landscape",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "paperSize",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exported blueprint",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/blueprint/{blueprint_id}/budget/{format}": {
      "get": {
        "operationId": "exportBlueprintBudget",
        "summary": "Export budget for a blueprint",
        "description": "Export the budget data for a blueprint as CSV or XLSX.",
        "tags": [
          "Budgets"
        ],
        "parameters": [
          {
            "name": "blueprint_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "xlsx"
              ]
            }
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "USD"
            },
            "description": "ISO 4217 currency code"
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "h",
                "d",
                "w",
                "m",
                "y"
              ],
              "default": "m"
            },
            "description": "Billing cycle period"
          },
          {
            "name": "rate",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "effective",
                "stated"
              ],
              "default": "effective"
            },
            "description": "Pricing model"
          }
        ],
        "responses": {
          "200": {
            "description": "Budget data",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/team": {
      "get": {
        "operationId": "listTeams",
        "summary": "List all teams",
        "description": "Retrieve all teams for the current account.",
        "tags": [
          "Teams"
        ],
        "responses": {
          "200": {
            "description": "List of teams",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/user/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get current user profile",
        "description": "Retrieve the profile of the currently authenticated user.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AwsAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "roleArn": {
            "type": "string"
          },
          "externalId": {
            "type": "string"
          },
          "CreatorId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AwsAccountInput": {
        "type": "object",
        "required": [
          "name",
          "roleArn"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "roleArn": {
            "type": "string"
          },
          "region": {
            "type": "string",
            "default": "us-east-1"
          }
        }
      },
      "AzureAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "subscriptionId": {
            "type": "string"
          },
          "directoryId": {
            "type": "string"
          },
          "applicationId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AzureAccountInput": {
        "type": "object",
        "required": [
          "name",
          "subscriptionId",
          "directoryId",
          "applicationId",
          "clientSecret"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "subscriptionId": {
            "type": "string"
          },
          "directoryId": {
            "type": "string"
          },
          "applicationId": {
            "type": "string"
          },
          "clientSecret": {
            "type": "string"
          }
        }
      },
      "IamParameters": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "awsConsoleUrl": {
            "type": "string"
          },
          "externalId": {
            "type": "string"
          }
        }
      },
      "Blueprint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "data": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "members": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "role": {
                  "type": "string"
                },
                "userId": {
                  "type": "string"
                },
                "mfaEnabled": {
                  "type": "boolean"
                }
              }
            }
          },
          "role": {
            "type": "string"
          },
          "visible": {
            "type": "boolean"
          },
          "crossOrganizational": {
            "type": "boolean"
          },
          "externalSharing": {
            "type": "boolean"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "settings": {
            "type": "object",
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "API key for Cloudcraft. Pass as 'Bearer {api_key}' in the Authorization header."
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Aws"
    },
    {
      "name": "Azure"
    },
    {
      "name": "Blueprint"
    },
    {
      "name": "Team"
    },
    {
      "name": "User"
    }
  ]
}