{
  "openapi": "3.0.3",
  "info": {
    "title": "Veryfi OCR API",
    "version": "7.0.0",
    "description": "Veryfi OCR API provides multi-modal data extraction from receipts, invoices, business cards, checks, contracts, tax forms, bank statements, and other documents. The API supports 91 currencies and 38 languages, offering intelligent document processing with line item extraction, classification, and fraud detection capabilities.",
    "x-jentic-source-url": "https://veryfi.readme.io",
    "contact": {
      "name": "Veryfi Support",
      "url": "https://www.veryfi.com"
    }
  },
  "servers": [
    {
      "url": "https://api.veryfi.com/api/v7/partner",
      "description": "Veryfi API v7 Production Server"
    }
  ],
  "security": [
    {
      "ClientId": [],
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/documents": {
      "get": {
        "operationId": "getDocuments",
        "summary": "List Documents",
        "description": "Retrieve processed documents or search by filters. Supports searching by OCR text, tags, external IDs, and date ranges.",
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search in document OCR text",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Filter by tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "description": "Filter by external ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created__gte",
            "in": "query",
            "description": "Filter documents created on or after this datetime",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created__gt",
            "in": "query",
            "description": "Filter documents created after this datetime",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created__lte",
            "in": "query",
            "description": "Filter documents created on or before this datetime",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created__lt",
            "in": "query",
            "description": "Filter documents created before this datetime",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Document"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createDocument",
        "summary": "Process Document",
        "description": "Process a new document and extract fields. Accepts document via file upload, base64 data, or URL. Supports various document types including receipts, invoices, business cards, and more.",
        "tags": ["Documents"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/DocumentUploadRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{document_id}": {
      "get": {
        "operationId": "getDocument",
        "summary": "Get Document",
        "description": "Retrieve a specific document by ID. Optionally include audit trail information.",
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "return_audit_trail",
            "in": "query",
            "description": "Include audit trail in response",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateDocument",
        "summary": "Update Document",
        "description": "Update document data including vendor information, date, notes, and other extracted fields.",
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDocument",
        "summary": "Delete Document",
        "description": "Delete a document from the system.",
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{document_id}/line-items": {
      "get": {
        "operationId": "getDocumentLineItems",
        "summary": "List Line Items",
        "description": "Retrieve all line items for a document.",
        "tags": ["Line Items"],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LineItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createLineItem",
        "summary": "Add Line Item",
        "description": "Add a line item to a document.",
        "tags": ["Line Items"],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LineItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Line item created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LineItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAllLineItems",
        "summary": "Delete All Line Items",
        "description": "Delete all line items from a document.",
        "tags": ["Line Items"],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All line items deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{document_id}/line-items/{line_item_id}": {
      "get": {
        "operationId": "getLineItem",
        "summary": "Get Line Item",
        "description": "Retrieve a specific line item by ID.",
        "tags": ["Line Items"],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "line_item_id",
            "in": "path",
            "required": true,
            "description": "Line Item ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LineItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateLineItem",
        "summary": "Update Line Item",
        "description": "Update a specific line item.",
        "tags": ["Line Items"],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "line_item_id",
            "in": "path",
            "required": true,
            "description": "Line Item ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LineItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Line item updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LineItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteLineItem",
        "summary": "Delete Line Item",
        "description": "Delete a specific line item.",
        "tags": ["Line Items"],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "line_item_id",
            "in": "path",
            "required": true,
            "description": "Line Item ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Line item deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tags": {
      "get": {
        "operationId": "getTags",
        "summary": "List All Tags",
        "description": "Retrieve all existing tags across all documents.",
        "tags": ["Tags"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tags/{tag_id}": {
      "delete": {
        "operationId": "deleteTag",
        "summary": "Delete Tag Globally",
        "description": "Delete a tag globally, removing it from all documents.",
        "tags": ["Tags"],
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "required": true,
            "description": "Tag ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{document_id}/tags": {
      "get": {
        "operationId": "getDocumentTags",
        "summary": "List Document Tags",
        "description": "Retrieve all tags for a specific document.",
        "tags": ["Tags"],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "addDocumentTag",
        "summary": "Add Document Tag",
        "description": "Add a tag to a document.",
        "tags": ["Tags"],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAllDocumentTags",
        "summary": "Delete All Document Tags",
        "description": "Delete all tags from a document.",
        "tags": ["Tags"],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All tags deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{document_id}/tags/{tag_id}": {
      "delete": {
        "operationId": "deleteDocumentTag",
        "summary": "Delete Document Tag",
        "description": "Delete a specific tag from a document.",
        "tags": ["Tags"],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tag_id",
            "in": "path",
            "required": true,
            "description": "Tag ID",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ClientId": {
        "type": "apiKey",
        "in": "header",
        "name": "CLIENT-ID",
        "description": "Client ID provided by Veryfi"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "AUTHORIZATION",
        "description": "API Key authorization in format: apiKey $username:$apiKey"
      }
    },
    "schemas": {
      "Document": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Unique document identifier",
            "example": 38947300
          },
          "vendor": {
            "type": "object",
            "description": "Vendor information extracted from document",
            "properties": {
              "name": {
                "type": "string",
                "description": "Vendor name"
              },
              "address": {
                "type": "string",
                "description": "Vendor address"
              },
              "category": {
                "type": "string",
                "description": "Vendor category"
              }
            }
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Document date",
            "example": "2021-08-05T10:24:48.000Z"
          },
          "total": {
            "type": "number",
            "format": "double",
            "description": "Total amount",
            "example": 97.66
          },
          "subtotal": {
            "type": "number",
            "format": "double",
            "description": "Subtotal amount before tax",
            "example": 97.66
          },
          "tax": {
            "type": "number",
            "format": "double",
            "description": "Tax amount",
            "example": 12.5
          },
          "currency_code": {
            "type": "string",
            "description": "ISO 4217 currency code",
            "example": "USD"
          },
          "invoice_number": {
            "type": "string",
            "description": "Invoice or receipt number",
            "example": "98"
          },
          "bill_to_name": {
            "type": "string",
            "description": "Name of the person or entity billed",
            "example": "John Smith"
          },
          "line_items": {
            "type": "array",
            "description": "Line items extracted from document",
            "items": {
              "$ref": "#/components/schemas/LineItem"
            }
          },
          "document_type": {
            "type": "string",
            "description": "Type of document",
            "example": "invoice",
            "enum": ["invoice", "receipt", "business_card", "check", "contract", "tax_form", "bank_statement"]
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when document was created in Veryfi system",
            "example": "2021-08-05T17:24:48.000Z"
          },
          "img_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the document image"
          },
          "is_duplicate": {
            "type": "integer",
            "description": "Flag indicating if document is a duplicate (1 for true, 0 for false)",
            "example": 1
          },
          "duplicate_of": {
            "type": "integer",
            "format": "int64",
            "description": "ID of the original document if this is a duplicate",
            "example": 38995348
          },
          "warnings": {
            "type": "array",
            "description": "Warning messages about document processing",
            "items": {
              "$ref": "#/components/schemas/OperationStatus"
            }
          },
          "external_id": {
            "type": "string",
            "description": "External identifier for the document"
          },
          "tags": {
            "type": "array",
            "description": "Tags associated with the document",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          }
        }
      },
      "DocumentUploadRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "Document file to upload (multipart/form-data)"
          },
          "file_data": {
            "type": "string",
            "description": "Base64 encoded document data"
          },
          "file_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to download document from"
          },
          "external_id": {
            "type": "string",
            "description": "External identifier for tracking"
          },
          "tags": {
            "type": "array",
            "description": "Tags to associate with document",
            "items": {
              "type": "string"
            }
          },
          "categories": {
            "type": "array",
            "description": "Categories to classify document",
            "items": {
              "type": "string"
            }
          },
          "auto_delete": {
            "type": "integer",
            "description": "Automatically delete document after processing (1 for true, 0 for false)",
            "example": 0
          },
          "boost_mode": {
            "type": "integer",
            "description": "Enable boost mode for higher accuracy (1 for true, 0 for false)",
            "example": 0
          },
          "async": {
            "type": "integer",
            "description": "Process document asynchronously (1 for true, 0 for false)",
            "example": 0
          }
        }
      },
      "DocumentUpdateRequest": {
        "type": "object",
        "properties": {
          "vendor": {
            "type": "object",
            "description": "Updated vendor information",
            "properties": {
              "name": {
                "type": "string"
              },
              "address": {
                "type": "string"
              },
              "category": {
                "type": "string"
              }
            }
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Updated document date"
          },
          "total": {
            "type": "number",
            "format": "double",
            "description": "Updated total amount"
          },
          "subtotal": {
            "type": "number",
            "format": "double",
            "description": "Updated subtotal"
          },
          "tax": {
            "type": "number",
            "format": "double",
            "description": "Updated tax amount"
          },
          "currency_code": {
            "type": "string",
            "description": "Updated currency code"
          },
          "invoice_number": {
            "type": "string",
            "description": "Updated invoice number"
          },
          "bill_to_name": {
            "type": "string",
            "description": "Updated bill to name"
          },
          "notes": {
            "type": "string",
            "description": "Additional notes"
          }
        }
      },
      "LineItem": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Unique line item identifier",
            "example": 75788890
          },
          "description": {
            "type": "string",
            "description": "Line item description",
            "example": "98 Meat Pty Xchz"
          },
          "quantity": {
            "type": "number",
            "format": "double",
            "description": "Quantity of items",
            "example": 1
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Unit price",
            "example": 12.5
          },
          "total": {
            "type": "number",
            "format": "double",
            "description": "Total amount for line item",
            "example": 88.2
          },
          "tax": {
            "type": "number",
            "format": "double",
            "description": "Tax amount",
            "example": 7.66
          },
          "tax_rate": {
            "type": "number",
            "format": "double",
            "description": "Tax rate percentage",
            "example": 7.66
          },
          "sku": {
            "type": "string",
            "description": "Stock keeping unit",
            "example": "038902058959"
          },
          "tags": {
            "type": "array",
            "description": "Tags associated with line item",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          }
        }
      },
      "LineItemRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Line item description"
          },
          "quantity": {
            "type": "number",
            "format": "double",
            "description": "Quantity of items"
          },
          "price": {
            "type": "number",
            "format": "double",
            "description": "Unit price"
          },
          "total": {
            "type": "number",
            "format": "double",
            "description": "Total amount"
          },
          "tax": {
            "type": "number",
            "format": "double",
            "description": "Tax amount"
          },
          "tax_rate": {
            "type": "number",
            "format": "double",
            "description": "Tax rate percentage"
          },
          "sku": {
            "type": "string",
            "description": "Stock keeping unit"
          }
        }
      },
      "Tag": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Unique tag identifier",
            "example": 75788890
          },
          "name": {
            "type": "string",
            "description": "Tag name",
            "example": "tag"
          }
        }
      },
      "TagRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Tag name"
          }
        }
      },
      "OperationStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Operation status",
            "example": "success"
          },
          "message": {
            "type": "string",
            "description": "Descriptive message about the operation",
            "example": "Operation completed successfully"
          },
          "error": {
            "type": "string",
            "description": "Error details if operation failed"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Error status",
            "example": "error"
          },
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "Invalid request"
          },
          "error": {
            "type": "string",
            "description": "Detailed error information"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Documents",
      "description": "Document processing and management operations"
    },
    {
      "name": "Line Items",
      "description": "Line item extraction and management"
    },
    {
      "name": "Tags",
      "description": "Document tagging and organization"
    }
  ]
}
