{
  "openapi": "3.0.0",
  "info": {
    "version": "2.0.0",
    "title": "ApexBankIntegration API",
    "description": "API \u0434\u043b\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u043d\u043e\u0432\u043e\u0433\u043e \u043a\u043e\u043d\u0442\u0440\u0430\u043a\u0442\u0430 \u0432 Apex Bank",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/DARKNESS6345122_1/Apexbank/2.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://rest.aic.uz/api/ins"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "IN.Common.DTO.Apex.Contract.Borrower": {
        "type": "object",
        "properties": {
          "pini": {
            "type": "string",
            "maxLength": 14,
            "minLength": 14,
            "description": "\u041f\u0418\u041d\u0424\u041b",
            "example": "12345678901234"
          },
          "passport_ser": {
            "type": "string",
            "description": "\u0421\u0435\u0440\u0438\u044f \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430",
            "example": "AB"
          },
          "passport_num": {
            "type": "string",
            "maxLength": 9,
            "description": "\u041d\u043e\u043c\u0435\u0440 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430",
            "example": "123456789"
          },
          "gender": {
            "type": "integer",
            "maxLength": 1,
            "description": "\u041f\u043e\u043b (0 - \u0436\u0435\u043d\u0441\u043a\u0438\u0439, 1 - \u043c\u0443\u0436\u0441\u043a\u043e\u0439)",
            "example": 1
          },
          "birth_date": {
            "type": "string",
            "format": "date",
            "description": "\u0414\u0430\u0442\u0430 \u0440\u043e\u0436\u0434\u0435\u043d\u0438\u044f \u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 \u0414\u0414.\u041c\u041c.\u0413\u0413\u0413\u0413",
            "example": "01.01.2000"
          },
          "firstname": {
            "type": "string",
            "description": "\u0418\u043c\u044f",
            "example": "IVAN"
          },
          "lastname": {
            "type": "string",
            "description": "\u0424\u0430\u043c\u0438\u043b\u0438\u044f",
            "example": "IVANOV"
          },
          "middlename": {
            "type": "string",
            "description": "\u041e\u0442\u0447\u0435\u0441\u0442\u0432\u043e \u043a\u043b\u0438\u0435\u043d\u0442\u0430 (\u0412 \u0441\u043b\u0443\u0447\u0438\u0435 \u043e\u0442\u0441\u0443\u0442\u0441\u0432\u0438\u044f \u043d\u0435\u043e\u0431\u0445\u043e\u0434\u0438\u043c\u043e \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u044f\u0442\u044c \"XXX\")",
            "example": "IVANOVICH"
          },
          "region_id": {
            "type": "number",
            "description": "ID \u043e\u0431\u043b\u0430\u0441\u0442\u0438",
            "example": 10
          },
          "district_id": {
            "type": "number",
            "description": "ID \u0440\u0430\u0439\u043e\u043d\u0430",
            "example": 1001
          },
          "address": {
            "type": "string",
            "description": "\u0410\u0434\u0440\u0435\u0441",
            "example": "\u0423\u043b\u0438\u0446\u0430, \u0434\u043e\u043c, \u043a\u0432\u0430\u0440\u0442\u0438\u0440\u0430"
          },
          "phone": {
            "type": "string",
            "maxLength": 12,
            "minLength": 12,
            "description": "\u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u043b\u0435\u0444\u043e\u043d\u0430",
            "example": "+79991234567"
          },
          "status": {
            "type": "integer",
            "maxLength": 1,
            "minLength": 1,
            "description": "\u041c\u043e\u0436\u0435\u0442 \u0431\u044b\u0442\u044c 0 \u0438\u043b\u0438 1, \u0441\u043e\u043e\u0442\u0432\u0435\u0442\u0441\u0442\u0432\u0435\u043d\u043d\u043e 0 - \u0431\u0435\u0437 \u043b\u044c\u0433\u043e\u0442\u044b, \u0430 1 - \u043b\u044c\u0433\u043e\u0442\u043d\u044b\u0439",
            "example": "1"
          }
        },
        "required": [
          "pini",
          "passport_ser",
          "passport_num",
          "phone",
          "status",
          "gender",
          "address",
          "birth_date",
          "firstname",
          "lastname",
          "middlename",
          "region_id",
          "district_id"
        ]
      },
      "IN.Common.DTO.Apex.Contract.ContractRequest": {
        "type": "object",
        "properties": {
          "insurer": {
            "$ref": "#/components/schemas/IN.Common.DTO.Apex.Contract.Insurer"
          },
          "borrower": {
            "$ref": "#/components/schemas/IN.Common.DTO.Apex.Contract.Borrower"
          },
          "credit_contract": {
            "$ref": "#/components/schemas/IN.Common.DTO.Apex.Contract.CreditContract"
          },
          "insured_sum": {
            "type": "number",
            "format": "double",
            "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u0441\u0443\u043c\u043c\u0430",
            "example": 1000000
          }
        },
        "required": [
          "insurer",
          "borrower",
          "credit_contract",
          "insured_sum"
        ]
      },
      "IN.Common.DTO.Apex.Contract.CreditContract": {
        "type": "object",
        "properties": {
          "reg_number": {
            "type": "string",
            "maxLength": 100,
            "description": "\u041d\u043e\u043c\u0435\u0440 \u043a\u0440\u0435\u0434\u0438\u0442\u043d\u043e\u0433\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430",
            "example": "123456789"
          },
          "reg_date": {
            "type": "string",
            "format": "date",
            "description": "\u0414\u0430\u0442\u0430 \u043d\u0430\u0447\u0430\u043b\u043e \u043a\u0440\u0435\u0434\u0438\u0442\u043d\u043e\u0433\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430 \u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 \u0414\u0414.\u041c\u041c.\u0413\u0413\u0413\u0413",
            "example": "01.01.2024"
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "description": "\u0414\u0430\u0442\u0430 \u043e\u043a\u043e\u043d\u0447\u0430\u043d\u0438\u044f \u043a\u0440\u0435\u0434\u0438\u0442\u043d\u043e\u0433\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430 \u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 \u0414\u0414.\u041c\u041c.\u0413\u0413\u0413\u0413",
            "example": "01.01.2026"
          },
          "credit_amount": {
            "type": "number",
            "format": "double",
            "description": "\u0421\u0443\u043c\u043c\u0430 \u043a\u0440\u0435\u0434\u0438\u0442\u0430",
            "example": 500000
          }
        },
        "required": [
          "reg_number",
          "reg_date",
          "end_date",
          "credit_amount"
        ]
      },
      "IN.Common.DTO.Apex.Contract.Insurer": {
        "type": "object",
        "properties": {
          "tin": {
            "type": "string",
            "maxLength": 9,
            "minLength": 9,
            "description": "\u0418\u041d\u041d",
            "example": "123456789"
          },
          "phone": {
            "type": "string",
            "maxLength": 12,
            "minLength": 12,
            "nullable": true,
            "description": "\u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u043b\u0435\u0444\u043e\u043d\u0430 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u0442\u0435\u043b\u044f",
            "example": "+79991234567"
          },
          "email": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Email \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u0442\u0435\u043b\u044f",
            "example": "example@domain.com"
          }
        },
        "required": [
          "tin",
          "phone"
        ]
      },
      "IN.Common.DTO.Apex.Contract.ConfirmPaymentRequest": {
        "type": "object",
        "properties": {
          "branch": {
            "type": "string",
            "description": "\u041a\u043e\u0434 \u043e\u0442\u0434\u0435\u043b\u0435\u043d\u0438\u044f \u0431\u0430\u043d\u043a\u0430 \u0432 \u043a\u043e\u0442\u043e\u0440\u044b\u0439 \u043f\u0440\u043e\u0438\u0437\u0432\u043e\u0434\u0438\u0442\u0441\u044f \u043e\u043f\u043b\u0430\u0442\u0430",
            "example": "01041"
          },
          "id": {
            "type": "integer",
            "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0431\u0430\u043d\u043a\u043e\u0432\u0441\u043a\u043e\u0439 \u0432\u044b\u043f\u0438\u0441\u043a\u0438",
            "example": "677340363"
          },
          "state": {
            "type": "integer",
            "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u043e\u0441\u0442\u043e\u044f\u043d\u0438\u044f \u0432\u044b\u043f\u0438\u0441\u043a\u0438",
            "example": "3"
          },
          "v_date": {
            "type": "string",
            "description": "\u0414\u0430\u0442\u0430 \u043e\u0441\u0443\u0449\u0435\u0441\u0442\u0432\u043b\u0435\u043d\u0438\u0435 \u043e\u043f\u043b\u0430\u0442\u044b \u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 \u0413\u0413\u0413\u0413-\u041c\u041c-\u0414\u0414 \u0427\u0427:\u041c\u041c:\u0421\u0421.\u041c\u0421",
            "example": "2025-04-28 19:47:59.9"
          },
          "bank_cl": {
            "type": "string",
            "description": "\u041a\u043e\u0434 \u043e\u0442\u0434\u0435\u043b\u0435\u043d\u0438\u044f \u0431\u0430\u043d\u043a\u0430 \u0441 \u043a\u043e\u0442\u043e\u0440\u043e\u0433\u043e \u043f\u0440\u043e\u0438\u0437\u0432\u043e\u0434\u0438\u0442\u0441\u044f \u043e\u043f\u043b\u0430\u0442\u0430",
            "example": "01041"
          },
          "acc_cl": {
            "type": "string",
            "description": "\u041d\u043e\u043c\u0435\u0440 \u0431\u0430\u043d\u043a\u043e\u0432\u0441\u043a\u043e\u0433\u043e \u0441\u0447\u0435\u0442\u0430 \u0441 \u043a\u043e\u0442\u043e\u0440\u043e\u0433\u043e \u043f\u0440\u043e\u0438\u0437\u0432\u043e\u0434\u0438\u0442\u0441\u044f \u043e\u043f\u043b\u0430\u0442\u0430",
            "example": "20208000500906785186"
          },
          "name_cl": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043f\u043b\u0430\u0442\u0435\u043b\u044c\u0449\u0438\u043a\u0430 \u043e\u0442 \u0438\u043c\u0435\u043d\u0438 \u043a\u043e\u0442\u043e\u0440\u043e\u0433\u043e \u043f\u0440\u043e\u0438\u0437\u0432\u043e\u0434\u0438\u0442\u0441\u044f \u043e\u043f\u043b\u0430\u0442\u0430",
            "example": "ISMAILOV DJAVLON MARUFOVICH"
          },
          "bank_co": {
            "type": "string",
            "description": "\u041a\u043e\u0434 \u043e\u0442\u0434\u0435\u043b\u0435\u043d\u0438\u044f \u0431\u0430\u043d\u043a\u0430 \u043d\u0430 \u043a\u043e\u0442\u043e\u0440\u044b\u0439 \u043f\u0440\u043e\u0438\u0437\u0432\u043e\u0434\u0438\u0442\u0441\u044f \u043e\u043f\u043b\u0430\u0442\u0430",
            "example": "01041"
          },
          "acc_co": {
            "type": "string",
            "description": "\u041d\u043e\u043c\u0435\u0440 \u0431\u0430\u043d\u043a\u043e\u0432\u0441\u043a\u043e\u0433\u043e \u0441\u0447\u0435\u0442\u0430 \u043d\u0430 \u043a\u043e\u0442\u043e\u0440\u044b\u0439 \u043f\u0440\u043e\u0438\u0437\u0432\u043e\u0434\u0438\u0442\u0441\u044f \u043e\u043f\u043b\u0430\u0442\u0430",
            "example": "20208000500906785186"
          },
          "name_co": {
            "type": "string",
            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043f\u043e\u043b\u0443\u0447\u0430\u0442\u0435\u043b\u044f \u043d\u0430 \u043a\u043e\u0442\u043e\u0440\u043e\u0433\u043e \u043f\u0440\u043e\u0438\u0437\u0432\u043e\u0434\u0438\u0442\u0441\u044f \u043e\u043f\u043b\u0430\u0442\u0430",
            "example": "AJ APEX INSURANCE"
          },
          "summa": {
            "type": "number",
            "format": "double",
            "description": "\u0421\u0443\u043c\u043c\u0430 \u043e\u043f\u043b\u0430\u0442\u044b",
            "example": 3476027.4
          },
          "purpose": {
            "type": "string",
            "description": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u043f\u043b\u0430\u0442\u0435\u0436\u043d\u043e\u0433\u043e \u043d\u0430\u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f",
            "example": "00646-\u041e\u043f\u043b\u0430\u0442\u0430 \u0437\u0430 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u043e\u0439 \u043f\u043e\u043b\u0438\u0441 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u043a\u0440\u0435\u0434\u0438\u0442\u0430. invoice_id - 1612187"
          },
          "invoice_id": {
            "type": "integer",
            "description": "Invoice id",
            "example": 1612187
          }
        },
        "required": [
          "branch",
          "id",
          "state",
          "v_date",
          "bank_cl",
          "acc_cl",
          "name_cl",
          "bank_co",
          "acc_co",
          "name_co",
          "summa",
          "purpose",
          "invoice_id"
        ]
      },
      "IN.Common.DTO.Apex.Contract.ConfirmPaymentResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer",
            "description": "\u041a\u043e\u0434 \u043e\u0442\u0432\u0435\u0442\u0430",
            "example": 0
          },
          "result_message": {
            "type": "string",
            "description": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u043e\u0442\u0432\u0435\u0442\u0430",
            "example": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430"
          },
          "invoice_id": {
            "type": "integer",
            "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u0447\u0435\u0442\u0430",
            "example": 991380
          },
          "paid_sum": {
            "type": "number",
            "format": "double",
            "description": "\u041e\u043f\u043b\u0430\u0447\u0435\u043d\u043d\u0430\u044f \u0441\u0443\u043c\u043c\u0430",
            "example": 125000.12
          },
          "policy_no": {
            "type": "string",
            "description": "\u0421\u0435\u0440\u0438\u044f \u0438 \u043d\u043e\u043c\u0435\u0440 \u043f\u043e\u043b\u0438\u0441\u0430",
            "example": "AB1234567"
          },
          "policy_file": {
            "type": "object",
            "description": "\u041f\u043e\u043b\u0438\u0441",
            "properties": {
              "policy_check": {
                "type": "string",
                "description": "\u0421\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u043f\u043e\u043b\u0438\u0441",
                "example": "example.com"
              },
              "file_name": {
                "type": "string",
                "description": "\u0418\u043c\u044f \u0444\u0430\u0439\u043b\u0430",
                "example": "policy_file.pdf"
              },
              "file_body_b64": {
                "type": "string",
                "description": "\u0417\u0430\u043a\u043e\u0434\u0438\u0440\u043e\u0432\u0430\u043d\u043d\u043e\u0435 \u0432 base64 \u0441\u043e\u0434\u0435\u0440\u0436\u0438\u043c\u043e\u0435 \u0444\u0430\u0439\u043b\u0430",
                "example": "UEsDBBQAAAAIA..."
              }
            }
          }
        }
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer",
            "nullable": false,
            "description": "\u041a\u043e\u0434 \u043e\u0448\u0438\u0431\u043a\u0438"
          },
          "result_message": {
            "type": "string",
            "nullable": false,
            "description": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u043e\u0448\u0438\u0431\u043a\u0438"
          }
        }
      },
      "IN.Common.DTO.Apex.Contract.GetPolicyRequest": {
        "type": "object",
        "properties": {
          "reg_number": {
            "type": "string",
            "description": "\u041d\u043e\u043c\u0435\u0440 \u043a\u0440\u0435\u0434\u0438\u0442\u043d\u043e\u0433\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430",
            "example": "123456789"
          }
        },
        "required": [
          "reg_number"
        ]
      }
    }
  },
  "paths": {
    "/apexbank/contract_new/{productCode}": {
      "post": {
        "tags": [
          "Contract"
        ],
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IN.Common.DTO.Apex.Contract.ContractRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "integer",
                      "description": "\u041a\u043e\u0434 \u043e\u0442\u0432\u0435\u0442\u0430",
                      "example": "0"
                    },
                    "result_message": {
                      "type": "string",
                      "description": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u043e\u0442\u0432\u0435\u0442\u0430",
                      "example": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430"
                    },
                    "invoice_id": {
                      "type": "integer",
                      "description": "Invoice id",
                      "example": 991380
                    },
                    "insurance_sum": {
                      "type": "number",
                      "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u0441\u0443\u043c\u043c\u0430 - \u043e\u0431\u0435\u0441\u043f\u0435\u0447\u0435\u043d\u0438\u0435",
                      "example": 12500000
                    },
                    "premium": {
                      "type": "number",
                      "description": "\u0421\u0443\u043c\u043c\u0430 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u043e\u0439 \u043f\u0440\u0435\u043c\u0438\u0438 \u043a \u043e\u043f\u043b\u0430\u0442\u0435",
                      "example": 125000
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u0438",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/apexbank/get_policy/{productCode}": {
      "post": {
        "tags": [
          "Contract"
        ],
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IN.Common.DTO.Apex.Contract.GetPolicyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "integer",
                      "description": "\u041a\u043e\u0434 \u043e\u0442\u0432\u0435\u0442\u0430",
                      "example": 0
                    },
                    "result_message": {
                      "type": "string",
                      "description": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u043e\u0442\u0432\u0435\u0442\u0430",
                      "example": "\u0423\u0441\u043f\u0435\u0448\u043d\u0430\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430"
                    },
                    "invoice_id": {
                      "type": "integer",
                      "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u0447\u0435\u0442\u0430",
                      "example": 991380
                    },
                    "paid_sum": {
                      "type": "number",
                      "format": "double",
                      "description": "\u041e\u043f\u043b\u0430\u0447\u0435\u043d\u043d\u0430\u044f \u0441\u0443\u043c\u043c\u0430",
                      "example": 125000.12
                    },
                    "policy_no": {
                      "type": "string",
                      "description": "\u0421\u0435\u0440\u0438\u044f \u0438 \u043d\u043e\u043c\u0435\u0440 \u043f\u043e\u043b\u0438\u0441\u0430",
                      "example": "AB1234567"
                    },
                    "policy_file": {
                      "type": "object",
                      "description": "\u041f\u043e\u043b\u0438\u0441",
                      "properties": {
                        "policy_check": {
                          "type": "string",
                          "description": "\u0421\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u043f\u043e\u043b\u0438\u0441",
                          "example": "example.com"
                        },
                        "file_name": {
                          "type": "string",
                          "description": "\u0418\u043c\u044f \u0444\u0430\u0439\u043b\u0430",
                          "example": "policy_file.pdf"
                        },
                        "file_body_b64": {
                          "type": "string",
                          "description": "\u0417\u0430\u043a\u043e\u0434\u0438\u0440\u043e\u0432\u0430\u043d\u043d\u043e\u0435 \u0432 base64 \u0441\u043e\u0434\u0435\u0440\u0436\u0438\u043c\u043e\u0435 \u0444\u0430\u0439\u043b\u0430",
                          "example": "UEsDBBQAAAAIA..."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u0438",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/apexbank/confirm_payment/{productCode}": {
      "post": {
        "tags": [
          "Contract"
        ],
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IN.Common.DTO.Apex.Contract.ConfirmPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IN.Common.DTO.Apex.Contract.ConfirmPaymentResponse"
                }
              }
            }
          },
          "401": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u0430\u0446\u0438\u0438",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/apexbank/region_id": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 ID \u043e\u0431\u043b\u0430\u0441\u0442\u0435\u0439",
        "tags": [
          "Handbook"
        ],
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u043e\u0435 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0434\u0430\u043d\u043d\u044b\u0445",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "region_id": {
                            "type": "integer",
                            "description": "ID \u043e\u0431\u043b\u0430\u0441\u0442\u0438"
                          },
                          "name_ru": {
                            "type": "string",
                            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0431\u043b\u0430\u0441\u0442\u0438 \u043d\u0430 \u0440\u0443\u0441\u0441\u043a\u043e\u043c \u044f\u0437\u044b\u043a\u0435"
                          },
                          "name_uz": {
                            "type": "string",
                            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0431\u043b\u0430\u0441\u0442\u0438 \u043d\u0430 \u0443\u0437\u0431\u0435\u043a\u0441\u043a\u043e\u043c \u044f\u0437\u044b\u043a\u0435"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apexbank/district_id": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 ID \u0440\u0430\u0439\u043e\u043d\u043e\u0432",
        "tags": [
          "Handbook"
        ],
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u043e\u0435 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0434\u0430\u043d\u043d\u044b\u0445",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "district_id": {
                            "type": "integer",
                            "description": "ID \u0440\u0430\u0439\u043e\u043d\u0430"
                          },
                          "name_uz": {
                            "type": "string",
                            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0440\u0430\u0439\u043e\u043d\u0430 \u043d\u0430 \u0443\u0437\u0431\u0435\u043a\u0441\u043a\u043e\u043c \u044f\u0437\u044b\u043a\u0435"
                          },
                          "region_id": {
                            "type": "number",
                            "description": "ID \u043e\u0431\u043b\u0430\u0441\u0442\u0438"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apexbank/policy_list": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0441\u043f\u0438\u0441\u043a\u0430 \u043f\u043e\u043b\u0438\u0441\u043e\u0432",
        "tags": [
          "Handbook"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "begin",
            "description": "\u041d\u0430\u0447\u0430\u043b\u044c\u043d\u0430\u044f \u0434\u0430\u0442\u0430 \u043f\u0435\u0440\u0438\u043e\u0434\u0430 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u043f\u043e\u043b\u0438\u0441\u0430 \u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 DD.MM.YYYY",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "end",
            "description": "\u041a\u043e\u043d\u0435\u0447\u043d\u0430\u044f \u0434\u0430\u0442\u0430 \u043f\u0435\u0440\u0438\u043e\u0434\u0430 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u043f\u043e\u043b\u0438\u0441\u0430 \u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 DD.MM.YYYY",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u043e\u0435 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0434\u0430\u043d\u043d\u044b\u0445",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "reg_number": {
                            "type": "string",
                            "description": "\u041d\u043e\u043c\u0435\u0440 \u043a\u0440\u0435\u0434\u0438\u0442\u043d\u043e\u0433\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
                          },
                          "reg_date": {
                            "type": "string",
                            "format": "date",
                            "description": "\u0414\u0430\u0442\u0430 \u043d\u0430\u0447\u0430\u043b\u0430 \u043a\u0440\u0435\u0434\u0438\u0442\u043d\u043e\u0433\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
                          },
                          "invoice_id": {
                            "type": "integer",
                            "description": "invoice id"
                          },
                          "credit_amount": {
                            "type": "number",
                            "format": "double",
                            "description": "\u0421\u0443\u043c\u043c\u0430 \u043a\u0440\u0435\u0434\u0438\u0442\u0430"
                          },
                          "insurance_sum": {
                            "type": "number",
                            "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u0441\u0443\u043c\u043c\u0430"
                          },
                          "premium": {
                            "type": "number",
                            "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u043f\u0440\u0435\u043c\u0438\u044f"
                          },
                          "policy_create_date": {
                            "type": "string",
                            "format": "date",
                            "description": "\u0414\u0430\u0442\u0430 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u043f\u043e\u043b\u0438\u0441\u0430"
                          },
                          "policy_begin": {
                            "type": "string",
                            "format": "date",
                            "description": "\u0414\u0430\u0442\u0430 \u043d\u0430\u0447\u0430\u043b\u0430 \u043f\u043e\u043b\u0438\u0441\u0430"
                          },
                          "policy_end": {
                            "type": "string",
                            "format": "date",
                            "description": "\u0414\u0430\u0442\u0430 \u043e\u043a\u043e\u043d\u0447\u0430\u043d\u0438\u044f \u043f\u043e\u043b\u0438\u0441\u0430"
                          },
                          "client_name": {
                            "type": "string",
                            "description": "\u0424\u0418\u041e \u043a\u043b\u0438\u0435\u043d\u0442\u0430"
                          },
                          "client_phone": {
                            "type": "string",
                            "description": "\u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u043b\u0435\u0444\u043e\u043d\u0430 \u043a\u043b\u0438\u0435\u043d\u0442\u0430"
                          },
                          "status": {
                            "type": "string",
                            "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u043f\u043e\u043b\u0438\u0441\u0430"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}