{
  "openapi": "3.0.0",
  "info": {
    "title": "IllumiDesk",
    "version": "1.0",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/illumidesk.com/1.0/swagger.yaml",
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_avatars3.githubusercontent.com_u_12212444.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/3Blades/openapi/master/tbs_swagger.yml",
        "version": "2.0"
      }
    ],
    "x-providerName": "illumidesk.com"
  },
  "servers": [
    {
      "url": "https://api.illumidesk.com/"
    }
  ],
  "paths": {
    "/auth/jwt-token-auth/": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/JWT"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/JWT"
                }
              }
            },
            "description": "JWT created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWTError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/JWTError"
                }
              }
            },
            "description": "Invalid data supplied"
          }
        },
        "security": [],
        "tags": [
          "auth"
        ],
        "operationId": "auth_jwt-token-auth",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JWTData"
              }
            }
          }
        },
        "summary": "Create JSON Web Token (JWT)"
      }
    },
    "/auth/jwt-token-refresh/": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshJSONWebToken"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshJSONWebToken"
                }
              }
            },
            "description": "RefreshJSONWebToken created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshJSONWebTokenError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshJSONWebTokenError"
                }
              }
            },
            "description": "Invalid data supplied"
          }
        },
        "security": [],
        "tags": [
          "auth"
        ],
        "description": "Obtains a new JSON Web Token using existing user credentials.",
        "operationId": "auth_jwt-token-refresh",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshJSONWebTokenData"
              }
            }
          }
        },
        "summary": "Refresh a JSON Web Token (JWT)"
      }
    },
    "/auth/jwt-token-verify/": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/VerifyJSONWebToken"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyJSONWebToken"
                }
              }
            },
            "description": "VerifyJSONWebToken created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyJSONWebTokenError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyJSONWebTokenError"
                }
              }
            },
            "description": "Invalid data supplied"
          }
        },
        "security": [],
        "tags": [
          "auth"
        ],
        "description": "Checks veraciy of token.",
        "operationId": "auth_jwt-token-verify",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyJSONWebTokenData"
              }
            }
          }
        },
        "summary": "Validate JSON Web Token (JWT)"
      }
    },
    "/auth/login/{provider}/": {
      "get": {
        "parameters": [
          {
            "description": "OAuth2 provider",
            "in": "path",
            "name": "provider",
            "required": true,
            "schema": {
              "enum": [
                "github",
                "google",
                "slack"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to backend auth page"
          }
        },
        "tags": [
          "auth"
        ],
        "operationId": "oauth_login"
      }
    },
    "/auth/register/": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "email": "user@email.com",
                      "first_name": "John",
                      "id": "536686d7-0096-4c72-a4c3-5d710a361a0a",
                      "last_name": "Doe",
                      "profile": {
                        "avatar_url": "http://example.com/",
                        "bio": "I like tests",
                        "company": "IllumiDesk",
                        "location": "Atlanta, GA",
                        "timezone": "America/New_York",
                        "url": "http://about.me/myprofile"
                      },
                      "username": "johndoe"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "User created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/UserError"
                }
              }
            },
            "description": "Invalid data supplied"
          }
        },
        "security": [],
        "tags": [
          "auth"
        ],
        "description": "User registration requires confirming email address to activate user.",
        "operationId": "auth_register",
        "requestBody": {
          "$ref": "#/components/requestBodies/UserData"
        },
        "summary": "Register a user"
      }
    },
    "/v1/me": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "email": "johndoe@email.com",
                      "first_name": "John",
                      "id": "66949654-1f75-4c6f-a5c5-e3572eae6527",
                      "last_name": "Doe",
                      "profile": {
                        "avatar_url": "http://example.com/",
                        "bio": "I like tests",
                        "company": "3Blades",
                        "location": "Atlanta, GA",
                        "timezone": "America/New_York",
                        "url": "http://about.me/myprofile"
                      },
                      "username": "johndoe"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "User information retrieved."
          }
        },
        "tags": [
          "users"
        ],
        "operationId": "me",
        "summary": "A convenience endpoint that is equivalent to GET /v1/users/profiles/<my user id>/"
      }
    },
    "/v1/servers/options/server-size/": {
      "get": {
        "parameters": [
          {
            "description": "Set limit when retrieving items.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Offset when retrieving items.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set order when retrieving items.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": []
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ServerSize"
                  },
                  "type": "array"
                }
              },
              "text/html": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ServerSize"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Server size list."
          }
        },
        "tags": [
          "servers"
        ],
        "operationId": "servers_options_sizes_list",
        "summary": "Retrieve available server sizes"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "active": true,
                      "cpu": 1,
                      "id": "2f4a5830-169d-4111-b913-e68c7b94fdbe",
                      "memory": 512,
                      "name": "myResource"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ServerSize"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ServerSize"
                }
              }
            },
            "description": "ServerSize created. This operation is available only to super users."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerSizeError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ServerSizeError"
                }
              }
            },
            "description": "Invalid data supplied"
          }
        },
        "tags": [
          "servers"
        ],
        "description": "Only super users with on-premises version have acceess to this endpoint.",
        "operationId": "servers_options_server_size_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/ServerSizeData"
        },
        "summary": "Create a new server size item"
      }
    },
    "/v1/servers/options/server-size/{size}/": {
      "delete": {
        "parameters": [
          {
            "description": "Server size unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "size",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Server size deleted. This operation is available only to super users"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "ServerSize not found."
          }
        },
        "tags": [
          "servers"
        ],
        "description": "Only super users with on-premises version have acceess to this endpoint.",
        "operationId": "servers_options_server_size_delete",
        "summary": "Delete a server size by id"
      },
      "get": {
        "parameters": [
          {
            "description": "Server size unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "size",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "active": true,
                      "cpu": 1,
                      "id": "2f4a5830-169d-4111-b913-e68c7b94fdbe",
                      "memory": 512,
                      "name": "myResource"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ServerSize"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ServerSize"
                }
              }
            },
            "description": "Environment resource retrieved."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Environment resource not found."
          }
        },
        "tags": [
          "servers"
        ],
        "operationId": "servers_options_resources_read",
        "summary": "Get a server size by id"
      },
      "patch": {
        "parameters": [
          {
            "description": "Server size unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "size",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "active": true,
                      "cpu": 1,
                      "id": "b673c7ab-65ad-4d6e-859e-0483eea86ad6",
                      "memory": 512,
                      "name": "myServerSizeWithPatch"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ServerSize"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ServerSize"
                }
              }
            },
            "description": "Server size updated. This operation is available only to super users."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerSizeError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ServerSizeError"
                }
              }
            },
            "description": "Invalid data supplied."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Server size not found."
          }
        },
        "tags": [
          "servers"
        ],
        "description": "Only super users with on-premises version have acceess to this endpoint.",
        "operationId": "servers_options_server_size_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerSizeData"
              }
            }
          }
        },
        "summary": "Update a server size by id"
      },
      "put": {
        "parameters": [
          {
            "description": "Server size unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "size",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "active": true,
                      "cpu": 1,
                      "id": "b673c7ab-65ad-4d6e-859e-0483eea86ad6",
                      "memory": 512,
                      "name": "myResourceWithPut"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ServerSize"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ServerSize"
                }
              }
            },
            "description": "Server size replaced. This operation is available only to super users."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerSizeError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ServerSizeError"
                }
              }
            },
            "description": "Invalid data supplied."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "ServerSize not found"
          }
        },
        "tags": [
          "servers"
        ],
        "description": "Only super users with on-premises version have acceess to this endpoint.",
        "operationId": "servers_options_server_size_replace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerSizeData"
              }
            }
          }
        },
        "summary": "Replace a server size by id"
      }
    },
    "/v1/teams/": {
      "get": {
        "parameters": [
          {
            "description": "Limit when getting data.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Offset when getting data.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": []
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  },
                  "type": "array"
                }
              },
              "text/html": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Team list"
          }
        },
        "tags": [
          "teams"
        ],
        "operationId": "teams_list",
        "summary": "Get teams"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            },
            "description": "Team created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/TeamError"
                }
              }
            },
            "description": "Invalid data supplied"
          }
        },
        "tags": [
          "teams"
        ],
        "operationId": "teams_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/TeamData"
        },
        "summary": "Create a new team"
      }
    },
    "/v1/teams/{team}/": {
      "delete": {
        "parameters": [
          {
            "description": "Team unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Team deleted."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Team not found."
          }
        },
        "tags": [
          "teams"
        ],
        "operationId": "teams_delete",
        "summary": "Delete a team"
      },
      "get": {
        "parameters": [
          {
            "description": "Team unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            },
            "description": "Team retrieved successfully."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Team not found."
          }
        },
        "tags": [
          "teams"
        ],
        "operationId": "teams_read",
        "summary": "Get a team"
      },
      "patch": {
        "parameters": [
          {
            "description": "Team unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            },
            "description": "Team updated"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/TeamError"
                }
              }
            },
            "description": "Invalid data supplied"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Team not found"
          }
        },
        "tags": [
          "teams"
        ],
        "operationId": "teams_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamData"
              }
            }
          }
        },
        "summary": "Update a team"
      },
      "put": {
        "parameters": [
          {
            "description": "Team unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            },
            "description": "Team updated"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/TeamError"
                }
              }
            },
            "description": "Invalid data supplied."
          }
        },
        "tags": [
          "teams"
        ],
        "operationId": "teams_replace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamData"
              }
            }
          }
        },
        "summary": "Replace a team"
      }
    },
    "/v1/teams/{team}/billing/invoices/": {
      "get": {
        "parameters": [
          {
            "description": "Team unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit when getting items.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Offset when getting items.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": []
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  },
                  "type": "array"
                }
              },
              "text/html": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Invoice list."
          }
        },
        "tags": [
          "teams",
          "billing"
        ],
        "operationId": "teams_billing_invoices_list",
        "summary": "Get team invoices"
      }
    },
    "/v1/teams/{team}/billing/invoices/{id}/": {
      "get": {
        "parameters": [
          {
            "description": "Team unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Invoice unique identifier expressed as UUID.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            },
            "description": "Team invoice retrieved."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Team invoice not found."
          }
        },
        "tags": [
          "teams",
          "billing"
        ],
        "operationId": "teams_billing_invoices_read",
        "summary": "Get an invoice"
      }
    },
    "/v1/teams/{team}/billing/invoices/{invoice_id}/invoice-items/": {
      "get": {
        "parameters": [
          {
            "description": "Team unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Invoice id, expressed as UUID.",
            "in": "path",
            "name": "invoice_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit when getting items.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Offset when getting items.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Ordering when getting items.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": []
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/InvoiceItem"
                  },
                  "type": "array"
                }
              },
              "text/html": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/InvoiceItem"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Team invoiceItem list."
          }
        },
        "tags": [
          "teams",
          "billing"
        ],
        "operationId": "teams_billing_invoice_items_list",
        "summary": "Get team invoice items for a given invoice."
      }
    },
    "/v1/teams/{team}/billing/invoices/{invoice_id}/invoice-items/{id}": {
      "get": {
        "parameters": [
          {
            "description": "Team unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Invoice id, expressed as UUID.",
            "in": "path",
            "name": "invoice_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "InvoiceItem id, expressed as UUID.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceItem"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceItem"
                }
              }
            },
            "description": "Team invoiceItem retrieved."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "InvoiceItem not found."
          }
        },
        "tags": [
          "teams",
          "billing"
        ],
        "operationId": "teams_billing_invoice_items_read",
        "summary": "Get a specific team InvoiceItem."
      }
    },
    "/v1/teams/{team}/billing/subscriptions/": {
      "get": {
        "parameters": [
          {
            "description": "Team unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit when getting items.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Offset when getting items.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Ordering when getting items.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "application_fee_percent": 0,
                        "cancel_at_period_end": false,
                        "canceled_at": "",
                        "created": "2017-07-24 17:25:04+00:00",
                        "current_period_end": "2017-07-31 17:25:04+00:00",
                        "current_period_start": "2017-07-24 17:25:04+00:00",
                        "ended_at": "",
                        "id": "579208c3-4f5c-4b5d-baa3-309a06db681c",
                        "livemode": false,
                        "plan": "efb36cb0-0ef2-4af3-ae5d-10d9ae73845d",
                        "quantity": 1,
                        "start": "2017-07-24 17:25:04+00:00",
                        "status": "trialing",
                        "stripe_id": "sub_B5KyO9BZ6lUNPP",
                        "trial_end": "2017-07-31 17:25:04+00:00",
                        "trial_start": "2017-07-24 17:25:04+00:00"
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Subscription"
                  },
                  "type": "array"
                }
              },
              "text/html": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Subscription"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Teams subscription list."
          }
        },
        "tags": [
          "teams",
          "billing"
        ],
        "operationId": "teams_billing_subscriptions_list",
        "summary": "Get active team subscriptons"
      },
      "post": {
        "parameters": [
          {
            "description": "Team unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "application_fee_percent": 0,
                      "cancel_at_period_end": false,
                      "canceled_at": "",
                      "created": "2017-07-24 17:25:04+00:00",
                      "current_period_end": "2017-07-31 17:25:04+00:00",
                      "current_period_start": "2017-07-24 17:25:04+00:00",
                      "ended_at": "",
                      "id": "579208c3-4f5c-4b5d-baa3-309a06db681c",
                      "livemode": false,
                      "plan": "efb36cb0-0ef2-4af3-ae5d-10d9ae73845d",
                      "quantity": 1,
                      "start": "2017-07-24 17:25:04+00:00",
                      "status": "trialing",
                      "stripe_id": "sub_B5KyO9BZ6lUNPP",
                      "trial_end": "2017-07-31 17:25:04+00:00",
                      "trial_start": "2017-07-24 17:25:04+00:00"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            },
            "description": "Team subscription created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError"
                }
              }
            },
            "description": "Invalid data supplied"
          }
        },
        "tags": [
          "teams",
          "billing"
        ],
        "operationId": "teams_billing_subscriptions_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionData"
              }
            }
          }
        },
        "summary": "Create a new team subscription"
      }
    },
    "/v1/teams/{team}/billing/subscriptions/{id}/": {
      "delete": {
        "parameters": [
          {
            "description": "Team unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Subscription unique identifier expressed as UUID.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Subscription deleted."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Subscription not found."
          }
        },
        "tags": [
          "teams",
          "billing"
        ],
        "operationId": "teams_billing_subscriptions_delete",
        "summary": "Delete a subscription"
      },
      "get": {
        "parameters": [
          {
            "description": "Team unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique identifier expressed as UUID.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            },
            "description": "Team subscription retrieved."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Subscription not found."
          }
        },
        "tags": [
          "teams",
          "billing"
        ],
        "operationId": "teams_billing_subscriptions_read",
        "summary": "Get team subscriptions"
      }
    },
    "/v1/teams/{team}/groups/": {
      "get": {
        "parameters": [
          {
            "description": "Team unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit when getting data.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Offset when getting data.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  },
                  "type": "array"
                }
              },
              "text/html": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Team groups list"
          }
        },
        "tags": [
          "teams"
        ],
        "operationId": "teams_groups_list",
        "summary": "Get team groups"
      }
    },
    "/v1/teams/{team}/groups/{group}/": {
      "delete": {
        "parameters": [
          {
            "description": "Team unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Group unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "group",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Group deleted"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Group not found."
          }
        },
        "tags": [
          "teams"
        ],
        "operationId": "teams_groups_delete",
        "summary": "Delete team group"
      },
      "get": {
        "parameters": [
          {
            "description": "Team unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Group unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "group",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            },
            "description": "Group retrieved."
          }
        },
        "tags": [
          "teams"
        ],
        "operationId": "teams_groups_read",
        "summary": "Get team group"
      },
      "patch": {
        "parameters": [
          {
            "description": "Team unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Group unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "group",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            },
            "description": "Group updated"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/GroupError"
                }
              }
            },
            "description": "Invalid data supplied"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Group not found."
          }
        },
        "tags": [
          "teams"
        ],
        "operationId": "teams_groups_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupData"
              }
            }
          }
        },
        "summary": "Patch team group"
      },
      "put": {
        "parameters": [
          {
            "description": "Team unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Group unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "group",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            },
            "description": "Group replaced"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/GroupError"
                }
              }
            },
            "description": "Invalid data supplied"
          }
        },
        "tags": [
          "teams"
        ],
        "operationId": "teams_groups_replace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupData"
              }
            }
          }
        },
        "summary": "Patch team group"
      }
    },
    "/v1/teams/{team}/groups/{group}/add/": {
      "post": {
        "parameters": [
          {
            "description": "Team unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Group unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "group",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupUser"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/GroupUser"
                }
              }
            },
            "description": "User added to group."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupUserError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/GroupUserError"
                }
              }
            },
            "description": "Invalid data supplied"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Group not found"
          }
        },
        "tags": [
          "teams"
        ],
        "operationId": "teams_groups_add_to_group",
        "summary": "Add user to group"
      }
    },
    "/v1/teams/{team}/groups/{group}/remove/": {
      "post": {
        "parameters": [
          {
            "description": "Team unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Group unique identifier expressed as UUID or name.",
            "in": "path",
            "name": "group",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User removed from group."
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Group not found"
          }
        },
        "tags": [
          "teams"
        ],
        "operationId": "teams_groups_remove_from_group",
        "summary": "User removed from group"
      }
    },
    "/v1/users/profiles/": {
      "get": {
        "parameters": [
          {
            "description": "Limit user list.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Offset when getting users.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User username.",
            "in": "query",
            "name": "username",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User email.",
            "in": "query",
            "name": "email",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Ordering when getting users.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "email": "johndoe@email.com",
                        "first_name": "John",
                        "id": "66949654-1f75-4c6f-a5c5-e3572eae6527",
                        "last_name": "Doe",
                        "profile": {
                          "avatar_url": "http://example.com/",
                          "bio": "I like tests",
                          "company": "3Blades",
                          "location": "Atlanta, GA",
                          "timezone": "America/New_York",
                          "url": "http://about.me/myprofile"
                        },
                        "username": "johndoe"
                      },
                      {
                        "email": "janedoe@email.com",
                        "first_name": "John",
                        "id": "66949654-1f75-4c6f-a5c5-e3572eae6527",
                        "last_name": "Doe",
                        "profile": {
                          "avatar_url": "http://example.com/",
                          "bio": "I like tests",
                          "company": "3Blades",
                          "location": "Atlanta, GA",
                          "timezone": "America/New_York",
                          "url": "http://about.me/myprofile"
                        },
                        "username": "janedoe"
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/User"
                  },
                  "type": "array"
                }
              },
              "text/html": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/User"
                  },
                  "type": "array"
                }
              }
            },
            "description": "User list"
          }
        },
        "tags": [
          "users"
        ],
        "operationId": "users_list",
        "summary": "Get user list"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "email": "johndoe@email.com",
                      "first_name": "John",
                      "id": "66949654-1f75-4c6f-a5c5-e3572eae6527",
                      "last_name": "Doe",
                      "profile": {
                        "avatar_url": "http://example.com/",
                        "bio": "I like tests",
                        "company": "3Blades",
                        "location": "Atlanta, GA",
                        "timezone": "America/New_York",
                        "url": "http://about.me/myprofile"
                      },
                      "username": "johndoe"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "User created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/UserError"
                }
              }
            },
            "description": "Invalid data supplied"
          }
        },
        "tags": [
          "users"
        ],
        "description": "Only admin users can create new users. New users have active status by default.",
        "operationId": "users_create",
        "requestBody": {
          "$ref": "#/components/requestBodies/UserData"
        },
        "summary": "Create new user"
      }
    },
    "/v1/users/profiles/{user}/": {
      "delete": {
        "parameters": [
          {
            "description": "User identifier expressed as UUID or username.",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "User deleted."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "User not found"
          }
        },
        "tags": [
          "users"
        ],
        "operationId": "users_delete",
        "summary": "Delete a user"
      },
      "get": {
        "parameters": [
          {
            "description": "Unique identifier expressed as UUID or username.",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "email": "johndoe@email.com",
                      "first_name": "John",
                      "id": "66949654-1f75-4c6f-a5c5-e3572eae6527",
                      "last_name": "Doe",
                      "profile": {
                        "avatar_url": "http://example.com/",
                        "bio": "I like tests",
                        "company": "3Blades",
                        "location": "Atlanta, GA",
                        "timezone": "America/New_York",
                        "url": "http://about.me/myprofile"
                      },
                      "username": "johndoe"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "User retrieved."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "User not found."
          }
        },
        "tags": [
          "users"
        ],
        "operationId": "users_read",
        "summary": "Retrieve a user"
      },
      "patch": {
        "parameters": [
          {
            "description": "User unique identifier expressed as UUID or username.",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "email": "runB@email.com",
                      "first_name": "John",
                      "id": "66949654-1f75-4c6f-a5c5-e3572eae6527",
                      "last_name": "Doe",
                      "profile": {
                        "avatar_url": "http://example.com/",
                        "bio": "Data updated with patch",
                        "company": "3Blades",
                        "location": "Atlanta, GA",
                        "timezone": "America/New_York",
                        "url": "http://about.me/myprofile"
                      },
                      "username": "johndoe"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "User updated."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/UserError"
                }
              }
            },
            "description": "Invalid data supplied."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "User not found."
          }
        },
        "tags": [
          "users"
        ],
        "operationId": "users_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserData"
              }
            }
          }
        },
        "summary": "Update a user"
      }
    },
    "/v1/users/{user}/api-key/": {
      "get": {
        "parameters": [
          {
            "description": "User unique identifier expressed as UUID or username.",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Api Key"
          }
        },
        "tags": [
          "users"
        ],
        "operationId": "users_api-key_list",
        "summary": "Retrieve account's API key"
      }
    },
    "/v1/users/{user}/avatar/": {
      "delete": {
        "parameters": [
          {
            "description": "User unique identifier expressed as UUID or username.",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Avatar deleted"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Avatar not found"
          }
        },
        "tags": [
          "users"
        ],
        "operationId": "user_avatar_delete",
        "summary": "Delete avatar"
      },
      "get": {
        "parameters": [
          {
            "description": "User unique identifier expressed as UUIDor username.",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User avatar"
          }
        },
        "tags": [
          "users"
        ],
        "operationId": "user_avatar_get",
        "summary": "Retrieve user's avatar"
      },
      "patch": {
        "parameters": [
          {
            "description": "User unique identifier expressed as UUID or username.",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "Avatar updated."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/UserError"
                }
              }
            },
            "description": "Invalid data supplied."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Avatar not found."
          }
        },
        "tags": [
          "users"
        ],
        "operationId": "user_avatar_update",
        "summary": "Update a project file"
      },
      "post": {
        "parameters": [
          {
            "description": "User unique identifier expressed as UUID or username.",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "Added user avatar"
          },
          "400": {
            "description": "Invalid data supplied"
          }
        },
        "tags": [
          "users"
        ],
        "operationId": "user_avatar_set",
        "summary": "Add user avatar"
      }
    },
    "/v1/users/{user}/emails/": {
      "get": {
        "parameters": [
          {
            "description": "User unique identifier as expressed as UUID or username.",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limite when getting email list.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Offset when getting email list.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Ordering when getting email list.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": []
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Email"
                  },
                  "type": "array"
                }
              },
              "text/html": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Email"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Email list"
          }
        },
        "tags": [
          "users"
        ],
        "operationId": "users_emails_list",
        "summary": "Retrieve account email addresses"
      },
      "post": {
        "parameters": [
          {
            "description": "User unique identifier expressed as UUID or username.",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "address": "post@email.com",
                      "id": "383e0d16-2052-4196-95b8-d9d73ed043a9",
                      "public": true,
                      "unsubscribed": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            },
            "description": "Email created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/EmailError"
                }
              }
            },
            "description": "Invalid data supplied"
          }
        },
        "tags": [
          "users"
        ],
        "operationId": "users_emails_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailData"
              }
            }
          }
        },
        "summary": "Create an email address"
      }
    },
    "/v1/users/{user}/emails/{email_id}/": {
      "delete": {
        "parameters": [
          {
            "description": "Email unique identifier expressed as UUID.",
            "in": "path",
            "name": "email_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User unique identifier expressed as UUID or username.",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Email deleted."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Email not found."
          }
        },
        "tags": [
          "users"
        ],
        "operationId": "users_emails_delete",
        "summary": "Delete an email address"
      },
      "get": {
        "parameters": [
          {
            "description": "Email unique identifier expressed as UUID.",
            "in": "path",
            "name": "email_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User unique identifier expressed as UUID or username.",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "address": "post@email.com",
                      "id": "383e0d16-2052-4196-95b8-d9d73ed043a9",
                      "public": true,
                      "unsubscribed": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            },
            "description": "Email retrieved"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Email not found"
          }
        },
        "tags": [
          "users"
        ],
        "operationId": "users_emails_read",
        "summary": "Retrieve a user's email addresses"
      },
      "patch": {
        "parameters": [
          {
            "description": "Email unique identifier expressed as UUID.",
            "in": "path",
            "name": "email_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User unique identifier expressed as UUID or username.",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "address": "patch@email.com",
                      "id": "383e0d16-2052-4196-95b8-d9d73ed043a9",
                      "public": false,
                      "unsubscribed": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            },
            "description": "Email updated"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/EmailError"
                }
              }
            },
            "description": "Invalid data supplied"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Email not found"
          }
        },
        "tags": [
          "users"
        ],
        "operationId": "users_emails_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailData"
              }
            }
          }
        },
        "summary": "Update an email address"
      },
      "put": {
        "parameters": [
          {
            "description": "Email unique identifier expressed as UUID.",
            "in": "path",
            "name": "email_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User unique identifier expressed as UUID or username.",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "address": "put@email.com",
                      "id": "383e0d16-2052-4196-95b8-d9d73ed043a9",
                      "public": false,
                      "unsubscribed": true
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            },
            "description": "Email updated"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/EmailError"
                }
              }
            },
            "description": "Invalid data supplied"
          }
        },
        "tags": [
          "users"
        ],
        "operationId": "users_emails_replace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailData"
              }
            }
          }
        },
        "summary": "Replace an email address"
      }
    },
    "/v1/users/{user}/ssh-key/": {
      "get": {
        "parameters": [
          {
            "description": "User unique identifier expressed as UUID or username.",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCqadyIPIEOF4M7SDoI+MHnAj6q2CY2j62Eg0sNbBbjnuekxnhSWVVKPte+NVtK4MWIyw3wnCCzTjwe0p2pQpMqxjqnCAkBPGhOjrRWTvV54hHTihBxiAEmXqbaBg5e6SaXcqP1OajWYzDqhts4ISer0uymzi0hW65At5i5k87Xu9HSM/Q0ySVJGm0rMuDCIoaTIeQdTkAI9ww/cmOM7uvIDO0OJv2xai9xLB9APVq8zCtqWdivMaqo2waPDT/I9bwtSZxRsnRMakGmj3CWvciHv13UsGlbB7nTeDKX0eyQl/5SADLO0bU+hY/8BpRjjtdq57Pqn/Xyw22YarDkG74gjLG5GBFZkBxcpENoUtCUyE2bhBT4x9yXlTeycMBTopGtzTfIHrJtIgNCFMhg9LbK4IKP/1pLj8SrVaQ9/k/QkxmDFoqfwdGd3AWOghMCAbAB7KaDKrj/XBf/KgTd8ZozjvkTzu2YRf4o3DebxRJipPQumrH3iXX5Kfe9lBWkR7Smewwp2XZrdgBeXN/54hd+Ic3upi528IGzEzu3/xtLT/e7kLi1QH7CVVN1sskZkIRr7aukw4YiVWgVOAlqKzJEoE/BPZSOA0NlgG0h37ZmyhdY1VqtoD+Vnj7Qh272PlTB14ndEVTqGuZhsCSxIhXev+METZ6XezK5n1VQeHGveQ=="
                    }
                  }
                }
              }
            },
            "description": "SSH Key."
          }
        },
        "tags": [
          "users"
        ],
        "operationId": "users_ssh-key_list",
        "summary": "Retrieve an SSH key"
      }
    },
    "/v1/users/{user}/ssh-key/reset/": {
      "post": {
        "parameters": [
          {
            "description": "User unique identifier expressed as UUID or username.",
            "in": "path",
            "name": "user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDhMvg2+n2yNu0H2Hg8uiXfQtAid0WGRigNckb5J0T9GFINmqkYalI/AsWZbl4UfNMviD73h9xowUx+d7s2vB3E8bFxB9OWM22eLSp8fnbuhdI5mKBflq0jr6ms1cR/SD3YsbZ9sX6BqycQrjjYYl7WLM9rgec6b+EYyr/6nbDH/wql06TrNl6LUNkqI+YIqjRvqMeNEY9ux3sB+f46FRKO683u/cRCcp1eWAYf1ByYupIGREbQFLxhYv/NcKD8uIo7DRAuutwHKGOgnAl4WGUVsT5dplhaDYKlDTf2iMiJ+QDT25QABdrkHcIsu5D21AIdH3FI5UQnnu4unyEA77IDLp2EwKRr9k1XQc1o3zQ61+9Gm7Rt80WWgRsnhmshvAIDNcBv1+82kmA9jyeUf3M7KoRJLk6nIbZ1NwoVCX0VF3lRIB0Hvm/dL7Rpk8m/hE0SIIWIGaXbOT4ANFj+TxcF1Mfk7C3/T5/AYLHcq9ocYFKe4Q3Jv7tuHm600edpUfORdpCpjytcKStza07dRDa+OU577r6a1zHMrEMh8oEUtVO5pC1+EaRijTVaOR62DoarHdxJ23Ctk44o0JZfzj9VoVaAwVAhL1aT3pAQxQlWiTKpmYaHUYUp9SRJhyeFr/gpeIGTydKdawkh9Mz8KMlnu1GUolDDuOvSnvidzWaEaw=="
                    }
                  }
                }
              }
            },
            "description": "Reset SSH Key successfully."
          },
          "400": {
            "description": "Invalid data supplied."
          }
        },
        "tags": [
          "users"
        ],
        "operationId": "users_ssh-key_reset",
        "summary": "Recreate an SSH key"
      }
    },
    "/v1/{namespace}/billing/cards/": {
      "get": {
        "parameters": [
          {
            "description": "User or team name.",
            "in": "path",
            "name": "namespace",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set limit when retrieving credit or debit cards.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set offset when retriving cards.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Order when retrieving cards.",
            "in": "query",
            "name": "ordering",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": []
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Card"
                  },
                  "type": "array"
                }
              },
              "text/html": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Card"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Card list"
          }
        },
        "tags": [
          "billing"
        ],
        "operationId": "billing_cards_list",
        "summary": "Get credit cards"
      },
      "post": {
        "parameters": [
          {
            "description": "User or team name.",
            "in": "path",
            "name": "namespace",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "address_city": "Atlanta",
                      "address_country": "United States",
                      "address_line1": "3423 Piedmont Rd NE",
                      "address_line1_check": "pass",
                      "address_line2": "",
                      "address_state": "Georgia",
                      "address_zip": "30305",
                      "address_zip_check": "pass",
                      "brand": "Visa",
                      "created": "2017-07-24 15:16:07.995380+00:00",
                      "customer": "7e102c7b-55cd-49a0-9b23-58865eba1cc3",
                      "cvc_check": "",
                      "exp_month": 1,
                      "exp_year": 2019,
                      "fingerprint": "WpZ4zQymdmF5LhbH",
                      "funding": "credit",
                      "id": "4126086e-525a-4027-b9e7-ae8de47210b2",
                      "last4": "4242",
                      "name": "John Doe",
                      "stripe_id": "card_1Aj8HuLUHPUzUsaQlDbaXjzA"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            },
            "description": "Card created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardError"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/CardError"
                }
              }
            },
            "description": "Invalid data supplied"
          }
        },
        "tags": [
          "billing"
        ],
        "operationId": "billing_cards_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardDataPost"
              }
            }
          }
        },
        "summary": "Create new credit card"
      }
    },
    "/v1/{namespace}/billing/cards/{id}/": {
      "delete": {
        "parameters": [
          {
            "description": "User or team name.",
            "in": "path",
            "name": "namespace",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Card unique identifier expressed as UUID.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Card deleted."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Card not found."
          }
        },
        "tags": [
          "billing"
        ],
        "operationId": "billing_cards_delete",
        "summary": "Delete a credit card"
      },
      "get": {
        "parameters": [
          {
            "description": "User or team name.",
            "in": "path",
            "name": "namespace",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User unique identifier expressed as UUID.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "address_city": "Atlanta",
                      "address_country": "United States",
                      "address_line1": "3423 Piedmont Rd NE",
                      "address_line1_check": "pass",
                      "address_line2": "",
                      "address_state": "Georgia",
                      "address_zip": "30305",
                      "address_zip_check": "pass",
                      "brand": "Visa",
                      "created": "2017-07-24 15:16:07.995380+00:00",
                      "customer": "7e102c7b-55cd-49a0-9b23-58865eba1cc3",
                      "cvc_check": "",
                      "exp_month": 1,
                      "exp_year": 2019,
                      "fingerprint": "WpZ4zQymdmF5LhbH",
                      "funding": "credit",
                      "id": "4126086e-525a-4027-b9e7-ae8de47210b2",
                      "last4": "4242",
                      "name": "John Doe",
                      "stripe_id": "card_1Aj8HuLUHPUzUsaQlDbaXjzA"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            },
            "description": "Card retrieved."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Card not found."
          }
        },
        "tags": [
          "billing"
        ],
        "operationId": "billing_cards_read",
        "summary": "Get credit card by id"
      },
      "patch": {
        "parameters": [
          {
            "description": "User or team name.",
            "in": "path",
            "name": "namespace",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Card unique identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "address_city": "Atlanta",
                      "address_country": "United States",
                      "address_line1": "3423 Piedmont Rd NE",
                      "address_line1_check": "pass",
                      "address_line2": "",
                      "address_state": "Georgia",
                      "address_zip": "30305",
                      "address_zip_check": "pass",
                      "brand": "Visa",
                      "created": "2017-07-24 15:16:10.806003+00:00",
                      "customer": "7e102c7b-55cd-49a0-9b23-58865eba1cc3",
                      "cvc_check": "",
                      "exp_month": 1,
                      "exp_year": 2025,
                      "fingerprint": "WpZ4zQymdmF5LhbH",
                      "funding": "credit",
                      "id": "4126086e-525a-4027-b9e7-ae8de47210b2",
                      "last4": "4242",
                      "name": "John Doe",
                      "stripe_id": "card_1Aj8HuLUHPUzUsaQlDbaXjzA"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              },
              "text/html": {
[...]
