{
  "openapi": "3.0.0",
  "info": {
    "title": "API - Pricing Revenue Management R & D - HeldSeats v1.0.0",
    "description": "This is the API's definition for Held Seats operation. The department of Copa's Pricing Revenue Management requires held seats specifing the flight number, date, departure airport, cabin and quantity of seats to hold.",
    "contact": {
      "email": "josrivera@copaair.com"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Copa-Airlines/api-prm-flight-seat-heldseats/1.0.0/swagger.json"
  },
  "externalDocs": {
    "description": "Find out more about Held Seats API",
    "url": "https://copavsts.visualstudio.com/PRM%20Research%20and%20Development/_wiki/wikis/PRM-Research-and-Development.wiki/6785/1-Held-Seats-API"
  },
  "servers": [
    {
      "url": "http://int.prm.copaair.com"
    },
    {
      "url": "http://qat.prm.copaair.com"
    },
    {
      "url": "http://uat.prm.copaair.com"
    },
    {
      "url": "http://prm.copaair.com"
    }
  ],
  "tags": [
    {
      "name": "heldSeats",
      "description": "Everything about held seats API"
    }
  ],
  "paths": {
    "/flight/{flightNumber}/{departureDate}/{departureAirport}/seat/heldSeats": {
      "post": {
        "tags": [
          "heldSeats"
        ],
        "summary": "Held a number of seats in a cabin.",
        "operationId": "healdSeats",
        "parameters": [
          {
            "name": "flightNumber",
            "in": "path",
            "description": "The flight number",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "458"
          },
          {
            "name": "departureDate",
            "in": "path",
            "description": "The departure date of the flight. The expected format (yyyy-MM-dd)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2021-10-31"
          },
          {
            "name": "departureAirport",
            "in": "path",
            "description": "The departure IATA airport.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PTY"
          }
        ],
        "requestBody": {
          "description": "Pet object that needs to be added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HeldSeatsApiRequest"
              },
              "example": {
                "FlightNumber": "458",
                "DepartureDate": "2021-10-31",
                "DepartureAirport": "PTY",
                "CabinClass": "C",
                "QuantityOfHeldSeats": 2
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeldSeatsApiResponse"
                },
                "example": {
                  "Status": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeldSeatsApiResponse"
                },
                "example": {
                  "Status": "failed",
                  "Errors": [
                    {
                      "Code": "1001",
                      "Description": "Field is missing."
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeldSeatsApiResponse"
                },
                "example": {
                  "Status": "failed",
                  "Errors": [
                    {
                      "Code": "1000",
                      "Description": "Internal server error."
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": []
          },
          {
            "apiKeyQuery": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "HeldSeatsApiRequest": {
        "type": "object",
        "description": "The request of held seats API.",
        "properties": {
          "FlightNumber": {
            "type": "string",
            "description": "The flight number.",
            "example": "458"
          },
          "DepartureDate": {
            "type": "string",
            "description": "The departure date.",
            "example": "2021-10-31"
          },
          "DepartureAirport": {
            "type": "string",
            "description": "The departure airport.",
            "example": "PTY"
          },
          "CabinClass": {
            "type": "string",
            "enum": [
              "C",
              "Y"
            ],
            "description": "The cabin class, 'C' for business class, 'Y' for economic class.",
            "example": "C"
          },
          "QuantityOfHeldSeats": {
            "type": "integer",
            "format": "int16",
            "example": 34
          }
        }
      },
      "HeldSeatsApiResponse": {
        "type": "object",
        "description": "The respoonse of held seats API.",
        "properties": {
          "Status": {
            "type": "string",
            "enum": [
              "success",
              "failed"
            ],
            "description": "A status describing if the held seats operation was been executed successful or not."
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorMessage"
            }
          }
        },
        "required": [
          "Status"
        ]
      },
      "ErrorMessage": {
        "description": "The response message error detail",
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The error code.",
            "example": 1000
          },
          "Description": {
            "type": "string",
            "description": "The error description.",
            "example": "Internal error."
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "Ocp-Apim-Subscription-Key",
        "in": "header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "subscription-key",
        "in": "query"
      }
    }
  }
}