{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0-oas3",
    "title": "Alternate Emails Doctor APIs",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Denefits/AlternateEmails/1.0.0-oas3/swagger.json"
  },
  "tags": [
    {
      "name": "alternateEmail",
      "description": "All APIs of Alternate Emails"
    }
  ],
  "paths": {
    "/alternate_emails_list": {
      "post": {
        "tags": [
          "alternateEmail"
        ],
        "summary": "List of alternate emails",
        "operationId": "alternate_emails_list",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/alternate_emails_list"
              }
            }
          },
          "required": true
        }
      }
    },
    "/add_alternate_email": {
      "post": {
        "tags": [
          "alternateEmail"
        ],
        "summary": "Add an alternate email",
        "operationId": "add_alternate_email",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/add_alternate_email"
              }
            }
          },
          "required": true
        }
      }
    },
    "/edit_alternate_email": {
      "post": {
        "tags": [
          "alternateEmail"
        ],
        "summary": "Edit an alternate email",
        "operationId": "edit_alternate_email",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/edit_alternate_email"
              }
            }
          },
          "required": true
        }
      }
    },
    "/delete_alternate_email": {
      "post": {
        "tags": [
          "alternateEmail"
        ],
        "summary": "Delete alternate email",
        "operationId": "delete_alternate_email",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/delete_alternate_email"
              }
            }
          },
          "required": true
        }
      }
    },
    "/resend_verification_email": {
      "post": {
        "tags": [
          "alternateEmail"
        ],
        "summary": "Resend verification email",
        "operationId": "resend_verification_email",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/resend_verification_email"
              }
            }
          },
          "required": true
        }
      }
    },
    "/verify_email": {
      "post": {
        "tags": [
          "alternateEmail"
        ],
        "summary": "Verify an email",
        "operationId": "verify_email",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/verify_email"
              }
            }
          },
          "required": true
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://api.denefits.com:8003/"
    }
  ],
  "components": {
    "schemas": {
      "alternate_emails_list": {
        "type": "object",
        "required": [
          "access_token"
        ],
        "properties": {
          "access_token": {
            "type": "string",
            "example": "abcde"
          }
        }
      },
      "add_alternate_email": {
        "type": "object",
        "required": [
          "access_token",
          "alternate_email"
        ],
        "properties": {
          "access_token": {
            "type": "string",
            "example": "abcde",
            "description": "Access Token of the Doctor"
          },
          "alternate_email": {
            "description": "Alternate Email",
            "type": "string",
            "example": "er.sukhpreet18@gmail.com"
          }
        }
      },
      "edit_alternate_email": {
        "type": "object",
        "required": [
          "access_token",
          "dae_id",
          "alternate_email"
        ],
        "properties": {
          "access_token": {
            "type": "string",
            "example": "abcde",
            "description": "Access Token of the Doctor"
          },
          "dae_id": {
            "description": "Id of alternate email",
            "type": "integer",
            "format": "int32"
          },
          "alternate_email": {
            "type": "string",
            "example": "abcde",
            "description": "Alternate Email"
          }
        }
      },
      "delete_alternate_email": {
        "type": "object",
        "required": [
          "access_token",
          "dae_id"
        ],
        "properties": {
          "access_token": {
            "type": "string",
            "example": "abcde",
            "description": "Access Token of the Doctor"
          },
          "dae_id": {
            "description": "Id of alternate email",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "resend_verification_email": {
        "type": "object",
        "required": [
          "access_token",
          "dae_id"
        ],
        "properties": {
          "access_token": {
            "type": "string",
            "example": "abcde",
            "description": "Access Token of the Doctor"
          },
          "dae_id": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "verify_email": {
        "type": "object",
        "required": [
          "verification_token"
        ],
        "properties": {
          "verification_token": {
            "type": "string",
            "example": "abcde"
          }
        }
      }
    }
  }
}