{
  "openapi": "3.0.3",
  "info": {
    "title": "Repuso Public API",
    "description": "Repuso public API for managing review invite requests, sub-accounts, users, and login URLs.",
    "version": "1.0.0",
    "contact": {
      "name": "Repuso",
      "url": "https://repuso.com"
    }
  },
  "servers": [
    {
      "url": "https://api.repuso.com/public/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/hello": {
      "get": {
        "operationId": "checkConnection",
        "summary": "Check Connection",
        "description": "Verify that the API connection and authentication is working.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Connection successful"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/invite/requests/get": {
      "get": {
        "operationId": "getInviteRequests",
        "summary": "Get Invite Requests",
        "description": "Retrieve a list of invite requests, optionally filtered by status.",
        "tags": [
          "Invite Requests"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status (e.g. pending). Leave empty for all statuses.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status_not",
            "in": "query",
            "description": "Exclude this status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Free text search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type filter: 'email' or 'sms'.",
            "schema": {
              "type": "string",
              "enum": [
                "email",
                "sms"
              ]
            }
          },
          {
            "name": "recipient",
            "in": "query",
            "description": "Email address or phone number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of invite requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/invite/requests/get/{inviteRequestId}": {
      "get": {
        "operationId": "getOneInviteRequest",
        "summary": "Get One Invite Request",
        "description": "Retrieve a single invite request by ID.",
        "tags": [
          "Invite Requests"
        ],
        "parameters": [
          {
            "name": "inviteRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invite request details"
          },
          "404": {
            "description": "Not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/invite/requests/update/{inviteRequestId}": {
      "put": {
        "operationId": "updateInviteRequest",
        "summary": "Update Invite Request",
        "description": "Update an existing invite request.",
        "tags": [
          "Invite Requests"
        ],
        "parameters": [
          {
            "name": "inviteRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteRequestUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invite request updated"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/invite/requests/delete/{inviteRequestId}": {
      "delete": {
        "operationId": "deleteInviteRequest",
        "summary": "Delete Invite Request",
        "description": "Delete an invite request by ID.",
        "tags": [
          "Invite Requests"
        ],
        "parameters": [
          {
            "name": "inviteRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invite request deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/invite/requests/add": {
      "post": {
        "operationId": "addInviteRequest",
        "summary": "Add Invite Request",
        "description": "Create a new invite request.",
        "tags": [
          "Invite Requests"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteRequestCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invite request created"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/invite/requests/add_bulk": {
      "post": {
        "operationId": "addBulkInviteRequests",
        "summary": "Add Bulk Invite Requests",
        "description": "Create multiple invite requests at once.",
        "tags": [
          "Invite Requests"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requests": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/InviteRequestCreate"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bulk invite requests created"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/invite/requests/send/{inviteRequestId}": {
      "post": {
        "operationId": "sendInviteRequest",
        "summary": "Send Invite Request",
        "description": "Send a specific invite request.",
        "tags": [
          "Invite Requests"
        ],
        "parameters": [
          {
            "name": "inviteRequestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invite request sent"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get Account",
        "description": "Retrieve account details.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account details"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/account/subaccounts": {
      "get": {
        "operationId": "getSubAccounts",
        "summary": "Get Sub-Accounts",
        "description": "Retrieve a list of sub-accounts.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "List of sub-accounts"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/account/subaccount/{subAccountId}": {
      "put": {
        "operationId": "updateSubAccount",
        "summary": "Update Sub-Account",
        "description": "Update an existing sub-account.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "subAccountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubAccountUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sub-account updated"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteSubAccount",
        "summary": "Delete Sub-Account",
        "description": "Delete a sub-account by ID.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "subAccountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sub-account deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/account/subaccount": {
      "post": {
        "operationId": "createSubAccount",
        "summary": "Create Sub-Account",
        "description": "Create a new sub-account.",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubAccountCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sub-account created"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/users/get": {
      "get": {
        "operationId": "getUsers",
        "summary": "Get Users",
        "description": "Retrieve a list of users.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "List of users"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get User",
        "description": "Retrieve a single user by ID.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete User",
        "description": "Delete a user by ID.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "put": {
        "operationId": "updateUser",
        "summary": "Update User",
        "description": "Update a user by ID.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/users": {
      "post": {
        "operationId": "createUser",
        "summary": "Create User",
        "description": "Create a new user.",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/login/get_url": {
      "post": {
        "operationId": "getLoginUrl",
        "summary": "Get Login URL",
        "description": "Get a login URL for a user with email and password.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login URL returned"
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Get your API key from Repuso -> Integrations -> API."
      }
    },
    "schemas": {
      "InviteRequestCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "John"
          },
          "recipient": {
            "type": "string",
            "example": "john@example.com"
          },
          "schedule": {
            "type": "string",
            "format": "date-time",
            "example": "2021-08-30 16:00:00"
          },
          "data": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "my_custom_name": "my value"
            }
          }
        }
      },
      "InviteRequestUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "John"
          },
          "recipient": {
            "type": "string",
            "example": "john@example.com"
          },
          "schedule": {
            "type": "string",
            "format": "date-time",
            "example": "2021-08-30 16:00:00"
          },
          "data": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "SubAccountCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "New sub account name"
          },
          "vanity": {
            "type": "string",
            "example": "subaccount123"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://www.example.com"
          },
          "description": {
            "type": "string",
            "example": "New sub account description"
          },
          "properties": {
            "type": "integer",
            "example": 1
          },
          "video": {
            "type": "integer",
            "example": 0
          }
        }
      },
      "SubAccountUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "New sub account name"
          },
          "vanity": {
            "type": "string",
            "example": "subaccount123"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://www.example.com"
          },
          "description": {
            "type": "string",
            "example": "New sub account description"
          },
          "properties": {
            "type": "integer",
            "example": 2
          },
          "video": {
            "type": "integer",
            "example": 0
          }
        }
      },
      "UserCreate": {
        "type": "object",
        "required": [
          "email",
          "password",
          "name"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "john@example.com"
          },
          "password": {
            "type": "string",
            "example": "strong-password"
          },
          "name": {
            "type": "string",
            "example": "John"
          },
          "role_id": {
            "type": "integer",
            "example": 2
          },
          "lang": {
            "type": "string",
            "example": "en"
          },
          "sub_accounts": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "example": [
              1,
              2
            ]
          }
        }
      },
      "UserUpdate": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "john@example.com"
          },
          "password": {
            "type": "string",
            "example": "strong-password"
          },
          "name": {
            "type": "string",
            "example": "John"
          },
          "role_id": {
            "type": "integer",
            "example": 2
          },
          "sub_accounts": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "example": [
              1,
              2
            ]
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "john@example.com"
          },
          "password": {
            "type": "string",
            "example": "mypassword"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication and connection operations"
    },
    {
      "name": "Invite Requests",
      "description": "Manage review invite requests"
    },
    {
      "name": "Account",
      "description": "Account and sub-account management"
    },
    {
      "name": "Users",
      "description": "User management"
    }
  ]
}