{
  "openapi": "3.0.0",
  "info": {
    "description": "Generate your API key at [buy-app-downloads.com/dashboard/settings](https://www.buy-app-downloads.com/dashboard/settings)",
    "version": "1.0.0",
    "title": "Buy App Downloads API",
    "contact": {
      "email": "contact@buy-app-downloads.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/acey/buyappdownloads/1.0.0"
  },
  "servers": [
    {
      "description": "Buy App Downloads API URL",
      "url": "https://www.buy-app-downloads.com/api"
    }
  ],
  "paths": {
    "/apps": {
      "get": {
        "summary": "Get a list of all your Apps",
        "operationId": "listApps",
        "responses": {
          "200": {
            "description": "Full App list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/App"
                  }
                },
                "example": [
                  {
                    "id": 1,
                    "package": "com.company.example",
                    "name": "Google Play App"
                  },
                  {
                    "id": 2,
                    "package": "id284882215",
                    "name": "App Store App"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "apps"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Add a new App",
        "operationId": "addApp",
        "parameters": [
          {
            "name": "package",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Package of the Google Play or App Store app"
          },
          {
            "name": "country_id",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Use if the app is only available in specific countries (not US) - Country ID found via /countries endpoint"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "package": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "package": "com.company.example"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Newly added App object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                },
                "example": [
                  {
                    "id": 1,
                    "package": "com.company.example",
                    "name": "Google Play App"
                  }
                ]
              }
            }
          },
          "422": {
            "description": "Validation errors.",
            "content": {
              "application/json": {
                "example": [
                  {
                    "errors": [
                      "The package field is required."
                    ]
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "apps"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/apps/{id}": {
      "get": {
        "summary": "Get a specific App",
        "operationId": "getApp",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the specific App."
          }
        ],
        "responses": {
          "200": {
            "description": "Returning App object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                },
                "example": [
                  {
                    "id": 1,
                    "package": "com.company.example",
                    "name": "Google Play App"
                  }
                ]
              }
            }
          },
          "404": {
            "description": "App not found.",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    "App not found.."
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "apps"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete the specific App",
        "operationId": "deleteApp",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the specific App."
          }
        ],
        "responses": {
          "204": {
            "description": "Empty return."
          },
          "404": {
            "description": "App not found.",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    "App not found.."
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "apps"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/orders": {
      "get": {
        "summary": "Get a list of all your Orders",
        "operationId": "listOrders",
        "responses": {
          "200": {
            "description": "Full Orders list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                },
                "example": [
                  {
                    "id": 1,
                    "app_id": 2,
                    "country_id": 14,
                    "keyword": null,
                    "installs": 100,
                    "installs_completed": 50,
                    "ratings": 30,
                    "ratings_completed": 15,
                    "reviews": 10,
                    "reviews_completed": 5,
                    "rating_stars": 5,
                    "price": 25,
                    "custom_reviews": [
                      {
                        "title": "Best app",
                        "content": "This is the best app in the world"
                      },
                      {
                        "title": "Love this app",
                        "content": "You're gonna love this app"
                      }
                    ],
                    "stauts": "active",
                    "completion_date": null
                  },
                  {
                    "id": 2,
                    "app_id": 1,
                    "country_id": 235,
                    "keyword": "example",
                    "installs": 50,
                    "installs_completed": 50,
                    "ratings": null,
                    "ratings_completed": 0,
                    "reviews": null,
                    "reviews_comepleted": 0,
                    "price": 5,
                    "custom_reviews": null,
                    "status": "completed",
                    "completion_date": "2021-01-01 13:54:21"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "orders"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Add multiple Orders",
        "operationId": "addOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "package": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "orders": [
                  {
                    "app_id": 2,
                    "country_id": 14,
                    "installs": 100,
                    "ratings": 30,
                    "reviews": 10,
                    "rating_stars": 5,
                    "custom_reviews": [
                      {
                        "title": "Best app",
                        "content": "This is the best app in the world"
                      },
                      {
                        "title": "Love this app",
                        "content": "You're gonna love this app"
                      }
                    ]
                  },
                  {
                    "app_id": 1,
                    "country_id": 235,
                    "keyword": "example",
                    "installs": 50,
                    "split": 5,
                    "ipad_order": true
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Newly added Orders array.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "orders": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Returning either Order ID, or error message according to the order at this index."
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "success",
                      "orders": [
                        1,
                        2
                      ]
                    }
                  },
                  "partial": {
                    "value": {
                      "status": "partial",
                      "orders": [
                        1,
                        "example - The Keyword Rank has to be within top 250"
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation errors.",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    "Please fill in orders.0.country_id.",
                    "The orders.0.installs field is required when none of orders.0.ratings / orders.0.reviews are present.",
                    "The orders.0.ratings field is required when none of orders.0.installs / orders.0.reviews are present.",
                    "The orders.0.reviews field is required when none of orders.0.installs / orders.0.ratings are present."
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "orders"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/orders/{id}": {
      "get": {
        "summary": "Get a specific Order",
        "operationId": "getOrder",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the specific Order."
          }
        ],
        "responses": {
          "200": {
            "description": "Returning Order object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "404": {
            "description": "No Order found.",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    "Order not found."
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "orders"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Cancel the specific Order",
        "operationId": "deleteOrder",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the specific Order."
          }
        ],
        "responses": {
          "204": {
            "description": "Empty return."
          },
          "404": {
            "description": "Order not found.",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    "Order not found."
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "orders"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/countries": {
      "get": {
        "summary": "Get a list of all Countries available for orders",
        "operationId": "listCountries",
        "responses": {
          "200": {
            "description": "Full Countries list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                },
                "example": [
                  {
                    "id": 4,
                    "iso": "DZ",
                    "name": "Algeria"
                  },
                  {
                    "id": 8,
                    "iso": "AI",
                    "name": "Anguilla"
                  },
                  {
                    "id": 11,
                    "iso": "AR",
                    "name": "Argentina"
                  },
                  {
                    "id": 12,
                    "iso": "AM",
                    "name": "Armenia"
                  },
                  {
                    "id": 14,
                    "iso": "AU",
                    "name": "Australia"
                  }
                ]
              }
            }
          }
        },
        "tags": [
          "countries"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "App": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "package": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "app_id": {
            "type": "integer"
          },
          "country_id": {
            "type": "integer"
          },
          "keyword": {
            "type": "string"
          },
          "installs": {
            "type": "integer"
          },
          "installs_completed": {
            "type": "string"
          },
          "ratings": {
            "type": "string"
          },
          "ratings_completed": {
            "type": "string"
          },
          "reviews": {
            "type": "string"
          },
          "reviews_completed": {
            "type": "string"
          },
          "price": {
            "type": "integer"
          },
          "custom_reviews": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderReview"
            }
          },
          "status": {
            "type": "string",
            "example": [
              "pending",
              "active",
              "completed",
              "cancelled"
            ]
          },
          "completion_date": {
            "type": "string"
          }
        },
        "xml": {
          "name": "Order"
        }
      },
      "Country": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "iso": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "xml": {
          "name": "Tag"
        }
      },
      "OrderReview": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization: Bearer **************************"
      }
    }
  }
}