{
  "openapi": "3.0.3",
  "info": {
    "title": "PayMongo Philippines API",
    "description": "PayMongo API for payment processing in the Philippines. Supports payment intents, checkout sessions, payments, refunds, and more.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developers.paymongo.com"
  },
  "servers": [
    {
      "url": "https://api.paymongo.com/v1",
      "description": "PayMongo Production API"
    }
  ],
  "paths": {
    "/payment_intents": {
      "post": {
        "operationId": "createpaymentintent",
        "summary": "Create a Payment Intent",
        "description": "Creates a new PaymentIntent resource to initiate a payment flow.",
        "tags": [
          "Payment Intents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentIntentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment intent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment_intents/{id}": {
      "get": {
        "operationId": "retrievepaymentintent",
        "summary": "Retrieve a Payment Intent",
        "description": "Retrieves an existing PaymentIntent by its ID.",
        "tags": [
          "Payment Intents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the PaymentIntent to retrieve",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_key",
            "in": "query",
            "required": false,
            "description": "Client key of the PaymentIntent if using a public key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment intent retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments": {
      "get": {
        "operationId": "listpayments",
        "summary": "List all Payments",
        "description": "Returns a paginated list of payment resources.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "description": "Pagination cursor for previous page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Pagination cursor for next page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of resources to return",
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by payment transaction status",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at.gte",
            "in": "query",
            "description": "Filter payments created on or after given date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at.lte",
            "in": "query",
            "description": "Filter payments created on or before given date",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payments retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/checkout_sessions": {
      "post": {
        "operationId": "createcheckoutsession",
        "summary": "Create a Checkout Session",
        "description": "Creates a new checkout session for collecting payments.",
        "tags": [
          "Checkout Sessions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/refunds": {
      "post": {
        "operationId": "createrefund",
        "summary": "Create a Refund",
        "description": "Creates a new refund for an existing payment.",
        "tags": [
          "Refunds"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic authentication using your secret API key as the username"
      }
    },
    "schemas": {
      "CreatePaymentIntentRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "attributes"
            ],
            "properties": {
              "attributes": {
                "type": "object",
                "required": [
                  "amount",
                  "payment_method_allowed",
                  "currency"
                ],
                "properties": {
                  "amount": {
                    "type": "integer",
                    "minimum": 2000,
                    "description": "Payment amount in centavos"
                  },
                  "payment_method_allowed": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of accepted payment methods"
                  },
                  "currency": {
                    "type": "string",
                    "default": "PHP",
                    "description": "ISO 4217 currency code"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the payment intent"
                  },
                  "statement_descriptor": {
                    "type": "string",
                    "description": "Statement descriptor for the payment"
                  },
                  "capture_type": {
                    "type": "string",
                    "default": "automatic",
                    "description": "Capture type: automatic or manual"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Additional metadata key-value pairs"
                  }
                }
              }
            }
          }
        }
      },
      "PaymentIntentResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "example": "payment_intent"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "integer"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "statement_descriptor": {
                    "type": "string"
                  },
                  "capture_type": {
                    "type": "string"
                  },
                  "payment_method_allowed": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "created_at": {
                    "type": "integer"
                  },
                  "updated_at": {
                    "type": "integer"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PaymentListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentResource"
            }
          },
          "has_more": {
            "type": "boolean"
          }
        }
      },
      "PaymentResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "payment"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "integer"
              },
              "currency": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "created_at": {
                "type": "integer"
              },
              "updated_at": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CreateCheckoutSessionRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "attributes"
            ],
            "properties": {
              "attributes": {
                "type": "object",
                "required": [
                  "line_items",
                  "payment_method_types"
                ],
                "properties": {
                  "line_items": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/LineItem"
                    }
                  },
                  "payment_method_types": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "cancel_url": {
                    "type": "string"
                  },
                  "success_url": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "reference_number": {
                    "type": "string"
                  },
                  "statement_descriptor": {
                    "type": "string"
                  },
                  "send_email_receipt": {
                    "type": "boolean",
                    "default": false
                  },
                  "show_description": {
                    "type": "boolean",
                    "default": true
                  },
                  "show_line_items": {
                    "type": "boolean",
                    "default": true
                  },
                  "billing": {
                    "$ref": "#/components/schemas/BillingInfo"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CheckoutSessionResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "example": "checkout_session"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "checkout_url": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "line_items": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/LineItem"
                    }
                  },
                  "payment_method_types": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "created_at": {
                    "type": "integer"
                  },
                  "updated_at": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "LineItem": {
        "type": "object",
        "required": [
          "name",
          "quantity",
          "amount",
          "currency"
        ],
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Amount in centavos"
          },
          "currency": {
            "type": "string",
            "default": "PHP"
          },
          "name": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BillingInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "object",
            "properties": {
              "line1": {
                "type": "string"
              },
              "line2": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "postal_code": {
                "type": "string"
              },
              "country": {
                "type": "string"
              }
            }
          }
        }
      },
      "CreateRefundRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "attributes"
            ],
            "properties": {
              "attributes": {
                "type": "object",
                "required": [
                  "amount",
                  "payment_id",
                  "reason"
                ],
                "properties": {
                  "amount": {
                    "type": "integer",
                    "minimum": 100,
                    "description": "Refund amount in centavos"
                  },
                  "payment_id": {
                    "type": "string",
                    "description": "ID of the payment to refund"
                  },
                  "reason": {
                    "type": "string",
                    "enum": [
                      "duplicate",
                      "fraudulent",
                      "requested_by_customer",
                      "others"
                    ],
                    "description": "Reason for the refund"
                  },
                  "notes": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Additional notes about the refund"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "example": "refund"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "integer"
                  },
                  "payment_id": {
                    "type": "string"
                  },
                  "reason": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "created_at": {
                    "type": "integer"
                  },
                  "updated_at": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "detail": {
                  "type": "string"
                },
                "source": {
                  "type": "object",
                  "properties": {
                    "pointer": {
                      "type": "string"
                    },
                    "attribute": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Payment Intents",
      "description": "Manage payment intents"
    },
    {
      "name": "Payments",
      "description": "Retrieve and list payments"
    },
    {
      "name": "Checkout Sessions",
      "description": "Create and manage checkout sessions"
    },
    {
      "name": "Refunds",
      "description": "Create and retrieve refunds"
    }
  ]
}