{
  "openapi": "3.1.0",
  "info": {
    "title": "Percy API",
    "description": "Percy (by BrowserStack) is a visual testing and review platform. The Percy API allows you to manage projects, builds, and snapshots for automated visual testing workflows.",
    "version": "1.0.0",
    "contact": {
      "name": "Percy / BrowserStack Support",
      "url": "https://www.browserstack.com/contact"
    },
    "x-jentic-source-url": "https://www.browserstack.com/docs/percy/api-reference"
  },
  "servers": [
    {
      "url": "https://percy.io/api/v1",
      "description": "Percy API v1"
    }
  ],
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "tags": [
    { "name": "Projects", "description": "Manage Percy projects" },
    { "name": "Builds", "description": "Manage and query builds" },
    { "name": "Snapshots", "description": "Manage build snapshots" }
  ],
  "paths": {
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "description": "Returns a list of all projects accessible to the authenticated user.",
        "tags": ["Projects"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Project" }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a project",
        "description": "Creates a new Percy project.",
        "tags": ["Projects"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["data"],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": ["type", "attributes"],
                    "properties": {
                      "type": { "type": "string", "enum": ["projects"] },
                      "attributes": {
                        "type": "object",
                        "required": ["name"],
                        "properties": {
                          "name": { "type": "string", "description": "Name of the project" },
                          "slug": { "type": "string", "description": "URL-friendly slug for the project" }
                        }
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "organization": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "type": { "type": "string", "enum": ["organizations"] },
                                  "id": { "type": "string" }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Project" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_slug}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get a project",
        "description": "Returns details of a specific project by its slug.",
        "tags": ["Projects"],
        "parameters": [
          {
            "name": "project_slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The project's URL-friendly slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Project" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateProject",
        "summary": "Update a project",
        "description": "Updates a project's attributes.",
        "tags": ["Projects"],
        "parameters": [
          {
            "name": "project_slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": { "type": "string", "enum": ["projects"] },
                      "id": { "type": "string" },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": { "type": "string" },
                          "auto-approve-branch-filter-enabled": { "type": "boolean" },
                          "default-base-branch": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Project" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Delete a project",
        "description": "Permanently deletes a project.",
        "tags": ["Projects"],
        "parameters": [
          {
            "name": "project_slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "204": {
            "description": "Project deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/projects/{project_slug}/builds": {
      "get": {
        "operationId": "listBuilds",
        "summary": "List builds for a project",
        "description": "Returns a list of builds for a given project.",
        "tags": ["Builds"],
        "parameters": [
          {
            "name": "project_slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "filter[state]",
            "in": "query",
            "schema": { "type": "string", "enum": ["pending", "processing", "finished", "failed"] },
            "description": "Filter builds by state"
          },
          {
            "name": "filter[branch]",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter builds by branch name"
          },
          {
            "name": "page[limit]",
            "in": "query",
            "schema": { "type": "integer", "default": 10 },
            "description": "Number of builds per page"
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Cursor for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Build" }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/builds/{build_id}": {
      "get": {
        "operationId": "getBuild",
        "summary": "Get a build",
        "description": "Returns details of a specific build.",
        "tags": ["Builds"],
        "parameters": [
          {
            "name": "build_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The build ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Build" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Build not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/builds/{build_id}/approve": {
      "post": {
        "operationId": "approveBuild",
        "summary": "Approve a build",
        "description": "Approves all snapshots in a build that are unreviewed.",
        "tags": ["Builds"],
        "parameters": [
          {
            "name": "build_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Build approved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Build" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/builds/{build_id}/snapshots": {
      "get": {
        "operationId": "listSnapshots",
        "summary": "List snapshots for a build",
        "description": "Returns a list of snapshots for a specific build.",
        "tags": ["Snapshots"],
        "parameters": [
          {
            "name": "build_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Snapshot" }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/snapshots/{snapshot_id}": {
      "get": {
        "operationId": "getSnapshot",
        "summary": "Get a snapshot",
        "description": "Returns details of a specific snapshot.",
        "tags": ["Snapshots"],
        "parameters": [
          {
            "name": "snapshot_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Snapshot" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Snapshot not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/snapshots/{snapshot_id}/approve": {
      "post": {
        "operationId": "approveSnapshot",
        "summary": "Approve a snapshot",
        "description": "Approves a snapshot (marks visual diff as accepted).",
        "tags": ["Snapshots"],
        "parameters": [
          {
            "name": "snapshot_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot approved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Snapshot" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/snapshots/{snapshot_id}/reject": {
      "post": {
        "operationId": "rejectSnapshot",
        "summary": "Request changes for a snapshot",
        "description": "Requests changes for a snapshot (rejects the visual diff).",
        "tags": ["Snapshots"],
        "parameters": [
          {
            "name": "snapshot_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Changes requested",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/Snapshot" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Percy token authentication. Use a project-level or full-access token as the Bearer token."
      }
    },
    "schemas": {
      "Project": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["projects"] },
          "id": { "type": "string" },
          "attributes": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "slug": { "type": "string" },
              "full-slug": { "type": "string" },
              "is-enabled": { "type": "boolean" },
              "is-disabled": { "type": "boolean" },
              "auto-approve-branch-filter-enabled": { "type": "boolean" },
              "default-base-branch": { "type": "string" },
              "created-at": { "type": "string", "format": "date-time" },
              "updated-at": { "type": "string", "format": "date-time" }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "organization": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": { "type": "string" },
                      "id": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Build": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["builds"] },
          "id": { "type": "string" },
          "attributes": {
            "type": "object",
            "properties": {
              "branch": { "type": "string" },
              "state": { "type": "string", "enum": ["pending", "processing", "finished", "failed", "expired"] },
              "review-state": { "type": "string", "enum": ["unreviewed", "approved", "changes_requested"] },
              "review-state-reason": { "type": "string" },
              "is-pull-request": { "type": "boolean" },
              "pull-request-number": { "type": "integer" },
              "pull-request-title": { "type": "string" },
              "commit-sha": { "type": "string" },
              "commit-html-url": { "type": "string" },
              "total-snapshots": { "type": "integer" },
              "total-snapshots-unreviewed": { "type": "integer" },
              "total-comparisons": { "type": "integer" },
              "total-comparisons-diff": { "type": "integer" },
              "total-comparisons-finished": { "type": "integer" },
              "partial": { "type": "boolean" },
              "web-url": { "type": "string" },
              "created-at": { "type": "string", "format": "date-time" },
              "updated-at": { "type": "string", "format": "date-time" },
              "finished-at": { "type": "string", "format": "date-time" }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "project": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": { "type": "string" },
                      "id": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Snapshot": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["snapshots"] },
          "id": { "type": "string" },
          "attributes": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "review-state": { "type": "string", "enum": ["unreviewed", "approved", "changes_requested"] },
              "review-state-reason": { "type": "string" },
              "fingerprint": { "type": "string" },
              "total-open-comments": { "type": "integer" },
              "created-at": { "type": "string", "format": "date-time" },
              "updated-at": { "type": "string", "format": "date-time" }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "status": { "type": "string" },
                "title": { "type": "string" },
                "detail": { "type": "string" },
                "source": {
                  "type": "object",
                  "properties": {
                    "pointer": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
