{
  "openapi": "3.0.3",
  "info": {
    "title": "Planday API",
    "description": "Planday workforce management API covering absence, HR, pay, payroll, portal, reports, revenue, and scheduling.",
    "version": "1.0.0",
    "contact": {
      "name": "Planday Developer Support",
      "url": "https://developer.planday.com"
    }
  },
  "servers": [
    {
      "url": "https://openapi.planday.com",
      "description": "Planday Production API"
    }
  ],
  "paths": {
    "/pay/v1.0/salaries/scheduling/timeandcost/allocations/{employeeId}": {
      "get": {
        "tags": [
          "Allocations"
        ],
        "summary": "GET Return salary allocation for a given employee id",
        "description": "Returns salary allocation for a given employee id. Date can be defined optionally.\n<br>**Required scope**: salaries read.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "Unique identifier of employee.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Return records from given date (inclusive). Use \"yyyy-MM-dd\" format.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEmployeeSalaryAllocationOutput"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getPayV1.0SalariesSchedulingTimeandcostAllocations"
      }
    },
    "/pay/v1.0/salaries/scheduling/timeandcost/allocations/{employeeId}/history": {
      "get": {
        "tags": [
          "Allocations"
        ],
        "summary": "GET Return salary allocation history for a given employee id",
        "description": "Returns salary allocation for a given employee id. Date range can be defined optionally.\n<br>**Required scope**: salaries read.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "Unique identifier of employee.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Return records from given date (inclusive). Use \"yyyy-MM-dd\" format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Return records till given date (inclusive). Use \"yyyy-MM-dd\" format.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetEmployeeSalaryAllocationOutput"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getPayV1.0SalariesSchedulingTimeandcostAllocationsHistory"
      }
    },
    "/pay/v1.0/salaries/scheduling/timeandcost/allocations/{employeeId}/noallocation": {
      "put": {
        "tags": [
          "Allocations"
        ],
        "summary": "PUT Disable salary allocation for a given employee id",
        "description": "Disable salary allocation for a given employee. When 'No allocation' is set, the employee's salary cost is excluded from the total salary cost calculation.\n<br>**Required scope**: salaries update.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "Unique identifier of employee.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Input object to specify additional parameters.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryAllocationNoAllocationInput"
                  }
                ],
                "description": "Employee salary allocation no allocation input model"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryAllocationNoAllocationInput"
                  }
                ],
                "description": "Employee salary allocation no allocation input model"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryAllocationNoAllocationInput"
                  }
                ],
                "description": "Employee salary allocation no allocation input model"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryAllocationNoAllocationInput"
                  }
                ],
                "description": "Employee salary allocation no allocation input model"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeSalaryAllocationNoAllocationOutputOpenApiResponse"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "putPayV1.0SalariesSchedulingTimeandcostAllocationsNoallocation"
      }
    },
    "/pay/v1.0/salaries/scheduling/timeandcost/allocations/{employeeId}/monthlysalary": {
      "put": {
        "tags": [
          "Allocations"
        ],
        "summary": "PUT Set salary allocation for a given employee id to Monthly Salary",
        "description": "Set salary allocation for a given employee to Monthly Salary. The expected hourly cost is based on the monthly salary divided by the number of scheduled hours in the given month. The total costs in the schedule will therefore never vary from the monthly salary. Ex. If an employee is scheduled for 10 hours, the hourly cost will be $4150 / 10 hours = $415.\n<br>**Required scope**: salaries update.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "Unique identifier of employee.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Input object to specify additional parameters.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryAllocationMonthlySalaryInput"
                  }
                ],
                "description": "Employee salary allocation monthly salary input model"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryAllocationMonthlySalaryInput"
                  }
                ],
                "description": "Employee salary allocation monthly salary input model"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryAllocationMonthlySalaryInput"
                  }
                ],
                "description": "Employee salary allocation monthly salary input model"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryAllocationMonthlySalaryInput"
                  }
                ],
                "description": "Employee salary allocation monthly salary input model"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeSalaryAllocationMonthlySalaryOutputOpenApiResponse"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "putPayV1.0SalariesSchedulingTimeandcostAllocationsMonthlysalary"
      }
    },
    "/pay/v1.0/salaries/scheduling/timeandcost/allocations/{employeeId}/scheduledhours": {
      "put": {
        "tags": [
          "Allocations"
        ],
        "summary": "PUT Set salary allocation for a given employee id to Scheduled Hours",
        "description": "Set salary allocation for a given employee to Scheduled Hours. The cost shown in the schedule is determined by the monthly salary divided by the contracted hours to calculate the expected hourly cost, which is multiplied by the number of hours the employee is scheduled for. The total cost can therefore differ from the monthly salary, depending on how many hours the employee is scheduled for. Ex.Expected hourly cost is $4150 / 150 hours = $27.67. If the employee is scheduled for 200 hours, the total scheduled cost will be 200 hours x $27 = $5400.\n<br>**Required scope**: salaries update.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "Unique identifier of employee.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Input object to specify additional parameters.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryAllocationScheduledHoursInput"
                  }
                ],
                "description": "Employee salary allocation scheduled hours input"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryAllocationScheduledHoursInput"
                  }
                ],
                "description": "Employee salary allocation scheduled hours input"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryAllocationScheduledHoursInput"
                  }
                ],
                "description": "Employee salary allocation scheduled hours input"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryAllocationScheduledHoursInput"
                  }
                ],
                "description": "Employee salary allocation scheduled hours input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeSalaryAllocationScheduledHoursOutputOpenApiResponse"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "putPayV1.0SalariesSchedulingTimeandcostAllocationsScheduledhours"
      }
    },
    "/pay/v1.0/salaries/scheduling/timeandcost/allocations/{employeeId}/businessdays": {
      "put": {
        "tags": [
          "Allocations"
        ],
        "summary": "PUT Set salary allocation for a given employee id to Business Days",
        "description": "Set salary allocation for a given employee to Business Days. The costs in the schedule are determined by the monthly salary divided by the number of selected business days in the given month. The total cost for a salaried employee will always be the same as the monthly salary. The expected daily cost can vary each month, depending on the total days in the month which determines how many selected business days the month has. Ex. $4150 / 23 business days = $180.43.\n<br>**Required scope**: salaries update.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "Unique identifier of employee.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Input object to specify additional parameters.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryAllocationBusinessDaysInput"
                  }
                ],
                "description": "Employee salary allocation business days input model"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryAllocationBusinessDaysInput"
                  }
                ],
                "description": "Employee salary allocation business days input model"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryAllocationBusinessDaysInput"
                  }
                ],
                "description": "Employee salary allocation business days input model"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryAllocationBusinessDaysInput"
                  }
                ],
                "description": "Employee salary allocation business days input model"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeSalaryAllocationBusinessDaysOutputOpenApiResponse"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "putPayV1.0SalariesSchedulingTimeandcostAllocationsBusinessdays"
      }
    },
    "/pay/v1.0/payrates/employeeGroups/default": {
      "get": {
        "tags": [
          "DefaultPayRates"
        ],
        "summary": "GET Return default pay rates for all employee groups",
        "description": "Returns default pay rates for all employee groups.\n<br>**Required scope**: employeegroup read.\n<br>Requires authorization.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeeGroupDefaultPayRateOutput"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeeGroupDefaultPayRateOutput"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeeGroupDefaultPayRateOutput"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getPayV1.0PayratesEmployeegroupsDefault"
      }
    },
    "/pay/v1.0/payrates/employeeGroups/{employeeGroupId}/default": {
      "get": {
        "tags": [
          "DefaultPayRates"
        ],
        "summary": "GET Return default pay rate for an employee group with specified id",
        "description": "Returns default pay rate for an employee group with specified id.\n<br>**Required scope**: employeegroup read.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "employeeGroupId",
            "in": "path",
            "description": "Id of employee group, which pay rate is to be returned.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeGroupDefaultPayRateOutput"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeGroupDefaultPayRateOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeGroupDefaultPayRateOutput"
                }
              }
            }
          },
          "404": {
            "description": "Employee group with given id doesn't exist."
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getPayV1.0PayratesEmployeegroupsDefault_1"
      },
      "put": {
        "tags": [
          "DefaultPayRates"
        ],
        "summary": "PUT Update default pay rate for an employee group with specified id",
        "description": "Updates default pay rate for an employee group with specified id.\n<br>**Required scope**: employeegroup update.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "employeeGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateDefaultPayRateInput"
                  }
                ],
                "description": "Input object to specify additional parameters."
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateDefaultPayRateInput"
                  }
                ],
                "description": "Input object to specify additional parameters."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateDefaultPayRateInput"
                  }
                ],
                "description": "Input object to specify additional parameters."
              }
            },
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateDefaultPayRateInput"
                  }
                ],
                "description": "Input object to specify additional parameters."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateDefaultPayRateOutput"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateDefaultPayRateOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateDefaultPayRateOutput"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "putPayV1.0PayratesEmployeegroupsDefault"
      }
    },
    "/pay/v1.0/salaries/employees/{employeeId}/history": {
      "get": {
        "tags": [
          "EmployeeSalaries"
        ],
        "summary": "GET Return a timeline list of Period Salaries with a given employee id",
        "description": "Returns a timeline list of Period Salaries with a given employee id. Date range can be defined optionally.\n<br>**Required scope**: salaries read.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "Unique identifier of employee.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Return records from given date (inclusive). Use \"yyyy-MM-dd\" format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Return records till given date (inclusive). Use \"yyyy-MM-dd\" format.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeSalaryOutput"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeSalaryOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeSalaryOutput"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getPayV1.0SalariesEmployeesHistory"
      }
    },
    "/pay/v1.0/salaries/employees/{employeeId}": {
      "get": {
        "tags": [
          "EmployeeSalaries"
        ],
        "summary": "GET Return a Period Salary with a given employee id",
        "description": "Returns a Period Salary with a given employee id. Date can be defined optionally.\n<br>**Required scope**: salaries read.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "Unique identifier of employee.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Return records from given date (inclusive). Use \"yyyy-MM-dd\" format.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeSalaryOutput"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeSalaryOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeSalaryOutput"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getPayV1.0SalariesEmployees"
      },
      "put": {
        "tags": [
          "EmployeeSalaries"
        ],
        "summary": "PUT Create or update a Period Salary with a given employee id",
        "description": "Create or update a Period Salary with a given employee id.\n<br>**Required scope**: salaries update.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "Unique identifier of employee.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Input object to specify additional parameters.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryInput"
                  }
                ],
                "description": "Employee salary input"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryInput"
                  }
                ],
                "description": "Employee salary input"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryInput"
                  }
                ],
                "description": "Employee salary input"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryInput"
                  }
                ],
                "description": "Employee salary input"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeSalaryOutput"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeSalaryOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeSalaryOutput"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "putPayV1.0SalariesEmployees"
      }
    },
    "/pay/v1.0/payrates/employeeGroups/{employeeGroupId}/employees/{employeeId}": {
      "get": {
        "tags": [
          "PayRates"
        ],
        "summary": "GET Return pay rates for an employee in a specified employee group",
        "description": "Returns pay rates for an employee in a specified employee group. Date can be defined optionally. \r\n**Please note**: due to the security reasons, this endpoint can be used only to retrieve pay rates data of regular employees. Obtaining pay rates of administrators is currently not supported.\n<br>**Required scope**: payrates read.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "employeeGroupId",
            "in": "path",
            "description": "Unique identifier of employee group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "employeeId",
            "in": "path",
            "description": "Unique identifier of employee.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "at",
            "in": "query",
            "description": "Return records from given date (inclusive). Use \"yyyy-MM-dd\" format.",
            "schema": {
              "type": "string",
              "nullable": true,
              "example": "2026-03-20"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeePayRateOutput"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeePayRateOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeePayRateOutput"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getPayV1.0PayratesEmployeegroupsEmployees"
      }
    },
    "/pay/v1.0/payrates/employeeGroups/{employeeGroupId}/employees/{employeeId}/history": {
      "get": {
        "tags": [
          "PayRates"
        ],
        "summary": "GET Return wage history for a single employee by employee group",
        "description": "Returns wage history for a single employee by employee group.\n<br>**Required scope**: payrates read.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "employeeGroupId",
            "in": "path",
            "description": "Unique identifier of employee group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "employeeId",
            "in": "path",
            "description": "Unique identifier of employee.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeePayRateHistoryOutput"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeePayRateHistoryOutput"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeePayRateHistoryOutput"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getPayV1.0PayratesEmployeegroupsEmployeesHistory"
      }
    },
    "/pay/v1.0/payrates/employeeGroups/{employeeGroupId}": {
      "put": {
        "tags": [
          "PayRates"
        ],
        "summary": "PUT Update employees pay rates in a given employee group",
        "description": "Updates employees pay rates in a given employee group.\n<br>**Required scope**: payrates update.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "employeeGroupId",
            "in": "path",
            "description": "Unique identifier of employee group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Input object to specify additional parameters.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeePayRateInput"
                  }
                ],
                "description": "Employee Pay Rate input model"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeePayRateInput"
                  }
                ],
                "description": "Employee Pay Rate input model"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeePayRateInput"
                  }
                ],
                "description": "Employee Pay Rate input model"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeePayRateInput"
                  }
                ],
                "description": "Employee Pay Rate input model"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "putPayV1.0PayratesEmployeegroups"
      }
    },
    "/pay/v1.0/payrates/employees/{employeeId}": {
      "get": {
        "tags": [
          "PayRates"
        ],
        "summary": "GET Return pay rates of a given employee for all assigned employee groups",
        "description": "Returns pay rates of a given employee for all assigned employee groups. \r\n**Please note**: due to the security reasons, this endpoint can be used only to retrieve pay rates data of regular employees. Obtaining pay rates of administrators is currently not supported.\n<br>**Required scope**: payrates read.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "Unique identifier of employee.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeePayRateOutput"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeePayRateOutput"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeePayRateOutput"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getPayV1.0PayratesEmployees"
      }
    },
    "/pay/v1.0/salaries/types": {
      "get": {
        "tags": [
          "Salaries"
        ],
        "summary": "GET Return available salary types",
        "description": "Get available salary types\n<br>**Required scope**: salaries read.\n<br>Requires authorization.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SalaryTypeOutput"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SalaryTypeOutput"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SalaryTypeOutput"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getPayV1.0SalariesTypes"
      }
    },
    "/pay/v1.0/salaryIdentifiers/employees/{employeeId}": {
      "get": {
        "tags": [
          "SalaryIdentifiers"
        ],
        "summary": "Get salary identifiers for employee",
        "description": "\n<br>**Required scope**: UseDepartmentSalaryIdentifiers.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "The employee id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeSalaryIdentifiersOutput"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getPayV1.0SalaryidentifiersEmployees"
      },
      "put": {
        "tags": [
          "SalaryIdentifiers"
        ],
        "summary": "Set salary identifiers for employee",
        "description": "\n<br>**Required scope**: UseDepartmentSalaryIdentifiers.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "The unique employee identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "The salary identifiers input",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryIdentifiersInput"
                  }
                ],
                "description": "Input model for setting salary identifiers for an employee"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryIdentifiersInput"
                  }
                ],
                "description": "Input model for setting salary identifiers for an employee"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryIdentifiersInput"
                  }
                ],
                "description": "Input model for setting salary identifiers for an employee"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EmployeeSalaryIdentifiersInput"
                  }
                ],
                "description": "Input model for setting salary identifiers for an employee"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeSalaryIdentifiersOutput"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "putPayV1.0SalaryidentifiersEmployees"
      }
    },
    "/pay/v1.0/salaryIdentifiers/employees": {
      "get": {
        "tags": [
          "SalaryIdentifiers"
        ],
        "summary": "Get salary identifiers for all employees",
        "description": "\n<br>**Required scope**: UseDepartmentSalaryIdentifiers.\n<br>Requires authorization.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeSalaryIdentifiersOutput"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getPayV1.0SalaryidentifiersEmployees_1"
      }
    },
    "/pay/v1.0/salaryIdentifiers/employees/{employeeId}/departments/{departmentId}": {
      "get": {
        "tags": [
          "SalaryIdentifiers"
        ],
        "summary": "Get department salary identifier for employee",
        "description": "\n<br>**Required scope**: UseDepartmentSalaryIdentifiers.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "Unique employee identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "departmentId",
            "in": "path",
            "description": "Unique department identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployeeDepartmentSalaryIdentifierOutput"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getPayV1.0SalaryidentifiersEmployeesDepartments"
      },
      "put": {
        "tags": [
          "SalaryIdentifiers"
        ],
        "summary": "Set department salary identifier for employee",
        "description": "\n<br>**Required scope**: UseDepartmentSalaryIdentifiers.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "Unique employee identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "departmentId",
            "in": "path",
            "description": "Unique department identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "salaryIdentifier",
            "in": "query",
            "description": "The new salary identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "putPayV1.0SalaryidentifiersEmployeesDepartments"
      }
    },
    "/payroll/v1.0/payroll": {
      "get": {
        "tags": [
          "Payroll"
        ],
        "summary": "GET Payroll",
        "description": "Returns the payroll data matching given criteria including: departments, time period and shift status.",
        "parameters": [
          {
            "name": "departmentIds",
            "in": "query",
            "description": "Return data only for specified departments. DepartmentIds must be provided as a comma separated list",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Return data from given date (inclusive). Use yyyy-mm-dd format",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true,
              "example": "2026-03-20"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Return data till given date (inclusive). Use yyyy-mm-dd format",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true,
              "example": "2026-03-20"
            }
          },
          {
            "name": "shiftStatus",
            "in": "query",
            "description": "Return data only for specified type of shifts. Possible values: Approved, Nonapproved",
            "schema": {
              "enum": [
                "Approved",
                "Nonapproved"
              ],
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "returnFullSalaryForMonthlyPaid",
            "in": "query",
            "description": "If set to true, than full monthly salary will be returned for monthly paid employees.\r\n            If set to false or not provided, then only the salary for provided time period will be returned for those employees.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayrollOutput"
                }
              }
            }
          }
        },
        "operationId": "getPayrollV1.0Payroll"
      }
    },
    "/portal/v1.0/info": {
      "get": {
        "tags": [
          "Portal"
        ],
        "summary": "GET Portal information",
        "description": "Returns basic portal information such as country, time zone, aliases, company name. Also returns child portals connected to this portal, if available.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetPortalInfoOutputOpenApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPortalInfoOutputOpenApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPortalInfoOutputOpenApiResponse"
                }
              }
            }
          }
        },
        "operationId": "getPortalV1.0Info"
      }
    },
    "/reports/v1.0/schedulingHistory": {
      "post": {
        "tags": [
          "SchedulingHistory"
        ],
        "description": "\n<br>**Required scope**: shift update.",
        "operationId": "GET Scheduling history",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GetScheduleHistoryDataRequestModel"
                  }
                ],
                "description": "Request model for schedule history."
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShiftHistoryEntry"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedHttpResult"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/revenue/v1.0/budgets": {
      "get": {
        "tags": [
          "Budgets"
        ],
        "summary": "GET Get daily budgets",
        "description": "Get all daily budgets matching the request criteria.\n<br>**Required scope**: revenue read.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "The start date of the budget period.",
            "schema": {
              "type": "string",
              "example": "2026-03-20"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "The end date of the budget period.",
            "schema": {
              "type": "string",
              "example": "2026-03-20"
            }
          },
          {
            "name": "departmentIds",
            "in": "query",
            "description": "An optional array of department IDs to filter the budget data. If null, budgets for all departments are returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getRevenueV1.0Budgets"
      },
      "post": {
        "tags": [
          "Budgets"
        ],
        "summary": "POST Create or update daily budgets",
        "description": "Create or update daily budgets from input.\n<br>**Required scope**: revenue set.\n<br>Requires authorization.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateUpdateDailyBudgetInput"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateUpdateDailyBudgetInput"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateUpdateDailyBudgetInput"
                }
              }
            },
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateUpdateDailyBudgetInput"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "postRevenueV1.0Budgets"
      }
    },
    "/revenue/v1.0/revenue": {
      "get": {
        "tags": [
          "Revenue"
        ],
        "summary": "GET Revenue",
        "description": "Get all revenue records matching the request criteria.\n<br>**Required scope**: revenue read.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "revenueUnitId",
            "in": "query",
            "description": "Return records for given Revenue unit",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "departmentId",
            "in": "query",
            "description": "Return records for given Department",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Return records from given date (inclusive)",
            "schema": {
              "type": "string",
              "nullable": true,
              "example": "2026-03-20"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Return records till given date (inclusive)",
            "schema": {
              "type": "string",
              "nullable": true,
              "example": "2026-03-20"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Skip first \"offset\" records (for paging purposes)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Return no more than \"limit\" records. Maximum of 50 records per request",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRevenueOutputPagedOpenApiResponse"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getRevenueV1.0Revenue"
      },
      "post": {
        "tags": [
          "Revenue"
        ],
        "summary": "POST Revenue",
        "description": "Create a new revenue record for a revenue unit on a given day or update an existing one.\n<br>**Required scope**: revenue set.\n<br>Requires authorization.",
        "requestBody": {
          "description": "Set revenue input model",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateRevenueInput"
                  }
                ],
                "description": "Create revenue input model"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateRevenueInput"
                  }
                ],
                "description": "Create revenue input model"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateRevenueInput"
                  }
                ],
                "description": "Create revenue input model"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateRevenueInput"
                  }
                ],
                "description": "Create revenue input model"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRevenueOutputOpenApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "postRevenueV1.0Revenue"
      },
      "delete": {
        "tags": [
          "Revenue"
        ],
        "summary": "DELETE Revenue",
        "description": "Delete revenue for a given date and revenue unit.\n<br>**Required scope**: revenue delete.\n<br>Requires authorization.",
        "requestBody": {
          "description": "Delete revenue input model",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DeleteRevenueInput"
                  }
                ],
                "description": "Delete revenue input model"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DeleteRevenueInput"
                  }
                ],
                "description": "Delete revenue input model"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DeleteRevenueInput"
                  }
                ],
                "description": "Delete revenue input model"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DeleteRevenueInput"
                  }
                ],
                "description": "Delete revenue input model"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "deleteRevenueV1.0Revenue"
      }
    },
    "/revenue/v1.0/revenueunits": {
      "get": {
        "tags": [
          "RevenueUnit"
        ],
        "summary": "GET Revenue units for whole portal",
        "description": "Get all revenue units from the whole portal.\n<br>**Required scope**: revenue read.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Skip first \"offset\" records (for paging purposes)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Return no more than \"limit\" records. Maximum of 50 records per request.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetRevenueUnitOutputModelPagedOpenApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRevenueUnitOutputModelPagedOpenApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRevenueUnitOutputModelPagedOpenApiResponse"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getRevenueV1.0Revenueunits"
      },
      "post": {
        "tags": [
          "RevenueUnit"
        ],
        "summary": "POST Create new Revenue Unit",
        "description": "Create a new Revenue Unit to store daily revenue data of a department.\n<br>**Required scope**: revenue set.\n<br>Requires authorization.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateRevenueUnitInputModel"
                  }
                ],
                "description": "Create Revenue Unit Input Model"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateRevenueUnitInputModel"
                  }
                ],
                "description": "Create Revenue Unit Input Model"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateRevenueUnitInputModel"
                  }
                ],
                "description": "Create Revenue Unit Input Model"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateRevenueUnitInputModel"
                  }
                ],
                "description": "Create Revenue Unit Input Model"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRevenueUnitOutputModelOpenApiResponse"
                },
                "example": {
                  "data": {
                    "id": 0,
                    "departmentId": 0,
                    "name": "string",
                    "description": "string",
                    "allowPurchases": true,
                    "allowSale": true,
                    "sortValue": 0,
                    "includeInGlobalTurnover": true
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRevenueUnitOutputModelOpenApiResponse"
                },
                "example": {
                  "data": {
                    "id": 0,
                    "departmentId": 0,
                    "name": "string",
                    "description": "string",
                    "allowPurchases": true,
                    "allowSale": true,
                    "sortValue": 0,
                    "includeInGlobalTurnover": true
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRevenueUnitOutputModelOpenApiResponse"
                },
                "example": {
                  "data": {
                    "id": 0,
                    "departmentId": 0,
                    "name": "string",
                    "description": "string",
                    "allowPurchases": true,
                    "allowSale": true,
                    "sortValue": 0,
                    "includeInGlobalTurnover": true
                  }
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "postRevenueV1.0Revenueunits"
      }
    },
    "/revenue/v1.0/revenueunits/{id}": {
      "put": {
        "tags": [
          "RevenueUnit"
        ],
        "summary": "PUT Update Revenue Unit",
        "description": "Update Revenue Unit properties to align with the integrated system.\n<br>**Required scope**: revenue update.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Revenue unit ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Set revenue unit input model",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateRevenueUnitInputModel"
                  }
                ],
                "description": "Update Revenue Unit Input Model"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateRevenueUnitInputModel"
                  }
                ],
                "description": "Update Revenue Unit Input Model"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateRevenueUnitInputModel"
                  }
                ],
                "description": "Update Revenue Unit Input Model"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateRevenueUnitInputModel"
                  }
                ],
                "description": "Update Revenue Unit Input Model"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "putRevenueV1.0Revenueunits"
      }
    },
    "/revenue/v1.0/departments/{departmentId}/revenueunits": {
      "get": {
        "tags": [
          "RevenueUnit"
        ],
        "summary": "GET Revenue units for specific department",
        "description": "Get revenue units of a given department.\n<br>**Required scope**: revenue read.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "departmentId",
            "in": "path",
            "description": "Department ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Skip first \"offset\" records (for paging purposes)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Return no more than \"limit\" records. Maximum of 50 records per request.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetRevenueUnitOutputModelPagedOpenApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRevenueUnitOutputModelPagedOpenApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRevenueUnitOutputModelPagedOpenApiResponse"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getRevenueV1.0DepartmentsRevenueunits"
      }
    },
    "/absence/v1.0/absencerecords": {
      "get": {
        "tags": [
          "AbsenceRecords"
        ],
        "summary": "GET Absence records",
        "description": "Returns absence records matching given criteria including: time period, employee identifier and statuses.\n<br>**Required scope**: absence read.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "employeeId",
            "in": "query",
            "description": "Employee id",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Statuses",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Declined",
                  "Approved"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Planday.Api.Core.Abstractions.Models.OpenApiResponse`1[System.Collections.Generic.IEnumerable`1[Planday.OpenApi.Absence.Application.Models.Output.AbsenceRecord.AbsenceRecordResult]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Planday.Api.Core.Abstractions.Models.OpenApiResponse`1[System.Collections.Generic.IEnumerable`1[Planday.OpenApi.Absence.Application.Models.Output.AbsenceRecord.AbsenceRecordResult]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Planday.Api.Core.Abstractions.Models.OpenApiResponse`1[System.Collections.Generic.IEnumerable`1[Planday.OpenApi.Absence.Application.Models.Output.AbsenceRecord.AbsenceRecordResult]]"
                }
              }
            }
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getAbsenceV1.0Absencerecords"
      }
    },
    "/absence/v1.0/absencerecords/{id}/decline": {
      "put": {
        "tags": [
          "AbsenceRecords"
        ],
        "summary": "PUT Decline the absence record",
        "description": "Decline a specific absence record\n<br>**Required scope**: absence update.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Absence record id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Decline absence record input",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Planday.OpenApi.Absence.Application.Models.Input.DeclineAbsenceRecordInput"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Planday.OpenApi.Absence.Application.Models.Input.DeclineAbsenceRecordInput"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Planday.OpenApi.Absence.Application.Models.Input.DeclineAbsenceRecordInput"
                  }
                ]
              }
            },
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Planday.OpenApi.Absence.Application.Models.Input.DeclineAbsenceRecordInput"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "description": "Absence record with given id doesn't exist"
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "putAbsenceV1.0AbsencerecordsDecline"
      }
    },
    "/absence/v1.0/absencerequests/draft": {
      "get": {
        "tags": [
          "AbsenceRequests"
        ],
        "summary": "GET Absence request draft",
        "description": "Get an absence request draft that can be sent later to submit an absence request.\n<br>**Required scope**: absence create.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date of the requesting absence (inclusive)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date of the requesting absence (inclusive)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "description": "Absence account that should be used",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "absenceType",
            "in": "query",
            "description": "Which absence type should be taken into account. If not specified then accountId is used",
            "schema": {
              "enum": [
                "Vacation",
                "Absence",
                "Flextime",
                "Accrued"
              ],
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "employeeId",
            "in": "query",
            "description": "From which employee to generate the draft",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Planday.Api.Core.Abstractions.Models.OpenApiResponse`1[Planday.OpenApi.Absence.Application.Models.Output.AbsenceRequestDraft.AbsenceRequestDraftResult]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Planday.Api.Core.Abstractions.Models.OpenApiResponse`1[Planday.OpenApi.Absence.Application.Models.Output.AbsenceRequestDraft.AbsenceRequestDraftResult]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Planday.Api.Core.Abstractions.Models.OpenApiResponse`1[Planday.OpenApi.Absence.Application.Models.Output.AbsenceRequestDraft.AbsenceRequestDraftResult]"
                }
              }
            }
          },
          "400": {
            "description": "Input parameters are invalid"
          },
          "404": {
            "description": "Account with given id doesn't exist"
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getAbsenceV1.0AbsencerequestsDraft"
      }
    },
    "/absence/v1.0/absencerequests": {
      "post": {
        "tags": [
          "AbsenceRequests"
        ],
        "summary": "POST Submit the absence request",
        "description": "Submit an absence request on behalf of an employee. Before submitting the request, use the Get Draft endpoint to obtain a request body to use with this endpoint.\n<br>**Required scope**: absence create.\n<br>Requires authorization.",
        "requestBody": {
          "description": "Absence request input data",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Planday.OpenApi.Absence.Application.Models.Input.AbsenceRequestInputModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Planday.OpenApi.Absence.Application.Models.Input.AbsenceRequestInputModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Planday.OpenApi.Absence.Application.Models.Input.AbsenceRequestInputModel"
                  }
                ]
              }
            },
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Planday.OpenApi.Absence.Application.Models.Input.AbsenceRequestInputModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Planday.OpenApi.Absence.Application.Models.Output.SubmitAbsenceRequestResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Planday.OpenApi.Absence.Application.Models.Output.SubmitAbsenceRequestResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Planday.OpenApi.Absence.Application.Models.Output.SubmitAbsenceRequestResult"
                }
              }
            }
          },
          "400": {
            "description": "Input parameters are invalid"
          },
          "404": {
            "description": "Account with given id doesn't exist"
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "postAbsenceV1.0Absencerequests"
      },
      "get": {
        "tags": [
          "AbsenceRequests"
        ],
        "summary": "GET Absence requests",
        "description": "Get all absence requests, filter it by employee and/or absence request status\n<br>**Required scope**: absence read.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "Limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 40,
              "nullable": true
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "employeeId",
            "in": "query",
            "description": "Employee id",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Absence request status",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Submitted",
                  "Declined",
                  "Approved",
                  "Cancelled"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Fetch requests for time off ending on this date or later.",
            "schema": {
              "type": "string",
              "nullable": true,
              "example": "2026-03-20"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Fetch requests for time off starting on this date or earlier.",
            "schema": {
              "type": "string",
              "nullable": true,
              "example": "2026-03-20"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Planday.Api.Core.Abstractions.Models.PagedOpenApiResponse`1[Planday.OpenApi.Absence.Application.Models.Output.AbsenceRequest.AbsenceRequestResult]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Planday.Api.Core.Abstractions.Models.PagedOpenApiResponse`1[Planday.OpenApi.Absence.Application.Models.Output.AbsenceRequest.AbsenceRequestResult]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Planday.Api.Core.Abstractions.Models.PagedOpenApiResponse`1[Planday.OpenApi.Absence.Application.Models.Output.AbsenceRequest.AbsenceRequestResult]"
                }
              }
            }
          },
          "404": {
            "description": "Account with given id doesn't exist"
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getAbsenceV1.0Absencerequests"
      }
    },
    "/absence/v1.0/absencerequests/{id}/cancel": {
      "put": {
        "tags": [
          "AbsenceRequests"
        ],
        "summary": "PUT Cancel the absence request",
        "description": "THIS ENDPOINT WILL BE DEPRECATED. Use the \"Deny absence request\" endpoint instead\n<br>**Required scope**: absence create.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Absence request id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "description": "Absence request with given id doesn't exist"
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "deprecated": true,
        "operationId": "putAbsenceV1.0AbsencerequestsCancel"
      }
    },
    "/absence/v1.0/absencerequests/{id}/approve": {
      "put": {
        "tags": [
          "AbsenceRequests"
        ],
        "summary": "PUT Approve the absence request",
        "description": "Approve a specific absence request\r\n<br /><br /><strong>[ existingShifts ]</strong> if not provided, set to default\r\n<br /><strong>[ coverShifts ]</strong> if not provided, set to default\r\n<br />\n<br>**Required scope**: absence create.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Absence request id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Absence request input data",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Planday.OpenApi.Absence.Application.Models.Input.ApproveAbsenceRequestInputModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Planday.OpenApi.Absence.Application.Models.Input.ApproveAbsenceRequestInputModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Planday.OpenApi.Absence.Application.Models.Input.ApproveAbsenceRequestInputModel"
                  }
                ]
              }
            },
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Planday.OpenApi.Absence.Application.Models.Input.ApproveAbsenceRequestInputModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "description": "Absence request with given id doesn't exist"
          },
          "403": {
            "description": "Your application isn't assigned to the appropriate scope, so it can't perform this action."
          },
          "429": {
            "description": "Too many requests"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "putAbsenceV1.0AbsencerequestsApprove"
      }
    },
    "/absence/v1.0/absencerequests/{id}/deny": {
      "put": {
        "tags": [
          "AbsenceRequests"
        ],
        "summary": "PUT Deny the absence request",
        "description": "Deny an absence request. Only absence requests that are Pending can be denied.\n<br>**Required scope**: absence create.\n<br>Requires authorization.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Absence request id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "input params",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Planday.OpenApi.Absence.Application.Models.Input.DenyAbsenceRequestInput"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Planday.OpenApi.Absence.Application.Models.Input.DenyAbsenceRequestInput"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
[...]
