{
  "openapi": "3.0.0",
  "info": {
    "title": "AutomationManagementClient",
    "version": "2015-10-31",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/automation-webhook/2015-10-31/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/webhook.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "automation-webhook",
    "x-tags": [
      "Azure",
      "Microsoft"
    ],
    "description": "AutomationManagementClient provides programmatic access to subscriptions resources."
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks": {
      "get": {
        "parameters": [
          {
            "description": "Name of an Azure Resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._]+$",
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the automation account.",
            "in": "path",
            "name": "automationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The filter to apply on the operation.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client Api Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResult"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error response of an operation failure",
                  "properties": {
                    "code": {
                      "description": "Error code",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message indicating why the operation failed.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Webhook"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/webhookoperations"
        },
        "description": "Retrieve a list of webhooks.",
        "operationId": "Webhook_ListByAutomationAccount",
        "x-ms-examples": {
          "List webhooks by Automation Account": {
            "parameters": {
              "api-version": "2015-10-31",
              "automationAccountName": "myAutomationAccount33",
              "resourceGroupName": "rg",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
                      "name": "TestWebhook",
                      "properties": {
                        "parameters": null,
                        "creationTime": "2017-03-29 22:18:14.665186+00:00",
                        "expiryTime": "2018-03-29 22:18:13.700287+00:00",
                        "isEnabled": true,
                        "lastInvokedTime": null,
                        "lastModifiedBy": "",
                        "lastModifiedTime": "2017-03-29 22:18:14.665186+00:00",
                        "runOn": null,
                        "runbook": {
                          "name": "TestRunbook"
                        },
                        "uri": null
                      }
                    }
                  ]
                },
                "headers": {}
              }
            }
          }
        },
        "x-ms-odata": "#/components/schemas/Webhook",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks/generateUri": {
      "post": {
        "parameters": [
          {
            "description": "Name of an Azure Resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._]+$",
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the automation account.",
            "in": "path",
            "name": "automationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client Api Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error response of an operation failure",
                  "properties": {
                    "code": {
                      "description": "Error code",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message indicating why the operation failed.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Webhook"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/webhookoperations"
        },
        "description": "Generates a Uri for use in creating a webhook.",
        "operationId": "Webhook_GenerateUri",
        "x-ms-examples": {
          "Generate webhook uri": {
            "parameters": {
              "api-version": "2015-10-31",
              "automationAccountName": "myAutomationAccount33",
              "resourceGroupName": "rg",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": "https://s13events.azure-automation.net/webhooks?token=O6n03K%2b1%2bSLPH50m4x9%2fcbcqtAu2tJDTvr8QHnbJ1kw%3d",
                "headers": {}
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks/{webhookName}": {
      "delete": {
        "parameters": [
          {
            "description": "Name of an Azure Resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._]+$",
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the automation account.",
            "in": "path",
            "name": "automationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The webhook name.",
            "in": "path",
            "name": "webhookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client Api Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error response of an operation failure",
                  "properties": {
                    "code": {
                      "description": "Error code",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message indicating why the operation failed.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Webhook"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/webhookoperations"
        },
        "description": "Delete the webhook by name.",
        "operationId": "Webhook_Delete",
        "x-ms-examples": {
          "Delete webhook": {
            "parameters": {
              "api-version": "2015-10-31",
              "automationAccountName": "myAutomationAccount33",
              "resourceGroupName": "rg",
              "subscriptionId": "subid",
              "webhookName": "TestWebhook"
            },
            "responses": {
              "200": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "description": "Name of an Azure Resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._]+$",
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the automation account.",
            "in": "path",
            "name": "automationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The webhook name.",
            "in": "path",
            "name": "webhookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client Api Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error response of an operation failure",
                  "properties": {
                    "code": {
                      "description": "Error code",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message indicating why the operation failed.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Webhook"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/webhookoperations"
        },
        "description": "Retrieve the webhook identified by webhook name.",
        "operationId": "Webhook_Get",
        "x-ms-examples": {
          "Get webhook": {
            "parameters": {
              "api-version": "2015-10-31",
              "automationAccountName": "myAutomationAccount33",
              "resourceGroupName": "rg",
              "subscriptionId": "subid",
              "webhookName": "TestWebhook"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
                  "name": "TestWebhook",
                  "properties": {
                    "parameters": null,
                    "creationTime": "2017-03-29 22:18:14.665186+00:00",
                    "expiryTime": "2018-03-29 22:18:13.700287+00:00",
                    "isEnabled": true,
                    "lastInvokedTime": null,
                    "lastModifiedBy": "",
                    "lastModifiedTime": "2017-03-29 22:18:14.665186+00:00",
                    "runOn": null,
                    "runbook": {
                      "name": "TestRunbook"
                    },
                    "uri": ""
                  }
                },
                "headers": {}
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "description": "Name of an Azure Resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._]+$",
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the automation account.",
            "in": "path",
            "name": "automationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The webhook name.",
            "in": "path",
            "name": "webhookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client Api Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error response of an operation failure",
                  "properties": {
                    "code": {
                      "description": "Error code",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message indicating why the operation failed.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Webhook"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/webhookoperations"
        },
        "description": "Update the webhook identified by webhook name.",
        "operationId": "Webhook_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUpdateParameters"
              }
            }
          },
          "description": "The update parameters for webhook.",
          "required": true
        },
        "x-ms-examples": {
          "Update webhook": {
            "parameters": {
              "parameters": {
                "name": "TestWebhook",
                "properties": {
                  "description": "updated webhook",
                  "isEnabled": false
                }
              },
              "api-version": "2015-10-31",
              "automationAccountName": "myAutomationAccount33",
              "resourceGroupName": "rg",
              "subscriptionId": "subid",
              "webhookName": "TestWebhook"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
                  "name": "TestWebhook",
                  "properties": {
                    "parameters": null,
                    "creationTime": "2017-03-30 21:52:01.272378+00:00",
                    "expiryTime": "2018-03-30 23:03:14.575207+00:00",
                    "isEnabled": false,
                    "lastInvokedTime": null,
                    "lastModifiedBy": "",
                    "lastModifiedTime": "2017-03-30 23:03:14.906944+00:00",
                    "runOn": null,
                    "runbook": {
                      "name": "TestRunbook"
                    },
                    "uri": ""
                  }
                },
                "headers": {}
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "Name of an Azure Resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "maxLength": 90,
              "minLength": 1,
              "pattern": "^[-\\w\\._]+$",
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the automation account.",
            "in": "path",
            "name": "automationAccountName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The webhook name.",
            "in": "path",
            "name": "webhookName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client Api Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error response of an operation failure",
                  "properties": {
                    "code": {
                      "description": "Error code",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message indicating why the operation failed.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Automation error response describing why the operation failed."
          }
        },
        "tags": [
          "Webhook"
        ],
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/webhookoperations"
        },
        "description": "Create the webhook identified by webhook name.",
        "operationId": "Webhook_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreateOrUpdateParameters"
              }
            }
          },
          "description": "The create or update parameters for webhook.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update webhook": {
            "parameters": {
              "parameters": {
                "name": "TestWebhook",
                "properties": {
                  "expiryTime": "2018-03-29 22:18:13.700287+00:00",
                  "isEnabled": true,
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "uri": "https://s1events.azure-automation.net/webhooks?token=7u3KfQvM1vUPWaDMFRv2%2fAA4Jqx8QwS8aBuyO6Xsdcw%3d"
                }
              },
              "api-version": "2015-10-31",
              "automationAccountName": "myAutomationAccount33",
              "resourceGroupName": "rg",
              "subscriptionId": "subid",
              "webhookName": "TestWebhook"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
                  "name": "TestWebhook",
                  "properties": {
                    "parameters": null,
                    "creationTime": "2017-03-29 22:18:14.665186+00:00",
                    "expiryTime": "2018-03-29 22:18:13.700287+00:00",
                    "isEnabled": true,
                    "lastInvokedTime": null,
                    "lastModifiedBy": "",
                    "lastModifiedTime": "2017-03-29 22:18:14.665186+00:00",
                    "runOn": null,
                    "runbook": {
                      "name": "TestRunbook"
                    },
                    "uri": ""
                  },
                  "type": "Microsoft.Automation/AutomationAccounts/Webhooks"
                },
                "headers": {}
              },
              "201": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
                  "name": "TestWebhook",
                  "properties": {
                    "parameters": null,
                    "creationTime": "2017-03-29 22:18:14.665186+00:00",
                    "expiryTime": "2018-03-29 22:18:13.700287+00:00",
                    "isEnabled": true,
                    "lastInvokedTime": null,
                    "lastModifiedBy": "",
                    "lastModifiedTime": "2017-03-29 22:18:14.665186+00:00",
                    "runOn": null,
                    "runbook": {
                      "name": "TestRunbook"
                    },
                    "uri": ""
                  },
                  "type": "Microsoft.Automation/AutomationAccounts/Webhooks"
                },
                "headers": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RunbookAssociationProperty": {
        "description": "The runbook property associated with the entity.",
        "properties": {
          "name": {
            "description": "Gets or sets the name of the runbook.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Webhook": {
        "allOf": [
          {
            "allOf": [
              {
                "description": "The core properties of ARM resources",
                "properties": {
                  "id": {
                    "description": "Fully qualified resource Id for the resource",
                    "readOnly": true,
                    "type": "string"
                  },
                  "name": {
                    "description": "The name of the resource",
                    "readOnly": true,
                    "type": "string"
                  },
                  "type": {
                    "description": "The type of the resource.",
                    "readOnly": true,
                    "type": "string"
                  }
                },
                "type": "object",
                "x-ms-azure-resource": true
              }
            ],
            "description": "ARM proxy resource.",
            "properties": {},
            "type": "object"
          }
        ],
        "description": "Definition of the webhook type.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/WebhookProperties",
            "description": "Gets or sets the webhook properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "WebhookCreateOrUpdateParameters": {
        "description": "The parameters supplied to the create or update webhook operation.",
        "properties": {
          "name": {
            "description": "Gets or sets the name of the webhook.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/WebhookCreateOrUpdateProperties",
            "description": "Gets or sets the properties of the webhook.",
            "x-ms-client-flatten": true
          }
        },
        "required": [
          "name",
          "properties"
        ],
        "type": "object"
      },
      "WebhookCreateOrUpdateProperties": {
        "description": "The properties of the create webhook operation.",
        "properties": {
          "parameters": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets the parameters of the job.",
            "type": "object"
          },
          "expiryTime": {
            "description": "Gets or sets the expiry time.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "isEnabled": {
            "description": "Gets or sets the value of the enabled flag of webhook.",
            "type": "boolean"
          },
          "runOn": {
            "description": "Gets or sets the name of the hybrid worker group the webhook job will run on.",
            "type": "string"
          },
          "runbook": {
            "$ref": "#/components/schemas/RunbookAssociationProperty",
            "description": "Gets or sets the runbook."
          },
          "uri": {
            "description": "Gets or sets the uri.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "WebhookListResult": {
        "description": "The response model for the list webhook operation.",
        "properties": {
          "nextLink": {
            "description": "Gets or sets the next link.",
            "type": "string"
          },
          "value": {
            "description": "Gets or sets a list of webhooks.",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "WebhookProperties": {
        "description": "Definition of the webhook properties",
        "properties": {
          "parameters": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets the parameters of the job that is created when the webhook calls the runbook it is associated with.",
            "type": "object"
          },
          "creationTime": {
            "description": "Gets or sets the creation time.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "description": {
            "description": "Gets or sets the description.",
            "type": "string"
          },
          "expiryTime": {
            "description": "Gets or sets the expiry time.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "isEnabled": {
            "default": false,
            "description": "Gets or sets the value of the enabled flag of the webhook.",
            "type": "boolean"
          },
          "lastInvokedTime": {
            "description": "Gets or sets the last invoked time.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "lastModifiedBy": {
            "description": "Details of the user who last modified the Webhook",
            "type": "string"
          },
          "lastModifiedTime": {
            "description": "Gets or sets the last modified time.",
            "format": "date-time",
            "nullable": false,
            "type": "string"
          },
          "runOn": {
            "description": "Gets or sets the name of the hybrid worker group the webhook job will run on.",
            "type": "string"
          },
          "runbook": {
            "$ref": "#/components/schemas/RunbookAssociationProperty",
            "description": "Gets or sets the runbook the webhook is associated with."
          },
          "uri": {
            "description": "Gets or sets the webhook uri.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "WebhookUpdateParameters": {
        "description": "The parameters supplied to the update webhook operation.",
        "properties": {
          "name": {
            "description": "Gets or sets the name of the webhook.",
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/WebhookUpdateProperties",
            "description": "Gets or sets the value of the webhook.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "WebhookUpdateProperties": {
        "description": "The properties of the update webhook.",
        "properties": {
          "parameters": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Gets or sets the parameters of the job.",
            "type": "object"
          },
          "description": {
            "description": "Gets or sets the description of the webhook.",
            "type": "string"
          },
          "isEnabled": {
            "description": "Gets or sets the value of the enabled flag of webhook.",
            "type": "boolean"
          },
          "runOn": {
            "description": "Gets or sets the name of the hybrid worker group the webhook job will run on.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}