{
  "openapi": "3.0.3",
  "info": {
    "title": "Configuration APIs",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.propexo.com/openapi.json?api=65954da6-5cbf-4f79-8fe7-c943eddfdaab"
  },
  "servers": [
    {
      "url": "https://api.propexo.com"
    },
    {
      "url": "https://api.sandbox.propexo.com"
    }
  ],
  "paths": {
    "/v1/admin/data-diffs/": {
      "get": {
        "operationId": "get-all-data-diffs",
        "summary": "Get all data diffs",
        "description": "Get all data diffs. Data diffs are stored for 30 days.",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "order-by",
            "in": "query",
            "description": "Order the results by a field. Optionally include asc or desc preceded by a colon (default is asc). Example: ?order-by=updated_at:desc",
            "required": false,
            "schema": {
              "type": "string",
              "default": "created_at:desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Can be used for paginating results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A number between 1 and 250 to determine the number of results to return in a single query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "nullable": true
            }
          },
          {
            "name": "integration_vendor",
            "in": "query",
            "description": "The integration vendor associated with the data diff",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/V1AdminDataDiffsGetParametersIntegrationVendor"
            }
          },
          {
            "name": "integration_id",
            "in": "query",
            "description": "The integration id associated with the data diff",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Only show data diffs before this timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Only show data diffs after this timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_data-diffs__get_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/job-logs/{job_log_id}/": {
      "get": {
        "operationId": "get-log-by-id",
        "summary": "Get log by ID",
        "description": "Get a single log record by log ID. A log will only have a single associated job. This is different than querying by job ID, which could have multiple log entries (in the case of retry attempts for failed jobs).",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "job_log_id",
            "in": "path",
            "description": "The ID of the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order-by",
            "in": "query",
            "description": "Order the results by a field. Optionally include asc or desc preceded by a colon (default is asc). Example: ?order-by=updated_at:desc",
            "required": false,
            "schema": {
              "type": "string",
              "default": "created_at:desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Can be used for paginating results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A number between 1 and 250 to determine the number of results to return in a single query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "nullable": true
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_job-logs_{job_log_id}__get_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/job-logs/{job_log_id}/data": {
      "get": {
        "operationId": "get-a-link-to-the-job-log-raw-request-and-response-data-of-a-write-job",
        "summary": "Get a link to the job log raw request and response data of a write job.",
        "description": "Get a link to the job log raw request and response data of a write job. Only POST and PUT job payloads can be viewed. This endpoint will return a 302 status code with a `Location` header that can be followed to download the raw request and response data.\n\nSome HTTP clients (including some older versions of cURL) will carry the `Authentication` header when the redirect is followed. This will cause an error conflicting with the authentication in the presigned URL being returned by this endpoint. If you see this error, you will need to make sure your HTTP client isn't passing `Authentication` headers on redirect. If you're using cURL, use the `-L` flag. For other HTTP client, consult their documentation.",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "job_log_id",
            "in": "path",
            "description": "The ID of the job log.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_job-logs_{job_log_id}_data_get_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/logs/writes/": {
      "get": {
        "operationId": "query-write-job-logs",
        "summary": "Query write job logs",
        "description": "Query write job logs with various filters. Returns the most recent record for each job_id.",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of records to skip",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "nullable": true
            }
          },
          {
            "name": "time_range",
            "in": "query",
            "description": "Filter logs by time range",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/V1AdminLogsWritesGetParametersTimeRange"
            }
          },
          {
            "name": "integration_id",
            "in": "query",
            "description": "Filter logs by integration ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter logs by status",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/V1AdminLogsWritesGetParametersStatus"
            }
          },
          {
            "name": "write_category",
            "in": "query",
            "description": "Filter logs by write category",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/V1AdminLogsWritesGetParametersWriteCategory"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_logs_writes__get_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/logs/jobs/": {
      "get": {
        "operationId": "get-logs",
        "summary": "Get logs",
        "description": "Get all logs",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "order-by",
            "in": "query",
            "description": "Order the results by a field. Optionally include asc or desc preceded by a colon (default is asc). Example: ?order-by=updated_at:desc",
            "required": false,
            "schema": {
              "type": "string",
              "default": "created_at:desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Can be used for paginating results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A number between 1 and 250 to determine the number of results to return in a single query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "nullable": true
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/V1AdminLogsJobsGetParametersStatus"
            }
          },
          {
            "name": "integration_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "job_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_logs_jobs__get_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/logs/jobs/{id}": {
      "get": {
        "operationId": "get-logs-by-job-id",
        "summary": "Get logs by job ID",
        "description": "Get all logs for a job ID. This returns an array because jobs can have multiple log entries (for example, in the case of retries on failed jobs)",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order-by",
            "in": "query",
            "description": "Order the results by a field. Optionally include asc or desc preceded by a colon (default is asc). Example: ?order-by=updated_at:desc",
            "required": false,
            "schema": {
              "type": "string",
              "default": "created_at:desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Can be used for paginating results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A number between 1 and 250 to determine the number of results to return in a single query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "nullable": true
            }
          },
          {
            "name": "include_all_jobs",
            "in": "query",
            "description": "Whether to include job logs from jobs that have spawned from the provided job id.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "true"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_logs_jobs_{id}_get_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/integrations/": {
      "get": {
        "operationId": "get-all-my-integrations",
        "summary": "Get all my integrations",
        "description": "Get all my integrations",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "order-by",
            "in": "query",
            "description": "Order the results by a field. Optionally include asc or desc preceded by a colon (default is asc). Example: ?order-by=updated_at:desc",
            "required": false,
            "schema": {
              "type": "string",
              "default": "created_at:desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Can be used for paginating results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A number between 1 and 250 to determine the number of results to return in a single query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "nullable": true
            }
          },
          {
            "name": "integration_vendor",
            "in": "query",
            "description": "The integration vendor",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/V1AdminIntegrationsGetParametersIntegrationVendor"
            }
          },
          {
            "name": "is_archived",
            "in": "query",
            "description": "Whether or not to include archived integrations",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_integrations__get_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "create-an-integration",
        "summary": "Create an integration",
        "description": "Create an integration",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_integrations__post_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_v1_admin_integrations__post_input"
              }
            }
          }
        }
      }
    },
    "/v1/admin/users/": {
      "get": {
        "operationId": "get-all-my-users",
        "summary": "Get all my users",
        "description": "Get all my users",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "order-by",
            "in": "query",
            "description": "Order the results by a field. Optionally include asc or desc preceded by a colon (default is asc). Example: ?order-by=updated_at:desc",
            "required": false,
            "schema": {
              "type": "string",
              "default": "created_at:desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Can be used for paginating results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A number between 1 and 250 to determine the number of results to return in a single query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "nullable": true
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The unique identifier for the user",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_users__get_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/users/{id}": {
      "get": {
        "operationId": "get-user-by-id",
        "summary": "Get user by id",
        "description": "Get user by id",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order-by",
            "in": "query",
            "description": "Order the results by a field. Optionally include asc or desc preceded by a colon (default is asc). Example: ?order-by=updated_at:desc",
            "required": false,
            "schema": {
              "type": "string",
              "default": "created_at:desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Can be used for paginating results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A number between 1 and 250 to determine the number of results to return in a single query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "nullable": true
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_users_{id}_get_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/write-status/{root_job_id}": {
      "get": {
        "operationId": "check-the-status-of-a-write-operation",
        "summary": "Check the status of a write operation",
        "description": "Query for the status of a write operation created via the API. The status of the write operation, as well as any encountered errors, is provided.",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "root_job_id",
            "in": "path",
            "description": "The job ID of the write job to check the status of",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_write-status_{root_job_id}_get_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/retry-write/{root_job_id}": {
      "post": {
        "operationId": "retry-a-write-operation",
        "summary": "Retry a write operation",
        "description": "Retry a write operation that failed. Only failed write operations can be retried.",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "root_job_id",
            "in": "path",
            "description": "The job ID of the write job retry",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_retry-write_{root_job_id}_post_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_v1_admin_retry-write_{root_job_id}_post_input"
              }
            }
          }
        }
      }
    },
    "/v1/admin/integrations/{integration_id}/": {
      "get": {
        "operationId": "get-integration-by-id",
        "summary": "Get integration by id",
        "description": "Get integration by id",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "description": "The integration id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order-by",
            "in": "query",
            "description": "Order the results by a field. Optionally include asc or desc preceded by a colon (default is asc). Example: ?order-by=updated_at:desc",
            "required": false,
            "schema": {
              "type": "string",
              "default": "created_at:desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Can be used for paginating results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A number between 1 and 250 to determine the number of results to return in a single query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "nullable": true
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}__get_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "update-an-integration",
        "summary": "Update an integration",
        "description": "Update an integration",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "description": "The ID of the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}__put_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}__put_input"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete-an-integration",
        "summary": "Delete an integration",
        "description": "Delete an integration",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "description": "The Propexo unique identifier for the integration",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}__delete_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}__delete_input"
              }
            }
          }
        }
      }
    },
    "/v1/admin/integrations/{integration_id}/back-sync": {
      "post": {
        "operationId": "trigger-a-backsync-on-an-integration",
        "summary": "Trigger a backsync on an integration.",
        "description": "A backsync operation retrieves historical baseline data for an integration. When executed, the system extends all date ranges for enabled models to January 1, 1970. This operation should be performed only once per integration. Repeated backsync operations will result in significant billing charges to your account.",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "description": "The ID of the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}_back-sync_post_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}_back-sync_post_input"
              }
            }
          }
        }
      }
    },
    "/v1/admin/integrations/{integration_id}/manual-sync": {
      "post": {
        "operationId": "trigger-a-manual-sync-on-an-integration",
        "summary": "Trigger a manual sync on an integration.",
        "description": "A manual sync operation overrides the configured sync schedule for an integration. This operation is typically used during testing phases but may be executed at any time as needed. However, frequent use of manual syncs is not recommended. For questions regarding sync operations, contact Propexo Support.",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "description": "The ID of the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}_manual-sync_post_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}_manual-sync_post_input"
              }
            }
          }
        }
      }
    },
    "/v1/admin/integrations/{integration_id}/data-access": {
      "get": {
        "operationId": "get-data-access-information-for-an-integration",
        "summary": "Get data access information for an integration.",
        "description": "Get data access information for an integration.",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "description": "The Propexo unique identifier for the integration",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}_data-access_get_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "trigger-a-data-access-check-on-an-integration",
        "summary": "Trigger a data access check on an integration.",
        "description": "Trigger a data access check on an integration. This will reassess access to various data models. Using this can result in different detected access and can affect the data that is pulled in each sync and pushed during write operations. Only one data access check can be running at a time.",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "description": "The Propexo unique identifier for the integration",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}_data-access_post_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}_data-access_post_input"
              }
            }
          }
        }
      }
    },
    "/v1/admin/integrations/{integration_id}/properties": {
      "get": {
        "operationId": "get-all-my-property-configurations",
        "summary": "Get all my property configurations",
        "description": "Get all my property configurations",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "description": "The ID of the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order-by",
            "in": "query",
            "description": "Order the results by a field. Optionally include asc or desc preceded by a colon (default is asc). Example: ?order-by=updated_at:desc",
            "required": false,
            "schema": {
              "type": "string",
              "default": "created_at:desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Can be used for paginating results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A number between 1 and 250 to determine the number of results to return in a single query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "nullable": true
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}_properties_get_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/integrations/{integration_id}/property-lists": {
      "get": {
        "operationId": "get-all-my-property-list-configurations",
        "summary": "Get all my property list configurations",
        "description": "Get all my property list configurations",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "description": "The ID of the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order-by",
            "in": "query",
            "description": "Order the results by a field. Optionally include asc or desc preceded by a colon (default is asc). Example: ?order-by=updated_at:desc",
            "required": false,
            "schema": {
              "type": "string",
              "default": "created_at:desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Can be used for paginating results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A number between 1 and 250 to determine the number of results to return in a single query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "nullable": true
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}_property-lists_get_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "create-a-property-list-configuration",
        "summary": "Create a property list configuration",
        "description": "Create a property list configuration",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "description": "The Propexo unique identifier for the integration",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}_property-lists_post_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}_property-lists_post_input"
              }
            }
          }
        }
      }
    },
    "/v1/admin/integrations/{integration_id}/job-schedules/": {
      "get": {
        "operationId": "get-job-schedules-by-integration-id",
        "summary": "Get job schedules by integration id",
        "description": "Get job schedules by integration id",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "description": "The unique identifier for the integration",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order-by",
            "in": "query",
            "description": "Order the results by a field. Optionally include asc or desc preceded by a colon (default is asc). Example: ?order-by=updated_at:desc",
            "required": false,
            "schema": {
              "type": "string",
              "default": "created_at:desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Can be used for paginating results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A number between 1 and 250 to determine the number of results to return in a single query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "nullable": true
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}_job-schedules__get_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/normalization/{model}/{field}": {
      "get": {
        "operationId": "get-custom-enum-mappings-for-normalizing-pms-specific-field-values",
        "summary": "Get custom enum mappings for normalizing PMS-specific field values",
        "description": "Retrieves the custom enum mappings that normalize PMS-specific enum values to standardized Propexo values. These mappings can be user-customized per integration or use default system mappings. Custom enum fields in the API schema are identified by types beginning with \"enum.\" (e.g., enum.lease_status, enum.applicant_status).\n\nValid model/field combinations:\n- leases/status → Maps PMS-specific lease status values to normalized lease statuses. Used by the leases.status field. Custom enum type in schema: enum.lease_status Possible normalized values: ACTIVE, INACTIVE, OTHER, PENDING, EVICTED\n- residents/type → Maps PMS-specific resident type values to normalized resident types. Used by the residents.type field. Custom enum type in schema: enum.resident_type Possible normalized values: PRIMARY, SECONDARY, GUARANTOR, OTHER\n- billing/payment-method → Maps PMS-specific payment method values to normalized payment methods. Used by the billing.payment-method field (which corresponds to payment_method on transaction records). Custom enum type in schema: enum.transaction_payment_method Possible normalized values: CASH, CASHIERCHECK, CHECK, CREDITCARD, MONEYORDER, DIRECTDEPOSIT, ELECTRONICPAYMENT, OTHER\n- properties/type → Maps PMS-specific property type values to normalized property types. Used by the properties.type field. Custom enum type in schema: enum.property_type Possible normalized values: SINGLE_FAMILY, MULTI_FAMILY, STUDENT_HOUSING, VACATION, COMMERCIAL, OTHER\n- applicants/status → Maps PMS-specific applicant status values to normalized applicant statuses. Used by the applicants.status field. Custom enum type in schema: enum.applicant_status Possible normalized values: APPROVED, DENIED, CANCELED, OTHER, PENDING\n- applicants/type → Maps PMS-specific applicant type values to normalized applicant types. Used by the applicants.type field. Custom enum type in schema: enum.applicant_type Possible normalized values: GUARANTOR, OTHER, PRIMARY, SECONDARY\n\nCustom enum mappings allow user-configurable normalization of PMS-specific enum values to standardized Propexo values. You can identify custom enum fields in the schema by looking for types that begin with \"enum.\" prefix (e.g., enum.lease_status, enum.applicant_status).",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "The model name (route parameter). Must be one of: leases, residents, billing, properties, or applicants. See the endpoint description for valid model/field combinations.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field",
            "in": "path",
            "description": "The field name within the model (route parameter). Valid fields depend on the model. For example: leases.status, applicants.status, applicants.type, residents.type, properties.type, billing.payment-method. See the endpoint description for all valid model/field combinations.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integration_id",
            "in": "query",
            "description": "The ID of the integration for which to retrieve custom mappings. If provided, returns integration-specific custom mappings (if they exist). If omitted, returns the default system mappings for the vendor.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integration_vendor",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Enum10"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_normalization_{model}_{field}_get_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/integrations/{integration_id}/properties/{property_configuration_id}": {
      "put": {
        "operationId": "update-a-property-configuration",
        "summary": "Update a property configuration",
        "description": "Update a property configuration",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "description": "The Propexo unique identifier for the integration",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "property_configuration_id",
            "in": "path",
            "description": "The ID of the property configuration record.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}_properties_{property_configuration_id}_put_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}_properties_{property_configuration_id}_put_input"
              }
            }
          }
        }
      }
    },
    "/v1/admin/integrations/{integration_id}/property-lists/{property_list_configuration_id}": {
      "put": {
        "operationId": "update-a-property-list-configuration",
        "summary": "Update a property list configuration",
        "description": "Update a property list configuration",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "description": "The Propexo unique identifier for the integration",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "property_list_configuration_id",
            "in": "path",
            "description": "The ID of the property list configuration record.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}_property-lists_{property_list_configuration_id}_put_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}_property-lists_{property_list_configuration_id}_put_input"
              }
            }
          }
        }
      }
    },
    "/v1/admin/integrations/{integration_id}/rate-limits/": {
      "get": {
        "operationId": "the-current-pms-rate-limits-associated-with-your-integration",
        "summary": "The current PMS rate limits associated with your integration.",
        "description": "The current PMS rate limits associated with your integration. Currently only supported for Rent Manager and Entrata",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "description": "The unique identifier for the integration",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order-by",
            "in": "query",
            "description": "Order the results by a field. Optionally include asc or desc preceded by a colon (default is asc). Example: ?order-by=updated_at:desc",
            "required": false,
            "schema": {
              "type": "string",
              "default": "created_at:desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Can be used for paginating results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A number between 1 and 250 to determine the number of results to return in a single query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "nullable": true
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}_rate-limits__get_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/integrations/{integration_id}/job-schedules/{job_schedule_id}/": {
      "get": {
        "operationId": "get-job-schedule-by-id",
        "summary": "Get job schedule by id",
        "description": "Get job schedule by id",
        "tags": [
          "subpackage_admin"
        ],
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "description": "The unique identifier for the integration",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "job_schedule_id",
            "in": "path",
            "description": "The unique identifier for the job schedule",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order-by",
            "in": "query",
            "description": "Order the results by a field. Optionally include asc or desc preceded by a colon (default is asc). Example: ?order-by=updated_at:desc",
            "required": false,
            "schema": {
              "type": "string",
              "default": "created_at:desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Can be used for paginating results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A number between 1 and 250 to determine the number of results to return in a single query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "nullable": true
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_admin_integrations_{integration_id}_job-schedules_{job_schedule_id}__get_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/": {
      "get": {
        "operationId": "get-all-webhooks",
        "summary": "Get all webhooks",
        "description": "Get all webhooks",
        "tags": [
          "subpackage_webhooksConfiguration"
        ],
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "description": "Filter by active status",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "nullable": true
            }
          },
          {
            "name": "order-by",
            "in": "query",
            "description": "Order the results by a field. Optionally include asc or desc preceded by a colon (default is asc). Example: ?order-by=updated_at:desc",
            "required": false,
            "schema": {
              "type": "string",
              "default": "created_at:desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Can be used for paginating results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A number between 1 and 250 to determine the number of results to return in a single query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "nullable": true
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_webhooks__get_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "create-a-webhook",
        "summary": "Create a webhook",
        "description": "Create a webhook",
        "tags": [
          "subpackage_webhooksConfiguration"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_webhooks__post_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_v1_webhooks__post_input"
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/{webhook_id}": {
      "get": {
        "operationId": "get-a-webhook-by-id",
        "summary": "Get a webhook by ID",
        "description": "Get a webhook by ID",
        "tags": [
          "subpackage_webhooksConfiguration"
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "The ID of the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order-by",
            "in": "query",
            "description": "Order the results by a field. Optionally include asc or desc preceded by a colon (default is asc). Example: ?order-by=updated_at:desc",
            "required": false,
            "schema": {
              "type": "string",
              "default": "created_at:desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Can be used for paginating results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A number between 1 and 250 to determine the number of results to return in a single query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "nullable": true
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_webhooks_{webhook_id}_get_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "update-a-webhook",
        "summary": "Update a webhook",
        "description": "Update a webhook",
        "tags": [
          "subpackage_webhooksConfiguration"
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "The ID of the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_webhooks_{webhook_id}_put_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_v1_webhooks_{webhook_id}_put_input"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete-a-webhook",
        "summary": "Delete a webhook",
        "description": "Delete a webhook",
        "tags": [
          "subpackage_webhooksConfiguration"
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "description": "The ID of the webhook to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_v1_webhooks_{webhook_id}_delete_output"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_v1_webhooks_{webhook_id}_delete_input"
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "v-1-webhooks-data-new": {
      "post": {
        "operationId": "v-1-webhooks-data-new",
        "summary": "V 1 Webhooks Data New",
        "responses": {
          "200": {
            "description": "Webhook received successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "trigger": {
                    "$ref": "#/components/schemas/DataNewPostPayloadContentApplicationJsonSchemaTrigger"
                  },
                  "data": {
                    "$ref": "#/components/schemas/DataNewPostPayloadContentApplicationJsonSchemaData"
                  },
                  "meta": {
                    "$ref": "#/components/schemas/DataNewPostPayloadContentApplicationJsonSchemaMeta"
                  }
                },
                "required": [
                  "trigger",
                  "data",
                  "meta"
                ]
              }
            }
          }
        }
      }
    },
    "v-1-webhooks-data-update": {
      "post": {
        "operationId": "v-1-webhooks-data-update",
        "summary": "V 1 Webhooks Data Update",
        "responses": {
          "200": {
            "description": "Webhook received successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "trigger": {
                    "$ref": "#/components/schemas/DataUpdatePostPayloadContentApplicationJsonSchemaTrigger"
                  },
                  "data": {
                    "$ref": "#/components/schemas/DataUpdatePostPayloadContentApplicationJsonSchemaData"
                  },
                  "meta": {
                    "$ref": "#/components/schemas/DataUpdatePostPayloadContentApplicationJsonSchemaMeta"
                  }
                },
                "required": [
                  "trigger",
                  "data",
                  "meta"
                ]
              }
            }
          }
        }
      }
    },
    "v-1-webhooks-first-sync-complete": {
      "post": {
        "operationId": "v-1-webhooks-first-sync-complete",
        "summary": "V 1 Webhooks First Sync Complete",
        "responses": {
          "200": {
            "description": "Webhook received successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "trigger": {
                    "$ref": "#/components/schemas/FirstSyncCompletePostPayloadContentApplicationJsonSchemaTrigger"
                  },
                  "data": {
                    "$ref": "#/components/schemas/FirstSyncCompletePostPayloadContentApplicationJsonSchemaData"
                  }
                },
                "required": [
                  "trigger",
                  "data"
                ]
              }
            }
          }
        }
      }
    },
    "v-1-webhooks-sync-complete": {
      "post": {
        "operationId": "v-1-webhooks-sync-complete",
        "summary": "V 1 Webhooks Sync Complete",
        "responses": {
          "200": {
            "description": "Webhook received successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "trigger": {
                    "$ref": "#/components/schemas/SyncCompletePostPayloadContentApplicationJsonSchemaTrigger"
                  },
                  "data": {
                    "$ref": "#/components/schemas/SyncCompletePostPayloadContentApplicationJsonSchemaData"
                  }
                },
                "required": [
                  "trigger",
                  "data"
                ]
              }
            }
          }
        }
      }
    },
    "v-1-webhooks-job-failure": {
      "post": {
        "operationId": "v-1-webhooks-job-failure",
        "summary": "V 1 Webhooks Job Failure",
        "responses": {
          "200": {
            "description": "Webhook received successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "trigger": {
                    "$ref": "#/components/schemas/JobFailurePostPayloadContentApplicationJsonSchemaTrigger"
                  },
                  "data": {
                    "$ref": "#/components/schemas/JobFailurePostPayloadContentApplicationJsonSchemaData"
                  }
                },
                "required": [
                  "trigger",
                  "data"
                ]
              }
            }
          }
        }
      }
    },
    "v-1-webhooks-write-operation-failure": {
      "post": {
        "operationId": "v-1-webhooks-write-operation-failure",
        "summary": "V 1 Webhooks Write Operation Failure",
        "responses": {
          "200": {
            "description": "Webhook received successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "trigger": {
                    "$ref": "#/components/schemas/WriteOperationFailurePostPayloadContentApplicationJsonSchemaTrigger"
                  },
                  "data": {
                    "$ref": "#/components/schemas/WriteOperationFailurePostPayloadContentApplicationJsonSchemaData"
                  }
                },
                "required": [
                  "trigger",
                  "data"
                ]
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "V1AdminDataDiffsGetParametersIntegrationVendor": {
        "type": "string",
        "enum": [
          "APPFOLIO",
          "BUILDIUM",
          "ENTRATA",
          "MRI",
          "PROPERTYWARE",
          "PROPERTYWARE_REST",
          "REALPAGE",
          "REALPAGE_RPX",
          "RENTMANAGER",
          "RENTVINE",
          "RESMAN",
          "YARDI",
          "YARDI_REST"
        ],
        "description": "The integration vendor associated with the data diff",
        "title": "V1AdminDataDiffsGetParametersIntegrationVendor"
      },
      "ResponseMetaOrderByItems": {
        "type": "object",
        "properties": {},
        "title": "ResponseMetaOrderByItems"
      },
      "ResponseMeta": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer",
            "description": "The offset of the first result"
          },
          "limit": {
            "type": "integer",
            "description": "The number of results to return"
          },
          "orderBy": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponseMetaOrderByItems"
            }
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether there are more results",
            "nullable": true
          },
          "total": {
            "type": "integer",
            "description": "The total number of results"
          }
        },
        "required": [
          "orderBy"
        ],
        "title": "ResponseMeta"
      },
      "V1AdminDataDiffsGetOutputResultsItemsEventType": {
        "type": "string",
        "enum": [
          "NEW",
          "UPDATE"
        ],
        "description": "The data diff event type",
        "title": "V1AdminDataDiffsGetOutputResultsItemsEventType"
      },
      "V1AdminDataDiffsGetOutputResultsItemsDataDiff": {
        "type": "object",
        "properties": {},
        "title": "V1AdminDataDiffsGetOutputResultsItemsDataDiff"
      },
      "Enum1": {
        "type": "string",
        "enum": [
          "APPFOLIO",
          "BUILDIUM",
          "ENTRATA",
          "MRI",
          "PROPERTYWARE",
          "PROPERTYWARE_REST",
          "REALPAGE",
          "REALPAGE_RPX",
          "RENTMANAGER",
          "RENTVINE",
          "RESMAN",
          "YARDI",
          "YARDI_REST"
        ],
        "description": "The property management system of record",
        "title": "Enum1"
      },
      "V1AdminDataDiffsGetOutputResultsItems": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the data diff"
          },
          "model": {
            "type": "string",
            "description": "The name of the model the data diff is for"
          },
          "model_record_id": {
            "type": "string",
            "description": "The ID of the record the data diff is for. For example, if model is 'units', this would represent the ID of the unit"
          },
          "event_type": {
            "$ref": "#/components/schemas/V1AdminDataDiffsGetOutputResultsItemsEventType",
            "description": "The data diff event type"
          },
          "data_diff": {
            "$ref": "#/components/schemas/V1AdminDataDiffsGetOutputResultsItemsDataDiff"
          },
          "created_at": {
            "type": "string",
            "description": "The date the data diff was created"
          },
          "job_id": {
            "type": "string",
            "description": "The ID of the job that affected this data diff",
            "nullable": true
          },
          "integration_id": {
            "type": "string",
            "description": "The integration id"
          },
          "integration_vendor": {
            "$ref": "#/components/schemas/Enum1"
          }
        },
        "required": [
          "id",
          "model",
          "model_record_id",
          "event_type",
          "data_diff",
          "created_at",
          "job_id",
          "integration_id",
          "integration_vendor"
        ],
        "title": "V1AdminDataDiffsGetOutputResultsItems"
      },
      "_v1_admin_data-diffs__get_output": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V1AdminDataDiffsGetOutputResultsItems"
            }
          }
        },
        "required": [
          "meta",
          "results"
        ],
        "title": "_v1_admin_data-diffs__get_output"
      },
      "ErrorResponseError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "additionalProperties": {
              "description": "Any type"
            }
          }
        },
        "required": [
          "code",
          "message"
        ],
        "title": "ErrorResponseError"
      },
      "errorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorResponseError"
          }
        },
        "required": [
          "error"
        ],
        "title": "errorResponse"
      },
      "V1AdminJobLogsJobLogIdGetOutputResults": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "job_id": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string"
          },
          "job_type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "parent_job_id": {
            "type": "string",
            "nullable": true
          },
          "root_job_id": {
            "type": "string"
          },
          "job_schedule_id": {
            "type": "string",
            "nullable": true
          },
          "integration_id": {
            "type": "string"
          },
          "associated_property_id": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "job_id",
          "created_at",
          "job_type",
          "status",
          "parent_job_id",
          "root_job_id",
          "job_schedule_id",
          "integration_id",
          "associated_property_id"
        ],
        "title": "V1AdminJobLogsJobLogIdGetOutputResults"
      },
      "_v1_admin_job-logs_{job_log_id}__get_output": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "results": {
            "$ref": "#/components/schemas/V1AdminJobLogsJobLogIdGetOutputResults"
          }
        },
        "required": [
          "meta",
          "results"
        ],
        "title": "_v1_admin_job-logs_{job_log_id}__get_output"
      },
      "_v1_admin_job-logs_{job_log_id}_data_get_output": {
        "type": "object",
        "properties": {},
        "title": "_v1_admin_job-logs_{job_log_id}_data_get_output"
      },
      "V1AdminLogsWritesGetParametersTimeRange": {
        "type": "string",
        "enum": [
          "hour",
          "month",
          "week",
          "day"
        ],
        "description": "Filter logs by time range",
        "title": "V1AdminLogsWritesGetParametersTimeRange"
      },
      "V1AdminLogsWritesGetParametersStatus": {
        "type": "string",
        "enum": [
          "SUCCESS",
          "FAILURE"
        ],
        "description": "Filter logs by status",
        "title": "V1AdminLogsWritesGetParametersStatus"
      },
      "V1AdminLogsWritesGetParametersWriteCategory": {
        "type": "string",
        "enum": [
          "amenities",
          "applicants",
          "applications",
          "contracts",
          "crm_listings",
          "deposit_summaries",
          "event_types",
          "events",
          "file_types",
          "file_upload",
          "invoices",
          "leads",
          "leases",
          "listings",
          "properties",
          "purchase_orders",
          "recurring_resident_charges",
          "resident_charges",
          "resident_payments",
          "resident_pets",
          "residents",
          "service_request_vendors",
          "service_requests",
          "transactions",
          "units"
        ],
        "description": "Filter logs by write category",
        "title": "V1AdminLogsWritesGetParametersWriteCategory"
      },
      "V1AdminLogsWritesGetOutputResultsLogsItemsStatus": {
        "type": "string",
        "enum": [
          "SUCCESS",
          "FAILURE"
        ],
        "title": "V1AdminLogsWritesGetOutputResultsLogsItemsStatus"
      },
      "V1AdminLogsWritesGetOutputResultsLogsItemsVendor": {
        "type": "string",
        "enum": [
          "APPFOLIO",
          "BUILDIUM",
          "ENTRATA",
          "FUNNEL",
          "INTERNAL",
          "KNOCK",
          "MRI",
          "PROPERTYWARE",
          "PROPERTYWARE_REST",
          "REALPAGE",
          "REALPAGE_RPX",
          "RENTCAFE",
          "RENTMANAGER",
          "RENTVINE",
          "RESMAN",
          "YARDI",
          "YARDI_REST"
        ],
        "title": "V1AdminLogsWritesGetOutputResultsLogsItemsVendor"
      },
      "V1AdminLogsWritesGetOutputResultsLogsItems": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "job_id": {
            "type": "string"
          },
          "job_log_id": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/V1AdminLogsWritesGetOutputResultsLogsItemsStatus"
          },
          "integration_id": {
            "type": "string"
          },
          "job_type": {
            "type": "string"
          },
          "parameters": {
            "description": "Any type"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "vendor": {
            "$ref": "#/components/schemas/V1AdminLogsWritesGetOutputResultsLogsItemsVendor"
          }
        },
        "required": [
          "id",
          "created_at",
          "job_id",
          "job_log_id",
          "status",
          "integration_id",
          "job_type",
          "error",
          "name",
          "vendor"
        ],
        "title": "V1AdminLogsWritesGetOutputResultsLogsItems"
      },
      "V1AdminLogsWritesGetOutputResults": {
        "type": "object",
        "properties": {
          "logs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V1AdminLogsWritesGetOutputResultsLogsItems"
            }
          }
        },
        "required": [
          "logs"
        ],
        "title": "V1AdminLogsWritesGetOutputResults"
      },
      "_v1_admin_logs_writes__get_output": {
        "type": "object",
        "properties": {
          "results": {
            "$ref": "#/components/schemas/V1AdminLogsWritesGetOutputResults"
          }
        },
        "required": [
          "results"
        ],
        "title": "_v1_admin_logs_writes__get_output"
      },
      "V1AdminLogsJobsGetParametersStatus": {
        "type": "string",
        "enum": [
          "SUCCESS",
          "FAILURE"
        ],
        "title": "V1AdminLogsJobsGetParametersStatus"
      },
      "V1AdminLogsJobsGetOutputResultsItems": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "job_id": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string"
          },
          "job_type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "parent_job_id": {
            "type": "string",
            "nullable": true
          },
          "root_job_id": {
            "type": "string"
          },
          "job_schedule_id": {
            "type": "string",
            "nullable": true
          },
          "integration_id": {
            "type": "string"
          },
          "associated_property_id": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "job_id",
          "created_at",
          "job_type",
          "status",
          "parent_job_id",
          "root_job_id",
          "job_schedule_id",
          "integration_id",
          "associated_property_id"
        ],
        "title": "V1AdminLogsJobsGetOutputResultsItems"
      },
      "_v1_admin_logs_jobs__get_output": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V1AdminLogsJobsGetOutputResultsItems"
            }
          }
        },
        "required": [
          "meta",
          "results"
        ],
        "title": "_v1_admin_logs_jobs__get_output"
      },
      "V1AdminLogsJobsIdGetOutputResultsItems": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "job_id": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string"
          },
          "job_type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "parent_job_id": {
            "type": "string",
            "nullable": true
          },
          "root_job_id": {
            "type": "string"
          },
          "job_schedule_id": {
            "type": "string",
            "nullable": true
          },
          "integration_id": {
            "type": "string"
          },
          "associated_property_id": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "job_id",
          "created_at",
          "job_type",
          "status",
          "parent_job_id",
          "root_job_id",
          "job_schedule_id",
          "integration_id",
          "associated_property_id"
        ],
        "title": "V1AdminLogsJobsIdGetOutputResultsItems"
      },
      "_v1_admin_logs_jobs_{id}_get_output": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V1AdminLogsJobsIdGetOutputResultsItems"
            }
          }
        },
        "required": [
          "meta",
          "results"
        ],
        "title": "_v1_admin_logs_jobs_{id}_get_output"
      },
      "V1AdminIntegrationsGetParametersIntegrationVendor": {
        "type": "string",
        "enum": [
          "APPFOLIO",
          "BUILDIUM",
          "ENTRATA",
          "MRI",
          "PROPERTYWARE",
          "PROPERTYWARE_REST",
          "REALPAGE",
          "REALPAGE_RPX",
          "RENTMANAGER",
          "RENTVINE",
          "RESMAN",
          "YARDI",
          "YARDI_REST"
        ],
        "description": "The integration vendor",
        "title": "V1AdminIntegrationsGetParametersIntegrationVendor"
      },
      "V1AdminIntegrationsGetOutputResultsItemsVendor": {
        "type": "string",
        "enum": [
          "APPFOLIO",
          "BUILDIUM",
          "ENTRATA",
          "FUNNEL",
          "KNOCK",
          "MRI",
          "PROPERTYWARE",
          "PROPERTYWARE_REST",
          "REALPAGE",
          "REALPAGE_RPX",
          "RENTCAFE",
          "RENTMANAGER",
          "RENTVINE",
          "RESMAN",
          "YARDI",
          "YARDI_REST"
        ],
        "description": "The property management system of record",
        "title": "V1AdminIntegrationsGetOutputResultsItemsVendor"
      },
      "V1AdminIntegrationsGetOutputResultsItemsSystem": {
        "type": "string",
        "enum": [
          "PRODUCTION",
          "SANDBOX"
        ],
        "description": "The system the integration is associated with",
        "title": "V1AdminIntegrationsGetOutputResultsItemsSystem"
      },
      "V1AdminIntegrationsGetOutputResultsItemsSyncCadence": {
        "type": "string",
        "enum": [
          "MINUTE",
          "HOUR",
          "DAY",
          "WEEK",
          "MONTH",
          "SECOND"
        ],
[...]
