{
  "openapi": "3.0.0",
  "info": {
    "title": "SonarQube Web API",
    "version": "1.0.0",
    "description": "SonarQube/SonarCloud Web API for code quality and security analysis. Provides access to projects, issues, measures, users, and more.",
    "contact": {
      "name": "SonarSource",
      "url": "https://www.sonarqube.org"
    }
  },
  "servers": [
    {
      "url": "https://sonarcloud.io/api",
      "description": "SonarCloud production server"
    },
    {
      "url": "http://localhost:9000/api",
      "description": "Local SonarQube server (default)"
    }
  ],
  "security": [
    {
      "basicAuth": []
    },
    {
      "tokenAuth": []
    }
  ],
  "paths": {
    "/authentication/validate": {
      "get": {
        "summary": "Validate credentials",
        "description": "Check credentials. Returns true for anonymous user.",
        "operationId": "validateAuthentication",
        "tags": ["authentication"],
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/authentication/logout": {
      "post": {
        "summary": "Logout",
        "description": "Logout a user",
        "operationId": "logout",
        "tags": ["authentication"],
        "responses": {
          "204": {
            "description": "Successfully logged out"
          }
        }
      }
    },
    "/projects/search": {
      "get": {
        "summary": "Search projects",
        "description": "Search for projects",
        "operationId": "searchProjects",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Query to filter projects",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "ps",
            "in": "query",
            "description": "Page size",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 500
            }
          },
          {
            "name": "organization",
            "in": "query",
            "description": "Organization key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Projects list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "paging": {
                      "type": "object",
                      "properties": {
                        "pageIndex": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    },
                    "components": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "qualifier": {
                            "type": "string"
                          },
                          "visibility": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/issues/search": {
      "get": {
        "summary": "Search issues",
        "description": "Search for issues",
        "operationId": "searchIssues",
        "tags": ["issues"],
        "parameters": [
          {
            "name": "componentKeys",
            "in": "query",
            "description": "Comma-separated list of component keys",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projects",
            "in": "query",
            "description": "Comma-separated list of project keys",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Comma-separated list of types (BUG, VULNERABILITY, CODE_SMELL)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "severities",
            "in": "query",
            "description": "Comma-separated list of severities",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Comma-separated list of statuses",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolved",
            "in": "query",
            "description": "Filter by resolution status",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "p",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "ps",
            "in": "query",
            "description": "Page size",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Issues list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "paging": {
                      "type": "object"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "rule": {
                            "type": "string"
                          },
                          "severity": {
                            "type": "string"
                          },
                          "component": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "line": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/measures/component": {
      "get": {
        "summary": "Get component measures",
        "description": "Return component measures",
        "operationId": "getComponentMeasures",
        "tags": ["measures"],
        "parameters": [
          {
            "name": "component",
            "in": "query",
            "required": true,
            "description": "Component key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metricKeys",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of metric keys",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Branch name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pullRequest",
            "in": "query",
            "description": "Pull request ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Component measures",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "component": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "measures": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "metric": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ce/activity": {
      "get": {
        "summary": "Get compute engine tasks",
        "description": "Search for Compute Engine tasks",
        "operationId": "getCeActivity",
        "tags": ["ce"],
        "parameters": [
          {
            "name": "component",
            "in": "query",
            "description": "Component key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Task status",
            "schema": {
              "type": "string",
              "enum": ["SUCCESS", "FAILED", "CANCELED", "PENDING", "IN_PROGRESS"]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Task type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "ps",
            "in": "query",
            "description": "Page size",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tasks list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tasks": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webservices/list": {
      "get": {
        "summary": "List web services",
        "description": "List all available web services",
        "operationId": "listWebServices",
        "tags": ["webservices"],
        "responses": {
          "200": {
            "description": "Web services list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webServices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "actions": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication using username and password"
      },
      "tokenAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "token",
        "description": "Token-based authentication using user token as password in basic auth"
      }
    }
  },
  "tags": [
    {
      "name": "authentication",
      "description": "Authentication operations"
    },
    {
      "name": "projects",
      "description": "Project management"
    },
    {
      "name": "issues",
      "description": "Issue tracking and management"
    },
    {
      "name": "measures",
      "description": "Code metrics and measures"
    },
    {
      "name": "ce",
      "description": "Compute Engine tasks"
    },
    {
      "name": "webservices",
      "description": "Web services metadata"
    }
  ]
}
