{
  "openapi": "3.0.0",
  "info": {
    "description": "Use these API to manage Azure Relay resources through Azure Resource Manager.",
    "title": "Relay",
    "version": "2017-04-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/relay/2017-04-01/swagger.json",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-ms-code-generation-settings": {
      "name": "RelayManagementClient"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/relay/resource-manager/Microsoft.Relay/stable/2017-04-01/relay.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "relay",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Relay/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationListResult"
                }
              }
            },
            "description": "OK. The request has succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all available Relay REST API operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "RelayOperationsList": {
            "parameters": {
              "api-version": "2017-04-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "display": {
                        "operation": "Get namespace availability.",
                        "provider": "Microsoft Azure Relay",
                        "resource": "Non Resource Operation"
                      },
                      "name": "Microsoft.Relay/checkNamespaceAvailability/action"
                    },
                    {
                      "display": {
                        "operation": "Registers the Relay Resource Provider",
                        "provider": "Microsoft Azure Relay",
                        "resource": "Relay and Hybridconnection Resource Provider"
                      },
                      "name": "Microsoft.Relay/register/action"
                    },
                    {
                      "display": {
                        "operation": "Create Or Update Namespace ",
                        "provider": "Microsoft Azure Relay",
                        "resource": "Namespace"
                      },
                      "name": "Microsoft.Relay/namespaces/write"
                    },
                    {
                      "display": {
                        "operation": "Get Namespace Resource",
                        "provider": "Microsoft Azure Relay",
                        "resource": "Namespace"
                      },
                      "name": "Microsoft.Relay/namespaces/read"
                    },
                    {
                      "display": {
                        "operation": "Delete Namespace",
                        "provider": "Microsoft Azure Relay",
                        "resource": "Namespace"
                      },
                      "name": "Microsoft.Relay/namespaces/Delete"
                    },
                    {
                      "display": {
                        "operation": "Create or Update Namespace Authorization Rules",
                        "provider": "Microsoft Azure Relay",
                        "resource": "AuthorizationRules"
                      },
                      "name": "Microsoft.Relay/namespaces/authorizationRules/write"
                    },
                    {
                      "display": {
                        "operation": "Delete Namespace Authorization Rule",
                        "provider": "Microsoft Azure Relay",
                        "resource": "AuthorizationRules"
                      },
                      "name": "Microsoft.Relay/namespaces/authorizationRules/delete"
                    },
                    {
                      "display": {
                        "operation": "Get Namespace Listkeys",
                        "provider": "Microsoft Azure Relay",
                        "resource": "AuthorizationRules"
                      },
                      "name": "Microsoft.Relay/namespaces/authorizationRules/listkeys/action"
                    },
                    {
                      "display": {
                        "operation": "Create or Update HybridConnection",
                        "provider": "Microsoft Azure Relay",
                        "resource": "HybridConnection"
                      },
                      "name": "Microsoft.Relay/namespaces/HybridConnections/write"
                    },
                    {
                      "display": {
                        "operation": "Get HybridConnection",
                        "provider": "Microsoft Azure Relay",
                        "resource": "HybridConnection"
                      },
                      "name": "Microsoft.Relay/namespaces/HybridConnections/read"
                    },
                    {
                      "display": {
                        "operation": "Delete HybridConnection",
                        "provider": "Microsoft Azure Relay",
                        "resource": "HybridConnection"
                      },
                      "name": "Microsoft.Relay/namespaces/HybridConnections/Delete"
                    },
                    {
                      "display": {
                        "operation": "Create or Update HybridConnection Authorization Rule",
                        "provider": "Microsoft Azure Relay",
                        "resource": "HybridConnection AuthorizationRules"
                      },
                      "name": "Microsoft.Relay/namespaces/HybridConnections/authorizationRules/write"
                    },
                    {
                      "display": {
                        "operation": "Delete HybridConnection Authorization Rules",
                        "provider": "Microsoft Azure Relay",
                        "resource": "HybridConnection AuthorizationRules"
                      },
                      "name": "Microsoft.Relay/namespaces/HybridConnections/authorizationRules/delete"
                    },
                    {
                      "display": {
                        "operation": "List HybridConnection keys",
                        "provider": "Microsoft Azure Relay",
                        "resource": "HybridConnection AuthorizationRules"
                      },
                      "name": "Microsoft.Relay/namespaces/HybridConnections/authorizationRules/listkeys/action"
                    },
                    {
                      "display": {
                        "operation": "Create or Update WcfRelay",
                        "provider": "Microsoft Azure Relay",
                        "resource": "WcfRelay"
                      },
                      "name": "Microsoft.Relay/namespaces/WcfRelays/write"
                    },
                    {
                      "display": {
                        "operation": "Get WcfRelay",
                        "provider": "Microsoft Azure Relay",
                        "resource": "WcfRelay"
                      },
                      "name": "Microsoft.Relay/namespaces/WcfRelays/read"
                    },
                    {
                      "display": {
                        "operation": "Delete WcfRelay",
                        "provider": "Microsoft Azure Relay",
                        "resource": "WcfRelay"
                      },
                      "name": "Microsoft.Relay/namespaces/WcfRelays/Delete"
                    },
                    {
                      "display": {
                        "operation": "Create or Update WcfRelay Authorization Rule",
                        "provider": "Microsoft Azure Relay",
                        "resource": "WcfRelay AuthorizationRules"
                      },
                      "name": "Microsoft.Relay/namespaces/WcfRelays/authorizationRules/write"
                    },
                    {
                      "display": {
                        "operation": "Delete WcfRelay Authorization Rules",
                        "provider": "Microsoft Azure Relay",
                        "resource": "WcfRelay AuthorizationRules"
                      },
                      "name": "Microsoft.Relay/namespaces/WcfRelays/authorizationRules/delete"
                    },
                    {
                      "display": {
                        "operation": "List WcfRelay keys",
                        "provider": "Microsoft Azure Relay",
                        "resource": "WcfRelay AuthorizationRules"
                      },
                      "name": "Microsoft.Relay/namespaces/WcfRelays/authorizationRules/listkeys/action"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Relay/checkNameAvailability": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckNameAvailabilityResult"
                }
              }
            },
            "description": "Check availability returned successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Check the specified namespace name availability.",
        "operationId": "Namespaces_CheckNameAvailability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckNameAvailability"
              }
            }
          },
          "description": "Parameters to check availability of the specified namespace name.",
          "required": true
        },
        "x-ms-examples": {
          "RelayCheckNameAvailability": {
            "parameters": {
              "parameters": {
                "name": "sdk-Namespace1321"
              },
              "api-version": "2017-04-01",
              "subscriptionId": "e2f361f0-3b27-4503-a9cc-21cfba380093"
            },
            "responses": {
              "200": {
                "body": {
                  "message": "",
                  "nameAvailable": true,
                  "reason": "None"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Relay/namespaces": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelayNamespaceListResult"
                }
              }
            },
            "description": "Namespaces returned successfully"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Lists all the available namespaces within the subscription regardless of the resourceGroups.",
        "operationId": "Namespaces_List",
        "x-ms-examples": {
          "RelayNameSpaceListBySubscription": {
            "parameters": {
              "api-version": "2017-04-01",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "tags": {
                        "tag1": "value1",
                        "tag2": "value2"
                      },
                      "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG1-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01",
                      "location": "West US",
                      "name": "sdk-RelayNamespace-01",
                      "properties": {
                        "createdAt": "2017-01-23T20:34:49.4131724Z",
                        "metricId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef:sdk-RelayNamespace-01",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://sdk-RelayNamespace-01.servicebus.windows.net:443/",
                        "updatedAt": "2017-01-23T20:34:59.4131724Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "type": "Microsoft.Relay/Namespaces"
                    },
                    {
                      "tags": {
                        "tag1": "value1",
                        "tag2": "value2"
                      },
                      "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG1-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-02",
                      "location": "West US",
                      "name": "sdk-RelayNamespace-02",
                      "properties": {
                        "createdAt": "2017-01-23T20:34:39.4131724Z",
                        "metricId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef:sdk-RelayNamespace-02",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://sdk-RelayNamespace-02.servicebus.windows.net:443/",
                        "updatedAt": "2017-01-23T20:34:49.4131724Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "type": "Microsoft.Relay/Namespaces"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelayNamespaceListResult"
                }
              }
            },
            "description": "Namespaces by resource group returned successfully"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Lists all the available namespaces within the ResourceGroup.",
        "operationId": "Namespaces_ListByResourceGroup",
        "x-ms-examples": {
          "RelayNameSpaceListByResourceGroup": {
            "parameters": {
              "api-version": "2017-04-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "tags": {
                        "tag1": "value1",
                        "tag2": "value2"
                      },
                      "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01",
                      "location": "West US",
                      "name": "sdk-RelayNamespace-01",
                      "properties": {
                        "createdAt": "2017-01-23T20:34:49.4131724Z",
                        "metricId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef:sdk-RelayNamespace-01",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://sdk-RelayNamespace-01.servicebus.windows.net:443/",
                        "updatedAt": "2017-01-23T20:34:59.4131724Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "type": "Microsoft.Relay/Namespaces"
                    },
                    {
                      "tags": {
                        "tag1": "value1",
                        "tag2": "value2"
                      },
                      "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-02",
                      "location": "West US",
                      "name": "sdk-RelayNamespace-02",
                      "properties": {
                        "createdAt": "2017-01-23T20:34:39.4131724Z",
                        "metricId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef:sdk-RelayNamespace-02",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://sdk-RelayNamespace-02.servicebus.windows.net:443/",
                        "updatedAt": "2017-01-23T20:34:49.4131724Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "type": "Microsoft.Relay/Namespaces"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Namespace delete request succeeded."
          },
          "202": {
            "description": "Namespace delete request has been accepted for processing and the operation will complete asynchronously."
          },
          "204": {
            "description": "Namespace delete request has been accepted, but the namespace was not found."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Deletes an existing namespace. This operation also removes all associated resources under the namespace.",
        "operationId": "Namespaces_Delete",
        "x-ms-examples": {
          "RelayNameSpaceDelete": {
            "parameters": {
              "api-version": "2017-04-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {},
              "202": {},
              "204": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelayNamespace"
                }
              }
            },
            "description": "Namespace description returned successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Returns the description for the specified namespace.",
        "operationId": "Namespaces_Get",
        "x-ms-examples": {
          "RelayNameSpaceGet": {
            "parameters": {
              "api-version": "2017-04-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "tag1": "value1",
                    "tag2": "value2"
                  },
                  "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01",
                  "location": "West US",
                  "name": "sdk-RelayNamespace-01",
                  "properties": {
                    "createdAt": "2017-01-23T20:38:12.46Z",
                    "metricId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef:sdk-RelayNamespace-01",
                    "provisioningState": "Succeeded",
                    "serviceBusEndpoint": "https://sdk-RelayNamespace-01.servicebus.windows.net:443/",
                    "updatedAt": "2017-01-23T20:38:34.533Z"
                  },
                  "sku": {
                    "name": "Standard",
                    "tier": "Standard"
                  },
                  "type": "Microsoft.Relay/Namespaces"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelayNamespace"
                }
              }
            },
            "description": "Namespace successfuly updated."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelayNamespace"
                }
              }
            },
            "description": "Namespace update request accepted."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Creates or updates a namespace. Once created, this namespace's resource manifest is immutable. This operation is idempotent.",
        "operationId": "Namespaces_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelayUpdateParameters"
              }
            }
          },
          "description": "Parameters for updating a namespace resource.",
          "required": true
        },
        "x-ms-examples": {
          "RelayNameSpaceUpdate": {
            "parameters": {
              "parameters": {
                "tags": {
                  "tag3": "value3",
                  "tag4": "value4",
                  "tag5": "value5",
                  "tag6": "value6"
                }
              },
              "api-version": "2017-04-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "tag3": "value3",
                    "tag4": "value4",
                    "tag5": "value5",
                    "tag6": "value6"
                  },
                  "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01",
                  "location": "West US",
                  "name": "sdk-RelayNamespace-01",
                  "properties": {
                    "metricId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef:sdk-relaynamespace-01",
                    "provisioningState": "Succeeded"
                  },
                  "type": "Microsoft.Relay/Namespaces"
                }
              },
              "201": {}
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelayNamespace"
                }
              }
            },
            "description": "Namespace create request succeeded."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelayNamespace"
                }
              }
            },
            "description": "Namespace create request accepted."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Create Azure Relay namespace.",
        "operationId": "Namespaces_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelayNamespace"
              }
            }
          },
          "description": "Parameters supplied to create a namespace resource.",
          "required": true
        },
        "x-ms-examples": {
          "RelayNamespaceCreate": {
            "parameters": {
              "parameters": {
                "tags": {
                  "tag1": "value1",
                  "tag2": "value2"
                },
                "location": "West US",
                "sku": {
                  "name": "Standard",
                  "tier": "Standard"
                }
              },
              "api-version": "2017-04-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "tag1": "value1",
                    "tag2": "value2"
                  },
                  "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01",
                  "location": "West US",
                  "name": "sdk-RelayNamespace-01",
                  "properties": {
                    "metricId": "e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-relaynamespace-01",
                    "provisioningState": "Unknown"
                  },
                  "sku": {
                    "name": "Standard",
                    "tier": "Standard"
                  },
                  "type": "Microsoft.Relay/Namespaces"
                }
              },
              "201": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/authorizationRules": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRuleListResult"
                }
              }
            },
            "description": "Namespace authorization rule returned successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Authorization rules for a namespace.",
        "operationId": "Namespaces_ListAuthorizationRules",
        "x-ms-examples": {
          "RelayNameSpaceAutorizationRuleListAll": {
            "parameters": {
              "api-version": "2017-04-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/AuthorizationRules/RootManageSharedAccessKey",
                      "name": "RootManageSharedAccessKey",
                      "properties": {
                        "rights": [
                          "Listen",
                          "Manage",
                          "Send"
                        ]
                      },
                      "type": "Microsoft.Relay/Namespaces/AuthorizationRules"
                    },
                    {
                      "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/AuthorizationRules/sdk-RelayAuthRules-01",
                      "name": "sdk-RelayAuthRules-01",
                      "properties": {
                        "rights": [
                          "Listen",
                          "Send"
                        ]
                      },
                      "type": "Microsoft.Relay/Namespaces/AuthorizationRules"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/authorizationRules/{authorizationRuleName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request to delete namespace authorization rule succeeded."
          },
          "204": {
            "description": "No content. The request has been accepted but the namespace authorization rule was not found."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Deletes a namespace authorization rule.",
        "operationId": "Namespaces_DeleteAuthorizationRule",
        "x-ms-examples": {
          "RelayNameSpaceAutorizationRuleDelete": {
            "parameters": {
              "api-version": "2017-04-01",
              "authorizationRuleName": "sdk-RelayAuthRules-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRule"
                }
              }
            },
            "description": "Namespace Authorization rule returned successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Authorization rule for a namespace by name.",
        "operationId": "Namespaces_GetAuthorizationRule",
        "x-ms-examples": {
          "RelayNameSpaceAutorizationRuleGet": {
            "parameters": {
              "api-version": "2017-04-01",
              "authorizationRuleName": "sdk-RelayAuthRules-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/AuthorizationRules/sdk-RelayAuthRules-01",
                  "name": "sdk-RelayAuthRules-01",
                  "properties": {
                    "rights": [
                      "Listen"
                    ]
                  },
                  "type": "Microsoft.Relay/Namespaces/AuthorizationRules"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRule"
                }
              }
            },
            "description": "Request to create namespace authorization rule succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Creates or updates an authorization rule for a namespace.",
        "operationId": "Namespaces_CreateOrUpdateAuthorizationRule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizationRule"
              }
            }
          },
          "description": "The authorization rule parameters.",
          "required": true
        },
        "x-ms-examples": {
          "RelayNameSpaceAuthorizationRuleCreate": {
            "parameters": {
              "parameters": {
                "properties": {
                  "rights": [
                    "Listen",
                    "Send"
                  ]
                }
              },
              "api-version": "2017-04-01",
              "authorizationRuleName": "sdk-RelayAuthRules-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/AuthorizationRules/sdk-RelayAuthRules-01",
                  "name": "sdk-RelayAuthRules-01",
                  "properties": {
                    "rights": [
                      "Listen",
                      "Send"
                    ]
                  },
                  "type": "Microsoft.Relay/Namespaces/AuthorizationRules"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/authorizationRules/{authorizationRuleName}/listKeys": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessKeys"
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Primary and secondary connection strings to the namespace.",
        "operationId": "Namespaces_ListKeys",
        "x-ms-examples": {
          "RelayNameSpaceAuthorizationRuleListKey": {
            "parameters": {
              "api-version": "2017-04-01",
              "authorizationRuleName": "sdk-RelayAuthRules-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "keyName": "sdk-RelayAuthRules-01",
                  "primaryConnectionString": "Endpoint=sb://sdk-relaynamespace-01.servicebus.windows.net/;SharedAccessKeyName=sdk-RelayAuthRules-01;SharedAccessKey=############################################",
                  "primaryKey": "############################################",
                  "secondaryConnectionString": "Endpoint=sb://sdk-relaynamespace-01.servicebus.windows.net/;SharedAccessKeyName=sdk-RelayAuthRules-01;SharedAccessKey=############################################",
                  "secondaryKey": "############################################"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/authorizationRules/{authorizationRuleName}/regenerateKeys": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessKeys"
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "Namespaces"
        ],
        "description": "Regenerates the primary or secondary connection strings to the namespace.",
        "operationId": "Namespaces_RegenerateKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegenerateAccessKeyParameters"
              }
            }
          },
          "description": "Parameters supplied to regenerate authorization rule.",
          "required": true
        },
        "x-ms-examples": {
          "RelayNameSpaceAuthorizationRuleRegenrateKey": {
            "parameters": {
              "parameters": {
                "keyType": "PrimaryKey"
              },
              "api-version": "2017-04-01",
              "authorizationRuleName": "sdk-RelayAuthRules-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "keyName": "sdk-RelayAuthRules-01",
                  "primaryConnectionString": "Endpoint=sb://sdk-relaynamespace-01.servicebus.windows.net/;SharedAccessKeyName=sdk-RelayAuthRules-01;SharedAccessKey=############################################",
                  "primaryKey": "############################################",
                  "secondaryConnectionString": "Endpoint=sb://sdk-relaynamespace-01.servicebus.windows.net/;SharedAccessKeyName=sdk-RelayAuthRules-01;SharedAccessKey=############################################",
                  "secondaryKey": "############################################"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HybridConnectionListResult"
                }
              }
            },
            "description": "Request to retrieve hybrid connections by namespace succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "Lists the hybrid connection within the namespace.",
        "operationId": "HybridConnections_ListByNamespace",
        "x-ms-examples": {
          "RelayHybridConnectionListAll": {
            "parameters": {
              "api-version": "2017-04-01",
              "hybridConnectionName": "sdk-Relay-Hybrid-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/HybridConnections/sdk-Relay-Hybrid-01",
                      "name": "sdk-Relay-Hybrid-01",
                      "properties": {
                        "createdAt": "2017-01-23T20:34:49.4131724Z",
                        "listenerCount": 1,
                        "requiresClientAuthorization": true,
                        "updatedAt": "2017-01-23T20:34:49.4131724Z",
                        "userMetadata": "usermetadata is a placeholder to store user-defined string data for the HybridConnection endpoint.e.g. it can be used to store  descriptive data, such as list of teams and their contact information also user-defined configuration settings can be stored."
                      },
                      "type": "Microsoft.Relay/Namespaces/HybridConnections"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections/{hybridConnectionName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/hybridConnectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request to delete hybrid connection succeeded."
          },
          "204": {
            "description": "No content. The request has been accepted but the hybrid connection was not found."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "Deletes a hybrid connection.",
        "operationId": "HybridConnections_Delete",
        "x-ms-examples": {
          "RelayHybridconnectionDelete": {
            "parameters": {
              "api-version": "2017-04-01",
              "hybridConnectionName": "sdk-Relay-Hybrid-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/hybridConnectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HybridConnection"
                }
              }
            },
            "description": "Successfully retrieved description for the hybrid connection."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "Returns the description for the specified hybrid connection.",
        "operationId": "HybridConnections_Get",
        "x-ms-examples": {
          "RelayHybridConnectionGet": {
            "parameters": {
              "api-version": "2017-04-01",
              "hybridConnectionName": "sdk-Relay-Hybrid-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/HybridConnections/sdk-Relay-Hybrid-01",
                  "name": "sdk-Relay-Hybrid-01",
                  "properties": {
                    "createdAt": "2017-01-23T20:34:49.4131724Z",
                    "listenerCount": 1,
                    "requiresClientAuthorization": true,
                    "updatedAt": "2017-01-23T20:34:49.4131724Z",
                    "userMetadata": "usermetadata is a placeholder to store user-defined string data for the HybridConnection endpoint.e.g. it can be used to store  descriptive data, such as list of teams and their contact information also user-defined configuration settings can be stored."
                  },
                  "type": "Microsoft.Relay/Namespaces/HybridConnections"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/hybridConnectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HybridConnection"
                }
              }
            },
            "description": "Request to create hybrid connections succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "Creates or updates a service hybrid connection. This operation is idempotent.",
        "operationId": "HybridConnections_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HybridConnection"
              }
            }
          },
          "description": "Parameters supplied to create a hybrid connection.",
          "required": true
        },
        "x-ms-examples": {
          "RelayHybridConnectionCreate": {
            "parameters": {
              "parameters": {
                "properties": {
                  "requiresClientAuthorization": true
                }
              },
              "api-version": "2017-04-01",
              "hybridConnectionName": "sdk-Relay-Hybrid-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/HybridConnections/sdk-Relay-Hybrid-01",
                  "name": "sdk-Relay-Hybrid-01",
                  "properties": {
                    "createdAt": "2017-01-23T20:34:49.4131724Z",
                    "requiresClientAuthorization": true,
                    "updatedAt": "2017-01-23T20:34:49.4131724Z"
                  },
                  "type": "Microsoft.Relay/Namespaces/HybridConnections"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections/{hybridConnectionName}/authorizationRules": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/hybridConnectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRuleListResult"
                }
              }
            },
            "description": "Authorization rules successfully returned."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "Authorization rules for a hybrid connection.",
        "operationId": "HybridConnections_ListAuthorizationRules",
        "x-ms-examples": {
          "RelayHybridConnectionAutorizationRuleListAll": {
            "parameters": {
              "api-version": "2017-04-01",
              "hybridConnectionName": "sdk-Relay-Hybrid-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/HybridConnections/sdk-Relay-Hybrid-01/AuthorizationRules/sdk-RelayAuthRules-01",
                      "name": "sdk-RelayAuthRules-01",
                      "properties": {
                        "rights": [
                          "Listen",
                          "Send"
                        ]
                      },
                      "type": "Microsoft.Relay/Namespaces/Hybridconnections/AuthorizationRules"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections/{hybridConnectionName}/authorizationRules/{authorizationRuleName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/hybridConnectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Hybrid connection authorization rule deleted."
          },
          "204": {
            "description": "Authorization rule does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "Deletes a hybrid connection authorization rule.",
        "operationId": "HybridConnections_DeleteAuthorizationRule",
        "x-ms-examples": {
          "RelayHybridConnectionAutorizationRuleDelete": {
            "parameters": {
              "api-version": "2017-04-01",
              "authorizationRuleName": "sdk-RelayAuthRules-01",
              "hybridConnectionName": "sdk-Relay-Hybrid-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/hybridConnectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRule"
                }
              }
            },
            "description": "Hybrid connection authorization rule returned successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "Hybrid connection authorization rule for a hybrid connection by name.",
        "operationId": "HybridConnections_GetAuthorizationRule",
        "x-ms-examples": {
          "RelayHybridConnectionAutorizationRuleGet": {
            "parameters": {
              "api-version": "2017-04-01",
              "authorizationRuleName": "sdk-RelayAuthRules-01",
              "hybridConnectionName": "sdk-Relay-Hybrid-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/HybridConnections/sdk-Relay-Hybrid-01/AuthorizationRules/sdk-RelayAuthRules-01",
                  "name": "sdk-RelayAuthRules-01",
                  "properties": {
                    "rights": [
                      "Listen"
                    ]
                  },
                  "type": "Microsoft.Relay/Namespaces/Hybridconnections/AuthorizationRules"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/hybridConnectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRule"
                }
              }
            },
            "description": "Hybrid connection authorization rule created."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "Creates or updates an authorization rule for a hybrid connection.",
        "operationId": "HybridConnections_CreateOrUpdateAuthorizationRule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizationRule"
              }
            }
          },
          "description": "The authorization rule parameters.",
          "required": true
        },
        "x-ms-examples": {
          "RelayHybridConnectionAuthorizationRuleCreate": {
            "parameters": {
              "parameters": {
                "properties": {
                  "rights": [
                    "Listen",
                    "Send"
                  ]
                }
              },
              "api-version": "2017-04-01",
              "authorizationRuleName": "sdk-RelayAuthRules-01",
              "hybridConnectionName": "sdk-Relay-Hybrid-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/HybridConnections/sdk-Relay-Hybrid-01/AuthorizationRules/sdk-RelayAuthRules-01",
                  "name": "sdk-RelayAuthRules-01",
                  "properties": {
                    "rights": [
                      "Listen",
                      "Send"
                    ]
                  },
                  "type": "Microsoft.Relay/Namespaces/Hybridconnections/AuthorizationRules"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections/{hybridConnectionName}/authorizationRules/{authorizationRuleName}/listKeys": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/hybridConnectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessKeys"
                }
              }
            },
            "description": "Request to retirve connection strings to the hybrid connection succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "Primary and secondary connection strings to the hybrid connection.",
        "operationId": "HybridConnections_ListKeys",
        "x-ms-examples": {
          "RelayHybridConnectionAuthorizationRuleListKey": {
            "parameters": {
              "api-version": "2017-04-01",
              "authorizationRuleName": "sdk-RelayAuthRules-01",
              "hybridConnectionName": "sdk-Relay-Hybrid-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "keyName": "sdk-RelayAuthRules-01",
                  "primaryConnectionString": "Endpoint=sb://sdk-relaynamespace-01.servicebus.windows.net/;SharedAccessKeyName=sdk-RelayAuthRules-01;SharedAccessKey=############################################",
                  "primaryKey": "############################################",
                  "secondaryConnectionString": "Endpoint=sb://sdk-relaynamespace-01.servicebus.windows.net/;SharedAccessKeyName=sdk-RelayAuthRules-01;SharedAccessKey=############################################",
                  "secondaryKey": "############################################"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections/{hybridConnectionName}/authorizationRules/{authorizationRuleName}/regenerateKeys": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/hybridConnectionNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessKeys"
                }
              }
            },
            "description": "Request to regenerate connection strings to hybrid connection succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "HybridConnections"
        ],
        "description": "Regenerates the primary or secondary connection strings to the hybrid connection.",
        "operationId": "HybridConnections_RegenerateKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegenerateAccessKeyParameters"
              }
            }
          },
          "description": "Parameters supplied to regenerate authorization rule.",
          "required": true
        },
        "x-ms-examples": {
          "RelayHybridConnectionAuthorizationRuleRegenrateKey": {
            "parameters": {
              "parameters": {
                "keyType": "PrimaryKey"
              },
              "api-version": "2017-04-01",
              "authorizationRuleName": "sdk-RelayAuthRules-01",
              "hybridConnectionName": "sdk-Relay-Hybrid-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "keyName": "sdk-RelayAuthRules-01",
                  "primaryConnectionString": "Endpoint=sb://sdk-relaynamespace-01.servicebus.windows.net/;SharedAccessKeyName=sdk-RelayAuthRules-01;SharedAccessKey=############################################",
                  "primaryKey": "############################################",
                  "secondaryConnectionString": "Endpoint=sb://sdk-relaynamespace-01.servicebus.windows.net/;SharedAccessKeyName=sdk-RelayAuthRules-01;SharedAccessKey=############################################",
                  "secondaryKey": "############################################"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WcfRelaysListResult"
                }
              }
            },
            "description": "WCF relays returned successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Lists the WCF relays within the namespace.",
        "operationId": "WCFRelays_ListByNamespace",
        "x-ms-examples": {
          "RelayListAll": {
            "parameters": {
              "api-version": "2017-04-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG1-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/WcfRelays/sdk-Relay-Wcf-01",
                      "name": "sdk-Relay-Wcf-01",
                      "properties": {
                        "createdAt": "2017-01-24T00:46:27.0049983Z",
                        "isDynamic": false,
                        "relayType": "NetTcp",
                        "requiresClientAuthorization": true,
                        "requiresTransportSecurity": true,
                        "updatedAt": "2017-01-24T00:46:27.0049983Z",
                        "userMetadata": "usermetadata is a placeholder to store user-defined string data for the HybridConnection endpoint.e.g. it can be used to store  descriptive data, such as list of teams and their contact information also user-defined configuration settings can be stored"
                      },
                      "type": "Microsoft.Relay/Namespaces/WcfRelays"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays/{relayName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/relayNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "WCF relay deleted."
          },
          "204": {
            "description": "No content."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Deletes a WCF relay.",
        "operationId": "WCFRelays_Delete",
        "x-ms-examples": {
          "RelayDelete": {
            "parameters": {
              "api-version": "2017-04-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "relayName": "sdk-Relay-wcf-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "e2f361f0-3b27-4503-a9cc-21cfba380093"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/relayNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WcfRelay"
                }
              }
            },
            "description": "Successfully retrieved WCF relay description."
          },
          "204": {
            "description": "WCF relay not found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Returns the description for the specified WCF relay.",
        "operationId": "WCFRelays_Get",
        "x-ms-examples": {
          "RelayGet": {
            "parameters": {
              "api-version": "2017-04-01",
              "namespaceName": "sdk-RelayNamespace-9953",
              "relayName": "sdk-Relay-Wcf-1194",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-9953/WcfRelays/sdk-Relay-Wcf-1194",
                  "name": "sdk-Relay-Wcf-1194",
                  "properties": {
                    "createdAt": "2017-03-16T00:26:17.5014661Z",
                    "isDynamic": false,
                    "listenerCount": 0,
                    "relayType": "NetTcp",
                    "requiresClientAuthorization": true,
                    "requiresTransportSecurity": true,
                    "updatedAt": "2017-03-16T00:26:17.5014661Z"
                  },
                  "type": "Microsoft.Relay/WcfRelays"
                }
              },
              "204": {}
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/relayNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WcfRelay"
                }
              }
            },
            "description": "Request to create WCF relay succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Creates or updates a WCF relay. This operation is idempotent.",
        "operationId": "WCFRelays_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WcfRelay"
              }
            }
          },
          "description": "Parameters supplied to create a WCF relay.",
          "required": true
        },
        "x-ms-examples": {
          "RelayCreate": {
            "parameters": {
              "parameters": {
                "properties": {
                  "relayType": "NetTcp",
                  "requiresClientAuthorization": true,
                  "requiresTransportSecurity": true
                }
              },
              "api-version": "2017-04-01",
              "namespaceName": "sdk-RelayNamespace-9953",
              "relayName": "sdk-Relay-Wcf-1194",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "e2f361f0-3b27-4503-a9cc-21cfba380093"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-9953/WcfRelays/sdk-Relay-Wcf-1194",
                  "name": "sdk-Relay-Wcf-1194",
                  "properties": {
                    "createdAt": "2017-03-16T00:26:17.5014661Z",
                    "isDynamic": false,
                    "relayType": "NetTcp",
                    "requiresClientAuthorization": true,
                    "requiresTransportSecurity": true,
                    "updatedAt": "2017-03-16T00:26:17.5014661Z"
                  },
                  "type": "Microsoft.Relay/WcfRelays"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays/{relayName}/authorizationRules": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/relayNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRuleListResult"
                }
              }
            },
            "description": "Authorization rules successfully returned."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Authorization rules for a WCF relay.",
        "operationId": "WCFRelays_ListAuthorizationRules",
        "x-ms-examples": {
          "RelayAutorizationRuleListAll": {
            "parameters": {
              "api-version": "2017-04-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "relayName": "sdk-Relay-Wcf-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/WcfRelays/sdk-Relay-Wcf-01/AuthorizationRules/sdk-RelayAuthRules-01",
                      "name": "sdk-RelayAuthRules-01",
                      "properties": {
                        "rights": [
                          "Listen",
                          "Send"
                        ]
                      },
                      "type": "Microsoft.Relay/Namespaces/WcfRelay/AuthorizationRules"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays/{relayName}/authorizationRules/{authorizationRuleName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/relayNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request to delete WCF relay authorization rule succeeded."
          },
          "204": {
            "description": "Request accepted butthe authorization rule does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Deletes a WCF relay authorization rule.",
        "operationId": "WCFRelays_DeleteAuthorizationRule",
        "x-ms-examples": {
          "RelayAutorizationRuleDelete": {
            "parameters": {
              "api-version": "2017-04-01",
              "authorizationRuleName": "sdk-RelayAuthRules-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "relayName": "sdk-Relay-wcf-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/relayNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRule"
                }
              }
            },
            "description": "Request for WCF relay authorization rule succeeded."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Get authorizationRule for a WCF relay by name.",
        "operationId": "WCFRelays_GetAuthorizationRule",
        "x-ms-examples": {
          "RelayAutorizationRuleGet": {
            "parameters": {
              "api-version": "2017-04-01",
              "authorizationRuleName": "sdk-RelayAuthRules-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "relayName": "sdk-Relay-wcf-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/WcfRelays/sdk-Relay-Wcf-01/AuthorizationRules/sdk-RelayAuthRules-01",
                  "name": "sdk-RelayAuthRules-01",
                  "properties": {
                    "rights": [
                      "Listen"
                    ]
                  },
                  "type": "Microsoft.Relay/Namespaces/WcfRelay/AuthorizationRules"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/relayNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationRule"
                }
              }
            },
            "description": "WCF relay authorization rule created."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Creates or updates an authorization rule for a WCF relay.",
        "operationId": "WCFRelays_CreateOrUpdateAuthorizationRule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizationRule"
              }
            }
          },
          "description": "The authorization rule parameters.",
          "required": true
        },
        "x-ms-examples": {
          "RelayAuthorizationRuleCreate": {
            "parameters": {
              "parameters": {
                "properties": {
                  "rights": [
                    "Listen",
                    "Send"
                  ]
                }
              },
              "api-version": "2017-04-01",
              "authorizationRuleName": "sdk-RelayAuthRules-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "relayName": "sdk-Relay-wcf-01",
              "resourceGroupName": "RG-eg",
              "subscriptionId": "8c246e6a-cbc6-4a87-aff1-d6a886f376ef"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/8c246e6a-cbc6-4a87-aff1-d6a886f376ef/resourceGroups/RG-eg/providers/Microsoft.Relay/namespaces/sdk-RelayNamespace-01/WcfRelays/sdk-Relay-Wcf-01/AuthorizationRules/sdk-RelayAuthRules-01",
                  "name": "sdk-RelayAuthRules-01",
                  "properties": {
                    "rights": [
                      "Listen",
                      "Send"
                    ]
                  },
                  "type": "Microsoft.Relay/Namespaces/WcfRelay/AuthorizationRules"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays/{relayName}/authorizationRules/{authorizationRuleName}/listKeys": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/components/parameters/relayNameParameter"
          },
          {
            "$ref": "#/components/parameters/authorizationRuleNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessKeys"
                }
              }
            },
            "description": "Successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Relay error response describing why the operation failed."
          }
        },
        "tags": [
          "WCFRelays"
        ],
        "description": "Primary and secondary connection strings to the WCF relay.",
        "operationId": "WCFRelays_ListKeys",
        "x-ms-examples": {
          "RelayAuthorizationRuleListKey.json": {
            "parameters": {
              "api-version": "2017-04-01",
              "authorizationRuleName": "sdk-RelayAuthRules-01",
              "namespaceName": "sdk-RelayNamespace-01",
              "relayName": "sdk-Relay-wcf-01",
[...]
