{
  "openapi": "3.0.3",
  "info": {
    "title": "AvaTax API",
    "description": "REST interface to Avalara's enterprise tax service, AvaTax.",
    "contact": {
      "name": "Avalara Developer Community",
      "url": "https://community.avalara.com"
    },
    "license": {
      "name": "Terms of Use",
      "url": "https://www.avalara.com/terms-of-use/"
    },
    "version": "v2",
    "x-jentic-source-url": "https://developer.avalara.com"
  },
  "servers": [
    {
      "url": "https://rest.avatax.com",
      "description": "Production"
    },
    {
      "url": "https://sandbox-rest.avatax.com",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/api/v2/accounts": {
      "get": {
        "summary": "Retrieve all accounts",
        "description": "List all account objects that can be seen by the current user.\r\n            \r\nThis API lists all accounts you are allowed to see.  In general, most users will only be able to see their own account.\r\n            \r\nSearch for specific objects using the criteria in the `$filter` parameter; full documentation is available on [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .\r\nPaginate your results using the `$top`, `$skip`, and `$orderby` parameters.\r\nYou may specify one or more of the following values in the `$include` parameter to fetch additional nested data, using commas to separate multiple values:\r\n            \r\n* Subscriptions\r\n* Users\r\n            \r\nFor more information about filtering in REST, please see the documentation at http://developer.avalara.com/avatax/filtering-in-rest/ .\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, AvaTaxOnlyAccountAdmin, AvaTaxOnlyAccountUser, AvaTaxOnlyCompanyAdmin, AvaTaxOnlyCompanyUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, Compliance Root User, ComplianceAdmin, ComplianceUser, CSPAdmin, CSPTester, ECMAccountUser, ECMCompanyUser, FirmAdmin, FirmUser, Registrar, ReturnsOnlyAccountAdmin, ReturnsOnlyAccountUser, ReturnsOnlyCompanyAdmin, ReturnsOnlyCompanyUser, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser, TreasuryAdmin, TreasuryUser.\n",
        "operationId": "QueryAccounts",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$include",
            "description": "A comma separated list of objects to fetch underneath this account.  Any object with a URL path underneath this account can be fetched by specifying its name.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "A filter statement to identify specific records to retrieve.  For more information on filtering, see [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/).<br />*Not filterable:* subscriptions, users",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "If nonzero, return no more than this number of results.  Used with `$skip` to provide pagination for large datasets.  Unless otherwise specified, the maximum number of records that can be returned from an API call is 1,000 records.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "If nonzero, skip this number of results before returning data.  Used with `$top` to provide pagination for large datasets.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$orderBy",
            "description": "A comma separated list of sort statements in the format `(fieldname) [ASC|DESC]`, for example `id ASC`.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AccountModelFetchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create a new account",
        "description": "# For Registrar Use Only\r\nThis API is for use by Avalara Registrar administrative users only.\r\n            \r\nCreate a single new account object.\r\nWhen creating an account object you may attach subscriptions and users as part of the 'Create' call.\n\n### Security Policies\n\n* This API requires one of the following user roles: BatchServiceAdmin, FirmAdmin, Registrar, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.\n",
        "operationId": "CreateAccount",
        "tags": [
          "Registrar"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AccountModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/AccountModel"
              }
            }
          }
        }
      }
    },
    "/api/v2/accounts/{id}": {
      "get": {
        "summary": "Retrieve a single account",
        "description": "Get the account object identified by this URL.\r\nYou may use the '$include' parameter to fetch additional nested data:\r\n            \r\n* Subscriptions\r\n* Users\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, AvaTaxOnlyAccountAdmin, AvaTaxOnlyAccountUser, AvaTaxOnlyCompanyAdmin, AvaTaxOnlyCompanyUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, Compliance Root User, ComplianceAdmin, ComplianceUser, CSPAdmin, CSPTester, ECMAccountUser, ECMCompanyUser, FirmAdmin, FirmUser, Registrar, ReturnsOnlyAccountAdmin, ReturnsOnlyAccountUser, ReturnsOnlyCompanyAdmin, ReturnsOnlyCompanyUser, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser, TreasuryAdmin, TreasuryUser.\n",
        "operationId": "GetAccount",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the account to retrieve",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$include",
            "description": "A comma separated list of special fetch options",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AccountModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "summary": "Update a single account",
        "description": "# For Registrar Use Only\r\nThis API is for use by Avalara Registrar administrative users only.\r\n            \r\nReplace an existing account object with an updated account object.\n\n### Security Policies\n\n* This API requires one of the following user roles: BatchServiceAdmin, FirmAdmin, Registrar, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.\n",
        "operationId": "UpdateAccount",
        "tags": [
          "Registrar"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the account you wish to update.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AccountModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/AccountModel"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a single account",
        "description": "# For Registrar Use Only\r\nThis API is for use by Avalara Registrar administrative users only.\r\n            \r\nDelete an account.\r\nDeleting an account will delete all companies, all account level users and license keys attached to this account.\n\n### Security Policies\n\n* This API requires the user role SystemAdmin.\n",
        "operationId": "DeleteAccount",
        "tags": [
          "Registrar"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the account you wish to delete.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ErrorDetail"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v2/accounts/{id}/activate": {
      "post": {
        "summary": "Activate an account by accepting terms and conditions",
        "description": "Activate the account specified by the unique accountId number.\r\n            \r\nThis activation request can only be called by account administrators.  You must indicate\r\nthat you have read and accepted Avalara's terms and conditions to call this API.\r\n            \r\nOnce you have activated your account, use the `AccountResetLicenseKey` API to generate\r\na license key for your account.\r\n            \r\nIf you have not read or accepted the terms and conditions, this API call will return the\r\nunchanged account model.\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AvaTaxOnlyAccountAdmin, BatchServiceAdmin, FirmAdmin, Registrar, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin.\n",
        "operationId": "ActivateAccount",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the account to activate",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AccountModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/ActivateAccountModel"
              }
            }
          }
        }
      }
    },
    "/api/v2/accounts/{id}/audit": {
      "get": {
        "summary": "Retrieve audit history for an account.",
        "description": "Retrieve audit trace history for an account.\r\n            \r\nYour audit trace history contains a record of all API calls made against the AvaTax REST API that returned an error.   You can use this API to investigate\r\nproblems and see exactly what information was sent back and forth between your code and AvaTax.\r\n            \r\nWhen specifying a start and end datetime, please include a valid timezone indicator, such as the \"Z\" present in the examples for the start and end query parameters.\r\nYou can learn more about valid time zone designators at https://en.wikipedia.org/wiki/ISO_8601#Time_zone_designators.\r\n            \r\nThis API enforces limits to the amount of data retrieved. These limits are subject to change.\r\n            \r\n* You may request data from a maximum of a one-hour time period.\r\n* The amount of data and number of API calls returned by this API are limited and may be adjusted at any time.\r\n* Old records may be migrated out of immediately available storage.  To request older data, please contact your account manager.\r\n* New records must migrate to available storage before they can be retrieved.  You may need to wait a period of time before newly created records can be fetched.\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, AvaTaxOnlyAccountAdmin, AvaTaxOnlyAccountUser, AvaTaxOnlyCompanyAdmin, AvaTaxOnlyCompanyUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, Compliance Root User, ComplianceAdmin, ComplianceUser, CSPAdmin, CSPTester, ECMAccountUser, ECMCompanyUser, FirmAdmin, FirmUser, Registrar, ReturnsOnlyAccountAdmin, ReturnsOnlyAccountUser, ReturnsOnlyCompanyAdmin, ReturnsOnlyCompanyUser, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser, TreasuryAdmin, TreasuryUser.\n",
        "operationId": "AuditAccount",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the account you wish to audit.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "start",
            "description": "The start datetime of audit history you with to retrieve, e.g. \"2018-06-08T17:00:00Z\". Defaults to the past 15 minutes.",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "end",
            "description": "The end datetime of audit history you with to retrieve, e.g. \"2018-06-08T17:15:00Z. Defaults to the current time. Maximum of an hour after the start time.",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "If nonzero, return no more than this number of results.  Used with `$skip` to provide pagination for large datasets.  Unless otherwise specified, the maximum number of records that can be returned from an API call is 1,000 records.",
            "type": "integer",
            "format": "int32",
            "default": 10
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "If nonzero, skip this number of results before returning data.  Used with `$top` to provide pagination for large datasets.",
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AuditModelFetchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v2/accounts/{id}/configuration": {
      "get": {
        "summary": "Get configuration settings for this account",
        "description": "Retrieve a list of all configuration settings tied to this account.\r\n            \r\nConfiguration settings provide you with the ability to control features of your account and of your\r\ntax software.  The category names `TaxServiceConfig` and `AddressServiceConfig` are reserved for\r\nAvalara internal software configuration values; to store your own account-level settings, please\r\ncreate a new category name that begins with `X-`, for example, `X-MyCustomCategory`.\r\n            \r\nAccount settings are permanent settings that cannot be deleted.  You can set the value of an\r\naccount setting to null if desired.\r\n            \r\nAvalara-based account settings for `TaxServiceConfig` and `AddressServiceConfig` affect your account's\r\ntax calculation and address resolution, and should only be changed with care.\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountUser, AvaTaxOnlyAccountAdmin, AvaTaxOnlyAccountUser, AvaTaxOnlyCompanyAdmin, AvaTaxOnlyCompanyUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, ECMAccountUser, ECMCompanyUser, ReturnsOnlyAccountAdmin, ReturnsOnlyAccountUser, ReturnsOnlyCompanyAdmin, ReturnsOnlyCompanyUser, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser.\n",
        "operationId": "GetAccountConfiguration",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AccountConfigurationModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "summary": "Change configuration settings for this account",
        "description": "Update configuration settings tied to this account.\r\n            \r\nConfiguration settings provide you with the ability to control features of your account and of your\r\ntax software.  The category names `TaxServiceConfig` and `AddressServiceConfig` are reserved for\r\nAvalara internal software configuration values; to store your own account-level settings, please\r\ncreate a new category name that begins with `X-`, for example, `X-MyCustomCategory`.\r\n            \r\nAccount settings are permanent settings that cannot be deleted.  You can set the value of an\r\naccount setting to null if desired.\r\n            \r\nAvalara-based account settings for `TaxServiceConfig` and `AddressServiceConfig` affect your account's\r\ntax calculation and address resolution, and should only be changed with care.\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AvaTaxOnlyAccountAdmin, BatchServiceAdmin, CSPTester, SSTAdmin, TechnicalSupportAdmin.\n",
        "operationId": "SetAccountConfiguration",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AccountConfigurationModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "uniqueItems": false,
                "type": "array",
                "items": {
                  "$ref": "#/definitions/AccountConfigurationModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/accounts/{id}/licensekey": {
      "post": {
        "summary": "Create license key for this account",
        "description": "Creates a new license key for this account.\r\n            \r\nTo create a license key for your account, you must specify the ID of the account and license key name.\r\n            \r\nThis API is only available to account administrators for the account in question, and may only be called after\r\nan account has been activated by reading and accepting Avalara's terms and conditions.  To activate your account\r\nplease log onto the AvaTax website or call the `ActivateAccount` API.\r\n            \r\nYou will reference this key using license key name. The existing license key will be using 'Default' as license key name.\r\nHence make sure that the license key name is unique per account considering the existing license key name 'Default'\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AvaTaxOnlyAccountAdmin, BatchServiceAdmin, Registrar, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin.\n",
        "operationId": "CreateLicenseKey",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the account you wish to update.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/LicenseKeyModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/AccountLicenseKeyModel"
              }
            }
          }
        }
      }
    },
    "/api/v2/accounts/{id}/licensekey/{licensekeyname}": {
      "get": {
        "summary": "Retrieve license key by license key name",
        "description": "\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, AvaTaxOnlyAccountAdmin, AvaTaxOnlyAccountUser, AvaTaxOnlyCompanyAdmin, AvaTaxOnlyCompanyUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, Compliance Root User, ComplianceAdmin, ComplianceUser, CSPAdmin, CSPTester, ECMAccountUser, ECMCompanyUser, FirmAdmin, FirmUser, Registrar, ReturnsOnlyAccountAdmin, ReturnsOnlyAccountUser, ReturnsOnlyCompanyAdmin, ReturnsOnlyCompanyUser, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser, TreasuryAdmin, TreasuryUser.\n",
        "operationId": "GetLicenseKey",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the account to retrieve",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "licensekeyname",
            "description": "The license key name to be retrieved",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AccountLicenseKeyModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "summary": "Delete license key for this account by license key name",
        "description": "Deletes the license key for this account using license key name.\r\n            \r\nTo delete a license key for your account, you must specify the accountID of the account and license key name.\r\n            \r\nThis API is only available to account administrators for the account in question.\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AvaTaxOnlyAccountAdmin, BatchServiceAdmin, Registrar, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin.\n",
        "operationId": "DeleteLicenseKey",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the account you wish to update.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "licensekeyname",
            "description": "The license key name you wish to update.",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ErrorDetail"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v2/accounts/{id}/licensekeys": {
      "get": {
        "summary": "Retrieve all license keys for this account",
        "description": "Gets list of all the license keys used by the account.\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, AvaTaxOnlyAccountAdmin, AvaTaxOnlyAccountUser, AvaTaxOnlyCompanyAdmin, AvaTaxOnlyCompanyUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, Compliance Root User, ComplianceAdmin, ComplianceUser, CSPAdmin, CSPTester, ECMAccountUser, ECMCompanyUser, FirmAdmin, FirmUser, Registrar, ReturnsOnlyAccountAdmin, ReturnsOnlyAccountUser, ReturnsOnlyCompanyAdmin, ReturnsOnlyCompanyUser, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser, TreasuryAdmin, TreasuryUser.\n",
        "operationId": "GetLicenseKeys",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the account to retrieve",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AccountLicenseKeyModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v2/accounts/{id}/resetlicensekey": {
      "post": {
        "summary": "Reset this account's license key",
        "description": "Resets the existing license key for this account to a new key.\r\n            \r\nTo reset your account, you must specify the ID of the account you wish to reset and confirm the action.\r\n            \r\nThis API is only available to account administrators for the account in question, and may only be called after\r\nan account has been activated by reading and accepting Avalara's terms and conditions.  To activate your account\r\nplease log onto the AvaTax website or call the `ActivateAccount` API.\r\n            \r\nYou can only reset license with 'Default' license key name.\r\nResetting a license key cannot be undone.  Any previous license keys will immediately cease to work when a new key is created.\r\n            \r\nWhen you call this API, all account administrators for this account will receive an email with the newly updated license key.\r\nThe email will specify which user reset the license key and it will contain the new key to use to update your connectors.\r\nNote: The reset license key functionality will only be available for existing active license key i.e. when you reset license key for the account, the Default license key will be reset.The reset license key functionality is not available for newly created license keys i.e. license keys other than Default\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AvaTaxOnlyAccountAdmin, BatchServiceAdmin, Registrar, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin.\n",
        "operationId": "AccountResetLicenseKey",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the account you wish to update.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/LicenseKeyModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/ResetLicenseKeyModel"
              }
            }
          }
        }
      }
    },
    "/api/v2/accounts/mrs": {
      "get": {
        "summary": "Retrieve a list of MRS Accounts",
        "description": "This API is available by invitation only.\r\n            \r\nGet a list of accounts with an active MRS service.\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, AvaTaxOnlyAccountAdmin, AvaTaxOnlyAccountUser, AvaTaxOnlyCompanyAdmin, AvaTaxOnlyCompanyUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, Compliance Root User, ComplianceAdmin, ComplianceUser, CSPAdmin, CSPTester, ECMAccountUser, ECMCompanyUser, FirmAdmin, FirmUser, Registrar, ReturnsOnlyAccountAdmin, ReturnsOnlyAccountUser, ReturnsOnlyCompanyAdmin, ReturnsOnlyCompanyUser, SiteAdmin, SSTAdmin, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser, TreasuryAdmin, TreasuryUser.\n",
        "operationId": "ListMrsAccounts",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/MrsCompanyModelFetchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/addresses/resolve": {
      "post": {
        "summary": "Retrieve geolocation information for a specified US or Canadian address",
        "description": "Resolve a US or Canadian address against Avalara's address validation system.  Note that this API is \r\nvalid for US and Canadian addresses only.  \r\n\r\nIf the address can be resolved, this API provides the latitude and longitude of the resolved location.  \r\nThe value `resolutionQuality` can be used to identify how closely this address can be located.  If the \r\naddress cannot be clearly located, use the `messages` structure to learn more about problems with this \r\naddress. This is the same API as the GET /api/v2/addresses/resolve endpoint.\r\nBoth verbs are supported to provide for flexible implementation.\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, AvaTaxOnlyAccountAdmin, AvaTaxOnlyAccountUser, AvaTaxOnlyCompanyAdmin, AvaTaxOnlyCompanyUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, ReturnsOnlyAccountAdmin, ReturnsOnlyCompanyAdmin, SSTAdmin, TechnicalSupportAdmin, TechnicalSupportUser.\n* This API depends on the following active services:*Required* (all):  AutoAddress.\n",
        "operationId": "ResolveAddressPost",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AddressResolutionModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/AddressValidationInfo"
              }
            }
          }
        }
      },
      "get": {
        "summary": "Retrieve geolocation information for a specified US or Canadian address",
        "description": "Resolve a US or Canadian address against Avalara's address validation system.  Note that this API is \r\nvalid for US and Canadian addresses only.  \r\n\r\nIf the address can be resolved, this API provides the latitude and longitude of the resolved location.  \r\nThe value `resolutionQuality` can be used to identify how closely this address can be located.  If the \r\naddress cannot be clearly located, use the `messages` structure to learn more about problems with this address.\r\nThis is the same API as the POST /api/v2/addresses/resolve endpoint.\r\nBoth verbs are supported to provide for flexible implementation.\r\n            \r\nIn order to get any evaluation for an address, please provide at least one of the following fields/pairs:\r\n1. postal code\r\n2. line1 + city + region\r\n3. line1 + postal code\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, AvaTaxOnlyAccountAdmin, AvaTaxOnlyAccountUser, AvaTaxOnlyCompanyAdmin, AvaTaxOnlyCompanyUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPTester, ReturnsOnlyAccountAdmin, ReturnsOnlyCompanyAdmin, SSTAdmin, TechnicalSupportAdmin, TechnicalSupportUser.\n* This API depends on the following active services:*Required* (all):  AutoAddress.\n",
        "operationId": "ResolveAddress",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "line1",
            "description": "Line 1",
            "type": "string"
          },
          {
            "in": "query",
            "name": "line2",
            "description": "Line 2",
            "type": "string"
          },
          {
            "in": "query",
            "name": "line3",
            "description": "Line 3",
            "type": "string"
          },
          {
            "in": "query",
            "name": "city",
            "description": "City",
            "type": "string"
          },
          {
            "in": "query",
            "name": "region",
            "description": "State / Province / Region",
            "type": "string"
          },
          {
            "in": "query",
            "name": "postalCode",
            "description": "Postal Code / Zip Code",
            "type": "string"
          },
          {
            "in": "query",
            "name": "country",
            "description": "Two character ISO 3166 Country Code (see /api/v2/definitions/countries for a full list)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "textCase",
            "description": "selectable text case for address validation",
            "type": "string",
            "enum": [
              "Default",
              "Upper",
              "Mixed"
            ],
            "x-enum-metadata": {
              "name": "TextCase",
              "summary": "Casing to use for validation result",
              "values": [
                {
                  "name": "Default",
                  "value": 0,
                  "summary": "Default (casing determined by address standardization setting in Avalara)"
                },
                {
                  "name": "Upper",
                  "value": 1,
                  "summary": "Upper case"
                },
                {
                  "name": "Mixed",
                  "value": 2,
                  "summary": "Mixed Case"
                }
              ]
            }
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AddressResolutionModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/apconfigsetting": {
      "get": {
        "summary": "Retrieve all rules",
        "description": "",
        "operationId": "QueryAPConfigSetting",
        "tags": [
          "APConfigSetting"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$filter",
            "description": "A filter statement to identify specific records to retrieve.  For more information on filtering, see [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/).<br />*Not filterable:* meta, amount, amountToMarkForReview, ignoreThresholdWhenVCTZero, varianceForIgnore, varianceForAccrue, variancePercent, apConfigToleranceType, payAsBilledNoAccrual, payAsBilledAccrueUndercharge, shortPayItemsAccrueUndercharge, markForReviewUndercharge, rejectUndercharge, payAsBilledOvercharge, shortPayAvalaraCalculated, shortPayItemsAccrueOvercharge, markForReviewOvercharge, rejectOvercharge, isActive",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$include",
            "description": "A comma separated list of additional data to retrieve.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "If nonzero, return no more than this number of results.  Used with `$skip` to provide pagination for large datasets.  Unless otherwise specified, the maximum number of records that can be returned from an API call is 1,000 records.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "If nonzero, skip this number of results before returning data.  Used with `$top` to provide pagination for large datasets.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$orderBy",
            "description": "A comma separated list of sort statements in the format `(fieldname) [ASC|DESC]`, for example `id ASC`.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/APConfigSettingSuccessResponseModelFetchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/companies/{companyid}/apconfigsetting": {
      "post": {
        "summary": "Create new rule",
        "description": "",
        "operationId": "CreateAPConfigSetting",
        "tags": [
          "APConfigSetting"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "companyid",
            "description": "The ID of the company that owns this AP Config Setting object",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/APConfigSettingSuccessResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/APConfigSettingRequestModel"
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a AP config setting",
        "description": "",
        "operationId": "UpdateAPConfigSetting",
        "tags": [
          "APConfigSetting"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "companyid",
            "description": "The ID of the company that owns this AP config setting object",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/APConfigSettingSuccessResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/APConfigSettingRequestModel"
              }
            }
          }
        }
      },
      "get": {
        "summary": "Retrieve rule for this company",
        "description": "",
        "operationId": "GetAPConfigSettingByCompany",
        "tags": [
          "APConfigSetting"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "companyid",
            "description": "The ID of the company that defined this rule",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "A filter statement to identify specific records to retrieve.  For more information on filtering, see [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/).<br />*Not filterable:* meta, amount, amountToMarkForReview, ignoreThresholdWhenVCTZero, varianceForIgnore, varianceForAccrue, variancePercent, apConfigToleranceType, payAsBilledNoAccrual, payAsBilledAccrueUndercharge, shortPayItemsAccrueUndercharge, markForReviewUndercharge, rejectUndercharge, payAsBilledOvercharge, shortPayAvalaraCalculated, shortPayItemsAccrueOvercharge, markForReviewOvercharge, rejectOvercharge, isActive",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$include",
            "description": "A comma separated list of additional data to retrieve.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "If nonzero, return no more than this number of results.  Used with `$skip` to provide pagination for large datasets.  Unless otherwise specified, the maximum number of records that can be returned from an API call is 1,000 records.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "If nonzero, skip this number of results before returning data.  Used with `$top` to provide pagination for large datasets.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$orderBy",
            "description": "A comma separated list of sort statements in the format `(fieldname) [ASC|DESC]`, for example `id ASC`.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/APConfigSettingSuccessResponseModelFetchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/TaxProfileErrorResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/avafileforms": {
      "get": {
        "summary": "Retrieve all AvaFileForms",
        "description": "Search for specific objects using the criteria in the `$filter` parameter; full documentation is available on [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .\r\nPaginate your results using the `$top`, `$skip`, and `$orderby` parameters.\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AvaTaxOnlyAccountAdmin, AvaTaxOnlyCompanyAdmin, AvaTaxOnlyCompanyUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, Compliance Root User, Compliance Temp User, ComplianceAdmin, ComplianceUser, FirmAdmin, FirmUser, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser, TreasuryAdmin.\n* This API depends on the following active services:*Returns* (at least one of):  Mrs, MRSComplianceManager, AvaTaxCsp.*Firm Managed* (for accounts managed by a firm):  ARA, ARAManaged.\n",
        "operationId": "QueryAvaFileForms",
        "tags": [
          "AvaFileForms"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$filter",
            "description": "A filter statement to identify specific records to retrieve.  For more information on filtering, see [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/).<br />*Not filterable:* outletTypeId",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "If nonzero, return no more than this number of results.  Used with `$skip` to provide pagination for large datasets.  Unless otherwise specified, the maximum number of records that can be returned from an API call is 1,000 records.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "If nonzero, skip this number of results before returning data.  Used with `$top` to provide pagination for large datasets.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$orderBy",
            "description": "A comma separated list of sort statements in the format `(fieldname) [ASC|DESC]`, for example `id ASC`.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AvaFileFormModelFetchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create a new AvaFileForm",
        "description": "Create one or more AvaFileForms\r\nA 'AvaFileForm' represents a form supported by our returns team\n\n### Security Policies\n\n* This API requires the user role Compliance Root User.\n* This API depends on the following active services:*Returns* (at least one of):  Mrs, MRSComplianceManager, AvaTaxCsp.*Firm Managed* (for accounts managed by a firm):  ARA, ARAManaged.\n",
        "operationId": "CreateAvaFileForms",
        "tags": [
          "AvaFileForms"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AvaFileFormModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "uniqueItems": false,
                "type": "array",
                "items": {
                  "$ref": "#/definitions/AvaFileFormModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/avafileforms/{id}": {
      "get": {
        "summary": "Retrieve a single AvaFileForm",
        "description": "Get the AvaFileForm object identified by this URL.\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AvaTaxOnlyAccountAdmin, AvaTaxOnlyCompanyAdmin, AvaTaxOnlyCompanyUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, Compliance Root User, Compliance Temp User, ComplianceAdmin, ComplianceUser, FirmAdmin, FirmUser, SystemAdmin, TechnicalSupportAdmin, TechnicalSupportUser, TreasuryAdmin.\n* This API depends on the following active services:*Returns* (at least one of):  Mrs, MRSComplianceManager, AvaTaxCsp.*Firm Managed* (for accounts managed by a firm):  ARA, ARAManaged.\n",
        "operationId": "GetAvaFileForm",
        "tags": [
          "AvaFileForms"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The primary key of this AvaFileForm",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AvaFileFormModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "summary": "Update a AvaFileForm",
        "description": "All data from the existing object will be replaced with data in the object you PUT.\r\nTo set a field's value to null, you may either set its value to null or omit that field from the object you post.\n\n### Security Policies\n\n* This API requires the user role Compliance Root User.\n* This API depends on the following active services:*Returns* (at least one of):  Mrs, MRSComplianceManager, AvaTaxCsp.*Firm Managed* (for accounts managed by a firm):  ARA, ARAManaged.\n",
        "operationId": "UpdateAvaFileForm",
        "tags": [
          "AvaFileForms"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the AvaFileForm you wish to update",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/AvaFileFormModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/AvaFileFormModel"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a single AvaFileForm",
        "description": "Marks the existing AvaFileForm object at this URL as deleted.\n\n### Security Policies\n\n* This API requires one of the following user roles: Compliance Root User, ComplianceUser, FirmAdmin.\n* This API depends on the following active services:*Returns* (at least one of):  Mrs, MRSComplianceManager, AvaTaxCsp.*Firm Managed* (for accounts managed by a firm):  ARA, ARAManaged.\n",
        "operationId": "DeleteAvaFileForm",
        "tags": [
          "AvaFileForms"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the AvaFileForm you wish to delete.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ErrorDetail"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v2/batches": {
      "get": {
        "summary": "Retrieve all batches",
        "description": "Get multiple batch objects across all companies.\r\n            \r\nA batch object is a large collection of API calls stored in a compact file.\r\n            \r\nSearch for specific objects using the criteria in the `$filter` parameter;\r\nfull documentation is available on [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .\r\nPaginate results using the `$top`, `$skip`, and `$orderby` parameters.\r\n            \r\nWhen a batch is created, it is added to the AvaTax Batch Queue and will be\r\nprocessed as quickly as possible in the order it was received. To check the\r\nstatus of a batch, fetch the batch and retrieve the results of the batch\r\noperation.\r\n            \r\nBecause the batch system processes with a degree of concurrency, and\r\nbecause of batch sizes in the queue vary, AvaTax API is unable to accurately\r\npredict when a batch will complete. If high performance processing is\r\nrequired, please use the\r\n[CreateTransaction API](https://developer.avalara.com/api-reference/avatax/rest/v2/methods/Transactions/CreateTransaction/).\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, AvaTaxOnlyAccountAdmin, AvaTaxOnlyAccountUser, AvaTaxOnlyCompanyAdmin, AvaTaxOnlyCompanyUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, FirmAdmin, ReturnsOnlyAccountAdmin, ReturnsOnlyCompanyAdmin, SiteAdmin, SSTAdmin, SystemAdmin, SystemOperator, TechnicalSupportAdmin, TechnicalSupportUser.\n",
        "operationId": "QueryBatches",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$filter",
            "description": "A filter statement to identify specific records to retrieve.  For more information on filtering, see [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/).<br />*Not filterable:* files",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$include",
            "description": "A comma separated list of additional data to retrieve.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "If nonzero, return no more than this number of results.  Used with `$skip` to provide pagination for large datasets.  Unless otherwise specified, the maximum number of records that can be returned from an API call is 1,000 records.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "If nonzero, skip this number of results before returning data.  Used with `$top` to provide pagination for large datasets.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$orderBy",
            "description": "A comma separated list of sort statements in the format `(fieldname) [ASC|DESC]`, for example `id ASC`.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/BatchModelFetchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2/companies/{companyId}/batches": {
      "get": {
        "summary": "Retrieve all batches for this company",
        "description": "List all batch objects attached to the specified company.\r\n            \r\nA batch object is a large collection of API calls stored in a compact file.\r\n            \r\nSearch for specific objects using the criteria in the `$filter` parameter;\r\nfull documentation is available on [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/) .\r\nPaginate results using the `$top`, `$skip`, and `$orderby` parameters.\r\n            \r\nUse [GetBatch](https://developer.avalara.com/api-reference/avatax/rest/v2/methods/Batches/GetBatch/)\r\nto retrieve the results, or check the status, of an individual batch.\r\n            \r\nWhen a batch is created, it is added to the AvaTax Batch Queue and will be\r\nprocessed as quickly as possible in the order it was received. To check the\r\nstatus of a batch, fetch the batch and retrieve the results of the batch\r\noperation.\r\n            \r\nBecause the batch system processes with a degree of concurrency, and\r\nbecause of batch sizes in the queue vary, AvaTax API is unable to accurately\r\npredict when a batch will complete. If high performance processing is\r\nrequired, please use the\r\n[CreateTransaction API](https://developer.avalara.com/api-reference/avatax/rest/v2/methods/Transactions/CreateTransaction/).\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, AvaTaxOnlyAccountAdmin, AvaTaxOnlyAccountUser, AvaTaxOnlyCompanyAdmin, AvaTaxOnlyCompanyUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, FirmAdmin, ReturnsOnlyAccountAdmin, ReturnsOnlyCompanyAdmin, SiteAdmin, SSTAdmin, SystemAdmin, SystemOperator, TechnicalSupportAdmin, TechnicalSupportUser.\n",
        "operationId": "ListBatchesByCompany",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "companyId",
            "description": "The ID of the company that owns these batches",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "A filter statement to identify specific records to retrieve.  For more information on filtering, see [Filtering in REST](http://developer.avalara.com/avatax/filtering-in-rest/).<br />*Not filterable:* files",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$include",
            "description": "A comma separated list of additional data to retrieve.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "If nonzero, return no more than this number of results.  Used with `$skip` to provide pagination for large datasets.  Unless otherwise specified, the maximum number of records that can be returned from an API call is 1,000 records.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "If nonzero, skip this number of results before returning data.  Used with `$top` to provide pagination for large datasets.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$orderBy",
            "description": "A comma separated list of sort statements in the format `(fieldname) [ASC|DESC]`, for example `id ASC`.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/BatchModelFetchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "summary": "Create a new batch",
        "description": "Create one or more new batch objects attached to this company.\r\n            \r\nEach batch object may have one or more file objects (currently only one file is supported).\r\n            \r\nWhen a batch is created, it is added to the AvaTax Batch Queue and will be\r\nprocessed as quickly as possible in the order it was received. To check the\r\nstatus of a batch, fetch the batch and retrieve the results of the batch\r\noperation.\r\n            \r\nBecause the batch system processes with a degree of concurrency, and\r\nbecause of batch sizes in the queue vary, AvaTax API is unable to accurately\r\npredict when a batch will complete. If high performance processing is\r\nrequired, please use the\r\n[CreateTransaction API](https://developer.avalara.com/api-reference/avatax/rest/v2/methods/Transactions/CreateTransaction/).\r\n            \r\nThe maximum content length of the request body is limited to 28.6 MB. If this limit\r\nis exceeded, a 404 Not Found status will be returned (possibly with a CORS error if\r\nthe API is called from a browser). In this situation, please split the request into\r\nsmaller batches.\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AvaTaxOnlyAccountAdmin, AvaTaxOnlyCompanyAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, FirmAdmin, SSTAdmin, SystemAdmin, SystemOperator, TechnicalSupportAdmin.\n",
        "operationId": "CreateBatches",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "companyId",
            "description": "The ID of the company that owns this batch.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/BatchModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "uniqueItems": false,
                "type": "array",
                "items": {
                  "$ref": "#/definitions/BatchModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/companies/{companyId}/batches/{batchId}/files/{id}/attachment": {
      "get": {
        "summary": "Download a single batch file",
        "description": "Download a single batch file identified by this URL.\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, AvaTaxOnlyAccountAdmin, AvaTaxOnlyAccountUser, AvaTaxOnlyCompanyAdmin, AvaTaxOnlyCompanyUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, FirmAdmin, ReturnsOnlyAccountAdmin, ReturnsOnlyCompanyAdmin, SiteAdmin, SSTAdmin, SystemAdmin, SystemOperator, TechnicalSupportAdmin, TechnicalSupportUser.\n",
        "operationId": "DownloadBatch",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "companyId",
            "description": "The ID of the company that owns this batch",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "batchId",
            "description": "The ID of the batch object",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The primary key of this batch file object",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "format": "byte",
                  "type": "file"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v2/companies/{companyId}/batches/{id}": {
      "get": {
        "summary": "Retrieve a single batch",
        "description": "Get the batch object identified by this URL. A batch object is a large\r\ncollection of API calls stored in a compact file.\r\n            \r\nUse this endpoint to retrieve the results or check the status of a batch.\r\n            \r\nWhen a batch is created, it is added to the AvaTax Batch Queue and will be\r\nprocessed as quickly as possible in the order it was received. To check the\r\nstatus of a batch, fetch the batch and retrieve the results of the batch\r\noperation.\r\n            \r\nBecause the batch system processes with a degree of concurrency, and\r\nbecause of batch sizes in the queue vary, AvaTax API is unable to accurately\r\npredict when a batch will complete. If high performance processing is\r\nrequired, please use the\r\n[CreateTransaction API](https://developer.avalara.com/api-reference/avatax/rest/v2/methods/Transactions/CreateTransaction/).\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AccountUser, AvaTaxOnlyAccountAdmin, AvaTaxOnlyAccountUser, AvaTaxOnlyCompanyAdmin, AvaTaxOnlyCompanyUser, BatchServiceAdmin, CompanyAdmin, CompanyUser, CSPAdmin, CSPTester, FirmAdmin, ReturnsOnlyAccountAdmin, ReturnsOnlyCompanyAdmin, SiteAdmin, SSTAdmin, SystemAdmin, SystemOperator, TechnicalSupportAdmin, TechnicalSupportUser.\n",
        "operationId": "GetBatch",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "companyId",
            "description": "The ID of the company that owns this batch",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The primary key of this batch",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/BatchModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "summary": "Delete a single batch",
        "description": "Marks the batch identified by this URL as deleted.\r\n            \r\nIf you attempt to delete a batch that is being processed, you will receive an error message.\r\nDeleting a batch does not delete any transactions that were created by importing the batch.\r\n            \r\nBecause the batch system processes with a degree of concurrency, and\r\nbecause of batch sizes in the queue vary, AvaTax API is unable to accurately\r\npredict when a batch will complete. If high performance processing is\r\nrequired, please use the\r\n[CreateTransaction API](https://developer.avalara.com/api-reference/avatax/rest/v2/methods/Transactions/CreateTransaction/).\n\n### Security Policies\n\n* This API requires one of the following user roles: BatchServiceAdmin, CSPAdmin, CSPTester, FirmAdmin, SSTAdmin, SystemAdmin, SystemOperator, TechnicalSupportAdmin.\n",
        "operationId": "DeleteBatch",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "companyId",
            "description": "The ID of the company that owns this batch.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the batch to delete.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ErrorDetail"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v2/companies/{companyId}/batches/{id}/cancel": {
      "post": {
        "summary": "Cancel an in progress batch",
        "description": "Marks the in progress batch identified by this URL as cancelled.\r\n            \r\nOnly JSON batches can be cancelled.\u00a0If you attempt to cancel a file batch, you will receive an error message.\r\n            \r\nOnly in progress batches can be cancelled.  If you attempt to cancel a batch that its status is not Waiting or Processing, you will receive an error message.\r\nCancelling an in progress batch does not delete any transactions that were created before the cancellation.\r\n            \r\nBecause the batch system processes with a degree of concurrency, and\r\nbecause of batch sizes in the queue vary, AvaTax API is unable to accurately\r\npredict when a batch will complete. If high performance processing is\r\nrequired, please use the\r\n[CreateTransaction API](https://developer.avalara.com/api-reference/avatax/rest/v2/methods/Transactions/CreateTransaction/).\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AvaTaxOnlyAccountAdmin, AvaTaxOnlyCompanyAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, FirmAdmin, SSTAdmin, SystemAdmin, SystemOperator, TechnicalSupportAdmin.\n",
        "operationId": "CancelBatch",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "companyId",
            "description": "The ID of the company that owns this batch.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The ID of the batch to cancel.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/BatchModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v2/companies/{companyId}/batches/advancedrules": {
      "post": {
        "summary": "Create a new Advanced Rules batch",
        "description": "Create a new Advanced Rules batch objects attached to this company.\r\n            \r\nWhen an Advanced Rules batch is created, it is added to the AvaTax Batch v2 Queue and will be\r\nprocessed as quickly as possible in the order it was received. To check the\r\nstatus of a batch, fetch the batch and retrieve the results of the batch\r\noperation.\r\n            \r\nThe maximum content length of the request body is limited to 28.6 MB. If this limit\r\nis exceeded, a 404 Not Found status will be returned (possibly with a CORS error if\r\nthe API is called from a browser). In this situation, please split the request into\r\nsmaller batches.\n\n### Security Policies\n\n* This API requires one of the following user roles: AccountAdmin, AccountOperator, AvaTaxOnlyAccountAdmin, AvaTaxOnlyCompanyAdmin, BatchServiceAdmin, CompanyAdmin, CSPTester, FirmAdmin, SSTAdmin, SystemAdmin, SystemOperator, TechnicalSupportAdmin.\n",
        "operationId": "CreateAdvancedRulesBatch",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "companyId",
            "description": "The ID of the company that owns this batch.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "X-Avalara-Client",
            "description": "Identifies the software you are using to call this API.  For more information on the client header, see [Client Headers](https://developer.avalara.com/avatax/client-headers/) .",
            "type": "string",
            "default": "Swagger UI; 26.4.0; Custom; 1.0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/definitions/CreateAdvancedRulesBatchResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/definitions/CreateAdvancedRulesBatchRequestModel"
              }
            }
          }
        }
      }
    },
    "/api/v2/companies/{companyId}/batches/items": {
      "post": {
        "summary": "Create item import batch.",
[...]
