{
  "openapi": "3.0.3",
  "info": {
    "title": "Provet Cloud REST API",
    "version": "0.1",
    "description": "Provet Cloud's REST API offers most of the key Provet data to be read or manipulated by other systems. It provides access to veterinary practice management data including patients, clients, consultations, appointments, invoices, prescriptions, and online booking.",
    "x-jentic-source-url": "https://developers.provetcloud.com/restapi/"
  },
  "servers": [
    {
      "url": "https://provetcloud.com/{provetId}/api/0.1",
      "variables": {
        "provetId": {
          "description": "The Provet Cloud instance identifier",
          "default": "4"
        }
      }
    }
  ],
  "paths": {
    "/client/": {
      "get": {
        "operationId": "listClients",
        "summary": "List clients",
        "description": "Retrieve a paginated list of clients. Supports query filtering.",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "firstname",
            "in": "query",
            "description": "Filter by first name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastname",
            "in": "query",
            "description": "Filter by last name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of clients",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedClientList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing access token"
          }
        }
      }
    },
    "/client/{clientId}/": {
      "get": {
        "operationId": "getClient",
        "summary": "Get a client",
        "description": "Retrieve details of a specific client by ID.",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "description": "The client ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Client not found"
          }
        }
      }
    },
    "/patient/": {
      "get": {
        "operationId": "listPatients",
        "summary": "List patients",
        "description": "Retrieve a paginated list of patients.",
        "tags": [
          "Patients"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Filter by patient name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "species",
            "in": "query",
            "description": "Filter by species code",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "client",
            "in": "query",
            "description": "Filter by client ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of patients",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPatientList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createPatient",
        "summary": "Create a patient",
        "description": "Create a new patient record associated with a client.",
        "tags": [
          "Patients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatientCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Patient created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/patient/{patientId}/": {
      "get": {
        "operationId": "getPatient",
        "summary": "Get a patient",
        "description": "Retrieve details of a specific patient by ID.",
        "tags": [
          "Patients"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "description": "The patient ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Patient details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Patient"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Patient not found"
          }
        }
      }
    },
    "/consultation/": {
      "get": {
        "operationId": "listConsultations",
        "summary": "List consultations",
        "description": "Retrieve a paginated list of consultations. Supports filtering by complaint, admitted_time, department, client, patients.",
        "tags": [
          "Consultations"
        ],
        "parameters": [
          {
            "name": "complaint__icontains",
            "in": "query",
            "description": "Filter by complaint (case-insensitive contains)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "admitted_time__gte",
            "in": "query",
            "description": "Filter by admitted time (greater than or equal)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "department",
            "in": "query",
            "description": "Filter by department ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "client",
            "in": "query",
            "description": "Filter by client ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of consultations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedConsultationList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/consultation/{consultationId}/": {
      "get": {
        "operationId": "getConsultation",
        "summary": "Get a consultation",
        "description": "Retrieve details of a specific consultation by ID.",
        "tags": [
          "Consultations"
        ],
        "parameters": [
          {
            "name": "consultationId",
            "in": "path",
            "required": true,
            "description": "The consultation ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Consultation details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consultation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Consultation not found"
          }
        }
      }
    },
    "/appointment/": {
      "get": {
        "operationId": "listAppointments",
        "summary": "List appointments",
        "description": "Retrieve a paginated list of appointments.",
        "tags": [
          "Appointments"
        ],
        "parameters": [
          {
            "name": "start__gte",
            "in": "query",
            "description": "Filter by start time (greater than or equal)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "department",
            "in": "query",
            "description": "Filter by department ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of appointments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createAppointment",
        "summary": "Create an appointment",
        "description": "Create a new appointment with scheduling details.",
        "tags": [
          "Appointments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Appointment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/appointment/{appointmentId}/": {
      "get": {
        "operationId": "getAppointment",
        "summary": "Get an appointment",
        "description": "Retrieve details of a specific appointment by ID.",
        "tags": [
          "Appointments"
        ],
        "parameters": [
          {
            "name": "appointmentId",
            "in": "path",
            "required": true,
            "description": "The appointment ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Appointment not found"
          }
        }
      }
    },
    "/onlinebookingclient/": {
      "post": {
        "operationId": "createOnlineBookingClient",
        "summary": "Create an online booking client",
        "description": "Create a client record for online booking associated with an appointment.",
        "tags": [
          "Online Booking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnlineBookingClientCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Online booking client created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineBookingClient"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/onlinebookingpatient/": {
      "post": {
        "operationId": "createOnlineBookingPatient",
        "summary": "Create an online booking patient",
        "description": "Create a patient record for online booking associated with an online booking client.",
        "tags": [
          "Online Booking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnlineBookingPatientCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Online booking patient created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnlineBookingPatient"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/send_appointment_confirmation/": {
      "post": {
        "operationId": "sendAppointmentConfirmation",
        "summary": "Send appointment confirmation",
        "description": "Send a confirmation notification for an appointment via email and/or SMS.",
        "tags": [
          "Appointments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentConfirmationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmation sent successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/appointment_reminder/": {
      "post": {
        "operationId": "createAppointmentReminder",
        "summary": "Create an appointment reminder",
        "description": "Create a reminder for an upcoming appointment.",
        "tags": [
          "Appointments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appointment": {
                    "type": "string",
                    "description": "URI reference to the appointment"
                  }
                },
                "required": [
                  "appointment"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Appointment reminder created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/invoice/": {
      "get": {
        "operationId": "listInvoices",
        "summary": "List invoices",
        "description": "Retrieve a paginated list of invoices.",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of invoices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/invoice/{invoiceId}/": {
      "get": {
        "operationId": "getInvoice",
        "summary": "Get an invoice",
        "description": "Retrieve details of a specific invoice by ID.",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "description": "The invoice ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        }
      }
    },
    "/invoicerow/": {
      "get": {
        "operationId": "listInvoiceRows",
        "summary": "List invoice rows",
        "description": "Retrieve a paginated list of invoice line items.",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of invoice rows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/postransaction/": {
      "post": {
        "operationId": "createPaymentTransaction",
        "summary": "Create a payment transaction",
        "description": "Create a POS transaction, including payment links via Provet Pay.",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PosTransactionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment transaction created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PosTransaction"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/eprescription/prescription/": {
      "post": {
        "operationId": "createPrescription",
        "summary": "Create a prescription",
        "description": "Create a new electronic prescription.",
        "tags": [
          "Prescriptions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrescriptionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Prescription created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prescription"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/eprescription/prescription/{prescriptionId}/": {
      "get": {
        "operationId": "getPrescription",
        "summary": "Get a prescription",
        "description": "Retrieve details of a specific prescription by ID.",
        "tags": [
          "Prescriptions"
        ],
        "parameters": [
          {
            "name": "prescriptionId",
            "in": "path",
            "required": true,
            "description": "The prescription ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prescription details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prescription"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Prescription not found"
          }
        }
      },
      "patch": {
        "operationId": "updatePrescription",
        "summary": "Update a prescription",
        "description": "Update prescription remarks or status.",
        "tags": [
          "Prescriptions"
        ],
        "parameters": [
          {
            "name": "prescriptionId",
            "in": "path",
            "required": true,
            "description": "The prescription ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrescriptionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prescription updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prescription"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Prescription not found"
          }
        }
      }
    },
    "/eprescription/prescription_item/{prescriptionItemId}/": {
      "get": {
        "operationId": "getPrescriptionItem",
        "summary": "Get a prescription item",
        "description": "Retrieve details of a specific prescription item by ID.",
        "tags": [
          "Prescriptions"
        ],
        "parameters": [
          {
            "name": "prescriptionItemId",
            "in": "path",
            "required": true,
            "description": "The prescription item ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prescription item details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrescriptionItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Prescription item not found"
          }
        }
      }
    },
    "/department/": {
      "get": {
        "operationId": "listDepartments",
        "summary": "List departments",
        "description": "Retrieve a paginated list of departments.",
        "tags": [
          "Organization"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of departments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/department/{departmentId}/": {
      "get": {
        "operationId": "getDepartment",
        "summary": "Get a department",
        "description": "Retrieve details of a specific department by ID.",
        "tags": [
          "Organization"
        ],
        "parameters": [
          {
            "name": "departmentId",
            "in": "path",
            "required": true,
            "description": "The department ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Department details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Department not found"
          }
        }
      }
    },
    "/departmentsettings/": {
      "get": {
        "operationId": "listDepartmentSettings",
        "summary": "List department settings",
        "description": "Retrieve settings for departments.",
        "tags": [
          "Organization"
        ],
        "responses": {
          "200": {
            "description": "Department settings"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "description": "Retrieve a paginated list of users.",
        "tags": [
          "Organization"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/{userId}/": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user",
        "description": "Retrieve details of a specific user by ID.",
        "tags": [
          "Organization"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The user ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/item/": {
      "get": {
        "operationId": "listItems",
        "summary": "List items",
        "description": "Retrieve a paginated list of items/products.",
        "tags": [
          "Items"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/consultationitem/": {
      "get": {
        "operationId": "listConsultationItems",
        "summary": "List consultation items",
        "description": "Retrieve a paginated list of items within consultations.",
        "tags": [
          "Consultations"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of consultation items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reason/": {
      "get": {
        "operationId": "listReasons",
        "summary": "List appointment reasons",
        "description": "Retrieve a list of available appointment reasons.",
        "tags": [
          "Appointments"
        ],
        "responses": {
          "200": {
            "description": "List of reasons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Total number of results"
          },
          "num_pages": {
            "type": "integer",
            "description": "Total number of pages"
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "URL to the next result page"
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "description": "URL to the previous result page"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "PaginatedClientList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaginatedResponse"
          },
          {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          }
        ]
      },
      "Client": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone_number": {
            "type": "string"
          },
          "street_address": {
            "type": "string"
          },
          "zip_code": {
            "type": "string"
          },
          "city": {
            "type": "string"
          }
        }
      },
      "PaginatedPatientList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaginatedResponse"
          },
          {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Patient"
                }
              }
            }
          }
        ]
      },
      "Patient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "client": {
            "type": "string",
            "format": "uri",
            "description": "URI reference to the client"
          },
          "name": {
            "type": "string"
          },
          "species": {
            "type": "integer"
          },
          "breed": {
            "type": "integer"
          },
          "gender": {
            "type": "integer"
          },
          "registration_date": {
            "type": "string",
            "format": "date"
          },
          "weight": {
            "type": "number",
            "nullable": true
          },
          "remarks": {
            "type": "string",
            "nullable": true
          },
          "insurance": {
            "type": "string",
            "nullable": true
          },
          "microchip": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PatientCreate": {
        "type": "object",
        "required": [
          "name",
          "client",
          "species",
          "gender"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Patient name"
          },
          "client": {
            "type": "string",
            "format": "uri",
            "description": "URI reference to the client"
          },
          "species": {
            "type": "integer",
            "description": "Species code"
          },
          "gender": {
            "type": "integer",
            "description": "Gender code"
          },
          "breed": {
            "type": "integer",
            "description": "Breed code"
          }
        }
      },
      "PaginatedConsultationList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaginatedResponse"
          },
          {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Consultation"
                }
              }
            }
          }
        ]
      },
      "Consultation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "client": {
            "type": "string",
            "format": "uri"
          },
          "patients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "complaint": {
            "type": "string"
          },
          "admitted_time": {
            "type": "string",
            "format": "date-time"
          },
          "started": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "finished": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "status": {
            "type": "integer"
          },
          "type": {
            "type": "integer"
          },
          "invoice": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "supervising_veterinarian": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "department": {
            "type": "string",
            "format": "uri"
          },
          "consultation_items": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      },
      "Appointment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "start": {
            "type": "string",
            "format": "date-time"
          },
          "end": {
            "type": "string",
            "format": "date-time"
          },
          "department": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "reason": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "complaint": {
            "type": "string",
            "nullable": true
          },
          "user": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "client": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "patients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      },
      "AppointmentCreate": {
        "type": "object",
        "required": [
          "start",
          "end",
          "department",
          "title",
          "type"
        ],
        "properties": {
          "start": {
            "type": "string",
            "format": "date-time",
            "description": "Appointment start time"
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "description": "Appointment end time"
          },
          "department": {
            "type": "string",
            "format": "uri",
            "description": "URI reference to the department"
          },
          "title": {
            "type": "string",
            "description": "Appointment title"
          },
          "type": {
            "type": "string",
            "description": "Appointment type code"
          },
          "reason": {
            "type": "string",
            "format": "uri",
            "description": "URI reference to the reason"
          },
          "complaint": {
            "type": "string",
            "description": "Complaint description"
          },
          "user": {
            "type": "string",
            "format": "uri",
            "description": "URI reference to the assigned user"
          },
          "client": {
            "type": "string",
            "format": "uri",
            "description": "URI reference to the client"
          },
          "patients": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "URI references to associated patients"
          }
        }
      },
      "AppointmentConfirmationRequest": {
        "type": "object",
        "required": [
          "request_hash"
        ],
        "properties": {
          "request_hash": {
            "type": "string",
            "description": "Hash identifying the appointment confirmation request"
          },
          "dont_send_email_confirmation": {
            "type": "boolean",
            "description": "If true, skip email confirmation"
          },
          "dont_send_sms_confirmation": {
            "type": "boolean",
            "description": "If true, skip SMS confirmation"
          }
        }
      },
      "OnlineBookingClientCreate": {
        "type": "object",
        "required": [
          "appointment",
          "first_name",
          "last_name",
          "email",
          "phone_number"
        ],
        "properties": {
          "appointment": {
            "type": "string",
            "format": "uri",
            "description": "URI reference to the appointment"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone_number": {
            "type": "string"
          },
          "street_address": {
            "type": "string"
          },
          "zip_code": {
            "type": "string"
          },
          "city": {
            "type": "string"
          }
        }
      },
      "OnlineBookingClient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "appointment": {
            "type": "string",
            "format": "uri"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone_number": {
            "type": "string"
          },
          "street_address": {
            "type": "string"
          },
          "zip_code": {
            "type": "string"
          },
          "city": {
            "type": "string"
          }
        }
      },
      "OnlineBookingPatientCreate": {
        "type": "object",
        "required": [
          "onlinebookingclient",
          "name",
          "species"
        ],
        "properties": {
          "onlinebookingclient": {
            "type": "string",
            "format": "uri",
            "description": "URI reference to the online booking client"
          },
          "name": {
            "type": "string"
          },
          "species": {
            "type": "integer"
          },
          "breed": {
            "type": "integer"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "OnlineBookingPatient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "onlinebookingclient": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string"
          },
          "species": {
            "type": "integer"
          },
          "breed": {
            "type": "integer"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "PosTransactionCreate": {
        "type": "object",
        "required": [
          "amount",
          "terminal_id",
          "payment_type",
          "transaction_type",
          "creator",
          "department"
        ],
        "properties": {
          "amount": {
            "type": "string",
            "description": "Payment amount"
          },
          "terminal_id": {
            "type": "integer",
            "description": "Terminal ID, set to 0 for payment links"
          },
          "payment_type": {
            "type": "integer",
            "description": "Payment type code (5003 for Provet Pay)"
          },
          "transaction_type": {
            "type": "integer",
            "description": "Transaction type code (4 for payment link)"
          },
          "creator": {
            "type": "string",
            "format": "uri",
            "description": "URI reference to the user creating the transaction"
          },
          "department": {
            "type": "string",
            "format": "uri",
            "description": "URI reference to the department"
          },
          "invoice": {
            "type": "string",
            "format": "uri",
            "description": "URI reference to the invoice"
          },
          "payment_link_data": {
            "$ref": "#/components/schemas/PaymentLinkData"
          },
          "prepayment_data": {
            "$ref": "#/components/schemas/PrepaymentData"
          }
        }
      },
      "PaymentLinkData": {
        "type": "object",
        "properties": {
          "duration": {
            "type": "integer",
            "description": "Link validity in minutes"
          },
          "delivery_method": {
            "type": "integer",
            "description": "0=no send, 1=SMS+email, 2=email only, 3=SMS only"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "description": "Display text on payment page"
          },
          "return_url": {
            "type": "string",
            "format": "uri",
            "description": "Post-payment redirect URL"
          },
          "tokenize": {
            "type": "string",
            "enum": [
              "yes",
              "no",
              "ask"
            ]
          },
          "recurring_model": {
            "type": "string",
            "enum": [
              "subscription",
              "one-off"
            ]
          }
        }
      },
      "PrepaymentData": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "integer"
          },
          "department_id": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "PosTransaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "amount": {
            "type": "string"
          },
          "payment_link": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "expiration_time": {
                "type": "string",
                "format": "date-time"
              },
              "payment_status": {
                "type": "string"
              },
              "delivery_status": {
                "type": "string"
              }
            }
          }
        }
      },
      "PrescriptionCreate": {
        "type": "object",
        "required": [
          "client_id",
          "department_id",
          "prescriber_id",
          "issue_time",
          "prescription_items"
        ],
        "properties": {
          "client_id": {
            "type": "integer"
          },
          "department_id": {
            "type": "integer"
          },
          "prescriber_id": {
            "type": "integer"
          },
          "issue_time": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp"
          },
          "status": {
            "type": "integer",
            "description": "1=Draft, 2=Sending, 3=Sent, 4=Accepted, 5=Rejected, 6=Canceled, 7=Error, 8=Accepted Warning",
            "default": 1
          },
          "consultation_id": {
            "type": "integer"
          },
          "remarks": {
            "type": "string"
          },
          "prescription_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PrescriptionItemCreate"
            }
          }
        }
      },
      "PrescriptionItemCreate": {
        "type": "object",
        "required": [
          "name",
          "patients",
          "strength",
          "instructions",
          "quantity_packages",
          "valid_until"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "patients": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "strength": {
            "type": "string"
          },
          "instructions": {
            "type": "string"
          },
          "quantity_packages": {
            "type": "integer"
          },
          "valid_until": {
            "type": "string",
            "format": "date"
          },
          "repeat_number": {
            "type": "integer",
            "default": 1
          }
        }
      },
      "Prescription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "client_id": {
            "type": "integer"
          },
          "department_id": {
            "type": "integer"
          },
          "prescriber_id": {
            "type": "integer"
          },
          "issue_time": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "integer"
          },
          "remarks": {
            "type": "string"
          },
          "prescription_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PrescriptionItem"
            }
          }
        }
      },
      "PrescriptionUpdate": {
        "type": "object",
        "properties": {
          "remarks": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "description": "1=Draft, 2=Sending, 3=Sent, 4=Accepted, 5=Rejected, 6=Canceled, 7=Error, 8=Accepted Warning"
          }
        }
      },
      "PrescriptionItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string"
          },
          "patients": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "strength": {
            "type": "string"
          },
          "instructions": {
            "type": "string"
          },
          "quantity_packages": {
            "type": "integer"
          },
          "valid_until": {
            "type": "string",
            "format": "date"
          },
          "repeat_number": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://provetcloud.com/{provetId}/oauth2/authorize/",
            "tokenUrl": "https://provetcloud.com/{provetId}/oauth2/token/",
            "scopes": {
              "restapi": "Access to the REST API",
              "openid": "Access to user details via OpenID"
            }
          },
          "clientCredentials": {
            "tokenUrl": "https://provetcloud.com/{provetId}/oauth2/token/",
            "scopes": {
              "restapi": "Access to the REST API"
            }
          }
        }
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 Bearer token. Access tokens are valid for 10 hours."
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}