{
  "openapi": "3.0.3",
  "info": {
    "title": "Pastebin API",
    "description": "The Pastebin API allows you to create, list, delete, and retrieve pastes programmatically. Pastebin is a text storage and sharing service.",
    "version": "1.0.0",
    "contact": {
      "name": "Pastebin",
      "url": "https://pastebin.com/doc_api"
    }
  },
  "servers": [
    {
      "url": "https://pastebin.com/api",
      "description": "Pastebin API server"
    }
  ],
  "paths": {
    "/api_post.php": {
      "post": {
        "summary": "Create paste, list pastes, delete paste, or get user details",
        "description": "Multi-purpose endpoint that performs different operations based on the api_option parameter. Supports creating pastes (api_option=paste), listing user pastes (api_option=list), deleting pastes (api_option=delete), and getting user details (api_option=userdetails).",
        "operationId": "apiPost",
        "tags": ["Pastes"],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["api_dev_key", "api_option"],
                "properties": {
                  "api_dev_key": {
                    "type": "string",
                    "description": "Your unique developer API key"
                  },
                  "api_option": {
                    "type": "string",
                    "enum": ["paste", "list", "delete", "userdetails"],
                    "description": "The operation to perform"
                  },
                  "api_paste_code": {
                    "type": "string",
                    "description": "The text content of the paste (required when api_option=paste)"
                  },
                  "api_user_key": {
                    "type": "string",
                    "description": "User session key from login (required for list, delete, userdetails; optional for paste)"
                  },
                  "api_paste_name": {
                    "type": "string",
                    "description": "Name/title of the paste"
                  },
                  "api_paste_format": {
                    "type": "string",
                    "description": "Syntax highlighting format (e.g., python, javascript, html, css, sql, json, xml, bash, php, ruby, java, csharp, cpp, go, rust, swift, kotlin, typescript, yaml, markdown)"
                  },
                  "api_paste_private": {
                    "type": "string",
                    "enum": ["0", "1", "2"],
                    "description": "Paste visibility: 0=public, 1=unlisted, 2=private (requires api_user_key)"
                  },
                  "api_paste_expire_date": {
                    "type": "string",
                    "enum": ["N", "10M", "1H", "1D", "1W", "2W", "1M", "6M", "1Y"],
                    "description": "Paste expiration: N=Never, 10M=10 Minutes, 1H=1 Hour, 1D=1 Day, 1W=1 Week, 2W=2 Weeks, 1M=1 Month, 6M=6 Months, 1Y=1 Year"
                  },
                  "api_paste_key": {
                    "type": "string",
                    "description": "The paste key/identifier (required when api_option=delete)"
                  },
                  "api_results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000,
                    "default": 50,
                    "description": "Number of results to return for list operation"
                  },
                  "api_folder_key": {
                    "type": "string",
                    "description": "Folder key to place the paste in"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation result. For paste: returns the paste URL. For list: returns XML of pastes. For delete: returns 'Paste Removed'. For userdetails: returns XML of user info.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad API request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Bad API request, invalid api_option"
                }
              }
            }
          }
        }
      }
    },
    "/api_login.php": {
      "post": {
        "summary": "User login",
        "description": "Authenticates a user and returns a user session key (api_user_key) for use with authenticated operations.",
        "operationId": "userLogin",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["api_dev_key", "api_user_name", "api_user_password"],
                "properties": {
                  "api_dev_key": {
                    "type": "string",
                    "description": "Your unique developer API key"
                  },
                  "api_user_name": {
                    "type": "string",
                    "description": "Pastebin username"
                  },
                  "api_user_password": {
                    "type": "string",
                    "format": "password",
                    "description": "Pastebin password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User session key",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "The api_user_key session token"
                }
              }
            }
          },
          "400": {
            "description": "Bad API request (invalid login credentials)",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api_raw.php": {
      "post": {
        "summary": "Get raw paste content (authenticated)",
        "description": "Retrieves the raw content of a paste. Requires authentication for private pastes.",
        "operationId": "getRawPaste",
        "tags": ["Pastes"],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["api_dev_key", "api_user_key", "api_paste_key", "api_option"],
                "properties": {
                  "api_dev_key": {
                    "type": "string",
                    "description": "Your unique developer API key"
                  },
                  "api_user_key": {
                    "type": "string",
                    "description": "User session key"
                  },
                  "api_paste_key": {
                    "type": "string",
                    "description": "The paste identifier"
                  },
                  "api_option": {
                    "type": "string",
                    "enum": ["show_paste"],
                    "description": "Must be set to 'show_paste'"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Raw paste content",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad API request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PasteListItem": {
        "type": "object",
        "description": "XML-formatted paste metadata returned by the list operation",
        "properties": {
          "paste_key": {
            "type": "string",
            "description": "Unique paste identifier"
          },
          "paste_date": {
            "type": "integer",
            "description": "Unix timestamp of paste creation"
          },
          "paste_title": {
            "type": "string",
            "description": "Paste title/name"
          },
          "paste_size": {
            "type": "integer",
            "description": "Paste size in bytes"
          },
          "paste_expire_date": {
            "type": "integer",
            "description": "Unix timestamp of paste expiration (0 for never)"
          },
          "paste_private": {
            "type": "integer",
            "enum": [0, 1, 2],
            "description": "Paste visibility: 0=public, 1=unlisted, 2=private"
          },
          "paste_format_long": {
            "type": "string",
            "description": "Full name of the syntax highlighting format"
          },
          "paste_format_short": {
            "type": "string",
            "description": "Short code of the syntax highlighting format"
          },
          "paste_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the paste"
          },
          "paste_hits": {
            "type": "integer",
            "description": "Number of views"
          }
        }
      },
      "UserDetails": {
        "type": "object",
        "description": "XML-formatted user profile data",
        "properties": {
          "user_name": {
            "type": "string"
          },
          "user_format_short": {
            "type": "string",
            "description": "Default syntax highlighting format"
          },
          "user_expiration": {
            "type": "string",
            "description": "Default paste expiration"
          },
          "user_avatar_url": {
            "type": "string",
            "format": "uri"
          },
          "user_private": {
            "type": "integer",
            "description": "Default paste visibility"
          },
          "user_website": {
            "type": "string",
            "format": "uri"
          },
          "user_email": {
            "type": "string",
            "format": "email"
          },
          "user_location": {
            "type": "string"
          },
          "user_account_type": {
            "type": "integer",
            "description": "0=normal, 1=PRO"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Pastes",
      "description": "Paste management operations"
    },
    {
      "name": "Authentication",
      "description": "User authentication operations"
    }
  ]
}
