{
  "openapi": "3.0.3",
  "info": {
    "title": "Bettermode API",
    "version": "1.0.0",
    "description": "Bettermode (formerly Tribe) is a community platform that provides a GraphQL API for building custom apps, automating workflows, synchronizing data, and extending community functionality. The API supports operations for members, posts, spaces, analytics, authentication, moderation, and more.",
    "x-jentic-source-url": "https://developers.bettermode.com/",
    "contact": {
      "name": "Bettermode Support",
      "url": "https://developers.bettermode.com/"
    }
  },
  "servers": [
    {
      "url": "https://api.bettermode.com",
      "description": "US Region (us-east-1)"
    },
    {
      "url": "https://api.bettermode.de",
      "description": "EU Region (eu-central-1)"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/graphql": {
      "post": {
        "summary": "Execute GraphQL Query or Mutation",
        "description": "Main GraphQL endpoint for executing queries and mutations. All requests must be authenticated using an App Access Token or Member Access Token.",
        "operationId": "executeGraphQL",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              },
              "examples": {
                "getMember": {
                  "summary": "Query member by username",
                  "value": {
                    "query": "query { member(username: \"admin\") { id name username tagline } }"
                  }
                },
                "loginNetwork": {
                  "summary": "Login to network",
                  "value": {
                    "query": "mutation { loginNetwork(input: { usernameOrEmail: \"user@example.com\", password: \"password\" }) { accessToken role } }"
                  }
                },
                "createPost": {
                  "summary": "Create a draft post",
                  "value": {
                    "query": "mutation { createDraftPost(input: { spaceId: \"123\", title: \"Post Title\", content: \"Post content\" }) { id title status } }"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful GraphQL response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLResponse"
                },
                "examples": {
                  "successfulQuery": {
                    "summary": "Successful member query",
                    "value": {
                      "data": {
                        "member": {
                          "id": "12345",
                          "name": "Admin User",
                          "username": "admin",
                          "tagline": "Community Administrator"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid GraphQL syntax or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["GraphQL"]
      }
    },
    "/graphql/member": {
      "post": {
        "summary": "Query Member Information",
        "description": "GraphQL query operation for retrieving member information by username or other criteria.",
        "operationId": "queryMember",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              },
              "example": {
                "query": "query { member(username: \"admin\") { id name username tagline email } }"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Members"]
      }
    },
    "/graphql/loginNetwork": {
      "post": {
        "summary": "Login to Network",
        "description": "GraphQL mutation for authenticating a user and obtaining an access token.",
        "operationId": "loginNetwork",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              },
              "example": {
                "query": "mutation { loginNetwork(input: { usernameOrEmail: \"user@example.com\", password: \"password\" }) { accessToken role member { id name } } }"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Authentication"]
      }
    },
    "/graphql/createDraftPost": {
      "post": {
        "summary": "Create Draft Post",
        "description": "GraphQL mutation for creating a new draft post in a space.",
        "operationId": "createDraftPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              },
              "example": {
                "query": "mutation { createDraftPost(input: { spaceId: \"123\", title: \"Post Title\", content: \"Post content\" }) { id title status createdAt } }"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Draft post created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Posts"]
      }
    },
    "/graphql/addReaction": {
      "post": {
        "summary": "Add Reaction",
        "description": "GraphQL mutation for adding a reaction to a post or comment.",
        "operationId": "addReaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              },
              "example": {
                "query": "mutation { addReaction(input: { reaction: \"like\", postId: \"123\" }) { status } }"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reaction added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Reactions"]
      }
    },
    "/graphql/inviteMembers": {
      "post": {
        "summary": "Invite Members",
        "description": "GraphQL mutation for inviting new members to the community.",
        "operationId": "inviteMembers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              },
              "example": {
                "query": "mutation { inviteMembers(input: { emails: [\"user1@example.com\", \"user2@example.com\"] }) { status } }"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitations sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Invitations"]
      }
    },
    "/graphql/addSpaceMembers": {
      "post": {
        "summary": "Add Space Members",
        "description": "GraphQL mutation for adding members to a specific space.",
        "operationId": "addSpaceMembers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              },
              "example": {
                "query": "mutation { addSpaceMembers(input: { spaceId: \"123\", memberIds: [\"456\", \"789\"] }) { status } }"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Members added to space successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Spaces"]
      }
    },
    "/graphql/createTag": {
      "post": {
        "summary": "Create Tag",
        "description": "GraphQL mutation for creating a new tag.",
        "operationId": "createTag",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              },
              "example": {
                "query": "mutation { createTag(input: { title: \"New Tag\" }) { id title } }"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Tags"]
      }
    },
    "/graphql/castVote": {
      "post": {
        "summary": "Cast Vote",
        "description": "GraphQL mutation for casting a vote on a poll.",
        "operationId": "castVote",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              },
              "example": {
                "query": "mutation { castVote(input: { pollId: \"123\", optionId: \"456\" }) { status } }"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vote cast successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Polls"]
      }
    },
    "/graphql/createModerationReport": {
      "post": {
        "summary": "Create Moderation Report",
        "description": "GraphQL mutation for creating a moderation report for content.",
        "operationId": "createModerationReport",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              },
              "example": {
                "query": "mutation { createModerationReport(input: { postId: \"123\", reason: \"spam\" }) { id status } }"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Moderation report created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": ["Moderation"]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "App Access Token or Member Access Token. Include the token in the Authorization header as 'Bearer <token>'"
      }
    },
    "schemas": {
      "GraphQLRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": {
            "type": "string",
            "description": "The GraphQL query or mutation string"
          },
          "variables": {
            "type": "object",
            "description": "Optional variables for the GraphQL operation",
            "additionalProperties": true
          },
          "operationName": {
            "type": "string",
            "description": "Optional name of the operation to execute if the query contains multiple operations"
          }
        }
      },
      "GraphQLResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "description": "The result of the GraphQL operation",
            "additionalProperties": true
          },
          "errors": {
            "type": "array",
            "description": "Array of errors if the operation encountered issues",
            "items": {
              "$ref": "#/components/schemas/GraphQLError"
            }
          }
        }
      },
      "GraphQLError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "locations": {
            "type": "array",
            "description": "Locations in the query where the error occurred",
            "items": {
              "type": "object",
              "properties": {
                "line": {
                  "type": "integer"
                },
                "column": {
                  "type": "integer"
                }
              }
            }
          },
          "path": {
            "type": "array",
            "description": "Path to the field that caused the error",
            "items": {
              "type": "string"
            }
          },
          "extensions": {
            "type": "object",
            "description": "Additional error information",
            "additionalProperties": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "message": {
            "type": "string",
            "description": "Detailed error description"
          },
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code"
          }
        },
        "required": ["error", "message"]
      }
    }
  },
  "tags": [
    {
      "name": "GraphQL",
      "description": "Main GraphQL endpoint for all operations"
    },
    {
      "name": "Authentication",
      "description": "Authentication and authorization operations"
    },
    {
      "name": "Members",
      "description": "Member management and queries"
    },
    {
      "name": "Posts",
      "description": "Post creation and management"
    },
    {
      "name": "Spaces",
      "description": "Space management and member operations"
    },
    {
      "name": "Reactions",
      "description": "Reaction operations for posts and comments"
    },
    {
      "name": "Invitations",
      "description": "Member invitation operations"
    },
    {
      "name": "Tags",
      "description": "Tag management"
    },
    {
      "name": "Polls",
      "description": "Poll voting operations"
    },
    {
      "name": "Moderation",
      "description": "Content moderation operations"
    }
  ]
}
