{
  "openapi": "3.0.0",
  "info": {
    "description": "DevSpacesManagement provides programmatic access to providers, subscriptions resources.",
    "title": "DevSpacesManagement",
    "version": "2019-01-01-preview",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/devspaces/2019-01-01-preview/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devspaces/resource-manager/Microsoft.DevSpaces/preview/2019-01-01-preview/devspaces.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "devspaces",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.DevSpaces/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceProviderOperationList"
                }
              }
            },
            "description": "The request was successful; response contains the list of operations under Microsoft.DevSpaces resource provider."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "Lists all the supported operations by the Microsoft.DevSpaces resource provider along with their description.",
        "operationId": "Operations_List",
        "summary": "Lists operations for the resource provider.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevSpaces/controllers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControllerList"
                }
              }
            },
            "description": "The request was successful; response contains the list of Azure Dev Spaces Controllers in the subscription."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing the reason for operation failure."
          }
        },
        "tags": [
          "Controllers"
        ],
        "description": "Lists all the Azure Dev Spaces Controllers with their properties in the subscription.",
        "operationId": "Controllers_List",
        "summary": "Lists the Azure Dev Spaces Controllers in a subscription.",
        "x-ms-examples": {
          "ControllersList": {
            "parameters": {
              "api-version": "2019-01-01-preview",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "tags": {},
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DevSpaces/controllers/myControllerResource",
                      "location": "eastus",
                      "name": "myControllerResource",
                      "properties": {
                        "dataPlaneFqdn": "dataplane.azds.io",
                        "hostSuffix": "suffix.azds.io",
                        "provisioningState": "Succeeded",
                        "targetContainerHostResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster"
                      },
                      "sku": {
                        "name": "S1",
                        "tier": "Standard"
                      },
                      "type": "Microsoft.DevSpaces/controllers"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/controllers": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControllerList"
                }
              }
            },
            "description": "The request was successful; response contains the list of Azure Dev Spaces Controllers in the resource group."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing the reason for operation failure."
          }
        },
        "tags": [
          "Controllers"
        ],
        "description": "Lists all the Azure Dev Spaces Controllers with their properties in the specified resource group and subscription.",
        "operationId": "Controllers_ListByResourceGroup",
        "summary": "Lists the Azure Dev Spaces Controllers in a resource group.",
        "x-ms-examples": {
          "ControllersListByResourceGroup": {
            "parameters": {
              "api-version": "2019-01-01-preview",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "tags": {},
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DevSpaces/controllers/myControllerResource",
                      "location": "eastus",
                      "name": "myControllerResource",
                      "properties": {
                        "dataPlaneFqdn": "dataplane.azds.io",
                        "hostSuffix": "suffix.azds.io",
                        "provisioningState": "Succeeded",
                        "targetContainerHostResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster"
                      },
                      "sku": {
                        "name": "S1",
                        "tier": "Standard"
                      },
                      "type": "Microsoft.DevSpaces/controllers"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/controllers/{name}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/NameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the Azure Dev Spaces Controller is deleted."
          },
          "202": {
            "description": "The request was successful; Azure Dev Spaces Controller is being deleted."
          },
          "204": {
            "description": "The request was successful; Azure Dev Spaces Controller does not exist."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing the reason for operation failure. 409 - Conflict(Azure Dev Spaces Controller is already getting deleted.)"
          }
        },
        "tags": [
          "Controllers"
        ],
        "description": "Deletes an existing Azure Dev Spaces Controller.",
        "operationId": "Controllers_Delete",
        "summary": "Deletes an Azure Dev Spaces Controller.",
        "x-ms-examples": {
          "ControllersDelete": {
            "parameters": {
              "api-version": "2019-01-01-preview",
              "name": "myControllerResource",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {},
              "202": {
                "headers": {
                  "Location": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DevSpaces/operationresults/00000000-0000-0000-0000-000000000000"
                }
              },
              "204": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/NameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Controller"
                }
              }
            },
            "description": "The request was successful; response contains the Azure Dev Spaces Controller."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing the reason for operation failure. 404 - NotFound(Azure Dev Spaces Controller doesn't exist.)"
          }
        },
        "tags": [
          "Controllers"
        ],
        "description": "Gets the properties for an Azure Dev Spaces Controller.",
        "operationId": "Controllers_Get",
        "summary": "Gets an Azure Dev Spaces Controller.",
        "x-ms-examples": {
          "ControllersGet": {
            "parameters": {
              "api-version": "2019-01-01-preview",
              "name": "myControllerResource",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {},
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DevSpaces/controllers/myControllerResource",
                  "location": "eastus",
                  "name": "myControllerResource",
                  "properties": {
                    "dataPlaneFqdn": "dataplane.azds.io",
                    "hostSuffix": "suffix.azds.io",
                    "provisioningState": "Succeeded",
                    "targetContainerHostResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster"
                  },
                  "sku": {
                    "name": "S1",
                    "tier": "Standard"
                  },
                  "type": "Microsoft.DevSpaces/controllers"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/NameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Controller"
                }
              }
            },
            "description": "The request was successful; response contains the updated Azure Dev Spaces Controller ."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing the reason for operation failure. 404 - NotFound(Azure Dev Spaces Controller doesn't exist.), 400 - BadRequest(One or more update parameters are invalid.)"
          }
        },
        "tags": [
          "Controllers"
        ],
        "description": "Updates the properties of an existing Azure Dev Spaces Controller with the specified update parameters.",
        "operationId": "Controllers_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ControllerUpdateParameters"
              }
            }
          },
          "description": "Parameters for updating the Azure Dev Spaces Controller.",
          "required": true
        },
        "summary": "Updates an Azure Dev Spaces Controller.",
        "x-ms-examples": {
          "ControllersUpdate": {
            "parameters": {
              "api-version": "2019-01-01-preview",
              "controllerUpdateParameters": {
                "tags": {
                  "key": "value"
                }
              },
              "name": "myControllerResource",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "key": "value"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DevSpaces/controllers/myControllerResource",
                  "location": "eastus",
                  "name": "myControllerResource",
                  "properties": {
                    "dataPlaneFqdn": "dataplane.azds.io",
                    "hostSuffix": "suffix.azds.io",
                    "provisioningState": "Succeeded",
                    "targetContainerHostResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster"
                  },
                  "sku": {
                    "name": "S1",
                    "tier": "Standard"
                  },
                  "type": "Microsoft.DevSpaces/controllers"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/NameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Controller"
                }
              }
            },
            "description": "The request was successful; response contains the created Azure Dev Spaces Controller ."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Controller"
                }
              }
            },
            "description": "The request was successful; Azure Dev Spaces Controller is being created."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing the reason for operation failure. 404 - NotFound(Azure Dev Spaces Controller doesn't exist.), 400 - BadRequest(One or more creation parameters are invalid.)"
          }
        },
        "tags": [
          "Controllers"
        ],
        "description": "Creates an Azure Dev Spaces Controller with the specified create parameters.",
        "operationId": "Controllers_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Controller"
              }
            }
          },
          "description": "Controller create parameters.",
          "required": true
        },
        "summary": "Creates an Azure Dev Spaces Controller.",
        "x-ms-examples": {
          "ControllersCreate": {
            "parameters": {
              "api-version": "2019-01-01-preview",
              "controller": {
                "tags": {},
                "location": "eastus",
                "properties": {
                  "targetContainerHostCredentialsBase64": "QmFzZTY0IEVuY29kZWQgVmFsdWUK",
                  "targetContainerHostResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster"
                },
                "sku": {
                  "name": "S1",
                  "tier": "Standard"
                }
              },
              "name": "myControllerResource",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {},
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DevSpaces/controllers/myControllerResource",
                  "location": "eastus",
                  "name": "myControllerResource",
                  "properties": {
                    "dataPlaneFqdn": "dataplane.azds.io",
                    "hostSuffix": "suffix.azds.io",
                    "provisioningState": "Succeeded",
                    "targetContainerHostResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster"
                  },
                  "sku": {
                    "name": "S1",
                    "tier": "Standard"
                  },
                  "type": "Microsoft.DevSpaces/controllers"
                }
              },
              "201": {
                "body": {
                  "tags": {},
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DevSpaces/controllers/myControllerResource",
                  "location": "eastus",
                  "name": "myControllerResource",
                  "properties": {
                    "provisioningState": "Creating",
                    "targetContainerHostResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster"
                  },
                  "sku": {
                    "name": "S1",
                    "tier": "Standard"
                  },
                  "type": "Microsoft.DevSpaces/controllers"
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/controllers/{name}/listConnectionDetails": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/components/parameters/NameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControllerConnectionDetailsList"
                }
              }
            },
            "description": "The request was successful; response contains the list of connection details for the Azure Dev Spaces Controller ."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing the reason for operation failure. 404 - NotFound(Azure Dev Spaces Controller doesn't exist.)"
          }
        },
        "tags": [
          "Controllers"
        ],
        "description": "Lists connection details for the underlying container resources of an Azure Dev Spaces Controller.",
        "operationId": "Controllers_ListConnectionDetails",
        "summary": "Lists connection details for an Azure Dev Spaces Controller.",
        "x-ms-examples": {
          "ControllersListConnectionDetails": {
            "parameters": {
              "api-version": "2019-01-01-preview",
              "name": "myControllerResource",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "connectionDetailsList": [
                    {
                      "authKey": "0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000",
                      "orchestratorSpecificConnectionDetails": {
                        "instanceType": "Kubernetes",
                        "kubeConfig": "0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/locations/{location}/checkContainerHostMapping": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupParameter"
          },
          {
            "description": "Location of the container host.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "ContainerHostMappings"
        ],
        "operationId": "ContainerHostMappings_GetContainerHostMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContainerHostMapping"
              }
            }
          },
          "required": true
        },
        "summary": "Returns container host mapping object for a container host resource ID if an associated controller exists.",
        "x-ms-examples": {
          "ContainerHostMappingsGetContainerHostMapping": {
            "parameters": {
              "api-version": "2019-01-01-preview",
              "containerHostMapping": {
                "containerHostResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster"
              },
              "location": "eastus",
              "resourceGroupName": "myResourceGroup",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "containerHostResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerService/managedClusters/myCluster",
                  "mappedControllerResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/myResourceGroup/providers/Microsoft.DevSpaces/controllers/myController"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client API version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "NameParameter": {
        "description": "Name of the resource.",
        "in": "path",
        "name": "name",
        "required": true,
        "schema": {
          "maxLength": 31,
          "minLength": 3,
          "pattern": "^[a-zA-Z0-9](-?[a-zA-Z0-9])*$",
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceGroupParameter": {
        "description": "Resource group to which the resource belongs.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "maxLength": 90,
          "minLength": 1,
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "Azure subscription ID.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ContainerHostMapping": {
        "description": "Container host mapping object specifying the Container host resource ID and its associated Controller resource.",
        "properties": {
          "containerHostResourceId": {
            "description": "ARM ID of the Container Host resource",
            "type": "string"
          },
          "mappedControllerResourceId": {
            "description": "ARM ID of the mapped Controller resource",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Controller": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TrackedResource"
          }
        ],
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ControllerProperties",
            "x-ms-client-flatten": true
          },
          "sku": {
            "$ref": "#/components/schemas/Sku"
          }
        },
        "required": [
          "properties",
          "sku",
          "location"
        ],
        "type": "object"
      },
      "ControllerConnectionDetails": {
        "properties": {
          "authKey": {
            "description": "Authentication key for communicating with services.",
            "readOnly": true,
            "type": "string"
          },
          "orchestratorSpecificConnectionDetails": {
            "$ref": "#/components/schemas/OrchestratorSpecificConnectionDetails"
          }
        },
        "type": "object"
      },
      "ControllerConnectionDetailsList": {
        "properties": {
          "connectionDetailsList": {
            "description": "List of Azure Dev Spaces Controller connection details.",
            "items": {
              "$ref": "#/components/schemas/ControllerConnectionDetails"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ControllerList": {
        "properties": {
          "nextLink": {
            "description": "The URI that can be used to request the next page for list of Azure Dev Spaces Controllers.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "List of Azure Dev Spaces Controllers.",
            "items": {
              "$ref": "#/components/schemas/Controller"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ControllerProperties": {
        "properties": {
          "dataPlaneFqdn": {
            "description": "DNS name for accessing DataPlane services",
            "readOnly": true,
            "type": "string"
          },
          "hostSuffix": {
            "description": "DNS suffix for public endpoints running in the Azure Dev Spaces Controller.",
            "readOnly": true,
            "type": "string"
          },
          "provisioningState": {
            "description": "Provisioning state of the Azure Dev Spaces Controller.",
            "enum": [
              "Succeeded",
              "Failed",
              "Canceled",
              "Updating",
              "Creating",
              "Deleting",
              "Deleted"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ProvisioningState"
            }
          },
          "targetContainerHostCredentialsBase64": {
            "description": "Credentials of the target container host (base64).",
            "type": "string",
            "x-ms-mutability": [
              "create"
            ]
          },
          "targetContainerHostResourceId": {
            "description": "Resource ID of the target container host",
            "type": "string",
            "x-ms-mutability": [
              "read",
              "create"
            ]
          }
        },
        "required": [
          "targetContainerHostResourceId",
          "targetContainerHostCredentialsBase64"
        ],
        "type": "object"
      },
      "ControllerUpdateParameters": {
        "description": "Parameters for updating an Azure Dev Spaces Controller.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Tags for the Azure Dev Spaces Controller."
          }
        },
        "type": "object"
      },
      "ErrorDetails": {
        "properties": {
          "code": {
            "description": "Status code for the error.",
            "readOnly": true,
            "type": "string"
          },
          "message": {
            "description": "Error message describing the error in detail.",
            "readOnly": true,
            "type": "string"
          },
          "target": {
            "description": "The target of the particular error.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorDetails",
            "description": "The details of the error."
          }
        },
        "type": "object"
      },
      "KubernetesConnectionDetails": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OrchestratorSpecificConnectionDetails"
          }
        ],
        "description": "Contains information used to connect to a Kubernetes cluster",
        "properties": {
          "kubeConfig": {
            "description": "Gets the kubeconfig for the cluster.",
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-discriminator-value": "Kubernetes"
      },
      "OrchestratorSpecificConnectionDetails": {
        "description": "Base class for types that supply values used to connect to container orchestrators",
        "discriminator": {
          "propertyName": "instanceType"
        },
        "properties": {
          "instanceType": {
            "description": "Gets the Instance type.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "An Azure resource.",
        "properties": {
          "id": {
            "description": "Fully qualified resource Id for the resource.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "The type of the resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      },
      "ResourceProviderOperationDefinition": {
        "properties": {
          "display": {
            "$ref": "#/components/schemas/ResourceProviderOperationDisplay"
          },
          "name": {
            "description": "Resource provider operation name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ResourceProviderOperationDisplay": {
        "properties": {
          "description": {
            "description": "Description of the resource provider operation.",
            "type": "string"
          },
          "operation": {
            "description": "Name of the resource provider operation.",
            "type": "string"
          },
          "provider": {
            "description": "Name of the resource provider.",
            "type": "string"
          },
          "resource": {
            "description": "Name of the resource type.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ResourceProviderOperationList": {
        "properties": {
          "nextLink": {
            "description": "The URI that can be used to request the next page for list of Azure operations.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "Resource provider operations list.",
            "items": {
              "$ref": "#/components/schemas/ResourceProviderOperationDefinition"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Sku": {
        "description": "Model representing SKU for Azure Dev Spaces Controller.",
        "properties": {
          "name": {
            "description": "The name of the SKU for Azure Dev Spaces Controller.",
            "enum": [
              "S1"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SkuName"
            }
          },
          "tier": {
            "description": "The tier of the SKU for Azure Dev Spaces Controller.",
            "enum": [
              "Standard"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SkuTier"
            }
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "TrackedResource": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "The resource model definition for a ARM tracked top level resource.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Tags for the Azure resource.",
            "type": "object",
            "x-ms-mutability": [
              "read",
              "create",
              "update"
            ]
          },
          "location": {
            "description": "Region where the Azure resource is located.",
            "type": "string",
            "x-ms-mutability": [
              "read",
              "create"
            ]
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}