{
  "openapi": "3.0.3",
  "info": {
    "title": "PayU Latam Payments API",
    "description": "PayU Latam payment processing API supporting credit/debit card transactions, bank transfers, QR payments, queries, and health checks.",
    "version": "4.0",
    "x-jentic-source-url": "https://developers.payulatam.com/latam/en/docs/integrations/api-integration.html"
  },
  "servers": [
    {
      "url": "https://api.payulatam.com",
      "description": "Production server"
    },
    {
      "url": "https://sandbox.api.payulatam.com",
      "description": "Sandbox server"
    }
  ],
  "paths": {
    "/payments-api/4.0/service.cgi": {
      "post": {
        "operationId": "submitTransaction",
        "summary": "Submit a payment transaction",
        "description": "Submit a payment transaction using credit card, debit card, bank transfer (PSE), or QR code. The command field determines the operation type.",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments-api/4.0/service.cgi#getBanksList": {
      "post": {
        "operationId": "getBanksList",
        "summary": "Get list of available banks for PSE transfers",
        "tags": [
          "Utilities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBanksListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Banks list retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBanksListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments-api/4.0/service.cgi#ping": {
      "post": {
        "operationId": "ping",
        "summary": "Ping the API to verify connectivity",
        "tags": [
          "Utilities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ping successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports-api/4.0/service.cgi#queryByOrderId": {
      "post": {
        "operationId": "queryByOrderId",
        "summary": "Query order details by order ID",
        "tags": [
          "Queries"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryByOrderIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports-api/4.0/service.cgi#queryByTransactionId": {
      "post": {
        "operationId": "queryByTransactionId",
        "summary": "Query transaction details by transaction ID",
        "tags": [
          "Queries"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryByTransactionIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports-api/4.0/service.cgi#queryByReferenceCode": {
      "post": {
        "operationId": "queryByReferenceCode",
        "summary": "Query order details by reference code",
        "tags": [
          "Queries"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryByReferenceCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryOrderListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "merchantAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Merchant authentication using apiLogin and apiKey provided in the request body"
      }
    },
    "schemas": {
      "Merchant": {
        "type": "object",
        "required": [
          "apiLogin",
          "apiKey"
        ],
        "properties": {
          "apiLogin": {
            "type": "string",
            "minLength": 12,
            "maxLength": 32,
            "description": "Merchant API login"
          },
          "apiKey": {
            "type": "string",
            "minLength": 6,
            "maxLength": 32,
            "description": "Merchant API key"
          }
        }
      },
      "PaymentRequest": {
        "type": "object",
        "required": [
          "language",
          "command",
          "merchant",
          "transaction"
        ],
        "properties": {
          "language": {
            "type": "string",
            "maxLength": 2,
            "description": "Language code (e.g., en, es)"
          },
          "command": {
            "type": "string",
            "enum": [
              "SUBMIT_TRANSACTION"
            ],
            "description": "API command"
          },
          "test": {
            "type": "boolean",
            "description": "Enable test mode"
          },
          "merchant": {
            "$ref": "#/components/schemas/Merchant"
          },
          "transaction": {
            "$ref": "#/components/schemas/Transaction"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "required": [
          "order",
          "type",
          "paymentMethod",
          "paymentCountry"
        ],
        "properties": {
          "order": {
            "$ref": "#/components/schemas/Order"
          },
          "creditCard": {
            "$ref": "#/components/schemas/CreditCard"
          },
          "debitCard": {
            "$ref": "#/components/schemas/DebitCard"
          },
          "type": {
            "type": "string",
            "enum": [
              "AUTHORIZATION_AND_CAPTURE",
              "AUTHORIZATION"
            ],
            "description": "Transaction type"
          },
          "paymentMethod": {
            "type": "string",
            "description": "Payment method code (e.g., VISA, MASTERCARD, PSE, INTEROPERABLE_QR)"
          },
          "paymentCountry": {
            "type": "string",
            "maxLength": 2,
            "description": "ISO country code"
          },
          "deviceSessionId": {
            "type": "string",
            "maxLength": 255,
            "description": "Device session identifier"
          },
          "ipAddress": {
            "type": "string",
            "maxLength": 39,
            "description": "Payer IP address"
          },
          "cookie": {
            "type": "string",
            "maxLength": 255,
            "description": "Session cookie"
          },
          "userAgent": {
            "type": "string",
            "maxLength": 1024,
            "description": "Browser user agent"
          },
          "extraParameters": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Additional parameters for specific payment methods"
          },
          "threeDomainSecure": {
            "type": "object",
            "properties": {
              "embedded": {
                "type": "boolean"
              },
              "eci": {
                "type": "string"
              },
              "cavv": {
                "type": "string"
              },
              "xid": {
                "type": "string"
              },
              "directoryServerTransactionId": {
                "type": "string"
              }
            }
          }
        }
      },
      "Order": {
        "type": "object",
        "required": [
          "accountId",
          "referenceCode",
          "description",
          "language",
          "signature",
          "additionalValues"
        ],
        "properties": {
          "accountId": {
            "type": "integer",
            "description": "PayU account ID"
          },
          "referenceCode": {
            "type": "string",
            "maxLength": 255,
            "description": "Unique order reference code"
          },
          "description": {
            "type": "string",
            "maxLength": 255,
            "description": "Order description"
          },
          "language": {
            "type": "string",
            "maxLength": 2,
            "description": "Language code"
          },
          "notifyUrl": {
            "type": "string",
            "maxLength": 2048,
            "description": "Notification URL"
          },
          "signature": {
            "type": "string",
            "maxLength": 255,
            "description": "Request signature"
          },
          "additionalValues": {
            "type": "object",
            "properties": {
              "TX_VALUE": {
                "$ref": "#/components/schemas/AdditionalValue"
              },
              "TX_TAX": {
                "$ref": "#/components/schemas/AdditionalValue"
              },
              "TX_TAX_RETURN_BASE": {
                "$ref": "#/components/schemas/AdditionalValue"
              }
            }
          },
          "buyer": {
            "$ref": "#/components/schemas/Buyer"
          },
          "shippingAddress": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "AdditionalValue": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Monetary value"
          },
          "currency": {
            "type": "string",
            "maxLength": 3,
            "description": "ISO currency code"
          }
        }
      },
      "Buyer": {
        "type": "object",
        "properties": {
          "merchantBuyerId": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "contactPhone": {
            "type": "string"
          },
          "dniNumber": {
            "type": "string"
          },
          "shippingAddress": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "street1": {
            "type": "string"
          },
          "street2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "CreditCard": {
        "type": "object",
        "required": [
          "number",
          "securityCode",
          "expirationDate",
          "name"
        ],
        "properties": {
          "number": {
            "type": "string",
            "minLength": 13,
            "maxLength": 20,
            "description": "Card number"
          },
          "securityCode": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4,
            "description": "Card security code (CVV)"
          },
          "expirationDate": {
            "type": "string",
            "description": "Expiration date in YYYY/MM format"
          },
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "Cardholder name"
          }
        }
      },
      "DebitCard": {
        "type": "object",
        "required": [
          "number",
          "securityCode",
          "expirationDate",
          "name"
        ],
        "properties": {
          "number": {
            "type": "string",
            "minLength": 13,
            "maxLength": 20,
            "description": "Card number"
          },
          "securityCode": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4,
            "description": "Card security code"
          },
          "expirationDate": {
            "type": "string",
            "description": "Expiration date in YYYY/MM format"
          },
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "Cardholder name"
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Response code (SUCCESS or ERROR)"
          },
          "error": {
            "type": "string",
            "nullable": true,
            "description": "Error message if applicable"
          },
          "transactionResponse": {
            "$ref": "#/components/schemas/TransactionResponse"
          }
        }
      },
      "TransactionResponse": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "integer",
            "description": "PayU order ID"
          },
          "transactionId": {
            "type": "string",
            "description": "Transaction UUID"
          },
          "state": {
            "type": "string",
            "description": "Transaction state (e.g., APPROVED, PENDING, DECLINED)"
          },
          "responseCode": {
            "type": "string",
            "description": "Response code"
          },
          "paymentNetworkResponseCode": {
            "type": "string",
            "description": "Payment network response"
          },
          "authorizationCode": {
            "type": "string",
            "description": "Authorization code"
          },
          "responseMessage": {
            "type": "string",
            "description": "Response message"
          },
          "operationDate": {
            "type": "string",
            "format": "date-time",
            "description": "Operation timestamp"
          },
          "extraParameters": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Extra response parameters (e.g., QR code data, bank URLs)"
          }
        }
      },
      "GetBanksListRequest": {
        "type": "object",
        "required": [
          "language",
          "command",
          "merchant",
          "bankListInformation"
        ],
        "properties": {
          "language": {
            "type": "string",
            "maxLength": 2
          },
          "command": {
            "type": "string",
            "enum": [
              "GET_BANKS_LIST"
            ]
          },
          "test": {
            "type": "boolean"
          },
          "merchant": {
            "$ref": "#/components/schemas/Merchant"
          },
          "bankListInformation": {
            "type": "object",
            "properties": {
              "paymentMethod": {
                "type": "string",
                "description": "Payment method (e.g., PSE)"
              },
              "paymentCountry": {
                "type": "string",
                "description": "Country code (e.g., CO)"
              }
            }
          }
        }
      },
      "GetBanksListResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "banks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Bank"
            }
          }
        }
      },
      "Bank": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Bank ID"
          },
          "description": {
            "type": "string",
            "description": "Bank name"
          },
          "pseCode": {
            "type": "string",
            "description": "PSE bank code"
          }
        }
      },
      "PingRequest": {
        "type": "object",
        "required": [
          "language",
          "command",
          "merchant"
        ],
        "properties": {
          "language": {
            "type": "string",
            "maxLength": 2
          },
          "command": {
            "type": "string",
            "enum": [
              "PING"
            ]
          },
          "merchant": {
            "$ref": "#/components/schemas/Merchant"
          },
          "test": {
            "type": "boolean"
          }
        }
      },
      "PingResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Response code (SUCCESS)"
          }
        }
      },
      "QueryByOrderIdRequest": {
        "type": "object",
        "required": [
          "language",
          "command",
          "merchant",
          "details"
        ],
        "properties": {
          "language": {
            "type": "string",
            "maxLength": 2
          },
          "command": {
            "type": "string",
            "enum": [
              "ORDER_DETAIL"
            ]
          },
          "test": {
            "type": "boolean"
          },
          "merchant": {
            "$ref": "#/components/schemas/Merchant"
          },
          "details": {
            "type": "object",
            "required": [
              "orderId"
            ],
            "properties": {
              "orderId": {
                "type": "integer",
                "description": "PayU order ID"
              }
            }
          }
        }
      },
      "QueryByTransactionIdRequest": {
        "type": "object",
        "required": [
          "language",
          "command",
          "merchant",
          "details"
        ],
        "properties": {
          "language": {
            "type": "string",
            "maxLength": 2
          },
          "command": {
            "type": "string",
            "enum": [
              "TRANSACTION_RESPONSE_DETAIL"
            ]
          },
          "test": {
            "type": "boolean"
          },
          "merchant": {
            "$ref": "#/components/schemas/Merchant"
          },
          "details": {
            "type": "object",
            "required": [
              "transactionId"
            ],
            "properties": {
              "transactionId": {
                "type": "string",
                "description": "Transaction UUID"
              }
            }
          }
        }
      },
      "QueryByReferenceCodeRequest": {
        "type": "object",
        "required": [
          "language",
          "command",
          "merchant",
          "details"
        ],
        "properties": {
          "language": {
            "type": "string",
            "maxLength": 2
          },
          "command": {
            "type": "string",
            "enum": [
              "ORDER_DETAIL_BY_REFERENCE_CODE"
            ]
          },
          "test": {
            "type": "boolean"
          },
          "merchant": {
            "$ref": "#/components/schemas/Merchant"
          },
          "details": {
            "type": "object",
            "required": [
              "referenceCode"
            ],
            "properties": {
              "referenceCode": {
                "type": "string",
                "description": "Merchant reference code"
              }
            }
          }
        }
      },
      "QueryOrderResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "result": {
            "type": "object",
            "properties": {
              "payload": {
                "$ref": "#/components/schemas/OrderDetail"
              }
            }
          }
        }
      },
      "QueryOrderListResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "result": {
            "type": "object",
            "properties": {
              "payload": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OrderDetail"
                }
              }
            }
          }
        }
      },
      "QueryTransactionResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "result": {
            "type": "object",
            "properties": {
              "payload": {
                "type": "object",
                "properties": {
                  "state": {
                    "type": "string"
                  },
                  "authorizationCode": {
                    "type": "string"
                  },
                  "responseCode": {
                    "type": "string"
                  },
                  "operationDate": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "OrderDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "referenceCode": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionResponse"
            }
          },
          "additionalValues": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/AdditionalValue"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "ERROR"
          },
          "error": {
            "type": "string",
            "description": "Error description"
          }
        }
      }
    }
  },
  "security": [
    {
      "merchantAuth": []
    }
  ],
  "tags": [
    {
      "name": "Payments",
      "description": "Payment submission operations"
    },
    {
      "name": "Queries",
      "description": "Order and transaction query operations"
    },
    {
      "name": "Utilities",
      "description": "Utility endpoints like ping and bank lists"
    }
  ]
}