{
  "openapi": "3.0.3",
  "info": {
    "title": "Currencylayer API",
    "version": "1.0.0",
    "description": "Currencylayer provides a JSON-based REST API delivering real-time and historical exchange rates for 168 world currencies, making currency conversion and exchange rate lookups simple and reliable.",
    "x-jentic-source-url": "https://currencylayer.com/documentation"
  },
  "servers": [
    {
      "url": "https://api.currencylayer.com"
    }
  ],
  "paths": {
    "/live": {
      "get": {
        "operationId": "getLiveRates",
        "summary": "Get real-time exchange rates",
        "description": "Returns real-time exchange rates for all or specified currencies relative to a source currency.",
        "tags": ["Exchange Rates"],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your API access key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "Comma-separated list of currency codes to limit output (e.g., USD,EUR,GBP)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Source currency code (default: USD). Requires paid plan for non-USD sources.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Set to 1 for formatted output",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [1]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with live exchange rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveRatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid access key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/historical": {
      "get": {
        "operationId": "getHistoricalRates",
        "summary": "Get historical exchange rates",
        "description": "Returns historical exchange rates for a specific date.",
        "tags": ["Exchange Rates"],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your API access key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date for historical rates in YYYY-MM-DD format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "Comma-separated list of currency codes to limit output",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Source currency code (default: USD)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with historical exchange rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalRatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/convert": {
      "get": {
        "operationId": "convertCurrency",
        "summary": "Convert currency",
        "description": "Converts an amount from one currency to another using real-time or historical rates.",
        "tags": ["Conversion"],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your API access key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Source currency code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Target currency code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "description": "Amount to convert",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Optional date for historical conversion in YYYY-MM-DD format",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful conversion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/timeframe": {
      "get": {
        "operationId": "getTimeframeRates",
        "summary": "Get exchange rates for a timeframe",
        "description": "Returns exchange rates for a specified timeframe (date range). Requires Professional plan or higher.",
        "tags": ["Exchange Rates"],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your API access key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date in YYYY-MM-DD format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date in YYYY-MM-DD format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "Comma-separated list of currency codes to limit output",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Source currency code (default: USD)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with timeframe rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeframeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/change": {
      "get": {
        "operationId": "getCurrencyChange",
        "summary": "Get currency change data",
        "description": "Returns the change (margin and percentage) of one or more currencies relative to a source currency between two dates.",
        "tags": ["Exchange Rates"],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your API access key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date in YYYY-MM-DD format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date in YYYY-MM-DD format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "currencies",
            "in": "query",
            "description": "Comma-separated list of currency codes",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Source currency code (default: USD)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with change data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list": {
      "get": {
        "operationId": "listCurrencies",
        "summary": "List all supported currencies",
        "description": "Returns a list of all supported currency codes and names.",
        "tags": ["Currencies"],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your API access key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with currency list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LiveRatesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix timestamp of the rates"
          },
          "source": {
            "type": "string",
            "description": "Source currency code"
          },
          "quotes": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "Exchange rate quotes keyed by currency pair (e.g., USDEUR)"
          }
        }
      },
      "HistoricalRatesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "historical": {
            "type": "boolean"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "timestamp": {
            "type": "integer"
          },
          "source": {
            "type": "string"
          },
          "quotes": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          }
        }
      },
      "ConvertResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "query": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string"
              },
              "to": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              }
            }
          },
          "info": {
            "type": "object",
            "properties": {
              "timestamp": {
                "type": "integer"
              },
              "quote": {
                "type": "number"
              }
            }
          },
          "result": {
            "type": "number",
            "description": "Converted amount"
          }
        }
      },
      "TimeframeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "timeframe": {
            "type": "boolean"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "source": {
            "type": "string"
          },
          "quotes": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "number"
              }
            },
            "description": "Rates keyed by date, then by currency pair"
          }
        }
      },
      "ChangeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "change": {
            "type": "boolean"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "source": {
            "type": "string"
          },
          "quotes": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "start_rate": {
                  "type": "number"
                },
                "end_rate": {
                  "type": "number"
                },
                "change": {
                  "type": "number"
                },
                "change_pct": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "CurrencyListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "currencies": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Currency codes mapped to full names"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Error code"
              },
              "type": {
                "type": "string",
                "description": "Error type"
              },
              "info": {
                "type": "string",
                "description": "Error description"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "access_key",
        "in": "query",
        "description": "API access key passed as query parameter"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}
