{
  "openapi": "3.0.3",
  "info": {
    "title": "Hirak Exchange Rates API",
    "description": "Hirak Exchange Rates API provides current and historical foreign exchange rates and cryptocurrency exchange rates. The API supports conversion between currencies and retrieval of available currency symbols. Note: This API may no longer be available as the original domain (rates.hirak.site) appears to be defunct.",
    "version": "1.0.0",
    "contact": {
      "name": "Hirak",
      "url": "https://rates.hirak.site/"
    }
  },
  "servers": [
    {
      "url": "https://hirak-exchange-rates.p.rapidapi.com",
      "description": "Hirak Exchange Rates via RapidAPI"
    },
    {
      "url": "https://rates.hirak.site",
      "description": "Original Hirak Exchange Rates API (may be defunct)"
    }
  ],
  "security": [
    {
      "RapidAPIKey": [],
      "RapidAPIHost": []
    }
  ],
  "paths": {
    "/latest": {
      "get": {
        "summary": "Get Latest Rates",
        "description": "Returns the latest exchange rates for the specified base currency against all available currencies or a specified set of target currencies.",
        "operationId": "getLatestRates",
        "tags": ["Rates"],
        "parameters": [
          {
            "name": "base",
            "in": "query",
            "description": "Base currency code (e.g., USD, EUR, BTC)",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "Comma-separated list of target currency codes to filter results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest exchange rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeRateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          }
        }
      }
    },
    "/historical": {
      "get": {
        "summary": "Get Historical Rates",
        "description": "Returns exchange rates for a specific historical date.",
        "operationId": "getHistoricalRates",
        "tags": ["Rates"],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Historical date in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "base",
            "in": "query",
            "description": "Base currency code",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "Comma-separated list of target currency codes",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical exchange rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeRateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid date or parameters"
          }
        }
      }
    },
    "/convert": {
      "get": {
        "summary": "Convert Currency",
        "description": "Converts an amount from one currency to another using the latest exchange rate.",
        "operationId": "convertCurrency",
        "tags": ["Conversion"],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Source currency code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "Target currency code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "Amount to convert",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Optional date for historical conversion (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          }
        }
      }
    },
    "/symbols": {
      "get": {
        "summary": "List Symbols",
        "description": "Returns all available currency symbols and their full names.",
        "operationId": "getSymbols",
        "tags": ["Symbols"],
        "responses": {
          "200": {
            "description": "Available currency symbols",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SymbolsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/timeseries": {
      "get": {
        "summary": "Get Time Series",
        "description": "Returns exchange rate data for a date range.",
        "operationId": "getTimeSeries",
        "tags": ["Rates"],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "base",
            "in": "query",
            "description": "Base currency code",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "Comma-separated list of target currency codes",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Time series exchange rate data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          }
        }
      }
    },
    "/fluctuation": {
      "get": {
        "summary": "Get Rate Fluctuation",
        "description": "Returns exchange rate fluctuation data between two dates.",
        "operationId": "getFluctuation",
        "tags": ["Rates"],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "base",
            "in": "query",
            "description": "Base currency code",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "Comma-separated list of target currency codes",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fluctuation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FluctuationResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "RapidAPIKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-RapidAPI-Key",
        "description": "RapidAPI subscription key"
      },
      "RapidAPIHost": {
        "type": "apiKey",
        "in": "header",
        "name": "X-RapidAPI-Host",
        "description": "RapidAPI host header (hirak-exchange-rates.p.rapidapi.com)"
      }
    },
    "schemas": {
      "ExchangeRateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "base": {
            "type": "string",
            "description": "Base currency code"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "double"
            },
            "description": "Map of currency codes to exchange rates"
          }
        }
      },
      "ConversionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "query": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string"
              },
              "to": {
                "type": "string"
              },
              "amount": {
                "type": "number",
                "format": "double"
              }
            }
          },
          "info": {
            "type": "object",
            "properties": {
              "rate": {
                "type": "number",
                "format": "double"
              },
              "timestamp": {
                "type": "integer"
              }
            }
          },
          "result": {
            "type": "number",
            "format": "double"
          },
          "date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "SymbolsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "symbols": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "TimeSeriesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "timeseries": {
            "type": "boolean"
          },
          "base": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "number",
                "format": "double"
              }
            },
            "description": "Map of dates to currency rate maps"
          }
        }
      },
      "FluctuationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "fluctuation": {
            "type": "boolean"
          },
          "base": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "start_rate": {
                  "type": "number",
                  "format": "double"
                },
                "end_rate": {
                  "type": "number",
                  "format": "double"
                },
                "change": {
                  "type": "number",
                  "format": "double"
                },
                "change_pct": {
                  "type": "number",
                  "format": "double"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {"name": "Rates", "description": "Exchange rate data endpoints"},
    {"name": "Conversion", "description": "Currency conversion endpoints"},
    {"name": "Symbols", "description": "Available currency symbols"}
  ]
}
