{
  "openapi": "3.0.3",
  "info": {
    "title": "US Extract API",
    "description": "The US Extract API extracts, validates, and standardizes addresses from unstructured text. It can process text containing one or more addresses and return structured, USPS-standardized address data.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.smarty.com/products/apis/us-extract-api",
    "contact": {
      "name": "Smarty Support",
      "url": "https://www.smarty.com/contact",
      "email": "support@smarty.com"
    }
  },
  "servers": [
    {
      "url": "https://us-extract.api.smarty.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Extract",
      "description": "Address extraction operations"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "extractAddresses",
        "summary": "Extract addresses from text",
        "description": "Extracts and validates US addresses from unstructured text",
        "tags": ["Extract"],
        "parameters": [
          {
            "name": "aggressive",
            "in": "query",
            "required": false,
            "description": "Enable aggressive address extraction mode",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "addr_line_breaks",
            "in": "query",
            "required": false,
            "description": "Enable address line break detection",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "addr_per_line",
            "in": "query",
            "required": false,
            "description": "Treat each line as a separate address",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "description": "The text containing addresses to extract",
                "example": "Please send the package to 123 Main St, New York NY 10001 and also to 456 Oak Ave, Los Angeles CA 90210"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful extraction response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required - subscription limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "auth-id",
        "description": "API key authentication using auth-id and auth-token parameters"
      }
    },
    "schemas": {
      "ExtractResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "lines": {
                "type": "integer",
                "description": "Number of lines in the input text"
              },
              "unicode": {
                "type": "boolean",
                "description": "Whether the input contained unicode characters"
              },
              "address_count": {
                "type": "integer",
                "description": "Number of addresses found"
              },
              "verified_count": {
                "type": "integer",
                "description": "Number of addresses successfully verified"
              },
              "bytes": {
                "type": "integer",
                "description": "Size of input text in bytes"
              },
              "character_count": {
                "type": "integer",
                "description": "Number of characters in input text"
              }
            }
          },
          "addresses": {
            "type": "array",
            "description": "List of extracted and validated addresses",
            "items": {
              "$ref": "#/components/schemas/ExtractedAddress"
            }
          }
        }
      },
      "ExtractedAddress": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "The original text that was extracted"
          },
          "verified": {
            "type": "boolean",
            "description": "Whether the address was successfully verified"
          },
          "line": {
            "type": "integer",
            "description": "Line number where the address was found"
          },
          "start": {
            "type": "integer",
            "description": "Character position where address starts"
          },
          "end": {
            "type": "integer",
            "description": "Character position where address ends"
          },
          "api_output": {
            "type": "array",
            "description": "Validated address details",
            "items": {
              "$ref": "#/components/schemas/ValidatedAddress"
            }
          }
        }
      },
      "ValidatedAddress": {
        "type": "object",
        "properties": {
          "delivery_line_1": {
            "type": "string",
            "description": "First delivery line"
          },
          "last_line": {
            "type": "string",
            "description": "City, state, and ZIP"
          },
          "components": {
            "type": "object",
            "properties": {
              "primary_number": {
                "type": "string"
              },
              "street_name": {
                "type": "string"
              },
              "street_suffix": {
                "type": "string"
              },
              "city_name": {
                "type": "string"
              },
              "state_abbreviation": {
                "type": "string"
              },
              "zipcode": {
                "type": "string"
              },
              "plus4_code": {
                "type": "string"
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "record_type": {
                "type": "string"
              },
              "county_name": {
                "type": "string"
              },
              "rdi": {
                "type": "string"
              },
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message"
                },
                "code": {
                  "type": "string",
                  "description": "Error code"
                }
              }
            }
          }
        }
      }
    }
  }
}